<template >

  <v-tabs color="transparent" v-model="selectedTab" @change="tabChange" icons-and-text>
    <v-tabs-slider color="primary"></v-tabs-slider>
    <v-tab key="tab1">
      Application Form
      <v-icon>group_work</v-icon>
    </v-tab>
    <v-tab key="tab2">
      Security Access
      <v-icon>security</v-icon>
    </v-tab>
    <v-tab key="tab3">
      Search Form
      <v-icon>security</v-icon>
    </v-tab>
    <v-tabs-items>
      <v-tab-item key="tab1">

        <application-form-view ref="refApplicationFormView"></application-form-view>

      </v-tab-item>
      <v-tab-item key="tab2">

        <security-form ref="refitemSecurityForm"></security-form>

      </v-tab-item>
      <v-tab-item key="tab3">

        <search-from-view ref="refSearchForm"></search-from-view>

      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
</template>

<script>
  import ApplicationFormView from '@/pages/itemClassificationForm/ApplicationForm/ApplicationFormView';
  import SecurityForm from '@/pages/itemClassificationForm/ApplicationForm/itemSecuritySetting';
  import SearchFromView from '@/pages/itemClassificationForm/ApplicationForm/SearchFromView';
  export default {
    components: {
      ApplicationFormView,
      SecurityForm,
      SearchFromView,
    },
    data: () => ({
      height: {
        type: String,
        default: null,
      },
      selectedTab: 0,
      actionButton: true,
      scrollSettings: {
        maxScrollbarLength: 140
      },
      editedItem: [],

    }),

    computed: {
      computeHeight () {
        return {
          height: this.height || ''
        };
      },

    },
    created () {


    },
    beforeDestroy () {

    },
    methods: {
      tabChange (tab) {
        if (tab == 1) {

        }

      }
    }
  };
</script>

 <style lang="stylus" scoped>
   .chat-room--scroll {
     height: calc(100vh - 206px);
   }
</style>