<template>
  <div id="page-forms">
    <v-flex xs12 v-if="formdata.formID <= 0 ">
      <h4>Save Application Form to add Search Form.</h4>
    </v-flex>
    <v-form v-if="formdata.formID> 0 " v-model="formdata.valid" ref="validateform" lazy-validation>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" outline @click="saveItems">save</v-btn>
      </v-card-actions>
      <!-- <vue-perfect-scrollbar class="applicationFormSearch--scrollbar"> -->

      <v-data-table
        v-model="selected"
        :loading="loading"
        :headers="headers"
        :items="gridItems"
        :search="search"
        select-all
        class="elevation-1"
        item-key="uniqueId"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
      >
        <template slot="items" slot-scope="props">
          <td>
            <v-checkbox v-model="props.selected" primary hide-details></v-checkbox>
          </td>
          <td class="text-xs-left">{{ props.item.tableName }}</td>
          <td class="text-xs-left">{{ props.item.columnName }}</td>
          <td class="text-xs-left">
            <v-edit-dialog :return-value.sync="props.item.displayName" large lazy persistent>
              <div>{{ props.item.displayName }}</div>
              <template slot="input">
                <div class="mt-3 title">Display Name</div>
              </template>
              <template slot="input">
                <v-text-field
                  v-model="props.item.displayName"
                  label="Display Name"
                  single-line
                  autofocus
                ></v-text-field>
              </template>
            </v-edit-dialog>
          </td>
          <td>
            <v-checkbox v-model="props.item.isReadOnly" primary></v-checkbox>
          </td>
          <td>
            <v-checkbox v-model="props.item.isVisible" primary></v-checkbox>
          </td>
        </template>
      </v-data-table>
      <!-- </vue-perfect-scrollbar> -->
    </v-form>
  </div>
</template>
          
          <script>
  import GlobalMessage from "@/constant";
  import {
    getApplicationFormSearch,
    createApplicationFormSearch
  } from "@/api/ApplicationForm";

  export default {
    data: () => ({
      scrollSync: {
        top: 0,
        left: 0
      },
      loading: false,
      gridItems: [],
      tableItems: [],
      search: "",
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchItem: {
        applicationFormSearchList: []
      },
      pagination: {
        rowsPerPage: 50
      },
      selected: [],
      headers: [
        { text: "Table Name", value: "tableName", align: "left" },
        { text: "Colunm Name", value: "columnName", align: "left" },
        { text: "Label Name", value: "displayName", align: "left" },
        {
          text: "Is Readonly",
          sortable: false,
          value: "isReadOnly",
          align: "left"
        },
        { text: "Is Visible", sortable: false, value: "isVisible", align: "left" }
      ],
      formdata: {
        valid: false,
        formID: -1
      }
    }),
    created() {
      window.getApp.$on('ITEMLOAD', formID => {
     
      this.formdata.formID = formID;
      this.getApplicationSearchForm();
     });
    },
    methods: {
      saveItems() {
        this.searchItem.applicationFormSearchList = this.selected;
        createApplicationFormSearch(this.searchItem)
          .then(response => {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            this.getApplicationSearchForm();
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      toggleAll() {
        if (this.selected.length) this.selected = [];
        else this.selected = this.gridItems.slice();
      },
      getApplicationSearchForm() {
        this.loading = true;
        getApplicationFormSearch(
          this.formdata.formID,
          this.$store.state.auth.userId
        )
          .then(response => {
            this.gridItems = response.data;
            this.loading = false;
            this.selected = [];
            if (response.data.length > 0) {
              var items = response.data.filter(
                s => s.applicationSearchFormId != 0
              );
              if (items.length > 0) {
                this.selected = items;
              }
            }
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  };
</script>
<style lang="stylus" scoped>
  .theme--dark .v-menu__content {
    background-color: #424242;
  }

  .theme--light .v-menu__content {
    background-color: #ffffff;
  }

  .applicationFormSearch--scrollbar {
    height: calc(100vh - 60px);
  }
</style>
         