<template>
    <div>
        <template>
            <v-layout row>
                <v-flex d-flex xs8 sm8></v-flex>
                <v-flex d-flex xs4 sm4>
                    <v-text-field v-model="noticeSearch" label="Search" append-outer-icon="search" @change="noticeSearchItem"></v-text-field>

                </v-flex>
            </v-layout>
            <v-layout row>
                <v-flex xs12 sm12>
                    <v-flex style="height: 450px;overflow: scroll;">
                        <v-flex d-flex>
                            <v-layout row wrap>
                                <v-flex v-for="(item, i) in noticeItems" :key="i" d-flex xs12>
                                    <table style="padding: 10px">
                                        <tr>
                                            <th style="text-align: left">
                                                {{ item.addedDate | formatDate }}
                                            </th>
                                        </tr>
                                         <tr>
                                            <th style="text-align: left">
                                                {{ item.moduleName }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td v-if="item.link != ''" style="text-align: left">
                                                <a @click="linkOpen(item.link)">{{ item.name }}</a>
                                            </td>
                                            <td v-if="item.link == ''" style="text-align: left">
                                                {{ item.name }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left">{{ item.description }}</td>
                                        </tr>
                                        <tr>
                                            <td style="border-bottom: 1px dotted"></td>
                                        </tr>
                                    </table>
                                </v-flex>
                                <v-flex d-flex xs12 v-if="noticeItems.length==0">
                                    <span>No Records Found.</span>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-flex>

                </v-flex>
            </v-layout>
        </template>
    </div>
</template>
<script>
    import moment from "moment";
    import GlobalMessage from "@/constant";
    import { getNoticesLineByType } from "@/api/noticeLine";
    export default {
        props: ["props"],
        data: () => ({
            noticeItems: [],
            typeId: 0,
            noticeSearch: "",
        }),
        created () {
            if (this.props != undefined) {
                this.typeId = this.props.applicationMasterDetailId;
                this.initialize();
            }
        },
        methods: {
            linkOpen (url) {
                let userCode=this.$store.state.auth.userCode;
                if (url != null && url.length > 0) {
                    let urls=url.replace("{0}", userCode);
                   window.open(urls, '_blank');
                }
            },
            noticeSearchItem () {
                this.initialize();
            },
            initialize () {
                let editedItem = {};
                editedItem.noticeId = -1;
                editedItem.addedByUserID = this.$store.state.auth.userId;
                editedItem.addedDate = new Date();
                editedItem.typeId = this.typeId;
                editedItem.name = this.noticeSearch;
                editedItem.statusCodeID = 1;
                getNoticesLineByType(editedItem)
                    .then((response) => {
                        this.noticeItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
        }
    }
</script>

