<template>
    <div>
        <template>
            <v-layout row>
                <v-flex d-flex xs8 sm8></v-flex>
                <v-flex d-flex xs4 sm4>
                    <v-text-field v-model="noticeSearch" label="Search" append-outer-icon="search" @change="noticeSearchItem"></v-text-field>

                </v-flex>
            </v-layout>
            <v-layout row>
                <v-flex xs12 sm12>
                    <v-data-table :headers="headers" :items="noticeItems" class="elevation-1" default-sort="teamMasterID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.typeName }}</td>
                            <td class="text-xs-left">{{ props.item.companyName }}</td>
                            <td class="text-xs-left">{{ props.item.name }}</td>
                            <td class="text-xs-left">{{ props.item.description }}</td>
                            <td class="text-xs-left">
                                <v-icon small class="mr-2" @click="linkOpen(props.item.link)">
                                    visibility
                                </v-icon>
                            </td>
                            <td class="text-xs-left">
                                <v-icon small class="mr-2" @click="linkOpen(props.item.wilink)">
                                    visibility
                                </v-icon>
                            </td>
                        </template>
                        <template slot="no-data">
                            <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
                        </template>
                    </v-data-table>
                </v-flex>

                </v-flex>
            </v-layout>
        </template>
    </div>
</template>
<script>
    import moment from "moment";
    import GlobalMessage from "@/constant";
    import { getNoticeSearch } from "@/api/notice";
    export default {
        data: () => ({
            noticeItems: [],
            moduleId: 0,
            noticeSearch: "",
            headers: [
                { text: 'Type', value: 'typeName', align: 'left' },
                { text: 'Company', value: 'companyName', align: 'left' },
                { text: 'Name', value: 'name', align: 'left' },
                { text: 'Description', value: 'description', align: 'left' },
                { text: 'Link', value: 'link', align: 'left' },
                { text: 'WI Link', value: 'wilink', align: 'left' },
            ],
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            editedItem: {
                valid: false,
                noticeId: -1,
                name: "",
                link: "",
                wilink:"",
                description: "",
                addedByUserID: null,
                addedDate: new Date(),
                statusCodeID: 1,
                isLogin: false,
                modifiedByUserID: null,
                modifiedDate: new Date(),
                moduleId: null,
            },
        }),
        created () {
        },
        methods: {
            linkOpen (url) {
                let userCode = this.$store.state.auth.userCode;
                if (url != null && url.length > 0) {
                    let urls = url.replace("{0}", userCode);
                    window.open(urls, '_blank');
                }
            },
            noticeSearchItem () {
                this.initialize();
            },
            initialize () {
                this.editedItem.addedByUserID = this.$store.state.auth.userId;
                this.editedItem.moduleId = this.moduleId;
                this.editedItem.name = this.noticeSearch;
                getNoticeSearch(this.editedItem)
                    .then((response) => {
                        this.noticeItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
        }
    }
</script>

