<template>
  <div>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-left">
        <p>{{$t('message.formName')}}</p>
      </div>

      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn outlined slot="activator" @click="scannerClick">Scan SW ID/V.Pass</v-btn>
        <span>close</span>
      </v-tooltip>
    </v-app-bar>
    <v-card class="mx-auto" max-width="1000" outlined style="margin-top: 12px;margin-bottom: 12px;">
      <div>
        <v-card-text>
          <v-form ref="form" v-model="valid">
            <v-container fluid>
              <v-row>
                <v-flex xs12 sm12>
                  <div style="font-family: 'Google Sans',Roboto,Arial,sans-serif;font-size: 32px;font-weight: 400;line-height: 40px;color: #202124;line-height: 135%;max-width: 100%;min-width: 0%;">{{$t('message.formName')}}</div>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-text-field prepend-icon="mdi-note" v-model="editedItem.dateAndTime" :label="$t('message.dateandTime')" required readonly></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-text-field prepend-icon="mdi-map-marker" v-model="editedItem.location" :rules="[v => !!v || 'Location is required']" :label="$t('message.location')" required readonly></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 style="margin-top: 15px;">
                  <v-autocomplete prepend-icon="mdi-note" v-model="editedItem.language" :items="languageItems" :rules="[v => !!v || 'Language is required']" :label="$t('message.language')" item-text="codeValue" item-value="codeID" dense chips required @change="changeLanguage"></v-autocomplete>
                </v-flex>

                <v-flex xs12 sm12>
                  <p>{{$t('message.sunwardStaff')}}</p>
                  <v-radio-group row v-model="editedItem.isSwstaffFlag" :rules="[v => !!v || 'This is required']" @change="onChangeisStaff">
                    <v-radio :label="$t('message.sunwardStaffYes')" value="Yes"></v-radio>
                    <v-radio :label="$t('message.sunwardStaffNo')" value="No"></v-radio>
                    <v-radio :label="$t('message.interCompany')" value="interCompany"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 sm12 v-if="isSWStaffFlagYes" style="margin-top: 15px;">
                  <v-autocomplete prepend-icon="mdi-note" v-model="editedItem.employeeId" :items="employeeItems" :rules="[v => !!v || 'Employee is required']" :label="$t('message.employeeName')" item-text="firstName" item-value="employeeID" dense chips required @change="onChangeEmployee" :loading="loader"></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12 v-if="isSWStaffFlagNo">
                  <v-text-field prepend-icon="mdi-note" v-model="editedItem.employeeName" :rules="[v => !!v || 'Name is required']" :label="$t('message.employeeName')" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 v-if="isSWStaffFlagNo">
                  <v-text-field prepend-icon="mdi-note" v-model="editedItem.contactNo" :rules="[v => !!v || 'Contact No is required']" :label="$t('message.contactNo')" required @keyup="onlyMobileNumber"></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 v-if="isSWStaffFlagNo" style="margin-top: 15px;">
                  <v-autocomplete prepend-icon="mdi-note" v-model="editedItem.visitingPurpose" :items="visitingPurposeItems" :rules="[v => !!v || 'Visiting Purpose is required']" :label="$t('message.visitingPurpose')" item-text="codeValue" item-value="codeID" dense chips required @change="onChangePurpose"></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12 v-if="privateFlag" style="margin-top: 15px;">
                  <v-autocomplete prepend-icon="mdi-note" v-model="editedItem.personToSeeIds" :items="employeeItems" :rules="personToSeeRules" :label="$t('message.personToSee')" item-text="lastName" item-value="employeeID" dense chips required multiple :search-input.sync="searchpersontosee" @change="selectpersontosee">
                    <template v-slot:selection="data">
                      <v-chip :v-bind="data.attrs" :input-value="data.selected" close @click="data.select" @click:close="removepersontosee(data.item)">{{ data.item.lastName }}</v-chip>
                    </template>
                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content v-text="data.item"></v-list-item-content>
                      </template>
                      <template v-else>
                        <v-list-item-content>
                          <v-list-item-title v-html="data.item.lastName"></v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12 v-if="privateFlag" style="margin-top: 15px;">
                  <v-text-field prepend-icon="mdi-note" v-model="editedItem.purposeOfVisit" :rules="[v => !!v || 'Purpose of visit  is required']" :label="$t('message.puposeOfVisit')" required></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 v-if="companyrelatedFlag" style="margin-top: 15px;">
                  <v-autocomplete prepend-icon="mdi-note" v-model="editedItem.companyId" :items="companyItems" :rules="[v => !!v || 'Company is required']" :label="$t('message.company')" item-text="companyListingName" item-value="companyListingID" dense chips required @change="onCompanyChange"></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12 v-if="notinFlag" style="margin-top: 15px;">
                  <v-text-field prepend-icon="mdi-note" v-model="editedItem.nameOfCompany" :rules="[v => !!v || 'Name of the Company is required']" :label="$t('message.nameOfCompany')" required></v-text-field>
                </v-flex>

                <v-flex xs12 sm12 v-if="flagincompany" style="margin-top: 15px;">
                  <v-autocomplete prepend-icon="mdi-note" v-model="editedItem.companyRelatedpersonToSeeIds" :items="personseeItems" :rules="companypersonToSeeRules" :label="$t('message.personToSee')" item-text="lastName" item-value="employeeID" dense chips required multiple :search-input.sync="companysearchpersontosee" @change="selectcompanypersontosee">
                    <template v-slot:selection="data">
                      <v-chip :v-bind="data.attrs" :input-value="data.selected" close @click="data.select" @click:close="removecompanyRelatedpersontosee(data.item)">{{ data.item.lastName }}</v-chip>
                    </template>
                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content v-text="data.item"></v-list-item-content>
                      </template>
                      <template v-else>
                        <v-list-item-content>
                          <v-list-item-title v-html="data.item.lastName"></v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12 v-if="flagincompany" style="margin-top: 15px;">
                  <v-text-field prepend-icon="mdi-note" v-model="editedItem.companyRelatedpurposeOfVisit" :label="$t('message.puposeOfVisit')" required></v-text-field>
                </v-flex>
                <!--  <v-flex xs12 sm4>
                                <v-file-input multiple v-model="editedItem.files" label="Upload Photo" @change="onAddFiles"></v-file-input>

                </v-flex>-->
                <v-flex xs12 sm12>
                  <b style="font-size: 20px;">
                    <p v-html="$t('message.questionnaire')"></p>
                  </b>
                </v-flex>
                <v-flex xs12 sm12>
                  <ol type="A">
                    <li>
                      <span style="text-align: justify;font-size: 16px;" v-html="$t('message.symptoms')"></span>
                    </li>
                  </ol>
                </v-flex>
                <!--  <v-flex xs12 sm12>
                                <v-checkbox v-model="editedItem.noForAllAbove" label="No for all the above" @change="noforallAboveClick"></v-checkbox>
                </v-flex>-->
                <v-row style="background-color: #D3D3D3;">
                  <v-flex xs12 sm4 style="margin-top: 10px;" v-if="highFeverShow">
                    <span style="margin-left: 15px;">i. {{$t('message.highFever')}}</span>
                    <v-radio-group row v-model="editedItem.hignFeverFlag" @change="noforallAboveallClick('highFever')" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4 style="margin-top: 10px;" v-if="mildFeverShow">
                    <span style="margin-left: 15px;">ii. {{$t('message.mildFever')}}</span>
                    <v-radio-group row v-model="editedItem.mildFeverFlag" @change="noforallAboveallClick('mildFever')" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4 style="margin-top: 10px;">
                    <span style="margin-left: 15px;">iii. {{$t('message.coughing')}}</span>
                    <v-radio-group row v-model="editedItem.coughingFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">iv. {{$t('message.soreThroat')}}</span>
                    <v-radio-group row v-model="editedItem.soreThroatFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">v. {{$t('message.muscleJointpain')}}</span>
                    <v-radio-group row v-model="editedItem.muscleJointPainFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">vi. {{$t('message.headache')}}</span>
                    <v-radio-group row v-model="editedItem.headacheFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">vii. {{$t('message.shortnessofbreath')}}</span>
                    <v-radio-group row v-model="editedItem.shortnessOfBreadFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">viii. {{$t('message.diarrhea')}}</span>
                    <v-radio-group row v-model="editedItem.diarrheaFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xi. {{$t('message.lossofvoice')}}</span>
                    <v-radio-group row v-model="editedItem.lossOfVoiceFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">x. {{$t('message.phlegm')}}</span>
                    <v-radio-group row v-model="editedItem.phlegmFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <!-- <v-flex xs12 sm4>
                            x. Flu
                            <v-radio-group row v-model="editedItem.fluFlag">
                                <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                                <v-radio :label="$t('message.no')" value="No"></v-radio>
                            </v-radio-group>
                  </v-flex>-->
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xi. {{$t('message.nauseaVomiting')}}</span>
                    <v-radio-group row v-model="editedItem.nauseaVomitingFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xii. {{$t('message.sneezing')}}</span>
                    <v-radio-group row v-model="editedItem.sneezingFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xiii. {{$t('message.fatigue')}}</span>
                    <v-radio-group row v-model="editedItem.fatigueFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xiv. {{$t('message.conjunctivitis')}}</span>
                    <v-radio-group row v-model="editedItem.conjunctivitsFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xv. {{$t('message.lossOfTasteSmell')}}</span>
                    <v-radio-group row v-model="editedItem.lossOfTasteSmellFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xvi. {{$t('message.lossOfAppetite')}}</span>
                    <v-radio-group row v-model="editedItem.lossOfApetiteFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xvii. {{$t('message.runnyStuffyNose')}}</span>
                    <v-radio-group row v-model="editedItem.runnyStuffyNoseFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <span style="margin-left: 15px;">xviii. {{$t('message.chills')}}</span>
                    <v-radio-group row v-model="editedItem.chillsFlag" @change="noforallAboveallClick" style="margin-left: 30px;" :rules="[v => !!v || 'This is required']">
                      <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                      <v-radio :label="$t('message.no')" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                </v-row>
                <v-flex xs12 sm8></v-flex>
                <v-flex xs12 sm12>
                  <ol type="A" start="2">
                    <li>
                      <p style="text-align: justify;font-size: 16px;" v-html="$t('message.gathering')"></p>
                    </li>
                  </ol>
                </v-flex>
                <v-flex xs12 sm3 style="margin-left: 20px;">
                  <v-radio-group row v-model="editedItem.gatheringFlag" @change="onChangegathering" :rules="[v => !!v || 'This is required']">
                    <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                    <v-radio :label="$t('message.no')" value="No"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 sm9 v-if="gatheringDetailsFlag">
                  <v-textarea prepend-icon="mdi-note" v-model="editedItem.gatheringDetails" outlined :label="$t('message.details')" :rules="[v => (v || '' ).length <= 200 || 'Description must be 200 characters or less']"></v-textarea>
                </v-flex>

                <v-flex xs12 sm12>
                  <ol type="A" start="3">
                    <li>
                      <p style="text-align: justify;font-size: 16px;" v-html="$t('message.travelling')"></p>
                    </li>
                  </ol>
                </v-flex>
                <v-flex xs12 sm3 style="margin-left: 20px;">
                  <v-radio-group row v-model="editedItem.travellingCountryFlag" @change="onChangetravellingCountry" :rules="[v => !!v || 'This is required']">
                    <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                    <v-radio :label="$t('message.no')" value="No"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 sm9 v-if="travellingCountryDetailsFlag">
                  <v-textarea prepend-icon="mdi-note" v-model="editedItem.travellingCountryDetails" outlined :label="$t('message.details')" :rules="[v => (v || '' ).length <= 200 || 'Description must be 200 characters or less']"></v-textarea>
                </v-flex>

                <v-flex xs12 sm12>
                  <ol type="A" start="4">
                    <li>
                      <p style="text-align: justify;font-size: 16px;" v-html="$t('message.contact')"></p>
                    </li>
                  </ol>
                </v-flex>
                <v-flex xs12 sm3 style="margin-left: 20px;">
                  <v-radio-group row v-model="editedItem.contactPatientsFlag" @change="onChangecontactPatients" :rules="[v => !!v || 'This is required']">
                    <v-radio :label="$t('message.yes')" value="Yes"></v-radio>
                    <v-radio :label="$t('message.no')" value="No"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 sm9 v-if="contactPatientsFlagDetailsFlag">
                  <v-textarea prepend-icon="mdi-note" v-model="editedItem.contactPatientsDetails" outlined :label="$t('message.details')" :rules="[v => (v || '' ).length <= 200 || 'Description must be 200 characters or less']"></v-textarea>
                </v-flex>
              </v-row>
              <v-row>
                <v-flex xs12 sm12>
                  <v-text-field prepend-icon="mdi-note" v-model="editedItem.temperature" :rules="[v => !!v || 'This is required']" :label="$t('message.temperature')" @keyup="onlyTemperature"></v-text-field>
                </v-flex>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
      </div>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" slot="activator" @click.native="validate" :loading="loading">Submit</v-btn>
      </v-card-actions>
    </v-card>
    <!--  <v-btn color="success" class="mr-4" @click="validate">
            Submit
    </v-btn>-->
    <v-snackbar top="top" color="success" :timeout="timeout" v-model="snackbar">{{ text }}</v-snackbar>
    <v-dialog persistent v-model="dialog" max-width="540px" max-height="480px">
      <v-card>
        <v-toolbar dark color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="dialog = false;showCamaFlag=false;">
              <v-icon color="white">mdi-reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-toolbar-title>Scan ID</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="dialog = false;showCamaFlag=false;">
              <v-icon color="white">mdi-close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title class="headline"></v-card-title>

        <v-card-text v-if="showCamaFlag">
          <div style="overflow: auto;height: calc(100vh - 155px - 60px);">
            <vue-qr-reader ref="qr" v-on:code-scanned="codeScanned" stop-on-scanned="true" use-back-camera="true" draw-on-found="true" line-color="#00FF00" line-width="20" video-height="480" video-width="640" responsive="true"></vue-qr-reader>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="checkIndialog" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">Are you sure?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="checkInOut(1)">Check In</v-btn>
          <v-btn color="green darken-1" text @click="checkInOut(2)">Check Out</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import moment from "moment";
  import VueQrReader from "vue-qr-reader/dist/lib/vue-qr-reader.umd.js";
  import {
    getEmployees,
    getCompanyListings,
    createHumanMovement,
    updateHumanMovement,
    getLocationCompany,
    getHumanMovementSearchBySession,
  } from "@/api/movement";
  import { setTimeout } from 'timers';
  export default {
    components: {
      VueQrReader,
    },
    data: () => ({
      checkIndialog: false,
      highFeverShow: true,
      mildFeverShow: true,
      loading: false,
      scanned: "",
      valid: true,
      snackbar: false,
      dialog: false,
      timeout: 2000,
      showCamaFlag: false,
      isScanner: true,
      text: "Human Movement Saved Succesfully",
      companyName: "",
      loader: false,
      isSWStaffFlagContactNo: false,
      editedItem: {
        humanMovementId: -1,
        dateAndTime: "",
        location: "",
        isSwstaffFlag: "",
        employeeId: null,
        language: "English",
        employeeName: "",
        contactNo: "",
        visitingPurpose: null,
        personToSeeIds: [],
        purposeOfVisit: "",
        companyId: null,
        nameOfCompany: "",
        companyRelatedpersonToSeeIds: [],
        companyRelatedpurposeOfVisit: "",
        files: null,
        hignFeverFlag: "",
        mildFeverFlag: "",
        coughingFlag: "",
        soreThroatFlag: "",
        muscleJointPainFlag: "",
        headacheFlag: "",
        shortnessOfBreadFlag: "",
        diarrheaFlag: "",
        lossOfVoiceFlag: "",
        phlegmFlag: "",
        fluFlag: "",
        gatheringFlag: "",
        gatheringDetails: "",
        travellingCountryFlag: "",
        travellingCountryDetails: "",
        contactPatientsFlag: "",
        contactPatientsDetails: "",
        temperature: "",
        sessionId: null,
        nauseaVomitingFlag: "",
        sneezingFlag: "",
        fatigueFlag: "",
        conjunctivitsFlag: "",
        lossOfTasteSmellFlag: "",
        lossOfApetiteFlag: "",
        runnyStuffyNoseFlag: "",
        chillsFlag: "",
        noForAllAbove: false,
        movementStatusId: 1731,
      },
      defaultItem: {
        humanMovementId: -1,
        dateAndTime: "",
        //location: '',
        isSwstaffFlag: "",
        employeeId: null,
        language: "English",
        employeeName: "",
        contactNo: "",
        visitingPurpose: null,
        personToSeeIds: [],
        purposeOfVisit: "",
        companyId: null,
        nameOfCompany: "",
        companyRelatedpersonToSeeIds: [],
        companyRelatedpurposeOfVisit: "",
        files: null,
        hignFeverFlag: "",
        mildFeverFlag: "",
        coughingFlag: "",
        soreThroatFlag: "",
        muscleJointPainFlag: "",
        headacheFlag: "",
        shortnessOfBreadFlag: "",
        diarrheaFlag: "",
        lossOfVoiceFlag: "",
        phlegmFlag: "",
        fluFlag: "",
        gatheringFlag: "",
        gatheringDetails: "",
        travellingCountryFlag: "",
        travellingCountryDetails: "",
        contactPatientsFlag: "",
        contactPatientsDetails: "",
        temperature: "",
        sessionId: null,
        nauseaVomitingFlag: "",
        sneezingFlag: "",
        fatigueFlag: "",
        conjunctivitsFlag: "",
        lossOfTasteSmellFlag: "",
        lossOfApetiteFlag: "",
        runnyStuffyNoseFlag: "",
        chillsFlag: "",
        noForAllAbove: false,
        movementStatusId: 1731,
      },
      searchpersontosee: "",
      companysearchpersontosee: "",
      isSWStaffFlagYes: false,
      isSWStaffFlagNo: false,
      privateFlag: false,
      companyrelatedFlag: false,
      notinFlag: false,
      flagincompany: false,
      gatheringDetailsFlag: false,
      travellingCountryDetailsFlag: false,
      contactPatientsFlagDetailsFlag: false,
      languageItems: [
        { codeValue: "English", codeID: "English" },
        { codeValue: "Malay", codeID: "Malay" },
        { codeValue: "Chinese", codeID: "Chinese" },
      ],
      employeeItems: [],
      personseeItems: [],
      visitingPurposeItems: [],
      visitingPurposeEnglishItems: [
        { codeValue: "Private", codeID: "Private" },
        { codeValue: "Company related", codeID: "Company related" },
      ],
      visitingPurposeMalaItems: [
        { codeValue: "Peribadi", codeID: "Private" },
        { codeValue: "Syarikat berkaitan", codeID: "Company related" },
      ],
      visitingPurposeChineseItems: [
        { codeValue: "私人事务", codeID: "Private" },
        { codeValue: "公司事务", codeID: "Company related" },
      ],
      companyItems: [],
      uploadedAttachment: new FormData(),
      searchItems: { id: -1, searchString: "" },
    }),
    computed: {
      personToSeeRules () {
        return [
          () =>
            !!this.editedItem.personToSeeIds.length > 0 ||
            "Atleast one  to must be selected.",
          (v) => !!v || "This is required field",
        ];
      },
      companypersonToSeeRules () {
        return [
          () =>
            !!this.editedItem.companyRelatedpersonToSeeIds.length > 0 ||
            "Atleast one  to must be selected.",
          (v) => !!v || "This is required field",
        ];
      },
    },
    created () {
      //this.checkIndialog = true;
      const urlParams = new URLSearchParams(window.location.search);
      const location = urlParams.get("location");
      this.editedItem.location = "";
      if (location != null) {
        this.editedItem.location = location;
        this.searchItems.searchString = location;
        this.getLocationCompanyName();
      }
      this.visitingPurposeItems = this.visitingPurposeEnglishItems;
      this.loadDropdownlist();
      this.time();
      this.getHumanMovementSearchBySessionData();
    },
    beforeDestroy () {
      //clearInterval(this.interval)
    },
    methods: {
      getHumanMovementSearchBySessionData () {
        let sessionId = localStorage.getItem("sessionId");
        // console.log(sessionId);
        if (sessionId == undefined) return;
        if (sessionId != null) {
          getHumanMovementSearchBySession(sessionId, 1731)
            .then((response) => {
              console.log(response);
              if (response.data != "" && response.data != undefined) {
                this.checkIndialog = true;
                this.editedItem = response.data;
                //this.onChangeisStaff();
                this.checkEmployeeCompany(
                  this.editedItem.employeeId,
                  this.editedItem.language
                );
                this.onChangecontactPatients();
                this.onChangetravellingCountry();
                this.onChangegathering();
                this.mildFeverShow = true;
                if (this.editedItem.hignFeverFlag == "Yes") {
                  this.mildFeverShow = false;
                }
                this.highFeverShow = true;
                if (this.editedItem.mildFeverFlag == "Yes") {
                  this.highFeverShow = false;
                }
                setTimeout(() => {
                  this.editedItem = response.data;
                }, 500);
                if (this.editedItem.visitingPurpose.toLowerCase() == "company related" && this.editedItem.companyId == null) {
                  this.editedItem.companyId = -1;
                }
                if (this.editedItem.companyRelatedpersonToSeeIds.length > 0) {
                  if (this.editedItem.companyRelatedpersonToSeeIds.indexOf(0) !== -1) {
                    this.editedItem.companyRelatedpersonToSeeIds.push(-1);
                    this.editedItem.companyRelatedpersonToSeeIds = this.editedItem.companyRelatedpersonToSeeIds.filter(function (x) {
                      if (x !== 0) {
                        return x;
                      }
                    });
                  }
                }
                this.onChangePurpose();
              }
              this.time();
              this.editedItem.location = this.searchItems.searchString;
              this.editedItem.temperature = "";
            })
            .catch((error) => {
              console.log(error);
              //window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      getLocationCompanyName () {
        getLocationCompany(this.searchItems)
          .then((response) => {
            this.companyName = response.data["searchString"];
          })
          .catch((error) => {
            console.log(error);
            //window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      redirectLink (location) {
        this.$router.push({          name: "success", query: { location: location }
        });
      },
      redirectCheckout (location) {
        this.$router.push({          name: "checkout", query: { location: location }
        });
      },
      onlyMobileNumber () {
        this.editedItem.contactNo = this.editedItem.contactNo.replace(
          /[^0-9]/g,
          ""
        );
      },
      onlyTemperature () {
        this.editedItem.temperature = this.editedItem.temperature
          .replace(/[^0-9.]/g, "")
          .replace(/(\..*)\./g, "$1");
      },
      changeLanguage () {
        if (this.editedItem.language == "Chinese") {
          this.$i18n.locale = "cn";
          this.visitingPurposeItems = this.visitingPurposeChineseItems;
        } else if (this.editedItem.language == "Malay") {
          this.$i18n.locale = "ma";
          this.visitingPurposeItems = this.visitingPurposeMalaItems;
        } else {
          this.$i18n.locale = "en";
          this.visitingPurposeItems = this.visitingPurposeEnglishItems;
        }
      },
      scannerClick () {
        this.dialog = true;
        this.showCamaFlag = true;
      },
      onChangeEmployee () {
        this.editedItem.contactNo = "";
        let employeeData = this.employeeItems.filter(
          (a) => a.employeeID == this.editedItem.employeeId
        );
        if (employeeData.length > 0) {
          this.editedItem.contactNo = employeeData[0]["mobile"];
        }
      },
      checkEmployeeCompany (employeeId, languageType) {
        getEmployees("", "", employeeId)
          .then((response) => {
            this.editedItem.isSwstaffFlag = "No";
            this.isSWStaffFlagYes = false;
            this.isSWStaffFlagContactNo = false;
            this.isSWStaffFlagNo = false;
            this.editedItem.employeeId = null;
            if (response.data.length > 0) {
              if (response.data[0]["companyName"] == this.companyName) {
                this.editedItem.isSwstaffFlag = "Yes";
                this.isSWStaffFlagYes = true;
                this.isSWStaffFlagContactNo = true;
                this.loadInterCompanyEmployee(response.data[0]["companyName"]);
                this.editedItem.employeeId = response.data[0]["employeeID"];
                this.editedItem.contactNo = response.data[0]["mobile"];
                this.editedItem.language = null;
                if (
                  response.data[0]["languageName"] != "" &&
                  response.data[0]["languageName"] != null
                ) {
                  this.editedItem.language = languageType;
                  if (languageType == "") {
                    this.editedItem.language = response.data[0]["languageName"];
                  }
                  this.changeLanguage();
                }
              } else {
                this.editedItem.isSwstaffFlag = "interCompany";
                this.isSWStaffFlagYes = true;
                this.isSWStaffFlagContactNo = true;
                this.loadInterCompanyEmployee(
                  response.data[0]["companyName"],
                  this.companyName
                );
                this.editedItem.employeeId = response.data[0]["employeeID"];
                this.editedItem.contactNo = response.data[0]["mobile"];
                this.editedItem.language = null;
                if (
                  response.data[0]["languageName"] != "" &&
                  response.data[0]["languageName"] != null
                ) {
                  this.editedItem.language = languageType;
                  if (languageType == "") {
                    this.editedItem.language = response.data[0]["languageName"];
                  }
                  this.changeLanguage();
                }
              }
            } else {
              this.isSWStaffFlagNo = true;
              this.isSWStaffFlagContactNo = true;
              this.loadInterCompanyEmployee(this.companyName);
              this.changeLanguage();
            }
            this.showCamaFlag = false;
            this.dialog = false;
            this.isScanner = false;
          })
          .catch((error) => {
            console.log(error);
            //window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      codeScanned (event) {
        let datas = event.split("|");
        this.checkEmployeeCompany(datas[0], "");
        /* this.editedItem.isSwstaffFlag = 'No';
                  this.isSWStaffFlagYes = false;
                  this.isSWStaffFlagNo = false;
                  this.editedItem.employeeId = null; */
        /* if (employeeData.length > 0) {
                      this.editedItem.isSwstaffFlag = 'Yes';
                      this.isSWStaffFlagYes = true;
                      this.editedItem.employeeId = employeeData[0]['employeeID'];
                      this.editedItem.language = null;
                      if (employeeData[0]['languageName'] != "" && employeeData[0]['languageName'] != null) {
                          this.editedItem.language = employeeData[0]['languageName'];
                          this.changeLanguage();
                      }
                  }
                  else {
                      this.isSWStaffFlagNo = true;
                  } */
      },
      onAddFiles (args) {
        if (args != undefined) {
          Array.from(args).forEach((file) => {
            let fileSize = file.size / 1000000;
            if (fileSize <= 100) {
              this.uploadedAttachment.append("file", file, file.name);
            } else {
              window.getApp.$emit(
                "APP_API_VAL",
                file.name + " - File size exceeded 100MB"
              );
            }
          });
        }
      },
      time () {
        //var self = this
        this.editedItem.dateAndTime = moment(new Date()).format(
          "DD-MMM-YYYY hh:mm:ss A"
        );
        // setInterval(self.time, 1000)
      },
      noforallAboveallClick (item) {
        this.editedItem.noForAllAbove = true;
        if (
          this.editedItem.hignFeverFlag == "Yes" ||
          this.editedItem.mildFeverFlag == "Yes" ||
          this.editedItem.coughingFlag == "Yes" ||
          this.editedItem.soreThroatFlag == "Yes" ||
          this.editedItem.muscleJointPainFlag == "Yes" ||
          this.editedItem.headacheFlag == "Yes" ||
          this.editedItem.shortnessOfBreadFlag == "Yes" ||
          this.editedItem.diarrheaFlag == "Yes" ||
          this.editedItem.lossOfVoiceFlag == "Yes" ||
          this.editedItem.phlegmFlag == "Yes" ||
          this.editedItem.fluFlag == "Yes" ||
          this.editedItem.nauseaVomitingFlag == "Yes" ||
          this.editedItem.sneezingFlag == "Yes" ||
          this.editedItem.fatigueFlag == "Yes" ||
          this.editedItem.conjunctivitsFlag == "Yes" ||
          this.editedItem.lossOfTasteSmellFlag == "Yes" ||
          this.editedItem.lossOfApetiteFlag == "Yes" ||
          this.editedItem.runnyStuffyNoseFlag == "Yes" ||
          this.editedItem.chillsFlag == "Yes"
        ) {
          this.editedItem.noForAllAbove = false;
        }
        if (item == "highFever") {
          this.mildFeverShow = true;
          if (this.editedItem.hignFeverFlag == "Yes") {
            this.mildFeverShow = false;
          }
        }
        if (item == "mildFever") {
          this.highFeverShow = true;
          if (this.editedItem.mildFeverFlag == "Yes") {
            this.highFeverShow = false;
          }
        }
      },
      noforallAboveClick () {
        this.editedItem.hignFeverFlag = "";
        this.editedItem.mildFeverFlag = "";
        this.editedItem.coughingFlag = "";
        this.editedItem.soreThroatFlag = "";
        this.editedItem.muscleJointPainFlag = "";
        this.editedItem.headacheFlag = "";
        this.editedItem.shortnessOfBreadFlag = "";
        this.editedItem.diarrheaFlag = "";
        this.editedItem.lossOfVoiceFlag = "";
        this.editedItem.phlegmFlag = "";
        this.editedItem.fluFlag = "";
        this.editedItem.nauseaVomitingFlag = "";
        this.editedItem.sneezingFlag = "";
        this.editedItem.fatigueFlag = "";
        this.editedItem.conjunctivitsFlag = "";
        this.editedItem.lossOfTasteSmellFlag = "";
        this.editedItem.lossOfApetiteFlag = "";
        this.editedItem.runnyStuffyNoseFlag = "";
        this.editedItem.chillsFlag = "";
        if (this.editedItem.noForAllAbove == true) {
          this.editedItem.hignFeverFlag = "No";
          this.editedItem.mildFeverFlag = "No";
          this.editedItem.coughingFlag = "No";
          this.editedItem.soreThroatFlag = "No";
          this.editedItem.muscleJointPainFlag = "No";
          this.editedItem.headacheFlag = "No";
          this.editedItem.shortnessOfBreadFlag = "No";
          this.editedItem.diarrheaFlag = "No";
          this.editedItem.lossOfVoiceFlag = "No";
          this.editedItem.phlegmFlag = "No";
          this.editedItem.fluFlag = "No";
          this.editedItem.nauseaVomitingFlag = "No";
          this.editedItem.sneezingFlag = "No";
          this.editedItem.fatigueFlag = "No";
          this.editedItem.conjunctivitsFlag = "No";
          this.editedItem.lossOfTasteSmellFlag = "No";
          this.editedItem.lossOfApetiteFlag = "No";
          this.editedItem.runnyStuffyNoseFlag = "No";
          this.editedItem.chillsFlag = "No";
        }
      },
      loadDropdownlist () {
        // this.loadInterCompanyEmployee(this.companyName);
        getCompanyListings()
          .then((response) => {
            var obj = [
              { companyListingID: -1, companyListingName: "Not in the list" },
            ];
            this.companyItems = obj.concat(response.data);
          })
          .catch((error) => {
            console.log(error);
            //window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      selectpersontosee () {
        this.searchpersontosee = "";
      },
      selectcompanypersontosee () {
        this.companysearchpersontosee = "";
      },
      removepersontosee (item) {
        //console.log(item);
        const index = this.editedItem.personToSeeIds.indexOf(item.employeeID);
        if (index >= 0) this.editedItem.personToSeeIds.splice(index, 1);
      },
      removecompanyRelatedpersontosee (item) {
        const index = this.editedItem.companyRelatedpersonToSeeIds.indexOf(
          item.employeeID
        );
        if (index >= 0)
          this.editedItem.companyRelatedpersonToSeeIds.splice(index, 1);
      },
      onChangeisStaff () {
        this.isSWStaffFlagYes = false;
        this.isSWStaffFlagContactNo = false;
        this.isSWStaffFlagNo = false;
        this.companyrelatedFlag = false;
        this.privateFlag = false;
        this.notinFlag = false;
        this.flagincompany = false;
        this.editedItem.employeeId = null;
        this.editedItem.employeeName = "";
        this.editedItem.contactNo = "";
        this.editedItem.visitingPurpose = "";
        this.editedItem.personToSeeIds = [];
        this.editedItem.purposeOfVisit = "";
        this.editedItem.companyRelatedpersonToSeeIds = [];
        this.editedItem.companyRelatedpurposeOfVisit = "";
        this.editedItem.companyId = null;
        if (this.editedItem.isSwstaffFlag == "Yes") {
          this.loadInterCompanyEmployee(this.companyName);
          this.isSWStaffFlagYes = true;
          this.isSWStaffFlagContactNo = true;
        }
        if (this.editedItem.isSwstaffFlag == "No") {
          this.loadInterCompanyEmployee(this.companyName);
          this.isSWStaffFlagNo = true;
          this.isSWStaffFlagContactNo = true;
          this.companyrelatedFlag = true;
        }
        if (this.editedItem.isSwstaffFlag == "interCompany") {
          if (this.companyName != undefined) {
            if (this.companyName.trim() == "SWSG") {
              this.loadInterCompanyEmployee("SWMY", "SWGP");
            }
            if (this.companyName.trim() == "SWMY") {
              this.loadInterCompanyEmployee("SWSG", "SWGP");
            }
          }
          this.isSWStaffFlagYes = true;
          this.isSWStaffFlagContactNo = true;
        }
      },
      loadInterCompanyEmployee (companyName = "", companyNames = "") {
        this.loader = true;
        getEmployees(companyName, companyNames)
          .then((response) => {
            this.employeeItems = response.data;
            var obj = [{ employeeID: -1, lastName: "Not Sure" }];
            this.personseeItems = obj.concat(response.data);
            this.loader = false;
          })
          .catch((error) => {
            console.log(error);
            //window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      onCompanyChange () {
        this.notinFlag = false;
        this.flagincompany = false;
        if (this.editedItem.companyId == -1) {
          this.notinFlag = true;
          this.flagincompany = true;
        } else {
          this.flagincompany = true;
        }
      },
      onChangegathering () {
        this.gatheringDetailsFlag = false;
        if (this.editedItem.gatheringFlag == "Yes") {
          this.gatheringDetailsFlag = true;
        }
      },
      onChangetravellingCountry () {
        this.travellingCountryDetailsFlag = false;
        if (this.editedItem.travellingCountryFlag == "Yes") {
          this.travellingCountryDetailsFlag = true;
        }
      },
      onChangecontactPatients () {
        this.contactPatientsFlagDetailsFlag = false;
        if (this.editedItem.contactPatientsFlag == "Yes") {
          this.contactPatientsFlagDetailsFlag = true;
        }
      },
      onChangePurpose () {
        this.privateFlag = false;
        //this.companyrelatedFlag = false;
        //this.notinFlag = false;
        //this.flagincompany = false;
        if (this.editedItem.visitingPurpose == undefined) {
          this.privateFlag = false;
          this.companyrelatedFlag = false;
          this.notinFlag = false;
          this.flagincompany = false;
        } else if (this.editedItem.visitingPurpose.toLowerCase() == "private") {
          this.privateFlag = true;
          this.companyrelatedFlag = false;
          this.notinFlag = false;
          this.flagincompany = false;
        } else if (
          this.editedItem.visitingPurpose.toLowerCase() == "company related"
        ) {
          this.companyrelatedFlag = true;
          this.notinFlag = false;
          if (this.editedItem.companyId == -1) {
            this.notinFlag = true;
          } else if (this.editedItem.companyId > 0) {
            this.notinFlag = false;
          } else {
            this.notinFlag = false;
          }
          this.flagincompany = true;
        }
        // this.onCompanyChange();
      },
      checkInOut (type) {
        if (type == 1) {
          this.time();
          this.editedItem.movementStatusId = 1731;
          this.checkIndialog = false;
        }
        else {
          this.editedItem.movementStatusId = 1732;
          this.movementcheckout();
        }
      },
      movementcheckout () {
        updateHumanMovement(this.editedItem)
          .then((response) => {
            console.log(response);
            let location = this.editedItem.location;
            localStorage.setItem("sessionId", '');
            this.redirectCheckout(location);
          })
          .catch((error) => {
            this.snackbar = false;
            console.log(error);
          });
      },
      validate () {
        if (this.$refs.form.validate()) {
          this.time();
          this.loading = true;
          createHumanMovement(this.editedItem)
            .then((response) => {
              let location = this.editedItem.location;
              //this.snackbar = true;
              this.editedItem.humanMovementId = response.data.humanMovementId;
              this.editedItem.sessionId = response.data.sessionId;
              localStorage.setItem("sessionId", this.editedItem.sessionId);

              //uploadHumanDocuments(this.uploadedAttachment, response.data.sessionId).then(response => {
              //console.log(response);
              /* this.editedItem = Object.assign({}, this.defaultItem);
                              this.dateFormat();
                              this.isSWStaffFlagYes = false;
                              this.isSWStaffFlagNo = false;
                              this.privateFlag = false;
                              this.companyrelatedFlag = false,
                                  this.notinFlag = false;
                              this.flagincompany = false;
                              this.gatheringDetailsFlag = false;
                              this.travellingCountryDetailsFlag = false;
                              this.contactPatientsFlagDetailsFlag = false;
                              this.loading = false;
                              this.mildFeverShow = true;
                              this.highFeverShow = true;
                              this.editedItem.location = location; */
              this.redirectLink(location);
              //});
            })
            .catch((error) => {
              this.snackbar = false;
              console.log(error);
            });
        }
      },
    },
  };
</script>