<template>
  <div>
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
      <h1>Success</h1>
      <p>Human Movement Saved Succesfully</p>
      <p>
        <a href="javascript:void(0);" @click="goBack">Register</a>
      </p>
    </div>
  </div>
</template>
<script>
  export default {
    data: () => ({
      location: "",
      fullpath: "",
    }),
    created () {
    },
    methods: {
      goBack () {
        window.location = window.location.origin + "?location=" + this.$route.query.location;
        //this.$router.push({          name: "/", query: { location: this.$route.query.location }
        //});
      }
    }
  }
</script>

    <style>
  body {
    text-align: center;
  }
  h1 {
    color: #88b04b;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
  }
  p {
    color: #404f5e;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
  }
  i {
    color: #9abc66;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #c8d0d8;
    display: inline-block;
    margin: 0 auto;
  }
</style>