<template>
    <div>
        <v-layout wrap style="background: gainsboro !important;padding: 10px;">
            <span class="headline">Survey information</span>
        </v-layout>
        <v-data-table :loading="loader" :search="search" :headers="headers" :items="gridItems" sort-by="calories" class="elevation-1">
            <template v-slot:top>
                <v-toolbar flat>
                    <v-text-field v-model="search" prepend-icon="mdi-filter" label="Search" single-line hide-details></v-text-field>
                    <v-spacer></v-spacer>
                        <v-btn icon @click="initialize">
                            <v-icon>mdi-refresh</v-icon>
                        </v-btn>
                    <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" icon @click.native="add" :disabled="enableAddButton">
                                <v-icon>mdi mdi-plus-circle-outline</v-icon>
                            </v-btn>
                        </template>
                        <v-card>
                            <v-toolbar dense color="primary">
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" @click.native="close" :loading="loader">
                                            <v-icon color="white">mdi-reply</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Go Back</span>
                                </v-tooltip>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" @click.native="save" :loading="loader">
                                            <v-icon color="white">mdi-content-save</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Save</span>
                                </v-tooltip>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" @click.native="add" :loading="loader">
                                            <v-icon color="white">mdi mdi-plus</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Add</span>
                                </v-tooltip>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" @click.native="deleterow" :loading="loader">
                                            <v-icon color="white">mdi mdi-delete</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Delete</span>
                                </v-tooltip>
                                <v-spacer></v-spacer>

                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn icon v-bind="attrs" v-on="on" @click.native="close" :loading="loader">
                                            <v-icon color="white">mdi-close</v-icon>
                                        </v-btn>
                                    </template>
                                    <span>Close</span>
                                </v-tooltip>
                            </v-toolbar>

                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>
                            <div style="overflow: auto;height: calc(100vh - 100px - 60px);">
                                <v-card-text>
                                    <v-form v-model="editedItem.valid" ref="form" lazy-validation>

                                        <v-layout row wrap>
                                            <v-flex xs12 sm6>
                                                <v-autocomplete prepend-icon="mdi-note" v-model="editedItem.productGroupSurveyId" :items="itemGroupItems" :loading="loader" :rules="[v => !!v || 'Item Group is required']" label="Item Group" item-text="productGroupSurveyName" item-value="productGroupSurveyId" chips deletable-chips dense required></v-autocomplete>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <span style="margin-left: 25px;">Does the Doctor use this specific combination/Drug</span>
                                                <v-radio-group style="margin-left: 30px;" row v-model="editedItem.specificCombinationDrugFlag" @change="onspecificCombinationDrug" :rules="[v => !!v || 'This is required']">
                                                    <v-radio label="Yes" value="Yes"></v-radio>
                                                    <v-radio label="No" value="No"></v-radio>
                                                </v-radio-group>
                                            </v-flex>

                                            <v-flex xs12 sm6 v-if="showsymptoms">
                                                <v-textarea prepend-icon="mdi-note" v-model="editedItem.symptoms" label="What type of formulation does the doctor  use for the same symptoms?"></v-textarea>
                                            </v-flex>
                                            <v-flex xs12 sm6 v-if="showspecificCombinationDrug">
                                                <span style="margin-left: 25px;">is it using SW product?</span>
                                                <v-radio-group style="margin-left: 30px;" row v-model="editedItem.isUseSwproduct" @change="onisUseSwproduct" :rules="[v => !!v || 'This is required']">
                                                    <v-radio label="Yes" value="Yes"></v-radio>
                                                    <v-radio label="No" value="No"></v-radio>
                                                    <v-radio label="Sometimes" value="Sometimes"></v-radio>
                                                </v-radio-group>
                                            </v-flex>
                                            <v-flex xs12 sm6 v-if="showisUseSwproduct">
                                                <v-textarea prepend-icon="mdi-note" v-model="editedItem.doctorBuyFrom" label="What Product and which manufacturer does the doctor buy from?"></v-textarea>
                                            </v-flex>
                                            <v-flex xs12 sm6 v-if="showisUseSwproduct">
                                                <v-textarea prepend-icon="mdi-note" v-model="editedItem.possibleIndicatePrice" label="Is Possible indicate price and pack size"></v-textarea>
                                            </v-flex>
                                        </v-layout>

                                    </v-form>
                                </v-card-text>
                            </div>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn color="primary" @click="save" :loading="loader">save</v-btn>

                                <v-btn color="primary" @click="close" :loading="loader">Close</v-btn>

                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small class="mr-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon small @click="onDeleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem"></delete-confirmation-dialog>
    </div>
</template>
<script>
    import GlobalMessage from "@/constant";
    import { getProductGroupSurvey, getSalesSurveyByFieldForceById, createSalesSurveyByFieldForceLine, updateSalesSurveyByFieldForceLine, deleteSalesSurveyByFieldForceLine } from "@/api/survey";
    import moment from "moment";
    export default {
        components: {},
        data: () => ({
            auditdialog: false,
            dialog: false,
            enableAddButton: true,
            loader: false,
            salesSurveyByFieldForceId: -1,
            itemGroupItems: [],
            search: "",
            snackbarMessage: "",
            timeout: 2000,
            showspecificCombinationDrug: false,
            showisUseSwproduct: false,
            showsymptoms: false,
            y: "top",
            statusOptions: [
                { text: "Active", value: 1 },
                { text: "InActive", value: 2 }
            ],
            headers: [
                { text: "Item Group", value: "productGroupSurveyName", align: "left" },
                { text: "Does the Doctor use this specific combination/Drug", value: "specificCombinationDrugFlag", align: "left" },
                { text: "What type of formulation does the doctor  use for the same symptoms?", value: "symptoms", align: "left" },
                { text: "is it using SW product? ", value: "isUseSwproduct", align: "left" },
                {
                    text: "What Product and which manufacturer does the doctor buy from?",
                    value: "doctorBuyFrom",
                    align: "left"
                },
                {
                    text: "Is Possible indicate price and pack size",
                    value: "possibleIndicatePrice",
                    align: "left"
                },
                { text: "Actions", value: "actions", align: "left" }
            ],
            gridItems: [],
            itemList: [],
            editedIndex: -1,
            selectedItem: null,
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10
            },
            editedItem: {
                valid: false,
                salesSurveyByFieldForceLineId: -1,
                salesSurveyByFieldForceId: -1,
                productGroupSurveyId: null,
                specificCombinationDrugFlag: "Yes",
                symptoms: "",
                isUseSwproduct: "Yes",
                doctorBuyFrom: "",
                possibleIndicatePrice: "",
                statusCodeID: 1,
                statusCode: "Active",
                addedByUserID: "",
                addedDate: "",
                modifiedByUserID: "",
                modifiedDate: "",
            },
            defaultItem: {
                valid: false,
                salesSurveyByFieldForceLineId: -1,
                salesSurveyByFieldForceId: -1,
                productGroupSurveyId: null,
                specificCombinationDrugFlag: "Yes",
                symptoms: "",
                isUseSwproduct: "Yes",
                doctorBuyFrom: "",
                possibleIndicatePrice: "",
                statusCodeID: 1,
                statusCode: "Active",
                addedByUserID: "",
                addedDate: "",
                modifiedByUserID: "",
                modifiedDate: "",
            }
        }),

        computed: {
            formTitle () {
                return this.editedItem.salesSurveyByFieldForceLineId < 0
                    ? "Add Survey information"
                    : "Edit Survey information";
            },
            expiryDateFormated () {
                return this.editedItem.expiryDate ? moment(this.editedItem.expiryDate).format(GlobalMessage.DATEFORMAT) : "";
            },
        },

        watch: {
            dialog (val) {
                val || this.close();
            }
        },

        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                this.loader = true;
                getSalesSurveyByFieldForceById(this.salesSurveyByFieldForceId)
                    .then(response => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            loadDropDown () {
                this.loader = true;
                getProductGroupSurvey()
                    .then(response => {
                        this.itemGroupItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onspecificCombinationDrug (value) {
                this.showspecificCombinationDrug = false;
                this.showsymptoms = false;
                this.showisUseSwproduct = false;
                if (value == "Yes") {
                    this.showspecificCombinationDrug = true;
                }
                if (value == "No") {
                    this.showsymptoms = true;
                    this.showisUseSwproduct = true;
                }
            },
            onisUseSwproduct (value) {
                this.showisUseSwproduct = false;
                if (value != "Yes") {
                    this.showisUseSwproduct = true;
                }
            },
            add () {
                this.loadDropDown();
                this.editedItem = Object.assign({}, this.defaultItem);
                this.onspecificCombinationDrug(this.editedItem.specificCombinationDrugFlag);
                this.onisUseSwproduct(this.editedItem.isUseSwproduct);
            },
            editItem (item) {
                this.loadDropDown();
                this.editedItem = Object.assign({}, item);
                this.onspecificCombinationDrug(this.editedItem.specificCombinationDrugFlag);
                this.onisUseSwproduct(this.editedItem.isUseSwproduct);
                this.dialog = true;
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            DeleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.salesSurveyByFieldForceLineId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);
                    deleteSalesSurveyByFieldForceLine(this.editedItem)
                        .then((response) => {
                            this.loader = false;
                            if (response != undefined) {
                                this.selectedItem = null;
                                this.gridItems.splice(index, 1);
                                this.initialize();
                                this.add();
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                            }
                        })
                        .catch((error) => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            save () {
                if (this.$refs.form.validate()) {
                    this.loader = true;
                    this.editedItem.salesSurveyByFieldForceId = this.salesSurveyByFieldForceId;
                    if (this.editedItem.salesSurveyByFieldForceLineId > -1) {
                        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();
                        this.editedItem.addedByUserId = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();
                        updateSalesSurveyByFieldForceLine(this.editedItem)
                            .then((response) => {
                                this.loader = false;
                                this.editedItem.editedItem = response.data;
                                this.initialize();
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                            })
                            .catch((error) => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    } else {
                        this.editedItem.addedByUserId = this.$store.state.auth.userId;
                        createSalesSurveyByFieldForceLine(this.editedItem)
                            .then((response) => {
                                this.loader = false;
                                this.editedItem.salesSurveyByFieldForceId = response.data.salesSurveyByFieldForceId;
                                this.dialog = true;
                                this.initialize();
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                            })
                            .catch((error) => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                }
            },
            close () {
                this.dialog = false;
                this.initialize();
            },
        }
    };
</script>