<template>
  <h3 style="text-align: CENTER;">Syncfusion Vue Chart</h3>

  <ejs-chart style='display:block' id='chartcontainer' :primaryXAxis='primaryXAxis'>
            <e-annotations>
                <e-annotation :content='cloudTemplate' x='Sun' y=35 coordinateUnits='Point' verticalAlignment='Top'>
                </e-annotation>
            </e-annotations>
            <e-series-collection>
                <e-series :dataSource='seriesData' type='Column' xName='x' yName='y' name='Germany'> </e-series>
            </e-series-collection>
        </ejs-chart>
</template>
<script>
import { ChartComponent, SeriesCollectionDirective, SeriesDirective, 
 AnnotationsDirective, AnnotationDirective
} from "@syncfusion/ej2-vue-charts";
import { createApp } from "vue";
 
const app = createApp({
  // Displays "Hello, World" initially, changes based on input
  template: '<app></app>'
}); 
 
var contentVue = app.component("cloudTemplate", {
  template: '<div id="chart_cloud">annotation</div>',
  data() {
    return {
      data: {}
    };
  }
});
export default {
  name: "App",
  components: {
    'ejs-chart' : ChartComponent,
    'e-series-collection' : SeriesCollectionDirective,
    'e-series' : SeriesDirective,
    'e-annotations': AnnotationsDirective,
    'e-annotation': AnnotationDirective
  },
  
  data() {
    return {
      seriesData: [
                { x: 'Sun', y: 35 }, { x: 'Mon', y: 40 },
                { x: 'Tue', y: 80 }, { x: 'Wed', y: 70 }, { x: 'Thu', y: 65 }, { x: 'Fri', y: 55 },
                { x: 'Sat', y: 50 }
      ],
      //Initializing Primary X Axis
      primaryXAxis: {
            valueType: 'Category'
      },
    cloudTemplate: function() {
      return { template: contentVue };
    },
    };
  },
  methods: {
  }
};
</script>
<style>
@import "../../node_modules/@syncfusion/ej2-base/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/fluent.css";
button {
  margin: 25px 5px 20px 20px;
}
</style>