<template>
  <h3 style="text-align: CENTER;">Syncfusion Vue Schedule</h3>

  <ejs-schedule
    id="Schedule"
    ref="scheduleObj"
    :group="group"
  >
      <e-views>
        <e-view option="Day"></e-view>
        <e-view option="Week"></e-view>
        <e-view option="WorkWeek"></e-view>
        <e-view option="Month"></e-view>
        <e-view option="Agenda"></e-view>
        <e-view option="MonthAgenda"></e-view>
        <e-view option="TimelineDay"></e-view>
        <e-view option="TimelineWeek"></e-view>
        <e-view option="TimelineWorkWeek"></e-view>
        <e-view option="TimelineMonth"></e-view>
        <e-view option="Year"></e-view>
        <e-view
          option="TimelineYear"
          displayName="Horizontal Timeline Year"
        ></e-view>
        <e-view
          option="TimelineYear"
          displayName="Vertical Timeline Year"
          orientation="Vertical"
        ></e-view>
      </e-views>
      <e-resources>
        <e-resource
          field="OwnerId"
          title="Owner"
          name="Owners"
          :dataSource="resourceDataSource"
          textField="OwnerText"
          idField="Id"
          colorField="OwnerColor"
        >
        </e-resource>
      </e-resources>
  </ejs-schedule>
</template>
<script>
import {
  ScheduleComponent
} from "@syncfusion/ej2-vue-schedule";
import { ViewsDirective, ViewDirective, ResourcesDirective, ResourceDirective } from "@syncfusion/ej2-vue-schedule";
export default {
  name: "App",
  components: {
    "ejs-schedule": ScheduleComponent,
    "e-views": ViewsDirective,
    "e-view": ViewDirective,
    "e-resources": ResourcesDirective,
    "e-resource": ResourceDirective,
  },
  data() {
    return {
      resourceDataSource: [
        { OwnerText: "Nancy", Id: 1, OwnerColor: "#ffaa00" },
        { OwnerText: "Steven", Id: 2, OwnerColor: "#f8a398" },
      ],
      group: { resources: ["Owners"] },
      resources: [
        {
          field: "OwnerId",
          title: "Owner",
          name: "Owners",
          allowMultiple: true,
          dataSource: [
            { OwnerText: "Nancy", Id: 1, OwnerColor: "#ffaa00" },
            { OwnerText: "Steven", Id: 2, OwnerColor: "#f8a398" },
          ],
          textField: "OwnerText",
          idField: "Id",
          colorField: "OwnerColor",
        },
      ],
    };
  },
  methods: {
  }
};
</script>
<style>
@import "../../node_modules/@syncfusion/ej2-base/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-schedule/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-grids/styles/fluent.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/fluent.css";
</style>