<template>
    <div>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Registration Variation.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>

            <v-btn icon="" @click="initialize()">
                <v-icon icon>
                    refresh
                </v-icon>
            </v-btn>

            <v-dialog v-model="dialog" fullscreen>
                <v-btn slot="activator" icon @click.native="add">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveAndClose">
                                <v-icon color="white">library_add</v-icon>
                            </v-btn>
                            <span>Save and Close</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="save">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save </span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="add">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <span>Create New Registration Variation</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="deleterow">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Delete</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="first">
                                <v-icon color="white">first_page</v-icon>
                            </v-btn>
                            <span>First</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="previous">

                                <v-icon color="white">keyboard_arrow_left</v-icon>
                            </v-btn>
                            <span>Previous</span>

                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="next">
                                <v-icon color="white">keyboard_arrow_right</v-icon>
                            </v-btn>
                            <span>Next</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="last">
                                <v-icon color="white">last_page</v-icon>
                            </v-btn>
                            <span>Last</span>
                        </v-tooltip>

                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                    </v-toolbar>

                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div class="task-sub--scroll">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                                <v-container grid-list-md>
                                    <v-layout row wrap>
                                        <v-flex xs12 sm4>
                                            <v-text-field v-model="editedItem.applicationMasterName" :rules="applicationMasterNameRules" label="Application Master Name" prepend-icon="person">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-text-field v-model="editedItem.applicationMasterParentCodeId" :rules="applicationMasterCodeRules" label="ApplicationMaster Code" prepend-icon="person" @keyup="onChangeMasterCode">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-autocomplete :loading="loader" chips  flat placeholder="Select Parent" prepend-icon="assistant" :items='parentItems' v-model="editedItem.parentId" label="Parent" color="blue" item-text="applicationMasterName" item-value="applicationMasterParentCodeId">
                                                <template slot="item" slot-scope="data">
                                                    <template v-if="typeof data.item !== 'object'">
                                                        <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                    </template>
                                                    <template v-else>
                                                        <v-list-tile-content>
                                                            <v-list-tile-title v-html="data.item.applicationMasterName"></v-list-tile-title>
                                                        </v-list-tile-content>
                                                    </template>
                                                </template>
                                            </v-autocomplete>

                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-textarea v-model="editedItem.description" label="Description" prepend-icon="description">
                                            </v-textarea>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-form>
                        </v-card-text>
                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" outline @click.native="save">
                            Save
                        </v-btn>
                        <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
                    </v-card-actions>
                    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem">
                    </delete-confirmation-dialog>

                </v-card>
            </v-dialog>
        </v-toolbar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="applicationMasterParentId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <tr @dblclick="editItem(props.item)">
                    <td class="text-xs-left">{{ props.item.applicationMasterName }}</td>
                    <td class="text-xs-left">{{ props.item.parentName }}</td>
                    <td class="text-xs-left">{{ props.item.applicationMasterParentCodeId }}</td>
                    <td class="text-xs-left">{{ props.item.description }}</td>
                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">
                            edit
                        </v-icon>
                        <v-icon small @click="onDeleteItem(props.item)">
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>

    </div>
</template>
<script>
    import { getApplicationMasterParentDropDown, getApplicationMasterParent, getData, createApplicationMasterParent, updateApplicationMasterParent, deleteApplicationMasterParent } from '@/api/ApplicationMasterParent';
    import GlobalMessage from '@/constant'
    export default {
        components: {
        },
        data: () => ({
            dialog: false,
            loader: false,
            search: '',
            timeout: 2000,
            y: 'top',
            headers: [
                { text: 'Application Master Name', value: 'applicationMasterName', align: 'left' },
                { text: 'Parent', value: 'parentName', align: 'left' },
                { text: 'Application Master Code', value: 'applicationMasterParentCodeId', align: 'left' },
                { text: 'Description', value: 'description', align: 'left' },
                { text: 'Actions', value: 'name', sortable: false, align: 'left' }
            ],
            json_fields: {
                'Application Master Name': 'applicationMasterName',
                'Parent':'parentName',
                'Application Master Code': 'applicationMasterParentCodeId',
                'Description': 'description',
            },
            parentItems: [],
            gridItems: [],
            editedIndex: -1,
            selectedItem: null,
            searchVariationTypeTag: null,
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            editedItem: {
                valid: false,
                applicationMasterParentId: -1,
                applicationMasterParentCodeId: null,
                applicationMasterName: "",
                description: null,
                parentId:null,
                addedByUserId: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                statusCode: 'Active',
                modifiedByUserId: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
            },
            defaultItem: {
                valid: false,
                applicationMasterParentId: -1,
                applicationMasterParentCodeId: null,
                applicationMasterName: "",
                parentId:null,
                description: null,
                addedByUserId: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                statusCode: 'Active',
                modifiedByUserId: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
            },
            searchItem: { action: '', Id: null, searchString: 'searchString', },

        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Add Application Master Parent' : 'Edit Application Master Parent';
            },
            applicationMasterNameRules () {
                return [
                    v => !!v || 'ApplicationMaster Name is required'
                ];
            },
            applicationMasterCodeRules () {
                return [
                    v => !!v || 'ApplicationMaster Code is required'
                ];
            },
        },



        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                this.loader = true;
                getApplicationMasterParent('')
                    .then(response => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });


                this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
            },
            loadDropDownList (parentId) {
                this.loader = true;
                getApplicationMasterParentDropDown(parentId)
                    .then(response => {
                        this.parentItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },
            onChangeMasterCode () {
                this.editedItem.applicationMasterParentCodeId = this.editedItem.applicationMasterParentCodeId.replace(/[^0-9]/g, '');
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            editItem (item) {
                this.loadDropDownList(item.applicationMasterParentCodeId);
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            DeleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.applicationMasterParentCodeId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);
                    deleteApplicationMasterParent(this.editedItem)
                        .then(() => {
                            this.loader = false;
                            this.selectedItem = null;
                            this.gridItems.splice(index, 1);
                            this.add();
                            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit('APP_API_ERROR', error);
                        });
                }
            },

            saveAndClose () {
                this.save();
                this.close();
            },
            toolfunction () {
                getData(this.searchItem)
                    .then(response => {
                        if (response.data.applicationMasterParentCodeId != null) {
                            this.editedItem = response.data;
                             this.loadDropDownList(this.editedItem.applicationMasterParentCodeId);
                            let index = this.gridItems.map(item => item.applicationMasterParentCodeId).indexOf(response.data.applicationMasterParentCodeId)
                            this.editedIndex = index;
                        }
                        else {
                            window.getApp.$emit('APP_API_SUCCESS', 'No more record to view');
                        }

                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },
            first () {
                this.searchItem.action = 'First';
                this.searchItem.Id = this.editedItem.applicationMasterParentId;
                this.toolfunction();
            },
            last () {
                this.searchItem.action = 'Last';
                this.searchItem.Id = this.editedItem.applicationMasterParentId;
                this.toolfunction();
            },
            previous () {
                this.searchItem.action = 'Previous';
                this.searchItem.Id = this.editedItem.applicationMasterParentId;
                this.toolfunction();
            },
            next () {
                this.searchItem.action = 'Next';
                this.searchItem.Id = this.editedItem.applicationMasterParentId;
                this.toolfunction();
            },
            add () {
                this.loadDropDownList('');
                this.editedItem.valid = false;
                this.editedItem.applicationMasterParentId = -1,
                    this.editedItem.applicationMasterParentCodeId = null;
                this.editedItem.applicationMasterName = "";
                this.editedItem.description = "";
                this.editedItem.addedByUserId = this.$store.state.auth.userId;
                this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
                this.editedItem.statusCodeID = 1;
                this.editedItem.statusCode = 'Active';
                this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
                this.editedIndex = -1;
                this.editedItem.parentId=null;
            },
            close () {
                this.dialog = false;
                this.initialize();
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },
            save () {
                if (this.$refs.form.validate()) {
                    this.loader = true;
                    let index = this.editedIndex;
                    if (this.editedIndex > -1) {
                        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
                        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();
                        this.editedItem.addedByUserId = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();
                        updateApplicationMasterParent(this.editedItem)
                            .then(response => {
                                Object.assign(this.gridItems[index], response.data);
                                this.editedItem = response.data;
                                this.loader = false;
                                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit('APP_API_ERROR', error);
                            });
                    } else {

                        this.editedItem.addedByUserId = this.$store.state.auth.userId;

                        createApplicationMasterParent(this.editedItem)
                            .then(response => {
                                this.gridItems.push(response.data);
                                this.loader = false;
                                this.editedItem.applicationMasterParentId = response.data.applicationMasterParentId;
                                let index = this.gridItems.map(item => item.applicationMasterParentId).indexOf(response.data.applicationMasterParentId)
                                this.editedIndex = index;
                                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit('APP_API_ERROR', error);
                            });
                    }
                }
            },
        }
    };
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 110px - 60px);
     }
</style>