<template>
  <div class="loader-overlay" v-if="status">
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </div>
</template>

<script>
export default {
  props: ["status"],
};
</script>
<style>
.loader-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
</style>
