<template>
  <div>
    <v-toolbar
      flat
      color="white"
    >
      <v-toolbar-title>Component Lines</v-toolbar-title>

      <v-spacer></v-spacer>
     
      <v-dialog
        v-model="dialog"
        scrollable
        max-width="600px"
      >
        <v-btn
          slot="activator"
          icon
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex
                  xs12
                  sm12
                >
                  <v-autocomplete                    
                    hint="Atleast 3 Characters required"                   
                    :loading="loading"
                    cache-items                    
                    flat
                    placeholder="Select only suggested Component"
                    :items="cardTypes"
                    v-model="editedItem.cardTypeId"
                    label="Component"
                    auto
                    chips
                    prepend-icon="drag_indicator"
                    required
                    item-text="name"
                    item-value="id"
                  ></v-autocomplete>
                </v-flex>
                <v-flex
                  xs12
                  sm12
                >
                  <v-text-field
                    v-model="editedItem.protein"
                    label="Machine"
                    prepend-icon="notes"
                  ></v-text-field>
                </v-flex>
                <v-flex
                  xs12
                  sm6
                  md6
                >
                  <v-text-field
                    v-model="editedItem.protein"
                    label="No Of Cuts"
                    prepend-icon="notes"
                  ></v-text-field>
                </v-flex>
                <v-flex
                  xs12
                  sm6
                  md6
                >
                  <v-text-field
                    v-model="editedItem.carbs"
                    prepend-icon="account_balance_wallet"
                    label="Test By"
                  ></v-text-field>
                </v-flex>
                <v-flex
                  xs12
                  sm6
                  md6
                >
                  <v-text-field
                    v-model="editedItem.protein"
                    prepend-icon="landscape"
                    label="Test by from blister strip(KG)"
                  ></v-text-field>
                </v-flex>
                <v-flex
                  xs12
                  sm6
                  md6
                >
                  <v-text-field
                    v-model="editedItem.protein"
                    prepend-icon="leak_add"
                    label="De-Blister(KG)"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="blue darken-1"
              outline
              @click.native="close"
            >Cancel</v-btn>
            <v-btn
              color="blue darken-1"
              outline
              @click.native="save"
            >Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
      class="elevation-1"
    >
      <template
        slot="items"
        slot-scope="props"
      >
        <td>{{ props.item.protein }}</td>
        <td>{{ props.item.prodNo }}</td>
        <td>{{ props.item.prodline }}</td>
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.Qty }}</td>
        <td>{{ props.item.Qty }}</td>

        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          @click="initialize"
        >Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    search: '',
    items: [
      { title: 'Clear Items' },
      { title: 'Post Component' },
      { title: 'Delete' }
    ],
    cardTypes: [
      {
        id: 1,
        name: 'RPO-2018-0023'
      },
      {
        id: 2,
        name: 'RPO-2018-0024'
      }
    ],
    headers: [
      {
        text: 'Component',
        align: 'left',
        sortable: true,
        value: 'component'
      },
      {
        text: 'Machine',
        align: 'left',
        value: 'machine'
      },
      { text: 'No of Cuts ', value: 'cuts' },
      { text: 'Test By', value: 'testby' },
      { text: 'Test By form blister strip(KG)', value: 'blisterstrip' },
      { text: 'De-blister(KG)', value: 'deblister' },
      { text: 'Action', value: 'action', align: 'right' }
    ],

    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      calories: '',
      fat: '',
      carbs: '',
      protein: '',
      cardTypeId: 1
    },
    defaultItem: {
      name: '',
      calories: '',
      fat: '',
      carbs: '',
      protein: '',
      cardTypeId: 1
    }
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item';
    }
  },

  watch: {
    dialog (val) {
      val || this.close();
    }
  },

  created () {
    this.initialize();
  },

  methods: {
    initialize () {
      this.desserts = [
        {
          name: 'Unit per Batch ',
          calories: '3%',
          fat: 'Arun',
          carbs: '0012',
          protein: 'Item',
          prodline: 4,
          prodNo: 'RPO-2018-NP-001',
          Qty: 10,
          UOM: '1KG'
        },
        {
          name: 'Standard',
          calories: '5%',
          fat: 'Sathish',
          carbs: '00123',
          protein: 'Production BOM',
          prodline: 12,
          prodNo: 'RPO-2018-NP-002',
          Qty: 20,
          UOM: '2KG'
        }
      ];
    },

    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem (item) {
      const index = this.desserts.indexOf(item);
      confirm('Are you sure you want to delete this item?') &&
        this.desserts.splice(index, 1);
    },

    close () {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    }
  }
};
</script>