<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>

      <v-dialog persistent v-model="dialog" max-width="700px" scrollable>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            icon
            @click.native="add"
            v-show="showAddNotes"
          >
            <v-icon>mdi-plus-circle-outline</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-toolbar dense color="primary">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">mdi-reply</v-icon>
                </v-btn>
              </template>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  @click.native="saveAndClose"
                >
                  <v-icon color="white">mdi-content-save-all</v-icon>
                </v-btn>
              </template>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="save">
                  <v-icon color="white">mdi-content-save</v-icon>
                </v-btn>
              </template>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="add">
                  <v-icon color="white">mdi-plus</v-icon>
                </v-btn>
              </template>
              <span>Create New Link</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">mdi-close</v-icon>
                </v-btn>
              </template>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(100vh - 120px - 60px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm12>
                      <v-text-field
                        v-model="editedItem.urlText"
                        label="Text"
                        required
                        prepend-icon="mdi-select-all"
                        :rules="subjectRules"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm11>
                      <v-text-field
                        v-model="editedItem.urlLink"
                        label="Link"
                        required
                        prepend-icon="mdi-select-all"
                        :rules="subjectRules"
                        @change="linkinput"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs1 sm1>
                      <v-btn @click="clicklinkComment" icon>
                        <v-icon>mdi-eye</v-icon>
                      </v-btn>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-checkbox
                        primary
                        hide-details
                        v-model="editedItem.isPrint"
                        label="Print"
                      ></v-checkbox>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-autocomplete
                        chips
                        prepend-icon="mdi-assistant"
                        color="blue-grey lighten-2"
                        label="Restrict Users"
                        :items="userItems"
                        v-model="editedItem.restrictUserIds"
                        item-text="name"
                        item-value="userID"
                        multiple
                        :search-input.sync="searchRestrictUsers"
                      >
                        <template v-slot:selection="data">
                          <v-chip
                            v-bind="data.attrs"
                            :input-value="data.selected"
                            close
                            @click="data.select"
                            @click:close="removeRestrictUsers(data.item)"
                            @change="selectRestrictUsers"
                          >
                            {{ data.item.name }}
                          </v-chip>
                        </template>
                        <template v-slot:item="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-item-content
                              v-text="data.item"
                            ></v-list-item-content>
                          </template>
                          <template v-else>
                            <v-list-item-content>
                              <v-list-item-title
                                v-html="data.item.name"
                              ></v-list-item-title>
                              <v-list-item-subtitle
                                v-html="data.item.group"
                              ></v-list-item-subtitle>
                            </v-list-item-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                    <!-- <v-flex xs12 sm12>
                      <v-file-input
                        show-size
                        label="Upload Your Documents"
                        @change="attachfileChanged"
                      ></v-file-input>
                    </v-flex> -->
                    <!-- <v-flex xs12 sm12>
                      <v-layout wrap>
                        <v-flex
                          xs12
                          sm6
                          v-for="(item, i) in calendarLineLinkDocuments"
                          :key="i"
                        >
                          <v-chip
                            @click:close="removeCalandarLinkDoc(item)"
                            class="ma-2"
                            close
                          >
                            {{item.fileName
                            }}
                          </v-chip>
                        </v-flex>
                      </v-layout>
                    </v-flex> -->
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              @click.native="save"
              :loading="linkLoader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              @click.native="close"
              :loading="linkLoader"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn icon="" @click="initialize()">
        <v-icon icon>mdi-refresh </v-icon>
      </v-btn>
      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">mdi-close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card>
      <v-card-text>
        <div style="overflow: auto; height: calc(100vh - 120px - 60px)">
          <v-data-table
            :headers="headers"
            :items="gridItems"
            :search="search"
            class="elevation-1"
            default-sort="workDateID:desc"
          >
            <template v-slot:[`item.urlText`]="{ item }">
              <span
                @click="viewLink(item)"
                style="text-decoration: none; color: blue"
                onmouseover="style='text-decoration:underline;color:blue;cursor:pointer;'"
                onmouseout="style='text-decoration:none;color:blue;'"
                >{{ item.urlText }}</span
              >
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-icon
                small
                class="mr-2"
                @click="editItem(item)"
                v-if="item.addedByUserID == userId"
              >
                mdi-pencil
              </v-icon>
              <v-icon
                small
                @click="onDeleteItem(item)"
                v-if="item.addedByUserID == userId"
              >
                mdi-delete
              </v-icon>
            </template>
          </v-data-table>
        </div></v-card-text
      >
    </v-card>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
 
<script>
import GlobalMessage from "@/constant";
import {
  getNotesUsers,
  getCompanyCalendarLineLink,
  createCompanyCalendarLineLink,
  updateCompanyCalendarLineLinks,
  deleteCompanyCalendarLineLink,
  uploadCalandarLinkDocuments,
  getCompanyCalendarLineLinkDocuments,
  deleteDocuments,
  uploadCalandarLinkAllDocuments,
} from "@/api/CompanyCalendarLine";
export default {
  components: {},
  props: {
    closeMethod: {
      type: Function,
    },
  },
  data: () => ({
    itemsAll: [],
    userId: null,
    userName: "",
    userItems: [],
    dialog: false,
    linkLoader: false,
    search: "",
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "Text", value: "urlText", align: "left" },
      { text: "Restrict Users", value: "restrictUsers", align: "left" },
      { text: "AddedBy", value: "addedByUser", align: "left" },
      { text: "Actions", value: "actions", sortable: false, align: "left" },
    ],
    companyCalendarLineId: -1,
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      companyCalendarLineLinkId: -1,
      companyCalendarLineId: null,
      urlLink: null,
      urlText: null,
      restrictUserIds: [],
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
      isPrint: null,
      sessionId: null,
    },
    defaultItem: {
      valid: false,
      companyCalendarLineLinkId: -1,
      companyCalendarLineId: null,
      urlLink: null,
      urlText: null,
      restrictUserIds: [],
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
      isPrint: null,
      sessionId: null,
    },
    showAddNotes: false,
    searchRestrictUsers: "",
    searchItem: { action: "", Id: null, searchString: "searchString" },
    closeDocumentsItems: [
      {
        icon: "attach_file",
        href: "#",
        title: "Close Document",
      },
    ],
    loader: false,
    attachments: [],
    attachuploadedfileNames: [],
    attachuploadedFiles: [],
    attachfiles: new FormData(),
    calendarLineLinkDocuments: [],
    uploadedAttachment: new FormData(),
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Link" : "Edit Link";
    },
    subjectRules() {
      return [(v) => !!v || "This field is required"];
    },
  },

  created() {
    //this.expiryDate = null;
    //this.itemsAll = this.items.concat(this.closeDocumentsItems);
    //this.getFileProfileTypeItems();
  },

  methods: {
    initialize() {
      this.loadDropDownList();
    },
    removeCalandarLinkDoc(item) {
      deleteDocuments(item)
        .then(() => {
          this.loader = false;
          // this.uploadedAttachment.delete("file");
         // this.getfiles();
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    attachfileChanged(file) {
      if (file != null && file != undefined) {
        let allowsize = GlobalMessage.AllowMaxSize;
        let FileName = file.name;
        this.attachments = [];
        this.attachuploadedfileNames = [];
        this.attachuploadedFiles = [];
        this.attachfiles = new FormData();
        if (file != undefined) {
          let fileSize = file.size / 1000000;
          var isVideoFile = false;
          if (file.type.includes("video")) {
            isVideoFile = true;
          }
          if (fileSize <= allowsize) {
            this.calendarLineLinkDocuments.push({ fileName: file.name });
            if (this.editedItem.sessionId != null) {
              this.attachfiles.append("file", file, FileName);
              this.attachfiles.append("sessionId", this.editedItem.sessionId);
              this.attachfiles.append("type", "Documents");
              this.attachfiles.append("userID", this.userId);
              this.attachfiles.append("isVideoFile", isVideoFile);
              this.attachfiles.append("link", GlobalMessage.BASEURL);
              uploadCalandarLinkDocuments(this.attachfiles)
                .then(() => {
                  this.attachfiles.delete("file");
                  this.attachfiles = new FormData();
                 // this.getfiles();
                  window.getApp.$emit(
                    "APP_API_SUCCESS",
                    "File Uploaded Successfully"
                  );
                })
                .catch((error) => {
                  this.attachloaders = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            } else {
              this.uploadedAttachment.append("file", file, FileName);
            }
          } else {
            window.getApp.$emit(
              "APP_API_VAL",
              file.name + " - File size exceeded " + allowsize + "MB"
            );
          }
        }
      }
    },
    getfiles() {
      this.calendarLineLinkDocuments = [];
      if (this.editedItem.sessionId != null) {
        getCompanyCalendarLineLinkDocuments(
          this.editedItem.sessionId,
          this.userId
        )
          .then((response1) => {
            this.calendarLineLinkDocuments = response1.data;
          })
          .catch(() => {});
      }
    },
    loadLinksList() {
      this.linkLoader = true;
      getCompanyCalendarLineLink(this.companyCalendarLineId)
        .then((response1) => {
          this.gridItems = response1.data;
          this.linkLoader = false;
        })
        .catch(() => {
          this.linkLoader = false;
        });
    },
    loadDropDownList() {
      this.linkLoader = true;
      getNotesUsers(this.companyCalendarLineId)
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            this.linkLoader = false;
            let userExits = this.userItems.filter(
              (o) => o.userID == this.userId
            );
            if (userExits.length > 0) {
              this.showAddNotes = true;
            }
            this.loadLinksList();
          }
        })
        .catch(() => {
          this.linkLoader = false;
        });
    },
    editItem(item) {
      this.loadDropDownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);

      this.dialog = true;
      //this.getfiles();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    removeRestrictUsers(item) {
      const index = this.editedItem.restrictUserIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.restrictUserIds.splice(index, 1);
    },
    selectRestrictUsers() {
      this.searchRestrictUsers = "";
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.linkLoader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteCompanyCalendarLineLink(this.selectedItem)
        .then(() => {
          this.linkLoader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(() => {
          this.linkLoader = false;
        });
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    linkinput(item) {
      var validate =
        /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/gi;
      if (item != "") {
        if (!validate.test(item)) {
          window.getApp.$emit(
            "APP_API_ERROR",
            "Please Enter the valid URL link"
          );
          this.editedItem.urlLink = "";
        }
      }
    },
    viewLink(item) {
      if (this.showAddNotes == true) {
        if (this.userId != undefined && this.userId != null) {
          let userExits = item.restrictUserIds.includes(parseInt(this.userId));
          if (userExits == false) {
            var validate =
              /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/gi;
            if (validate.test(item.urlLink)) {
              window.open(item.urlLink, "_blank");
            } else {
              window.getApp.$emit("APP_API_ERROR", "Invalid URL link");
            }
          }
        }
      }
    },
    clicklinkComment() {
      var validate =
        /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/gi;
      if (validate.test(this.editedItem.urlLink)) {
        window.open(this.editedItem.urlLink, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
        this.editedItem.urlLink = "";
      }
    },
    add() {
      this.loadDropDownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      console.log(this.editedItem);
      this.calendarLineLinkDocuments = [];
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    uploadDocu(sessionId) {
      uploadCalandarLinkAllDocuments(this.uploadedAttachment,this.userId,sessionId)
        .then(() => {
          this.uploadedAttachment = new FormData();
          this.getfiles();
          window.getApp.$emit("APP_API_SUCCESS", "File Uploaded Successfully");
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.form.validate()) {
        this.editedItem.companyCalendarLineId = this.companyCalendarLineId;
        this.linkLoader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserID = this.userId;
          this.editedItem.addedDate = new Date();
          updateCompanyCalendarLineLinks(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.editedItem.sessionId = response.data.sessionId;
              this.linkLoader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch(() => {
              this.linkLoader = false;
            });
        } else {
          this.editedItem.AddedByUserID = this.userId;
          this.editedItem.AddedDate = new Date();
          this.editedItem.StatusCodeID = 1;
          createCompanyCalendarLineLink(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.linkLoader = false;
              this.editedItem.companyCalendarLineLinkId =
                response.data.companyCalendarLineLinkId;
              this.editedItem.sessionId = response.data.sessionId;
              let index = this.gridItems
                .map((item) => item.companyCalendarLineLinkId)
                .indexOf(response.data.companyCalendarLineLinkId);
              this.editedIndex = index;
              //this.uploadDocu(this.editedItem.sessionId);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch(() => {
              this.linkLoader = false;
            });
        }
      }
    },
  },
};
</script>