<template>
  <div>
    <v-toolbar dark color="primary">
      <v-toolbar-title>Parent Documents</v-toolbar-title>

      <v-spacer></v-spacer>
      <v-dialog v-model="parentLinkDocumentDialog" max-width="1200px">
        <document-link
          ref="refDocumentlink"
          :closeMethod="closelinkDocument"
        ></document-link>
      </v-dialog>
      <v-dialog v-model="notifydialog" max-width="1250px">
        <notify-document
          ref="refnotifydocument"
          :closeMethod="closeNotify"
        ></notify-document>
      </v-dialog>
      <v-dialog v-model="playViewer" fullscreen>
        <v-card>
          <v-toolbar dark color="primary">
            <!--  <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn> -->
            <v-spacer></v-spacer>

            <v-btn icon @click.native="playerViewerClose">
              <v-icon color="white">mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <div style="overflow: auto; height: calc(70vh - 50px)">
              <v-layout wrap>
                <v-flex xs12 sm12>
                  <video
                    ref="myvideo"
                    :id="videoId"
                    width="100%"
                    height="60%"
                    controls
                  />
                </v-flex>
              </v-layout>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-dialog v-model="fileViewer" fullscreen>
        <v-card>
          <v-toolbar dark color="primary">
            <v-btn icon @click.native="downloadViewFile">
              <v-icon color="white">mdi-cloud-download</v-icon>
            </v-btn>
            <v-spacer></v-spacer>

            <v-btn icon @click.native="fileViewer = false">
              <v-icon color="white">mdi-close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12 sm12 v-show="showAll">
                <iframe
                  name="openPdfIframeLink"
                  v-if="!loadHtml && !loadImage"
                  width="100%"
                  style="overflow: auto; height: calc(98vh - 100px)"
                  :src="fileContent"
                ></iframe>

                <div
                  v-if="loadHtml"
                  v-html="fileContent"
                  style="overflow: auto; height: calc(98vh - 100px)"
                ></div>

                <img
                  v-if="loadImage"
                  :src="fileContent"
                  style="overflow: auto; height: calc(98vh - 100px)"
                />

                <!-- <object :data="fileContent" :type="viewedFile.contentType">
<iframe src="https://docs.google.com/viewer?&embedded=true"></iframe>
</object>  -->
              </v-flex>
              <v-flex xs12 sm12 v-show="showExcel">
                <xlsx ref="refxlsx"></xlsx>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-dialog v-model="dialog" max-width="600px">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="closeMethod">
                <v-icon color="white">mdi-reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">mdi-close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">mdi-close</v-icon>
      </v-btn>
    </v-toolbar>

    <app-section-loader :status="attachloaders"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <v-text-field
            v-model="search"
            prepend-icon="mdi-magnify"
            label="Search"
            clearable
            single-line
            hide-details
          ></v-text-field>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="headers"
                :search="search"
                :items="documentLinkItems"
                class="elevation-0"
                hide-default-footer
              >
                <template v-slot:[`item.addedDate`]="{ item }">
                  {{ item.addedDate | formatDate }}
                </template>
                <template v-slot:[`item.fullPath`]="{ item }">
                  <a @click="openFileProfile(item)">{{ item.fullPath }} </a>
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-menu bottom left>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(itemdata, i) in items"
                        :key="i"
                        @click="menuClick(i, item)"
                        ripple="ripple"
                        :target="itemdata.target"
                        :disabled="menudisabled(itemdata, item)"
                        rel="noopener"
                      >
                        <v-list-item-action>
                          <v-icon>{{ itemdata.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-title>{{
                          itemdata.title
                        }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import Xlsx from "@/xlsx";
import GlobalMessage from "@/constant";
import DocumentLink from "@/components/parentlinkdocument";
import NotifyDocument from "@/components/notifyDocuments";
import {
  downloadFiles,
  viewFile,
  downloadFileDoc,
  getParentDocumentsByLinkDocumentId,
  createDocumentLink,
  updateDocumentLink,
} from "@/api/calenderEvent";

export default {
  components: { DocumentLink, NotifyDocument, Xlsx },
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },

    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showAddNotes: {
      type: Boolean,
      default: true,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },
    isHeaderImage: {
      type: Boolean,
      default: false,
    },
    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    isAddFlag: true,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    folderPathsearch: null,
    loader: false,
    gridloader: false,
    search: "",
    link: "",
    dialog: false,
    notifydialog: false,
    parentLinkDocumentDialog: false,
    attachdialog: false,
    screenId: "",
    folderPathItems: [],
    documentLinkItems: [],
    docItems: [],
    isSelected: false,
    totalRows: 0,
    searchmenu: false,
    isOpenPagingList: false,
    fromMonthMenu: false,
    toMonthMenu: false,
    isCreateDocument: false,
    isexpiryDate: false,
    isexpiryDateEnabled: false,
    isRead: false,
    showAll: true,
    showExcel: false,
    selected: "user",
    isMultiple: true,
    mouseover: false,
    notifyItems: [],
    isAttachmethod: true,
    viewedFile: null,
    loadHtml: false,
    addnotifydialog: false,
    fileProfileTypes: [],
    documentTypes: [],
    fileContent: null,
    documentId: null,
    fileViewer: false,
    loadImage: false,
    playViewer: false,

    sessionID: null,
    sessionId: null,
    folderID: null,
    documentPath: "",
    fileProfileTypeId: null,

    searchData: { id: null, searchString: "", userId: null },
    editedItem: {
      valid: false,
      documentLinkId: -1,
      documentId: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      linkDocumentId: null,
      documentPath: "",
      fileProfieTypeId: null,
      folderId: null,
      modifiedByUserID: null,
      modifiedDate: new Date(),
      isSelected: false,
    },
    defaultItem: {
      valid: false,
      documentLinkId: -1,
      documentId: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      linkDocumentId: null,
      documentPath: "",
      fileProfieTypeId: null,
      folderId: null,
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    searchDocument: {
      fromMonth: null,
      toMonth: null,
      fileProfileTypeId: null,
      contentType: null,
      fileName: null,
      action: "File Profile",
      folderId: null,
      id: null,
      searchString: "",
      userId: null,
    },
    userId: null,
    items: [
      {
        icon: "mdi-download",
        href: "#",
        title: "Download",
      },

      {
        icon: "mdi-file",
        href: "#",
        title: "View File",
      },
      {
        icon: "mdi-play",
        href: "#",
        title: "Play",
      },
      {
        icon: "mdi-link",
        href: "#",
        title: "Link Documents",
      },
      {
        icon: "mdi-account",
        href: "#",
        title: "Notify",
      },
    ],
    attachloaders: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    docrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    docpagination: {
      rowsPerPage: 10,
    },
    filterFields: [
      "FileName",
      "FileProfileTypeName",
      "ProfileNo",
      "AddedByUser.UserName",
      "CloseStatus",
    ],
    uploadAttachmentDocuments: [],
    headers: [
      {
        text: "Parent document Name",
        align: "left",
        value: "documentName",
      },

      {
        text: "Link From",
        align: "left",
        value: "documentPath",
      },
      {
        text: "Document Path",
        align: "left",
        value: "fullPath",
      },

      {
        text: "Link Created By",
        value: "addedByUser",
        align: "left",
      },
      {
        text: "Added Date",
        value: "addedDate",
        align: "left",
      },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
    docDirectoryheaders: [
      { text: "Action", value: "action", sortable: false, align: "left" },
      {
        text: "File Name",
        align: "left",
        value: "fileName",
      },
      {
        text: "File Path",
        align: "left",
        value: "documentPath",
        sortable: false,
      },
      {
        text: "Profile No",
        align: "left",
        value: "profileNo",
      },

      { text: "Size(KB)", value: "fileSize" },

      { text: "Added By", value: "addedByUser" },
      { text: "Added Date", value: "addedDate" },
    ],
  }),
  computed: {
    videoId: function () {
      return "video_" + (Math.floor(Math.random() * (10 - 1 + 1)) + 1);
    },
  },
  created() {
    //this.getDocuments();
    // this.getDocumentDirectory();
  },
  methods: {
    refreshMethod() {
      this.getDocuments();
    },
    playVideo(file) {
      console.log("file sessionid" + file.sessionId);
      let fileName = file.sessionId + "." + file.fileName.split(".").pop();
      let routeData = this.$router.resolve({
        name: "video",
        query: { path: fileName },
      });
      window.open(routeData.href, "_blank");
    },
    playerViewerClose() {
      var x = document.getElementById(this.videoId);
      x.pause();
      document.getElementById(this.videoId).removeAttribute("src");
      this.playViewer = false;
    },
    downloadViewFile() {
      this.downloadAttachment(this.viewedFile);
    },

    downloadAttachment(file) {
      console.log("download file" + JSON.stringify(file));
      this.loader = true;
      this.searchData.id = file.documentId;
      this.searchData.searchString = "Document";
      this.searchData.userId = this.userId;
      console.log("Search Data", this.searchData, file);
      downloadFiles(this.searchData)
        .then((response) => {
          console.log(response.data);
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.documentName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    logContent(item) {
      console.log("item log content " + JSON.stringify(item));
      item.fileName = item.documentName;
      item.documentID = item.documentId;
      this.viewedFile = item;
      console.log("viewed file" + JSON.stringify(this.viewedFile));
      this.fileContent = null;
      this.loadHtml = false;
      this.loadImage = false;
      this.showAll = true;
      this.showExcel = false;
      if (item.isMobileUpload == true) {
        this.isViewFile = true;
        this.fileContent = GlobalMessage.APPUpload + item.fileName;
      } else if (
        item.contentType == "application/vnd.ms-excel" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      ) {
        this.showAll = false;
        this.showExcel = true;
        this.$refs.refxlsx.selectedSheet = null;
        this.$refs.refxlsx.showGrid = false;
        this.$refs.refxlsx.downloadAttachment(item);
      } else if (item.contentType == "application/pdf") {
        this.viewPdf(item);
      } else if (
        item.contentType == "application/msword" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.presentationml.presentation"
      ) {
        this.loadHtml = true;
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        //this.convertDocToPdf(item);
      } else {
        if (item.contentType.includes("image")) {
          this.loadImage = true;
        }

        if (
          item.contentType == "application/pdf" ||
          item.contentType == "text/plain"
        ) {
          this.loadHtml = false;
        } else {
          if (!item.contentType.includes("image")) {
            this.loadHtml = true;
          }
        }
        //item.documentID = item.linkDocumentId;
        console.log("view item word file" + JSON.stringify(item));
        if (item.type == "" || item.type == null) {
          item.type = "Document";
        }

        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
            console.log(
              "file content link doc view" + JSON.stringify(this.fileContent)
            );
            console.log(
              "file content link response data view" +
                JSON.stringify(response.data)
            );
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    openFileProfile(item) {
      var parentId =
        item.parentId == null
          ? item.fileProfieTypeId
          : item.fileProfileTypeParentId;
      let url =
        GlobalMessage.BASE_URL +
        "DMS/fileProfileTypeDocTree?fileProfileTypeId=" +
        item.fileProfieTypeId +
        "&mainfileProfileTypeId=" +
        parentId;
      var validate =
        /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/gi;
      if (validate.test(url)) {
        window.open(url, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    convertDocToPdf(item) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframeLink");
      downloadFileDoc(item)
        .then((response) => {
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.fileName;
          window.open(link.href, "openPdfIframeLink");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    viewPdf(file) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframeLink");
      console.log("download view pdf file" + JSON.stringify(file));
      this.attachloaders = true;
      this.searchData.id = file.documentId;
      this.searchData.searchString = "Document";
      this.searchData.userId = this.userId;
      file.lockedByUserId = this.userId;
      downloadFiles(this.searchData)
        .then((response) => {
          console.log("link pdf response" + JSON.stringify(response.data));
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.linkDocumentName;
          window.open(link.href, "openPdfIframeLink");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key == 0) {
        this.downloadAttachment(item);
      } else if (key == 1) {
        this.fileViewer = true;
        this.logContent(item);
      } else if (key == 2) {
        var videoType = item.contentType.includes("video");
        if (videoType == true) {
          item.documentID = item.documentId;
          item.fileName = item.documentName;
          this.playVideo(item);
        }
      } else if (key == 3) {
        this.linkDocuments(item);
      } else if (key == 4) {
        console.log("notify click item" + JSON.stringify(item));

        this.notifydialog = true;

        setTimeout(() => {
          this.$refs.refnotifydocument.documentId = item.documentId;
          this.$refs.refnotifydocument.getNotify();
        }, 500);
      }
    },

    menudisabled(menu, item) {
      if (menu.title == "Download") {
        if (item.isLocked) {
          return true;
        }
        //return !this.isRead;
      }
      if (menu.title == "View File") {
        var videoType = item.contentType.includes("video");
        if (videoType == true) {
          return true;
        }
      }

      if (menu.title == "Play") {
        var videoTypes = item.contentType.includes("video");
        if (videoTypes == true) {
          return false;
        } else {
          return true;
        }
      }
    },
    linkDocuments(item) {
      this.parentLinkDocumentDialog = true;
      setTimeout(() => {
        this.$refs.refDocumentlink.userId = this.userId;
        this.$refs.refDocumentlink.documentId = item.documentId;
        this.$refs.refDocumentlink.fileProfileTypeId = item.filterProfileTypeId;
        this.$refs.refDocumentlink.getDocuments();
      }, 500);
    },
    getDocuments() {
      this.attachloaders = true;

      let id = this.documentId;
      if (id > 0) {
        getParentDocumentsByLinkDocumentId(id)
          .then((response) => {
            this.attachloaders = false;
            // console.log("Files Response", response.data);
            if (response.data != undefined) {
              this.documentLinkItems = response.data;
            }
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    
    closeNotify() {
      this.notifydialog = false;
    },
    add() {
     
      this.searchDocument.toMonth = null;
      this.searchDocument.fileName = null;
       this.searchDocument.fileProfileTypeId = null;
      this.searchDocument.contentType = null;
      this.searchDocument.fromMonth = null;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.isSelected = false;
    },
    uploadAttachment() {
      this.attachdialog = true;
      this.isMultiple = true;
    },

    saveAndClose() {
      this.save();
      this.close();
    },
    closelinkDocument() {
      this.parentLinkDocumentDialog = false;
    },

    close() {
      this.dialog = false;
    },

    save() {
      if (this.$refs.itemform.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        this.editedItem.documentId = this.documentId;

        if (this.editedItem.documentLinkId > 0) {
          Object.assign(
            this.documentLinkItems[this.editedIndex],
            this.editedItem
          );
          this.editedItem.modifiedByUserID = this.userId;
          this.editedItem.modifiedDate = new Date();

          updateDocumentLink(this.editedItem)
            .then((response) => {
              Object.assign(this.documentLinkItems[index], response.data);

              this.loader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.getDocuments();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.userId;
          createDocumentLink(this.editedItem)
            .then((response) => {
              this.loader = false;
              if (response != undefined) {
                this.documentLinkItems.push(response.data);

                this.editedItem = response.data;

                let index = this.documentLinkItems
                  .map((item) => item.documentLinkId)
                  .indexOf(response.data.documentLinkId);
                this.editedIndex = index;

                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
  },
};
</script>
