<template>
  <div id="page-forms">
    <v-tabs color="transparent" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="#tab-1" color="white">
        Item List Require To Borrow 
        <v-icon>fa-sticky-note</v-icon>
      </v-tab>
      <v-tab key="#tab-2" color="white">
        Return Items
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tabs-items>
        <v-tab-item key="#tab-1">
          <v-card flat>
            <require-to-borrow ref="refrequiretoborrow"></require-to-borrow>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-2">
          <v-card flat>
            <return-items ref="refreturnitems"></return-items>
          </v-card>
        </v-tab-item>
        
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
 <script>
import RequireToBorrow from "@/pages/SalesOrders/BorrowItems/requireToBorrow";
import ReturnItems from "@/pages/SalesOrders/BorrowItems/returnItems";

export default {
  components: {
    RequireToBorrow,
    ReturnItems,
  },

  data: () => ({
    
    
    valid: true,
    loader: false,
   
  }),
  mounted() {
  },
  created() {
    this.initialize();
  },
  methods: {
    
    initialize() {
      
    },
   
  }
};
</script>