<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="BorrowItemsFromDistributor.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add()">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
               :loading="saveloader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="saveloader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator"  :disabled="editedItem.salesBorrowHeaderId < 0" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create Borrow Items From Distributor</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.salesBorrowHeaderId < 0" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.salesBorrowHeaderId < 0" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.salesBorrowHeaderId < 0" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.salesBorrowHeaderId < 0" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.salesBorrowHeaderId < 0" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="borrowform" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      hint="Atleast 3 Characters required"
                      v-model="editedItem.onBehalfId"
                      label="Request On Behalf"
                      prepend-icon="person"
                      :search-input.sync="searchUser"
                      :items="userItems"
                       required
                      :rules="onBehalfRules"
                      flat
                      chips
                      auto
                      placeholder="Select only suggested Employee"
                      color="blue"
                      item-text="name"
                      item-value="userID"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected">{{ data.item.nickName }}</v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Borrow From"
                      prepend-icon="description"
                      v-model="editedItem.borrowFromId"
                      :items="borrowFromItems"
                      item-text="companyListingName"
                      item-value="companyListingID"
                       required
                      :rules="borrowRules"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Intend Customer To Send"
                      prepend-icon="description"
                      v-model="editedItem.customerToSendId"
                      :items="intendCustomerItems"
                      item-text="companyListingName"
                      item-value="companyListingID"
                       required
                      :rules="customersendRules"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="editedItem.purposeOfBorrow"
                      label="Purpose Of Borrow"
                      prepend-icon="description"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-radio-group
                      v-model="isgoodsReturn"
                      @change="selectIsGoodsReturn"
                      row
                      label="Will The Goods Return To Sunward"
                    >
                      <v-radio color="primary" label="Yes" value="true"></v-radio>
                      <v-radio color="primary" label="No" value="false"></v-radio>
                    </v-radio-group>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <require-to-borrow ref="refrequiretoborrow"></require-to-borrow>
          </div>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
             :loading="saveloader"
              @click.native="save"
            >save</v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
       :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="gridloader"     
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <!--  <td class="text-xs-left">{{ props.item.salesBorrowHeaderId }}</td> -->
        <td class="text-xs-left">{{ props.item.onBehalf}}</td>
        <td class="text-xs-left">{{ props.item.borrowFrom }}</td>
        <td class="text-xs-left">{{ props.item.customerToSend }}</td>
         <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate |formatDate }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
           @click="loadPagingData"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getCompanyListings } from "@/api/companyListing";
import { getContractNoSearch } from "@/api/salesOrderEntry";
import {
  getSalesBorrowHeaders,
  getSalesBorrowHeader,
  createSalesBorrowHeader,
  updateSalesBorrowHeader,
  deleteSalesBorrowHeader,
  getSalesBorrowLinesByID,
  createSalesBorrowLine,
  updateSalesBorrowLine,
  deleteSalesBorrowLine,
  getDistributorCompanyListingByName
} from "@/api/salesborrowHeader";
import moment from "moment";
import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import { getApplicationUsers } from "@/api/employee";
import RequireToBorrow from "@/pages/SalesOrders/BorrowItems/requireToBorrow";
//import BorrowLinesTab from "@/pages/SalesOrders/BorrowItems/borrowlinesTab";

export default {
  components: { RequireToBorrow },
  data: () => ({
    dialog: false,
     gridloader: false,
     totalRows: 0,
    loader: false,
    saveloader: false,
    search: "",

    borrowFromItems: [],
    intendCustomerItems: [],
    userItems: [],
    searchUser: "",
    isgoodsReturn: "false",
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "Close", value: 2 }
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
     filterFields: [
       "OnBehalf.UserName",       
        "BorrowFrom.CompanyName",  
        "CustomerToSend.CompanyName",    
        "StatusCode.CodeValue",
      "AddedByUser.UserName",
      "ModifiedByUser.UserName",
    ],
    headers: [
      {
        text: "Request On Behalf",
        value: "onBehalf",
        align: "left"
      },

      {
        text: "Borrow From",
        value: "borrowFrom",
        align: "left"
      },

      { text: "Customer To Send", value: "customerToSend", align: "left" },
       { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Action", value: "Action", align: "left" }
    ],
    contractNoItems: [],
    json_fields: {
      "Request On Behalf": "onBehalf",
      "Borrow From": "borrowFrom",
      "Customer To Send": "customerToSend",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate"
    },
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    editedItem: {
      valid: false,
      salesBorrowHeaderId: -1,
      onBehalfId: null,
      borrowFromId: null,
      customerToSendId: null,
      purposeOfBorrow: "",
      isReturn: false,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      salesBorrowHeaderId: -1,
      onBehalfId: null,
      borrowFromId: null,
      customerToSendId: null,
      purposeOfBorrow: "",
      isReturn: false,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    searchItem: { action: "", id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Borrow Items From Distributor"
        : "Edit Borrow Items From Distributor";
    },
     onBehalfRules() {
        return [
          () =>
            !!this.editedItem.onBehalfId > 0 ||
            "Atleast one onbehalf must be selected",
          v => !!v || "This is required field"
        ];
      },
       borrowRules() {
        return [
          () =>
            !!this.editedItem.borrowFromId > 0 ||
            "Atleast one Borrow from must be selected",
          v => !!v || "This is required field"
        ];
      },
       customersendRules() {
        return [
          () =>
            !!this.editedItem.customerToSendId > 0 ||
            "Atleast one Customer Send must be selected",
          v => !!v || "This is required field"
        ];
      },
       loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  // watch: {
  //   dialog (val) {
  //     val || this.close();
  //   }
  // },

  created() {
    this.initialize();
  },
   mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;   
  },
  methods: {
    initialize() {
      this.loader = true;
      getApplicationUsers("")
        .then(response => {
          this.loader = false;
          this.userItems = response.data.filter(o => o.statusCodeID == 1);
          console.log("user Items" + JSON.stringify(this.userItems));
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
         getDistributorCompanyListingByName("")
        .then(response => {
          this.borrowFromItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
         getCompanyListings("")
        .then(response => {
          this.intendCustomerItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      // getSalesBorrowHeaders("")
      //   .then(response => {
      //     this.gridItems = response.data;
      //     this.loader = false;
      //   })
      //   .catch(error => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
    },
  
   
    clearableregistrationDateOfExpiry2() {
      this.editedItem.effectiveMonth = null;
    },

    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    editItem(item) {
      
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
       this.$refs.refrequiretoborrow.salesBorrowHeaderId = this.editedItem.salesBorrowHeaderId;
        this.$refs.refrequiretoborrow.enableAddButton = false;
        this.$refs.refrequiretoborrow.initialize();
        this.$refs.refrequiretoborrow.loadDropDown();
         if (this.editedItem.isReturn == true) {
        this.isgoodsReturn = "true";
      }
      if (this.editedItem.isReturn == false) {
        this.isgoodsReturn = "false";
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.editedItem);
      deleteSalesBorrowHeader(this.editedItem)
        .then(response => {
             this.loader = false;
             if(response!=undefined)
             {
          this.add();
         
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
             }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getSalesBorrowHeader(this.searchItem)
        .then(response => {
          if (response.data.salesBorrowHeaderId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.salesBorrowHeaderId)
              .indexOf(response.data.salesBorrowHeaderId);
            this.editedIndex = index;
             this.$refs.refrequiretoborrow.salesBorrowHeaderId = this.editedItem.salesBorrowHeaderId;
        this.$refs.refrequiretoborrow.enableAddButton = false;
        
         this.$refs.refrequiretoborrow.loadDropDown();
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.id = this.editedItem.salesBorrowHeaderId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.id = this.editedItem.salesBorrowHeaderId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.id = this.editedItem.salesBorrowHeaderId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.id = this.editedItem.salesBorrowHeaderId;
      this.toolfunction();
    },
    add() {
      
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
       this.$refs.refrequiretoborrow.salesBorrowHeaderId = -1;
      this.$refs.refrequiretoborrow.enableAddButton = true;
      this.$refs.refrequiretoborrow.gridItems = [];
    },
      getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "SalesBorrowHeaderId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetSalesBorrowHeader";     
      this.gridloader = true;
       search.pageCount = 1;
      this.pagination.page = 1;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;    
      if (args.sortBy == "onBehalf") {
        search.sortCol = "OnBehalf.UserName";
      }  else if (args.sortBy == "borrowFrom") {
        search.sortCol = "BorrowFrom.CompanyName";
      } else if (args.sortBy == "customerToSend") {
        search.sortCol = "CustomerToSend.CompanyName";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
        }else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetSalesBorrowHeader";
      console.log("Pagination", args);     
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectIsGoodsReturn() {
      if (this.isgoodsReturn == "true") {
        this.editedItem.isReturn = true;
      }
      if (this.isgoodsReturn == "false") {
        this.editedItem.isReturn = false;
      }
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteSalesBorrowHeader(this.editedItem)
        .then(response => {
            if(response!=undefined)
            {
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.borrowform.validate()) {
        this.loader = true;
        this.saveloader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
             this.saveloader = true;
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
         
          updateSalesBorrowHeader(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              this.saveloader = false;
               this.$refs.refrequiretoborrow.salesBorrowHeaderId = this.editedItem.salesBorrowHeaderId;
        this.$refs.refrequiretoborrow.enableAddButton = false;
        
         this.$refs.refrequiretoborrow.loadDropDown();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch(error => {
              this.loader = false;
               this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
             this.saveloader = true;
          this.editedItem.addedByUserID = this.$store.state.auth.userId;        
          createSalesBorrowHeader(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.salesBorrowHeaderId = response.data.salesBorrowHeaderId;
              this.editedItem = response.data;
               this.saveloader = false;
              let index = this.gridItems
                .map(item => item.salesBorrowHeaderId)
                .indexOf(response.data.salesBorrowHeaderId);
              this.editedIndex = index;
               this.$refs.refrequiretoborrow.salesBorrowHeaderId = this.editedItem.salesBorrowHeaderId;
        this.$refs.refrequiretoborrow.enableAddButton = false;
       
         this.$refs.refrequiretoborrow.loadDropDown();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch(error => {
              this.loader = false;
               this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
      else
      {
          window.getApp.$emit('APP_API_VAL', GlobalMessage.VALIDATE);
      }
    }
  }
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>   