<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="tasks.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-btn slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Portfolio</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <vue-perfect-scrollbar class="Portfolio--scrollbar">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs6 sm6>
                    <v-text-field
                      :value="editedItem.addedDate | formatDate"
                      label="Date"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-text-field
                      v-model="editedItem.addedByUser"
                      label="Upload By"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-select
                      label="Company"
                      v-model="editedItem.companyId"
                      prepend-icon="apartment"
                      name="companyselect"
                      item-text="plantCode"
                      item-value="plantID"
                      :items="companies"
                      @change="getEmployeeItems"
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Staff Name"
                      prepend-icon="assistant"
                      :items="userItems"
                      v-model="editedItem.onBehalfIds"
                      color="blue"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="searchuser"
                      @change="onUserChange"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removePrintUsers(data.item)"
                          >{{ data.item.name }}</v-chip
                        >
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content
                            v-text="data.item"
                          ></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title
                              v-html="data.item.name"
                            ></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :loading="loader"
                      label="Type of Portfolio"
                      prepend-icon="notes"
                      v-model="editedItem.portfolioTypeId"
                      :items="portfolioTypeIytems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      chips
                      flat
                    >
                    </v-autocomplete>
                  </v-flex>

                  <v-flex xs6 sm6>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-layout row wrap>
              <span>
                <h3>Portfolio Line</h3>
              </span>
            </v-layout>
            <v-card-text>
              <Portfolioline ref="refPortfolioline"></Portfolioline>
            </v-card-text>
            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete This Item Permanently?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </vue-perfect-scrollbar>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"
      :search="search"
      :rows-per-page-items="rowsPerPageItems"
      :loading="gridloader"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.companyName }}</td>
        <td class="text-xs-left">{{ props.item.onBehalfUser }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.modifiedDate | formatDate }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
//import UploadButton from "vuetify-upload-button";
//import { uploadDocuments, downloadFile } from "@/api/document";
import { isValidFunction } from "@/api/checkPermission";
import {
  getACEntries,
  getPortfolio,
  getPortfolioData,
  createPortfolio,
  updatePortfolio,
  deletePortfolio,
} from "@/api/portfolio";
import Portfolioline from "@/pages/portfolio/portfolioLine.vue";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import { getApplicationUsers, getUserGroups } from "@/api/userGroup";
import GlobalMessage from "@/constant";
import moment from "moment";
import { getPlants } from "@/api/nav";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import auditLog from "@/components/auditLog/auditLog";
import { getEmployeesByCompany } from "@/api/employee";
export default {
  components: {
    //  "upload-btn": UploadButton,
    Portfolioline,
    auditLog,
  },
  data: () => ({
    uploadbtn: true,
    formId: "MAS9030",
    totalRows: 0,
    sessionId: null,
    searchuser: "",
    screenID: "MAS9030",
    portfolioId: -1,
    companies: [],
    userItems: [],
    employeeItems: [],
    auditdialog: false,
    dialog: false,
    loader: false,
    gridloader: false,
    search: "",
    customerItems: [],
    itemList: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],

    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    files: new FormData(),

    headers: [
      { text: "Company", value: "companyName", align: "left" },
      { text: "Staff Name", value: "onBehalfUser", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],

    json_fields: {
      
      Company: "companyName",
      "Staff Name": "onBehalfUser",
      Version: "version",
      Remark: "remark",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
    gridItems: [],
    editedIndex: -1,
    uploadFile: false,
    portfolioTypeIytems: [],
    uploadedFiles: [],
    uploadedfileNames: [],
    showdownload: false,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      portfolioId: -1,
      onBehalfId: null,
      onBehalfIds: [],
      portfolioTypeId: null,
      nameRules: [(v) => !!v || "Name is required"],
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      valid: false,
      portfolioId: -1,
      onBehalfId: null,
      onBehalfIds: [],
      portfolioTypeId: null,
      nameRules: [(v) => !!v || "Name is required"],
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Portfolio" : "Edit Portfolio";
    },
  },

  created() {
    this.initialize();
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    initialize() {
      //this.uploadedFiles = [];
      this.loader = true;
      getPortfolio("")
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants()
        .then((response) => {
          this.companies = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(316)
        .then((response) => {
          this.portfolioTypeIytems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      let id = this.editedItem.portfolioId;

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    formatDate(date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join("-");
    },
    removePrintUsers(item) {
      const index = this.editedItem.onBehalfIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.onBehalfIds.splice(index, 1);
    },
    editItem(item) {
      this.uploadedfileNames = [];
      let name = item.fileName;
      if (name != null) {
        this.uploadedfileNames.push(name);
      }
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      let id = this.editedItem.portfolioId;
      this.sessionId = this.editedItem.sessionId;
      this.portfolioId = this.editedItem.portfolioId;
      this.uploadbtn = false;
      this.$refs.refPortfolioline.portfolioId = id;
      this.$refs.refPortfolioline.enableAddButton = false;
      this.getEmployeeItems(this.editedItem.companyId);
      this.$refs.refPortfolioline.getPortfolioLine();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deletePortfolio(this.selectedItem)
        .then((response) => {
          this.loader = false;
          this.selectedItem = null;
          if (response != null) {
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          // window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    //

    // closeattach() {
    //   this.attachdialog = false;
    // },

    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    saveAndClose() {
      this.save();
      setTimeout(() => {
        this.close();
      }, 600);
    },
    toolfunction() {
      getPortfolioData(this.searchItem)
        .then((response) => {
          if (response.data != undefined) {
            if (response.data.portfolioId != null) {
              this.editedItem = response.data;
              this.uploadedfileNames = [];
              // this.$refs.refPortfolioline.gridItems = response.data.portfoliolines;
              let name = response.data.fileName;
              if (name != null) {
                this.uploadedfileNames.push(name);
              }
              let index = this.gridItems
                .map((item) => item.portfolioId)
                .indexOf(response.data.portfolioId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.portfolioId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.portfolioId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.portfolioId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.portfolioId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    getEmployeeItems(value) {
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.plantId == value);
            this.userItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    add() {
      this.$refs.refPortfolioline.enableAddButton = true;
      this.editedItem.valid = false;
      //this.uploadbtn = true;

      this.editedItem.portfolioId = -1;
      this.editedItem.sessionID = "";
      this.editedItem.addedByUserID = this.$store.state.auth.userId;

      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
      this.editedItem.Portfoliolines = [];
      this.$refs.refPortfolioline.gridItems = [];
      this.employeeItems = [];
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedItem.addedByUser = this.$store.state.auth.userName;
    },
    onUserChange() {
      this.searchuser = "";
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deletePortfolio(this.editedItem)
        .then((response) => {
          this.add();
          if (response != undefined) {
            this.gridItems.splice(index, 1);
            // this.loadPagingData();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      //this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 600);
    },
    save() {
      //To display Drop Down Values in the Grid Immediately

      if (this.editedIndex > -1) {
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;

        updatePortfolio(this.editedItem)
          .then((response2) => {
            this.loader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.editedItem.sessionID = "";
            this.uploadedFiles = [];
            this.editedItem.sessionId = response2.data.sessionId;
            //this.add();
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.portfolioId = parseInt(Math.random() * 100) + 1024; // mock a id
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        createPortfolio(this.editedItem)
          .then((response2) => {
            this.gridItems.push(response2.data);
            this.loader = false;
            let index = this.gridItems
              .map((item) => item.portfolioId)
              .indexOf(response2.data.portfolioId);
            this.editedIndex = index;
            this.editedItem.sessionID = "";

            this.sessionId = response2.data.sessionId;
            this.editedItem.sessionId = response2.data.sessionId;
            this.portfolioId = response2.data.portfolioId;
            this.uploadbtn = false;

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            this.$refs.refPortfolioline.portfolioId =
              response2.data.portfolioId;
            this.$refs.refPortfolioline.enableAddButton = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loader = false;
      }
    },

    companySelected() {
      console.log(this.customerItems);
    },
    auditLog() {
      this.$refs.refAuditLog.tableName = "Portfolio";
      this.$refs.refAuditLog.primaryKeyValue = this.editedItem.portfolioId;
      this.$refs.refAuditLog.displayColumns = [
        "FromDate",
        "ToDate",
        "CustomerId",
      ];
      this.$refs.refAuditLog.getAuditLog();
      this.auditdialog = true;
    },

    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
<style lang="stylus" scoped>.Portfolio--scrollbar {
  height: calc(100vh - 60px);
}
</style>