<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :nudge-right="40"
          :close-on-content-click="false"
          lazy
          v-model="searchmenu"
          transition="scale-transition"
          offset-y
          full-width
          min-width="140px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>

          <v-card>
            <v-layout row wrap>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Search and Filter</v-toolbar-title>
              </v-toolbar>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Assignment"
                  prepend-icon="notes"
                  v-model="searchworkorder.assignmentId"
                  :items="assignmentItems"
                  item-text="codeValue"
                  item-value="codeID"
                  clearable
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4 v-if="searchworkorder.assignmentId == 2390">
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Navision Module"
                  prepend-icon="notes"
                  v-model="searchworkorder.navisionModuleId"
                  :items="navisionModuleItems"
                  item-text="value"
                  item-value="applicationMasterDetailId"
                  clearable
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4 v-if="searchworkorder.assignmentId == 2391">
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Module"
                  prepend-icon="notes"
                  v-model="searchworkorder.permissionID"
                  :items="moduleItems"
                  item-text="pathName"
                  item-value="permissionID"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Priority"
                  prepend-icon="notes"
                  v-model="searchworkorder.priorityId"
                  :items="priorityItems"
                  item-text="codeValue"
                  item-value="codeID"
                  clearable
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Sunward Status"
                  prepend-icon="notes"
                  v-model="searchworkorder.sunwardStatusId"
                  :items="sunwardStatusItems"
                  item-text="codeValue"
                  item-value="codeID"
                  @change="onChangeSunwardStatus"
                  clearable
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="CRT Status"
                  prepend-icon="notes"
                  v-model="searchworkorder.crtstatusId"
                  :items="crtStatusItems"
                  item-text="codeValue"
                  item-value="codeID"
                  @change="selectCrtStatus"
                  clearable
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  label="Status"
                  prepend-icon="notes"
                  v-model="searchworkorder.statusCodeID"
                  :items="statusOptions"
                  item-text="text"
                  item-value="value"
                  chips
                  clearable
                ></v-autocomplete>
              </v-flex>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="searchClick">Search</v-btn>
              <v-btn outline color="primary" @click="searchmenuClear"
                >Clear</v-btn
              >
              <v-btn outline color="primary" @click="searchmenuClose"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter combination of search queries.</span>
      </v-tooltip>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="WorkOrderLine.xls"
        :disabled="enableAddButton"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="saveAndClose"
                :loading="saveloader"
                :disabled="buttondisable"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="save"
                :loading="saveloader"
                :disabled="buttondisable"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="openCommentdialog"
                :disabled="editedItem.workOrderLineId < 0 || buttondisable"
              >
                <v-icon color="white">message</v-icon>
              </v-btn>
              <span>Work Order Comments</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-menu>
              <v-btn icon slot="activator"  :disabled="buttondisable">
                <v-icon color="white">more_vert</v-icon>
              </v-btn>

              <v-list>
                <v-list-tile
                  v-for="(item, i) in toolbarmenuitems"
                  :key="i"
                  @click="toolbarmenuClick(i, editedItem)"
                  ripple="ripple"
                  :disabled="toolbarmenudisabled(item, editedItem)"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(85vh - 78px)">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="productLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Requirement"
                      prepend-icon="notes"
                      v-model="editedItem.requirementId"
                      :items="requirementItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                     
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Priority"
                      prepend-icon="notes"
                      v-model="editedItem.priorityId"
                      :items="priorityItems"
                      item-text="codeValue"
                      item-value="codeID"
                     
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4> </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.subject"
                      label="Subject"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Sunward Status"
                      prepend-icon="notes"
                      v-model="editedItem.sunwardStatusId"
                      :items="sunwardStatusItems"
                      item-text="codeValue"
                      item-value="codeID"
                      @change="onChangeSunwardStatus"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <vue-mce
                      :config="workOrderComment"
                      v-if="isRTERender"
                      ref="workOrderSubjectEditor"
                      id="workOrderSubjectEditorid"
                      v-model="editedItem.description"
                    />
                  </v-flex>
                  <v-flex xs11 sm11>
                    <v-text-field
                      v-model="editedItem.taskLink"
                      label="Link to Task"
                      prepend-icon="description"
                      @change="linkinput"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs1 sm1>
                    <v-btn @click="tasklinkComment" icon>
                      <v-icon>visibility</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs11 sm11>
                    <v-text-field
                      v-model="editedItem.resultLink"
                      label="Result Link"
                      prepend-icon="description"
                      @change="linkinput"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs1 sm1>
                    <v-btn @click="clicklinkComment" icon>
                      <v-icon>visibility</v-icon>
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      slot="activator"
                      :value="dateFormated"
                      label="Committed By"
                      prepend-icon="event"
                      clearable
                      readonly
                    ></v-text-field>
                    <!-- <v-menu
                      ref="dateDue"
                      v-model="dateDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="dateFormated"
                        label="Committed By"
                        prepend-icon="event"
                        clearable
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.statusUpdateDate"
                        @change="dateDue = false"
                      ></v-date-picker>
                    </v-menu> -->
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="CRT Status"
                      prepend-icon="notes"
                      v-model="editedItem.crtstatusId"
                      :items="crtStatusItems"
                      item-text="codeValue"
                      item-value="codeID"
                      @change="selectCrtStatus"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="saveloader"
              :disabled="buttondisable"
              >save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-dialog v-model="workOrderCommentdialog" fullscreen>
        <v-card flat>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>Work Order Conversation</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click.native="onCloseMessage">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-text>
            <div style="overflow: auto; height: calc(90vh - 100px)">
              <work-order-comments
                ref="refworkOrdercomments"
              ></work-order-comments>
            </div>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="gridloader"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <!-- <td class="text-xs-left">
            <v-icon v-show="!props.item.isUnreadComment" small>markunread</v-icon>
            {{ props.item.workOrderType }}</td>
          <td class="text-xs-left">{{ props.item.assignmentName }}</td> -->
          <td class="text-xs-left">{{ props.item.moduleName }}</td>
          <td class="text-xs-left">{{ props.item.requirementName }}</td>
           <td class="text-xs-left">{{ props.item.profileNo }}</td>
          <td class="text-xs-left">{{ props.item.subject }}</td>
          <td class="text-xs-left">{{ props.item.priorityName }}</td>
          <td class="text-xs-left">{{ props.item.sunwardStatusName }}</td>
          <td class="text-xs-left">{{ props.item.crtStatusName }}</td>
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-menu>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>

              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :disabled="menudisabled(item, props.item)"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
       <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData()">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import attachment from "@/components/Attachment/attachments";
 import { getData } from "@/api/paggedapi";
  import search from "@/search";
import WorkOrderComments from "@/pages/WorkOrder/workOrderComment";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getPlants } from "@/api/plant";
import Util from "@/util";
import moment from "moment";
import {
  getWorkOrderLines,
  createWorkOrderLine,
  updateWorkOrderLine,
  deleteWorkOrderLine,
  getWorkOrderReport,
  getApplicationPermissionPaths,
  getWorkOrderReportById,
  getWorkOrderReportBySearch
} from "@/api/workorder";

export default {
  components: {
    attachment,
    WorkOrderComments,
  },
  data: () => ({
    dialog: false,
    requirementItems: [],
    loader: false,
    buttondisable: false,
    totalRows: 0,
    moduleItems: [],
    navisionModuleItems: [],
    gridloader: false,
    isRTERender: false,
    subloader: false,
    workOrderCommentdialog: false,
    dateDue: false,
    searchmenu: false,
    saveloader: false,
    priorityItems: [],
    sunwardStatusItems: [],
    crtStatusItems: [],
    editedIndex: -1,
    navloader: false,
    sessionId: null,
    screenID: "",
    workOrderId: null,
    searchBusinessActivity: "",
    searchbusinessCategory: "",
    search: "",
    workOrderComment: Util.tinyconfig(),
    gridItems: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    attachdialog: false,
    navItemItems: [],
    companyID: null,
    expectedDateMenu: false,
    currencyItems: [],
    enableAddButton: true,
    deliveryTypeItems: [],
    fromCompanyItems: [],
    assignmentItems: [],
    searchworkorder: {
      assignmentId: 2391,
      navisionModuleId: null,
      permissionID: null,
      statusCodeID: null,
      priorityId: null,
      sunwardStatusId: null,
      crtstatusId: null,
      profileNo: "",
      id: null,
    },
    editedItem: {
      workOrderLineId: -1,
      workOrderId: -1,
      subject: "",
      description: "",
      statusUpdateDate: new Date().toISOString().substr(0, 10),
      priorityId: null,
      sunwardStatusId: 2350,
      taskLink: "",
      resultLink: "",
      crtstatusId: 2370,
      requirementId: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
    },
    defaultItem: {
      workOrderLineId: -1,
      workOrderId: -1,
      subject: "",
      description: "",
      statusUpdateDate: new Date().toISOString().substr(0, 10),
      priorityId: null,
      sunwardStatusId: 2350,
      taskLink: "",
      resultLink: "",
      crtstatusId: 2370,
      requirementId: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      /*  {
          text: "Work Order Type",
          value: "workOrderType",
          align: "left",
        },
        {
          text: "Assignment",
          value: "assignmentName",
          align: "left",
        }, */
      { text: "Module Name", value: "moduleName", align: "left" },
      {
        text: "Requirement Name",
        value: "requirementName",
        align: "left",
      },
       { text: "Profile No", value: "profileNo", align: "left" },
      { text: "Subject", value: "subject", align: "left" },
      { text: "Priority", value: "priorityName", align: "left" },
      { text: "Sunward Status", value: "sunwardStatusName", align: "left" },
      { text: "Crt Status", value: "crtStatusName", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },

      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    items: [
      {
        icon: "visibility",
        href: "#",
        title: "View",
        click: (e) => {},
      },
      {
        icon: "thumb_up",
        href: "#",
        title: "Test Pass",
        click: (e) => {},
      },
      {
        icon: "thumb_down",
        href: "#",
        title: "Test Fail",
        click: (e) => {},
      },
      {
        icon: "close",
        href: "#",
        title: "Close",
        click: (e) => {},
      },
        {
        icon: "adjust",
        href: "#",
        title: "Copy Link",
        click: (e) => {
          // this.download();
        },
      },
    ],
    toolbarmenuitems: [
      {
        icon: "thumb_up",
        href: "#",
        title: "Test Pass",
        click: (e) => {},
      },
      {
        icon: "thumb_down",
        href: "#",
        title: "Test Fail",
        click: (e) => {},
      },
      {
        icon: "close",
        href: "#",
        title: "Close",
        click: (e) => {},
      },
    ],
    filterFields: [
      
      "RequirementName",
      "PriorityName",
      "SunwardStatus",
      "CrtStatus",
      "ProfileNo",
      "Subject",     
      "ModuleName",     
      "ModifiedByUser",
    ],
    json_fields: {
      Assignment: "assignmentName",
      "Module Name": "moduleName",
      "Requirement Name": "requirementName",
      Subject: "subject",
      Priority: "priorityName",
      "Sunward Status": "sunwardStatusName",
      "Crt Status": "crtStatusName",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Edit Work Order Report"
        : "Edit Work Order Report";
    },
    dateFormated() {
      return this.editedItem.statusUpdateDate
        ? moment(this.editedItem.statusUpdateDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    saltBaseRules() {
      return [(v) => !!v || "This is required field"];
    },
     loadPagingKey () {
    return {
      // bind to hotkey
      enter: this.loadPagingData,
    };
  },
  },
 

  mounted() {
      this.pagination.sortBy="AddedDate";
      this.pagination.descending= true;
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  created() {
     this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    this.userId = this.$store.state.auth.userId;
    search.Id = this.userId;
    search.methodName = "GetWorkOrderReport";
    this.initialize();
    console.log('query type'+this.$route.query.type);
    if (this.$route.query.type != undefined &&this.$route.query.type =="workOrderEdit" ) {
    this.editViewItem();
    }
    
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      this.loadDropdownList();
    },
    onChangeSunwardStatus(value) {
      if (value == 2350) {
        this.editedItem.crtstatusId = null;
      }
      if (value == 2351) {
        this.editedItem.crtstatusId = 2375;
      }
      if (value == 2359) {
        this.editedItem.crtstatusId = 2375;
      }
      if (value == 2352) {
        this.editedItem.crtstatusId = 2373;
      }
      if (value == 2353) {
        this.editedItem.crtstatusId = 2376;
      }
      if (value == 2357) {
        this.editedItem.crtstatusId = 2373;
      }
    },
    selectCrtStatus(value) {
      if (value == 2371) {
        this.editedItem.sunwardStatusId = 2360;
      }
      if (value == 2375) {
        this.editedItem.sunwardStatusId = 2358;
      }
    },
    loadDropdownList() {
      getCodeMasterByType("Priority")
        .then((response) => {
          this.priorityItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getCodeMasterByType("Sunward Status")
        .then((response) => {
          this.sunwardStatusItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(289)
        .then((response) => {
          this.requirementItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("CRT Status")
        .then((response) => {
          this.crtStatusItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Assignment Related")
        .then((response) => {
          this.assignmentItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      let id = this.$store.state.auth.userId;
      getApplicationPermissionPaths(id)
        .then((response) => {
          //console.log('response path data'+JSON.stringify(response.data));
          this.moduleItems = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(290)
        .then((response) => {
          this.navisionModuleItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      // let id = this.$store.state.auth.userId;
      // this.gridloader = true;
      // getWorkOrderReport(id)
      //   .then((response) => {
      //     this.gridItems = response.data;
      //     this.gridloader = false;
      //   })
      //   .catch((error) => {
      //     this.gridloader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
    },

    editItem(item) {
     
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.$refs.refworkOrdercomments.workOrderId = item.workOrderLineId;
      this.sessionId = item.sessionId;
      setTimeout(() => {
        this.dialog = true;
        this.isRTERender = true;
      }, 500);
    },

    close() {
      
      //this.dialog = false;
       if (this.$route.query.type != undefined &&this.$route.query.type =="workOrderEdit" ) {
        
        window.close();
        //window.onclose();
        this.buttondisable = true;
       }
       else{
         this.buttondisable = false;
       }
       this.dialog = false;
      
      this.editedItem.description = "";
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.description = "";
      this.editedItem.sunwardStatusId = 2350;
      this.editedItem.crtstatusId = 2370;
      this.editedItem.requirementId = null;
      this.loadDropdownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      setTimeout(() => {
        this.isRTERender = true;
      }, 400);
    },
    linkinput(item) {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (item != "") {
        if (validate.test(item)) {
        } else {
          window.getApp.$emit(
            "APP_API_ERROR",
            "Please Enter the valid URL link"
          );
          this.editedItem.link = "";
        }
      }
    },
   clicklinkComment(item) {
      var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(this.editedItem.resultLink)) {
        window.open(this.editedItem.resultLink, "_blank");
      }
    },
    tasklinkComment(item) {
      var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(this.editedItem.taskLink)) {
        window.open(this.editedItem.taskLink, "_blank");
      }
    },

    save() {
      //this.editedItem.workOrderId = this.workOrderId;

      this.subloader = true;
      this.saveloader = true;
      let index = this.editedIndex;
      if (this.editedItem.workOrderLineId > 0) {
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();

        updateWorkOrderLine(this.editedItem)
          .then((response) => {
            Object.assign(this.gridItems[index], response.data);
            this.subloader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.loadPagingData();
          })
          .catch((error) => {
            this.subloader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();

        createWorkOrderLine(this.editedItem)
          .then((response) => {
            this.gridItems.push(response.data);
            this.subloader = false;
            this.saveloader = false;
            this.editedItem.workOrderLineId = response.data.workOrderLineId;
            let index = this.gridItems
              .map((item) => item.workOrderLineId)
              .indexOf(response.data.workOrderLineId);
            this.editedIndex = index;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            this.initialize();
          })
          .catch((error) => {
            this.subloader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    toolbarmenuClick(key, item) {
      if (key == 0) {
        this.editedItem = Object.assign({}, item);
        this.editedItem.crtstatusId = 2373;
        this.editedItem.sunwardStatusId = 2352;
        this.workOrderId = item.workOrderId;
        this.sessionId = item.sessionId;
        this.save();
      } else if (key == 1) {
        this.editedItem = Object.assign({}, item);
        this.editedItem.crtstatusId = 2374;
        this.editedItem.sunwardStatusId = 2353;
        this.workOrderId = item.workOrderId;
        this.sessionId = item.sessionId;
        this.save();
      } else if (key == 2) {
        this.editedItem = Object.assign({}, item);
        console.log("editedItem item" + JSON.stringify(item));
        console.log("editedItem" + JSON.stringify(this.editedItem));
        this.editedItem.crtstatusId = 2373;
        this.workOrderId = item.workOrderId;
        this.sessionId = item.sessionId;
        this.save();
      }
    },
    menuClick(key, item) {
      if (key == 0) {
        this.editItem(item);
      } else if (key == 1) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.editedItem.crtstatusId = 2373;
        this.workOrderId = item.workOrderId;
        this.editedItem.sunwardStatusId = 2352;
        this.sessionId = item.sessionId;
        this.save();
      } else if (key == 2) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.editedItem.crtstatusId = 2374;
        this.workOrderId = item.workOrderId;
        this.editedItem.sunwardStatusId = 2353;
        this.sessionId = item.sessionId;
        this.save();
      } else if (key == 3) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.editedItem.crtstatusId = 2373;
        this.workOrderId = item.workOrderId;
        this.sessionId = item.sessionId;
        this.save();
      }
       else if (key == 4) {
      this.dohisCopy(item);
       }
    },
    toolbarmenudisabled(menu, item) {
      if (menu.title == "Test Pass") {
        if (item.sunwardStatusId == 2352) {
          return true;
        }
      }
      if (menu.title == "Test Fail") {
        if (item.sunwardStatusId == 2353) {
          return true;
        }
      }
    },
    menudisabled(menu, item) {
      if (menu.title == "Test Pass") {
        if (item.sunwardStatusId == 2352) {
          return true;
        }
      }
      if (menu.title == "Test Fail") {
        if (item.sunwardStatusId == 2353) {
          return true;
        }
      }
    },
    openCommentdialog() {
      this.$refs.refworkOrdercomments.workOrdercomments = [];
      this.workOrderCommentdialog = true;
      //this.$refs.refworkOrdercomments.viewList = this.viewList;
      if (this.editedItem.workOrderLineId > 0) {
        this.$refs.refworkOrdercomments.workOrderId =
          this.editedItem.workOrderLineId;
        this.$refs.refworkOrdercomments.refreshMessage();
      }
    },
    onCloseMessage() {
      this.workOrderCommentdialog = false;
      this.initialize();
    },
    editViewItem(){
     let id = this.$route.query.id; 
    
     this.loadDropdownList();
     if(id>0)
     {    
       getWorkOrderReportById(id)
        .then((response) => {      
      this.editedItem = Object.assign({}, response.data);
      this.$refs.refworkOrdercomments.workOrderId = response.data.workOrderLineId;
      this.sessionId = response.data.sessionId;
            
        this.dialog=true;
       
        this.buttondisable = true;
        this.isRTERender = true;     
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
     
     
     }
     else
     {
       window.getApp.$emit("APP_API_ERROR", "Copied work Order is not valid"); 
     }
    },
     dohisCopy(item) {
       console.log('item'+JSON.stringify(item))     
      let url =GlobalMessage.WORKORDERURL + "id=" + item.workOrderLineId +"&type="+"workOrderEdit";
      // let url ="http://localhost:8080/#/workorder/workorderReport?" + "id=" + item.workOrderLineId +"&type="+"workOrderEdit";
      const el = document.createElement("textarea");
      el.addEventListener("focusin", (e) => e.stopPropagation());
      console.log('url'+url)
      el.value = url;
      document.body.appendChild(el);
      el.select();
      this.$copyText(url).then(
        function (e) {
          document.body.removeChild(el);
          window.getApp.$emit("APP_API_SUCCESS", "copied");
        },
        function (e) {
          alert("Can not copy");
        }
      );
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
       search.methodName = "GetWorkOrderReport";
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.Id = this.$store.state.auth.userId;
      search.pageCount = this.pagination.page;
      search.sortCol = "WorkOrderLineId";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      // search.sortCol = 
      // search.methodName == "GetFilterWorkOrderReport" ? "WorkOrderLineId" : "WorkOrderId";
      //search.methodName = "GetWorkOrderReport";
      search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.Id = this.$store.state.auth.userId;
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "desc") {
        search.sortCol = "WorkOrderLineId";
      } else if (args.sortBy == "asc") {
        search.sortCol = "AddedDate";
      } else if (args.sortBy == "requirementName") {
        search.sortCol = "RequirementName";
      } else if (args.sortBy == "moduleName") {
        search.sortCol = "ModuleName";
      } else if (args.sortBy == "subject") {
        search.sortCol = "Subject";
      }
      else if (args.sortBy == "profileNo") {
        search.sortCol = "ProfileNo";
      }
       else if (args.sortBy == "priorityName") {
        search.sortCol = "PriorityName";
      } else if (args.sortBy == "sunwardStatusName") {
        search.sortCol = "SunwardStatus";
      } else if (args.sortBy == "crtStatusName") {
        search.sortCol = "Crtstatus";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode";
      }  else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser";
      } else {
        search.sortCol = args.sortBy;
      }

      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
       search.methodName =
        search.methodName == "" ? "GetWorkOrderReport" : search.methodName;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    searchmenuClear() {
      this.searchworkorder.assignmentId = null;
      this.searchworkorder.navisionModuleId = null;
      this.searchworkorder.permissionID = null;
      this.searchworkorder.statusCodeID = null;
      this.searchworkorder.priorityId = null;
      this.searchworkorder.sunwardStatusId = null;
      this.searchworkorder.crtstatusId = null;
       search.methodName = "GetWorkOrderReport";
    this.loadPagingData();
    },
    searchmenuClose() {
      this.searchworkorder.assignmentId = null;
      this.searchworkorder.navisionModuleId = null;
      this.searchworkorder.permissionID = null;
      this.searchworkorder.statusCodeID = null;
      this.searchworkorder.priorityId = null;
      this.searchworkorder.sunwardStatusId = null;
      this.searchworkorder.crtstatusId = null;
      this.searchmenu = false;
       search.methodName = "GetWorkOrderReport";
    this.loadPagingData();
    },
    searchClick() {
      this.gridloader = true;
       search.workOrderReportSearch = this.searchworkorder;
      search.methodName = "GetFilterWorkOrderReport";
       this.loadPagingData();
      // this.searchworkorder.id = this.$store.state.auth.userId;
      // getWorkOrderReportBySearch(this.searchworkorder)
      //   .then((response) => {
      //     this.gridloader = false;
      //     if (response.data != undefined) {
      //       this.gridItems = response.data;
      //       this.totalRows = response.data.count;
      //     }
      //   })
      //   .catch((error) => {
      //     this.gridloader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      this.searchmenu = false;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.workOrderLineId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteWorkOrderLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>
<style lang="stylus" scoped>
.company--scroll {
  overflow: auto;
  height: calc(100vh - 120px);
}
</style>