<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
       <v-tooltip bottom>
        <v-menu
          slot="activator"
          :nudge-right="40"
          :close-on-content-click="false"
          lazy
          v-model="searchmenu"
          transition="scale-transition"
          offset-y
          full-width
          min-width="140px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>

          <v-card>
            <v-layout row wrap>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Search and Filter</v-toolbar-title>
              </v-toolbar>
                 <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Assignment" prepend-icon="notes" v-model="searchworkorder.assignmentId" :items="assignmentItems" item-text="codeValue" item-value="codeID"></v-autocomplete>
                  </v-flex>
                <v-flex xs12 sm4 v-if="searchworkorder.assignmentId==2390">
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Navision Module"
                      prepend-icon="notes"
                      v-model="searchworkorder.navisionModuleId"
                      :items="navisionModuleItems"
                       item-text="value"
                      item-value="applicationMasterDetailId"
                    ></v-autocomplete>
                  </v-flex> 
                  <v-flex xs12 sm4 v-if="searchworkorder.assignmentId==2391">
                    <v-autocomplete :loading="loader" chips flat label="Module" prepend-icon="notes" v-model="searchworkorder.permissionID" :items="moduleItems" item-text="pathName" item-value="permissionID"></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="searchworkorder.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-text-field v-model="searchworkorder.profileNo" label="Profile No" prepend-icon="select_all"></v-text-field>
                  </v-flex>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="searchClick">Search</v-btn>
              <v-btn outline color="primary" @click="searchmenuClear"
                >Clear</v-btn
              >
              <v-btn outline color="primary" @click="searchmenuClose"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter combination of search queries.</span>
      </v-tooltip>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="WorkOrder.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Work Order</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow" :disabled="editedItem.workOrderId < 0">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first" :disabled="editedItem.workOrderId < 0">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous" :disabled="editedItem.workOrderId < 0">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next" :disabled="editedItem.workOrderId < 0">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last" :disabled="editedItem.workOrderId < 0">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <!-- <v-tooltip bottom>
            <v-btn icon slot="activator"    @click.native="openCommentdialog"
                :disabled="editedItem.workOrderId < 0">
              <v-icon color="white">message</v-icon>
            </v-btn>
            <span>Work Order Comments</span>
          </v-tooltip>         -->

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Work Order Type" prepend-icon="notes" v-model="editedItem.typeId" :items="typeItems" item-text="name" item-value="value"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Assignment" prepend-icon="notes" v-model="editedItem.assignmentId" :items="assignmentItems" item-text="codeValue" item-value="codeID"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete label="User Group" :loading="loader"  prepend-icon="location_city" v-model="editedItem.userGroupId" :items="userGroupItems" chips auto item-text="name" item-value="userGroupID">
                    </v-autocomplete>
                  </v-flex>

                   <v-flex xs12 sm4 v-if="editedItem.assignmentId==2390">
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Navision Module"
                      prepend-icon="notes"
                      v-model="editedItem.navisionModuleId"
                      :items="navisionModuleItems"
                       item-text="value"
                      item-value="applicationMasterDetailId"
                    ></v-autocomplete>
                  </v-flex> 
                  <v-flex xs12 sm4 v-if="editedItem.assignmentId==2391">
                    <v-autocomplete :loading="loader" chips flat label="Module" prepend-icon="notes" v-model="editedItem.permissionID" :items="moduleItems" item-text="pathName" item-value="permissionID"></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.profileNo" label="Profile No" prepend-icon="select_all" readonly></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <work-order-line ref="refWorkOrderLines"></work-order-line>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save" :loading="saveloader">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- <v-dialog v-model="workOrderCommentdialog" fullscreen>
      <v-card flat>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Work Order Conversation</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="onCloseMessage">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-text>
             <div style="overflow: auto; height: calc(90vh - 100px)">
            <work-order-comments ref="refworkOrdercomments"></work-order-comments>
             </div>
        </v-card-text>
      </v-card>
    </v-dialog> -->
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="gridloader" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.assignmentName }}</td>

          <td class="text-xs-left">{{ props.item.moduleName }}</td>
           <td class="text-xs-left">{{ props.item.profileNo }}</td>
          
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>

      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData()">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  //import UploadButton from "vuetify-upload-button";
  import { getUserGroups } from '@/api/userGroup';
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import GlobalMessage from "@/constant";
  import WorkOrderComments from "@/pages/WorkOrder/workOrderComment";
  import moment from "moment";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import WorkOrderLine from "@/pages/WorkOrder/workorderline";
  import {
    createWorkOrder,
    getSearchData,
    updateWorkOrder,
    deleteWorkOrder,
    getWorkOrderTypes,
    getApplicationPermissionPaths,
    getWorkOrderBySearch
  } from "@/api/workorder";
  export default {
    components: {
      // "upload-btn": UploadButton,
      WorkOrderLine,
      WorkOrderComments,
    },
    data: () => ({
      loading: false,
      gridloader: false,
      saveloader: false,
      userGroupItems: [],
      navisionModuleItems: [],
      screenID: "WORKOR001",
      viewList: "list",
      workOrderId: -1,
      totalRows: 0,
      uploadbtn: true,
      workOrderCommentdialog: false,
      sessionId: null,
      workOrderId: -1,
      assignmentItems: [],
      dialog: false,
       searchmenu: false,
      search: "",
      loader: false,
      searchworkorder: {
        assignmentId: 2391,
      navisionModuleId: null,
      permissionID: null,
      statusCodeID: null,
      profileNo: "",
      id:null,
      },
      editedIndex: -1,
      searchFilter: "",
      typeItems: [
      ],
      assignToItems: [],
      requirementItems: [],
      moduleItems: [],
      fromCompanyItems: [],
      vendorNameItems: [],
      gridItems: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 },
      ],
      editedItem: {
        valid: false,
        workOrderId: -1,
        sessionId: null,
        assignmentId: null,
        screenID: "WORKOR001",
        requirementId: null,
        navisionModuleId: null,
        moduleId: null,
        typeId: null,
        assignTo: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null,
        permissionID: null,
        userGroupId:null,
        profileNo: "",

      },
      defaultItem: {
        valid: false,
        workOrderId: -1,
        sessionId: null,
        assignmentId: null,
        screenID: "WORKOR001",
        requirementId: null,
        navisionModuleId: null,
        moduleId: null,
        typeId: null,
        assignTo: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null,
        permissionID: null,
        userGroupId:null,
        profileNo:"",

      },
      filterFields: [
        "AssignmentName",
        "RequirementName",       
        "StatusCode",
         "ModuleName",       
        "AddedByUser",
        "ModifiedByUser",
        "ProfileNo"
      ],
      headers: [
        {
          text: "Assignment",
          value: "assignmentName",
          align: "left",
        },

        { text: "Module Name", value: "moduleName", align: "left" },
          { text: "Profile No", value: "profileNo", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Modified By", value: "addedByUser", align: "left" },
        { text: "Modified Date", value: "addedDate", align: "left" },

        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%",
        },
      ],
      json_fields: {
        Assignment: "assignmentName",
        "Requirement Name": "requirementName",
        "Module Name": "moduleName",
        Status: "statusCode",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate",
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      },
    },
    computed: {
      formTitle () {
        return this.editedItem.workOrderId === -1 ? "Add Work Order" : "Edit Work Order";
      },

      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    mounted () {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      search.pageSize = this.$store.state.auth.pageSize;
      //this.getDataFromApi(this.$store.state.auth.pageSize);
    },
    methods: {
      initialize () {
        getWorkOrderTypes()
          .then((response) => {
            this.typeItems = response.data;

          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
       
        let id = this.$store.state.auth.userId;
        getApplicationPermissionPaths(id)
          .then((response) => {
            //console.log('response path data'+JSON.stringify(response.data));
            this.moduleItems = response.data;

          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getUserGroups('')
          .then(response => {
            if (response.data != undefined) {
              this.userGroupItems = response.data;
              let uom = this.userGroupItems.filter(o => o.statusCodeID == 1);
              this.userGroupItems = uom;
              this.loader = false;
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
          this.loadDropdownList();
      },
      clearableregistrationDateOfExpiry () {
        this.editedItem.dateOfPo = null;
      },

      loadDropdownList () {
        //this.loader = true;

        getApplicationMasterDetailByType(289)
          .then((response) => {
            this.requirementItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(290)
          .then((response) => {
            this.navisionModuleItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCodeMasterByType("Assignment Related")
          .then((response) => {
            
            this.assignmentItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getProductLinesTab () {
        setTimeout(() => {
          if (
            this.editedItem.workOrderId != null &&
            this.editedItem.workOrderId > 0
          ) {
            this.$refs.refWorkOrderLines.workOrderId = this.editedItem.workOrderId;
          }
          this.$refs.refWorkOrderLines.enableAddButton = false;
          this.$refs.refWorkOrderLines.initialize();
        }, 500);
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.Id = this.$store.state.auth.userId;
        search.pageCount = this.pagination.page;
        search.sortCol = "WorkOrderId";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetWorkOrders";
        search.pageCount = 1;
        this.pagination.page = 1;
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.Id = this.$store.state.auth.userId;
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "asc") {
          search.sortCol = "WorkOrderId";
        }
        else if (
          args.sortBy == "assignmentName"
        ) {
          search.sortCol = "AssignmentName";
        } else if (args.sortBy == "requirementName") {
          search.sortCol = "RequirementName";
        } else if (args.sortBy == "moduleName") {
          search.sortCol = "ModuleName";
        } else if (args.sortBy == "profileNo") {
          search.sortCol = "ProfileNo";
        } else if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode";
        } else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser";
        }
        else {
          search.sortCol = args.sortBy;
        }

        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetWorkOrders";
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      save () {
        if (this.$refs.form.validate()) {
          //this.editedItem.screenID=this.screenID;
          this.loader = true;
          this.saveloader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updateWorkOrder(this.editedItem)
              .then((response) => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                this.saveloader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch((error) => {
                this.loader = false;
                this.saveloader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createWorkOrder(this.editedItem)
              .then((response) => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.saveloader = false;
                this.editedItem.workOrderId = response.data.workOrderId;
                let index = this.gridItems
                  .map((item) => item.workOrderId)
                  .indexOf(response.data.workOrderId);
                this.editedIndex = index;

                //up
                this.editedItem.sessionId = response.data.sessionId;
                this.attachfiles = new FormData();
                this.sessionId = response.data.sessionId;
                this.workOrderId = response.data.workOrderId;
                this.subloader = false;
                this.uploadbtn = false;
                this.editedItem.profileNo = response.data.profileNo;
                //up
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch((error) => {
                this.loader = false;
                this.saveloader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      add () {
        this.uploadbtn = true;
        this.uploadedFiles = [];
        this.uploadedFileNames = [];
        this.uploadedAttachment = new FormData();
        this.attachfiles = new FormData();
        this.sessionId = "";
        //this.$refs.attachUpload.clear();

        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.workOrderId = -1;
        this.editedItem.assignmentId = null;
        this.editedItem.moduleId = null;
        this.editedItem.requirementId = null;
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = null;
        this.editedItem.addedDate = null;
        this.editedItem.modifiedByUserID = null;
        this.editedItem.modifiedDate = null;
         this.editedItem = Object.assign({}, this.defaultItem);
      },
      saveAndClose () {
        this.save();
        this.close();
      },

      editItem (item) {
        this.loadDropdownList();
        //console.log("item" + JSON.stringify(item));
        this.$refs.refWorkOrderLines.workOrderId = item.workOrderId;
        setTimeout(() => {
          this.editedIndex = this.gridItems.indexOf(item);
          this.editedItem = Object.assign({}, item);
          this.editedItem.valid = false;

          //  this.$refs.frmattach.workOrderId =item.workOrderId;
          // this.$refs.frmattach.sessionId = this.editedItem.sessionId;
          this.attachfiles = new FormData();

          //console.log("editeditem" + JSON.stringify(this.editedItem));
          if (this.editedItem.sessionId != null) {
            this.sessionId = this.editedItem.sessionId;
            this.workOrderId = this.editedItem.workOrderId;
            // this.$refs.frmattach.getDocuments();
            this.uploadbtn = false;
          }

          this.getProductLinesTab();
          this.dialog = true;
          this.$refs.refWorkOrderLines.loadDropdownList();
        }, 500);
      },
      close () {
        this.dialog = false;
        this.initialize();
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.$refs.refWorkOrderLines.gridItems = [];
          this.editedIndex = -1;
        }, 300);
      },
       searchmenuClear() {
      this.searchworkorder.assignmentId = 2391;
      this.searchworkorder.navisionModuleId = null;
      this.searchworkorder.permissionID = null;
      this.searchworkorder.statusCodeID = null;
      this.searchworkorder.profileNo = "";
    
    },
    searchmenuClose() {
      this.searchworkorder.assignmentId = 2391;
      this.searchworkorder.navisionModuleId = null;
      this.searchworkorder.permissionID = null;
      this.searchworkorder.statusCodeID = null;
      this.searchworkorder.profileNo = "";
      this.searchmenu = false;
      
    },
     searchClick() {
         this.gridloader = true;
         this.searchworkorder.id = this.$store.state.auth.userId;
      getWorkOrderBySearch(this.searchworkorder)
        .then((response) => {
          this.gridloader = false;
          if(response.data!=undefined)
          {
          this.gridItems = response.data;
          this.totalRows = response.data.count;
          }
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.searchmenu = false;
     },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.workOrderId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteWorkOrder(this.editedItem)
            .then((response) => {
              this.loader = false;
              if (response != undefined) {
                this.gridItems.splice(index, 1);
                this.add();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.workOrderId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.workOrderId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.workOrderId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.workOrderId;
        this.toolfunction();
      },
      toolfunction () {
        getSearchData(this.searchItem)
          .then((response) => {
            if (response.data.workOrderId != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map((item) => item.workOrderId)
                .indexOf(response.data.workOrderId);
              this.editedIndex = index;
              this.getProductLinesTab();
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
            }
          })
          .catch((error) => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      openCommentdialog () {
        this.workOrderCommentdialog = true;
        //this.$refs.refworkOrdercomments.viewList = this.viewList;   
        if (this.editedItem.workOrderId > 0) {
          this.$refs.refworkOrdercomments.workOrderId = this.editedItem.workOrderId;
          this.$refs.refworkOrdercomments.refreshMessage();
        }
      },
      onCloseMessage () {
        this.workOrderCommentdialog = false;
        this.initialize();
      },
    },
  };
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 120px);
   }
</style>