<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="city.xls"
        v-show="ValidFunction('Download',formId)"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  
      <v-dialog v-model="dialog" max-width="600px">
        <v-btn slot="activator" v-show="ValidFunction('Add',formId)" icon>
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color='white'>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="saveAndClose">
                <v-icon color='white'>library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Add',formId)" @click.native="add">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New City</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Delete',formId)" @click.native="deleterow">
                <v-icon color='white'>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color='white'>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">

                <v-icon color='white'>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color='white'>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color='white'>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm12>
                    <v-text-field v-model="editedItem.name" label="Name" :rules="editedItem.nameRules" required prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-textarea v-model="editedItem.description" label="Description" prepend-icon="description">
                    </v-textarea>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions">
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="cityID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">

        <td>{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.description }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" v-show="ValidFunction('Edit',formId)" @click="editItem(props.item)">
            edit
          </v-icon>
          <v-icon small v-show="ValidFunction('Delete',formId)" @click="onDeleteItem(props.item)">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
  import { getCityMasters, getCityMaster, createCityMaster, updateCityMaster, deleteCityMaster } from '@/api/cityMaster';
  import GlobalMessage from '@/constant'
  import { isValidFunction } from "@/api/checkPermission";


  export default {
    data: () => ({
      
     formId: "MAS9026",
      dialog: false,
      loader: false,
      search: '',
      statusOptions: [
        { text: 'Active', value: 1 },
        { text: 'InActive', value: 2 }
      ],
      snackbar: false,
      snackbarMessage: '',
      timeout: 2000,
      y: 'top',
      headers: [
        { text: 'Name', value: 'name', align: 'left' },
        { text: 'Description', value: 'description', align: 'left' },
        { text: 'Status', value: 'statusCode', sortable: false, align: 'left', width: "10%" },
        { text: 'Added By', value: 'addedByUser', align: 'left' },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        'Name': 'name',
        'Description': 'description',
        'Status': 'statusCode',
        'Added By': 'addedByUser',
        'Modified By': 'modifiedByUser',
        'Modified Date': 'modifiedDate'
      },
      gridItems: [],
      userItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      editedItem: {
        valid: false,
        cityID: -1,
        name: '',
        nameRules: [v => !!v || 'Name is required'],
        description: '',
        addedByUserID: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserID: null,
        modifiedDate: new Date(),
      },
      defaultItem: {
        valid: false,
        cityID: 0,
        name: '',
        nameRules: [v => !!v || 'Name is required'],
        description: '',
        addedByUserID: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserID: null,
        modifiedDate: new Date(),
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
      items: [
        { title: 'Clear Items' },
        { title: 'Post' },
        { title: 'Delete' },
        { title: 'Print' }
      ],
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add City Master' : 'Edit City Master';
      }
    },

    watch: {
      dialog (val) {
        val || this.close();
      }
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        this.loader = true;
        getCityMasters('')
          .then(response => {
            this.gridItems = response.data;
            // alert('test:-'+JSON.stringify(response.data));
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        
        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);

        this.dialog = true;
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.gridItems.indexOf(this.selectedItem);
        deleteCityMaster(this.selectedItem)
          .then(() => {
            this.loader = false;
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      close () {
        this.dialog = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {

        getCityMaster(this.searchItem)
          .then(response => {

            if (response.data.cityID != null) {

              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.cityID).indexOf(response.data.cityID)
              this.editedIndex = index;

            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No More Record to View');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.cityID;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.cityID;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.cityID;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.cityID;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {

        this.editedItem.valid = false;
        this.editedItem.cityID = -1;
        this.editedItem.name = '';
        this.editedItem.nameRules = [v => !!v || 'Name is required'];
        this.editedItem.description = '';
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = 'Active';
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        this.editedIndex = -1;
      },
      deleterow () {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedIndex;
        deleteCityMaster(this.editedItem)
          .then(() => {
            //this.loader = false;
            //this.editedItem = null;
            this.add();
            this.gridItems.splice(index, 1);
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
          })
          .catch(error => {
            //this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            
            updateCityMaster(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          } else {
            this.editedItem.cityID = parseInt(Math.random() * 100) + 1024; // mock a id
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            //this.editedItem.statusCodeID = 1;
            createCityMaster(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem = response.data;
                let index = this.gridItems.map(item => item.cityID).indexOf(response.data.cityID)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          //this.close();
        }
      },

      ValidFunction(permissionCode) {
        return isValidFunction(permissionCode, this.formId, this.$store);
      }

    }
  };
</script>