<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" max-width="900px">
        <v-btn slot="activator" v-show="ValidFunction('Add',formId)" icon>
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" v-show="ValidFunction('Save',formId)" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Add',formId)" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Designation</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Delete',formId)" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div style="overflow:auto;height:calc(70vh - 100px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="designationform" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                   
                    <v-flex xs12 sm12>
                      <v-autocomplete
                        hint="Atleast 3 Characters required"
                        :loading="loader"
                        chips
                        flat
                        placeholder="Select only suggested Section"
                        :items="subSectionTwoItems"
                        v-model="editedItem.subSectionTID"
                        prepend-icon="location_city"
                        label="Company"
                        color="blue"
                        item-text="dropDownNames"
                        item-value="subSectionTID"
                        @change="selectSebSectionTwo"
                        :rules="companyRules"
                      >
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected">{{ data.item.companyName }}</v-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                          </template>
                          <template v-else>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item.dropDownNames"></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="divisionName"
                        label="Division"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="departmentName"
                        label="Department"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="sectionName"
                        label="Section"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="subSectionName"
                        label="Sub Section 1"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="subSectionTwoName"
                        label="Sub Section 2"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                  
                   
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.name"
                        label="Designation Name"
                        :rules="nameRules"
                        required
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.code"
                        label="Designation Code"
                        prepend-icon="select_all"
                        :rules="nameRules"
                        required
                      ></v-text-field>
                    </v-flex>
                       <v-flex xs12 sm6>
                        <v-autocomplete                    
                            hint="Atleast 3 Characters required"                      
                            :loading="loader"
                            chips                      
                            flat
                            placeholder="Select only suggested Level"
                            :items="levelItems"
                            v-model="editedItem.levelID"
                            prepend-icon="location_city"
                            label="Level"
                            color="blue"
                            item-text="name"
                            item-value="levelID"
                    ></v-autocomplete>
                      
                    </v-flex>
                     <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.headCount"
                        label="Total Count"
                        prepend-icon="description"
                        mask="######"
                        :rules="nameRules"
                        required
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-textarea
                        v-model="editedItem.description"
                        label="Description"
                        prepend-icon="description"
                      ></v-textarea>
                    </v-flex>
                   
                    <v-flex xs12 sm6>
                      <v-autocomplete
                        label="Status"
                        prepend-icon="notes"
                        v-model="editedItem.statusCodeID"
                        :items="statusOptions"
                         item-value="codeID"
                        item-text="codeValue"
                        chips
                        flat
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" :loading="saveloader" v-show="ValidFunction('Save',formId)" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>

          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator"  @click="loadPagingData()"
          v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
       :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"
      :total-items="totalRows"
      :rows-per-page-items="rowsPerPageItems"
      :loading="gridloader"
      @update:pagination="onUpdatePagination"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr v-show="ValidFunction('Edit',formId)" @dblclick="editItem(props.item)">
        <td class="text-xs-left">{{ props.item.companyName }}</td>
        <td class="text-xs-left">{{ props.item.divisionName }}</td>
        <td class="text-xs-left">{{ props.item.departmentName }}</td>
        <td class="text-xs-left">{{ props.item.sectionName }}</td>
        <td class="text-xs-left">{{ props.item.subSectionName }}</td>
        <td class="text-xs-left">{{ props.item.subSectionTwoName }}</td>
        <td class="text-xs-left">{{ props.item.name }}</td>
         <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>
       

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" v-show="ValidFunction('Edit',formId)" @click="editItem(props.item)">edit</v-icon>
          <v-icon small v-show="ValidFunction('Delete',formId)" @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="loadPagingData"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import {
  getDesignation,
  createDesignation,
  updateDesignation,
  deleteDesignation,
  getCompanies,
  getLevelMasters
} from "@/api/designation";
import { getSubSectionsTwo } from "@/api/subSectionTwo";
  import { getCodeMasterByType } from "@/api/applicationUser";
import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import search from "@/search";
 import { isValidFunction } from "@/api/checkPermission";
export default {
  data: () => ({
     formId: "MAS9025",
    dialog: false,
      totalRows: 0,
      gridloader: false,
    loader: false,
    saveloader: false,
    sectionName: "",
    subSectionName: "",
    subSectionTwoName: "",
    departmentName: "",
    divisionName: "",
    search: "",
    statusOptions: [
     
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
      filterFields: [
      "SubSectionT.SubSecton.Section.Department.Division.Company.Description",
      "SubSectionT.SubSecton.Section.Department.Division.Name",
      "SubSectionT.SubSecton.Section.Department.Name",
      "SubSectionT.SubSecton.Section.Name",
      "SubSectionT.SubSecton.Name",
       "SubSectionT.Name",
       "Name",
      "Code",      
      "AddedByUser.UserName",
      "StatusCode.CodeValue",
      "ModifiedByUser.UserName",
    ],
    headers: [
     
      { text: "Company", value: "companyName", align: "left" },
      { text: "Division", value: "divisionName", align: "left" },
      { text: "Department", value: "departmentName", align: "left" },
      { text: "Section", value: "sectionName", align: "left" },
      { text: "Sub Section 1", value: "subSectionName", align: "left" },
      { text: "Sub Section 2", value: "subSectionTwoName", align: "left" },
       { text: "Name", value: "name", align: "left" },
        { text: "Added By", value: "addedByUser", align: "left" },
      {
        text: "Status",
        value: "statusCode",
        sortable: false,
        align: "left",
        width: "10%"
      },     
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%"
      }
    ],
    gridItems: [],
    companyItems: [],
    levelItems: [],
    userItems: [],
    subSectionTwoItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 20,
       sortBy: "designationID",
    },
    editedItem: {
      valid: false,
      designationID: -1,
      subSectionTID: null,
      name: "",
      code: "",
      description: "",
      nameRules: [v => !!v || "Name is required"],
      headCount: "",
      companyID: null,
      subSectionTID: null,
      companyNamee: "",
      levelID: null,
      levelName: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 5,
      
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      designationID: 0,
      subSectionTID: null,
      name: "",
      code: "",
      description: "",
      nameRules: [v => !!v || "Name is required"],
      headCount: "",
      companyID: null,
      companyNamee: "",
      levelID: null,
      subSectionTID: null,
      levelName: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 5,
      
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Designation" : "Edit Designation";
    },
     companyRules () {

      return [
        () => (!!this.editedItem.subSectionTID > 0) || 'Atleast one role to must be selected.',
        v => !!v || 'This is required field'
      ];
    },
    nameRules ()
    {
       return [
      v => !!v || "This is required field"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },
   mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      // this.loader = true;
      // getDesignations("")
      //   .then(response => {
      //     this.gridItems = response.data;
      //     this.loader = false;
      //     //this.total = response.data.length;
      //   })
      //   .catch(error => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      getSubSectionsTwo("")
        .then(response => {
          this.subSectionTwoItems = response.data.filter(r=>r.statusCodeID == 1 || r.statusCodeID == 5);
          console.log(
            "Sub section two" + JSON.stringify(this.subSectionTwoItems)
          );
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCompanies("")
        .then(response2 => {
          this.companyItems = response2.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
           getCodeMasterByType("Status")
        .then(response => {
          this.statusOptions = response.data.filter(r=>r.codeID !=3 && r.codeID !=4);
         
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });   
       getLevelMasters('')
           .then(response2 => {
           this.levelItems = response2.data;
           this.loader = false;
      
           })
           .catch(error => {
           this.loader = false;
           window.getApp.$emit('APP_API_ERROR', error);
           });

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.departmentName = "";
      this.divisionName = "";
      this.sectionName = "";
      this.subSectionName = "";
      this.subSectionTwoName = "";
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      setTimeout(() => {
        let dept = this.subSectionTwoItems.filter(
          d => d.subSectionTID == this.editedItem.subSectionTID
        );
        if (dept.length > 0) {
          this.departmentName = dept[0].departmentName;
        }

        if (this.editedItem.subSectionTID > 0) {
          let division = this.subSectionTwoItems.filter(
            d => d.subSectionTID == this.editedItem.subSectionTID
          );
          if (division.length > 0) {
            this.divisionName = division[0].divisionName;
          }
        }
        if (this.editedItem.subSectionTID > 0) {
          let section = this.subSectionTwoItems.filter(
            d => d.subSectionTID == this.editedItem.subSectionTID
          );
          if (section.length > 0) {
            this.sectionName = section[0].sectionName;
          }
        }
        if (this.editedItem.subSectionTID > 0) {
          let subsection = this.subSectionTwoItems.filter(
            d => d.subSectionTID == this.editedItem.subSectionTID
          );
          if (subsection.length > 0) {
            this.subSectionName = subsection[0].subSectionName;
          }
        }
        if (this.editedItem.subSectionTID > 0) {
          let subsectiontwo = this.subSectionTwoItems.filter(
            d => d.subSectionTID == this.editedItem.subSectionTID
          );
          if (subsectiontwo.length > 0) {
            this.subSectionTwoName = subsectiontwo[0].name;
          }
        }
        this.dialog = true;
      }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteDesignation(this.selectedItem)
        .then(response => {
          this.loader = false;
          this.selectedItem = null;
          if(response!=undefined)
          {
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          this.loadPagingData();
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
      getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "DesignationId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDesignations";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "companyName") {
        search.sortCol = "SubSectionT.SubSecton.Section.Department.Division.Company.Description";
      } else if (args.sortBy == "divisionName") {
        search.sortCol = "SubSectionT.SubSecton.Section.Department.Division.Name";
      } else if (args.sortBy == "departmentName") {
        search.sortCol = "SubSectionT.SubSecton.Section.Department.Name";
      } else if (args.sortBy == "sectionName") {
        search.sortCol = "SubSectionT.SubSecton.Section.Name";
      } else if (args.sortBy == "subSectionName") {
        search.sortCol = "SubSectionT.SubSecton.Name";
      }
      else if (args.sortBy == "subSectionTwoName") {
        search.sortCol = "SubSectionT.Name";
      } 
       else if (args.sortBy == "name") {
        search.sortCol = "Name";
      } 
      else if (args.sortBy == "code") {
        search.sortCol = "Code";
      }  else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDesignations";
      console.log("Pagination", args);
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
       this.sectionName= "";
    this.subSectionName= "";
    this.subSectionTwoName= "";
    this.departmentName= "";
    this.divisionName= "";
    this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getDesignation(this.searchItem)
        .then(response => {
          if (response.data.designationID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.designationID)
              .indexOf(response.data.designationID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.designationID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.designationID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.designationID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.designationID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.designationID = -1;
      this.editedItem.name = "";
      this.editedItem.code = "";
      this.departmentName = "";
      this.divisionName = "";
      this.sectionName = "";
      this.subSectionName = "";
      this.subSectionTwoName = "";
      this.editedItem.description = "";
      this.editedItem.nameRules = [v => !!v || "Name is required"];
      this.editedItem.headCount = "";
      this.editedItem.companyID = null;
      this.editedItem.levelID = "";
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 5;
     
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    selectSebSectionTwo() {
       this.editedItem.companyID=null;
      if (this.editedItem.subSectionTID > 0) {
        let dept = this.subSectionTwoItems.filter(
          d => d.subSectionTID == this.editedItem.subSectionTID
        );
        if (dept.length > 0) {
          this.editedItem.companyID = dept[0].companyID;
        }
        if (dept.length > 0) {
          this.departmentName = dept[0].departmentName;
        }

        let division = this.subSectionTwoItems.filter(
          d => d.subSectionTID == this.editedItem.subSectionTID
        );
        if (division.length > 0) {
          this.divisionName = division[0].divisionName;
        }

        let section = this.subSectionTwoItems.filter(
          d => d.subSectionTID == this.editedItem.subSectionTID
        );
        if (section.length > 0) {
          this.sectionName = section[0].sectionName;
        }

        let subsection = this.subSectionTwoItems.filter(
          d => d.subSectionTID == this.editedItem.subSectionTID
        );
        if (subsection.length > 0) {
          this.subSectionName = subsection[0].subSectionName;
        }

        let SubsectionTwo = this.subSectionTwoItems.filter(
          d => d.subSectionTID == this.editedItem.subSectionTID
        );
        if (SubsectionTwo.length > 0) {
          this.subSectionTwoName = SubsectionTwo[0].name;
        }
      }
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      deleteDesignation(this.editedItem)
        .then(response => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          if(response!=undefined)
          {
          this.gridItems.splice(index, 1);
          this.loadPagingData();
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    save() {
      if (this.$refs.designationform.validate()) {
        this.loader = true;
        this.saveloader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          //Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateDesignation(this.editedItem)
            .then(response => {
              if(response!=undefined)
              {
              Object.assign(this.gridItems[index], response.data);
              
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
              }
              this.loader = false;
              this.saveloader = false;
            })
            .catch(error => {
              this.loader = false;
              this.saveloader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.designationID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          //this.editedItem.statusCodeID = 1;
          this.saveloader = true;
          createDesignation(this.editedItem)
            .then(response => {
              if(response!=undefined)
              {
              this.gridItems.push(response.data);
              
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.designationID)
                .indexOf(response.data.designationID);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
              }
              this.loader = false;
              this.saveloader = false;
            })
            .catch(error => {
              this.loader = false;
              this.saveloader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        //this.close();
      }
      else

      {
        window.getApp.$emit('APP_API_VAL', GlobalMessage.VALIDATE);
      }
    },
    ValidFunction(permissionCode) {
        return isValidFunction(permissionCode, this.formId, this.$store);
      }

  }
};
</script>