<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Division.xls"
        v-show="ValidFunction('Download', formId)"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" max-width="700px">
        <v-btn slot="activator" v-show="ValidFunction('Add', formId)" icon>
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="saveloader"
                v-show="ValidFunction('Save', formId)"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Add', formId)"
                @click.native="add"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Division</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Delete', formId)"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(80vh - 110px)">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="divisionform"
                lazy-validation
              >
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm12>
                      <v-autocomplete
                        hint="Atleast 3 Characters required"
                        :loading="loader"
                        chips
                        flat
                        placeholder="Select only suggested Company"
                        :items="companyItems"
                        v-model="editedItem.companyID"
                        prepend-icon="location_city"
                        label="Company"
                        color="blue"
                        item-text="description"
                        item-value="plantID"
                        :rules="companyRules"
                      ></v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm12>
                      <v-text-field
                        v-model="editedItem.name"
                        label="Division Name"
                        :rules="nameRules"
                        required
                        prepend-icon="select_all"
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-text-field
                        v-model="editedItem.code"
                        label="Division Code"
                        prepend-icon="description"
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-textarea
                        v-model="editedItem.description"
                        label="Description"
                        prepend-icon="description"
                      >
                      </v-textarea>
                    </v-flex>

                    <v-flex xs12 sm12>
                      <v-autocomplete
                        label="Status"
                        prepend-icon="notes"
                        v-model="editedItem.statusCodeID"
                        :items="statusOptions"
                        item-value="codeID"
                        item-text="codeValue"
                        chips
                        flat
                      >
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              :loading="saveloader"
              @click.native="save"
              >save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          >
          </delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon=""
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon> refresh </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
          :items="gridItems"
          :pagination.sync="pagination"
          :total-items="totalRows"
          :rows-per-page-items="rowsPerPageItems"
          :loading="gridloader"
          @update:pagination="onUpdatePagination"
          class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr
          v-show="ValidFunction('Edit', formId)"
          @dblclick="editItem(props.item)"
        >
          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.code }}</td>
          <td class="text-xs-left">{{ props.item.name }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              v-show="ValidFunction('Edit', formId)"
              @click="editItem(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              v-show="ValidFunction('Delete', formId)"
              @click="onDeleteItem(props.item)"
            >
              delete
            </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import {
  getDivision,
  createDivision,
  updateDivision,
  deleteDivision,
  getCompanies,
} from "@/api/Division";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import { getCodeMasterByType } from "@/api/applicationUser";
import GlobalMessage from "@/constant";
import { isValidFunction } from "@/api/checkPermission";
export default {
  data: () => ({
    formId: "MAS9020",
    dialog: false,
    gridloader:false,
    totalRows: 0,
    loader: false,
    saveloader: false,
    search: "",
    statusOptions: [],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
      filterFields: [
        "Company.Description",
        "Name",
        "Code",
        "AddedByUser.UserName",
        "StatusCode.CodeValue",
        "ModifiedByUser.UserName"
      ],
    headers: [
      { text: "Company", value: "companyName", align: "left" },
      { text: "Division Code", value: "code", align: "left" },
      { text: "Division Name", value: "name", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },

      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      Company: "companyName",
      Code: "code",
      Name: "name",
      Status: "statusCode",
    },
    gridItems: [],
    companyItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 20,
    },
    editedItem: {
      valid: false,
      divisionID: -1,
      name: "",
      nameRules: [(v) => !!v || "Name is required"],
      code: "",
      description: "",
      companyID: null,
      companyName: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 5,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      divisionID: -1,
      name: "",
      nameRules: [(v) => !!v || "Name is required"],
      code: "",
      description: "",
      companyID: null,
      companyName: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 5,

      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Division" : "Edit Division";
    },
    nameRules() {
      return [(v) => !!v || "This is required field"];
    },
    companyRules() {
      return [
        () =>
          !!this.editedItem.companyID > 0 ||
          "Atleast one role to must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
     loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },
   mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      // this.loader = true;
      // getDivisions("")
      //   .then((response) => {
      //     this.gridItems = response.data;
      //     this.loader = false;
      //     //this.total = response.data.length;
      //   })
      //   .catch((error) => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      getCompanies("")
        .then((response) => {
          this.companyItems = response.data.filter(
            (r) => r.statusCodeID == 1 || r.statusCodeID == 5
          );
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Status")
        .then((response) => {
          this.statusOptions = response.data.filter(
            (r) => r.codeID != 3 && r.codeID != 4
          );

          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteDivision(this.selectedItem)
        .then((response) => {
          this.loader = false;
          this.selectedItem = null;
          if (response != undefined) {
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getDivision(this.searchItem)
        .then((response) => {
          if (response.data.divisionID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.divisionID)
              .indexOf(response.data.divisionID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.divisionID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.divisionID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.divisionID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.divisionID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.divisionID = -1;
      this.editedItem.name = "";
      this.editedItem.code = "";
      this.editedItem.nameRules = [(v) => !!v || "Name is required"];
      this.editedItem.description = "";
      this.editedItem.companyID = "";
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 5;
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      deleteDivision(this.editedItem)
        .then((response) => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          if (response != undefined) {
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            this.loadPagingData();
          }
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
     getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "DivisionId";
        console.log('Pagination',this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDivisions";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if(args.sortBy == "companyName")
    {
       search.sortCol = "Company.Description";
    }
     else if (args.sortBy == "name") {
        search.sortCol = "Name";
      }
       else if (args.sortBy == "code") {
        search.sortCol = "Code";
      }
     else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      }else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      }
       else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDivisions";
      console.log("Pagination", args);
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.divisionform.validate()) {
        this.loader = true;
        this.saveloader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateDivision(this.editedItem)
            .then((response) => {
              if (response != undefined) {
                Object.assign(this.gridItems[index], response.data);

                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              }
              this.initialize();
              this.loader = false;
              this.saveloader = false;
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.divisionID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          //this.editedItem.statusCodeID = 1;
          this.loader = true;
          this.saveloader = true;
          createDivision(this.editedItem)
            .then((response) => {
              if (response != undefined) {
                this.gridItems.push(response.data);

                this.editedItem = response.data;
                let index = this.gridItems
                  .map((item) => item.divisionID)
                  .indexOf(response.data.divisionID);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
              this.loader = false;
              this.saveloader = false;
              this.initialize();
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        //this.close();
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>