<template>
  <v-layout
    row
    wrap
  >
    <v-flex
      lg12
      sm12
    >
      <v-form
        ref="form"
        lazy-validation
      >
        <v-container grid-list-md>
          <v-layout
            row
            wrap
          >
            <v-flex
              lg4
              sm4
            >
              <v-radio-group
                v-model="selected"
                row
                :mandatory="false"
                @change="onselectionChanged"
              >
                <v-radio
                  label="Title"
                  value="title"
                ></v-radio>
                <v-radio
                  label="Titile With content"
                  value="titlewithContent"
                ></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex
              xs4
              sm4
            >
              <v-text-field
                v-model="searchcontent"
                prepend-icon="search"
                label="Search"
                @keyup="getApplicationGloAbbrSearch"
              ></v-text-field>
            </v-flex>

          </v-layout>
        </v-container>
      </v-form>

      <v-card v-if="displayflag">

        <app-section-loader :status="apploader"></app-section-loader>
        <v-list two-line>

          <template v-for="(item, index) in items">

            <v-card-title style="font-size: 14px;font-weight:bold">{{item.name}} - {{item.description}}</v-card-title>
            <v-flex
              lg12
              sm12
            >
              <p style="margin-left: 30px;">{{stripTags(item.definition)}}<a
                  class="ma-2"
                  outlined
                  color="indigo"
                  @click="SearchGlossary(item)"
                >More Info</a></p>
            </v-flex>

            <v-divider :key="index"></v-divider>
          </template>
        </v-list>

      </v-card>
    </v-flex>
    <v-dialog
      v-model="grossarySearch"
      max-width="800px"
    >

      <v-toolbar
        card
        dense
        color="primary"
      >
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn
            icon
            slot="activator"
          >
            <v-icon
              color="white"
              @click.native="grossarySearch=false;"
            >close</v-icon>
          </v-btn>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar>
      <v-card>
        <v-card-title>
          <span class="headline">{{ AbbreviationformTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-flex
            lg12
            sm12
          >

            <app-section-loader :status="commentloader"></app-section-loader>
            <v-list two-line>

              <template v-for="(item, index) in itemsdata">

                <v-card-title style="font-size: 14px;font-weight:bold">{{item.name}}</v-card-title>
                <p
                  style="margin-left: 30px;"
                  v-html="item.definition"
                ></p>
                <v-divider :key="index"></v-divider>
              </template>
              <template v-if="no_data">
                Record not exist.
              </template>
            </v-list>
          </v-flex>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
import { GetApplicationGlossarySearch, getApplicationAbbreviationGlossarySearch } from '@/api/glossary';
import { GetApplicationAbbreviationSearch } from '@/api/abbreviation';

export default {
  components: {

  },
  data: () => ({
    commentloader: false,
    searchcontent: "",
    items: [],
    displayflag: false,
    selected: '',
    itemsdata: [],
    no_data: false,
    AbbreviationformTitle: '',
    grossarySearch: false,
    apploader: false,
    isTitle: false,
    isTitlewithContent: false,
  }),
  created () {
    this.getGloAbbrSearch();
  },
  methods: {
    initialize () {

    },
    stripTags (definition) {
      var div = document.createElement("div");
      div.innerHTML = definition;
      return div.innerText.substring(0, 50) + ' ...';
    },
    getGloAbbrSearch () {
      this.commentloader = true;
      this.displayflag = true;
      GetApplicationGlossarySearch(this.searchcontent)
        .then(response => {
          this.items = response.data;

          if (response.data.length == 0) {
            this.displayflag = false;
          }
          this.commentloader = false;
        })
        .catch(error => {
          this.commentloader = false;
          this.displayflag = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    onselectionChanged () {
      if (this.selected == 'title') {
        this.isTitle = true;
        this.isTitlewithContent = false;
      }
      if (this.selected == 'titlewithContent') {
        this.isTitle = false;
        this.isTitlewithContent = true;
      }
    },
    getApplicationGloAbbrSearch () {
     
      if (this.selected == 'title') {
        this.isTitle = true;
        this.isTitlewithContent = false;
      }
      if (this.selected == 'titlewithContent') {
        this.isTitle = false;
        this.isTitlewithContent = true;
      }
      if (this.isTitle) {
        this.commentloader = true;
        this.displayflag = true;
        GetApplicationGlossarySearch(this.searchcontent)
          .then(response => {
            this.items = response.data;

            if (response.data.length == 0) {
              this.displayflag = false;
            }
            this.commentloader = false;
          })
          .catch(error => {
            this.commentloader = false;
            this.displayflag = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      }
      if (this.isTitlewithContent) {

        this.commentloader = true;
        this.displayflag = true;
        getApplicationAbbreviationGlossarySearch(this.searchcontent)
          .then(response => {
            //this.itemsdata=response.data;
            this.items = response.data;
            if (response.data.length == 0) {
              this.displayflag = false;
            }

          })
          .catch(error => {
            this.displayflag = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      }
    },
    SearchGlossary (searchdata) {
      this.grossarySearch = true;
      this.no_data = false;
      this.apploader = true;
      this.AbbreviationformTitle = searchdata.description;
      GetApplicationAbbreviationSearch(searchdata.description)
        .then(response => {
          this.itemsdata = response.data;

          if (response.data.length == 0) {
            this.no_data = true;
          }
          this.apploader = false;
        })
        .catch(error => {
          this.apploader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
  },
}
</script>


