<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="glossary.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog">

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color='white'>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color='white'>library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New Glossary</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color='white'>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color='white'>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">

                <v-icon color='white'>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color='white'>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color='white'>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>

                  <v-flex xs12 sm12>
                    <v-text-field v-model="editedItem.name" label="Name" :rules="editedItem.nameRules" required prepend-icon="select_all">
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <vue-mce label="Definition" :config="definitionconfig" ref="DefinitionEditor" v-if="definitionflag" id="commentmessage11" v-model="editedItem.definition" />

                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID">
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="OpenAdd()">
          <v-icon icon>
            add_circle_outline
          </v-icon>
        </v-btn>
        <span>Add</span>
      </v-tooltip>
      <v-tooltip>
        <v-btn icon="" slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="applicationGlossaryId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">

        <td>{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="dohisCopy(props.item)">adjust</v-icon>
          <v-icon small class="mr-2" @click="editItem(props.item)">
            edit
          </v-icon>
          <v-icon small @click="onDeleteItem(props.item)">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
  import {  getGlossary, createGlossary, updateGlossary, deleteGlossary } from '@/api/glossary';
  import GlobalMessage from '@/constant';
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import { getCodeMasterByType } from '@/api/applicationUser';
  import Util from '@/util';
  export default {
    data: () => ({
      totalRows: 0,
      loading: false,
      dialog: false,
      loader: false,
      search: '',
      definitionconfig: Util.tinyconfig(200),
      definitionflag: false,
      statusOptions: [],
      snackbar: false,
      snackbarMessage: '',
      timeout: 2000,
      y: 'top',
      filterFields: [
        "Name",
        "StatusCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
      ],
      headers: [
        { text: 'Name', value: 'name', align: 'left' },
        { text: 'Status', value: 'statusCode', align: 'left', width: "10%" },
        { text: 'Added By', value: 'addedByUser', align: 'left' },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        'Name': 'name',
        'Status': 'statusCode',
        'Added By': 'addedByUser',
        'Modified By': 'modifiedByUser',
        'Modified Date': 'modifiedDate'
      },
      gridItems: [],
      companyItems: [],
      levelItems: [],
      userItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 20,
      },
      editedItem: {
        valid: false,
        applicationGlossaryID: -1,
        name: '',
        nameRules: [v => !!v || 'Name is required'],
        addedByUserID: null,
        definition: '',
        addedDate: new Date(),
        statusCodeID: 840,
        statusCode: 'Active',
        modifiedByUserID: null,
        modifiedDate: new Date(),
      },
      defaultItem: {
        valid: false,
        ApplicationGlossaryID: 0,
        name: '',
        nameRules: [v => !!v || 'Name is required'],
        definition: '',
        addedByUserID: null,
        addedDate: new Date(),
        statusCodeID: 840,
        statusCode: 'Active',
        modifiedByUserID: null,
        modifiedDate: new Date(),
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
      items: [
        { title: 'Clear Items' },
        { title: 'Post' },
        { title: 'Delete' },
        { title: 'Print' }
      ],
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Glossary' : 'Edit Glossary';
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },

    watch: {
      dialog (val) {
        val || this.close();
      }
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        /* this.loader = true;
        getGlossarys('')
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          }); */
        getCodeMasterByType('WikiAppStatus')
          .then(response => {
            this.statusOptions = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        search.userID = this.$store.state.auth.userId;
        search.masterTypeID = GlobalMessage.SuperUser;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = 1;
this.pagination.page=1;
        search.sortCol = "ApplicationGlossaryID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetGlossary";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "name") {
          search.sortCol = "Name";
        } else if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode.CodeValue";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        } else if (args.sortBy == "modifiedDate") {
          search.sortCol = "ModifiedDate";
        }
        else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        }
        else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetGlossary";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      OpenAdd () {
        this.dialog = true;
        setTimeout(() => {
          this.definitionflag = true;
        }, 200);
      },
      dohisCopy (item) {
        let url = GlobalMessage.GLOSSARYURL + "id=" + item.applicationGlossaryID;
        const el = document.createElement('textarea')
        el.addEventListener('focusin', e => e.stopPropagation())
        el.value = url
        document.body.appendChild(el)
        el.select()
        this.$copyText(url).then(function (e) {
          document.body.removeChild(el)
          window.getApp.$emit('APP_API_SUCCESS', 'copied');
        }, function (e) {
          alert('Can not copy')
        })
      },
      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);

        this.dialog = true;
        setTimeout(() => {
          this.definitionflag = true;
        }, 200);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.gridItems.indexOf(this.selectedItem);
        deleteGlossary(this.selectedItem)
          .then(() => {
            this.loader = false;
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            this.loadPagingData();
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      close () {
        this.dialog = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {

        getGlossary(this.searchItem)
          .then(response => {

            if (response.data.applicationGlossaryID != null) {

              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.applicationGlossaryID).indexOf(response.data.applicationGlossaryID)
              this.editedIndex = index;

            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No More Record to View');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.applicationGlossaryID;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.applicationGlossaryID;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.applicationGlossaryID;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.applicationGlossaryID;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {
        this.editedItem.valid = false;
        this.editedItem.applicationGlossaryID = -1;
        this.editedItem.name = '';
        this.editedItem.definition = '';
        this.editedItem.nameRules = [v => !!v || 'Name is required'];
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        this.editedItem.statusCodeID = 840;
        this.editedItem.statusCode = 'Active';
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        this.editedIndex = -1;
      },
      deleterow () {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedIndex;
        deleteGlossary(this.editedItem)

          .then(() => {
            //this.loader = false;
            //this.editedItem = null;
            this.add();
            this.gridItems.splice(index, 1);
            this.loadPagingData();
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
          })
          .catch(error => {
            //this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      close () {
        this.dialog = false;
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updateGlossary(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.loadPagingData();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          } else {
            // this.editedItem.applicationAbbreviationId = parseInt(Math.random() * 100) + 1024; // mock a id
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            //this.editedItem.statusCodeID = 1;
            createGlossary(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem = response.data;
                let index = this.gridItems.map(item => item.applicationGlossaryID).indexOf(response.data.applicationGlossaryID)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.loadPagingData();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          //this.close();
        }
      }
    }
  };
</script>