<template>

    <div>
        <v-layout wrap style="background: gainsboro !important;padding: 10px;">
            <span class="headline">Notice Line</span>
        </v-layout>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details :disabled="enableAddButton"></v-text-field>
            <download-excel class="btn btn-default" :data="gridNoticeItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Excipient Information.xls">
                <v-btn icon :disabled="enableAddButton">
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
                <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveAndClose">
                                <v-icon color="white">library_add</v-icon>
                            </v-btn>
                            <span>Save and Close</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="save" :loading="loader">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save </span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="add" :loading="loader">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <span>Create New Per Unit Formulation</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="deleterow">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Delete</span>
                        </v-tooltip>

                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Close</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div style="overflow:auto;height:calc(100vh - 110px - 60px)">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="productLineform" lazy-validation>
                                <v-layout row wrap>
                                    <v-flex xs12 sm6>
                                        <v-autocomplete label="Company" prepend-icon="notes" v-model="editedItem.companyId" :items="companyItems" :rules="nameRules" item-value="plantID" item-text="plantCode" chips flat></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-autocomplete :loading="loader" chips flat label="Module" prepend-icon="assistant" :items="moduleItems" :rules="nameRules" v-model="editedItem.moduleId" color="blue" item-text="codeValue" item-value="codeID">
                                            <template slot="selection" slot-scope="data">{{ data.item.codeValue }}</template>
                                            <template slot="item" slot-scope="data">
                                                <template v-if="typeof data.item !== 'object'">
                                                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                </template>
                                                <template v-else>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title v-html="data.item.codeValue"></v-list-tile-title>
                                                    </v-list-tile-content>
                                                </template>
                                            </template>
                                        </v-autocomplete>
                                    </v-flex>
                                    <v-flex xs10 sm5>
                                        <v-text-field v-model="editedItem.link" label="Link" prepend-icon="description" required :rules="[linkRules.rules.validURLs]"></v-text-field>
                                    </v-flex>
                                    <v-flex xs1 sm1>
                                        <v-btn @click="clicklinkComment" icon>
                                            <v-icon>visibility</v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs10 sm5>
                                        <v-text-field v-model="editedItem.wilink" label="WI Link" prepend-icon="description" required :rules="[linkRules.rules.validURLs]"></v-text-field>
                                    </v-flex>
                                    <v-flex xs1 sm1>
                                        <v-btn @click="clickwilinkComment" icon>
                                            <v-icon>visibility</v-icon>
                                        </v-btn>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-menu v-model="startDateMenu" :close-on-content-click="false" menu-props="closeOnContentClick" full-width min-width="290">
                                            <v-text-field slot="activator" :value="startDateFormated" label="Start Date" prepend-icon="today" readonly></v-text-field>
                                            <v-date-picker v-model="editedItem.startDate" @input="onchnageStartDate"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-autocomplete label="Frequency" prepend-icon="notes" v-model="editedItem.frequencyId" :items="frequencyItems" item-text="codeValue" item-value="codeID" chips @change="onChangeCustom"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm6 v-if="weeklyFlag">
                                        <v-autocomplete :loading="loader" chips flat label="Days Of Week" prepend-icon="assistant" :items="weeklyTypeItems" v-model="editedItem.noticeWeeklyIds" color="blue" item-text="codeValue" item-value="codeID" multiple :search-input.sync="searchWeeklyType" @change="selectWeeklyType">
                                            <template slot="selection" slot-scope="data">
                                                <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeWeeklyType(data.item)">{{ data.item.codeValue }}</v-chip>
                                            </template>
                                            <template slot="item" slot-scope="data">
                                                <template v-if="typeof data.item !== 'object'">
                                                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                </template>
                                                <template v-else>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title v-html="data.item.codeValue"></v-list-tile-title>
                                                    </v-list-tile-content>
                                                </template>
                                            </template>
                                        </v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm6 v-if="monthlyFlag">
                                        <v-autocomplete label="Day" prepend-icon="notes" v-model="editedItem.monthlyDay" :items="daysList" chips :rules="[v => !!v || 'This is required']"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm6 v-if="yearlyFlag">
                                        <v-switch v-model="editedItem.daysOfWeek" label="Days of Week"></v-switch>
                                    </v-flex>
                                    <v-flex xs12 sm6 v-if="editedItem.daysOfWeek">
                                        <v-autocomplete :loading="loader" chips flat label="Weekly" prepend-icon="assistant" :items="daysOfWeekList" v-model="editedItem.daysOfWeekIds" color="blue" item-text="codeValue" item-value="codeID" multiple :search-input.sync="searchYearlyType" @change="selectYearlyType">
                                            <template slot="selection" slot-scope="data">
                                                <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeYearlyType(data.item)">{{ data.item.codeValue }}</v-chip>
                                            </template>
                                            <template slot="item" slot-scope="data">
                                                <template v-if="typeof data.item !== 'object'">
                                                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                </template>
                                                <template v-else>
                                                    <v-list-tile-content>
                                                        <v-list-tile-title v-html="data.item.codeValue"></v-list-tile-title>
                                                    </v-list-tile-content>
                                                </template>
                                            </template>
                                        </v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                        <v-menu v-model="endDateMenu" :close-on-content-click="false" menu-props="closeOnContentClick" full-width min-width="290">
                                            <v-text-field slot="activator" :value="endDateFormated" label="End Date" prepend-icon="today" readonly clearable @click:clear="clearableendDate"></v-text-field>
                                            <v-date-picker :min="editedItem.startDate" v-model="editedItem.endDate" @input="onchnageEndDate"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-card-text>
                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" outline @click.native="save" :loading="loader">save</v-btn>
                        <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
                    </v-card-actions>
                    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
                    </delete-confirmation-dialog>

                </v-card>
            </v-dialog>
            <v-tooltip bottom>
                <v-btn icon="" slot="activator" @click="initialize()" :disabled="enableAddButton">
                    <v-icon icon>
                        refresh
                    </v-icon>
                </v-btn>
                <span>Refresh</span>
            </v-tooltip>
        </v-toolbar>

        <app-section-loader :status="subsubloader"></app-section-loader>

        <v-data-table :headers="headers" :items="gridNoticeItems" :search="search" class="elevation-1" default-sort="noticeLineId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <td>{{ props.item.companyName }}</td>
                <td>{{ props.item.moduleName }}</td>
                <td class="text-xs-left">{{ props.item.startDate|formatDate }}</td>
                <td class="text-xs-left">{{ props.item.endDate|formatDate }}</td>
                <td class="text-xs-left">{{ props.item.frequencyName }}</td>
                <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)">
                        edit
                    </v-icon>
                    <v-icon small @click="onDeleteItem(props.item)">
                        delete
                    </v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import moment from "moment";
    import GlobalMessage from '@/constant';
    import { createNoticeLine, NoticeLineByID, updateNoticeLine, deleteNoticeLine } from '@/api/noticeLine';
    import { getCodeMasterByType, getPlants } from "@/api/applicationUser";

    export default {
        data: () => ({
            startDateMenu: false,
            endDateMenu: false,
            monthlyFlag: false,
            yearlyFlag: false,
            dialog: false,
            subsubloader: false,
            editedIndex: -1,
            search: '',
            noticeId: -1,
            noticeWeeklyIds: [],
            weeklyTypeItems: [],
            companyItems: [],
            moduleItems: [],
            frequencyItems: [],
            gridNoticeItems: [],
            enableAddButton: true,
            searchWeeklyType: "",
            editedItem: {
                productLineform: false,
                noticeLineId: -1,
                link: "",
                Wilink: "",
                moduleId: null,
                frequencyId: null,
                startDate: null,
                endDate: null,
                monthlyDay: null,
                daysOfWeek: null,
                companyId: null,
                noticeWeeklyIds: [],
                statusCodeID: 1,
                addedByUserID: '',
                addedDate: new Date(),
                daysOfWeekIds: [],
            },
            defaultItem: {
                productLineform: false,
                noticeLineId: -1,
                link: "",
                Wilink: "",
                moduleId: null,
                frequencyId: null,
                startDate: null,
                endDate: null,
                monthlyDay: null,
                daysOfWeek: null,
                companyId: null,
                noticeWeeklyIds: [],
                statusCodeID: 1,
                addedByUserID: '',
                addedDate: new Date(),
                daysOfWeekIds: [],
            },
            weeklyFlag: false,
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            loader: false,
            searchYearlyType: "",
            searchItem: { action: '', Id: null, searchString: 'searchString', },
            headers: [
                { text: 'Company', value: 'companyName', align: 'left' },
                { text: 'Module', value: 'moduleName', align: 'left' },
                { text: 'Start Date', value: 'startDate', align: 'left' },
                { text: 'End Date', value: 'endDate', align: 'left' },
                { text: 'Frequency Name', value: 'frequencyName', align: 'left' },

                { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
            ],
            json_fields: {
                'Company': "companyName",
                'Material Name': 'moduleName',
                'Start Date': 'startDate',
                'End Date': 'endDate',
                'Frequency Name': 'frequencyName',
            },
            daysList: [],
            monthlyList: [],
        }),
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Add Reports/Form Line' : 'Edit Reports/Form Line';
            },
            startDateFormated () {
                return this.editedItem.startDate ? moment(this.editedItem.startDate).format(GlobalMessage.DATEFORMAT) : ''
            },
            endDateFormated () {
                return this.editedItem.endDate ? moment(this.editedItem.endDate).format(GlobalMessage.DATEFORMAT) : ''
            },
            linkRules () {
                return {
                    rules: {
                        validURLs: (v) => !!this.validURL(v) || "Invalid Url",
                    }
                }
            },
            nameRules () {

                return [
                    v => !!v || 'This is required field'
                ];
            },
        },
        created () {
        },
        watch: {
            dialog (val) {
                val || this.close();
            }
        },
        methods: {
            getdaysList (date) {
                this.daysList = [];
                if (date != null) {
                    // let day = moment(date).endOf('month').format('DD');
                    for (let i = 1; i <= 31; i++) {
                        this.daysList.push({ "text": i, "value": i });
                    }
                }
                this.monthlyList = [];
                moment.locale('en');
                let i = 1;
                moment.months().forEach(element => {
                    this.monthlyList.push({ "text": element, "value": i++ });

                });
            },
            selectYearlyType () {
                this.searchYearlyType = "";
            },
            removeYearlyType (item) {
                const index = this.editedItem.daysOfWeekIds.indexOf(item.codeID)
                if (index >= 0) this.editedItem.daysOfWeekIds.splice(index, 1)
            },
            clearableendDate () {
                this.editedItem.endDate = null;
            },
            onchnageStartDate () {
                this.startDateMenu = false;
            },
            onchnageEndDate () {
                this.endDateMenu = false;
            },
            validURL (v) {
                if (v != undefined && v.length > 0) {
                    var pattern = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                    return pattern.test(v);
                }
                else {
                    return true;
                }
            },
            selectWeeklyType () {
                this.searchWeeklyType = "";
            },
            removeWeeklyType (item) {
                const index = this.editedItem.noticeWeeklyIds.indexOf(item.codeID)
                if (index >= 0) this.editedItem.noticeWeeklyIds.splice(index, 1)
            },
            initialize () {
                this.subsubloader = true;
                NoticeLineByID(this.noticeId)
                    .then(response => {
                        this.gridNoticeItems = response.data;
                        this.subsubloader = false;
                    })
                    .catch(error => {
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },
            loadDropdownList () {
                this.loader = true;
                getCodeMasterByType("NoticeModuleStatus")
                    .then(response => {
                        this.moduleItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getCodeMasterByType("Notification Custom Status")
                    .then(response => {
                        this.frequencyItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getCodeMasterByType("Day of Week")
                    .then(response => {
                        this.weeklyTypeItems = response.data;
                        this.daysOfWeekList = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getPlants()
                    .then((response) => {
                        this.companyItems = response.data;
                        this.loader = false;
                    })
                    .catch((error) => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            editItem (item) {
                this.getdaysList(new Date().toISOString().substr(0, 10));
                this.loadDropdownList();
                this.editedIndex = this.gridNoticeItems.indexOf(item);
                
                setTimeout(() => {
                    this.onChangeCustom(item.frequencyId, 'edit');
                    this.editedItem = Object.assign({}, item);
                    if (this.editedItem.startDate != null) {
                        this.editedItem.startDate = moment(this.editedItem.startDate).format('YYYY-MM-DD');
                    }
                    if (this.editedItem.endDate != null) {
                        this.editedItem.endDate = moment(this.editedItem.endDate).format('YYYY-MM-DD');
                    }
                    this.dialog = true;
                }, 500);

            },
            onChangeCustom (value, type) {

                this.weeklyFlag = false;
                this.monthlyFlag = false;
                this.yearlyFlag = false;
                if (type != 'edit') {
                    this.editedItem.monthly = "";
                    this.editedItem.yearly = "";
                }
                this.editedItem.daysOfWeek = false;
                this.editedItem.noticeWeeklyIds = [];
                let item = this.frequencyItems.filter(h => h.codeID == value);
                if (item.length > 0) {
                    let data = "";
                    if (item[0].codeValue.toLowerCase() == "daily") {
                        data = "day";
                    }
                    if (item[0].codeValue.toLowerCase() == "monthly") {
                        this.monthlyFlag = true;
                        data = "month";
                        if (type != 'edit') {
                        }
                    }
                    if (item[0].codeValue.toLowerCase() == "weekly") {
                        this.weeklyFlag = true;
                        data = "week";
                    }
                    if (item[0].codeValue.toLowerCase() == "yearly") {
                        this.yearlyFlag = true;
                        data = "year";
                        if (type != 'edit') {
                        }
                    }
                }
            },
            close () {
                this.dialog = false;
                this.add();
            },
            saveAndClose () {
                this.save();
                this.dialog = false;
            },
            add () {
                this.getdaysList(new Date().toISOString().substr(0, 10));
                this.loadDropdownList();
                this.editedIndex = -1;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedItem.startDate = moment(new Date()).format('YYYY-MM-DD');
                this.weeklyFlag = false;
                this.monthlyFlag = false;
                this.yearlyFlag = false;
            },

            save () {
                this.editedItem.noticeId = this.noticeId;
                if (this.$refs.productLineform.validate()) {
                    this.subsubloader = true;
                    let index = this.editedIndex;
                    if (this.editedIndex > -1) {
                        Object.assign(this.gridNoticeItems[this.editedIndex], this.editedItem);
                        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();

                        updateNoticeLine(this.editedItem)
                            .then(response => {
                                Object.assign(this.gridNoticeItems[index], response.data);
                                this.subloader = false;
                                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                                this.initialize();
                            })
                            .catch(error => {
                                this.subloader = false;
                                window.getApp.$emit('APP_API_ERROR', error);
                            });
                    }
                    else {
                        this.editedItem.addedByUserID = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();
                        createNoticeLine(this.editedItem)
                            .then(response => {
                                this.gridNoticeItems.push(response.data);
                                this.subsubloader = false;
                                this.editedItem.noticeLineId = response.data.noticeLineId;
                                let index = this.gridNoticeItems.map(item => item.noticeLineId).indexOf(response.data.noticeLineId)
                                this.editedIndex = index;
                                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                                this.initialize();
                            })
                            .catch(error => {
                                this.subsubloader = false;
                                window.getApp.$emit('APP_API_ERROR', error);
                            });
                    }
                }
            },
            clickwilinkComment () {
                var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                if (validate.test(this.editedItem.Wilink)) {
                    window.open(this.editedItem.Wilink, "_blank");
                } else {
                    window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
                }
            },
            clicklinkComment () {
                var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                if (validate.test(this.editedItem.link)) {
                    window.open(this.editedItem.link, "_blank");
                } else {
                    window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
                }
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.noticeLineId > -1) {
                    this.subsubloader = true;
                    let index = this.gridNoticeItems.indexOf(this.editedItem);
                    deleteNoticeLine(this.editedItem)
                        .then(response => {
                            this.subsubloader = false;
                            if(response.data!=undefined)
                            {
                            this.gridNoticeItems.splice(index, 1);
                            
                            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
                            }
                            this.add();
                        })
                        .catch(error => {
                            this.subsubloader = false;
                            window.getApp.$emit('APP_API_ERROR', error);
                        });
                }
            },
        }
    }
</script>
<style scoped>
    .backgroundlayout {
      background: gainsboro !important;
    }
</style>

