<template>
    <div>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Registration Variation.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>

            <v-btn icon="" @click="loadPagingData()" v-hotkey="loadPagingKey">
                <v-icon icon> refresh </v-icon>
            </v-btn>

            <v-dialog v-model="dialog" fullscreen>
                <v-btn slot="activator" icon @click.native="add">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveAndClose">
                                <v-icon color="white">library_add</v-icon>
                            </v-btn>
                            <span>Save and Close</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="save">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save </span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="add">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <span>Create New Mobile Shift</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="deleterow">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Delete</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="first">
                                <v-icon color="white">first_page</v-icon>
                            </v-btn>
                            <span>First</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="previous">
                                <v-icon color="white">keyboard_arrow_left</v-icon>
                            </v-btn>
                            <span>Previous</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="next">
                                <v-icon color="white">keyboard_arrow_right</v-icon>
                            </v-btn>
                            <span>Next</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="last">
                                <v-icon color="white">last_page</v-icon>
                            </v-btn>
                            <span>Last</span>
                        </v-tooltip>

                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                    </v-toolbar>

                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div class="task-sub--scroll">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                                    <v-layout row wrap>
                                        <v-flex xs12 sm4>
                                            <v-autocomplete :loading="loader" chips cache-items flat placeholder="Select Plant" prepend-icon="assistant" :items="plantItems" v-model="editedItem.plantId" label="Plant" color="blue" item-text="plantCode" item-value="plantID" :rules="plantRules">
                                            </v-autocomplete>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-text-field v-model="editedItem.code" label="Code" prepend-icon="description" :rules="codeRules">
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm4>
                                            <v-textarea v-model="editedItem.description" label="Description" prepend-icon="description">
                                            </v-textarea>
                                        </v-flex>

                                        <v-flex xs12 sm4>
                                            <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions">
                                            </v-autocomplete>
                                        </v-flex>
                                    </v-layout>
                            </v-form>
                        </v-card-text>
                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" outline @click.native="save">
                            Save
                        </v-btn>
                        <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
                    </v-card-actions>
                    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem">
                    </delete-confirmation-dialog>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :pagination.sync="pagination" :total-items="totalRows" :rows-per-page-items="rowsPerPageItems" :loading="gridloader" @update:pagination="onUpdatePagination" class="elevation-1">
            <template slot="items" slot-scope="props">
                <tr @dblclick="editItem(props.item)">
                    <td class="text-xs-left">
                        {{ props.item.companyName }}
                    </td>
                    <td class="text-xs-left">{{ props.item.code }}</td>
                    <td class="text-xs-left">
                        {{ props.item.description }}
                    </td>
                    <td class="text-xs-left">{{ props.item.statusCode }}</td>
                    <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
                    <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>
                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">
                            edit
                        </v-icon>
                        <v-icon small @click="onDeleteItem(props.item)"> delete </v-icon>
                    </td>
                </tr>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="loadPagingData">
                    Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import {
        getMobileShift,
        getSearchData,
        createMobileShift,
        updateMobileShift,
        deleteMobileShift,
    } from "@/api/mobileShift";
    import { getPlants } from "@/api/plant";
    import moment from "moment";
    import GlobalMessage from "@/constant";
    import { getData } from "@/api/paggedapi";
    import search from "@/search";
    export default {
        components: {},
        data: () => ({
            dialog: false,
            loader: false,
            gridloader: false,
            search: "",
            totalRows: 0,
            registerationStatusItem: [],
            statusOptions: [
                { text: "Active", value: 1 },
                { text: "InActive", value: 2 },
            ],
            timeout: 2000,
            y: "top",
            filterFields: [
                "Plant.PlantCode",
                "Code",
                "Description.Value",
            ],
            headers: [
                {
                    text: "Plant",
                    value: "companyName",
                    align: "left",

                },
                {
                    text: "Code",
                    value: "code",
                    align: "left",

                },
                {
                    text: "Description",
                    value: "description",
                    align: "left",
                },
                { text: "Status", value: "name", align: "left" },
                { text: "Modified By", value: "modifiedByUser", align: "left" },
                { text: "Modified Date", value: "modifiedDate",  align: "left" },
                { text: "Actions", value: "name", sortable: false, align: "left" },
            ],
            json_fields: {
                "Plant": "companyName",
                "Code": "code",
                "Description": "description",
                'Status': "statusCode",
                "Added By": "addedByUser",
                "Modified By": "modifiedByUser",
                "Modified Date": "modifiedDate",
            },
            gridItems: [],
            editedIndex: -1,
            selectedItem: null,
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            plantItems: [],
            editedItem: {
                valid: false,
                mobileShiftId: -1,
                plantId: null,
                code: "",
                description: null,
                addedByUserId: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                statusCode: "Active",
                modifiedByUserId: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
            },
            defaultItem: {
                valid: false,
                mobileShiftId: -1,
                plantId: null,
                code: "",
                description: null,
                addedByUserId: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                statusCode: "Active",
                modifiedByUserId: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
            },
            searchItem: { action: "", Id: null, searchString: "searchString" },
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1
                    ? "Add Mobile Shift"
                    : "Edit Mobile Shift";
            },
            plantRules () {
                return [(v) => !!v || "Plant is required"];
            },
            codeRules () {
                return [(v) => !!v || "This Field is required"];
            },
            loadPagingKey () {
                return {
                    // bind to hotkey
                    enter: this.loadPagingData,
                };
            },
        },

        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
            },
            loadDropdownList () {
                getPlants("")
                    .then((response) => {
                        this.plantItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            editItem (item) {
                this.loadDropdownList();
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
            },
            getDataFromApi (pageSize) {
                this.pagination.rowsPerPage = pageSize;
                search.pageSize = pageSize;
                this.loadPagingData();
            },
            loadPagingData () {
                search.filterFields = this.filterFields;
                search.descending = true;
                search.pageCount = this.pagination.page;
                search.sortCol = "mobileShiftId";
                search.sortBy = this.pagination.descending == true ? "desc" : "asc";
                search.searchString = this.search;
                search.methodName = "GetMobileShift";
                search.pageCount = 1;
                this.pagination.page = 1;
                this.gridloader = true;
                getData(search)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.gridloader = false;
                    })
                    .catch((error) => {
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onUpdatePagination (args) {
                search.filterFields = this.filterFields;
                search.descending = true;
                search.pageCount = args.page;
                search.pageSize = args.rowsPerPage;
                if (args.sortBy == "companyName") {
                    search.sortCol = "Plant.PlantCode";
                } else if (args.sortBy == "code") {
                    search.sortCol = "Code";
                } else if (args.sortBy == "description") {
                    search.sortCol = "Description";
                }
                else if (args.sortBy == "statusCode") {
                    search.sortCol = "StatusCode.CodeValue";
                } else if (args.sortBy == "addedByUser") {
                    search.sortCol = "AddedByUser.UserName";
                } else if (args.sortBy == "modifiedByUser") {
                    search.sortCol = "ModifiedByUser.UserName";
                }
                else {
                    search.sortCol = args.sortBy;
                }
                search.sortBy = args.descending == true ? "desc" : "asc";
                search.searchString = this.search;
                search.methodName = "GetMobileShift";
                this.gridloader = true;
                getData(search)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.gridloader = false;
                    })
                    .catch((error) => {
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            DeleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.mobileShiftId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);

                    deleteMobileShift(this.editedItem)
                        .then(response => {
                            this.loader = false;
                            this.selectedItem = null;
                            if (response != undefined) {
                                this.gridItems.splice(index, 1);
                                this.add();
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                                this.loadPagingData();
                            }
                        })
                        .catch((error) => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },

            saveAndClose () {
                this.save();
                this.close();
            },
            toolfunction () {
                getSearchData(this.searchItem)
                    .then((response) => {
                        if (response.data.mobileShiftId != null) {
                            this.editedItem = response.data;
                            let index = this.gridItems
                                .map((item) => item.mobileShiftId)
                                .indexOf(response.data.mobileShiftId);
                            this.editedIndex = index;
                        } else {
                            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
                        }
                    })
                    .catch((error) => {
                        // this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            first () {
                this.searchItem.action = "First";
                this.searchItem.Id = this.editedItem.mobileShiftId;
                this.toolfunction();
            },
            last () {
                this.searchItem.action = "Last";
                this.searchItem.Id = this.editedItem.mobileShiftId;
                this.toolfunction();
            },
            previous () {
                this.searchItem.action = "Previous";
                this.searchItem.Id = this.editedItem.mobileShiftId;
                this.toolfunction();
            },
            next () {
                this.searchItem.action = "Next";
                this.searchItem.Id = this.editedItem.mobileShiftId;
                this.toolfunction();
            },
            add () {
                this.loadDropdownList();
                this.editedItem.valid = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;

            },
            close () {
                this.dialog = false;
                this.initialize();
                this.loadPagingData();
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },
            save () {
                if (this.$refs.form.validate()) {
                    this.loader = true;
                    let index = this.editedIndex;
                    if (this.editedIndex > -1) {
                        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
                        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();
                        this.editedItem.addedByUserId = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();
                        updateMobileShift(this.editedItem)
                            .then((response) => {
                                Object.assign(this.gridItems[index], response.data);
                                this.editedItem = response.data;
                                this.loader = false;
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                            })
                            .catch((error) => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    } else {
                        this.editedItem.addedByUserId = this.$store.state.auth.userId;

                        createMobileShift(this.editedItem)
                            .then((response) => {
                                this.gridItems.push(response.data);
                                this.loader = false;
                                this.editedItem.mobileShiftId =
                                    response.data.mobileShiftId;
                                let index = this.gridItems
                                    .map((item) => item.mobileShiftId)
                                    .indexOf(response.data.mobileShiftId);
                                this.editedIndex = index;
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                            })
                            .catch((error) => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                }
            },
        },
    };
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 110px - 60px);
     }
</style>