<template>
  <div >
        <v-toolbar
      flat
      card
      dence
      color="lightgrey"
    >
     
      <v-menu
        :close-on-content-click="false"
        v-model="startDatemenu"
        full-width
        min-width="290"
      >
        <v-text-field
          slot="activator"
          :value="startFormated"
          label="Start Date"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker
          v-model="searchData.fromDate"
          @change="startDatemenu = false"
        ></v-date-picker>
      </v-menu>

      <v-menu
        :close-on-content-click="false"
        v-model="endmenu"
        full-width
        min-width="290"
      >
        <v-text-field
          slot="activator"
          :value="endFormated"
          label="End Date"
          prepend-icon="event"
          readonly
        ></v-text-field>
        <v-date-picker
          v-model="searchData.toDate"
          @change="endmenu = false"
          
        ></v-date-picker>

      </v-menu>
      
                    <v-autocomplete
                      label="User"
                      hint="Atleast 3 Characters required"
                      prepend-icon="group"
                      v-model="searchData.commentBy"
                      :items="userItems"
                      chips                     
                      item-text="name"
                      item-value="userID"
                      clearable
                    >
                      
                      <template
                        slot="item"
                        slot-scope="data"
                      >
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content v-text="data.item"></v-list-tile-content>
                        </template>
                        <template v-else>                       
                          <v-list-tile-content>
                            <v-list-tile-title v-html="data.item.name"></v-list-tile-title>                           
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
      
              <v-autocomplete
                flat
                :items="messageStatusOption"
                v-model="searchData.statusCodeID"
                label="Filter By status"
                chips
                prepend-icon="filter_list"               
              ></v-autocomplete>
           
      <v-btn
        flat
        @click="SearchFilter"
      >
        <v-icon color="primary">search</v-icon>
        Search
      </v-btn>     
     
    </v-toolbar>
    <v-toolbar
      flat
      color="white"
    >
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="taskCommentSubjects"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="tasks.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="initialize()"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>

    <v-data-table
      :items="taskCommentSubjects"
      class="elevation-1"
      :search="search"
      :headers="subjectHeaders"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template
        slot="items"
        slot-scope="props"
      >
        <tr v-bind:class="props.item.cssClass">
          <td>{{ props.item.taskName }}</td>
          <td><span
              v-if="props.item.isRead == true"
              style="font-size: 18px;font-weight:bold;color:blue"
            >

              {{ props.item.taskSubject }}</span>
            <span
              v-else
              style="font-size: 14px;"
            >{{ props.item.taskSubject }}</span></td>
          <td class="text-xs-left">{{ props.item.taskDueDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.subjectDueDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.assignedType }}</td>
          <td class="text-xs-left">{{ props.item.commentedByName }}</td>
          <td class="text-xs-left">{{ props.item.subjectStatus }}</td>
          <td class="text-xs-left">{{ props.item.lastCommentedDate | formatDate }}</td>
          <td>
            <v-btn
              flat
              icon
              @click="redirectLink(props.item)"
            >
              <v-icon>visibility</v-icon>
            </v-btn>
          </td>
        </tr>

      </template>
       <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        > Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>

  </div>

</template>

<script>

import { getApplicationUsers, getTaskListByUser, getSelectedTaskFiles, getUsersByTaskID, getTaskMessageBySearch, getTaskOpenCommentByUserID } from '@/api/taskMaster';
import GlobalMessage from '@/constant';


//import CKEditor from '@ckeditor/ckeditor5-vue';
import moment from 'moment'
//import format from 'date-fns/format'

export default {
  components: {


  },
  data: () => ({
    loader: false,
    validate: false,
    isChecked: false,
    search: '',
    
    usersDialog: false,
    taskCommentSubjects: [],
    userItems: [],
    startDatemenu: false,
    endmenu: false,
    
    
    requiredfield: [v => !!v || 'This is required field'],
    taskItems: [],
    selectedTaskID: null,
    searchData: {fromDate: new Date().toISOString().substr(0, 10), toDate: new Date().toISOString().substr(0, 10), commentBy: null,statusCodeID: 0, userID: null },
    editedItem: {
      description: '',
      documentID: -1,
      fileName: '',
      sessionID: null,
      linkID: null,
      readonlyUserID: [],
      readWriteUserID: [],
      taskAttachmentId: null,
      uploadDate: new Date().toISOString().substr(0, 10),
      uploadedByUser: '',
      addedByUserID: null,
      uploadedByUserId: null,
      valid: false,
      isRead: false,
      isEdit: false,
      isNoAccess: false,



    },
    defaultData: {
      description: '',
      documentID: -1,
      fileName: '',
      sessionID: null,
      linkID: null,
      readonlyUserID: [],
      readWriteUserID: [],
      taskAttachmentId: null,
      uploadDate: new Date().toISOString().substr(0, 10),
      uploadedByUser: '',
      addedByUserID: null,
      uploadedByUserId: null,
      valid: false,
      isRead: false,
      isEdit: false,
      isNoAccess: false,


    },
     messageStatusOption: [
        { text: "Open", value: 512 },
        { text: "Completed", value: 513 },
        { text: "Closed", value: 516 },
        { text: "Quoted", value: 163 }
      ],
    subjectHeaders: [



      { text: 'Task Name', value: 'taskName' },
      { text: 'Subject ', value: 'taskSubject' },
      { text: 'Task Due Date', value: 'taskDueDate' },
      { text: 'Subject Due Date', value: 'subjectDueDate' },
      { text: 'Assigned Type', value: 'assignedType' },
      { text: 'Comment By', value: 'commentedByName' },
      { text: 'Status', value: 'subjectStatus', align: 'left' },
      { text: 'Last Commented Date', value: 'lastCommentedDate' },
      { text: 'Actions', value: 'actions', align: 'left' },
    ],
     json_fields: {
       "Task Name" : "taskName",
       "Subject" : "taskSubject",
       "Task Due Date" : "taskDueDate",
       "Subject Due Date" : "subjectDueDate",
       "Comment By" : "commentedByName",
       "Status" : "subjectStatus",
       "Last Commented Date" : "lastCommentedDate",
     },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
  }),

  computed: {


    requiredRules () {
      return [
        v => !!v || 'This is required field'
      ];
    },
     startFormated () {
      return this.searchData.fromDate ? moment(this.searchData.fromDate).startOf('month').format(GlobalMessage.DATEFORMAT) : ''
    },
    endFormated () {
      return this.searchData.toDate ? moment(this.searchData.toDate).endOf('month').format(GlobalMessage.DATEFORMAT) : ''
    },

  },

  created () {
    this.initialize();
  },

  methods: {
    initialize () {
      this.loader = true;
      let id = this.$store.state.auth.userId;

      getTaskOpenCommentByUserID(id)
        .then(response1 => {
          this.taskCommentSubjects = response1.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
       
         getApplicationUsers('')
        .then(response1 => {
          if (response1.data != undefined) {
            this.userItems = response1.data;
            let uom = this.userItems.filter(o => o.statusCodeID == 1);
            this.userItems = uom;
           // this.loader = false;
          }
          //this.total = response.data.length;
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },

    editItem (item) {
      this.taskTag = Object.assign({}, item);

    },
    SearchFilter(){
      this.searchData.userID = this.$store.state.auth.userId;
        getTaskMessageBySearch(this.searchData)
        .then(response1 => {
          if (response1.data != undefined) {
            this.taskCommentSubjects = response1.data;          
          
          }
         
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },
    redirectLink (item) {
      this.$router.push({ name: 'taskTreeView', query: { id: item.taskMasterID, taskid: item.taskMasterID } });
    },

  }
};
</script>

