<template>
  <div id="page-forms">
    <v-form
      v-model="validate"
      ref="validateform"
      lazy-validation
    >
      <v-toolbar
        flat
        dense
        card
      >
       
            <v-autocomplete
              :disabled="!isSearch"
              flat
              :items="tagItems"
              v-model="selectedTagID"
              label="ExistingTag"
              chips
              prepend-icon = "fa-tag"
              item-text="name"
              item-value="tagMasterID"
              @change="selectedTag"
            >

            </v-autocomplete>
         
            <v-autocomplete
              :disabled="!isSearch"
              :items="tagItems"
              v-model="changeTagID"
              label="New Tag"
              required
              flat
              chips
              prepend-icon = "fa-tag"
              :rules="requiredRules"
              item-text="name"
              item-value="tagMasterID"
              @change="changeTag"
            >

            </v-autocomplete>
         
            <v-tooltip bottom>
              <v-icon
                color="primary"
                slot="activator"
                @click.native="searchTask"
              >search</v-icon>

              <span>Search Task</span>
            </v-tooltip>
          &nbsp&nbsp
            <v-tooltip bottom>
              <v-icon
                color="primary"
                slot="activator"
                @click.native="cancel"
              >clear</v-icon>
              <span>clear </span>
            </v-tooltip>
         
            <v-btn
              color="primary"
              @click="apply"
              v-show="selectedTagID!=changeTagID"
            >
              Apply 
            </v-btn>
         
      </v-toolbar>

      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="taskItems"
        default-sort="taskTagID:desc"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
      >

        <template
          slot="items"
          slot-scope="props"
        >

          <td class="text-xs-left">{{ props.item.taskName }}</td>
          <td class="text-xs-left">{{ props.item.tagName }}</td>
          <td class="text-xs-left">
            <v-checkbox
              primary
              hide-details
              v-model="props.item.isSelected"
              @change="editItem(props.item)"
            ></v-checkbox>
          </td>

        </template>
        <template slot="no-data">
          <v-btn
            color="primary"
            outline
          > Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
    </v-form>
  </div>
</template>

<script>

import { getTagMaster, getTasksByTag, updateTaskTag } from '@/api/tag';
import GlobalMessage from '@/constant';


//import CKEditor from '@ckeditor/ckeditor5-vue';
import moment from 'moment'
//import format from 'date-fns/format'

export default {
  components: {


  },
  data: () => ({
    loader: false,
    validate: false,
    isChecked: false,
    isSearch: true,
    tagItems: [],
    selecttagItems: [],
    changetagItems: [],
    selected: [],
    requiredfield: [v => !!v || 'This is required field'],
    taskItems: [],
    changeTagID: null,
    selectedTagID: null,
    taskTag: {
      taskTagID: null,
      taskMasterID: null,
      tagID: null,
      taskTagList: [],
    },
    headers: [
      { text: 'Task Name', value: 'taskName', align: 'left' },
      { text: 'Tag Name', value: 'tagName', align: 'left' },

      { text: 'Actions', value: 'name', sortable: false, align: 'left' }
    ],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
  }),

  computed: {


    requiredRules () {
      return [
        v => !!v || 'This is required field'
      ];
    },


  },

  created () {
    this.initialize();
  },

  methods: {
    initialize () {
      this.loader = true;
      let userId = this.$store.state.auth.userId;

      getTagMaster('')
        .then(response1 => {
          this.tagItems = response1.data;

          this.loader = false;

        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },
    selectedTag (value) {
      //this.getTasksBySelectedTag(value);


    },

    getTasksBySelectedTag (value) {
      
      getTasksByTag(value)
        .then(response1 => {

          this.taskItems = response1.data;
          this.loader = false;

        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },

    changeTag (value) {
      this.changeTagID = value;

    },
    searchTask () {
      if (this.selectedTagID > 0) {
        if (this.selectedTagID != this.changeTagID) {
          this.getTasksBySelectedTag(this.selectedTagID)
          this.isSearch = false;
        }
        else {
          window.getApp.$emit('APP_API_ERROR', "Please select the different New tag ");
        }

      }
    },
    cancel () {
      this.isSearch = true;
      this.taskItems = [];
      this.changeTagID=null;
      this.selectedTagID=null;
    },
    // applyAll () {
    //   if (this.taskItems != null) {
    //       this.taskTag.taskTagList = this.taskItems;
          
    //         //below values assign for using update calling function only
    //         this.taskTag.taskTagID = this.taskItems[0].taskTagID;
    //         this.taskTag.taskMasterID = this.taskItems[0].taskMasterID;

    //       this.taskTag.tagID = this.changeTagID;          
    //       updateTaskTag(this.taskTag)
    //         .then(response1 => {
    //         window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
           
    //         this.taskItems = [];
    //         })
    //         .catch(error => {
    //           this.loader = false;
    //           window.getApp.$emit('APP_API_ERROR', error);
    //         });
    //     }
      
    // },
     apply () {
      if (this.taskItems != null) {   
          this.taskTag.taskTagList = this.taskItems;          
            //below values assign for using update calling function only
            this.taskTag.taskTagID = this.taskItems[0].taskTagID;
            this.taskTag.taskMasterID = this.taskItems[0].taskMasterID;

          this.taskTag.tagID = this.changeTagID;          
          updateTaskTag(this.taskTag)
            .then(response1 => {
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
           
            this.taskItems = [];
            this.searchTask();
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      
    },
    editItem (item) {
      this.taskTag = Object.assign({}, item);
      if (item.isSelected == true) {
        if (this.changeTagID > 0) {
          this.taskTag.tagID = this.changeTagID;
          // updateTaskTag(this.taskTag)
          //   .then(response1 => {

          //     window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
          //     this.getTasksBySelectedTag(this.selectedTagID);
          //   })
          //   .catch(error => {
          //     this.loader = false;
          //     window.getApp.$emit('APP_API_ERROR', error);
          //   });
        }
      }
      else {
        this.taskTag = Object.assign({}, item);
        // updateTaskTag(this.taskTag)
        //   .then(response1 => {

        //     window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
        //   })
        //   .catch(error => {
        //     this.loader = false;
        //     window.getApp.$emit('APP_API_ERROR', error);
        //   });
      }
    },


  }
};
</script>

