<template>
  <div id="page-forms">
    <v-toolbar class="elevation-0 transparent media-toolbar">
        <v-tooltip bottom>
       <v-menu bottom slot="activator">
          <v-btn flat  icon slot="activator" >
            <v-icon icon color="primary">more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="(item, i) in markRaedUnReadItems" :key="i" @click="menuClick(i)" ripple="ripple" :target="item.target" :disabled="menudisabled(item)"   rel="noopener">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <span>Mark Read and UnRead</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn flat slot="activator" @click="AddNew">
          <v-icon color="primary">add</v-icon>New Task
        </v-btn>

        <span>Create new main task by clicking this button.</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-text-field
          class="mx-3"
          slot="activator"
          flat
          label="Search"
          prepend-icon="search"
          v-model="search"
          clearable
          @click:clear="clearSearch"
        ></v-text-field>

        <span>Search task item by typing title.</span>
      </v-tooltip>

      <v-autocomplete
        @change="loadPagingData"
        multiple
        :items="taskStatus"
        v-model="taskSearch.taskStatusIds"
        label="Filter Status"
        chips
        prepend-icon="tune"
        item-text="status"
        item-value="statusCodeID"
      ></v-autocomplete>
      <v-autocomplete
        @change="loadPagingData"
        flat
        :items="taskAssignee"
        v-model="taskSearch.taskAssigneeIds"
        label="Assignee Type"
        chips
        multiple
        prepend-icon="assignment_ind"
        item-text="status"
        item-value="statusCodeID"
      ></v-autocomplete>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          v-model="menuSearch"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>
          <v-card>
            <v-card-title>
              <span class="headline">Search and Filter</span>
            </v-card-title>

            <div style="overflow: auto; height: calc(90vh - 60px)">
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex lg6 sm6>
                    <v-text-field
                      label="Task Name"
                      prepend-icon="tune"
                      placeholder="Search multiple title with @ spliter"
                      v-model="taskSearch.title"
                    ></v-text-field>
                  </v-flex>
                  <v-flex lg1 sm1 xs1></v-flex>
                  <v-flex lg6 sm6 xs6>
                    <div class="mt-3 title">Assign Type</div>
                    <v-radio-group v-model="taskSearch.assignTypeIds" column>
                      <v-radio
                        v-for="n in taskAssignee"
                        :key="n.status"
                        :label="n.status"
                        :value="n.statusCodeID"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex lg6 sm6 xs6>
                    <div class="mt-3 title">Filter Status</div>
                    <v-radio-group v-model="taskSearch.statusIds" column>
                      <v-radio
                        v-for="n in taskStatus"
                        :key="n.status"
                        :label="n.status"
                        :value="n.statusCodeID"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <!-- <v-flex
                    lg6
                    sm6
                    xs6
                  >
                    <div class="mt-3 title">Work Type</div>
                    <v-radio-group
                      v-model="taskSearch.workTypeIds"
                      column
                    >
                      <v-radio
                        v-for="n in workTypeItems"
                        :key="n.status"
                        :label="n.status"
                        :value="n.statusCodeID"
                      ></v-radio>

                    </v-radio-group>
                  </v-flex>-->
                  <!-- <v-flex
                    lg6
                    sm6
                    xs6
                  >
                    <div class="mt-3 title">Request Type</div>
                    <v-radio-group
                      v-model="taskSearch.requestTypeIds"
                      column
                    >
                      <v-radio
                        v-for="n in requestTypeItems"
                        :key="n.status"
                        :label="n.status"
                        :value="n.statusCodeID"
                      ></v-radio>

                    </v-radio-group>
                  </v-flex>-->
                  <v-flex lg5 sm5 xs5>
                    <div class="mt-3 title">Project</div>
                    <v-autocomplete
                      hint="Atleast 3 Characters required"
                      :loading="loader"
                      flat
                      :items="projectItems"
                      label="Project"
                      chips
                      required
                      item-text="name"
                      item-value="projectID"
                      v-model="taskSearch.projectIds"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex lg1 sm1 xs1></v-flex>
                  <v-flex lg5 sm5 xs5>
                    <div class="mt-3 title">Tags</div>
                    <v-autocomplete
                      hint="Atleast 3 Characters required"
                      :loading="loader"
                      flat
                      :search-input.sync="searchTag"
                      :items="tagItems"
                      label="Tag"
                      chips
                      multiple
                      item-text="name"
                      item-value="tagMasterID"
                      v-model="taskSearch.tagIds"
                      @change="selecTag"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex lg5 sm5 xs5>
                    <div class="mt-3 title">Personal Tags</div>
                    <v-autocomplete
                      hint="Atleast 3 Characters required"
                      :items="PersonaltagItems"
                      label="Personal Tags"
                      chips
                      multiple
                      v-model="taskSearch.personaltagIds"
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex lg1 sm1 xs1></v-flex>
                   <v-flex lg5 sm5 xs5 v-if="taskSearch.assignTypeIds > 0">
                    <div class="mt-3 title">Users</div>
                    <v-autocomplete
                      hint="Atleast 3 Characters required"
                      :items="userItems"
                      :search-input.sync="searchUser"
                      label="Users"
                      chips
                      multiple
                      item-text="name"
                      item-value="userID"
                      v-model="taskSearch.userIds"
                      @change="selectUser"
                    >
                     <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeUser(data.item)">
                           
                            {{ data.item.firstName }}
                          </v-chip>
                        </template>
                    </v-autocomplete>
                  </v-flex>
                 <v-flex lg5 sm5 xs5>
                    <v-checkbox color="primary" v-model="taskSearch.isEmail" label="Is Email"></v-checkbox>
                  </v-flex>
                  <v-flex lg5 sm1 xs7></v-flex>
                  <v-flex xs12 sm12>
                    <v-layout row wrap class="layoutbg">
                      <v-flex xs12 sm12>
                        <div class="mt-3 title">Task Created Date Range</div>
                      </v-flex>
                      <v-flex xs12 sm12>
                        <v-checkbox
                          color="primary"
                          v-model="taskSearch.isBefore"
                          label="Is Before"
                          @change="selectIsBefore"
                        ></v-checkbox>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-menu
                          ref="createmenu"
                          v-model="createmenu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            :value="createDateFormatted"
                            label="Created Date"
                            prepend-icon="event"
                            readonly
                            clearable
                            @click:clear="clearableCreatedDate"
                          ></v-text-field>
                          <v-date-picker
                            v-model="taskSearch.addedDate"
                            :max="maxDate"
                          >
                            <v-spacer></v-spacer>
                            <v-btn
                              flat
                              color="primary"
                              @click="createmenu = false"
                              >Cancel</v-btn
                            >
                            <v-btn
                              flat
                              color="primary"
                              @click="
                                $refs.createmenu.save(taskSearch.addedDate)
                              "
                              >OK</v-btn
                            >
                          </v-date-picker>
                        </v-menu>
                      </v-flex>

                      <v-flex xs12 sm6 v-if="viewCreatedToDate">
                        <v-menu
                          ref="createToDatemenu"
                          v-model="createToDatemenu"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            :value="createToDateFormatted"
                            label="Created To Date"
                            prepend-icon="event"
                            readonly
                            clearable
                            @click:clear="clearableCreatedToDate"
                          ></v-text-field>
                          <v-date-picker
                            v-model="taskSearch.createdToDate"
                            :max="maxDate"
                          >
                            <v-spacer></v-spacer>
                            <v-btn
                              flat
                              color="primary"
                              @click="createToDatemenu = false"
                              >Cancel</v-btn
                            >
                            <v-btn
                              flat
                              color="primary"
                              @click="
                                $refs.createToDatemenu.save(
                                  taskSearch.createdToDate
                                )
                              "
                              >OK</v-btn
                            >
                          </v-date-picker>
                        </v-menu>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex lg1 sm1 xs1></v-flex>
                 
                </v-layout>
              </v-container>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="taskSearchFilter"
                >Search</v-btn
              >
              <v-btn outline color="primary" @click="clearSearchFilter"
                >Clear</v-btn
              >
              <v-btn outline color="primary" @click="cancelClick"
                >Cancel</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter task using combination of search queries.</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-menu
          menu-props="closeOnContentClick"
          slot="activator"
          :nudge-right="40"
          lazy
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <v-btn slot="activator" icon>
            <v-icon>sort</v-icon>
          </v-btn>

          <v-list>
            <v-subheader>Sorting by Title and Date</v-subheader>
            <v-list-tile
              v-for="(item, i) in sortItems"
              :key="item.status"
              :disabled="Menudisabled(item)"
              @click="sortTask(item.statusCodeID)"
            >
              <v-list-tile-title>{{ item.status }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <span>Task sorting.</span>
      </v-tooltip>
      <v-spacer></v-spacer>
      <v-btn-toggle v-model="view">
        <v-tooltip bottom>
          <v-btn flat value="list" slot="activator">
            <v-icon color="primary">view_headline</v-icon>
          </v-btn>
          <span>List view.</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn flat value="grid" slot="activator">
            <v-icon color="primary">calendar_today</v-icon>
          </v-btn>
          <span>Calendar view.</span>
        </v-tooltip>
      </v-btn-toggle>
      <download-excel
        class="btn btn-default"
        :data="taskItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="tasks.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="refreshClick"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <v-divider></v-divider>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>

        <v-container fluid v-if="view === 'grid'">
          <v-layout row wrap class="x-grid-lg">
            <v-flex lg12 sm12 xs12>
              <full-calendar
                class="fullwidth"
                :events="filteredCalendarItems"
                @dayClick="handleDayClick"
                @eventClick="handleEventClick"
              ></full-calendar>
            </v-flex>
          </v-layout>
        </v-container>
        <v-layout column v-else>
          <!-- <v-card
          class="elevation-20"
          v-else
        >
          <v-card-content>-->
          <v-data-table
            :total-items="totalRows"
            :items="taskItems"
            class="elevation-1"
            :headers="headers"
            fix-header
            disable-initial-sort
            :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination"
            @update:pagination="onUpdatePagination"
          >
            <template slot="items" slot-scope="props">
              <tr v-on:dblclick="redirectLink(props.item)">
                 <td class="text-xs-left" >
                <v-checkbox primary hide-details v-model="props.item.isCheckedReadUnRead" @change="onClickReadUnread(props.item)"></v-checkbox>
              </td>
                <td class="text-xs-left">
                  <v-icon color="green" v-if="props.item.isUrgent" small
                    >add_alert</v-icon
                  >

                  <v-icon
                    small
                    color="green"
                    v-if="props.item.followUp == 'true'"
                    >done</v-icon
                  >

                  <v-icon
                    color="red"
                    small
                    v-if="props.item.overDueAllowed == 'true'"
                    >priority_high</v-icon
                  >

                  <!--  <v-icon
                    color="blue"
                    small
                    v-if="props.item.unreadMessage == true"
                  >message</v-icon>-->
                </td>
                <td class="text-xs-left">
                  <span
                    v-if="props.item.isRead == false"
                    style="font-weight: bold"
                    >{{ props.item.title }}</span
                  >
                  <span v-else>{{ props.item.title }}</span>
                </td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <!-- <td class="text-xs-left">{{ props.item.userNames }}</td>
                <td class="text-xs-left">{{ props.item.onBehalfName}}</td>-->
                <td class="text-xs-left">{{ props.item.workType }}</td>

                <td class="text-xs-left">{{ props.item.requestType }}</td>
                <td class="text-xs-left" v-if="!props.item.isNoDueDate">
                  {{ props.item.dueDate | formatDate }}
                </td>
                <td class="text-xs-left" v-else>No DueDate</td>
                <td class="text-xs-left">
                  {{ props.item.addedDate | formatDate }}
                </td>

                <td class="justify-center layout px-0">
                  <!-- <v-tooltip bottom> -->

                  <v-icon
                    small
                    slot="activator"
                    flat
                    class="mr-2"
                    @click="redirectLink(props.item)"
                    >visibility</v-icon
                  >
                  <!-- <span>Visibility Mode</span>
                </v-tooltip>
                  <v-tooltip bottom>-->
                  <v-icon
                    small
                    slot="activator"
                    flat
                    class="mr-2"
                    @click="doCopy(props.item)"
                    >file_copy</v-icon
                  >
                  <v-icon
                    small
                    slot="activator"
                    flat
                    class="mr-2"
                    v-if="props.item.isRead"
                    @click="markUnread(props.item)"
                    >markunread</v-icon
                  >
                  <!-- <span>Copy</span>
                  </v-tooltip>-->
                </td>
              </tr>
            </template>
            <template slot="no-data"
              >Loading task or No task been assigned you.</template
            >
          </v-data-table>
          <!-- </v-card-content>
          </v-card>-->
        </v-layout>

        <v-dialog
          v-model="dialog"
          fullscreen
          hide-overlay
          transition="dialog-bottom-transition"
        >
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="saveAndClose"
                  :disabled="readonlyTask"
                >
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save as draft</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn
                  icon
                  @click.native="save"
                  slot="activator"
                  :loading="loader"
                  :disabled="readonlyTask"
                >
                  <v-icon color="white">send</v-icon>
                </v-btn>
                <span>Save & assign task to user.</span>
              </v-tooltip>
              <!-- <v-tooltip bottom>
                <v-btn
                  icon
                  @click.native="cancelTask"
                  slot="activator"
                  :loading="loader"
                  :disabled="readonlyTask"
                >
                  <v-icon color="white">cancel</v-icon>
                </v-btn>
                <span>Cancel user task.</span>
              </v-tooltip>-->

              <!-- <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  :disabled="editedItem.statusCodeID != 516"
                  @click.native="duplicateNewTask"
                >
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Re-create closed task as new task.</span>
              </v-tooltip>-->
              <!-- <v-tooltip bottom>
                <v-btn
                  icon
                  @click.native="deleterow"
                  :loading="loader"
                  slot="activator"
                  :disabled="readonlyTask"
                >
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete task. can't be rollback</span>
              </v-tooltip>-->
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  flat
                  @click="openUpload"
                  :loading="loader"
                >
                  <v-icon color="white">attach_file</v-icon>
                </v-btn>
                <span>Upload Documents</span>
              </v-tooltip>

              <!-- <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  flat
                  @click="openAudio"
                  :loading="loader"
                >
                  <v-icon color="white">mic</v-icon>
                </v-btn>
                <span>Record Audio </span>
              </v-tooltip>
              <v-menu
                :close-on-content-click='false'
                v-model="opneaudiorecord"
                :nudge-right="600"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <v-card tile>
                  <audio-recorder
                    :attempts="3"
                    :time="2"
                    :headers="audioheaders"
                    :before-recording="callback"
                    :pause-recording="callback"
                    :after-recording="callback"
                    :select-record="callback"
                    :start-upload="audioUpload"
                    :before-upload="audioUpload"
                    :successful-upload="callback"
                    :failed-upload="callback"
                    :bit-rate="192"
                  />
                </v-card>
              </v-menu>-->
              <v-tooltip bottom>
                <v-btn icon slot="activator" flat @click.native="expandAll">
                  <v-icon color="white">expand_more</v-icon>
                </v-btn>
                <span>Expand All</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon flat slot="activator" @click="collapsAll">
                  <v-icon color="white">expand_less</v-icon>
                </v-btn>
                <span>Collaps All</span>
              </v-tooltip>
              <v-spacer></v-spacer>

              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="closeDraft">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>

            <!-- <task-tabform
              ref="reftasktabForm"
              v-bind="dialogData"
            ></task-tabform>-->

            <v-card flat>
              <!-- <vue-perfect-scrollbar class="taskform--scrollbar"> -->
              <div style="overflow: auto; height: calc(100vh - 40px - 60px)">
                <v-card-text>
                  <task-form v-if="dialog" ref="reftaskForm"></task-form>
                </v-card-text>
              </div>
              <!-- </vue-perfect-scrollbar> -->
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary darken-1" outline @click="saveAndClose"
                  >Draft</v-btn
                >
                <v-btn color="primary darken-1" outline @click.native="save"
                  >Send</v-btn
                >
                <v-btn
                  slot="activator"
                  color="primary darken-1"
                  outline
                  @click="openUpload"
                  >Upload</v-btn
                >

                <v-btn
                  color="primary darken-1"
                  outline
                  slot="activator"
                  @click.native="closeDraft"
                  >Close</v-btn
                >
              </v-card-actions>
            </v-card>

            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete This Item Permanently?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </v-card>
        </v-dialog>
      </div>
    </div>
    <app-section-loader :status="loader"></app-section-loader>
  </div>
</template>

<script>
import FullCalendar from "vue-fullcalendar";

import taskForm from "@/pages/task/taskForm";
import GlobalMessage from "@/constant";
import {
  getApplicationUsersForTask,
  getTaskSorting,
  getRemainderTaskList,
  updateRead,
  upadateAsUnRead,
  multipleTaskUpdateAsRead,
  multipleTaskUpdateAsUnRead,
  getSubTasksbyStatus,
  getTaskSearchFilter,
  getTaskList,
  getDashTaskList,
  getTaskAssigne,
  completeTask,
  getPersonalTags,
  getPersonalTagsByUser,
  getTaskNotes,
  createTaskNotes,
  createPersonalTags,
  deleteTaskMaster,
  createTaskLinks,
  duplicateTask,
  getTaskAssigned,
  generateTaskSession
} from "@/api/taskMaster";
import {
  getTaskAppointments,
  getTaskAppointment,
  getTaskAppointmentsByID,
  createTaskAppointment,
  updateTaskAssigned,
  getTagMaster,
  getProjects,
} from "@/api/taskAppointment";
import moment from "moment";
import search from "@/search";
import { getData } from "@/api/paggedapi";
export default {
  components: {
    FullCalendar,
    taskForm,
  },
  data: () => ({
    sort: {
      sortBy: "title",
    },
    totalRows: 0,
    editorOption: {
      modules: {
        toolbar: [
          ["bold", "italic", "underline", "strike"],
          ["blockquote", "code-block"],
          [{ header: 1 }, { header: 2 }],
          [{ list: "ordered" }, { list: "bullet" }],
          [{ script: "sub" }, { script: "super" }],
          [{ indent: "-1" }, { indent: "+1" }],
          [{ direction: "rtl" }],
          [{ size: ["small", false, "large", "huge"] }],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ font: [] }],
          [{ color: [] }, { background: [] }],
          [{ align: [] }],
          ["clean"],
          ["link", "image", "video"],
        ],
        history: {
          delay: 1000,
          maxStack: 50,
          userOnly: false,
        },
        imageDrop: true,
      },
    },
    opneaudiorecord: false,
    showRecorder: false,
    audioheaders: {
      "X-Custom-Header": "some data",
    },
    mp3: "/demo/example.mp3",
    reminderDialoge: false,
    openDiscussionDialoge: false,
    savetagDialoge: false,
    startDateDialouge: false,
    discussionDatemenu: false,
    startDatemenu: false,
    remainderDatemenu: false,
    requestDueMenu: false,
    createmenu: false,
    createToDatemenu: false,
    viewCreatedToDate: true,
    searchTag: "",
    searchUser: "",
    show: false,
    minDate: new Date().toISOString().substr(0, 10),
    todayDate: new Date().toISOString().substr(0, 10),
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    taskSearch: {
      title: "",
      assignTypeIds: -1,
      statusIds: -1,
      workTypeIds: -1,
      requestTypeIds: -1,
      projectIds: -1,
      tagIds: [],
      userId: -1,
      userIds: [],
      taskStatusIds: [512],
      taskAssigneeIds: [],
      personaltagIds: [],
      unreadSubject: false,
      addedDate: null,
      isBefore: false,
      createdToDate: null,
      isEmail: false,
    },
    personalTags: ["Programming", "Design", "Vue", "Vuetify"],
    menureminder: false,

    menuSearch: false,
    taskMenus: [
      {
        icon: "calendar_today",
        href: "#",
        title: "Set Reminder",
        click: (e) => {},
      },
      {
        icon: "note",
        href: "#",
        title: "Personal Note",
        click: (e) => {},
      },
      {
        icon: "low_priority",
        href: "#",
        title: "Sub Task",
        click: (e) => {},
      },
    ],

    menufilter: false,
    readonlyTask: false,
    size: "lg",
    view: "list",
    editedSubtaskIndex: -1,
    subTaskitems: [],
    actionButton: false,
    size: "sm",
    picker: new Date().toISOString().substr(0, 10),
    dialog: false,
    dialogData: null,
    dialogSTData: null,
    folder: false,
    isReadUnRead: false,
    uploadFile: false,
    taskLinkDialog: false,
    taskDuplicateDialog: false,
    requestDateDialouge: false,
    subTaskDialog: false,
    loader: false,
    deleteloader: false,
    search: "",
    assigneeCodeID: [],
    statusCodeID: 512,
    tagItems: [],
    userItems: [],
    PersonaltagItems: [],
    projectItems: [],
    multipleStatusCodeID: [512],
    items: [],
    sortItems: [
      { status: "Oldest on Top", statusCodeID: 700 },
      { status: "Newest on Top", statusCodeID: 701 },
      { status: "Title(A-Z)", statusCodeID: 702 },
      { status: "Title(Z-A)", statusCodeID: 703 },
      { status: "Show Read", statusCodeID: 704 },
      { status: "Show Unread", statusCodeID: 705 },
      { status: "Show overdue ", statusCodeID: 706 },
      { status: "Show Main Task", statusCodeID: 707 },
      { status: "Show Draft", statusCodeID: 708 },
      { status: "Show All Task(Super User)", statusCodeID: 709 },
    ],
    taskStatus: [
      // { status: 'Draft', statusCodeID: 511 },
      { status: "Assigned", statusCodeID: 512 },
      { status: "Partially Completed", statusCodeID: 517 },
      { status: "Completed", statusCodeID: 513 },
      { status: "Cancelled", statusCodeID: 514 },
      { status: "Over Due", statusCodeID: 515 },
      { status: "Closed", statusCodeID: 516 },
    ],
    taskAssignee: [
      { status: "Assigned To Me", statusCodeID: 615 },
      { status: "Assigned By", statusCodeID: 611 },
      { status: "CC", statusCodeID: 612 },
      { status: "Onbehalf", statusCodeID: 613 },
      { status: "Invite User", statusCodeID: 616 },
    ],
    workTypeItems: [
      { status: "Job Assign", statusCodeID: 34 },
      { status: "Wiki", statusCodeID: 35 },
      { status: "Wiki", statusCodeID: 36 },
      { status: "To Do List", statusCodeID: 37 },
      { status: "Work Flow", statusCodeID: 38 },
      { status: "Message", statusCodeID: 39 },
    ],
    requestTypeItems: [
      { status: "WorkFlow", statusCodeID: 47 },
      { status: "Requestor", statusCodeID: 48 },
      { status: "MySelf", statusCodeID: 49 },
      { status: "New Page", statusCodeID: 50 },
      { status: "Revision Page", statusCodeID: 51 },
      { status: "Approval Required", statusCodeID: 52 },
      { status: "SME Comment", statusCodeID: 53 },
      { status: "Routine", statusCodeID: 54 },
      { status: "Job Assign", statusCodeID: 55 },
      { status: "Message", statusCodeID: 56 },
    ],

    taskItems: [],
    taskCalendarItems: [],
    cCItems: [],
    tagNames: [],
    taskComments: [],
    taskItemLink: [],
    taskAccessPermission: { assignedCc: [], assignedTO: [], onBehalfID: null },
    taskStartDate: {
      taskAssignedID: null,
      taskOwnerId: null,
      userID: null,
      taskID: null,
      startDate: new Date(),
      assignedDate: new Date(),
      dueDate: new Date(),
      completedDate: new Date(),
      closedByUserID: null,
      statusCodeID: 1,
    },
    editorText: "This is initialValue.",
    userItems: [],

    editorHtml: "",
    editorVisible: true,
    taskcomment: {
      comment: "",
      taskMasterId: null,
      addedByUser: "",
      commentedDate: new Date(),
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    searchsubTaskItem: { action: "", Id: null, searchString: "searchString" },
    editedItem: {
      valid: false,
      taskID: -1,
      parentTaskID: null,
      date: new Date().toISOString().substr(0, 10),
      title: "",
      assignedTo: [],
      dueDate: new Date().toISOString().substr(0, 10),
      startDate: new Date().toISOString().substr(0, 10),
      description: "",
      projectID: null,
      assignedCC: [],
      onBehalfID: null,
      sessionID: "",
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      discussionDate: new Date().toISOString().substr(0, 10),
      requiredfield: [(v) => !!v || "This is required field"],
      tagMasterID: -1,
      tagIds: [],
      tag: "",
      addedByUser: "",
      taskItemLink: [],
      taskLinkedIds: [],
      attachments: [],
      taskLinkID: -1,
      taskLinkDescription: "",
      onBehalfName: "",
      overDueAllowed: "false",
      followUp: "false",
      userNames: [],
      taskIds:[],
    },
    defaultItem: {
      valid: false,
      taskID: -1,
      parentTaskID: null,
      date: new Date().toISOString().substr(0, 10),
      title: "",
      assignedTo: [],
      dueDate: new Date().toISOString().substr(0, 10),
      startDate: new Date().toISOString().substr(0, 10),
      description: "",
      projectID: null,
      assignedCC: [],
      onBehalfID: null,
      sessionID: "",
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      discussionDate: new Date().toISOString().substr(0, 10),
      requiredfield: [(v) => !!v || "This is required field"],
      tagMasterID: -1,
      tagIds: [],
      tag: "",
      addedByUser: "",
      taskItemLink: [],
      taskLinkedIds: [],
      taskLinkID: -1,
      taskLinkDescription: "",
      subTaskitems: [],
      attachments: [],
      onBehalfName: "",
      overDueAllowed: "false",
      followUp: "false",
      userNames: [],
       taskIds:[],
    },
    height: {
      type: String,
      default: null,
    },
    markRaedUnReadItems: [ {
        icon: "email",        
        href: "#",
        title: "Mark As Read",
        click: (e) => {},
      },
      {
        icon: "mark_as_unread",
        href: "#",
        title: "Mark As UnRead",
        click: (e) => {},
      },
    ],
    headers: [
      { text: "    ", value: "actions", width: "1%", sortable: false },
      { text: "    ", value: "isUrgent",width: "1%", sortable: false },
      { text: "Name", value: "title", width: "26%" },
      { text: "Assigned By", value: "addedByUser", width: "15%" },
      { text: "Work Type", value: "workType", width: "5%", sortable: false },
      {
        text: "Request Type",
        value: "requestType",
        width: "5%",
        sortable: false,
      },
      { text: "Due Date", value: "dueDate", width: "13%" },
      { text: "Created Date", value: "addedDate", width: "13%" },
      { text: "Actions", value: "actions", sortable: false, align: "left" },
    ],

    json_fields: {
      "Task Name": "title",
      "Assigned By": "addedByUser",
      "Work Type": "workType",
      "Request Type": "requestType",
      "Due Date": "dueDate",
      "Created Date": "addedDate",
    },

    filterFields: ["Title", "AddedByUser.UserName"],

    taskNote: {
      notes: "",
      remainderDate: new Date().toISOString().substr(0, 10),
      modifiedDate: new Date().toISOString().substr(0, 10),
      taskID: null,
      taskUserID: null,
      taskNotesID: null,
    },
    taskDiscussion: {
      taskAppointmentID: -1,
      discussionDate: new Date().toISOString().substr(0, 10),
      discussionNotes: "",
      taskMasterID: null,
      appointmentBy: null,
      closedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: null,
      status: "",
      subTaskID: null,
      parentTaskID: null,
      title: "",
      mainTaskId: null,
      dueDate: new Date().toISOString().substr(0, 10),
      description: "",
      assignedTo: [],
    },
    personalTag: {
      tags: [],
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUserID: null,
      taskID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
    },
    mergeTask: { taskMergedIds: [], modifiedByUserID: null },
    userId: -1,
  }),

  computed: {
    remainderDateFormatted() {
      return this.taskNote.remainderDate
        ? moment(this.taskNote.remainderDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    discussionDateFormatted() {
      return this.taskDiscussion.discussionDate
        ? moment(this.taskDiscussion.discussionDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    startDateFormatted() {
      return this.taskStartDate.startDate
        ? moment(this.taskStartDate.startDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    requestDateFormatted() {
      return this.editedItem.dueDate
        ? moment(this.editedItem.dueDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    createDateFormatted() {
      return this.taskSearch.addedDate
        ? moment(this.taskSearch.addedDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    createToDateFormatted() {
      return this.taskSearch.createdToDate
        ? moment(this.taskSearch.createdToDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    maxDate() {
      if (this.todayDate != undefined) {
        const today = moment(this.todayDate).format("YYYY-MM-DD");
        return today; // this.formatDate(today);
      } else {
        return this.formatDate(new Date());
      }
    },
    computeDisabled: function () {
      return this.taskcomment.comment.length == 0;
    },
    filteredItems() {
      this.$cookies.set("searchTask", this.search);
      return this.taskItems.filter((item) => {
        if (!this.search) return this.taskItems;
        return item.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    filteredCalendarItems() {
      this.$cookies.set("searchTask", this.search);
      return this.taskCalendarItems.filter((item) => {
        if (!this.search) return this.taskCalendarItems;
        return item.title.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    computeHeight() {
      return {
        height: this.height || "",
      };
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
    saveKey() {
      return {
        // bind to hotkey
        "ctrl+s": this.save,
      };
    },
  },

  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
  },

  created() {
    window.getApp.$on("ENABLE_TASKACTION", () => {
      this.actionButton = true;
    });
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    this.userId = this.$store.state.auth.userId;
    search.userID = this.userId;
    search.methodName = "GetTaskList";
    this.initialize();

    if (this.$route.query.goback != undefined) {
      if (
        this.$cookies.get("searchTask") != undefined &&
        this.$cookies.get("searchTask") != "null"
      ) {
        this.search = this.$cookies.get("searchTask");
      }

      var reload = this.$cookies.get("reload");
      if (reload != undefined) {
        if (reload == "dashboard") {
          var searchdash = this.$cookies.get("dashTask");
          this.getdashTasks(searchdash);
        } else if (reload == "unreadSubject") {
          this.taskSearch.unreadSubject = true;
          this.taskSearch.userId = this.userId;
          this.taskSearchFilter();
          
        } else {
          var preSearch = this.$cookies.get("previousSerach");
          var searchtask = this.$cookies.get("filterTask");
          if (searchtask != undefined) {
            this.taskSearch = searchtask;
          }
          if (preSearch == "getTaskList") {
            this.filteTaskList(false);
          } else {
            this.taskSearchFilter();
          }
        }
      }
    } else {
      if (this.$route.query.type != undefined) {
        const searchdash = { taskType: "", userId: -1, barType: "", clickType:"" };
         searchdash.clickType = this.$route.query.clickType;
        searchdash.taskType = this.$route.query.type;
        searchdash.barType = this.$route.query.status;
        searchdash.userId = this.$store.state.auth.userId;
        this.$cookies.set("dashTask", searchdash);
        this.$cookies.set("reload", "dashboard");
        if(this.$route.query.clickType=="Subject")
        {
         search.methodName = "GetDashSubjectList";
          search.taskSearch.clickType = this.$route.query.clickType;
        search.taskSearch.taskType = this.$route.query.type;
        search.taskSearch.barType = this.$route.query.status;
        //searchdash.userId = this.$store.state.auth.userId;
        //search.taskSearch = searchdash;
        //this.$cookies.set("dashTask", searchdash);
        }
        else
        {
        search.methodName = "GetDashTaskList";
        this.getdashTasks(searchdash);
        }
      } else {
        this.$cookies.set("reload", "menuload");
        this.filteTaskList(false);
      }
    }
  },
  beforeDestroy() {
    window.getApp.$off("INITIALIZE_TASK");
    window.getApp.$off("EDIT_TASK");
    window.getApp.$off("INITIALIZE_TASKFILE");
    window.getApp.$off("INITIALIZE_TASKCONVER");
    window.getApp.$off("INITIALIZE_SUBTASK");
    window.getApp.$off("EDIT_SUBTASK");
    window.getApp.$off("ADD_SUBTASK");
    window.getApp.$off("SAVE_SUBTASK");
    window.getApp.$off("ADD_MAINSUBTASK");
    window.getApp.$off("SEND_TASKOBJ");
    window.getApp.$off("SEND_USERS");
    window.getApp.$off("SEND_CCUSERS");
    this.$eventHub.$off("INITIALIZE_TASKCONVER");
  },
  methods: {
    getdashTasks(serachItem) {
      this.taskCalendarItems = [];
      search.taskSearch = serachItem;
      this.loadPagingData();
    },
    back() {
      this.view = "grid";
    },

    clearSearch() {
      this.search = "";
    },
    selecTag() {
      this.searchTag = "";
    },
    selectUser() {
      this.searchUser = "";
    },
    openUpload() {
      if( this.$refs.reftaskForm.formdata.taskID<0)
      {
        window.getApp.$emit("APP_API_VAL", "Please save the task before attachment");
      }
      else
      {
      this.$refs.reftaskForm.openUpload();
      }
    },
    openReply() {
      //this.$refs.reftasktabForm.$refs.reftaskForm.openReply();
    },
    initialize() {
      this.loader = true;
      let userId = this.$store.state.auth.userId;
      getProjects("")
        .then((response) => {
          this.projectItems = response.data;
          //this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getTagMaster("")
        .then((response) => {
          this.tagItems = response.data;
          //this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPersonalTagsByUser(this.$store.state.auth.userId)
        .then((response) => {
          if (response != undefined && response.data != undefined) {
            for (var id in response.data) {
              this.PersonaltagItems.push(response.data[id].tag);
            }
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationUsersForTask("")
        .then((response1) => {
          this.userItems = response1.data;
          //we are changing the logic for getting assigned/cc users
          window.getApp.$emit("SEND_USERS", this.userItems);
          //this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    removePTag(item) {
      const index = this.personalTag.tags.indexOf(item);
      if (index >= 0) this.personalTag.tags.splice(index, 1);
    },
    doCopy(task) {
      let url =
        GlobalMessage.BASEURL +
        "id=" +
        task.mainTaskId +
        "&taskid=" +
        task.taskID +
        "";
      this.$copyText(url).then(
        function (e) {
          window.getApp.$emit("APP_API_SUCCESS", "copied");
        },
        function (e) {
          alert("Can not copy");
        }
      );
    },
    AddNew() {
      this.actionButton = false;
      this.readonlyTask = false;
      this.dialog = true;
      this.editedIndex = -1;
      this.editedSubtaskIndex = -1;
      setTimeout(() => {
        //window.getApp.$emit('INITIALIZE_TASK', new Date());
        this.$refs.reftaskForm.dueDate = this.formateDate(new Date());
        this.$refs.reftaskForm.isRTERender = true;
        this.$refs.reftaskForm.initialize();
        this.$refs.reftaskForm.actionButton = this.actionButton;
        this.$refs.reftaskForm.showdownload = true;
        this.$refs.reftaskForm.uploadedFiles = [];

        window.getApp.$emit("DISABLE_TAB", true);
      }, 400);
    },
    handleDayClick(day, e) {
      this.readonlyTask = false;
      this.actionButton = false;
      this.dialog = true;
      this.editedIndex = -1;
      this.editedSubtaskIndex = -1;
      // window.getApp.$emit('INITIALIZE_TASK', day);
      // window.getApp.$emit('DISABLE_TAB', true);

      setTimeout(() => {
        this.$refs.reftaskForm.dueDate = this.formateDate(day);
        this.$refs.reftaskForm.initialize();
        this.$refs.reftaskForm.showdownload = true;
        this.$refs.reftaskForm.actionButton = false;
        this.$refs.reftaskForm.uploadedFiles = [];
        window.getApp.$emit("DISABLE_TAB", true);
      }, 400);
    },
      menuClick (key) {
        if (key == 0) {
         this.markAsRead();
        } else if (key == 1) {
         this.markAsUnRead();
        }
      },
        menudisabled (menu) {
          
        if (menu.title == "Mark As Read") {
         
          return false;
        }
        else if(menu.title=="Mark As UnRead"){
          return false;
        }
       
      },
    formateDate(string) {
      return string ? moment(string).format(GlobalMessage.DATEFORMAT) : "";
    },
    handleEventClick(e, event, pos) {
      this.editedItem = e;

      this.$router.push({
        name: "taskTreeView",
        query: {
          id: this.editedItem.mainTaskId,
          taskid: this.editedItem.taskID,
        },
      });
      // this.dialog = true;
      // window.getApp.$emit('DISABLE_TAB', false);

      // setTimeout(() => {
      //   this.$refs.reftaskForm.initialize();
      //   this.$refs.reftaskForm.formdata = this.editedItem;
      //   this.$refs.reftaskForm.showdownload = true;
      //   this.$refs.reftaskForm.uploadedFiles = [];
      //   this.$refs.reftaskForm.actionButton = true;
      //   //this.$refs.reftasktabForm.$refs.reftaskForm.InitilizeTab();
      // }, 100);

      // setTimeout(() => {
      //   this.$refs.reftasktabForm.$refs.reftaskconversation.taskID = this.editedItem.taskID;
      //   this.$refs.reftasktabForm.$refs.reftaskconversation.messageformdata = this.editedItem;
      //   this.$refs.reftasktabForm.$refs.reftaskconversation.taskUsers.assignedTo = this.editedItem.assignedTo;
      //   this.$refs.reftasktabForm.$refs.reftaskconversation.taskUsers.assignedCc = this.editedItem.assignedCC;
      //   this.$refs.reftasktabForm.$refs.reftaskconversation.taskUsers.onBehalfID = this.editedItem.onBehalfID;
      //   this.$refs.reftasktabForm.$refs.reftaskconversation.mainTaskId = this.editedItem.mainTaskId;
      //   this.$refs.reftasktabForm.$refs.reftaskconversation.initialize();

      // }, 200);

      // setTimeout(() => {
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.taskID = this.editedItem.taskID;
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.mainTaskId = this.editedItem.mainTaskId;
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.initialize();
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.formdata = this.editedItem;
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.taskUsers.assignedTo = this.editedItem.assignedTo;
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.taskUsers.assignedCc = this.editedItem.assignedCC;
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.taskUsers.onBehalfID = this.editedItem.onBehalfID;
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.uploadedFiles = [];
      //   this.$refs.reftasktabForm.$refs.reftaskfiles.uploadedfileslist = [];
      // }, 300);
      // setTimeout(() => {
      //   this.$refs.reftasktabForm.$refs.refsubtasktree.taskID = this.editedItem.taskID;
      //   this.$refs.reftasktabForm.$refs.refsubtasktree.initialize();
      // }, 400);

      // setTimeout(() => {
      //   window.getApp.$emit('EDIT_TASK', this.editedItem);
      // }, 400);
      let userId = this.$store.state.auth.userId;
      updateRead(e.taskID, userId)
        .then((response) => {})
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.actionButton = true;
    },

    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteTaskMaster(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectIsBefore() {
      if (this.taskSearch.isBefore == false) {
        this.viewCreatedToDate = true;
      }
      if (this.taskSearch.isBefore == true) {
        this.viewCreatedToDate = false;
      }
    },
    saveAndClose() {
      this.$refs.reftaskForm.formdata.statusCodeID = 511;
      this.$refs.reftaskForm.save();
      this.editedItem = this.defaultItem;
    },

    taskLinkClick() {
      this.taskLinkDialog = true;
      this.taskDuplicateDialog = false;
    },
    taskDuplicateClick() {
      this.taskDuplicateDialog = true;
      this.taskLinkDialog = false;
    },
    requstDueClick() {
      this.requestDateDialouge = true;
      this.taskDuplicateDialog = false;
      this.taskLinkDialog = false;
    },
    expandAll() {
      this.$refs.reftaskForm.isbaseExpand = false;
      this.$refs.reftaskForm.isUserExapnd = false;
      this.$refs.reftaskForm.isdescriptionExpand = false;
      this.$refs.reftaskForm.isProjectTagExpand = false;
      this.$refs.reftaskForm.isbaseCollaps = true;
      this.$refs.reftaskForm.isUserCollaps = true;
      this.$refs.reftaskForm.isdescriptionCollaps = true;
      this.$refs.reftaskForm.isProjectTagCollaps = true;
      this.$refs.reftaskForm.baseExpand.push(true);
      this.$refs.reftaskForm.userExpand.push(true);
      this.$refs.reftaskForm.desciptionExpand.push(true);
      this.$refs.reftaskForm.projectTagExpand.push(true);
    },
    collapsAll() {
      this.$refs.reftaskForm.isbaseExpand = true;
      this.$refs.reftaskForm.isUserExapnd = true;
      this.$refs.reftaskForm.isdescriptionExpand = true;
      this.$refs.reftaskForm.isProjectTagExpand = true;
      this.$refs.reftaskForm.isbaseCollaps = false;
      this.$refs.reftaskForm.isUserCollaps = false;
      this.$refs.reftaskForm.isdescriptionCollaps = false;
      this.$refs.reftaskForm.isProjectTagCollaps = false;
      this.$refs.reftaskForm.baseExpand = [];
      this.$refs.reftaskForm.userExpand = [];
      this.$refs.reftaskForm.desciptionExpand = [];
      this.$refs.reftaskForm.projectTagExpand = [];
    },
    complete() {
      this.$refs.reftasktabForm.$refs.reftaskForm.loader = true;
      this.editedItem = this.$refs.reftasktabForm.$refs.reftaskForm.formdata;
      this.editedItem.statusCodeID = 513;
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      completeTask(this.editedItem)
        .then(() => {
          this.$refs.reftasktabForm.$refs.reftaskForm.loader = false;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
        })
        .catch((error) => {
          this.$refs.reftasktabForm.$refs.reftaskForm.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    filteByStatus(value) {
      if (value != undefined) {
        this.taskItems = [];

        for (var prop in value) {
          this.loader = true;
          //console.log(value[prop])
          getSubTasksbyStatus(value[prop], this.$store.state.auth.userId)
            .then((response) => {
              for (var id in response.data) {
                this.taskItems.push(response.data[id]);
              }
              this.loader = false;
              //this.assigneeCodeID = -1;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    filteByAssign(value) {
      if (value != undefined) {
        this.taskItems = [];
        for (var prop in value) {
          this.loader = true;
          getTaskAssigne(value[prop], this.$store.state.auth.userId)
            .then((response) => {
              this.taskItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },

    showTaskDetail(item) {
      this.readonlyTask = false;
      this.editedItem = item;
      let userID = this.$store.state.auth.userId;

      let index = this.taskItems
        .map((item) => item.taskID)
        .indexOf(item.taskID);
      this.editedIndex = index;

      if (userID != item.addedByUserID) {
        this.readonlyTask = true;
      }
      if (userID == item.onBehalfID) {
        this.readonlyTask = false;
      }
      this.dialog = true;
      window.getApp.$emit("DISABLE_TAB", false);

      setTimeout(() => {
        this.$refs.reftasktabForm.$refs.reftaskForm.initialize();
        this.$refs.reftasktabForm.$refs.reftaskForm.formdata = this.editedItem;
        this.$refs.reftasktabForm.$refs.reftaskForm.formdata.dueDate = this.formateDate(
          this.editedItem.dueDate
        );
        this.$refs.reftasktabForm.$refs.reftaskForm.showdownload = true;
        this.$refs.reftasktabForm.$refs.reftaskForm.uploadedFiles = [];
        this.$refs.reftasktabForm.$refs.reftaskForm.actionButton = true;
      }, 100);

      setTimeout(() => {
        this.$refs.reftasktabForm.$refs.reftaskconversation.taskID = this.editedItem.taskID;
        this.$refs.reftasktabForm.$refs.reftaskconversation.messageformdata = this.editedItem;
        this.$refs.reftasktabForm.$refs.reftaskconversation.taskUsers.assignedTo = this.editedItem.assignedTo;
        this.$refs.reftasktabForm.$refs.reftaskconversation.taskUsers.assignedCC = this.editedItem.assignedCC;
        this.$refs.reftasktabForm.$refs.reftaskconversation.taskUsers.onBehalfID = this.editedItem.onBehalfID;
        this.$refs.reftasktabForm.$refs.reftaskconversation.mainTaskId = this.editedItem.mainTaskId;
        this.$refs.reftasktabForm.$refs.reftaskconversation.initialize();
      }, 200);

      setTimeout(() => {
        this.$refs.reftasktabForm.$refs.reftaskfiles.taskID = this.editedItem.taskID;
        this.$refs.reftasktabForm.$refs.reftaskfiles.mainTaskId = this.editedItem.mainTaskId;
        this.$refs.reftasktabForm.$refs.reftaskfiles.initialize();
        this.$refs.reftasktabForm.$refs.reftaskfiles.formdata = this.editedItem;
        this.$refs.reftasktabForm.$refs.reftaskfiles.taskUsers.assignedTo = this.editedItem.assignedTo;
        this.$refs.reftasktabForm.$refs.reftaskfiles.taskUsers.assignedCC = this.editedItem.assignedCC;
        this.$refs.reftasktabForm.$refs.reftaskfiles.taskUsers.onBehalfID = this.editedItem.onBehalfID;
        this.$refs.reftasktabForm.$refs.reftaskfiles.uploadedFiles = [];
        this.$refs.reftasktabForm.$refs.reftaskfiles.uploadedfileslist = [];
      }, 300);

      setTimeout(() => {
        this.$refs.reftasktabForm.$refs.refsubtasktree.taskID = this.editedItem.taskID;
        this.$refs.reftasktabForm.$refs.refsubtasktree.initialize();
      }, 400);

      // setTimeout(() => {

      //   window.getApp.$emit('EDIT_TASK', this.editedItem);
      // }, 400);
      let userId = this.$store.state.auth.userId;
      updateRead(item.taskID, userId)
        .then((response) => {})
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.actionButton = true;
    },
    openDialog() {
      this.add();
      this.dialog = true;
      this.editedItem = this.defaultItem;
    },
    audioUpload(items) {
      alert("audio");
      console.log(items);
    },
    clearObj() {
      this.defaultItem.valid = false;
      this.defaultItem.taskID = null;
      this.defaultItem.parentTaskID = null;
      this.defaultItem.date = new Date().toISOString().substr(0, 10);
      this.defaultItem.title = "";
      this.defaultItem.assignedTo = null;
      this.defaultItem.dueDate = new Date().toISOString().substr(0, 10);
      this.defaultItem.description = "";
      this.defaultItem.projectID = null;
      this.defaultItem.assignedCC = [];
      this.defaultItem.onBehalfID = null;
      this.defaultItem.sessionID = "";
      this.defaultItem.addedByUserID = null;
      this.defaultItem.addedDate = new Date().toISOString().substr(0, 10);
      this.defaultItem.addedByUser = "";
      this.defaultItem.statusCodeID = null;
      this.defaultItem.statusCode = "";
      this.defaultItem.modifiedByUserID = null;
      this.defaultItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.defaultItem.tagMasterID = null;
      this.defaultItem.tagIds = [];
      this.defaultItem.taskItemLink = [];
      this.defaultItem.taskLinkedIds = [];
      this.defaultItem.taskLinkID = null;
      this.defaultItem.subTaskitems = [];
      this.defaultItem.attachments = [];
    },
    add() {
      this.clearObj();

      this.editedItem = this.defaultItem;
      this.$refs.reftasktabForm.$refs.reftaskForm.formdata = this.editedItem;
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteTaskMaster(this.$refs.reftaskForm.formdata)
        .then((response) => {
          this.close();
          this.taskItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        //this.initialize();
        //this.filteTaskList();
        this.getDataFromApi(this.$store.state.auth.pageSize);
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 400);
    },
    closeDraft() {
      this.dialog = false;
      setTimeout(() => {
        //this.initialize();
        this.filteTaskList(true);
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 400);
    },
    save() {
      this.$refs.reftaskForm.formdata.statusCodeID = 512;
      this.$refs.reftaskForm.save();
    },

    taskLinksave() {
      this.loader = true;
      let index = this.editedIndex;
      createTaskLinks(this.editedItem)
        .then((response) => {
          this.taskItems.push(response.data);
          this.loader = false;
          this.editedItem = response.data;
          let index = this.taskItems
            .map((item) => item.taskID)
            .indexOf(response.data.taskID);
          this.editedIndex = index;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    markAsRead(){
       this.editedItem.taskIds =[];
      let tasks = this.taskItems.filter(
              (f) => f.isCheckedReadUnRead == true
            );
            if(tasks.length>0)
            {
            for (var id in tasks) {
              this.editedItem.taskIds.push(tasks[id].taskID);
            }
            }
      console.log('tasks'+JSON.stringify(tasks))
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      multipleTaskUpdateAsRead(this.editedItem)
        .then((response) => {
          this.refreshClick();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    markAsUnRead(){
          this.editedItem.taskIds =[];
        let tasks = this.taskItems.filter(
              (f) => f.isCheckedReadUnRead == true
            );
            if(tasks.length>0)
            {
            for (var id in tasks) {
              this.editedItem.taskIds.push(tasks[id].taskID);
            }
            }
       console.log('tasks'+JSON.stringify(tasks))
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      multipleTaskUpdateAsUnRead(this.editedItem)
        .then((response) => {
           this.refreshClick();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    taskDuplicatesave() {
      this.loader = true;
      this.mergeTask.modifiedByUserID = this.$store.state.auth.userId;

      let index = this.editedIndex;
      duplicateTask(this.mergeTask)
        .then((response) => {
          this.loader = false;
          window.getApp.$emit("APP_API_SUCCESS", "Duplicate Task Saved.... ");
          this.taskDuplicateDialog = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    savetag() {
      this.personalTag.taskID = this.editedItem.taskID;
      this.personalTag.addedDate = new Date().toISOString().substr(0, 10);
      this.personalTag.addedByUserID = this.$store.state.auth.userId;
      createPersonalTags(this.personalTag)
        .then((response) => {
          this.personalTag = response.data;
          this.savetagDialoge = false;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
        })
        .catch((error) => {
          this.$refs.reftasktabForm.$refs.reftaskForm.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      //window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
    },
    saveNote() {
      this.taskNote.taskNotesID = -1;
      this.taskNote.taskID = this.editedItem.taskID;
      this.taskNote.taskUserID = this.$store.state.auth.userId;

      createTaskNotes(this.taskNote)
        .then((response) => {
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          this.reminderDialoge = false;
        })
        .catch((error) => {
          this.loader = false;
          this.$refs.reftasktabForm.$refs.reftaskForm.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeTo(item) {
      const index = this.formdata.assignedTo.indexOf(item.userID);
      if (index >= 0) this.formdata.assignedTo.splice(index, 1);
    },
    onClickReadUnread(item){

    },
    saveDiscussion() {
      this.taskDiscussion.subTaskID = null;
      this.taskDiscussion.title = "Discussion On " + this.editedItem.title;
      this.taskDiscussion.dueDate = this.taskDiscussion.discussionDate;
      this.taskDiscussion.discussionDate = this.taskDiscussion.discussionDate;
      this.taskDiscussion.description = this.taskDiscussion.discussionNotes;
      this.taskDiscussion.appointmentBy = this.$store.state.auth.userId;
      this.taskDiscussion.taskMasterID = this.editedItem.taskID;
      this.taskDiscussion.statusCodeID = 1;
      this.taskDiscussion.status = "";

      createTaskAppointment(this.taskDiscussion)
        .then((response) => {
          this.openDiscussionDialoge = false;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
        })
        .catch((error) => {
          this.loader = false;
          this.$refs.reftasktabForm.$refs.reftaskForm.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    setStartDate(item) {
      updateTaskAssigned(this.taskStartDate)
        .then((response) => {
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
        })
        .catch((error) => {
          this.loader = false;
          this.$refs.reftasktabForm.$refs.reftaskForm.loader = false;

          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    clearableCreatedDate() {
      this.taskSearch.addedDate = null;
    },
    clearableCreatedToDate() {
      this.taskSearch.createdToDate = null;
    },
    openTag() {
      this.personalTag.tags = [];
      this.PersonaltagItems = [];
      this.savetagDialoge = true;
      getPersonalTagsByUser(this.$store.state.auth.userId)
        .then((response) => {
          //console.log(response.data);
          //this.PersonaltagItems = response.data;
          if (response != undefined && response.data != undefined) {
            for (var id in response.data) {
              this.PersonaltagItems.push(response.data[id].tag);
            }
            let tags = response.data.filter(
              (f) => f.taskID == this.editedItem.taskID
            );
            for (var id in tags) {
              this.personalTag.tags.push(tags[id].tag);
            }
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    openNote() {
      this.reminderDialoge = true;
      this.taskNote.remainderDate = new Date().toISOString().substr(0, 10);
      getTaskNotes(this.editedItem.taskID, this.$store.state.auth.userId)
        .then((response) => {
          if (response.data.remainderDate != undefined) {
            this.taskNote = response.data;
          } else {
            this.taskNote.notes = "";
            this.taskNote.remainderDate = new Date()
              .toISOString()
              .substr(0, 10);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
      removeUser (item) {
        const index = this.taskSearch.userIds.indexOf(item.userID);
        //console.log(index);
        if (index >= 0) this.taskSearch.userIds.splice(index, 1);
       
      },
    filteTaskList(reload) {
      this.taskCalendarItems = [];
      this.loader = true;
      this.taskSearch.userId = this.$store.state.auth.userId;
      this.$cookies.set("filterTask", this.taskSearch);
      this.$cookies.set("previousSerach", "getTaskList");
      search.taskSearch = this.taskSearch;
      if (reload) {
        this.loadPagingData();
      }

      getRemainderTaskList(this.taskSearch)
        .then((response) => {
          if (response.data != undefined) {
            response.data.forEach((data) => {
              this.taskCalendarItems.push(data);
            });
            //this.taskItems = response.data;
            this.menuSearch = false;
            // this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    clearSearchFilter() {
      this.taskSearch.title = "";
      this.taskSearch.assignTypeIds = -1;
      this.taskSearch.statusIds = -1;
      this.taskSearch.workTypeIds = -1;
      this.taskSearch.requestTypeIds = -1;
      this.taskSearch.projectIds = -1;
      this.taskSearch.tagIds = [];
      this.taskSearch.userId = -1;
      this.taskSearch.taskStatusIds = [512];
      this.taskSearch.taskAssigneeIds = [];
      this.taskSearch.personaltagIds = [];
      this.taskSearch.unreadSubject = false;
      this.taskSearch.addedDate = null;
      this.taskSearch.createdToDate = null;
      this.taskSearch.isBefore = false;
      this.taskSearch.isEmail = false;
       search.taskSearch = this.taskSearch;
      search.methodName = "GetTaskList";
      this.$cookies.set("filterTask", this.taskSearch);
    },
    cancelClick() {
    this.menuSearch = false;
    search.methodName = "GetTaskList";
    this.loadPagingData();
    },
    refreshClick(){
      search.methodName = "GetTaskList";
      this.loadPagingData();
    },
    taskSearchFilter() {
      this.loader = true;
      this.taskSearch.userId = this.$store.state.auth.userId;
      this.$cookies.set("filterTask", this.taskSearch);
      console.log("searchfunc", this.taskSearch);
      this.$cookies.set("previousSerach", "getTaskSearchFilter");
      search.taskSearch = this.taskSearch;
      search.methodName = "GetTaskFilter";
      this.loadPagingData();
    },
    sortTask(value) {
      this.loader = true;
      search.methodName = "GetTaskSorting";
      search.id = value;
      search.userID = this.$store.state.auth.userId;
      this.loadPagingData();
    },
    openDiscussion() {
      this.taskID = this.editedItem.taskID;
      this.openDiscussionDialoge = true;
      getTaskAppointmentsByID(this.taskID, this.$store.state.auth.userId)
        .then((response3) => {
          if (response3.data.discussionDate != undefined) {
            this.taskDiscussion = response3.data;
          } else {
            this.taskDiscussion.discussionNotes = "";
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      let userItems = this.$refs.reftasktabForm.$refs.reftaskForm.userItems;
      this.cCItems = [];
      this.editedItem.assignedCC.forEach((cc) => {
        let user = userItems.filter((f) => f.userID == cc);
        if (user[0] != undefined) this.cCItems.push(user[0]);
      });
      this.editedItem.assignedTo.forEach((to) => {
        let user = userItems.filter((f) => f.userID == to);
        if (user[0] != undefined) this.cCItems.push(user[0]);
      });

      if (this.editedItem.onBehalfID != 0) {
        let user = userItems.filter(
          (f) => f.userID == this.editedItem.onBehalfID
        );
        if (user[0] != undefined) this.cCItems.push(user[0]);
      }

      if (this.editedItem.addedByUserID != 0) {
        let user = userItems.filter(
          (f) => f.userID == this.editedItem.addedByUserID
        );
        if (user[0] != undefined) this.cCItems.push(user[0]);
      }
    },
    openStartDate(item) {
      this.startDateDialouge = true;
      this.taskID = item.taskID;
      item.addedByUserID = this.$store.state.auth.userId;
      getTaskAssigned(this.taskID, item.addedByUserID)
        .then((response3) => {
          if (response3.data.startDate != undefined) {
            this.taskStartDate = response3.data;
          } else {
            this.taskStartDate.startDate = new Date();
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    redirectLink(item) {
      this.$router.push({
        name: "taskTreeView",
        query: { id: item.mainTaskId, taskid: item.taskID },
      });
    },
    markUnread(item) {
      let id = item.taskID;
      let userId = this.$store.state.auth.userId;
      upadateAsUnRead(id, userId)
        .then((response) => {
          item.isRead = !item.isRead;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    duplicateNewTask() {
      this.$refs.reftasktabForm.$refs.reftaskForm.formdata.statusCodeID = 512;
      this.$refs.reftasktabForm.$refs.reftaskForm.reOpen();
    },
    openAudio() {
      this.opneaudiorecord = !this.opneaudiorecord;
    },
    callback(msg) {
      console.log("Event: ", msg);
    },
    Menudisabled(args) {
      let userId = this.$store.state.auth.userId;
      if (args.statusCodeID == 709) {
        if (GlobalMessage.SuperUser != userId) return true;
      }
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      search.methodName = "GetTaskList";
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.taskSearch.taskStatusIds = this.taskSearch.taskStatusIds;
      search.taskSearch.taskAssigneeIds = this.taskSearch.taskAssigneeIds;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page=1;
      search.sortCol = this.pagination.sortBy;
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;

      this.loading = true;
      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.taskItems = response.data.result;
            /* if (this.taskItems != undefined) {
              this.taskItems.forEach((data) => {
                this.taskCalendarItems.push(data);
              });
            } */
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
          this.loader = false;
          this.menuSearch = false;
        })
        .catch((error) => {
          this.loading = false;
          this.loader = false;
          this.menuSearch = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onReminderTaskList() {
      search.filterFields = this.filterFields;
      search.taskSearch.taskStatusIds = this.taskSearch.taskStatusIds;
      search.taskSearch.taskAssigneeIds = this.taskSearch.taskAssigneeIds;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = this.pagination.sortBy;

      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            if (response.data.result != undefined) {
              response.data.result.forEach((data) => {
                this.taskCalendarItems.push(data);
              });
            }
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.menuSearch = false;
        })
        .catch((error) => {
          this.menuSearch = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.taskSearch.taskStatusIds = this.taskSearch.taskStatusIds;
      search.taskSearch.taskAssigneeIds = this.taskSearch.taskAssigneeIds;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName =
        search.methodName == "" ? "GetTaskList" : search.methodName;
      console.log("Pagination", args);
      this.loading = true;
      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.taskItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
          this.loader = false;
        })
        .catch((error) => {
          this.loading = false;
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
<style scoped>
/* table.v-table tbody td,
table.v-table tbody th {
  height: 25px;
} */

.fullwidth {
  width: 100% !important;
  max-width: 100%;
}
</style>
<style>
.red {
  background: rgb(235, 77, 77) !important;
  color: whitesmoke !important;
}
.blue {
  background: rgb(59, 59, 163) !important;
  color: whitesmoke !important;
}
.orange {
  background: rgb(255, 165, 0) !important;
  color: white !important;
}
.green {
  background: rgb(49, 155, 49) !important;
  color: white !important;
}
.lime {
  background: rgb(0, 204, 102);
  color: white !important;
}
.lime,
.blue,
.orange,
.red,
.green {
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
}
.event-item {
  padding: 2px 0 2px 4px !important;
}
.handle {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
}
.chat-room--scrollbar {
  height: calc(100vh - 48px);
}
.taskform--scrollbar {
  height: calc(100vh - 40px - 60px);
}
.layoutbg {
  border-style: solid;
  border-radius: 8px !important;
  border-color: rgb(216, 222, 247);
  border-width: 1px;
  padding: 8px;
}
</style>    