<template>
  <v-card>
    <!-- <v-card-title class="indigo white--text headline">
      User Directory
    </v-card-title> -->

    <v-layout
      justify-space-between
      pa-3
    >
      <app-section-loader :status="subtaskloader"></app-section-loader>
      <v-flex xs3>
        <vue-perfect-scrollbar
          class="chat-room--scrollbar grey lighten-5"
          v-bind:style="computeHeight"
        >
          <v-treeview
            :active.sync="active"
            :items="items"
            :open.sync="open"
            activatable
            active-class="primary--text"
            transition
            v-model="selectedTask"
            :open-all="true"
          >

          </v-treeview>
        </vue-perfect-scrollbar>
      </v-flex>

      <v-flex
        d-flex
        xs9
      >
        <vue-perfect-scrollbar
          class="chat-room--scrollbar lighten-5"
          v-bind:style="computeHeight"
        >
          <v-scroll-y-transition mode="out-in">
            <div
              v-if="!selected"
              class="title grey--text text--lighten-1 font-weight-light"
              style="align-self: center;"
              text-xs-center
            >
              Select a Task
            </div>
            <v-card
              v-else
              :key="selected.taskID"
              class="pt-4 mx-auto"
              flat
            >
              <v-card-text>
                <v-hover
                  open-delay="0"
                  close-delay="0"
                >
                  <v-layout slot-scope="{ hover }">
                    <v-flex
                      sm8
                      lg8
                    >
                      <h3
                        v-if="selected.hasPermission == true"
                        class="headline"
                      >
                        {{ selected.title | uppercase }}

                      </h3>
                      <h3
                        v-else
                        class="headline"
                        style="color:red;"
                      >
                        {{ selected.title | uppercase }}

                      </h3>
                    </v-flex>
                    <v-flex
                      sm3
                      lg3
                    >

                      <h5
                        v-if="selected.hasPermission == true"
                        class="headline"
                      >
                        {{ selected.dueDate | formatDate }}

                      </h5>
                      <h5
                        v-else
                        class="headline"
                        style="color:red;"
                      >
                        {{ selected.dueDate | formatDate }}

                      </h5>
                    </v-flex>
                    <v-flex>
                      <v-btn
                        icon=""
                        v-if="selected.hasPermission == true"
                        @click="addSubTask(selected)"
                      >
                        <v-icon>
                          streetview
                        </v-icon>
                      </v-btn>

                    </v-flex>
                  </v-layout>
                </v-hover>
              </v-card-text>
              <v-divider></v-divider>
              <v-layout
                tag="v-card-text"
                wrap
              >
                <v-flex v-if="selected.hasPermission == true">
                  <div v-html="selected.description"></div>
                </v-flex>
                <v-flex
                  v-else
                  style="color:red;"
                >
                  <div> You don't have permission to view this page details...</div>
                </v-flex>
              </v-layout>
            </v-card>
          </v-scroll-y-transition>
        </vue-perfect-scrollbar>
      </v-flex>
    </v-layout>
    <v-dialog
      v-model="subdialog"
      fullscreen=""
    >
      <v-card>
        <v-toolbar
          card
          dense
          color="primary"
        >
          <v-btn
            icon
            @click.native="subdialog = false"
          >
            <v-icon color="white">reply</v-icon>
          </v-btn>
          <v-btn
            icon
            @click.native="expandAll"
          >
            <v-icon color="white">expand_more</v-icon>
          </v-btn>

          <v-btn
            icon
            @click.native="collapsAll"
          >
            <v-icon color="white">expand_less</v-icon>
          </v-btn>

          <v-spacer></v-spacer>
          <v-btn
            icon
            @click.native="subdialog = false"
          >
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <vue-perfect-scrollbar
          class="chat-room--scrollbar lighten-5"
          v-bind:style="computeHeight"
        >
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-expansion-panel
              v-model="panel"
              expand
            >
              <v-expansion-panel-content
                v-for="(item,i) in taskAllItems"
                :key="i"
              >
                <div slot="header">{{ item.title }}</div>
                <v-card>
                  <v-card-text class="grey lighten-3">
                    <div v-html="item.description"></div>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-card-text>
        </vue-perfect-scrollbar>
      </v-card>
    </v-dialog>
  </v-card>

</template>
<script>
import router from 'vue-router';
import { getSubTasksId, getTaskTreeId, getTaskMastersbyID, getuserTaskTreeId } from '@/api/taskMaster';
export default {
  name: 'Page2',
  data: () => ({
    subdialog: false,
    active: [],
    avatar: null,
    open: [],
    users: [],
    taskItems: [],
    taskAllItems: [],
    subTaskitems: [],
    taskID: -1,
    formTitle: 'Task Details',
    panel: [],
    formdata: {
      valid: false,
      taskID: -1,
      date: new Date(),
      title: '',
      assignedTo: null,
      dueDate: new Date(),
      description: '',
      projectID: null,
      assignedCC: [],
      onBehalfID: null,
      sessionID: '',
      addedByUserID: 1,
      addedDate: new Date(),
      addedByUser: 'Arun',
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserID: 1,
      modifiedDate: new Date(),
      requiredfield: [v => !!v || 'This is required field'],
      tagMasterID: -1,
      tagIds: [],
      personaltagIds: [],
      addedByUser: 'Arun',
      attachments: [],
      documentID: -1,
      documentAccessID: null,
      documentAccessName: null,
      sessionID: null,
      linkID: null,
      isSpecialFile: true,
      isTemp: true,
      description: '',
      uploadedFile: null,
      onBehalfName: '',
      overDueAllowed: 'false',
      followUp: 'false',
      mainTaskId: null,
    },
    subtaskloader: false,
    subtasktriggered: false,
    selectedTask: [],
  }),
  created () {
    this.taskID = this.$route.params.id;
    this.initialize();
  },
  computed: {
    computeHeight () {
      return {
        height: this.height || ''
      };
    },
    selected () {
      if (!this.active.length) return undefined
      const id = this.active[0]

      return this.taskItems.find(task => task.taskID == id);
    },
    items () {
      return this.subTaskitems;
    },
  },

  watch: {

  },

  methods: {

    expandAll () {
      this.panel = []
      for (var prop in this.taskAllItems) {
        this.panel.push(true);
      }
      //this.panel = [...Array(this.taskAllItems).keys()].map(_ => true)
    },
    collapsAll () {
      this.panel = []
    },
    initialize () {
      if (this.taskID > 0) {

        this.subtaskloader = true;
        let userId = this.$store.state.auth.userId;
        getTaskTreeId(this.taskID, userId)
          .then(response3 => {
            this.subTaskitems = response3.data;
            this.subtaskloader = false;

          })
          .catch(error => {
            this.subtaskloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

        getSubTasksId(this.taskID, userId)
          .then(response3 => {
            this.taskItems = response3.data;
            this.subtaskloader = false;

          })
          .catch(error => {
            this.subtaskloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

      }
      else {
        this.subTaskitems = [];
      }
    },
    formateDate (string) {
      return string ? new Date(string).toLocaleDateString() : '';
    },


    addSubTask (item) {
      this.subdialog = true;
      let userId = this.$store.state.auth.userId;
      getuserTaskTreeId(this.taskID, userId)
        .then(response3 => {
          this.taskAllItems = response3.data;
          this.subtaskloader = false;
        })
        .catch(error => {
          this.subtaskloader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },

  }
}
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>