<template >

  <v-tabs color="transparent" v-model="selectedTab" @change="tabChange">
    <v-tabs-slider color="primary"></v-tabs-slider>
    <v-tab key="tab1">
       <v-tooltip bottom>
      <v-icon slot="activator">tune</v-icon>
       <span>Task Details</span>
       </v-tooltip>
    </v-tab>
    <v-tab key="tab2">
       <v-tooltip bottom>
      <v-icon slot="activator">message</v-icon>
       <span>Task Subject </span>
       </v-tooltip>
    </v-tab>
    <v-tab key="tab3">
       <v-tooltip bottom>
      <v-icon slot="activator">file_copy</v-icon>
       <span>File Details</span>
       </v-tooltip>
    </v-tab>
    <v-tab key="tab5">
      <v-icon>launch</v-icon>
    </v-tab>
    <v-tab key="tab4">
      <v-icon>local_activity</v-icon>
    </v-tab>
    <v-tabs-items>
      <v-tab-item key="tab1">
        <!-- <vue-perfect-scrollbar class="chat-room--scroll">
          <v-card flat>
            <v-card-text> -->
        <div style="overflow:auto;height:calc(100vh - 198px)">
          <task-header v-show="viewList ==='list'" ref="refTaskLines"></task-header>
          <task-form v-show="viewList ==='grid'" ref="reftaskForm"></task-form>
        </div>
        <!-- </v-card-text>
          </v-card>
        </vue-perfect-scrollbar> -->
      </v-tab-item>
      <v-tab-item key="tab2">
        <task-conversation ref="reftaskconversation">
        </task-conversation>
      </v-tab-item>
      <v-tab-item key="tab3">
        <file-list ref="reftaskfiles"></file-list>
      </v-tab-item>
      <v-tab-item key="tab5">
        <v-card flat>
          <task-links ref="reftasklinks"></task-links>
        </v-card>
      </v-tab-item>
      <v-tab-item key="tab4">
        <v-card flat>
          <!--   <task-activity-log ref="reftaskactivitylog"></task-activity-log> -->
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
</template>

<script>
  import TaskForm from '@/pages/task/taskForm';
  import TaskConversation from '@/pages/task/taskmessage';
  import TaskHeader from '@/pages/task/taskHeader.vue';
  import FileList from '@/pages/task/taskattachments';
  import TaskLinks from '@/pages/task/taskLinks';
  //import TaskActivityLog from '@/pages/task/taskActivityLog';
  export default {
    components: {
      TaskForm,
      TaskConversation,
      FileList,
      TaskLinks,
      TaskHeader
      //TaskActivityLog
    },
    data: () => ({
      height: {
        type: String,
        default: null,
      },
      taskCommentID:null,
      getItem:{
      taskcommentID : null,
      },
      selectedTab: null,
      actionButton: true,
      viewList: 'list',
      scrollSettings: {
        maxScrollbarLength: 140
      },

    }),

    computed: {
      computeHeight () {
        return {
          height: this.height || ''
        };
      },

    },
    created () {
      this.taskCommentID = Number(this.$route.query.taskCommentID);
      window.getApp.$on('TASKMESSAGE_TAB', taskcommentID => {
        this.selectedTab = 'tab2';
      
        this.selectedTab = 1;
      });
      //   window.getApp.$on('TASKMESSAGEFROMDASH_TAB', taskcommentID => {
      //   this.selectedTab = 'tab2';
      //   this.selectedTab = 1;
       
      //   // let item={};
      //   // item.taskcommentID = taskcommentID;
      //   // this.getItem.taskcommentID = taskcommentID;
      //   // this.$refs.reftaskconversation.navigateConversation(this.getItem);
      // });
      window.getApp.$on('ENABLE_TASKACTION', () => {
        this.actionButton = false;
        this.selectedTab = null;
      });
      window.getApp.$on('DISABLE_TAB', action => {
        this.actionButton = action;
        this.selectedTab = null;
      });
      window.getApp.$on('TAB_CONVERSATION', () => {
        this.selectedTab = 'tab2';
        this.selectedTab = 1;
      });
      
      if (this.$route.query.type != undefined && this.$route.query.type == "Dashboard") {
        this.selectedTab = 1;
        this.tabChange(this.selectedTab);     
        //this.getItem.taskcommentID = this.taskCommentID;
        this.fromDash();
       
       
      }
    },
    beforeDestroy () {
      window.getApp.$off('ENABLE_TASKACTION');
      window.getApp.$off('DISABLE_TAB');
      window.getApp.$off('TAB_CONVERSATION');
      window.getApp.$off('TASKMESSAGE_TAB');
      // window.getApp.$off('TASKMESSAGEFROMDASH_TAB');
    },
    methods: {
      tabChange (tab) {        
        if (tab == 1) {
          window.getApp.$emit('TASK_MESSAGE_READ');
        }
         
      },
      fromDash(){
        window.getApp.$emit('TASK_MESSAGE_FROM_DASHBOARD',this.taskCommentID);
       
        // if(this.$refs.reftaskconversation!=undefined)
        // {
        // this.$refs.reftaskconversation.navigateConversation(this.getItem);
        // }
      },
    }
  };
</script>

 <style lang="stylus" scoped>
   .chat-room--scroll {
     height: calc(100vh - 206px);
   }
</style>