<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Registration Variation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon="" @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                :disabled="uploadbtn"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Template Name"
                      prepend-icon="invert_colors"
                      :items="templateNameItems"
                      v-model="editedItem.jobProgressTemplateId"
                      required
                      color="blue"
                      item-text="templateName"
                      item-value="jobProgressTemplateId"
                      :rules="ProfileRules"
                      @change="onChangeTemplate"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Profile"
                      prepend-icon="invert_colors"
                      :items="profileItems"
                      v-model="editedItem.profileId"
                      required
                      color="blue"
                      item-text="name"
                      item-value="profileID"
                      :rules="ProfileRules"
                      readonly
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      cache-items
                      flat
                      placeholder="Template Name"
                      prepend-icon="assistant"
                      :items="templateItems"
                      v-model="editedItem.templateId"
                      label="Template Name"
                      color="blue"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      readonly
                      :rules="templateRules"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      cache-items
                      flat
                      placeholder="Select Job Category"
                      prepend-icon="assistant"
                      :items="jobCategoryItems"
                      v-model="editedItem.jobCategoryId"
                      label="Job Category"
                      color="blue"
                      item-text="value"
                      readonly
                      item-value="applicationMasterChildId"
                      @change="onChangeJobCategory"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      placeholder="Select Job Type"
                      prepend-icon="assistant"
                      :items="jobTypeItems"
                      v-model="editedItem.jobTypeId"
                      label="Job Type"
                      color="blue"
                      item-text="value"
                      item-value="applicationMasterChildId"
                      readonly
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      chips
                      :items="statusOptions"
                      item-text="codeValue"
                      item-value="codeID"
                      :rules="statusRules"
                      readonly
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <job-progress-template-line
                      ref="refJobProgressTemplateLine"
                    ></job-progress-template-line>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              :loading="loader"
              @click.native="save"
            >
              Save
            </v-btn>
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="DeleteItem"
          >
          </delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="loading"
      default-sort="applicationWikiId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.profileNo }}</td>
          <td class="text-xs-left">{{ props.item.templateName }}</td>
          <td class="text-xs-left">{{ props.item.actionNo }}</td>
          <td class="text-xs-left">
            {{ props.item.sectionNo }}
          </td>
          <td class="text-xs-left">
            {{ props.item.sectionDescription }}
          </td>
          <td class="text-xs-left">{{ props.item.startDate | formatDate }}</td>
          <td class="text-xs-left">
            {{ props.item.completionDate | formatDate }}
          </td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="justify-center layout px-0">
            <v-icon small @click="editItem(props.item)">edit</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import {
  getJobProgressTemplate,
  getSearchData,
  deleteJobProgressTemplate,
  getJobProgressTemplateItemsByTemplate,
} from "@/api/jobProgressTemplate";
import {
  createJobProgressTemplateLineProcess,
} from "@/api/jobProgressTemplateLine";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getCodeMasterByType } from "@/api/applicationUser";

import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import Util from "@/util";
import { getEmployeesByDropdown } from "@/api/employee";
import {
  getApplicationMasterChild,
  getApplicationMasterChildtWithChild,
} from "@/api/ApplicationMasterChild";
import { getNavItemsList } from "@/api/nav";
import JobProgressTemplateLine from "@/pages/JobProgressTemplate/jobProgressTemplateViewLine";
import attachment from "@/components/Attachment/attachments";
import {  getUserGroups } from "@/api/userGroup";
import { getDocumentProfiles } from "@/api/documentProfile";
export default {
  components: { JobProgressTemplateLine, attachment },
  data: () => ({
    totalRows: 0,
    loading: false,
    empsearch: "",
    sessionId: null,
    screenId: "JOB0001",
    attachdialog: false,
    uploadbtn: true,
    selectedTab: 0,
    dialog: false,
    loader: false,
    gridloader: false,
    search: "",
    totalRows: 0,
    registerationStatusItem: [],
    statusOptions: [],
    timeout: 2000,
    tempVersionId: -1,
    versiondialog: false,
    referencedialog: false,
    versionListdialog: false,
    enableVersionButton: true,
    referenceRuels: [(v) => !!v || "Reference is required"],
    y: "top",
    searchItemNo: "",
    templateItems: [],
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
    ],
    filterFields: [
      "Profile.Name",
      "Template.Value",
      "JobCategory.Value",
      "JobType.Value",
      "StatusCode.CodeValue",
    ],
    headers: [
      {
        text: "Profile",
        value: "profileNo",
        align: "left",
      },
      {
        text: "Template Name",
        value: "templateName",
        align: "left",
      },
      {
        text: "Action No",
        value: "actionNo",
        align: "left",
      },
      {
        text: "Section No",
        value: "sectionNo",
        align: "left",
      },
      {
        text: "Section Description",
        value: "sectionDescription",
        align: "left",
      },
      {
        text: "Start Date",
        value: "startDate",
        align: "left",
        sortable: false,
      },
      {
        text: "Completion Date",
        value: "completionDate",
        align: "left",
        sortable: false,
      },
      { text: "Status", value: "statusCode", align: "left" },

      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      "Profile No": "profileNo",
      "Action No": "actionNo",
      "Section No": "sectionNo",
      "Section Description": "sectionDescription",
      "Start Date": "startDate",
      "Completion Date": "completionDate",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    isNavItemsFlag: false,
    emprowsPerPageItems: [10, 20, 30, 40, 50, 100],
    emppagination: {
      rowsPerPage: 10,
    },
    empheaders: [
      { text: "Company", value: "plantCompanyName", align: "left" },
      { text: "User Group", value: "userGroupName", align: "left" },
      { text: "Employee", value: "employeeName", align: "left" },
      { text: "Department", value: "departmentName", align: "left" },
      { text: "Designation", value: "designationName", align: "left" },
      { text: "Designation Number", value: "headCount", align: "left" },
    ],
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    searchVariationTypeTag: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    templateNameItems: [],
    jobCategoryItems: [],
    jobTypeItems: [],
    softwareItems: [],
    navItems: [],
    moduleItems: [],
    referenceInfo: "",
    userGroupItems: [],
    employeeItems: [],
    employeeSelectedItems: [],
    editedItem: {
      valid: false,
      jobProgressTemplateId: -1,
      templateId: null,
      jobCategoryId: null,
      jobTypeId: null,
      objective: "",
      pic: null,
      notificationId: null,
      softwareId: null,
      moduleId: null,
      itemId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1420,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      referenceInfo: "",
      profileId: null,
      profileNo: "",
      userType: "user-group",
      userGroupIDs: [],
      employeeIDs: [],
      itemIds: [],
      jobProgressTemplateLineModels: [],
    },
    defaultItem: {
      valid: false,
      jobProgressTemplateId: -1,
      templateId: null,
      jobCategoryId: null,
      jobTypeId: null,
      objective: "",
      pic: null,
      notificationId: null,
      softwareId: null,
      moduleId: null,
      itemId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1420,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      referenceInfo: "",
      profileId: null,
      profileNo: "",
      userType: "user-group",
      userGroupIDs: [],
      employeeIDs: [],
      itemIds: [],
      jobProgressTemplateLineModels: [],
    },
    templateeditedItem: {
      jobProgressTemplateLineId: -1,
      jobProgressTemplateId: null,
      profileId: null,
      actionNo: "",
      sectionNo: "",
      sectionDescription: "",
      subSectionNo: "",
      subSectionDescription: "",
      pia: null,
      startDate: null,
      completionDate: null,
      message: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date(),
      modifiedByUserID: null,
      modifiedDate: new Date(),
      noOfWorkingDays: null,
      specificDateOfEachMonth: null,
      jobDescription: "",
    },
    templatedefaultItem: {
      jobProgressTemplateLineId: -1,
      jobProgressTemplateId: null,
      profileId: null,
      actionNo: "",
      sectionNo: "",
      sectionDescription: "",
      subSectionNo: "",
      subSectionDescription: "",
      pia: null,
      startDate: null,
      completionDate: null,
      message: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date(),
      modifiedByUserID: null,
      modifiedDate: new Date(),
      noOfWorkingDays: null,
      specificDateOfEachMonth: null,
      jobDescription: "",
    },
    profileItems: [],
    isRTERender: false,
    tinyConfig: Util.tinyconfig(150),
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    objectiveExpand: [],
    isnotificationExpand: false,
    isnotificationCollapse: true,
    notificationExpand: [],
    picItems: [],
    searchItem: { action: "", Id: null, searchString: "searchString" },
    searchTemplate: { action: "", Id: null, sessionID: "" },
    searchuser: "",
    searchgroup: "",
    jobProgressTemplateNotifyItems: {
      employeeIDs: [],
      userGroupIDs: [],
      jobProgressTemplateId: null,
      jobProgressTemplateNotifyIds: [],
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Template for monitor job progress"
        : "Edit Template for monitor job progress";
    },
    templateRules() {
      return [(v) => !!v || "Template] Name is required"];
    },
    ProfileRules() {
      return [(v) => !!v || "Profile is required"];
    },
    statusRules() {
      return [(v) => !!v || "Status is required"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    // this.initialize();
  },

  methods: {
    initialize() {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    loadDropdownList() {
      this.loader = true;
      getJobProgressTemplate("")
        .then((response) => {
          this.templateNameItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getDocumentProfiles("")
        .then((response) => {
          this.profileItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(291)
        .then((response) => {
          this.templateItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(290)
        .then((response) => {
          this.moduleItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterChild(103)
        .then((response1) => {
          this.jobCategoryItems = response1.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Sales Order Status")
        .then((response) => {
          this.statusOptions = response.data.filter(function (currentElement) {
            return (
              currentElement.codeID == 1420 || currentElement.codeID == 1421
            );
          });

          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Assignment Related")
        .then((response) => {
          this.softwareItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getEmployeesByDropdown("")
        .then((response) => {
          this.picItems = response.data;
          this.employeeItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getNavItemsList()
        .then((response) => {
          this.navItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onChangeModule(value) {
      this.isNavItemsFlag = false;
      console.log(this.moduleItems);
      let list = this.moduleItems.filter(
        (o) => o.applicationMasterDetailId == value
      );
      if (list.length > 0) {
        let moduleName = list[0]["value"].split("/").filter((item) => item);
        let count = moduleName.length;
        if (count > 0) {
          let name = moduleName[count - 1].toLowerCase();
          if (
            name == "navitems" ||
            name == "navitem" ||
            name == "nav items" ||
            name == "nav item"
          ) {
            this.isNavItemsFlag = true;
          }
        }
      }
    },

    onChangeJobCategory(value) {
      if (value != null) {
        getApplicationMasterChildtWithChild(value)
          .then((response1) => {
            this.jobTypeItems = response1.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    menuClick(key, item) {
      if (key == 0) {
        this.editedItem = Object.assign({}, item);
        this.editItem(item);
        this.createtempVersion();
      } else if (key == 1) {
        this.onDeleteItem(item);
      }
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    onChangeTemplate(value) {
      let list = this.templateNameItems.filter(
        (o) => o.jobProgressTemplateId == value
      );
      if (list.length > 0) {
        this.getJobProgressTemplateItemsByID(list[0]);
      }
    },

    getJobProgressTemplateItemsByID(item) {
      if (item != null) {
        this.loader = true;
        this.searchTemplate.Id = item.jobProgressTemplateId;
        this.searchTemplate.action = this.editedIndex == -1 ? "Add" : "Edit";
        this.searchTemplate.sessionID = item.sessionId;
        getJobProgressTemplateItemsByTemplate(this.searchTemplate)
          .then((response1) => {
            this.loadTemplateItem(response1.data);
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadTemplateItem(item) {
      this.loadDropdownList();
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.uploadbtn = false;
      this.sessionId = item.sessionId;
      this.enableVersionButton = false;
      setTimeout(() => {
        this.onChangeJobCategory(item.jobCategoryId);
        this.onChangeModule(item.moduleId);
        this.isRTERender = true;
      }, 500);
      this.objectiveExpandClick();
      this.notificationExpandClick();
      this.$refs.refJobProgressTemplateLine.jobProgressTemplateId =
        this.editedItem.jobProgressTemplateId;
      this.$refs.refJobProgressTemplateLine.sessionId =
        this.editedItem.sessionId;
      this.$refs.refJobProgressTemplateLine.enableAddButton = false;
      this.$refs.refJobProgressTemplateLine.gridItems =
        this.editedItem.jobProgressTemplateLineModels;
    },
    editItem(item) {
      console.log("Edit Item", item);
      let index = this.gridItems
        .map((item) => item.jobProgressTemplateId)
        .indexOf(item.jobProgressTemplateId);
      this.editedIndex = index;
      this.getJobProgressTemplateItemsByID(item);
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.userID = this.$store.state.auth.userId;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "jobProgressTemplateLineProcessId";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetJobProgressTemplateProcessLines";
      search.pageCount = 1;
      search.userID = this.$store.state.auth.userId;
      this.pagination.page = 1;
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      search.userID = this.$store.state.auth.userId;
      if (args.sortBy == "profileNo") {
        search.sortCol = "ProfileNo";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetJobProgressTemplateProcessLines";
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.jobProgressTemplateId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);

        deleteJobProgressTemplate(this.editedItem)
          .then((response) => {
            this.loader = false;
            this.selectedItem = null;
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.loadPagingData();
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    objectiveExpandClick() {
      this.isobjectiveExpand = false;
      this.isobjectiveCollapse = true;
      this.objectiveExpand.push(true);
    },
    objectiveCollapse() {
      this.isobjectiveExpand = true;
      this.isobjectiveCollapse = false;
      this.objectiveExpand = [];
    },
    notificationExpandClick() {
      this.isnotificationExpand = false;
      this.isnotificationCollapse = true;
      this.notificationExpand.push(true);
    },
    notificationCollapse() {
      this.isnotificationExpand = true;
      this.isnotificationCollapse = false;
      this.notificationExpand = [];
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getSearchData(this.searchItem)
        .then((response) => {
          if (response.data.jobProgressTemplateId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.jobProgressTemplateId)
              .indexOf(response.data.jobProgressTemplateId);
            this.editedIndex = index;
            this.loadLines(false);
            this.uploadbtn = false;
            this.sessionId = response.data.sessionId;
            this.enableVersionButton = false;
            this.selectedTab = 0;
            this.getEmployeegrid();
            this.onChangeModule(response.data.moduleId);
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.selectedTab = 0;
      this.loadDropdownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.enableVersionButton = true;
      this.uploadbtn = true;
      this.sessionId = null;
      this.employeeSelectedItems = [];
      this.isNavItemsFlag = false;
      setTimeout(() => {
        this.isRTERender = true;
      }, 300);
      this.objectiveExpandClick();
      this.notificationExpandClick();
      this.loadLines(true);
    },
    loadLines(status) {
      this.$refs.refJobProgressTemplateLine.jobProgressTemplateId =
        this.editedItem.jobProgressTemplateId;
      this.$refs.refJobProgressTemplateLine.enableAddButton = status;
      this.$refs.refJobProgressTemplateLine.initialize();
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onAttachment(item) {
      this.sessionId = item.sessionId;
      this.fileAttachment();
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },

    save() {
      if (this.$refs.refJobProgressTemplateLine != undefined) {
        console.log(
          "Grid Items",
          this.$refs.refJobProgressTemplateLine.gridItems
        );
        var progressTemplateLine =
          this.$refs.refJobProgressTemplateLine.gridItems.filter(
            (f) => f.processStatusID == null
          );
        var inProgressItems =
          this.$refs.refJobProgressTemplateLine.gridItems.filter(
            (f) => f.processStatusID == 213
          );
        console.log("Inprogress items", inProgressItems, progressTemplateLine);
        if (progressTemplateLine.length > 0 && inProgressItems.length == 0) {
          console.log("Template", progressTemplateLine[0]);
          this.templateeditedItem = Object.assign({}, progressTemplateLine[0]);
          this.templateeditedItem.statusCodeID = 213;
          this.templateeditedItem.startDate = new Date();
          this.templateeditedItem.addedByUserId = this.$store.state.auth.userId;
          this.loader = true;
          createJobProgressTemplateLineProcess(this.templateeditedItem)
            .then((response) => {
              this.loader = false;
              this.editedIndex = 1;
              this.templateeditedItem.sessionId = response.data.sessionId;
              this.getJobProgressTemplateItemsByID(this.templateeditedItem);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          window.getApp.$emit(
            "APP_API_ERROR",
            "Template Item already in use!!!"
          );
        }
      }
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>