<template>
  <div>
    <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Sub Section Information</span>
    </v-layout>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
        :disabled="enableAddButton"
      ></v-text-field>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="ProductionBatchinfoLine"
        type="csv"
        name="ProductionBatchinfoLine.xls"
      >
        <v-btn icon :disabled="enableAddButton">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
        <v-btn
          slot="activator"
          icon
          :disabled="enableAddButton"
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Action Progress and information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="productbatchLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.subSectionNo"
                      prepend-icon="select_all"
                      label="sub-Section No"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-textarea
                      v-model="editedItem.subSectionDescription"
                      prepend-icon="select_all"
                      label="Sub - Section Description"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.noOfWorkingDays"
                      prepend-icon="select_all"
                      label="No Of Working Days"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      placeholder="Monitor Type Of Job Action"
                      prepend-icon="assistant"
                      :items="monitorTypeOfJobActionItems"
                      v-model="editedItem.monitorTypeOfJobActionId"
                      label="Monitor Type Of Job Action"
                      color="blue"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm2 style="margin-top: 20px">
                    <v-radio-group
                      v-model="editedItem.userType"
                      row
                      :mandatory="false"
                      @click="onclickUserType"
                    >
                      <v-radio label="User Group" value="usergroup"></v-radio>
                      <v-radio label="Country" value="country"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      v-show="editedItem.userType == 'usergroup'"
                      :loading="loader"
                      chips
                      flat
                      placeholder="User Group"
                      prepend-icon="assistant"
                      :items="userGroupItems"
                      v-model="editedItem.userGroupId"
                      label="User Group"
                      color="blue"
                      item-text="name"
                      item-value="userGroupID"
                      @change="onchangeUserCountry"
                    >
                    </v-autocomplete>
                    <v-autocomplete
                      v-show="editedItem.userType == 'country'"
                      :loading="loader"
                      chips
                      cache-items
                      flat
                      placeholder="Country"
                      prepend-icon="assistant"
                      :items="companyItems"
                      v-model="editedItem.plantId"
                      label="Country"
                      color="blue"
                      item-text="description"
                      item-value="plantID"
                      @change="onchangeUserCountry"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs6 sm4>
                    <v-autocomplete
                      label="Next PIA"
                      prepend-icon="notes"
                      v-model="editedItem.piaIds"
                      :items="piaItems"
                      item-text="firstName"
                      item-value="userID"
                      multiple
                      chips
                      :search-input.sync="searchPia"
                      @change="selectPiaUsers"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removePiaUsers(data.item)"
                          >{{ data.item.name }}</v-chip
                        >
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content
                            v-text="data.item"
                          ></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title
                              v-html="data.item.firstName"
                            ></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>

                  <v-toolbar card dense color="whitesmoke">
                    <span> Message</span>
                    <v-spacer></v-spacer>

                    <v-btn
                      icon
                      flat
                      @click.native="objectiveExpandClick"
                      v-if="isobjectiveExpand"
                    >
                      <v-icon>expand_more</v-icon>
                    </v-btn>

                    <v-btn
                      icon
                      flat
                      @click="objectiveCollapse"
                      v-if="isobjectiveCollapse"
                    >
                      <v-icon>expand_less</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-expansion-panel v-model="objectiveExpand" expand>
                    <v-expansion-panel-content>
                      <v-flex xs12 sm12>
                        <vue-mce
                          :config="tinyConfig"
                          v-if="isRTERender"
                          ref="message"
                          id="message"
                          v-model="editedItem.message"
                        />
                      </v-flex>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-toolbar card dense color="whitesmoke">
                    <span> File Uploading</span>
                    <v-spacer></v-spacer>

                    <v-btn
                      icon
                      flat
                      @click.native="subjectExpandClick"
                      v-if="issubjectExpand"
                    >
                      <v-icon>expand_more</v-icon>
                    </v-btn>

                    <v-btn
                      icon
                      flat
                      @click="subjectCollapse"
                      v-if="issubjectCollapse"
                    >
                      <v-icon>expand_less</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-expansion-panel v-model="subjectExpand" expand>
                    <v-expansion-panel-content>
                      <v-layout wrap>
                        <v-flex xs12 sm3 style="margin-top: 20px">
                          <v-text-field
                            v-model="editedItem.subject"
                            prepend-icon="select_all"
                            label="Subject"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4 style="margin-top: 20px">
                          <v-text-field
                            v-model="editedItem.taskLink"
                            prepend-icon="select_all"
                            label="Task Link"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm1 style="margin-top: 20px">
                          <v-checkbox
                            v-model="editedItem.isWiki"
                            label="Follow Wiki"
                            primary
                            hide-details
                          >
                          </v-checkbox>
                        </v-flex>
                        <v-flex xs12 sm1 style="margin-top: 20px">
                          <v-checkbox
                            v-model="editedItem.isLatest"
                            label="IsLastest"
                            primary
                            hide-details
                          >
                          </v-checkbox>
                        </v-flex>
                        <v-flex xs12 sm4 style="margin-top: 20px">
                          <span>Require Upload Folder for User?</span>
                          <v-radio-group
                            v-model="editedItem.isRequireUploadFolder"
                            row
                            :mandatory="false"
                          >
                            <v-radio label="Yes" value="Yes"></v-radio>
                            <v-radio label="No" value="No"></v-radio>
                          </v-radio-group>
                        </v-flex>
                        <v-flex xs12 sm4 style="margin-top: 20px">
                          <span>With complete check?</span>
                          <v-radio-group
                            v-model="editedItem.isWithCompleteCheck"
                            row
                            :mandatory="false"
                          >
                            <v-radio label="Yes" value="Yes"></v-radio>
                            <v-radio label="No" value="No"></v-radio>
                          </v-radio-group>
                        </v-flex>
                        <v-flex xs12 sm4 style="margin-top: 20px">
                          <span
                            >Each subject heading has many files to
                            upload?</span
                          >
                          <v-radio-group
                            v-model="editedItem.isEachSubjectHeadingUpload"
                            row
                            :mandatory="false"
                          >
                            <v-radio label="Yes" value="Yes"></v-radio>
                            <v-radio label="No" value="No"></v-radio>
                          </v-radio-group>
                        </v-flex>
                        <v-flex xs12 sm1 style="margin-top: 20px">
                          <v-btn
                            color="primary darken-1"
                            @click="clicklinkAddComment"
                          >
                            Add
                          </v-btn>
                        </v-flex>
                        <v-flex xs12 sm12>
                          <v-data-table
                            :headers="linkHeaders"
                            :items="editedItem.appWikiTaskLinkModel"
                            class="elevation-1"
                            hide-actions
                          >
                            <template v-slot:items="props">
                              <td>{{ props.item.subject }}</td>
                              <td class="text-xs-left">
                                <v-icon
                                  small
                                  color="green"
                                  v-if="props.item.isLatest"
                                  >done</v-icon
                                >
                              </td>
                              <td class="text-xs-left">
                                <v-icon
                                  small
                                  color="green"
                                  v-if="props.item.isWiki"
                                  >done</v-icon
                                >
                              </td>

                              <td>
                                <v-btn
                                  @click="clicklinkComment(props.item)"
                                  icon
                                >
                                  <v-icon small>visibility</v-icon>
                                </v-btn>
                                <v-btn
                                  @click="clicklinkDeleteComment(props.item)"
                                  icon
                                >
                                  <v-icon small>delete</v-icon>
                                </v-btn>
                              </td>
                            </template>
                          </v-data-table>
                        </v-flex>
                      </v-layout>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="loader"
              outline
              @click.native="save"
              >save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="initialize()"
          :disabled="enableAddButton"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="jobProgressTemplateLineLineProcessId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.subSectionNo }}</td>
        <td class="text-xs-left">{{ props.item.subSectionDescription }}</td>
        <td class="text-xs-left">{{ props.item.noOfWorkingDays }}</td>
        <td class="text-xs-left">{{ props.item.monitorTypeOfJobAction }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import Util from "@/util";
import {
  getJobProgressTemplateLineLine,
  createJobProgressTemplateLineLine,
  updateJobProgressTemplateLineLine,
  deleteJobProgressTemplateLineLine,
} from "@/api/jobProgressTemplateLine";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getEmployeesUserByDropdown } from "@/api/employee";
import { getUserGroups } from "@/api/userGroup";
import { getPlants } from "@/api/nav";
export default {
  components: {},
  data: () => ({
    linkHeaders: [
      { text: "Subject", value: "subject", align: "left" },
      { text: "Is Latest", value: "isLatest", align: "left" },
      { text: "Follow Wiki", value: "isWiki", align: "left" },
      { text: "Actions", value: "actions", align: "left", sortable: false },
    ],
    companyItems: [],
    userGroupItems: [],
    searchPia: "",
    monitorTypeOfJobActionItems: [],
    isRTERender: false,
    tinyConfig: Util.tinyconfig(150),
    startDateMenu: false,
    completionDateMenu: false,
    dialog: false,
    subloader: false,
    loader: false,
    editedIndex: -1,
    expireDatemenu: false,
    packingUnitsItems: [],
    search: "",
    gridloader: false,
    searchdatabase: "",
    searchnavision: "",
    plantID: null,
    selectedCompanyID: null,
    companyId: null,
    selected: [],
    gridItems: [],
    enableAddButton: true,
    jobProgressTemplateLineProcessId: -1,
    searchFilter: "",
    editedItem: {
      jobProgressTemplateLineLineProcessId: -1,
      jobProgressTemplateLineProcessId: null,
      profileId: null,
      actionNo: "",
      sectionNo: "",
      sectionDescription: "",
      subSectionNo: "",
      subSectionDescription: "",
      piaIds: [],
      startDate: null,
      completionDate: null,
      message: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date(),
      modifiedByUserID: null,
      modifiedDate: new Date(),
      noOfWorkingDays: null,
      specificDateOfEachMonth: null,
      jobDescription: "",
      assignedTo: null,
      monitorTypeOfJobActionId: null,
      taskLink: "",
      subject: "",
      appWikiTaskLinkModel: [],
      isWiki: false,
      isLatest: false,
      isRequireUploadFolder: false,
      isWithCompleteCheck: false,
      isEachSubjectHeadingUpload: false,
      userType: "",
      userGroupId: null,
      plantId: null,
    },
    defaultItem: {
      jobProgressTemplateLineLineProcessId: -1,
      jobProgressTemplateLineProcessId: null,
      profileId: null,
      actionNo: "",
      sectionNo: "",
      sectionDescription: "",
      subSectionNo: "",
      subSectionDescription: "",
      piaIds: [],
      startDate: null,
      completionDate: null,
      message: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date(),
      modifiedByUserID: null,
      modifiedDate: new Date(),
      noOfWorkingDays: null,
      specificDateOfEachMonth: null,
      jobDescription: "",
      assignedTo: null,
      monitorTypeOfJobActionId: null,
      taskLink: "",
      subject: "",
      appWikiTaskLinkModel: [],
      isWiki: false,
      isLatest: false,
      isRequireUploadFolder: "",
      isWithCompleteCheck: "",
      isEachSubjectHeadingUpload: "",
      userType: "",
      userGroupId: null,
      plantId: null,
    },
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    objectiveExpand: [],
    issubjectExpand: false,
    issubjectCollapse: true,
    subjectExpand: [],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    piaItems: [],
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      { text: "SubSection No", value: "subSectionNo", align: "left" },
      {
        text: "SubSection Description",
        value: "subSectionDescription",
        align: "left",
      },
      { text: "No Of Working Days", value: "noOfWorkingDays", align: "left" },
      {
        text: "Monitor Type Of Job Action",
        value: "monitorTypeOfJobAction",
        align: "left",
      },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "SubSection No": "subSectionNo",
      "SubSection Description": "subSectionDescription",
      "Start Date": "startDate",
      "Completion Date": "completionDate",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Sub Section Information"
        : "Edit Sub Section Information";
    },

    ProfileRules() {
      return [(v) => !!v || "This field is required"];
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      getJobProgressTemplateLineLine(this.jobProgressTemplateLineProcessId)
        .then((response) => {
          this.gridItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadDropdownList() {
      getApplicationMasterDetailByType(319)
        .then((response) => {
          this.monitorTypeOfJobActionItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants()
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onclickUserType()
    {
        this.piaItems=[];
        this.editedItem.userGroupId=null;
        this.editedItem.plantId=null;
    },
    onchangeUserCountry(value,type) {
      if(type!='edit')
      {
        this.piaItems=[];
      }
      getEmployeesUserByDropdown(value, this.editedItem.userType)
        .then((response) => {
          this.piaItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removePiaUsers(item) {
      const index = this.editedItem.piaIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.piaIds.splice(index, 1);
    },
    selectPiaUsers() {
      this.searchPia = "";
    },
    clicklinkDeleteComment(item) {
      let index = this.editedItem.appWikiTaskLinkModel.indexOf(item);
      this.editedItem.appWikiTaskLinkModel.splice(index, 1);
    },
    clicklinkComment(item) {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(item.taskLink)) {
        window.open(item.taskLink, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    clicklinkAddComment() {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(this.editedItem.taskLink)) {
        let itemsName = {
          jobTaskLinkId: -1,
          subject: this.editedItem.subject,
          taskLink: this.editedItem.taskLink,
          isWiki: this.editedItem.isWiki,
          isLatest: this.editedItem.isLatest,
          jobProgressTemplateLineLineProcessId:
            this.editedItem.jobProgressTemplateLineLineProcessId,
          isRequireUploadFolder: this.editedItem.isRequireUploadFolder,
          isWithCompleteCheck: this.editedItem.isWithCompleteCheck,
          isEachSubjectHeadingUpload:
            this.editedItem.isEachSubjectHeadingUpload,
        };
        this.editedItem.appWikiTaskLinkModel.push(itemsName);
        this.editedItem.taskLink = "";
        this.editedItem.subject = "";
        this.editedItem.isWiki = false;
        this.editedItem.isLatest = false;
        this.editedItem.isRequireUploadFolder = "";
        this.editedItem.isWithCompleteCheck = "";
        this.editedItem.isEachSubjectHeadingUpload = "";
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      setTimeout(() => {
        this.dialog = true;
        this.isRTERender = true;
        if (this.editedItem.userType == "usergroup") {
          this.onchangeUserCountry(this.editedItem.userGroupId,'edit');
        }
        if (this.editedItem.userType == "country") {
          this.onchangeUserCountry(this.editedItem.plantId,'edit');
        }
      }, 1500);
      this.objectiveExpandClick();
      this.subjectExpandClick();
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    objectiveExpandClick() {
      this.isobjectiveExpand = false;
      this.isobjectiveCollapse = true;
      this.objectiveExpand.push(true);
    },
    objectiveCollapse() {
      this.isobjectiveExpand = true;
      this.isobjectiveCollapse = false;
      this.objectiveExpand = [];
    },

    subjectExpandClick() {
      this.issubjectExpand = false;
      this.issubjectCollapse = true;
      this.subjectExpand.push(true);
    },
    subjectCollapse() {
      this.issubjectExpand = true;
      this.issubjectCollapse = false;
      this.subjectExpand = [];
    },

    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.jobProgressTemplateLineLineProcessId = -1;
      this.loadDropdownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      setTimeout(() => {
        this.isRTERender = true;
      }, 1500);
      this.objectiveExpandClick();
      this.subjectExpandClick();
    },
    save() {
      if (this.$refs.productbatchLineform.validate()) {
        this.subloader = true;
        this.editedItem.jobProgressTemplateLineProcessId =
          this.jobProgressTemplateLineProcessId;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          updateJobProgressTemplateLineLine(this.editedItem)
            .then((response) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createJobProgressTemplateLineLine(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.editedIndex = 1;
              this.subloader = false;
              this.editedItem.jobProgressTemplateLineLineProcessId =
                response.data.jobProgressTemplateLineLineProcessId;
              this.editedItem.subSectionNo = response.data.subSectionNo;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.jobProgressTemplateLineLineProcessId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteJobProgressTemplateLineLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>