<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Registration Variation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon="" @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Template for monitor job progress</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                :disabled="uploadbtn"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="undoTempVersion">
                <v-icon color="white">undo</v-icon>
              </v-btn>
              <span>Undo applied version to current data</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="enableVersionButton"
                @click.native="versionListShow"
              >
                <v-icon color="white">history</v-icon>
              </v-btn>
              <span>Version List</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-tabs
                  color="transparent"
                  v-model="selectedTab"
                  icons-and-text
                >
                  <v-tab key="tab1">
                    Attach Template
                    <v-icon>group_work</v-icon>
                  </v-tab>
                  <v-tab key="tab2">
                    Staff circulation purpose
                    <v-icon>security</v-icon>
                  </v-tab>
                  <v-tab key="tab3">
                    Master Page
                    <v-icon>group_work</v-icon>
                  </v-tab>
                   <v-tab key="tab4">
                    Process Monitoring Sequence
                    <v-icon>group_work</v-icon>
                  </v-tab>
                  <v-tabs-slider color="primary"></v-tabs-slider>
                  <v-tabs-items>
                    <v-tab-item key="tab1">
                      <v-layout row wrap>
                        <!--  <v-flex xs12 sm4>
                          <v-autocomplete
                            :loading="loader"
                            chips
                            flat
                            label="Profile"
                            prepend-icon="invert_colors"
                            :items="profileItems"
                            v-model="editedItem.profileId"
                            required
                            color="blue"
                            item-text="name"
                            item-value="profileID"
                            :rules="ProfileRules"
                          ></v-autocomplete>
                        </v-flex> -->
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            :loading="loader"
                            chips
                            flat
                            placeholder="Select Company"
                            prepend-icon="assistant"
                            :items="companyItems"
                            v-model="editedItem.countryId"
                            label="Company"
                            color="blue"
                            item-text="description"
                            item-value="plantID"
                            required
                            :rules="companyRules"
                          >
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-text-field
                            label="Profile Code"
                            v-model="editedItem.profileCode"
                            prepend-icon="person"
                            
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-text-field
                            label="Template Name"
                            v-model="editedItem.templateName"
                            prepend-icon="person"
                            required
                            :rules="templateRules"
                          ></v-text-field>
                        </v-flex>
                        <!-- <v-flex xs12 sm4>
                          <v-autocomplete
                            :loading="loader"
                            chips
                            cache-items
                            flat
                            placeholder="Template Name"
                            prepend-icon="assistant"
                            :items="templateItems"
                            v-model="editedItem.templateId"
                            label="Template Name"
                            color="blue"
                            item-text="value"
                            item-value="applicationMasterDetailId"
                            :rules="templateRules"
                            @change="onTemplateSelect"
                          >
                          </v-autocomplete>
                        </v-flex> -->
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            :loading="loader"
                            chips
                            flat
                            placeholder="Select Job Category"
                            prepend-icon="assistant"
                            :items="jobCategoryItems"
                            v-model="editedItem.jobCategoryId"
                            label="Job Category"
                            color="blue"
                            item-text="value"
                            item-value="applicationMasterChildId"
                            @change="onChangeJobCategory"
                          >
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            :loading="loader"
                            chips
                            flat
                            placeholder="Select Job Type"
                            prepend-icon="assistant"
                            :items="jobTypeItems"
                            v-model="editedItem.jobTypeId"
                            label="Job Type"
                            color="blue"
                            item-text="value"
                            item-value="applicationMasterChildId"
                          >
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            label="Status"
                            prepend-icon="notes"
                            v-model="editedItem.statusCodeID"
                            chips
                            :items="statusOptions"
                            item-text="codeValue"
                            item-value="codeID"
                            :rules="[(v) => !!v || 'This Field is required']"
                          >
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm2 style="margin-top: 20px">
                          <span>Require to update personal calendar?</span>
                          <v-radio-group
                            v-model="editedItem.isUpdatePersonalCalandarFlag"
                            row
                            :mandatory="false"
                          >
                            <v-radio label="Yes" value="Yes"></v-radio>
                            <v-radio label="No" value="No"></v-radio>
                          </v-radio-group>
                        </v-flex>
                        <v-flex xs12 sm2>
                          <v-btn
                            rounded
                            color="primary"
                            dark
                            @click="OpenrecurrenceDialog"
                            v-if="
                              editedItem.isUpdatePersonalCalandarFlag == 'Yes'
                            "
                            >Recurrence</v-btn
                          >
                        </v-flex>
                        <v-flex xs12 sm12>
                          <job-progress-template-line
                            ref="refJobProgressTemplateLine"
                          ></job-progress-template-line>
                        </v-flex>
                      </v-layout>
                    </v-tab-item>
                    <v-tab-item key="tab2">
                      <v-layout row wrap>
                        <v-toolbar card dense color="whitesmoke">
                          <span> Objective</span>
                          <v-spacer></v-spacer>

                          <v-btn
                            icon
                            flat
                            @click.native="objectiveExpandClick"
                            v-if="isobjectiveExpand"
                          >
                            <v-icon>expand_more</v-icon>
                          </v-btn>

                          <v-btn
                            icon
                            flat
                            @click="objectiveCollapse"
                            v-if="isobjectiveCollapse"
                          >
                            <v-icon>expand_less</v-icon>
                          </v-btn>
                        </v-toolbar>
                        <v-expansion-panel v-model="objectiveExpand" expand>
                          <v-expansion-panel-content>
                            <v-flex xs12 sm12>
                              <!--  <span v-html="editedItem.objective"></span> -->
                              <vue-mce
                                :config="tinyConfig"
                                v-if="isRTERender"
                                ref="objective"
                                id="objective"
                                v-model="editedItem.objective"
                              />
                            </v-flex>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-flex xs6 sm6>
                          <v-autocomplete
                            label="PIC"
                            prepend-icon="notes"
                            v-model="editedItem.pic"
                            :items="picItems"
                            item-text="firstName"
                            item-value="userID"
                            chips
                            :rules="picRules"
                            >>
                            <template slot="selection" slot-scope="data">
                              <v-chip :selected="data.selected">{{
                                data.item.name
                              }}</v-chip>
                            </template>
                            <template slot="item" slot-scope="data">
                              <template v-if="typeof data.item !== 'object'">
                                <v-list-tile-content
                                  v-text="data.item"
                                ></v-list-tile-content>
                              </template>
                              <template v-else>
                                <v-list-tile-content>
                                  <v-list-tile-title
                                    v-html="data.item.firstName"
                                  ></v-list-tile-title>
                                </v-list-tile-content>
                              </template>
                            </template>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs6 sm6> </v-flex>
                        <v-toolbar card dense color="whitesmoke">
                          <span> Notification</span>
                          <v-spacer></v-spacer>

                          <v-btn
                            icon
                            flat
                            @click.native="notificationExpandClick"
                            v-if="isnotificationExpand"
                          >
                            <v-icon>expand_more</v-icon>
                          </v-btn>

                          <v-btn
                            icon
                            flat
                            @click="notificationCollapse"
                            v-if="isnotificationCollapse"
                          >
                            <v-icon>expand_less</v-icon>
                          </v-btn>
                        </v-toolbar>
                        <v-expansion-panel v-model="notificationExpand" expand>
                          <v-expansion-panel-content>
                            <v-layout row wrap>
                              <v-flex xs12 sm3>
                                <v-radio-group
                                  v-model="editedItem.userType"
                                  row
                                  :mandatory="false"
                                  @change="onUserRadioGroupChanged"
                                >
                                  <v-radio
                                    label="User Group"
                                    value="user-group"
                                  ></v-radio>
                                  <v-radio label="User" value="user"></v-radio>
                                </v-radio-group>
                              </v-flex>
                              <v-flex
                                xs12
                                sm4
                                v-if="editedItem.userType == 'user-group'"
                              >
                                <v-autocomplete
                                  label="User Group"
                                  :loading="loader"
                                  :search-input.sync="searchgroup"
                                  multiple
                                  prepend-icon="location_city"
                                  v-model="editedItem.userGroupIDs"
                                  :items="userGroupItems"
                                  chips
                                  auto
                                  item-text="name"
                                  item-value="userGroupID"
                                  @change="onUserGroupChange"
                                >
                                  <template slot="selection" slot-scope="data">
                                    <v-chip
                                      :selected="data.selected"
                                      close
                                      class="chip--select-multi"
                                      @input="removeUserGroup(data.item)"
                                      >{{ data.item.name }}</v-chip
                                    >
                                  </template>
                                  <template slot="item" slot-scope="data">
                                    <template
                                      v-if="typeof data.item !== 'object'"
                                    >
                                      <v-list-tile-content
                                        v-text="data.item"
                                      ></v-list-tile-content>
                                    </template>
                                    <template v-else>
                                      <v-list-tile-content>
                                        <v-list-tile-title
                                          v-html="data.item.name"
                                        ></v-list-tile-title>
                                      </v-list-tile-content>
                                    </template>
                                  </template>
                                </v-autocomplete>
                              </v-flex>
                              <v-flex
                                xs12
                                sm4
                                v-if="editedItem.userType == 'user'"
                              >
                                <v-autocomplete
                                  label="Employee"
                                  prepend-icon="notes"
                                  :loading="loader"
                                  :search-input.sync="searchuser"
                                  v-model="editedItem.employeeIDs"
                                  :items="employeeItems"
                                  item-text="firstName"
                                  item-value="employeeID"
                                  multiple
                                  chips
                                  @change="onUserChange"
                                >
                                  <template slot="selection" slot-scope="data">
                                    <v-chip
                                      :selected="data.selected"
                                      close
                                      class="chip--select-multi"
                                      @input="removeEmpIds(data.item)"
                                      >{{ data.item.firstName }}</v-chip
                                    >
                                  </template>
                                </v-autocomplete>
                              </v-flex>
                              <v-flex xs12 sm2>
                                <v-btn
                                  @click="save"
                                  :loading="loader"
                                  color="primary"
                                >
                                  ADD
                                </v-btn>
                              </v-flex>
                              <v-flex xs12 sm2>
                                <v-btn @click="selectedDelete" color="primary"
                                  >Delete Selected</v-btn
                                >
                              </v-flex>
                              <v-flex xs12 sm12>
                                <v-data-table
                                  :headers="empheaders"
                                  :items="employeeSelectedItems"
                                  :loading="loader"
                                  :search="empsearch"
                                  class="elevation-1"
                                  default-sort="jobProgressTemplateId:desc"
                                  :rows-per-page-items="emprowsPerPageItems"
                                  :pagination.sync="emppagination"
                                >
                                  <template slot="items" slot-scope="props">
                                    <td class="text-xs-left">
                                      <v-checkbox
                                        primary
                                        hide-details
                                        v-model="props.item.isSelected"
                                      ></v-checkbox>
                                    </td>
                                    <td>{{ props.item.userGroupName }}</td>
                                    <td class="text-xs-left">
                                      {{ props.item.employeeName }}
                                    </td>
                                    <td class="text-xs-left">
                                      {{ props.item.departmentName }}
                                    </td>
                                    <td class="text-xs-left">
                                      {{ props.item.designationName }}
                                    </td>
                                    <td class="text-xs-left">
                                      {{ props.item.headCount }}
                                    </td>

                                    <td class="justify-center layout px-0">
                                      <v-icon
                                        small
                                        @click="deleteEmpItem(props.item)"
                                        >delete</v-icon
                                      >
                                    </td>
                                  </template>
                                  <template slot="no-data">
                                    <v-btn
                                      color="primary"
                                      outline
                                      @click="getEmployeegrid"
                                      >Record not exist.Refresh again in while
                                      time.</v-btn
                                    >
                                  </template>
                                </v-data-table>
                              </v-flex>
                            </v-layout>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-layout>
                    </v-tab-item>
                    <v-tab-item key="tab3">
                      <v-layout row wrap>
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            label="Software"
                            prepend-icon="notes"
                            v-model="editedItem.softwareId"
                            chips
                            :items="softwareItems"
                            item-text="codeValue"
                            item-value="codeID"
                          >
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            :loading="loader"
                            chips
                            flat
                            placeholder="Module"
                            prepend-icon="assistant"
                            :items="moduleItems"
                            v-model="editedItem.moduleId"
                            label="Module"
                            color="blue"
                            item-text="value"
                            item-value="applicationMasterDetailId"
                            @change="onChangeModule"
                          >
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6 v-show="isNavItemsFlag">
                          <v-autocomplete
                            :loading="loader"
                            chips
                            flat
                            label="NAV No"
                            prepend-icon="assistant"
                            :items="navItems"
                            v-model="editedItem.itemIds"
                            color="blue"
                            item-text="itemNoDetailList"
                            item-value="itemId"
                            multiple
                            :search-input.sync="searchItemNo"
                            @change="selectItemNo"
                          >
                            <template slot="selection" slot-scope="data">
                              <v-chip
                                :selected="data.selected"
                                close
                                class="chip--select-multi"
                                @input="removeItemNo(data.item)"
                                >{{ data.item.itemNoDetailList }}</v-chip
                              >
                            </template>
                            <template slot="item" slot-scope="data">
                              <template v-if="typeof data.item !== 'object'">
                                <v-list-tile-content
                                  v-text="data.item"
                                ></v-list-tile-content>
                              </template>
                              <template v-else>
                                <v-list-tile-content>
                                  <v-list-tile-title
                                    v-html="data.item.itemNoDetailList"
                                  ></v-list-tile-title>
                                </v-list-tile-content>
                              </template>
                            </template>
                          </v-autocomplete>
                        </v-flex>
                      </v-layout>
                    </v-tab-item>
                    <v-tab-item key="tab4">
                      <process-monitoring-sequence ref="refProcessMonitoringSequence"></process-monitoring-sequence>
                    </v-tab-item>
                  </v-tabs-items>
                </v-tabs>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="loader"
              outline
              @click.native="save"
            >
              Save
            </v-btn>
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="DeleteItem"
          >
          </delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Wiki Revise Work Document"
          :screenID="screenId"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>
      <v-dialog v-model="referencedialog" persistent max-width="600px">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="referenceclose">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-flex xs12 sm12>
            <v-textarea
              v-model="referenceInfo"
              label="Reference"
              prepend-icon="description"
              required
              :rules="referenceRuels"
            ></v-textarea>
          </v-flex>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="referencesave"
              >SAVE</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="referencecancel"
              >clear</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="referenceclose"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="recurrenceDialog" max-width="600px">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="recurrenceclose">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="recurrenceclose">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-flex xs12 sm12>
            <job-recurrence ref="refApplicationwikiRecurrence"></job-recurrence>
          </v-flex>
        </v-card>
      </v-dialog>
      <delete-confirmation-dialog
        ref="refversionApplyDialog"
        heading="Are You Sure You Want To Apply This Version?"
        message="Are You Sure You Want To Apply This Version?"
        @onConfirm="OnApplyConfirm"
      ></delete-confirmation-dialog>
      <delete-confirmation-dialog
        ref="deleteEmployeeConfirmationDialog"
        heading="Are You Sure You Want To Delete?"
        message="Are You Sure You Want To Delete This Item Permanently?"
        @onConfirm="deleteSelectEmpItem"
      ></delete-confirmation-dialog>

      <v-dialog v-model="versionListdialog" persistent max-width="900px">
        <versions
          ref="refVersions"
          title="Revise Work Wiki Versions"
          screenID="JOB001"
          :closeMethod="versionListclose"
          controller="JobProgressTemplate"
          action="GetJobProgressTemplateVersion"
          :versionMethod="versioneditItem"
        ></versions>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="loading"
      default-sort="applicationWikiId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.profileCode }}</td>
          <td class="text-xs-left">{{ props.item.templateName }}</td>
          <td class="text-xs-left">
            {{ props.item.jobCategory }}
          </td>
          <td class="text-xs-left">
            {{ props.item.jobType }}
          </td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <!-- <td class="text-xs-left">{{ props.item.statusCode }}</td>
         <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>
-->
          <td class="justify-center layout px-0">
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import {
  getSearchData,
  createJobProgressTemplate,
  updateJobProgressTemplate,
  deleteJobProgressTemplate,
  createVersion,
  applyVersion,
  tempVersion,
  undoVersion,
  deleteVersion,
  isTemplateExist,
  deleteJobProgressTemplateNotify,
  getJobProgressTemplateNotify,
  createJobProgressTemplateRecurrence,
} from "@/api/jobProgressTemplate";
import versions from "@/components/Versions/versions";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getCodeMasterByType } from "@/api/applicationUser";
import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import Util from "@/util";
import { getEmployeesByDropdown } from "@/api/employee";
import {
  getApplicationMasterChild,
  getApplicationMasterChildtWithChild,
} from "@/api/ApplicationMasterChild";
import { getNavItemsList } from "@/api/nav";
import JobProgressTemplateLine from "@/pages/JobProgressTemplate/jobProgressTemplateLine";
import ProcessMonitoringSequence from "@/pages/JobProgressTemplate/ProcessMonitoringSequence";
import attachment from "@/components/Attachment/JobAttachments";
import { getUserGroups } from "@/api/userGroup";
import { getDocumentProfiles } from "@/api/documentProfile";
import JobRecurrence from "@/pages/JobProgressTemplate/Recurrence.vue";
import { getPlants } from "@/api/nav";
export default {
  components: { JobProgressTemplateLine, attachment, versions, JobRecurrence,ProcessMonitoringSequence },
  data: () => ({
    recurrenceDialog: false,
    totalRows: 0,
    loading: false,
    isTemplate: false,
    empsearch: "",
    sessionId: null,
    screenId: "JOB0001",
    attachdialog: false,
    uploadbtn: true,
    selectedTab: 0,
    dialog: false,
    loader: false,
    gridloader: false,
    search: "",
    totalRows: 0,
    registerationStatusItem: [],
    statusOptions: [],
    timeout: 2000,
    tempVersionId: -1,
    versiondialog: false,
    referencedialog: false,
    versionListdialog: false,
    enableVersionButton: true,
    referenceRuels: [(v) => !!v || "Reference is required"],
    y: "top",
    searchItemNo: "",
    items: [
      {
        icon: "history",
        href: "#",
        title: "Create Version",
        click: (e) => {},
      },
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
    ],
    filterFields: [
      "Profile.Name",
      "Template.Value",
      "JobCategory.Value",
      "JobType.Value",
      "StatusCode.CodeValue",
    ],
    headers: [
      {
        text: "Profile Code",
        value: "profileCode",
        align: "left",
      },
      {
        text: "Template Name",
        value: "templateName",
        align: "left",
      },
      {
        text: "Job Category",
        value: "jobCategory",
        align: "left",
      },
      {
        text: "Job Type",
        value: "jobType",
        align: "left",
      },
      { text: "Status", value: "statusCode", align: "left" },

      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
       "Profile Code": "profileCode",
      "Template Name": "templateName",
      "Job Category": "jobCategory",
      "Job Type": "jobType",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    isNavItemsFlag: false,
    emprowsPerPageItems: [10, 20, 30, 40, 50, 100],
    emppagination: {
      rowsPerPage: 10,
    },
    empheaders: [
      { text: "Company", value: "plantCompanyName", align: "left" },
      { text: "User Group", value: "userGroupName", align: "left" },
      { text: "Employee", value: "employeeName", align: "left" },
      { text: "Department", value: "departmentName", align: "left" },
      { text: "Designation", value: "designationName", align: "left" },
      { text: "Designation Number", value: "headCount", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    searchVariationTypeTag: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    templateItems: [],
    jobCategoryItems: [],
    jobTypeItems: [],
    softwareItems: [],
    navItems: [],
    moduleItems: [],
    referenceInfo: "",
    userGroupItems: [],
    employeeItems: [],
    employeeSelectedItems: [],
    editedItem: {
      valid: false,
      jobProgressTemplateId: -1,
      templateId: null,
      jobCategoryId: null,
      jobTypeId: null,
      objective: "",
      pic: null,
      notificationId: null,
      softwareId: null,
      moduleId: null,
      itemId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 2641,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      referenceInfo: "",
      profileId: null,
      profileNo: "",
      userType: "user-group",
      userGroupIDs: [],
      employeeIDs: [],
      itemIds: [],
      screenID: "",
      profileCode: "",
      templateName: "",
      isUpdatePersonalCalandarFlag: "No",
      countryId: null,
    },
    defaultItem: {
      valid: false,
      jobProgressTemplateId: -1,
      templateId: null,
      jobCategoryId: null,
      jobTypeId: null,
      objective: "",
      pic: null,
      notificationId: null,
      softwareId: null,
      moduleId: null,
      itemId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 2641,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      referenceInfo: "",
      profileId: null,
      profileNo: "",
      userType: "user-group",
      userGroupIDs: [],
      employeeIDs: [],
      itemIds: [],
      screenID: "",
      profileCode: "",
      templateName: "",
      isUpdatePersonalCalandarFlag: "No",
      countryId: null,
    },
    companyItems: [],
    profileItems: [],
    isRTERender: false,
    tinyConfig: Util.tinyconfig(150),
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    objectiveExpand: [],
    isnotificationExpand: false,
    isnotificationCollapse: true,
    notificationExpand: [],
    picItems: [],
    searchItem: { action: "", Id: null, searchString: "searchString" },
    searchuser: "",
    searchgroup: "",
    jobProgressTemplateNotifyItems: {
      employeeIDs: [],
      userGroupIDs: [],
      jobProgressTemplateId: null,
      jobProgressTemplateNotifyIds: [],
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Template for monitor job progress"
        : "Edit Template for monitor job progress";
    },
    templateRules() {
      return [(v) => !!v || "Template Name is required"];
    },
    ProfileRules() {
      return [(v) => !!v || "Profile  Code is required"];
    },
    picRules() {
      return [(v) => !!v || "PIC is required"];
    },
    companyRules() {
      return [(v) => !!v || "Company is required"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    // this.initialize();
  },

  methods: {
    initialize() {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    loadDropdownList() {
      this.loader = true;
      getDocumentProfiles("")
        .then((response) => {
          this.profileItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(291)
        .then((response) => {
          this.templateItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(290)
        .then((response) => {
          this.moduleItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterChild(103)
        .then((response1) => {
          this.jobCategoryItems = response1.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Job Monitor Status")
        .then((response) => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Assignment Related")
        .then((response) => {
          this.softwareItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants()
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getEmployeesByDropdown("")
        .then((response) => {
          this.picItems = response.data;
          this.employeeItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getNavItemsList()
        .then((response) => {
          this.navItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onChangeModule(value) {
      this.isNavItemsFlag = false;
      console.log(this.moduleItems);
      let list = this.moduleItems.filter(
        (o) => o.applicationMasterDetailId == value
      );
      if (list.length > 0) {
        let moduleName = list[0]["value"].split("/").filter((item) => item);
        let count = moduleName.length;
        if (count > 0) {
          let name = moduleName[count - 1].toLowerCase();
          if (
            name == "navitems" ||
            name == "navitem" ||
            name == "nav items" ||
            name == "nav item"
          ) {
            this.isNavItemsFlag = true;
          }
        }
      }
    },
    getEmployeegrid() {
      if (this.editedItem.jobProgressTemplateId > 0) {
        getJobProgressTemplateNotify(this.editedItem.jobProgressTemplateId)
          .then((response) => {
            if (response.data != undefined) {
              this.employeeSelectedItems = response.data;
              this.loader = false;
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    selectedDelete() {
      this.selectedItems = [];
      this.selectedItems = this.employeeSelectedItems.filter(
        (d) => d.isSelected == true
      );
      this.jobProgressTemplateNotifyItems.jobProgressTemplateNotifyIds = [];
      this.selectedItems.forEach((f) => {
        this.jobProgressTemplateNotifyItems.jobProgressTemplateNotifyIds.push(
          f.jobProgressTemplateNotifyId
        );
      });
      if (
        this.jobProgressTemplateNotifyItems.jobProgressTemplateNotifyIds
          .length > 0
      ) {
        deleteJobProgressTemplateNotify(this.jobProgressTemplateNotifyItems)
          .then((response) => {
            if (response.data != undefined) {
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.getEmployeegrid();
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    deleteEmpItem(item) {
      this.$refs.deleteEmployeeConfirmationDialog.openDialog();
      this.jobProgressTemplateNotifyItems = item;
    },
    deleteSelectEmpItem() {
      this.$refs.deleteEmployeeConfirmationDialog.close();
      this.jobProgressTemplateNotifyItems.jobProgressTemplateNotifyIds.push(
        this.jobProgressTemplateNotifyItems.jobProgressTemplateNotifyId
      );
      deleteJobProgressTemplateNotify(this.jobProgressTemplateNotifyItems)
        .then((response) => {
          if (response.data != undefined) {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            this.getEmployeegrid();
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeItemNo(item) {
      const index = this.editedItem.itemIds.indexOf(item.itemId);
      if (index >= 0) this.editedItem.itemIds.splice(index, 1);
    },
    selectItemNo() {
      this.searchItemNo = "";
    },
    onUserRadioGroupChanged(value) {
      if (value == "user") {
        this.editedItem.userGroupIDs = [];
      } else if (value == "user-group") {
        this.editedItem.employeeIDs = [];
      }
    },
    onUserChange() {
      this.searchuser = "";
    },
    onUserGroupChange() {
      this.searchgroup = "";
    },
    removeUserGroup(item) {
      const index = this.editedItem.userGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.editedItem.userGroupIDs.splice(index, 1);
    },
    removeEmpIds(item) {
      const index = this.editedItem.employeeIDs.indexOf(item.employeeID);
      if (index >= 0) this.editedItem.employeeIDs.splice(index, 1);
    },
    onChangeJobCategory(value) {
      if (value != null) {
        getApplicationMasterChildtWithChild(value)
          .then((response1) => {
            this.jobTypeItems = response1.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    menuClick(key, item) {
      if (key == 0) {
        this.referencedialog = true;
        this.editedItem = item;
        this.editedItem.referenceInfo = "";
        this.referenceInfo = "";
      } else if (key == 1) {
        this.editedItem = Object.assign({}, item);
        this.editItem(item);
        this.createtempVersion();
      } else if (key == 2) {
        this.onDeleteItem(item);
      }
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    editItem(item) {
      this.selectedTab = 0;
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.uploadbtn = false;
      this.sessionId = item.sessionId;
      this.enableVersionButton = false;
      setTimeout(() => {
        this.onChangeJobCategory(item.jobCategoryId);
        this.onChangeModule(item.moduleId);
        this.isRTERender = true;
      }, 500);
      this.objectiveExpandClick();
      this.notificationExpandClick();
      this.loadLines(false);

      this.getEmployeegrid();
    },
    OpenrecurrenceDialog() {
      this.recurrenceDialog = true;
      this.$refs.refApplicationwikiRecurrence.jobProgressTemplateId =
        this.editedItem.jobProgressTemplateId;
      this.$refs.refApplicationwikiRecurrence.initialize();
    },
    recurrenceclose() {
      this.recurrenceDialog = false;
    },
    saveApplicationwikiRecurrence(data) {
      let applicationwikiRecurrence =
        this.$refs.refApplicationwikiRecurrence.editedItem;
      applicationwikiRecurrence.jobProgressTemplateId =
        data.jobProgressTemplateId;
      applicationwikiRecurrence.modifiedByUserID =
        this.$store.state.auth.userId;
      applicationwikiRecurrence.modifiedDate = new Date();
      applicationwikiRecurrence.addedByUserID = this.$store.state.auth.userId;
      applicationwikiRecurrence.addedDate = new Date();
      applicationwikiRecurrence.statusCodeID = this.editedItem.statusCodeID;
      createJobProgressTemplateRecurrence(applicationwikiRecurrence)
        .then((response) => {
          //  //window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
        })
        .catch((error) => {
          //window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "jobProgressTemplateId";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetJobProgressTemplate";
      search.pageCount = 1;
      this.pagination.page = 1;
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "profileCode") {
        search.sortCol = "profileCode";
      } else if (args.sortBy == "templateName") {
        search.sortCol = "templateName";
      } else if (args.sortBy == "jobCategory") {
        search.sortCol = "JobCategory.Value";
      } else if (args.sortBy == "jobType") {
        search.sortCol = "JobType.Value";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetJobProgressTemplate";
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.jobProgressTemplateId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);

        deleteJobProgressTemplate(this.editedItem)
          .then((response) => {
            this.loader = false;
            this.selectedItem = null;
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.loadPagingData();
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    objectiveExpandClick() {
      this.isobjectiveExpand = false;
      this.isobjectiveCollapse = true;
      this.objectiveExpand.push(true);
    },
    objectiveCollapse() {
      this.isobjectiveExpand = true;
      this.isobjectiveCollapse = false;
      this.objectiveExpand = [];
    },
    notificationExpandClick() {
      this.isnotificationExpand = false;
      this.isnotificationCollapse = true;
      this.notificationExpand.push(true);
    },
    notificationCollapse() {
      this.isnotificationExpand = true;
      this.isnotificationCollapse = false;
      this.notificationExpand = [];
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getSearchData(this.searchItem)
        .then((response) => {
          if (response.data.jobProgressTemplateId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.jobProgressTemplateId)
              .indexOf(response.data.jobProgressTemplateId);
            this.editedIndex = index;
            this.loadLines(false);
            this.uploadbtn = false;
            this.sessionId = response.data.sessionId;
            this.enableVersionButton = false;
            this.selectedTab = 0;
            this.getEmployeegrid();
            this.onChangeModule(response.data.moduleId);
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.jobProgressTemplateId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.selectedTab = 0;
      this.loadDropdownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.enableVersionButton = true;
      this.uploadbtn = true;
      this.sessionId = null;
      this.employeeSelectedItems = [];
      this.isNavItemsFlag = false;
      setTimeout(() => {
        this.isRTERender = true;
      }, 300);
      this.objectiveExpandClick();
      this.notificationExpandClick();
      this.loadLines(true);
    },
    loadLines(status) {
      this.$refs.refJobProgressTemplateLine.jobProgressTemplateId =
        this.editedItem.jobProgressTemplateId;
      this.$refs.refJobProgressTemplateLine.enableAddButton = status;
      this.$refs.refJobProgressTemplateLine.initialize();
      this.$refs.refProcessMonitoringSequence.jobProgressTemplateId= this.editedItem.jobProgressTemplateId;
      this.$refs.refProcessMonitoringSequence.initialize();
    },
    close() {
      this.dialog = false;
      this.isTemplate = false;
      this.initialize();
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
      this.deleteTempVersion();
    },
    onAttachment(item) {
      this.sessionId = item.sessionId;
      this.fileAttachment();
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    versionListShow() {
      this.versionListdialog = true;

      this.$refs.refVersions.sessionID = this.editedItem.sessionId;
      this.$refs.refVersions.versionData = [];
      setTimeout(() => {
        this.$refs.refVersions.getversions();
      }, 500);
    },
    versionListclose() {
      this.versionListdialog = false;
    },
    referencesave() {
      this.referencedialog = false;
      this.loader = true;
      this.editedItem.referenceInfo = this.referenceInfo;
      if (this.$refs.form.validate()) {
        this.editedItem.screenID = this.screenId;
        createVersion(this.editedItem)
          .then((response) => {
            if (response != undefined) {
              this.editItem(this.editedItem);
              this.loader = false;
              this.referenceInfo = "";
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.VERSION);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    referenceclose() {
      this.referencedialog = false;
      this.referenceInfo = "";
    },
    referencecancel() {
      this.referenceInfo = "";
    },
    versioneditItem(item) {
      console.log(item);
      this.$refs.refversionApplyDialog.openDialog();
      this.selectedItem = item;
    },
    OnApplyConfirm() {
      this.loader = true;
      this.$refs.refVersions.versionloaders = true;
      applyVersion(this.selectedItem.versionData)
        .then((response) => {
          if (response != undefined) {
            this.loader = false;
            this.$refs.refVersions.versionloaders = false;
            this.editedItem = Object.assign({}, response.data);
            this.versionListdialog = false;
            this.selectedItem = null;
            this.$refs.refversionApplyDialog.close();
            this.loadLines(false);
            this.editedItem.employeeIDs = [];
            this.editedItem.userGroupIDs = [];
            this.getEmployeegrid();
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    createtempVersion() {
      this.editedItem.screenID = this.screenId;
      tempVersion(this.editedItem)
        .then((response) => {
          if (response != undefined) {
            this.tempVersionId = response.data;
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    deleteTempVersion() {
      deleteVersion(this.tempVersionId)
        .then((response) => {
          if (response != undefined) {
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    undoTempVersion() {
      this.loader = true;
      undoVersion(this.tempVersionId)
        .then((response) => {
          if (response != undefined) {
            this.editedItem = Object.assign({}, response.data);
            this.loader = false;
            this.loadLines(false);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onTemplateSelect(value) {
      this.loader = true;
      console.log("Edited item", this.editedItem);
      isTemplateExist(this.editedItem.templateId)
        .then((response) => {
          this.isTemplate = response.data;
          this.loader = false;
          if (this.isTemplate) {
            window.getApp.$emit(
              "APP_API_ERROR",
              "Template Already Assigned!!!"
            );
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.form.validate() && !this.isTemplate) {
        this.loader = true;
        let index = this.editedIndex;
        this.editedItem.screenID = this.screenId;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateJobProgressTemplate(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.editedItem = response.data;
              this.loader = false;
              this.loadLines(false);
              this.enableVersionButton = false;
              this.saveVersionData = false;
              this.editedItem.employeeIDs = [];
              this.editedItem.userGroupIDs = [];
              this.getEmployeegrid();
              this.saveApplicationwikiRecurrence(response.data);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserId = this.$store.state.auth.userId;

          createJobProgressTemplate(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.jobProgressTemplateId =
                response.data.jobProgressTemplateId;
                this.editedItem.profileCode=response.data.profileCode;
              this.editedItem.profileNo = response.data.profileNo;
              let index = this.gridItems
                .map((item) => item.jobProgressTemplateId)
                .indexOf(response.data.jobProgressTemplateId);
              this.editedIndex = index;
              this.uploadbtn = false;
              this.sessionId = response.data.sessionId;
              this.loadLines(false);
              this.enableVersionButton = false;
              this.saveVersionData = false;
              this.editedItem.employeeIDs = [];
              this.editedItem.userGroupIDs = [];
              this.getEmployeegrid();
              this.saveApplicationwikiRecurrence(response.data);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      } else {
        if (this.isTemplate) {
          window.getApp.$emit("APP_API_ERROR", "Template Already Assigned!!!");
          return;
        }
        if (
          this.editedItem.templateId != null &&
          this.editedItem.profileId != null
        ) {
          if (this.editedItem.pic == null) {
            this.selectedTab = 1;
          }

          window.getApp.$emit("APP_API_ERROR", GlobalMessage.VALIDATE);
        }
      }
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>