<template>
    <div>
        <v-layout row wrap>
            <v-flex xs12 sm12 style="padding:5px;">
                <v-toolbar card dense color="whitesmoke">
                    <v-layout row wrapr>
                        <v-flex xs12 sm2 class="headerText">
                            <span class="fontbold">Subject</span>
                        </v-flex>
                        <v-flex xs12 sm2 class="headerText">
                            <span>{{items.subject?items.subject:""}}</span>
                        </v-flex>
                    </v-layout>
                </v-toolbar>
            </v-flex>
            <v-flex xs12 sm12 style="padding:5px;">
                <v-layout row wrap>
                    <!--   <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Subject</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.subject?items.subject:""}}</span>
                    </v-flex> -->
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Crt Status </span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.crtStatusName?items.crtStatusName:""}}</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Committed By</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.statusUpdateDate?(items.statusUpdateDate):""}}</span>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Work Order Type </span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.workOrderType?items.workOrderType:""}}</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Assignment</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.assignmentName?items.assignmentName:""}}</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Module Name</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.moduleName?items.moduleName:""}}</span>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Priority</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.priorityName?items.priorityName:""}}</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Requirement </span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.requirementName?items.requirementName:""}}</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Sunward Status</span>
                    </v-flex>
                    <v-flex xs12 sm2 class="headerText">
                        <span>{{items.sunwardStatusName?items.sunwardStatusName:""}}</span>
                    </v-flex>
                </v-layout>
                <v-layout row wrap>
                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Link to Task</span>
                    </v-flex>
                    <v-flex xs12 sm4 class="headerText">
                        <v-layout row wrap>
                            <v-flex xs11 sm11>
                                <span>{{items.taskLink?items.taskLink:""}}</span>
                            </v-flex>
                            <v-flex xs1 sm1>
                                <v-btn @click="clicklinkComment(items.taskLink)" icon>
                                    <v-icon>visibility</v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                    <v-flex xs12 sm2 class="headerText">
                        <span class="fontbold">Result Link</span>
                    </v-flex>
                    <v-flex xs12 sm4 class="headerText">
                        <v-layout row wrap>
                            <v-flex xs11 sm11>
                                <span>{{items.resultLink?items.resultLink:""}}</span>
                            </v-flex>
                            <v-flex xs1 sm1>
                                <v-btn @click="clicklinkComment(items.resultLink)" icon>
                                    <v-icon>visibility</v-icon>
                                </v-btn>
                            </v-flex>
                        </v-layout>
                    </v-flex>

                </v-layout>

            </v-flex>
            <v-flex xs12 sm12 style="padding: 5px;">
                <span style="padding: 5px;" v-html="items.description"></span>
            </v-flex>
        </v-layout>
    </div>
</template>
<script>
    import GlobalMessage from "@/constant";
    import Util from "@/util";
    import moment from "moment";
    import { getUnReadWorkOrderLineDetails } from "@/api/workOrderComment";

    export default {
        components: {

        },
        data: () => ({
            items: {
                workOrderType: "",
                assignmentName: "",
                moduleName: "",
                priorityName: "",
                taskLink: "",
                resultLink: "",
                requirementName: "",
                sunwardStatusName: "",
                statusUpdateDate: null,
                crtStatusName: "",
                subject: "",
                description: "",
            },
        }),
        methods: {
            initialize (data) {
                this.items = data;
                if (data.statusUpdateDate != null) {
                    this.items.statusUpdateDate = moment(data.statusUpdateDate).format("DD-MMM-YYYY");
                }
                getUnReadWorkOrderLineDetails(data.workOrderLineId)
                    .then((response) => {
                        this.items.description = response.data.description;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            clicklinkComment (item) {
                var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                if (validate.test(item)) {
                    window.open(item, "_blank");
                }
            },
        }
    }
</script>
<style scoped>
    .headerText {
      border-style: solid;
      border-color: whitesmoke;
      border-width: 1px;
      padding: 5px;
    }
    .fontbold {
      font-weight: bold;
    }
</style>
