<template>
  <div>
    <v-card>
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <!-- <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <h4>Un-Read Work Order Comment</h4>
      </v-toolbar-title>
    </v-toolbar> -->
      <v-divider></v-divider>
      <v-card-text class="pa-0">
        <template>
          <v-data-table
            :headers="headers"
            :items="gridItems"
            :search="search"
            class="elevation-1"
            :loading="commentloader"
            :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination"
          >
            <template slot="items" slot-scope="props">
              <tr>
                <td class="text-xs-left">
                  <v-icon v-show="!props.item.isUnreadComment" small
                    >markunread</v-icon
                  >
                  {{ props.item.workOrderType }}
                </td>
                <!-- <td class="text-xs-left">{{ props.item.assignmentName }}</td> -->
                <td class="text-xs-left">{{ props.item.moduleName }}</td>
                <td class="text-xs-left">{{ props.item.requirementName }}</td>

                <td class="text-xs-left">{{ props.item.subject }}</td>
                <td class="text-xs-left">{{ props.item.priorityName }}</td>
                <td class="text-xs-left">{{ props.item.sunwardStatusName }}</td>
                <td class="text-xs-left">{{ props.item.crtStatusName }}</td>
                <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
                <td class="text-xs-left">
                  {{ props.item.modifiedDate | formatDate }}
                </td>
                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="viewItem(props.item)"
                    >visibility</v-icon
                  >
                </td>
              </tr>
            </template>

            <template slot="no-data">
              <v-btn color="primary" outline
                >Record not exist.Refresh again in while time.</v-btn
              >
            </template>
          </v-data-table>
        </template>
        <v-divider></v-divider>
      </v-card-text>
    </v-card>
    <v-dialog v-model="workOrderCommentdialog" fullscreen>
      <v-card flat>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Work Order Subject</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="onCloseMessage">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 sm12>
              <v-layout row wrap>
                <v-flex xs11 sm11> </v-flex>
                <v-flex xs1 sm1>
                  <v-btn-toggle
                    v-model="viewList"
                    @change="onSwitchMessageList"
                  >
                    <v-tooltip bottom>
                      <v-btn flat value="list" slot="activator">
                        <v-icon color="primary">subject</v-icon>
                      </v-btn>
                      <span>Work Order Subject</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                      <v-btn flat value="grid" slot="activator">
                        <v-icon color="primary">chat_bubble</v-icon>
                      </v-btn>
                      <span>Work Order Conversation</span>
                    </v-tooltip>
                  </v-btn-toggle>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm12>
              <div
                style="overflow: auto; height: calc(90vh - 100px)"
                v-show="showList"
              >
                <workorder-details
                  ref="refWorkorderDetails"
                ></workorder-details>
              </div>
            </v-flex>
            <v-flex xs12 sm12>
              <div
                style="overflow: auto; height: calc(90vh - 100px)"
                v-show="showGrid"
              >
                <work-order ref="refworkOrdercomments"></work-order>
              </div>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { getWorkOrderSubject } from "@/api/workOrderComment";
import WorkOrder from "@/pages/WorkOrder/workOrderComment";
import WorkorderDetails from "@/components/widgets/workorder/workorderDetails";
export default {
  components: {
    WorkOrder,
    WorkorderDetails,
  },
  data() {
    return {
      showList: true,
      showGrid: false,
      search: "",
      viewList: "list",
      timer: "",
      workOrderCommentdialog: false,
      gridItems: [],
      commentloader: false,
      headers: [
        {
          text: "Type",
          value: "workOrderType",
          align: "left",
        },
        // {
        //     text: "Assignment",
        //     value: "assignmentName",
        //     align: "left",
        // },
        { text: "Module Name", value: "moduleName", align: "left" },
        {
          text: "Requirement",
          value: "requirementName",
          align: "left",
        },

        { text: "Subject", value: "subject", align: "left", width: "200px" },
        { text: "Priority", value: "priorityName", align: "left" },
        { text: "Sunward Status", value: "sunwardStatusName", align: "left" },
        { text: "Crt Status", value: "crtStatusName", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },

        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%",
        },
      ],
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      pagination: {
        sortBy: "lastCommentedDate",
        descending: true,
      },
    };
  },

  computed: {},
  created() {
    this.getDashboard();
    // this.timer = setInterval(this.getDashboard, 60000);
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
  methods: {
    getDashboard() {
      let userId = this.$store.state.auth.userId;
      this.commentloader = true;
      getWorkOrderSubject(userId)
        .then((response) => {
          window.getApp.$emit("WORKORDER_SUBJECT", response.data.length);
          this.gridItems = response.data;
          this.commentloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.commentloader = false;
        });
    },
    viewItem(item) {
      this.workOrderCommentdialog = true;
      if (item.workOrderLineId > 0) {
        this.$refs.refworkOrdercomments.workOrderId = item.workOrderLineId;
        this.$refs.refworkOrdercomments.refreshMessage();
        this.$refs.refWorkorderDetails.initialize(item);
        // this.$refs.refworkOrdercomments.updateRead();
      }
      this.viewList = "list";
      this.showList = true;
      this.showGrid = false;
      this.workOrderCommentdialog = true;
      if (item.workOrderLineId > 0) {
        //this.$refs.refworkOrdercomments.editItem(item);
      }
    },
    onCloseMessage() {
      setTimeout(() => {
        this.getDashboard();
      }, 500);
      this.workOrderCommentdialog = false;
    },
    onSwitchMessageList(value) {
      if (value == "grid") {
        this.showGrid = true;
        this.showList = false;
      } else {
        this.showGrid = false;
        this.showList = true;
      }
    },
  },
};
</script>
