<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>

      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="NAV Information.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        :disabled="enableAddButton"
        transition="dialog-bottom-transition"
      >
        <v-btn slot="activator" :disabled="enableAddButton" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="saveloader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.productGroupingNavId < 0"
                @click.native="add"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New NAV Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.productGroupingNavId < 0"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap class="layoutbg">
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      chips
                      flat
                      label="NAV No"
                      prepend-icon="notes"
                      v-model="editedItem.itemId"
                      :items="navItems"
                      item-text="itemNoDetail"
                      item-value="itemId"
                      @change="selectNavItem"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected">{{
                          data.item.no
                        }}</v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.varianceNo"
                      label="Variance No"
                      prepend-icon="select_all"                      
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      chips
                      flat
                      label="Supply To"
                      prepend-icon="notes"
                      v-model="editedItem.genericCodeSupplyToMultipleId"
                      :items="supplyToItems"
                      item-text="description"
                      item-value="genericCodeSupplyToMultipleId"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected">{{
                          data.item.description
                        }}</v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="manufactureBy"
                      label="Manufacture By"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="description"
                      label="Description"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="manufactureFor"
                      label="Manufacture For"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="uom"
                      label="UOM"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="replenishmentMethod"
                      label="Replenishment Method"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="navStatus"
                      label="NAV Status"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Stock Depletion Status"
                      prepend-icon="notes"
                      chips
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="codeValue"
                      item-value="codeID"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-text>
              <v-card class="borderlayout">
                <v-flex xs12 sm12>
                  <span class="headline">Difference For Item Card</span>
                  <difference-item-card
                    ref="refdifferenceitemcard"
                  ></difference-item-card>
                </v-flex>
              </v-card>
            </v-card-text>
            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete This Item Permanently?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="productGroupingNavId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.navNo }}</td>
          <td class="text-xs-left">{{ props.item.varianceNo }}</td>
          <td class="text-xs-left">{{ props.item.manufactureBy }}</td>
          <td class="text-xs-left">{{ props.item.description }}</td>
          <td class="text-xs-left">{{ props.item.manufactureFor }}</td>
          <td class="text-xs-left">{{ props.item.replenishmentMethod }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">
            {{ props.item.modifiedDate | formatDate }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)"
              >edit</v-icon
            >
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { isValidFunction } from "@/api/checkPermission";
import Util from "@/util";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import DifferenceItemCard from "@/pages/productionplanning/productionplanningv1/GenericCode/differenceForItemCard.vue";
import {
  getProductGroupingNavItems,
  createProductGroupingNav,
  updateProductGroupingNav,
  deleteProductGroupingNav,
  getNAVItemForProductGrouping,
  getNAVItemsByCompanies,
} from "@/api/productGroupingNav";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getGenericCodeSupplyToMultipleById } from "@/api/genericCodes";
import GlobalMessage from "@/constant";
import moment from "moment";

export default {
  components: {
    DifferenceItemCard,
  },
  data: () => ({
    formId: "MAS9122",
    companies: [],
    saveloader: false,
    productGroupingManufactureId: null,
    genericCodeId: null,
    dialog: false,
    loader: false,
    manufactureBy: "",
    companyIds: [],
    description: "",
    manufactureFor: "",
    uom: "",
    replenishmentMethod: "",
    navStatus: "",
    enableAddButton: true,
    navItems: [],
    search: "",
    countryItems: [],
    customerItems: [],
    replenishmentMethodItems: [],
    statusOptions: [],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "NAV No", value: "navNo", align: "left" },
      { text: "Variance No", value: "varianceNo", align: "left" },
      { text: "Manufacture By", value: "manufactureBy", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Manufacture For", value: "manufactureFor", align: "left" },
      {
        text: "Replenishment Method",
        value: "replenishmentMethod",
        align: "left",
      },

      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],

    json_fields: {
      "NAV No": "navNo",
      "Variance No": "varianceNo",
      "Manufacture By": "manufactureBy",
      Description: "description",
      ManufactureFor: "manufactureFor",
      "Replenishment Method": "replenishmentMethod",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
    gridItems: [],
    editedIndex: -1,
    companyItems: [],
    supplyToItems: [],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      productGroupingNavId: -1,
      productGroupingManufactureId: null,
      itemId: null,
      varianceNo: "",
      replenishmentMethodId: null,
      genericCodeSupplyToMultipleId: null,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      valid: false,
      productGroupingNavId: -1,
      productGroupingManufactureId: null,
      varianceNo: "",
      itemId: null,
      genericCodeSupplyToMultipleId: null,
      replenishmentMethodId: null,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add NAV Information"
        : "Edit NAV Information";
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      if (this.productGroupingManufactureId > 0) {
        this.loader = true;
        let id = this.productGroupingManufactureId;
        getProductGroupingNavItems(id)
          .then((response) => {
            this.gridItems = response.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }

      this.loadDropDown();

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    loadDropDown() {
      this.loader=true;
      getCodeMasterByType("DepleteStatus")
        .then((response) => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      if (this.genericCodeId > 0) {
        this.loader = true;
        getGenericCodeSupplyToMultipleById(this.genericCodeId)
          .then((response) => {
            this.loader = false;

            this.supplyToItems = response.data;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
       if (this.companyIds.length > 0) {
        this.loader = true;
        getNAVItemsByCompanies(this.companyIds)
          .then((response) => {
            this.loader = false;
            this.navItems = response.data;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.$refs.refdifferenceitemcard.productGroupingNavId =
        item.productGroupingNavId;
      this.$refs.refdifferenceitemcard.enableAddButton = false;
      this.$refs.refdifferenceitemcard.loadDropDown();
      this.selectNavItem();
      console.log("Item" + JSON.stringify(item));
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      let id = this.selectedItem.productGroupingNavId;
      deleteProductGroupingNav(this.selectedItem)
        .then((response) => {
          this.loader = false;
          if (response != undefined) {
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          // window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    selectCompany() {},

    saveAndClose() {
      this.save();
      setTimeout(() => {
        this.close();
      }, 600);
    },

    add() {
      this.$refs.refdifferenceitemcard.enableAddButton = true;
      this.$refs.refdifferenceitemcard.gridItems = [];
      this.editedItem.valid = false;
      this.editedItem.itemId = null;
      this.editedItem.productGroupingNavId = -1;
      this.editedItem.replenishmentMethodId = null;
      this.description = "";
      this.manufactureFor = "";
      this.manufactureBy = "";
      this.editedItem.genericCodeSupplyToMultipleId = null;
      this.uom = "";
      this.replenishmentMethod = "";
      this.navStatus = "";
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
      console.log('CompanyIds',this.companyIds);
      console.log('Generic code',this.genericCodeId);
      this.loadDropDown();
    },
    selectNavItem() {
      if (this.editedItem.itemId > 0) {
        let selectNav = this.navItems.filter(
          (n) => n.itemId == this.editedItem.itemId
        );
        if (selectNav.length > 0) {
          this.description = selectNav[0].description;
          this.manufactureFor = selectNav[0].internalRef;
          this.manufactureBy = selectNav[0].itemCategoryCode;
          this.uom = selectNav[0].baseUnitofMeasure;
          this.replenishmentMethod = selectNav[0].replenishmentMethod;
          this.navStatus = selectNav[0].statusCode;
        }
      }
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      let id = this.editedItem.productGroupingNavId;
      deleteProductGroupingNav(this.editedItem)
        .then((response) => {
          if (response != undefined) {
            this.add();
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          //this.loader = false;
          //window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.description = "";
      this.manufactureFor = "";
      this.manufactureBy = "";
      this.uom = "";
      this.navStatus = "";
      this.$refs.refdifferenceitemcard.gridItems = [];
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.$refs.refdifferenceitemcard.gridItems = [];
      }, 600);
    },
    save() {
      if (this.productGroupingManufactureId > 0) {
        this.editedItem.productGroupingManufactureId = this.productGroupingManufactureId;
      }
      if (this.editedIndex > -1) {
        this.saveloader = true;
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        updateProductGroupingNav(this.editedItem)
          .then((response2) => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          })
          .catch((error) => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.saveloader = true;
        createProductGroupingNav(this.editedItem)
          .then((response2) => {
            this.gridItems.push(response2.data);
            this.loader = false;
            this.saveloader = false;
            let index = this.gridItems
              .map((item) => item.productGroupingNavId)
              .indexOf(response2.data.productGroupingNavId);
            this.editedIndex = index;
            this.editedItem.productGroupingNavId =
              response2.data.productGroupingNavId;
            this.$refs.refdifferenceitemcard.productGroupingNavId =
              response2.data.productGroupingNavId;
            this.$refs.refdifferenceitemcard.enableAddButton = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch((error) => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
<style scoped>
.layoutbg {
  border-style: solid;
  border-radius: 8px !important;
  border-color: rgb(216, 222, 247);
  border-width: 1px;
  padding: 8px;
}
.borderlayout {
  border-radius: 9px !important;
  border-color: gray;
  border-width: 2px;
  padding: 6px;
}
</style>