<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="shortcut icon" href="/static/SW-Logo.png" type="image/x-icon" />
    <title>Survey</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <meta name="description" content="Sunward Survey Management System." />
    <meta name="keywords" content="Sunward Survey System." />
    <style>
      html {
        box-sizing: border-box;
        overflow-y: hidden !important;

        -webkit-text-size-adjust: 100%;
      }

      p {
        word-break: break-all;
        white-space: normal;
        margin-bottom: 1px !important;
      }

      /* width */
      ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
        /* border: 1px solid #d5d5d5; */
        color: inherit;
        /* display: none; */
      }

      :hover::-webkit-scrollbar {
        display: block;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 15px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      .rounded-card {
        border-radius: 20px !important;
        background-color: lightsteelblue !important;
        text-align: center;
        overflow-y: auto;
        max-height: 70%;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
