<template>
    <div>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Icbmp.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-btn class="pull-right" slot="activator" icon @click="add">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveAndClose">
                                <v-icon color="white">library_add</v-icon>
                            </v-btn>
                            <span>Save and Close</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="save">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="add">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <span>Create New Record IC BMP</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="deleterow">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Delete</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="first">
                                <v-icon color="white">first_page</v-icon>
                            </v-btn>
                            <span>First</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="previous">
                                <v-icon color="white">keyboard_arrow_left</v-icon>
                            </v-btn>
                            <span>Previous</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="next">
                                <v-icon color="white">keyboard_arrow_right</v-icon>
                            </v-btn>
                            <span>Next</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="last">
                                <v-icon color="white">last_page</v-icon>
                            </v-btn>
                            <span>Last</span>
                        </v-tooltip>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator">
                                <v-icon color="white" @click.native="close">close</v-icon>
                            </v-btn>
                            <span>Close</span>
                        </v-tooltip>
                        <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
                    </v-toolbar>
                   
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                         <div class="task-sub--scroll">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                                <v-layout row wrap>
                                    <v-flex lg12 sm12>
                                        <v-container grid-list-md>
                                            <v-layout wrap>
                                                <v-flex xs12 sm4>
                                                    <v-text-field v-model="editedItem.bmpNo" prepend-icon="select_all" label="BMP No"></v-text-field>
                                                </v-flex>
                                                <v-flex xs12 sm4>
                                                    <v-autocomplete :loading="loader" chips flat placeholder="Manufacturing Site" prepend-icon="assistant" :items='manufacturingSiteItems' v-model="editedItem.manufacturingSiteIds" label="Manufacturing Site" color="blue" multiple item-text="value" item-value="applicationMasterDetailId">
                                                    </v-autocomplete>

                                                </v-flex>
                                                <v-flex xs12 sm4>
                                                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips></v-autocomplete>
                                                </v-flex>
                                                <v-flex xs12 sm4>
                                                    <v-text-field v-model="editedItem.wiLink" label="WI Link" prepend-icon="description"></v-text-field>
                                                </v-flex>
                                            </v-layout>
                                        </v-container>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                        </v-card-text>
                        <bmp-line ref="refBmpLine"></bmp-line>
                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
                        <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-tooltip bottom>
                <v-btn icon slot="activator" @click="initialize()">
                    <v-icon icon>refresh</v-icon>
                </v-btn>
                <span>Refresh</span>
            </v-tooltip>
        </v-toolbar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="icBmpId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <tr v-on:dblclick="editItem(props.item)">
                    <td class="text-xs-left">{{ props.item.bmpNo }}</td>
                    <td class="text-xs-left">{{ props.item.wiLink }}</td>
                    <td class="text-xs-left">{{ props.item.statusCode }}</td>
                    <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
                    <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                        <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
                    </td>
                </tr>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
    </div>
</template>
<script>
    import GlobalMessage from "@/constant";
    import moment from "moment";

    import { getFinishProductGeneralInfos } from "@/api/productGeneralinfo";
    import { getCodeMasterByType } from "@/api/applicationUser";
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import BmpLine from "@/pages/itemclassificationForm/BmpLine.vue";
    import {
        getIcbmp,
        createIcbmp,
        updateIcbmp,
        deleteIcbmp
    } from "@/api/Bmp";
    export default {
        components: {
            BmpLine
        },
        data: () => ({
            dialog: false,
            search: "",
            loader: false,
            editedIndex: -1,
            gridItems: [],
            statusOptions: [
                { text: 'Active', value: 1 },
                { text: 'InActive', value: 2 }
            ],
            manufacturingSiteItems: [],
            editedItem: {
                valid: false,
                icBmpId: -1,
                bmpNo: "",
                manufacturingSiteIds: [],
                statusCodeID: 1,
                wiLink: '',
            },
            defaultItem: {
                valid: false,
                icBmpId: -1,
                bmpNo: "",
                submissionDate: "",
                manufacturingSiteIds: [],
                statusCodeID: 1,
                wiLink: '',
            },
            headers: [
                {
                    text: "Bmp No",
                    value: "bmpNo",
                    align: "left"
                },
                { text: "WI Link", value: "wiLink", align: "left" },
                { text: "Status", value: "statusCode", align: "left" },
                { text: "Modified By", value: "modifiedByUser", align: "left" },
                { text: "Modified Date", value: "modifiedDate", align: "left" },
                {
                    text: "Actions",
                    value: "name",
                    sortable: false,
                    align: "left",
                    width: "1%"
                }
            ],
            json_fields: {
                "BMP No Site": "bmpNo",
                "WI Link": "wiLink",
                'Status': 'statusCode',
                'Modified By': 'modifiedByUser',
                'Modified Date': 'modifiedDate',
            },
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10
            },
            searchItem: { action: "", Id: null, searchString: "searchString" }
        }),
        created () {
            this.initialize();
        },
        watch: {
            dialog (val) {
                val || this.close();
            }
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1
                    ? "Add IC BMP"
                    : "Edit IC BMP";
            }
        },
        methods: {
            initialize () {
                this.loader = true;
                getIcbmp()
                    .then(response => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });

            },
            viewLink (item) {
                var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                if (validate.test(item.wiLink)) {
                    window.open(item.wiLink, "_blank");
                }
            },
            loadDropdownList () {
                getApplicationMasterDetailByType(115)
                    .then(response => {
                        this.manufacturingSiteItems = response.data;
                    })
                    .catch(error => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            getProductLinesTab () {
                setTimeout(() => {
                    this.$refs.refBmpLine.icBmpId = this.editedItem.icBmpId;
                    this.$refs.refBmpLine.enableAddButton = false;
                    this.$refs.refBmpLine.initialize();
                }, 500);
            },
            save () {
                if (this.$refs.form.validate()) {
                    this.loader = true;
                    let index = this.editedIndex;
                    if (this.editedIndex > -1) {
                        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
                        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();

                        updateIcbmp(this.editedItem)
                            .then(response => {
                                Object.assign(this.gridItems[index], response.data);
                                this.loader = false;
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                                this.initialize();
                                this.getProductLinesTab();
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    } else {
                        this.editedItem.addedByUserID = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();
                        createIcbmp(this.editedItem)
                            .then(response => {
                                this.gridItems.push(response.data);
                                this.loader = false;
                                this.editedItem.icBmpId =
                                    response.data.icBmpId;
                                let index = this.gridItems
                                    .map(item => item.icBmpId)
                                    .indexOf(response.data.icBmpId);
                                this.editedIndex = index;
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                                this.initialize();
                                this.getProductLinesTab();
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                }
            },
            add () {
                this.loadDropdownList();
                this.editedIndex = -1;
                this.editItem.wiLink = '';
                this.editedItem.icBmpId = -1;
                this.editedItem.valid = false;
                this.editedItem.bmpNo = "";
                this.editedItem.statusCodeID = 1;
                this.$refs.refBmpLine.icBmpId = -1;
                this.$refs.refBmpLine.enableAddButton = true;
                this.$refs.refBmpLine.registerCountryId = -1;
                this.$refs.refBmpLine.IcbmpItems = [];
            },
            clicklinkDocument () {
                var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                if (validate.test(this.editedItem.wiLink)) {
                    window.open(this.editedItem.wiLink, "_blank");
                } else {
                    window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
                }
            },
            saveAndClose () {
                this.save();
                this.close();
            },

            editItem (item) {
                this.loadDropdownList();
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.editedItem.valid = false;
                this.getProductLinesTab();
                this.dialog = true;
            },
            close () {
                this.dialog = false;
                this.initialize();
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.icBmpId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);
                    deleteIcbmp(this.editedItem)
                        .then(() => {
                            this.loader = false;
                            this.gridItems.splice(index, 1);
                            this.add();
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            first () {
                this.searchItem.action = "First";
                this.searchItem.Id = this.editedItem.icBmpId;
                this.toolfunction();
            },
            next () {
                this.searchItem.action = "Next";
                this.searchItem.Id = this.editedItem.icBmpId;
                this.toolfunction();
            },
            previous () {
                this.searchItem.action = "Previous";
                this.searchItem.Id = this.editedItem.icBmpId;
                this.toolfunction();
            },
            last () {
                this.searchItem.action = "Last";
                this.searchItem.Id = this.editedItem.icBmpId;
                this.toolfunction();
            },
            toolfunction () {
                getDataIcbmp(this.searchItem)
                    .then(response => {
                        if (response.data.icBmpId != null) {
                            this.editedItem = response.data;
                            let index = this.gridItems
                                .map(item => item.icBmpId)
                                .indexOf(response.data.icBmpId);
                            this.editedIndex = index;
                            this.getProductLinesTab();
                        } else {
                            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
                        }
                    })
                    .catch(error => {
                        // this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            }
        }
    };
</script>
<style lang="stylus" scoped>
    .task-sub--scroll {
        overflow: auto;
        height: calc(100vh - 110px - 60px);
    }
</style>
