<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon @click="initialize">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-btn outline color="primary" @click="generateQrCode()">
        Generate QR Code
      </v-btn>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="BmrdisposalMasterBox" type="csv" name="BmrdisposalMasterBox.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add()">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.bmrdisposalMasterBoxId < 0" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.bmrdisposalMasterBoxId < 0" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.bmrdisposalMasterBoxId < 0" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.bmrdisposalMasterBoxId < 0" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.bmrdisposalMasterBoxId < 0" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <app-section-loader :status="loader"></app-section-loader>
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="BmrdisposalMasterBoxform" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete label="Company" prepend-icon="invert_colors" v-model="editedItem.companyId" :items="companyItems" item-text="description" item-value="plantID" @change="getLocationList"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete label="Type of Disposal box" prepend-icon="invert_colors" v-model="editedItem.typeOfDisposalBoxId" :items="typeOfDisposalBoxItems" item-text="value" item-value="applicationMasterDetailId" :rules="[v => !!v || 'Type of Disposal Box is required']" @change="onChangetypeOfDisposalBox"></v-autocomplete>
                  </v-flex>
                  <profile-no-generate ref="refprofileNoGenerate" v-if="isFlagProfileNoGenerate"></profile-no-generate>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.boxNo" label="Box No" prepend-icon="invert_colors" readonly></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-menu v-model="disposalDateMenu" :close-on-content-click="false" full-width min-width="290">
                      <v-text-field slot="activator" :value="disposalDateFormated" label="Disposal MMM/YYYY" prepend-icon="today" clearable readonly @click:clear="clearabledisposalDate"></v-text-field>
                      <v-date-picker v-model="editedItem.disposalDate" @change="disposalDateMenu = false" type="month"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.estimateNumberOfBmr" label="Estimate Number of BMR" prepend-icon="description" mask="###############"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete label="Location" prepend-icon="local_post_office" v-model="editedItem.locationId" :items="locationItems" item-text="locationDropDown" item-value="ictMasterID" @change="getLocationArea"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="area" label="Area" prepend-icon="invert_colors" readonly></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="specificArea" label="Specific Area" prepend-icon="invert_colors" readonly></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID"></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="qrdialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="qrclose">
                <v-icon color='white'>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="printPage">
                <v-icon color='white'>print</v-icon>
              </v-btn>
              <span>Print</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="qrclose">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-container fluid grid-list-md>
                <v-layout row wrap>

                  <v-flex v-for="items in selected" :key="items.bmrdisposalMasterBoxId" xs12 sm5>
                    <v-card max-height="400">
                      <v-card-text class="text--primary">
                        <table cellspacing="15">
                          <tr>
                            <td>
                              <b>Box No</b>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size:25px;">
                              <b>{{items.boxNo}}</b>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <b>Disposal Month & Year</b>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size:25px;">
                              <b>{{items.disposalDate|monthYear}}</b>
                            </td>
                            <td>
                              <vue-qr :text="items.boxNo" :correctLevel="3" :size="150"></vue-qr>
                            </td>
                          </tr>
                        </table>

                      </v-card-text>
                    </v-card>

                  </v-flex>
                  <div id="printMe" style="display:none;">
                    <v-flex v-for="items in selected" :key="items.bmrdisposalMasterBoxId" xs12 sm5 style="height: 76.2mm;width: 88.89mm;page-break-after: always;">
                      <v-flex xs12 sm12>
                        <table cellspacing="15">
                          <tr>
                            <td>
                              <b>Box No</b>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size:25px;">
                              <b>{{items.boxNo}}</b>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <b>Disposal Month & Year</b>
                            </td>
                          </tr>
                          <tr>
                            <td style="font-size:25px;">
                              <b>{{items.disposalDate|monthYear}}</b>
                            </td>
                            <td>
                              <vue-qr :text="items.boxNo" :correctLevel="3" :size="150"></vue-qr>
                            </td>
                          </tr>
                        </table>
                      </v-flex>
                    </v-flex>
                  </div>
                </v-layout>
              </v-container>
            </v-card-text>
          </div>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" v-model="selected" :items="gridItems" :search="search" class="elevation-1" default-sort="bmrdisposalMasterBoxId:desc" select-all item-key="bmrdisposalMasterBoxId" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr :active="props.selected" @click="props.selected = !props.selected" @dblclick="editItem(props.item)">
          <td>
            <v-checkbox :input-value="props.selected" primary hide-details></v-checkbox>
          </td>
          <td class="text-xs-left">{{ props.item.companyDatabaseName }}</td>
          <td class="text-xs-left">{{ props.item.typeOfDisposalBoxName }}</td>
          <td class="text-xs-left">{{ props.item.boxNo }}</td>
          <td class="text-xs-left">{{ props.item.locationName }}</td>

          <td class="text-xs-left">{{ props.item.area }}</td>
          <td class="text-xs-left">{{ props.item.specificAreaName }}</td>

          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <!-- <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>-->
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
            <v-icon small @click="printItem(props.item)">print</v-icon>

          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getPlants } from "@/api/plant";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import {
    getBmrdisposalMasterBox,
    getBmrdisposalMasterBoxs,
    createBmrdisposalMasterBox,
    updateBmrdisposalMasterBox,
    deleteBmrdisposalMasterBox,
    getICTMasterByLocation
  } from "@/api/BmrdisposalMasterBox";
  import VueQr from "vue-qr";
  import ProfileNoGenerate from "@/components/ProfileNoDropDown/profileNo";
  export default {
    components: {
      VueQr,
      ProfileNoGenerate
    },
    props: ["props"],
    data: () => ({
      screenID: "BMRDIS00201",
      selected: [],
      enableAddButton: true,
      isFlagProfileNoGenerate: false,
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      dialog: false,
      search: "",
      editedIndex: -1,
      gridItems: [],
      statusOptions: [],
      disposalDateMenu: false,
      companyItems: [],
      typeOfDisposalBoxItems: [],
      loader: false,
      selected: [],
      qrdialog: false,
      locationItems: [],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      specificArea: "",
      area: "",
      editedItem: {
        valid: false,
        bmrdisposalMasterBoxId: -1,
        companyId: null,
        typeOfDisposalBoxId: null,
        boxNo: null,
        disposalDate: null,
        estimateNumberOfBmr: null,
        locationId: null,
        addedByUserID: null,
        modifiedByUserID: null,
        addedDate: new Date(),
        modifiedDate: new Date(),
        statusCodeID: 1842,
        statusCode: "Active",
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        specificArea: "",
        area: "",
        profileNoModel: null,
        screenID: null,
      },
      defaultItem: {
        valid: false,
        bmrdisposalMasterBoxId: -1,
        companyId: null,
        typeOfDisposalBoxId: null,
        boxNo: null,
        disposalDate: null,
        estimateNumberOfBmr: null,
        locationId: null,
        addedByUserID: null,
        modifiedByUserID: null,
        addedDate: new Date(),
        modifiedDate: new Date(),
        statusCodeID: 1842,
        statusCode: "Active",
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        specificArea: "",
        area: "",
        profileNoModel: null,
        screenID: null,
      },
      headers: [
        {
          text: "Company",
          value: "companyDatabaseName",
          align: "left"
        },

        { text: "Type of disposal", value: "typeOfDisposalBoxName", align: "left" },
        { text: "Box No", value: "boxNo", align: "left" },
        { text: "Location ", value: "locationName", align: "left" },
        { text: "Area", value: "area", align: "left" },

        {
          text: "Specific Area",
          value: "specificAreaName",
          align: "left"
        },
        {
          text: "Status",
          value: "statusCode",
          align: "left"
        },

        // { text: "Staus", value: "StatusID", align: "left" },
        { text: "Action", value: "Action", align: "left" }
      ],
      json_fields: {

        "Company": "companyDatabaseName",
        "Type of disposal": "typeOfDisposalBoxName",
        "Box No": "boxNo",
        "Location": "locationName",
        "Area": "area",
        "Specific Area": "specificAreaName",
        "Status": "statusCode",

      },


      loader: false,
      searchItem: { action: "", Id: null, searchString: "searchString", screenID: "" }
    }),

    computed: {
      formTitle () {
        return this.editedItem.bmrdisposalMasterBoxId > 0
          ? "Edit BMR Disposal - Master Box"
          : "Add BMR Disposal - Master Box";
      },
      disposalDateFormated () {
        return this.editedItem.disposalDate
          ? moment(this.editedItem.disposalDate).format(
            GlobalMessage.MONTHYEARFORMAT
          )
          : null;
      }
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        this.loader = true;
        getBmrdisposalMasterBoxs(this.screenID)
          .then(response => {
            this.loader = false;
            this.gridItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loadDropdownList();
      },
      loadDropdownList () {
        this.loader = true;
        getPlants("")
          .then(response => {
            this.companyItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(275)
          .then(response => {
            this.typeOfDisposalBoxItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

        getCodeMasterByType("BMR Disposal Status")
          .then(response => {
            this.statusOptions = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      loadProfileList (list, item, type) {
        setTimeout(() => {
          this.$refs.refprofileNoGenerate.initialize(list, item, type);
        }, 600);

      },
      getLocationList (value) {
        if (value != null) {
          getICTMasterByLocation(value)
            .then(response => {
              this.locationItems = response.data;
              this.loader = false;
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      onChangetypeOfDisposalBox (value, item, type) {
        if (type != 'edit') {
          this.editedItem.boxNo = "";
        }
        this.isFlagProfileNoGenerate = false;
        let list = this.typeOfDisposalBoxItems.filter(o => o.applicationMasterDetailId == value);
        if (list.length > 0 && list[0]['abbreviation1'] != null) {
          this.isFlagProfileNoGenerate = true;
          this.loadProfileList(list[0], item, type);
        }

      },
      getLocationArea (value) {
        this.area = "";
        this.specificArea = "";
        let list = this.locationItems.filter(o => o.ictMasterID == value);
        if (list.length > 0) {
          this.area = list[0]["area"];
          this.specificArea = list[0]["specificAreaName"];
        }
      },
      clearabledisposalDate () {
        this.editedItem.disposalDate = null;
      },
      add () {
        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem = Object.assign({}, this.defaultItem);
        this.locationItems = [];
        this.area = "";
        this.specificArea = "";
        this.isFlagProfileNoGenerate = false;
      },
      toolfunction () {
        this.searchItem.screenID = this.screenID;
        getBmrdisposalMasterBox(this.searchItem)
          .then((response) => {
            if (response.data != undefined && response.data != null) {
              if (response.data.bmrdisposalMasterBoxId != null) {
                this.editedItem = response.data;
                this.onChangetypeOfDisposalBox(response.data.typeOfDisposalBoxId, response.data.profileNoModel, 'edit');

              }
              else {
                window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
              }
            }
          })
          .catch((error) => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.bmrdisposalMasterBoxId;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.bmrdisposalMasterBoxId;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.bmrdisposalMasterBoxId;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },

      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.bmrdisposalMasterBoxId;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.bmrdisposalMasterBoxId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteBmrdisposalMasterBox(this.editedItem)
            .then(response => {
              this.loader = false;
              if (response != undefined) {
                this.gridItems.splice(index, 1);
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                this.add();
              }
            })
            .catch(error => {
              this.loader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      printItem (item) {
        this.selected = [];
        this.qrdialog = true;
        //this.selected[0] = item;
      },
      printPage () {
        setTimeout(() => {
          this.$htmlToPaper("printMe");
        }, 400);
      },
      generateQrCode () {
        if (this.selected.length > 0) {
          this.qrdialog = true;
        } else {
          window.getApp.$emit("APP_API_ERROR", "Select BMRDisposal Check Box");
        }
      },
      qrclose () {
        this.qrdialog = false;
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      save () {
        this.editedItem.screenID = this.screenID;
        console.log('profile'+JSON.stringify(this.$refs.refprofileNoGenerate.editedItem));
        this.editedItem.profileNoModel = (this.$refs.refprofileNoGenerate != undefined) ? (this.$refs.refprofileNoGenerate.editedItem) : null;
        if (this.$refs.BmrdisposalMasterBoxform.validate()) {
          this.loader = true;
          if (this.editedItem.bmrdisposalMasterBoxId > 0) {
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            updateBmrdisposalMasterBox(this.editedItem)
              .then(response => {
                this.loader = false;
                this.editedItem.boxNo = response.data.boxNo;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();
                window.getApp.$emit("PROFILE_NO_ENABLED");
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.loader = true;
            console.log('Bmr Disposal box' +JSON.stringify(this.editedItem));
            createBmrdisposalMasterBox(this.editedItem)
              .then(response => {
                this.loader = false;
                this.editedItem.bmrdisposalMasterBoxId =
                  response.data.bmrdisposalMasterBoxId;
                this.editedItem.boxNo = response.data.boxNo;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.initialize();
                window.getApp.$emit("PROFILE_NO_ENABLED");
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }

      },
      editItem (item) {
        this.loadDropdownList();
        this.dialog = true;
        this.editedItem = Object.assign({}, item);
        this.getLocationList(this.editedItem.companyId);
        setTimeout(() => {
          this.getLocationArea(this.editedItem.locationId);
        }, 600);
        this.onChangetypeOfDisposalBox(item.typeOfDisposalBoxId, item.profileNoModel, 'edit');
        this.editedItem.valid = false;
      },
      close () {
        this.dialog = false;
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 155px - 60px);
   }
</style> 