<template>
  <div id="page-forms">
    <v-toolbar flat color="white" v-if="isForm">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom v-if="isForm">
        <v-btn slot="activator" color="primary" icon flat @click.native="openDialog" v-show="checkClassificationPermission(202)">
          <v-icon icon>add_circle_outline</v-icon>
        </v-btn>
        <span>Add</span>
      </v-tooltip>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Item Classification.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add" v-show="checkClassificationPermission(202)">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Common Packaging Item</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow" v-show="checkClassificationPermission(204)">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <!-- <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip> -->

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <!--  <v-flex xs12 sm6>
                      <v-autocomplete :loading="loader" flat :items="profileItems" v-model="editedItem.profileId" label="Packaging Item No" chips prepend-icon="fa-file-text" required item-text="profileName" item-value="profileId"></v-autocomplete>
                    </v-flex> -->
                  <!--  <v-flex xs12 sm6>
                      <v-autocomplete :loading="loader" flat :items="packagingNameItems" v-model="editedItem.packagingItemNameID" label="Packaging Item Name" chips prepend-icon="fa-file-text" required item-text="profileName" item-value="profileId"></v-autocomplete>
                    </v-flex> -->
                  <v-flex &#x26;#x26;#x3C;v-flex xs12 sm7>
                    <v-text-field readonly v-model="editedItem.packagingItemName" label="Packaging Item Name" required prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex &#x26;#x26;#x3C;v-flex xs12 sm5>
                    <v-text-field v-model="editedItem.alsoKownAs" label="Also Known As" required prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <!--  <v-flex xs12 sm6>
                      <v-autocomplete :loading="loader" chips flat label="Pacakage Item Category" prepend-icon="assistant" :items="packagingItemCategoryItems" v-model="editedItem.packagingItemCategoryId" chips color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>
                    </v-flex> -->
                  <v-flex &#x26;#x26;#x3C;v-flex xs12 sm7>
                    <v-text-field v-model="editedItem.profileName" label="Profile Name" required prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm5>
                    <v-text-field label="Profile Reference No" prepend-icon="category" v-model="editedItem.profileReferenceNo" required readonly></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm7>
                    <v-autocomplete :loading="loader" chips flat label="UOM" prepend-icon="assistant" :items="uomItems" v-model="editedItem.uomId" chips color="blue" item-text="value" item-value="applicationMasterDetailId">
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm5>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID" chips></v-autocomplete>
                  </v-flex>
                  <v-flex xs12>
                    <dynamic-load-form ref="refDynamicLoadForms"></dynamic-load-form>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
        </v-card>

        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem"></delete-confirmation-dialog>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-dialog v-model="dynamicreportdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="expandAll">
              <v-icon color="white">expand_more</v-icon>
            </v-btn>
            <span>Expand</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="collapsAll">
              <v-icon color="white">expand_less</v-icon>
            </v-btn>
            <span>Collaps</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click="printPage">
              <v-icon color="white">print</v-icon>
            </v-btn>
            <span>Print this page</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="closeReports">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <dynamic-reports ref="dynamicReport"></dynamic-reports>
      </v-card>
    </v-dialog>
    <v-data-table v-if="isForm" :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="commonPackagingItemId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">

      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td>
          <td class="text-xs-left">{{ props.item.packagingItemName }}</td>

          <td class="text-xs-left">{{ props.item.uomName }}</td>
          <td class="text-xs-left">{{ props.item.alsoKownAs }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="viewReport(props.item)">notes</v-icon>
            <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(203)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(204)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
  import DynamicLoadForm from "@/pages/itemClassificationForm/DynamicLoadForm";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import {
    getItemClassificationTree,
    getItemClassificationByID,
  } from "@/api/itemClassification";
  import { getCommonPackagingItemHeader, createCommonPackagingItemHeader, updateCommonPackagingItemHeader, deleteCommonPackagingItemHeader } from '@/api/CommonPackagingItemHeader';
  import router from "vue-router";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getDocumentProfileItems } from "@/api/documentProfile";
  import DynamicReports from "@/pages/itemClassificationForm/DynamicReports";
  import moment from "moment";
  import GlobalMessage from "@/constant";
  import { isClassificationPermission } from "@/api/checkPermission";
  export default {
    components: {
      DynamicLoadForm,
      DynamicReports
    },
    data: () => ({
      totalRows: 0,
      loading: false,
      dialog: false,
      isForm: false,
      itemsData: [],
      // items: [],
      loader: false,
      search: "",
      materialProducttionFlag: false,
      statusOptions: [],
      packagingItemCategoryItems: [],

      timeout: 2000,
      y: "top",
      filterFields: [
        "ProfileReferenceNo",
        "AlsoKownAs",
        "StatusCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
        "Uom.Value",
      ],
      headers: [
        {
          text: "Profile Reference No",
          value: "profileReferenceNo",
          align: "left"
        },
        {
          text: "Packaging Item Name",
          value: "packagingItemName",
          align: "left"
        },
        { text: "UOM", value: "uom", align: "left"},
        { text: "Also Known As", value: "alsoKownAs", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: "Actions", value: "name", sortable: false, align: "left" }
      ],
      json_fields: {
        "Profile": "profileName",
        "Also Known As": "alsoKownAs",
        "UOM": "uomName",
        "Packaging Item Name": "packagingItemName",
        "Status": "statusCode",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser"
      },
      active: [],
      itemClassificationtreeItems: [],
      treedrawer: false,
      itemClassificationID: null,
      mainClassificationID: null,
      uomItems: [],
      functionOfMaterialFlag: false,
      typeofIngredientItems: [],
      productRegCountryItems: [],
      productItems: [],
      packagingNameItems: [],
      gridItems: [],
      profileItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      itemClassificationItems: [],
      dynamicreportdialog: false,
      editedItem: {
        valid: false,
        commonPackagingItemId: -1,
        alsoKownAs: "",
        profileId: null,
        linkProfileReferenceNo: '',
        uomId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 2041,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        profileReferenceNo: "",
        itemClassificationMasterId: null,
        packagingItemCategoryId: null,
        profileName: '',
        packagingItemName: '',
      },
      defaultItem: {
        valid: false,
        commonPackagingItemId: -1,
        alsoKownAs: "",
        profileId: null,
        profileReferenceNo: '',
        uomId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 2041,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        itemClassificationMasterId: null,
        packagingItemCategoryId: null,
        profileName: '',
        packagingItemName: '',
      },

      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Common Packaging Item"
          : "Edit Common Packaging Item";
      },
      selected () {
        if (!this.active.length) {
          if (this.itemClassificationID > 0) {
            this.active.push(this.itemClassificationID);
          } else {
            return undefined;
          }
        }
        const id = this.itemClassificationID;
        let editdata = this.classificationItems.find(
          classification => classification.itemClassificationID == id
        );

        let index = this.classificationItems
          .map(item => item.itemClassificationID)
          .indexOf(id);
        this.editedIndex = index;
        this.formEditdata = editdata;
        this.editDetails(this.formEditdata);
        //this.treedrawer = true;
      },
      items () {
        return this.itemClassificationtreeItems;
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    created () {
      this.userId = Number(this.$store.state.auth.userId);
      this.itemClassificationID = Number(this.$route.query.itemClassificationID);
      this.mainClassificationID = Number(this.$route.query.id);
      this.editedItem.profileID = Number(this.$route.query.profileID);
      this.editedItem.profileName = this.$route.query.profileName;
      this.linkProfileReferenceNo = this.$route.query.profileReferenceNo;
      this.isForm = this.$route.query.isForm;
      this.isEdit = this.$route.query.isEdit;
      this.goBackText = this.$route.query.goback;

      this.actionButton = true;
      this.initialize();
      window.getApp.$on("PACKAGE_ITEM_NAME", item => {
        this.editedItem.packagingItemName = item;
        this.$route.query.materialItems.packagingItemName = item
      });
    },
    beforeDestroy () {
      window.getApp.$off("PACKAGE_ITEM_NAME");
    },
    methods: {
      initialize () {
        /* if (this.mainClassificationID > 0) {
          this.loader = true;
          getCommonPackagingItemHeader(this.itemClassificationID)
            .then(response => {
              this.gridItems = response.data;
              this.loader = false;
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        } */
        this.getItemClassificationById();
        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        search.userID = this.$store.state.auth.userId;
        search.masterTypeID = this.itemClassificationID;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
         search.pageCount = 1;
this.pagination.page=1;
        search.sortCol = "CommonPackagingItemID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.userID = this.$store.state.auth.userId;
        search.methodName = "GetCommonPackagingItemHeader";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        search.userID = this.$store.state.auth.userId;
        if (args.sortBy == "profileReferenceNo") {
          search.sortCol = "ProfileReferenceNo";
        } else if (args.sortBy == "description") {
          search.sortCol = "Description";
        } else if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode.CodeValue";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        } else if (args.sortBy == "uom") {
          search.sortCol = "Uom.Value";
        }
        else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        }
        else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetCommonPackagingItemHeader";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getItemClassificationById () {
        getItemClassificationByID(this.itemClassificationID)
          .then(response => {
            if (response.data.length > 0) {
              this.loadFirstTree(response.data[0]);
            }
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      loadFirstTree (model) {
        if (model != undefined) {
          this.classificationID = model.itemClassificationID;
          this.itemClassificationID = model.itemClassificationID;
          this.editedItem.profileID = Number(model.profileID);
          this.editedItem.profileName = model.profileName;
          this.linkProfileReferenceNo = model.profileReferenceNo;
          this.isForm = model.isForm;
          if (this.$refs.refDynamicLoadForms != undefined) {
            this.$refs.refDynamicLoadForms.items = model;
            this.$refs.refDynamicLoadForms.initialize();
          }
        }
        this.itemsData = model;
      },
      goBack () {
        var goback = this.$cookies.get("reload");
        this.$router.push({
          name: "classification/itemClassificationForm",
          query: { goback: goback }
        });
      },
      curNodeClicked (model) {
        this.loadFirstTree(model);
        search.masterTypeID = model.itemClassificationID;
        this.loadPagingData();
        /*  getCommonPackagingItemHeader(model.itemClassificationID)
           .then(response => {
             this.gridItems = response.data;
             //this.loader = false;
           })
           .catch(error => {
             this.loader = false;
             window.getApp.$emit("APP_API_ERROR", error);
           }); */
      },
      opentree () {
        this.$vuetify.goTo(0);
        this.treedrawer = true;
      },
      loadDropdownList () {
        getDocumentProfileItems("")
          .then(response => {
            this.profileItems = response.data.filter(
              p => p.statusCodeID != 665
            );
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(179)
          .then(response => {
            this.uomItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(187)
          .then(response => {
            this.packagingItemCategoryItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loader = true;
        getCodeMasterByType("Packaging Status")
          .then(response => {
            this.statusOptions = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      editItem (item) {
        this.dialog = true;
        this.$route.query.profileReferenceNo = item.profileReferenceNo;
        this.loadDropdownList();
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.$route.query.materialType = 'Packaging';
        this.$route.query.materialItems = item;
        //this.editedItem.profileName = this.$route.query.profileName;
        setTimeout(() => {
          this.$refs.refDynamicLoadForms.items = this.itemsData;
          this.$refs.refDynamicLoadForms.initialize();
        }, 500);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      DeleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.commonPackagingItemId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);

          deleteCommonPackagingItemHeader(this.editedItem)
            .then(() => {
              this.loader = false;
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      openDialog () {
        this.dialog = true;
        this.add();
      },
      viewReport (item) {


        this.dynamicreportdialog = true;
        this.$refs.dynamicReport.dynamicParam = {
          itemClassificationMasterID: item.itemClassificationMasterId,
          profileReferenceNo: item.profileReferenceNo,
          itemClassificationTypeID: 1041,
          // itemClassificationID:
          itemId: item.commonPackagingItemId
        };
        this.$refs.dynamicReport.initialize();
      },
      closeReports () {
        this.dynamicreportdialog = false;
      },
      expandAll () {
        this.panel = [];
        for (var prop in this.$refs.dynamicReport.reportItems) {
          this.$refs.dynamicReport.panel.push(true);
        }
        //this.panel = [...Array(this.taskAllItems).keys()].map(_ => true)
      },
      collapsAll () {
        this.$refs.dynamicReport.panel = [];
      },
      printPage () {
        this.expandAll();
        this.$refs.dynamicReport.printReport();
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {
        getData(this.searchItem)
          .then(response => {

            if (response.data.commonPackagingItemId != null) {
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.commonPackagingItemId).indexOf(response.data.commonPackagingItemId)
              this.editedIndex = index;
            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No more record to view');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.commonPackagingItemId;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.commonPackagingItemId;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.commonPackagingItemId;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.commonPackagingItemId;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {
        this.loadDropdownList();
        this.editedItem.valid = false;
        this.editedItem.commonPackagingItemId = -1,
          this.editedItem.alsoKownAs = "";
        this.editedItem.profileId = null;
        this.editedItem.uomId = null;
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 2041;
        this.editedItem.statusCode = "Active";
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedIndex = -1;
        this.editedItem.itemClassificationMasterId = null;
        this.editedItem.packagingItemCategoryId = null;
        this.$route.query.profileReferenceNo = null;
        this.$refs.refDynamicLoadForms.items = this.itemsData;
        this.$refs.refDynamicLoadForms.initialize();
        this.editedItem.packagingItemName = '';
        this.editedItem.profileReferenceNo = '';
        this.editedItem.profileID = this.$route.query.profileID;
        this.editedItem.profileName = this.$route.query.profileName;
        //this.$route.query.profileReferenceNo = null;
      },
      close () {
        this.dialog = false;
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save () {
        this.editedItem.profileID = this.itemsData.profileID;
        this.editedItem.itemClassificationMasterId = this.itemClassificationID;
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updateCommonPackagingItemHeader(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.$route.query.profileReferenceNo = response.data.profileReferenceNo;
                this.editedItem.profileReferenceNo = response.data.profileReferenceNo;
                this.$route.query.materialType = 'Packaging';
                this.$route.query.materialItems = response.data;
                this.loadPagingData();
                setTimeout(() => {
                  this.$refs.refDynamicLoadForms.initialize();
                }, 500);
                this.editedItem = response.data;
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          } else {

            this.editedItem.addedByUserId = this.$store.state.auth.userId;

            createCommonPackagingItemHeader(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.commonPackagingItemId = response.data.commonPackagingItemId;
                this.$route.query.profileReferenceNo = response.data.profileReferenceNo;
                this.editedItem.profileReferenceNo = response.data.profileReferenceNo;
                let index = this.gridItems.map(item => item.commonPackagingItemId).indexOf(response.data.commonPackagingItemId)
                this.editedIndex = index;
                this.$route.query.materialType = 'Packaging';
                this.$route.query.materialItems = response.data;
                this.loadPagingData();
                setTimeout(() => {
                  this.$refs.refDynamicLoadForms.initialize();
                }, 500);
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }

   .chat-room--scrollbartree {
     overflow: auto;
     height: calc(100vh - 70px);
   }

   .taskDetails--scrollbar {
     overflow: auto;
     height: calc(100vh - 60px);
   }
</style>