<template>
  <div id="page-forms">
    <v-card>
      <v-toolbar flat color="white" v-if="isForm">
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
        <v-spacer></v-spacer>
        <v-tooltip bottom v-if="isForm">
          <v-btn slot="activator" color="primary" icon flat @click.native="openDialog" v-show="checkClassificationPermission(1202)">
            <v-icon icon>add_circle_outline</v-icon>
          </v-btn>
          <span>Add</span>
        </v-tooltip>
        <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Item Classification.xls">
          <v-btn icon>
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>

        <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>

        <v-dialog v-model="dialog" fullscreen>
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
              <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="saveAndClose" :loading="loader">
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
                <span>Save and Close</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="save" :loading="loader">
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="add" :loading="loader" v-show="checkClassificationPermission(1202)">
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Create New Common Process</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="deleterow" :loading="loader" v-show="checkClassificationPermission(1216)">
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete</span>
              </v-tooltip>
                <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
            </v-toolbar>

            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12 sm6>
                      <v-autocomplete chips :loading="loader" flat label="Manufacturing Site" prepend-icon="assistant" :items="manufacturingSiteItems" v-model="editedItem.manufacturingSiteId" color="blue" item-text="value" item-value="applicationMasterDetailId" @change="selectManufacturingSite">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete chips :loading="loader" flat label="Manufacturing Process" prepend-icon="assistant" :items="manufacturingProcessItems" v-model="editedItem.manufacturingProcessId" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete chips :loading="loader" flat label="Manufacturing Steps" prepend-icon="assistant" :items="manufacturingStepsItems" v-model="editedItem.manufacturingStepsId" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete chips :loading="loader" flat label="Machine Grouping" prepend-icon="assistant" :items="machineGroupingItems" v-model="editedItem.machineGroupingId" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.machineNo" label="Machine No" prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.nameOfTheMachine" label="Name of the Machine" prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete chips :loading="locationloader" flat label="Location" prepend-icon="assistant" :items="locationItems" v-model="editedItem.location" color="blue" item-text="specificAreaName" item-value="ictMasterID" @change="getlocationItems">
                        <template slot="selection" slot-scope="data">{{ data.item.location }}
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                          </template>
                          <template v-else>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item.specificAreaName"></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.site" readonly label="Site" prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.zone" readonly label="Zone" prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.area" readonly label="Area" prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete chips label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID"></v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.profileName" label="ProfileName" readonly prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex lg6 sm6>
                      <v-text-field label="Profile Reference No" prepend-icon="category" v-model="editedItem.profileReferenceNo" required readonly></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <common-fields-production-machine-line ref="refCommonFieldsProductionMachineLine" v-show="checkClassificationPermission(1205)"></common-fields-production-machine-line>
                    </v-flex>
                    <v-flex xs12>
                      <dynamic-load-form ref="refDynamicLoadForm"></dynamic-load-form>
                    </v-flex>
                    <!-- </vue-perfect-scrollbar> -->
                  </v-layout>
                </v-form>
              </v-card-text>
            </div>
          </v-card>
        </v-dialog>
         <v-dialog v-model="attachdialog" max-width="900px">
        <attachment
          title="Item Cost Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>
      </v-toolbar>
      <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem"></delete-confirmation-dialog>
      <app-section-loader :status="loader"></app-section-loader>
      <app-section-loader :status="subloader"></app-section-loader>
      <v-data-table v-if="isForm" :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="commonFieldsProductionMachineId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-left">{{ props.item.profileName }}</td>
            <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td>
            <td class="text-xs-left">{{ props.item.manufacturingSiteName }}</td>
            <td class="text-xs-left">
              {{ props.item.manufacturingProcessName }}
            </td>
            <td class="text-xs-left">
              {{ props.item.manufacturingStepsName }}
            </td>
            <td class="text-xs-left">{{ props.item.machineGroupingName }}</td>
            <td class="text-xs-left">{{ props.item.machineNo }}</td>
            <td class="text-xs-left">{{ props.item.nameOfTheMachine }}</td>
            <td class="text-xs-left">{{ props.item.statusCode }}</td>
            <td class="text-xs-left">
              {{ props.item.modifiedByUser == null ? props.item.addedByUser : props.item.modifiedByUser }}
            </td>
            <td class="text-xs-left">
              {{ props.item.modifiedDate == null ? props.item.addedDate : props.item.modifiedDate | formatDate }}
            </td>

            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(1203)">edit</v-icon>
              <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(1216)">delete</v-icon>
            </td>
          </tr>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
  import router from "vue-router";
  import DynamicLoadForm from "@/pages/itemClassificationForm/DynamicLoadForm";
  import GlobalMessage from "@/constant";
  import { getDocumentProfileItems } from "@/api/documentProfile";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import Util from "@/util";
  import CommonFieldsProductionMachineLine from "@/pages/itemClassificationForm/CommonFieldsProductionMachineLine";
  import { getDocumentProfiles } from "@/api/documentProfile";
  import { getICTMasterByID } from "@/api/ictmaster";
  import attachment from "@/components/Attachment/attachments";
  import moment from "moment";
  import {
    getItemClassificationByID,
    getItemClassificationTree,
  } from "@/api/itemClassification";
  import {
    getcommonFieldsProductionMachine,
    createcommonFieldsProductionMachine,
    updatecommonFieldsProductionMachine,
    deletecommonFieldsProductionMachine,
    getICTMasterlocation,
    getICTMasterSpecificArea
  } from "@/api/CommonFieldsProductionMachine";
  import { isClassificationPermission } from "@/api/checkPermission";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  export default {
    components: {
      DynamicLoadForm,
      CommonFieldsProductionMachineLine,
       attachment,
    },
    name: "Page2",
    data: () => ({
      totalRows: 0,
      screenID: "",
      loading: false,
      attachdialog: false,
      itemsData: [],
      gridItems: [],
      search: "",
      loader: false,
      dialog: false,
      locationloader: false,
      classificationID: 0,
      sessionId: null,
      itemClassificationformstatus: false,
      searchTo: "",
      searchdiscussionTo: "",
      itemClassificationtreeItems: [],
      classificationItems: [],
      scrollSettings: {
        maxScrollbarLength: 130,
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      editedIndex: -1,
      editdialog: false,
      treedrawer: false,
      loader: false,
      hasPermission: false,
      classificationdialog: false,
      subclassificationdialog: false,
      active: [],
      UOMItems: [],
      profileItems: [],
      materialItems: [],
      taskdetailsloader: false,
      isNotes: false,
      subTaskitems: [],
      isRead: true,
      isDelete: true,
      isEdit: true,
      itemClassificationID: null,
      mainClassificationID: null,
      companyId: null,
      paerntID: -1,
      viewList: "list",
      profileReferenceNo: "",
      panel: [],
      manufacturingSiteItems: [],
      manufacturingProcessItems: [],
      manufacturingStepsItems: [],
      machineGroupingItems: [],
      locationItems: [],
      statusOptions: [],
      editedItem: {
        valid: false,
        isFrom: false,
        commonFieldsProductionMachineId: -1,
        itemClassificationMasterId: null,
        commonFieldsProductionMachineId: -1,
        manufacturingSiteId: null,
        manufacturingSiteName: "",
        manufacturingProcessId: null,
        manufacturingStepsId: null,
        machineGroupingId: null,
        machineNo: "",
        nameOfTheMachine: "",
        location: null,
        statusCodeID: 1050,
        addedByUserID: "",
        addedDate: "",
        modifiedByUserID: "",
        modifiedDate: "",
        profileReferenceNo: "",
        zone: "",
        site: "",
        area: "",
        sessionId: null,
      },
      filterFields: [
        "Profile.Name",
        "ProfileReferenceNo",
        "NameOfTheMachine",
        "MachineNo",
        "ManufacturingSite.Value",
        "ManufacturingProcess.Value",
        "ManufacturingSteps.Value",
        "MachineGrouping.Value",
        "StatusCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
      ],
      headers: [
        { text: "Profile Name", value: "profileName", align: "left" },
        {
          text: "Profile Reference No",
          value: "profileReferenceNo",
          align: "left",
        },
        {
          text: "Manufacturing Site",
          value: "manufacturingSiteName",
          align: "left", 
        },
        {
          text: "Manufacturing Process",
          value: "manufacturingProcessName",
          align: "left", 
        },
        {
          text: "Manufacturing Steps",
          value: "manufacturingStepsName",
          align: "left", 
        },
        {
          text: "Machine Grouping",
          value: "machineGroupingName",
          align: "left",
          
        },

        { text: "Machine No", value: "machineNo", align: "left" },
        { text: "Name Of The Machine", value: "nameOfTheMachine", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      json_fields: {
        "Profile Name": "profileName",
        "Manufacturing Site": "manufacturingSiteName",
        "Manufacturing Process": "manufacturingProcessName",
        "Manufacturing Steps": "manufacturingStepsName",
        "Machine Grouping": "machineGroupingName",
        "Machine No": "machineNo",
        Status: "statusCode",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser",
        "Modified Date": "modifiedDate",
      },
      formEditdata: {
        itemClassificationID: -1,
        itemClassificationMasterId: null,
        parentID: null,
        mainClassificationID: null,
        name: "",
        description: "",
        dosageFormName: "",
        isForm: false,
        formID: null,
        profileID: null,
        profileName: "",
        addedByUserID: null,
        addedDate: new Date().toISOString().substr(0, 10),
        addedByUser: "",
        statusCodeID: 1050,
        statusCode: "Active",
        modifiedByUserID: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        profileReferenceNo: "",
      },
      loader: false,
      subtasktriggered: false,
      readonlyTask: false,
      selectedTask: [],
      userId: -1,
      userItems: [],
      subloader: false,
      goBackText: "",
    }),
    created () {
      this.userId = Number(this.$store.state.auth.userId);
      this.itemClassificationID = Number(this.$route.query.itemClassificationID);
      this.mainClassificationID = Number(this.$route.query.id);
      //this.editedItem.profileID = Number(this.$route.query.profileID);
      //this.editedItem.profileName = this.$route.query.profileName;
      //this.profileReferenceNo = this.$route.query.profileReferenceNo;
      this.isForm = this.$route.query.isForm;
      this.isEdit = this.$route.query.isEdit;
      this.goBackText = this.$route.query.goback;

      this.actionButton = true;
      this.initialize();

      // this.getPerTag();
    },
    beforeDestroy () {
      window.getApp.$off("ITEMLOAD");
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Common Fields Production Machine"
          : "Edit Common Fields Production Machine";
      },
      GenericNameRules () {
        return [(v) => !!v || "This field is required"];
      },
      computeHeight () {
        return {
          height: this.height || "",
        };
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
      selected () {
        if (!this.active.length) {
          if (this.itemClassificationID > 0) {
            this.active.push(this.itemClassificationID);
          } else {
            return undefined;
          }
        }
        const id = this.itemClassificationID;
        let editdata = this.classificationItems.find(
          (classification) => classification.itemClassificationID == id
        );

        let index = this.classificationItems
          .map((item) => item.itemClassificationID)
          .indexOf(id);
        this.editedIndex = index;
        this.formEditdata = editdata;
        this.editDetails(this.formEditdata);
        //this.treedrawer = true;
      },
      items () {
        return this.itemClassificationtreeItems;
      },
    },

    mounted () {
      //this.messageTabCall();
    },

    methods: {
      formatDate (date) {
        let month = `${date.getMonth() + 1}`;
        let day = `${date.getDate()}`;
        const year = date.getFullYear();

        if (month.length < 2) month = `0${month}`;
        if (day.length < 2) day = `0${day}`;

        return [year, month, day].join("-");
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      initialize () {
        if (this.mainClassificationID > 0) {
          this.loader = true;
          getApplicationMasterDetailByType(115)
            .then((response) => {
              this.manufacturingSiteItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          getApplicationMasterDetailByType(130)
            .then((response) => {
              this.manufacturingProcessItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          getApplicationMasterDetailByType(188)
            .then((response) => {
              this.manufacturingStepsItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          getApplicationMasterDetailByType(189)
            .then((response) => {
              this.machineGroupingItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          getCodeMasterByType("ProductionMachineStatus")
            .then((response) => {
              this.statusOptions = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });

          this.getItemClassificationById();
          /* this.loader = true;
          getcommonFieldsProductionMachine(this.itemClassificationID)
            .then((response) => {
              this.gridItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            }); */
        }
      },
      getItemClassificationById () {
        getItemClassificationByID(this.itemClassificationID)
          .then((response) => {
            if (response.data.length > 0) {
              this.loadFirstTree(response.data[0]);
            }
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      loadLines (status) {
        this.$refs.refCommonFieldsProductionMachineLine.commonFieldsProductionMachineId = this.editedItem.commonFieldsProductionMachineId;
        this.$refs.refCommonFieldsProductionMachineLine.enableAddButton = status;
        this.$refs.refCommonFieldsProductionMachineLine.initialize();
      },
      getlocationItems () {
        this.editedItem.zone = "";
        this.editedItem.site = "";
        this.editedItem.area = "";
        let list = this.locationItems.filter(
          (o) => o.ictMasterID == this.editedItem.location
        );
        if (list.length > 0) {
          this.editedItem.zone = list[0]["zone"];
          this.editedItem.site = list[0]["site"];
          this.editedItem.area = list[0]["area"];
        }
      },
      loadFirstTree (model) {
        if (model != undefined) {
          this.classificationID = model.itemClassificationID;
          this.itemClassificationID = model.itemClassificationID;
          this.editedItem.profileID = Number(model.profileID);
          this.editedItem.profileName = model.profileName;
          this.profileReferenceNo = model.profileReferenceNo;
          this.isForm = model.isForm;
          if (this.$refs.refDynamicLoadForm != undefined) {
            this.$refs.refDynamicLoadForm.items = model;
            this.$refs.refDynamicLoadForm.initialize();
          }
        }
        this.itemsData = model;
      },
      goBack () {
        var goback = this.$cookies.get("reload");
        this.$router.push({
          name: "classification/itemClassificationForm",
          query: { goback: goback },
        });
      },

      curNodeClicked (model) {
        /* if (this.classificationID != model.itemClassificationID) { */

        this.loadFirstTree(model);
        search.masterTypeID = model.itemClassificationID;
        this.loadPagingData();
        /*  this.subloader = true;
         getcommonFieldsProductionMachine(model.itemClassificationID)
           .then((response) => {
             if (response != undefined && response.data != undefined) {
               this.gridItems = response.data;
               this.subloader = false;
             }
           })
           .catch((error) => {
             this.loader = false;
             window.getApp.$emit("APP_API_ERROR", error);
           }); */
        //}
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        search.userID = this.$store.state.auth.userId;
        search.masterTypeID = this.itemClassificationID;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
         search.pageCount = 1;
this.pagination.page=1;
        search.sortCol = "CommonFieldsProductionMachineID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.userID = this.$store.state.auth.userId;
        search.methodName = "GetCommonFieldsProductionMachine";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        search.userID = this.$store.state.auth.userId;
        if (args.sortBy == "profileReferenceNo") {
          search.sortCol = "ProfileReferenceNo";
        }
        else if (args.sortBy == "profileName") {
          search.sortCol = "Profile.Name";
        }
        else if (args.sortBy == "machineNo") {
          search.sortCol = "MachineNo";
        }
        else if (args.sortBy == "nameOfTheMachine") {
          search.sortCol = "NameOfTheMachine";
        }
        else if (args.sortBy == "manufacturingSiteName") {
          search.sortCol = "ManufacturingSite.Value";
        }
        else if (args.sortBy == "manufacturingProcessName") {
          search.sortCol = "ManufacturingProcess.Value";
        }
        else if (args.sortBy == "manufacturingStepsName") {
          search.sortCol = "ManufacturingSteps.Value";
        }
        else if (args.sortBy == "machineGroupingName") {
          search.sortCol = "MachineGrouping.Value";
        } else if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode.CodeValue";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        } 
        else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        }
        else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetCommonFieldsProductionMachine";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      opentree () {
        this.$vuetify.goTo(0);
        this.treedrawer = true;
      },
      openDialog () {
        this.dialog = true;
        this.add();
      },

      add () {
        this.editedItem.valid = false;
        this.editedItem.commonFieldsProductionMachineId = -1;
        this.editedItem.manufacturingSiteId = null;
        this.editedItem.manufacturingProcessId = null;
        this.editedItem.manufacturingStepsId = null;
        this.editedItem.machineGroupingId = null;
        this.editedItem.machineNo = "";
        this.editedItem.location = null;
        this.editedItem.nameOfTheMachine = "";
        this.editedItem.zone = "";
        this.editedItem.site = "";
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 1050;
        this.editedItem.statusCode = "Active";
        this.editedItem.profileReferenceNo = null;
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedIndex = -1;
        this.$route.query.profileReferenceNo = null;
        this.editedItem.sessionId=null;
        this.loadLines(true);
        this.$refs.refDynamicLoadForm.items = this.itemsData;
        this.$refs.refDynamicLoadForm.initialize();
      },
      saveAndClose () {
        this.save();
        this.close();
      },
        fileAttachment() {
      this.attachdialog = true;
      this.editedItem.sessionId = this.sessionId;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.sessionId = this.editedItem.sessionId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    fileAttachments(item) {
      console.log("check item", item);
      this.sessionId = item.sessionId;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentId = item.documentId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
      close () {
        this.dialog = false;
        this.initialize();
        this.loadPagingData();
      },
      selectManufacturingSite () {
        if (this.editedItem.manufacturingSiteId != null) {
          let manufacuturingvalue = this.manufacturingSiteItems.filter(s => s.applicationMasterDetailId == this.editedItem.manufacturingSiteId);
          if (manufacuturingvalue.length > 0) {
            console.log('value' + JSON.stringify(manufacuturingvalue));
            let value = manufacuturingvalue[0].value;
            if ((value.toLowerCase()).trim() == "sunward sin") {
              this.companyId = 2;
            }
            if ((value.toLowerCase()).trim() == "sunward mal") {
              this.companyId = 1;
            }
            if ((value.toLowerCase()).trim() == "taiwan biotech (tbc)") {
              this.companyId = 3;
            }

            if (this.companyId > 0) {
              this.locationloader = true;
              let id = this.companyId;
              console.log('company id' + this.companyId);
              getICTMasterSpecificArea(id)
                .then((response) => {
                  this.locationItems = response.data;
                  this.locationloader = false;
                })
                .catch((error) => {
                  this.locationloader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }
          }
        }
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      DeleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.commonFieldsProductionMachineId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);

          deletecommonFieldsProductionMachine(this.editedItem)
            .then(() => {
              this.loader = false;
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      editItem (item) {
        this.$route.query.profileReferenceNo = item.profileReferenceNo;
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.sessionId = item.sessionId;
        this.dialog = true;
        this.getlocationItems();
        this.loadLines(false);
        this.$refs.refDynamicLoadForm.items = this.itemsData;
        this.$refs.refDynamicLoadForm.initialize();
        this.selectManufacturingSite();
      },
      save () {
       
        
          this.loader = true;
          let index = this.editedIndex;
          this.editedItem.profileID = this.itemsData.profileID;
          this.editedItem.itemClassificationMasterId = this.itemClassificationID;
          console.log('save common fiels'+JSON.stringify(this.editedItem))
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updatecommonFieldsProductionMachine(this.editedItem)
              .then((response) => {
                Object.assign(this.gridItems[index], response.data);
                this.editedItem = response.data;
                this.loader = false;
                this.loadLines(false);
                this.loadPagingData();
                  this.sessionId = response.data.sessionId;
                this.$refs.refDynamicLoadForm.initialize();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            createcommonFieldsProductionMachine(this.editedItem)
              .then((response) => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.commonFieldsProductionMachineId =
                  response.data.commonFieldsProductionMachineId;
                this.editedItem.profileReferenceNo =
                  response.data.profileReferenceNo;
                  this.editedItem.sessionId =
                  response.data.sessionId;
                this.$route.query.profileReferenceNo =
                  response.data.profileReferenceNo;
                let index = this.gridItems
                  .map((item) => item.commonFieldsProductionMachineId)
                  .indexOf(response.data.commonFieldsProductionMachineId);
                this.editedIndex = index;
                this.loadLines(false);
                this.loadPagingData();
                  this.sessionId = response.data.sessionId;
                this.$refs.refDynamicLoadForm.initialize();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        
      },
    },
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>