<template>
  <div>
    <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Re qualification information</span>
    </v-layout>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="commonFieldsProductionMachineLineLine.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn
          slot="activator"
          icon
          @click.native="add"
          :disabled="enableAddButton"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="saveAndClose"
                :loading="subloader"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="save"
                :loading="subloader"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                :loading="subloader"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Re qualification information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="company--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="productLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <v-menu
                      ref="dateToStartRequalificationDue"
                      v-model="dateToStartRequalificationDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="dateToStartRequalificationDateFormated"
                        label="Date to start re-qualification"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearabledateToStartRequalification"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.dateToStartRequalification"
                        @change="dateToStartRequalificationDue = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-menu
                      ref="dateCompleteRequalificationDue"
                      v-model="dateCompleteRequalificationDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="dateCompleteRequalificationDateFormated"
                        label="Date to start re-qualification"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearabledateCompleteRequalification"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.dateCompleteRequalification"
                        @change="dateCompleteRequalificationDue = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      label="Status of re-qualification"
                      prepend-icon="notes"
                      v-model="editedItem.statusOfRequalificationId"
                      :items="statusOfRequalificationItems"
                      item-text="codeValue"
                      item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                  <!-- <v-flex xs12 sm6>
                                        <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips></v-autocomplete>
                  </v-flex>-->
                  <!--   <v-flex xs12 lg12>
                                        <upload-btn @file-update="fileChanged" title="Upload your document" name="uploadtask" ref="upformUpload" multiple noTitleUpdate>
                                            <template slot="icon-left">
                                                <v-icon left color="white">attachment</v-icon>
                                            </template>
                                        </upload-btn>
                  </v-flex>-->
                  <!--    <v-flex xs12 lg12>
                                        <div class="large-12 medium-12 small-12 cell">
                                            <div v-for="(name, key) in uploadedFileNames" class="file-listing">
                                                {{name.fileName}}
                                                <v-btn icon @click="removeFile( name )">
                                                    <v-icon>close</v-icon>
                                                </v-btn>
                                                <v-btn icon @click="downloadFile( name )" v-if="(name.machineDocumentId)?true:false">
                                                    <v-icon>save_alt</v-icon>
                                                </v-btn>
                                            </div>
                                        </div>
                  </v-flex>-->
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="subloader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
              :loading="subloader"
              >Close</v-btn
            >
          </v-card-actions>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog1"
            heading="Are You Sure You Want To Close?"
            message="Are You Sure You Want To Close? Files Not Updloaded"
            @onConfirm="fileconformationMessage"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Re qualification information Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="CommonFieldsProductionMachineLine"
          action="GetMachineDocumentBySessionID"
          uploadAction="UploadMachineDocument"
          deleteAction="DeleteMachineDocuments"
          downloadAction="DownLoadMachineDocuments"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
        <!--  <SalesOrderNovateDocument ref="frmattach"></SalesOrderNovateDocument> -->
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="commonFieldsProductionMachineLineLineId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td>{{ props.item.dateToStartRequalification | formatDate }}</td>
          <td class="text-xs-left">
            {{ props.item.dateCompleteRequalification | formatDate }}
          </td>
          <td class="text-xs-left">{{ props.item.statusOfRequalification }}</td>
          <td class="text-xs-left">
            {{
              props.item.modifiedByUser == null
                ? props.item.addedByUser
                : props.item.modifiedByUser
            }}
          </td>
          <td class="text-xs-left">
            {{
              props.item.modifiedDate == null
                ? props.item.addedDate
                : props.item.modifiedDate | formatDate
            }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              :disabled="props.item.sessionId == null"
              @click="fileAttachments(props.item)"
              >attach_file</v-icon
            >
            <v-icon small class="mr-2" @click="editItem(props.item)"
              >edit</v-icon
            >
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import { getCodeMasterByType } from "@/api/applicationUser";
import {
  getCommonFieldsProductionMachineLineLine,
  createCommonFieldsProductionMachineLineLine,
  updateCommonFieldsProductionMachineLineLine,
  deleteCommonFieldsProductionMachineLineLine,
} from "@/api/commonFieldsProductionMachineLineLine";
import {
  uploadMachineDocuments,
  getMachineDocument,
  deleteMachineDocument,
  downloadMachineDocument,
} from "@/api/commonFieldsProductionMachineLine";
//import UploadButton from "vuetify-upload-button";
import moment from "moment";
export default {
  components: {
    // "upload-btn": UploadButton,
    attachment,
  },
  data: () => ({
    screenID: "",
    sessionId: null,
    commonFieldsProductionMachineLineId: -1,
    commonFieldsProductionMachineLineLineId: -1,
    uploadbtn: true,

    dialog: false,
    subloader: false,
    editedIndex: -1,
    dateToStartRequalificationDue: false,
    dateCompleteRequalificationDue: false,
    search: "",
    gridItems: [],
    statusOfRequalificationItems: [],
    enableAddButton: true,
    commonFieldsProductionMachineLineId: -1,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    uploadedFiles: [],
    uploadedFileNames: [],
    uploadedAttachment: new FormData(),
    editedItem: {
      commonFieldsProductionMachineLineLineId: -1,
      commonFieldsProductionMachineLineId: -1,
      dateToStartRequalification: "",
      dateCompleteRequalification: "",
      statusOfRequalificationId: "",
      sessionId: null,
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      {
        text: "Date to start re-qualification",
        value: "dateToStartRequalification",
        align: "left",
      },
      {
        text: "Date complete re-qualification",
        value: "dateCompleteRequalification",
        align: "left",
      },
      {
        text: "status Of Requalification",
        value: "statusOfRequalification",
        align: "left",
      },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "Date to start re-qualification": "dateToStartRequalification",
      "Date complete re-qualification": "dateCompleteRequalification",
      "status Of Requalification": "statusOfRequalification",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Re qualification information"
        : "Edit Re qualification information";
    },
    dateToStartRequalificationDateFormated() {
      return this.editedItem.dateToStartRequalification
        ? moment(this.editedItem.dateToStartRequalification).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    dateCompleteRequalificationDateFormated() {
      return this.editedItem.dateCompleteRequalification
        ? moment(this.editedItem.dateCompleteRequalification).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      this.subloader = true;
      getCommonFieldsProductionMachineLineLine(
        this.commonFieldsProductionMachineLineId
      )
        .then((response) => {
          this.gridItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    clearabledateToStartRequalification() {
      this.editedItem.dateToStartRequalification = null;
    },
    clearabledateCompleteRequalification() {
      this.editedItem.dateCompleteRequalification = null;
    },
    loadDropdownList() {
      getCodeMasterByType("MachineQualificationStatus")
        .then((response) => {
          this.statusOfRequalificationItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);

      this.commonFieldsProductionMachineLineLineId = this.editedItem.commonFieldsProductionMachineLineLineId;
      this.sessionId = this.editedItem.sessionId;
      this.uploadbtn = false;
      // this.getMachineDocuments();
      setTimeout(() => {
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.add();
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.loadDropdownList();
      this.uploadbtn = true;
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.commonFieldsProductionMachineLineLineId = -1;
      this.editedItem.dateToStartRequalification = "";
      this.editedItem.dateCompleteRequalification = "";
      this.editedItem.statusOfRequalificationId = "";
      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = "";
      this.editedItem.addedDate = "";
      this.editedItem.modifiedByUserID = "";
      this.editedItem.modifiedDate = "";
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      this.uploadedAttachment = new FormData();
      this.$refs.upformUpload.clear();
    },
    openPopup() {
      this.dialog = true;
      this.add();
    },
    save() {
      this.editedItem.commonFieldsProductionMachineLineId = this.commonFieldsProductionMachineLineId;
      if (this.$refs.productLineform.validate()) {
        this.subloader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          updateCommonFieldsProductionMachineLineLine(this.editedItem)
            .then((response) => {
              //  uploadMachineDocuments(
              //   this.uploadedAttachment,
              //   response.data.sessionId
              //  ).then((responses) => {
              Object.assign(this.gridItems[index], response.data);
              this.subloader = false;
              // this.getMachineDocuments();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
              /// });
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();

          createCommonFieldsProductionMachineLineLine(this.editedItem)
            .then((response) => {
              //   uploadMachineDocuments(
              //   this.uploadedAttachment,
              //   response.data.sessionId
              //  ).then((responses) => {
              this.gridItems.push(response.data);
              this.editedItem.sessionId = response.data.sessionId;
              this.subloader = false;
              this.editedItem.commonFieldsProductionMachineLineLineId =
                response.data.commonFieldsProductionMachineLineLineId;
              let index = this.gridItems
                .map((item) => item.commonFieldsProductionMachineLineLineId)
                .indexOf(response.data.commonFieldsProductionMachineLineLineId);
              this.editedIndex = index;
              this.sessionId = response.data.sessionId;
              this.commonFieldsProductionMachineLineLineId =
                response.data.commonFieldsProductionMachineLineLineId;
              this.uploadbtn = false;
              // this.getMachineDocuments();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
              //  });
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.commonFieldsProductionMachineLineLineId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteCommonFieldsProductionMachineLineLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    // getMachineDocuments() {
    //   this.uploadedFiles = [];
    //   this.uploadedFileNames = [];
    //   this.uploadedAttachment = new FormData();
    //   this.$refs.upformUpload.clear();
    //   getMachineDocument(this.editedItem.sessionId)
    //     .then((response) => {
    //       this.uploadedFileNames = response.data;
    //     })
    //     .catch((error) => {
    //       window.getApp.$emit("APP_API_ERROR", error);
    //     });
    // },
    // removeFile(item) {
    //   this.$refs.upformUpload.clear();
    //   this.uploadedAttachment.delete("file");
    //   let index = this.uploadedFileNames.indexOf(item);
    //   this.uploadedFileNames.splice(index, 1);
    //   if (item.machineDocumentId != undefined) {
    //     deleteMachineDocument(item.machineDocumentId)
    //       .then((response) => {})
    //       .catch((error) => {});
    //   }
    // },
    // fileChanged(args) {
    //   if (args != undefined) {
    //     Array.from(args).forEach((file) => {
    //       let fileSize = file.size / 1000000;
    //       if (fileSize <= 100) {
    //         this.uploadedFileNames.push({ fileName: file.name });
    //         this.uploadedAttachment.append("file", file, file.name);
    //       } else {
    //         window.getApp.$emit(
    //           "APP_API_VAL",
    //           file.name + " - File size exceeded 100MB"
    //         );
    //       }
    //     });
    //   }
    // },
    // downloadFile(item) {
    //   this.subloader = true;
    //   downloadMachineDocument(item.machineDocumentId)
    //     .then((response) => {
    //       let blob = new Blob([response.data], {
    //         type: item.contentType,
    //       });
    //       let link = document.createElement("a");
    //       link.download = item.fileName;
    //       link.href = window.URL.createObjectURL(blob);
    //       link.click();
    //       this.subloader = false;
    //     })
    //     .catch((error) => {
    //       this.subloader = false;
    //       window.getApp.$emit("APP_API_ERROR", error);
    //     });
    // },
  },
};
</script>
<style lang="stylus" scoped>
.company--scroll {
  overflow: auto;
  height: calc(100vh - 110px - 60px);
}
</style>