<template>
  <div>
    <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Machine Capacity - Qualification of Machine</span>
    </v-layout>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="commonFieldsProductionMachineLineLine.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn
          slot="activator"
          icon
          @click.native="add"
          :disabled="enableAddButton"
          v-show="checkClassificationPermission(1206)"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="saveAndClose"
                :loading="subloader"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="save"
                :loading="subloader"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                :loading="subloader"
                v-show="checkClassificationPermission(1206)"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Business Relationship</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="deleterow"
                v-show="checkClassificationPermission(1208)"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip
              bottom
              :disabled="editedItem.sessionId == null"
              v-show="checkClassificationPermission(1209)"
            >
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="company--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="productLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <v-menu
                      ref="qualifiedDateDue"
                      v-model="qualifiedDateDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="qualifiedDateDateFormated"
                        label="Qualified Date"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearablequalifiedDate"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.qualifiedDate"
                        @change="qualifiedDateDue = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.frequencyOfRequalificationYear"
                      prepend-icon="notes"
                      label="Frequency of re-qualification/year"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.minCapacity"
                      prepend-icon="notes"
                      label="Min Capacity"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.maxCapacity"
                      prepend-icon="notes"
                      label="Max Capacity"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.preferCapacity"
                      prepend-icon="notes"
                      label="Prefer capacity"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6>
                    <v-autocomplete
                      label="Capacity Units"
                      prepend-icon="notes"
                      v-model="editedItem.capacityUnitsId"
                      :items="capacityUnitsItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      chips
                    >
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content
                            v-text="data.item"
                          ></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title
                              v-html="data.item.value"
                            ></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-textarea
                      v-model="editedItem.qualificationNotes"
                      label="Qualification Notes"
                      prepend-icon="description"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.recommendedManpower"
                      prepend-icon="notes"
                      label="Recommended Manpower"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="text"
                      item-value="value"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                  <!--   <v-flex xs12 lg12>
                    <upload-btn
                      @file-update="fileChanged"
                      title="Upload your document"
                      name="uploadtask"
                      ref="upformUpload"
                      multiple
                      noTitleUpdate
                    >
                      <template slot="icon-left">
                        <v-icon left color="white">attachment</v-icon>
                      </template>
                    </upload-btn>
                  </v-flex> -->
                  <!--   <v-flex xs12 lg12>
                    <div class="large-12 medium-12 small-12 cell">
                      <div v-for="(name, key) in uploadedFileNames" class="file-listing">
                        {{name.fileName}}
                        <v-btn icon @click="removeFile( name )">
                          <v-icon>close</v-icon>
                        </v-btn>
                        <v-btn
                          icon
                          @click="downloadFile( name )"
                          v-if="(name.machineDocumentId)?true:false"
                        >
                          <v-icon>save_alt</v-icon>
                        </v-btn>
                      </div>
                    </div>
                  </v-flex> -->
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="subloader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
              :loading="subloader"
              >Close</v-btn
            >
          </v-card-actions>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog1"
            heading="Are You Sure You Want To Close?"
            message="Are You Sure You Want To Close? Files Not Updloaded"
            @onConfirm="fileconformationMessage"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" max-width="900px">
        <attachment
          title="Item Cost Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="commonFieldsProductionMachineLineId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td>{{ props.item.qualifiedDate | formatDate }}</td>
          <td class="text-xs-left">
            {{ props.item.frequencyOfRequalificationYear }}
          </td>
          <td class="text-xs-left">{{ props.item.minCapacity }}</td>
          <td class="text-xs-left">{{ props.item.maxCapacity }}</td>
          <td class="text-xs-left">{{ props.item.preferCapacity }}</td>
          <td class="text-xs-left">{{ props.item.capacityUnitsName }}</td>
          <td class="text-xs-left">{{ props.item.recommendedManpower }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">
            {{
              props.item.modifiedByUser == null
                ? props.item.addedByUser
                : props.item.modifiedByUser
            }}
          </td>
          <td class="text-xs-left">
            {{
              props.item.modifiedDate == null
                ? props.item.addedDate
                : props.item.modifiedDate | formatDate
            }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              :disabled="props.item.sessionId == null"
              @click="fileAttachments(props.item)"
              v-show="checkClassificationPermission(1209)"
              >attach_file</v-icon
            >
            <v-icon
              small
              class="mr-2"
              @click="editItem(props.item)"
              v-show="checkClassificationPermission(1207)"
              >edit</v-icon
            >
            <v-icon
              small
              @click="onDeleteItem(props.item)"
              v-show="checkClassificationPermission(1208)"
              >delete</v-icon
            >
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
//import UploadButton from "vuetify-upload-button";
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import { getCodeMasterByType } from "@/api/applicationUser";
import {
  getCommonFieldsProductionMachineLine,
  createCommonFieldsProductionMachineLine,
  updateCommonFieldsProductionMachineLine,
  deleteCommonFieldsProductionMachineLine,
  uploadMachineDocuments,
  getMachineDocument,
  deleteMachineDocument,
  downloadMachineDocument,
} from "@/api/commonFieldsProductionMachineLine";
import moment from "moment";
import { isClassificationPermission } from "@/api/checkPermission";
export default {
  components: {
    // "upload-btn": UploadButton,
    attachment,
  },
  data: () => ({
    screenID: "",
    sessionId: null,
    commonFieldsProductionMachineLineId: -1,
    uploadbtn: true,
    attachdialog: false,

    dialog: false,
    subloader: false,
    editedIndex: -1,
    qualifiedDateDue: false,
    search: "",
    gridItems: [],
    capacityUnitsItems: [],
    enableAddButton: true,
    commonFieldsProductionMachineId: -1,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    editedItem: {
      commonFieldsProductionMachineLineId: -1,
      commonFieldsProductionMachineId: -1,
      qualifiedDate: "",
      frequencyOfRequalificationYear: "",
      minCapacity: "",
      maxCapacity: "",
      preferCapacity: "",
      capacityUnitsId: null,
      qualificationNotes: "",
      recommendedManpower: "",
      statusCodeID: 1,
      addedByUserID: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
    },
    uploadedFiles: [],
    uploadedFileNames: [],
    uploadedAttachment: new FormData(),
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      { text: "Qualified Date", value: "qualifiedDate", align: "left" },
      {
        text: "Frequency of re-qualification/year",
        value: "frequencyOfRequalificationYear",
        align: "left",
      },
      { text: "Min Capacity", value: "minCapacity", align: "left" },
      { text: "Max Capacity", value: "maxCapacity", align: "left" },
      { text: "Prefer Capacity", value: "preferCapacity", align: "left" },
      { text: "Capacity Units", value: "capacityUnitsName", align: "left" },
      {
        text: "Recommended Manpower",
        value: "recommendedManpower",
        align: "left",
      },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "Qualified Date": "qualifiedDate",
      "Frequency of re-qualification/year": "frequencyOfRequalificationYear",
      "Min Capacity": "minCapacity",
      "Max Capacity": "maxCapacity",
      "Prefer Capacity": "preferCapacity",
      "Capacity Units": "capacityUnitsName",
      "Recommended Manpower": "recommendedManpower",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Qualification of Machine"
        : "Edit Qualification of Machine";
    },
    qualifiedDateDateFormated() {
      return this.editedItem.qualifiedDate
        ? moment(this.editedItem.qualifiedDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      this.subloader = true;
      getCommonFieldsProductionMachineLine(this.commonFieldsProductionMachineId)
        .then((response) => {
          this.gridItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    checkClassificationPermission(permissionCode) {
      return isClassificationPermission(permissionCode, this.$store);
    },
    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item.sessionId);
      this.sessionId = item.sessionId;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    // getMachineDocuments() {
    //   this.uploadedFiles = [];
    //   this.uploadedFileNames = [];
    //   this.uploadedAttachment = new FormData();
    //   this.$refs.upformUpload.clear();
    //   getMachineDocument(this.editedItem.sessionId)
    //     .then((response) => {
    //       this.uploadedFileNames = response.data;
    //     })
    //     .catch((error) => {
    //       window.getApp.$emit("APP_API_ERROR", error);
    //     });
    // },
    // removeFile(item) {
    //   this.$refs.upformUpload.clear();
    //   this.uploadedAttachment.delete("file");
    //   let index = this.uploadedFileNames.indexOf(item);
    //   this.uploadedFileNames.splice(index, 1);
    //   if (item.machineDocumentId != undefined) {
    //     deleteMachineDocument(item.machineDocumentId)
    //       .then((response) => {})
    //       .catch((error) => {});
    //   }
    // },
    // fileChanged(args) {
    //   if (args != undefined) {
    //     Array.from(args).forEach((file) => {
    //       let fileSize = file.size / 1000000;
    //       if (fileSize <= 100) {
    //         this.uploadedFileNames.push({ fileName: file.name });
    //         this.uploadedAttachment.append("file", file, file.name);
    //       } else {
    //         window.getApp.$emit(
    //           "APP_API_VAL",
    //           file.name + " - File size exceeded 100MB"
    //         );
    //       }
    //     });
    //   }
    // },
    // downloadFile(item) {
    //   this.subloader = true;
    //   downloadMachineDocument(item.machineDocumentId)
    //     .then((response) => {
    //       let blob = new Blob([response.data], {
    //         type: item.contentType,
    //       });
    //       let link = document.createElement("a");
    //       link.download = item.fileName;
    //       link.href = window.URL.createObjectURL(blob);
    //       link.click();
    //       this.subloader = false;
    //     })
    //     .catch((error) => {
    //       this.subloader = false;
    //       window.getApp.$emit("APP_API_ERROR", error);
    //     });
    // },

    clearablequalifiedDate() {
      this.editedItem.qualifiedDate = null;
    },
    loadDropdownList() {
      getApplicationMasterDetailByType(225)
        .then((response) => {
          this.capacityUnitsItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.commonFieldsProductionMachineLineId = this.editedItem.commonFieldsProductionMachineLineId;
      this.sessionId = this.editedItem.sessionId;
      this.uploadbtn = false;
      // commonFieldsProductionMachineLineId

      //this.getMachineDocuments();
      setTimeout(() => {
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.add();
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.loadDropdownList();
      this.uploadbtn = true;
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.commonFieldsProductionMachineLineId = -1;
      this.editedItem.qualifiedDate = "";
      this.editedItem.frequencyOfRequalificationYear = "";
      this.editedItem.minCapacity = "";
      this.editedItem.maxCapacity = "";
      this.editedItem.preferCapacity = "";
      this.editedItem.capacityUnitsId = null;
      this.editedItem.qualificationNotes = "";
      this.editedItem.recommendedManpower = "";
      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = "";
      this.editedItem.addedDate = "";
      this.editedItem.modifiedByUserID = "";
      this.editedItem.modifiedDate = "";
      this.editedItem.sessionId = null;
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      this.uploadedAttachment = new FormData();
      // this.$refs.upformUpload.clear();
    },
    openPopup() {
      this.dialog = true;
      this.add();
    },
    save() {
      this.editedItem.commonFieldsProductionMachineId = this.commonFieldsProductionMachineId;
      if (this.$refs.productLineform.validate()) {
        this.subloader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          updateCommonFieldsProductionMachineLine(this.editedItem)
            .then((response) => {
              // uploadMachineDocuments(
              // this.uploadedAttachment,
              //  response.data.sessionId
              // ).then((responses) => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              //   this.getMachineDocuments();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
              // });
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();

          createCommonFieldsProductionMachineLine(this.editedItem)
            .then((response) => {
              //  uploadMachineDocuments(
              //   this.uploadedAttachment,
              //   response.data.sessionId
              //  ).then((responses) => {
              this.gridItems.push(response.data);
              this.subloader = false;
              this.editedItem.commonFieldsProductionMachineLineId =
                response.data.commonFieldsProductionMachineLineId;
              let index = this.gridItems
                .map((item) => item.commonFieldsProductionMachineLineId)
                .indexOf(response.data.commonFieldsProductionMachineLineId);
              this.editedIndex = index;
              this.editedItem.sessionId = response.data.sessionId;
              this.sessionId = response.data.sessionId;
              this.commonFieldsProductionMachineLineId =
                response.data.commonFieldsProductionMachineLineId;
              this.uploadbtn = false;
              // this.getMachineDocuments();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
              // });
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.commonFieldsProductionMachineLineId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteCommonFieldsProductionMachineLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>
<style lang="stylus" scoped>
.company--scroll {
  overflow: auto;
  height: calc(100vh - 110px - 60px);
}
</style>