<template>
  <div id="page-forms">
    <v-card>
      <v-toolbar flat color="white" v-if="isForm">
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
        <v-spacer></v-spacer>
        <v-tooltip bottom v-if="isForm">
          <v-btn slot="activator" color="primary" icon flat @click.native="openDialog" >
            <v-icon icon>add_circle_outline</v-icon>
          </v-btn>
          <span>Add</span>
        </v-tooltip>
        <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Item Classification.xls">
          <v-btn icon>
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>

        <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>

        <v-dialog v-model="dialog" fullscreen>
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
              <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="saveAndClose" :loading="loader">
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
                <span>Save and Close</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="save" :loading="loader">
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="add" :loading="loader" v-show="checkClassificationPermission(102)">
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Create New Company Listing</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="deleterow" :loading="loader" v-show="checkClassificationPermission(104)">
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete</span>
              </v-tooltip>
              <!-- <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="first"
              >
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="previous"
              >

                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="next"
              >
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="last"
              >
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
              </v-tooltip>-->

              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
            </v-toolbar>

            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.companyListingName" prepend-icon="select_all" label="Company Name"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6>
                      <v-autocomplete :loading="loader" chips flat label="Company Type" prepend-icon="assistant" :items="companyTypeItems" v-model="editedItem.companyTypeIds" color="blue" item-text="value" item-value="applicationMasterDetailId" multiple :search-input.sync="searchCompanyType" @change="selectcompanyType">
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeCompanyType(data.item)">{{ data.item.value }}</v-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                          </template>
                          <template v-else>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item.value"></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete :loading="loader" chips flat label="Company Code - Also known as" prepend-icon="assistant" :items="customerCodeItems" v-model="editedItem.customerCodeIds" color="blue" item-text="value" item-value="applicationMasterDetailId" multiple :search-input.sync="searchCustomerCode" @change="selectCustomerCode">
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeCustomerCode(data.item)">{{ data.item.value }}</v-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                          </template>
                          <template v-else>
                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item.value"></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field v-model="editedItem.profileName" label="ProfileName" readonly prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex lg6 sm6>
                      <v-text-field label="Profile Reference No" prepend-icon="category" v-model="editedItem.profileReferenceNo" required readonly></v-text-field>
                    </v-flex>
                    <v-flex lg6 sm6>
                      <v-checkbox color="primary" v-model="editedItem.isNonTransaction" label="Is Non Transaction"></v-checkbox>
                    </v-flex>
                    <v-flex xs12 sm6 v-if="editedItem.isNonTransaction">
                      <v-autocomplete label="Transaction Customer" prepend-icon="notes" v-model="editedItem.linkNonTransactionCompanyId" :items="companyListingsNonTransactions" item-text="companyListingName" item-value="companyListingID" chips></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <company-listing-line ref="refCompanyListingLine" v-show="checkClassificationPermission(106)"></company-listing-line>
                    </v-flex>
                    <v-flex xs12>
                      <dynamic-load-form ref="refDynamicLoadForm"></dynamic-load-form>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-card-text>
            </div>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem"></delete-confirmation-dialog>
      <app-section-loader :status="loader"></app-section-loader>
      <app-section-loader :status="subloader"></app-section-loader>
      <v-dialog v-model="dynamicreportdialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click.native="expandAll">
                <v-icon color="white">expand_more</v-icon>
              </v-btn>
              <span>Expand</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click.native="collapsAll">
                <v-icon color="white">expand_less</v-icon>
              </v-btn>
              <span>Collaps</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click="printPage">
                <v-icon color="white">print</v-icon>
              </v-btn>
              <span>Print this page</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click.native="closeReports">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <dynamic-reports ref="dynamicReport"></dynamic-reports>
        </v-card>
      </v-dialog>
      <v-data-table v-if="isForm" :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="companyListingId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <tr @dblclick="editItem(props.item)">
            <td class="text-xs-left">{{ props.item.profileName }}</td>
            <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td>
            <td class="text-xs-left">{{ props.item.companyListingName }}</td>
            <td class="text-xs-left">{{ props.item.customerCode }}</td>
            <td class="text-xs-left">{{ props.item.statusCode }}</td>
            <td class="text-xs-left">
              {{ props.item.modifiedByUser == null ? props.item.addedByUser : props.item.modifiedByUser }}
            </td>
            <td class="text-xs-left">
              {{ props.item.modifiedDate == null ? props.item.addedDate : props.item.modifiedDate | formatDate }}
            </td>

            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="viewReport(props.item)">notes</v-icon>
              <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(103)">edit</v-icon>
              <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(104)">delete</v-icon>
            </td>
          </tr>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
  import router from "vue-router";
  import DynamicLoadForm from "@/pages/itemClassificationForm/DynamicLoadForm";
  import GlobalMessage from "@/constant";
  import { getDocumentProfileItems } from "@/api/documentProfile";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import Util from "@/util";
  //import ClassificationTabform from '@/pages/itemClassification/itemClassificationTab';
  import { getDocumentProfiles } from "@/api/documentProfile";
  import DynamicReports from "@/pages/itemClassificationForm/DynamicReports";
  import moment from "moment";
  import {
    getItemClassificationByID,
    getItemClassificationTree,
  } from "@/api/itemClassification";
  import CompanyListingLine from "@/pages/itemClassificationForm/CompanyListingLine.vue";
  import {
    getCompanyListingsByRefNo,
    createCompanyListing,
    updateCompanyListing,
    deleteCompanyListing,
    getCompanyListingsForNonTransactions,
  } from "@/api/companyListing";
  import { isClassificationPermission } from "@/api/checkPermission";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  export default {
    components: {
      DynamicLoadForm,
      CompanyListingLine,
      DynamicReports,
    },
    name: "Page2",
    data: () => ({
      totalRows: 0,
      loading: false,
      dynamicreportdialog: false,
      itemsData: [],
      gridItems: [],
      search: "",
      loader: false,
      dialog: false,
      classificationID: 0,
      itemClassificationformstatus: false,
      searchTo: "",
      searchdiscussionTo: "",
      itemClassificationtreeItems: [],
      classificationItems: [],
      scrollSettings: {
        maxScrollbarLength: 130,
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      editedIndex: -1,
      editdialog: false,
      treedrawer: false,
      loader: false,
      hasPermission: false,
      classificationdialog: false,
      subclassificationdialog: false,
      active: [],
      UOMItems: [],
      profileItems: [],
      materialItems: [],
      taskdetailsloader: false,
      isNotes: false,
      subTaskitems: [],
      isRead: true,
      isDelete: true,
      isEdit: true,
      itemClassificationID: null,
      mainClassificationID: null,
      paerntID: -1,
      viewList: "list",
      profileReferenceNo: "",
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 },
        { text: "Partial Entry", value: 2421 },
      ],
      panel: [],
      companyTypeItems: [],
      customerCodeItems: [],
      editedItem: {
        valid: false,
        isFrom: false,
        companyListingID: -1,
        itemClassificationMasterId: null,
        dosageFormId: null,
        manufacturingProcessId: null,
        statusCodeID: 1,
        addedByUserID: "",
        addedDate: "",
        modifiedByUserID: "",
        modifiedDate: "",
        profileReferenceNo: "",
        companyListingName: "",
        companyTypeIds: [],
        customerCodeIds: [],
        linkNonTransactionCompanyId: null,
        isNonTransaction: false,
      },
      filterFields: [
        "Profile.Name",
        "ProfileReferenceNo",
        "CompanyName",
        "StatusCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
      ],
      headers: [
        { text: "Profile Name", value: "profileName", align: "left" },
        { text: "Profile No", value: "profileReferenceNo", align: "left" },
        { text: "Company Name", value: "companyListingName", align: "left" },
        { text: "Customer Code", value: "customerCode", align: "left", sortable: false, },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      json_fields: {
        "Profile Name": "profileName",
        "Profile No": "profileReferenceNo",
        "Company Name": "companyListingName",
        "Customer Code": "customerCode",
        Status: "statusCode",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser",
        "Modified Date": "modifiedDate",
      },
      formEditdata: {
        itemClassificationID: -1,
        itemClassificationMasterId: null,
        parentID: null,
        mainClassificationID: null,
        name: "",
        description: "",
        dosageFormName: "",
        isForm: false,
        formID: null,
        profileID: null,
        profileName: "",
        addedByUserID: null,
        addedDate: new Date().toISOString().substr(0, 10),
        addedByUser: "",
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserID: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        profileReferenceNo: "",
        customerCodeIds: [],
        linkNonTransactionCompanyId: null,
        isNonTransaction: false,
      },
      loader: false,
      subtasktriggered: false,
      readonlyTask: false,
      selectedTask: [],
      userId: -1,
      userItems: [],
      subloader: false,
      goBackText: "",
      searchCompanyType: "",
      searchCustomerCode: "",
      companyListingsNonTransactions: [],
    }),
    created () {
      this.userId = Number(this.$store.state.auth.userId);
      this.itemClassificationID = Number(this.$route.query.itemClassificationID);
      this.mainClassificationID = Number(this.$route.query.id);
      //this.editedItem.profileID = Number(this.$route.query.profileID);
      //this.editedItem.profileName = this.$route.query.profileName;
      //this.profileReferenceNo = this.$route.query.profileReferenceNo;
      this.isForm = this.$route.query.isForm;
      this.isEdit = this.$route.query.isEdit;
      this.goBackText = this.$route.query.goback;

      this.actionButton = true;
      this.initialize();

      // this.getPerTag();
    },
    beforeDestroy () {
      window.getApp.$off("ITEMLOAD");
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Company Listing"
          : "Edit Company Listing";
      },
      GenericNameRules () {
        return [(v) => !!v || "This field is required"];
      },
      computeHeight () {
        return {
          height: this.height || "",
        };
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
      selected () {
        if (!this.active.length) {
          if (this.itemClassificationID > 0) {
            this.active.push(this.itemClassificationID);
          } else {
            return undefined;
          }
        }
        const id = this.itemClassificationID;
        let editdata = this.classificationItems.find(
          (classification) => classification.itemClassificationID == id
        );

        let index = this.classificationItems
          .map((item) => item.itemClassificationID)
          .indexOf(id);
        this.editedIndex = index;
        this.formEditdata = editdata;
        this.editDetails(this.formEditdata);
        //this.treedrawer = true;
      },
      items () {
        return this.itemClassificationtreeItems;
      },
    },

    mounted () {
      //this.messageTabCall();
    },

    methods: {
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      formatDate (date) {
        let month = `${date.getMonth() + 1}`;
        let day = `${date.getDate()}`;
        const year = date.getFullYear();

        if (month.length < 2) month = `0${month}`;
        if (day.length < 2) day = `0${day}`;

        return [year, month, day].join("-");
      },

      initialize () {
        if (this.mainClassificationID > 0) {
          this.loader = true;
          getApplicationMasterDetailByType(190)
            .then((response) => {
              this.companyTypeItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          getApplicationMasterDetailByType(267)
            .then((response) => {
              this.customerCodeItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          this.getItemClassificationById();
          /*  this.loader = true;
           getCompanyListingsByRefNo(this.itemClassificationID)
             .then((response) => {
               this.gridItems = response.data;
               this.loader = false;
             })
             .catch((error) => {
               this.loader = false;
               window.getApp.$emit("APP_API_ERROR", error);
             }); */
          this.loader = true;
          getCompanyListingsForNonTransactions()
            .then((response) => {
              this.companyListingsNonTransactions = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        search.userID = this.$store.state.auth.userId;
        search.masterTypeID = this.itemClassificationID;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = 1;
this.pagination.page=1;
        search.sortCol = "CompanyListingID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.userID = this.$store.state.auth.userId;
        search.methodName = "GetCompanyListingsByRefNo";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        search.userID = this.$store.state.auth.userId;
        if (args.sortBy == "profileName") {
          search.sortCol = "Profile.Name";
        } else if (args.sortBy == "profileReferenceNo") {
          search.sortCol = "ProfileReferenceNo";
        } else if (args.sortBy == "description") {
          search.sortCol = "Description";
        } else if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode.CodeValue";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        } else if (args.sortBy == "modifiedDate") {
          search.sortCol = "ModifiedDate";
        }
        else if (args.sortBy == "companyListingName") {
          search.sortCol = "CompanyName";
        }
        else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        }
        else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetCompanyListingsByRefNo";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      selectcompanyType () {
        this.searchCompanyType = "";
      },
      selectCustomerCode () {
        this.searchCustomerCode = "";
      },
      getItemClassificationById () {
        getItemClassificationByID(this.itemClassificationID)
          .then((response) => {
            if (response.data.length > 0) {
              this.loadFirstTree(response.data[0]);
            }
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      loadFirstTree (model) {
        if (model != undefined) {
          this.classificationID = model.itemClassificationID;
          this.itemClassificationID = model.itemClassificationID;
          this.editedItem.profileID = Number(model.profileID);
          this.editedItem.profileName = model.profileName;
          this.profileReferenceNo = model.profileReferenceNo;
          this.isForm = model.isForm;
          if (this.$refs.refDynamicLoadForm != undefined) {
            this.$refs.refDynamicLoadForm.items = model;
            this.$refs.refDynamicLoadForm.initialize();
          }
        }
        this.itemsData = model;
      },
      goBack () {
        var goback = this.$cookies.get("reload");
        this.$router.push({
          name: "classification/itemClassificationForm",
          query: { goback: goback },
        });
      },

      curNodeClicked (model) {
        /* if (this.classificationID != model.itemClassificationID) { */

        this.loadFirstTree(model);
        search.masterTypeID = model.itemClassificationID;
        this.loadPagingData();
        /*  this.subloader = true;
         getCompanyListingsByRefNo(model.itemClassificationID)
           .then((response) => {
             if (response != undefined && response.data != undefined) {
               this.gridItems = response.data;
               this.subloader = false;
             }
           })
           .catch((error) => {
             this.loader = false;
             window.getApp.$emit("APP_API_ERROR", error);
           }); */
        //}
      },
      opentree () {
        this.$vuetify.goTo(0);
        this.treedrawer = true;
      },
      openDialog () {
        this.dialog = true;
        this.add();
      },
      loadLines (status) {
        this.$refs.refCompanyListingLine.companyListingID = this.editedItem.companyListingID;
        this.$refs.refCompanyListingLine.enableAddButton = status;
        this.$refs.refCompanyListingLine.initialize();
        let items = [];
        if (this.editedItem.companyTypeIds.length > 0) {
          this.editedItem.companyTypeIds.forEach((h) => {
            let list = this.companyTypeItems.filter(
              (o) => o.applicationMasterDetailId == h
            );
            if (list.length > 0) {
              items.push(list[0].value.toLowerCase());
            }
          });
        }
        this.$route.query.companyType = items;
      },
      add () {
        this.editedItem.valid = false;
        this.editedItem.companyListingID = -1;
        this.editedItem.manufacturingProcessId = null;
        this.editedItem.dosageFormId = null;
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = "Active";
        this.editedItem.profileReferenceNo = null;
        this.editedItem.companyTypeIds = [];
        this.editedItem.companyListingName = "";
        this.editedItem.customerCodeIds = [];
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedIndex = -1;
        this.$route.query.profileReferenceNo = null;
        this.loadLines(true);
        this.$refs.refDynamicLoadForm.items = this.itemsData;
        this.$refs.refDynamicLoadForm.initialize();
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      close () {
        this.dialog = false;
        this.loadPagingData();
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      DeleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.companyListingID > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);

          deleteCompanyListing(this.editedItem)
            .then((response) => {
              this.loader = false;
              if (response != undefined) {
                this.selectedItem = null;
                this.gridItems.splice(index, 1);
                this.add();
                this.loadPagingData();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              }
            })
            .catch((error) => {
              this.loader = false;
              // window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      editItem (item) {
        this.$route.query.profileReferenceNo = item.profileReferenceNo;
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialog = true;
        this.loadLines(false);
        this.$refs.refDynamicLoadForm.items = this.itemsData;
        this.$refs.refDynamicLoadForm.initialize();
        this.$route.query.companyListing = item;
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          this.editedItem.profileID = this.itemsData.profileID;
          this.editedItem.itemClassificationMasterId = this.itemClassificationID;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updateCompanyListing(this.editedItem)
              .then((response) => {
                Object.assign(this.gridItems[index], response.data);
                this.editedItem = response.data;
                this.loader = false;
                this.loadLines(false);
                this.$refs.refDynamicLoadForm.initialize();
                this.$route.query.companyListing = this.editedItem;
                this.loadPagingData();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            createCompanyListing(this.editedItem)
              .then((response) => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.companyListingID = response.data.companyListingID;
                this.editedItem.profileReferenceNo =
                  response.data.profileReferenceNo;
                this.$route.query.profileReferenceNo =
                  response.data.profileReferenceNo;
                let index = this.gridItems
                  .map((item) => item.companyListingID)
                  .indexOf(response.data.companyListingID);
                this.editedIndex = index;
                this.loadLines(false);
                this.loadPagingData();
                this.$refs.refDynamicLoadForm.initialize();
                this.$route.query.companyListing = this.editedItem;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      removeCompanyType (item) {
        const index = this.editedItem.companyTypeIds.indexOf(
          item.applicationMasterDetailId
        );
        if (index >= 0) this.editedItem.companyTypeIds.splice(index, 1);
      },
      removeCustomerCode (item) {
        const index = this.editedItem.customerCodeIds.indexOf(
          item.applicationMasterDetailId
        );
        if (index >= 0) this.editedItem.customerCodeIds.splice(index, 1);
      },
      viewReport (item) {
        this.dynamicreportdialog = true;
        this.$refs.dynamicReport.dynamicParam = {
          itemClassificationMasterID: item.itemClassificationMasterId,
          profileReferenceNo: item.profileReferenceNo,
          itemClassificationTypeID: 1043,
          // itemClassificationID:
          itemId: item.companyListingID,
        };
        this.$refs.dynamicReport.initialize();
      },
      closeReports () {
        this.dynamicreportdialog = false;
      },
      expandAll () {
        this.panel = [];
        for (var prop in this.$refs.dynamicReport.reportItems) {
          this.$refs.dynamicReport.panel.push(true);
        }
        //this.panel = [...Array(this.taskAllItems).keys()].map(_ => true)
      },
      collapsAll () {
        this.$refs.dynamicReport.panel = [];
      },
      printPage () {
        this.expandAll();
        this.$refs.dynamicReport.printReport();
      },
    },
  };
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 70px - 60px);
   }
</style>