<template>
  <div>
    <v-tabs v-if="list.length>0" v-model="active" color="primary" dark slider-color="yellow">
      <v-tab v-for="item in list" :key="item.itemClassificationFormsID" ripple>{{ item.formName }}</v-tab>
      <v-tab-item v-for="item in list" :key="item.itemClassificationFormsID">
        <v-card flat>
          <keep-alive>
            <component :is="item.moduleName" :props="item"></component>
          </keep-alive>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>
<script>
  import { getItemForm } from "@/api/itemClassification";

  import dynamicComponents from "@/pages/itemClassificationForm/components";

  export default {
    mounted () {
      this.collection = dynamicComponents.initializeComponents();
    },
    data: () => ({
      viewCurrent: false,
      current: "",
      active: null,
      items: [],
      collection: [],
      list: []
    }),
    methods: {
      initialize () {
        this.list = [];
        var portalPermissions = this.$store.state.auth.classificationPermission.filter(o => o.screenId != null);
        getItemForm(this.items.itemClassificationID, this.$store.state.auth.userId)
          .then(response => {
            this.list = [];
            if (response.data.length > 0) {
              response.data.forEach(item => {
                var screenExits = portalPermissions.filter(o => o.screenId == item.screenID).length;
                if (screenExits > 0) {
                  if (item.moduleName == 'NavisionSpecification') {
                    this.$route.query.navSpecs = response.data[0]['moduleName'];
                  }
                  if (this.collection.indexOf(item.moduleName) !== -1) {
                    this.list.push(item);
                  }
                }
                else {
                  if (item.moduleName.toLowerCase() == "underconstruction") {
                    this.list.push(item);
                  }
                }
              });
            }
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  };
</script>

