<template>
  <div>
    <v-toolbar class="elevation-0 transparent media-toolbar">
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="json_items" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Item Classification.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
    </v-toolbar>
    <v-divider></v-divider>
    <v-data-table :headers="headers" :items="items" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="commonPackagingItemId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination" loading-text="Loading... Please wait">
      <template slot="items" slot-scope="myprops">
        <td v-for="header in headers">{{ header.value=='modifiedDate'?(formatDate(myprops.item[header.value])):myprops.item[header.value] }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="viewReport(myprops.item)">notes</v-icon>
        </td>
      </template>
    </v-data-table>
    <v-dialog v-model="dynamicreportdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="expandAll">
              <v-icon color="white">expand_more</v-icon>
            </v-btn>
            <span>Expand</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="collapsAll">
              <v-icon color="white">expand_less</v-icon>
            </v-btn>
            <span>Collaps</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click="printPage">
              <v-icon color="white">print</v-icon>
            </v-btn>
            <span>Print this page</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="closeReports">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <dynamic-reports ref="dynamicReport"></dynamic-reports>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import { getClassificationList } from "@/api/itemClassification";
  import moment from "moment";
  import DynamicReports from "@/pages/itemClassificationForm/DynamicReports";
  export default {
    data: () => ({
      headers: [],
      items: [],
      loader: false,
      totalRows: 0,
      loading: false,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      json_fields: [],
      json_headers:[],
      json_items:[],
      filterFields: [
        "ProfileReferenceNo",
        "AlsoKownAs",
        "StatusCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
      ],
      dynamicreportdialog: false
    }),
    mainSearchParam: {
      classificationTypeId: -1,
      classificationId: -1,
    },
    components: {
      DynamicReports
    },

    created () { },
    methods: {
      initialize (refSearchParam) {
        this.loader = true;
        this.mainSearchParam = refSearchParam;
        this.loadPagingData();
        getClassificationList(refSearchParam)
          .then(response => {
            this.json_fields = response.data.jsonFields;
            this.json_headers = response.data.headers;
            this.json_items = response.data.dynamicListItems;

            //console.log(response.data);
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        search.userID = this.$store.state.auth.userId;
        search.classificationTypeId = this.mainSearchParam.classificationTypeId;
        search.classificationId = this.mainSearchParam.classificationId;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
         search.pageCount = 1;
this.pagination.page=1;
        search.sortCol = "ItemClassificationMasterID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.userID = this.$store.state.auth.userId;
        search.classificationTypeId = this.mainSearchParam.classificationTypeId;
        search.classificationId = this.mainSearchParam.classificationId;
        search.methodName = "GetClassificationList";
        this.loading = true;
        getData(search)
          .then((response) => {
            this.headers = [];
            this.items = [];
            if (response.data.code == 200) {
              if (response.data.result.length > 0) {
                this.headers = response.data.result[0].headers;
                this.items = response.data.result[0].dynamicListItems;
              }
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        search.userID = this.$store.state.auth.userId;
        if (args.sortBy == "profileReferenceNo") {
          search.sortCol = "ProfileReferenceNo";
        } else if (args.sortBy == "description") {
          search.sortCol = "Description";
        } else if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode.CodeValue";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        } else if (args.sortBy == "modifiedDate") {
          search.sortCol = "ModifiedDate";
        }
        else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        }
        else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetClassificationList";
        this.loading = true;
        getData(search)
          .then((response) => {
            this.headers = [];
            this.items = [];
            if (response.data.code == 200) {
              if (response.data.result.length > 0) {
                this.headers = response.data.result[0].headers;
                this.items = response.data.result[0].dynamicListItems;
              }
              this.totalRows = response.data.pagination.totalPages;

            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      viewReport (item) {
        this.dynamicreportdialog = true;
        this.$refs.dynamicReport.dynamicParam = {
          itemClassificationMasterID: item.itemClassificationMasterId,
          profileReferenceNo: item.profileReferenceNo,
          itemClassificationTypeID: this.mainSearchParam.classificationTypeId,
          itemClassificationID: this.mainSearchParam.classificationId,
          itemId: item.commonPackagingItemId
        };
        this.$refs.dynamicReport.headerItem = item;
        this.$refs.dynamicReport.initialize();
      },
      closeReports () {
        this.dynamicreportdialog = false;
      },
      expandAll () {
        this.panel = [];
        for (var prop in this.$refs.dynamicReport.reportItems) {
          this.$refs.dynamicReport.panel.push(true);
        }
      },
      collapsAll () {
        this.$refs.dynamicReport.panel = [];
      },
      printPage () {
        this.expandAll();
        this.$refs.dynamicReport.printReport();
      },
      formatDate (value) {
        return moment(value).format("DD-MMM-YYYY");
      }
    }
  };
</script>
