<template>
  <div>
    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
    <div class=".reports--scrollbar">
      <v-card-text>
        <div id="printMe">
          <!-- <tree-menu :nodes="taskAllItems"></tree-menu> -->
          <app-section-loader :status="loader"></app-section-loader>

          <v-expansion-panel v-model="panel" expand>
            <v-expansion-panel-content v-for="(item,i) in reportItems" :key="i">
              <div slot="header">{{ item.headerName }}</div>

              <v-card>
                <v-card-text class="grey lighten-3">
                  <v-flex lg12>
                    <v-data-table :headers="item.headers" :items="item.dynamicModels" hide-actions>
                      <template slot="items" slot-scope="props">
                        <td v-for="(header,j) in item.headers" :key="j">
                          <span v-if="checkisDate(header)">{{ props.item[header.value] | formatDate }}</span>
                          <span v-else>{{ props.item[header.value] }}</span>
                        </td>
                      </template>
                    </v-data-table>
                  </v-flex>
                </v-card-text>
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </div>
      </v-card-text>
    </div>
  </div>
</template>

<script>
  import GlobalMessage from "@/constant";
  import { getFPReports } from "@/api/fpCommonField";
  import { getCommonPackageReports } from "@/api/CommonPackagingItemHeader";
  import { getCompanyReports } from "@/api/companyListing";
  import moment from "moment";
  export default {
    data: () => ({
      formTitle: "Reports",
      dynamicParam: {
        itemClassificationMasterID: null,
        profileReferenceNo: "",
        itemId: null,
        itemClassificationTypeID: null,
        itemClassificationID: null,
        userId:null,
      },
      headerItem: null,
      reportItems: [],
      panel: [],
      loader: false
    }),
    created () { },
    methods: {
      checkisDate (args) {
        if (args.text.includes("Date")) return true;
        else return false;
      },
      initialize () {
        this.dynamicParam.userId=this.$store.state.auth.userId;
        console.log(this.dynamicParam);
        this.loader = true;
        this.reportItems = [];
        if (this.dynamicParam.itemClassificationTypeID == 1041) {

          //this.dynamicParam.itemId=this.headerItem.commonPackagingItemId;
          getCommonPackageReports(this.dynamicParam)
            .then(response => {
              this.reportItems = response.data;

              this.loader = false;
            })
            .catch(error => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        if (this.classificationTypeId == 1040) {
        }
        if (this.classificationTypeId == 1042) {
          getFPReports(this.dynamicParam.dynamicParam)
            .then(response => {
              this.reportItems = response.data;
              this.loader = false;
            })
            .catch(error => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        if (this.dynamicParam.itemClassificationTypeID == 1043) {
          getCompanyReports(this.dynamicParam)
            .then(response => {
              this.reportItems = response.data;
              this.loader = false;
            })
            .catch(error => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        if (this.classificationTypeId == 1044) {
        }
        if (this.classificationTypeId == 1045) {
        }
      },
      printReport () {
        setTimeout(() => {
          this.$htmlToPaper("printMe");
        }, 400);
      }
    }
  };
</script>

<style>
  .reports--scrollbar {
    overflow: auto;
    height: calc(100vh - 60px);
  }
</style>