<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Registration Variation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New IC Master Operation</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 sm6>
                      <v-autocomplete
                        :loading="loader"
                        chips
                        cache-items
                        flat
                        placeholder="Manufacturing Steps"
                        prepend-icon="assistant"
                        :items="manufacturingStepsItems"
                        v-model="editedItem.manufacturingStepsId"
                        label="Manufacturing Steps"
                        color="blue"
                        item-text="manufacturingStepsName"
                        item-value="commonProcessLineId"
                        :rules="countryRules"
                      ></v-autocomplete>
                    </v-flex>
                    <!-- <v-flex xs12 sm6>
                                            <v-textarea v-model="editedItem.masterOperation" label="Master Operation" prepend-icon="description">
                                            </v-textarea>

                    </v-flex>-->
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.wiLink"
                        label="WI"
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <div>Training</div>
                      <v-radio-group v-model="editedItem.trainingFlag" row>
                        <v-radio label="Yes" value="1"></v-radio>
                        <v-radio label="No" value="0"></v-radio>
                      </v-radio-group>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete
                        label="Status"
                        prepend-icon="notes"
                        v-model="editedItem.statusCodeID"
                        :items="statusOptions"
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="DeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="icmasterOperationId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.manufacturingStepsName }}</td>
          <td class="text-xs-left">{{ props.item.masterOperation }}</td>
          <td class="text-xs-left">{{ (props.item.trainingFlag==1)?'Yes':'No'}}</td>
          <td class="text-xs-left">{{ props.item.wiLink }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td
            class="text-xs-left"
          >{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td
            class="text-xs-left"
          >{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
  import {
    getCommonProcessLineItems,
    getIcmasterOperation,
    getData,
    createIcmasterOperation,
    updateIcmasterOperation,
    deleteIcmasterOperation
  } from "@/api/icmasterOperation";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import moment from "moment";
  import GlobalMessage from "@/constant";
  export default {
    components: {},
    data: () => ({
      dialog: false,
      loader: false,
      search: "",
      registerationStatusItem: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      timeout: 2000,
      y: "top",

      headers: [
        {
          text: "Manufacturing Steps Name",
          value: "manufacturingStepsName",
          align: "left"
        },
        { text: "Master Operation", value: "masterOperation", align: "left" },
        { text: "Training", value: "training", align: "left" },
        { text: "WI Link", value: "wiLink", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" }
      ],
      json_fields: {
        "Registeration Status": "manufacturingStepsName",
        "Register Country": "masterOperation",
        "Product Category": "training",
        "Variation Code": "wiLink",
        Status: "statusCode",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser",
        "Modified Date": "modifiedDate"
      },
      gridItems: [],
      editedIndex: -1,
      selectedItem: null,
      searchVariationTypeTag: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      manufacturingStepsItems: [],
      registrationClassificationItems: [],
      registrationVariationCodeItems: [],
      registrationVariationTypeItems: [],
      registrationVariationcategoryItems: [],
      editedItem: {
        valid: false,
        icmasterOperationId: -1,
        manufacturingStepsId: null,
        wiLink: "",
        masterOperation: "",
        trainingFlag: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10)
      },
      defaultItem: {
        valid: false,
        icmasterOperationId: -1,
        manufacturingStepsId: null,
        wiLink: "",
        masterOperation: "",
        trainingFlag: "",
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10)
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),

    computed: {
      formTitle() {
        return this.editedIndex === -1
          ? "Add IC Master Operation"
          : "Edit IC Master Operation";
      },
      countryRules() {
        return [v => !!v || "Country Name is required"];
      },
      RegistrationRules() {
        return [v => !!v || "Registartion Status is required"];
      }
    },

    created() {
      this.initialize();
    },

    methods: {
      initialize() {
        this.loader = true;
        getIcmasterOperation("")
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      selectVariationTypeTag() {
        this.searchVariationTypeTag = "";
      },
      removeVariationType(item) {
        const index = this.editedItem.registrationVariationTypeId.indexOf(
          item.applicationMasterDetailId
        );
        if (index >= 0)
          this.editedItem.registrationVariationTypeId.splice(index, 1);
      },
      changeVariationCode() {
        this.editedItem.masterOperation = "";
        if (this.editedItem.registrationVariationCodeId) {
          let list = this.registrationVariationCodeItems.filter(
            o =>
              o.applicationMasterDetailId ==
              this.editedItem.registrationVariationCodeId
          );
          if (list.length > 0) {
            this.editedItem.masterOperation = list[0].description;
          }
        }
      },
      loadDropdownList() {
        getCommonProcessLineItems()
          .then(response => {
            this.manufacturingStepsItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      deleterow() {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      editItem(item) {
        this.loadDropdownList();
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialog = true;
      },
      onDeleteItem(item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      DeleteItem() {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.icmasterOperationId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);

          deleteIcmasterOperation(this.editedItem)
            .then(() => {
              this.loader = false;
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },

      saveAndClose() {
        this.save();
        this.close();
      },
      toolfunction() {
        getData(this.searchItem)
          .then(response => {
            if (response.data.icmasterOperationId != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.icmasterOperationId)
                .indexOf(response.data.icmasterOperationId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      first() {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.icmasterOperationId;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last() {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.icmasterOperationId;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous() {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.icmasterOperationId;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next() {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.icmasterOperationId;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add() {
        this.loadDropdownList();
        this.editedItem.valid = false;
        (this.editedItem.icmasterOperationId = -1),
          (this.editedItem.manufacturingStepsId = null);
        this.editedItem.wiLink = "";
        this.editedItem.masterOperation = "";
        this.editedItem.trainingFlag = "";
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = "Active";
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedIndex = -1;
      },
      close() {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save() {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updateIcmasterOperation(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.editedItem = response.data;
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserId = this.$store.state.auth.userId;

            createIcmasterOperation(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.icmasterOperationId =
                  response.data.icmasterOperationId;
                let index = this.gridItems
                  .map(item => item.icmasterOperationId)
                  .indexOf(response.data.icmasterOperationId);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      }
    }
  };
</script>
<style lang="stylus" scoped>
  .task-sub--scroll {
    overflow: auto;
    height: calc(100vh - 155px - 60px);
  }

  .chat-room--scrollbartree {
    overflow: auto;
    height: calc(100vh - 70px);
  }

  .taskDetails--scrollbar {
    overflow: auto;
    height: calc(100vh - 60px);
  }
</style>