<template>
  <div id="page-forms">
    <v-card>
      <v-toolbar card dense color="transperent">
        <v-tooltip bottom>
          <v-btn icon slot="activator" flat color="primary" @click.native="opentree">
            <v-icon>timeline</v-icon>
          </v-btn>
          <span>Item Classification Tree</span>
        </v-tooltip>

        <v-spacer></v-spacer>

        <v-tooltip bottom>
          <v-btn icon color="primary" slot="activator" flat @click="goBack">
            <v-icon icon>reply</v-icon>
          </v-btn>
          <span>Go Back</span>
        </v-tooltip>
      </v-toolbar>
      <v-navigation-drawer class="setting-drawer" temporary left v-model="treedrawer" hide-overlay fixed width="400px" :loding="loader">
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Item Classification Tree</v-toolbar-title>
        </v-toolbar>

        <div style="overflow:auto;height:calc(100vh - 70px)">
          <v-container>
            <v-layout column>
              <app-section-loader :status="loader"></app-section-loader>
              <vue-drag-tree :data="items" @current-node-clicked="curNodeClicked" :disableDBClick="true" :expandAll="true" :active="itemClassificationID"></vue-drag-tree>
            </v-layout>
          </v-container>
          <!-- </vue-perfect-scrollbar> -->
        </div>
      </v-navigation-drawer>
      <common-packaging-item ref="referenceCommonItem" v-if="commonPackagingItemFlag"></common-packaging-item>
      <material-load-form ref="referenceMaterialItem" v-if="materialFormFlag"></material-load-form>
      <fp-item ref="refFinishedProduct" v-if="finishedPorductFlag"></fp-item>
      <common-process ref="refCommonProcess" v-if="commonProcessFlag"></common-process>
      <common-fields-production-machine ref="CommonFieldsProductionMachine" v-if="productionMachineFlag"></common-fields-production-machine>
      <company-listing ref="refcompanyListing" v-if="companyListingFlag"></company-listing>
      <common-master-tooling ref="refCommonMasterTooling" v-if="commonMasterToolingFlag"></common-master-tooling>
      <dynamic-classification-list ref="refDynamicReports" v-if="dynamicCommonPackagingListFlag"></dynamic-classification-list>
      <transport-classification ref="refTransportClassification" v-if="transportClassificationFlag"></transport-classification>
      <f-p-drug-classification ref="refFPDrugClassification" v-if="fPDrugClassificationFlag"></f-p-drug-classification>
      <handling-of-shipment ref="refhandlingOfShipment" v-if="handlingOfShipmentFlag"></handling-of-shipment>
      <classification-production ref="refClassificationProduction" v-if="classificationProductionFlag"></classification-production>
      <classification-b-m-r ref="refClassificationBMR" v-if="classificationBMRFlag"></classification-b-m-r>
      <m-e-d-catalog ref="refMEDCatalog" v-if="medCatalogFlag"></m-e-d-catalog>
      <production-activity-classification ref="refProductionActivityClassification" v-if="productionActivityClassificationFlag"></production-activity-classification>
    </v-card>
  </div>
</template>
<script>
  import CommonPackagingItem from "@/pages/itemClassificationForm/CommonPackagingItem";
  import MaterialLoadForm from "@/pages/itemClassificationForm/MaterialForm";
  import FpItem from "@/pages/itemClassificationForm/FPItemForm";
  import CommonProcess from "@/pages/itemClassificationForm/CommonProcess";
  import CommonFieldsProductionMachine from "@/pages/itemClassificationForm/CommonFieldsProductionMachine";
  import CompanyListing from "@/pages/itemClassificationForm/CompanyListing";
  import CommonMasterTooling from "@/pages/itemClassificationForm/CommonMasterToolingClassification";
  import TransportClassification from "@/pages/itemClassificationForm/TransportClassification";
  import DynamicClassificationList from "@/pages/itemClassificationForm/DynamicClassificationList";
  import FPDrugClassification from "@/pages/itemClassificationForm/FPDrugClassification";
  import HandlingOfShipment from "@/pages/itemClassificationForm/HandlingOfShipment";
  import ClassificationProduction from "@/pages/itemClassificationForm/ClassificationProduction";
  import ClassificationBMR from "@/pages/itemClassificationForm/ClassificationBMR";
  import MEDCatalog from "@/pages/itemClassificationForm/MEDCatalog";
  import ProductionActivityClassification from "@/pages/itemClassificationForm/ProductionActivityClassification";
  import {
    getItemClassificationByID,
    getItemClassificationTree,
    getItemClassificationPermissionList
  } from "@/api/itemClassification";
  export default {
    components: {
      CommonPackagingItem,
      MaterialLoadForm,
      FpItem,
      CommonProcess,
      CommonFieldsProductionMachine,
      CompanyListing,
      DynamicClassificationList,
      CommonMasterTooling,
      TransportClassification,
      FPDrugClassification,
      HandlingOfShipment,
      ClassificationProduction,
      ClassificationBMR,
      MEDCatalog,
      ProductionActivityClassification
    },
    data: () => ({
      productionActivityClassificationFlag:false,
      classificationTypeId: -1,
      commonPackagingItemFlag: false,
      materialFormFlag: false,
      finishedPorductFlag: false,
      commonProcessFlag: false,
      productionMachineFlag: false,
      companyListingFlag: false,
      commonMasterToolingFlag: false,
      transportClassificationFlag: false,
      classificationProductionFlag: false,
      classificationBMRFlag: false,
      medCatalogFlag: false,
      treedrawer: false,
      loader: false,
      dynamicCommonPackagingListFlag: false,
      fPDrugClassificationFlag: false,
      handlingOfShipmentFlag: false,
      itemClassificationtreeItems: [],
      refSearchParam: { classificationTypeId: -1, classificationId: -1 },
    }),
    created () {
      this.userId = Number(this.$store.state.auth.userId);
      this.itemClassificationID = Number(this.$route.query.itemClassificationID);
      this.mainClassificationID = Number(this.$route.query.id);
      this.isForm = this.$route.query.isForm;
      this.isEdit = this.$route.query.isEdit;
      this.goBackText = this.$route.query.goback;
      this.initialize();
    },
    computed:
      {
        items () {
          return this.itemClassificationtreeItems;
        }
      },
    methods: {
      initialize () {
        if (this.mainClassificationID > 0) {
          this.loader = true;
          let userId = this.$store.state.auth.userId;
          let id = this.mainClassificationID;

          getItemClassificationTree(id, userId)
            .then(response3 => {
              if (response3.data != undefined && response3.data.length > 0) {
                this.itemClassificationtreeItems = response3.data;
              } else {
                if (this.$store.state.auth.userId > 0) {
                  window.getApp.$emit(
                    "APP_API_VAL",
                    "Looks like there is no more item available in this tree. wait while you will be redirected to item classification view list."
                  );
                  setTimeout(() => {
                    //   this.$router.push({ name: 'Task' });
                  }, 400);
                }
              }

              this.loader = false;
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          getItemClassificationPermissionList(id, userId)
            .then(response3 => {
              this.$store.state.auth.classificationPermission = response3.data
            })
            .catch(error => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      curNodeClicked (model) {

        this.classificationTypeId = model.classificationTypeId;
        this.materialFormFlag = false;
        this.commonPackagingItemFlag = false;
        this.finishedPorductFlag = false;
        this.commonProcessFlag = false;
        this.productionMachineFlag = false;
        this.companyListingFlag = false;
        this.commonMasterToolingFlag = false;
        this.dynamicCommonPackagingListFlag = false;
        this.transportClassificationFlag = false;
        this.fPDrugClassificationFlag = false;
        this.handlingOfShipmentFlag = false;
        this.classificationProductionFlag = false;
        this.classificationBMRFlag = false;
        this.medCatalogFlag = false;
        this.productionActivityClassificationFlag=false;
          this.$route.query.profileID = model.profileID;
        this.$route.query.profileName = model.profileName;
        if (model.isForm == false) {
          this.refSearchParam.classificationTypeId = model.classificationTypeId;
          this.refSearchParam.classificationId = model.itemClassificationID;
          if (this.classificationTypeId == 1041) {
            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {

              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1040) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1042) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1043) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1044) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1045) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1048) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1049) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1501) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1502) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          if (this.classificationTypeId == 1503) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          }
          /* if (this.classificationTypeId == 1504) {

            this.dynamicCommonPackagingListFlag = true;
            setTimeout(() => {
              this.$refs.refDynamicReports.initialize(this.refSearchParam);
            }, 500);
          } */
        }
        else {
          this.$route.query.classificationTypeId = model.classificationTypeId;
          this.$route.query.itemClassificationID = Number(model.itemClassificationID);
          this.$route.query.isForm = model.isForm;

          if (this.classificationTypeId == 1040) {
            this.materialFormFlag = true;
            setTimeout(() => {
              this.$refs.referenceMaterialItem.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1041) {
            this.commonPackagingItemFlag = true;
            setTimeout(() => {
              this.$refs.referenceCommonItem.curNodeClicked(model);
            }, 500);
          }
          if (this.classificationTypeId == 1042) {
            this.finishedPorductFlag = true;
            setTimeout(() => {
              this.$refs.refFinishedProduct.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1044) {
            this.commonProcessFlag = true;
            setTimeout(() => {
              this.$refs.refCommonProcess.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1045) {
            this.productionMachineFlag = true;
            setTimeout(() => {
              this.$refs.CommonFieldsProductionMachine.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1043) {
            this.companyListingFlag = true;
            setTimeout(() => {
              this.$refs.refcompanyListing.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1046) {
            this.commonMasterToolingFlag = true;
            setTimeout(() => {
              this.$refs.refCommonMasterTooling.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1048) {
            this.transportClassificationFlag = true;
            setTimeout(() => {
              this.$refs.refTransportClassification.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1049) {
            this.handlingOfShipmentFlag = true;
            setTimeout(() => {
              this.$refs.refhandlingOfShipment.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1501) {
            this.fPDrugClassificationFlag = true;
            setTimeout(() => {
              this.$refs.refFPDrugClassification.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1502) {
            this.classificationProductionFlag = true;
            setTimeout(() => {
              this.$refs.refClassificationProduction.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1503) {
            this.classificationBMRFlag = true;
            setTimeout(() => {
              this.$refs.refClassificationBMR.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1504) {
            this.medCatalogFlag = true;
            setTimeout(() => {
              this.$refs.refMEDCatalog.curNodeClicked(model);
            }, 400);
          }
          if (this.classificationTypeId == 1505) {
            this.productionActivityClassificationFlag = true;
            setTimeout(() => {
              this.$refs.refProductionActivityClassification.curNodeClicked(model);
            }, 400);
          }
          
        }
      },
      opentree () {
        this.$vuetify.goTo(0);
        this.treedrawer = true;
      },
      goBack () {
        var goback = this.$cookies.get("reload");
        this.$router.push({
          name: "classification/itemClassificationForm",
          query: { goback: goback }
        });
      },
    },
  };
</script>