<template>
  <div id="page-forms">
    <v-card>
      <v-toolbar flat color="white" v-if="isForm">
        <v-text-field
          v-model="search"
          prepend-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
        <v-tooltip bottom v-if="isForm">
          <v-btn
            slot="activator"
            color="primary"
            icon
            flat
            @click.native="openDialog"
            v-show="checkClassificationPermission(1301)"
          >
            <v-icon icon>add_circle_outline</v-icon>
          </v-btn>
          <span>Add</span>
        </v-tooltip>
        <download-excel
          class="btn btn-default"
          :data="gridItems"
          :fields="json_fields"
          worksheet="My Worksheet"
          type="csv"
          name="Item Classification.xls"
        >
          <v-btn icon>
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>

        <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>

        <v-dialog v-model="dialog" fullscreen>
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
              <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="saveAndClose"
                  :loading="loader"
                >
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
                <span>Save and Close</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="save"
                  :loading="loader"
                >
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="add"
                  :loading="loader"
                  v-show="checkClassificationPermission(1301)"
                >
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Create New Classification - MED Catalog</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleterow"
                  :loading="loader"
                  v-show="checkClassificationPermission(1303)"
                >
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete</span>
              </v-tooltip>
              <v-tooltip bottom :disabled="editedItem.sessionId == null">
                <v-btn
                  :disabled="editedItem.sessionId == null"
                  slot="activator"
                  flat
                  icon
                  color="primary"
                  @click="fileAttachment"
                >
                  <v-icon color="white">attach_file</v-icon>
                </v-btn>
                <span>Attach Files</span>
              </v-tooltip>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
            </v-toolbar>

            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                  <v-layout row wrap>
                    <v-flex xs12 sm9>
                      <v-layout row wrap>
                        <v-flex xs12 sm6>
                          <v-autocomplete
                            label="MED Group"
                            prepend-icon="invert_colors"
                            v-model="editedItem.groupId"
                            :items="groupItems"
                            :rules="GenericNameRules"
                            item-text="value"
                            item-value="applicationMasterDetailId"
                            chips
                            color="blue"
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-autocomplete
                            label="Category"
                            prepend-icon="invert_colors"
                            v-model="editedItem.categoryId"
                            :items="categoryItems"
                            :rules="GenericNameRules"
                            item-text="nameDescription"
                            item-value="applicationMasterDetailId"
                            chips
                            color="blue"
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-text-field
                            v-model="editedItem.name"
                            label="Name"
                            prepend-icon="description"
                            :rules="GenericNameRules"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-text-field
                            v-model="editedItem.categoryNo"
                            label="MED category No"
                            prepend-icon="description"
                            readonly
                          ></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm6>
                          <v-text-field
                            v-model="editedItem.description"
                            label="Description"
                            prepend-icon="description"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-autocomplete
                            label="Status"
                            prepend-icon="invert_colors"
                            v-model="editedItem.statusCodeID"
                            :items="statusOptions"
                            item-text="text"
                            item-value="value"
                            chips
                            color="blue"
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>
                          <v-text-field
                            v-model="editedItem.profileName"
                            label="ProfileName"
                            readonly
                            prepend-icon="select_all"
                          ></v-text-field>
                        </v-flex>
                        <v-flex lg6 sm6>
                          <v-text-field
                            label="Profile Reference No"
                            prepend-icon="category"
                            v-model="editedItem.profileReferenceNo"
                            required
                            readonly
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <dynamic-load-form
                            ref="refDynamicLoadForm"
                          ></dynamic-load-form>
                        </v-flex>
                        <!-- </vue-perfect-scrollbar> -->
                      </v-layout>
                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <img
                            @click="openphoto"
                            v-if="photoFlag"
                            style="height: 300px; width: 300px; cursor: pointer"
                            :src="editedItem.photoImage"
                            alt="Photo"
                          />
                        </v-flex>
                        <v-flex xs12 sm12>
                          <img
                            @click="openphoto"
                            v-if="!photoFlag"
                            style="cursor: pointer; height: 300px; width: 300px"
                            :src="photoImage"
                            alt="Photo"
                          />
                        </v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-card-text>
            </div>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <delete-confirmation-dialog
        ref="deleteConfirmationDialog"
        heading="Are You Sure You Want To Delete?"
        message="Are You Sure You Want To Delete This Item Permanently?"
        @onConfirm="DeleteItem"
      ></delete-confirmation-dialog>
      <app-section-loader :status="loader"></app-section-loader>
      <app-section-loader :status="subloader"></app-section-loader>
      <v-data-table
        v-if="isForm"
        :headers="headers"
        :items="gridItems"
        :total-items="totalRows"
        class="elevation-1"
        :loading="loading"
        default-sort="medCatalogId:desc"
        :rows-per-page-items="rowsPerPageItems"
        @update:pagination="onUpdatePagination"
        :pagination.sync="pagination"
      >
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-left">{{ props.item.groupName }}</td>
            <td class="text-xs-left">{{ props.item.categoryName }}</td>
            <td class="text-xs-left">{{ props.item.categoryNo }}</td>
            <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td>
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.description }}</td>
            <td class="text-xs-left">{{ props.item.statusCode }}</td>
            <td class="text-xs-left">
              {{
                props.item.modifiedByUser == null
                  ? props.item.addedByUser
                  : props.item.modifiedByUser
              }}
            </td>
            <td class="text-xs-left">
              {{
                props.item.modifiedDate == null
                  ? props.item.addedDate
                  : props.item.modifiedDate | formatDate
              }}
            </td>
            <td class="justify-center layout px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)"
                v-show="checkClassificationPermission(1302)"
                >edit</v-icon
              >
              <v-icon
                small
                @click="onDeleteItem(props.item)"
                v-show="checkClassificationPermission(1303)"
                >delete</v-icon
              >
            </td>
          </tr>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="loadPagingData"
            >Record not exist.Refresh again in while time.</v-btn
          >
        </template>
      </v-data-table>
      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Wiki Revise Work Document"
          :screenID="screenId"
          :sessionID="sessionId"
          :isHeaderImage="isHeaderImage"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>
    </v-card>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import router from "vue-router";
import DynamicLoadForm from "@/pages/itemClassificationForm/DynamicLoadForm";
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import Util from "@/util";
import moment from "moment";
import { getItemClassificationByID } from "@/api/itemClassification";
import { isClassificationPermission } from "@/api/checkPermission";
import {
  getMedCatalogClassificationByRefNo,
  createMedCatalogClassification,
  updateMedCatalogClassification,
  deleteMedCatalogClassification,
} from "@/api/medCatalogClassification";
import { getData } from "@/api/paggedapi";
import search from "@/search";
export default {
  components: {
    DynamicLoadForm,
    attachment,
  },
  name: "Page2",
  data: () => ({
    screenId: "MET001",
    attachdialog: false,
    uploadbtn: true,
    sessionId: null,
    categoryItems: [],
    totalRows: 0,
    loading: false,
    itemsData: [],
    gridItems: [],
    isHeaderImage: true,
    photoImage: "/static/noimage.jpg",
    search: "",
    loader: false,
    dialog: false,
    photoFlag: false,
    classificationID: 0,
    itemClassificationtreeItems: [],
    classificationItems: [],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    editedIndex: -1,
    treedrawer: false,
    loader: false,
    active: [],
    itemClassificationID: null,
    mainClassificationID: null,
    profileReferenceNo: "",
    groupItems: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    editedItem: {
      valid: false,
      isFrom: false,
      medCatalogId: -1,
      itemClassificationMasterId: null,
      groupId: null,
      categoryId: null,
      categoryNo: "",
      profileId: null,
      profileName: "",
      name: "",
      description: "",
      statusCodeID: 1,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      profileReferenceNo: "",
      sessionId: null,
      lastNo: null,
      photoImage: null,
    },
    defaultItem: {
      valid: false,
      isFrom: false,
      medCatalogId: -1,
      itemClassificationMasterId: null,
      groupId: null,
      categoryId: null,
      categoryNo: "",
      name: "",
      description: "",
      statusCodeID: 1,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      profileReferenceNo: "",
      profileId: null,
      profileName: "",
      sessionId: null,
      lastNo: null,
      photoImage: null,
    },
    filterFields: [
      "Profile.Name",
      "ProfileReferenceNo",
      "Category.Value",
      "Group.Value",
      "CategoryNo",
      "Name",
      "Description",
      "StatusCode.CodeValue",
      "AddedByUser.UserName",
      "ModifiedByUser.UserName",
      "purpose",
    ],
    headers: [
      { text: "MED Group", value: "groupName", align: "left" },
      { text: "Category", value: "categoryName", align: "left" },
      { text: "MED category No", value: "categoryNo", align: "left" },
      {
        text: "Profile Reference No",
        value: "profileReferenceNo",
        align: "left",
      },
      { text: "Name", value: "name", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      "Profile Name": "profileName",
      "MED Group": "groupName",
      Category: "categoryName",
      "MED category No": "categoryNo",
      "Profile Reference No": "profileReferenceNo",
      Name: "name",
      Description: "description",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    loader: false,
    subtasktriggered: false,
    readonlyTask: false,
    selectedTask: [],
    userId: -1,
    userItems: [],
    subloader: false,
    goBackText: "",
  }),
  created() {
    this.userId = Number(this.$store.state.auth.userId);
    this.itemClassificationID = Number(this.$route.query.itemClassificationID);
    this.mainClassificationID = Number(this.$route.query.id);
    this.isForm = this.$route.query.isForm;
    this.isEdit = this.$route.query.isEdit;
    this.goBackText = this.$route.query.goback;
    this.actionButton = true;
    this.initialize();
    window.getApp.$on("ASSIGN_IMAGE", (img) => {
      this.photoFlag = true;
      this.editedItem.photoImage = img;
    });
  },
  beforeDestroy() {
    window.getApp.$off("ASSIGN_IMAGE");
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add MED Catalog" : "Edit MED Catalog";
    },
    GenericNameRules() {
      return [(v) => !!v || "This field is required"];
    },
    computeHeight() {
      return {
        height: this.height || "",
      };
    },
    selected() {
      if (!this.active.length) {
        if (this.itemClassificationID > 0) {
          this.active.push(this.itemClassificationID);
        } else {
          return undefined;
        }
      }
      const id = this.itemClassificationID;
      let editdata = this.classificationItems.find(
        (classification) => classification.itemClassificationID == id
      );

      let index = this.classificationItems
        .map((item) => item.itemClassificationID)
        .indexOf(id);
      this.editedIndex = index;
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
    items() {
      return this.itemClassificationtreeItems;
    },
  },

  mounted() {
    //this.messageTabCall();
  },

  methods: {
    formatDate(date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join("-");
    },
    checkClassificationPermission(permissionCode) {
      return isClassificationPermission(permissionCode, this.$store);
    },
    initialize() {
      if (this.mainClassificationID > 0) {
        this.loader = true;
        getApplicationMasterDetailByType(297)
          .then((response) => {
            this.loader = false;
            this.categoryItems = response.data;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

        getApplicationMasterDetailByType(298)
          .then((response) => {
            this.loader = false;
            this.groupItems = response.data;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      search.userID = this.$store.state.auth.userId;
      search.masterTypeID = this.itemClassificationID;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page = 1;
      search.sortCol = "medCatalogId";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.userID = this.$store.state.auth.userId;
      search.methodName = "GetMedCatalogClassification";
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      search.userID = this.$store.state.auth.userId;
      if (args.sortBy == "profileReferenceNo") {
        search.sortCol = "ProfileReferenceNo";
      } else if (args.sortBy == "groupName") {
        search.sortCol = "Group.Value";
      } else if (args.sortBy == "categoryName") {
        search.sortCol = "Category.Value";
      } else if (args.sortBy == "categoryNo") {
        search.sortCol = "CategoryNo";
      } else if (args.sortBy == "description") {
        search.sortCol = "Description";
      } else if (args.sortBy == "profileName") {
        search.sortCol = "Profile.Name";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else if (args.sortBy == "modifiedDate") {
        search.sortCol = "ModifiedDate";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetMedCatalogClassification";
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getItemClassificationById() {
      getItemClassificationByID(this.itemClassificationID)
        .then((response) => {
          if (response.data.length > 0) {
            this.loadFirstTree(response.data[0]);
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadFirstTree(model) {
      if (model != undefined) {
        this.classificationID = model.itemClassificationID;
        this.itemClassificationID = model.itemClassificationID;
        this.editedItem.profileId = Number(model.profileID);
        this.editedItem.profileName = model.profileName;
        this.profileReferenceNo = model.profileReferenceNo;
        this.isForm = model.isForm;
        if (this.$refs.refDynamicLoadForm != undefined) {
          this.$refs.refDynamicLoadForm.items = model;
          this.$refs.refDynamicLoadForm.initialize();
        }
      }
      this.itemsData = model;
    },
    goBack() {
      var goback = this.$cookies.get("reload");
      this.$router.push({
        name: "classification/itemClassificationForm",
        query: { goback: goback },
      });
    },
    openphoto() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    curNodeClicked(model) {
      /* if (this.classificationID != model.itemClassificationID) { */

      this.loadFirstTree(model);
      search.masterTypeID = model.itemClassificationID;
      this.loadPagingData();
      /* this.subloader = true;
                getMedCatalogClassificationByRefNo(model.itemClassificationID)
                    .then(response => {
                        if (response != undefined && response.data != undefined) {
                            this.gridItems = response.data;
                            this.subloader = false;
                        }
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    }); */
      //}
    },
    opentree() {
      this.$vuetify.goTo(0);
      this.treedrawer = true;
    },
    openDialog() {
      this.dialog = true;
      this.add();
    },
    add() {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.$route.query.profileReferenceNo = null;
      this.editedItem.profileName = this.itemsData.profileName;
      this.editedItem.profileId = this.itemsData.profileID;
      this.$refs.refDynamicLoadForm.items = this.itemsData;
      this.$refs.refDynamicLoadForm.initialize();
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    close() {
      this.dialog = false;
      this.photoFlag = false;
      this.initialize();
      this.loadPagingData();
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.medCatalogId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);

        deleteMedCatalogClassification(this.editedItem)
          .then(() => {
            this.loader = false;
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            this.add();
            this.loadPagingData();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    editItem(item) {
      this.$route.query.profileReferenceNo = item.profileReferenceNo;
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.sessionId = item.sessionId;
      this.$refs.refDynamicLoadForm.items = this.itemsData;
      this.$refs.refDynamicLoadForm.initialize();
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.downloadImageAttachment();
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        this.editedItem.profileId = this.itemsData.profileID;
        this.editedItem.itemClassificationMasterId = this.itemClassificationID;
        //console.log(this.editedItem);
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateMedCatalogClassification(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.editedItem = response.data;
              this.editedItem.categoryNo = response.data.categoryNo;
              this.loader = false;
              this.loadPagingData();
              this.editedItem.sessionId = response.data.sessionId;
              this.editedItem.lastNo = response.data.lastNo;
              this.sessionId = response.data.sessionId;
              this.$refs.refDynamicLoadForm.items = this.itemsData;
              this.$refs.refDynamicLoadForm.initialize();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          createMedCatalogClassification(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.medCatalogId = response.data.medCatalogId;
              this.editedItem.categoryNo = response.data.categoryNo;
              this.editedItem.profileReferenceNo =
                response.data.profileReferenceNo;
              this.$route.query.profileReferenceNo =
                response.data.profileReferenceNo;
              let index = this.gridItems
                .map((item) => item.medCatalogId)
                .indexOf(response.data.medCatalogId);
              this.editedItem.sessionId = response.data.sessionId;
              this.sessionId = response.data.sessionId;
              this.editedItem.lastNo = response.data.lastNo;
              this.editedIndex = index;
              this.loadPagingData();
              this.$refs.refDynamicLoadForm.items = this.itemsData;
              this.$refs.refDynamicLoadForm.initialize();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    onAttachment(item) {
      this.sessionId = item.sessionId;
      this.fileAttachment();
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>