<template>
  <div>

    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
<div class="task-sub--scroll">
    <v-card-text>
      <v-form v-model="editedItem.valid" ref="packingform" lazy-validation>
        <v-container grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm6 v-if="setFlag">
              <v-autocomplete :loading="loader" flat :items="setInfoItems" v-model="editedItem.packagingItemSetInfoId" multiple label="Optional Item for a set" chips prepend-icon="fa-file-text" required item-text="packagingItemSetInfoName" item-value="setInformationId"></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6>
              <v-autocomplete :loading="loader" flat :items="packingMethodItems" v-model="editedItem.packagingMethodId" label="Packing Method inside Packaging Item" chips prepend-icon="fa-file-text" required item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </v-card-text>
    <packing-information-line ref="refPackingInformationLine"></packing-information-line>
</div>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary darken-1" outline @click.native="save" :loading="loader">Save</v-btn>
      <v-btn color="primary darken-1" outline @click.native="close" :loading="loader">close</v-btn>
    </v-card-actions>

    <app-section-loader :status="loader"></app-section-loader>
  </div>
</template>
<script>
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getCodeMasterByType } from '@/api/applicationUser';
  import { getCommonPackagingSetInfo } from '@/api/CommonPackagingSetInfo';
  import PackingInformationLine from '@/pages/itemClassificationForm/PackingInformationLine';
  import moment from "moment";
  import GlobalMessage from "@/constant";
  import {
    getCommonPackingInformation,
    createCommonPackingInformation,
    updateCommonPackingInformation
  } from "@/api/CommonPackingInformation";
  export default {
    components: {
      PackingInformationLine
    },
    data: () => ({
      dialog: false,
      loader: false,
      items: [],
      setFlag: false,
      search: "",
      editedIndex: -1,
      statusOptions: [],
      timeout: 2000,
      y: "top",
      setInfoItems: [],
      packingMethodItems: [],
      editedItem: {
        valid: false,
        packingInformationId: -1,
        setInformationId: -1,
        packagingItemSetInfoId: [],
        packagingMethodId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10)
      },
      defaultItem: {
        valid: false,
        packingInformationId: -1,
        setInformationId: -1,
        packagingItemSetInfoId: [],
        packagingMethodId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10)
      },
    }),

    computed: {
      formTitle () {
      }
    },
    created () {
    },

    methods: {
      initialize () {
        this.setFlag = (this.items.set == true) ? true : false;
        this.editedItem.setInformationId = this.items.setInformationId;
        this.editedItem.packingInformationId= -1;
        this.editedItem.packagingItemSetInfoId= [];
        this.editedItem.packagingMethodId= null;
        getCommonPackingInformation(this.editedItem.setInformationId)
        .then(response => {
          if(response.data.length>0)
          {
              this.editedItem = response.data[0];
               
          }
          this.loadLines();
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
          this.editedItem.set = this.setFlag;
        this.loadDropdownList();
      },
      loadLines () {
        console.log(this.editedItem);
        this.$refs.refPackingInformationLine.packagingMethodName = this.editedItem.packagingMethodName;
        this.$refs.refPackingInformationLine.packingInformationId = this.editedItem.packingInformationId;
        this.$refs.refPackingInformationLine.enableAddButton =(this.editedItem.packingInformationId>0)?false:true;
        this.$refs.refPackingInformationLine.initialize();
      },
      loadDropdownList () {

        getCommonPackagingSetInfo()
          .then(response => {
            this.setInfoItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(193)
          .then(response => {
            this.packingMethodItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      save () {
        if (this.$refs.packingform.validate()) {
          this.editedItem.statusCodeID=1;
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedItem.packingInformationId > 0) {
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            updateCommonPackingInformation(this.editedItem)
              .then(response => {
                this.loader = false;
                 this.editedItem=response.data;
                this.loadLines();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createCommonPackingInformation(this.editedItem)
              .then(response => {
                this.loader = false;
                 this.editedItem=response.data;
                this.editedItem.packingInformationId =response.data.packingInformationId;
                this.loadLines();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 150px - 60px);
   }
</style>