<<template>

    <div>
        <v-layout wrap style="background: gainsboro !important;padding: 10px;">
            <span class="headline"> Line information</span>
        </v-layout>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
            <download-excel :disabled="enableAddButton" class="btn btn-default" :data="gridCompanyLineItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="CompanyListingLine.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-dialog v-model="dialog" max-width="500px" :disabled="enableAddButton">
                <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton" v-show="checkClassificationPermission(107)">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>

                <v-toolbar card dense color="primary">
                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="close">
                            <v-icon color="white">reply</v-icon>
                        </v-btn>
                        <span>Go Back</span>
                    </v-tooltip>
                    <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="saveAndClose" :loading="subloader">
                            <v-icon color="white">library_add</v-icon>
                        </v-btn>
                        <span>Save and Close</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="save" :loading="subloader">
                            <v-icon color="white">save</v-icon>
                        </v-btn>
                        <span>Save </span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="add" :loading="subloader" v-show="checkClassificationPermission(107)">
                            <v-icon color="white">add</v-icon>
                        </v-btn>
                        <span>Create New Business Relationship</span>
                    </v-tooltip>
                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="deleterow" v-show="checkClassificationPermission(109)">
                            <v-icon color="white">delete</v-icon>
                        </v-btn>
                        <span>Delete</span>
                    </v-tooltip>

                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="close">
                            <v-icon color="white">close</v-icon>
                        </v-btn>
                        <span>Close</span>
                    </v-tooltip>
                </v-toolbar>
                <v-card>

                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div class="company--scroll">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="productLineform" lazy-validation>
                                <v-layout wrap>
                                    <v-flex xs12 sm12>
                                        <v-autocomplete label="Business Category" prepend-icon="notes" v-model="editedItem.businessCategoryID" :items="businessCategoryItems" item-text="value" item-value="applicationMasterDetailId" chips :search-input.sync="searchbusinessCategory" @change="selectbusinessCategory">

                                            <template slot="item" slot-scope="data">
                                                <template v-if="typeof data.item !== 'object'">
                                                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                </template>
                                                <template v-else>

                                                    <v-list-tile-content>
                                                        <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                                                    </v-list-tile-content>
                                                </template>
                                            </template>
                                        </v-autocomplete>

                                    </v-flex>
                                    <v-flex xs12 sm12>
                                        <v-autocomplete label="Business Activity" prepend-icon="notes" v-model="editedItem.businessActivityID" :items="businessActivityItems" item-text="value" item-value="applicationMasterDetailId" chips :search-input.sync="searchBusinessActivity" @change="selectBusinessActivity">

                                            <template slot="item" slot-scope="data">
                                                <template v-if="typeof data.item !== 'object'">
                                                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                </template>
                                                <template v-else>

                                                    <v-list-tile-content>
                                                        <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                                                    </v-list-tile-content>
                                                </template>
                                            </template>
                                        </v-autocomplete>

                                    </v-flex>

                                    <v-flex xs12 sm12>
                                        <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips></v-autocomplete>
                                    </v-flex>

                                </v-layout>
                            </v-form>
                        </v-card-text>

                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" outline @click.native="save" :loading="subloader">save</v-btn>
                        <v-btn color="primary darken-1" outline @click.native="close" :loading="subloader">Close</v-btn>
                    </v-card-actions>

                    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
                    </delete-confirmation-dialog>
                </v-card>
            </v-dialog>
            <v-tooltip bottom>
                <v-btn icon="" slot="activator" @click="initialize()">
                    <v-icon icon>
                        refresh
                    </v-icon>
                </v-btn>
                <span>Refresh</span>
            </v-tooltip>
        </v-toolbar>

        <app-section-loader :status="subloader"></app-section-loader>

        <v-data-table :headers="headers" :items="gridCompanyLineItems" :search="search" class="elevation-1" default-sort="companyListingLineID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.businessCategory }}</td>
                <td class="text-xs-left">{{ props.item.businessActivity }}</td>
                <td class="text-xs-left">{{ props.item.statusCode }}</td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <td class="text-xs-left">{{ props.item.modifiedByUser}}</td>

                <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(108)">
                        edit
                    </v-icon>
                    <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(109)">
                        delete
                    </v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import GlobalMessage from '@/constant';
    import { getApplicationMasterDetailByType } from '@/api/applicationMaster.js';
    import { getCodeMasterByType } from '@/api/applicationUser';
    import {
        getCompanyListingsByID,
        getCompanyListingLine,
        createCompanyListingLine,
        updateCompanyListingLine,
        deleteCompanyListingLine
    } from "@/api/companyListing";
    import { isClassificationPermission } from "@/api/checkPermission";
    export default {
        components: {

        },
        data: () => ({
            dialog: false,
            subloader: false,
            editedIndex: -1,
            searchBusinessActivity: "",
            searchbusinessCategory: "",
            search: '',
            gridCompanyLineItems: [],
            businessActivityItems: [],
            businessCategoryItems: [],
            enableAddButton: true,
            statusOptions: [
                { text: "Active", value: 1 },
                { text: "InActive", value: 2 }
            ],
            editedItem: {

                companyListingLineID: -1,
                companyListingID: -1,
                businessActivityID: null,
                businessCategoryID: null,
                statusCodeID: 1,
                addedByUserID: "",
                addedDate: "",
                modifiedByUserID: "",
                modifiedDate: "",
            },
            defaultItem: {

                companyListingLineID: -1,
                companyListingID: -1,
                businessActivityID: null,
                businessCategoryID: null,
                statusCodeID: 1,
                addedByUserID: "",
                addedDate: "",
                modifiedByUserID: "",
                modifiedDate: "",
            },
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            searchItem: { action: '', Id: null, searchString: 'searchString', },
            headers: [
                { text: 'Production order No', value: 'businessCategory', align: 'left' },
                { text: 'Item No', value: 'businessActivity', align: 'left' },
                { text: "Description", value: "statusCode", align: "left" },
                { text: "Internal reference", value: "addedByUser", align: "left" },
                { text: "Qty", value: "modifiedByUser", align: "left" },
                 { text: "UOM", value: "modifiedByUser", align: "left" },
                  { text: "Machine centre Name", value: "modifiedByUser", align: "left" },
                { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
            ],
            json_fields: {
                'Business Category': 'businessCategory',
                'Business Activity': 'businessActivity',
                "Added By": "addedByUser",
                "Modified By": "modifiedByUser",
            },
        }),
        computed: {
            formTitle () {
                return this.editedIndex === -1 ? 'Add Business Relationship' : 'Edit Business Relationship';
            },
            saltBaseRules () {

                return [
                    v => !!v || 'This is required field'
                ];
            },
        },
        created () {
        },
        watch: {
            dialog (val) {
                val || this.close();
            }
        },
        methods: {
            initialize () {
                this.subloader = true;
                getCompanyListingsByID(this.companyListingID)
                    .then(response => {
                        this.gridCompanyLineItems = response.data;
                        this.subloader = false;
                    })
                    .catch(error => {
                        window.getApp.$emit('APP_API_ERROR', error);
                    });

            },
            checkClassificationPermission (permissionCode) {
                return isClassificationPermission(permissionCode, this.$store);
            },
            selectBusinessActivity () {
                this.searchBusinessActivity = "";
            },
            selectbusinessCategory () {
                this.searchbusinessCategory = "";
            },
            loadDropdownList () {
                this.saltBaseItems = [];

                getApplicationMasterDetailByType(191)
                    .then(response => {
                        this.businessActivityItems = response.data;
                    })
                    .catch(error => {
                        window.getApp.$emit('APP_API_ERROR', error);
                    });

                getApplicationMasterDetailByType(192)
                    .then(response => {
                        this.businessCategoryItems = response.data;
                    })
                    .catch(error => {
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },

            editItem (item) {
                this.loadDropdownList();
                this.editedIndex = this.gridCompanyLineItems.indexOf(item);
                this.editedItem = Object.assign({}, item);

                setTimeout(() => {
                    this.dialog = true;

                }, 500);
            },
            close () {
                this.dialog = false;
                this.initialize();
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },
            saveAndClose () {
                this.save();
                this.dialog = false;
            },
            add () {
                this.editedIndex = -1;
                this.editedItem.valid = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.loadDropdownList();
            },
            openPopup () {
                this.dialog = true;
                this.add();
            },
            save () {
                this.editedItem.companyListingID = this.companyListingID;
                if (this.$refs.productLineform.validate()) {
                    this.subloader = true;
                    let index = this.editedIndex;
                    if (this.editedIndex > -1) {
                        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();
                        Object.assign(this.gridCompanyLineItems[this.editedIndex], this.editedItem);
                        updateCompanyListingLine(this.editedItem)
                            .then(response => {
                                Object.assign(this.gridCompanyLineItems[index], response.data);
                                this.loader = false;
                                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                                this.initialize();
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit('APP_API_ERROR', error);
                            });
                    }
                    else {
                        this.editedItem.addedByUserID = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();

                        createCompanyListingLine(this.editedItem)
                            .then(response => {
                                this.gridCompanyLineItems.push(response.data);
                                this.subloader = false;
                                this.editedItem.companyListingLineID = response.data.companyListingLineID;
                                let index = this.gridCompanyLineItems.map(item => item.companyListingLineID).indexOf(response.data.companyListingLineID)
                                this.editedIndex = index;
                                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                                this.initialize();
                            })
                            .catch(error => {
                                this.subloader = false;
                                window.getApp.$emit('APP_API_ERROR', error);
                            });
                    }
                }
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.companyListingLineID > -1) {
                    this.subloader = true;
                    let index = this.gridCompanyLineItems.indexOf(this.editedItem);
                    deleteCompanyListingLine(this.editedItem)
                        .then(() => {
                            this.subloader = false;
                            this.gridCompanyLineItems.splice(index, 1);
                            this.add();
                            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
                        })
                        .catch(error => {
                            this.subloader = false;
                            window.getApp.$emit('APP_API_ERROR', error);
                        });
                }
            },
        }
    }
</script>
<style lang="stylus" scoped>
    .company--scroll {
        overflow: auto;
        height: calc(100vh - 200px - 60px);
    }
</style>