<template>
    <div>

        <v-card-title>
            <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <div class="task-sub--scroll">
            <v-card-text>
                <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                    <v-container grid-list-md>
                        <v-layout row wrap>
                            <v-flex xs12 sm6>
                                <v-autocomplete :loading="loader" :rules="setInfoRules" flat :items="setInfoItems" v-model="editedItem.packagingItemSetInfoId" label="Set Info" chips prepend-icon="fa-file-text" required item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-autocomplete :loading="loader" flat :items="packagingItems" v-model="editedItem.packagingMaterialId" label="Packaging Material No" chips prepend-icon="fa-file-text" required item-text="packagingMaterialNo" item-value="commonPackagingItemId"></v-autocomplete>
                            </v-flex>
                            <v-flex &#x26;#x3C;v-flex xs12 sm6>
                                <v-text-field readonly v-model="editedItem.packagingMaterialName" label="Packaging Material Name" required prepend-icon="select_all"></v-text-field>
                            </v-flex>
                            <v-flex &#x26;#x3C;v-flex xs12 sm6>
                                <v-checkbox v-model="editedItem.set" label="Must be a set" primary hide-details>
                                </v-checkbox>
                            </v-flex>
                            <v-flex xs12 sm6>
                                <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID" chips></v-autocomplete>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </v-card-text>
        </div>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
        </v-card-actions>

        <app-section-loader :status="loader"></app-section-loader>
    </div>
</template>
<script>
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import { getCodeMasterByType } from "@/api/applicationUser";
    import { getCommonPackagingItemHeaderAll } from '@/api/CommonPackagingItemHeader';
    import { getCommonPackagingSetInfo, getData, createCommonPackagingSetInfo, updateCommonPackagingSetInfo, deleteCommonPackagingSetInfo } from '@/api/CommonPackagingSetInfo';

    import moment from "moment";
    import GlobalMessage from "@/constant";
    export default {
        components: {},
        data: () => ({
            dialog: false,
            loader: false,
            search: "",
            materialProducttionFlag: false,
            statusOptions: [],
            timeout: 2000,
            y: "top",
            setInfoItems: [],
            packagingItems: [],
            functionOfMaterialFlag: false,
            typeofIngredientItems: [],
            productRegCountryItems: [],
            productItems: [],
            gridItems: [],
            itemClassificationItems: [],
            editedItem: {
                valid: false,
                setInformationId: -1,
                packagingMaterialName: "",
                packagingItemSetInfoId: null,
                packagingMaterialId: null,
                set: true,
                addedByUserId: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 860,
                statusCode: "Active",
                modifiedByUserId: null,
                modifiedDate: new Date().toISOString().substr(0, 10)
            },
            defaultItem: {
                valid: false,
                setInformationId: -1,
                packagingMaterialName: "",
                packagingItemSetInfoId: null,
                set: true,
                packagingMaterialId: null,
                addedByUserId: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 860,
                statusCode: "Active",
                modifiedByUserId: null,
                modifiedDate: new Date().toISOString().substr(0, 10)
            },
        }),

        computed: {
            formTitle () {
                return this.editedItem.setInformationId > 0
                    ? "Edit Set Information"
                    : "Add Set Information";
            },
            setInfoRules () {

                return [v => !!v || "SetInfo is required"];
            },
        },
        created () {
            this.initialize();
        },
        methods: {
            initialize () {

            },
            loadDropdownList () {
                this.loader = true;
                getCodeMasterByType("ProductionProcessLibraryStatus")
                    .then(response => {
                        this.statusOptions = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                this.loader = true;
                getApplicationMasterDetailByType(180)
                    .then(response => {
                        this.setInfoItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getCommonPackagingItemHeaderAll('')
                    .then(response => {
                        this.packagingItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },
            saveAndClose () {
                this.save();
                if (this.$refs.form.validate()) {
                    window.getApp.$emit('GO_MAIN_PAGE');
                    this.close();
                }
            },
            add () {
                this.loadDropdownList();
                this.editedItem.valid = false;
                this.editedItem.setInformationId = -1;
                this.editedItem.packagingMaterialName = "";
                this.editedItem.packagingMaterialId = null;
                this.editedItem.packagingItemSetInfoId = null;
                this.editedItem.set = true;
                this.editedItem.addedByUserId = this.$store.state.auth.userId;
                this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
                this.editedItem.statusCodeID = 860;
                this.editedItem.statusCode = "Active";
                this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
            },
            close () {
                window.getApp.$emit('GO_MAIN_PAGE');
            },
            save () {

            },
        }
    };
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
          height: calc(100vh - 180px - 60px);
     }
</style>