<template>
    <div>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Registration Variation.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>

            <v-btn icon="" @click="initialize()">
                <v-icon icon>
                    refresh
                </v-icon>
            </v-btn>

            <v-dialog v-model="dialog" fullscreen>
                <v-btn slot="activator" icon @click.native="add">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-tabs color="transparent" icons-and-text>
                        <v-tabs-slider color="primary"></v-tabs-slider>
                        <v-tab key="tab1">
                            Standard Manufacturing Process
                            <v-icon>group_work</v-icon>
                        </v-tab>
                        <v-tab key="tab2">
                            Standard Procedure
                            <v-icon>security</v-icon>
                        </v-tab>
                        <v-tab key="tab3">
                            Operation Sequence
                            <v-icon>security</v-icon>
                        </v-tab>
                        <v-tab key="tab4">
                            Manpower Information
                            <v-icon>security</v-icon>
                        </v-tab>

                        <v-tabs-items>
                            <v-tab-item key="tab1">
                                <standard-manufacturing-process-form ref="refStandardManufacturingProcessForm"></standard-manufacturing-process-form>
                            </v-tab-item>
                            <v-tab-item key="tab2">
                                <standard-procedure ref="refStandardProcedure"></standard-procedure>
                            </v-tab-item>
                            <v-tab-item key="tab3">
                                <operation-sequence ref="refOperationSequence"></operation-sequence>
                            </v-tab-item>
                            <v-tab-item key="tab4">
                                <manpower-information ref="refManpowerInformation"></manpower-information>
                            </v-tab-item>
                        </v-tabs-items>
                    </v-tabs>
                    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem">
                    </delete-confirmation-dialog>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="standardManufacturingProcessId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <tr @dblclick="editItem(props.item)">
                    <td class="text-xs-left">{{ props.item.manufacturingSiteName }}</td>
                    <td class="text-xs-left">{{ props.item.profileName }}</td>
                    <td class="text-xs-left">{{ props.item.templateName }}</td>
                    <td class="text-xs-left">{{ props.item.methodTempalteName }}</td>
                    <td class="text-xs-left">{{ props.item.statusCode }}</td>
                    <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
                    <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

                    <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">
                            edit
                        </v-icon>
                        <v-icon small @click="onDeleteItem(props.item)">
                            delete
                        </v-icon>
                    </td>
                </tr>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>

    </div>
</template>
<script>
    import { getStandardManufacturingProcess, getData, createStandardManufacturingProcess, updateStandardManufacturingProcess, deleteStandardManufacturingProcess } from '@/api/StandardManufacturingProcess';
    import { getApplicationMasterDetailByType } from '@/api/applicationMaster';
    import { getCodeMasterByType } from '@/api/applicationUser';
    import moment from 'moment'
    import GlobalMessage from '@/constant'
    import { getDocumentProfileItems } from "@/api/documentProfile";
    import { getMethodTemplateRoutine } from "@/api/methodTemplateRoutine";
    import StandardManufacturingProcessForm from '@/pages/itemClassificationForm/StandardManufacturingProcessForm';
    import StandardProcedure from '@/pages/itemClassificationForm/Dynamic/StandardProcedure';
    import OperationSequence from '@/pages/itemClassificationForm/Dynamic/operationSequence';
    import ManpowerInformation from '@/pages/itemClassificationForm/Dynamic/manpowerInformation';
    export default {
        components: {
            StandardProcedure,
            OperationSequence,
            ManpowerInformation,
            StandardManufacturingProcessForm
        },
        data: () => ({
            dialog: false,
            loader: false,
            search: '',
            statusOptions: [
                { text: 'Active', value: 1 },
                { text: 'InActive', value: 2 }
            ],
            timeout: 2000,
            y: 'top',
            headers: [

                { text: 'Manufacturing Site', value: 'manufacturingSiteName', align: 'left' },
                { text: 'Template No', value: 'profileName', align: 'left' },
                { text: 'Template Name', value: 'templateName', align: 'left' },
                { text: 'Method Template No', value: 'methodTempalteName', align: 'left' },
                { text: 'Status', value: 'statusCode', align: 'left' },
                { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
                { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
                { text: 'Actions', value: 'name', sortable: false, align: 'left' }
            ],
            json_fields: {
                'Manufacturing Site': 'manufacturingSiteName',
                'Template No': 'profileName',
                'Template Name': 'templateName',
                'Method Template No': 'methodTempalteName',
                'Status': 'statusCode',
                'Added By': 'addedByUser',
                'Modified By': 'modifiedByUser',
                'Modified Date': 'modifiedDate',
            },
            gridItems: [],
            editedIndex: -1,
            selectedItem: null,
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            searchItem: { action: '', Id: null, searchString: 'searchString', },

        }),

        computed: {
        },
        created () {
            window.getApp.$on("CLOSE_MANUFACTURING_DIALOG", () => {
                this.close();
            });
            window.getApp.$on("OPEN_MANUFACTURING_TAB", (item) => {
                this.tabItems(item);
            });
            this.initialize();
        },
        beforeDestroy () {
            window.getApp.$off("CLOSE_MANUFACTURING_DIALOG");
            window.getApp.$off("OPEN_MANUFACTURING_TAB");
        },
        methods: {
            initialize () {
                this.loader = true;
                getStandardManufacturingProcess('')
                    .then(response => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });

                this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            editItem (item) {
                this.$refs.refStandardManufacturingProcessForm.add();
                this.$refs.refStandardManufacturingProcessForm.editItem(item);
                this.$refs.refStandardProcedure.standardManufacturingProcessId = item.standardManufacturingProcessId;
                this.$refs.refOperationSequence.standardManufacturingProcessId = item.standardManufacturingProcessId;
                this.$refs.refManpowerInformation.standardManufacturingProcessId = item.standardManufacturingProcessId;
                this.$refs.refStandardProcedure.initialize();
                this.$refs.refOperationSequence.initialize();
                this.$refs.refManpowerInformation.initialize();
                setTimeout(() => {
                    this.dialog = true;
                }, 500);
            },
            tabItems (item) {
                this.$refs.refStandardProcedure.standardManufacturingProcessId = item.standardManufacturingProcessId;
                this.$refs.refOperationSequence.standardManufacturingProcessId = item.standardManufacturingProcessId;
                this.$refs.refManpowerInformation.standardManufacturingProcessId = item.standardManufacturingProcessId;
                this.$refs.refStandardProcedure.initialize();
                this.$refs.refOperationSequence.initialize();
                this.$refs.refManpowerInformation.initialize();
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            DeleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.standardManufacturingProcessId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);

                    deleteStandardManufacturingProcess(this.editedItem)
                        .then(() => {
                            this.loader = false;
                            this.initialize();
                            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit('APP_API_ERROR', error);
                        });
                }
            },
            add () {
                this.$refs.refStandardManufacturingProcessForm.add();
                this.$refs.refStandardProcedure.standardManufacturingProcessId = -1;
                this.$refs.refOperationSequence.standardManufacturingProcessId = -1;
                this.$refs.refManpowerInformation.standardManufacturingProcessId = -1;
                this.$refs.refStandardProcedure.initialize();
                this.$refs.refOperationSequence.initialize();
                this.$refs.refManpowerInformation.initialize();
            },
            close () {
                this.dialog = false;
                this.initialize();
            },
        }
    };
</script>