<template>
    <div id="page-forms">
        <v-card>
            <v-toolbar flat color="white" v-if="isForm">
                <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
                <v-spacer></v-spacer>
                <v-tooltip bottom v-if="isForm">
                    <v-btn slot="activator" color="primary" icon flat @click.native="openDialog" v-show="checkClassificationPermission(602)">
                        <v-icon icon>add_circle_outline</v-icon>
                    </v-btn>
                    <span>Add</span>
                </v-tooltip>
                <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Item Classification.xls">
                    <v-btn icon>
                        <v-icon>cloud_download</v-icon>
                    </v-btn>
                </download-excel>

                <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
                    <v-icon icon>refresh</v-icon>
                </v-btn>

                <v-dialog v-model="dialog" fullscreen>
                    <v-card>
                        <v-toolbar card dense color="primary">
                            <v-tooltip bottom>
                                <v-btn icon slot="activator" @click.native="close">
                                    <v-icon color="white">reply</v-icon>
                                </v-btn>
                                <span>Go Back</span>
                            </v-tooltip>
                            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                            <v-tooltip bottom>
                                <v-btn icon slot="activator" @click.native="saveAndClose" :loading="loader">
                                    <v-icon color="white">library_add</v-icon>
                                </v-btn>
                                <span>Save and Close</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <v-btn icon slot="activator" @click.native="save" :loading="loader">
                                    <v-icon color="white">save</v-icon>
                                </v-btn>
                                <span>Save</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <v-btn icon slot="activator" @click.native="add" :loading="loader" v-show="checkClassificationPermission(602)">
                                    <v-icon color="white">add</v-icon>
                                </v-btn>
                                <span>Create New Classification - Transport</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                                <v-btn icon slot="activator" @click.native="deleterow" :loading="loader" v-show="checkClassificationPermission(604)">
                                    <v-icon color="white">delete</v-icon>
                                </v-btn>
                                <span>Delete</span>
                            </v-tooltip>
                            <v-spacer></v-spacer>
                            <v-tooltip bottom>
                                <v-btn icon slot="activator" @click.native="close">
                                    <v-icon color="white">close</v-icon>
                                </v-btn>
                                <span>Go Back</span>
                            </v-tooltip>
                        </v-toolbar>

                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>
                        <div class="task-sub--scroll">
                            <v-card-text>
                                <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                                    <v-layout row wrap>
                                        <v-flex xs12 sm6>
                                            <v-autocomplete label="Company" prepend-icon="invert_colors" v-model="editedItem.companyId" :items="companyItems" item-text="description" item-value="plantID" chips color="blue"></v-autocomplete>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field v-model="editedItem.nameOfTransportation" label="Name Of Transportation" prepend-icon="description"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field v-model="editedItem.purpose" label="Purpose" prepend-icon="description"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-autocomplete label="Status" prepend-icon="invert_colors" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID" chips color="blue"></v-autocomplete>
                                        </v-flex>
                                        <v-flex xs12 sm6>
                                            <v-text-field v-model="editedItem.profileName" label="ProfileName" readonly prepend-icon="select_all"></v-text-field>
                                        </v-flex>
                                        <v-flex lg6 sm6>
                                            <v-text-field label="Profile Reference No" prepend-icon="category" v-model="editedItem.profileReferenceNo" required readonly></v-text-field>
                                        </v-flex>
                                        <v-flex xs12>

                                            <dynamic-load-form ref="refDynamicLoadForm"></dynamic-load-form>
                                        </v-flex>
                                        <!-- </vue-perfect-scrollbar> -->
                                    </v-layout>
                                </v-form>
                            </v-card-text>
                        </div>
                    </v-card>
                </v-dialog>
            </v-toolbar>
            <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem"></delete-confirmation-dialog>
            <app-section-loader :status="loader"></app-section-loader>
            <app-section-loader :status="subloader"></app-section-loader>
            <v-data-table v-if="isForm" :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="transportId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
                <template slot="items" slot-scope="props">
                    <tr>
                        <td class="text-xs-left">{{ props.item.profileName }}</td>
                        <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td>
                        <td class="text-xs-left">{{ props.item.transportCompanyName }}</td>
                        <td class="text-xs-left">{{ props.item.nameOfTransportation }}</td>
                        <td class="text-xs-left">{{ props.item.purpose }}</td>
                        <td class="text-xs-left">{{ props.item.statusCode }}</td>
                        <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
                        <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

                        <td class="justify-center layout px-0">
                            <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(603)">edit</v-icon>
                            <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(604)">delete</v-icon>
                        </td>
                    </tr>
                </template>
                <template slot="no-data">
                    <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
                </template>
            </v-data-table>
        </v-card>
    </div>
</template>
<script>
    import router from "vue-router";
    import DynamicLoadForm from "@/pages/itemClassificationForm/DynamicLoadForm";
    import GlobalMessage from "@/constant";
    import { getDocumentProfileItems } from "@/api/documentProfile";
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import { getCodeMasterByType } from "@/api/applicationUser";
    import { getPlants } from "@/api/plant";
    import Util from "@/util";
    import moment from "moment";
    import {
        getItemClassificationByID,
        getItemClassificationTree,
    } from "@/api/itemClassification";
    import { isClassificationPermission } from "@/api/checkPermission";
    import {
        getItemClassificationTransportsByRefNo,
        createItemClassificationTransports,
        updateItemClassificationTransports,
        deleteItemClassificationTransports,
    } from "@/api/itemClassificationTransport";
    import { getData } from "@/api/paggedapi";
    import search from "@/search";
    export default {
        components: {
            DynamicLoadForm,
        },
        name: "Page2",
        data: () => ({
            totalRows: 0,
            loading: false,
            itemsData: [],
            gridItems: [],
            search: "",
            loader: false,
            dialog: false,
            classificationID: 0,
            itemClassificationformstatus: false,
            searchTo: "",
            searchdiscussionTo: "",
            itemClassificationtreeItems: [],
            classificationItems: [],
            scrollSettings: {
                maxScrollbarLength: 130
            },
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10
            },
            searchItem: { action: "", Id: null, searchString: "searchString" },
            editedIndex: -1,
            editdialog: false,
            treedrawer: false,
            loader: false,
            hasPermission: false,
            classificationdialog: false,
            subclassificationdialog: false,
            active: [],
            itemClassificationID: null,
            mainClassificationID: null,
            paerntID: -1,
            viewList: "list",
            profileReferenceNo: "",
            panel: [],
            companyItems: [],
            statusOptions: [],
            editedItem: {
                valid: false,
                isFrom: false,
                transportId: -1,
                itemClassificationMasterId: null,
                companyId: -1,
                nameOfTransportation: "",
                purpose: "",
                statusCodeID: 1440,
                addedByUserId: "",
                addedDate: "",
                modifiedByUserID: "",
                modifiedDate: "",
                profileReferenceNo: "",
            },
            filterFields: [
                "Profile.Name",
                "ProfileReferenceNo",
                "NameOfTransportation",
                "Company.Description",
                "StatusCode.CodeValue",
                "AddedByUser.UserName",
                "ModifiedByUser.UserName",
                "purpose",
            ],
            headers: [
                { text: "Profile Name", value: "profileName", align: "left" },
                {
                    text: "Profile Reference No",
                    value: "profileReferenceNo",
                    align: "left"
                },
                {
                    text: "Company",
                    value: "transportCompanyName",
                    align: "left"
                },
                {
                    text: "Name of Transportation",
                    value: "nameOfTransportation",
                    align: "left"
                },
                { text: "Purpose", value: "purpose", align: "left" },
                { text: "Status", value: "statusCode", align: "left" },
                { text: "Modified By", value: "modifiedByUser", align: "left" },
                { text: "Modified Date", value: "modifiedDate", align: "left" },
                { text: "Actions", value: "name", sortable: false, align: "left" }
            ],
            json_fields: {
                "Profile Name": "profileName",
                "Company": "transportCompanyName",
                "Name of Transportation": "nameOfTransportation",
                'Purpose': 'purpose',
                "Status": "statusCode",
                "Added By": "addedByUser",
                "Modified By": "modifiedByUser",
                "Modified Date": "modifiedDate"
            },
            formEditdata: {
                itemClassificationID: -1,
                itemClassificationMasterId: null,
                parentID: null,
                mainClassificationID: null,
                name: "",
                description: "",
                dosageFormName: "",
                isForm: false,
                formID: null,
                profileID: null,
                profileName: "",
                addedByUserId: null,
                addedDate: new Date().toISOString().substr(0, 10),
                addedByUser: "",
                statusCodeID: 1440,
                statusCode: "Active",
                modifiedByUserID: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
                profileReferenceNo: ""
            },
            loader: false,
            subtasktriggered: false,
            readonlyTask: false,
            selectedTask: [],
            userId: -1,
            userItems: [],
            subloader: false,
            goBackText: ""
        }),
        created () {
            this.userId = Number(this.$store.state.auth.userId);
            this.itemClassificationID = Number(this.$route.query.itemClassificationID);
            this.mainClassificationID = Number(this.$route.query.id);
            //this.editedItem.profileID = Number(this.$route.query.profileID);
            //this.editedItem.profileName = this.$route.query.profileName;
            //this.profileReferenceNo = this.$route.query.profileReferenceNo;
            this.isForm = this.$route.query.isForm;
            this.isEdit = this.$route.query.isEdit;
            this.goBackText = this.$route.query.goback;

            this.actionButton = true;
            this.initialize();

            // this.getPerTag();
        },
        beforeDestroy () {
            window.getApp.$off("ITEMLOAD");
        },
        computed: {
            formTitle () {
                return this.editedIndex === -1
                    ? "Add Classification - Transport"
                    : "Edit Classification - Transport";
            },
            GenericNameRules () {
                return [v => !!v || "This field is required"];
            },
            computeHeight () {
                return {
                    height: this.height || ""
                };
            },
            selected () {
                if (!this.active.length) {
                    if (this.itemClassificationID > 0) {
                        this.active.push(this.itemClassificationID);
                    } else {
                        return undefined;
                    }
                }
                const id = this.itemClassificationID;
                let editdata = this.classificationItems.find(
                    classification => classification.itemClassificationID == id
                );

                let index = this.classificationItems
                    .map(item => item.itemClassificationID)
                    .indexOf(id);
                this.editedIndex = index;
                this.formEditdata = editdata;
                this.editDetails(this.formEditdata);
                //this.treedrawer = true;
            },
            loadPagingKey () {
                return {
                    // bind to hotkey
                    enter: this.loadPagingData,
                };
            },
            items () {
                return this.itemClassificationtreeItems;
            }
        },

        mounted () {
            //this.messageTabCall();
        },

        methods: {
            formatDate (date) {
                let month = `${date.getMonth() + 1}`;
                let day = `${date.getDate()}`;
                const year = date.getFullYear();

                if (month.length < 2) month = `0${month}`;
                if (day.length < 2) day = `0${day}`;

                return [year, month, day].join("-");
            },
            checkClassificationPermission (permissionCode) {
                return isClassificationPermission(permissionCode, this.$store);
            },
            initialize () {
                if (this.mainClassificationID > 0) {
                    this.loader = true;
                    getCodeMasterByType("Transport Status")
                        .then(response => {
                            this.statusOptions = response.data;
                            this.loader = false;
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });

                    this.loader = true;
                    getPlants("")
                        .then(response => {
                            this.companyItems = response.data;
                            this.loader = false;
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                    this.getItemClassificationById();
                    /* this.loader = true;
                    getItemClassificationTransportsByRefNo(this.itemClassificationID)
                        .then(response => {
                            this.gridItems = response.data;
                            this.loader = false;
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        }); */
                }
            },
            getDataFromApi (pageSize) {
                this.pagination.rowsPerPage = pageSize;
                search.pageSize = pageSize;
                search.userID = this.$store.state.auth.userId;
                search.masterTypeID = this.itemClassificationID;
                this.loadPagingData();
            },
            loadPagingData () {
                search.filterFields = this.filterFields;
                search.descending = true;
                 search.pageCount = 1;
this.pagination.page=1;
                search.sortCol = "TransportID";
                search.sortBy = this.pagination.descending == true ? "desc" : "asc";
                search.searchString = this.search;
                search.userID = this.$store.state.auth.userId;
                search.methodName = "GetItemClassificationTransport";
                this.loading = true;
                getData(search)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.loading = false;
                    })
                    .catch((error) => {
                        this.loading = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onUpdatePagination (args) {
                search.filterFields = this.filterFields;
                search.descending = true;
                search.pageCount = args.page;
                search.pageSize = args.rowsPerPage;
                search.userID = this.$store.state.auth.userId;
                if (args.sortBy == "profileReferenceNo") {
                    search.sortCol = "ProfileReferenceNo";
                }
                else if (args.sortBy == "nameOfTransportation") {
                    search.sortCol = "NameOfTransportation";
                }
                else if (args.sortBy == "transportCompanyName") {
                    search.sortCol = "Company.Description";
                }
                else if (args.sortBy == "purpose") {
                    search.sortCol = "Purpose";
                }
                else if (args.sortBy == "profileName") {
                    search.sortCol = "Profile.Name";
                } else if (args.sortBy == "statusCode") {
                    search.sortCol = "StatusCode.CodeValue";
                } else if (args.sortBy == "modifiedByUser") {
                    search.sortCol = "ModifiedByUser.UserName";
                } else if (args.sortBy == "modifiedDate") {
                    search.sortCol = "ModifiedDate";
                }
                else if (args.sortBy == "addedByUser") {
                    search.sortCol = "AddedByUser.UserName";
                }
                else {
                    search.sortCol = args.sortBy;
                }
                search.sortBy = args.descending == true ? "desc" : "asc";
                search.searchString = this.search;
                search.methodName = "GetItemClassificationTransport";
                this.loading = true;
                getData(search)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.loading = false;
                    })
                    .catch((error) => {
                        this.loading = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            getItemClassificationById () {
                getItemClassificationByID(this.itemClassificationID)
                    .then(response => {
                        if (response.data.length > 0) {
                            this.loadFirstTree(response.data[0]);
                        }
                    })
                    .catch(error => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            loadFirstTree (model) {
                if (model != undefined) {
                    this.classificationID = model.itemClassificationID;
                    this.itemClassificationID = model.itemClassificationID;
                    this.editedItem.profileID = Number(model.profileID);
                    this.editedItem.profileName = model.profileName;
                    this.profileReferenceNo = model.profileReferenceNo;
                    this.isForm = model.isForm;
                    if (this.$refs.refDynamicLoadForm != undefined) {

                        this.$refs.refDynamicLoadForm.items = model;
                        this.$refs.refDynamicLoadForm.initialize();
                    }
                }
                this.itemsData = model;
            },
            goBack () {
                var goback = this.$cookies.get("reload");
                this.$router.push({
                    name: "classification/itemClassificationForm",
                    query: { goback: goback }
                });
            },

            curNodeClicked (model) {
                /* if (this.classificationID != model.itemClassificationID) { */

                this.loadFirstTree(model);
                search.masterTypeID = model.itemClassificationID;
                this.loadPagingData();
                /* this.subloader = true;
                getItemClassificationTransportsByRefNo(model.itemClassificationID)
                    .then(response => {
                        if (response != undefined && response.data != undefined) {
                            this.gridItems = response.data;
                            this.subloader = false;
                        }
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    }); */
                //}
            },
            opentree () {
                this.$vuetify.goTo(0);
                this.treedrawer = true;
            },
            openDialog () {
                this.dialog = true;
                this.add();
            },
            add () {
                this.editedItem.valid = false;
                this.editedItem.transportId = -1;
                this.editedItem.companyId = null;
                this.editedItem.purpose = '';
                this.editedItem.nameOfTransportation = "";
                this.editedItem.addedByUserId = this.$store.state.auth.userId;
                this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
                this.editedItem.statusCodeID = 1440;
                this.editedItem.statusCode = "Active";
                this.editedItem.profileReferenceNo = null;
                this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
                this.editedIndex = -1;
                this.$route.query.profileReferenceNo = null;
                this.$refs.refDynamicLoadForm.items = this.itemsData;
                this.$refs.refDynamicLoadForm.initialize();
            },
            saveAndClose () {
                this.save();
                this.close();
            },
            close () {
                this.dialog = false;
                this.initialize();
                this.loadPagingData();
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            DeleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.transportId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);

                    deleteItemClassificationTransports(this.editedItem)
                        .then(() => {
                            this.loader = false;
                            this.selectedItem = null;
                            this.gridItems.splice(index, 1);
                            this.add();
                            this.loadPagingData();
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            editItem (item) {
                this.$route.query.profileReferenceNo = item.profileReferenceNo;
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dialog = true;
                this.$refs.refDynamicLoadForm.items = this.itemsData;
                this.$refs.refDynamicLoadForm.initialize();
            },
            save () {
                if (this.$refs.form.validate()) {
                    this.loader = true;
                    let index = this.editedIndex;
                    this.editedItem.profileID = this.itemsData.profileID;
                    this.editedItem.itemClassificationMasterId = this.itemClassificationID;
                    if (this.editedIndex > -1) {
                        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
                        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();
                        this.editedItem.addedByUserId = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();
                        updateItemClassificationTransports(this.editedItem)
                            .then(response => {
                                Object.assign(this.gridItems[index], response.data);
                                this.editedItem = response.data;
                                this.loader = false;
                                this.loadPagingData();
                                this.$refs.refDynamicLoadForm.initialize();
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    } else {
                        this.editedItem.addedByUserId = this.$store.state.auth.userId;
                        createItemClassificationTransports(this.editedItem)
                            .then(response => {
                                this.gridItems.push(response.data);
                                this.loader = false;
                                this.editedItem.transportId =
                                    response.data.transportId;
                                this.editedItem.profileReferenceNo =
                                    response.data.profileReferenceNo;
                                this.$route.query.profileReferenceNo =
                                    response.data.profileReferenceNo;
                                let index = this.gridItems
                                    .map(item => item.transportId)
                                    .indexOf(response.data.transportId);
                                this.editedIndex = index;
                                this.loadPagingData();
                                this.$refs.refDynamicLoadForm.initialize();
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                }
            }
        }
    }
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 110px - 60px);
     }
</style>