<template>
  <div>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      default-sort="sourcename:desc"
    >
      <template
        slot="items"
        slot-scope="props"
      >
        <tr v-bind:class="{danger:props.item.balance<0}">
          <td class="text-xs-left">{{ props.item.sourcename }}</td>
          <td class="text-xs-left">{{ props.item.itemNo }}</td>
          <td class="text-xs-left">{{ props.item.description }}</span></td>
          <td class="text-xs-left">{{ props.item.safetylead | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.safetylead | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.completionDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.documentType }}</td>
          <td class="text-xs-left">{{ props.item.documentNo }}</td>
          <td class="text-xs-left">{{ props.item.quantity }}</td>
          <td class="text-xs-left">{{ props.item.demand }}</td>
          <td class="text-xs-left">{{ props.item.balance }}</td>
          <td class="text-xs-left">{{ props.item.quantityBase }}</td>
          <td class="text-xs-left">{{ props.item.demand }}</td>
          <td class="text-xs-left">{{ props.item.balance }}</td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import { getNavINPItemDetails } from '@/api/nav';
export default {
  data: () => ({
    loader: false,
    search: null,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 }
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    itemNo: '',
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    y: "top",
    headers: [
      { text: "Source Name", value: "sourcename", align: "left" },
      { text: "Item No", value: "itemNo", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Date", value: "safetylead", align: "left" },
      { text: "Start Date", value: "safetylead", align: "left" },
      { text: "Completion/Promised Date", value: "completionDate", align: "left" },
      { text: "Document Type", value: "documentType", align: "left" },
      { text: "Document No", value: "documentNo", align: "left" },
      { text: "Scheduled Receipts", value: "quantity", align: "left" },
      { text: "Gross Requirement", value: "demand", align: "left" },
      { text: "Projected Balance", value: "balance", align: "left" },
      { text: "Projected Balance(unit)", value: "balance", align: "left" },
      { text: "Gross Requirement(unit)", value: "demand", align: "left" },
      { text: "Scheduled Receipts(unit)", value: "quantity", align: "left" },
    ],
    gridItems: []
  }),
  created () {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    this.initialize();

  },
  methods: {
    initialize () {
      if (this.itemNo != '') {
        this.loader = true;
        getNavINPItemDetails(this.itemNo)
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;

            window.getApp.$emit('APP_API_ERROR', error);
          });
      }

    }
  }
}
</script>

<style>
.danger {
  background-color: #ef5350;
}
</style>
