<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="tasks.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  
      <v-dialog v-model="dialog" max-width="700px" scrollable>
        <v-btn slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Production Order</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="first"
              >
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="previous"
              >

                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="next"
              >
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="last"
              >
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <vue-perfect-scrollbar
            class="navPlannedProdOrder--scrollbar"
          >
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>

                  <v-flex lg6 sm6>
                    <v-text-field 
                      v-model="editedItem.rpono" 
                      label="PO No" 
                      :disabled="true" 
                      prepend-icon="select_all"
                    >
                    </v-text-field>
                  </v-flex>
                  <v-flex lg6 sm6>
                    <v-autocomplete 
                      label="Item No" 
                      prepend-icon="notes" 
                      v-model="editedItem.itemId" 
                      :items="itemList" 
                      chips
                      auto
                      item-text="no" 
                      item-value="itemId" 
                      @change="OnItemChange"
                      :rules="itemDropDownRules"
                    >
                    </v-autocomplete>
                  </v-flex>

                  <v-flex lg6 sm6>
                    <v-text-field 
                      v-model="editedItem.description" 
                      label="Item Description" 
                      required prepend-icon="select_all"
                    >
                    </v-text-field>
                  </v-flex>

                  <v-flex lg6 sm6>
                    <v-text-field 
                      v-model="editedItem.quantity" 
                      label="Quantity" 
                      required prepend-icon="select_all" 
                      mask="#############"
                    >
                    </v-text-field>
                  </v-flex>

                  <v-flex
                    xs6
                    sm6
                  >
                    <v-menu
                      v-model="startDateMenu"
                      menu-props="closeOnContentClick"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="startDateFormatted"
                        label="Start Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.startDate"
                        @change="startDateMenu = false"
                        :min="minDate"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex
                    xs6
                    sm6
                  >
                    <v-menu
                      v-model="completionDateMenu"
                      menu-props="closeOnContentClick"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="completionDateFormatted"
                        label="Completion Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.completionDate"
                        @change="completionDateMenu = false"
                        :min="editedItem.startDate"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="close">Cancel</v-btn>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
          </delete-confirmation-dialog>

          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          >
          </delete-confirmation-dialog>

          </vue-perfect-scrollbar>

        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table 
      :headers="headers" 
      :items="gridItems" 
      :search="search" 
      class="elevation-1"
      default-sort="plannedProdOrderId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      >
      <template slot="items" slot-scope="props">

        <td class="text-xs-left">{{ props.item.rpono}}</td>
        <td class="text-xs-left">{{ props.item.itemNo }}</td>
        <td class="text-xs-left">{{ props.item.description }}</td>
        <td class="text-xs-left">{{ props.item.quantity }}</td>
        <td class="text-xs-left">{{ props.item.startDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.completionDate | formatDate}}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">
            edit
          </v-icon>
          <v-icon small @click="onDeleteItem(props.item)">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <v-navigation-drawer class="mcr-drawer" temporary right v-model="mcrchecking" hide-overlay fixed width="1000">
      <v-toolbar card dense color="primary">
        <span class="headline white--text">MCR</span>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn icon slot="activator" @click.native="closeMCR">
            <v-icon color="white">close</v-icon>
          </v-btn>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar>

      <mcr-checking ref="refMcrChecking"></mcr-checking>

    </v-navigation-drawer>
    <v-navigation-drawer class="recipe-drawer" temporary right v-model="recipeInfo" hide-overlay fixed width="600">
      <v-toolbar card dense color="primary">
        <span class="headline white--text"> Recipe Information</span>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn icon slot="activator" @click.native="closeRecipe">
            <v-icon color="white">close</v-icon>
          </v-btn>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar>
      <recipe-information ref="refRecipeInformation"></recipe-information>

    </v-navigation-drawer>
  </div>
</template>

<script>
  import McrChecking from '@/pages/productionplanning/productionreport/mcrchecking.vue'
  import RecipeInformation from '@/pages/productionplanning/productionreport/recipeInformation.vue'
  import { getNavplannedProdOrders, getNavplannedProdOrder, createNavplannedProdOrder, updateNavplannedProdOrder, deleteNavplannedProdOrder, getItems, getINPItems, getByINPReportID } from '@/api/navPlannedProdOrder';
  import GlobalMessage from '@/constant';
  import moment from 'moment'
  export default {
    components: {
      McrChecking,
      RecipeInformation
    },
    data: () => ({
      itemDetailDialog: false,
      dialog: false,
      loader: false,
      search: null,
      mcrchecking: false,
      recipeInfo: false,
      itemCalendarDialog: false,
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      itemList: [],
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      files: new FormData(),
      startDateMenu: false,
      completionDateMenu: false,
      headers: [

        { text: 'PO No', value: 'rpono', align: 'left' },
        { text: 'Item No', value: 'itemNo', align: 'left' },
        { text: 'Item Description', value: 'description', align: 'left' },
        { text: 'Quantity', value: 'quantity', align: 'left' },
        { text: 'Start Date', value: 'startDate', align: 'left' },
        { text: 'Completion Date', value: 'completionDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left' }
      ],
      json_fields: {
      'PO No': 'rpono',
      'Item No': 'itemNo',
      'Item Description': 'description',
      'Quantity': 'quantity',
      'Start Date': 'startDate',
      'Completion Date': 'completionDate'
    },
      gridItems: [],
      inpreportId: null,
      inpItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      editedItem: {
        valid: false,
        plannedProdOrderId: -1,
        rpono: '',
        itemNo: '',
        itemId: null,
        inpreportId: null,
        description: '',
        quantity: 0,
        startDate: new Date().toISOString().substr(0, 10),
        completionDate: new Date().toISOString().substr(0, 10),
      },
      defaultItem: {
        valid: false,
        plannedProdOrderId: -1,
        rpono: '',
        itemNo: '',
        itemId: null,
        inpreportId: null,
        description: '',
        quantity: 0,
        startDate: new Date().toISOString().substr(0, 10),
        completionDate: new Date().toISOString().substr(0, 10),
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
    }),
    computed: {
      itemDropDownRules () {

      return [
        () => (!this.editedItem.itemId !=null) || 'Atleast one Item must be selected.',
        v => !!v || 'This is required field'
          ];
      },

      formTitle () {
        return this.editedIndex === -1 ? 'Add Production Order' : 'Edit Production Order';
      },
      minDate () {
        const today = new Date();
        return this.formatDate(today);
      },
      startDateFormatted () {
        return this.editedItem.startDate ? moment(this.editedItem.startDate).format(GlobalMessage.DATEFORMAT) : ''
      },

      completionDateFormatted () {
        return this.editedItem.completionDate ? moment(this.editedItem.completionDate).format(GlobalMessage.DATEFORMAT) : ''
      },
    },
    created () {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      this.initialize();
    },
    methods: {
      initialize () {
       
        getItems('')
        .then(response => {
          this.itemList = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

        getINPItems(this.inpreportId)
        .then(response3 => {
          this.inpItems = response3.data;
          this.loader = false;

        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
        

      },
      close () {
        this.dialog = false;
        this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
      },
      closeRecipe () {
        this.recipeInfo = false;
      },
      closeMCR () {
        this.mcrchecking = false;
      },
      saveAndClose () {
      this.save();
      this.close();
    },
      toolfunction () {
        

      getNavplannedProdOrder(this.searchItem)
        .then(response => {
          if (response.data != undefined) {
            if (response.data.plannedProdOrderID != null) {

              this.editedItem = response.data;
              
              let index = this.gridItems.map(item => item.plannedProdOrderID).indexOf(response.data.plannedProdOrderID)
              this.editedIndex = index;
            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No more record to view');
            }
          }

        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    first () {
      
      this.searchItem.action = 'First';
      this.searchItem.Id = this.editedItem.plannedProdOrderID;
      this.toolfunction();
      
    },
    last () {
      this.searchItem.action = 'Last';
      this.searchItem.Id = this.editedItem.plannedProdOrderID;

      this.toolfunction();
    },
    previous () {
      this.searchItem.action = 'Previous';
      this.searchItem.Id = this.editedItem.plannedProdOrderID;
      this.toolfunction();
    },
    next () {
      this.searchItem.action = 'Next';
      this.searchItem.Id = this.editedItem.plannedProdOrderID;
      this.toolfunction();
    },
    deleterow () {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem () {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteNavplannedProdOrder(this.editedItem)
        .then(() => {
          
          this.add();
          this.gridItems.splice(index, 1);
          this.dialog = false;
          window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
      add () {
      this.editedItem.valid = false;
      this.editedItem.itemId = null;
      this.editedItem.plannedProdOrderId = -1;
      
      this.editedItem.inpreportId = null;
      this.editedItem.quantity = 0;
      this.editedItem.itemNo = "";
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.editedItem.rpono = 'RPO-' + parseInt(Math.random() * 1000) + 1024; // mock a id
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = 'Active';
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      },

      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        // alert('Item:-'+ JSON.stringify(this.itemList));
        for (var id in this.itemList) {
        if (this.editedItem.itemId == this.itemList[id].itemId) {
          this.editedItem.itemNo = this.itemList[id].no;
          this.editedItem.description = this.itemList[id].description;
          
        }
      }
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = 'Active';
        this.dialog = true;
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteItem () {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteNavplannedProdOrder(this.selectedItem)
        .then(() => {
          
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },

      OnItemChange (value) {
        let item = this.itemList.filter(f => f.itemId == this.editedItem.itemId);
      if (item != undefined) {
        this.editedItem.itemNo = item[0].no;
        this.editedItem.description = item[0].description;
      }
      },

      save () {
        this.editedItem.inpreportId = this.inpreportId;
      // alert('Save Inp'+JSON.stringify(this.editedItem.inpreportId));
        

        for (var id in this.itemList) {
        if (this.editedItem.itemId == this.itemList[id].itemId) {
          this.editedItem.itemNo = this.itemList[id].no;
        }
      }
      // alert('Edited Item'+JSON.stringify(this.editedItem));
      
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

        updateNavplannedProdOrder(this.editedItem)
          .then(response2 => {
            this.loader = false;
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        } else {
          

          this.editedItem.plannedProdOrderId = parseInt(Math.random() * 100) + 1024; // mock a id
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        createNavplannedProdOrder(this.editedItem)
          .then(response2 => {

            this.gridItems.push(response2.data);
            this.loader = false;
            let index = this.gridItems.map(item => item.plannedProdOrderId).indexOf(response2.data.plannedProdOrderId)
            this.editedIndex = index;
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
            //this.add();
            this.close();
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        this.loader = false;
        }
      }

      },
      getINPreport()
    {
       getByINPReportID(this.inpreportId)
        .then(response => {
          this.$refs.refItemProductionOrder.gridItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },

      formatDate (date) {
        let month = `${date.getMonth() + 1}`;
        let day = `${date.getDate()}`;
        const year = date.getFullYear();

        if (month.length < 2) month = `0${month}`;
        if (day.length < 2) day = `0${day}`;

        return [year, month, day].join('-');
      },
    }
  }
</script>

<style lang="stylus" scoped> 
 .navPlannedProdOrder--scrollbar {
   height: calc(100vh - 60px);
 }
</style>
