<template>
  <div id="app">
    <v-card>
      <v-card-title class="headline">
        {{itemHeader}}
      </v-card-title>
      <ejs-treegrid
        :dataSource="gridItems"
        :treeColumnIndex='1'
        childMapping='children'
      >
        <e-columns>
          <e-column
            field='itemNo'
            headerText='Item No'
            textAlign='Right'
            width=90
          ></e-column>
          <e-column
            field='description'
            headerText='Description'
            textAlign='Left'
            width=180
          ></e-column>
          <e-column
            field='quantity'
            headerText='Quantity'
            textAlign='Right'
            width=90
          ></e-column>
          <e-column
            field='uom'
            headerText='UOM'
            textAlign='Right'
            width=80
          ></e-column>
          <e-column
            field='batchNo'
            headerText='Batch No'
            textAlign='Right'
            width=80
          ></e-column>
          <e-column
            field='leadTime'
            headerText='Lead Time'
            textAlign='Right'
            format='yMd'
            width=80
          ></e-column>
        </e-columns>
      </ejs-treegrid>
      <!-- <v-card-text>
         <v-tree-data-table
        :headers="headers"
        :items="gridItems"
        :pagination.sync="pagination"
        :loading="loading"
        :total-items="pagination.totalItems"
        hide-actions
        class="elevation-1"
      >
        <template slot="row" slot-scope="props">
          <td class="text-xs-left">{{ props.item.itemNo }}</td>
          <td class="text-xs-left">{{ props.item.description }}</td>
          <td class="text-xs-left">{{ props.item.quantity }}</td>
          <td class="text-xs-left">{{ props.item.uom }}</td>
          <td class="text-xs-left">{{ props.item.batchNo }}</td>
          <td class="text-xs-left">{{ props.item.leadTime }}</td>
        </template>
      </v-tree-data-table> -->
      </v-card-text>
    </v-card>
    </v-app>
  </div>
</template>

<script>
import { Page } from "@syncfusion/ej2-vue-treegrid";
export default {
  data: () => ({
    itemHeader: null,
    gridItems: [],
    loading: false,
    gridItems: [],
    loading: false,
    dialog: false,

    dialog: false,

  }),

  provide: {
    treegrid: [Page]
  }
}
</script>

<style>
@import "../../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
</style>