<template>

  <v-card>
    <v-toolbar card dense color="transperent">

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="openUpload" :loading="subpublicfolderloader">
          <v-icon>attach_file</v-icon>
        </v-btn>
        <span>File Upload by clicking this button.</span>
      </v-tooltip>

      </v-btn>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="addMainPublicfolder()">
          <v-icon icon>
            note_add
          </v-icon>
        </v-btn>
        <span>Add Main Public Folder</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="addSubPublicfolder()">
          <v-icon icon>
            add_circle_outline
          </v-icon>
        </v-btn>
        <span>Add Sub Public Folder</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="editPublicfolder()">
          <v-icon icon>
            edit
          </v-icon>
        </v-btn>
        <span>Edit Folder</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="deletePublicfolder()">
          <v-icon icon>
            delete
          </v-icon>
        </v-btn>
        <span>Delete Folder</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="refreshFile()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
      <v-spacer></v-spacer>

      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="goBack">
          <v-icon icon>
            reply
          </v-icon>
        </v-btn>
        <span>Go Back</span>
      </v-tooltip>
    </v-toolbar>
    <v-dialog v-model="subdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="saveSubPublicfolder" :loading="subpublicfolderloader">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Folder</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="subdialog = false" :loading="subpublicfolderloader">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <vue-perfect-scrollbar class="chat-room--scrollbar lighten-5" v-bind:style="computeHeight">
            <sub-publicfolder ref="refsubPublicfolderForm"></sub-publicfolder>
          </vue-perfect-scrollbar>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="updatePublicfolder" :loading="subpublicfolderloader">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Folder</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="editdialog = false" :loading="subpublicfolderloader">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <vue-perfect-scrollbar class="chat-room--scrollbar lighten-5" v-bind:style="computeHeight">
            <publicfolder-form ref="refpublicfolderForm"></publicfolder-form>
          </vue-perfect-scrollbar>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="uploadFile" max-width="700px" scrollable>
      <v-card>
        <v-form  ref="form" lazy-validation>
          <v-card-title>
            <span>File Upload</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-text>
            <v-textarea label="Description" v-model="formdata.documentDescription" prepend-icon="person" required></v-textarea>
          </v-card-text>
          <v-card-text>
            <upload-btn :fileChangedCallback="fileChanged" title="Browse" multiple name="uploadpublicfolder" uniqueId>
              <!-- multiple -->
              <template slot="icon-left">
                <v-icon left color="white">attachment</v-icon>
              </template>
            </upload-btn>
            <div class="large-12 medium-12 small-12 cell">
              <div v-for="(file, key) in uploadedFiles" class="file-listing">{{ file.name }}

                <v-btn icon v-if="!showdownload" @click="removeFile( key )">
                  <v-icon>close</v-icon>
                </v-btn>

                <v-btn icon v-if="showdownload" @click="downloadFile( key )">
                  <v-icon>save_alt</v-icon>
                </v-btn>
              </div>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn outline color="primary" @click.native="savedocuments" :loading="subpublicfolderloader">Upload</v-btn>
            <v-btn outline color="primary" @click.native="closeUpload">Close</v-btn>

          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-dialog v-model="publicfolderdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="saveMainPublicfolder" :loading="subpublicfolderloader">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Folder</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="publicfolderdialog = false" :loading="subpublicfolderloader">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <vue-perfect-scrollbar class="chat-room--scrollbar lighten-5" v-bind:style="computeHeight">
            <sub-publicfolder ref="refPublicfolderForm"></sub-publicfolder>
          </vue-perfect-scrollbar>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-layout justify-space-between pa-3>
      <v-flex xs3>
        <vue-perfect-scrollbar class="chat-room--scrollbar grey lighten-5" v-bind:style="computeHeight">
          <v-treeview :active.sync="active" :items="subPublicfolderitems" :open.sync="open" activatable active-class="primary--text" transition class="grey lighten-5">

          </v-treeview>
        </vue-perfect-scrollbar>
      </v-flex>

      <v-flex v-if="selected" d-flex xs9>
        <file-list ref="refpublicfolderfiles">
        </file-list>

      </v-flex>
      <v-flex v-else d-flex xs9>
      </v-flex>

    </v-layout>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
    </delete-confirmation-dialog>
  </v-card>

</template>
<script>
  import router from 'vue-router';
  import UploadButton from 'vuetify-upload-button';
  import SubPublicfolder from '@/pages/publicfolder/subpublicfolder';
  import GlobalMessage from '@/constant';
  import FileList from '@/pages/publicfolder/FileList';
  import PublicfolderForm from '@/pages/publicfolder/publicfolderForm';
  import { getApplicationUsers, getUserGroups, getFolders, getFoldersbyID, getuserFolderTreeId, getFolderTypes, getSubFoldersId, getFolderTreeId, getSubFolders, getFolder, createFolders, updateFolders, createSubFolder, updateSubFolder, deleteFolders, getFolderFiles, getDocumentFolder } from '@/api/folder';
  import { uploadDocuments, downloadFile, documentUsers, createDocumentAccess, updateDocumentAccess } from '@/api/document';
  export default {
    components: {

      SubPublicfolder,
      FileList,
      'upload-btn': UploadButton,
      PublicfolderForm
    },

    name: 'Page2',
    data: () => ({
      opentreeNode: true,
      subdialog: false,
      editdialog: false,
      publicfolderdialog: false,
      active: [],
      avatar: null,
      open: [],
      users: [],
      publicfolderItems: [],
      publicfolderAllItems: [],
      subPublicfolderitems: [],
      actionButton: false,
      subPublicfolderDialog: false,
      uploadFile: false,
      folderID: -1,
      mainFolderID: -1,
      parentFolderID: -1,
      uploadedFiles: [],
      showDownLoad: false,
      documentDescription: '',
      formDeleteData: new FormData(),
      editFile: {
        name: '',
        size: '',
        contentType: '',
      },
      formTitle: 'Public Folder Details',
      mergePublicfolder: {        publicfolderMergedIds: [],
        modifiedByUserID: null      },
      panel: [],
      subpublicfolderfiles: new FormData(),
      formdata: {
        valid: false,
        folderID: -1,
        date: new Date(),
        title: '',
        name: '',
        description: '',
        documentDescription: '',
        sessionID: '',
        folderTypeID: 524,
        addedByUserID: 1,
        addedDate: new Date(),
        addedByUser: 'Arun',
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserID: 1,
        modifiedDate: new Date(),
        requiredfield: [v => !!v || 'This is required field'],
        addedByUser: 'Arun',
        attachments: [],
        documentID: -1,
        documentFolderID: -1,
        documentAccessID: null,
        documentAccessName: null,
        isTemp: true,
        uploadedFile: null,
        mainFolderID: null,
        publicfolderLinkedIds: [],
      },
      subpublicfolderloader: false,
      subpublicfoldertriggered: false,
      selectedPublicfolder: [],
    }),
    created () {
      this.folderID = this.$route.query.publicfolderid;
      this.mainFolderID = this.$route.query.id;
      this.actionButton = true;
      this.initialize();
    },

    beforeDestroy () {
     window.getApp.$off('INITIALIZE_PUBLICFOLDERFILE')
      window.getApp.$off('INITIALIZE_PUBLICFOLDERCONVER')
      window.getApp.$off('PUBLICFOLDER_MESSAGE_READ')
      window.getApp.$off('PUBLICFOLDER_File_MESSAGE_READ')
      window.getApp.$off('SAVE_PUBLICFOLDER')
      window.getApp.$off('INITIALIZE_PUBLICFOLDER')
      window.getApp.$off('EDIT_PUBLICFOLDER')
      window.getApp.$off('ENABLE_PUBLICFOLDERACTION')
      window.getApp.$off('DISABLE_TAB')
      window.getApp.$off('TAB_CONVERSATION')
      window.getApp.$off('INITIALIZE_SUBPUBLICFOLDER')
      window.getApp.$off('EDIT_SUBPUBLICFOLDER')
      window.getApp.$off('ADD_SUBPUBLICFOLDER')
      window.getApp.$off('SAVE_SUBPUBLICFOLDER')
      window.getApp.$off('ADD_MAINSUBPUBLICFOLDER')
      window.getApp.$off('SEND_PUBLICFOLDEROBJ')
    },

    computed: {
      computeHeight () {
        return {
          height: this.height || ''
        };
      },
      selected () {
   
        if (!this.publicfolderItems.length) return undefined;
        
        if (!this.active.length) {
          if (this.folderID > 0 ) {
            this.active.push(this.folderID);
            
          }
          else {
            return undefined
          }
        }
        
        const id = this.active[0]
        let editdata = this.publicfolderItems.find(publicfolder => publicfolder.folderID == id);
      
       
        if (editdata != undefined) {  
          this.formdata = editdata; 
          console.log(this.formdata);
          this.hasPermission = this.formdata.hasPermission;
          this.editPublic(this.formdata);
          this.editSelectedPublic(this.formdata);
          this.formDeleteData = this.formdata;
        }     
        this.opentreeNode = true;
        return editdata;
      },

      items () {
        return this.subPublicfolderitems;
        return this.publicfolderItems;
        // this.$refs.refPublicfolderForm.initialize();
        // this.$refs.initialize();
       // this.initialize();
        // this.$refs.refsubPublicfolderForm.initialize();
      },
    },

    watch: {

    },

    methods: {

      editPublic (publicfolder) {


        setTimeout(() => {

          this.$refs.refpublicfolderfiles.folderID = publicfolder.folderID;
          this.$refs.refpublicfolderfiles.formdata.folderID = publicfolder.folderID;
          this.$refs.refpublicfolderfiles.mainFolderID = publicfolder.mainFolderID;
          this.$refs.refpublicfolderfiles.formdata.documentFolderID = publicfolder.documentFolderID;

          this.$refs.refpublicfolderfiles.initialize();
          this.$refs.refpublicfolderfiles.uploadedFiles = [];
          this.$refs.refpublicfolderfiles.uploadedfileslist = [];

        }, 100);
      },
      editSelectedPublic (publicselectedfolder) {

        setTimeout(() => {
          this.$refs.refpublicfolderForm.formdata = publicselectedfolder;

        }, 100);
      },

      initialize () {
        if (this.mainFolderID > 0) {

          let userId = this.$store.state.auth.userId;
          getFolderTreeId(this.mainFolderID, userId)
            .then(response3 => {
              this.subPublicfolderitems = response3.data;
              this.subpublicfolderloader = false;
              this.opentreeNode = true;

            })
            .catch(error => {
              this.subpublicfolderloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });

          getSubFoldersId(this.mainFolderID, userId)
            .then(response3 => {
              this.publicfolderItems = response3.data;
              this.subpublicfolderloader = false;
              this.publicfolderItems.forEach((node) => {
                this.open.push(node.folderID);
              });
            })
            .catch(error => {
              this.subpublicfolderloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });

        }
        else {
          this.subPublicfolderitems = [];
        }
      },
      getAttachments () {
        getDocumentFolder(this.formdata.folderID)
          .then(response => {

            this.editFile.name = response.data[0].fileName;
            this.editFile.contentType = response.data[0].contentType;
            this.editFile.size = response.data[0].fileSize;
            this.showdownload = true;

            this.uploadedFiles.push(this.editFile);
            this.loader = false;

          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },

     
      close () {
        this.dialog = false;
        this.uploadedFiles = [];
        this.uploadedfileslist = [];
        this.subpublicfolderfiles = new FormData();
       
        setTimeout(() => {
          this.initialize();
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;

        }, 400);
      },
      addMainPublicfolder () {
        this.formTitle = 'Add Main Public Folder';
        this.$refs.refPublicfolderForm.initialize();
        this.$refs.refPublicfolderForm.formdata.addedByUser = this.$store.state.auth.userName;
        this.$refs.refPublicfolderForm.parentFolderID = null;
        this.$refs.refPublicfolderForm.mainFolderID = this.formdata.mainFolderID;

        this.publicfolderdialog = true;
      },
      editPublicfolder () {
        setTimeout(() => {

        }, 300);
        this.editdialog = true;
      },
      deletePublicfolder () {
        setTimeout(() => {

        }, 300);
        this.$refs.deleteConfirmationDialog.openDialog();

      },
      refreshFile () {
        setTimeout(() => {

        }, 300);
        this.initialize();

      },
      updatePublicfolder () {
        this.$refs.refpublicfolderForm.save();
        this.initialize();
        this.$refs.refsubPublicfolderForm.initialize();
        this.editdialog = false;
      },
      addSubPublicfolder () {
        this.formTitle = 'Add Sub Public Folder';
        this.$refs.refsubPublicfolderForm.initialize();
        this.$refs.refsubPublicfolderForm.formdata.addedByUser = this.$store.state.auth.userName;
        this.$refs.refsubPublicfolderForm.parentFolderID = this.formdata.folderID;
        this.$refs.refsubPublicfolderForm.mainFolderID = this.formdata.mainFolderID;

        this.subdialog = true;
      },
      saveSubPublicfolder () {
        this.subpublicfoldertriggered = false;
        this.subdialog = false;
        this.$refs.refPublicfolderForm.parentFolderID = this.formdata.folderID;
        this.$refs.refPublicfolderForm.mainFolderID = this.formdata.mainFolderID;
        this.$refs.refsubPublicfolderForm.savesub();

        setTimeout(() => {
          this.initialize();
        }, 500);
      },
      saveMainPublicfolder () {
        this.publicfolderdialog = false;
        this.subpublicfoldertriggered = false;
        this.$refs.refPublicfolderForm.parentFolderID = null;
        this.$refs.refPublicfolderForm.mainFolderID = this.formdata.mainFolderID;
        this.$refs.refPublicfolderForm.savesub();
        setTimeout(() => {
          this.initialize();
        }, 500);
      },
      openUpload () {

        this.uploadedFiles = [];
        this.subpublicfolderloader = false;
        this.uploadFile = true;
      },

      closeUpload () {
        this.uploadedFiles = [];
        this.uploadedfileslist = [];
        this.subpublicfolderfiles = new FormData();
        this.uploadFile = false;
      },
      openDialog () {
        this.add();
        this.publicfolderdialog = true;
        this.subdialog = true;
        this.subPublicfolderDialog = true;
        this.editedItem = this.defaultItem;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
       
        this.$refs.deleteConfirmationDialog.close();
        this.subpublicfolderloader = true;
        let index = this.editedIndex;
        deleteFolders(this.formdata)
          .then(response => {
            if (response != undefined) {    
                 
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);            
              this.initialize();
            }
           
            this.subpublicfolderloader = false;

          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },

      fileChanged (files) {
        for (var id in files) {
          if (files[id].name != undefined && files[id].name != '' && files[id].name != 'item') {
            this.uploadedFiles.push(files[id]);
            this.showdownload = false;
            this.subpublicfolderfiles.append("file", files[id], files[id].name);
          }
        }
      },
      removeFile (key) {
        this.uploadedFiles.splice(key, 1);
        this.uploadedFiles = [];
        this.uploadedfileslist = [];
        this.subpublicfolderfiles = new FormData();
      },
      isImage (file) {
        return this.imageMime.includes(file.fileType);
      },
      mimeIcons (file) {
        return this.imageMime.includes(file.fileType)
          ? 'image'
          : 'insert_drive_file';
      },
      showDetail (file) {
        this.editedIndex = this.documents.indexOf(file);
        this.formdata = Object.assign({}, file);

        documentUsers(this.formdata.documentID)
          .then(response => {
            this.formdata.userID = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

        this.uploadFile = true;
      },
      showFiles (item) {

        this.documents = this.allFiles.filter(f => f.departmentID == item.value);
        this.view = 'list';
      },
      downloadFile (key) {
        downloadFile(this.formdata.attachments[key])
          .then(response => {
            let blob = new Blob([response.data], { type: this.editFile.contentType })
            let link = document.createElement('a')
            link.href = window.URL.createObjectURL(blob)
            link.download = this.editFile.name
            link.click()
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

      },
      goBack () {
        this.$router.push({ name: 'PublicFolder' });
      },
      savedocuments () {

        if (this.$refs.form.validate()) {
          this.subpublicfolderloader = true;
          uploadDocuments(this.subpublicfolderfiles)
            .then(response => {
              this.subpublicfolderfiles.delete("file");
              this.uploadedFiles = [];

              this.formdata.sessionID = response.data;
              if (this.formdata.folderID > -1) {
                this.formdata.modifiedByUserId = this.$store.state.auth.userId;
                this.formdata.modifiedDate = new Date().toISOString().substr(0, 10);
                this.formdata.addedByUserId = this.$store.state.auth.userId;

                this.formdata.addedDate = new Date().toISOString().substr(0, 10);
                updateFolders(this.formdata)
                  .then(response => {
                    this.subpublicfolderloader = false;
                    this.actionButton = true;
                    window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                    this.uploadFile = false;
                    this.initialize();
                  })
                  .catch(error => {
                    this.subpublicfolderloader = false;
                    window.getApp.$emit('APP_API_ERROR', error);
                  });
              } else {
                this.formdata.addedByUserId = this.$store.state.auth.userId;
                this.formdata.addedDate = new Date().toISOString().substr(0, 10);
                createFolders(this.formdata)
                  .then(response => {
                    this.subpublicfolderloader = false;
                    this.formdata = response.data;
                    window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                    this.subpublicfolderfiles = new FormData();
                    this.initialize();
                    this.uploadedFiles = [];
                  })
                  .catch(error => {
                    this.subpublicfolderloader = false;
                  });
              }
            })
            .catch(error => {
              this.subpublicfolderloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });

        }
        else {
          window.getApp.$emit('APP_API_VAL', GlobalMessage.VALIDATE);
        }
      },
      formateDate (string) {
        return string ? new Date(string).toISOString().substr(0, 10) : '';
      },

    }
  }
</script>

 <style lang="stylus" scoped>
   .chat-room--scroll {
     height: calc(100vh - 120px - 110px);
   }

   chat-room--scrollnoeditor {
     height: calc(100vh - 48px - 80px);
   }
</style>