<template>
  <div id="page-forms">
    <v-card>
      <v-toolbar card dense color="transperent">
        <v-tooltip bottom>
          <v-btn icon slot="activator" flat color="primary" @click.native="opentree">
            <v-icon>timeline</v-icon>
          </v-btn>
          <span>Task Tree </span>
        </v-tooltip>
          <v-text-field
      v-model="docsearch"
     
      label="Global Search"
      clearable
      single-line
      
     
    ></v-text-field>
     <v-tooltip bottom>
           <v-btn icon slot="activator" flat color="primary"  @click.native="openDocList">
            <v-icon>search
            </v-icon>
          </v-btn>
          <span>View Sub File Profile Documents</span>
        </v-tooltip>
        <v-spacer></v-spacer>
         <v-tooltip bottom>
           <v-btn icon slot="activator" flat color="primary" :disabled="!isEnableSecurityAccess" @click.native="openSecurityAccess">
            <v-icon>security
            </v-icon>
          </v-btn>
          <span>Set Security Access</span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn slot="activator" depressed :style="{ float: 'right' }">{{currentFileProfileName}}</v-btn>
          <span>Current File Profile Name</span>
        </v-tooltip>
        <span v-show="openDocument!=null || totalDocument != null">{{ openDocument +" | "+totalDocument }}</span>
        <v-tooltip bottom v-show="moveCheckBoxChecked">
          <v-btn icon slot="activator" flat color="primary" @click.native="openArchivePop">
            <v-icon>archive</i>
            </v-icon>
          </v-btn>
          <span>Archive </span>
        </v-tooltip>
        <div v-show="moveCheckBoxChecked">
          <v-menu :close-on-content-click="false" :nudge-width="400" :max-height="400" offset-x>
            <template #activator="{ on: onMenu }">
              <v-tooltip bottom>
                <template #activator="{ on: onTooltip }">
                  <v-btn dark icon v-on="{ ...onMenu, ...onTooltip }" @click="loadMoveTree">
                    <v-icon icon color="primary">mdi-folder-move</v-icon>
                  </v-btn>
                </template>
                <span>Move To</span>
              </v-tooltip>
            </template>

            <v-card>
              <v-card-text>
                <div style="overflow: auto; height: calc(70vh - 50px)">
                   <v-text-field flat label="Search" solo-inverted v-model="moveSearch" appendIcon="search"></v-text-field>
                  <v-treeview activatable active-class="primary" v-model="selectionId" :items="fileProfileMoveTreeItems" :open="openKey" @update:active="fetchMoveData">

                  </v-treeview>
                </div>
              </v-card-text>
            </v-card>
          </v-menu>
        </div>
        <v-tooltip bottom>
          <v-btn icon="" color="primary" slot="activator" flat @click="downloadExcelTo">
            <v-icon icon> cloud_download </v-icon>
          </v-btn>
          <span>Download Excel</span>
        </v-tooltip>

        <v-menu bottom right :disabled="!permissionData.isCreateDocument">
          <v-btn slot="activator" icon :disabled="!permissionData.isCreateDocument">
            <v-icon icon color="primary">more_vert</v-icon>
          </v-btn>
          <v-list>
            <v-list-tile v-for="(item, i) in menuitems" :key="i" @click="menuClick(i)" ripple="ripple" :target="item.target" :disabled="menudisabled(item)" rel="noopener">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
        <v-btn icon @click="reloadDoc()">
          <v-icon icon color="primary">refresh</v-icon>
        </v-btn>
        <v-btn icon @click="openProfileInfo()">
          <v-icon icon color="primary">info</v-icon>
        </v-btn>
       
        <v-tooltip bottom>
          <v-btn icon="" color="primary" slot="activator" flat @click="goBack">
            <v-icon icon> reply </v-icon>
          </v-btn>
          <span>Go Back </span>
        </v-tooltip>
      </v-toolbar>
     
      <v-navigation-drawer class="setting-drawer" temporary left v-model="treedrawer" hide-overlay fixed width="600px" :loding="loader">
        <v-toolbar color="primary" dark>
          <v-toolbar-title> File Profile Tree </v-toolbar-title>
        </v-toolbar>
        <v-text-field flat label="Search" solo-inverted v-model="filterSearch" appendIcon="search"></v-text-field>

        <div style="overflow: auto; height: calc(100vh - 70px)">
          <v-container>
            <v-layout column>
              <app-section-loader :status="loader"></app-section-loader>
              <vue-drag-tree :data="items" @current-node-clicked="curNodeClicked" :disableDBClick="true" :expandAll="true" :active="fileProfileTypeId"></vue-drag-tree>
            </v-layout>
          </v-container>
          <!-- </vue-perfect-scrollbar> -->
        </div>
      </v-navigation-drawer>
          <v-dialog v-model="dynamicFormDialog" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon @click.native="dynamicFormDialogClose">
            <v-icon color="white">reply</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="dynamicFormDialogClose">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12>
              <iframe
                name="openprofileIframe"
                style="width: 100%; height: 550px;  overflow: hidden;"
                scrolling="no"
                :src="srcfileContent"
              ></iframe>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
          </v-dialog>
           <v-navigation-drawer
          v-model="openSubFileProfileDocListDialog"
          hide-overlay
          temporary
          width="500"
          fixed
          right
        >
        <v-layout row wrap>
          <v-flex xs12 sm12>
             <v-toolbar color="primary" dark>
          <v-toolbar-title> Document List </v-toolbar-title>
        </v-toolbar>
           
          </v-flex>
          <v-flex xs12 sm12>
          <v-data-table
          :headers="docheaders"
          :items="subFileProfileDocList"
          class="elevation-1"
          :search="doclistsearch"
          :loading="gridloader"
          fix-header
          default-sort="itemClassificationID:desc"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
          
          >
            <template slot="items" slot-scope="props">
              <tr v-on:dblclick="docFileProfileLink(props.item)">
                <td class="text-xs-left">
                <v-tooltip bottom>
                  
                  <v-icon v-if="props.item.isLocked" slot="activator" small
                    >lock</v-icon
                  >
                  <v-icon v-else="props.item.isLocked" slot="activator" small
                    >lock_open</v-icon
                  >

                  <span v-if="props.item.isLocked"
                    >Locked By : {{ props.item.lockedByUser }}</span
                  >
                  <span v-else="props.item.isLocked">Open File</span>
                </v-tooltip>
                {{ props.item.fileName }}
              </td>

              <td class="text-xs-left">
                {{ props.item.fileProfileTypeName }}
              </td>
              <td class="text-xs-left">{{ props.item.profileNo }}</td>

              <td class="text-xs-left">{{ props.item.fileSize }}</td>
             
                  <td                  
                  >
                    {{ props.item.description }}
                  </td>            
             
                  <td>
                    {{ props.item.expiryDate | formatDate }}
                  </td>
                 
               
              
              <td class="text-xs-left">{{ props.item.addedByUser }}</td>
              <td class="text-xs-left">
                {{ props.item.addedDate | formatDateTime }}
              </td>
                <td class="justify-center layout px-0">
                 

                   <v-icon
                    small
                    slot="activator"
                    flat
                    class="mr-2"
                    @click="docFileProfileLink(props.item)"
                    >visibility</v-icon
                  >
                 
                  

                 
                </td>
              </tr>
            </template>
            <template slot="no-data">
              <v-btn color="primary" outline >
                Record not exist.Refresh again in while time.</v-btn
              >
            </template>
          </v-data-table>
          </v-flex>
        </v-layout>
           </v-navigation-drawer>
      <v-dialog v-model="folderDialog" fullscreen>
        <v-card>
          <v-toolbar dark color="primary">
            <v-spacer></v-spacer>

            <v-btn icon @click.native="folderDialogClose">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12 sm12>
                <folder-list ref="reffolderlist"></folder-list>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-dialog>
       <v-dialog v-model="securitySettingsDialog" fullscreen>
        <v-card>
          <v-toolbar dark color="primary">
            <v-spacer></v-spacer>

            <v-btn icon @click.native="securitySettingsDialogClose">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </v-toolbar>
          <div style="overflow: auto; height: calc(100vh - 90px)">
          <v-card-text>
            <v-layout wrap>
               
              <v-flex xs12 sm12>
                <document-security-settings ref="refDocumentSecurity"></document-security-settings>
              </v-flex>
              
            </v-layout>
          </v-card-text>
           </div>
        </v-card>
      </v-dialog>
      <v-layout justify-space-between pa-3>
        <v-flex xs12>
           <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">{{profileInfo}}</span>
    </v-layout>
          <fileProfileTypeDocView ref="refclassificationForm"></fileProfileTypeDocView>
          <!-- <classification-tabform            
            ref="refClassificationTab"
          ></classification-tabform>          -->
        </v-flex>
        <!-- </vue-perfect-scrollbar> -->
        <v-dialog v-model="attachdialog" max-width="900">
          <v-card>
            <v-card-text>
              <v-layout wrap>
                <profile-no-generate
                      ref="refprofileNoGenerate"
                    ></profile-no-generate>
                <v-flex xs12 sm12>
                  <v-textarea label="Description" v-model="description" prepend-icon="person"></v-textarea>
                </v-flex>
                 <v-flex lg12 sm12 v-if="isExpiryDate">
            <v-menu
                        ref="expirydatemenu"
                        v-model="expirydatemenu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        :return-value.sync="expiryDate"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      
                      >
                        <v-text-field
                          slot="activator"
                          :value="expiryDateFormatted"
                          label="Expiry Date"
                          prepend-icon="today"
                          readonly
                        
                        ></v-text-field>
                        <v-date-picker
                          v-model="expiryDate"
                         
                        >
                          <v-spacer></v-spacer>
                          <v-btn
                            flat
                            color="primary"
                            @click="expirydatemenu = false"
                            >Cancel</v-btn
                          >
                          <v-btn
                            flat
                            color="primary"
                            @click="
                              $refs.expirydatemenu.save(expiryDate)
                            "
                            >OK</v-btn
                          >
                        </v-date-picker>
                      </v-menu>
                 </v-flex>
                  <v-flex xs12 sm12>
                  <upload-btn @file-update="attachfileChanged" title="Upload your document" name="uploadtask" ref="attachUpload" noTitleUpdate uniqueId :multiple="isMultiple">
                    <template slot="icon-left">
                      <v-icon small class="mr-2">cloud_upload</v-icon>
                    </template>
                  </upload-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-dialog v-model="profileTypeInfodialog" max-width="650">

          <v-card>

            <v-toolbar dark color="primary">
              <v-toolbar-title> Profile Type Info </v-toolbar-title>
              <v-spacer></v-spacer>

              <v-btn icon @click.native="profileTypeInfodialog = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <div style="overflow: auto; height: calc(70vh - 70px)">
                <v-layout wrap>
                  <v-flex xs12 sm12>

                    <vue-mce :config="profileinfoEditor" v-if="isRTERender" ref="profileinfoEditor" id="profileinfoEditor" v-model="fileProfileData.profileTypeInfo" />

                    <!-- <v-textarea label="Profile Type Info" v-model="profileInfo" prepend-icon="person" required :rules="requiredRules"></v-textarea> -->
                  </v-flex>

                </v-layout>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outline @click="saveProfileInfo">Save</v-btn>
              <v-btn color="primary darken-1" outline @click="profileTypeInfodialog=false">Close</v-btn>

            </v-card-actions>
          </v-card>

        </v-dialog>
        <v-dialog v-model="profileTypeShowdialog" max-width="650">

          <v-card>
            <v-toolbar dark color="primary">
              <v-toolbar-title> Profile Type Info </v-toolbar-title>
              <v-spacer></v-spacer>

              <v-btn icon @click.native="profileTypeShowdialog = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <div style="overflow: auto; height: calc(70vh - 70px)">
                <v-layout wrap>

                  <v-flex xs12 sm12>
                    
                    <div v-html="profileTypeInfo"></div>
                  </v-flex>

                </v-layout>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="primary darken-1" outline @click="profileTypeShowdialog=false">Close</v-btn>

            </v-card-actions>
          </v-card>

        </v-dialog>

          <v-dialog v-model="massWayDialog" max-width="650">

          <v-card>

            <v-toolbar dark color="primary">
              <v-toolbar-title> Mass Way Add/Rename </v-toolbar-title>
              <v-spacer></v-spacer>

              <v-btn icon @click.native="closemassWayDialog">
                <v-icon color="white">close</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <div style="overflow: auto; height: calc(70vh - 70px)">
                <v-form  ref="masswayform" lazy-validation>
                <v-layout wrap>
                   <v-flex xs12 sm2>
                  <span>Main Profile :</span>
                   </v-flex>
                  <v-flex xs12 sm10>
                     <v-text-field flat label="Main File Profile" solo-inverted v-model="currentFileProfileName" readonly ></v-text-field>
                   
                  </v-flex>
                   <v-flex xs12 sm6>
                    <v-text-field
                      v-model="massWayItem.mainProfileName"
                      label="Change File Profile Type"
                      prepend-icon="select_all"
                      required
                      :rules="requiredRules"
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm6>
                    <v-text-field
                      v-model="massWayItem.createProfileName"
                      label="Add/Rename File Profile Type"
                      prepend-icon="select_all"
                      :rules="requiredRules"
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm12>
            <v-radio-group
              v-model="massWayItem.massWayType"
              row
              :mandatory="false"
            
              
            >
              <v-radio label="Create File Profile Types" value="create"></v-radio>
              <v-radio label="Rename File Profile Types" value="rename"></v-radio>
            </v-radio-group>
          </v-flex>
                </v-layout>
                </v-form>
              </div>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outline @click="addFileProfileTypes">Save</v-btn>
              <v-btn color="primary darken-1" outline @click="closemassWayDialog">Close</v-btn>

            </v-card-actions>
          </v-card>

        </v-dialog>
        <delete-confirmation-dialog ref="refArchiveDialog" heading="Are You Sure You Want To Archive?" message="Are You Sure You Want To Archive?" @onConfirm="archiveConfirmItem"></delete-confirmation-dialog>

        <delete-confirmation-dialog ref="refMoveToDialog" heading="Are You Sure You Want To Move?" :message="moveMessage" @onConfirm="moveToConfirmItem"></delete-confirmation-dialog>
      </v-layout>
    </v-card>
  </div>
</template>
<script>
import { getToken } from "@/util/auth";
import FileProfileTypeDocView from "@/pages/FileProfileTypeView/FileProfileTypeDocView";
import TreeMenu from "@/pages/task/treeMenu";
import FolderList from "@/components/attachment/folderlist";
import DocumentSecuritySettings from "@/pages/FileProfileTypeView/documentSecuritySettings";
import GlobalMessage from "@/constant";
import Util from "@/util";
import moment from "moment";
import UploadButton from "vuetify-upload-button";
import {
  getFileProfileTypeTree,
  createDocument,
  getFileProfileTypePermission,
  getlatestDocumentByFileProfileTypeId,
  getFileProfileTypeTreeItems,
  getFileProfileTypeMoveDocument,
  getFileProfileTypeUpdateArchiveDocument,
  updateFileProfileTypeInfo,
  getFileProfileTypeDocument,
  getFileProfileTypeById,
  createSubFileProfileTypes,
  getExcel,
  getValidFileProfileSetUpFromIds,
  getValidFileProfileIds,
  getSubFileProfileTypeDocuments,
  getFileProfileTypeFlatItems,
} from "@/api/fileProfileType";
import { setTimeout } from "timers";
import ProfileNoGenerate from "@/pages/FileProfileTypeView/profileNoDivision";
export default {
  components: {
    TreeMenu,
    FileProfileTypeDocView,
    "upload-btn": UploadButton,
    FolderList,
    DocumentSecuritySettings,
    ProfileNoGenerate,
  },
  name: "Page2",
  data: () => ({
    gridloader: false,
    filterSearch: "",
    moveSearch: "",
    docsearch: "",
    doclistsearch: "",
    srcfileContent: "",
    openSubFileProfileDocListDialog: false,
    subFileProfileDocList: [],
    dynamicFormDialog: false,
    currentFileProfileName: "",
    moveCheckBoxChecked: false,
    expirydatemenu: false,
    securitySettingsDialog: false,
    isMoveFlag: false,
    selectionId: [],
    openKey: [],
    openAll: true,
    openDocument: null,
    isEnableSecurityAccess: true,
    isExpiryDate: false,
    description: "",
    totalDocument: null,
    gridItems: [],
    profileTypeInfodialog: false,
    profileinfoEditor: Util.tinyconfig(150),
    isRTERender: false,
    isRTERendershow: false,
    profileTypeShowdialog: false,
    massWayDialog: false,
    searchTo: "",
    expiryDate: new Date().toISOString().substr(0, 10),
    searchdiscussionTo: "",
    itemClassificationtreeItems: [],
    fileProfileMoveTreeItemsAll: [],
    classificationItems: [],
    scrollSettings: {
      maxScrollbarLength: 130,
    },
    moveMessage: "",
    folderDialog: false,
    editdialog: false,
    documentID: null,
    treedrawer: false,
    loader: false,
    hasPermission: false,
    classificationdialog: false,
    subclassificationdialog: false,
    active: [],
    attachdialog: false,
    isMultiple: true,
    taskdetailsloader: false,
    isNotes: false,
    subTaskitems: [],
    isRead: true,
    isDelete: true,
    isEdit: true,
    isEnableProfileInfo: false,
    profileInfo: "",
    profileTypeInfo: "",
    fileProfileTypeId: null,
    mainfileProfileTypeId: null,
    paerntID: -1,
    viewList: "list",
    flatItems: [],
    formTitle: "Item Classification",
    panel: [],
    loader: false,
    subtasktriggered: false,
    readonlyTask: false,
    selectedTask: [],
    userId: -1,
    userItems: [],
    currentItem: null,
    documentName: "",
    permissionData: {
      isCreateDocument: true,
      isDelete: true,
      isUpdateDocument: true,
      isRead: true,
      isMove: false,
    },
    subProfileDocData: {
      fileProfileTypeId: null,
      fileName: "",
      userId: null,
    },
    massWayItem: {
      fileProfileTypeId: null,
      mainProfileName: "",
      createProfileName: "",
      massWayType: "create",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
    },
    goBackText: "",
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
      sortBy: "FileProfileTypeId",
      descending: true,
    },
    docheaders: [
      {
        text: "File Name",
        align: "left",
        value: "fileName",
      },
      {
        text: "Profile Type Name",
        align: "left",
        value: "fileProfileTypeName",
      },
      {
        text: "Profile No",
        align: "left",
        value: "profileNo",
      },
      { text: "Size(KB)", align: "left", value: "fileSize" },
      {
        text: "Description",
        align: "right",
        value: "description",

        fixed: true,
      },
      {
        text: "Expiry Date",
        align: "right",
        value: "expiryDate",
      },
      { text: "Modify By", value: "addedByUser" },
      { text: "Modify Date", value: "addedDate" },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
    json_fields: {
      "File Name": "fileName",
      "Profile Type Name": "fileProfileTypeName",
      "Profile No": "profileNo",
      "Modify By": "addedByUser",
      "Modify Date": "addedDate",
    },
    menuitems: [
      {
        icon: "attach_file",
        href: "#",
        title: "From Local",
        click: (e) => {},
      },
      {
        icon: "edit",
        href: "#",
        title: "From DMS - Public Folder",
        click: (e) => {},
      },
      {
        icon: "link",
        href: "#",
        title: "Copy Link",
        click: (e) => {},
      },
      {
        icon: "adjust",
        href: "#",
        title: "Document Alert Copy Link",
        click: (e) => {},
      },
      {
        icon: "info",
        href: "#",
        title: "Profile Type Info",
        click: (e) => {},
      },
      {
        icon: "add_circle_outline",
        href: "#",
        title: "Mass Way Add/Rename",
        click: (e) => {},
      },
    ],
    fileProfileData: {
      profileTypeInfo: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      fileProfileTypeId: null,
    },
    profileId: null,
    searchData: { id: -1, userID: -1, ids: [], parentID: null },
    historyIds: [],
    searchvalueClear: false,
  }),
  created() {
    this.userId = Number(this.$store.state.auth.userId);
    this.fileProfileTypeId = this.$route.query.fileProfileTypeId;
    this.mainfileProfileTypeId = this.$route.query.mainfileProfileTypeId;
    if (this.$route.query.documentName != undefined) {
      this.documentName = this.$route.query.documentName;
    }

    this.goBackText = this.$route.query.goback;
    this.actionButton = true;
    this.initialize();
    window.getApp.$on("GET_TOTELDOC", () => {
      this.loadTotalDocument();
    });
    window.getApp.$on("GET_RELOADDOC", () => {
      this.reloadDoc();
    });
    window.getApp.$on("LOAD_MOVE_DOCUMENT_AFTER_CHECKBOX", (status) => {
      this.moveCheckBoxChecked = status;
    });
    window.getApp.$on("COUNT_REFRESH", () => {
      this.initialize();
    });
  },
  beforeDestroy() {
    window.getApp.$off("LOAD_MOVE_DOCUMENT_AFTER_CHECKBOX");
    window.getApp.$off("COUNT_REFRESH");
    window.getApp.$off("GETTOTELDOC");
    window.getApp.$off("GET_RELOADDOC");
  },
  computed: {
    computeHeight() {
      return {
        height: this.height || "",
      };
    },
    items() {
      if (!this.filterSearch) return this.itemClassificationtreeItems;
      return this.filter(this.itemClassificationtreeItems, this.filterSearch);
      // return this.itemClassificationtreeItems;
    },
    fileProfileMoveTreeItems() {
      if (!this.moveSearch) return this.fileProfileMoveTreeItemsAll;
      return this.filter(this.fileProfileMoveTreeItemsAll, this.moveSearch);
    },
    expiryDateFormatted() {
      return this.expiryDate
        ? moment(this.expiryDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
  },

  mounted() {
    //this.messageTabCall();
  },

  methods: {
    filter(arr, term) {
      var matches = [];
      if (!Array.isArray(arr)) return matches;

      arr.forEach((i) => {
        if (i.name != undefined) {
          if (i.name.toLowerCase().includes(term.toLowerCase())) {
            matches.push(i);
          } else {
            let childResults = this.filter(i.children, term);
            if (childResults.length)
              matches.push(Object.assign({}, i, { children: childResults }));
          }
        }
        //else {
        //   matches.push(i);
        // }
      });

      return matches;
    },
    initialize() {
      let userId = this.$store.state.auth.userId;
      if (this.$route.query.mainfileProfileTypeId > 0) {
        this.loader = true;
        let userId = this.$store.state.auth.userId;
        var includeHidden = this.$route.query.includeHidden;
        if (includeHidden == undefined) {
          includeHidden = userId == 47 ? true : false;
        }
        getFileProfileTypeTree(
          this.$route.query.mainfileProfileTypeId,
          userId,
          includeHidden
        )
          .then((response3) => {
            if (response3.data != undefined && response3.data.length > 0) {
              this.itemClassificationtreeItems = response3.data;
              // this.currentFileProfileName = response3.data[0]["name"];

              // console.log(JSON.stringify(response3.data));
              this.historyIds.push(response3.data[0]);
            } else {
              if (this.$store.state.auth.userId > 0) {
                window.getApp.$emit(
                  "APP_API_VAL",
                  "Looks like there is no more item available in this tree. wait while you will be redirected to item classification view list."
                );
                setTimeout(() => {
                  //   this.$router.push({ name: 'Task' });
                }, 400);
              }
            }

            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loadPermission("initialize");
        this.loadTotalDocument();
        this.loadFlatItemsName();
      }
    },
    loadFlatItemsName() {
      getFileProfileTypeFlatItems(this.$route.query.fileProfileTypeId)
        .then((response) => {
          this.currentFileProfileName = response.data["name"];
          this.profileInfo = response.data["profileInfo"];
          this.$refs.refclassificationForm.selectedTab = 0;
          this.$refs.refclassificationForm.isCaseTemplate = false;
          this.$refs.refclassificationForm.templateTestCaseId = response.data.templateTestCaseId;
          if (response.data.isTemplateCaseNo == true) {
            this.$refs.refclassificationForm.isCaseTemplate = true;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadMoveTree() {
      this.fileProfileTypeTreeItems();
    },
    moveToConfirmItem() {
      this.$refs.refMoveToDialog.close();
      this.loader = true;
      //console.log('profile type id'+this.fileProfileTypeId)
      // console.log('move profile type id'+this.searchData.parentID)
      if (this.fileProfileTypeId != this.searchData.parentID) {
        getFileProfileTypeMoveDocument(this.searchData)
          .then((response3) => {
            this.$route.query.moveDataItems = [];
            this.searchData.parentID = null;
            this.moveCheckBoxChecked = false;
            this.loader = false;
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Document Moved Successfully"
            );
            window.getApp.$emit("LOAD_MOVE_DOCUMENT_AFTER");
            this.loadTotalDocument();
          })
          .catch((error) => {
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        window.getApp.$emit(
          "APP_API_ERROR",
          "Document Cannot Move Same File Profile Type"
        );
      }
    },
    archiveConfirmItem() {
      this.$refs.refArchiveDialog.close();
      this.loader = true;
      getFileProfileTypeUpdateArchiveDocument(this.searchData)
        .then((response3) => {
          this.$route.query.moveDataItems = [];
          this.searchData.parentID = null;
          this.moveCheckBoxChecked = false;
          this.loader = false;
          window.getApp.$emit("APP_API_SUCCESS", "Document Moved Successfully");
          window.getApp.$emit("LOAD_MOVE_DOCUMENT_AFTER");
          this.loadTotalDocument();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    dynamicFormDialogClose() {
      this.dynamicFormDialog = false;
      this.reloadDoc();
    },
    isValidFileProfileSetUpFromIds() {
      this.loader = true;
      getValidFileProfileSetUpFromIds(this.fileProfileTypeId)
        .then((response3) => {
          if (response3.data == true) {
            this.dynamicFormDialog = true;
            var ilink =
              GlobalMessage.DYNAMICFORM_PROFILEURL +
              "?id=" +
              this.fileProfileTypeId +
              "&&userId=" +
              this.$store.state.auth.userId+"&&token="+getToken();
            window.open(ilink, "openprofileIframe");
          } else {
            this.uploadAttachment();
            this.loader = false;
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    fetchMoveData(item) {
      // //console.log(item);
      //console.log(this.$route.query.moveDataItems);
      if (
        item.length > 0 &&
        this.$route.query.moveDataItems != undefined &&
        this.$route.query.moveDataItems.length > 0
      ) {
        let list = this.flatItems.filter((o) => o.id == item[0]);
        //console.log(this.$route.query.fileProfileTypeId);
        // console.log(list);
        let selectedfileProfileName = this.flatItems.filter(
          (o) => o.id == this.$route.query.fileProfileTypeId
        );
        //console.log(selectedfileProfileName);
        this.moveMessage =
          "Move From " +
          selectedfileProfileName[0]["name"] +
          " To " +
          list[0]["name"];
        this.searchData.userID = this.$store.state.auth.userId;
        this.searchData.parentID = item[0];
        this.searchData.ids = this.$route.query.moveDataItems;
        this.$refs.refMoveToDialog.openDialog();
      }
    },
    openArchivePop() {
      if (
        this.$route.query.moveDataItems != undefined &&
        this.$route.query.moveDataItems.length > 0
      ) {
        this.$refs.refArchiveDialog.openDialog();
        this.searchData.userID = this.$store.state.auth.userId;
        this.searchData.parentID = 0;
        this.searchData.ids = this.$route.query.moveDataItems;
      }
    },
    fileProfileTypeTreeItems() {
      getFileProfileTypeTreeItems(
        this.$route.query.mainfileProfileTypeId,
        this.$store.state.auth.userId
      )
        .then((response) => {
          if (response.data != undefined) {
            this.fileProfileMoveTreeItemsAll = response.data.treeItems;
            this.flatItems = response.data.flatItems;
            this.openKey = response.data.ids;
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    addFileProfileTypes() {
      this.massWayItem.addedByUserID = this.$store.state.auth.userId;
      this.massWayItem.fileProfileTypeId = this.fileProfileTypeId;
      //this.massWayItem.massWayType = "create";
      if (this.$refs.masswayform.validate()) {
        this.loader = true;
        if (this.massWayItem.fileProfileTypeId > -1) {
          this.massWayItem.addedByUserID = this.$store.state.auth.userId;

          createSubFileProfileTypes(this.massWayItem)
            .then((response) => {
              this.loader = false;

              this.massWayItem = response.data;
              this.initialize();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      } else {
        // console.log(this.$refs);
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    loadTotalDocument() {
      getFileProfileTypeDocument(
        this.fileProfileTypeId,
        this.$store.state.auth.userId
      )
        .then((response) => {
          this.totalDocument = response.data.totalDocument;
          this.openDocument = response.data.openDocument;
          this.isExpiryDate = response.data.isExpiryDate;
          // let fileProfileAddedId = response.data.fileProfileTypeAddedByUserId;
          // this.isEnableSecurityAccess =
          //response.data.documentPermissionData.isRead;
          let userid = this.$store.state.auth.userId;
          if (response.data.documentsData[0] != null) {
            this.currentFileProfileName =
              response.data.documentsData[0].fileProfileTypeName;
            //this.profileInfo = response.data.documentsData[0].profileInfo;
            if (
              response.data.documentsData[0].fileProfileTypeAddedByUserId !=
                null &&
              response.data.documentsData[0].fileProfileTypeAddedByUserId !=
                undefined
            ) {
              if (
                response.data.documentsData[0].fileProfileTypeAddedByUserId ==
                this.$store.state.auth.userId
              ) {
                this.isEnableSecurityAccess = true;
                if (this.$refs.refclassificationForm != undefined) {
                  this.$refs.refclassificationForm.isMoveFlag = true;
                }
              }
            }
          }
          this.loader = false;
          this.gridloader = false;
        })
        .catch((error) => {
          this.loader = false;
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    docFileProfileLink(item) {
      let userId = this.$store.state.auth.userId;
      var includeHidden = this.$route.query.includeHidden;
      if (includeHidden == undefined) {
        includeHidden = userId == 47 ? true : false;
      }
      getFileProfileTypeFlatItems(item.filterProfileTypeId)
        .then((response) => {
          this.$router.push({
            name: "DMS/fileProfileTypeDocTree",
            query: {
              fileProfileTypeId: item.filterProfileTypeId,
              mainfileProfileTypeId: response.data.fileProfileTypeMainId,
              includeHidden: includeHidden,
              documentName: item.fileName,
              searchvalue: "yes",
            },
          });
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadPermission(loading) {
      this.loader = true;
      getFileProfileTypePermission(
        this.$route.query.fileProfileTypeId,
        this.$store.state.auth.userId
      )
        .then((response) => {
          if (response.data != undefined) {
            //this.currentFileProfileName = response.data.folderName;
            this.permissionData = response.data;
            //console.log(this.permissionData,'permissionData');
            if (this.$refs.refclassificationForm != undefined) {
              this.$refs.refclassificationForm.isMoveFlag =
                this.permissionData.isMove == true ? true : false;
              this.isMoveFlag = true ? true : false;

              this.$refs.refclassificationForm.isEnableCreateTask = false;
              this.$refs.refclassificationForm.isExpiryDate = this.isExpiryDate;

              if (loading == "initialize") {
                if (this.searchvalueClear == true) {
                  this.$refs.refclassificationForm.search = "";
                } else {
                  this.$refs.refclassificationForm.search = this.documentName;
                }

                this.$refs.refclassificationForm.initialize();
              }
            }
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      let id = this.fileProfileTypeId;
      getFileProfileTypeById(id, this.$store.state.auth.userId)
        .then((response3) => {
          //console.log('profile permission' + JSON.stringify(response3.data.documentPermissionData))
          if (
            response3.data.documentPermissionData.isEnableProfileTypeInfo ==
            true
          ) {
            this.isEnableProfileInfo = true;
          } else if (
            response3.data.documentPermissionData.isEnableProfileTypeInfo ==
            null
          ) {
            this.isEnableProfileInfo = true;
          } else if (
            response3.data.documentPermissionData.isEnableProfileTypeInfo ==
            false
          ) {
            this.isEnableProfileInfo = false;
          }
          //console.log('Profile Type info' + response3.data.profileTypeInfo)
          this.profileTypeInfo = response3.data.profileTypeInfo;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closemassWayDialog() {
      this.massWayDialog = false;
      this.massWayItem.massWayType = "create";
      this.massWayItem.mainProfileName = "";
      this.massWayItem.createProfileName = "";
    },
    saveProfileInfo() {
      this.fileProfileData.modifiedByUserID = this.$store.state.auth.userId;
      this.fileProfileData.fileProfileTypeId = this.fileProfileTypeId;
      //console.log('fileprofile data' + JSON.stringify(this.fileProfileData))
      updateFileProfileTypeInfo(this.fileProfileData)
        .then((response) => {
          this.fileProfileData = response.data;
          this.profileTypeInfo = this.fileProfileData.profileTypeInfo;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.initialize();
      }, 400);
    },
    folderDialogClose() {
      this.folderDialog = false;
      this.reloadDoc();
      this.loadTotalDocument();
    },
    downloadExcel() {
      this.gridItems = this.$refs.refclassificationForm.gridItems;
    },
    downloadExcelTo() {
      this.loader = true;
      let searchData = {
        id: 1,
        userID: this.$store.state.auth.userId,
        parentID: 0,
        fileProfileTypeId: this.$route.query.fileProfileTypeId,
        baseUrl:GlobalMessage.BASE_URL,
      };
      getExcel(searchData)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], {
            type: "application/vnd.ms-excel",
          });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = this.currentFileProfileName + ".xlsx";
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          //window.getApp.$emit("APP_API_ERROR", error);
        });
      console.log();
    },
    goBack() {
      //console.log(this.historyIds);
      if (this.historyIds.length > 0) {
        var model = this.historyIds.at(-1);
        if (this.$route.query.fileProfileTypeId == model.fileProfileTypeId) {
          this.historyIds.splice(-1);
        }
        model = this.historyIds.at(-1);
        if (model == undefined) {
          var goback = this.$cookies.get("reload");
          this.$router.push({
            name: "DMS/fileProfileTypeDocView",
            query: { goback: goback },
          });
        } else {
          this.currentFileProfileName = model.name;
          this.profileInfo = model.profileInfo;
          this.currentItem = model;
          this.$route.query.moveDataItems = [];
          this.searchData.parentID = null;
          this.moveCheckBoxChecked = false;
          this.$route.query.fileProfileTypeId = model.fileProfileTypeId;
          this.$refs.refclassificationForm.fileProfileTypeId =
            model.fileProfileTypeId;
          this.$refs.refclassificationForm.selectedTab = 0;
          this.$refs.refclassificationForm.isCaseTemplate = false;
          this.$refs.refclassificationForm.templateTestCaseId = model.templateTestCaseId;
          if (model.isTemplateCaseNo == true) {
            this.$refs.refclassificationForm.isCaseTemplate = true;
          }
          this.fileProfileTypeId = model.fileProfileTypeId;
          this.loadPermission("initialize");
          this.loadTotalDocument();
          this.historyIds.splice(-1);
        }
      } else {
        var goback = this.$cookies.get("reload");
        this.$router.push({
          name: "DMS/fileProfileTypeDocView",
          query: { goback: goback },
        });
      }
    },
    formateDate(string) {
      return string ? new Date(string).toISOString().substr(0, 10) : "";
    },
    curNodeClicked(model, component) {
      this.currentFileProfileName = model.name;
      this.profileInfo = model.profileInfo;
      this.currentItem = model;
      /*  console.log(
        "current Node Clickthis.currentItem file profile type id" +
          JSON.stringify(this.currentItem)
      ); */
      if (this.$route.query.fileProfileTypeId != model.fileProfileTypeId) {
        this.$route.query.moveDataItems = [];
        this.searchData.parentID = null;
        this.moveCheckBoxChecked = false;
        this.$route.query.fileProfileTypeId = model.fileProfileTypeId;
        this.$refs.refclassificationForm.fileProfileTypeId =
          model.fileProfileTypeId;
        this.fileProfileTypeId = model.fileProfileTypeId;
        if (this.$route.query.searchvalue == "yes") {
          this.searchvalueClear = true;
        }
        this.$refs.refclassificationForm.selectedTab = 0;
        this.$refs.refclassificationForm.templateTestCaseId = model.templateTestCaseId;
        this.$refs.refclassificationForm.isCaseTemplate = false;
        console.log(model);
        if (model.isTemplateCaseNo == true) {
          this.$refs.refclassificationForm.isCaseTemplate = true;
        }
        this.loadPermission("initialize");
        this.loadTotalDocument();
        this.historyIds.push(model);
      }
    },
    openSecurityAccess() {
      //console.log("item doc ids" + this.$route.query.moveDataItems);
      this.$refs.refDocumentSecurity.docIds = [];
      this.securitySettingsDialog = true;
      if (
        this.$route.query.moveDataItems != undefined &&
        this.$route.query.moveDataItems.length > 0
      ) {
        this.$refs.refDocumentSecurity.docIds = this.$route.query.moveDataItems;
      }
      this.$refs.refDocumentSecurity.fileProfileTypeId = this.fileProfileTypeId;
      this.$refs.refDocumentSecurity.gridRefresh();
    },
    menudisabled(menu) {
      // console.log('menu item' + JSON.stringify(menu.title))
      if (menu.title == "Profile Type Info") {
        // console.log('permission enbale' + this.isEnableProfileInfo);

        return !this.isEnableProfileInfo;
      } else if (menu.title == "Mass Way Add/Rename") {
        if (
          this.permissionData.isCreateDocument == true &&
          this.permissionData.isRead == true &&
          this.permissionData.isUpdateDocument == true
        ) {
          return false;
        } else {
          return true;
        }
      }
    },
    openProfileInfo() {
      this.profileTypeShowdialog = true;
      this.isRTERendershow = true;
    },
    securitySettingsDialogClose() {
      this.securitySettingsDialog = false;
    },
    reloadDoc() {
      this.$refs.refclassificationForm.fileProfileTypeId =
        this.$route.query.fileProfileTypeId;
      this.$refs.refclassificationForm.initialize();
      this.loadTotalDocument();
      this.moveCheckBoxChecked = false;
      // this.initialize();
    },
    opentree() {
      this.$vuetify.goTo(0);
      this.treedrawer = true;
    },
    uploadAttachment() {
      this.loadFileProfileTypeData();
    },
    loadFileProfileTypeData() {
      getValidFileProfileIds(this.fileProfileTypeId)
        .then((response) => {
          if (response.data.fileProfileTypeId > 0) {
            this.attachdialog = true;
            this.isMultiple = true;
            this.description = "";
            this.expiryDate = null;
            this.$refs.refprofileNoGenerate.profileId = response.data.profileId;
            this.$refs.refprofileNoGenerate.generateNumber();
          }
        })
        .catch(() => {
          this.loader = false;
        });
    },
    attachfileChanged(args) {
      const refValidForm =
        this.$refs.refprofileNoGenerate.$refs.refValidForm.validate();
      if (refValidForm) {
        this.loader = true;
        this.$refs.refclassificationForm.loader = true;
        this.$refs.refclassificationForm.gridloader = true;
        this.attachfiles = new FormData();
        Array.from(args).forEach((file) => {
          this.attachments = [];
          this.attachuploadedfileNames = [];
          this.attachuploadedFiles = [];

          let fileSize = file.size / 1000000;
          let attachFile = {
            fileName: "",
            contentType: "",
            fileSize: 0.0,
            uploadDate: new Date(),
            uploaded: false,
            sessionID: "",
            fileProfileTypeId: null,
            isVideoFile: false,
          };
          if (file.type.includes("video")) {
            attachFile.isVideoFile = true;
          }
          attachFile.fileName = file.name;
          attachFile.fileSize = file.size;
          attachFile.contentType = file.type;
          attachFile.uploadDate = new Date();
          attachFile.uploaded = false;
          attachFile.fileProfileTypeId = this.fileProfileTypeId;

          // console.log("Attach File", attachFile);

          // if (fileSize <= 100) {
          this.attachments.push(attachFile);
          this.attachuploadedfileNames.push(file.name);
          this.attachuploadedFiles.push(file);
          this.attachfiles.append("file", file, file.name);
          this.attachfiles.append("isVideoFile", attachFile.isVideoFile);
          
          window.getApp.$emit("progress", file.name);
        });
        if (
            this.expiryDate != null &&
            this.expiryDate != "" &&
            this.expiryDate != undefined
          ) {
            this.attachfiles.append("expiryDate", this.expiryDate);
          }
         this.attachfiles.append("userID", this.$store.state.auth.userId);
          this.attachfiles.append("type", "Document");
          this.attachfiles.append("userSession",  this.$store.state.auth.sessionId);
          this.attachfiles.append("filePath", "filePath");
        this.attachfiles.append("description", this.description);
        this.attachfiles.append(
          "fileProfileTypeId",
          this.$route.query.fileProfileTypeId
        );
        var profileNoGenerate = this.$refs.refprofileNoGenerate.editedItem;
        this.attachfiles.append(
          "plantID",
          profileNoGenerate.plantID > 0 ? profileNoGenerate.plantID : 0
        );
        this.attachfiles.append(
          "departmentId",
          profileNoGenerate.departmentId > 0
            ? profileNoGenerate.departmentId
            : 0
        );
        this.attachfiles.append(
          "sectionId",
          profileNoGenerate.sectionId > 0 ? profileNoGenerate.sectionId : 0
        );
        this.attachfiles.append(
          "subSectionId",
          profileNoGenerate.subSectionId > 0
            ? profileNoGenerate.subSectionId
            : 0
        );
        this.attachfiles.append(
          "divisionId",
          profileNoGenerate.divisionId > 0 ? profileNoGenerate.divisionId : 0
        );
        this.attachfiles.append("companyCode", profileNoGenerate.companyCode);
        this.attachfiles.append("sectionName", profileNoGenerate.sectionName);
        this.attachfiles.append(
          "subSectionName",
          profileNoGenerate.subSectionName
        );
        this.attachfiles.append(
          "departmentName",
          profileNoGenerate.departmentName
        );
        this.attachfiles.append("profileSelect", "ProfileSelect");
        createDocument(this.attachfiles)
          .then((response) => {
            this.$refs.attachUpload.clear();
            this.attachfiles.delete("file");
            this.attachfiles = new FormData();
            this.loadTotalDocument();
            this.reloadDoc();
            this.attachdialog = false;
            //console.log('response create doc'+JSON.stringify(response.data))
            if (response.data != null) {
              window.getApp.$emit(
                "APP_API_SUCCESS",
                "File Uploaded Successfully"
              );
            }
            this.loader = false;
            this.$refs.refclassificationForm.loader = false;
            this.$refs.refclassificationForm.gridloader = false;
          })
          .catch((error) => {
            this.attachloaders = false;
            this.$refs.refclassificationForm.loader = false;
            this.$refs.refclassificationForm.gridloader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.$refs.attachUpload.clear();
      }
    },
    openDocList() {
      this.openSubFileProfileDocListDialog = true;
      this.subProfileDocData.fileProfileTypeId = this.fileProfileTypeId;
      this.subProfileDocData.fileName = this.docsearch;
      this.subProfileDocData.userId = this.$store.state.auth.userId;
      getSubFileProfileTypeDocuments(this.subProfileDocData)
        .then((response3) => {
          //  console.log("response data" + JSON.stringify(response3.data));
          this.subFileProfileDocList = response3.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key) {
      if (key == 0) {
        this.isValidFileProfileSetUpFromIds();
      } else if (key == 1) {
        this.$refs.reffolderlist.getParentPublicFolders();
        //console.log("CurrentItem", this.fileProfileTypeId);
        this.$refs.reffolderlist.fileProfileTypeId = this.fileProfileTypeId;
        this.$refs.reffolderlist.search = "";
        this.folderDialog = true;
      } else if (key == 2) {
        this.dohisCopy();
      } else if (key == 3) {
        this.dohisCopyDocumentAlert();
      } else if (key == 4) {
        this.fileProfileData.profileTypeInfo =
          this.profileTypeInfo == null
            ? "<div>&nbsp;</div>"
            : this.profileTypeInfo;
        this.isRTERender = true;
        setTimeout(() => {
          this.isRTERender = true;
          this.profileTypeInfodialog = true;
        }, 400);
      } else if (key == 5) {
        this.massWayDialog = true;
      }
    },
    dohisCopy() {
      getFileProfileTypeFlatItems(this.fileProfileTypeId)
        .then((response) => {
          let url =
            window.location.protocol +
            "//" +
            window.location.host +
            "/#/DMS/fileProfileTypeDocTree?fileProfileTypeId=" +
            this.fileProfileTypeId +
            "&mainfileProfileTypeId=" +
            response.data.fileProfileTypeMainId;
          const el = document.createElement("textarea");
          el.addEventListener("focusin", (e) => e.stopPropagation());
          el.value = url;
          document.body.appendChild(el);
          el.select();
          this.$copyText(url).then(
            function (e) {
              document.body.removeChild(el);
              window.getApp.$emit("APP_API_SUCCESS", "copied");
            },
            function (e) {
              alert("Can not copy");
            }
          );
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    dohisCopyDocumentAlert() {
      let id = this.fileProfileTypeId;
      getlatestDocumentByFileProfileTypeId(id)
        .then((response) => {
          if (response.data != undefined) {
            this.documentID = response.data.documentID;
            this.copyFileProfileDoc();
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    copyFileProfileDoc() {
      if (this.documentID > 0) {
        let url =
          GlobalMessage.FILEPROFILETYPE_DOWNURL + "id=" + this.documentID;
        const el = document.createElement("textarea");
        el.addEventListener("focusin", (e) => e.stopPropagation());
        el.value = url;
        document.body.appendChild(el);
        el.select();
        this.$copyText(url).then(
          function (e) {
            document.body.removeChild(el);
            window.getApp.$emit("APP_API_SUCCESS", "copied");
          },
          function (e) {
            alert("Can not copy");
          }
        );
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.task-sub--scroll {
  overflow: auto;
  height: calc(100vh - 110px - 60px);
}

.chat-room--scrollbartree {
  overflow: auto;
  height: calc(100vh - 70px);
}

.taskDetails--scrollbar {
  overflow: auto;
  height: calc(100vh - 60px);
}
</style>
