<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="manufactureList.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  
      <v-btn icon @click.native="openDialog">
        <v-icon>add_circle_outline</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save And Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Event</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>

              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
           
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-text>
            <manufacturer-entry ref="manufacturerMasterForm" v-bind="dialogData"></manufacturer-entry>
          </v-card-text>

          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="sourceListID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.address1 }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="This item is linked with contacts and certificates, Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import ManufacturerEntry from "@/pages/assetmanagement/master/manufacturer/manufacturerentry";
import GlobalMessage from "@/constant";
import {getSourceLists, getSourceByID, getSourceList, createSourceList, updateSourceList, deleteSourceList } from '@/api/sourceList';
import { getAddress, getAddresses, getAddressesByID, createAddress, updateAddress, deleteAddress} from "@/api/address";
export default {
  components: {
    ManufacturerEntry
  },
  data: () => ({
    dialog: false,
    dialogData: null,
    loader: false,
    deleteloader: false,
    search: "",
     
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "Name", value: "name", align: "left" },
      { text: "Address", value: "address1", align: "left" },
      {
        text: "Added By",
        value: "addedByUser",
        align: "left"
      },
      // { text: 'BatchSize', value: 'batchSize', align: 'left' },
      { text: "Actions", value: "name", sortable: false, align: "left" }
    ],
    json_fields: {
      'Name': 'name',
      'Address': 'address1',
      'Added By': 'addedByUser'
    },
    gridItems: [],
    // plasticbagsitems: [],
    // blisterTypeitems: [],
    editedIndex: -1,
    selectedItem: null,
   
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    sourceEntry : {name :""},
    editedItem: {
      date: new Date().toISOString().substr(0, 10),
      loginUser: "Arun",
      isLogin: "yes-1",
      valid: false,
      sourceListID: -1,
      name: "",
      sourceNo: "",  
      officeAddressID: null, 
      siteAddressID : null,
      certificateList: [],
      contactList: [],      
      officeAddress : new FormData(),
      siteAddress : new FormData(),
      addedByUserID: null,
      addedByUser: "",
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      requiredfield: [v => !!v || "This is required field"]
    },
    defaultItem: {
      date: new Date().toISOString().substr(0, 10),
      loginUser: "Arun",
      isLogin: "yes-1",
      valid: false,
      sourceListID: -1,
      name: "",
      sourceNo: "", 
      officeAddressID: null, 
      siteAddressID : null,        
      certificateList: [],
      contactList: [],      
      officeAddress : new FormData(),
      siteAddress : new FormData(),
      addedByUser: "",
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      requiredfield: [v => !!v || "This is required field"]
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    items: [
      { title: "...." },
      // { title: 'Post' },
      // { title: 'Delete' },
      { title: "Print" }
    ]
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.loader = true;
       getSourceLists('')
        .then(response => {
          this.gridItems = response.data;
  
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
         this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
          
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.date = new Date().toISOString().substr(0, 10);
      this.editedItem.loginUser = "Arun";
      this.editedItem.isLogin = "yes-1";
      console.log(this.editedItem)
     
       getAddressesByID(this.editedItem.officeAddressID)
        .then(response => {
          this.$refs.manufacturerMasterForm.$refs.addressentry.officeAddress = response.data;
        });
         getAddressesByID(this.editedItem.siteAddressID)
        .then(response => {
          this.$refs.manufacturerMasterForm.$refs.addressentry.siteAddress = response.data;
        });
            getSourceByID(this.editedItem.sourceListID)
        .then(response => {
          this.$refs.manufacturerMasterForm.$refs.certificateanddocuments.gridItems = response.data.certificateList;
           this.$refs.manufacturerMasterForm.$refs.contactlist.gridItems = response.data.contactList;
          this.$refs.manufacturerMasterForm.sourceEntry.name = response.data.name;
          
          console.log(this.$refs.manufacturerMasterForm.sourceEntry.name);
        });     
      this.$refs.manufacturerMasterForm.entryform = this.editedItem;
      
      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteSourceList(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getSourceList(this.searchItem)
        .then(response => {
          if (response.data.sourceListID != null) {
            this.editedItem = response.data;
            this.editedItem.date = new Date().toISOString().substr(0, 10);
            this.editedItem.loginUser = "Arun";
            this.editedItem.isLogin = "yes-1";
            // this.$refs.manufacturerMasterForm.$refs.bomform.form = this.editedItem;
            // this.$refs.manufacturerMasterForm.$refs.bomform.$refs.scraplineform.sourceListID = this.editedItem.sourceListID;
            // this.$refs.manufacturerMasterForm.$refs.bomform.$refs.scraplineform.initialize();

            // this.$refs.manufacturerMasterForm.$refs.allowableform.sourceListID = this.editedItem.sourceListID;
            // this.$refs.manufacturerMasterForm.$refs.allowableform.initialize();

            let index = this.gridItems
              .map(item => item.sourceListID)
              .indexOf(response.data.sourceListID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More record to view");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.sourceListID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.sourceListID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.sourceListID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.sourceListID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    openDialog() {
      this.add();
      this.dialog = true;
    },
    add() {
      this.editedItem.sourceListID = -1;
      this.editedItem.valid = false;
      this.editedItem.date = new Date().toISOString().substr(0, 10);
      this.editedItem.loginUser = "Arun";
      this.editedItem.isLogin = "yes-1";     
      this.editedItem.certificateList = [];
      this.editedItem.contactList = [];
      this.editedItem.siteAddress = new FormData();
      this.editedItem.officeAddress = new FormData();
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserId = 2;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10); 
      this.$refs.manufacturerMasterForm.$refs.certificateanddocuments.gridItems = [];
      this.$refs.manufacturerMasterForm.$refs.contactlist.gridItems = [];
      this.$refs.manufacturerMasterForm.$refs.addressentry.officeAddress = new FormData();
      this.$refs.manufacturerMasterForm.$refs.addressentry.siteAddress = new FormData(); 
      this.sourceEntry = [];   
      this.$refs.manufacturerMasterForm.sourceEntry.name = "";
      // this.$refs.manufacturerMasterForm.entryform = this.editedItem;
      this.editedIndex = -1;
    
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      this.deleteloader = true;
      let index = this.editedIndex;
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
       //this.editedItem = this.$refs.manufacturerMasterForm.form;
       //this.editedItem.name = this.$refs.manufacturerMasterForm.$refs.entryform.form.name;
       this.editedItem.certificateList = this.$refs.manufacturerMasterForm.$refs.certificateanddocuments.gridItems;
       this.editedItem.contactList = this.$refs.manufacturerMasterForm.$refs.contactlist.gridItems;
       this.$refs.manufacturerMasterForm.$refs.addressentry.officeAddress.addressID = -1;
       this.$refs.manufacturerMasterForm.$refs.addressentry.officeAddress.addressType = 581;
       this.$refs.manufacturerMasterForm.$refs.addressentry.siteAddress.addressID = -1;
       this.$refs.manufacturerMasterForm.$refs.addressentry.siteAddress.addressType = 582;
       this.editedItem.officeAddress = this.$refs.manufacturerMasterForm.$refs.addressentry.officeAddress;
       this.editedItem.siteAddress = this.$refs.manufacturerMasterForm.$refs.addressentry.siteAddress;
       this.sourceEntry = this.$refs.manufacturerMasterForm.sourceEntry;
       this.editedItem.name = this.sourceEntry.name;
       console.log(this.editedItem);

              if (this.$refs.manufacturerMasterForm.$refs.entryform.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateSourceList(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.sourceListID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          this.editedItem.statusCodeID = 1;
          createSourceList(this.editedItem)
            .then(response => {
              if(response.data!=undefined){
              this.gridItems.push(response.data);
              this.editedItem = response.data;
            
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        //this.close();
      }
    }
  }
};
</script>