<template>
  <div>
    <section>
      <xlsx-read :file="file">
        <xlsx-sheets>
          <template #default="{ sheets }">
            <v-layout row wrap>
              <v-flex xs12 sm4>
                <v-autocomplete
                  chips
                  flat
                  placeholder="Select Sheet"
                  prepend-icon="mdi-assistant"
                  v-model="selectedSheet"
                  :items="sheets"
                  :key="sheet"
                  label="Sheets"
                  color="blue"
                  :item-text="sheet"
                  :item-value="sheet"
                  @change="onChangeExcel"
                >
                </v-autocomplete>
                <!--<select v-model="selectedSheet">
                            <option v-for="sheet in sheets" :key="sheet" :value="sheet">
                                {{ sheet }}
                            </option>
                        </select> -->
              </v-flex>
            </v-layout>
          </template>
        </xlsx-sheets>
        <div style="overflow: auto; height: calc(100vh - 110px - 60px)">
          <xlsx-table v-show="showGrid" :sheet="selectedSheet" />
        </div>
      </xlsx-read>
    </section>
  </div>
</template>

<script>
import { downloadFileDoc } from "@/api/upload";
import {
  XlsxRead,
  XlsxTable,
  XlsxSheets,
} from "@/components/vue-xlsx/dist/vue-xlsx.es.js";
export default {
  components: {
    XlsxRead,
    XlsxTable,
    XlsxSheets,
  },
  created() {},
  data() {
    return {
      showGrid: false,
      searchData: { id: null, searchString: "", userId: null },
      file: null,
      selectedSheet: null,
      sheet: null,
      sheets: [],
      userId:null,
    };
  },
  methods: {
    onChangeExcel() {
      this.showGrid = true;
    },
    downloadAttachment(item) {
      this.searchData.id = item.documentID;
      if (item.type != null && item.type != "") {
        this.searchData.searchString = item.type;
      } else {
        this.searchData.searchString = "Document";
      }
      this.searchData.userId = this.$store.state.userId;
      downloadFileDoc(item.fileName)
        .then((response) => {
          let blob = new Blob([response.data], {
            type: item.contentType,
          });
          let file = new File([blob], item.fileName, {
            type: item.contentType,
            lastModified: new Date().getTime(),
          });
          this.file = file;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onChange(event) {
      this.file = event.target.files ? event.target.files[0] : null;
    },
  },
};
</script>
<style>
.xlsx-task-sub--scroll div table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.xlsx-task-sub--scroll div table td,
.xlsx-task-sub--scroll div table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.xlsx-task-sub--scroll div table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.xlsx-task-sub--scroll div table tr:hover {
  background-color: #ddd;
}

.xlsx-task-sub--scroll div table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
</style>