<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm4>
        <v-text-field readonly v-model="editedItem.mouldSetNo" label="Mould Set No" prepend-icon="description"></v-text-field>
      </v-flex>

      <v-flex xs12 sm4>
        <v-autocomplete chips label="Forming Mould" prepend-icon="description" v-model="editedItem.bformingMouldId" :items="formingMouldItems" item-text="nameOfMould" item-value="blisterMouldInformationId"></v-autocomplete>
      </v-flex>

      <v-flex xs12 sm4>
        <v-autocomplete chips label="Track" prepend-icon="description" v-model="editedItem.btrackMouldId" :items="trackItems" item-text="nameOfMould" item-value="blisterMouldInformationId"></v-autocomplete>
      </v-flex>

      <v-flex xs12 sm4>
        <v-autocomplete chips label="Sealing" prepend-icon="description" v-model="editedItem.bsealingId" :items="sealingItems" item-text="nameOfMould" item-value="blisterMouldInformationId"></v-autocomplete>
      </v-flex>
      <v-flex xs12 sm4>
        <v-autocomplete chips label="Cutter" prepend-icon="description" v-model="editedItem.bcutterId" :items="cutterItems" item-text="nameOfMould" item-value="blisterMouldInformationId"></v-autocomplete>
      </v-flex>

      <v-flex xs12 sm4>
        <v-text-field readonly v-model="editedItem.bnameOfTheMouldSet" label="Name Of The Mould Set" prepend-icon="description"></v-text-field>
      </v-flex>

      <v-flex xs12 sm6 md4>
        <v-autocomplete chips label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions"></v-autocomplete>
      </v-flex>
    </v-layout>

  </div>
</template>
<script>
  import { getBlisterMouldInformationByPartName } from '@/api/blisterMouldInformation';
  export default {
    data: () => ({
      formingMouldItems: [],
      trackItems: [],
      sealingItems: [],
      cutterItems: [],
      nameOfTheMouldSetItems: [],
      loader: false,
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      editedItem: {
        valid: false,
        mouldSetNo: '',
        bformingMouldId: null,
        btrackMouldId: null,
        bsealingId: null,
        bcutterId: null,
        bnameOfTheMouldSet: '',
        statusCodeID: 1,
      },
    }),

    computed: {
    },

    created () {
      window.getApp.$on("BNAME_OF_MOULDSET", item => {
        this.editedItem.bnameOfTheMouldSet = item;
      });
      //initialize();
    },
    beforeDestroy () {
      window.getApp.$off("BNAME_OF_MOULDSET");
    },
    methods: {
      initialize () {
        this.loader = true;
      },
      loadDropDownList () {
        this.loader = true;
        getBlisterMouldInformationByPartName('Cutter')
          .then(response => {
            this.cutterItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getBlisterMouldInformationByPartName('Forming')
          .then(response => {
            this.formingMouldItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getBlisterMouldInformationByPartName('Track')
          .then(response => {
            this.trackItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getBlisterMouldInformationByPartName('sealing')
          .then(response => {
            this.sealingItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      add (profileName) {
        this.loadDropDownList();
        this.editedItem.mouldSetNo = profileName;
        this.editedItem.formingMouldId = null;
        this.editedItem.btrackMouldId = null;
        this.editedItem.bsealingId = null;
        this.editedItem.bcutterId = null;
        this.editedItem.bnameOfTheMouldSet = '';
        this.editedItem.statusCodeID = 1;
      },
    }
  };
</script>
<style >
</style>   