<template>
  <div>
    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
    <div class="task-sub--scroll">
      <v-card-text>
        <v-form v-model="editedItem.valid" ref="bottleCapFormName" lazy-validation>

          <v-layout row wrap>

            <v-flex xs12 sm6>
              <v-checkbox v-model="editedItem.versionControl" label="Version Control" primary hide-details></v-checkbox>
            </v-flex>
            <v-flex xs12 sm6>
              <v-autocomplete :loading="loader" chips flat label="Use for" prepend-icon="invert_colors" :items="useforItems" multiple v-model="editedItem.useforItemIds" color="blue" item-text="value" item-value="applicationMasterDetailId">
                <template slot="selection" slot-scope="data">
                  <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeUseForItems(data.item)">

                    {{data.item.value}}
                  </v-chip>
                </template>

              </v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6>
              <!-- required mask="" -->
              <v-text-field v-model="editedItem.capMeasurement" label="Cap measurement/mm" prepend-icon="select_all" suffix="mm" @keyup="onChangeCapmeasurement"></v-text-field>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field v-model="editedItem.code" label="Code" required prepend-icon="select_all"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6>
              <v-autocomplete :loading="loader" chips flat label="Color" prepend-icon="invert_colors" :items="packagingMaterialColorItems" v-model="editedItem.packagingMaterialColorId" color="blue" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6>
              <v-autocomplete :loading="loader" chips flat label="Cap Type" prepend-icon="assistant" :items="capTypeItems" v-model="editedItem.capTypeId" color="blue" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm6>
              <v-autocomplete :loading="loader" chips flat label="Cap Material" prepend-icon="assistant" :items="packagingTypeItems" v-model="editedItem.packagingTypeId" color="blue" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
          </v-layout>

        </v-form>
      </v-card-text>
    </div>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary darken-1" outline @click.native="save" :loading="loader">Save</v-btn>
      <v-btn color="primary darken-1" outline @click.native="close" :loading="loader">close</v-btn>
    </v-card-actions>
  </div>
</template>
<script>
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import {
    getCommonPackagingBottleCap,
    getData,
    createCommonPackagingBottleCap,
    updateCommonPackagingBottleCap,
    deleteCommonPackagingBottleCap
  } from "@/api/CommonPackagingBottleCap";
  import moment from "moment";
  import GlobalMessage from "@/constant";
  export default {
    components: {},
    props: ["props"],
    data: () => ({
      enableAddButton: true,
      dialog: false,
      loader: false,
      search: "",
      materialProducttionFlag: false,
      statusOptions: [],
      timeout: 2000,
      y: "top",
      packagingSetInfoItems: [],
      packagingMaterialColorItems: [],
      capTypeItems: [],
      useforItems: [],
      packagingTypeItems: [],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      gridItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      itemClassificationItems: [],
      editedItem: {
        valid: false,
        bottleCapSpecificationId: -1,
        alsoKownAs: "",
        profileID: null,
        packagingItemSetInfoId: null,
        set: true,
        capMeasurement: 0,
        code: "",
        packagingMaterialColorId: null,
        capTypeId: null,
        versionControl: false,
        useforItemIds: [],
        packagingTypeId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 860,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        formTab: false
      },
      defaultItem: {
        valid: false,
        bottleCapSpecificationId: -1,
        alsoKownAs: "",
        profileID: null,
        packagingItemSetInfoId: null,
        set: true,
        capMeasurement: 0,
        code: "",
        packagingMaterialColorId: null,
        capTypeId: null,
        useforItemIds: [],
        packagingTypeId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 860,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        formTab: false
      },

      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),

    computed: {
      formTitle () {
        return this.editedItem.bottleCapSpecificationId > 0
          ? "Edit Bottle Cap Specification"
          : "Add Bottle Cap Specification";
      }
    },
    created () {
      if (this.$route.query.profileReferenceNo != null) {
        this.enableAddButton = false;
      }
      this.initialize();
    },
    methods: {
      initialize () { },

      loadDropdownList () {
        getApplicationMasterDetailByType(180)
          .then(response => {
            this.packagingSetInfoItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCodeMasterByType("ProductionProcessLibraryStatus")
          .then(response => {
            this.statusOptions = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(181)
          .then(response => {
            this.packagingMaterialColorItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(182)
          .then(response => {
            this.capTypeItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(112)
          .then(response => {
            this.packagingTypeItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(210)
          .then(response => {
            this.useforItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      editItem (item) {
        this.loadDropdownList();
        this.editedItem = Object.assign({}, item);
      },
      onChangeCapmeasurement () {
        this.editedItem.capMeasurement = this.editedItem.capMeasurement.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
      },
      add () {
        this.loadDropdownList();
        this.editedItem.valid = false;
        this.editedItem.bottleCapSpecificationId = -1;
        this.editedItem.profileID = null;
        this.editedItem.alsoKownAs = "";
        this.editedItem.set = false;
        this.editedItem.code = "";
        this.editedItem.capMeasurement = 0;
        this.editedItem.versionControl = false;
        this.editedItem.useforItemIds = [];
        this.editedItem.packagingMaterialColorId = null;
        this.editedItem.packagingTypeId = null;
        this.editedItem.capTypeId = null;
        this.editedItem.packagingItemSetInfoId = null;
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 860;
        this.editedItem.statusCode = "Active";
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      },
      close () {
        window.getApp.$emit("CLOSE_BOTTLECAP_DIALOG");
      },
      removeUseForItems (item) {
        const index = this.editedItem.useforItemIds.indexOf(item.applicationMasterDetailId)
        if (index >= 0) this.editedItem.useforItemIds.splice(index, 1)
      },
      save () {
        if (this.profileID > 0) {
          this.editedItem.linkProfileReferenceNo = this.linkProfileReferenceNo;
          this.editedItem.masterProfileReferenceNo = this.masterProfileReferenceNo;
          this.editedItem.profileID = this.profileID;
          if (this.$refs.bottleCapFormName.validate()) {
            this.loader = true;
            if (this.editedItem.bottleCapSpecificationId > 0) {
              this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
              this.editedItem.modifiedDate = new Date();
              this.editedItem.addedByUserId = this.$store.state.auth.userId;
              this.editedItem.addedDate = new Date();
              updateCommonPackagingBottleCap(this.editedItem)
                .then(response => {
                  this.editedItem = response.data;
                  this.loader = false;

                  window.getApp.$emit(
                    "PACKAGE_ITEM_NAME",
                    response.data.packagingItemName
                  );
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            } else {
              this.editedItem.addedByUserId = this.$store.state.auth.userId;

              createCommonPackagingBottleCap(this.editedItem)
                .then(response => {
                  window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("CARTON_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("DIVIDER_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("NESTING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LABEL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LABEL_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit(
                    "PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD",
                    {
                      state: "EDIT",
                      masterReferenceNo: response.data.masterProfileReferenceNo
                    }
                  );
                  this.loader = false;
                  this.editedItem.bottleCapSpecificationId = response.data.bottleCapSpecificationId;
                  window.getApp.$emit("BOTTLECAP_DISABLE_ADD", response.data);
                  // if (this.editedItem.formTab == true) {
                  window.getApp.$emit(
                    "PACKAGE_ITEM_NAME",
                    response.data.packagingItemName
                  );
                  //}
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }
          }
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 155px - 60px);
   }
</style>