<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="Layer Pad Specification" type="csv" name="LayerPadSpecification.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton" v-show="checkClassificationPermission(237)">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowAdd">
              <v-btn icon slot="activator" @click.native="add" v-show="checkClassificationPermission(237)">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowSave">
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>
          <v-tabs v-if="list.length>0" v-model="active" color="primary" dark slider-color="yellow">
            <v-tab v-for="(item,i) in list" :key="i" ripple @click="tabAsFirst(i,item)">{{ item.formName }}</v-tab>
            <v-tab-item v-for="(item,i) in list" :key="i">
              <v-card flat>
                <keep-alive>
                  <component :ref="item.moduleName" :is="item.moduleName" :props="item"></component>
                </keep-alive>
              </v-card>
            </v-tab-item>
          </v-tabs>
          <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem"></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="layerPadSpecificationId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.versionControl">done</v-icon>

            <v-icon color="red" small v-if="props.item.versionControl == false">close</v-icon>
          </td>
          <td class="text-xs-left">{{ props.item.measurementLength }}</td>
          <td class="text-xs-left">{{ props.item.measurementWidth }}</td>

          <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(238)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(239)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
  import dynamicComponents from "@/pages/itemClassificationForm/components";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import {
    getCommonPackagingLayerPadByRefNo,
    getCommonPackagingLayerPad,
    getData,
    createCommonPackagingLayerPad,
    updateCommonPackagingLayerPad,
    deleteCommonPackagingLayerPad
  } from "@/api/CommonPackagingLayerPad";
  import { isClassificationPermission } from "@/api/checkPermission";
  import moment from "moment";
  import GlobalMessage from "@/constant";
  export default {
    components: {},
    props: ["props"],
    data: () => ({
      active: null,
      items: [],
      collection: [],
      list: [],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      materialComponent: {
        formName: "LayerPad Specification",
        moduleName: "CommonPackagingLayerPadForm",
        path: "./Dynamic/CommonPackagingLayerPadForm.vue"
      },
      hideShowAdd: true,
      hideShowSave: true,
      enableAddButton: true,
      dialog: false,
      loader: false,
      search: "",
      statusOptions: [],
      timeout: 2000,
      y: "top",
      headers: [
        {
          text: "Version Control",
          value: "versionControl",
          align: "left"
        },
        { text: "Measurement(L)/mm", value: "measurementLength", align: "left" },
        { text: "Measurement(W)/mm", value: "measurementWidth", align: "left" },

        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" }
      ],
      json_fields: {
        "Version Control": "versionControl",
        "Measurement(L)": "measurementLength",
        "Measurement(W)": "measurementWidth",
        "'Modified By": "modifiedByUser",
        "Modified Date": "modifiedDate"
      },

      packagingSetInfoItems: [],
      gridItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      refSearchParam: { isHeader: false, profileReferenceNo: "" }
    }),

    computed: {},
    created () {
      if (this.$route.query.profileReferenceNo != null) {
        this.enableAddButton = false;
      }
      window.getApp.$on("LAYERPAD_ENABLE_ADD", item => {
        if (item.state == "ADD") {
          this.gridItems = [];
          this.enableAddButton = true;
        } else if (item.state == "EDIT") {
          this.gridItems = [];
          this.enableAddButton = false;
          this.masterProfileReferenceNo = item.masterReferenceNo;
          this.refSearchParam.isHeader =
            item.classificationLinkType == "Header" ? true : false;
          if (this.refSearchParam.isHeader) {
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          } else {
            this.refSearchParam.profileReferenceNo = this.masterProfileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loader = true;
            getCommonPackagingLayerPadByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                if (response.data.length > 0) {
                  this.enableAddButton = true;
                }
                this.loader = false;
              })
              .catch(error => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      });
      window.getApp.$on("CLOSE_LAYERPAD_DIALOG", () => {
        this.close();
      });
      window.getApp.$on("LAYERPAD_DISABLE_ADD", items => {
        this.gridItems.push(items);
        this.hideShowAdd = false;
      });
      this.initialize();
    },
    beforeDestroy () {
      window.getApp.$off("LAYERPAD_DISABLE_ADD");
      window.getApp.$off("LAYERPAD_ENABLE_ADD");
      window.getApp.$off("CLOSE_LAYERPAD_DIALOG");
    },
    methods: {
      initialize () {
        this.list = [];
        this.collection = dynamicComponents.initializeComponents();
        this.list.push(this.materialComponent);
        if (this.props.applicationFormSubModelList != undefined) {
          if (this.props.applicationFormSubModelList.length > 0) {
            this.props.applicationFormSubModelList.forEach(item => {
              if (this.collection.indexOf(item.moduleName) !== -1) {
                this.list.push(item);
              }
            });
          }
        }

        if (this.props != undefined) {
          if (this.refSearchParam.profileReferenceNo == "") {
            this.refSearchParam.isHeader = true;
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loader = true;
            getCommonPackagingLayerPadByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                if (response.data.length > 0) {
                  this.enableAddButton = true;
                }
                this.loader = false;
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      save () {
        this.$refs.CommonPackagingLayerPadForm[0].save();
      },
      tabAsFirst (i, item) {
        this.hideShowAdd = false;
        this.hideShowSave = false;
        if (i == 0) {
          this.hideShowSave = true;
          this.hideShowAdd = true;
          if (this.gridItems.length > 0) {
            this.hideShowAdd = false;
          }
        }
      },
      editItem (item) {
        if (this.props.profileID > 0) {
          this.hideShowAdd = true;
          if (this.gridItems.length > 0) {
            this.hideShowAdd = false;
          }
          if (this.list.length > 1) {
            item.formTab = true;
          }
          this.$refs.CommonPackagingLayerPadForm[0].add();
          this.$refs.CommonPackagingLayerPadForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.CommonPackagingLayerPadForm[0].profileID = this.props.profileID;
          this.$refs.CommonPackagingLayerPadForm[0].editedItem = item;
          this.$refs.CommonPackagingLayerPadForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLE_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CARTON_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("DIVIDER_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("NESTING_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABEL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABEL_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          setTimeout(() => {
            this.dialog = true;
          }, 500);
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      DeleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.layerPadSpecificationId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);

          deleteCommonPackagingLayerPad(this.editedItem)
            .then(() => {
              this.loader = false;
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              this.add();
              this.enableAddButton = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      add () {
        if (this.props.profileID > 0) {
          this.hideShowAdd = true;
          if (this.gridItems.length > 0) {
            this.hideShowAdd = false;
          }
          this.$refs.CommonPackagingLayerPadForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.CommonPackagingLayerPadForm[0].profileID = this.props.profileID;
          this.$refs.CommonPackagingLayerPadForm[0].add();
          this.$refs.CommonPackagingLayerPadForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          if (this.list.length > 1) {
            this.$refs.CommonPackagingLayerPadForm[0].editedItem.formTab = true;
          }
          window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLE_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CARTON_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("DIVIDER_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("NESTING_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABEL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABEL_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      close () {
        this.dialog = false;
        this.initialize();
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 90px - 60px);
   }
</style>