<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Registration Variation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon="" @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn
          slot="activator"
          icon
          @click.native="add"
          :disabled="enableAddButton"
          v-show="iSCheckClassificationPermission('Add')"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowAdd">
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                v-show="iSCheckClassificationPermission('Add')"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowSave">
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>
          <v-tabs
            v-if="list.length > 0"
            v-model="active"
            color="primary"
            dark
            slider-color="yellow"
          >
            <v-tab
              v-for="(item, i) in list"
              :key="i"
              ripple
              @click="tabAsFirst(i, item)"
              >{{ item.formName }}</v-tab
            >
            <v-tab-item v-for="(item, i) in list" :key="i">
              <v-card flat>
                <keep-alive>
                  <component
                    :ref="item.moduleName"
                    :is="item.moduleName"
                    :props="item"
                  ></component>
                </keep-alive>
              </v-card>
            </v-tab-item>
          </v-tabs>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="DeleteItem"
          >
          </delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="loading"
      default-sort="CommonMasterMouldChangePartsId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left">{{ props.item.psizeWidth }}</td>
          <td class="text-xs-left">{{ props.item.psizeLength }}</td>
          <td class="text-xs-left">{{ props.item.pshapeName }}</td>
          <td class="text-xs-left">{{ props.item.pmarkingName }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">
            {{
              props.item.modifiedByUser == null
                ? props.item.addedByUser
                : props.item.modifiedByUser
            }}
          </td>
          <td class="text-xs-left">
            {{
              props.item.modifiedDate == null
                ? props.item.addedDate
                : props.item.modifiedDate | formatDate
            }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="editItem(props.item)"
              v-show="iSCheckClassificationPermission('Edit')"
            >
              edit
            </v-icon>
            <v-icon
              small
              @click="onDeleteItem(props.item)"
              v-show="iSCheckClassificationPermission('Delete')"
            >
              delete
            </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import dynamicComponents from "@/pages/itemClassificationForm/components";
import {
  getCommonMasterMouldChangePartsByRefNo,
  getCommonMasterMouldChangeParts,
  createCommonMasterMouldChangeParts,
  updateCommonMasterMouldChangeParts,
  deleteCommonMasterMouldChangeParts,
} from "@/api/CommonMasterMouldChangeParts";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getCodeMasterByType } from "@/api/applicationUser";
import moment from "moment";
import GlobalMessage from "@/constant";
import { isClassificationPermission } from "@/api/checkPermission";
import { getData } from "@/api/paggedapi";
export default {
  components: {},
  props: ["props"],
  data: () => ({
    active: null,
    totalRows: 0,
    loading: false,
    items: [],
    collection: [],
    list: [],
    linkProfileReferenceNo: "",
    masterProfileReferenceNo: "",
    profileID: null,
    materialComponent: {
      formName: "Punch Mould Set Information",
      moduleName: "CommonMasterPunchToolingForm",
      path: "./Dynamic/CommonMasterPunchToolingForm.vue",
    },
    enableAddButton: true,
    dialog: false,
    loader: false,
    search: "",
    timeout: 2000,
    y: "top",
    hideShowAdd: true,
    hideShowSave: true,
    filterFields: [
      "StatusCode.CodeValue",
      "AddedByUser.UserName",
      "Pshape.Value",
      "Pmarking.Value",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Size(W) /mm", value: "psizeWidth", align: "left" },
      { text: "Size(L) /mm", value: "psizeLength", align: "left" },
      { text: "Shape", value: "pshapeName", align: "left" },
      { text: "Marking", value: "pmarkingName", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      "Machine Grouping Name": "machineGroupingName",
      /* 'Register Country': 'masterOperation',
        'Product Category': 'training',
        'Variation Code': 'wiLink', */
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    searchVariationTypeTag: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    refSearchParam: { isHeader: false, profileReferenceNo: "" },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    commonMasterMouldChangePartsSearch: {
      descending: false,
      searchString: "",
      userID: -1,
      pageCount: 1,
      pageSize: 10,
      methodName: "",
      sortCol: "AddedDate",
      sortBy: "DESC",
      masterTypeID: -1,
      classificationTypeId: null,
      classificationId: null,
      isHeader: false,
      profileReferenceNo: "",
      navType: "",
      filterFields: [],
    },
  }),

  computed: {
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  created() {
    if (this.$route.query.profileReferenceNo != null) {
      this.enableAddButton = false;
    }
    window.getApp.$on("MASTER_PUNCH_MOULD_CHANGEPART_ENABLE_ADD", (item) => {
      if (item.state == "ADD" && !this.props.mainForm) {
        this.gridItems = [];
        this.enableAddButton = true;
      } else if (item.state == "EDIT" && !this.props.mainForm) {
        this.gridItems = [];
        this.enableAddButton = false;
        this.masterProfileReferenceNo = item.masterReferenceNo;
        this.refSearchParam.isHeader =
          item.classificationLinkType == "Header" ? true : false;
        if (this.refSearchParam.isHeader) {
          this.refSearchParam.profileReferenceNo =
            this.$route.query.profileReferenceNo;
        } else {
          this.refSearchParam.profileReferenceNo =
            this.masterProfileReferenceNo;
        }
        if (this.refSearchParam.profileReferenceNo !== null) {
          this.loadPagingData();
          /* this.loader = true;
            getCommonMasterMouldChangePartsByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                window.getApp.$emit("APP_API_ERROR", error);
              }); */
        }
      }
    });
    window.getApp.$on("CLOSE_PUNCH_MOULD_CHANGE_OPERATION_DIALOG", () => {
      this.close();
    });
    this.initialize();
  },
  beforeDestroy() {
    window.getApp.$off("CLOSE_PUNCH_MOULD_CHANGE_OPERATION_DIALOG");
    window.getApp.$off("MASTER_PUNCH_MOULD_CHANGEPART_ENABLE_ADD");
  },
  methods: {
    initialize() {
      this.list = [];
      this.collection = dynamicComponents.initializeComponents();
      this.list.push(this.materialComponent);
      if (this.props.applicationFormSubModelList != undefined) {
        if (this.props.applicationFormSubModelList.length > 0) {
          this.props.applicationFormSubModelList.forEach((item) => {
            if (this.collection.indexOf(item.moduleName) !== -1) {
              this.list.push(item);
            }
          });
        }
      }
      if (this.props != undefined) {
        if (this.refSearchParam.profileReferenceNo == "") {
          this.refSearchParam.isHeader = true;
          this.refSearchParam.profileReferenceNo =
            this.$route.query.profileReferenceNo;
        }
        if (this.refSearchParam.profileReferenceNo !== null) {
          this.loadPagingData();
          /* this.loader = true;
            getCommonMasterMouldChangePartsByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              }); */
        }
      }
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    loadPagingData() {
      this.commonMasterMouldChangePartsSearch.filterFields = this.filterFields;
      this.commonMasterMouldChangePartsSearch.descending = true;
      this.commonMasterMouldChangePartsSearch.pageCount = 1;
      this.pagination.page = 1;
      this.commonMasterMouldChangePartsSearch.sortCol =
        "CommonMasterMouldChangePartsID";
      this.commonMasterMouldChangePartsSearch.sortBy =
        this.pagination.descending == true ? "desc" : "asc";
      this.commonMasterMouldChangePartsSearch.searchString = this.search;
      this.commonMasterMouldChangePartsSearch.userID =
        this.$store.state.auth.userId;
      this.commonMasterMouldChangePartsSearch.methodName =
        "GetCommonMasterMouldChangeParts";
      this.commonMasterMouldChangePartsSearch.isHeader =
        this.refSearchParam.isHeader;
      this.commonMasterMouldChangePartsSearch.profileReferenceNo =
        this.refSearchParam.profileReferenceNo;
      this.loading = true;
      getData(this.commonMasterMouldChangePartsSearch)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      this.commonMasterMouldChangePartsSearch.filterFields = this.filterFields;
      this.commonMasterMouldChangePartsSearch.descending = true;
      this.commonMasterMouldChangePartsSearch.pageCount = args.page;
      this.commonMasterMouldChangePartsSearch.pageSize = args.rowsPerPage;
      this.commonMasterMouldChangePartsSearch.userID =
        this.$store.state.auth.userId;
      this.commonMasterMouldChangePartsSearch.isHeader =
        this.refSearchParam.isHeader;
      this.commonMasterMouldChangePartsSearch.profileReferenceNo =
        this.refSearchParam.profileReferenceNo;
      if (args.sortBy == "psizeLength") {
        this.commonMasterMouldChangePartsSearch.sortCol = "PsizeLength";
      } else if (args.sortBy == "psizeWidth") {
        this.commonMasterMouldChangePartsSearch.sortCol = "PsizeWidth";
      } else if (args.sortBy == "statusCode") {
        this.commonMasterMouldChangePartsSearch.sortCol =
          "StatusCode.CodeValue";
      } else if (args.sortBy == "modifiedByUser") {
        this.commonMasterMouldChangePartsSearch.sortCol =
          "ModifiedByUser.UserName";
      } else if (args.sortBy == "pshapeName") {
        this.commonMasterMouldChangePartsSearch.sortCol = "Pshape.Value";
      } else if (args.sortBy == "pmarkingName") {
        this.commonMasterMouldChangePartsSearch.sortCol = "Pmarking.Value";
      } else {
        this.commonMasterMouldChangePartsSearch.sortCol =
          "CommonMasterMouldChangePartsID";
      }
      this.commonMasterMouldChangePartsSearch.sortBy =
        args.descending == true ? "desc" : "asc";
      this.commonMasterMouldChangePartsSearch.searchString = this.search;
      this.commonMasterMouldChangePartsSearch.methodName =
        "GetCommonMasterMouldChangeParts";
      this.loading = true;
      getData(this.commonMasterMouldChangePartsSearch)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    checkClassificationPermission(permissionCode) {
      return isClassificationPermission(permissionCode, this.$store);
    },
    iSCheckClassificationPermission(type) {
      if (this.$route.query.classificationTypeId == 1045) {
        if (type == "Add") {
          return isClassificationPermission(1033, this.$store);
        }
        if (type == "Edit") {
          return isClassificationPermission(1034, this.$store);
        }
        if (type == "Delete") {
          return isClassificationPermission(1035, this.$store);
        }
      }
      if (this.$route.query.classificationTypeId == 1041) {
        if (type == "Add") {
          return isClassificationPermission(1013, this.$store);
        }
        if (type == "Edit") {
          return isClassificationPermission(1014, this.$store);
        }
        if (type == "Delete") {
          return isClassificationPermission(1015, this.$store);
        }
      }
    },
    tabAsFirst(i, item) {
      this.hideShowAdd = false;
      this.hideShowSave = false;
      if (i == 0) {
        this.hideShowAdd = true;
        this.hideShowSave = true;
      }
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    editItem(item) {
      if (this.props.profileID > 0) {
        this.hideShowAdd = true;
        this.hideShowSave = true;
        this.$refs.CommonMasterPunchToolingForm[0].add();
        this.$refs.CommonMasterPunchToolingForm[0].linkProfileReferenceNo =
          this.$route.query.profileReferenceNo;
        this.$refs.CommonMasterPunchToolingForm[0].profileID =
          this.props.profileID;
        this.$refs.CommonMasterPunchToolingForm[0].profileName =
          this.props.profileName;
        this.$refs.CommonMasterPunchToolingForm[0].editItem(item);
        this.$refs.CommonMasterPunchToolingForm[0].masterProfileReferenceNo =
          this.masterProfileReferenceNo;
        window.getApp.$emit("MACHINE_ENABLE_ADD", {
          state: "EDIT",
          masterReferenceNo: item.masterProfileReferenceNo,
          classificationLinkType: this.$route.query.classificationLinkType,
        });
        window.getApp.$emit("BLISTER_MOULD_ENABLE_ADD", {
          state: "EDIT",
          masterReferenceNo: item.masterProfileReferenceNo,
          classificationLinkType: this.$route.query.classificationLinkType,
        });
        window.getApp.$emit("RE_QUALIFICATION_MACHINE_ENABLE_ADD", {
          state: "EDIT",
          masterReferenceNo: item.masterProfileReferenceNo,
          classificationLinkType: this.$route.query.classificationLinkType,
        });
        setTimeout(() => {
          this.dialog = true;
        }, 500);
      } else {
        window.getApp.$emit(
          "APP_API_ERROR",
          GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR
        );
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.commonMasterMouldChangePartsId > 0) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);

        deleteCommonMasterMouldChangeParts(this.editedItem)
          .then(() => {
            this.loader = false;
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            this.add();
            this.loadPagingData();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    save() {
      this.$refs.CommonMasterPunchToolingForm[0].save();
    },
    add() {
      if (this.props.profileID > 0) {
        this.hideShowAdd = true;
        this.hideShowSave = true;
        this.$refs.CommonMasterPunchToolingForm[0].linkProfileReferenceNo =
          this.$route.query.profileReferenceNo;
        this.$refs.CommonMasterPunchToolingForm[0].profileID =
          this.props.profileID;
        this.$refs.CommonMasterPunchToolingForm[0].profileName =
          this.props.profileName;
        this.$refs.CommonMasterPunchToolingForm[0].add();
        this.$refs.CommonMasterPunchToolingForm[0].masterProfileReferenceNo =
          this.masterProfileReferenceNo;
        window.getApp.$emit("MACHINE_ENABLE_ADD", {
          state: "ADD",
          masterReferenceNo: "",
          classificationLinkType: this.$route.query.classificationLinkType,
        });
        window.getApp.$emit("BLISTER_MOULD_ENABLE_ADD", {
          state: "ADD",
          masterReferenceNo: "",
          classificationLinkType: this.$route.query.classificationLinkType,
        });
        window.getApp.$emit("RE_QUALIFICATION_MACHINE_ENABLE_ADD", {
          state: "ADD",
          masterReferenceNo: "",
          classificationLinkType: this.$route.query.classificationLinkType,
        });
      } else {
        window.getApp.$emit(
          "APP_API_ERROR",
          GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR
        );
      }
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.loadPagingData();
    },
  },
};
</script>
<style lang="stylus" scoped>
.task-sub--scroll {
  overflow: auto;
  height: calc(100vh - 110px - 60px);
}

.chat-room--scrollbartree {
  overflow: auto;
  height: calc(100vh - 70px);
}

.taskDetails--scrollbar {
  overflow: auto;
  height: calc(100vh - 60px);
}
</style>