<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="FP Manufacturing Recipe" type="csv" name="FPManufacturingRecipe.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" :disabled="enableAddButton">
        <v-btn class="primary pull-right" slot="activator" @click="add" :disabled="enableAddButton" v-show="checkClassificationPermission(512)">GENERATE</v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <!--  <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New FP Manufacturing Recipe</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>-->
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-tabs v-if="list.length>0" v-model="active" color="primary" dark slider-color="yellow">
            <v-tab v-for="(item,i) in list" :key="i" ripple>{{ item.formName }}</v-tab>
            <v-tab-item v-for="(item,i) in list" :key="i">
              <v-card flat>
                <keep-alive>
                  <component :ref="item.moduleName" :is="item.moduleName" :props="item"></component>
                </keep-alive>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="fpManufacturingRecipeID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left">{{ props.item.customerProductName }}</td>
          <td class="text-xs-left">{{ props.item.manufacturingSite }}</td>
          <td class="text-xs-left">{{ props.item.productOwner }}</td>
          <td class="text-xs-left">{{ props.item.registerHolderName }}</td>
          <td class="text-xs-left">{{ props.item.registerCountry }}</td>
          <td class="text-xs-left">{{ props.item.prhSpecificName }}</td>

          <!-- <td class="text-xs-left">{{ props.item.statusCode }}</td> -->
          <td class="text-xs-left">
            <span v-if="props.item.isMaster == true" style="font-weight:bold">Master</span>
            <span v-else></span>
          </td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <!--  <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon> -->
            <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(513)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import { getItemClassificationHeadersDropdown } from "@/api/fpCommonFieldsLine";
  import moment from "moment";
  import { getPlants } from "@/api/nav";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getFinishProductGeneralInfoByManufacuringId } from "@/api/productGeneralinfo";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import dynamicComponents from "@/pages/itemClassificationForm/components";

  import {
    getFPManufacturingRecipes,
    getFPManufacturingRecipe,
    createFPManufacturingRecipe,
    updateFPManufacturingRecipe,
    deleteFPManufacturingRecipe,
    generateFPManufacturingRecipes,
    updateFPManufacturingRecipeMaster,
    getFPManufacturingRecipesByRefNo
  } from "@/api/fpmanufacturingRecipe";
  import { isClassificationPermission } from "@/api/checkPermission";
  export default {
    components: {},
    props: ["props"],
    data: () => ({
      active: null,
      enableAddButton: true,
      items: [],
      collection: [],
      list: [],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      materialComponent: {
        formName: "FP Product Grouping List",
        moduleName: "FPManufacturingRecipeForm",
        path: "./Dynamic/FPManufacturingRecipeForm.vue"
      },
      dialog: false,
      search: "",
      isMaster: "true",
      loader: false,
      editedIndex: -1,
      prhspecificProductName: "",
      manufacturingSite: "",
      productowner: "",
      registerCountry: "",
      productRegistrationHolder: "",
      startdatemenu: false,
      finishProductItems: [],
      productInfoItems: [],
      searchProductbatch: "",
      packingUnitsItems: [],
      gridItems: [],
      manufacturingItems: [],
      masterSettingItems: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],

      headers: [
        { text: "Customer Product Name", value: "customerProductName", align: "left" },
        { text: "Manufacturing Site", value: "manufacturingSite", align: "left" },
        { text: "Product Owner", value: "productOwner", align: "left" },
        { text: "Product Registration Holder", value: "registerHolderName", align: "left" },
        { text: "Register Country", value: "registerCountry", align: "left" },
        { text: "PRH specific Product Name", value: "prhSpecificName", align: "left" },
        { text: "Is this the master", value: "isMaster", align: "left" },
        { text: "Added Date", value: "addedDate", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],

      json_fields: {
        "Manufacturing Site": "manufacturingSite",
        "Register Country": "registerCountry",
        "Register Holder Name": "registerHolderName",
        "Product Name": "customerProductName",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      settingsrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      settingspagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      refSearchParam: { isHeader: false, profileReferenceNo: "" }
    }),
    created () {
      if (this.$route.query.profileReferenceNo != null) {
        this.enableAddButton = false;
      }
      window.getApp.$on("RECEIPE_ENABLE_ADD", item => {
        if (item.state == "ADD" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = true;
        } else if (item.state == "EDIT" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = false;
          this.masterProfileReferenceNo = item.masterReferenceNo;
          this.refSearchParam.isHeader =
            item.classificationLinkType == "Header" ? true : false;
          if (this.refSearchParam.isHeader) {
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          } else {
            this.refSearchParam.profileReferenceNo = this.masterProfileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loader = true;
            getFPManufacturingRecipesByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      });
      window.getApp.$on("FPMANUFACURE_RECEIPE_COSE_DIALOG", () => {
        this.close();
      });
      this.initialize();
    },
    beforeDestroy () {
      window.getApp.$off("RECEIPE_ENABLE_ADD");
      window.getApp.$off("FPMANUFACURE_RECEIPE_COSE_DIALOG");
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    computed: {},
    methods: {
      initialize () {
        this.list = [];
        this.collection = dynamicComponents.initializeComponents();
        this.list.push(this.materialComponent);
        if (this.props.applicationFormSubModelList != undefined) {
          if (this.props.applicationFormSubModelList.length > 0) {
            this.props.applicationFormSubModelList.forEach(item => {
              if (this.collection.indexOf(item.moduleName) !== -1) {
                this.list.push(item);
              }
            });
          }
        }

        if (this.props != undefined) {
          if (this.refSearchParam.profileReferenceNo == "") {
            this.refSearchParam.isHeader = true;
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loader = true;
            getFPManufacturingRecipesByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
        getItemClassificationHeadersDropdown("")
          .then(response2 => {
            this.productInfoItems = response2.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      add () {
        if (this.props.profileID > 0) {
          this.$refs.FPManufacturingRecipeForm[0].add();
          this.$refs.FPManufacturingRecipeForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.FPManufacturingRecipeForm[0].profileID = this.props.profileID;
          this.$refs.FPManufacturingRecipeForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          window.getApp.$emit("FINISHPRODUCT_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("FINISHPRODUCTEXCEIPIENT_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          this.$refs.FPManufacturingRecipeForm[0].generateMaster();
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      editItem (item) {
        if (this.props.profileID > 0) {
          this.dialog = true;
          this.$refs.FPManufacturingRecipeForm[0].add();
          setTimeout(() => {
            this.$refs.FPManufacturingRecipeForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
            this.$refs.FPManufacturingRecipeForm[0].profileID = this.props.profileID;
            this.$refs.FPManufacturingRecipeForm[0].editedItem = item;
            this.$refs.FPManufacturingRecipeForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
            //console.log('masterProfileReferenceNo',this.masterProfileReferenceNo);
          }, 500);
          //console.log(this.$route.query.classificationLinkType);
          window.getApp.$emit("FINISHPRODUCT_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("FINISHPRODUCTEXCEIPIENT_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      close () {
        this.dialog = false;
        this.initialize();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.fpManufacturingRecipeID > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteFPManufacturingRecipe(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    }
  };
</script>

