<template>

    <div>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="General NamingEquivalent" type="csv" name="GeneralNamingEquivalent.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
                <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton" v-show="iSCheckClassificationPermission('Add')">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <v-tooltip bottom v-if="hideShowAdd">
                            <v-btn icon slot="activator" @click.native="add" v-show="iSCheckClassificationPermission('Add')">
                                <v-icon color='white'>add</v-icon>
                            </v-btn>
                            <span>Create New</span>
                        </v-tooltip>
                        <v-tooltip bottom v-if="hideShowSave">
                            <v-btn icon slot="activator" @click.native="save">
                                <v-icon color='white'>save</v-icon>
                            </v-btn>
                            <span>Save </span>
                        </v-tooltip>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-tabs v-if="list.length>0" v-model="active" color="primary" dark slider-color="yellow">
                        <v-tab v-for="(item,i) in list" :key="i" ripple @click="tabAsFirst(i,item)">{{ item.formName }}</v-tab>
                        <v-tab-item v-for="(item,i) in list" :key="i">
                            <v-card flat>
                                <keep-alive>
                                    <component :ref="item.moduleName" :is="item.moduleName" :props="item"></component>
                                </keep-alive>
                            </v-card>
                        </v-tab-item>
                    </v-tabs>
                    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
                    </delete-confirmation-dialog>

                </v-card>
            </v-dialog>
            <v-tooltip bottom>
                <v-btn icon="" slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
                    <v-icon icon>
                        refresh
                    </v-icon>
                </v-btn>
                <span>Refresh</span>
            </v-tooltip>
        </v-toolbar>

        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="navisionSpecificationId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">

                <td class="text-xs-left">{{ props.item.materialSpecificationNo }}</td>
                <td class="text-xs-left">{{ props.item.materialSpecificationName }}</td>
                <td>{{ props.item.database }}</td>
                <td class="text-xs-left">{{ props.item.navision }}</td>
                <td class="text-xs-left">{{ props.item.navisionBuom }}</td>
                <td class="text-xs-left">{{ props.item.navisionStatus }}</td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>
                <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)" v-show="iSCheckClassificationPermission('Edit')">
                        edit
                    </v-icon>
                    <v-icon small @click="onDeleteItem(props.item)" v-show="iSCheckClassificationPermission('Delete')">
                        delete
                    </v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="loadPagingData"> Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import GlobalMessage from '@/constant';
    import dynamicComponents from "@/pages/itemClassificationForm/components";
    import moment from "moment";
    import { getApplicationMasterDetailByType } from '@/api/applicationMaster';
    import { getCodeMasterByType } from '@/api/applicationUser';
    import {
        getNavisionSpecificationsByRefNo,
        getNavisionSpecifications,
        createNavisionSpecifications,
        updateNavisionSpecifications,
        deleteNavisionSpecifications

    } from "@/api/navisionSpecification";
    import { isClassificationPermission } from "@/api/checkPermission";
    import { getDescriptionByCountryItems } from "@/api/itemMaster";
    import { getData } from "@/api/paggedapi";
    export default {
        components: {

        },
        props: ["props"],
        data: () => ({
            totalRows: 0,
            loading: false,
            enableAddButton: true,
            active: null,
            items: [],
            collection: [],
            list: [],
            linkProfileReferenceNo: "",
            masterProfileReferenceNo: "",
            profileID: null,
            materialComponent: {
                formName: "Navision Specification",
                moduleName: "NavisionSpecificationForm",
                path: "./Dynamic/NavisionSpecificationForm.vue"
            },
            hideShowAdd: true,
            hideShowSave: true,
            dialog: false,
            loader: false,
            search: '',
            gridItems: [],
            editedItem: {
                navisionSpecificationId: -1,
            },
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            searchItem: { action: '', Id: null, searchString: 'searchString', },
            filterFields: [
                "Navision.Description",
                "Navision.BaseUnitofMeasure",
                "Navision.StatusCode.CodeValue",
                "Database.Value",
                "AddedByUser.UserName",
                "ModifiedByUser.UserName"
            ],
            headers: [
                { text: 'Spec No', value: 'materialSpecificationNo', align: 'left', sortable: false },
                { text: 'Spec Name', value: 'materialSpecificationName', align: 'left', sortable: false },
                { text: 'Database', value: 'database', align: 'left' },
                { text: 'Navision Name', value: 'navision', align: 'left' },
                { text: 'BUOM', value: 'navisionBuom', align: 'left' },
                { text: 'Navision Status', value: 'navisionStatus', align: 'left' },
                { text: 'Added By', value: 'addedByUser', align: 'left' },
                { text: 'Added Date', value: 'addedDate', align: 'left' },
                { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
            ],
            json_fields: {
                'Database': 'database',
                'Navision Name': 'navision',
                'Added By': 'addedByUser',
                'Added Date': 'addedDate',
                'Modified By': 'modifiedByUser',
                'Modified Date': 'modifiedDate',
            },
            refSearchParam: { isHeader: false, profileReferenceNo: "", navType: "" },
            nvaSpecSearch: {
                descending: false,
                searchString: "",
                userID: -1,
                pageCount: 1,
                pageSize: 10,
                methodName: "",
                sortCol: "AddedDate",
                sortBy: "DESC",
                masterTypeID: -1,
                classificationTypeId: null,
                classificationId: null,
                isHeader: false,
                profileReferenceNo: "",
                navType: "",
                filterFields: [
                ],
            }
        }),
        computed: {
            loadPagingKey () {
                return {
                    // bind to hotkey
                    enter: this.loadPagingData,
                };
            },
        },
        created () {
            if (this.$route.query.profileReferenceNo != null) {
                this.enableAddButton = false;
            }
            this.refSearchParam.navType = this.$route.query.navSpecs;
            window.getApp.$on("NAVISION_SPEC_ENABLE_ADD", item => {
                if (item.state == "ADD" && !this.props.mainForm) {
                    this.gridItems = [];
                    this.enableAddButton = true;
                } else if (item.state == "EDIT" && !this.props.mainForm) {
                    this.gridItems = [];
                    this.enableAddButton = false;
                    this.masterProfileReferenceNo = item.masterReferenceNo;
                    this.refSearchParam.isHeader =
                        item.classificationLinkType == "Header" ? true : false;
                    if (this.refSearchParam.isHeader) {
                        this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
                    } else {
                        this.refSearchParam.profileReferenceNo = this.masterProfileReferenceNo;
                    }
                    if (this.refSearchParam.profileReferenceNo != null) {
                        this.loadPagingData();
                        /* this.loader = true;
                        getNavisionSpecificationsByRefNo(this.refSearchParam)
                            .then(response => {
                                this.gridItems = response.data;
                                this.loader = false;
                            })
                            .catch(error => {
                                window.getApp.$emit("APP_API_ERROR", error);
                            }); */
                    }
                }
            });
            this.initialize();
            window.getApp.$on("CLOSE_GENERAL_NAMING_DIALOG", () => {
                this.close();
            });
        },
        watch: {
            dialog (val) {
                val || this.close();
            }
        },
        beforeDestroy () {
            window.getApp.$off("CLOSE_GENERAL_NAMING_DIALOG");
            window.getApp.$off("NAVISION_SPEC_ENABLE_ADD");
        },
        methods: {
            initialize () {
                this.list = [];
                this.collection = dynamicComponents.initializeComponents();
                this.list.push(this.materialComponent);
                if (this.props.applicationFormSubModelList != undefined) {
                    if (this.props.applicationFormSubModelList.length > 0) {
                        this.props.applicationFormSubModelList.forEach(item => {
                            if (this.collection.indexOf(item.moduleName) !== -1) {
                                this.list.push(item);
                            }
                        });
                    }
                }
                if (this.props != undefined) {
                    if (this.refSearchParam.profileReferenceNo == "") {
                        this.refSearchParam.isHeader = true;
                        this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
                    }
                    if (this.refSearchParam.profileReferenceNo != null) {
                        this.loadPagingData();
                        /* this.loader = true;
                        getNavisionSpecificationsByRefNo(this.refSearchParam)
                            .then(response => {
                                this.gridItems = response.data;
                                this.loader = false;
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            }); */
                    }
                }

            },
            getDataFromApi (pageSize) {
                this.pagination.rowsPerPage = pageSize;
                this.nvaSpecSearch.pageSize = pageSize;
                this.nvaSpecSearch.userID = this.$store.state.auth.userId;
                this.loadPagingData();
            },
            loadPagingData () {
                this.nvaSpecSearch.filterFields = this.filterFields;
                this.nvaSpecSearch.descending = true;
                this.nvaSpecSearch.pageCount = 1;
                this.pagination.page = 1;
                this.nvaSpecSearch.sortCol = "NavisionSpecificationID";
                this.nvaSpecSearch.sortBy = this.pagination.descending == true ? "desc" : "asc";
                this.nvaSpecSearch.searchString = this.search;
                this.nvaSpecSearch.userID = this.$store.state.auth.userId;
                this.nvaSpecSearch.methodName = "GetNavisionSpecification";
                this.nvaSpecSearch.isHeader = this.refSearchParam.isHeader;
                this.nvaSpecSearch.profileReferenceNo = this.refSearchParam.profileReferenceNo;
                this.nvaSpecSearch.navType = this.$route.query.navSpecs;
                this.loading = true;
                getData(this.nvaSpecSearch)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.loading = false;
                    })
                    .catch((error) => {
                        this.loading = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onUpdatePagination (args) {
                this.nvaSpecSearch.filterFields = this.filterFields;
                this.nvaSpecSearch.descending = true;
                this.nvaSpecSearch.pageCount = args.page;
                this.nvaSpecSearch.pageSize = args.rowsPerPage;
                this.nvaSpecSearch.userID = this.$store.state.auth.userId;
                this.nvaSpecSearch.isHeader = this.refSearchParam.isHeader;
                this.nvaSpecSearch.profileReferenceNo = this.refSearchParam.profileReferenceNo;
                this.nvaSpecSearch.navType = this.$route.query.navSpecs;
                if (args.sortBy == "navision") {
                    this.nvaSpecSearch.sortCol = "Navision.Description";
                }
                else if (args.sortBy == "navisionBuom") {
                    this.nvaSpecSearch.sortCol = "Navision.BaseUnitofMeasure";
                } else if (args.sortBy == "navisionStatus") {
                    this.nvaSpecSearch.sortCol = "Navision.StatusCode.CodeValue";
                }
                else if (args.sortBy == "database") {
                    this.nvaSpecSearch.sortCol = "Database.Value";
                }
                 else if (args.sortBy == "addedByUser") {
                    this.nvaSpecSearch.sortCol = "AddedByUser.UserName";
                }
                else {
                    this.nvaSpecSearch.sortCol = 'NavisionSpecificationID';
                }
                this.nvaSpecSearch.sortBy = args.descending == true ? "desc" : "asc";
                this.nvaSpecSearch.searchString = this.search;
                this.nvaSpecSearch.methodName = "GetNavisionSpecification";
                this.loading = true;
                getData(this.nvaSpecSearch)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.loading = false;
                    })
                    .catch((error) => {
                        this.loading = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            iSCheckClassificationPermission (type) {
                if (this.$route.query.classificationTypeId == 1042) {
                    if (type == "Add") {
                        return isClassificationPermission(531, this.$store);
                    }
                    if (type == "Edit") {
                        return isClassificationPermission(532, this.$store);
                    }
                    if (type == "Delete") {
                        return isClassificationPermission(533, this.$store);
                    }
                }
                if (this.$route.query.classificationTypeId == 1040) {
                    if (type == "Add") {
                        return isClassificationPermission(462, this.$store);
                    }
                    if (type == "Edit") {
                        return isClassificationPermission(463, this.$store);
                    }
                    if (type == "Delete") {
                        return isClassificationPermission(464, this.$store);
                    }
                }
            },
            save () {
                this.$refs.NavisionSpecificationForm[0].save();
            },
            tabAsFirst (i, item) {
                this.hideShowAdd = false;
                this.hideShowSave = false;
                if (i == 0) {
                    this.hideShowAdd = true;
                    this.hideShowSave = true;
                }
            },
            editItem (item) {
                if (this.props.profileID > 0) {
                    this.$refs.NavisionSpecificationForm[0].add();
                    this.$refs.NavisionSpecificationForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
                    this.$refs.NavisionSpecificationForm[0].profileID = this.props.profileID;
                    this.$refs.NavisionSpecificationForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
                    this.$refs.NavisionSpecificationForm[0].gridItems = this.gridItems;
                    setTimeout(() => {
                        this.$refs.NavisionSpecificationForm[0].editItem(item);
                        this.dialog = true;
                    }, 500);
                    window.getApp.$emit("CAPSULE_ENABLE_ADD", {
                        state: "EDIT",
                        masterReferenceNo: item.masterProfileReferenceNo,
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("COLOR_ENABLE_ADD", {
                        state: "EDIT",
                        masterReferenceNo: item.masterProfileReferenceNo,
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("MATERIAL_ENABLE_ADD", {
                        state: "EDIT",
                        masterReferenceNo: item.masterProfileReferenceNo,
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("MACHINE_ENABLE_ADD", {
                        state: "EDIT",
                        masterReferenceNo: item.masterProfileReferenceNo,
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("FLAVOUR_ENABLE_ADD", {
                        state: "EDIT",
                        masterReferenceNo: item.masterProfileReferenceNo,
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    this.hideShowAdd = true;
                    this.hideShowSave = true;
                }
                else {
                    window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
                }
            },
            close () {
                this.dialog = false;
                this.initialize();
                this.loadPagingData();
            },
            add () {
                if (this.props.profileID > 0) {
                    this.$refs.NavisionSpecificationForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
                    this.$refs.NavisionSpecificationForm[0].profileID = this.props.profileID;
                    this.$refs.NavisionSpecificationForm[0].add();
                    this.$refs.NavisionSpecificationForm[0].gridItems = this.gridItems;
                    this.$refs.NavisionSpecificationForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
                    window.getApp.$emit("CAPSULE_ENABLE_ADD", {
                        state: "ADD",
                        masterReferenceNo: "",
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("COLOR_ENABLE_ADD", {
                        state: "ADD",
                        masterReferenceNo: "",
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("MATERIAL_ENABLE_ADD", {
                        state: "ADD",
                        masterReferenceNo: "",
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("MACHINE_ENABLE_ADD", {
                        state: "ADD",
                        masterReferenceNo: "",
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    window.getApp.$emit("FLAVOUR_ENABLE_ADD", {
                        state: "ADD",
                        masterReferenceNo: "",
                        classificationLinkType: this.$route.query.classificationLinkType
                    });
                    this.hideShowAdd = true;
                    this.hideShowSave = true;
                }
                else {
                    window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
                }
            },

            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.navisionSpecificationId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);
                    deleteNavisionSpecifications(this.editedItem)
                        .then(() => {
                            this.loader = false;
                            this.gridItems.splice(index, 1);
                            this.initialize();
                            this.loadPagingData();
                            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit('APP_API_ERROR', error);
                        });
                }

            },
        }
    }
</script>

