<template>
    <div>

        <v-card-title>
            <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <div class="task-sub--scroll">
            <v-card-text>
                <v-form v-model="editedItem.valid" ref="leafFletform" lazy-validation>
                    <v-layout wrap>

                        <v-flex xs12 sm6>
                            <v-checkbox v-model="editedItem.isVersion" label="Version Control" primary hide-details></v-checkbox>
                        </v-flex>

                        <v-flex xs12 sm6>
                            <v-text-field v-model="editedItem.lengthSize" label="Length Size/mm" prepend-icon="description" suffix="mm"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm6>
                            <v-text-field v-model="editedItem.widthSize" label="widthSize/mm" prepend-icon="description" suffix="mm"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm6>
                            <v-autocomplete label="Packing Material" prepend-icon="description" v-model="editedItem.packingMaterialId" :items="packingMaterialItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <v-autocomplete label="Packing Item" prepend-icon="description" v-model="editedItem.packingItemId" :items="packingItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm6>
                            <v-autocomplete label="Packing Unit " prepend-icon="description" v-model="editedItem.packingUnitId" :items="packingUnitItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm6>
                            <div>Printed on</div>
                            <v-radio-group v-model="editedItem.printedOnId" row>
                                <v-radio v-for="n in printedOnItems" :key="n.codeID" :label="`${n.codeValue}`" :value="n.codeID"></v-radio>
                            </v-radio-group>
                        </v-flex>
                        <!--  <v-flex xs12 sm6 md6>
                            <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions"></v-autocomplete>
                        </v-flex> -->
                    </v-layout>
                </v-form>
            </v-card-text>
        </div>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
        </v-card-actions>
    </div>
</template>
<script>
    import GlobalMessage from "@/constant";
    import moment from "moment";
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import { getCodeMasterByType } from "@/api/applicationUser";
    import {
        getPackagingLeafletsByRefNo,
        getPackagingLeaflet,
        getPackagingLeaflets,
        createPackagingLeaflet,
        updatePackagingLeaflet,
        deletePackagingLeaflet
    } from "@/api/packagingLeaflet";
    export default {
        props: ["props"],
        data: () => ({
            enableAddButton: true,
            snackbar: false,
            snackbarMessage: '',
            timeout: 2000,
            y: 'top',
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10
            },
            searchItem: { action: "", Id: null, searchString: "searchString" },
            dialog: false,
            search: "",
            loader: false,
            editedIndex: -1,
            gridItems: [],
            packingMaterialItems: [],
            packingItems: [],
            packingUnitItems: [],
            printedOnItems: [],
            linkProfileReferenceNo: "",
            masterProfileReferenceNo: "",
            profileID: null,
            statusOptions: [
                { text: "Active", value: 1 },
                { text: "InActive", value: 2 }
            ],

            editedItem: {
                leafletId: -1,
                valid: false,
                lengthSize: "",
                widthSize: "",
                packingMaterialId: null,
                leafletTypeID: 1082,
                packingItemId: null,
                packingUnitId: null,
                addedByUserID: null,
                modifiedByUserID: null,
                addedDate: new Date(),
                modifiedDate: new Date(),
                statusCodeID: 1,
                statusCode: "Active",
                linkProfileReferenceNo: "",
                masterProfileReferenceNo: "",
                profileID: null,
                printedOnId: '',
            },
            defaultItem: {
                leafletId: -1,
                valid: false,
                lengthSize: "",
                widthSize: "",
                packingMaterialId: null,
                leafletTypeID: 1082,
                packingItemId: null,
                packingUnitId: null,
                addedByUserID: null,
                modifiedByUserID: null,
                addedDate: new Date(),
                modifiedDate: new Date(),
                statusCodeID: 1,
                statusCode: "Active",
                linkProfileReferenceNo: "",
                masterProfileReferenceNo: "",
                profileID: null,
                printedOnId: '',
            },
            searchItem: { action: "", Id: null, searchString: "searchString" }
        }),

        computed: {
            formTitle () {
                return this.editedItem.leafletId > 0
                    ? "Edit Packaging Leaflet"
                    : "Add Packaging Leaflet";
            }
        },

        created () {
            this.initialize();
        },

        methods: {
            initialize () {
            },
            loadDropdownList () {
                this.loader = true;
                getApplicationMasterDetailByType(200)
                    .then(response => {

                        this.packingMaterialItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(201)
                    .then(response => {
                        this.packingItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(202)
                    .then(response => {
                        this.packingUnitItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getCodeMasterByType("Printed On Type")
                    .then(response => {
                        this.printedOnItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });

            },
            add () {
                this.loadDropdownList();
                this.editedItem.leafletId = -1;
                this.editedItem.lengthSize = "";
                this.editedItem.widthSize = "";
                this.editedItem.packingItemId = null;
                this.editedItem.packingMaterialId = null;
                this.editedItem.leafletTypeID = 1082,
                    this.editedItem.packingUnitId = null;
                this.editedItem.statusCodeID = 1;
                this.editedItem.printedOnId = '';
                this.editedIndex = -1;
            },
            save () {
                if (this.profileID > 0) {
                    this.editedItem.linkProfileReferenceNo = this.linkProfileReferenceNo;
                    this.editedItem.masterProfileReferenceNo = this.masterProfileReferenceNo;
                    this.editedItem.profileID = this.profileID;
                    if (this.$refs.leafFletform.validate()) {
                        this.loader = true;
                        if (this.editedItem.leafletId > 0) {
                            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                            this.editedItem.modifiedDate = new Date();
                            updatePackagingLeaflet(this.editedItem)
                                .then(response => {
                                    this.loader = false;
                                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                                    window.getApp.$emit("PACKAGE_ITEM_NAME", response.data.packagingItemName);
                                    this.initialize();
                                })
                                .catch(error => {
                                    this.loader = false;
                                    window.getApp.$emit("APP_API_ERROR", error);
                                });
                        } else {
                            this.editedItem.addedByUserID = this.$store.state.auth.userId;
                            this.editedItem.addedDate = new Date();
                            createPackagingLeaflet(this.editedItem)
                                .then(response => {
                                    window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("BOTTLE_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("CARTON_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("DIVIDER_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("NESTING_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_LABEL_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_LABEL_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    this.loader = false;
                                    this.editedItem.leafletId = response.data.leafletId;
                                    window.getApp.$emit("PACKAGE_ITEM_NAME", response.data.packagingItemName);
                                    window.getApp.$emit("PACKAGING_LEAFLET_DISABLE_ADD", response.data);
                                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                                    this.initialize();
                                })
                                .catch(error => {
                                    this.loader = false;
                                    window.getApp.$emit("APP_API_ERROR", error);
                                });
                        }
                    }
                }
                else {
                    window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
                }
            },
            editItem (item) {
                this.loadDropdownList();
                this.editedItem = Object.assign({}, item);
                this.editedItem.valid = false;
            },
            close () {
                window.getApp.$emit("CLOSE_PACKAGING_LEAFLET_DIALOG");
            },
        }
    };
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 155px - 60px);
     }
</style> 