<template>
  <div>
    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
    <div class="task-sub--scroll">
      <v-card-text>
        <v-form v-model="editedItem.valid" ref="aluminiumFoilform" lazy-validation>
          <v-layout wrap>
            <!--   <v-flex xs12  md4>
                                <v-autocomplete label="Printed?" prepend-icon="print" v-model="printed" :items="printedOptions"></v-autocomplete>
            </v-flex>-->
            <v-flex xs12 sm6>
              <v-checkbox v-model="editedItem.isVersion" label="Version Control" primary hide-details></v-checkbox>
            </v-flex>
            <v-flex xs12 sm6>
              <v-checkbox color="primary" v-model="editedItem.isPrinted" label="Is Printed"></v-checkbox>
            </v-flex>
            <v-flex xs12 sm6>
              <v-text-field v-show="editedItem.isPrinted" v-model="editedItem.noOfColor" label="No of Color" prepend-icon="invert_colors"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6>
              <v-text-field v-model="editedItem.foilThickness" label="Foil Thickness" prepend-icon="description" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs12 sm6>
              <v-text-field v-model="editedItem.foilWidth" label="Foil Width" prepend-icon="description" suffix="mm"></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <!-- <aluminium-foil-line ref="refaluminiumFoilLine"></aluminium-foil-line> -->
    </div>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
      <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
    </v-card-actions>
    <app-section-loader :status="loader"></app-section-loader>
  </div>
</template>
<script>
  //import AluminiumFoilLine from "@/pages/itemClassificationForm/Dynamic/packagingaluminiumFoilLine.vue";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import {
    getPackagingAluminiumFoil,
    getPackagingAluminiumFoils,
    createPackagingAluminiumFoil,
    updatePackagingAluminiumFoil,
    deletePackagingAluminiumFoil,
    getPackagingAluminiumFoilLine,
    getPackagingAluminiumFoilLinesById,
    createPackagingAluminiumFoilLine,
    updatePackagingAluminiumFoilLine,
    deletePackagingAluminiumFoilLine
  } from "@/api/packagingAluminiumFoil";
  export default {
    components: {
      //AluminiumFoilLine
    },
    props: ["props"],
    data: () => ({
      enableAddButton: true,
      dialog: false,
      loader: false,
      search: "",
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      itemList: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      snackbar: false,
      snackbarMessage: "",
      gridItems: [],

      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      printedOptions: [
        { text: "Yes", value: 1 },
        { text: "No", value: 2 }
      ],

      editedIndex: -1,
      printed: 1,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      editedItem: {
        valid: false,
        aluminiumFoilId: -1,
        noOfColor: "",
        pantoneColorId: null,
        colorId: null,
        letteringId: null,
        bgColorId: null,
        bgPantoneColorId: null,
        isVersion: false,
        foilThickness: "",
        foilWidth: "",
        statusCodeID: 1,
        isPrinted: false,
        statusCode: "Active",
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        reversePrint: false,
        wtPerRoll: "",
        lengthPerRoll: "",
        aluminiumFoilTypeId: 1089
      },
      defaultItem: {
        valid: false,
        aluminiumFoilId: -1,
        noOfColor: "",
        pantoneColorId: null,
        isVersion: false,
        colorId: null,
        letteringId: null,
        bgColorId: null,
        bgPantoneColorId: null,
        foilThickness: "",
        foilWidth: "",
        statusCodeID: 1,
        isPrinted: false,
        statusCode: "Active",
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        reversePrint: false,
        wtPerRoll: "",
        lengthPerRoll: "",
        aluminiumFoilTypeId: 1089
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),

    computed: {
      formTitle () {
        return this.editedItem.aluminiumFoilId > 0
          ? "Edit Aluminium Foil Entry"
          : "Add Aluminium Foil Entry";
      }
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () { },
      loadDropdownList () { },
      add () {
        // this.$refs.refaluminiumFoilLine.enableAddButton = true;
        // this.$refs.refaluminiumFoilLine.gridItems = [];
        // this.$refs.refaluminiumFoilLine.packagingAluminiumFoilId = -1;
        this.editedItem.aluminiumFoilId = -1;
        this.editedItem.valid = false;
        this.editedItem.noOfColor = "";
        this.editedItem.pantoneColorId = null;
        this.editedItem.colorId = null;
        this.editedItem.isVersion = false;
        this.editedItem.letteringId = null;
        this.editedItem.bgColorId = null;
        this.editedItem.bgPantoneColorId = null;
        this.editedItem.foilThickness = "";
        this.editedItem.foilWidth = "";
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = "Active";
        this.editedItem.isPrinted = false;
        this.editedItem.reversePrint = false;
        this.editedItem.wtPerRoll = "";
        this.editedItem.lengthPerRoll = "";
        this.editedIndex = -1;
        this.editedItem.aluminiumFoilTypeId = 1089;
      },

      save () {
        if (this.profileID > 0) {
          if (this.editedItem.isPrinted == false) {
            this.editedItem.noOfColor = "";
          }
          this.editedItem.linkProfileReferenceNo = this.linkProfileReferenceNo;
          this.editedItem.masterProfileReferenceNo = this.masterProfileReferenceNo;
          this.editedItem.profileID = this.profileID;
          if (this.$refs.aluminiumFoilform.validate()) {
            this.loader = true;
            if (this.editedItem.aluminiumFoilId > 0) {
              this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
              this.editedItem.modifiedDate = new Date();

              updatePackagingAluminiumFoil(this.editedItem)
                .then(response => {
                  this.loader = false;
                  window.getApp.$emit(
                    "PACKAGE_ITEM_NAME",
                    response.data.packagingItemName
                  );
                  //this.$refs.refaluminiumFoilLine.enableAddButton = false;
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            } else {
              this.editedItem.addedByUserID = this.$store.state.auth.userId;
              this.editedItem.addedDate = new Date();
              this.loader = true;
              createPackagingAluminiumFoil(this.editedItem)
                .then(response => {
                  this.loader = false;
                  window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("CARTON_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("DIVIDER_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("NESTING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LABEL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LABEL_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  this.loader = false;
                  window.getApp.$emit(
                    "PACKAGING_ALUMINIMUM_FOIL_FOR_COST_DISABLE_ADD", response.data);
                  window.getApp.$emit(
                    "PACKAGE_ITEM_NAME",
                    response.data.packagingItemName
                  );
                  this.editedItem.aluminiumFoilId = response.data.aluminiumFoilId;
                  // this.$refs.refaluminiumFoilLine.enableAddButton = false;
                  // this.$refs.refaluminiumFoilLine.packagingAluminiumFoilId = this.editedItem.aluminiumFoilId;
                  // getPackagingAluminiumFoilLinesById(
                  //   this.editedItem.aluminiumFoilId
                  // )
                  //   .then(response1 => {
                  //     this.$refs.refaluminiumFoilLine.gridItems = response1.data;
                  //     this.loader = false;
                  //   })
                  //   .catch(error => {
                  //     window.getApp.$emit("APP_API_ERROR", error);
                  //   });
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }
          }
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      editItem (item) {
        this.editedItem = Object.assign({}, item);
        //this.$refs.refaluminiumFoilLine.enableAddButton = false;
        this.dialog = true;
        // this.$refs.refaluminiumFoilLine.packagingAluminiumFoilId = this.editedItem.aluminiumFoilId;
        // getPackagingAluminiumFoilLinesById(this.editedItem.aluminiumFoilId)
        //   .then(response => {
        //     this.$refs.refaluminiumFoilLine.gridItems = response.data;
        //     this.loader = false;
        //   })
        //   .catch(error => {
        //     window.getApp.$emit("APP_API_ERROR", error);
        //   });
      },
      close () {
        window.getApp.$emit("CLOSE_PACKAGING_ALUMINIMUM_FOIL_FOR_COST_DIALOG");
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 155px - 60px);
   }
</style> 