<template>
    <div>
        <v-card-title>
            <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <div class="task-sub--scroll">
            <app-section-loader :status="loader"></app-section-loader>
            <v-card-text>
                <v-form v-model="editedItem.valid" ref="packagingLabelform" lazy-validation>
                    <v-layout wrap>

                        <v-flex xs12 sm4>
                            <v-checkbox v-model="editedItem.isVersion" label="Version Control" primary hide-details></v-checkbox>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-text-field v-model="editedItem.noOfColor" label="No of Color" prepend-icon="invert_colors"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-autocomplete label="Pantone Color" prepend-icon="invert_colors" v-model="editedItem.pantoneColorId" :items="pantoneColorItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-autocomplete label="Color value" prepend-icon="invert_colors" v-model="editedItem.colorId" :items="colorValueItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-autocomplete label="Lettering" prepend-icon="local_post_office" v-model="editedItem.letteringId" :items="letteringItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-autocomplete label="Background Pantone Color" prepend-icon="description" v-model="editedItem.bgPantoneColorId" :items="backgroundPantoneColorItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-autocomplete label="Background Color Value" prepend-icon="description" v-model="editedItem.bgColorId" :items="backgroundColorValueItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-text-field v-model="editedItem.sizeLength" label="Size (L)/MM" prepend-icon="description"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-text-field v-model="editedItem.sizeWidth" label="Size (W)/MM" prepend-icon="description"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-autocomplete label="Packaging Material" prepend-icon="description" v-model="editedItem.packagingMaterialId" :items="packagingMaterialItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm4>
                            <v-autocomplete label="Packing for Packaging Item" prepend-icon="description" v-model="editedItem.packagingItemId" :items="packingforPackagingItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm4>
                            <v-autocomplete label="Packing Unit for Item card" prepend-icon="description" v-model="editedItem.packagingUnitId" :items="packingUnitforItemcardItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                        </v-flex>

                        <!-- <v-flex xs12 sm6 md4>
                            <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions"></v-autocomplete>
                        </v-flex> -->
                    </v-layout>
                </v-form>
            </v-card-text>
        </div>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
        </v-card-actions>

    </div>
</template>
<script>
    import GlobalMessage from "@/constant";
    import moment from "moment";
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import {
        getPackagingLabel,
        getPackagingLabels,
        createPackagingLabel,
        updatePackagingLabel,
        deletePackagingLabel
    } from "@/api/packagingLabel";
    export default {
        props: ["props"],
        data: () => ({
            enableAddButton: true,
            snackbar: false,
            snackbarMessage: '',
            timeout: 2000,
            y: 'top',
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10
            },
            searchItem: { action: "", Id: null, searchString: "searchString" },
            dialog: false,
            search: "",
            editedIndex: -1,
            gridItems: [],
            statusOptions: [
                { text: "Active", value: 1 },
                { text: "InActive", value: 2 }
            ],
            pantoneColorItems: [],
            colorValueItems: [],
            loader: false,
            letteringItems: [],
            backgroundPantoneColorItems: [],
            backgroundColorValueItems: [],
            packagingMaterialItems: [],
            packingforPackagingItems: [],
            packingUnitforItemcardItems: [],
            linkProfileReferenceNo: "",
            masterProfileReferenceNo: "",
            profileID: null,
            editedItem: {
                valid: false,
                noOfColor: null,
                isVersion: false,
                packagingLabelId: -1,
                pantoneColorId: null,
                colorId: null,
                letteringId: null,
                bgPantoneColorId: null,
                bgColorId: null,
                sizeLength: null,
                sizeWidth: null,
                packagingMaterialId: null,
                labelTypeID: 1080,
                packagingItemId: null,
                packagingUnitId: null,
                addedByUserID: null,
                modifiedByUserID: null,
                addedDate: new Date(),
                modifiedDate: new Date(),
                statusCodeID: 1,
                statusCode: "Active",
                linkProfileReferenceNo: "",
                masterProfileReferenceNo: "",
                profileID: null,
            },
            defaultItem: {
                valid: false,
                noOfColor: null,
                packagingLabelId: -1,
                isVersion: false,
                pantoneColorId: null,
                colorId: null,
                letteringId: null,
                bgPantoneColorId: null,
                bgColorId: null,
                sizeLength: null,
                sizeWidth: null,
                packagingMaterialId: null,
                labelTypeID: 1080,
                packagingItemId: null,
                packagingUnitId: null,
                statusCodeID: -1,
                addedByUserID: null,
                modifiedByUserID: null,
                addedDate: new Date(),
                modifiedDate: new Date(),

                statusCodeID: 1,
                statusCode: "Active",
                linkProfileReferenceNo: "",
                masterProfileReferenceNo: "",
                profileID: null,
            },
            searchItem: { action: "", Id: null, searchString: "searchString" }
        }),

        computed: {
            formTitle () {
                return this.editedItem.packagingLabelId > 0
                    ? "Edit Packaging Label"
                    : "Add Packaging Label";
            }
        },

        created () {
            this.initialize();
        },

        methods: {
            initialize () {
            },
            loadDropdownList () {
                this.loader = true;
                getApplicationMasterDetailByType(195)
                    .then(response => {

                        this.pantoneColorItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(116)
                    .then(response => {
                        this.colorValueItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(197)
                    .then(response => {
                        this.letteringItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(198)
                    .then(response => {
                        this.backgroundPantoneColorItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(199)
                    .then(response => {
                        this.backgroundColorValueItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(200)
                    .then(response => {
                        this.packagingMaterialItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(201)
                    .then(response => {
                        this.packingUnitforItemcardItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(213)
                    .then(response => {
                        this.packingforPackagingItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            add () {
                this.loadDropdownList();
                this.editedIndex = -1;
                this.editedItem.valid = false;
                this.editedItem.noOfColor = null;
                this.editItem.isVersion = false;
                this.editedItem.packagingLabelId = -1;
                this.editedItem.pantoneColorId = null;
                this.editedItem.colorId = null;
                this.editedItem.letteringId = null;
                this.editedItem.bgPantoneColorId = null;
                this.editedItem.labelTypeID = 1080,
                    this.editedItem.bgColorId = null;
                this.editedItem.sizeLength = null;
                this.editedItem.sizeWidth = null;
                this.editedItem.packagingMaterialId = null;
                this.editedItem.packagingItemId = null;
                this.editedItem.packagingUnitId = null;
                this.editedItem.addedByUserID = null;
                this.editedItem.modifiedByUserID = null;
                this.editedItem.addedDate = new Date();
                this.editedItem.modifiedDate = new Date();
                this.editedItem.statusCodeID = 1;
            },
            save () {
                if (this.profileID > 0) {
                    this.editedItem.linkProfileReferenceNo = this.linkProfileReferenceNo;
                    this.editedItem.masterProfileReferenceNo = this.masterProfileReferenceNo;
                    this.editedItem.profileID = this.profileID;
                    if (this.$refs.packagingLabelform.validate()) {
                        this.loader = true;
                        if (this.editedItem.packagingLabelId > 0) {
                            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                            this.editedItem.modifiedDate = new Date();

                            updatePackagingLabel(this.editedItem)
                                .then(response => {
                                    this.loader = false;
                                    window.getApp.$emit("PACKAGE_ITEM_NAME", response.data.packagingItemName);
                                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                                    this.initialize();
                                })
                                .catch(error => {
                                    this.loader = false;
                                    window.getApp.$emit("APP_API_ERROR", error);
                                });
                        } else {
                            this.editedItem.addedByUserID = this.$store.state.auth.userId;
                            this.editedItem.addedDate = new Date();
                            this.loader = true;
                            createPackagingLabel(this.editedItem)
                                .then(response => {

                                    window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("BOTTLE_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("CARTON_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("DIVIDER_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("NESTING_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_LABEL_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
                                        state: "EDIT",
                                        masterReferenceNo: response.data.masterProfileReferenceNo,
                                    });
                                    this.loader = false;
                                    this.editedItem.packagingLabelId = response.data.packagingLabelId;
                                    window.getApp.$emit("PACKAGING_LABEL_DISABLE_ADD", response.data);
                                    window.getApp.$emit("PACKAGE_ITEM_NAME", response.data.packagingItemName);
                                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                                    this.initialize();
                                })
                                .catch(error => {
                                    this.loader = false;
                                    window.getApp.$emit("APP_API_ERROR", error);
                                });
                        }
                    }
                }
                else {
                    window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
                }
            },
            editItem (item) {
                this.loadDropdownList();
                this.editedItem = Object.assign({}, item);
                this.editedItem.valid = false;
            },
            close () {
                window.getApp.$emit("CLOSE_PACKAGING_LABEL_DIALOG");
            },
        }
    };
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 155px - 60px);
     }
</style> 