<template>
  <div>

    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
    <div class="task-sub--scroll">
      <app-section-loader :status="loader"></app-section-loader>
      <v-card-text>
        <v-form v-model="editedItem.valid" ref="pvcFoilform" lazy-validation>

          <v-layout wrap>
            <v-flex xs12 sm4>
              <v-checkbox v-model="editedItem.isVersion" label="Version Control" primary hide-details></v-checkbox>
            </v-flex>
            <v-flex xs12 sm4>
              <v-autocomplete label="Blister type" prepend-icon="description" multiple v-model="editedItem.pvcFoilBlisterTypeIds" chips :items="pvcFoilBlisterTypeItems" :hide-selected="true" :search-input.sync="searchBlister" @change="onSearchBlister" item-text="value" item-value="applicationMasterDetailId">
                <template slot="selection" slot-scope="data">
                  <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeBlister(data.item)">

                    {{ data.item.value }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                  </template>
                  <template v-else>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.value"></v-list-tile-title>
                    </v-list-tile-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-flex>
            <!--  <v-flex xs12 sm4>
                <v-autocomplete label="PVC type" prepend-icon="description" v-model="editedItem.pvcTypeId" :items="pvcTypeItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
              </v-flex> -->
            <v-flex xs12 sm4>

              <v-text-field v-model="editedItem.foilThickness" label="Foil Thickness/mm" prepend-icon="description" suffix="mm" mask="############"></v-text-field>

            </v-flex>

            <v-flex xs12 sm4>
              <v-text-field v-model="editedItem.foilWidth" label="FoilWidth /mm" prepend-icon="description" suffix="mm" mask="############"></v-text-field>
            </v-flex>

            <!--  <v-flex xs12 sm4>
              <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions"></v-autocomplete>
            </v-flex> -->
          </v-layout>

        </v-form>
      </v-card-text>
    </div>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
      <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
    </v-card-actions>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import {
    getPackagingPvcFoilsByRefNo,
    getPackagingPvcFoil,
    getPackagingPvcFoils,
    createPackagingPvcFoil,
    updatePackagingPvcFoil,
    deletePackagingPvcFoil
  } from "@/api/packagingPvcFoil";
  export default {
    props: ["props"],
    data: () => ({
      enableAddButton: true,
      snackbar: false,
      snackbarMessage: '',
      timeout: 2000,
      y: 'top',
      searchBlister: '',
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      pvcFoilBlisterTypeItems: [],
      searchItem: { action: "", Id: null, searchString: "searchString" },
      dialog: false,
      search: "",
      loader: false,
      editedIndex: -1,
      gridItems: [],
      pvcTypeItems: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      editedItem: {
        valid: false,
        pvcFoilId: -1,
        pvcTypeId: null,
        foilThickness: 0,
        foilWidth: 0,
        isVersion: false,
        statusCodeID: 1,
        editedIndex: -1,
        statusCodeID: 1,
        statusCode: "Active",
        addedByUserID: null,
        addedDate: new Date(),
        modifiedByUserID: null,
        modifiedDate: new Date(),
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        pvcFoilBlisterTypeIds: [],
        pvcFoilTypeId: 1091,
      },
      defaultItem: {
        valid: false,

        pvcFoilId: -1,
        pvcTypeId: null,
        foilThickness: 0,
        foilWidth: 0,
        isVersion: false,
        statusCodeID: 1,
        editedIndex: -1,
        statusCodeID: 1,
        statusCode: "Active",
        addedByUserID: null,
        addedDate: new Date(),
        modifiedByUserID: null,
        modifiedDate: new Date(),
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        pvcFoilBlisterTypeIds: [],
        pvcFoilTypeId: 1091,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),

    computed: {
      formTitle () {
        return this.editedItem.pvcFoilId > 0
          ? "Edit PVC Foil"
          : "Add PVC Foil";
      }
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () {
      },
      loadDropdownList () {
        this.loader = true;

        getApplicationMasterDetailByType(209)
          .then(response => {
            this.pvcFoilBlisterTypeItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onSearchBlister () {
        this.searchBlister = "";
      },
      removeBlister (item) {
        const index = this.editedItem.pvcFoilBlisterTypeIds.indexOf(item.applicationMasterDetailId);
        if (index >= 0) {
          this.editedItem.pvcFoilBlisterTypeIds.splice(index, 1);
        }
      },
      add () {
        this.loadDropdownList();
        this.editedItem.pvcFoilId = -1;
        this.editedItem.pvcTypeId = null;
        this.editedItem.foilThickness = 0;
        this.editedItem.isVersion = false;
        this.editedItem.foilWidth = 0;
        this.editedItem.statusCodeID = 1;
        this.editedItem.pvcFoilBlisterTypeIds = [];
        this.editedItem.pvcFoilTypeId = 1091;
        this.editedIndex = -1;
      },
      save () {
        if (this.profileID > 0) {
          this.editedItem.linkProfileReferenceNo = this.linkProfileReferenceNo;
          this.editedItem.masterProfileReferenceNo = this.masterProfileReferenceNo;
          this.editedItem.profileID = this.profileID;
          if (this.$refs.pvcFoilform.validate()) {
            this.loader = true;
            if (this.editedItem.pvcFoilId > 0) {
              this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
              this.editedItem.modifiedDate = new Date();
              updatePackagingPvcFoil(this.editedItem)
                .then(response => {
                  this.loader = false;
                  window.getApp.$emit("PACKAGE_ITEM_NAME", response.data.packagingItemName);
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            } else {
              this.editedItem.addedByUserID = this.$store.state.auth.userId;
              this.editedItem.addedDate = new Date();
              createPackagingPvcFoil(this.editedItem)
                .then(response => {
                  window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("BOTTLE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("CARTON_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("DIVIDER_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("NESTING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("PACKAGING_LABEL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo,
                  });
                  this.loader = false;
                  this.editedItem.pvcFoilId = response.data.pvcFoilId;
                  window.getApp.$emit("PACKAGE_ITEM_NAME", response.data.packagingItemName);
                  window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_DISABLE_ADD", response.data);
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }
          }
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      editItem (item) {
        this.loadDropdownList();
        this.editedItem = Object.assign({}, item);
      },
      close () {
        window.getApp.$emit("CLOSE_PACKAGING_PVCFOIL_FOR_COST_DIALOG");
      },
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 155px - 60px);
   }
</style>   