<template>
  <div>
    <v-card-title>
      <span class="headline">{{ formTitle }}</span>
    </v-card-title>
    <div class="task-sub--scroll">
      <app-section-loader :status="loader"></app-section-loader>
      <v-card-text>
        <v-form v-model="editedItem.valid" ref="unitBoxform" lazy-validation>
          <v-layout wrap>
            <v-flex xs12 sm4>
              <v-checkbox color="primary" v-model="editedItem.isPrinted" label="Is Printed"></v-checkbox>
            </v-flex>

            <v-flex xs12 sm4>
              <v-checkbox v-model="editedItem.isVersion" label="Version Control" primary hide-details></v-checkbox>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field v-model="editedItem.sizeLength" label="Length/mm" prepend-icon="description" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs12 sm4>
              <v-text-field v-model="editedItem.sizeWidth" label="Width/mm" prepend-icon="description" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field v-model="editedItem.sizeHeight" label="Height/mm" prepend-icon="description" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <v-autocomplete chips label="Background Pantone Color" prepend-icon="description" v-model="editedItem.bgPantoneColorId" :items="backgroundPantoneColorItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <v-text-field v-model="editedItem.grammage" label="Grammage/mm" prepend-icon="description" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <div>Finishing</div>
              <v-radio-group prepend-icon="done_outline" v-model="editedItem.finishingId" row>
                <v-radio v-for="n in finishingItems" :key="n.codeID" :label="`${n.codeValue}`" :value="n.codeID"></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <v-autocomplete chips label="Background Color Value" prepend-icon="description" v-model="editedItem.bgColorId" :items="backgroundColorValueItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>

            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <v-autocomplete chips label="Pantone Color" prepend-icon="description" v-model="editedItem.pantoneColorId" :items="pantoneColorItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <v-autocomplete chips label="Color value" prepend-icon="description" v-model="editedItem.colorId" :items="colorValueItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <v-text-field v-model="editedItem.noOfColor" label="No of Color" prepend-icon="description"></v-text-field>
            </v-flex>

            <v-flex xs12 sm4 v-if="editedItem.isPrinted">
              <v-autocomplete chips label="Lettering" prepend-icon="description" v-model="editedItem.letteringId" :items="letteringItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>

            <v-flex xs12 sm4>
              <v-autocomplete chips label="Packaging Material" prepend-icon="description" v-model="editedItem.packagingMaterialId" :items="packagingMaterialItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm4>
              <v-autocomplete chips label="Packing for Packaging Item" prepend-icon="description" v-model="editedItem.packagingItemId" :items="packingforPackagingItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>

            <v-flex xs12 sm4>
              <v-autocomplete chips label="Packing Unit for Item card" prepend-icon="description" v-model="editedItem.packingUnitId" :items="packingUnitforItemcardItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
            </v-flex>

            <v-flex xs12 sm4>
              <v-autocomplete chips label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions"></v-autocomplete>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
    </div>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
      <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
    </v-card-actions>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import {
    getPackagingUnitBoxByRefNo,
    getPackagingUnitBox,
    getPackagingUnitBoxs,
    createPackagingUnitBox,
    updatePackagingUnitBox,
    deletePackagingUnitBox
  } from "@/api/packagingUnitBox";
  export default {
    data: () => ({
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      dialog: false,
      search: "",
      loader: false,
      editedIndex: -1,
      gridItems: [],
      pantoneColorItems: [],
      colorValueItems: [],
      letteringItems: [],
      packagingMaterialItems: [],
      packingforPackagingItems: [],
      packingUnitforItemcardItems: [],
      backgroundPantoneColorItems: [],
      backgroundColorValueItems: [],
      finishingItems: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      editedItem: {
        unitBoxId: -1,
        valid: false,
        isVersion: false,
        isPrinted: false,
        noOfColor: "",
        pantoneColorId: null,
        colorId: null,
        letteringId: null,
        bgPantoneColorId: null,
        unitBoxTypeID: 1086,
        bgColorId: null,
        sizeLength: 0,
        sizeWidth: 0,
        sizeHeight: 0,
        packagingMaterialId: null,
        packagingItemId: null,
        packingUnitId: null,
        editedIndex: -1,
        addedByUserID: null,
        modifiedByUserID: null,
        addedDate: new Date(),
        modifiedDate: new Date(),
        statusCodeID: 1,
        statusCode: "Active",
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        finishingId: "",
        grammage: ""
      },
      defaultItem: {
        unitBoxId: -1,
        valid: false,
        isVersion: false,
        isPrinted: false,
        noOfColor: "",
        pantoneColorId: null,
        colorId: null,
        letteringId: null,
        bgPantoneColorId: null,
        unitBoxTypeID: 1086,
        bgColorId: null,
        sizeLength: 0,
        sizeWidth: 0,
        sizeHeight: 0,
        packagingMaterialId: null,
        packagingItemId: null,
        packingUnitId: null,
        editedIndex: -1,
        addedByUserID: null,
        modifiedByUserID: null,
        addedDate: new Date(),
        modifiedDate: new Date(),
        statusCodeID: 1,
        statusCode: "Active",
        linkProfileReferenceNo: "",
        masterProfileReferenceNo: "",
        profileID: null,
        finishingId: "",
        grammage: ""
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),

    computed: {
      formTitle () {
        return this.editedItem.unitBoxId > 0
          ? "Edit Packaging Unit Box"
          : "Add Packaging unit Box";
      }
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () { },
      loadDropdownList () {
        this.loader = true;
        getApplicationMasterDetailByType(195)
          .then(response => {
            this.pantoneColorItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(116)
          .then(response => {
            this.colorValueItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(197)
          .then(response => {
            this.letteringItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(200)
          .then(response => {
            this.packagingMaterialItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(198)
          .then(response => {
            this.backgroundPantoneColorItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(199)
          .then(response => {
            this.backgroundColorValueItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(201)
          .then(response => {
            this.packingforPackagingItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(202)
          .then(response => {
            this.packingUnitforItemcardItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCodeMasterByType("Finishing Status")
          .then(response => {
            this.finishingItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      add () {
        this.loadDropdownList();
        this.editedItem.unitBoxId = -1;
        this.editedItem.sizeWidth = "";
        this.editedItem.isVersion = false,
          this.editedItem.sizeLength = "";
        this.editedItem.sizeHeight = "";
        this.editedItem.bgPantoneColorId = null;
        this.editedItem.bgColorId = null;
        this.editedItem.noOfColor = "";
        this.editedItem.colorId = null;
        this.editedItem.pantoneColorId = null;
        this.editedItem.letteringId = null;
        this.editedItem.isPrinted = false;
        (this.editedItem.unitBoxTypeID = 1086), (this.editedItem.diameter = "");
        this.editedItem.packagingItemId = null;
        this.editedItem.packagingMaterialId = null;
        this.editedItem.packingUnitId = null;
        this.editedItem.statusCodeID = 1;
        this.editedItem.finishingId = "";
        this.editedItem.grammage = "";
        this.editedIndex = -1;
      },
      save () {
        if (this.profileID > 0) {
          if (this.editedItem.isPrinted == false) {
            this.editedItem.noOfColor = "";
          }
          this.editedItem.linkProfileReferenceNo = this.linkProfileReferenceNo;
          this.editedItem.masterProfileReferenceNo = this.masterProfileReferenceNo;
          this.editedItem.profileID = this.profileID;
          if (this.$refs.unitBoxform.validate()) {
            this.loader = true;
            if (this.editedItem.unitBoxId > 0) {
              this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
              this.editedItem.modifiedDate = new Date();

              updatePackagingUnitBox(this.editedItem)
                .then(response => {
                  this.loader = false;
                  window.getApp.$emit(
                    "PACKAGE_ITEM_NAME",
                    response.data.packagingItemName
                  );
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            } else {
              this.editedItem.addedByUserID = this.$store.state.auth.userId;
              this.editedItem.addedDate = new Date();
              createPackagingUnitBox(this.editedItem)
                .then(response => {
                  window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("CARTON_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("DIVIDER_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("NESTING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LABEL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });

                  window.getApp.$emit("PACKAGING_LABEL_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit(
                    "PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD",
                    {
                      state: "EDIT",
                      masterReferenceNo: response.data.masterProfileReferenceNo
                    }
                  );
                  window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
                    state: "EDIT",
                    masterReferenceNo: response.data.masterProfileReferenceNo
                  });
                  this.loader = false;
                  this.editedItem.unitBoxId = response.data.unitBoxId;
                  window.getApp.$emit("PACKAGING_UNITBOX_DISABLE_ADD", response.data);
                  window.getApp.$emit(
                    "PACKAGE_ITEM_NAME",
                    response.data.packagingItemName
                  );
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }
          }
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      editItem (item) {
        this.loadDropdownList();
        this.editedItem = Object.assign({}, item);
      },
      close () {
        window.getApp.$emit("CLOSE_PACKAGING_UNITBOX_DIALOG");
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 155px - 60px);
   }
</style>  