<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon @click="initialize">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn slot="activator" icon @click.native="add()" :disabled="enableAddButton" v-show="checkClassificationPermission(297)">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowAdd">
              <v-btn icon slot="activator" @click.native="add" v-show="checkClassificationPermission(297)">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowSave">
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>
          <v-tabs v-if="list.length>0" v-model="active" color="primary" dark slider-color="yellow">
            <v-tab v-for="(item,i) in list" :key="i" ripple @click="tabAsFirst(i,item)">{{ item.formName }}</v-tab>
            <v-tab-item v-for="(item,i) in list" :key="i">
              <v-card flat>
                <keep-alive>
                  <component :ref="item.moduleName" :is="item.moduleName" :props="item"></component>
                </keep-alive>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="unitBoxId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.isVersion">done</v-icon>

            <v-icon color="red" small v-if="props.item.isVersion == false">close</v-icon>
          </td>
          <td class="text-xs-left">{{ props.item.noOfColor}}</td>
          <td class="text-xs-left">{{ props.item.sizeLength}}</td>
          <td class="text-xs-left">{{ props.item.sizeWidth}}</td>
          <td class="text-xs-left">{{ props.item.sizeHeight }}</td>

          <td class="text-xs-left">{{ props.item.grammage}}</td>
          <td class="text-xs-left">{{ props.item.finishingName}}</td>
          <td class="text-xs-left">{{ props.item.packagingMaterial }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(298)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(299)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import dynamicComponents from "@/pages/itemClassificationForm/components";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { isClassificationPermission } from "@/api/checkPermission";
  import {
    getPackagingUnitBoxByRefNo,
    getPackagingUnitBox,
    getPackagingUnitBoxs,
    createPackagingUnitBox,
    updatePackagingUnitBox,
    deletePackagingUnitBox
  } from "@/api/packagingUnitBox";
  export default {
    props: ["props"],
    data: () => ({
      active: null,
      items: [],
      collection: [],
      list: [],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      materialComponent: {
        formName: "Packaging UnitBox",
        moduleName: "PackagingUnitBoxForCostForm",
        path: "./Dynamic/PackagingUnitBoxForCostForm.vue"
      },
      hideShowAdd: true,
      hideShowSave: true,
      enableAddButton: true,
      headers: [
        { text: "Version Control", value: "isVersion", align: "left" },
        { text: "No of color", value: "noOfColor", align: "left" },
        { text: "Size(L)", value: "sizeLength", align: "left" },
        { text: "Size(W)", value: "sizeWidth", align: "left" },
        { text: "Size(H)", value: "sizeHeight", align: "left" },

        { text: "Grammage", value: "grammage", align: "left" },
        { text: "Finishing", value: "finishingName", align: "left" },
        { text: "Packaging Material", value: "packagingMaterial", align: "left" },



        { text: "Action", value: "Action", align: "left" }
      ],
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      dialog: false,
      search: "",
      loader: false,
      editedIndex: -1,
      gridItems: [],
      pantoneColorItems: [],
      colorValueItems: [],
      letteringItems: [],
      packagingMaterialItems: [],
      packingforPackagingItems: [],
      packingUnitforItemcardItems: [],
      backgroundPantoneColorItems: [],
      backgroundColorValueItems: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      refSearchParam: { isHeader: false, profileReferenceNo: "", typeID: 1087 },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),

    computed: {},
    created () {
      if (this.$route.query.profileReferenceNo != null) {
        this.enableAddButton = false;
      }
      window.getApp.$on("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", item => {
        if (item.state == "ADD" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = true;
        } else if (item.state == "EDIT" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = false;
          this.masterProfileReferenceNo = item.masterReferenceNo;
          this.refSearchParam.isHeader =
            item.classificationLinkType == "Header" ? true : false;
          if (this.refSearchParam.isHeader) {
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          } else {
            this.refSearchParam.profileReferenceNo = this.masterProfileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loader = true;
            getPackagingUnitBoxByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      });
      window.getApp.$on("CLOSE_PACKAGING_UNITBOX_FOR_COST_DIALOG", () => {
        this.close();
      });
      window.getApp.$on("PACKAGING_UNITBOX_FOR_COST_DISABLE_ADD", items => {
        this.gridItems.push(items);
        this.hideShowAdd = false;
      });
      this.initialize();
    },
    beforeDestroy () {
      window.getApp.$off("PACKAGING_UNITBOX_FOR_COST_DISABLE_ADD");
      window.getApp.$off("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD");
      window.getApp.$off("CLOSE_PACKAGING_UNITBOX_FOR_COST_DIALOG");
    },

    methods: {
      initialize () {
        this.list = [];
        this.collection = dynamicComponents.initializeComponents();
        this.list.push(this.materialComponent);
        if (this.props.applicationFormSubModelList != undefined) {
          if (this.props.applicationFormSubModelList.length > 0) {
            this.props.applicationFormSubModelList.forEach(item => {
              if (this.collection.indexOf(item.moduleName) !== -1) {
                this.list.push(item);
              }
            });
          }
        }

        if (this.props != undefined) {
          if (this.refSearchParam.profileReferenceNo == "") {
            this.refSearchParam.isHeader = true;
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loader = true;
            getPackagingUnitBoxByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      save () {
        this.$refs.PackagingUnitBoxForCostForm[0].save();
      },
      tabAsFirst (i, item) {
        this.hideShowAdd = false;
        this.hideShowSave = false;
        if (i == 0) {
          this.hideShowSave = true;
          this.hideShowAdd = true;
          if (this.gridItems.length > 0) {
            this.hideShowAdd = false;
          }
        }
      },
      add () {
        if (this.props.profileID > 0) {
          this.hideShowAdd = true;
          if (this.gridItems.length > 0) {
            this.hideShowAdd = false;
          }
          this.$refs.PackagingUnitBoxForCostForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.PackagingUnitBoxForCostForm[0].profileID = this.props.profileID;
          this.$refs.PackagingUnitBoxForCostForm[0].add();
          this.$refs.PackagingUnitBoxForCostForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLE_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CARTON_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("DIVIDER_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("NESTING_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_TUBE_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABLE_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_TUBE_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABLE_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      editItem (item) {
        if (this.props.profileID > 0) {
          this.hideShowAdd = true;
          if (this.gridItems.length > 0) {
            this.hideShowAdd = false;
          }
          this.$refs.PackagingUnitBoxForCostForm[0].add();
          this.$refs.PackagingUnitBoxForCostForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.PackagingUnitBoxForCostForm[0].profileID = this.props.profileID;
          this.$refs.PackagingUnitBoxForCostForm[0].editedItem = item;
          this.$refs.PackagingUnitBoxForCostForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          window.getApp.$emit("SHRINKWARP_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLE_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CAPSEAL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLECAP_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("BOTTLEINSERT_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("CARTON_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("DIVIDER_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("LAYERPAD_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("NESTING_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABLE_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LEAFLET_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_PVCFOIL_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_LABLE_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_ALUMINIMUM_FOIL_FOR_COST_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("PACKAGING_UNITBOX_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType
          });
          setTimeout(() => {
            this.dialog = true;
          }, 500);
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      close () {
        this.dialog = false;
        this.initialize();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.unitBoxId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deletePackagingUnitBox(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.initialize();
              this.enableAddButton = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    }
  };
</script>
<style>
</style>   