<template>
  <div id="page-forms">
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon @click="initialize">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn slot="activator" icon @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Add New</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn slot="activator" icon @click.native="formDeleteItem">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>

            <v-menu bottom right>
              <v-btn slot="activator" icon v-show="isEdit">
                <v-icon color="white">more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in menuitems"
                  :key="i"
                  @click="menuClick()"
                  ripple="ripple"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <div class="task-sub--scroll">
            <v-card-text>
              <v-tabs color="primary" dark slider-color="yellow" v-model="selectedTab">
                <v-tabs-slider color="primary"></v-tabs-slider>
                <v-tab key="tab1">
                  <v-icon>tune</v-icon>
                </v-tab>
                <v-tab key="tab2">
                  <v-icon>message</v-icon>
                </v-tab>

                <v-tabs-items>
                  <v-tab-item key="tab1">
                    <v-card flat>
                      <v-card-text>
                        <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                          <v-card-title>
                            <span class="headline">{{ formTitle1 }}</span>
                          </v-card-title>
                          <v-layout wrap>
                            <v-flex xs12 sm4>
                              <v-autocomplete
                                :loading="loader"
                                chips
                                flat
                                placeholder="Manufacturing Site"
                                prepend-icon="assistant"
                                :items="manufacturingSiteItems"
                                v-model="editedItem.manufacturingSiteIDs"
                                label="Manufacturing Site"
                                color="blue"
                                multiple
                                item-text="value"
                                item-value="applicationMasterDetailId"
                              ></v-autocomplete>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-text-field
                                v-model="editedItem.refNo"
                                label="NO"
                                prepend-icon="description"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-autocomplete
                                chips
                                flat
                                prepend-icon="assistant"
                                :items="operationNameItems"
                                v-model="editedItem.icMasterOperationID"
                                item-text="masterOperation"
                                item-value="icMasterOperationID"
                                label="Operation Name"
                              ></v-autocomplete>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-autocomplete
                                chips
                                flat
                                prepend-icon="assistant"
                                :items="locationItems"
                                v-model="editedItem.locationID"
                                label="Location"
                               item-text="locationDropDown" item-value="ictMasterID"
                                @change="selectLocation"
                              ></v-autocomplete>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-text-field
                                v-model="site"
                                label="Site"
                                prepend-icon="description"
                                :disabled="true"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-text-field
                                v-model="zone"
                                label="Zone"
                                prepend-icon="description"
                                :disabled="true"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-text-field
                                v-model="area"
                                label="Area"
                                prepend-icon="description"
                                :disabled="true"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-autocomplete
                                chips
                                flat
                                prepend-icon="assistant"
                                :items="machineItems"
                                v-model="editedItem.machineID"
                                item-text="nameOfTheMachine"
                                item-value="commonFieldsProductionMachineId"
                                label="Machine"
                              ></v-autocomplete>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-text-field
                                v-model="editedItem.manPower"
                                label="Manpower"
                                prepend-icon="description"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-text-field
                                v-model="editedItem.hoursMinutes"
                                label="Man hours/Minutes"
                                prepend-icon="clock"
                              ></v-text-field>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>

                  <v-tab-item key="tab2">
                    <v-card flat>
                      <v-card-text>
                        <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                          <v-card-title>
                            <span class="headline">{{ formTitle2 }}</span>
                          </v-card-title>
                          <v-layout wrap>
                            <v-flex xs4 sm4>
                              <v-checkbox
                                color="primary"
                                v-model="editedItem.isEachNewDay"
                                label="Each New Day"
                              ></v-checkbox>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-checkbox
                                color="primary"
                                v-model="editedItem.isEndOfTheDay"
                                label="End Of The Day"
                              ></v-checkbox>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-checkbox
                                color="primary"
                                v-model="editedItem.isNewBatch"
                                label="New Batch"
                              ></v-checkbox>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-checkbox
                                color="primary"
                                v-model="editedItem.isNewSubLot"
                                label="New Sub-Lot"
                              ></v-checkbox>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-text-field
                                v-model="editedItem.idlingForXDays"
                                label="Ldling For X Days"
                                prepend-icon="description"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-text-field
                                v-model="editedItem.idlingForXhours"
                                label="Ldling For X Hours"
                                prepend-icon="description"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-text-field
                                v-model="editedItem.campaignByXBatches"
                                label="Campaign by X batches"
                                prepend-icon="description"
                              ></v-text-field>
                            </v-flex>

                            <v-flex xs4 sm4>
                              <v-checkbox
                                color="primary"
                                v-model="editedItem.changeShift"
                                label="Change Shift"
                              ></v-checkbox>
                            </v-flex>

                            <v-flex xs12 sm6 md4>
                              <v-autocomplete
                                label="Status"
                                prepend-icon="notes"
                                v-model="editedItem.statusCodeID"
                                :items="statusOptions"
                              ></v-autocomplete>
                            </v-flex>
                          </v-layout>
                        </v-form>
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-tabs>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>

    <app-section-loader></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="manufacturingSite:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        
        <td class="text-xs-left">{{ props.item.refNo }}</td>
        <td class="text-xs-left">{{ props.item.operationName }}</td>
        <td class="text-xs-left">{{ props.item.location }}</td>
       
        <td class="text-xs-left">{{ props.item.machine }}</td>
        <td class="text-xs-left">{{ props.item.manPower }}</td>
        <td class="text-xs-left">{{ props.item.hoursMinutes }}</td>
        <td class="text-xs-left">{{ props.item.statusCodeID ==1 ?"Active" :"InActive" }}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>         
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>

    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>


<script>
import GlobalMessage from "@/constant";
 import {
    getcommonFieldsProductionMachine,  
  } from "@/api/CommonFieldsProductionMachine";
import {
  getProductionMethodTemplates,
  getProductionMethodTemplate,
  createProductionMethodTemplate,
  updateProductionMethodTemplate,
  deleteProductionMethodTemplate,
  getProductionMethodTemplatesByRefNo
} from "@/api/productionMethodTemplate";
  import { getIcmasterOperation } from '@/api/icmasterOperation';
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import {  
    getICTMasterlocation,
  } from "@/api/CommonFieldsProductionMachine";

export default {
  components: {},
  data: () => ({
    search: "",
    dialog: false,
    loader: false,
    snackbar: false,
    snackbarMessage: "",
    selectedItem: null,
    isEdit: false,
    timeout: 2000,
    show: false,
    selectedTab: null,
    gridItems: [],
    statusOptions: [],
    editedIndex: -1,
    manufacturingSiteItems: [],
    operationNameItems: [],
    locationItems: [],
    machineItems: [],

    minDate: new Date().toISOString().substr(0, 10),
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },

    leaverowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      leaverowsPerPage: 10
    },
    leavepagination: {
      leaverowsPerPage: 10
    },
    site: "",
    zone: "",
    area: "",

    searchItem: { action: "", Id: null, searchString: "searchString" },

    headers: [
    
      { text: "No", value: "refNo", align: "left" },
      { text: "Operation Name", value: "operationName", align: "left" },
      { text: "Location", value: "location", align: "left" },
     
     
      { text: "Machine", value: "machine", align: "left" },
      { text: "Man Power", value: "manPower", align: "left" },
      { text: "Manhours", value: "hoursMinutes", align: "left" },
      { text: "Staus", value: "StatusCodeID", align: "left" },
      { text: "Actions", value: "actions", sortable: false, align: "left" }
    ],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 }
    ],

    editedItem: {
      valid: false,
      editedIndex: -1,
      manufacturingSiteIDs: [],
      productionMethodTemplateID: -1,
      refNo: "",
      icMasterOperationID: null,
      locationID: null,
      machineID: null,
      manPower: "",
      hoursMinutes: "",
      isEachNewDay: false,
      isEndOfTheDay: false,
      isNewBatch: false,
      isNewSubLot: false,
      idlingForXDays: 0,
      idlingForXhours:0,
      campaignByXBatches: 0,
      changeShift: false,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      manufacturingSiteIDs: [],
      productionMethodTemplateID: -1,
      icMasterOperationID: null,
      locationID: null,
      machineID: null,
      refNo: "",
      manPower: "",
      hoursMinutes: "",
      isEachNewDay: false,
      isEndOfTheDay: false,
      isNewBatch: false,
      isNewSubLot: false,
      idlingForXDays: 0,
      idlingForXhours:0,
      campaignByXBatches: 0,
      changeShift: false,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    height: {
      type: String,
      default: null
    },

    y: "top",

    menuitems: [
      {
        icon: "today",
        href: "#",
        title: "Populate Leave",
        click: e => {
          // this.download();
        }
      }
    ]
  }),

  computed: {
    formTitle1() {
      return this.editedIndex === -1 ? "Add Commmon" : "Edit Common";
    },
    formTitle2() {
      return this.editedIndex === -1
        ? "Add Additional Man Hours Requirement"
        : "Edit Add Additional Man Hours Requirement";
    },

    computeHeight() {
      return {
        height: this.height || ""
      };
    },
    saveKey() {
      return {
        // bind to hotkey
        "ctrl+s": this.save
      };
    }
  },

  created() {
    // window.getApp.$emit('INITIALIZE_TASK');

    this.initialize();
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
  },

  methods: {
    initialize() {
      this.loader = true;
      getProductionMethodTemplates("")
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
         getcommonFieldsProductionMachine()
          .then(response => {
            this.machineItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
           getIcmasterOperation('')
                    .then(response => {
                        this.operationNameItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
      getApplicationMasterDetailByType(115)
        .then(response => {
          this.loader = false;
          this.manufacturingSiteItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
         getICTMasterlocation('')
        .then(response => {
          this.loader = false;
          this.locationItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.editedItem = Object.assign({}, item);
      this.isEdit = true;
      this.dialog = true;
    },

    add() {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedItem.valid = false;
      this.editedItem.manufacturingSiteIDs = [];
      this.editedItem.no = "";
      this.editedItem.icMasterOperationID = null;
      this.editedItem.locationID = null;
      this.site = "";
      this.zone = "";
      this.area = "";
      this.editedItem.machineID = null;
      this.editedItem.manPower = "";
      this.editedItem.hoursMinutes = "";
      this.editedItem.isEndOfTheDay = false;
      this.editedItem.isEndOfTheDay = false;
      this.editedItem.isNewBatch = false;
      this.editedItem.isNewSubLot = false;
      this.editedItem.ldlingFoXDays = 0;
      this.editedItem.ldlingFoXHours = 0;
      this.editedItem.campaignByXBatches = 0;

      this.editedItem.changeShift = false;
      this.editedItem.statusCodeID = 1;
      this.editedIndex = -1;
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateProductionMethodTemplate(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createProductionMethodTemplate(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.productionMethodTemplateID =
                response.data.productionMethodTemplateID;
              let index = this.gridItems
                .map(item => item.productionMethodTemplateID)
                .indexOf(response.data.productionMethodTemplateID);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    editItem(item) {
      console.log("item" + JSON.stringify(item));
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.valid = false;

      this.dialog = true;
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    selectLocation() {

       if (this.editedItem.locationID > 0) {
        let location = this.locationItems.filter(
          d => d.ictMasterID == this.editedItem.locationID
        );
        if (location.length > 0) {
          this.site = location[0].site;
          this.zone = location[0].zone;
          this.area = location[0].area;
        }

       

        
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.productionMethodTemplateID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteProductionMethodTemplate(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.productionMethodTemplateID;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.productionMethodTemplateID;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.productionMethodTemplateID;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.productionMethodTemplateID;
      this.toolfunction();
    },
    toolfunction() {
      getProductionMethodTemplate(this.searchItem)
        .then(response => {
          if (response.data.productionMethodTemplateID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.productionMethodTemplateID)
              .indexOf(response.data.productionMethodTemplateID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      console.log(this.editedItem);
      deleteProductionMethodTemplate(this.editedItem)
        .then(() => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      // this.initialize();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
    }
  }
};
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 50px - 60px);
     }
</style>