<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="Production Coloor" type="csv" name="productionColor.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" :disabled="enableAddButton">
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog" :disabled="enableAddButton" v-show="checkClassificationPermission(442)">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowAdd" v-show="checkClassificationPermission(442)">
              <v-btn icon slot="activator" @click.native="addFormDialog">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowSave">
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-tabs v-if="list.length>0" v-model="active" color="primary" dark slider-color="yellow">
            <v-tab v-for="(item,i) in list" :key="i" ripple @click="tabAsFirst(i,item)">{{ item.formName }}</v-tab>
            <v-tab-item v-for="(item,i) in list" :key="i">
              <v-card flat>
                <keep-alive>
                  <component :ref="item.moduleName" :is="item.moduleName" :props="item"></component>
                </keep-alive>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="productionColorID:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr>
          <td class="text-xs-left">{{ props.item.specificationNo }}</td>
          <td class="text-xs-left">{{ props.item.materialName }}</td>
          <!--  <td class="text-xs-left">{{ props.item.color }}</td>
          <td class="text-xs-left">{{ props.item.colorIndexNumber }}</td>
          <td class="text-xs-left">{{ props.item.dyeContent }}</td>
          <td class="text-xs-left">{{ props.item.genericMasterName }}</td>
          <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td> -->
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(443)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(444)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import dynamicComponents from "@/pages/itemClassificationForm/components";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import ProductionColorLine from "@/pages/itemClassificationForm/Dynamic/ProductionColorLine";
  import { getData } from "@/api/paggedapi";
  import {
    getProductionColors,
    getProductionColorsByRefNo,
    deleteProductionColor
  } from "@/api/ProductionColor";
  import { isClassificationPermission } from "@/api/checkPermission";
  export default {
    components: {
      ProductionColorLine
    },
    props: ["props"],
    data: () => ({
      totalRows: 0,
      loading: false,
      enableAddButton: true,
      active: null,
      items: [],
      collection: [],
      list: [],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      materialComponent: {
        formName: "Production Color",
        moduleName: "ProductionColorForm",
        path: "./Dynamic/ProductionColorForm.vue"
      },
      hideShowAdd: true,
      hideShowSave: true,
      dialog: false,
      search: "",
      loader: false,
      gridItems: [],
      filterFields: [
        "MaterialName",
        "StatusCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName"
      ],
      headers: [
        { text: "Spec No ", value: "specificationNo", align: "left" },
        { text: "Spec Name", value: "materialName", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],
      json_fields: {
        Color: "color",
        "Color Index Number": "colorIndexNumber",
        "Dye Content": "dyeContent",
        "Generic Master Name": "genericMasterName",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate"
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      refSearchParam: { isHeader: false, profileReferenceNo: "" },
      colorSearch: {
        descending: false,
        searchString: "",
        userID: -1,
        pageCount: 1,
        pageSize: 10,
        methodName: "",
        sortCol: "AddedDate",
        sortBy: "DESC",
        masterTypeID: -1,
        classificationTypeId: null,
        classificationId: null,
        isHeader: false,
        profileReferenceNo: "",
        filterFields: [
        ],
      }
    }),
    created () {
      if (this.$route.query.profileReferenceNo != null) {
        this.enableAddButton = false;
      }
      window.getApp.$on("COLOR_ENABLE_ADD", item => {
        if (item.state == "ADD" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = true;
        } else if (item.state == "EDIT" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = false;
          this.masterProfileReferenceNo = item.masterReferenceNo;
          this.refSearchParam.isHeader =
            item.classificationLinkType == "Header" ? true : false;
          if (this.refSearchParam.isHeader) {
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          } else {
            this.refSearchParam.profileReferenceNo = this.masterProfileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loadPagingData();
            /*  this.loader = true;
             getProductionColorsByRefNo(this.refSearchParam)
               .then(response => {
                 this.gridItems = response.data;
                 this.loader = false;
               })
               .catch(error => {
                 window.getApp.$emit("APP_API_ERROR", error);
               }); */
          }
        }
      });
      this.initialize();
      window.getApp.$on("CLOSE_COLOR_DIALOG", () => {
        this.close();
      });
      /*  window.getApp.$on("INITIALIZE_BY_MASTER", item => {
              this.refSearchParam.isHeader = false;
              this.refSearchParam.profileReferenceNo = item;
              getProductionColorsByRefNo(this.refSearchParam)
                .then(response => {
                  this.gridItems = response.data;
                  this.loader = false;
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }); */
    },
    beforeDestroy () {
      window.getApp.$off("CLOSE_COLOR_DIALOG");
      window.getApp.$off("INITIALIZE_BY_MASTER");
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    computed: {
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    methods: {
      initialize () {
        this.list = [];
        this.collection = dynamicComponents.initializeComponents();
        this.list.push(this.materialComponent);
        if (this.props.applicationFormSubModelList != undefined) {
          if (this.props.applicationFormSubModelList.length > 0) {
            this.props.applicationFormSubModelList.forEach(item => {
              if (this.collection.indexOf(item.moduleName) !== -1) {
                this.list.push(item);
              }
            });
          }
        }

        if (this.props != undefined) {
          if (this.refSearchParam.profileReferenceNo == "") {
            this.refSearchParam.isHeader = true;
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loadPagingData();
            /* this.loader = true;
            getProductionColorsByRefNo(this.refSearchParam)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              }); */
          }
        }
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        this.colorSearch.pageSize = pageSize;
        this.colorSearch.userID = this.$store.state.auth.userId;
        this.loadPagingData();
      },
      loadPagingData () {
        this.colorSearch.filterFields = this.filterFields;
        this.colorSearch.descending = true;
        this.colorSearch.pageCount = 1;
        this.pagination.page = 1;
        this.colorSearch.sortCol = "ProductionColorID";
        this.colorSearch.sortBy = this.pagination.descending == true ? "desc" : "asc";
        this.colorSearch.searchString = this.search;
        this.colorSearch.userID = this.$store.state.auth.userId;
        this.colorSearch.methodName = "GetProductionColor";
        this.colorSearch.isHeader = this.refSearchParam.isHeader;
        this.colorSearch.profileReferenceNo = this.refSearchParam.profileReferenceNo;
        this.loading = true;
        getData(this.colorSearch)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        this.colorSearch.filterFields = this.filterFields;
        this.colorSearch.descending = true;
        this.colorSearch.pageCount = args.page;
        this.colorSearch.pageSize = args.rowsPerPage;
        this.colorSearch.userID = this.$store.state.auth.userId;
        this.colorSearch.isHeader = this.refSearchParam.isHeader;
        this.colorSearch.profileReferenceNo = this.refSearchParam.profileReferenceNo;
        if (args.sortBy == "specificationNo") {
          this.colorSearch.sortCol = "SpecNo";
        }
        else if (args.sortBy == "materialName") {
          this.colorSearch.sortCol = "MaterialName";
        } else if (args.sortBy == "statusCode") {
          this.colorSearch.sortCol = "StatusCode.CodeValue";
        }
        else if (args.sortBy == "addedByUser") {
          this.colorSearch.sortCol = "AddedByUser.UserName";
        }
        else {
          this.colorSearch.sortCol = args.sortBy;
        }
        this.colorSearch.sortBy = args.descending == true ? "desc" : "asc";
        this.colorSearch.searchString = this.search;
        this.colorSearch.methodName = "GetProductionColor";
        this.loading = true;
        getData(this.colorSearch)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      save () {
        this.$refs.ProductionColorForm[0].save();
      },
      tabAsFirst (i, item) {
        this.hideShowAdd = false;
        this.hideShowSave = false;
        if (i == 0) {
          this.hideShowAdd = true;
          this.hideShowSave = true;
        }
      },
      addFormDialog () {
        if (this.props.profileID > 0) {
          this.$refs.ProductionColorForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.ProductionColorForm[0].profileID = this.props.profileID;
          this.$refs.ProductionColorForm[0].add();
          this.$refs.ProductionColorForm[0].loadLines(true);
          this.$refs.ProductionColorForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          window.getApp.$emit("CAPSULE_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("FLAVOUR_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("MATERIAL_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("MACHINE_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          window.getApp.$emit("NAVISION_SPEC_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType
          });
          this.hideShowAdd = true;
          this.hideShowSave = true;
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      editItem (item) {
        if (this.props.profileID > 0) {
          this.dialog = true;
          this.$refs.ProductionColorForm[0].add();
          this.$refs.ProductionColorForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.ProductionColorForm[0].profileID = this.props.profileID;
          this.$refs.ProductionColorForm[0].editItem(item);
          this.$refs.ProductionColorForm[0].loadLines(false);
          this.$refs.ProductionColorForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          this.hideShowAdd = true;
          this.hideShowSave = true;
          window.getApp.$emit("CAPSULE_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo
          });
          window.getApp.$emit("FLAVOUR_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo
          });
          window.getApp.$emit("MATERIAL_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo
          });
          window.getApp.$emit("MACHINE_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo
          });
          window.getApp.$emit("GENERAL_NAMING_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo
          });
          window.getApp.$emit("NAVISION_SPEC_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo
          });
        }
        else {
          window.getApp.$emit("APP_API_ERROR", GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR);
        }
      },
      close () {
        this.dialog = false;
        this.initialize();
        this.loadPagingData();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.productionColorID > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteProductionColor(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.initialize();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    }
  };
</script>

