<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.psizeLength" label="Size(L) /mm" prepend-icon="description"></v-text-field>
      </v-flex>

      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.psizeWidth" label="Size(W) /mm" prepend-icon="description"></v-text-field>
      </v-flex>

      <v-flex xs12 sm4>
        <v-autocomplete label="Shape" prepend-icon="description" v-model="editedItem.pshapeId" :items="shapeItems" chips item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
      </v-flex>

      <v-flex xs12 sm4>
        <v-autocomplete label="Marking" prepend-icon="description" v-model="editedItem.pmarkingId" :items="markingItems" chips item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
      </v-flex>

      <v-flex lg4 sm4>
        <v-radio-group label="Marking On" v-model="editedItem.pmarkingOn" row>
          <v-radio color="primary" label="Upper" value="upper"></v-radio>
          <v-radio color="primary" label="Lower" value="lower"></v-radio>
        </v-radio-group>
      </v-flex>
      <v-flex xs12 sm12>
        <v-layout wrap>

          <v-flex xs12 sm12 class="backcolor">
            <v-flex xs12 sm12 class="backcolor">

              <span class="subheading" style="font-weight: bold;">Detail information at purchase</span>
            </v-flex>
            <v-flex xs12 sm12>
              <v-layout wrap>
                <v-flex xs12 sm4>
                  <v-menu ref="submissionDatedue" v-model="submissionDatedue" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                    <v-text-field slot="activator" :value="purchaseDateFormated" label="Date Of Purchase" prepend-icon="event" clearable @click:clear="clearablePurchaseDate" readonly></v-text-field>
                    <v-date-picker v-model="editedItem.purchaseDate" @change="submissionDatedue = false">

                    </v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-autocomplete label="Manufacturer" prepend-icon="description" v-model="editedItem.pinterCompanyShareId" :items="interCompanyshareItems" item-text="companyListingName" item-value="companyListingID" chips></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field v-model="editedItem.seriesno" label="Series no" prepend-icon="description">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-autocomplete chips label="Type of tooling" prepend-icon="notes" v-model="editedItem.typeoftoolingId" :items="typeoftoolingItems" item-text="codeValue" item-value="codeID">
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-autocomplete label="Where use" prepend-icon="description" v-model="editedItem.pallowInterchangeMachineIds" :items="commonFiledsProductionMachineItems" item-text="machinesName" item-value="commonFieldsProductionMachineId" chips multiple :search-input.sync="searchMachineTypeTag" @change="selectMachineTypeTag">
                    <template slot="selection" slot-scope="data">
                      <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeMachineType(data.item)">

                        {{ data.item.machinesName }}
                      </v-chip>
                    </template>
                    <template slot="item" slot-scope="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-tile-content v-text="data.item"></v-list-tile-content>
                      </template>
                      <template v-else>

                        <v-list-tile-content>
                          <v-list-tile-title v-html="data.item.machinesName"></v-list-tile-title>

                        </v-list-tile-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field v-model="editedItem.totalnumbers" label="Total numbers" prepend-icon="description">
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-autocomplete chips label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID">
                  </v-autocomplete>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-layout row wrap>
        <v-flex xs12 sm12>
          <!-- <label>Size (LXW)</label> -->
          <v-layout row wrap class="coatborder">
            <v-flex xs12 sm12 class="backcolor">

              <span class="subheading" style="font-weight: bold;">Punches specification </span>
            </v-flex>
            <v-flex xs12 class="coatedTable">
            </v-flex>
            <v-flex xs2 class="coatedTable">
            </v-flex>
            <v-flex xs4 class="coatedTable" style="text-align:center;border: 2px solid black;text-align: center;font-weight: bold;">

              <label>Upper</label>
            </v-flex>

            <v-flex xs4 class="coatedTable" style="border: 2px solid black;text-align: center;font-weight: bold;">
              <label>Lower</label>
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
            </v-flex>
            <v-flex xs2 class="coatedTable">

              <label>Standard</label>
            </v-flex>

            <v-flex xs2 class="coatedTable">
              <label>Variation(+/-)</label>
            </v-flex>

            <v-flex xs2 class="coatedTable">
              <label>Standard</label>
            </v-flex>

            <v-flex xs2 class="coatedTable">
              <label>Variation(+/-)</label>
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <span>Tip Size/mm</span>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperTipSizeStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperTipSizeVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerTipSizeStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerTipSizeVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>

            <v-flex xs2 class="coatedTable">
              <br>
              <label>Tip Straigth Length/mm</label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperTipStraigthStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperTipStraigthVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerTipStraigthStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerTipStraigthVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>

            <v-flex xs2 class="coatedTable">
              <br>
              <label>Tip Depth/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperTipDepthStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperTipDepthVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerTipDepthStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerTipDepthVariationValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>

            <v-flex xs2 class="coatedTable">
              <br>
              <label>Barrel Diameter/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperBarrelDiameterStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperBarrelDiameterVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerBarrelDiameterStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerBarrelDiameterVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>

            <v-flex xs2 class="coatedTable">
              <br>
              <label>Overall Length/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperOverallLengthStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperOverallLengthVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerOverallLengthStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerOverallLengthVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Critical Length/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperCriticalLengthStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperCriticalLengthVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerCriticalLengthStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerCriticalLengthVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Cup Radius/R
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperCupRadiusStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperCupRadiusVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerCupRadiusStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerCupRadiusVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Cup Depth/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperCupDepthStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperCupDepthVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerCupDepthStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerCupDepthVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Land/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperLandStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperLandVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerLandStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerLandVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Bevel edge/angel
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperBevelEdgeAngelStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperBevelEdgeAngelVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerBevelEdgeAngelStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerBevelEdgeAngelVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Bevel edge Ht/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperBevelEdgeStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperBevelEdgeVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerBevelEdgeStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerBevelEdgeVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Width of Score/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperWidthOfScoreStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperWidthOfScoreVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerWidthOfScoreStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerWidthOfScoreVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs2 class="coatedTable">
              <br>
              <label>Depth of Score/mm
              </label>
            </v-flex>
            <v-flex xs1>
              <v-text-field v-model="editedItem.upperDepthOfScoreStandard" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.upperDepthOfScoreVariation" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerDepthOfScoreStandardValue" suffix="mm"></v-text-field>
            </v-flex>

            <v-flex xs1 class="coatedTable">
            </v-flex>

            <v-flex xs1>
              <v-text-field v-model="editedItem.lowerDepthOfScoreVariationValue" suffix="mm"></v-text-field>
            </v-flex>
            <v-flex xs1 class="coatedTable">
            </v-flex>
            <v-flex xs2>
            </v-flex>
            <v-flex xs12 sm10 class="coatedTable">
              <v-radio-group label="Embossement" v-model="editedItem.embossementFlag" row>
                <v-radio color="primary" label="Yes" value="Yes"></v-radio>
                <v-radio color="primary" label="No" value="No"></v-radio>
              </v-radio-group>
            </v-flex>
            <!-- <v-flex xs12 lg12 class="coatedTable">
              <upload-btn @file-update="fileChanged" title="Photo Upload" name="uploadtask" ref="upformUpload" multiple noTitleUpdate>
                <template slot="icon-left">
                  <v-icon left color="white">attachment</v-icon>
                </template>
              </upload-btn>
            </v-flex>
            <v-flex xs12 lg12>
              <div class="large-12 medium-12 small-12 cell">
                <div v-for="(name, key) in uploadedFileNames" class="file-listing">
                  {{name.fileName}}
                  <v-btn icon @click="removeFile( name )">
                    <v-icon>close</v-icon>
                  </v-btn>
                  <v-btn icon @click="downloadFile( name )" v-if="(name.machineDocumentId)?true:false">
                    <v-icon>save_alt</v-icon>
                  </v-btn>
                </div>
              </div>
            </v-flex> -->
          </v-layout>

        </v-flex>
      </v-layout>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.tipSize" label="Tip Size/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.tipStraightLength" label="Tip Straight Length/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.tipDepth" label="Tips Depth/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.barrelDiameter" label="Barrel Diameter/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.overallLength" label="Overall Length" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.criticalLength" label="Critical Length/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.cupRadius" label="Cup Radius/∅" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.cupDepth" label="Cup Depth/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.land" label="Land/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.bevelEdge" label="Bevel edge/∠" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.bevelEdgeHt" label="Bevel edge Ht/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.widthOfScore" label="With of score/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field v-model="editedItem.depthOfScore" label="Depth of score/mm" prepend-icon="description"></v-text-field>
      </v-flex>
      <v-flex xs12 sm4>
        <v-radio-group label="Embossed" v-model="editedItem.embossedFlag" row @change="onEmbossedChange">
          <v-radio color="primary" label="Yes" value="Yes"></v-radio>
          <v-radio color="primary" label="No" value="No"></v-radio>
        </v-radio-group>
      </v-flex>
      <!-- <v-flex xs12 lg12 v-if="embossedshow">
        <upload-btn @file-update="fileChanged" title="Upload photo" name="uploadtask" ref="upformUpload" multiple noTitleUpdate>
          <template slot="icon-left">
            <v-icon left color="white">attachment</v-icon>
          </template>
        </upload-btn>
      </v-flex> -->
      <v-flex xs12 sm12 v-if="embossedshow">
        <v-layout wrap>
          <v-flex xs12 sm6 class="backcolor">
            <v-flex xs12 sm12 class="backcolor">

              <span class="subheading" style="font-weight: bold;">Die Information</span>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field v-model="editedItem.boreIdmm" label="Bore I.D/mm" prepend-icon="description"></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field v-model="editedItem.odmm" label="O.D/mm" prepend-icon="description"></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field v-model="editedItem.heightmm" label="Height/mm" prepend-icon="description"></v-text-field>
            </v-flex>
          </v-flex>
          <v-flex xs12 sm6 class="backcolor">
            <v-flex xs12 sm12 class="backcolor">

              <span class="subheading" style="font-weight: bold;">Drawing Information</span>
            </v-flex>
            <!-- <v-flex xs12 lg12>
              <upload-btn @file-update="fileChanged" title="Upload files" name="uploadtask" ref="upformUpload" multiple noTitleUpdate>
                <template slot="icon-left">
                  <v-icon left color="white">attachment</v-icon>
                </template>
              </upload-btn>
            </v-flex>
            <v-flex xs12 lg12>
              <div class="large-12 medium-12 small-12 cell">
                <div v-for="(name, key) in uploadedFileNames" class="file-listing">
                  {{name.fileName}}
                  <v-btn icon @click="removeFile( name )">
                    <v-icon>close</v-icon>
                  </v-btn>
                  <v-btn icon @click="downloadFile( name )" v-if="(name.machineDocumentId)?true:false">
                    <v-icon>save_alt</v-icon>
                  </v-btn>
                </div>
              </div>
            </v-flex> -->
          </v-flex>
        </v-layout>
      </v-flex>
      <!-- <v-flex xs12 sm4>
        <v-autocomplete label="Allow Interchange with Machine" prepend-icon="description" v-model="editedItem.pallowInterchangeMachineId" :items="commonFiledsProductionMachineItems" chips item-text="nameOfTheMachine" item-value="commonFieldsProductionMachineId"></v-autocomplete>
      </v-flex>
      <v-flex xs12 sm4>
        <v-autocomplete label="Inter Company share" prepend-icon="description" v-model="editedItem.pinterCompanyShareId" :items="interCompanyshareItems" item-text="companyListingName" item-value="companyListingID" chips></v-autocomplete>
      </v-flex>

      <v-flex xs12 sm4>
        <v-autocomplete label="Inter Company Machine" prepend-icon="description" v-model="editedItem.pinterCompanyMachineId" :items="commonFiledsProductionMachineItems" chips item-text="nameOfTheMachine" item-value="commonFieldsProductionMachineId"></v-autocomplete>
      </v-flex> -->
    </v-layout>
    
  </div>
  </div>
</template>
<script>
  //import UploadButton from "vuetify-upload-button";
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster';
  import { getCodeMasterByType } from '@/api/applicationUser';
  import moment from 'moment'
  import GlobalMessage from '@/constant'
  import { getCompanyListings } from "@/api/companyListing";
  import { getCommonFieldsProductionMachineName } from "@/api/CommonFieldsProductionMachine";
  export default {
    components: {
      //"upload-btn": UploadButton
    },
    data: () => ({
      documentdialog: false,
      embossedshow: false,
      shapeItems: [],
      markingItems: [],
      interCompanyshareItems: [],
      typeoftoolingItems: [],
      commonFiledsProductionMachineItems: [],
      submissionDatedue: false,
      searchMachineTypeTag: null,
      statusOptions: [],
      editedItem: {
        psizeLength: '',
        seriesno: '',
        psizeWidth: '',
        pshapeId: null,
        pmarkingId: null,
        pallowInterchangeMachineIds: null,
        //pinterCompanyShareId: null,
        pinterCompanyMachineId: null,
        purchaseDate: null,
        typeoftoolingId: null,
        totalnumbers: '',
        statusCodeID: 1261,
        upperTipSizeStandard: '',
        upperTipSizeVariation: '',
        lowerTipSizeStandardValue: '',
        lowerTipSizeVariationValue: '',
        upperTipStraigthStandard: '',
        upperTipStraigthVariation: '',
        lowerTipStraigthStandardValue: '',
        lowerTipStraigthVariationValue: '',
        upperTipDepthStandard: '',
        upperTipDepthVariation: '',
        lowerTipDepthStandardValue: '',
        lowerTipDepthVariationValue: '',
        upperBarrelDiameterStandard: '',
        upperBarrelDiameterVariation: '',
        lowerBarrelDiameterStandardValue: '',
        lowerBarrelDiameterVariationValue: '',
        upperOverallLengthStandard: '',
        upperOverallLengthVariation: '',
        lowerOverallLengthStandardValue: '',
        lowerOverallLengthVariationValue: '',
        upperCriticalLengthStandard: '',
        upperCriticalLengthVariation: '',
        lowerCriticalLengthStandardValue: '',
        lowerCriticalLengthVariationValue: '',
        upperCupRadiusStandard: '',
        upperCupRadiusVariation: '',
        lowerCupRadiusStandardValue: '',
        lowerCupRadiusVariationValue: '',
        upperCupDepthStandard: '',
        upperCupDepthVariation: '',
        lowerCupDepthStandardValue: '',
        lowerCupDepthVariationValue: '',
        upperLandStandard: '',
        upperLandVariation: '',
        lowerLandStandardValue: '',
        lowerLandVariationValue: '',
        upperBevelEdgeAngelStandard: '',
        upperBevelEdgeAngelVariation: '',
        lowerBevelEdgeAngelStandardValue: '',
        lowerBevelEdgeAngelVariationValue: '',
        upperBevelEdgeStandard: '',
        upperBevelEdgeVariation: '',
        lowerBevelEdgeStandardValue: '',
        lowerBevelEdgeVariationValue: '',
        upperWidthOfScoreStandard: '',
        upperWidthOfScoreVariation: '',
        lowerWidthOfScoreStandardValue: '',
        lowerWidthOfScoreVariationValue: '',
        upperDepthOfScoreStandard: '',
        upperDepthOfScoreVariation: '',
        lowerDepthOfScoreStandardValue: '',
        lowerDepthOfScoreVariationValue: '',
        embossementFlag: '',
        embossedFlag: '',
        tipSize: '',
        tipStraightLength: '',
        tipDepth: '',
        barrelDiameter: '',
        overallLength: '',
        criticalLength: '',
        cupRadius: '',
        cupDepth: '',
        land: '',
        bevelEdge: '',
        bevelEdgeHt: '',
        widthOfScore: '',
        depthOfScore: '',
        boreIdmm: '',
        odmm: '',
        heightmm: '',
      },
    }),

    computed: {
      purchaseDateFormated () {
        return this.editedItem.purchaseDate ? moment(this.editedItem.purchaseDate).format(GlobalMessage.DATEFORMAT) : ''
      },
    },

    created () {
      //initialize();
    },

    methods: {
      initialize () {
      },
      clearablePurchaseDate () {
        this.editedItem.purchaseDate = null;
      },
      onEmbossedChange () {
        this.embossedshow = false;
        if (this.editedItem.embossedFlag == 'Yes') {
          this.embossedshow = true;
        }
      },
      selectMachineTypeTag () {
        this.searchMachineTypeTag = "";
      },
      removeMachineType (item) {
        const index = this.editedItem.pallowInterchangeMachineIds.indexOf(item.commonFieldsProductionMachineId)
        if (index >= 0) this.editedItem.pallowInterchangeMachineIds.splice(index, 1)
      },
      loadDropDownList () {
        this.loader = true;
        getCommonFieldsProductionMachineName('Punches')
          .then(response => {
            this.loader = false;
            this.commonFiledsProductionMachineItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getCodeMasterByType("Blister Mould Status")
          .then(response => {
            this.statusOptions = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCodeMasterByType("Punch tooling Status")
          .then(response => {
            this.typeoftoolingItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCompanyListings()
          .then(response => {
            this.interCompanyshareItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(117)
          .then(response => {
            this.loader = false;
            this.markingItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(118)
          .then(response => {
            this.shapeItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      add () {
        this.loadDropDownList();
        this.editedItem.psizeLength = "";
        this.editedItem.psizeWidth = "";
        this.editedItem.pshapeId = null;
        this.editedItem.pmarkingId = null;
        this.editedItem.pmarkingOn = '';
        this.editedItem.pallowInterchangeMachineIds = null;
        this.editedItem.pinterCompanyShareId = null;
        this.editedItem.pinterCompanyMachineId = null;
        this.editedItem.statusCodeID = 1261;
        this.editedItem.upperTipSizeStandard = '';
        this.editedItem.upperTipSizeVariation = '';
        this.editedItem.lowerTipSizeStandardValue = '';
        this.editedItem.lowerTipSizeVariationValue = '';
        this.editedItem.upperTipStraigthStandard = '';
        this.editedItem.upperTipStraigthVariation = '';
        this.editedItem.lowerTipStraigthStandardValue = '';
        this.editedItem.lowerTipStraigthVariationValue = '';
        this.editedItem.upperTipDepthStandard = '';
        this.editedItem.upperTipDepthVariation = '';
        this.editedItem.lowerTipDepthStandardValue = '';
        this.editedItem.lowerTipDepthVariationValue = '';
        this.editedItem.upperBarrelDiameterStandard = '';
        this.editedItem.upperBarrelDiameterVariation = '';
        this.editedItem.lowerBarrelDiameterStandardValue = '';
        this.editedItem.lowerBarrelDiameterVariationValue = '';
        this.editedItem.upperOverallLengthStandard = '';
        this.editedItem.upperOverallLengthVariation = '';
        this.editedItem.lowerOverallLengthStandardValue = '';
        this.editedItem.lowerOverallLengthVariationValue = '';
        this.editedItem.upperCriticalLengthStandard = '';
        this.editedItem.upperCriticalLengthVariation = '';
        this.editedItem.lowerCriticalLengthStandardValue = '';
        this.editedItem.lowerCriticalLengthVariationValue = '';
        this.editedItem.upperCupRadiusStandard = '';
        this.editedItem.upperCupRadiusVariation = '';
        this.editedItem.lowerCupRadiusStandardValue = '';
        this.editedItem.lowerCupRadiusVariationValue = '';
        this.editedItem.upperCupDepthStandard = '';
        this.editedItem.upperCupDepthVariation = '';
        this.editedItem.lowerCupDepthStandardValue = '';
        this.editedItem.lowerCupDepthVariationValue = '';
        this.editedItem.upperLandStandard = '';
        this.editedItem.upperLandVariation = '';
        this.editedItem.lowerLandStandardValue = '';
        this.editedItem.lowerLandVariationValue = '';
        this.editedItem.upperBevelEdgeAngelStandard = '';
        this.editedItem.upperBevelEdgeAngelVariation = '';
        this.editedItem.lowerBevelEdgeAngelStandardValue = '';
        this.editedItem.lowerBevelEdgeAngelVariationValue = '';
        this.editedItem.upperBevelEdgeStandard = '';
        this.editedItem.upperBevelEdgeVariation = '';
        this.editedItem.lowerBevelEdgeStandardValue = '';
        this.editedItem.lowerBevelEdgeVariationValue = '';
        this.editedItem.upperWidthOfScoreStandard = '';
        this.editedItem.upperWidthOfScoreVariation = '';
        this.editedItem.lowerWidthOfScoreStandardValue = '';
        this.editedItem.lowerWidthOfScoreVariationValue = '';
        this.editedItem.upperDepthOfScoreStandard = '';
        this.editedItem.upperDepthOfScoreVariation = '';
        this.editedItem.lowerDepthOfScoreStandardValue = '';
        this.editedItem.lowerDepthOfScoreVariationValue = '';
        this.editedItem.embossementFlag = '';
        this.editedItem.embossedFlag = '';
        this.editedItem.tipSize = '';
        this.editedItem.tipStraightLength = '';
        this.editedItem.tipDepth = '';
        this.editedItem.barrelDiameter = '';
        this.editedItem.overallLength = '';
        this.editedItem.criticalLength = '';
        this.editedItem.cupRadius = '';
        this.editedItem.cupDepth = '';
        this.editedItem.land = '';
        this.editedItem.bevelEdge = '';
        this.editedItem.bevelEdgeHt = '';
        this.editedItem.widthOfScore = '';
        this.editedItem.depthOfScore = '';
        this.editedItem.boreIdmm = '';
        this.editedItem.odmm = '';
        this.editedItem.heightmm = '';
        this.editedItem.seriesno = '';
      },
    }
  };
</script>
<style scoped>
  .theme--light.v-list {
    background: lightsteelblue !important;
    color: rgba(0, 0, 0, 0.87);
  }
  .coatedTable {
    background: gainsboro !important;
  }
  .coatborder {
    border-radius: 12px;
  }
  .backcolor {
    background-color: whitesmoke;
  }
</style>