<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="CommonFieldsProductionMachineLineLine.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" :disabled="enableAddButton">
        <v-btn class="pull-right" slot="activator" icon @click="add" :disabled="enableAddButton" v-show="checkClassificationPermission(1225)">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowAdd">
              <v-btn icon slot="activator" @click.native="add" v-show="checkClassificationPermission(1225)">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New</span>
            </v-tooltip>
            <v-tooltip bottom v-if="hideShowSave">
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="sessionId == null">
              <v-btn :disabled="sessionId == null" slot="activator" flat icon color="primary" @click="fileAttachment" v-show="checkClassificationPermission(1228)">
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-tabs v-if="list.length > 0" v-model="active" color="primary" dark slider-color="yellow">
            <v-tab v-for="(item, i) in list" :key="i" ripple @click="tabAsFirst(i, item)">{{ item.formName }}</v-tab>
            <v-tab-item v-for="(item, i) in list" :key="i">
              <v-card flat>
                <keep-alive>
                  <component :ref="item.moduleName" :is="item.moduleName" :props="item"></component>
                </keep-alive>
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-dialog>
      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment title=" RE-Qualification of Machine Document" :screenID="screenID" :sessionID="sessionId" controller="Documents" action="GetDocumentsBySessionID" uploadAction="UploadDocument" deleteAction="DeleteDocument" downloadAction="DownLoadDocument" ref="refattach" :closeMethod="closeattach"></attachment>
        <!--  <SalesOrderNovateDocument ref="frmattach"></SalesOrderNovateDocument> -->
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="commonFieldsProductionMachineLineLineId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr>
          <td>{{ props.item.dateToStartRequalification | formatDate }}</td>
          <td class="text-xs-left">
            {{ props.item.dateCompleteRequalification | formatDate }}
          </td>
          <td class="text-xs-left">{{ props.item.statusOfRequalification }}</td>
          <td class="text-xs-left">
            {{ props.item.modifiedByUser == null ? props.item.addedByUser : props.item.modifiedByUser }}
          </td>
          <td class="text-xs-left">
            {{ props.item.modifiedDate == null ? props.item.addedDate : props.item.modifiedDate | formatDate }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" :disabled="props.item.sessionId == null" @click="fileAttachments(props.item)" v-show="checkClassificationPermission(1228)">attach_file</v-icon>
            <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(1226)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(1227)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog1" heading="Are You Sure You Want To Close?" message="Are You Sure You Want To Close? Files Not Updloaded" @onConfirm="fileconformationMessage"></delete-confirmation-dialog>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import attachment from "@/components/Attachment/attachments";
  import dynamicComponents from "@/pages/itemClassificationForm/components";
  import GlobalMessage from "@/constant";
  import Util from "@/util";
  import moment from "moment";
  import { getData } from "@/api/paggedapi";
  import {
    getGetCommonFieldsProductionMachineLineLineByRefNo,
    deleteCommonFieldsProductionMachineLineLine,
  } from "@/api/commonFieldsProductionMachineLineLine";
  import { isClassificationPermission } from "@/api/checkPermission";
  export default {
    components: {
      attachment,
    },
    props: ["props"],

    data: () => ({
      totalRows: 0,
      loading: false,
      screenID: "",
      sessionId: null,
      commonFieldsProductionMachineLineId: -1,
      uploadbtn: true,
      attachdialog: false,
      active: null,
      enableAddButton: true,
      items: [],
      collection: [],
      list: [],
      linkProfileReferenceNo: "",
      masterProfileReferenceNo: "",
      profileID: null,
      materialComponent: {
        formName: "RE-Qualification of Machine",
        moduleName: "REQualificationMachineForm",
        path: "./Dynamic/REQualificationMachineForm.vue",
      },
      gridItems: [],
      hideShowAdd: true,
      hideShowSave: true,
      dialog: false,
      search: "",
      loader: false,
      filterFields: [
        "StatusOfRequalification.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
      ],
      headers: [
        {
          text: "Date to start re-qualification",
          value: "dateToStartRequalification",
          align: "left",
        },
        {
          text: "Date complete re-qualification",
          value: "dateCompleteRequalification",
          align: "left",
        },
        {
          text: "status Of Requalification",
          value: "statusOfRequalification",
          align: "left",
        },
        { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%",
        },
      ],
      json_fields: {
        "Date to start re-qualification": "dateToStartRequalification",
        "Date complete re-qualification": "dateCompleteRequalification",
        "status Of Requalification": "statusOfRequalification",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser",
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      pagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      refSearchParam: { isHeader: false, profileReferenceNo: "" },
      requalificationOfMachineSearch: {
        descending: false,
        searchString: "",
        userID: -1,
        pageCount: 1,
        pageSize: 10,
        methodName: "",
        sortCol: "AddedDate",
        sortBy: "DESC",
        masterTypeID: -1,
        classificationTypeId: null,
        classificationId: null,
        isHeader: false,
        profileReferenceNo: "",
        navType: "",
        filterFields: [
        ],
      }
    }),
    created () {
      if (this.$route.query.profileReferenceNo != null) {
        this.enableAddButton = false;
      }
      window.getApp.$on("RE_QUALIFICATION_MACHINE_ENABLE_ADD", (item) => {
        if (item.state == "ADD" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = true;
        } else if (item.state == "EDIT" && !this.props.mainForm) {
          this.gridItems = [];
          this.enableAddButton = false;
          this.masterProfileReferenceNo = item.masterReferenceNo;
          this.refSearchParam.isHeader =
            item.classificationLinkType == "Header" ? true : false;
          if (this.refSearchParam.isHeader) {
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          } else {
            this.refSearchParam.profileReferenceNo = this.masterProfileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loader = true;
            getGetCommonFieldsProductionMachineLineLineByRefNo(
              this.refSearchParam
            )
              .then((response) => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch((error) => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      });
      window.getApp.$on("CLOSE_RE_QUALIFICATION_MACHINE_DIALOG", () => {
        this.close();
      });
      window.getApp.$on("SESSION_RE_QUALIFICATION_MACHINE", (sessionId) => {
        this.sessionId = sessionId;
      });
      this.initialize();
    },
    beforeDestroy () {
      window.getApp.$off("CLOSE_RE_QUALIFICATION_MACHINE_DIALOG");
      window.getApp.$off("RE_QUALIFICATION_MACHINE_ENABLE_ADD");
      window.getApp.$off("SESSION_RE_QUALIFICATION_MACHINE");
    },
    watch: {
      dialog (val) {
        val || this.close();
      },
    },
    computed: {
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    methods: {
      initialize () {
        this.list = [];
        this.collection = dynamicComponents.initializeComponents();
        this.list.push(this.materialComponent);
        if (this.props.applicationFormSubModelList != undefined) {
          if (this.props.applicationFormSubModelList.length > 0) {
            this.props.applicationFormSubModelList.forEach((item) => {
              if (this.collection.indexOf(item.moduleName) !== -1) {
                this.list.push(item);
              }
            });
          }
        }
        this.loader = true;
        if (this.props != undefined) {
          if (this.refSearchParam.profileReferenceNo == "") {
            this.refSearchParam.isHeader = true;
            this.refSearchParam.profileReferenceNo = this.$route.query.profileReferenceNo;
          }
          if (this.refSearchParam.profileReferenceNo !== null) {
            this.loadPagingData();
            /*  this.loader = true;
             getGetCommonFieldsProductionMachineLineLineByRefNo(
               this.refSearchParam
             )
               .then((response) => {
                 this.gridItems = response.data;
                 this.loader = false;
               })
               .catch((error) => {
                 window.getApp.$emit("APP_API_ERROR", error);
               }); */
          }
        }
        this.loader = false;
      },
      loadPagingData () {
        this.requalificationOfMachineSearch.filterFields = this.filterFields;
        this.requalificationOfMachineSearch.descending = true;
        this.requalificationOfMachineSearch.pageCount = 1;
        this.pagination.page = 1;
        this.requalificationOfMachineSearch.sortCol = "CommonFieldsProductionMachineLineLineID";
        this.requalificationOfMachineSearch.sortBy = this.pagination.descending == true ? "desc" : "asc";
        this.requalificationOfMachineSearch.searchString = this.search;
        this.requalificationOfMachineSearch.userID = this.$store.state.auth.userId;
        this.requalificationOfMachineSearch.methodName = "GetREQualificationOfMachine";
        this.requalificationOfMachineSearch.isHeader = this.refSearchParam.isHeader;
        this.requalificationOfMachineSearch.profileReferenceNo = this.refSearchParam.profileReferenceNo;
        this.loading = true;
        getData(this.requalificationOfMachineSearch)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        this.requalificationOfMachineSearch.filterFields = this.filterFields;
        this.requalificationOfMachineSearch.descending = true;
        this.requalificationOfMachineSearch.pageCount = args.page;
        this.requalificationOfMachineSearch.pageSize = args.rowsPerPage;
        this.requalificationOfMachineSearch.userID = this.$store.state.auth.userId;
        this.requalificationOfMachineSearch.isHeader = this.refSearchParam.isHeader;
        this.requalificationOfMachineSearch.profileReferenceNo = this.refSearchParam.profileReferenceNo;
        if (args.sortBy == "dateToStartRequalification") {
          this.requalificationOfMachineSearch.sortCol = "DateToStartRequalification";
        }
        else if (args.sortBy == "dateCompleteRequalification") {
          this.requalificationOfMachineSearch.sortCol = "DateCompleteRequalification";
        }

        else if (args.sortBy == "statusOfRequalification") {
          this.requalificationOfMachineSearch.sortCol = "StatusOfRequalification.CodeValue";
        }
        else if (args.sortBy == "modifiedByUser") {
          this.requalificationOfMachineSearch.sortCol = "ModifiedByUser.UserName";
        }
        else if (args.sortBy == "dddedByUser") {
          this.requalificationOfMachineSearch.sortCol = "AddedByUser.UserName";
        }
        else if (args.sortBy == "modifiedDate") {
          this.requalificationOfMachineSearch.sortCol = "ModifiedDate";
        }
        else {
          this.requalificationOfMachineSearch.sortCol = 'CommonFieldsProductionMachineLineLineID';
        }
        this.requalificationOfMachineSearch.sortBy = args.descending == true ? "desc" : "asc";
        this.requalificationOfMachineSearch.searchString = this.search;
        this.requalificationOfMachineSearch.methodName = "GetREQualificationOfMachine";
        this.loading = true;
        getData(this.requalificationOfMachineSearch)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      save () {
        this.$refs.REQualificationMachineForm[0].save();
      },
      tabAsFirst (i, item) {
        this.hideShowAdd = false;
        this.hideShowSave = false;
        if (i == 0) {
          this.hideShowAdd = true;
          this.hideShowSave = true;
        }
      },
      closeattach () {
        let gridvalues = this.$refs.refattach.attachments.filter(
          (f) => f.uploaded == false
        );
        if (gridvalues.length > 0) {
          //window.getApp.$emit("APP_API_ERROR", error);
          this.$refs.deleteConfirmationDialog1.openDialog();
        } else {
          this.attachdialog = false;
        }
        this.$refs.refattach.expiryDate = null;
        this.$refs.refattach.fileProfileTypeId = 0;
        // this.$refs.refattach.attachments
      },
      fileconformationMessage () {
        this.$refs.deleteConfirmationDialog1.close();
        this.attachdialog = false;
      },
      fileAttachments (item) {
        this.sessionId = item.sessionId;

        this.attachdialog = true;
        setTimeout(() => {
          this.$refs.refattach.attachments = [];
          this.$refs.refattach.documentID = item.documentID;
          this.$refs.refattach.getfiles();
        }, 500);
      },
      fileAttachment () {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.sessionID = this.sessionId;
        this.$refs.refattach.getFileProfileTypeItems();
        this.$refs.refattach.getfiles();
        this.attachdialog = true;
      },
      add () {
        if (this.props.profileID > 0) {
          this.sessionId = null;
          this.$refs.REQualificationMachineForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.REQualificationMachineForm[0].profileID = this.props.profileID;
          this.$refs.REQualificationMachineForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          this.$refs.REQualificationMachineForm[0].add();
          window.getApp.$emit("MASTER_MOULD_CHANGEPART_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType,
          });
          window.getApp.$emit("MASTER_PUNCH_MOULD_CHANGEPART_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType,
          });
          window.getApp.$emit("BLISTER_MOULD_ENABLE_ADD", {
            state: "ADD",
            masterReferenceNo: "",
            classificationLinkType: this.$route.query.classificationLinkType,
          });
          this.hideShowAdd = true;
          this.hideShowSave = true;
        } else {
          window.getApp.$emit(
            "APP_API_ERROR",
            GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR
          );
        }
      },

      addFormDialog () {
        this.add();
      },
      editItem (item) {
        if (this.props.profileID > 0) {
          this.dialog = true;

          this.$refs.REQualificationMachineForm[0].linkProfileReferenceNo = this.$route.query.profileReferenceNo;
          this.$refs.REQualificationMachineForm[0].profileID = this.props.profileID;
          this.$refs.REQualificationMachineForm[0].masterProfileReferenceNo = this.masterProfileReferenceNo;
          this.$refs.REQualificationMachineForm[0].add();
          this.hideShowAdd = true;
          this.hideShowSave = true;
          setTimeout(() => {
            this.sessionId = item.sessionId;
            this.$refs.REQualificationMachineForm[0].editItem(item);
          }, 1000);
          window.getApp.$emit("MASTER_MOULD_CHANGEPART_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType,
          });
          window.getApp.$emit("MASTER_PUNCH_MOULD_CHANGEPART_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType,
          });
          window.getApp.$emit("BLISTER_MOULD_ENABLE_ADD", {
            state: "EDIT",
            masterReferenceNo: item.masterProfileReferenceNo,
            classificationLinkType: this.$route.query.classificationLinkType,
          });
        } else {
          window.getApp.$emit(
            "APP_API_ERROR",
            GlobalMessage.ITEMCLASSIFICATIONPROFILEERROR
          );
        }
      },
      close () {
        this.dialog = false;
        this.initialize();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.commonFieldsProductionMachineLineLineId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteCommonFieldsProductionMachineLineLine(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
    },
  };
</script>

