<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="layoutType.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton" v-show="checkClassificationPermission(125)">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add" :loading="loaders" v-show="checkClassificationPermission(125)">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Add New SunWard Equivalent Item Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveEqualient" :loading="loaders">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm8>
                    <v-layout wrap>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Order Place to Company" prepend-icon="list" v-model="editedItem.orderPlacetoCompanyId" :items="companyItems" chips auto item-text="description" item-value="plantID" @change="getNavItem">
                        </v-autocomplete>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-autocomplete label="Product Grouping Code" prepend-icon="list" v-model="editedItem.navItemId" :items="navItemItems" chips auto item-text="code" item-value="genericCodeId" @change="getNavItemsList" :loading="navLoader">
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Supply To" prepend-icon="list" v-model="editedItem.supplyToId" :items="supplyToItems" chips auto item-text="description" item-value="genericCodeSupplyToMultipleId" @change="getsupplyTolist">
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.itemDescription" label="Product Grouping Name" prepend-icon="description" readonly>
                        </v-text-field>
                      </v-flex>
                      <!--  <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.manufacturingSite" label="Manufacturing Site" prepend-icon="description" readonly>

                        </v-text-field>
                      </v-flex> -->

                      <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.buom" label="UOM" prepend-icon="description" readonly>
                        </v-text-field>
                      </v-flex>

                      <!--  <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.interCompanyNo" label="Inter Company No" prepend-icon="description" readonly>

                        </v-text-field>
                      </v-flex> -->

                      <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.factorVsCustomerPacking" label="Factor Vs Customer Packing" prepend-icon="description">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field v-model="editedItem.factorVsPurchasePacking" label="Factor Vs Purchase Packing" prepend-icon="description">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Default supply" prepend-icon="notes" v-model="editedItem.defaultSupply" :items="defaultSupplyItems" item-text="replenishmentMethod" item-value="replenishmentMethod" chips></v-autocomplete>
                      </v-flex>
                      <!--  <v-flex xs12 sm6>
                        <p>Is this default?</p>
                        <v-radio-group row v-model="editedItem.isThisDefaultFlag">
                          <v-radio label="Yes" value="Yes"></v-radio>
                          <v-radio label="No" value="No"></v-radio>
                        </v-radio-group>
                      </v-flex> -->
                      <v-flex xs12 sm6>
                        <v-autocomplete chips label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID" :rules="[v => !!v || 'Status is required']"></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12 sm4 style="padding-top: 10px;">
                    <v-card color="primary lighten-5" width="100%" height="100%" class="reference">
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <span class="alignText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navision</span>
                        </v-flex>
                        <v-list class="referencetext" v-for="(menuitem, index) in navisionItems" :key="index">
                          <label>Navision No : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                          <b>{{ menuitem.no }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />
                          <label>Manufacture by : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <b>{{ menuitem.itemCategoryCode }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />

                          <label>Description : &nbsp;&nbsp;</label>
                          <b>{{ menuitem.description }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />

                          <label>Internal Reference : &nbsp;&nbsp;</label>
                          <b>{{ menuitem.internalRef }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />

                          <label>BUOM : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <b>{{ menuitem.baseUnitofMeasure }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />
                          <label>Replenishment Method : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <b>{{ menuitem.vendorNo }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>
                          <v-flex xs12 sm12>
                            <hr />
                          </v-flex>
                        </v-list>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="saveEqualient" :loading="loaders">
              SAVE
            </v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close" :loading="loaders">
              Close
            </v-btn>
          </v-card-actions>
          <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
          </delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>
        <v-layout row wrap>
          <v-flex lg12 sm12 xs12>
            <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
              <template slot="items" slot-scope="props">
                <td>{{ props.item.orderPlacetoCompany }}</td>
                <td class="text-xs-left">{{ props.item.navItem }}</td>
                <td class="text-xs-left">{{ props.item.itemDescription }}</td>
                <!--  <td class="text-xs-left">{{ props.item.manufacturingSite}}</td> -->
                <td class="text-xs-left">{{ props.item.buom }}</td>
                <!--  <td class="text-xs-left">{{ props.item.interCompanyNo }}</td> -->
                <td class="text-xs-left">
                  {{ props.item.factorVsCustomerPacking }}
                </td>
                <td class="text-xs-left">
                  {{ props.item.factorVsPurchasePacking }}
                </td>
                <td class="text-xs-left">{{ props.item.statusCode }}</td>
                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="editItem(props.item)" v-show="checkClassificationPermission(126)">
                    edit
                  </v-icon>
                  <v-icon small @click="onDeleteItem(props.item)" v-show="checkClassificationPermission(127)">
                    delete
                  </v-icon>
                </td>
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="initialize">
                  Record not exist.Refresh again in while time.</v-btn>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
  import {
    getNAVItemsByCompanies,
    deleteSobyCustomerSunwardEquivalent,
    getSobyCustomerSunwardEquivalent,
    createSobyCustomerSunwardEquivalent,
    updateSobyCustomerSunwardEquivalent,
  } from "@/api/sobyCustomers";
  import GlobalMessage from "@/constant";
  import {
    getGenericCodeByPlantID,
    getGenericCodeSupplyToMultipleByCountry,
  } from "@/api/genericCodes";
  import { getPlants } from "@/api/plant";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { isClassificationPermission } from "@/api/checkPermission";
  export default {
    components: {},
    data: () => ({
      enableAddButton: true,
      dialog: false,
      loader: false,
      navLoader: false,
      search: "",
      contentType: "",
      companyItems: [],
      navItemItems: [],
      search: "",
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      loaders: false,
      isDisabledOpen: false,
      statusOptions: [],
      headers: [
        {
          text: "Order Place to Company",
          value: "orderPlacetoCompany",
          align: "left",
        },
        { text: "No", value: "navItem", align: "left" },
        { text: "Item Description", value: "itemDescription", align: "left" },
        //{ text: 'Manufacturing Site', value: 'manufacturingSite', align: 'left' },
        { text: "BUOM", value: "buom", align: "left" },
        //{ text: 'Inter - Company No', value: 'interCompanyNo', align: 'left' },
        {
          text: "Factor Vs Customer Packing",
          value: "factorVsCustomerPacking",
          align: "left",
        },
        {
          text: "Factor Vs Purchase Packing",
          value: "factorVsPurchasePacking",
          align: "left",
        },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],

      json_fields: {
        "Order Place to Company": "orderPlacetoCompany",
        No: "navItem",
        "Item Description": "itemDescription",
        //'Manufacturing Site': 'manufacturingSite',
        BUOM: "buom",
        // 'Inter - Company No': 'interCompanyNo',
        "Factor Vs Customer Packing": "factorVsCustomerPacking",
        "Factor Vs Purchase Packing": "factorVsPurchasePacking",
        Status: "statusCode",
      },
      gridItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      navisionItems: [],
      socustomersItemCrossReferenceId: -1,
      socustomersItemCrossReferenceItems: [],
      editedItem: {
        valid: false,
        sobyCustomerSunwardEquivalentId: -1,
        socustomersItemCrossReferenceId: -1,
        orderPlacetoCompanyId: null,
        factorVsCustomerPacking: "",
        factorVsPurchasePacking: "",
        orderPlacetoCompany: "",
        navItem: "",
        navItemId: null,
        itemDescription: "",
        manufacturingSite: "",
        buom: "",
        interCompanyNo: "",
        statusCodeID: 1802,
        isThisDefaultFlag: "No",
        statusCode: "",
        defaultSupply: null,
        supplyToId: null,
      },
      defaultItem: {
        valid: false,
        socustomersItemCrossReferenceId: -1,
        sobyCustomerSunwardEquivalentId: -1,
        orderPlacetoCompanyId: null,
        orderPlacetoCompany: "",
        navItem: "",
        factorVsCustomerPacking: "",
        factorVsPurchasePacking: "",
        navItemId: null,
        itemDescription: "",
        manufacturingSite: "",
        buom: "",
        interCompanyNo: "",
        statusCodeID: 1802,
        isThisDefaultFlag: "No",
        defaultSupply: null,
        supplyToId: null,
      },
      supplyToItems: [],
      defaultSupplyItems: [],
    }),

    computed: {
      formTitle () {
        return this.editedItem.sobyCustomerSunwardEquivalentId > 0
          ? "Edit SunWard Equivalent Item Information"
          : "Add SunWard Equivalent Item Information";
      },
    },

    watch: {
      dialog (val) {
        val || this.close();
      },
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        this.loader = true;
        this.editedItem.socustomersItemCrossReferenceId = this.socustomersItemCrossReferenceId;
        getSobyCustomerSunwardEquivalent(this.socustomersItemCrossReferenceId)
          .then((response) => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });

        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      checkClassificationPermission (permissionCode) {
        return isClassificationPermission(permissionCode, this.$store);
      },
      loadDropDown (type) {
        this.loader = true;
        this.navLoader = true;
        getCodeMasterByType("SOSunWardEquivalentStatus")
          .then((response) => {
            if (type == "add") {
              this.statusOptions = response.data.filter(p => p.codeID != 1803);
            }
            if (type == "edit") {
              this.statusOptions = response.data;
            }

            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getNAVItemsByCompanies()
          .then((response) => {
            this.defaultSupplyItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getPlants("")
          .then((response) => {
            this.companyItems = response.data;
            this.loader = false;
            this.navLoader = false;
          })
          .catch((error) => {
            this.loader = false;
            this.navLoader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getsupplyTolist () {
        let items = this.supplyToItems.filter(
          (o) => o.genericCodeSupplyToMultipleId == this.editedItem.supplyToId
        );
        if (items.length > 0) {
          this.navisionItems = items[0]["navItemsList"];
          console.log(this.navisionItems, this.editedItem);

          this.navisionItems = this.navisionItems.filter(
            (f) => f.companyId == this.editedItem.orderPlacetoCompanyId
          );
        }
      },
      getNavItem (value,type) {
        this.loader = true;
        if (type != "edit") {
        this.editedItem.supplyToId = null;
        this.editedItem.navItemId = null;
        this.editedItem.navItem = "";
        this.editedItem.itemDescription = "";
        this.editedItem.manufacturingSite = "";
        this.editedItem.buom = "";
        this.editedItem.interCompanyNo = "";
        this.navisionItems = [];
        }
        getGenericCodeByPlantID(value)
          .then((response) => {
            this.navItemItems = response.data;
            let companyName = this.companyItems.filter((o) => o.plantID == value);
            this.editedItem.orderPlacetoCompany = "";
            if (companyName.length > 0) {
              this.editedItem.orderPlacetoCompany = companyName[0]["description"];
            }
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getNavItemsList (value, type) {
        if (type != "edit") {
          this.editedItem.navItem = "";
          this.editedItem.itemDescription = "";
          this.editedItem.manufacturingSite = "";
          this.editedItem.buom = "";
          this.editedItem.interCompanyNo = "";
        }
        if (this.editedItem.navItemId > 0) {
          let navision = this.navItemItems.filter(
            (o) => o.genericCodeId == value
          );
          if (navision.length > 0) {
            this.editedItem.navItem = navision[0].code;
            this.editedItem.buom = navision[0].uom;
            this.editedItem.itemDescription = navision[0].code;
            //this.editedItem.manufacturingSite = navision[0].internalRef;
            /* if (navision[0].internalRef != null) {
                var internalRef = navision[0].internalRef.substring(0, 2);
                if (internalRef == "FP") {
                  this.editedItem.manufacturingSite = ((navision[0].internalRef).substring(2)).trim();
                }
              }
              this.editedItem.interCompanyNo = navision[0].company; */
          }
        }
        if (this.editedItem.navItemId != null) {
          this.navisionItems = [];
          getGenericCodeSupplyToMultipleByCountry(this.editedItem.navItemId, this.editedItem.orderPlacetoCompanyId)
            .then((response) => {
              this.supplyToItems = response.data;
              if (type == "edit") {
                this.getsupplyTolist();
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      editItem (item) {
        this.loadDropDown("edit");
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.getNavItem(item.orderPlacetoCompanyId,'edit');
        setTimeout(() => {
          this.editedItem.navItemId = item.navItemId;
          this.editedItem.supplyToId = item.supplyToId;
          this.getNavItemsList(item.navItemId, "edit");
        }, 300);
        this.dialog = true;
        this.isDisabledOpen = false;
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);

        if (this.editedItem.sobyCustomerSunwardEquivalentId <= 0) {
          this.gridItems.splice(index, 1);
        } else {
          this.loader = false;
          deleteSobyCustomerSunwardEquivalent(this.editedItem)
            .then(() => {
              this.loader = false;
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      saveAndClose () {
        this.save();
        setTimeout(() => {
          this.close();
        }, 300);
      },
      add () {
        this.loadDropDown("add");
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedItem.socustomersItemCrossReferenceId = this.socustomersItemCrossReferenceId;
        this.supplyToItems = [];
        this.navItemItems = [];
        this.isDisabledOpen = false;
      },
      deleterow () {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        let index = this.editedIndex;
      },
      close () {
        this.dialog = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      saveEqualient () {
        this.loaders = true;
        let statusCode = this.statusOptions.filter(
          (o) => o.codeID == this.editedItem.statusCodeID
        );
        if (statusCode.length > 0) {
          this.editedItem.statusCode = statusCode[0]["codeValue"];
        }
        if (this.editedItem.statusCodeID == 1803) {
          this.editedItem.statusCodeID = 1802;
          this.isDisabledOpen = true;
        }
        if (this.editedItem.sobyCustomerSunwardEquivalentId > 0) {
          updateSobyCustomerSunwardEquivalent(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.loader = false;
                this.editedItem = response.data;
                this.loaders = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();

              }
            })
            .catch((error) => {
              // this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          createSobyCustomerSunwardEquivalent(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.loader = false;
                this.editedItem = response.data;
                this.editedItem.sobyCustomerSunwardEquivalentId =
                  response.data.sobyCustomerSunwardEquivalentId;
                this.loaders = false;
                this.initialize();
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              //this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
    },
  };
</script>
<style lang="stylus" scoped>
  .task-sub--scroll {
    overflow: auto;
    height: calc(100vh - 110px - 60px);
  }

  .reference {
    border-style: solid;
    border-radius: 20px !important;
    border-color: rgb(216, 222, 247);
    border-width: 1px;
    padding: 8px;
  }

  .alignText {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
  }

  .referencetext {
    text-align: left !important;
    font-size: '10px';
    background-color: transparent !important;
  }
</style>
