<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="ItemCost.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create Master Inter Company Pricing</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
             <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="syncWithNavision" v-show="editedItem.itemCostId>0 && isSyncWithNavision == 'true'">
                <v-icon color="white">sync</v-icon>
              </v-btn>
              <span>Sync With Navision</span>
            </v-tooltip>
           <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="undoTempVersion">
                <v-icon color="white">undo</v-icon>
              </v-btn>
              <span>Undo applied version to current data</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="enableVersionButton"
                @click.native="versionListShow"
              >
                <v-icon color="white">history</v-icon>
              </v-btn>
              <span>View version list</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Purpose Of Costings"
                      prepend-icon="notes"
                      v-model="editedItem.purposeOfCostingId"
                      :items="purposeOfCostings"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-select
                      label="Company"
                      v-model="editedItem.companyId"
                      prepend-icon="apartment"
                      name="company"
                      item-text="description"
                      item-value="plantID"
                      :items="companyItems"
                      @change="selectCompany"
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-menu
                      ref="validityFrom"
                      v-model="validityFromMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="validityFromFormated"
                        label="Validity From"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearableFromDate"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.validityFrom"
                        @change="validityFromMenu = false"
                        type="month"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-menu
                      ref="validityTo"
                      v-model="validityToMenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="validityToFormated"
                        label="Validity To"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearableToDate"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.validityTo"
                        @change="validityToMenu = false"
                        type="month"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <span>Sync with Navision</span>
                    <v-radio-group
                      v-model="isSyncWithNavision"
                      required
                      prepend-icon="notes"
                      row
                      @change="selectIsSyncNavision"
                    >
                      <v-radio
                        color="primary"
                        label="Yes"
                        value="true"
                      ></v-radio>
                      <v-radio
                        color="primary"
                        label="No"
                        value="false"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <item-costline
              v-show="isSyncWithNavision == 'true'"
              ref="refItemCostLine"
            ></item-costline>
          </div>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save"
              >save</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="attachdialog" max-width="900px">
        <attachment
          title="Item Cost Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>
      <v-dialog v-model="versiondialog" persistent max-width="600px">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="versionclose">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="versionclose">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline"
              >Do you want to change the version please click 'New Version'.
              otherwise click 'Save'.</span
            >
          </v-card-title>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="versionsave"
              >SAVE</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="newversion"
              >New Version</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="versionclose"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="referencedialog" persistent max-width="600px">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="referenceclose">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="referenceclose">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-flex xs12 sm12>
            <v-textarea
              v-model="referenceInfo"
              label="Reference"
              prepend-icon="description"
              required
              :rules="referenceRuels"
            ></v-textarea>
          </v-flex>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="referencesave"
              >SAVE</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="referencecancel"
              >clear</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="referenceclose"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="versionListdialog" persistent max-width="900px">
        <versions
          ref="refVersions"
          title="Version Listing"
          screenID="APP1001"
          :closeMethod="versionListclose"
          controller="ItemCost"
          action="GetItemCostVersion"
           :versionMethod="versionEditClick"
        ></versions>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
           :headers="headers"
           :items="gridItems"
          :pagination.sync="pagination"
          :total-items="totalRows"
          :rows-per-page-items="rowsPerPageItems"
          :loading="loading"
          @update:pagination="onUpdatePagination"
          class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.purposeOfCosting }}</td>
        <td class="text-xs-left">{{ props.item.companyName }}</td>
        <td class="text-xs-left">{{ props.item.validityFrom | monthYear }}</td>
        <td class="text-xs-left">{{ props.item.validityTo | monthYear }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>
         <td class="justify-center layout px-0">
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile v-for="(item, i) in items" :key="i" @click="menuClick(i, props.item)" ripple="ripple" :target="item.target" rel="noopener">
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }}
                  </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline  @click="loadPagingData" 
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
     <delete-confirmation-dialog
      ref="editVersionConfirmationDialog"
      heading="Are You Sure You Want To Edit This Version?"
      message="Are You Sure You Want To Edit This Version?"
      @onConfirm="versioneditItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import {
  getItemCosts,
  getItemCost,
  createItemCost,
  updateItemCost,
  updateItemCostVersion,
  deleteItemCost,
  createVersion,
    applyVersion,
      tempVersion,
  undoVersion,
  deleteVersion,
  syncWithNavisionUpdateCost
} from "@/api/itemCost";
import moment from "moment";
import { getNavItemsForSalesEntry } from "@/api/purchaseItemSalesEntryLine";
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import MasterInterCompanyPricingLine from "@/pages/productionplanning/finance/MasterInterCompanyPricingLine";
import { getPlants } from "@/api/plant";
import attachment from "@/components/Attachment/attachments";
import versions from "@/components/Versions/versions";
import itemCostline from "@/pages/productionplanning/finance/itemCostLine";
import { getData } from "@/api/paggedapi";
import search from "@/search";
export default {
  components: {
    attachment,
    versions,
    itemCostline,
  },
  data: () => ({
    attachdialog: false,
    versiondialog: false,
    versionUpdatedialog: false,
    versionListdialog: false,
    validityFromMenu: false,
    validityToMenu: false,
     totalRows: 0,
    validityFrom: "",
    validityTo: "",
    dialog: false,
     tempVersionId: -1,
    loader: false,
    search: "",
    companyItems: [],
    navItems: [],
    sessionId: null,
    versionSessionId: null,
    screenID: "FIN5205",
    saveVersionData: false,
    enableVersionButton: true,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "Close", value: 2 },
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    dialog: false,
    loader: false,
     filterFields: [
        "Company.PlantCode",       
        "AddedByUser.UserName",
        "StatusCode.CodeValue",
        "ModifiedByUser.UserName"
      ],

    headers: [
      {
        text: "Purpose Of Costing",
        value: "purposeOfCosting",
        align: "left",
        sortable:false,
      },
      {
        text: "Company Name",
        value: "companyName",
        align: "left",
      },
      {
        text: "Validity From",
        value: "validityFrom",
        align: "left",
      },
      {
        text: "Validity To",
        value: "validityTo",
        align: "left",
      },

      {
        text: "StatusCode",
        value: "statusCode",
        align: "left",
      },

      { text: "Action", value: "Action", align: "left" },
    ],
                items: [
        {
          icon: "history",
          href: "#",
          title: "Create Version",
          click: (e) => { },
        },
        {
          icon: "edit",
          href: "#",
          title: "Edit",
          click: (e) => {
          },
        },
        {
          icon: "delete",
          href: "#",
          title: "Delete",
          click: (e) => { },
        },
        {
          icon: "attach_file",
          href: "#",
          title: "Attachments",
          click: (e) => { },
        },
                ],
    contractNoItems: [],
    json_fields: {
      "Purpose of Costingn": "purposeOfCosting",
      "Company Name": "companyName",
      "Valid From": "validFrom",
      "Valid To": "validTo",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    purposeOfCostings: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    isSyncWithNavision: "true",
    referencedialog: false,
    referenceInfo: "",
    referenceRuels: [(v) => !!v || "Reference is required"],
    editedItem: {
      valid: false,
      companyId: null,
      purposeOfCostingId: null,
      saveVersionData: false,
      validityFrom: "",
      validityTo: "",
      itemId: null,
      sessionId: null,
      costMethod: null,
      costCurrency: null,
      itemCategoryCode: "",
      isSyncWithNavision: "true",
      description: "",
      internalRef: "",
      baseUnitofMeasure: "",
      costMethod: "",
      costCurrency: "",
      cost: null,
      uom: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      versionSessionId: null,
      itemCostId:-1,
      screenID: "FIN5205",
    },
    defaultItem: {
      valid: false,
      companyId: null,
      purposeOfCostingId: null,
      saveVersionData: false,
      validityFrom: "",
      validityTo: "",
      itemId: null,
      sessionId: null,
      costMethod: null,
      costCurrency: null,
      itemCategoryCode: "",
      isSyncWithNavision: "true",
      description: "",
      internalRef: "",
      baseUnitofMeasure: "",
      costMethod: "",
      costCurrency: "",
      cost: null,
      uom: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      versionSessionId: null,
      itemCostId:-1,
      screenID: "FIN5205",
    },
    cacheData: {
      valid: false,
      companyId: null,
      purposeOfCostingId: null,
      saveVersionData: false,
      validityFrom: "",
      validityTo: "",
      itemId: null,
      sessionId: null,
      costMethod: null,
      costCurrency: null,
      itemCategoryCode: "",
      isSyncWithNavision: "true",
      description: "",
      internalRef: "",
      baseUnitofMeasure: "",
      costMethod: "",
      costCurrency: "",
      cost: null,
      uom: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      versionSessionId: null,
    },
    searchItem: { action: "", id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedItem.itemCostId<0 ? "Add Item Cost" : "Edit Item Cost";
    },

    validityFromFormated() {
      return this.editedItem.validityFrom
        ? moment(this.editedItem.validityFrom).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    validityToFormated() {
      return this.editedItem.validityTo
        ? moment(this.editedItem.validityTo).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
      loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
    mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      // this.loader = true;
      // getItemCosts("")
      //   .then((response) => {
      //     this.gridItems = response.data;
      //     this.loader = false;
      //   })
      //   .catch((error) => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
    },

    fileAttachment() {
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.sessionId = this.sessionId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    fileAttachments(item) {
      this.sessionId = item.sessionId;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentId = item.documentId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
           menuClick (key, item) {
        if (key == 0) {
          this.referencedialog = true;
          this.editedItem = item;
          this.editedItem.referenceInfo = "";
          this.referenceInfo = "";
        } else if (key == 1) {
           this.editedItem = Object.assign({}, item);
          this.editItem(item);
           this.createtempVersion();
        } else if (key == 2) {
          this.onDeleteItem(item);
        } else if (key == 3) {
          this.fileAttachments(item);
        }
      },
    loadDropDown() {
      this.loader = true;
      getPlants()
        .then((response) => {
          this.companyItems = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.loader = true;
      getApplicationMasterDetailByType(266)
        .then((response) => {
          this.purposeOfCostings = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.selectCompany();
    },
     getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "ItemCostId";
        console.log('Pagination',this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetItemCosts";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "companyName") {
        search.sortCol = "Company.PlantCode";
      } else if (args.sortBy == "validityFrom") {
        search.sortCol = "ValidityFrom";
      }
      else if (args.sortBy == "validityTo") {
        search.sortCol = "ValidityTo";
      }     
      else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      }else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      }
       else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetItemCosts";
      console.log("Pagination", args);
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectIsSyncNavision() {
      if (this.isSyncWithNavision == "true") {
        this.editedItem.isSyncWithNavision = "true";
      } else {
        this.editedItem.isSyncWithNavision = "false";
      }
      this.$refs.refItemCostLine.isSyncWithNavision = this.editedItem.isSyncWithNavision;
      this.$refs.refItemCostLine.enableAddButton = false;
    },
    syncWithNavision () {
      if(this.editedItem.companyID>0 && this.editedItem.isSyncWithNavision==true)
      {
       
        syncWithNavisionUpdateCost(this.editedItem)
          .then((response) => {
            this.loader = false;
            if(response!=undefined)
            {
            window.getApp.$emit("APP_API_SUCCESS", "Successfully Sync From Navision");
            }
           
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    selectCompany() {
      if (this.editedItem.companyId > 0) {
        let id = this.editedItem.companyId;
        getNavItemsForSalesEntry(id)
          .then((response) => {
            this.navItems = response.data;

            this.$refs.refItemCostLine.navItems = this.navItems;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    selectFPItem(value) {
      let navItem = this.navItems.filter((o) => o.itemId == value);
      if (navItem.length > 0) {
        this.editedItem.itemCategoryCode = navItem[0].itemCategoryCode;
        this.editedItem.internalRef = navItem[0].internalRef;
        this.editedItem.description = navItem[0].description;
        this.editedItem.baseUnitofMeasure = navItem[0].baseUnitofMeasure;
      }
    },
    clearableFromDate() {
      this.editedItem.validityFrom = null;
    },
    clearableToDate() {
      this.editedItem.validityTo = null;
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
       this.deleteTempVersion();
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.cacheData = Object.assign({}, item);
      console.log("Edit Item", JSON.stringify(this.editedItem));
      this.isSyncWithNavision =
        this.editedItem.isSyncWithNavision == true ? "true" : "false";
      this.sessionId = item.sessionId;
      this.versionSessionId = item.versionSessionId;
      this.dialog = true;
      this.loadDropDown();
      this.enableVersionButton = false;
      this.loadLines(false);
    },
    loadLines(value) {
      console.log(value, this.editedItem.itemCostLineModels);
      this.$refs.refItemCostLine.enableAddButton = value;
      this.$refs.refItemCostLine.itemCostId = this.editedItem.itemCostId;
      this.$refs.refItemCostLine.isSyncWithNavision = this.isSyncWithNavision;
      this.$refs.refItemCostLine.companyID = this.editedItem.companyId;
      //this.$refs.refItemCostLine.initialize();

      if (value == true) {
        this.$refs.refItemCostLine.itemCostLineItems = this.editedItem.itemCostLineModels;
      } else {
        this.$refs.refItemCostLine.initialize();
      }
    },
      createtempVersion() {
      this.editedItem.screenID = "FIN5205";
      tempVersion(this.editedItem)
        .then((response) => {
          if (response != undefined) {
            this.tempVersionId = response.data;
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    deleteTempVersion() {
      deleteVersion(this.tempVersionId)
        .then((response) => {
          if (response != undefined) {
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    undoTempVersion() {
      this.loader = true;
      undoVersion(this.tempVersionId)
        .then((response) => {
          if (response != undefined) {
            this.editedItem = Object.assign({}, response.data);
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.editedItem);
      deleteItemCost(this.editedItem)
        .then(() => {
          this.add();
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getItemCost(this.searchItem)
        .then(response => {
           if (response.data != undefined && response.data != null) {
          if (response.data.itemCostId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.itemCostId)
              .indexOf(response.data.itemCostId);
            this.editedIndex = index;
            this.loadLines(false);
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
          }
          } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.id = this.editedItem.itemCostId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.id = this.editedItem.itemCostId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.id = this.editedItem.itemCostId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.id = this.editedItem.itemCostId;
      this.toolfunction();
    },
    versionListShow() {
      this.versionListdialog = true;
      this.$refs.refVersions.sessionID = this.editedItem.versionSessionId;
      this.$refs.refVersions.versionData = [];
      setTimeout(() => {
        this.$refs.refVersions.getversions();
      }, 1500);
    },

    versionclose() {
      this.versiondialog = false;
    },
    versionListclose() {
      this.versionListdialog = false;
    },
    versionsave() {
      if (this.$refs.form.validate()) {
        this.saveVersionData = false;
        this.saveAndUpdate();
        this.versiondialog = false;
      }
    },
    newversion() {
      this.referencedialog = true;
      this.versiondialog = false;
      this.referenceInfo = "";
    },
    updateVersion() {
      this.$refs.refItemCostLine.itemCostId = this.editedItem.itemCostId;
      this.$refs.refItemCostLine.enableAddButton = false;
      //this.$refs.refItemCostLine.itemCostLineItems = [];

      if (this.editedItem.itemCostId > 0) {
        this.loader = true;
        //Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.saveVersionData = this.saveVersionData;
        updateItemCostVersion(this.editedItem)
          .then((response) => {
            this.loader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            //this.$refs.refItemCostLine.itemCostLineItems = [];
            this.$refs.refItemCostLine.itemCostId = response.data.itemCostId;
            this.$refs.refItemCostLine.initialize();
            this.saveVersionData = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    referencesave() {
       this.editedItem.referenceInfo = this.referenceInfo;
       this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.referencedialog = false;

      if (this.$refs.form.validate()) {
        this.referencedialog = false;
        this.loader = true;
        this.editedItem.screenID = "FIN5205";
        createVersion(this.editedItem)
          .then(response => {
            if (response != undefined) {
              this.editItem(this.editedItem);
              this.loader = false;
              this.referenceInfo = "";
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.VERSION);
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    referenceclose() {
      this.referencedialog = false;
      this.referenceInfo = "";
    },
    referencecancel() {
      this.referenceInfo = "";
    },
    undoVersion() {
      this.editedItem = Object.assign({}, this.cacheData);
      this.editedItem.isVersionData = true;
    },
    add() {
      this.enableVersionButton = true;
      this.loadDropDown();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.$refs.refItemCostLine.enableAddButton = true;
      this.$refs.refItemCostLine.itemCostLineItems = [];
    },

    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteItemCost(this.editedItem)
        .then(() => {
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.form.validate()) {
          this.saveAndUpdate();
      }
    },
    saveAndUpdate() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedItem.itemCostId > 0) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          //ver
          this.editedItem.saveVersionData = this.saveVersionData;
          this.editedItem.referenceInfo = this.referenceInfo;
          this.editedItem.screenID = this.screenID;
          if (
            this.editedItem.isVersionData &&
            this.editedItem.saveVersionData == false
          ) {
            this.updateVersion(this.editedItem);
          } else {
            if (this.editedItem.saveVersionData == true) {
              this.editedItem.itemCostLineModels = this.$refs.refItemCostLine.itemCostLineItems;
            }

            updateItemCost(this.editedItem)
              .then((response) => {
                this.loader = false;
                this.editedItem.sessionId = response.data.sessionId;
                this.editedItem.versionSessionId =
                  response.data.versionSessionId;
                this.loadLines(false);
                this.initialize();
                 if (this.saveVersionData == true) {
                    window.getApp.$emit("APP_API_SUCCESS", "Version Created Successfully");
                  }
                  else {
                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                  }
                  this.saveVersionData = false;
                  this.enableVersionButton = false;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createItemCost(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem = response.data;
              this.sessionId = this.editedItem.sessionId;
              this.editedItem.sessionId = response.data.sessionId;
              this.editedItem.versionSessionId = response.data.versionSessionId;
              this.saveVersionData = false;
              this.enableVersionButton = false;
              this.initialize();
              this.loadLines(false);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.loader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
     versionEditClick(item) {
      this.$refs.editVersionConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    versioneditItem(item) {
      this.loader = true;
      this.$refs.refVersions.versionloaders = true;
      this.$refs.editVersionConfirmationDialog.close();
      applyVersion(this.selectedItem.versionData)
        .then(response => {
          if (response != undefined) {
            this.loader = false;
            this.$refs.refVersions.versionloaders = false;
            this.editedItem = Object.assign({}, response.data);
            this.versionListdialog = false;
             this.isSyncWithNavision =
        this.editedItem.isSyncWithNavision == true ? "true" : "false";
      this.selectIsSyncNavision();
      this.loadLines(true);
            this.$refs.refItemCostLine.initialize();
            this.$refs.refItemCostLine.enableAddButton = false;
          }
        })
        .catch(error => {
          this.loader = false;
          this.$refs.refVersions.versionloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
   
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>   