<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="MarginInformation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" fullscreen>
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Margin Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="undoTempVersion">
                <v-icon color="white">undo</v-icon>
              </v-btn>
              <span>Undo applied version to current data</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="enableVersionButton"
                @click.native="versionListShow"
              >
                <v-icon color="white">history</v-icon>
              </v-btn>
              <span>View version list</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <!--   <v-flex xs12 sm4>
                  <v-autocomplete
                    :loading="loader"
                    chips
                    flat
                    label="Company"
                    prepend-icon="notes"
                    v-model="editedItem.companyID"
                    :items="companyItems"
                    item-text="description"
                    item-value="plantID"
                  ></v-autocomplete>
                  </v-flex>-->

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Distributor Name"
                      prepend-icon="notes"
                      v-model="editedItem.distirbutorID"
                      :items="distributorNameItems"
                      item-text="companyListingName"
                      item-value="companyListingID"
                    ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Distribute For"
                      prepend-icon="notes"
                      v-model="editedItem.distributeForId"
                      item-text="description"
                      item-value="plantID"
                      :items="companies"
                    ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Sales to Customer"
                      prepend-icon="notes"
                      v-model="editedItem.companyID"
                      :items="customerNameItems"
                      item-text="companyName"
                      item-value="companyListingID"
                    ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-menu
                      ref="poDateDue"
                      v-model="poDateDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="fromDateFormated"
                        label="Validity From"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearableregistrationDateOfExpiry"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.validFrom"
                        type="month"
                        @change="poDateDue = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-menu
                      ref="poDateDue1"
                      v-model="poDateDue1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="tillDateFormated"
                        label="Validity To"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearableregistrationDateOfExpiry1"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.validTo"
                        type="month"
                        @change="poDateDue1 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <!-- 
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.needToKeepTrackVersion" label="Need to Track the Version" prepend-icon="select_all"></v-text-field>
                  </v-flex>-->

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.marginPercentage"
                      label="Margin Percentage"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="text"
                      item-value="value"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
              <MarginInformationLine
                ref="refmarginInformationLine"
              ></MarginInformationLine>
            </v-card-text>
          </div>
        </v-card>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <v-dialog v-model="referencedialog" persistent max-width="600px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="referenceclose">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-flex xs12 sm12>
          <v-textarea
            v-model="referenceInfo"
            label="Reference"
            prepend-icon="description"
            required
            :rules="referenceRuels"
          ></v-textarea>
        </v-flex>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            outline
            color="primary"
            slot="activator"
            :loading="loader"
            @click.native="referencesave"
            >SAVE</v-btn
          >
          <v-btn
            outline
            color="primary"
            slot="activator"
            :loading="loader"
            @click.native="referencecancel"
            >clear</v-btn
          >
          <v-btn
            outline
            color="primary"
            slot="activator"
            @click.native="referenceclose"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="versionListdialog" persistent max-width="900px">
      <versions
        ref="refVersions"
        title="Margin Infermation Versions"
        :screenID="editedItem.screenID"
        :closeMethod="versionListclose"
        controller="MarginInformation"
        action="GetMarginInformationVersion"
        :versionMethod="versioneditItem"
      ></versions>
    </v-dialog>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
       :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="gridloader"
      default-sort="purchaseOrderId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.distirbutor }}</td>
          <td class="text-xs-left">{{ props.item.distributeFor }}</td>
          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.validFrom | monthYear }}</td>
          <td class="text-xs-left">{{ props.item.validTo | monthYear }}</td>
          <!-- <td class="text-xs-left">{{ props.item.needToKeepTrackVersion }}</td> -->
          <td class="text-xs-left">{{ props.item.marginPercentage }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="justify-center layout px-0">
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="refversionApplyDialog"
      heading="Are You Sure You Want To Apply this Version?"
      message="Are You Sure You Want To Apply this Version?"
      @onConfirm="OnApplyConfirm"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { getPlants } from "@/api/nav";
import GlobalMessage from "@/constant";
import moment from "moment";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getRegistrationVariation } from "@/api/registrationVariation";
import { getCodeMasterByType } from "@/api/applicationUser";
import {
  getCompanyListings,
  getCompanyListingCompanyType,
  getCompanyListingForBuyerDistributor,
} from "@/api/companyListing";
import versions from "@/components/Versions/versions";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import MarginInformationLine from "@/pages/productionplanning/finance/MarginInformationLine";
import {
  createMarginInformation,
  getSearchData,
  getMarginInformation,
  updateMarginInformation,
  deleteMarginInformation,
  createVersion,
  applyVersion,
  tempVersion,
  undoVersion,
  deleteVersion,
} from "@/api/marginInformation";
export default {
  components: {
    MarginInformationLine,
    versions,
  },
  data: () => ({
    dialog: false,
    gridloader: false,
    search: "",
    totalRows: 0,
    loader: false,
    poDateDue: false,
    poDateDue1: false,
    registrationFormatFlag: true,
    editedIndex: -1,
    searchTag: "",
    searchFilter: "",
    companies: [],
    distributorNameItems: [],
    customerNameItems: [],
    gridItems: [],
    tempVersionId: -1,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    referenceRuels: [(v) => !!v || "Reference is required"],
    referenceInfo: "",
    referencedialog: false,
    enableVersionButton: true,
    versionListdialog: false,
    versionUpdatedialog: false,
    screenID: "FIN5202",
    editedItem: {
      distirbutorID: null,
      companyID: null,
      distributeForId: null,
      validFrom: null,
      validTo: null,
      needToKeepTrackVersion: 1,
      marginPercentage: "",
      valid: false,
      marginInformationID: -1,
      date: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      screenID: "FIN5202",
      versionSessionId: null,
      referenceInfo: "",
      marginInformationLineModels: [],
    },
    defaultItem: {
      distirbutorID: null,
      marginInformationID: -1,
      companyID: null,
      distributeForId: null,
      validFrom: null,
      validTo: null,
      needToKeepTrackVersion: 1,
      marginPercentage: "",

      valid: false,
      marginInformationID: -1,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      screenID: "FIN5202",
      versionSessionId: null,
      referenceInfo: "",
      marginInformationLineModels: [],
    },
    cacheData: {
      distirbutorID: null,
      marginInformationID: -1,
      companyID: null,
      distributeForId: null,
      validFrom: null,
      validTo: null,
      needToKeepTrackVersion: 1,
      marginPercentage: "",

      valid: false,
      marginInformationID: -1,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      screenID: "FIN5202",
      versionSessionId: null,
      referenceInfo: "",
      marginInformationLineModels: [],
    },
    filterFields: [
      "Distirbutor.CompanyName",
      "DistributeFor.PlantCode",    
    ],
    headers: [
      { text: "Distributor", value: "distirbutor", align: "left" },
      { text: "Distribute For", value: "distributeFor", align: "left" },
      { text: "Sales To Customer", value: "companyName", align: "left", sortable: false, },
      { text: "Valid From", value: "validFrom", align: "left" },
      { text: "Valid To", value: "validTo", align: "left" },
      // { text: "Need To Keep TrackVersion", value: "needToKeepTrackVersion", align: "left" },
      {
        text: "Basic Margin Percentage",
        value: "marginPercentage",
        align: "left",
      },
      { text: "Status", value: "statusCode", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      Distributor: "distirbutor",
      "Distribute For": "distributeFor",
      "Company Name": "companyName",
      "Valid From           ": "validFrom",
      ValidTo: "validTo",
      // "NeedToKeepTrackVersion": "needToKeepTrackVersion",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate",
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    selectedItem: [],
    saveVersionData: false,
    searchItem: { action: "", Id: null, searchString: "searchString" },
    items: [
      {
        icon: "history",
        href: "#",
        title: "Create Version",
        click: (e) => {},
      },
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
    ],
  }),
  created() {
    this.initialize();
  },
  watch: {
    /*  dialog (val) {
         val || this.close();
       }, */
  },
  computed: {
    formTitle() {
      return this.editedItem.marginInformationID < 0
        ? "Add Margin Information"
        : "Edit Margin Information";
    },
    fromDateFormated() {
      return this.editedItem.validFrom
        ? moment(this.editedItem.validFrom).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },

    tillDateFormated() {
      return this.editedItem.validTo
        ? moment(this.editedItem.validTo).format(GlobalMessage.MONTHYEARFORMAT)
        : "";
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
  },
  methods: {
    initialize() {
      this.subloader = true;
      getApplicationMasterDetailByType(190)
        .then((response5) => {
          this.companyItems = response5.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.subloader = false;
        });

      this.loadDropdownList();
    },
    clearableregistrationDateOfExpiry() {
      this.editedItem.validFrom = null;
    },
    clearableregistrationDateOfExpiry1() {
      this.editedItem.validTo = null;
    },
    menuClick(key, item) {
      if (key == 0) {
        this.referencedialog = true;
        this.editedItem = item;
        this.editedItem.referenceInfo = "";
        this.referenceInfo = "";
      } else if (key == 1) {
        this.editedItem = Object.assign({}, item);
        this.editItem(item);
        this.createtempVersion();
      } else if (key == 2) {
        this.onDeleteItem(item);
      }
    },
    loadDropdownList() {
      // this.loader = true;
      // getMarginInformation()
      //   .then((response) => {
      //     this.gridItems = response.data;
      //     this.Items = response.data;
      //     this.loader = false;
      //   })
      //   .catch((error) => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });

      this.loader = true;
      getCompanyListingForBuyerDistributor()
        .then((response) => {
          this.distributorNameItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getPlants()
        .then((response) => {
          this.companies = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.loader = true;
      getCompanyListingCompanyType("Customer")
        .then((response) => {
          this.customerNameItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadLines(status) {
      this.$refs.refmarginInformationLine.marginInformationID = this.editedItem.marginInformationID;
      this.$refs.refmarginInformationLine.companyID = this.editedItem.companyID;
      this.$refs.refmarginInformationLine.distributeForID = this.editedItem.distributeForId;
      this.$refs.refmarginInformationLine.enableAddButton = status;
      this.$refs.refmarginInformationLine.initialize();
    },
    companyChange(value) {},
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "MarginInformationID";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetMarginInformation";
      search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "distributor") {
        search.sortCol = "Distirbutor.CompanyName";
      } else if (args.sortBy == "distributeFor") {
        search.sortCol = "DistributeFor.PlantCode";
      } 
       else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetMarginInformation";
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.form.validate()) {
        this.saveAndUpdate();
      }
    },
    saveAndUpdate() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        if (this.editedItem.marginInformationID > 0) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.saveVersionData = this.saveVersionData;
          this.editedItem.screenID = this.screenID;
          this.editedItem.referenceInfo = this.referenceInfo;
          updateMarginInformation(this.editedItem)
            .then((response) => {
              this.loader = false;
              if (this.saveVersionData == true) {
                window.getApp.$emit(
                  "APP_API_SUCCESS",
                  "Version Created Successfully"
                );
              } else {
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              }
              this.saveVersionData = false;
              this.enableVersionButton = false;
              this.initialize();
              this.loadLines(false);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.marginInformationID =
            parseInt(Math.random() * 100) + 1024;
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createMarginInformation(this.editedItem)
            .then((response2) => {
              this.loader = false;
              this.initialize();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.editedItem.marginInformationID =
                response2.data.marginInformationID;
              this.$refs.refmarginInformationLine.marginInformationID = this.editedItem.marginInformationID;
              this.$refs.refmarginInformationLine.companyID = this.editedItem.companyID;
              this.$refs.refmarginInformationLine.enableAddButton = false;
              this.$refs.refmarginInformationLine.distributeForID = this.editedItem.distributeForId;

              this.$refs.refmarginInformationLine.initialize();
              this.enableVersionButton = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    add() {
      this.loadDropdownList();
      this.editedItem.marginInformationID = -1;
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.distirbutorID = null;
      this.editedItem.distributeForId = null;
      this.editedItem.companyID = null;
      this.editedItem.needToKeepTrackVersion = 1;
      this.editedItem.validFrom = null;
      this.editedItem.validTo = null;
      this.enableVersionButton = true;
      (this.editedItem.marginPercentage = ""),
        (this.editedItem.statusCodeID = 1);
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.$refs.refmarginInformationLine.marginInformationID = this.editedItem.marginInformationID;
      this.$refs.refmarginInformationLine.companyID = this.editedItem.companyID;
      this.$refs.refmarginInformationLine.distributeForID = this.editedItem.distributeForId;
      this.$refs.refmarginInformationLine.enableAddButton = true;
      this.$refs.refmarginInformationLine.margingInformationLineItems = [];
    },

    saveAndClose() {
      this.save();
      this.close();
    },
    addFormDialog() {
      this.add();
    },
    editItem(item) {
      setTimeout(() => {
        this.editedItem = Object.assign({}, item);
        this.editedItem.valid = false;
        this.loadLines(false);
        this.enableVersionButton = false;
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
      this.deleteTempVersion();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.marginInformationID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteMarginInformation(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            this.initialize();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.marginInformationID;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.marginInformationID;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.marginInformationID;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.marginInformationID;
      this.toolfunction();
    },
    toolfunction() {
      getSearchData(this.searchItem)
        .then((response) => {
          if (response.data.marginInformationID != null) {
            this.editedItem = response.data;
            this.initialize();
            this.loadLines(false);
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    versionListShow() {
      this.versionListdialog = true;

      this.$refs.refVersions.versionData = [];
      if (this.editedItem.versionSessionId != null) {
        this.$refs.refVersions.sessionID = this.editedItem.versionSessionId;
        setTimeout(() => {
          this.$refs.refVersions.getversions();
        }, 1500);
      }
    },
    versionListclose() {
      this.versionListdialog = false;
    },

    versioneditItem(item) {
      this.$refs.refversionApplyDialog.openDialog();
      this.selectedItem = item;
    },
    OnApplyConfirm() {
      this.loader = true;
      this.$refs.refVersions.versionloaders = true;
      applyVersion(this.selectedItem.versionData)
        .then((response) => {
          if (response != undefined) {
            this.loader = false;
            this.$refs.refVersions.versionloaders = false;
            this.editedItem = Object.assign({}, response.data);
            this.versionListdialog = false;
            this.selectedItem = null;
            this.$refs.refversionApplyDialog.close();
            this.loadLines(false);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    referencesave() {
      this.referencedialog = false;
      this.loader = true;
      this.editedItem.referenceInfo = this.referenceInfo;
      if (this.$refs.form.validate()) {
        this.editedItem.screenID = this.screenID;
        createVersion(this.editedItem)
          .then((response) => {
            if (response != undefined) {
              this.editItem(this.editedItem);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.VERSION);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    referenceclose() {
      this.referencedialog = false;
      this.referenceInfo = "";
    },
    referencecancel() {
      this.referenceInfo = "";
    },
    createtempVersion() {
      this.editedItem.screenID = this.screenID;
      tempVersion(this.editedItem)
        .then((response) => {
          if (response != undefined) {
            this.tempVersionId = response.data;
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    deleteTempVersion() {
      deleteVersion(this.tempVersionId)
        .then((response) => {
          if (response != undefined) {
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    undoTempVersion() {
      this.loader = true;
      undoVersion(this.tempVersionId)
        .then((response) => {
          if (response != undefined) {
            this.editedItem = Object.assign({}, response.data);
            this.loader = false;
            this.loadLines(false);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>