
<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Registration Format.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" fullscreen>
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Quotation History</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.addedDate"
                      label="Date"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.addedByUser"
                      label="Requester"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Calender Event"
                      prepend-icon="notes"
                      :rules="calenderEventRules"
                      v-model="editedItem.calenderEventId"
                      :items="calenderEventItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      @change="onChnageCalenderEvent"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm4
                    v-show="
                      calenderEventName.toLowerCase().trim() !=
                      'calender assistance'
                    "
                  >
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Company"
                      prepend-icon="notes"
                      v-model="editedItem.companyId"
                      :items="companyItems"
                      item-text="description"
                      item-value="plantID"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm4
                    v-show="
                      calenderEventName.toLowerCase().trim() !=
                      'calender assistance'
                    "
                  >
                    <v-autocomplete
                      label="Site"
                      prepend-icon="notes"
                      v-model="editedItem.siteId"
                      :items="siteItems"
                      item-text="name"
                      item-value="ictMasterID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm4
                    v-show="
                      calenderEventName.toLowerCase().trim() ==
                      'calender assistance'
                    "
                  >
                    <v-autocomplete
                      label="User"
                      :loading="loader"
                      prepend-icon="people"
                      v-model="editedItem.userId"
                      :items="userItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userID"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm4
                    v-show="
                      calenderEventName.toLowerCase().trim() ==
                      'calender assistance'
                    "
                  >
                    <span>Require assistance to arrange</span>
                    <v-radio-group
                      v-model="editedItem.requireAssistanceFlag"
                      row
                    >
                      <v-radio label="Yes" value="Yes"></v-radio>
                      <v-radio label="No" value="No"></v-radio>
                    </v-radio-group>
                  </v-flex>
                    <v-flex xs12 sm12> 
                      <company-calendar-line
                      ref="refCompanyCalendarLine"
                    ></company-calendar-line>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="loader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
              :loading="loader"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Quotation History Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="loading"
      default-sort="companyCalendarId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.calenderEventName }}</td>
          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.siteName }}</td>
          <td class="text-xs-left">
            {{
              props.item.modifiedByUser == ""
                ? props.item.addedByUser
                : props.item.modifiedByUser
            }}
          </td>
          <td class="text-xs-left">
            {{
              props.item.modifiedDate == null
                ? props.item.addedDate
                : props.item.modifiedDate | formatDate
            }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              :disabled="props.item.sessionId == null"
              @click="fileAttachments(props.item)"
              >attach_file</v-icon
            >
            <v-icon small class="mr-2" @click="editItem(props.item)"
              >edit</v-icon
            >
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <delete-confirmation-dialog
        ref="deleteConfirmationDialog1"
        heading="Are You Sure You Want To Close?"
        message="Are You Sure You Want To Close? Files Not Updloaded"
        @onConfirm="fileconformationMessage"
      ></delete-confirmation-dialog>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { getApplicationUsers } from "@/api/userGroup";
import attachment from "@/components/Attachment/attachments";
import { getICTMasterByID } from "@/api/ictmaster";
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getPlants } from "@/api/plant";
import CompanyCalendarLine from "@/pages/calendar/companyCalendarLine";
import {
  createCompanyCalendar,
  getDataList,
  updateCompanyCalendar,
  deleteCompanyCalendar,
} from "@/api/CompanyCalendar";
import { getData } from "@/api/paggedapi";
import search from "@/search";
export default {
  components: {
    CompanyCalendarLine,
    attachment,
  },
  data: () => ({
    userItems: [],
    loading: false,
    totalRows: 0,
    eventDateDue: false,
    screenID: "",
    uploadbtn: true,
    sessionId: null,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    showdownload: false,
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    attachdialog: false,
    dialog: false,
    search: "",
    loader: false,
    searchTag: "",
    searchFilter: "",
    companyItems: [],
    calenderEventItems: [],
    gridItems: [],
    isAddEvent: false,
    siteItems: [],
    editedItem: {
      companyCalendarId: -1,
      calendarEventDate: null,
      sessionId: null,
      siteId: null,
      calenderEventId: -1,
      companyId: null,
      valid: false,
      siteId: null,
      addedByUserID: null,
      addedDate: new Date(),
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
      addedByUser: null,
      userId: null,
      requireAssistanceFlag: "No",
    },
    defaultItem: {
      companyCalendarId: -1,
      calendarEventDate: null,
      sessionId: null,
      siteId: null,
      calenderEventId: -1,
      companyId: null,
      valid: false,
      siteId: null,
      addedByUserID: null,
      addedDate: new Date(),
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
      addedByUser: null,
      userId: null,
      requireAssistanceFlag: "No",
    },
    filterFields: ["Company.Description", "Site.Name", "AddedByUser.UserName"],
    headers: [
      {
        text: "Calender Event",
        value: "calenderEventName",
        align: "left",
        sortable: false,
      },
      { text: "Company", value: "companyName", align: "left" },
      { text: "Site", value: "siteName", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      {
        text: "Modified Date",
        value: "modifiedDate",
        align: "left",
        sortable: false,
      },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "Calender Event": "calenderEventName",
      Company: "companyName",
      Site: "siteName",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate",
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    calenderEventName: "",
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedItem.companyCalendarId < 0
        ? "Add Company Calendar"
        : "Edit Company Calendar";
    },
    calenderEventRules() {
      return [(v) => !!v || "This field is required"];
    },
    calenderDateEventRules() {
      return [(v) => !!v || "This field is required"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    initialize() {
     
    },
    loadDropdownList() {
      this.loader = true;
      getApplicationMasterDetailByType(278)
        .then((response) => {
          this.calenderEventItems =response.data.filter(
            (o) => o.value.toLowerCase().trim() != "calender assistance"
          );
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getPlants("")
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getICTMasterByID(570)
        .then((response) => {
          this.siteItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page = 1;
      search.sortCol = "CompanyCalendarID";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetCompanyCalendarItems";

      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "companyName") {
        search.sortCol = "Company.Description";
      } else if (args.sortBy == "siteName") {
        search.sortCol = "Site.Name";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetCompanyCalendarItems";
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getProductLinesTab(status) {
      this.$refs.refCompanyCalendarLine.calenderEventName = "";
      this.$refs.refCompanyCalendarLine.companyCalendarId =
        this.editedItem.companyCalendarId;
      this.$refs.refCompanyCalendarLine.enableAddButton = status;
      this.$refs.refCompanyCalendarLine.calenderEventId =
        this.editedItem.calenderEventId;
      let list = this.calenderEventItems.filter(
        (o) => o.applicationMasterDetailId == this.editedItem.calenderEventId
      );
      if (list.length > 0) {
        this.$refs.refCompanyCalendarLine.calenderEventName = list[0]["value"]
          .toLowerCase()
          .trim();
      }
      this.$refs.refCompanyCalendarLine.requireAssistanceFlag =
        this.editedItem.requireAssistanceFlag;
      this.$refs.refCompanyCalendarLine.initialize();
    },
    onChnageCalenderEvent(value) {
      let list = this.calenderEventItems.filter(
        (o) => o.applicationMasterDetailId == value
      );
      if (list.length > 0) {
        this.calenderEventName = list[0]["value"].toLowerCase().trim();
      }
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        if (this.editedItem.companyCalendarId > 0) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          updateCompanyCalendar(this.editedItem)
            .then((response) => {
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.editedItem.sessionId = response.data.sessionId;
              this.loadPagingData();
              this.getProductLinesTab(false);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createCompanyCalendar(this.editedItem)
            .then((response2) => {
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.editedItem.companyCalendarId =
                response2.data.companyCalendarId;
              this.getProductLinesTab(false);
              this.attachfiles = new FormData();
              this.sessionId = response2.data.sessionId;
              this.subloader = false;
              this.uploadbtn = false;
              this.loadPagingData();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    add() {
      this.uploadbtn = true;
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      this.uploadedAttachment = new FormData();
      this.attachfiles = new FormData();
      this.sessionId = "";

      this.loadDropdownList();
      this.editedItem.valid = false;
      this.editedItem.companyCalendarId = -1;
      this.editedItem.companyId = null;
      this.editedItem.calenderEventId = null;
      this.editedItem.siteId = null;
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.editedItem.addedByUser = this.$store.state.auth.userName;
      this.editedItem.addedDate = this.$options.filters.formatDate(new Date());
      this.editedItem.userId = null;
      this.editedItem.requireAssistanceFlag = "No";
      this.getProductLinesTab(true);
    },
    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      this.sessionId = item.sessionId;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    //file upload

    saveAndClose() {
      this.save();
      this.close();
    },
    addFormDialog() {
      this.add();
    },
    editItem(item) {
      this.loadDropdownList();
      setTimeout(() => {
        this.editedItem = Object.assign({}, item);
        this.calenderEventName = item.calenderEventName;
        this.editedItem.valid = false;
        if (this.editedItem.sessionId != null) {
          this.sessionId = this.editedItem.sessionId;
          this.companyCalendarId = this.editedItem.companyCalendarId;
          this.uploadbtn = false;
        }
        this.getProductLinesTab(false);
        if (this.editedItem.addedDate != null) {
          this.editedItem.addedDate = this.$options.filters.formatDate(
            this.editedItem.addedDate
          );
        } else {
          this.editedItem.addedDate = this.$options.filters.formatDate(
            new Date()
          );
        }
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
      }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.companyCalendarId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteCompanyCalendar(this.editedItem)
          .then((response) => {
            this.loader = false;
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.companyCalendarId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.companyCalendarId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.companyCalendarId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.companyCalendarId;
      this.toolfunction();
    },
    toolfunction() {
      getDataList(this.searchItem)
        .then((response) => {
          if (response.data.companyCalendarId != null) {
            this.editedItem = response.data;
            this.getProductLinesTab(false);
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 120px - 60px);
 }
</style>