<template>
    <div id="page-forms">

        <v-card>

            <v-toolbar card dense color="transperent">

                <v-tooltip bottom>
                    <v-btn icon slot="activator" flat color="primary" @click.native="opentree">
                        <v-icon>timeline</v-icon>
                    </v-btn>
                    <span>Task Tree </span>
                </v-tooltip>

                <v-tooltip bottom>
                    <v-btn icon color="primary" slot="activator" flat :loading="loader" @click.native="saveMain" :disabled="!isEdit">
                        <v-icon>save</v-icon>
                    </v-btn>
                    <span>Save </span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn color="primary" icon slot="activator" flat @click.native="deleterow" :loading="loader" :disabled="readonlyTask">
                        <v-icon>delete</v-icon>
                    </v-btn>
                    <span>Delete Item Classification </span>
                </v-tooltip>
               
                <v-spacer></v-spacer>

                <v-tooltip bottom>
                    <v-btn color="primary" icon="" slot="activator" flat @click="addSubClassification()">
                        <v-icon icon>
                            add_circle_outline
                        </v-icon>
                    </v-btn>
                    <span>Add Sub Classification </span>
                </v-tooltip>

                <v-tooltip bottom>
                    <v-btn icon="" color="primary" slot="activator" flat @click="goBack">
                        <v-icon icon>
                            reply
                        </v-icon>
                    </v-btn>
                    <span>Go Back </span>
                </v-tooltip>

            </v-toolbar>

            <v-navigation-drawer class="setting-drawer" temporary left v-model="treedrawer" hide-overlay fixed width="600px" :loding='loader'>
                <v-toolbar color="primary" dark>
                    <v-toolbar-title>
                        File Profile Tree
                    </v-toolbar-title>
                </v-toolbar>
                <v-text-field flat label="Search" solo-inverted v-model="filterSearch" appendIcon="search"></v-text-field>

                <div style="overflow:auto;height:calc(100vh - 70px)">
                    <v-container>
                        <v-layout column>
                            
                            <app-section-loader :status="loader"></app-section-loader>
                            <vue-drag-tree :data='items' @current-node-clicked='curNodeClicked' :disableDBClick='true' :expandAll='true' :active="fileProfileTypeId"></vue-drag-tree>

                        </v-layout>
                    </v-container>
                    <!-- </vue-perfect-scrollbar> -->
                </div>
            </v-navigation-drawer>

            <v-dialog v-model="classificationdialog" fullscreen>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveSubDialog">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save </span>
                        </v-tooltip>

                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" flat @click.native="closeSubDialog" :loading="loader">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Close </span>
                        </v-tooltip>
                    </v-toolbar>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div class="task-sub--scroll">

                        <!-- <vue-perfect-scrollbar class="task-sub--scroll"> -->
                        <v-card-text>
                            <subitem-classification-tab ref="refsubclassificationTabForm"></subitem-classification-tab>
                        </v-card-text>
                    </div>
                    <!-- </vue-perfect-scrollbar> -->
                    <v-card-actions>
                        <v-spacer></v-spacer>

                        <v-btn color="primary darken-1" outline @click.native="saveSubDialog">
                            Save
                        </v-btn>

                        <v-btn color="primary darken-1" outline @click.native="closeSubDialog">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-dialog v-model="editdialog" fullscreen>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="updateClassification" :loading="loader">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save Classification</span>
                        </v-tooltip>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="editdialogClose()" :loading="loader">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Close</span>
                        </v-tooltip>
                    </v-toolbar>
                    <!-- <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title> -->

                    <v-card-text>
                        <vue-perfect-scrollbar class="securityform--scrollbar" v-bind:style="computeHeight">
                            <item-classificationTab ref="refclassificationTabForm"></item-classificationTab>
                        </vue-perfect-scrollbar>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" outline @click="updateClassification">Save</v-btn>
                        <v-btn color="primary darken-1" outline @click="editdialogClose">Close</v-btn>

                    </v-card-actions>
                </v-card>
            </v-dialog>
            <v-layout justify-space-between pa-3>
                <v-flex xs12>
                    <itemClassification-form ref="refclassificationForm"></itemClassification-form>
                    <!-- <classification-tabform            
            ref="refClassificationTab"
          ></classification-tabform>          -->

                </v-flex>
                <!-- </vue-perfect-scrollbar> -->
            </v-layout>
            <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
            </delete-confirmation-dialog>

        </v-card>
    </div>
</template>
<script>
    import SubitemClassificationTab from '@/pages/FileProfileType/FileProfileTypeTabSubTab';
    import ItemClassificationTab from '@/pages/FileProfileType/FileProfileTypeTab';
    import ItemClassificationForm from '@/pages/FileProfileType/FileProfileTypeForm';
    import TreeMenu from '@/pages/task/treeMenu';
    import GlobalMessage from '@/constant'
    import { getItemClassificationAccess, getItemClassificationSubItems } from '@/api/itemClassification';
    import {
        getFileProfileTypeParentId,
        deleteFileProfileTypeByChild,
        getFileProfileTypeTree
    } from "@/api/fileProfileType";
    export default {
        components: {
            SubitemClassificationTab,
            TreeMenu,
            ItemClassificationForm,
            ItemClassificationTab,
        },
        name: 'Page2',
        data: () => ({

            searchTo: "",
            searchdiscussionTo: "",
            itemClassificationtreeItems: [],
            classificationItems: [],
            scrollSettings: {
                maxScrollbarLength: 130
            },
            editdialog: false,
            treedrawer: false,
            loader: false,
            hasPermission: false,
            classificationdialog: false,
            subclassificationdialog: false,
            active: [],

            taskdetailsloader: false,
            isNotes: false,
            subTaskitems: [],
            isRead: true,
            isDelete: true,
            isEdit: true,
            fileProfileTypeId: null,
            paerntID: -1,
            viewList: 'list',

            formTitle: 'Item Classification',

            panel: [],
            formEditdata: {
                fileProfileTypeId: -1,
                parentId: null,
                name: '',
                description: '',
                profileId: null,
                addedByUserID: null,
                addedDate: new Date().toISOString().substr(0, 10),
                addedByUser: '',
                statusCodeID: 1,
                statusCode: 'Active',
                modifiedByUserID: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
            },
            loader: false,
            subtasktriggered: false,
            readonlyTask: false,
            selectedTask: [],
            userId: -1,
            userItems: [],
            filterSearch: "",
            goBackText: '',
            searchString: {
                id: null, masterTypeID: null, userId: null,
            },
        }),
        created () {
            this.userId = Number(this.$store.state.auth.userId);
            this.fileProfileTypeId = this.$route.query.fileProfileTypeId;
            this.goBackText = this.$route.query.goback;
            this.actionButton = true;
            this.initialize();
            window.getApp.$on("LOAD_ITEM_CLASSIFICATION_TREE", () => {
                this.initialize();
            });
        },
        beforeDestroy () {
            window.getApp.$off('ITEMLOAD');
            window.getApp.$off("LOAD_ITEM_CLASSIFICATION_TREE");
        },
        computed: {


            computeHeight () {
                return {
                    height: this.height || ''
                };
            },
            selected () {

                if (!this.active.length) {
                    if (this.fileProfileTypeId > 0) {

                        this.active.push(this.fileProfileTypeId);

                    }
                    else {
                        return undefined
                    }
                }
                const id = this.fileProfileTypeId;
                let editdata = this.classificationItems.find(classification => classification.fileProfileTypeId == id);

                let index = this.classificationItems.map(item => item.fileProfileTypeId).indexOf(id)
                this.editedIndex = index;
                this.formEditdata = editdata;
                this.editDetails(this.formEditdata);
                //this.treedrawer = true;

            },
            items () {
                if (!this.filterSearch) return this.itemClassificationtreeItems;
                return this.filter(this.itemClassificationtreeItems, this.filterSearch);
                // return this.itemClassificationtreeItems;
            },
        },


        mounted () {
            //this.messageTabCall();
        },

        methods: {
            filter (arr, term) {
                var matches = [];
                if (!Array.isArray(arr)) return matches;

                arr.forEach(i => {
                    if (i.name != undefined) {
                        if (i.name.toLowerCase().includes(term.toLowerCase())) {
                            matches.push(i);
                        } else {
                            let childResults = this.filter(i.children, term);
                            if (childResults.length)
                                matches.push(Object.assign({}, i, { children: childResults }));
                        }
                    }
                    //else {
                    //   matches.push(i);
                    // }
                });

                return matches;
            },
            closeSubDialog () {
                this.classificationdialog = false;
            },

            formatDate (date) {
                let month = `${date.getMonth() + 1}`;
                let day = `${date.getDate()}`;
                const year = date.getFullYear();

                if (month.length < 2) month = `0${month}`;
                if (day.length < 2) day = `0${day}`;

                return [year, month, day].join('-');
            },
            editDetails (item) {

                setTimeout(() => {

                    this.$refs.refclassificationForm.initialize();
                    this.$refs.refclassificationForm.formdata = item;

                }, 100);
                window.getApp.$emit('ITEMLOAD', this.formEditdata.fileProfileTypeId);
            },
            formatDate (date) {
                let month = `${date.getMonth() + 1}`;
                let day = `${date.getDate()}`;
                const year = date.getFullYear();

                if (month.length < 2) month = `0${month}`;
                if (day.length < 2) day = `0${day}`;

                return [year, month, day].join('-');
            },


            initialize () {
                if (this.$route.query.mainfileProfileTypeId > 0) {
                    this.loader = true;
                    let userId = this.$store.state.auth.userId;
                     var includeHidden=userId==47?true:false;
                    getFileProfileTypeTree(this.$route.query.mainfileProfileTypeId, userId,includeHidden)
                        .then(response3 => {
                            if (response3.data != undefined && response3.data.length > 0) {
                                this.itemClassificationtreeItems = response3.data;

                            }
                            else {
                                if (this.$store.state.auth.userId > 0) {
                                    //window.getApp.$emit('APP_API_VAL', 'Looks like there is no more item available in this tree. wait while you will be redirected to item classification view list.');
                                    setTimeout(() => {
                                        //   this.$router.push({ name: 'Task' });
                                    }, 400);
                                }
                            }

                            this.loader = false;
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit('APP_API_ERROR', error);
                        });



                }
                this.getItem();
            },
            getItem () {
                let userId = this.$store.state.auth.userId;
                getFileProfileTypeParentId(this.$route.query.fileProfileTypeId, userId)
                    .then(response3 => {
                        if (response3.data != undefined) {
                            this.formEditdata = response3.data;
                            if(this.$refs.refclassificationForm!=undefined)
                            {
                            this.$refs.refclassificationForm.loadDropDownList();
                            setTimeout(() => {
                                this.$refs.refclassificationForm.formdata = response3.data;
                                this.$refs.refclassificationForm.initialize();
                            }, 400);
                            }
                        }
                        else {

                        }

                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },

            saveMain () {
                this.$refs.refclassificationForm.save();
            },
            edit () {
                this.$refs.refclassificationTabForm.$refs.refclassificationForm.formdata = this.formEditdata;
                //this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.formdata.fileProfileTypeId = this.formEditdata.fileProfileTypeId;
                let id = this.formEditdata.fileProfileTypeId;
                getItemClassificationAccess(id)
                    .then(response => {
                        //this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.gridItems = response.data;
                        this.loader = false;


                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
                let userid = this.$store.state.auth.userId;
                getItemClassificationSubItems(id, userid)
                    .then(response => {
                        if (response.data != undefined) {
                            // this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.itemClassificationItems = response.data;           
                            this.loader = false;
                        }
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
                this.editdialog = true;
            },
            editdialogClose () {
                this.editdialog = false;
                //this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.gridItems = [];
            },
            deleterow () {
                this.$refs.formdeleteConfirmationDialog.openDialog();
            },
            formDeleteItem () {
                this.$refs.formdeleteConfirmationDialog.close();
                this.loader = true;
                this.formEditdata.fileProfileTypeId = this.$route.query.fileProfileTypeId;
                this.searchString.id = this.$route.query.mainfileProfileTypeId;
                this.searchString.masterTypeID = this.$route.query.fileProfileTypeId;
                this.searchString.userId = this.$store.state.auth.userId;
                deleteFileProfileTypeByChild(this.searchString)
                    .then(response => {
                        //this.initialize();
                        if (response != undefined) {
                            if(this.$refs.refclassificationForm!=undefined)
                            {
                            this.$refs.refclassificationForm.add();
                            }
                            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
                        }
                        this.loader = false;
                        if (this.$route.query.mainfileProfileTypeId != this.$route.query.fileProfileTypeId) {
                            this.initialize();
                        }
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },



            close () {
                this.dialog = false;
                setTimeout(() => {
                    this.initialize();
                    this.formEditdata = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 400);
            },
            
            addSubClassification () {
                this.classificationdialog = true;
                this.formTitle = 'Sub Classification for ' + this.formEditdata.name;
                setTimeout(() => {
                    this.$refs.refsubclassificationTabForm.$refs.refsubclassification.add();
                    this.$refs.refsubclassificationTabForm.$refs.refsubclassification.formdata.parentId = this.formEditdata.fileProfileTypeId;
                }, 500);
            },
            saveSubDialog () {
                this.$refs.refsubclassificationTabForm.$refs.refsubclassification.save();
            },
            updateClassification () {
                this.$refs.refclassificationTabForm.$refs.refclassificationForm.save();
            },
            goBack () {
                var goback = this.$cookies.get('reload');
                this.$router.push({ name: 'DMS/fileProfileTypeView', query: { goback: goback } });
            },
            formateDate (string) {
                return string ? new Date(string).toISOString().substr(0, 10) : '';
            },

            curNodeClicked (model, component) {

                //this.fileProfileTypeId = model.fileProfileTypeId;
                this.$route.query.fileProfileTypeId = model.fileProfileTypeId;
                this.getItem();


            },


            dragHandler (model, component, e) {
                //console.log('dragHandler: ', model);
                if (this.taskdrag.fileProfileTypeId == undefined) {
                    console.log('allowDrag', model.taskNumber, model.taskLevel, model.fileProfileTypeId);
                    this.taskdrag.dragParentId = model.parentID;
                    //console.log('dragHandler: ', model);
                    this.taskdrag.taskNumber = model.taskNumber;
                    this.taskdrag.treeLevel = model.treeLevel;
                    this.taskdrag.taskLevel = model.taskLevel;
                    this.taskdrag.fileProfileTypeId = model.id;
                    this.taskdrag.children = model.children;
                    this.taskdrag.name = model.name;
                }
            },

            dropHandler (model, component, e) {
                //console.log('dropHandler: ', model.parentID);

                if (model != null && model.id != undefined && this.taskdrag.fileProfileTypeId != undefined && this.taskdrag.fileProfileTypeId != model.id) {
                    this.taskdrag.parentName = model.name;
                    this.taskdrag.parentID = model.id;
                    this.taskdrag.mainTaskId = model.mainTaskId;
                    this.taskdrag.modifiedByUserID = this.$store.state.auth.userId;

                    this.loader = true;

                    dragDropTask(this.taskdrag)
                        .then(response => {
                            this.taskdrag.fileProfileTypeId = undefined;
                            this.loader = false;
                            this.initialize();
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit('APP_API_ERROR', error);
                        });

                    //console.log(this.taskdrag);

                }
            },
            opentree () {
                this.$vuetify.goTo(0);
                this.treedrawer = true;

            }
        }
    }
</script>

 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 110px - 60px);
     }

     .chat-room--scrollbartree {
         overflow: auto;
         height: calc(100vh - 70px);
     }

     .taskDetails--scrollbar {
         overflow: auto;
         height: calc(100vh - 60px);
     }
</style>