<template >
        <itemClassification-form ref="refclassificationForm"></itemClassification-form>
</template>

<script>
    import ItemClassificationForm from '@/pages/FileProfileType/FileProfileTypeForm';

    export default {
        components: {
            ItemClassificationForm,
        },
        data: () => ({
            height: {
                type: String,
                default: null,
            },
            selectedTab: null,
            actionButton: true,
            scrollSettings: {
                maxScrollbarLength: 140
            },

        }),

        computed: {
            computeHeight () {
                return {
                    height: this.height || ''
                };
            },

        },
        created () {


        },
        beforeDestroy () {

        },
        methods: {
            tabChange (tab) {
                if (tab == 1) {

                }

            }
        }
    };
</script>

 <style lang="stylus" scoped>
     .chat-room--scroll {
         height: calc(100vh - 206px);
     }
</style>