<template>
  <div id="page-forms">
    <v-form v-model="formdata.valid" ref="validateform" lazy-validation>
      <v-flex xs12 v-if="fileProfileTypeId <= 0">
        <h4>Save Item Classification to assign permission.</h4>
      </v-flex>
      <v-container fluid v-else>
        <v-layout row wrap>
          <v-flex xs12 sm4>
            <v-radio-group
              v-model="selected"
              row
              :mandatory="false"
              @change="onUserRadioGroupChanged"
              :disabled="!userPermission"
            >
              <v-radio label="User Group" value="user-group"></v-radio>
              <v-radio label="User" value="user"></v-radio>
               <v-radio
                label="Level"
                value="level"               
              ></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 sm8>
            <v-autocomplete
              v-if="selected == 'user-group'"
              label="User Group"
              :loading="loader"
              :search-input.sync="searchgroup"
              multiple
              prepend-icon="location_city"
              v-model="formdata.userGroupIDs"
              :items="userGroupItems"
              chips
              auto
              item-text="name"
              item-value="userGroupID"
              @change="onUserGroupChange"
              :disabled="!userPermission"
            >
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  class="chip--select-multi"
                  @input="removeUserGroup(data.item)"
                >
                  {{ data.item.name }}
                </v-chip>
              </template>
              <template slot="item" slot-scope="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
                </template>
                <template v-else>
                  <v-list-tile-content>
                    <v-list-tile-title
                      v-html="data.item.name"
                    ></v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </template>
            </v-autocomplete>
            <v-autocomplete
              v-if="selected == 'user'"
              label="User"
              :loading="loader"
              :search-input.sync="searchuser"
              multiple
              prepend-icon="people"
              v-model="formdata.userIDs"
              :items="userItems"
              chips
              auto
              item-text="name"
              item-value="userID"
              @change="onUserChange"
              :disabled="!userPermission"
            >
              <template slot="selection" slot-scope="data">
                <v-chip
                  :selected="data.selected"
                  close
                  class="chip--select-multi"
                  @input="removeUser(data.item)"
                >
                  {{ data.item.name }}
                </v-chip>
              </template>
              <template slot="item" slot-scope="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
                </template>
                <template v-else>
                  <v-list-tile-content>
                    <v-list-tile-title
                      v-html="data.item.name"
                    ></v-list-tile-title>
                  </v-list-tile-content>
                </template>
              </template>
            </v-autocomplete>
               <v-autocomplete 
                         v-if="selected=='level'"                   
                            hint="Atleast 3 Characters required"                      
                            :loading="loader"
                            chips                      
                            flat
                            placeholder="Select only suggested Level"
                            :items="levelItems"
                            v-model="formdata.levelID"
                            prepend-icon="low_priority"
                            label="Level"
                            color="blue"
                            item-text="name"
                            item-value="levelID"
                    ></v-autocomplete>
          </v-flex>

          <v-flex xs12 sm4>
            <v-autocomplete
              label="User Role"
              :loading="loader"
              prepend-icon="perm_identity"
              v-model="formdata.roleID"
              :items="userRoleItems"
              required
              :rules="roleRules"
              chips
              auto
              item-text="documentRoleName"
              item-value="documentRoleID"
              :disabled="!userPermission"
            >
            </v-autocomplete>
          </v-flex>
          <v-flex xs12 sm4 v-show="fileProfileTypeId > 0">
            <v-autocomplete
              label="File Profile Type"           
            
              prepend-icon="location_on"
              v-model="formdata.fileProfileTypeIds"
              :items="fileProfileTypeItems"
              chips
              auto
              multiple
              item-text="name"
              item-value="fileProfileTypeId"
             
            >
            </v-autocomplete>
          </v-flex>
          <v-flex xs12 sm2 v-show="fileProfileTypeId > 0">
            <v-btn @click="save" color="primary" :disabled="!userPermission">
              ADD
            </v-btn>
          </v-flex>
          <v-flex xs12 sm2 v-show="formdata.roleID > 0">
            <v-btn @click="viewPermission" color="primary"> VIEW </v-btn>
          </v-flex>
          <v-flex xs12 sm3>
            <v-btn @click="selectedDelete" color="primary">
              Delete Selected
            </v-btn>
          </v-flex>
          <v-flex xs12 sm12>
            <v-data-table
              :headers="headers"
              :items="gridItems"
              :search="search"
              class="elevation-1"
              default-sort="documentUserRoleID:desc"
              :rows-per-page-items="rowsPerPageItems"
              :pagination.sync="pagination"
            >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">
                  <v-checkbox
                    primary
                    hide-details
                    v-model="props.item.isSelected"
                    :disabled="!userPermission"
                  ></v-checkbox>
                </td>
                <td>{{ props.item.userGroupName }}</td>
                <td class="text-xs-left">{{ props.item.userName }}</td>
                <td class="text-xs-left">{{ props.item.nickName }}</td>

                <td>{{ props.item.designation }}</td>
                <td class="text-xs-left">{{ props.item.departmentName }}</td>
                <td class="text-xs-left">{{ props.item.roleName }}</td>

                <td class="justify-center layout px-0">
                  <v-icon small @click="onEditItem(props.item)"> edit </v-icon>
                  <v-icon
                    small
                    @click="onDeleteItem(props.item)"
                    :disabled="!userPermission"
                  >
                    delete
                  </v-icon>
                </td>
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="initialize">
                  Record not exist.Refresh again in while time.</v-btn
                >
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-container>
      <v-dialog v-model="permissondialog" max-width="900px" scrollable>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="closePermissiondialog"
              >
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="closePermissiondialog"
              >
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <h1>
              <span class="headline">{{
                permissionItem.documentRoleName
              }}</span>
            </h1>
          </v-card-title>

          <v-card-text>
            <v-form v-model="permissionItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Read"
                      v-model="permissionItem.isRead"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Create Folder"
                      v-model="permissionItem.isCreateFolder"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Create Document"
                      v-model="permissionItem.isCreateDocument"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Edit Folder"
                      v-model="permissionItem.isEdit"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>

                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Rename"
                      v-model="permissionItem.isRename"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Check OUT"
                      v-model="permissionItem.isUpdateDocument"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Copy"
                      v-model="permissionItem.isCopy"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Move"
                      v-model="permissionItem.isMove"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="DeleteFolder"
                      v-model="permissionItem.isDelete"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="DeleteFile"
                      v-model="permissionItem.isFileDelete"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="List Version"
                      v-model="permissionItem.isListVersion"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Invitation"
                      v-model="permissionItem.isInvitation"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Document Notes"
                      v-model="permissionItem.isDiscussion"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Enable Document Status"
                      v-model="permissionItem.isDocumentAccess"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Enable Create Task"
                      v-model="permissionItem.isCreateTask"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-checkbox
                      label="Enable Profile Type Info"
                      v-model="permissionItem.isEnableProfileTypeInfo"
                      :disabled="true"
                    ></v-checkbox>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-form>

    <app-section-loader :status="loader"></app-section-loader>

    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <v-dialog v-model="roleDialog" max-width="400px" scrollable>
      <v-card>
        <v-form
          v-model="updateRoleData.valid"
          ref="validateRoleform"
          lazy-validation
        >
          <v-toolbar color="primary" dark>
            <v-toolbar-title> User Role </v-toolbar-title>
          </v-toolbar>

          <v-card-text>
            <v-flex xs12 sm12>
              <v-autocomplete
                label="User Role"
                :loading="loader"
                prepend-icon="location_on"
                v-model="updateRoleData.roleID"
                :items="userRoleItems"
                required
                :rules="editroleRules"
                chips
                auto
                item-text="documentRoleName"
                item-value="documentRoleID"
              >
              </v-autocomplete>
            </v-flex>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn outline color="primary" @click.native="updateRole"
              >Update</v-btn
            >
            <v-btn outline color="primary" @click="roleDialog = false"
              >Close</v-btn
            >
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
 <script>
import {
  getApplicationUsers,
  getUserGroups,
  getDocumentRoles,
} from "@/api/userGroup";
 import { 
  getLevelMasters
} from "@/api/designation";
import { getDocumentPermissionByRoleID } from "@/api/documentRolePermission";
import GlobalMessage from "@/constant";
import {
  createFileProfileTypeAccess,
  getFileProfileTypeAccess,
  updateFileProfileTypeAccess,
  deleteDocumentUserRoleAccess,
  getChildFileProfileType,
} from "@/api/fileProfileType";
export default {
  components: {},

  data: () => ({
    fileProfileTypeId: null,
    search: "",
    searchuser: "",
      levelItems: [],
    searchgroup: "",
    searchItem: "",
    fileProfileTypeItems: [],
    permissondialog: false,
    roleDialog: false,
    formdata: {
      valid: false,
      fileProfileTypeId: null,
      roleID: null,
      userIDs: [],
      userGroupIDs: [],
      isRead: false,
      isDelete: false,
      fileProfileTypeIds:[],
       levelID: null,
    },
    defaultData: {
      valid: false,
      fileProfileTypeId: null,
      documentRoleId: null,
      userIDs: [],
      userGroupIDs: [],
      isRead: false,
      isDelete: false,
       fileProfileTypeIds:[],
        levelID: null,
    },
    permissionItem: {
      valid: false,
      documentPermissionID: -1,
      documentId: null,
      documentName: "",
      documentRoleName: "",
      documentRoleDescription: "",
      documentRoleID: null,
      isRead: false,
      isCreateFolder: false,
      isCreateDocument: false,
      isEdit: false,
      isSetAlert: false,
      //isEditIndex: false,
      isRename: false,
      isUpdateDocument: false,
      isCopy: false,
      isMove: false,
      isDelete: false,
      isFileDelete: false,
      isRelationship: false,
      isListVersion: false,
      isInvitation: false,
      // isSendEmail: false,
      isDiscussion: false,
      isAccessControl: false,
      isAuditTrail: false,
      isRequired: false,
      isDocumentAccess: false,
      isCreateTask: false,
      isEnableProfileTypeInfo: false,
      //Access Right Information End
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    updateRoleData: {
      userID: null,
      fileProfileTypeId: null,
      roleID: null,
      userGroupID: null,
      previousRoleID: null,
      documentUserRoleID: null,
      valid: false,
    },
    deleteRolesData: {
      userID: null,
      fileProfileTypeId: null,
      roleID: null,
      userGroupID: null,
      previousRoleID: null,
      documentUserRoleID: null,
      valid: false,
      itemClassificationAccessIDs: [],
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    return: {
      selected: "user",
      data: [],
    },
    headers: [
      { text: "", value: "", sortable: false, align: "left" },
      { text: "Group Name", value: "userGroupName", align: "left" },
      { text: "User Name", value: "userName", align: "left" },
      { text: "Nick Name", value: "nickName", align: "left" },
      { text: "Designation", value: "designation", align: "left" },
      { text: "Department Name", value: "departmentName", align: "left" },
      { text: "Role Name", value: "roleName", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    gridItems: [],
    selectedItems: [],
    userGroupItems: [],
    userItems: [],
    selectedItem: null,
    userRoleItems: [],
    userPermission: true,
    valid: true,
    loader: false,
    enabled: false,
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    selected: "user",
  }),
  mounted() {},
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Item Classification Security"
        : "Edit Item Classification Security";
    },
    roleRules() {
      return [
        () =>
          !!this.formdata.roleID > 0 || "Atleast one role to must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    editroleRules() {
      return [
        () =>
          !!this.updateRoleData.roleID > 0 ||
          "Atleast one role to must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
  },
  created() {
    this.initialize();
    
    window.getApp.$on("ITEMLOAD", (fileProfileTypeId) => {
      this.formdata.fileProfileTypeId = fileProfileTypeId;
      
      //   this.itemList();
    });
  },
  methods: {
    initialize() {
      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            this.userItems = response.data;
            let uom = this.userItems.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getDocumentRoles("")
        .then((response) => {
          if (response.data != undefined) {
            this.userRoleItems = response.data;
            let uom = this.userRoleItems.filter((o) => o.statusCodeID == 1);
            this.userRoleItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
          getLevelMasters('')
           .then(response2 => {
           this.levelItems = response2.data;
           this.loader = false;
      
           })
           .catch(error => {
           this.loader = false;
           window.getApp.$emit('APP_API_ERROR', error);
           });
    },
    onEditItem(item) {
      this.updateRoleData.fileProfileTypeId = item.fileProfileTypeId;
      this.updateRoleData.previousRoleID = item.roleID;
      this.updateRoleData.roleID = item.roleID;
      this.updateRoleData.userID = item.userID;
      this.updateRoleData.documentUserRoleID = item.documentUserRoleID;
      this.roleDialog = true;
    },

    itemList() {},
    updateRole() {
      if (this.$refs.validateRoleform.validate()) {
        updateFileProfileTypeAccess(this.updateRoleData)
          .then((response) => {
            this.roleDialog = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.gridRefresh();
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    viewPermission() {
      this.permissondialog = true;
      let id = this.formdata.roleID;
      getDocumentPermissionByRoleID(id)
        .then((response3) => {
          this.permissionItem = response3.data;

          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closePermissiondialog() {
      this.permissondialog = false;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.deleteRolesData.itemClassificationAccessIDs = [];
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      this.deleteRolesData.documentUserRoleID =
        this.selectedItem.documentUserRoleID;
      this.deleteRolesData.itemClassificationAccessIDs.push(
        this.selectedItem.documentUserRoleID
      );
      deleteDocumentUserRoleAccess(this.deleteRolesData)
        .then(() => {
          this.loader = false;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;

          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectedDelete() {
      this.selectedItems = [];
      this.selectedItems = this.gridItems.filter((d) => d.isSelected == true);
      this.deleteRolesData.itemClassificationAccessIDs = [];
      this.selectedItems.forEach((f) => {
        this.deleteRolesData.documentUserRoleID = f.documentUserRoleID;
        this.deleteRolesData.itemClassificationAccessIDs.push(
          f.documentUserRoleID
        );
      });

      deleteDocumentUserRoleAccess(this.deleteRolesData)
        .then((response) => {
          if (response.data != undefined) {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);

            this.gridRefresh();
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeUserGroup(item) {
      const index = this.formdata.userGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.formdata.userGroupIDs.splice(index, 1);
    },
    removeUser(item) {
      const index = this.formdata.userIDs.indexOf(item.userID);
      if (index >= 0) this.formdata.userIDs.splice(index, 1);
    },
    onUserChange() {
      this.searchuser = "";
      if (
        this.formdata.fileProfileTypeId > 0 ||
        this.formdata.userGroupIDs.length > 0
      ) {
        this.formdata.userGroupIDs = [];
      }
    },
    onUserGroupChange() {
      this.searchgroup = "";
      if (
        this.formdata.fileProfileTypeId > 0 ||
        this.formdata.userIDs.length > 0
      ) {
        this.formdata.userIDs = [];
      }
    },

    onFolderChange() {
      this.searchItem = "";
    },

    onUserRadioGroupChanged() {
      if (this.selected == "user") {
         this.formdata.levelID = null;
        this.formdata.userGroupIDs = [];
        if (
          this.formdata.fileProfileTypeId == null ||
          this.formdata.fileProfileTypeId == undefined
        ) {
          this.formdata.roleID = null;
        }
      } else if (this.selected == "user-group") {
         this.formdata.levelID = null;
        this.formdata.userIDs = [];
        if (
          this.formdata.fileProfileTypeId == null ||
          this.formdata.fileProfileTypeId == undefined
        ) {
          this.formdata.roleID = null;
        }
      }
        else if (this.selected == "level") {          
         this.formdata.userGroupIDs = [];
          this.formdata.userIDs = [];
           if (this.formdata.fileProfileTypeId == null || this.formdata.fileProfileTypeId == undefined) {
          this.formdata.documentRoleId = null;
           }
        }
    },
    subfileProfileClick() {
      let userid = this.$store.state.auth.userId;
      let id = this.fileProfileTypeId;
     
      getChildFileProfileType(id)
        .then((response) => {
          if (response.data != undefined) {
            this.fileProfileTypeItems = response.data;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    gridRefresh() {
      getFileProfileTypeAccess(this.fileProfileTypeId)
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.validateform.validate()) {
        this.loader = true;
        this.formdata.fileProfileTypeId = this.fileProfileTypeId;
        createFileProfileTypeAccess(this.formdata)
          .then((response) => {
            this.loader = false;

            if (response.data != undefined) {
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);

              this.formdata.userIDs = [];
              this.formdata.userGroupIDs = [];
              this.formdata.roleID = null;
               this.formdata.fileProfileTypeIds = [];
              this.gridRefresh();
            }
          })
          .catch((error) => {
            this.loader = false;
          });
      }
    },
  },
};
</script>