<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-divider class="mx-4" inset vertical></v-divider>
      <v-spacer></v-spacer>
      <v-btn icon @click.native="refreshMethod" v-show="showRefreshMethod">
        <v-icon color="white">refresh</v-icon>
      </v-btn>
      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <!-- <app-section-loader :status="versionloaders"></app-section-loader> -->
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="headers"
                :items="versionData"
                hide-actions
                class="elevation-0"
                :loading="versionloaders"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td>
                    <span>{{ props.item.versionNo }}</span>
                  </td>
                  <td>
                    <span>{{ props.item.referenceInfo }}</span>
                  </td>
                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                  <td class="text-xs-left">
                    {{ props.item.addedDate | formatDate }}
                  </td>
                  <td lass="justify-center layout px-0">
                    <div style="width: 80px">
                      <v-icon
                        small
                        class="mr-2"
                        @click="versionMethod(props.item)"
                        >edit</v-icon
                      >
                      <!-- <v-icon small class="mr-2" @click="versionMethod(props.item)">delete</v-icon> -->
                    </div>
                  </td>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import { getversions, deleteVersion } from "@/api/version";
export default {
  components: {},
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },

    deleteAction: {
      type: String,
      default: "",
    },

    search: {
      type: String,
      default: "",
    },
    versionMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },

    showversionMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },

    screenID: {
      type: String,
      default: "",
    },
    sessionID: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    versionloaders: false,
    versionData: [],
    headers: [
      {
        text: "Version No",
        align: "left",
        value: "versionNo",
      },
      {
        text: "Reference",
        align: "left",
        value: "referenceInfo",
      },
      { text: "Added By User", value: "addedByUser" },
      { text: "Added Date", value: "addedDate" },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
  }),
  computed: {},
  created() {},
  methods: {
    refreshMethod() {
      this.getversions();
    },
    getversions() {
      console.log('SessionID',this.sessionID)
      if (this.sessionID == undefined || this.sessionID == "" || this.sessionID == null) return;

      this.versionloaders = true;
      getversions(this.screenID, this.sessionID, this.controller, this.action)
        .then((response) => {
          this.versionloaders = false;
          console.log("Version Response", response.data);
          this.versionData = response.data;
        })
        .catch((error) => {
          this.versionloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    // applyVersion(file) {
    //   this.versionloaders = true;
    //   this.closeMethod();
    // },
    deleteVersion(file) {
      this.versionloaders = true;
    },
  },
};
</script>