<template>
  <div>
    <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">App TranLocation Line</span>
    </v-layout>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="App TranLocation Line.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
       <!--  <v-btn
          slot="activator"
          :disabled="enableAddButton"
          icon
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn> -->

        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="saveAndClose"
              :loading="subloader"
            >
              <v-icon color="white">library_add</v-icon>
            </v-btn>
            <span>Save and Close</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="save"
              :loading="subloader"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save</span>
          </v-tooltip>
          <!--    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="add" :loading="subloader">
                            <v-icon color="white">add</v-icon>
                        </v-btn>
                        <span>Create New Process Transfer in Production Line</span>
                    </v-tooltip> -->
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="deleterow">
              <v-icon color="white">delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="QuotationLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.itemNo"
                      label="Item No"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.lotNo"
                      label="Lot No"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                 <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.qty"
                      label="Qty"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="subloader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
              :loading="subloader"
              >Close</v-btn
            >
          </v-card-actions>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="id:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.itemNo }}</td>
        <td>{{ props.item.lotNo }}</td>
        <td>{{ props.item.qty }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import moment from "moment";
import GlobalMessage from "@/constant";
import {
  getAPPTranLocationLinesById,
  updateAppTranLocationLine,
  deleteAppTranLocationLine,
  createAppTranLocationLine,
} from "@/api/appTranLocation";

export default {
  components: {},
  data: () => ({
    dialog: false,
    subloader: false,
    search: "",
    gridItems: [],
    enableAddButton: true,
    appTranLfromLtoId: -1,
    editedItem: {
      id: -1,
      appTranLfromLtoId: -1,
      itemNo: "",
      lotNo: "",
      qty:"",
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
    },
    defaultItem: {
      id: -1,
      appTranLfromLtoId: -1,
      itemNo: "",
      lotNo: "",
      qty:"",
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      { text: "Item No", value: "itemNo", align: "left" },
      { text: "Lot No", value: "lotNo", align: "left" },
      { text: "Qty", value: "qty", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "Item No": "itemNo",
      "Lot No": "lotNo",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Qty":"qty"
    },
  }),
  computed: {
    formTitle() {
      return this.editedItem.id < 0
        ? "Add App TranLocation Line"
        : "Edit App TranLocation Line";
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      this.subloader = true;
      getAPPTranLocationLinesById(this.appTranLfromLtoId)
        .then((response) => {
          this.gridItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.loadDropdownList();
    },
    loadDropdownList() {},

    editItem(item) {
      this.loadDropdownList();
      this.editedItem = Object.assign({}, item);
      setTimeout(() => {
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.statusCodeID = 1;
      this.editedItem = Object.assign({}, this.defaultItem);
    },
    openPopup() {
      this.dialog = true;
      this.add();
    },
    save() {
      this.editedItem.appTranLfromLtoId = this.appTranLfromLtoId;
      if (this.$refs.QuotationLineform.validate()) {
        this.subloader = true;
        if (this.editedItem.id > 0) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          updateAppTranLocationLine(this.editedItem)
            .then((response) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createAppTranLocationLine(this.editedItem)
            .then((response) => {
              this.subloader = false;
              this.editedItem.id = response.data.id;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },

    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.id > 0) {
        this.subloader = true;
        deleteAppTranLocationLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.initialize();
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>
<style lang="stylus" scoped>
.task-sub--scroll {
  overflow: auto;
  height: calc(100vh - 110px - 60px);
}
</style>