<template>
  <div id="page-forms">
    <v-form v-model="formdata.valid" ref="validateform" lazy-validation>
      <v-container fluid>
        <v-layout row wrap>
          <v-flex xs12 sm2>
            <v-radio-group
              v-model="formdata.userType"
              row
              :mandatory="false"
              @change="onUserRadioGroupChanged"
            >
              <v-radio label="User Group" value="user-group"></v-radio>
              <v-radio label="User" value="user"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 sm5>
            <v-autocomplete
              v-if="formdata.userType == 'user-group'"
              label="User Group"
              :loading="loader"
              :search-input.sync="searchgroup"
              prepend-icon="location_city"
              v-model="formdata.userGroupId"
              :items="userGroupItems"
              chips
              auto
              item-text="name"
              :rules="[(v) => !!v || 'This is required']"
              item-value="userGroupID"
              @change="onUserGroupChange"
            >
            </v-autocomplete>
            <v-autocomplete
              v-if="formdata.userType == 'user'"
              label="User"
              :loading="loader"
              :search-input.sync="searchuser"
              prepend-icon="people"
              v-model="formdata.userId"
              :items="userItems"
              chips
              auto
              item-text="name"
              item-value="userID"
              @change="onUserChange"
              :rules="[(v) => !!v || 'This is required']"
            >
            </v-autocomplete>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>

    <div style="overflow: auto; height: calc(60vh - 60px)">
      <v-layout row wrap>
        <v-flex xs12 sm6>
          <v-card-text>
            <v-treeview
              :items="gridItems"
              v-model="formdata.selectedPermissions"
              selectable
            ></v-treeview>
          </v-card-text>
        </v-flex>
        <v-flex xs12 sm4>
          <v-text-field
            v-model="userPermissionSearch"
            prepend-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-data-table
            :headers="userPermissionListheaders"
            :items="userPermissionList"
            class="elevation-1"
            :search="userPermissionSearch"
            default-sort="itemClassificationPermissionId:desc"
          >
            <template slot="items" slot-scope="props">
              <tr>
                <td class="text-xs-left">{{ props.item.userName }}</td>
              </tr>
            </template>
            <template slot="no-data">
              <v-btn color="primary" outline @click="loadPermissionLists"
                >Record not exist.Refresh again in while time.</v-btn
              >
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
    </div>

    <app-section-loader :status="loader"></app-section-loader>
  </div>
</template>
 <script>
import {
  getApplicationFormMasterPermissionTree,
  getItemClassificationPermission,
  getItemClassificationPermissionByClass,
} from "@/api/itemClassification";
import { getApplicationUsers, getUserGroups } from "@/api/userGroup";
export default {
  components: {},

  data: () => ({
    search: "",
    searchuser: "",
    searchgroup: "",
    userPermission: true,
    userGroupItems: [],
    userItems: [],
    classificationItems: [],
    formdata: {
      valid: false,
      itemClassificationId: null,
      screenId: null,
      selectedPermissions: [],
      userType: "user",
      userId: null,
      userGroupId: null,
    },
    defaultData: {
      valid: false,
      itemClassificationId: null,
      screenId: null,
      selectedPermissions: [],
      userType: "user",
      userId: null,
      userGroupId: null,
    },
    userPermissionSearch: "",
    userPermissionList: [],
    userPermissionListheaders: [
      { text: "Selected Users", value: "userName", align: "left" },
    ],
    loader: false,
    gridItems: [],
  }),
  mounted() {},
  computed: {},
  created() {},
  methods: {
    initialize() {
      this.loadDropdownList();
      this.loader = true;
      this.gridItems = [];
      this.formdata.userGroupId = null;
      this.formdata.userId = null;
      this.formdata.selectedPermissions = [];
      if (this.classificationItems != undefined) {
        this.formdata.itemClassificationId =
          this.classificationItems.itemClassificationID;
        this.formdata.screenId = "";
        if (this.classificationItems.classificationTypeId == 1043) {
          //Company
          this.formdata.screenId = "CLASSICOM001";
        }
        if (this.classificationItems.classificationTypeId == 1041) {
          //Package Form
          this.formdata.screenId = "CLASSICOM002";
        }
        if (this.classificationItems.classificationTypeId == 1040) {
          //Material Form
          this.formdata.screenId = "CLASSIMAT001";
        }
        if (this.classificationItems.classificationTypeId == 1042) {
          //FP Item
          this.formdata.screenId = "CLASSIFP001";
        }
        if (this.classificationItems.classificationTypeId == 1503) {
          //Classification BMR
          this.formdata.screenId = "BMR2020";
        }
        if (this.classificationItems.classificationTypeId == 1045) {
          //Machine
          this.formdata.screenId = "CLASSICOM004";
        }
        if (this.classificationItems.classificationTypeId == 1049) {
          //Shipment
          this.formdata.screenId = "CLASSISHIP001";
        }
        if (this.classificationItems.classificationTypeId == 1501) {
          //Shipment
          this.formdata.screenId = "CLASSIFPDRUG001";
        }
        if (this.classificationItems.classificationTypeId == 1048) {
          //Transport
          this.formdata.screenId = "CLASSITRANS001";
        }
        if (this.classificationItems.classificationTypeId == 1044) {
          //Common Process
          this.formdata.screenId = "CLASSICOM003";
        }
        if (this.classificationItems.classificationTypeId == 1046) {
          //Tooling
          this.formdata.screenId = "CLASSICOM005";
        }
        if (this.classificationItems.classificationTypeId == 1504) {
          //Tooling
          this.formdata.screenId = "MET001";
        }
        if (this.classificationItems.classificationTypeId == 1505) {
          //Tooling
          this.formdata.screenId = "PROCLASSICOM001";
        }
        getApplicationFormMasterPermissionTree(
          this.formdata.itemClassificationId
        )
          .then((response) => {
            this.loader = false;
            if (response.data != "") {
              this.gridItems = response.data;
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loadPermissionLists();
      }
    },
    loadPermissionLists() {
      getItemClassificationPermissionByClass(this.formdata.itemClassificationId)
        .then((response) => {
          this.loader = false;
          if (response.data != "") {
            this.userPermissionList = response.data;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadLists(userType, userId) {
      getItemClassificationPermission(
        this.classificationItems.itemClassificationID,
        userType,
        userId
      )
        .then((response) => {
          this.loader = false;
          this.formdata.selectedPermissions = response.data.selectedPermissions;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadDropdownList() {
      this.loader = true;
      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            this.userGroupItems = this.userGroupItems.filter(
              (o) => o.statusCodeID == 1
            );
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            this.userItems = response.data;
            this.userItems = this.userItems.filter((o) => o.statusCodeID == 1);
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeUserGroup(item) {
      const index = this.formdata.userGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.formdata.userGroupIDs.splice(index, 1);
    },
    removeUser(item) {
      const index = this.formdata.userIDs.indexOf(item.userID);
      if (index >= 0) this.formdata.userIDs.splice(index, 1);
    },
    onUserChange(value) {
      this.searchuser = "";
      this.formdata.userGroupId = null;
      this.loadLists(this.formdata.userType, value);
    },
    onUserGroupChange(value) {
      this.searchgroup = "";
      this.formdata.userId = null;
      this.loadLists(this.formdata.userType, value);
    },
    onUserRadioGroupChanged() {
      this.formdata.userGroupId = null;
      this.formdata.userId = null;
      this.formdata.selectedPermissions = [];
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll1 {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }

 .task-sub--scroll2 {
   overflow: auto;
   height: calc(100vh - 70px - 60px);
 }
</style>

