<template>
  <div id="page-forms">
    <v-form v-model="formdata.valid" ref="validateform" lazy-validation>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs6 sm6>
              <v-text-field
                label="Name"
                prepend-icon="category"
                v-model="formdata.name"
                required
                :rules="requiredRules"
              ></v-text-field>
            </v-flex>
            <v-flex xs6 sm6>
              <v-checkbox
                color="primary"
                v-model="formdata.isForm"
                label="Is Form"
              ></v-checkbox>
            </v-flex>
            <v-flex xs6 sm6>
              <v-autocomplete
                label="Classification Types"
                prepend-icon="notes"
                v-model="formdata.classificationTypeId"
                :items="classificationTypes"
                item-value="codeID"
                item-text="codeValue"
                chips
                flat
                @change="getClassificationType"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs6 sm6>
              <div>Classification Link Type</div>
              <v-radio-group v-model="formdata.classificationLinkType" row>
                <v-radio label="Header Link" value="Header"></v-radio>
                <v-radio label="Master Link" value="Master"></v-radio>
              </v-radio-group>
            </v-flex>
            <v-flex lg12 sm12>
              <v-textarea
                label="Description"
                v-model="formdata.description"
                prepend-icon="description"
                required
              ></v-textarea>
            </v-flex>
            <v-flex xs12 sm12 v-show="formdata.isForm">
              <v-autocomplete
                hint="Atleast 3 Characters required"
                :loading="loader"
                flat
                :items="profileItems"
                v-model="formdata.profileID"
                label="Profile for the Common"
                chips
                prepend-icon="fa-file-text"
                item-text="name"
                item-value="profileID"
                :rules="profileNameRules"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs6 sm6>
              <v-checkbox
                color="primary"
                v-if="!formdata.isForm"
                v-model="formdata.isApprovalForm"
                label="Is Approval Form"
              ></v-checkbox>
            </v-flex>
            <!--  <v-flex xs6 sm6>
              <v-text-field
                label="Profile Reference No"
                prepend-icon="category"
                v-model="formdata.profileReferenceNo"
                required
                readonly
              ></v-text-field>
            </v-flex>-->

            <v-flex xs12 sm12 v-show="formdata.isForm">
              <v-autocomplete
                hint="Atleast 3 Characters required"
                :loading="loader"
                flat
                :items="formItems"
                v-model="formdata.itemClassificationFormIds"
                label="Form"
                chips
                multiple
                prepend-icon="pages"
                required
                item-text="name"
                item-value="formID"
                :rules="itemClassificationRules"
                @change="getItemList"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip
                    :selected="data.selected"
                    close
                    class="chip--select-multi"
                    @input="removeForm(data.item)"
                    >{{ data.item.name }}</v-chip
                  >
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-tile-content
                      v-text="data.item"
                    ></v-list-tile-content>
                  </template>
                  <template v-else>
                    <v-list-tile-content>
                      <v-list-tile-title
                        v-html="data.item.name"
                      ></v-list-tile-title>
                    </v-list-tile-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
      <v-card>
        <v-card-text>
          <approval-master
            v-if="formdata.isApprovalForm && formdata.itemClassificationID > 0"
            :sessionID="formdata.sessionId"
            :screenID="formdata.screenID"
          ></approval-master>
        </v-card-text>
      </v-card>
    </v-form>
  </div>
</template>

 <script>
import { getDocumentProfiles } from "@/api/documentProfile";

import GlobalMessage from "@/constant";
import moment from "moment";
import {
  createItemClassification,
  updateItemClassification,
  getApplicationFormsType,
} from "@/api/itemClassification";

import { getCodeMasterByType } from "@/api/applicationUser";
import ApprovalMaster from "@/components/approvalMaster/approvalMaster";
export default {
  components: {
    ApprovalMaster,
  },

  data: () => ({
    loader: false,
    profileItems: [],
    formItems: [],
    parentID: null,
    classificationTypes: [],
    formdata: {
      valid: false,
      itemClassificationID: -1,
      parentID: null,
      name: "",
      description: "",
      formTitle: "",
      isForm: false,
      formID: null,
      itemClassificationFormIds: [],
      profileID: null,
      profileReferenceNo: "",
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      classificationTypeId: 1040,
      classificationLinkType: "Header",
      isApprovalForm: false,
      sessionId: null,
      screenID: null,
    },
    defaultData: {
      valid: false,
      itemClassificationID: -1,
      parentID: null,
      name: "",
      description: "",
      formTitle: "",
      isForm: false,
      formID: null,
      profileID: null,
      profileReferenceNo: "",
      itemClassificationFormIds: [],
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      classificationTypeId: 1040,
      classificationLinkType: "Header",
      isApprovalForm: false,
      screenID: null,
      sessionId: null,
    },

    height: {
      type: String,
      default: null,
    },
    tasktriggered: false,
  }),
  computed: {
    formTitle() {
      return this.formdata.itemClassificationID === -1
        ? "Add Item Classification"
        : "Edit Item Classification";
    },
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },

    computeHeight() {
      return {
        height: this.height || "",
      };
    },
    classifucationRules() {
      //if(this.formdata.isForm==true)
      // {
      return [(v) => !!v || "Classification is required"];
      // }
    },
    itemClassificationRules() {
      if (
        this.formdata.isForm == true &&
        this.formdata.classificationTypeId > 0
      ) {
        return [
          () =>
            !!this.formdata.itemClassificationFormIds.length > 0 ||
            "Atleast one Form to must be selected.",
          (v) => !!v || "This is required field",
        ];
      }
    },
    profileNameRules() {
      if (this.formdata.isForm == true) {
        return [(v) => !!v || "Profile is required"];
      }
    },
  },
  watch: {
    model(val) {
      if (val.length > 5) {
        this.$nextTick(() => this.model.pop());
      }
    },
    uploadFile(val) {
      val || this.closeDial();
    },
  },
  created() {
    this.initialize();
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    formatDate(date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join("-");
    },

    formateDate(string) {
      return string ? moment(string).format(GlobalMessage.DATEFORMAT) : "";
    },

    initialize() {
      this.formdata = Object.assign({}, this.defaultData);
      this.formdata.addedByUser = this.$store.state.auth.userName;
      getDocumentProfiles("")
        .then((response) => {
          this.profileItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      //this.getClassificationType();
      getCodeMasterByType("Classification Type")
        .then((response) => {
          this.classificationTypes = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getItemList() {
      if (this.formdata.classificationTypeId == 1041) {
        var list = this.formdata.itemClassificationFormIds.slice(-1);
        this.formdata.itemClassificationFormIds = [];
        this.formdata.itemClassificationFormIds = list;
      }
    },
    getClassificationType() {
      this.loader = true;
      getApplicationFormsType(this.formdata.classificationTypeId)
        .then((response1) => {
          this.formItems = response1.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeForm(item) {
      const index = this.formdata.itemClassificationFormIds.indexOf(
        item.formID
      );
      if (index >= 0) {
        this.formdata.itemClassificationFormIds.splice(index, 1);
      }
    },
    save() {
      if (this.$refs.validateform.validate()) {
        this.loader = true;
        if (this.formdata.itemClassificationID > -1) {
          this.formdata.modifiedByUserID = this.$store.state.auth.userId;
          this.formdata.modifiedDate = new Date().toISOString().substr(0, 10);

          updateItemClassification(this.formdata)
            .then((response) => {
              this.loader = false;
              this.actionButton = true;
              this.formdata = response.data;
              window.getApp.$emit("LOAD_ITEM_CLASSIFICATION_TREE");
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.formdata.addedByUserID = this.$store.state.auth.userId;
          this.formdata.addedDate = new Date().toISOString().substr(0, 10);
          createItemClassification(this.formdata)
            .then((response) => {
              this.loader = false;
              if (response.data != undefined && !response.data.isRecordExist) {
                this.formdata = response.data;
                this.actionButton = true;
                window.getApp.$emit(
                  "ITEMLOAD",
                  response.data.itemClassificationID
                );
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              } else {
                this.exitTitle = response.data.title;
                this.$refs.taskExitConfirmationDialog.openDialog();
              }
              window.getApp.$emit("LOAD_ITEM_CLASSIFICATION_TREE");
            })
            .catch((error) => {
              this.loader = false;
            });
        }
      } else {
        // console.log(this.$refs);
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    closeDial() {},
    isDueDate() {
      this.formdata.dueDate = new Date().toISOString().substr(0, 10);
    },
  },
};
</script>

<style>
/* .v-menu__content{
      z-index: 1000 !important;
    }
    .v-navigation-drawer{
      z-index: 1000 !important;
    } */
</style>
<style scoped>
.v-dialog__content {
  z-index: 203 !important;
}
</style>