<template>
  <div id="page-forms">

    <v-card>

      <v-toolbar card dense color="transperent">

        <v-tooltip bottom>
          <v-btn icon slot="activator" flat color="primary" @click.native="opentree">
            <v-icon>timeline</v-icon>
          </v-btn>
          <span>Task Tree </span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn icon color="primary" slot="activator" flat :loading="loader" @click.native="saveMain" :disabled="!isEdit">
            <v-icon>save</v-icon>
          </v-btn>
          <span>Save </span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn color="primary" icon slot="activator" flat @click.native="deleterow" :loading="loader" :disabled="readonlyTask">
            <v-icon>delete</v-icon>
          </v-btn>
          <span>Delete Item Classification </span>
        </v-tooltip>
        <v-tooltip bottom>
          <v-btn color="primary" icon slot="activator" flat @click.native="openPermissionDialog" :loading="loader" v-if="showPermission">
            <v-icon>security</v-icon>
          </v-btn>
          <span>Application Permission</span>
        </v-tooltip>
        <v-spacer></v-spacer>

        <v-tooltip bottom>
          <v-btn color="primary" icon="" slot="activator" flat @click="addSubClassification()">
            <v-icon icon>
              add_circle_outline
            </v-icon>
          </v-btn>
          <span>Add Sub Classification </span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn icon="" color="primary" slot="activator" flat @click="goBack">
            <v-icon icon>
              reply
            </v-icon>
          </v-btn>
          <span>Go Back </span>
        </v-tooltip>

      </v-toolbar>

      <v-navigation-drawer class="setting-drawer" temporary left v-model="treedrawer" hide-overlay fixed width="400px" :loding='loader'>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>
            Item Classification Tree
          </v-toolbar-title>
        </v-toolbar>

        <div style="overflow:auto;height:calc(100vh - 70px)">
          <v-container>
            <v-layout column>
              <app-section-loader :status="loader"></app-section-loader>
              <vue-drag-tree :data='items' @current-node-clicked='curNodeClicked' :disableDBClick='true' :expandAll='true' :active="itemClassificationID"></vue-drag-tree>

            </v-layout>
          </v-container>
        </div>
      </v-navigation-drawer>

      <v-dialog v-model="classificationdialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveSubDialog">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click.native="closeSubDialog" :loading="loader">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close </span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">

            <!-- <vue-perfect-scrollbar class="task-sub--scroll"> -->
            <v-card-text>
              <subitem-classification-tab ref="refsubclassificationTabForm"></subitem-classification-tab>
            </v-card-text>
          </div>
          <!-- </vue-perfect-scrollbar> -->
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="primary darken-1" outline @click.native="saveSubDialog">
              Save
            </v-btn>

            <v-btn color="primary darken-1" outline @click.native="closeSubDialog">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="editdialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="updateClassification" :loading="loader">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save Classification</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="editdialogClose()" :loading="loader">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <!-- <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title> -->

          <v-card-text>
            <vue-perfect-scrollbar class="securityform--scrollbar" v-bind:style="computeHeight">
              <item-classificationTab ref="refclassificationTabForm"></item-classificationTab>
            </vue-perfect-scrollbar>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click="updateClassification">Save</v-btn>
            <v-btn color="primary darken-1" outline @click="editdialogClose">Close</v-btn>

          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="permissionDialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="closePermissionDialog" :loading="loader">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveApplicationPermissionDialog" :loading="loader">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click.native="closePermissionDialog" :loading="loader">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close </span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">Permission Details</span>
          </v-card-title>
          <v-card-text>
            <application-form-permission ref="refApplicationFormPermission"></application-form-permission>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click="saveApplicationPermissionDialog" :loading="loader">Save</v-btn>
            <v-btn color="primary darken-1" outline @click="closePermissionDialog" :loading="loader">Close</v-btn>

          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-layout justify-space-between pa-3>
        <v-flex xs12>
          <itemClassification-form ref="refclassificationForm"></itemClassification-form>
        </v-flex>
      </v-layout>
      <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
      </delete-confirmation-dialog>

    </v-card>
  </div>
</template>
<script>

  import SubitemClassificationTab from '@/pages/itemClassification/itemClassificationSubTab';
  import ItemClassificationTab from '@/pages/itemClassification/itemClassificationTab';
  import ItemClassificationForm from '@/pages/itemClassification/itemClassificationForm';
  import ApplicationFormPermission from "@/pages/itemClassification/ApplicationFormPermission";
  import TreeMenu from '@/pages/task/treeMenu';
  import GlobalMessage from '@/constant'

  import { getDocumentProfiles } from '@/api/documentProfile';

  import {  createItemClassification, deleteItemClassification, getItemClassificationTree, getItemClassificationId, getItemClassificationAccess, getItemClassificationSubItems, getApplicationFormsType, createItemClassificationPermission } from '@/api/itemClassification';

  export default {
    components: {
      SubitemClassificationTab,
      TreeMenu,
      ItemClassificationForm,
      ItemClassificationTab,
      ApplicationFormPermission
    },
    name: 'Page2',
    data: () => ({
      permissionDialog: false,
      searchTo: "",
      searchdiscussionTo: "",
      itemClassificationtreeItems: [],
      classificationItems: [],
      scrollSettings: {
        maxScrollbarLength: 130
      },
      editdialog: false,
      treedrawer: false,
      loader: false,
      hasPermission: false,
      classificationdialog: false,
      subclassificationdialog: false,
      active: [],

      taskdetailsloader: false,
      isNotes: false,
      subTaskitems: [],
      isRead: true,
      isDelete: true,
      isEdit: true,
      itemClassificationID: null,
      mainClassificationID: null,
      paerntID: -1,
      viewList: 'list',
      showPermission: true,
      formTitle: 'Item Classification',

      panel: [],
      formEditdata: {
        itemClassificationID: -1,
        parentID: null,
        mainClassificationID: null,
        name: '',
        description: '',
        formTitle: '',
        isForm: false,
        formID: null,
        profileID: null,
        addedByUserID: null,
        addedDate: new Date().toISOString().substr(0, 10),
        addedByUser: '',
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserID: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
      },
      loader: false,
      subtasktriggered: false,
      readonlyTask: false,
      selectedTask: [],
      userId: -1,
      userItems: [],

      goBackText: '',
    }),
    created () {
      this.userId = Number(this.$store.state.auth.userId);
      this.itemClassificationID = Number(this.$route.query.itemClassificationID);
      this.mainClassificationID = Number(this.$route.query.id);
      this.isEdit = this.$route.query.isEdit;
      this.goBackText = this.$route.query.goback;


      this.actionButton = true;
      this.initialize();
      window.getApp.$on("LOAD_ITEM_CLASSIFICATION_TREE", () => {
        this.initialize();
      });
    },
    beforeDestroy () {
      window.getApp.$off('ITEMLOAD');
      window.getApp.$off("LOAD_ITEM_CLASSIFICATION_TREE");
    },
    computed: {


      computeHeight () {
        return {
          height: this.height || ''
        };
      },
      selected () {

        if (!this.active.length) {
          if (this.itemClassificationID > 0) {

            this.active.push(this.itemClassificationID);

          }
          else {
            return undefined
          }
        }
        const id = this.itemClassificationID;
        let editdata = this.classificationItems.find(classification => classification.itemClassificationID == id);

        let index = this.classificationItems.map(item => item.itemClassificationID).indexOf(id)
        this.editedIndex = index;
        this.formEditdata = editdata;
        this.editDetails(this.formEditdata);
        //this.treedrawer = true;

      },
      items () {
        return this.itemClassificationtreeItems;
      },
    },
    mounted () {
    },

    methods: {
      closeSubDialog () {
        this.classificationdialog = false;
      },
      closePermissionDialog () {
        this.permissionDialog = false;
      },
      openPermissionDialog () {
        this.$refs.refApplicationFormPermission.classificationItems = this.formEditdata;
        this.$refs.refApplicationFormPermission.initialize();
        this.permissionDialog = true;
      },
      saveApplicationPermissionDialog () {
        
        this.$refs.refApplicationFormPermission.formdata.itemClassificationId = this.formEditdata.itemClassificationID;
        if (this.$refs.refApplicationFormPermission.$refs.validateform.validate()) {
          this.loader = true;
          createItemClassificationPermission(this.$refs.refApplicationFormPermission.formdata)
            .then(response => {
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.$refs.refApplicationFormPermission.loadPermissionLists();
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      formatDate (date) {
        let month = `${date.getMonth() + 1}`;
        let day = `${date.getDate()}`;
        const year = date.getFullYear();

        if (month.length < 2) month = `0${month}`;
        if (day.length < 2) day = `0${day}`;

        return [year, month, day].join('-');
      },
      editDetails (item) {

        setTimeout(() => {

          this.$refs.refclassificationForm.initialize();
          this.$refs.refclassificationForm.formdata = item;

        }, 100);
        window.getApp.$emit('ITEMLOAD', this.formEditdata.itemClassificationID);
      },
      formatDate (date) {
        let month = `${date.getMonth() + 1}`;
        let day = `${date.getDate()}`;
        const year = date.getFullYear();

        if (month.length < 2) month = `0${month}`;
        if (day.length < 2) day = `0${day}`;

        return [year, month, day].join('-');
      },


      initialize () {

        if (this.mainClassificationID > 0) {
          this.loader = true;
          let userId = this.$store.state.auth.userId;
          let id = this.mainClassificationID;

          getItemClassificationTree(id, userId)
            .then(response3 => {
              if (response3.data != undefined && response3.data.length > 0) {
                this.itemClassificationtreeItems = response3.data;

              }
              else {
                if (this.$store.state.auth.userId > 0) {
                  window.getApp.$emit('APP_API_VAL', 'Looks like there is no more item available in this tree. wait while you will be redirected to item classification view list.');
                  setTimeout(() => {
                    //   this.$router.push({ name: 'Task' });
                  }, 400);
                }
              }

              this.loader = false;
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });



        }
        getDocumentProfiles('')
          .then(response => {
            this.$refs.refclassificationForm.profileItems = response.data;
            this.loader = false;


          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

        let userId = this.$store.state.auth.userId;
        this.getItem();


      },
      getItem () {
        let userId = this.$store.state.auth.userId;
        getItemClassificationId(this.itemClassificationID, userId)
          .then(response3 => {
            if (response3.data != undefined) {
              this.formEditdata = response3.data;
              this.$refs.refclassificationForm.initialize();
              this.$refs.refclassificationForm.formdata = response3.data;
              getApplicationFormsType(response3.data.classificationTypeId)
                .then(response1 => {
                  this.$refs.refclassificationForm.formItems = response1.data;
                  this.loader = false;
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit('APP_API_ERROR', error);
                });
            }
            else {

            }

            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },

      saveMain () {
        this.$refs.refclassificationForm.save();
      },
      edit () {
        this.$refs.refclassificationTabForm.$refs.refclassificationForm.formdata = this.formEditdata;
        //this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.formdata.itemClassificationID = this.formEditdata.itemClassificationID;

        getDocumentProfiles('')
          .then(response => {
            this.$refs.refclassificationTabForm.$refs.refclassificationForm.profileItems = response.data;
            this.loader = false;


          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        let id = this.formEditdata.itemClassificationID;
        getItemClassificationAccess(id)
          .then(response => {
            //this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.gridItems = response.data;
            this.loader = false;


          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        let userid = this.$store.state.auth.userId;
        getItemClassificationSubItems(id, userid)
          .then(response => {
            if (response.data != undefined) {
              // this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.itemClassificationItems = response.data;           
              this.loader = false;
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        this.editdialog = true;
      },
      editdialogClose () {
        this.editdialog = false;
        //this.$refs.refclassificationTabForm.$refs.refitemSecurityForm.gridItems = [];
      },
      deleterow () {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        this.$refs.refclassificationTabForm.$refs.refclassificationForm.formdata.itemClassificationID = this.$route.query.itemClassificationID;

        this.loader = true;

        deleteItemClassification(this.$refs.refclassificationTabForm.$refs.refclassificationForm.formdata)
          .then(response => {
            if (response != undefined) {

              this.itemClassificationID = this.$route.query.itemClassificationID;
              this.initialize();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            }
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },



      close () {
        this.dialog = false;
        setTimeout(() => {
          this.initialize();
          this.formEditdata = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 400);
      },
      // addClassification () {
      //   this.formTitle = 'Item Classification';
      //   this.$refs.refsubclassification.initialize();    
      //   this.$refs.refsubclassification.parentID = null;
      //   this.classificationdialog = true;
      // },
      addSubClassification () {
        this.classificationdialog = true;
        this.formTitle = 'Sub Classification for ' + this.formEditdata.name;
        setTimeout(() => {
          this.$refs.refsubclassificationTabForm.$refs.refsubclassification.add();
          this.$refs.refsubclassificationTabForm.$refs.refsubclassification.formdata.parentID = this.formEditdata.itemClassificationID;
          this.$refs.refsubclassificationTabForm.$refs.refsubclassification.formdata.mainClassificationID = this.formEditdata.mainClassificationID;
          this.$refs.refsubclassificationTabForm.$refs.refsubclassification.formdata.classificationTypeId = this.formEditdata.classificationTypeId;
          //this.$refs.refsubclassificationTabForm.$refs.refsubclassification.formdata.profileID = this.formEditdata.profileID;
          this.$refs.refsubclassificationTabForm.$refs.refsubclassification.initialize();
        }, 500);
      },
      saveSubDialog () {
        // this.$refs.refsubclassificationTabForm.$refs.refsubclassification.save();
        if (this.$refs.refsubclassificationTabForm.$refs.refsubclassification.$refs.validatesubform.validate()) {

          this.paerntID = this.formEditdata.itemClassificationID;
          this.formEditdata = this.$refs.refsubclassificationTabForm.$refs.refsubclassification.formdata;
          this.loader = true;
          this.formEditdata.addedByUserID = this.$store.state.auth.userId;
          //this.formEditdata.parentID = this.parentID;
          createItemClassification(this.formEditdata)
            .then(response => {
              this.loader = false;
              // this.$refs.refsubclassificationTabForm.$refs.refitemSecurityForm.formdata.itemClassificationID = response.data.itemClassificationID;
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
              this.initialize();
              this.closeSubDialog();

            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });

        }
        else {
          window.getApp.$emit('APP_API_VAL', GlobalMessage.VALIDATE);

        }

      },

      saveMainDialog () {

      },
      updateClassification () {
        this.$refs.refclassificationTabForm.$refs.refclassificationForm.save();
      },
      goBack () {
        var goback = this.$cookies.get('reload');
        this.$router.push({ name: 'itemclassmaster/itemclassmaster', query: { goback: goback } });
      },
      formateDate (string) {
        return string ? new Date(string).toISOString().substr(0, 10) : '';
      },

      allowDrag (model, component) {

        if (model.parentID == null) {
          return false;
        }
        // console.log('allowDrag', model.itemClassificationID, model.mainTaskId, model.parentID);
        return true;
      },

      curNodeClicked (model, component) {
        this.showPermission = model.parentID > 0 ? false : true;
        this.itemClassificationID = model.itemClassificationID;
        this.getItem();


      },


      dragHandler (model, component, e) {
        //console.log('dragHandler: ', model);
        if (this.taskdrag.itemClassificationID == undefined) {
          console.log('allowDrag', model.taskNumber, model.taskLevel, model.itemClassificationID);
          this.taskdrag.dragParentId = model.parentID;
          //console.log('dragHandler: ', model);
          this.taskdrag.taskNumber = model.taskNumber;
          this.taskdrag.treeLevel = model.treeLevel;
          this.taskdrag.taskLevel = model.taskLevel;
          this.taskdrag.itemClassificationID = model.id;
          this.taskdrag.children = model.children;
          this.taskdrag.name = model.name;
        }
      },

      dropHandler (model, component, e) {
        //console.log('dropHandler: ', model.parentID);

        if (model != null && model.id != undefined && this.taskdrag.itemClassificationID != undefined && this.taskdrag.itemClassificationID != model.id) {
          this.taskdrag.parentName = model.name;
          this.taskdrag.parentID = model.id;
          this.taskdrag.mainTaskId = model.mainTaskId;
          this.taskdrag.modifiedByUserID = this.$store.state.auth.userId;

          this.loader = true;

          dragDropTask(this.taskdrag)
            .then(response => {
              this.taskdrag.itemClassificationID = undefined;
              this.loader = false;
              this.initialize();
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });

          //console.log(this.taskdrag);

        }
      },
      opentree () {
        this.$vuetify.goTo(0);
        this.treedrawer = true;

      }
    }
  }
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }

   .chat-room--scrollbartree {
     overflow: auto;
     height: calc(100vh - 70px);
   }

   .taskDetails--scrollbar {
     overflow: auto;
     height: calc(100vh - 60px);
   }

   .task-sub--scroll1 {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>