<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Sales MainPromotion List.xls"
        :disabled="enableAddButton"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog
        v-model="dialog"
        max-width="400px"
        :disabled="enableAddButton"
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-btn class="pull-right" slot="activator" icon @click.native="add" :disabled="enableAddButton">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Registration Format</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>


          

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Item Name"
                      prepend-icon="notes"
                      v-model="editedItem.companyId"
                      :items="genericCodeItems"
                      item-text="description"
                      item-value="plantID"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field
                      v-model="editedItem.itemUom"
                      readonly
                      label="UOM"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>                


                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="text"
                      item-value="value"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
           
          </div>
        </v-card>
      </v-dialog>

     

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()" :disabled="enableAddButton">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"     
      class="elevation-1"
      :loading="loader"
      default-sort="salesMainPromotionListId:desc"
      :rows-per-page-items="rowsPerPageItems"     
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.genericCode }}</td>
          <td class="text-xs-left">{{ props.item.itemUom }}</td>        
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
            <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ props.item.modifiedDate | formatDate }}</td>

          <td class="justify-center layout px-0">
           
            <v-icon small class="mr-2" @click="editItem(props.item)"
              >edit</v-icon
            >
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>

      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize()"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import SalesPromotionLine from "@/pages/salesPromotion/salesMainPromotionLine";
import {
  getSalesMainPromotionListsByID, 
  createSalesMainPromotionList,
  updateSalesMainPromotionList,
  deleteSalesPromotion,
  getGenericCodesByStatus,
 
} from "@/api/salesPromotion";
export default {
  components: {
    // "upload-btn": UploadButton,   
    SalesPromotionLine,
    
  },
  data: () => ({
    loading: false,
    screenID: "",
     salesPromotionId: null,   
    dialog: false,
     enableAddButton: true,
    search: "",
    loader: false,
    startDateDue: false,
    endDateDue: false,
    isClearance: false,
    editedIndex: -1,
    searchTag: "",
    searchFilter: "",
    genericCodeItems: [],
    companyItems: [],
    vendorNameItems: [],
    gridItems: [],   
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    editedItem: {
      valid: false,
      salesMainPromotionListId: -1,
      salesPromotionId: null,
      genericCodeId: null,
      itemUom: "",
      isFocList: true,     
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      valid: false,
      salesMainPromotionListId: -1,
      salesPromotionId: null,
      genericCodeId: null,
      itemUom: "",
      isFocList: true,     
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },

    headers: [
      { text: "Item Name", value: "genericCode", align: "left" },
      { text: "UOM", value: "itemUom", align: "left" },     
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
       { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modify Date", value: "modifiedDate", align: "left" },

      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "Item Name": "genericCode",
      "UOM": "itemUom",
    
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Sales Main Promotion List"
        : "Edit Sales Main Promotion List";
    },
   
  },
  mounted() {},
  methods: {
    initialize() {
      
      if(this.salesPromotionId>0)
      {
          let id = this.salesPromotionId;
          this.loader = true;
      getSalesMainPromotionListsByID(id)
        .then((response) => {
            if(response!=undefined && response.data!=null && response.data !="")
            {
             let result = response.data.filter(o => o.isFocList == true);
          this.gridItems = result;     
            }    
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },
  
    loadDropdownList() {
         if(this.salesPromotionId>0)
      {
          let id = this.salesPromotionId;
          this.loader = true;
      getSalesMainPromotionListsByID(id)
        .then((response) => {
            if(response!=undefined && response.data!=null && response.data !="")
            {
             let result = response.data.filter(o => o.isFocList == true);
          this.gridItems = result;     
            }      
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
      this.loader = true;
    
      getGenericCodesByStatus("")
        .then((response) => {
          this.genericCodeItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
   

    save() {
      if (this.$refs.form.validate()) {
           this.editedItem.salesPromotionId = this.salesPromotionId;
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateSalesMainPromotionList(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
              
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createSalesMainPromotionList(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.salesMainPromotionListId = response.data.salesMainPromotionListId;
              let index = this.gridItems
                .map((item) => item.salesMainPromotionListId)
                .indexOf(response.data.salesMainPromotionListId);
              this.editedIndex = index;
              this.salesPromotionId = response.data.salesPromotionId;
              this.subloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
              
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    add() {    
      this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.salesMainPromotionListId = -1;
      this.editedItem.genericCodeId = null;
      this.editedItem.salesPromotionId = null;
      this.editedItem.itemUom = "";    
      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.editedItem.isFocList = true;
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    addFormDialog() {
      this.add();
    },

    editItem(item) {
      this.loadDropdownList();

      setTimeout(() => {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.editedItem.valid = false;
        this.attachfiles = new FormData();
        console.log("editeditem" + JSON.stringify(this.editedItem));
        if (this.editedItem.sessionId != null) {
          this.sessionId = this.editedItem.sessionId;
          this.salesPromotionId = this.editedItem.salesPromotionId;        
          this.uploadbtn = false;
        }
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.salesMainPromotionListId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteSalesPromotion(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
   
   
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 120px);
 }
</style>