<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <!--   <h4>Notify Document</h4> -->
      </v-toolbar-title>
    </v-toolbar>
    <v-toolbar card dense color="transparent">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-toolbar>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="printDocuments"
          class="elevation-1"
          :loading="gridloader"
          default-sort="documentShareId:desc"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
          :search="search"
        >
          <template slot="items" slot-scope="props">
            <tr>
            <td class="text-xs-left">{{ props.item.subjectName }}</td>
         
          <td class="text-xs-left" v-if="props.item.type=='Document'">{{ props.item.documentName }}</td>
           <td class="text-xs-left" v-if="props.item.type=='Link'"> <span
                    style="text-decoration: none; color: blue"
                    onmouseover="style='text-decoration:underline;color:blue;cursor:pointer;'"
                    onmouseout="style='text-decoration:none;color:blue;'"
                    >{{ props.item.documentName }}</span
                  ></td>
                  <td class="text-xs-left">{{ props.item.typeOfEventName }}</td>
          <td class="text-xs-left">{{ props.item.description }}</td>
                  <td class="text-xs-left">{{ props.item.calenderStatusName }}</td>
          <td class="text-xs-left">
            {{
              props.item.modifiedByUser == ""
                ? props.item.addedByUser
                : props.item.modifiedByUser
            }}
          </td>
          <td class="text-xs-left">
            {{
              props.item.modifiedDate == null
                ? props.item.addedDate
                : props.item.modifiedDate | formatDate
            }}
          </td>
             <td class="text-xs-left">{{ props.item.notes }}</td>
          <td class="justify-center layout px-0">
            <td>
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list v-if="props.item.type=='Document'">
                    <v-list-tile v-for="(item, i) in items" :key="i" @click="menuClick(item, props.item)" ripple="ripple" rel="noopener">
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                  <v-list v-if="props.item.type=='Link'">
                    <v-list-tile v-for="(item, i) in itemsLink" :key="i" @click="menuClick(item, props.item)" ripple="ripple" rel="noopener">
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
         
          </td>
        </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
    <v-dialog v-model="fileViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="fileViewer = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12 v-show="showAll">
              <iframe
                name="openPdfIframeCalandarPrintDoc"
                v-if="!loadHtml && !loadImage"
                width="100%"
                style="overflow: auto; height: calc(98vh - 100px)"
                :src="fileContent"
              ></iframe>

              <div
                v-if="loadHtml"
                v-html="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              ></div>

              <img
                v-if="loadImage"
                :src="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              />
            </v-flex>
            <v-flex xs12 sm12 v-show="showExcel">
              <xlsx ref="refxlsx"></xlsx>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="playViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-spacer></v-spacer>
          <v-btn icon @click.native="playerViewerClose">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <div style="overflow: auto; height: calc(70vh - 50px)">
            <v-layout wrap>
              <v-flex xs12 sm12>
                <video
                  ref="myvideo"
                  :id="videoId"
                  width="100%"
                  height="60%"
                  controls
                />
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="notesdialog" max-width="1200px">
      <notes
        title="Document Notes"
        ref="refnotes"
        :closeMethod="closenotes"
      ></notes>
    </v-dialog>
  </v-card>
</template>

<script>
import { getCompanyCalendarLineLinkUserLinkByUser,updateCompanyCalendarLineLinkUserLinkByUserStatus } from "@/api/CompanyCalendarLine";
import { downloadFile, downloadFileDoc } from "@/api/fileProfileType";
import { getLatestDocument } from "@/api/document";
import notes from "@/pages/calendar/personalCalendar/calenderNotes";
import { viewFile } from "@/api/fileAttachements";
import Xlsx from "@/pages/xlsx";
import GlobalMessage from "@/constant";
export default {
  components: { notes, Xlsx },
  data() {
    return {
      historyfileShareDocumentloader: false,
      historyShareDocumentItems: [],
      totalRows: 0,
      loading: false,
      notesdialog: false,
      isAddNotes: false,
      notifydialog: false,
      showExcel: false,
      fileViewer: false,
      loadImage: false,
      playViewer: false,
      loadHtml: false,
      printDocuments: [],
      historyItems: [],
      gridloader: false,
      search: "",
      historyfileloader: false,
      filehistory: false,
      fileContent: null,
      showAll: true,
      items: [
        {
          icon: "cloud_download",
          href: "#",
          title: "Download",
          click: (e) => {},
        },
        {
            icon: "close",
            href: "#",
            title: "Close",
            click: (e) => { },
          },
       /*  {
          icon: "assignment",
          href: "#",
          title: "View File",
          click: (e) => {},
        },
        {
          icon: "album",
          href: "#",
          title: "Play",
          click: (e) => {},
        }, */
      ],
      itemsLink: [
        {
          icon: "assignment",
          href: "#",
          title: "View Link",
          click: (e) => {},
        },
        {
            icon: "close",
            href: "#",
            title: "Close",
            click: (e) => { },
          },
      ],
      headers: [
         { text: "Subject", value: "subjectName", align: "left" },
         { text: "Name", value: "documentName", align: "left" },
        { text: "Event Name", value: "typeOfEventName", align: "left" },
        { text: "Notes", value: "description", align: "left" },
        
        { text: "Status", value: "calenderStatusName", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        {
          text: "Modified Date",
          value: "modifiedDate",
          align: "left",
        },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%",
        },
      ],
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchData: { id: null, searchString: "", userId: null },
    };
  },

  computed: {
    videoId: function () {
      return "video_" + (Math.floor(Math.random() * (10 - 1 + 1)) + 1);
    },
  },
  created() {
    this.initialize();
  },
  beforeDestroy() {},
  methods: {
    stripTags(definition) {
      var div = document.createElement("span");
      div.innerHTML = definition;
      return div.innerText.substring(0, 15);
    },
    initialize() {
      this.loader = true;
      this.gridloader = true;
      getCompanyCalendarLineLinkUserLinkByUser(this.$store.state.auth.userId)
        .then((response) => {
          this.printDocuments = response.data;
          window.getApp.$emit(
            "SEND_PRINT_CALANDAR_DOCUMENT",
            this.printDocuments.length
          );
          this.loader = false;
          this.gridloader = false;
        })
        .catch((error) => {
          this.loader = false;
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    playerViewerClose() {
      var x = document.getElementById(this.videoId);
      x.pause();
      document.getElementById(this.videoId).removeAttribute("src");
      this.playViewer = false;
    },
    download(item) {
      this.loader = true;
      getLatestDocument(item.documentID)
        .then((response) => {
          let blob = new Blob([response.data], {
            type: item.contentType,
          });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.documentName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key.title == "Download") {
        this.download(item);
      } else if (key.title == "View Link") {
        this.viewLink(item);
      } else if (key.title == "View File") {
        this.fileViewer = true;
        this.logContent(item);
      }
      else if (key.title == "Close") {
       this.updateClose(item);
      } else if (key.title == "Play") {
        var videoType = item.contentType.includes("video");
        if (videoType == true) {
          this.playVideo(item);
        }
      }
    },
    updateClose(item)
    {
        updateCompanyCalendarLineLinkUserLinkByUserStatus(item)
        .then((response) => {
          this.initialize();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    playVideo(file) {
      let fileName = file.sessionId + "." + file.documentName.split(".").pop();
      let routeData = this.$router.resolve({
        name: "video",
        query: { path: fileName },
      });
      window.open(routeData.href, "_blank");
    },
    downloadAttachment(file) {
      this.loader = true;
      this.searchData.id = file.documentID;
      this.searchData.searchString = file.type;
      this.searchData.userId = this.$store.state.auth.userId;
      console.log("Search Data", this.searchData, file);
      downloadFile(this.searchData)
        .then((response) => {
          console.log(response.data);
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.documentName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    viewLink(item) {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(item.fileName)) {
        var substring = "AttachmentDownload";
        if(item.fileName.indexOf(substring) !== -1)
        {
        window.open(item.fileName+'&&per=No', "_blank");
        }
        else
        {
          window.open(item.fileName, "_blank");
        }
      } else {
        window.getApp.$emit("APP_API_ERROR", "Invalid URL link");
      }
    },
    closenotes() {
      this.notesdialog = false;
    },
    openNotify(item) {
      this.notesdialog = true;
      this.$refs.refnotes.companyCalendarLineId = item.companyCalendarLineId;
      setTimeout(() => {
        this.$refs.refnotes.getNotes();
      }, 300);
    },
    logContent(item) {
      this.viewedFile = item;
      this.fileContent = null;
      this.loadHtml = false;
      this.loadImage = false;
      this.showAll = true;
      this.showExcel = false;
      if (item.isMobileUpload == true) {
        this.isViewFile = true;
        this.fileContent = GlobalMessage.APPUpload + item.fileName;
      } else if (
        item.contentType == "application/vnd.ms-excel" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      ) {
        this.showAll = false;
        this.showExcel = true;
        this.$refs.refxlsx.selectedSheet = null;
        this.$refs.refxlsx.showGrid = false;
        this.$refs.refxlsx.downloadAttachment(item);
      } else if (item.contentType == "application/pdf") {
        this.viewPdf(item);
      } else if (
        item.contentType == "application/msword" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.presentationml.presentation"
      ) {
        this.loadHtml = true;
          viewFile(item)
            .then((response) => {
              this.fileContent = response.data;
            })
            .catch((error) => {
              this.attachloaders = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        //this.convertDocToPdf(item);
      } else {
        if (item.contentType.includes("image")) {
          this.loadImage = true;
        }

        if (
          item.contentType == "text/plain"
        ) {
          this.loadHtml = true;
        } else {
          if (!item.contentType.includes("image")) {
            this.loadHtml = true;
          }
        }

        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    downloadViewFile() {
      this.downloadAttachment(this.viewedFile);
    },
    convertDocToPdf(item) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframeCalandarPrintDoc");
      downloadFileDoc(item)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.fileName;
          window.open(link.href, "openPdfIframeCalandarPrintDoc");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    viewPdf(file) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframeCalandarPrintDoc");
      this.attachloaders = true;
      this.searchData.id = file.documentID;
      this.searchData.searchString = file.type;
      this.searchData.userId = this.$store.state.auth.userId;
      file.lockedByUserId = this.$store.state.auth.userId;
      downloadFile(this.searchData)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.fileName;
          window.open(link.href, "openPdfIframeCalandarPrintDoc");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
