<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <!--  <v-toolbar-title>
        <h4>Request AC List</h4>
      </v-toolbar-title> -->
    </v-toolbar>
    <v-dialog v-model="dialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="saveAndClose">
              <v-icon color="white">library_add</v-icon>
            </v-btn>
            <span>Save and Close</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="save">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>

          <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
        </v-toolbar>

        <div class="task-sub--scroll">
          <v-card-text> </v-card-text>
        </div>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn outline color="primary" slot="activator" @click.native="save">save</v-btn>
          <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-card-text class="pa-0">
      <template>
        <v-data-table :items="requestAcList" :headers="headers" :search="search" :loading="gridloader" class="elevation-1">
          <template slot="items" slot-scope="props">
            <tr v-on:dblclick="redirectLink(props.item)">
              <td class="text-xs-left">{{ props.item.profileName }}</td>
              <td class="text-xs-left">{{ props.item.companyName }}</td>
              <td class="text-xs-left">{{ props.item.customerName }}</td>

              <td class="text-xs-left">
                {{ props.item.dateChange | formatDate }}
              </td>
              <td class="text-xs-left">{{ props.item.statusCode }}</td>
              <td class="text-xs-left">{{ props.item.addedByUser }}</td>
              <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>

              <td class="justify-center layout px-0">
                <v-icon small class="mr-2" @click="redirectLink(props.item)">edit</v-icon>
              </td>
            </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
  import { getRequestACItemsByStatus } from "@/api/requestAC";
  import { getApplicationFormByScreenID } from "@/api/ApplicationForm";
  export default {
    components: {},
    data () {
      return {
        screenId: "SFC9117",
        applicationFormData: null,
        search: "",
        gridloader: false,
        editedItem: {
          valid: false,
          requestAcid: -1,
          statusCodeID: 2052,
        },
        defaultItem: {
          valid: false,
          requestAcid: -1,
          statusCodeID: 2052,
        },
        dialog: false,
        headers: [
          { text: "Profile", value: "profileName", align: "left" },
          { text: "Company", value: "companyName", align: "left" },
          { text: "Customer", value: "customerName", align: "left" },

          { text: "Date Change", value: "dateChange", align: "left" },
          { text: "Status", value: "statusCode", align: "left" },
          { text: "Added By", value: "addedByUser", align: "left" },
          { text: "Modified By", value: "modifiedByUser", align: "left" },
          { text: "Actions", value: "name", sortable: false, align: "left" },
        ],
        requestAcList: [],
        picId: null,
      };
    },

    computed: {},
    created () {
      this.initialize();
    },
    beforeDestroy () { },
    methods: {
      initialize () {
        this.loader = true;
        this.gridloader = true;
        getApplicationFormByScreenID(this.screenId)
          .then((response) => {
            this.applicationFormData = response.data;
            this.picId = this.applicationFormData.personInchargeId;
            if (this.$store.state.auth.userId == this.picId) {
              getRequestACItemsByStatus("")
                .then((response) => {
                  window.getApp.$emit("REQUEST_AC_APPROVAL", response.data.length);
                  this.requestAcList = response.data;
                  this.loader = false;
                  this.gridloader = false;
                })
                .catch((error) => {
                  this.loader = false;
                  this.gridloader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }
            this.loader = false;
            this.gridloader = false;
          })
          .catch((error) => {
            this.loader = false;
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      redirectLink (item) {
        this.$router.push({
          name: "planning/requestACApproveLine",
          query: {
            id: item.requestAcid,
            picId: this.picId,
          },
        });
      },
    },

    save () {
      this.loader = true;
      let index = this.editedIndex;
    },

    close () {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
  };
</script>
