<template>
  <v-card>
    <v-toolbar
      card
      dense
      color="transparent"
    >
      <v-toolbar-title>
        <h4>Sales Novate List</h4>
      </v-toolbar-title>

    </v-toolbar>
     <v-dialog v-model="dialog" fullscreen>       

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>         

           

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          
          <div class="task-sub--scroll">
            <v-card-text>
               <v-form v-model="editedItem.valid" ref="novateform" lazy-validation>
          <v-layout wrap class="layoutbg">
           
            <v-flex xs12 sm4>
              <v-menu
                ref="poDateDue"
                v-model="poDateDue"
                :close-on-content-click="false"
                :nudge-right="40"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  :value="poDateFormated"
                  label="Date Of Request"
                  prepend-icon="event"
                  :rules="requiredRules"
                  clearable
                  readonly
                  @click:clear="clearableregistrationDateOfExpiry"
                ></v-text-field>
                <v-date-picker
                  v-model="editedItem.date"
                  @change="poDateDue = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <v-flex xs12 sm4>
              <v-text-field
                v-model="contractNo"
                label="Order No / Contract No"
                prepend-icon="description"
                readonly
              ></v-text-field>
             
            </v-flex>
            <v-flex xs12 sm4>             

              <v-autocomplete
                :loading="productNoloader"
                chips
                flat
                label="Product No"
                prepend-icon="notes"
                v-model="editedItem.itemId"
                :items="soCustomerItems"
                item-text="productNo"
                item-value="socustomersItemCrossReferenceId"
                @change="selectProduct"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip :selected="data.selected">{{
                    data.item.customerReferenceNo
                  }}</v-chip>
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.description"
                label="Item Description"
                prepend-icon="description"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.uom"
                label="UOM"
                prepend-icon="description"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-autocomplete
                label="Status"
                prepend-icon="invert_colors"
                v-model="editedItem.statusCodeID"
                :items="statusOptions"
                item-text="codeValue"
                item-value="codeID"
                chips
                color="blue"
               
              ></v-autocomplete>
            </v-flex>
          </v-layout>
          <v-layout wrap>
            <v-flex xs12 sm6>
              <v-layout row wrap class="layoutbg">
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm11 class="boxheader">
                  <span class="headline">From Information</span>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm10>
                  <v-autocomplete
                    label="From Customer"
                    prepend-icon="description"
                    v-model="editedItem.fromCustomerId"
                    :items="fromCustomerItems"
                    item-text="companyListingName"
                    item-value="companyListingID"
                    readonly
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>

       

                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm10>
                  <v-text-field
                    v-model="editedItem.fromTotalQty"
                    label="Total Quantity"
                    prepend-icon="description"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm10>
                  <v-text-field
                    v-model="editedItem.uom"
                    label="UOM"
                    prepend-icon="description"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm12 class="boxheader"></v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm6>
              <v-layout row wrap class="layoutbg">
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm11 class="boxheader">
                  <span class="headline">To Information</span>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm10>
                  <v-autocomplete
                    label="To Customers"
                    prepend-icon="description"
                    v-model="editedItem.toCustomerId"
                    :items="toCustomerItems"
                    item-text="companyListingName"
                    item-value="companyListingID"
                    readonly
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
               
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm10>
                  <v-text-field
                    v-model="editedItem.toTotalQty"
                    label="Total Qty"
                    prepend-icon="description"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm10>
                  <v-text-field
                    v-model="editedItem.uom"
                    label="UOM"
                    prepend-icon="description"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm10>
                  <v-text-field
                    v-model="editedItem.newPono"
                    label="New PO No"
                    prepend-icon="description"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1 class="boxheader"></v-flex>
                <v-flex xs12 sm12 class="boxheader"></v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-form>
            </v-card-text>
          </div>
        
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save"
              >save</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

    <v-card-text class="pa-0">
      <template>
        <v-data-table
                        :items="novatelist"                       
                        :headers="headers"
                        class="elevation-1"
                       
                      >
                        <template slot="items" slot-scope="props">
                         <tr v-on:dblclick="editItem(props.item)">
                            <td class="text-xs-left">
                              {{ props.item.date | formatDate }}
                            </td>
                            <td class="text-xs-left">
                              {{ props.item.contractNo }}
                            </td>

                            <td class="text-xs-left">
                              {{ props.item.fromCustomerName }}
                            </td>

                            <td class="text-xs-left">
                              {{ props.item.fromTotalQty }}
                            </td>
                            <td class="text-xs-left">
                              {{ props.item.toCustomerName }}
                            </td>

                            <td class="text-xs-left">
                              {{ props.item.toTotalQty }}
                            </td>
                             <td class="justify-center layout px-0">         
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
         
        </td>
                         </tr>
                        </template>
                      </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import UploadButton from "vuetify-upload-button";
import { getCodeMasterByType } from "@/api/applicationUser";
import {
  getSalesOrderNovate,
  updateSalesOrderNovate,
  getSalesOrderNovateItemsByContractId
} from "@/api/salesAdhocNovate";
import {
  getSocustomersItemCrossReferenceForSalesNovate,
} from "@/api/purchaseItemSalesEntryLine";
import { getSalesOrderEntryItemById } from "@/api/salesOrderEntry";
import { getSoBycustomersForSalesNovate } from "@/api/contractDistributionInfo";
import moment from "moment";
import GlobalMessage from "@/constant";
import SalesOrderNovateDocument from "@/pages/productionplanning/productionplanningv1/SalesOrderNovateDocument";
import attachment from "@/components/Attachment/attachments";

export default {
  components: {
    "upload-btn": UploadButton,
    SalesOrderNovateDocument,
    attachment,
  },
  data () {
      
    return {
         editedItem: {
      valid: false,
      date: null,
      itemId: null,
      fromCustomerId: null,
      fromStartMonth: "",
      fromTotalQty: null,
      toCustomerId: null,
      toStartMonth: "",
      toTotalQty: null,
      intoNoOfLots: null,
      newPono: null,
      sessionId: null,
      salesAdhocNovateId: -1,
      description: "",
      uom: "",
      salesOrderEntryId: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 2079,
      statusCode: "Open",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      date: null,
      salesAdhocNovateId: -1,
      itemId: null,
      fromCustomerId: null,
      fromStartMonth: "",
      fromTotalQty: null,
      toCustomerId: null,
      toStartMonth: "",
      toTotalQty: null,
      intoNoOfLots: null,
      newPono: null,
      sessionId: null,
      salesOrderEntryId: null,
      description: "",
      uom: "",

      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 2079,
      statusCode: "Open",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    dialog: false,
      timer: '',
      poDateDue: false,
      soCustomerItems: [],
      statusOptions: [],
      fromCustomerItems: [],
      toCustomerItems: [],
      contractNo: "",
        productNoloader: false,
       headers: [
      { text:  "Date Of Request", value: "date", align: "left" },
      {
        text: "Contract No",
        value: "contractNo",
        align: "left",
      },

      {
        text: "From Customer",
        value: "fromCustomerName",
        align: "left",
      },

      { text: "Qty To Novate", value: "fromTotalQty", align: "left" },
      {
        text: "To Customer",
        value: "toCustomerName",
        align: "left",
      },
      { text: "Qty Accepted", value: "toTotalQty", align: "left" },
       { text: "Action", value: "Action", align: "left" },
    ],
      novatelist: [],
    };
  },
   
  computed: {
     poDateFormated() {
      return this.editedItem.date
        ? moment(this.editedItem.date).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    poDateFormated1() {
      return this.editedItem.fromStartMonth
        ? moment(this.editedItem.fromStartMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    poDateFormated2() {
      return this.editedItem.toStartMonth
        ? moment(this.editedItem.toStartMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
     requiredRules() {
      return [v => !!v || "This is required field"];
    }
  },
  created () {
  this.initialize();
  

  },
  beforeDestroy () {
    
  },
  methods: {    
    initialize() {
     this.loader = true;
      getSalesOrderNovate("")
        .then((response) => {
          this.novatelist = response.data.filter(s=>s.statusCodeID==2081);         
          this.loader = false;
         
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
     
      this.loader = true;
      getCodeMasterByType("NovateStatus")
        .then((response) => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
     
      if (this.salesOrderEntryId > 0) {
        let id = this.salesOrderEntryId;
        getSocustomersItemCrossReferenceForSalesNovate(id)
          .then((response) => {
            this.soCustomerItems = response.data;
            this.Productloader = false;
          })
          .catch((error) => {
            this.Productloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }

      if (this.salesOrderEntryId > 0) {
        let id = this.salesOrderEntryId;
        getSalesOrderEntryItemById(id)
          .then((response) => {
            if (response.data != null) {
              console.log(
                "get item response data" + JSON.stringify(response.data)
              );
              this.editedItem.salesOrderEntryId = id;
              this.editedItem.itemId = response.data.novateProductId;
              //this.editedItem.date = response.data.dateOfOrder;
              this.selectProduct(response.data.novateProductId);
            }
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getSoBycustomersForSalesNovate(id)
          .then((response) => {
            this.toCustomerItems = response.data;
            this.fromCustomerItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
          if(this.editedItem.salesOrderEntryId>0)
          {
            let id = this.editedItem.salesOrderEntryId;
        getSalesOrderNovateItemsByContractId(id)
          .then((response) => {
            this.existingItemsContractNo = response.data;
            this.loader = false;
            //  console.log(this.gridItems);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
          }
      }
    },
   
    itemSelect() {
      console.log("Novate", JSON.stringify(this.editedItem));
      console.log("Contrat Nos", this.itemNoItems);
      let item = this.itemNoItems.filter(
        (f) => f.itemID == this.editedItem.itemId
      );
      if (item != undefined) {
        this.editedItem.uom = item[0].packUom;
        this.editedItem.description = item[0].description;
      }
    },

    clearableregistrationDateOfExpiry() {
      this.editedItem.date = null;
    },
    clearableregistrationDateOfExpiry1() {
      this.editedItem.fromStartMonth = null;
    },
    clearableregistrationDateOfExpiry2() {
      this.editedItem.ToStartMonth = null;
    },
     save() {
     
        this.loader = true;
        let index = this.editedIndex;       
        if (this.editedItem.salesAdhocNovateId > 0) {
          

          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateSalesOrderNovate(this.editedItem)
            .then((response) => {
              
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
               this.loadDefaultItems();
               this.initialize();
              //this.add();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }        
    },

      close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    loadDefaultItems() {
      if (this.salesOrderEntryId > 0) {
        let id = this.salesOrderEntryId;

        this.loader = true;
        this.productNoloader = true;
        getSocustomersItemCrossReferenceForSalesNovate(id)
          .then((response) => {
            this.soCustomerItems = response.data;
            this.loader = false;
            this.productNoloader = false;
            this.selectProduct();
          })
          .catch((error) => {
            this.loader = false;
            this.productNoloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loader = true;
        getSoBycustomersForSalesNovate(id)
          .then((response) => {
            this.toCustomerItems = response.data;
            this.fromCustomerItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loader = true;
        getSalesOrderEntryItemById(id)
          .then((response) => {
            this.loader = false;
            if (response.data != null) {
              console.log(
                "get item 1 response data" + JSON.stringify(response.data)
              );
              this.editedItem.salesOrderEntryId = id;
              this.editedItem.itemId = response.data.novateProductId;
              //this.editedItem.date = response.data.dateOfOrder;
              this.selectProduct(response.data.novateProductId);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
          if(this.editedItem.salesOrderEntryId>0)
          {
            let id = this.editedItem.salesOrderEntryId;
        getSalesOrderNovateItemsByContractId(id)
          .then((response) => {
            this.existingItemsContractNo = response.data;
            this.loader = false;
            //  console.log(this.gridItems);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
          }
      }
    },
      selectProduct(value) {
      this.editedItem.uom = "";
      this.editedItem.description = "";
      if (this.editedItem.itemId > 0) {
        let product = this.soCustomerItems.filter(
          (n) => n.socustomersItemCrossReferenceId == this.editedItem.itemId
        );
        if (product.length > 0) {
          this.editedItem.uom = product[0].perUomName;
          this.editedItem.description = product[0].description;
        }
      }
    },

    editItem(item) {
      this.editedIndex = this.novatelist.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.salesOrderEntryId = item.salesOrderEntryId;
      this.loadDefaultItems();
    },

   
  }
};
</script>
