<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <!--  <h4>Notify Document</h4> -->
      </v-toolbar-title>
    </v-toolbar>
    <v-toolbar card dense color="transparent">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-toolbar>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :items="notifyDocuments"
          :headers="headers"
          :pagination.sync="pagination"
          class="elevation-1"
          :search="search"
          :loading="gridloader"
        >
          <template slot="items" slot-scope="props">
            <tr>
              <td>
                <v-icon
                  :disabled="props.item.sessionId == null"
                  @click="getNotes(props.item)"
                  small
                  >notes</v-icon
                >
                <v-icon
                  small
                  class="mr-2"
                  color="red"
                  v-if="props.item.isUrgent"
                  >fa fa-exclamation-circle</v-icon
                >
              </td>
              <td class="text-xs-left">{{ props.item.documentName }}</td>
              <td class="text-xs-left" v-if="props.item.isHidden">
                <a @click="clicklinkComment(props.item)"
                  >{{ props.item.documentPath }}
                </a>
              </td>
              <td class="text-xs-left" v-else>
                {{ props.item.documentPath }}
              </td>
              <td class="text-xs-left">
                <v-tooltip bottom>
                  <template slot="activator">
                    <span slot="activator">{{
                      stripTags(props.item.remarks)
                    }}</span>
                  </template>
                  <span>{{ props.item.remarks }}</span>
                </v-tooltip>
                <v-icon
                  small
                  class="mr-2"
                  v-if="props.item.isDetailNotes"
                  @click="openlongNotesFromGrid(props.item)"
                  >description</v-icon
                >
              </td>
              <td class="text-xs-left">
                {{ props.item.addedDate | formatDateTime }}
              </td>
              <td class="text-xs-left">
                {{ props.item.dueDate | formatDate }}
                <v-icon
                  small
                  class="mr-2"
                  @click="openDueDateDialog(props.item)"
                  >edit</v-icon
                >
              </td>
              <td class="text-xs-left">{{ props.item.statusCode }}</td>
              <td class="text-xs-left">{{ props.item.addedByUser }}</td>

              <td class="justify-center layout px-0">
                <!-- <v-icon small class="mr-2" @click="download(props.item)"
                  >cloud_download</v-icon
                >
                <v-icon small class="mr-2" @click="closeNotify(props.item)"
                  >close</v-icon
                > -->
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile
                      v-for="(item, i) in items"
                      :key="i"
                      @click="menuClick(i, props.item)"
                      :disabled="menudisabled(item, props.item)"
                      ripple="ripple"
                      :target="item.target"
                      rel="noopener"
                    >
                      <v-list-tile-action>
                        <!-- :disabled="props.item.isLocked && item.title =='CheckIn' && props.item.lockedByUserId != userId" -->
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
    <v-dialog v-model="filehistory">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              flat
              @click.native="filehistory = false"
              :loading="loader"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-title>
          <span class="headline">Notify History</span>
        </v-card-title>
        <app-section-loader :status="historyfileloader"></app-section-loader>
        <v-data-table
          :items="historyItems"
          class="elevation-1"
          :headers="historyheaders"
          hide-actions
        >
          <template slot="items" slot-scope="props">
            <tr>
              <td class="text-xs-left">{{ props.item.documentName }}</td>

              <td class="text-xs-left">
                <v-tooltip bottom>
                  <template slot="activator">
                    <span slot="activator">{{
                      stripTags(props.item.remarks)
                    }}</span>
                  </template>
                  <span>{{ props.item.remarks }}</span>
                </v-tooltip>
              </td>
              <td class="text-xs-left">{{ props.item.statusCode }}</td>
              <td class="text-xs-left">{{ props.item.addedByUser }}</td>
              <td>
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile
                      v-for="(item, i) in historymenus"
                      :key="i"
                      @click="historymenuClick(i, props.item)"
                      ripple="ripple"
                      rel="noopener"
                    >
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card>
    </v-dialog>
    <v-dialog v-model="fileViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="fileViewer = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12 v-show="showAll">
              <iframe
                name="openPdfIframeSendNotify"
                v-if="!loadHtml && !loadImage"
                width="100%"
                style="overflow: auto; height: calc(98vh - 100px)"
                :src="fileContent"
              ></iframe>

              <div
                v-if="loadHtml"
                v-html="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              ></div>

              <img
                v-if="loadImage"
                :src="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              />
            </v-flex>
            <v-flex xs12 sm12 v-show="showExcel">
              <xlsx ref="refxlsx"></xlsx>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="notifyLongdialog" max-width="1000px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="notifyLongdialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <vue-perfect-scrollbar class="folder-sub--scroll">
          <v-flex lg12 sm12>
            <vue-mce
              :config="sendLongConfig"
              ref="longEditor"
              id="longdescription"
              v-if="issendRTERender"
              v-model="notifyLongData.detailNotes"
            />
          </v-flex>
        </vue-perfect-scrollbar>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary darken-1"
            outline
            @click="notifyLongdialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dueDateDialog" max-width="700px" scrollable>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Due Date</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
          <v-flex lg12 sm12>
            <v-menu
              ref="dueDatemenu"
              v-model="dueDatemenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="notifyItem.dueDate"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                :value="dueDateFormatted"
                label="Due Date"
                prepend-icon="today"
                readonly
              ></v-text-field>
              <v-date-picker v-model="notifyItem.dueDate">
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="dueDatemenu = false"
                  >Cancel</v-btn
                >
                <v-btn
                  flat
                  color="primary"
                  @click="$refs.dueDatemenu.save(notifyItem.dueDate)"
                  >OK</v-btn
                >
              </v-date-picker>
            </v-menu>
          </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn outline color="primary" @click.native="updateDue">Save</v-btn>
          <v-btn outline color="primary" @click="dueDateDialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="playViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <!--  <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn> -->
          <v-spacer></v-spacer>

          <v-btn icon @click.native="playerViewerClose">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <div style="overflow: auto; height: calc(70vh - 50px)">
            <v-layout wrap>
              <v-flex xs12 sm12>
                <video
                  ref="myvideo"
                  :id="videoId"
                  width="100%"
                  height="60%"
                  controls
                />
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="notifydialog" max-width="1200px">
      <notify-document
        ref="refnotifydocument"
        :closeMethod="closepopuupNotify"
      ></notify-document>
    </v-dialog>
    <v-dialog v-model="notesdialog" max-width="1200px">
      <notes
        title="Document Notes"
        ref="refnotes"
        :closeMethod="closenotes"
        :showAddNotes="isAddNotes"
      ></notes>
    </v-dialog>
    <v-dialog v-model="personalnotesdialog" max-width="1200px">
      <personal-notes
        title="Personal Notes"
        ref="refPersonalnotes"
        :closeMethod="closePersonalNotes"
      ></personal-notes>
    </v-dialog>
  </v-card>
</template>

<script>
import GlobalMessage from "@/constant";
import {
  getNotifyDocumentBySendUser,
  closeSenderNotifyDocument,
  getNotifyHistory,
  getLongNotesByNotifyId,
  updateSendNotifyDueDate,
} from "@/api/notifyDocument";
import { viewFile } from "@/api/fileAttachements";
import moment from "moment";
import { downloadFile, downloadFileDoc } from "@/api/fileProfileType";
import { getLatestDocument } from "@/api/document";
import notes from "@/components/Notes/notes";
import PersonalNotes from "@/components/Notes/profilePersonalNotes";
import Util from "@/util";
import NotifyDocument from "@/components/Notes/notifyDocuments";
import Xlsx from "@/pages/xlsx";
export default {
  components: { notes, NotifyDocument, Xlsx, PersonalNotes },
  data() {
    return {
      notesdialog: false,
      personalnotesdialog: false,
      isAddNotes: false,
      dueDatemenu: false,
      sendLongConfig: Util.tinyconfig(150),
      notifydialog: false,
      headers: [
        { text: "", value: "", align: "left" },
        { text: "Document Name", value: "documentName", align: "left" },
        {
          text: "File Profile Path",
          value: "documentPath",
          sortable: false,
          align: "left",
          width: "150px",
        },
        { text: "Remarks", value: "remarks", align: "left" },
        { text: "Added Date & Time", value: "addedDate", align: "left" },
        { text: "Due Date", value: "dueDate", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      showExcel: false,
      fileViewer: false,
      issendRTERender: false,
      loadImage: false,
      playViewer: false,
      loadHtml: false,
      notifyItem: {
        notifyDocumentId: null,
        dueDate: new Date().toISOString().substr(0, 10),
        modifiedByUserID: null,
      },
      notifyDocuments: [],
      historyItems: [],
      gridloader: false,
      search: "",
      historyfileloader: false,
      dueDateDialog: false,
      notifyLongData: {
        notifyLongNotesId: -1,
        notifyDocumentId: null,
        detailNotes: "",
      },
      notifyLongdialog: false,
      filehistory: false,
      fileContent: null,
      showAll: true,
      pagination: {
        sortBy: "addedDate",
        descending: true,
        rowsPerPage: 10,
      },
      items: [
        {
          icon: "cloud_download",
          href: "#",
          title: "Download",
          click: (e) => {},
        },
        // {
        //   icon: "account_balance_wallet",
        //   href: "#",
        //   title: "History",
        //   click: (e) => {},
        // },
        {
          icon: "reply",
          href: "#",
          title: "Reply",
          click: (e) => {},
        },
        {
          icon: "close",
          href: "#",
          title: "Close",
          click: (e) => {},
        },
        {
          icon: "assignment",
          href: "#",
          title: "View File",
          click: (e) => {},
        },
        {
          icon: "album",
          href: "#",
          title: "Play",
          click: (e) => {},
        },
        {
          icon: "notes",
          href: "#",
          title: "Personal Notes",
          click: (e) => {},
        },
      ],
      historymenus: [
        {
          icon: "attach_file",
          href: "#",
          title: "Download",
          click: (e) => {},
        },
      ],
      historyheaders: [
        { text: "Document Name", value: "documentName", align: "left" },
        { text: "Remarks", value: "remarks", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      searchData: { id: null, searchString: "", userId: null },
    };
  },

  computed: {
    videoId: function () {
      return "video_" + (Math.floor(Math.random() * (10 - 1 + 1)) + 1);
    },
    dueDateFormatted() {
      return this.notifyItem.dueDate
        ? moment(this.notifyItem.dueDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {
    this.initialize();
  },
  beforeDestroy() {},
  methods: {
    playerViewerClose() {
      var x = document.getElementById(this.videoId);
      x.pause();
      document.getElementById(this.videoId).removeAttribute("src");
      this.playViewer = false;
    },
    stripTags(definition) {
      var div = document.createElement("div");
      div.innerHTML = definition;
      return div.innerText.substring(0, 20);
    },
    initialize() {
      this.loader = true;
      this.gridloader = true;
      var userId = this.$store.state.auth.userId;
      console.log("User Id", userId);
      getNotifyDocumentBySendUser(userId)
        .then((response) => {
          this.notifyDocuments = response.data;
          window.getApp.$emit(
            "SEND_NOTIFY_DOCUMENT",
            this.notifyDocuments.length
          );
          this.loader = false;
          this.gridloader = false;
        })
        .catch((error) => {
          this.loader = false;
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    downloadViewFile() {
      this.downloadAttachment(this.viewedFile);
    },
    download(item) {
      this.loader = true;
      getLatestDocument(item.documentID)
        .then((response) => {
          let blob = new Blob([response.data], {
            type: item.contentType,
          });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.documentName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key == 0) {
        this.download(item);
      } else if (key == 1) {
        this.openNotify(item);
      } else if (key == 2) {
        this.closeNotify(item);
      } else if (key == 3) {
        this.fileViewer = true;
        this.logContent(item);
      } else if (key == 4) {
        var videoType = item.contentType.includes("video");
        if (videoType == true) {
          this.playVideo(item);
        }
      } else if (key == 5) {
        this.personalnotesdialog = true;
        this.$refs.refPersonalnotes.documentId = item.documentID;
        this.$refs.refPersonalnotes.getNotes();
      }
    },
    playVideo(file) {
      let fileName = file.sessionId + "." + file.documentName.split(".").pop();
      let routeData = this.$router.resolve({
        name: "video",
        query: { path: fileName },
      });
      window.open(routeData.href, "_blank");
    },
    menudisabled(item, nItem) {
      var videoType = nItem.contentType.includes("video");
      if (item.title == "Download") {
        // return !nItem.isDownload;
        return false;
      } else if (item.title == "View File") {
        if (videoType == true) {
          return true;
        } else {
          return false;
        }
      } else if (item.title == "Play") {
        if (videoType == true) {
          return false;
        } else {
          return true;
        }
      }
    },
    historymenuClick(key, item) {
      if (key == 0) {
        this.downloadAttachment(item);
      }
    },
    closeNotify(item) {
      this.gridloader = true;
      item.userId = this.$store.state.auth.userId;
      closeSenderNotifyDocument(item)
        .then((response) => {
          this.initialize();
          // this.loader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    clicklinkComment(item) {
      var parentId =
        item.parentId == null ? item.fileProfileTypeId : item.parentId;
      let url =
        window.location.protocol +
        "//" +
        window.location.host +
        "/#/DMS/fileProfileTypeDocTree?fileProfileTypeId=" +
        item.fileProfileTypeId +
        "&mainfileProfileTypeId=" +
        parentId +
        "&documentName=" +
        item.documentName.split(".")[0];

      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(url)) {
        window.open(url, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    loadHistoryItems(item) {
      this.historyfileloader = true;
      var userId = this.$store.state.auth.userId;
      console.log("User Id", userId);
      getNotifyHistory(item.notifyDocumentId)
        .then((response) => {
          this.historyItems = response.data;
          this.historyfileloader = false;
        })
        .catch((error) => {
          this.historyfileloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    downloadAttachment(file) {
      this.loader = true;
      this.searchData.id = file.documentID;
      this.searchData.searchString = file.type;
      this.searchData.userId = this.$store.state.auth.userId;
      console.log("Search Data", this.searchData, file);
      downloadFile(this.searchData)
        .then((response) => {
          let downloadData = response.data;
          console.log(response.data);
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.documentName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    getNotes(item) {
      this.$refs.refnotes.sessionID = item.sessionId;
      this.$refs.refnotes.documentId = item.documentID;
      this.$refs.refnotes.getNotes();
      this.notesdialog = true;
    },
    closenotes() {
      this.notesdialog = false;
    },
    closePersonalNotes() {
      this.personalnotesdialog = false;
    },
    closepopuupNotify() {
      this.notifydialog = false;
    },
    openNotify(item) {
      this.notifydialog = true;
      this.$refs.refnotifydocument.documentId = item.documentID;
      this.$refs.refnotifydocument.notifyDocumentId = item.notifyDocumentId;
      this.$refs.refnotifydocument.isFromDashboard = true;
      setTimeout(() => {
        this.$refs.refnotifydocument.getNotify();
      }, 300);
    },
    logContent(item) {
      this.viewedFile = item;
      this.fileContent = null;
      this.loadHtml = false;
      this.loadImage = false;
      this.showAll = true;
      this.showExcel = false;
      if (item.isMobileUpload == true) {
        this.isViewFile = true;
        this.fileContent = GlobalMessage.APPUpload + item.fileName;
      } else if (
        item.contentType == "application/vnd.ms-excel" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      ) {
        this.showAll = false;
        this.showExcel = true;
        this.$refs.refxlsx.selectedSheet = null;
        this.$refs.refxlsx.showGrid = false;
        this.$refs.refxlsx.downloadAttachment(item);
      } else if (item.contentType == "application/pdf") {
        this.viewPdf(item);
      } else if (
        item.contentType == "application/msword" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.presentationml.presentation"
      ) {
        this.loadHtml = true;
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        // this.convertDocToPdf(item);
      } else {
        if (item.contentType.includes("image")) {
          this.loadImage = true;
        }

        if (item.contentType == "text/plain") {
          this.loadHtml = true;
        } else {
          if (!item.contentType.includes("image")) {
            this.loadHtml = true;
          }
        }

        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    convertDocToPdf(item) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframeSendNotify");
      downloadFileDoc(item)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.fileName;
          window.open(link.href, "openPdfIframeSendNotify");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    openlongNotes() {
      if (this.notifyItem.notifyDocumentId > 0) {
        this.notifyLongData.detailNotes = "";
        let id = this.notifyItem.notifyDocumentId;
        getLongNotesByNotifyId(id)
          .then((response1) => {
            this.gridloader = false;
            console.log("get response data" + JSON.stringify(response1.data));
            this.notifyLongData.detailNotes = response1.data.detailNotes;
            this.notifyLongData.notifyDocumentId =
              response1.data.notifyDocumentId;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      setTimeout(() => {
        this.notifyLongdialog = true;
        this.issendRTERender = true;
      }, 500);
    },
    openlongNotesFromGrid(item) {
      this.notifyLongData.notifyDocumentId = item.notifyDocumentId;
      let id = this.notifyLongData.notifyDocumentId;
      this.notifyLongData.detailNotes = "<div></div>";
      getLongNotesByNotifyId(id)
        .then((response1) => {
          this.gridloader = false;
          console.log("get response data" + JSON.stringify(response1.data));
          this.notifyLongData.detailNotes = response1.data.detailNotes;
          this.notifyLongData.notifyDocumentId =
            response1.data.notifyDocumentId;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      setTimeout(() => {
        this.notifyLongdialog = true;
        this.issendRTERender = true;
      }, 500);
    },
    openDueDateDialog(item) {
      this.dueDateDialog = true;
      this.notifyItem.notifyDocumentId = item.notifyDocumentId;
    },
    updateDue() {
      this.notifyItem.modifiedByUserID = this.$store.state.auth.userId;
      this.notifyItem.notifyDocumentId = updateSendNotifyDueDate(
        this.notifyItem
      )
        .then(() => {
          this.initialize();
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    viewPdf(file) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframeSendNotify");
      this.attachloaders = true;
      this.searchData.id = file.documentID;
      this.searchData.searchString = file.type;
      this.searchData.userId = this.$store.state.auth.userId;
      file.lockedByUserId = this.$store.state.auth.userId;
      downloadFile(this.searchData)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.fileName;
          window.open(link.href, "openPdfIframeSendNotify");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
