<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <h4>Template Progress</h4>
      </v-toolbar-title>
      
    </v-toolbar>
     <v-toolbar card dense color="transparent">
      
       <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>
    <v-card-text class="pa-0">
      <v-data-table
        :items="jobProgressTemplates"
        :headers="headers"
        class="elevation-1"
        :search="search"
        :loading="gridloader"
      >
        <template slot="items" slot-scope="props">
          <tr>
            <td class="text-xs-left">{{ props.item.actionNo }}</td>
            <td class="text-xs-left">{{ props.item.sectionNo }}</td>
            <td class="text-xs-left">{{ props.item.sectionDescription }}</td>
            <td class="text-xs-left">{{ props.item.subSectionNo }}</td>
            <td class="text-xs-left">
              {{ props.item.subSectionDescription }}
            </td>
            <td class="text-xs-left">
              {{ props.item.startDate | formatDate }}
            </td>
            <td class="text-xs-left">
              {{ props.item.completionDate | formatDate }}
            </td>
            <td class="text-xs-left">{{ props.item.assignedToName }}</td>
            <td class="text-xs-left">{{ props.item.personInAction }}</td>
            <td class="text-xs-left">{{ props.item.statusCode }}</td>
            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="editItem(props.item)"
                >edit</v-icon
              >
            </td>
          </tr>
        </template>
      </v-data-table>
    </v-card-text>
    <v-dialog v-model="timelinedialog" persistent max-width="600px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="timelinedialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card>
          <v-card-title>
            <h4>{{ templateName }}</h4>
          </v-card-title>

          <v-card-text class="pa-0">
            <div class="task-sub--scroll">
              <Timeline
                :timeline-items="timelineItems"
                :message-when-no-items="messageWhenNoItems"
              />
            </div>
          </v-card-text>
        </v-card>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            outline
            color="primary"
            slot="activator"
            @click.native="timelinedialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
import { getJobProgressTemplateLineProcessByPIC } from "@/api/jobProgressTemplate";
import { getJobProgressTemplateProcessLines } from "@/api/jobProgressTemplateLine";
import Timeline from "timeline-vuejs";
import moment from "moment";
export default {
  components: {
    Timeline,
  },
  data() {
    return {
      headers: [
        { text: "Action No", value: "actionNo", align: "left" },
        { text: "Section No", value: "sectionNo", align: "left" },
        {
          text: "Section Description",
          value: "sectionDescription",
          align: "left",
        },
        { text: "SubSection No", value: "subSectionNo", align: "left" },
        {
          text: "SubSection Description",
          value: "subSectionDescription",
          align: "left",
        },
        { text: "Start Date", value: "startDate", align: "left" },
        { text: "Completion Date", value: "completionDate", align: "left" },
        { text: "Assigned To", value: "assignedToName", align: "left" },
        {
          text: "Next Person In Action",
          value: "personInAction",
          align: "left",
        },
        { text: "Status", value: "statusCode", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%",
        },
      ],
      jobProgressTemplates: [],
      timelinedialog: false,
      search:"",
      gridloader: false,
      messageWhenNoItems: "There are not items",
      timelineItems: [],
      templateName: "",
    };
  },

  computed: {},
  created() {
    this.initialize();
  },
  beforeDestroy() {},
  methods: {
    initialize() {
      this.loader = true;
      this.gridloader = true;
      var userId = this.$store.state.auth.userId;

      getJobProgressTemplateLineProcessByPIC(userId)
        .then((response) => {
          this.jobProgressTemplates = response.data;
          window.getApp.$emit(
            "TemplateProgress",
            this.jobProgressTemplates.length
          );
          console.log("User Id", userId, this.jobProgressTemplates);
          this.loader = false;
           this.gridloader = false;
        })
        .catch((error) => {
          this.loader = false;
           this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.timelinedialog = true;
      this.loader = true;
      this.templateName="";
      this.timelineItems=[];
      getJobProgressTemplateProcessLines(item.jobProgressTemplateId)
        .then((response) => {
          var items = response.data;
          this.templateName = items[0].templateName;
          items.forEach((t) => {
            console.log("time item", t);
            let fromDate = moment(t.from).format("YYYY/MM/DD");
            var month = moment(t.from).format("MM");
            var day = moment(t.from).format("DD");
            var year = moment(t.from).format("YYYY");
            if (t.title == "" || t.title == null) {
              t.title = "Not Started";
            }
            this.timelineItems.push({
              from: new Date(year, month, day),
              title: t.title+"<br>"+t.sectionDescription,
              description: t.description,
              showDayAndMonth: true,
            });
          });
          console.log("time line items", this.timelineItems);
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
<style lang="stylus" scoped>
.task-sub--scroll {
  overflow: auto;
  height: calc(80vh - 90px - 50px);
}
</style>
