<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-dialog v-model="dialog" max-width="600px">
        <v-btn slot="activator" icon @click.native="add" v-show="showAddNotes">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveNotify"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="notifyform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm8>
                    <v-autocomplete
                      label="User"
                      :loading="loader"
                      :search-input.sync="searchuser"
                      multiple
                      prepend-icon="people"
                      v-model="editedItem.userIds"
                      :items="userItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userID"
                      @change="onUserChange"
                      :rules="userRules"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeUser(data.item)"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="editedItem.isShowInfoAllUser"
                      label="All in the calandar list"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="editedItem.isUrgent"
                      label="Urgent"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex
                    xs12
                    sm12
                    v-if="editedItem.isQuote"
                    style="padding: 10px"
                  >
                    <v-card color="indigo lighten-2" dark tile flat>
                      <v-icon>format_quote</v-icon>
                      <v-card-text v-html="quoteMessage"></v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="editedItem.notesDetails"
                      label="Notes"
                      prepend-icon="select_all"
                      required
                      :rules="requiredRules"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="saveNotify"
              >save</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn icon="" @click="getNotes()">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="notifyheaders"
                :search="search"
                :items="notesItems"
                :loading="gridloader"
                class="elevation-0"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">
                    <v-icon
                      small
                      class="mr-2"
                      color="red"
                      v-if="props.item.isUrgent"
                      >fa fa-exclamation-circle</v-icon
                    >
                    {{ props.item.addedDate | formatDateTime }}
                  </td>
                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>

                  <td class="text-xs-left">
                    {{ props.item.users }}
                  </td>
                  <td v-if="props.item.isQuote">
                    <span color="gray lighten-2" dark tile flat
                      ><b>"{{ props.item.quoteMessage }}"</b></span
                    ><br />
                    {{ props.item.notesDetails }}
                  </td>
                  <td v-else>
                    {{ props.item.notesDetails }}
                  </td>
                  <td>
                    <v-menu bottom right v-if="accessUserOnly(props.item)">
                      <v-btn slot="activator" icon>
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile
                          v-for="(item, i) in notesmenuItems"
                          :key="i"
                          @click="menuClick(i, props.item)"
                          ripple="ripple"
                          rel="noopener"
                        >
                          <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                          </v-list-tile-action>
                          <v-list-tile-title>{{
                            item.title
                          }}</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </td>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import {
  getNotesUsers,
  getCalandarNotes,
  createCompanyCalendarLineNotes,
} from "@/api/CompanyCalendarLine";
import GlobalMessage from "@/constant";
import moment from "moment";
export default {
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },

    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    companyCalendarLineId: -1,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    showAddNotes: false,
    loader: false,
    dialog: false,
    selected: "user",
    quoteMessage: "",
    gridloader: false,
    userItems: [],
    notesItems: [],
    sessionID: null,
    searchData: { id: null, searchString: "", userId: null },
    searchuser: "",
    defaultItem: {
      valid: false,
      notesDetails: "",
      userId: null,
      userIds: [],
      companyCalendarLineNotesId: -1,
      companyCalendarLineId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      calendarNotesId: null,
      isUrgent: null,
      isShowInfoAllUser: false,
    },
    editedItem: {
      valid: false,
      notesDetails: "",
      userId: null,
      userIds: [],
      companyCalendarLineNotesId: -1,
      companyCalendarLineId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      calendarNotesId: null,
      isUrgent: null,
      isShowInfoAllUser: false,
    },
    notifyheaders: [
      {
        text: "Date",
        value: "addedDate",
        align: "left",
      },
      {
        text: "From",
        value: "addedByUser",
        align: "left",
      },
      {
        text: "To",
        align: "left",
        value: "users",
      },
      {
        text: "Notes",
        align: "left",
        value: "notesDetails",
        width: "30%",
      },
    ],
    notesmenuItems: [
      {
        icon: "format_quote",
        href: "#",
        title: "Quote",
        isEnable: true,
        click: (e) => {},
      },
    ],
    attachloaders: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      sortBy: "addedDate",
      descending: true,
      rowsPerPage: 10,
    },
  }),
  computed: {
    userRules() {
      if (this.editedItem.isShowInfoAllUser != true) {
        return [
          () =>
            !!this.editedItem.userIds.length > 0 ||
            "Atleast one User must be selected.",
          (v) => !!v || "This is required field",
        ];
      }
    },
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
  },
  created() {},
  methods: {
    refreshMethod() {
      this.getNotes();
    },
    accessUserOnly: function (value) {
      if (value.addedByUserId == this.$store.state.auth.userId) {
        return true;
      } else {
        if (
          this.$store.state.auth.userId != undefined &&
          this.$store.state.auth.userId != null
        ) {
          let userExits = value.userIds.includes(
            parseInt(this.$store.state.auth.userId)
          );
          return userExits;
        }
      }
      return false;
    },
    add() {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.quoteMessage = "";
      this.editedIndex = -1;
      this.editedItem.userIds = [];
    },
    onUserChange() {
      this.searchuser = "";
    },
    removeUser(item) {
      const index = this.editedItem.userIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.userIds.splice(index, 1);
    },
    saveNotify() {
      if (this.$refs.notifyform.validate()) {
        this.loader = true;
        this.editedItem.companyCalendarLineId = this.companyCalendarLineId;
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        createCompanyCalendarLineNotes(this.editedItem)
          .then((response) => {
            this.loader = false;
            this.notesItems.push(response.data);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            //this.editedItem = Object.assign({}, this.defaultItem);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    getNotes() {
      this.loader = true;
      getNotesUsers(this.companyCalendarLineId)
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            let userExits = this.userItems.filter(
              (o) => o.userID == this.$store.state.auth.userId
            );
            if (userExits.length > 0) {
              this.showAddNotes = true;
            }
            this.loader = false;
            this.loadNotesList();
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadNotesList() {
      this.gridloader = true;
      getCalandarNotes(
        this.companyCalendarLineId,
        this.$store.state.auth.userId
      )
        .then((response1) => {
          this.gridloader = false;
          this.notesItems = response1.data;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key == 0) {
        this.editedItem.notesDetails = "";
        this.quoteMessage =
          item.notesDetails +
          "<br><br>" +
          item.addedByUser +
          ", " +
          moment(item.addedDate).format("DD-MMM-YYYY");
        this.editedItem.isQuote = true;
        this.editedItem.calendarNotesId = item.companyCalendarLineNotesId;
        this.editedItem.userIds = [];
        this.dialog = true;
      }
    },
    close() {
      this.dialog = false;
      this.getNotes();
    },
  },
};
</script>
  <style lang="stylus" scoped>
  .task-sub--scroll {
    overflow: auto;
    height: calc(100vh - 120px - 60px);
  }
</style>