<template>
  <div>
    <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Entry of Event</span>
    </v-layout>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridLineItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Entry of Event.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn :disabled="enableAddButton" icon="" @click="initialize()">
        <v-icon icon> refresh </v-icon>
      </v-btn>
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
        <v-btn
          slot="activator"
          :disabled="enableAddButton"
          icon
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="saveAndClose"
                :loading="subloader"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="save"
                :loading="subloader"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                :loading="subloader"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New CompanyCalender Line</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-btn
              v-if="editedItem.companyCalendarLineId > 0"
              text
              color="white"
              @click.native="openMettingNotes"
            >
              Add Meeting Notes
            </v-btn>
            <v-tooltip bottom v-if="editedItem.companyCalendarLineId > 0">
              <v-btn icon slot="activator" @click.native="opnenLinkWindow">
                <v-icon color="white">link</v-icon>
              </v-btn>
              <span>Add Link</span>
            </v-tooltip>
            <v-tooltip bottom v-if="editedItem.companyCalendarLineId > 0">
              <v-btn icon slot="activator" @click.native="opnenNotesWindow">
                <v-icon color="white">message</v-icon>
              </v-btn>
              <span>Add Calandar Notes</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scrolls">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="QuotationLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <v-menu
                      ref="poDateDue"
                      v-model="eventDateDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="eventDateFormated"
                        label="Date"
                        prepend-icon="event"
                        readonly
                        :rules="calenderEventRules"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.eventDate"
                        @change="eventDateDue = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="editedItem.tentative"
                      label="Tentative"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <p>All event add in</p>
                    <v-radio-group
                      row
                      v-model="editedItem.allEventFlag"
                      @change="onChangeAllEvent"
                    >
                      <v-radio label="All Day" value="All Day"></v-radio>
                      <v-radio
                        label="Specific Hours"
                        value="Specific Hours"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                    v-if="editedItem.allEventFlag == 'Specific Hours'"
                  >
                    <v-menu
                      ref="menufromTime"
                      v-model="reffromTime"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="formattedFromtime"
                        label="From Time"
                        prepend-icon="access_time"
                        actions
                        readonly
                      ></v-text-field>
                      <v-time-picker
                        v-model="editedItem.fromTime"
                      ></v-time-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                    v-if="editedItem.allEventFlag == 'Specific Hours'"
                  >
                    <v-menu
                      ref="menuToTime"
                      v-model="refToTime"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      max-width="290px"
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="formattedTotime"
                        label="To Time"
                        prepend-icon="access_time"
                        actions
                        readonly
                      ></v-text-field>
                      <v-time-picker
                        v-model="editedItem.toTime"
                        :min="editedItem.fromTime"
                      ></v-time-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Participants"
                      prepend-icon="assistant"
                      :items="participantsItems"
                      v-model="editedItem.participantsIds"
                      color="blue"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="searchParticipants"
                      @change="selectParticipants"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeParticipants(data.item)"
                          >{{ data.item.name }}</v-chip
                        >
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content
                            v-text="data.item"
                          ></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title
                              v-html="data.item.name"
                            ></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="For Infomation"
                      prepend-icon="assistant"
                      :items="informationItems"
                      v-model="editedItem.informationIds"
                      color="blue"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="searchInformation"
                      @change="selectInformation"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeInfromation(data.item)"
                          >{{ data.item.name }}</v-chip
                        >
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content
                            v-text="data.item"
                          ></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title
                              v-html="data.item.name"
                            ></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6 v-if="typeOfEventFlag">
                    <v-text-field
                      v-model="editedItem.subject"
                      label="Subject"
                      prepend-icon="select_all"
                      :rules="subjectRules"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 v-if="typeOfEventFlag">
                    <v-autocomplete
                      label="Type of Event"
                      prepend-icon="notes"
                      v-model="editedItem.typeOfEventId"
                      :items="typeOfEventItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      chips
                      :rules="subjectRules"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :loading="subloader"
                      chips
                      flat
                      label="Location of Event"
                      prepend-icon="notes"
                      v-model="editedItem.typeOfServiceId"
                      :items="typeOfServiceItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      :rules="subjectRules"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-textarea
                      v-model="editedItem.notes"
                      label="Notes related to Location"
                      prepend-icon="select_all"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm6 v-if="typeOfEventFlag">
                    <v-menu
                      ref="poDateDue"
                      v-model="eventDueDateDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="eventDueDateFormated"
                        label="Due by Require Party"
                        prepend-icon="event"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.dueDate"
                        @change="eventDueDateDue = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.calenderStatusId"
                      :items="statusOptions"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      :rules="subjectRules"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="subloader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
              :loading="subloader"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridLineItems"
      :search="search"
      class="elevation-1"
      default-sort="companyCalendarLineId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      item-key="companyCalendarLineId"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.eventDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.typeOfEventName }}</td>
        <td class="text-xs-left">{{ props.item.subject }}</td>
        <td class="text-xs-left">{{ props.item.participants }}</td>
        <td class="text-xs-left">{{ props.item.information }}</td>
         <td class="text-xs-left">{{ props.item.calanderParentId==null?"":"Copy Event" }}</td>
        <td class="text-xs-left">
          {{
            props.item.modifiedByUser == ""
              ? props.item.addedByUser
              : props.item.modifiedByUser
          }}
        </td>
        <td>
          <v-menu bottom right>
            <v-btn slot="activator" icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile
                v-for="(item, i) in menuItems"
                :key="i"
                @click="menuClick(item, props.item)"
                ripple="ripple"
                rel="noopener"
              >
                <v-list-tile-action>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog1"
      heading="Are You Sure You Want To Close?"
      message="Are You Sure You Want To Close? Files Not Updloaded"
      @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>
    <v-dialog v-model="attachdialog" persistent max-width="900px">
      <attachment
        title="Quotation History Document"
        :screenID="screenID"
        :sessionID="sessionId"
        controller="Documents"
        action="GetDocumentsBySessionID"
        uploadAction="UploadDocument"
        deleteAction="DeleteDocument"
        downloadAction="DownLoadDocument"
        ref="refattach"
        :closeMethod="closeattach"
      ></attachment>
    </v-dialog>
    <v-dialog v-model="documentdiscussiondialouge" max-width="1200px">
      <notes
        title="Document Notes"
        ref="refmessageForm"
        :closeMethod="closenotes"
      ></notes>
    </v-dialog>
    <v-dialog v-model="linkfromwindowdialouge" fullscreen>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-toolbar-title>Calandar Links</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              flat
              @click.native="closelinkfromwindow()"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <div class="task-sub--scrolls">
          <calandar-link ref="linkfromwindow"></calandar-link>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog v-model="printwindowdialouge" fullscreen>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              flat
              @click.native="closeprintwindowdialouge()"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          <div class="task-sub--scrolls">
            <v-layout wrap>
              <v-flex xs12 sm6>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Users"
                  prepend-icon="assistant"
                  :items="userItems"
                  v-model="printItems.printUserIds"
                  color="blue"
                  item-text="name"
                  item-value="userID"
                  multiple
                  :search-input.sync="searchPrintUsers"
                  @change="selectPrintUsers"
                >
                  <template slot="selection" slot-scope="data">
                    <v-chip
                      :selected="data.selected"
                      close
                      class="chip--select-multi"
                      @input="removePrintUsers(data.item)"
                      >{{ data.item.name }}</v-chip
                    >
                  </template>
                  <template slot="item" slot-scope="data">
                    <template v-if="typeof data.item !== 'object'">
                      <v-list-tile-content
                        v-text="data.item"
                      ></v-list-tile-content>
                    </template>
                    <template v-else>
                      <v-list-tile-content>
                        <v-list-tile-title
                          v-html="data.item.name"
                        ></v-list-tile-title>
                      </v-list-tile-content>
                    </template>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>
            <v-data-table
              :headers="linkHeaders"
              :items="companyCalendarLinkLineItems"
              :search="linksearch"
              class="elevation-1"
              default-sort="workDateID:desc"
              :rows-per-page-items="rowsPerPageItems"
              :pagination.sync="pagination"
            >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">
                  <span
                    @click="viewLink(props.item)"
                    style="text-decoration: none; color: blue"
                    onmouseover="style='text-decoration:underline;color:blue;cursor:pointer;'"
                    onmouseout="style='text-decoration:none;color:blue;'"
                    >{{ props.item.urlText }}</span
                  >
                </td>
                <td class="text-xs-left">{{ props.item.restrictUsers }}</td>

                <td>
                  <v-edit-dialog
                    :return-value.sync="props.item.description"
                    large
                    @save="savePrintLinkNotes(props.item)"
                    @cancel="cancelLinkNotes"
                    @open="openLinkNotes"
                    @close="closeLinkNotes"
                  >
                    {{ props.item.description }}
                    <template v-slot:input>
                      <v-textarea
                        slot="activator"
                        label="Notes"
                        prepend-icon="notes"
                        v-model="props.item.description"
                        rows="6"
                        cols="50"
                      ></v-textarea>
                    </template>
                  </v-edit-dialog>
                </td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <!--  <td class="justify-center layout px-0">
                <v-icon
                  small
                  class="mr-2"
                  @click="editSelectUsersItems(props.item)"
                  v-if="props.item.addedByUserID == $store.state.auth.userId"
                >
                  person
                </v-icon>
              </td> -->
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="initialize">
                  Record not exist.Refresh again in while time.</v-btn
                >
              </template>
            </v-data-table>
          </div>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary darken-1"
            outline
            @click.native="savePrint"
            :loading="loader"
            >save</v-btn
          >
          <v-btn
            color="primary darken-1"
            outline
            @click.native="closeprintwindowdialouge"
            :loading="loader"
            >Close</v-btn
          >
        </v-card-actions>
        <!--  <v-dialog v-model="userPrintdialog" persistent max-width="900px">
          <v-card>
            <v-toolbar color="primary" dark>
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  flat
                  @click.native="userPrintdialog = false"
                >
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>
           
              <div class="task-sub--scrolls">
                 <v-card-text>
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Users"
                      prepend-icon="assistant"
                      :items="userItems"
                      v-model="printItems.printUserIds"
                      color="blue"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="searchPrintUsers"
                      @change="selectPrintUsers"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removePrintUsers(data.item)"
                          >{{ data.item.name }}</v-chip
                        >
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content
                            v-text="data.item"
                          ></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title
                              v-html="data.item.name"
                            ></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
                 </v-card-text>
              </div>
            
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="primary darken-1"
                outline
                @click.native="savePrint"
                :loading="loader"
                >save</v-btn
              >
              <v-btn
                color="primary darken-1"
                outline
                @click.native="userPrintdialog = false"
                :loading="loader"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog> -->
      </v-card>
    </v-dialog>
    <v-dialog v-model="meetingDialog" persistent fullscreen>
      <v-card>
        <v-toolbar color="primary" dark>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="openMettingSheet">
              <v-icon color="white">message</v-icon>
            </v-btn>
            <span>Add Meeting Notes</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              flat
              @click.native="meetingDialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <div class="task-sub--scrolls">
          <v-card-text>
            <v-container grid-list-xl fluid>
              <v-layout
                row
                wrap
                v-for="(item, mainkey) in meetingItems"
                :key="mainkey"
                no-action
              >
                <v-flex lg1>
                  <v-avatar class="primary mx-4 white--text">{{
                    item.addedByUser
                  }}</v-avatar>
                </v-flex>
                <v-flex lg11>
                  <v-card>
                    <v-toolbar color="transparent" flat dense>
                      <v-toolbar-title>
                        <div
                          style="
                            color: blue;
                            font-size: 18px;
                            font-weight: bold;
                          "
                        >
                          {{ item.addedByUser }}-{{ item.subject }}
                        </div>
                      </v-toolbar-title>
                      <v-spacer></v-spacer>
                      <v-icon small class="mr-2" @click="editMeetingNotes(item)"
                        >edit</v-icon
                      >
                      <span>
                        {{ item.addedDate | formatDate }}
                      </span>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text>
                      <div v-html="item.meetingData"></div>
                    </v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </div>
        <v-bottom-sheet v-model="bottomsheetMeetingNotes" persistent>
          <v-sheet height="500px" style="padding: 30px">
            <v-layout wrap>
               <v-flex xs12 sm12>
                      <v-text-field
                        v-model="editorData.subject"
                        label="Subject"
                        
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
              <v-flex xs12 sm12>
                <vue-mce
                  ref="meetingMce"
                  :id="meetingMceId"
                  :config="meetingEditorConfig"
                  :v-if="meetingEditorFlag"
                  v-model="editorData.meetingData"
                />
              </v-flex>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                class="mt-6"
                color="primary"
                @click.native="saveMettingEditor"
                >Save</v-btn
              >
              <v-btn
                class="mt-6"
                color="error"
                @click="bottomsheetMeetingNotesClose"
              >
                close
              </v-btn>
            </v-card-actions>
          </v-sheet>
        </v-bottom-sheet>
      </v-card>
    </v-dialog>
    <v-dialog v-model="linkCalandarDialog" persistent fullscreen>
      <v-card>
       <v-toolbar card dense color="primary">
          <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="linkCalandarDialog=false">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn
            icon
            slot="activator"
            flat
            @click.native="closelinkCalandarDialog"
          >
            <v-icon color="white">close</v-icon>
          </v-btn>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar>
      <link-calandar ref="refLinkCalandar"></link-calandar>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Util from "@/util";
import { getApplicationUsers } from "@/api/userGroup";
import moment from "moment";
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import attachment from "@/components/Attachment/calandarAttachments";
import {
  getCompanyCalendarLine,
  createCompanyCalendarLine,
  updateCompanyCalendarLine,
  deleteCompanyCalendarLine,
  insertCompanyCalendarLineLinkPrint,
  getDocumentsBySessionID,
  getCompanyCalendarLineMeetingNotes,
  createCompanyCalendarLineMeetingNotes,
  updatecompanyCalendarLinePrintNotes,
  updateCompanyCalendarLineMeetingNotes,
} from "@/api/CompanyCalendarLine";
import Notes from "@/pages/calendar/personalCalendar/calenderNotes";
import CalandarLink from "@/pages/calendar/personalCalendar/calandarLink";
import { getCompanyCalendarLineLinkAll } from "@/api/CompanyCalendarLine";
import LinkCalandar from "@/pages/calendar/personalCalendar/linkCalandar";
export default {
  components: {
    attachment,
    Notes,
    CalandarLink,
    LinkCalandar,
  },
  data: () => ({
    linkCalandarDialog: false,
    userPrintdialog: false,
    printItems: {
      companyCalendarLineId: -1,
      companyCalendarLineLinkId: -1,
      printUserIds: [],
      sessionId: null,
      addedByUserID: -1,
    },
    meetingItems: [],
    meetingEditorConfig: Util.tinyconfig(200),
    meetingEditorFlag: false,
    bottomsheetMeetingNotes: false,
    informationItems: [],
    participantsItems: [],
    searchPrintUsers: [],
    linksearch: "",
    printwindowdialouge: false,
    loader: false,
    userItems: [],
    linkfromwindowdialouge: false,
    documentdiscussiondialouge: false,
    screenID: "",
    attachdialog: false,
    eventDueDateDue: false,
    requireAssistanceFlag: "No",
    typeOfEventFlag: false,
    specificHoursFlag: false,
    typeOfServiceItems: [],
    locationItems: [],
    typeOfEventItems: [],
    applicationMasterDetailId: null,
    machineItems: [],
    vendorItems: [],
    dialog: false,
    subloader: false,
    productloader: false,
    editedIndex: -1,
    sessionId: null,
    search: "",
    gridLineItems: [],
    currencyItems: [],
    productdes: [],
    enableAddButton: true,
    companyCalendarId: -1,
    eventDateDue: false,
    calenderEventId: null,
    calenderEventName: "",
    externalServiceFlag: false,
    serviceMachineFlag: false,
    hoursRequireFlag: false,
    linkdocFlag: false,
    serviceLocationFlag: false,
    searchLocationType: "",
    headerTitle: "",
    reffromTime: null,
    refToTime: null,
    editedItem: {
      companyCalendarLineId: -1,
      companyCalendarId: -1,
      eventDate: "",
      vendorId: null,
      typeOfServiceId: null,
      notes: "",
      machineId: null,
      locationIds: [],
      noOfHoursRequire: "",
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 2230,
      allEventFlag: "All Day",
      fromTime: null,
      toTime: null,
      linkDocComment: "",
      typeOfEventId: null,
      dueDate: null,
      notesItems: [],
      subject: "",
      sessionId: null,
      calenderStatusId: null,
      participantsIds: [],
      informationIds: [],
      tentative: null,
    },
    companyCalendarLineId: null,
    defaultItem: {
      companyCalendarLineId: -1,
      companyCalendarId: -1,
      eventDate: "",
      vendorId: null,
      typeOfServiceId: null,
      notes: "",
      machineId: null,
      locationIds: [],
      noOfHoursRequire: "",
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 2230,
      allEventFlag: "All Day",
      fromTime: null,
      toTime: null,
      linkDocComment: "",
      typeOfEventId: null,
      dueDate: null,
      notesItems: [],
      subject: "",
      sessionId: null,
      calenderStatusId: null,
      participantsIds: [],
      informationIds: [],
      tentative: null,
    },
    menuItems: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        isEnable: true,
        click: (e) => {},
      },
      {
        icon: "attachment",
        href: "#",
        title: "Attachment",
        isEnable: true,
        click: (e) => {},
      },
      {
        icon: "link",
        href: "#",
        title: "Add Link",
        isEnable: true,
        click: (e) => {},
      },
      {
        icon: "message",
        href: "#",
        title: "Add Notes",
        isEnable: true,
        click: (e) => {},
      },
      {
        icon: "attachment",
        href: "#",
        title: "Print Document",
        isEnable: true,
        click: (e) => {},
      },
      {
        icon: "link",
        href: "#",
        title: "Link Copy Event",
        isEnable: true,
        click: (e) => {},
      },
    ],
    searchInformation: "",
    searchParticipants: "",
    NameOfHoliday: "",
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editorData: {
      companyCalendarLineMeetingNotesId: -1,
      companyCalendarLineId: null,
      meetingData: "",
      subject:"",
      addedByUserID: "",
      addedDate: "",
      statusCodeID: 1,
      modifiedByUserID: null,
      modifiedDate: null,
    },
    meetingDialog: false,
    companyCalendarLinkLineItems: [],
    statusOptions: [],
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      { text: "Date", value: "eventDate", align: "left" },
      { text: "Type Of Event", value: "typeOfEventName", align: "left" },
      { text: "Subject", value: "subject", align: "left" },
      { text: "Participants", value: "participants", align: "left" },
      { text: "For Information", value: "information", align: "left" },
      { text: "Link From", value: "calanderParentId", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      {
        text: "Actions",
        value: "valuename",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      Date: "eventDate",
      "Type Of Event": "typeOfEventName",
      Subject: "subject",
      Participants: "participants",
      "For Information": "information",
      "Modified By": "modifiedByUser",
    },
    linkHeaders: [
      { text: "Text", value: "urlText", align: "left" },
      { text: "Restrict Users", value: "restrictUsers", align: "left" },
      { text: "Notes", value: "description", align: "left" },
      { text: "AddedBy", value: "addedByUser", align: "left" },
      //{ text: "Actions", value: "name", sortable: false, align: "left" },
    ],
  }),
  computed: {
    meetingMceId() {
      return Math.floor(100000 + Math.random() * 900000);
    },
    formTitle() {
      return this.editedItem.companyCalendarLineId < 0
        ? "Add Event Details"
        : "Edit Event Details";
    },
    eventDateFormated() {
      return this.editedItem.eventDate
        ? moment(this.editedItem.eventDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    eventDueDateFormated() {
      return this.editedItem.dueDate
        ? moment(this.editedItem.dueDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    formattedFromtime() {
      var currentDate =
        moment(new Date()).format("DD-MMM-YYYY") +
        " " +
        this.editedItem.fromTime;
      return this.editedItem.fromTime
        ? moment(currentDate).format("hh:mm A")
        : "";
    },
    formattedTotime() {
      var currentDate =
        moment(new Date()).format("DD-MMM-YYYY") + " " + this.editedItem.toTime;
      return this.editedItem.toTime
        ? moment(currentDate).format("hh:mm A")
        : "";
    },
    calenderEventRules() {
      if (
        this.calenderEventName.toLowerCase().trim() != "calender assistance"
      ) {
        return [(v) => !!v || "This field is required"];
      }
    },
    subjectRules() {
      return [(v) => !!v || "This field is required"];
    },
    typeOfServiceRules() {
      if (
        this.calenderEventName.toLowerCase().trim() != "calender assistance"
      ) {
        return [
          () =>
            !!this.editedItem.typeOfServiceId > 0 ||
            "Atleast one type must be selected.",
          (v) => !!v || "This is required field",
        ];
      }
    },
    vendorRules() {
      if (
        this.calenderEventName.toLowerCase().trim() != "calender assistance"
      ) {
        return [
          () =>
            !!this.editedItem.vendorId > 0 ||
            "Atleast one type must be selected.",
          (v) => !!v || "This is required field",
        ];
      }
    },
  },
  created() {},
  methods: {
    closenotes() {
      this.documentdiscussiondialouge = false;
    },
    closelinkfromwindow() {
      this.linkfromwindowdialouge = false;
    },
    closeprintwindowdialouge() {
      this.printwindowdialouge = false;
    },
    closelinkCalandarDialog()
    {
      this.linkCalandarDialog=false;
      this.initialize();
    },
    openMettingNotes() {
      this.meetingDialog = true;
      this.getCompanyCalendarLineMeetingNotesList();
    },
    editMeetingNotes(item) {
      this.editorData.companyCalendarLineMeetingNotesId =
        item.companyCalendarLineMeetingNotesId;
      this.editorData.companyCalendarLineId = item.companyCalendarLineId;
      this.editorData.meetingData = item.meetingData;
      this.editorData.subject = item.subject;
      this.editorData.modifiedByUserID = this.userId;
      this.editorData.statusCodeID = 1;
      this.editorData.modifiedDate = new Date();
      this.bottomsheetMeetingNotes = true;
      setTimeout(() => {
        this.meetingEditorFlag = true;
      }, 500);
    },
    openMettingSheet() {
      this.editorData.companyCalendarLineMeetingNotesId = -1;
      this.editorData.companyCalendarLineId =
        this.editedItem.companyCalendarLineId;
      this.editorData.meetingData = "";
      this.editorData.subject = "";
      this.editorData.addedByUserID = this.$store.state.auth.userId;
      this.editorData.statusCodeID = 1;
      this.editorData.addedDate = new Date();
      this.bottomsheetMeetingNotes = true;
      setTimeout(() => {
        this.meetingEditorFlag = true;
      }, 500);
    },
    bottomsheetMeetingNotesClose() {
      this.bottomsheetMeetingNotes = false;
    },
    getCompanyCalendarLineMeetingNotesList() {
      getCompanyCalendarLineMeetingNotes(this.editedItem.companyCalendarLineId)
        .then((response) => {
          this.meetingItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveMettingEditor() {
      if (this.editorData.companyCalendarLineMeetingNotesId > 0) {
        updateCompanyCalendarLineMeetingNotes(this.editorData)
          .then(() => {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.getCompanyCalendarLineMeetingNotesList(
              this.editorData.companyCalendarLineId
            );
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        createCompanyCalendarLineMeetingNotes(this.editorData)
          .then((response) => {
            this.editorData.companyCalendarLineMeetingNotesId =
              response.data.companyCalendarLineMeetingNotesId;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            this.getCompanyCalendarLineMeetingNotesList(
              this.editorData.companyCalendarLineId
            );
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    opnenLink(item) {
      this.editedItem.companyCalendarLineId = item.companyCalendarLineId;
      this.opnenLinkWindow();
    },
    editSelectUsersItems(item) {
      this.printItems.printUserIds = item.printUserIds;
      this.printItems.companyCalendarLineId = item.companyCalendarLineId;
      this.printItems.sessionId = item.sessionId;
      this.printItems.addedByUserID = this.$store.state.auth.userId;
      this.printItems.companyCalendarLineLinkId =
        item.companyCalendarLineLinkId;
    },
    menuClick(item, items) {
      if (item.title == "Edit") {
        this.editItem(items);
      }
      else if (item.title == "Attachment") {
        if (items.sessionId != null) {
          this.fileAttachments(items);
        }
      }
      else if (item.title == "Add Link") {
        this.opnenLink(items);
      }
      else if (item.title == "Add Notes") {
        this.editedItem.companyCalendarLineId = items.companyCalendarLineId;
        this.opnenNotesWindow();
      }
      else if (item.title == "Print Document") {
        this.opnenPrintWindow(items);
        this.editSelectUsersItems(items);
      }
      else if (item.title == "Link Copy Event") {
        this.linkCalandarDialog = true;
        setTimeout(() => {
          this.$refs.refLinkCalandar.initialize(items);
        }, 400);
      }
    },
    removePrintUsers(item) {
      const index = this.printItems.printUserIds.indexOf(item.userID);
      if (index >= 0) this.printItems.printUserIds.splice(index, 1);
    },
    selectPrintUsers() {
      this.searchPrintUsers = "";
    },
    opnenPrintWindow(item) {
      this.printwindowdialouge = true;
      this.companyCalendarLineLinkList(
        item.companyCalendarLineId,
        item.sessionId
      );
    },
    companyCalendarLineLinkList(companyCalendarLineId, sessionID) {
      this.loader = true;
      getCompanyCalendarLineLinkAll(
        companyCalendarLineId,
        sessionID,
        this.$store.state.auth.userId
      )
        .then((response1) => {
          this.companyCalendarLinkLineItems = response1.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    opnenLinkWindow() {
      this.linkfromwindowdialouge = true;
      setTimeout(() => {
        this.$refs.linkfromwindow.companyCalendarLineId =
          this.editedItem.companyCalendarLineId;
        this.$refs.linkfromwindow.initialize();
      }, 400);
    },
    savePrint() {
      insertCompanyCalendarLineLinkPrint(this.printItems)
        .then((response) => {
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          // this.companyCalendarLineLinkList(this.printItems.companyCalendarLineId);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    opnenNotesWindow() {
      this.documentdiscussiondialouge = true;
      setTimeout(() => {
        this.$refs.refmessageForm.companyCalendarLineId =
          this.editedItem.companyCalendarLineId;
        this.$refs.refmessageForm.getNotes();
      }, 400);
    },
    selectInformation() {
      this.searchInformation = "";
      for (var id in this.editedItem.informationIds) {
        let user = this.editedItem.participantsIds.filter(
          (a) => a == this.editedItem.informationIds[id]
        );
        if (user[0] != null) {
          const itemindex = this.editedItem.participantsIds.indexOf(user[0]);
          if (itemindex >= 0)
            this.editedItem.participantsIds.splice(itemindex, 1);
        }
      }
    },
    removeInfromation(item) {
      const index = this.editedItem.informationIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.informationIds.splice(index, 1);
    },
    selectParticipants() {
      this.searchParticipants = "";
      for (var id in this.editedItem.participantsIds) {
        let user = this.editedItem.informationIds.filter(
          (a) => a == this.editedItem.participantsIds[id]
        );
        if (user[0] != null) {
          const itemindex = this.editedItem.informationIds.indexOf(user[0]);
          if (itemindex >= 0)
            this.editedItem.informationIds.splice(itemindex, 1);
        }
      }
    },
    removeParticipants(item) {
      const index = this.editedItem.participantsIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.participantsIds.splice(index, 1);
    },
    capitalized(str) {
      str = str.toLowerCase().replace(/\b[a-z]/g, function (letter) {
        return letter.toUpperCase();
      });
      return str;
    },
    onChnagenoOfHoursRequire() {
      this.editedItem.noOfHoursRequire = this.editedItem.noOfHoursRequire
        .replace(/[^0-9.]/g, "")
        .replace(/(\..*)\./g, "$1");
    },
    viewLink(item) {
      if (this.showAddNotes == true) {
        if (
          this.$store.state.auth.userId != undefined &&
          this.$store.state.auth.userId != null
        ) {
          let userExits = item.restrictUserIds.includes(
            parseInt(this.$store.state.auth.userId)
          );
          if (userExits == false) {
            var validate =
              /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
            if (validate.test(item.urlLink)) {
              window.open(item.urlLink, "_blank");
            } else {
              window.getApp.$emit("APP_API_ERROR", "Invalid URL link");
            }
          }
        }
      }
    },
    initialize() {
      this.gridLineItems = [];
      this.subloader = true;
      getCompanyCalendarLine(this.companyCalendarId)
        .then((response) => {
          this.gridLineItems = response.data;
          this.subloader = false;
          if (!isNaN(parseInt(this.companyCalendarLineId))) {
            var items = this.gridLineItems.filter(
              (a) => a.companyCalendarLineId == this.companyCalendarLineId
            );
            if (items.length > 0) {
              this.editItem(items[0]);
              this.companyCalendarLineId = null;
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.loadDropdownList();
    },
    removeLocationType(item) {
      const index = this.editedItem.locationIds.indexOf(item.ictMasterID);
      if (index >= 0) this.editedItem.locationIds.splice(index, 1);
    },
    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },
    selectLocationType() {
      this.searchLocationType = "";
    },
    onChangeAllEvent(value) {
      this.specificHoursFlag = false;
      if (value == "Specific Hours") {
        this.specificHoursFlag = true;
      }
    },
    cancelLinkNotes() {},
    openLinkNotes() {},
    closeLinkNotes() {},
    savePrintLinkNotes(item) {
      updatecompanyCalendarLinePrintNotes(item)
        .then(() => {
          window.getApp.$emit("APP_API_SUCCESS", "Notes Added Successfully");
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadDropdownList() {
      this.externalServiceFlag = false;
      this.serviceMachineFlag = false;
      this.hoursRequireFlag = false;
      this.linkdocFlag = false;
      this.serviceLocationFlag = false;
      this.typeOfEventFlag = false;
      this.typeOfServiceItems = [];
      this.linkdocFlag = true;
      this.getTypeOfEvent(true);
      this.subloader = true;
      getApplicationMasterDetailByType(313)
        .then((response) => {
          this.typeOfServiceItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(315)
        .then((response) => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.subloader = true;
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.participantsLists();
      this.informationLists();
    },
    participantsLists() {
      this.subloader = true;
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.participantsItems = uom;
            this.subloader = false;
          }
        })
        .catch((error) => {
          this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    informationLists() {
      this.subloader = true;
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.informationItems = uom;
            this.subloader = false;
          }
        })
        .catch((error) => {
          this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getTypeOfEvent() {
      this.typeOfEventFlag = true;
      this.subloader = true;
      getApplicationMasterDetailByType(314)
        .then((response) => {
          this.typeOfEventItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.loadDropdownList();
      this.editedItem.notesItems = [];
      this.editedItem = Object.assign({}, item);
      if (item.eventDate != null) {
        this.editedItem.eventDate = moment(item.eventDate).format("YYYY-MM-DD");
      }
      if (item.dueDate != null) {
        this.editedItem.dueDate = moment(item.dueDate).format("YYYY-MM-DD");
      }
      setTimeout(() => {
        this.dialog = true;
        this.onChangeAllEvent(this.editedItem.allEventFlag);
      }, 500);
      this.sessionId = item.sessionId;
      this.headerTitle = this.capitalized(this.calenderEventName);
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.statusCodeID = 2230;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.specificHoursFlag = false;
      //this.editedItem.notesItems = [];
      //this.addDataItem();
    },
    openPopup() {
      this.dialog = true;
      this.add();
    },
    save() {
      this.editedItem.companyCalendarId = this.companyCalendarId;
      if (this.$refs.QuotationLineform.validate()) {
        this.subloader = true;
        if (this.editedItem.companyCalendarLineId > 0) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          updateCompanyCalendarLine(this.editedItem)
            .then((response) => {
              this.subloader = false;
              this.headerTitle = this.capitalized(this.calenderEventName);
              this.sessionId = response.data.sessionId;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createCompanyCalendarLine(this.editedItem)
            .then((response) => {
              this.gridLineItems.push(response.data);
              this.subloader = false;
              this.editedItem.companyCalendarLineId =
                response.data.companyCalendarLineId;
              this.subloader = false;
              this.editedItem.sessionId = response.data.sessionId;
              this.sessionId = response.data.sessionId;
              this.headerTitle =
                this.capitalized(this.calenderEventName) +
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },

    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.companyCalendarLineId > 0) {
        this.subloader = true;
        deleteCompanyCalendarLine(this.editedItem)
          .then((response) => {
            this.subloader = false;
            if (response != undefined) {
              this.initialize();
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      this.sessionId = item.sessionId;

      this.attachdialog = true;
      setTimeout(() => {
         this.$refs.refattach.isexpiryDateEnabled = false;
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },
    fileAttachments(item) {
      this.sessionId = item.sessionId;

      this.attachdialog = true;
      setTimeout(() => {
         this.$refs.refattach.isexpiryDateEnabled = false;
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.isPrintOpen = true;
        this.$refs.refattach.getfiles();
      }, 500);
    },
    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.isPrintOpen = false;
      this.$refs.refattach.isexpiryDateEnabled = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scrolls {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>