<template>
  <div>
    <v-layout
      row
      wrap
    >
      <v-flex
        xs12
        sm6
      >
        <v-autocomplete
          chips
          flat
          placeholder="Color"
          :items="colorItems"
          v-model="editedItem.colorId"
          prepend-icon="invert_colors"
         
          label="Syrup Color"
          item-text="nameDescription"
          item-value="applicationMasterDetailId"
        ></v-autocomplete>
      </v-flex>
      <v-flex
        xs12
        sm6
      >

        <v-autocomplete
          chips
          flat
          placeholder="Flavour"
          multiple
          chips
          :hide-selected="true"
          :search-input.sync="searchFlavour"
          :items="flavourItems"
          v-model="editedItem.flavourIds"
          prepend-icon="format_shapes"
         
          label="Syrup Flavour"
          item-text="nameDescription"
          item-value="applicationMasterDetailId"
          @change="onSearchFlavour"
        >
          <template
            slot="selection"
            slot-scope="data"
          >
            <v-chip
              :selected="data.selected"
              close
              class="chip--select-multi"
              @input="removeFlavour(data.item)"
            >

              {{ data.item.nameDescription }}
            </v-chip>
          </template>
          <template
            slot="item"
            slot-scope="data"
          >
            <template v-if="typeof data.item !== 'object'">
              <v-list-tile-content v-text="data.item"></v-list-tile-content>
            </template>
            <template v-else>
              <v-list-tile-content>
                <v-list-tile-title v-html="data.item.nameDescription"></v-list-tile-title>
              </v-list-tile-content>
            </template>
          </template>
        </v-autocomplete>

      </v-flex>
      <v-flex
        xs12
        sm6
      >
        <v-autocomplete
          chips
          flat
          placeholder="Clarity"
          :items="clarityItems"
          v-model="editedItem.clarityId"
          prepend-icon="fa-map-marker"
         
          label="Clarity"
          item-text="nameDescription"
          item-value="applicationMasterDetailId"
        ></v-autocomplete>
      </v-flex>
    </v-layout>

    <v-layout
      row
      wrap
    >

      <v-flex
        xs12
        sm12
      >
        <!-- <label>Size (LXW)</label> -->
        <v-layout
          row
          wrap
          class="coatborder"
        >
          <v-flex
            xs1
            class="coatedTable"
          >

          </v-flex>
          <v-flex
            xs2
            class="coatedTable"
          >
            <span>Min</span>

          </v-flex>

          <v-flex
            xs2
            class="coatedTable"
          >
            <label>Max</label>

          </v-flex>

          <v-flex
            xs2
            class="coatedTable"
          >
            <label>Standard</label>

          </v-flex>
          <v-flex
            xs2
            class="coatedTable"
          >
            <label>Variation(+/-)</label>

          </v-flex>
          <v-flex
            xs2
            class="coatedTable"
          >
            <label>Variation(%)</label>

          </v-flex>
          <v-flex xs1>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
            <br>
            <label>PH in 25ºC</label>
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.phmin"
              suffix="mm"
              
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.phmax"
              suffix="mm"
            
            ></v-text-field>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.phStandard"
              suffix="mm"
             
            ></v-text-field>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.phvariationId"
              suffix="mm"
             
            ></v-text-field>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.phvariationValue"
              suffix="%"
              
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
            <br>
            <label>S.G in 25ºC</label>
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.sgmin"
              suffix="mm"
             
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>

          <v-flex xs1>
            <v-text-field
              v-model="editedItem.sgmax"
              suffix="mm"
             
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.sgStandard"
              suffix="mm"
             
            ></v-text-field>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.sgvariationId"
              suffix="mm"
            
            ></v-text-field>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.sgvariationValue"
              suffix="%"
             
            ></v-text-field>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
          </v-flex>

          <v-flex
            xs1
            class="coatedTable"
          >
            <br>
            <label>Viscosity in 25ºC</label>
          </v-flex>

          <!-- <v-flex
                                  xs1
                                  class="coatedTable"
                                >
                                </v-flex> -->

          <v-flex xs1>
            <v-text-field
              v-model="editedItem.viscosityMin"
              suffix="mg"
              
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.viscosityMax"
              suffix="mg"
             
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.viscosityStandard"
              suffix="mg"
             
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.viscosityVariationId"
              suffix="mg"
             
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
            <v-text-field
              v-model="editedItem.viscosityVariationValue"
              suffix="%"
             
            ></v-text-field>
          </v-flex>
          <v-flex
            xs1
            class="coatedTable"
          >
          </v-flex>
          <v-flex xs1>
          </v-flex>
          <v-flex
            xs11
            class="coatedTable"
          >
            <br>
          </v-flex>
          <v-flex xs1>
          </v-flex>
        </v-layout>

      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  data: () => ({
    colorItems: [],
    clarityItems: [],
    flavourItems: [],
    searchFlavour: '',
    editedItem:
    {
      valid: false,
      productName: '',
      finishProductId: null,
      isMasterDocument: false,
      isInformationvsMaster: false,
      methodCodeId: null,
      salesCategoryId: null,
      productMasterId: -1,
      requiredfield: [v => !!v || 'This is required field'],
      colorId: null,
      shapeId: '',
      shapeIds: [],
      markingId: '',
      lengthMax: '',
      lengthMin: '',
      widthMax: '',
      widthMin: '',
      thicknessMax: '',
      thicknessMin: '',
      weightMax: '',
      weightMin: '',
      coreSizeLengthMax: '',
      coreSizeLengthMin: '',
      coreSizeWidthMax: '',
      coreSizeWidthMin: '',
      coreThicknessMin: '',
      coreThicknessMax: '',
      coreWeightMax: '',
      coreWeightMin: '',
      coatedSizeLengthMax: '',
      coatedSizeLengthMin: '',
      coatedSizeWidthMax: '',
      coatedSizeWidthMin: '',
      coatedThicknessMin: '',
      coatedThicknessMax: '',
      coatedWeightMax: '',
      coatedWeightMin: '',
      productCreationType: 730,
      statusCodeID: 1,
      addedByUserID: '',
      typeOfCoating: 1,
      addedDate: '',
      dosageFormValue: '', dosageFormValue: '',
      finishProductId: 0,
      isMasterDocument: false,
      isInformationvsMaster: false,
      flavourId: '',
      flavourIds: [],
      lengthVariationId: '',
      lengthVariationValue: '',
      widthVariationId: '',
      widthVariationValue: '',
      thicknessVariationId: '',
      thicknessVariationValue: '',
      weightVariationValue: '',
      weightVariationId: '',
      picture: null,
      coreSizeLengthVariationId: '',
      coreSizeLengthVariationValue: '',
      coreSizeWidthVariationId: '',
      coreSizeWidthVariationValue: '',
      coreSizeThicknessVariationId: '',
      coreSizeThicknessVariationValue: '',
      coreSizeWeightVariationId: '',
      coreSizeWeightVariationValue: '',
      coatedSizeLengthVariationId: '',
      coatedSizeLengthVariationValue: '',
      coatedSizeWidthVariationId: '',
      coatedSizeWidthVariationValue: '',
      coatedSizeThicknessVariationId: '',
      coatedSizeThicknessVariationValue: '',
      coatedSizeWeightVariationId: '',
      coatedSizeWeightVariationValue: '',
      clarityId: 0,
      phmin: '',
      phmax: '',
      sgmin: '',
      sgmax: '',
      viscosityMin: '',
      viscosityMax: '',
      phvariationId: '',
      phvariationValue: '',
      sgvariationId: '',
      sgvariationValue: '',
      viscosityVariationId: '',
      viscosityVariationValue: '',
      textureId: '',
      manufacturingSiteId: '',
      phStandard: '',
      sgStandard: '',
      viscosityStandard: '',
    },
    defaultItem:
    {
      valid: false,
      productName: '',
      finishProductId: null,
      isMasterDocument: false,
      isInformationvsMaster: false,
      methodCodeId: null,
      salesCategoryId: null,
      productMasterId: -1,
      requiredfield: [v => !!v || 'This is required field'],
      colorId: null,
      shapeId: '',
      shapeIds: [],
      markingId: '',
      lengthMax: '',
      lengthMin: '',
      widthMax: '',
      widthMin: '',
      thicknessMax: '',
      thicknessMin: '',
      weightMax: '',
      weightMin: '',
      coreSizeLengthMax: '',
      coreSizeLengthMin: '',
      coreSizeWidthMax: '',
      coreSizeWidthMin: '',
      coreThicknessMin: '',
      coreThicknessMax: '',
      coreWeightMax: '',
      coreWeightMin: '',
      coatedSizeLengthMax: '',
      coatedSizeLengthMin: '',
      coatedSizeWidthMax: '',
      coatedSizeWidthMin: '',
      coatedThicknessMin: '',
      coatedThicknessMax: '',
      coatedWeightMax: '',
      coatedWeightMin: '',
      productCreationType: 730,
      statusCodeID: 1,
      addedByUserID: '',
      typeOfCoating: 1,
      addedDate: '',
      dosageFormValue: '',
      finishProductId: 0,
      isMasterDocument: false,
      isInformationvsMaster: false,
      flavourId: '',
      flavourIds: [],
      lengthVariationId: '',
      lengthVariationValue: '',
      widthVariationId: '',
      widthVariationValue: '',
      thicknessVariationId: '',
      thicknessVariationValue: '',
      weightVariationValue: '',
      weightVariationId: '',
      picture: null,
      coreSizeLengthVariationId: '',
      coreSizeLengthVariationValue: '',
      coreSizeWidthVariationId: '',
      coreSizeWidthVariationValue: '',
      coreSizeThicknessVariationId: '',
      coreSizeThicknessVariationValue: '',
      coreSizeWeightVariationId: '',
      coreSizeWeightVariationValue: '',
      coatedSizeLengthVariationId: '',
      coatedSizeLengthVariationValue: '',
      coatedSizeWidthVariationId: '',
      coatedSizeWidthVariationValue: '',
      coatedSizeThicknessVariationId: '',
      coatedSizeThicknessVariationValue: '',
      coatedSizeWeightVariationId: '',
      coatedSizeWeightVariationValue: '',
      clarityId: 0,
      phmin: '',
      phmax: '',
      sgmin: '',
      sgmax: '',
      viscosityMin: '',
      viscosityMax: '',
      phvariationId: '',
      phvariationValue: '',
      sgvariationId: '',
      sgvariationValue: '',
      viscosityVariationId: '',
      viscosityVariationValue: '',
      textureId: '',
      manufacturingSiteId: '',
      phStandard: '',
      sgStandard: '',
      viscosityStandard: '',

    },
  }),
  computed: {
    categoryRules () {

      return [
        v => !!v || 'This is required field'
      ];
    },
  },
  methods: {
    removeFlavour (item) {
      const index = this.editedItem.flavourIds.indexOf(item.applicationMasterDetailId)
      if (index >= 0) this.editedItem.flavourIds.splice(index, 1)
    },
    onSearchFlavour () {
      this.searchFlavour = "";
    },
  }
}
</script>
<style scoped>
.theme--light.v-list {
  background: lightsteelblue !important;
  color: rgba(0, 0, 0, 0.87);
}
.coatedTable {
  background: gainsboro !important;
}
.coatborder {
  border-radius: 12px;
}
</style>