<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="ContractDistributionInfo.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="saveloader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>

                 
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="PO Number Update Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>       
      </v-dialog>
    </v-toolbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog1"
      heading="Are You Sure You Want To Close?"
      message="Are You Sure You Want To Close? Files Not Updloaded"
      @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="contractDistributionSalesEntryLineID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.customerName }}</td>
        <td class="text-xs-left">{{ props.item.totalQty }}</td>

        <td class="text-xs-left">{{ props.item.noOfLots }}</td>
        <td class="text-xs-left">
          <v-edit-dialog v-model="editDialogue"  lazy @save="save(props.item)">
            {{ props.item.poNumber }}
           
              <v-text-field
                v-model="props.item.poNumber"
                @close="closeedit"
                @open="openedit"
                slot="input"
                label="PO Number"
                append-icon="save"
               @click:append="save(props.item)"
              ></v-text-field>
             
          </v-edit-dialog>
        </td>

        <td class="text-xs-left">{{ props.item.statusCode }}</td>

        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            :disabled="props.item.sessionID == null"
            @click="fileAttachments(props.item)"
            >attach_file</v-icon
          >
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import {
  getContractDistributionItems,
  getContractDistributionData,
  createContractDistribution,
  updateContractDistribution,
  deleteContractDistribution,
  getCompanyListingsForDistributionInformation,
} from "@/api/contractDistributionInfo";
import UploadButton from "vuetify-upload-button";
import moment from "moment";
import { getContractDistributionItemsBySalesId } from "@/api/salesOrderEntry";
import GlobalMessage from "@/constant";
export default {
  components: {
    "upload-btn": UploadButton,
    attachment,
  },
  data: () => ({
    uploadbtn: true,
    screenID: "",
    sessionId: null,
    isEachDistribution: false,
    editDialogue: false,
    salesOrderEntryID: null,
    uom: "",
    productNo: "",
    description: "",
    orderNo: "",
    itemCategory: "",
    sellingPrice: "",
    orderQty: "",
    saveloader: false,
    enablelineAddButton: false,
    enableProjectedDelivery: false,
    enableProjectedStatus: false,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    showdownload: false,
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    attachdialog: false,
    purchaseItemSalesEntryLineID: null,

    dialog: false,
    search: "",
    loader: false,
    editedIndex: -1,
    searchTag: "",
    searchFilter: "",
    customerItems: [],
    quatationUtisItems: [],
    gridItems: [],

    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],

    editedItem: {
      contractDistributionSalesEntryLineID: -1,
      soCustomerID: null,
      purchaseItemSalesEntryLineID: null,
      totalQty: null,
      uomid: null,
      noOfLots: null,
      poNumber: "",
      sessionID: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      contractDistributionSalesEntryLineID: -1,
      soCustomerID: null,
      purchaseItemSalesEntryLineID: null,
      totalQty: null,
      uomid: null,
      noOfLots: null,
      poNumber: "",
      sessionID: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    headers: [
      { text: "Customer", value: "customerName", align: "left" },
      { text: "Total Qty", value: "totalQty", align: "left" },
      { text: "No Of Lots", value: "noOfLots", align: "left" },
      { text: "PO Number", value: "poNumber", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Action", value: "name", align: "left" },
    ],
    json_fields: {
      CustomerName: "customerName",
      "Total Qty": "totalQty",
      UOM: "uom",
      "No Of Lots": "noOfLots",
      "PO Number": "poNumber",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Contract Distribution Information"
        : "Edit Contract Distribution Information";
    },
  },
  methods: {
    initialize() {
      if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
        getContractDistributionItemsBySalesId(id)
          .then((response) => {
            console.log(
              "contract search response data" + JSON.stringify(response.data)
            );
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadDropdown() {
       if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
        getContractDistributionItemsBySalesId(id)
          .then((response) => {
            console.log(
              "contract search response data" + JSON.stringify(response.data)
            );
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    saveAndClose() {
      this.save();
      this.close();
    },

    close() {
      this.dialog = false;
    },
    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.documentID = this.contractDistributionSalesEntryLineID;
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item.sessionID);
      this.sessionId = item.sessionID;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },
    closeedit() {
      this.editDialogue = false;
    },
    openedit() {
      this.editDialogue = true;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.uomid = item.uomid;
      this.uploadbtn = false;
      if (item.orderPeriodFrom != null) {
        this.editedItem.orderPeriodFrom = moment(item.orderPeriodFrom).format(
          "YYYY-MM-DD"
        );
      }
      if (item.orderPeriodTo != null) {
        this.editedItem.orderPeriodTo = moment(item.orderPeriodTo).format(
          "YYYY-MM-DD"
        );
      }

      this.dialog = true;
    },

    save(item) {
      console.log('items'+JSON.stringify(item));
      this.editedItem = item;
      console.log('edited items save'+JSON.stringify(this.editedItem));
      this.editDialogue = false;
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      if (this.editedItem.poNumber == "") {
        this.editedItem.statusCodeID = 1631;
      }
      if (this.editedItem.poNumber != "") {
        this.editedItem.statusCodeID = 1630;
      }
      updateContractDistribution(this.editedItem)
        .then((response2) => {
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          this.editDialogue = false;
        })
        .catch((error) => {
          this.loader = false;
          this.saveloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>

 