<template>
  <div id="page-forms">
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-btn @click="checkunCheckAll" :loading="gridloader" color="primary">
        {{ checkunCheckAlltext }}
      </v-btn>
      <v-btn @click="onClickButton" :loading="gridloader" color="primary">
        Transfer
      </v-btn>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <v-data-table
          :items="taskAppointmentItems"
          select-all
          item-key="taskAppointmentID"
          class="elevation-1"
          v-model="selected"
          :search="search"
          :headers="headers"
          :loading="gridloader"
          fix-header
          default-sort="userGroupUserId:desc"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
        >
          <template slot="items" slot-scope="props">
            <tr
              :active="props.selected"
              @click="props.selected = !props.selected"
            >
              <td>
                <v-checkbox
                  :input-value="props.selected"
                  primary
                  hide-details
                ></v-checkbox>
              </td>
              <td>{{ props.item.taskTitle }}</td>
              <td>
                {{
                  props.item.transferPermissionLogModels.length > 0
                    ? props.item.transferPermissionLogModels[0]["previousUser"]
                    : ""
                }}
              </td>
              <td>{{ props.item.discussionDate | formatDate }}</td>
              <td>{{ props.item.status }}</td>
            </tr>
          </template>
        </v-data-table>
      </div>
    </div>
  </div>
</template>

<script>
import {
  getTaskAppointmentUserByUserId,
  updateTaskAppointmentUser,
} from "@/api/permissionTransfer";
import GlobalMessage from "@/constant";
import moment from "moment";
export default {
  components: {},
  props: ["taskTransfer"],
  data: () => ({
    buttonCliked: "",
    checkunCheckAlltext: "Check All",
    selected: [],
    rowsPerPageItems: [5, 10, 20, 30, 40, 50, 100],
    taskAppointmentItems: [],
    gridloader: false,
    search: "",
    loader: false,
    pagination: {
      rowsPerPage: 5,
      sortBy: "taskAppointmentID",
      descending: true,
    },
    headers: [
      {
        text: "Title",
        align: "left",
        value: "taskTitle",
      },
      {
        text: "Transfer From",
        align: "left",
        value: "transferPermissionLogModels",
      },
      { text: "Discussion Date", value: "discussionDate" },
      { text: "Status", value: "status" },
    ],
  }),
  watch: {
    taskTransfer: {
      deep: true,
      handler: function (newVal, oldVal) {
        if (this.taskTransfer.type == "From") {
          this.initialize();
        }
      },
    },
  },
  computed: {},

  created() {},

  methods: {
    initialize() {
      this.selected = [];
      this.checkunCheckAlltext = "Check All";
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      if (this.taskTransfer.transferFromUserId != null) {
        this.gridloader = true;
        let searchString = {};
        searchString.Id = this.$store.state.auth.userId;
        searchString.userID = this.taskTransfer.transferFromUserId;
        getTaskAppointmentUserByUserId(searchString)
          .then((response) => {
            this.taskAppointmentItems = response.data;
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    onClickButton() {
      this.buttonCliked = "Yes";
      if (this.taskTransfer.transferFromUserId == null) {
        window.getApp.$emit(
          "APP_API_ERROR",
          "Please Select Transfer From User"
        );
      } else if (this.taskTransfer.transferToUserId == null) {
        window.getApp.$emit("APP_API_ERROR", "Please Select Transfer To User");
      } else {
        if (
          this.taskTransfer.transferFromUserId ==
          this.taskTransfer.transferToUserId
        ) {
          window.getApp.$emit(
            "APP_API_ERROR",
            "From User and To User as Same.Please Select Different"
          );
        } else {
          this.taskTransfer.transferIds = this.selected.map((item) => {
            return item.taskAppointmentID;
          });
          if (this.taskTransfer.transferIds.length > 0) {
            this.gridloader = true;
            updateTaskAppointmentUser(this.taskTransfer)
              .then((response) => {
                this.gridloader = false;
                this.buttonCliked = "";
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch((error) => {
                this.gridloader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            window.getApp.$emit("APP_API_ERROR", "Please Select CheckBox");
          }
        }
      }
    },
    checkunCheckAll() {
      if (this.checkunCheckAlltext.toLowerCase().trim() === "uncheck all") {
        this.selected = [];
        this.checkunCheckAlltext = "Check All";
      } else if (
        this.checkunCheckAlltext.toLowerCase().trim() === "check all"
      ) {
        this.selected = this.taskAppointmentItems;
        this.checkunCheckAlltext = "Uncheck All";
      }
    },
  },
};
</script>
