<template>

  <div>
    <v-layout wrap style="background: gainsboro !important;padding: 10px;">
      <span class="headline">Order Requirement Line Split</span>
    </v-layout>

    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details :disabled="enableAddButton"></v-text-field>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Order Requirement Line Split.xls">
        <v-btn icon :disabled="enableAddButton">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="openSplitdialog" max-width="800px" :disabled="enableAddButton">
        <v-btn slot="activator" icon :disabled="enableAddButton" @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Order Requirement Line Split</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="splitLineform" lazy-validation>
              <v-layout wrap>
                <!--   <v-flex
                    xs6
                    sm6
                  >
                  <v-text-field 
                        v-model="editedItem.productQty" 
                        label="Product Qty" 
                        required 
                        prepend-icon="select_all"
                    >
                    </v-text-field>
                   </v-flex> -->
                <v-flex xs6 sm6>
                  <v-autocomplete :loading="subsplitloader" label="Split Product Name" prepend-icon="notes" v-model="editedItem.splitProductId" :items="productLineSplitItems" item-text="description" item-value="itemId" chips required :rules="plitProductRules">
                  </v-autocomplete>
                </v-flex>
                <v-flex xs6 sm6>
                  <v-text-field v-model="editedItem.splitProductQty" label="Split Product Qty" prepend-icon="select_all" required :rules="plitProductRules" @keyup="onlyNumberDisplayQty">
                  </v-text-field>
                </v-flex>
                <!-- <v-flex
                    xs6
                    sm6
                  >
                  <v-textarea 
                        v-model="editedItem.remarks" 
                        label="Remarks" 
                        required 
                        prepend-icon="select_all"
                    >
                    </v-textarea >
                   </v-flex>
    
                   <v-flex
                    xs6
                    sm6
                  >
                   <v-autocomplete
                     label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="text"                      
                      item-value="value"
                       
                      chips
                    >
                    </v-autocomplete>
                
                   </v-flex> -->
              </v-layout>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()" :disabled="enableAddButton">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subsplitloader"></app-section-loader>

    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="orderRequirementGrouPinglineSplitId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">

        <!--  <td class="text-xs-left">{{ props.item.productQty }}</td> -->
        <td>{{ props.item.splitProductName }}</td>
        <td class="text-xs-left">{{ props.item.splitProductQty }}</td>
        <!--  <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td> -->
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)" :disabled="props.item.isNavSync">
            edit
          </v-icon>
          <v-icon small @click="onDeleteItem(props.item)" :disabled="props.item.isNavSync">
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
  import GlobalMessage from '@/constant';

  import { createtOrderRequirementGroupingLineSplit, gettOrderRequirementGroupingLineSplit, updatetOrderRequirementGroupingLineSplit, deletetOrderRequirementGroupingLineSplit } from '@/api/OrderRequirementGroupingLine';
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster.js';
  export default {
    components: {

    },
    data: () => ({
      openSplitdialog: false,
      subsplitloader: false,
      editedIndex: -1,
      search: '',
      productLineSplitItems: [],
      gridItems: [],
      enableAddButton: true,
      orderRequirementGroupingLineId: -1,
      productQty: '',
      statusOptions: [
        { text: 'Active', value: 1 },
        { text: 'InActive', value: 2 }
      ],
      editedItem: {
        valid: false,
        orderRequirementGrouPinglineSplitId: -1,
        productQty: '',
        splitProductQty: '',
        splitProductId: null,
        remarks: '',
        statusCodeID: 1,
        addedByUserID: '',
        addedDate: '',
        isNavSync: false,
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
      headers: [
        // { text: 'Product Qty', value: 'productQty', align: 'left' },
        { text: 'Product Name', value: 'splitProductName', align: 'left' },
        { text: 'Split Product Qty', value: 'splitProductQty', align: 'left' },
        // { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        // { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        //'Product Qty': 'productQty',
        'Product Name': 'splitProductName',
        'Split Product Qty': 'splitProductQty',
        'Added By': 'addedByUser',
        'Added Date': 'addedDate',
        'Modified By': 'modifiedByUser',
        'Modified Date': 'modifiedDate',
      },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Order Requirement Line Split' : 'Edit Order Requirement Line Split';
      },
      plitProductRules () {

        return [
          v => !!v || 'This is required field'
        ];
      },
    },
    created () {
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    methods: {
      initialize () {
        this.subsplitloader = true;
        this.editedItem.orderRequirementGroupingLineId = this.orderRequirementGroupingLineId;
        gettOrderRequirementGroupingLineSplit(this.editedItem.orderRequirementGroupingLineId)
          .then(response => {
            this.gridItems = response.data;
            this.subsplitloader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });

      },

      onlyNumberDisplayQty () {
        let TotalQty = 0;
        let Qty = (this.productQty > 0) ? (parseFloat(this.productQty)) : 0;
        this.gridItems.forEach(h => {
          if (this.editedItem.orderRequirementGrouPinglineSplitId != h.orderRequirementGrouPinglineSplitId) {
            TotalQty += h.splitProductQty;
          }
        });
        this.editedItem.splitProductQty = this.editedItem.splitProductQty.replace(/[^0-9. ]/g, "");
        let Balance = Qty - TotalQty;
        //console.log(Balance);
        if (Balance > 0) {
          let splitProductQty = (this.editedItem.splitProductQty > 0) ? this.editedItem.splitProductQty : 0;
          if (splitProductQty > Balance) {
            window.getApp.$emit('APP_API_ERROR', 'Split Product Qty is greater than Product Qty.' + Balance);
            this.editedItem.splitProductQty = '';
          }
        }
        else {
          window.getApp.$emit('APP_API_ERROR', 'Product Qty is Not Available.' + Balance);
          this.editedItem.splitProductQty = '';
        }
      },
      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.openSplitdialog = true;
      },
      close () {
        this.openSplitdialog = false;
        this.initialize();
        setTimeout(() => {
          this.add();
        }, 300);
      },
      saveAndClose () {
        this.save();
        this.openSplitdialog = false;
      },
      add () {
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.orderRequirementGrouPinglineSplitId = -1;
        this.editedItem.productQty = '';
        this.editedItem.splitProductQty = '';
        this.editedItem.splitProductId = null;
        this.editedItem.remarks = '';
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = '';
        this.editedItem.addedDate = '';
        this.editedItem.isNavSync = false;
      },
      openPopup () {

        this.openSplitdialog = true;
        this.add();
      },
      save () {

        this.editedItem.orderRequirementGroupingLineId = this.orderRequirementGroupingLineId;
        if (this.$refs.splitLineform.validate()) {
          this.subsplitloader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updatetOrderRequirementGroupingLineSplit(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.subsplitloader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.add();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createtOrderRequirementGroupingLineSplit(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.subsplitloader = false;
                this.editedItem.orderRequirementGrouPinglineSplitId = response.data.orderRequirementGrouPinglineSplitId;
                let index = this.gridItems.map(item => item.orderRequirementGrouPinglineSplitId).indexOf(response.data.orderRequirementGrouPinglineSplitId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.add();
              })
              .catch(error => {
                this.subsplitloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.orderRequirementGrouPinglineSplitId > -1) {
          this.subsplitloader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deletetOrderRequirementGroupingLineSplit(this.editedItem)
            .then(() => {
              this.subsplitloader = false;
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.subsplitloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
    }
  }
</script>

