<template>
  <div>
    <v-toolbar flat color="white">
      <span>File Details</span>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn icon="" color="primary" slot="activator" flat @click="goBack">
          <v-icon icon>
            reply
          </v-icon>
        </v-btn>
        <span>Go Back </span>
      </v-tooltip>
    </v-toolbar>
    <v-container fluid>
      <v-layout row wrap>
        <v-flex sm12 lg12>
          File Name:
          <a @click="goBack()"> {{ fileInfoData.fileName }}</a>
        </v-flex>
        <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Wiki Title: {{fileInfoData.wikiTitle}}</span>
          <span v-else> Wiki Title: {{fileInfoData.wikiTitle}}</span>
        </v-flex>
        <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Wiki Type: {{fileInfoData.wikiType}}</span>
          <span v-else> Wiki Type: {{fileInfoData.wikiType}}</span>
        </v-flex>
        <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Wiki Owner: {{fileInfoData.wikiOwner}}</span>
          <span v-else> Wiki Owner: {{fileInfoData.wikiOwner}}</span>
        </v-flex>
        <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Uploaded By: {{fileInfoData.addedByUser}}</span>
          <span v-else> Uploaded By: {{fileInfoData.addedByUser}}</span>
        </v-flex>

        <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Date By Uploader: {{fileInfoData.uploadDate| formatDate}}</span>
          <span v-else> Date By Uploader: {{fileInfoData.uploadDate | formatDate}}</span>
        </v-flex>
        <!-- <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Release Version No: {{fileInfoData.folderReleaseVersionNo}}</span>
          <span v-else> Release Version No: {{fileInfoData.taskReleaseVersionNo}}</span>
        </v-flex>
        <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Modify By: {{fileInfoData.folderModifiedName}}</span>
          <span v-else> Modify By: {{fileInfoData.taskModifiedName}}</span>
        </v-flex>
        <v-flex sm12 lg12>
          <span v-if="this.folderId>0"> Modify Date: {{fileInfoData.folderModifiedDate}}</span>
          <span v-else> Modify Date: {{fileInfoData.taskModifiedDate | formatDate}}</span>
        </v-flex> -->
        <v-flex sm2 lg2 v-if="canDownload">
          <v-btn color="primary" @click="onDownload">
            <span v-if="!isVideoFile">Download</span>
            <span v-else>Play</span>
          </v-btn>
        </v-flex>
        <v-flex sm2 lg2 v-if="canDownload">
          <v-btn color="primary" @click="onView(fileInfoData)">
            <span>View File</span>
          </v-btn>
        </v-flex>
        <v-flex sm6 lg6 v-else>
          <span v-if="fileInfoData!=''">
            <h4> You don't have permission to download this file.Please contact file owner.</h4>
          </span>
          <span v-else>
            <h4> Copied file is already deleted and no longer exist.</h4>
          </span>
        </v-flex>
        <v-flex sm2 lg2 v-if="isVideoFile&&canDownload">
          <v-btn color="primary" @click="onVideoDownload">Download</v-btn>
        </v-flex>
        <v-flex xs12 v-show="canDownload && this.videoFile!=null">
          <v-card-title class="title">{{fileInfoData.fileName}}</v-card-title>
          <template>
            <div id="app">
              <video ref="videoRef" muted autoplay="true" type="video/mp4" id="video-container" width="100%" controls></video>
            </div>
          </template>
        </v-flex>
        <!-- <v-flex
          sm6
          lg6
          v-show="!canDownload"
        >
          <h4> You don't have permission to download this file.Please contact file owner.</h4>
        </v-flex> -->
      </v-layout>
    </v-container>
    <v-dialog v-model="fileViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="fileViewer = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12>
              <iframe  name="openPdfIframe" v-show="!loadHtml && !loadImage" width="100%" style="overflow: auto; height: calc(98vh - 100px)" :src="fileContent"></iframe>

              <div v-show="loadHtml" v-html="fileContent" style="overflow: auto; height: calc(98vh - 100px)"></div>

              <img v-show="loadImage" :src="fileContent" style="overflow: auto; height: calc(98vh - 100px)"></img>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="fileViewers" persistent fullscreen>
          <upload-files-view
            title="Document"
            ref="refUploadFileView"
            :closeMethod="closefileViewers"
          ></upload-files-view>
        </v-dialog>
  </div>
</template>
<script>
import FilePathDownload from "@/util/filePathDownload";
import UploadFilesView from "@/components/uploadFilesView";
import { downloadFile, documentInfo, attachmentDownload } from "@/api/document";
import { downloadFileDoc } from "@/api/fileProfileType";
import { viewFile } from "@/api/fileAttachements";
import GlobalMessage from "@/constant";
export default {
  components: {
    UploadFilesView,
  },
  data: () => ({
    fileViewers: false,
    fileMessage: "Downloading file",
    fileInfoData: null,
    documentId: -1,
    folderId: -1,
    userId: -1,
    canDownload: true,
    videoFile: null,
    audioFile: null,
    isVideoFile: false,
    fileTypes: ["video/mp4", "audio/mp3", "video/avi", "video/x-ms-wmv"],
    fileContent: null,
    viewedFile: null,
    fileViewer: false,
    loadHtml: false,
    loadImage: false,
  }),
  created() {
    this.documentId = this.$route.query.id;
    this.userId = this.$store.state.auth.userId;
    let download = {
      documentId: this.documentId,
      userId: this.userId,
    };
    console.log("Download document =" + download);
    attachmentDownload(this.documentId, this.userId)
      .then((fileInfo) => {
        if (fileInfo != undefined && fileInfo.data != undefined) {
          this.fileInfoData = fileInfo.data;
          if (this.$route.query.per == undefined) {
            this.canDownload = this.fileInfoData.canDownload;
          }
          this.isVideoFile = this.fileTypes.includes(
            this.fileInfoData.contentType
          );
        }
      })
      .catch((error) => {
        this.loader = false;
        window.getApp.$emit("APP_API_ERROR", error);
      });
  },
  methods: {
    closefileViewers() {
      this.fileViewers = false;
    },
    onDownload() {
      var videoType = this.fileInfoData.contentType.includes("video");
      if (
        this.fileInfoData.filePath != null &&
        this.fileInfoData.filePath.length > 0
      ) {
        if (videoType == true) {
          this.fileViewers = true;
          setTimeout(() => {
            this.$refs.refUploadFileView.onViewFiles(this.fileInfoData);
          }, 500);
        } else {
          this.fileInfoData.documentId = this.fileInfoData.documentID;
          FilePathDownload.onGetDownloadFiles(this.fileInfoData);
        }
      } else {
         downloadFile(this.fileInfoData.documentID)
        .then((response) => {
          let downloadData = response.data;
          this.fileMessage = "File downloaded sucessfully.";
          console.log(JSON.stringify(this.fileInfoData));
          // if (this.fileInfoData.contentType != ('video/mp4'||'audio/mp3'|| 'video/avi'))
          if (!this.fileTypes.includes(this.fileInfoData.contentType)) {
            let blob = new Blob([response.data], {
              type: this.fileInfoData.contentType,
            });
            let link = document.createElement("a");
            link.href = window.URL.createObjectURL(blob);
            link.download = this.fileInfoData.fileName;
            link.click();
          } else {
            let blob = new Blob([response.data], {
              type: this.fileInfoData.contentType,
            });
            var reader = new FileReader();
            this.getBase64(blob).then((data) => {
              this.videoFile = data;
              this.$refs.videoRef.src = this.videoFile;
            });
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },
    onView(item) {
      if (item.filePath != null && item.filePath.length > 0) {
        this.fileViewers = true;
        setTimeout(() => {
          this.$refs.refUploadFileView.onViewFiles(item);
        }, 500);
      }
    },
    logContent(item) {
      this.fileViewer = true;
      this.viewedFile = item;
      this.fileContent = null;
      this.loadHtml = false;
      this.loadImage = false;
      if (
        item.contentType == "application/msword" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.presentationml.presentation"
      ) {
        //this.convertDocToPdf(item);
        this.loadHtml = true;
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        if (item.contentType.includes("image")) {
          this.loadImage = true;
        }

        if (
          item.contentType == "application/pdf" ||
          item.contentType == "text/plain"
        ) {
          this.loadHtml = false;
        } else {
          if (!item.contentType.includes("image")) {
            this.loadHtml = true;
          }
        }
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            //this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    convertDocToPdf(item) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframe");
      downloadFileDoc(item)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.fileName;
          window.open(link.href, "openPdfIframe");
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onVideoDownload() {
      if (
        this.fileInfoData.filePath != null &&
        this.fileInfoData.filePath.length > 0
      ) {
        this.fileInfoData.documentId = this.fileInfoData.documentID;
        FilePathDownload.onGetDownloadFiles(this.fileInfoData);
      } else {
        window.getApp.$emit("APP_API_ERROR", "File Not Found");
        //this.downloadAttachment(item);
      }
      /*  downloadFile(this.fileInfoData.documentID)
        .then((response) => {
          let downloadData = response.data;
          this.fileMessage = "File downloaded sucessfully.";
          console.log(JSON.stringify(this.fileInfoData));
          let blob = new Blob([response.data], {
            type: this.fileInfoData.contentType,
          });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = this.fileInfoData.fileName;
          link.click();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        }); */
    },
    getBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
        return Promise.resolve(reader.result);
      });
    },
    goBack() {
      if (this.fileInfoData.taskID > 0) {
        this.$router.push({
          name: "taskTreeView",
          query: {
            id: this.fileInfoData.mainTaskID,
            taskid: this.fileInfoData.taskID,
            goback: "fileTab",
          },
        });
      }
      if (this.fileInfoData.folderID > 0) {
        this.$router.push({
          name: "publicfolderTreeView",
          query: {
            id: this.fileInfoData.mainFolderID,
            publicfolderid: this.fileInfoData.folderID,
          },
        });
      }
      if (this.fileInfoData == "") {
        this.$router.push({ name: "TaskDash", params: { id: -1 } });
      }
    },
  },
};
</script>
