<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details color="white">
        <div slot="label">Search</div>
      </v-text-field>
      <v-divider class="mx-4" inset vertical></v-divider>

      <v-spacer></v-spacer>
      <upload-btn @file-update="attachfileChanged" name="uploadtask" uniqueId icon ref="attachUpload" multiple noTitleUpdate v-show="isCreateDocument&&fileProfileTypeId>0">
        <template slot="icon-left">
          <v-icon left color="white">attachment</v-icon>
        </template>
      </upload-btn>
     
      <!-- <v-btn icon @click.native="attachMethod" >
        <v-icon>assignment</v-icon>
      </v-btn> -->
      <v-btn icon @click.native="uploadMethod" v-show="showUploadMethod && isCreateDocument && fileProfileTypeId>0">
        <v-icon color="white">cloud_upload</v-icon>
      </v-btn>
        <v-menu bottom right >
                  <v-btn slot="activator" icon  >
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile v-for="(item, i) in attachMenuItems" :key="i" @click="attachMenuClick(i,item)"  ripple="ripple" :target="item.target" rel="noopener" :disabled="onAttachDisabled(i)">
                      <v-list-tile-action>
                       
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
      <v-btn icon @click.native="refreshMethod" v-show="showRefreshMethod">
        <v-icon color="white">refresh</v-icon>
      </v-btn>
      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="attachloaders"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-layout row wrap>
              <v-flex xs12 sm6>
                <treeselect
                  
                  :options="fileProfileTypes"
                  :max-height="200"
                  :load-options="loadOptions"
                  @select="onChangeFileProfileTypeTree"
                  :clearable="clearable"
                    placeholder="Select FileProfileType.."
                  @input="onChangeDeselectFileProfileTypeTree"
                  v-model="fileProfileTypeId"
                >
                  <div slot="value-label" slot-scope="{ node }">
                    {{ node.raw.name }}
                  </div>
                </treeselect>
               <!--  <v-autocomplete label="File Profile Types" prepend-icon="description" v-model="fileProfileTypeId" :items="fileProfileTypes" :rules="profileTypeRules" item-text="fileProfilePath" item-value="fileProfileTypeId" @change="onChangeFileProfileType">

                   <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected">{{
                            data.item.name
                          }}</v-chip>
                        </template>
                </v-autocomplete> -->
                 </v-flex>
                 <!-- <v-flex xs12 sm4>
                  <v-autocomplete
                    label="Folder name"
                    :loading="loader"
                    prepend-icon="location_city"
                    v-model="folderID"
                    :items="folderItems"
                    chips
                    item-text="folderPath"
                    item-value="folderID"
                  >
                   <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected">{{
                            data.item.name
                          }}</v-chip>
                        </template>
                  </v-autocomplete>
                </v-flex> -->
             
              <v-flex xs12 sm4 v-if="isexpiryDateEnabled">
                <v-menu ref="expiryDate" v-model="isexpiryDate" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                  <v-text-field slot="activator" :value="expiryDateFormated" label="Expiry Date" prepend-icon="event" clearable readonly @click:clear="clearableDateOfExpiry"></v-text-field>
                  <v-date-picker v-model="expiryDate" @change="isexpiryDate = false"></v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>
            <v-flex xs12 sm12>
              <v-data-table :headers="headers" :search="search" :items="attachments" hide-actions class="elevation-0">
                <template slot="items" slot-scope="props">
                  <tr v-bind:style="
                      props.item.documentPermissionData.isRead == false
                        ? 'background-color: lightgrey'
                        : ' background-color: transparent'
                    ">
                    <td class="justify-center layout px-0">
                       <div>
                    <v-checkbox primary hide-details v-model="props.item.isPrint" @change="checkedOnPintItem(props.item)"></v-checkbox>
                      </div>
                      
                     
                  </td>
                    <td>
                      <span>
                        <v-tooltip bottom>
                  
                  <v-icon v-if="props.item.isLocked" slot="activator" small
                    >lock</v-icon
                  >
                  <v-icon v-else="props.item.isLocked" slot="activator" small
                    >lock_open</v-icon
                  >

                  <span v-if="props.item.isLocked"
                    >Locked By : {{ props.item.lockedByUser }}</span
                  >
                </v-tooltip>
                        <v-icon color="red" v-show="!props.item.uploaded">cloud_off</v-icon>
                        {{ props.item.fileName }}
                      </span>
                    </td>
                    <td class="text-xs-left">
                      {{ props.item.fileProfileTypeName }}
                    </td>
                    <td class="text-xs-left">{{ props.item.contentType }}</td>
                    <td class="text-xs-left">{{ props.item.fileSize }}</td>
                     <td class="text-xs-left">{{ props.item.description }}</td>
                    <td class="text-xs-left">
                      {{ props.item.expiryDate | formatDate }}
                    </td>
                    <td class="text-xs-left">
                      {{ props.item.uploadDate | formatDateTime }}
                    </td>
                    <td class="justify-center layout px-0">

                      <v-icon @click="viewMobilelogContent(props.item)" v-show="isReadOnly&&props.item.isMobileUpload">visibility</v-icon>

                      <v-icon @click="viewMobilelogContent(props.item)" v-show="isReadOnly&&!props.item.isMobileUpload">visibility</v-icon>

                      <v-menu bottom right v-show="!isReadOnly">
                        <v-btn slot="activator" icon>
                          <v-icon>more_vert</v-icon>
                        </v-btn>
                        <v-list>
                          <v-list-tile v-for="(item, i) in items" :key="i" @click="menuClick(item, props.item)" ripple="ripple" :target="item.target" :disabled="menudisabled(item, props.item, i)" rel="noopener"  v-if="props.item.isDocumentAccess!=true">
                            <v-list-tile-action>
                              <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>{{ item.title }}
                            </v-list-tile-title>
                          </v-list-tile>
                        <v-list-tile   v-for="(item, i) in itemsAll" :key="i" @click="menuClick(item, props.item)" ripple="ripple" :target="item.target" :disabled="menudisabled(item, props.item, i)" rel="noopener" v-if="props.item.isDocumentAccess==true">
                            <v-list-tile-action>
                              <v-icon>{{ item.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>{{ item.title }}
                            </v-list-tile-title>
                          </v-list-tile>
                        </v-list>
                      </v-menu>
                    </td>
                    <!--  <td lass="justify-center layout px-0">
                      <div style="width: 80px">
                        <v-icon
                          small
                          class="mr-2"
                          v-if="props.item.documentPermissionData.isRead"
                          @click="downloadAttachment(props.item)"
                          >cloud_download</v-icon
                        >
                        <v-icon
                          small
                          class="mr-2"
                          v-if="props.item.documentPermissionData.isDelete"
                          @click="deleteFiles(props.item)"
                          >delete</v-icon
                        >
                      </div>
                    </td> -->
                  </tr>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
    <v-dialog v-model="attachdialog">
      <v-card>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12>
              <upload-btn @file-update="updatefileChanged" title="Upload your document" name="uploadtask" ref="attachUpload" noTitleUpdate>
                <template slot="icon-left">
                  <v-icon small class="mr-2">cloud_upload</v-icon>
                </template>
              </upload-btn>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
     <v-dialog v-model="filehistory">
          <v-card>
            <v-toolbar card dense color="primary">
              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn
                  icon
                  slot="activator"
                  flat
                  @click.native="filehistory = false"
                  :loading="loader"
                >
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>

           
            <app-section-loader
              :status="historyfileloader"
            ></app-section-loader>
            <v-data-table :items="historyItems" class="elevation-1" :headers="historyheaders" hide-actions>
          <template slot="items" slot-scope="props">
            <tr>
              <td class="text-xs-left">{{ props.item.fileName }}</td>
              <td class="text-xs-left">{{ props.item.fileProfileTypeName }}</td>
              <td class="text-xs-left">{{ props.item.fileSize }}</td>
              <td class="text-xs-left">{{ props.item.description }}</td>
              <td class="text-xs-left">{{ props.item.addedByUser }}</td>
              <td class="text-xs-left">
                {{ props.item.addedDate | formatDateTime }}
              </td>
              <td>
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile v-for="(item, i) in historymenuitems" :key="i" @click="historymenuClick(i, props.item)" ripple="ripple" rel="noopener" >
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </template>
        </v-data-table>
          </v-card>
        </v-dialog>
    <v-dialog v-model="playViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <!--  <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn> -->
          <v-spacer></v-spacer>

          <v-btn icon @click.native="playerViewerClose">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12>
              <video ref="myvideo"  :id="videoId"  width="100%" height="60%" controls />
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="fileViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="fileViewer = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12 v-show="showAll">
              <iframe name="openPdf" v-show="!loadHtml && !loadImage" width="100%" style="overflow: auto; height: calc(98vh - 100px)" :src="fileContent"></iframe>

              <div v-show="loadHtml" v-html="fileContent" style="overflow: auto; height: calc(98vh - 100px)"></div>

              <img v-show="loadImage" :src="fileContent" style="overflow: auto; height: calc(98vh - 100px)"></img>
            </v-flex>
            <v-flex xs12 sm12 v-show="showExcel">
              <xlsx ref="refxlsx"></xlsx>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="documentDialog" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
           <v-text-field v-model="documentSearch" prepend-icon="search" label="Document Search" clearable single-line hide-details color="white">
        <div slot="label">Document Search</div>
      </v-text-field>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="closeDocumentList">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <div style="overflow: auto; height: calc(90vh - 60px)">
            <v-layout column>
              <app-section-loader :status="documentloaders"></app-section-loader>
              <v-data-table :items="gridItems" class="elevation-1" :headers="docheaders" fix-header :search="documentSearch"  :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination">
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">
                    <v-checkbox primary hide-details v-model="props.item.isSelected" @change="checkedItem(props.item)"></v-checkbox>
                  </td>
                  <td class="text-xs-left">{{ props.item.fileName }}</td>
                  <td class="text-xs-left">{{ props.item.fileProfileTypeName }}</td>

                  <td class="text-xs-left">{{ props.item.fileSize }}</td>
                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                  <td class="text-xs-left">
                    {{ props.item.addedDate | formatDateTime }}
                  </td>
                </template>
                <template slot="no-data">Loading task or No task been assigned you.</template>
              </v-data-table>
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
      <v-dialog v-model="folderDialog" fullscreen>
        <v-card>
          <v-toolbar dark color="primary">
             <v-toolbar-title> Document List </v-toolbar-title>         
            <v-spacer></v-spacer>

            <v-btn icon @click.native="closefolderDialog">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </v-toolbar>
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12 sm12>
                <folder-list :sessionID="sessionID" ref="reffolderlist"></folder-list>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-dialog>
         <v-dialog v-model="notifydialog" max-width="1250px">
      <notify-document
        ref="refnotifydocument"
        :closeMethod="closeNotify"
      ></notify-document>
    </v-dialog>
     <v-dialog v-model="linkdocumentdialog" max-width="1200px">
      <document-link
        title="Document Notes"
        ref="refDocumentlink"
        :closeMethod="closelinkDocument"
      ></document-link>
    </v-dialog>
   <v-dialog v-model="fileViewers" persistent fullscreen>
      <upload-files-view
        title="Document"
        ref="refUploadFileView"
        :closeMethod="closefileViewers"
      ></upload-files-view>
    </v-dialog>
  </div>
</template>
<script>
import Treeselect from "@riophae/vue-treeselect";
// import the styles
import "@riophae/vue-treeselect/dist/vue-treeselect.css";
import { LOAD_CHILDREN_OPTIONS } from "@riophae/vue-treeselect";
import myApi from "@/util/api";
import UploadButton from "vuetify-upload-button";
import NotifyDocument from "@/components/Notes/notifyDocuments";
import FolderList from "@/components/attachment/folderlistAttachment";
import GlobalMessage from "@/constant";
import Xlsx from "@/pages/xlsx";
import {
  getfiles,
  uploadFiles,
  downloadFile,
  downLoadHeaderDocument,
  deleteFiles,
  updateFiles,
  viewFile,
  updateDocumentIsPrint,
} from "@/api/fileAttachements";
import {
  getDocumentBySessionID,
  createLinkFileProfileType,
} from "@/api/document";
import moment from "moment";
import DocumentLink from "@/components/documentLinks/documentLink";
import {
  getFileProfileTypeItems,
  uploadDocument,
  getFileProfileTypeDocument,
  updatecloseDocuments,
  getFileProfileTypeDetailsDropDown,
  getFileProfileTypeDocumentByHistory,
  downloadFileDoc,
  getFileProfileTypeListDropdownItems,
  getDocumentPermissionData,
} from "@/api/fileProfileType";
import { getMovePublicFolders, getFilesHistory } from "@/api/folder";
import { getDocumentCheckIn } from "@/api/document";
import UploadFilesView from "@/components/uploadFilesView";
import FilePathDownload from "@/util/filePathDownload";
export default {
  components: {
    "upload-btn": UploadButton,
    Xlsx,
    FolderList,
    NotifyDocument,
    DocumentLink,
    Treeselect,
    UploadFilesView,
  },
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    closeMethod: {
      type: Function,
    },

    showattachMethod: {
      type: Boolean,
      default: false,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },
    sessionID: {
      type: String,
      default: "",
    },
    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
    isWikiDocumentAccess: {
      type: Boolean,
      default: false,
    },
    isHeaderImage: {
      type: Boolean,
      default: false,
    },
    isPrintOpen: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    fileViewers: false,
    clearable: false,
    showAll: true,
    showExcel: false,
    playViewer: false,
    linkdocumentdialog: false,
    isViewFile: false,
    notifydialog: false,
    isMobileUpload: true,
    viewedFile: null,
    loadHtml: false,
    filehistory: false,
    historyfileloader: false,
    fileContent: null,
    fileViewer: false,
    folderItems: [],
    menufolderItems: [],
    readWriteUserID: [],
    readonlyUserID: [],
    historyItems: [],
    folderID: null,
    isReadOnly: false,
    folderDialog: false,
    loadImage: false,
    attachdialog: false,
    attachfiles: new FormData(),
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    attachloaders: false,
    documentloaders: false,
    attachments: [],
    folderfileHistory: [],
    loader: false,
    fileProfileTypes: [],
    fileProfileTypeId: 0,
    documentID: null,
    isRead: false,
    isCreateDocument: false,
    isexpiryDate: false,
    isexpiryDateEnabled: false,
    expiryDate: null,
    isLocked: false,
    imageUrl: null,
    documentDialog: false,
    documentSearch: "",
    historysearchData: {
      id: null,
      searchString: "",
      userId: null,
      sessionID: null,
      parentId: null,
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    closeDocumentsItems: [
      {
        icon: "attach_file",
        href: "#",
        title: "Close Document",
        click: (e) => {},
      },
    ],
    isCloseDocument: false,
    itemsAll: [],
    items: [
      {
        icon: "attach_file",
        href: "#",
        title: "Download",
        click: (e) => {},
      },
      {
        icon: "edit",
        href: "#",
        title: "Upload",
        click: (e) => {
          //console.log(e);
        },
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
      {
        icon: "history",
        href: "#",
        title: "History",
        click: (e) => {},
      },
      {
        icon: "cloud_download",
        href: "#",
        title: "CheckOut",
        click: (e) => {
          // this.download();
        },
      },
      {
        icon: "attachment",
        href: "#",
        title: "CheckIn",
        click: (e) => {
          // this.download();
        },
      },

      {
        icon: "assignment",
        href: "#",
        title: "View File",
        click: (e) => {},
      },
      {
        icon: "album",
        href: "#",
        title: "Play",
        click: (e) => {},
      },
      {
        icon: "person",
        href: "#",
        title: "Notify",
        click: (e) => {
          // this.download();
        },
      },
      {
        icon: "adjust",
        href: "#",
        title: "Copy FileProfileType Link",
        click: (e) => {},
      },
      {
        icon: "adjust",
        href: "#",
        title: "Copy Link",
        click: (e) => {},
      },

      {
        icon: "person",
        href: "#",
        title: "Request to Access",
        click: (e) => {},
      },
      {
        icon: "link",
        href: "#",
        title: "Link Documents",
        click: (e) => {},
      },
    ],
    attachMenuItems: [
      {
        icon: "assignment",
        href: "#",
        title: "Attach From File Profile Type",
        click: (e) => {},
      },
      {
        icon: "folder",
        href: "#",
        title: "Attach From Public Folder",
        click: (e) => {},
      },
    ],
    uploadAttachmentDocuments: [],
    historyheaders: [
      {
        text: "File Name",
        align: "left",
        value: "fileName",
      },
      {
        text: "Profile Type Name",
        align: "left",
        value: "fileProfileTypeName",
      },

      { text: "Size(KB)", value: "fileSize" },
      { text: "Description", value: "description" },
      { text: "Modify By", value: "addedByUser" },
      { text: "Modify Date", value: "addedDate" },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
    linkProfileTypeDocument: {
      linkFileProfileTypeDocumentId: -1,
      transactionSessionId: null,
      documentId: null,
      isSelected: false,
      addedByUserID: null,
      fileProfileTypeId: null,
      link: "",
    },
    docheaders: [
      {
        text: "",
        align: "left",
        value: "",
      },
      {
        text: "File Name",
        align: "left",
        value: "fileName",
      },
      {
        text: "Profile Type Name",
        align: "left",
        value: "fileProfileTypeName",
      },

      { text: "Size(KB)", value: "fileSize" },
      { text: "Modify By", value: "addedByUser" },
      { text: "Modify Date", value: "addedDate" },
    ],
    gridItems: [],
    historymenuitems: [
      {
        icon: "cloud_download",
        href: "#",
        title: "DownLoad",
        click: (e) => {},
      },
    ],
  }),
  computed: {
    headers() {
      return [
        { text: "", value: "attachment", align: "center", type: true },
        {
          text: "Print",
          value: "isPrint",
          align: "center",
          type: this.isPrintOpen,
        },
        {
          text: "File Name",
          align: "left",
          value: "fileName",
          type: true,
        },
        {
          text: "File Profile Type",
          align: "left",
          value: "fileProfileTypeName",
          type: true,
        },

        { text: "Type", value: "contentType", type: true },
        { text: "Size(KB)", value: "fileSize", type: true },
        { text: "Description", value: "description", type: true },
        { text: "Expiry Date", value: "expiryDate", type: true },
        { text: "Added Date", value: "uploadDate", type: true },
        {
          text: "Action",
          value: "action",
          sortable: false,
          align: "left",
          type: true,
        },
      ].filter((a) => a.type == true);
    },
    videoId: function () {
      return "video_" + (Math.floor(Math.random() * (10 - 1 + 1)) + 1);
    },
    profileTypeRules() {
      return [
        () => !!this.fileProfileTypeId > 0 || "Atleast one must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    expiryDateFormated() {
      return this.expiryDate
        ? moment(this.expiryDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {
    this.expiryDate = null;
    this.itemsAll = this.items.concat(this.closeDocumentsItems);
    this.getFileProfileTypeItems();
    console.log("created sessionid" + this.sessionID);
    window.getApp.$on("WIKI_RESPONSIBLE", (isReponsible) => {
      this.isWikiDocumentAccess = isReponsible;
    });
  },
  beforeDestroy() {
    window.getApp.$off("WIKI_RESPONSIBLE");
  },
  methods: {
    closefileViewers() {
      this.fileViewers = false;
    },
    playerViewerClose() {
      var x = document.getElementById(this.videoId);
      x.pause();
      document.getElementById(this.videoId).removeAttribute("src");
      this.playViewer = false;
    },
    downloadViewFile() {
      this.downloadAttachment(this.viewedFile);
    },
    onChangeDeselectFileProfileTypeTree(dataItems) {
      if (dataItems == undefined) {
        this.fileProfileTypeId = null;
        this.isexpiryDateEnabled = false;
        this.isRead = false;
        this.isCreateDocument = false;
      }
    },
    onChangeFileProfileTypeTree(dataItems) {
      this.fileProfileTypeId = dataItems.fileProfileTypeId;
      // if (dataItems.length > 0) {
      if (dataItems["addedByUserID"] == this.$store.state.auth.userId) {
        this.isRead = true;
        this.isCreateDocument = true;
      } else {
        getDocumentPermissionData(
          this.fileProfileTypeId,
          this.$store.state.auth.userId
        )
          .then((response) => {
            this.isRead = response.data.isRead;
            this.isCreateDocument = response.data.isCreateDocument;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      this.isexpiryDateEnabled = dataItems.isExpiryDate;
      if (this.isWiki == true) {
        this.isCreateDocument = false;
      }
      //}
    },
    logContent(item) {
      this.viewedFile = item;
      this.fileContent = null;
      this.loadHtml = false;
      this.loadImage = false;
      this.isMobileUplod = true;
      this.isViewFile = false;
      this.showAll = true;
      this.showExcel = false;
      console.log("Item", item);
      if (item.isMobileUpload == true) {
        this.isViewFile = true;
        this.fileContent = GlobalMessage.APPUpload + item.fileName;
      } else if (
        item.contentType == "application/vnd.ms-excel" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      ) {
        this.showAll = false;
        this.showExcel = true;
        this.$refs.refxlsx.selectedSheet = null;
        this.$refs.refxlsx.showGrid = false;
        this.$refs.refxlsx.downloadAttachment(item);
      } else if (item.contentType == "application/pdf") {
        //this.loadHtml=true;
        this.viewPdf(item);
      } else if (
        item.contentType == "application/msword" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.presentationml.presentation"
      ) {
        this.loadHtml = true;
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        //this.convertDocToPdf(item);
      } else {
        this.isViewFile = false;
        if (item.contentType.includes("image")) {
          this.loadImage = true;
        }
        if (item.contentType == "text/plain") {
          this.loadHtml = true;
        } else {
          if (!item.contentType.includes("image")) {
            this.loadHtml = true;
          }
        }
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
            console.log(
              "File Content",
              this.fileContent,
              this.loadHtml,
              this.loadImage
            );
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    convertDocToPdf(item) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdf");
      downloadFileDoc(item)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.fileName;
          window.open(link.href, "openPdf");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    uploadMethod() {
      if (this.$refs.form.validate()) {
        this.attachfiles.append("sessionID", this.sessionID);
        this.attachfiles.append("screenID", this.screenID);
        this.attachfiles.append("fileProfileTypeId", this.fileProfileTypeId);
        this.attachfiles.append("expiryDate", this.expiryDate);
        this.attachfiles.append("userID", this.$store.state.auth.userId);
        this.attachfiles.append("wikiStatusType", this.wikiStatusType);
        this.attachfiles.append("isHeaderImage", this.isHeaderImage);
        this.attachfiles.append("link", GlobalMessage.BASEURL);
        // console.log("Link", GlobalMessage.BASEURL);
        //console.log('Attachment upload'+this.attachfiles);
        /* console.log("sessionID", this.sessionID);
        console.log("screenID", this.screenID);
        console.log("fileProfileTypeId", this.fileProfileTypeId);
        console.log("expiryDate", this.expiryDate);
        console.log("userID", this.$store.state.auth.userId);
        console.log("wikiStatusType", this.wikiStatusType);
        console.log("Controller", this.controller);
        console.log("Upload Action", this.uploadAction); */
        uploadFiles(this.attachfiles, this.controller, this.uploadAction)
          .then((response) => {
            this.attachloaders = false;
            this.attachfiles.delete("file");
            this.attachfiles = new FormData();
            this.getfiles();
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    refreshMethod() {
      this.getfiles();
    },
    onAttachDisabled(key) {
      if (key == 0) {
        var filetypeshow = true;
        if (this.showUploadMethod == true && this.isCreateDocument == true) {
          if (this.fileProfileTypeId > 0) {
            filetypeshow = false;
          }
        }
        return filetypeshow;
      } else if (key == 1) {
        var publicfoldershow = true;
        if (this.showUploadMethod == true) {
          publicfoldershow = false;
        }
        return publicfoldershow;
      }
    },
    attachMenuClick(key, item) {
      if (key == 0) {
        this.attachMethod();
      } else if (key == 1) {
        this.folderDialog = true;
        //attachFromDMS
        console.log("session id" + this.sessionID);
        this.$refs.reffolderlist.getParentPublicFolders();
        this.$refs.reffolderlist.fileProfileTypeId = this.fileProfileTypeId;
        //this.$refs.reffolderlist.sessionID = this.sessionID;
      }
    },
    historymenuClick(key, item) {
      if (key == 0) {
        this.downloadAttachment(item);
      }
    },
    menuClick(key, item) {
      if (key.title == "Download") {
        this.downloadAttachment(item);
      } else if (key.title == "Upload") {
        this.uploadAttachment(item);
      } else if (key.title == "Delete") {
        this.deleteFiles(item);
      } else if (key.title == "History") {
        this.filehistory = true;
        this.loadHistoryData(item);
      } else if (key.title == "CheckOut") {
        this.downloadAttachment(item);
        this.onChangeCheckout(item);
      } else if (key.title == "CheckIn") {
        this.uploadAttachment(item);
        this.isLocked = true;
      } else if (key.title == "View File") {
        if (item.filePath != null && item.filePath.length > 0) {
          this.fileViewers = true;
          setTimeout(() => {
            this.$refs.refUploadFileView.onViewFiles(item);
          }, 500);
        } else {
          this.fileViewer = true;
          this.logContent(item);
        }
      } else if (key.title == "Play") {
        var videoType = item.contentType.includes("video");
        if (videoType == true) {
          if (item.filePath != null && item.filePath.length > 0) {
            this.fileViewers = true;
            setTimeout(() => {
              this.$refs.refUploadFileView.onViewFiles(item);
            }, 500);
          } else {
            this.playVideo(item);
          }
        }
      } else if (key.title == "Notify") {
        this.notifydialog = true;
        this.$refs.refnotifydocument.documentId = item.documentID;
        setTimeout(() => {
          this.$refs.refnotifydocument.getNotify();
        }, 300);
      } else if (key.title == "Copy Link") {
        this.copyLinks(item);
      } else if (key.title == "Copy FileProfileType Link") {
        this.dohisCopy(item);
      } else if (key.title == "Link Documents") {
        this.linkDocuments(item);
      } else if (key.title == "Close Document") {
        this.closeDocuments(item);
      }
    },
    closeDocuments(item) {
      updatecloseDocuments(item)
        .then((response) => {
          this.loader = false;
          this.getfiles();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closelinkDocument() {
      this.linkdocumentdialog = false;
    },
    linkDocuments(item) {
      console.log("link doc click item" + JSON.stringify(item));
      this.$refs.refDocumentlink.documentName = item.fileName;
      this.$refs.refDocumentlink.documentId = item.documentID;
      this.$refs.refDocumentlink.fileProfileTypeId = item.filterProfileTypeId;
      this.$refs.refDocumentlink.documentPath = "Link From Attachment";
      this.$refs.refDocumentlink.getDocuments();
      this.$refs.refDocumentlink.loadDropdown();
      this.$refs.refDocumentlink.isOpenPagingList = true;
      this.$refs.refDocumentlink.sessionID = item.sessionID;
      console.log("link click Session Id" + item.sessionID);
      this.$refs.refDocumentlink.loadPagingDocData();
      this.linkdocumentdialog = true;
    },
    viewMobilelogContent(item) {
      this.fileViewer = true;
      this.logContent(item);
    },
    onChangeCheckout(item) {
      this.attachloaders = true;
      getDocumentCheckIn(item.documentID, this.$store.state.auth.userId)
        .then((response) => {
          this.attachloaders = false;
          this.getfiles();
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    dohisCopy(file) {
      let url =
        window.location.protocol +
        "//" +
        window.location.host +
        "/#/DMS/fileProfileTypeDocTree?fileProfileTypeId=" +
        file.filterProfileTypeId +
        "&mainfileProfileTypeId=" +
        file.fileProfileTypeParentId;

      const el = document.createElement("textarea");
      el.addEventListener("focusin", (e) => e.stopPropagation());
      el.value = url;
      document.body.appendChild(el);
      el.select();
      this.$copyText(url).then(
        function (e) {
          document.body.removeChild(el);
          window.getApp.$emit("APP_API_SUCCESS", "copied");
        },
        function (e) {
          alert("Can not copy");
        }
      );
    },
    copyLinks(file) {
      let url =
        GlobalMessage.ATTACH_DOWNURL +
        "id=" +
        file.documentID +
        "&&userId=" +
        this.$store.state.auth.userId;
      const el = document.createElement("textarea");
      el.addEventListener("focusin", (e) => e.stopPropagation());
      el.value = url;
      document.body.appendChild(el);
      el.select();
      this.$copyText(url).then(
        function (e) {
          document.body.removeChild(el);
          window.getApp.$emit("APP_API_SUCCESS", "copied");
        },
        function (e) {
          alert("Can not copy");
        }
      );
    },
    menudisabled(menu, item, key) {
      if (item.isDocumentAccess != true) {
        if (item.documentPermissionData.isDocumentAccess == true) {
          item.closeDocumentId = null;
        }
      }
      if (menu.title == "Upload") {
        if (item.closeDocumentId == 2561) {
          return true;
        } else {
          if (this.isWiki == true) {
            return true;
          } else {
            return !item.documentPermissionData.isUpdateDocument;
          }
        }
      } else if (menu.title == "Delete") {
        if (item.closeDocumentId == 2561) {
          return true;
        } else {
          if (this.isWiki == true) {
            return true;
          } else {
            return !item.documentPermissionData.isDelete;
          }
        }
      } else if (menu.title == "Download") {
        if (this.isWikiDocumentAccess == true) {
          return false;
        }
        return !item.documentPermissionData.isRead;
      } else if (menu.title == "CheckOut") {
        if (item.closeDocumentId == 2561) {
          return true;
        } else {
          if (this.isWiki == true) {
            return true;
          } else {
            //return item.isLocked == true ? item.isLocked : false;
            if (item.isLocked || !item.documentPermissionData.isRead) {
              return true;
            } else {
              return false;
            }
          }
        }
      } else if (menu.title == "CheckIn") {
        if (item.closeDocumentId == 2561) {
          return true;
        } else {
          if (this.isWiki == true) {
            return true;
          } else {
            return item.isLocked == true ? false : true;
          }
        }
      } else if (menu.title == "Play") {
        var videoType = item.contentType.includes("video");
        if (videoType == true) {
          return false;
        } else {
          return true;
        }
      } else if (menu.title == "Notify") {
        if (item.isLocked || !item.documentPermissionData.isRead) {
          return true;
        }
        return false;
      }
      if (menu.title == "Close Document") {
        if (item.closeDocumentId == 2561) {
          return true;
        } else {
          if (item.documentPermissionData.isDocumentAccess) {
            return false;
          } else {
            return true;
          }
        }
      }
    },
    getfiles() {
      this.attachloaders = true;
      var userId = this.$store.state.auth.userId;
      getfiles(
        this.screenID,
        this.sessionID,
        userId,
        this.controller,
        this.action,
        this.wikiStatusType
      )
        .then((response) => {
          this.attachloaders = false;
          // console.log("Files Response", response.data);
          if (response.data != undefined) {
            this.attachments = response.data.filter(
              (o) => o.calandarPermissionFlag == false
            );
          }
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closeNotify() {
      this.notifydialog = false;
    },
    async onloadFileProfileType(id) {
      var userId = this.$store.state.auth.userId;
      const response = await myApi.getByuserId(
        id,
        userId,
        "FileProfileType/GetFileProfileTypeListDropdownItems"
      );
      return response.data;
    },
    loadOptions({ action, parentNode, callback }) {
      if (action === LOAD_CHILDREN_OPTIONS) {
        var datas = this.onloadFileProfileType(parentNode.id);
        datas.then((value) => {
          parentNode.children = value;
        });
        callback();
      }
    },
    getFileProfileTypeItems() {
      this.fileProfileTypeId = null;
      this.attachloaders = true;
      getFileProfileTypeListDropdownItems(this.$store.state.auth.userId)
        .then((response) => {
          this.attachloaders = false;
          this.fileProfileTypes = response.data;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    gethistory(item) {
      console.log("item" + JSON.stringify(item));
      if (item.documentParentId != null) {
        this.historyfileloader = true;
        getFilesHistory(item.documentParentId)
          .then((response) => {
            this.folderfileHistory = response.data;
            this.historyfileloader = false;
          })
          .catch((error) => {
            this.fileloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.folderfileHistory = [];
      }
    },
    loadHistoryData(item) {
      if (item.sessionID != null) {
        this.historyfileloader = true;
        this.historysearchData.id = item.documentID;
        this.historysearchData.masterTypeID = item.filterProfileTypeId;
        this.historysearchData.searchString = item.type;
        this.historysearchData.sessionID = item.sessionID;
        this.historysearchData.parentId = item.documentParentId;
        this.historysearchData.userId = this.$store.state.auth.userId;
        getFileProfileTypeDocumentByHistory(this.historysearchData)
          .then((response) => {
            this.historyItems = response.data.documentsData;
            console.log("History", this.historyItems);
            this.historyfileloader = false;
          })
          .catch((error) => {
            this.historyfileloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.historyItems = [];
      }
    },
    viewPdf(file) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdf");
      this.attachloaders = true;
      downloadFile(file.documentID, this.controller, this.downloadAction)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.fileName;
          window.open(link.href, "openPdf");
          this.attachloaders = false;
          //this.loadHtml=false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onChangeFileProfileType(value) {
      this.isexpiryDateEnabled = false;
      let dataItems = this.fileProfileTypes.filter(
        (o) => o.fileProfileTypeId == this.fileProfileTypeId
      );
      if (dataItems.length > 0) {
        if (dataItems[0]["addedByUserID"] == this.$store.state.auth.userId) {
          this.isRead = true;
          this.isCreateDocument = true;
        } else {
          this.isRead = dataItems[0].documentPermissionData.isRead;
          this.isCreateDocument =
            dataItems[0].documentPermissionData.isCreateDocument;
        }
        this.isexpiryDateEnabled = dataItems[0].isExpiryDate;
        if (this.isWiki == true) {
          this.isCreateDocument = false;
        }
      }
    },
    playVideo(file) {
      let fileName = file.sessionID + "." + file.fileName.split(".").pop();
      let routeData = this.$router.resolve({
        name: "video",
        query: { path: fileName },
      });
      window.open(routeData.href, "_blank");
    },
    downloadAttachment(file) {
      if (file.filePath != null && file.filePath.length > 0) {
        file.documentId = file.documentID;
        FilePathDownload.onGetDownloadFiles(file);
      } else {
        
       this.attachloaders = true;
      downloadFile(file.documentID, this.controller, this.downloadAction)
        .then((response) => {
          let downloadData = response.data;
          //console.log(response.data);
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.fileName;
          link.click();
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        }); 
      }
    },
    downloadImageAttachment() {
      this.attachloaders = true;
      downLoadHeaderDocument(this.sessionID)
        .then((response) => {
          console.log("Response Data", response.data);
          /* let downloadData = response.data;
                  var arrayBufferView = new Uint8Array( downloadData);
                  //console.log(response.data);
                  let blob = new Blob([arrayBufferView], { type: file.contentType });
                  //let link = document.createElement("a");*/
          this.imageUrl = "data:image/jpeg;base64," + response.data.imageData;
          window.getApp.$emit("ASSIGN_IMAGE", this.imageUrl);
          //link.download = file.fileName;
          // link.click();
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    deleteFiles(file) {
      this.attachloaders = true;
      //console.log(file.documentID + "" + JSON.stringify(file));
      if (file.uploaded) {
        if (this.wikiStatusType == "Draft") {
          updateFiles(file.documentID)
            .then((response) => {
              this.attachloaders = false;
              this.attachfiles.delete("file");

              //  //  let index = this.file;
              //    this.gridItems.splice(index, 1);
              //    this.getfiles();
            })
            .catch((error) => {
              this.attachloaders = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          deleteFiles(file.documentID, this.controller, this.deleteAction)
            .then((response) => {
              this.attachloaders = false;
              this.attachfiles.delete("file");

              //  //  let index = this.file;
              //    this.gridItems.splice(index, 1);
              //    this.getfiles();
            })
            .catch((error) => {
              this.attachloaders = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
      let index = this.attachments.indexOf(file);
      // let index = this.attachments.map((file) => file.name).indexOf(file.name);
      this.attachments.splice(index, 1);
    },
    attachfileChanged(args) {
      if (args != undefined) {
        Array.from(args).forEach((file) => {
          let fileSize = file.size / 1000000;
          let attachFile = {
            fileName: "",
            contentType: "",
            fileSize: 0.0,
            uploadDate: new Date(),
            uploaded: false,
            sessionID: "",
            isVideoFile: false,
            documentPermissionData: {
              isRead: true,
              isDelete: true,
            },
          };
          let allowsize = GlobalMessage.AllowMaxSize;
          attachFile.fileName = file.name;
          attachFile.fileSize = file.size;
          attachFile.contentType = file.type;
          attachFile.uploadDate = new Date();
          attachFile.uploaded = false;
          attachFile.sessionID = this.sessionID;
          attachFile.documentPermissionData.isRead = this.isRead;
          attachFile.documentPermissionData.isDelete = this.isDelete;
          if (file.type.includes("video")) {
            attachFile.isVideoFile = true;
          }
          if (fileSize <= allowsize) {
            this.attachments.push(attachFile);
            this.attachuploadedfileNames.push(file.name);
            this.attachuploadedFiles.push(file);
            this.attachfiles.append("file", file, file.name);
            this.attachfiles.append("isVideoFile", attachFile.isVideoFile);
            //   this.attachfiles.append(
            //   "fileProfileTypeId",
            //   this.fileProfileTypeId
            // );
          } else {
            window.getApp.$emit(
              "APP_API_VAL",
              file.name + " - File size exceeded " + allowsize + "MB"
            );
          }
        });
      }
    },
    uploadAttachment(item) {
      this.attachdialog = true;
      this.sessionID = item.sessionID;
      this.tableName = item.type;
      this.fileProfileTypeId = item.filterProfileTypeId;
      this.documentID = item.documentID;
      this.uploadAttachmentDocuments = item;
    },
    checkedOnPintItem(item) {
      this.attachloaders = true;
      updateDocumentIsPrint(item)
        .then(() => {
          this.attachloaders = false;
        })
        .catch(() => {
          this.attachloaders = false;
        });
    },
    closefolderDialog() {
      this.folderDialog = false;
      this.getfiles();
    },
    updatefileChanged(file) {
      //console.log(file);
      console.log("document id" + this.documentID);
      let allowsize = GlobalMessage.AllowMaxSize;
      let FileExtension = file.name.split(".").pop();
      let FileName = file.name;
      let FileNameWithoutExt = FileName.split(".").slice(0, -1).join(".");
      let FileExitsExtension = this.uploadAttachmentDocuments.fileName
        .split(".")
        .pop();
      if (FileExtension.trim() == FileExitsExtension.trim()) {
        /* let FileNameWithoutExtExits = this.uploadAttachmentDocuments.fileName
              .split(".")
              .slice(0, -1)
              .join(".");
            //if (FileNameWithoutExtExits == FileNameWithoutExt) {
            FileName =
              FileNameWithoutExt +
              "_" +
              this.uploadAttachmentDocuments.totalDocument +
              "." +
              FileExtension.trim(); */

        // }
        this.attachments = [];
        this.attachuploadedfileNames = [];
        this.attachuploadedFiles = [];
        this.attachfiles = new FormData();
        if (file != undefined) {
          //Array.from(args).forEach((file) => {
          let fileSize = file.size / 1000000;
          let attachFile = {
            fileName: "",
            contentType: "",
            fileSize: 0.0,
            uploadDate: new Date(),
            uploaded: false,
            sessionID: "",
            screenID: "",
            fileProfileTypeId: null,
            isVideoFile: false,
          };

          attachFile.fileName = FileName;
          attachFile.fileSize = file.size;
          attachFile.contentType = file.type;
          attachFile.uploadDate = new Date();
          attachFile.uploaded = false;
          attachFile.sessionID = this.sessionID;
          attachFile.screenID = this.screenID;
          attachFile.type = this.tableName;
          attachFile.fileProfileTypeId = this.fileProfileTypeId;
          if (file.type.includes("video")) {
            attachFile.isVideoFile = true;
          }
          if (fileSize <= allowsize) {
            this.attachments.push(attachFile);
            this.attachuploadedfileNames.push(FileName);
            this.attachuploadedFiles.push(file);
            this.attachfiles.append("file", file, FileName);
            this.attachfiles.append("sessionID", this.sessionID);
            this.attachfiles.append("screenID", this.screenID);
            this.attachfiles.append(
              "fileProfileTypeId",
              this.fileProfileTypeId
            );
             this.attachfiles.append("userSession",  this.$store.state.auth.sessionId);
              this.attachfiles.append("filePath", 'filePath');
            this.attachfiles.append("isHeaderImage", this.isHeaderImage);
            this.attachfiles.append("wikiStatusType", this.wikiStatusType);
            this.attachfiles.append("isLocked", this.isLocked);
            this.attachfiles.append("type", this.tableName);
            this.attachfiles.append("documentID", this.documentID);
            this.attachfiles.append("userID", this.$store.state.auth.userId);
            this.attachfiles.append("isVideoFile", attachFile.isVideoFile);
            this.attachfiles.append("link", GlobalMessage.BASEURL);
            uploadDocument(this.attachfiles)
              .then((response) => {
                this.attachfiles.delete("file");
                this.attachfiles = new FormData();
                this.getfiles();
                this.attachdialog = false;
                window.getApp.$emit(
                  "APP_API_SUCCESS",
                  "File Uploaded Successfully"
                );
              })
              .catch((error) => {
                this.attachloaders = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            window.getApp.$emit(
              "APP_API_VAL",
              file.name + " - File size exceeded " + allowsize + "MB"
            );
          }
          //});
        }
      } else {
        window.getApp.$emit("APP_API_ERROR", "File Extension Mismathch");
      }
    },
    clearableDateOfExpiry() {
      this.expiryDate = null;
    },
    attachMethod() {
      if (this.fileProfileTypeId > 0) {
        this.documentDialog = true;
        this.documentloaders = true;
        getFileProfileTypeDocument(
          this.fileProfileTypeId,
          this.$store.state.auth.userId
        )
          .then((response) => {
            this.gridItems = response.data.documentsData;
            this.documentloaders = false;
          })
          .catch((error) => {
            this.documentloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.documentloaders = false;
        window.getApp.$emit(
          "APP_API_ERROR",
          "Please select file profile type!!!"
        );
      }
    },
    attachFromDMS() {},
    checkedItem(item) {
      this.documentloaders = true;
      console.log("Item", JSON.stringify(item));
      this.linkProfileTypeDocument.transactionSessionId = this.sessionID;
      this.linkProfileTypeDocument.documentId = item.documentID;
      this.linkProfileTypeDocument.addedByUserID =
        this.$store.state.auth.userId;
      this.linkProfileTypeDocument.fileProfileTypeId = item.filterProfileTypeId;
      this.linkProfileTypeDocument.link = GlobalMessage.BASEURL;
      createLinkFileProfileType(this.linkProfileTypeDocument)
        .then((response) => {
          this.documentloaders = false;
        })
        .catch((error) => {
          this.documentloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closeDocumentList() {
      this.documentDialog = false;
      this.getfiles();
    },
  },
};
</script>
