<template>
  <div>
    <v-tabs color="transparent" v-model="selectedTab" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="tab1">
        Quality Control
        <v-icon>group_work</v-icon>
      </v-tab>
      <v-tab key="tab2">
        Information Link
        <v-icon>security</v-icon>
      </v-tab>
      <v-tab-item key="tab1">
        <v-toolbar flat color="white">
          <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
          <v-spacer></v-spacer>
          <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Registration Format.xls">
            <v-btn icon>
              <v-icon>cloud_download</v-icon>
            </v-btn>
          </download-excel>
          <!-- hide-overlay transition="dialog-bottom-transition" -->
          <v-dialog v-model="dialog" fullscreen>
            <!-- <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn> -->
            <v-card>
              <v-toolbar card dense color="primary">
                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="close">
                    <v-icon color="white">reply</v-icon>
                  </v-btn>
                  <span>Go Back</span>
                </v-tooltip>
                <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="saveAndClose">
                    <v-icon color="white">library_add</v-icon>
                  </v-btn>
                  <span>Save and Close</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="save">
                    <v-icon color="white">save</v-icon>
                  </v-btn>
                  <span>Save</span>
                </v-tooltip>
                <!--  <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New QC Approval App</span>
            </v-tooltip> -->
                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="deleterow">
                    <v-icon color="white">delete</v-icon>
                  </v-btn>
                  <span>Delete</span>
                </v-tooltip>

                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="first">
                    <v-icon color="white">first_page</v-icon>
                  </v-btn>
                  <span>First</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="previous">
                    <v-icon color="white">keyboard_arrow_left</v-icon>
                  </v-btn>
                  <span>Previous</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="next">
                    <v-icon color="white">keyboard_arrow_right</v-icon>
                  </v-btn>
                  <span>Next</span>
                </v-tooltip>
                <v-tooltip bottom>
                  <v-btn icon slot="activator" @click.native="last">
                    <v-icon color="white">last_page</v-icon>
                  </v-btn>
                  <span>Last</span>
                </v-tooltip>
                <v-tooltip bottom :disabled="editedItem.sessionId == null">
                  <v-btn :disabled="editedItem.sessionId == null" slot="activator" flat icon color="primary" @click="fileAttachment">
                    <v-icon color="white">attach_file</v-icon>
                  </v-btn>
                  <span>Attach Files</span>
                </v-tooltip>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <v-btn icon slot="activator">
                    <v-icon color="white" @click.native="close">close</v-icon>
                  </v-btn>
                  <span>Close</span>
                </v-tooltip>
                <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
              </v-toolbar>

              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>
              <div class="task-sub--scroll">
                <v-card-text>
                  <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                    <v-layout wrap>
                      <v-flex xs12 sm4>
                        <v-text-field v-model="editedItem.userName" label="User" prepend-icon="select_all" readonly></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field v-model="editedItem.dateAndTime" label="Date/Time" prepend-icon="select_all" readonly></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field v-model="editedItem.inspectionNo" label="Inspection No" prepend-icon="select_all"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <span>Is this re-test</span>
                        <v-radio-group row v-model="editedItem.isRetestFlag">
                          <v-radio label="Yes" value="Yes"></v-radio>
                          <v-radio label="No" value="No"></v-radio>
                        </v-radio-group>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete :loading="loader" chips flat label="Name of Test" prepend-icon="notes" v-model="editedItem.testNameId" :items="testNameItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID" chips></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-form>
                  <qc-approval-line ref="refQcApprovalLine"></qc-approval-line>
                </v-card-text>
              </div>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary darken-1" outline @click.native="save" :loading="subloader">save</v-btn>
                <v-btn color="primary darken-1" outline @click.native="close" :loading="subloader">Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="attachdialog" max-width="900px">
            <attachment title="QC Approval Document" :screenID="screenID" :sessionID="sessionId" controller="Documents" action="GetDocumentsBySessionID" uploadAction="UploadDocument" ref="refattach" :closeMethod="closeattach"></attachment>
          </v-dialog>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
              <v-icon icon>refresh</v-icon>
            </v-btn>
            <span>Refresh</span>
          </v-tooltip>
        </v-toolbar>

        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="qcapprovalId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
          <template slot="items" slot-scope="props">
            <tr v-on:dblclick="editItem(props.item)">
              <td class="text-xs-left">{{ props.item.inspectionNo }}</td>

              <td class="text-xs-left">{{ props.item.isRetestFlag }}</td>
              <td class="text-xs-left">{{ props.item.testName }}</td>
              <td class="text-xs-left">{{ props.item.statusCode }}</td>
              <td class="text-xs-left">
                {{ props.item.modifiedByUser == "" ? props.item.addedByUser : props.item.modifiedByUser }}
              </td>
              <td class="text-xs-left">
                {{ props.item.modifiedDate == null ? props.item.addedDate : props.item.modifiedDate | formatDate }}
              </td>

              <td class="justify-center layout px-0">
                <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
                <v-icon small :disabled="props.item.sessionId == null" @click="fileAttachments(props.item)">attach_file</v-icon>
              </td>
            </tr>
          </template>
          <template slot="no-data">
            <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
          </template>
        </v-data-table>
        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
      </v-tab-item>
      <v-tab-item key="tab2">
        <portal-links ref="rerPortalLinks"></portal-links>
      </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
<script>
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import attachment from "@/components/Attachment/attachments";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import QcApprovalLine from "@/pages/mobile/QcApproval/QcApprovalLine";
  import PortalLinks from "@/components/portalLinks/portalLinks";
  import {
    createQcApproval,
    getDatas,
    getQcApproval,
    updateQcApproval,
    deleteQcApproval,
  } from "@/api/QcApprovel";
  export default {
    components: {
      QcApprovalLine,
      attachment,
      PortalLinks
    },
    data: () => ({
      selectedTab: 0,
      totalRows: 0,
      attachdialog: false,
      sessionId: null,
      loading: false,
      subloader: false,
      screenID: "",
      qcapprovalId: -1,
      dialog: false,
      search: "",
      loader: false,
      testNameItems: [],
      customerNameItems: [],
      gridItems: [],
      statusOptions: [],
      editedItem: {
        valid: false,
        userName: "",
        dateAndTime: "",
        qcapprovalId: -1,
        inspectionNo: "",
        isRetestFlag: "",
        testNameId: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null,
        sessionId: null,
      },
      defaultItem: {
        valid: false,
        qcapprovalId: -1,
        inspectionNo: "",
        isRetestFlag: "",
        testNameId: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null,
        userName: "",
        dateAndTime: "",
        sessionId: null,
      },
      filterFields: [
        "InspectionNo",
        "StatusCode.CodeValue",
        "ModifiedByUser.UserName",
      ],
      headers: [
        { text: "Inspection No", value: "inspectionNo", align: "left" },
        {
          text: "Is this re-test",
          value: "isRetestFlag",
          align: "left",
          sortable: false,
        },
        { text: "Test Name", value: "testName", align: "left", sortable: false },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%",
        },
      ],
      json_fields: {
        "Inspection No": "inspectionNo",
        "Is this re-test": "isRetestFlag",
        "Test Name": "testName",
        Status: "statusCode",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate",
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
    }),
    created () {
      this.initialize();
      this.loadTextData();
    },
    watch: {
      dialog (val) {
        val || this.close();
      },
    },
    computed: {
      formTitle () {
        return this.editedItem.qcapprovalId < 0
          ? "Add QC Approval App"
          : "Edit QC Approval App";
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    methods: {
      initialize () {
        setTimeout(() => {
          this.$refs.rerPortalLinks.moduleId = 3200;
          this.$refs.rerPortalLinks.initialize();

        }, 300);
        /*  this.loader = true;
           getQcApproval()
             .then((response) => {
               this.gridItems = response.data;
               this.loader = false;
             })
             .catch((error) => {
               this.loader = false;
               window.getApp.$emit("APP_API_ERROR", error);
             }); */
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = this.pagination.page;
        search.sortCol = "QcapprovalID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GeQcapproval";
        search.pageCount = 1;
        this.pagination.page = 1;
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "inspectionNo") {
          search.sortCol = "InspectionNo";
        } else if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode.CodeValue ";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        } else if (args.sortBy == "modifiedDate") {
          search.sortCol = "ModifiedDate";
        } else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GeQcapproval";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      loadTextData () {
        this.editedItem.userName = this.$store.state.auth.userName;
        this.editedItem.dateAndTime = moment(new Date()).format(
          "DD-MMM-YYYY hh:mm:ss A"
        );
      },
      loadDropdownList () {
        this.loader = true;
        getApplicationMasterDetailByType(277)
          .then((response) => {
            this.testNameItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCodeMasterByType("QCApproveAtatus")
          .then((response) => {
            this.statusOptions = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getProductLinesTab (status) {
        this.$refs.refQcApprovalLine.qcapprovalId = this.editedItem.qcapprovalId;
        this.$refs.refQcApprovalLine.enableAddButton = status;
        this.$refs.refQcApprovalLine.initialize();
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          if (this.editedItem.qcapprovalId > 0) {
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            updateQcApproval(this.editedItem)
              .then((response) => {
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.editedItem.sessionId = response.data.sessionId;
                this.initialize();
                this.getProductLinesTab(false);
                this.loadTextData();
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createQcApproval(this.editedItem)
              .then((response2) => {
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.editedItem.qcapprovalId = response2.data.qcapprovalId;
                this.initialize();
                this.getProductLinesTab(false);
                this.loadTextData();
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      add () {
        this.loadDropdownList();
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedItem.valid = false;
        this.getProductLinesTab(true);
        this.loadTextData();
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      addFormDialog () {
        this.add();
      },
      editItem (item) {
        console.log('item' + JSON.stringify(item));
        this.loadDropdownList();
        this.sessionId = item.sessionId;
        setTimeout(() => {
          this.editedItem = Object.assign({}, item);
          this.editedItem.valid = false;
          this.getProductLinesTab(false);
          this.dialog = true;
          this.loadTextData();
        }, 500);
      },
      fileAttachment () {
        this.attachdialog = true;
        setTimeout(() => {
          this.$refs.refattach.attachments = [];
          this.$refs.refattach.sessionId = this.sessionId;
          this.$refs.refattach.getfiles();
          this.$refs.refattach.isReadOnly = true;
        }, 500);
      },

      fileAttachments (item) {
        this.sessionId = item.sessionId;
        this.attachdialog = true;
        console.log('qc approval item' + JSON.stringify(item));
        setTimeout(() => {
          this.$refs.refattach.attachments = [];
          this.$refs.refattach.documentId = item.documentId;
          this.$refs.refattach.getfiles();
          this.$refs.refattach.isReadOnly = true;
        }, 500);
      },

      closeattach () {
        this.attachdialog = false;
        this.$refs.refattach.expiryDate = null;
        this.$refs.refattach.fileProfileTypeId = 0;
      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
        }, 300);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.qcapprovalId > 0) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteQcApproval(this.editedItem)
            .then(() => {
              this.loader = false;
              this.initialize();
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.qcapprovalId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.qcapprovalId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.qcapprovalId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.qcapprovalId;
        this.toolfunction();
      },
      toolfunction () {
        getData(this.searchItem)
          .then((response) => {
            if (response.data.qcapprovalId != null) {
              this.editedItem = response.data;
              this.getProductLinesTab(false);
              this.loadTextData();
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
            }
          })
          .catch((error) => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
    },
  };
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>