<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="tasks.xls"
        v-show="ValidFunction('Download', formId)"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-btn
          slot="activator"
          v-show="ValidFunction('Add', formId)"
          icon
          @click="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Add', formId)"
                @click.native="add"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New ACEntry</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Delete', formId)"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn
                inline
                slot="activator"
                :loading="loader"
                @click.native="copyACEntry"
                >Copy</v-btn
              >
              <span>Copy AC Entry</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="auditLog">
                <v-icon color="white">info</v-icon>
              </v-btn>
              <span>Audit Log</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <vue-perfect-scrollbar class="acEntry--scrollbar">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs6 sm6>
                      <v-menu
                        v-model="startDateMenu"
                        menu-props="closeOnContentClick"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="fromDateFormatted"
                          label="Start Date"
                          prepend-icon="today"
                          readonly
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.fromDate"
                          @change="startDateMenu = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs6 sm6>
                      <v-menu
                        v-model="endDateMenu"
                        menu-props="closeOnContentClick"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="toDateFormatted"
                          label="End Date"
                          prepend-icon="today"
                          readonly
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.toDate"
                          @change="endDateMenu = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>

                    <v-flex xs6 sm6>
                      <v-autocomplete
                        label="Customers"
                        prepend-icon="notes"
                        v-model="editedItem.customerId"
                        :items="customerItems"
                        item-text="name"
                        item-value="customerId"
                        chips
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs6 sm6>
                      <v-select
                        label="Company"
                        v-model="editedItem.companyId"
                        prepend-icon="apartment"
                        name="companyselect"
                        item-text="plantCode"
                        item-value="plantID"
                        :items="companies"
                        @change="companySelected"
                      ></v-select>
                    </v-flex>

                    <v-flex xs6 sm6>
                      <v-text-field
                        v-model="editedItem.version"
                        label="Version"
                        prepend-icon="description"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs6 sm6>
                      <v-text-field
                        v-model="editedItem.remark"
                        label="Remark"
                        prepend-icon="description"
                      ></v-text-field>
                    </v-flex>
                    <!-- 
                    <v-flex xs6 sm6>
                      <upload-btn
                        @file-update="fileChanged"
                        title="Browse"
                        name="uploadtask"
                        uniqueId
                        ref="acEntryUpload"
                        noTitleUpdate
                      >
                        <template slot="icon-left">
                          <v-icon left color="white">attachment</v-icon>
                        </template>
                      </upload-btn>
                      <div class="large-12 medium-12 small-12 cell">
                        <div v-for="(name, key) in uploadedfileNames" class="file-listing">
                          {{ name }}
                          <v-btn icon v-if="!showdownload" v-show="ValidFunction('Delete',formId)" @click="removeFile( key )">
                            <v-icon>close</v-icon>
                          </v-btn>
                          <v-btn icon v-else @click="downloadFile( key )" v-show="ValidFunction('Download',formId)">
                            <v-icon>save_alt</v-icon>
                          </v-btn>
                        </div>
                      </div>
                    </v-flex>
                    -->
                    <v-flex xs6 sm6>
                      <v-autocomplete
                        label="Status"
                        prepend-icon="notes"
                        v-model="editedItem.statusCodeID"
                        :items="statusOptions"
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
            <v-layout row wrap>
              <span>
                <h3>AC Entry Line</h3>
              </span>
            </v-layout>
            <v-card-text>
              <acentryline ref="refacentryline"></acentryline>
            </v-card-text>
            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete This Item Permanently?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </vue-perfect-scrollbar>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Item Cost Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"
      :total-items="totalRows"
      :rows-per-page-items="rowsPerPageItems"
      :loading="gridloader"
      @update:pagination="onUpdatePagination"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.fromDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.toDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.customerName }}</td>
        <td class="text-xs-left">{{ props.item.companyName }}</td>
        <td class="text-xs-left">{{ props.item.version }}</td>
        <td class="text-xs-left">{{ props.item.remark }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>

        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            :disabled="props.item.sessionId == null"
            @click="fileAttachments(props.item)"
            >attach_file</v-icon
          >
          <v-icon
            small
            class="mr-2"
            v-show="ValidFunction('Edit', formId)"
            @click="editItem(props.item)"
            >edit</v-icon
          >
          <v-icon
            small
            v-show="ValidFunction('Download', formId)"
            @click="onDeleteItem(props.item)"
            >delete</v-icon
          >
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog1"
      heading="Are You Sure You Want To Close?"
      message="Are You Sure You Want To Close? Files Not Updloaded"
      @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>

    <v-dialog v-model="auditdialog">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title color="white">Audit Logs</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="auditdialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          <audit-log ref="refAuditLog"></audit-log>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary darken-1"
            outline
            @click.native="auditdialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
//import UploadButton from "vuetify-upload-button";
//import { uploadDocuments, downloadFile } from "@/api/document";
import { isValidFunction } from "@/api/checkPermission";
import {
  getACEntries,
  getACEntry,
  createACEntry,
  updateACEntry,
  deleteACEntry,
  getCustomers,
  getItems,
  getACEntryLines,
  copyACEntry,
} from "@/api/acEntry";
import acentryline from "@/pages/productionplanning/salesorder/acentryline.vue";
import GlobalMessage from "@/constant";
import moment from "moment";
import { getPlants } from "@/api/nav";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import auditLog from "@/components/auditLog/auditLog";
export default {
  components: {
    //  "upload-btn": UploadButton,
    acentryline,
    auditLog,
    attachment,
  },
  data: () => ({
    attachdialog: false,
    uploadbtn: true,
    formId: "MAS9030",
    totalRows: 0,
    sessionId: null,
    screenID: "MAS9030",
    aCEntryId: -1,
    companies: [],
    auditdialog: false,
    dialog: false,
    loader: false,
    gridloader: false,
    search: "",
    customerItems: [],
    itemList: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],

    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    files: new FormData(),

    startDateMenu: false,
    endDateMenu: false,
    filterFields: [
      "Customer.Name",
      "Company.Description",
      "Version",
      "Remark",
      "AddedByUser.UserName",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Start Date", value: "fromDate", align: "left" },
      { text: "End Date", value: "toDate", align: "left" },
      { text: "Customer", value: "customerName", align: "left" },
      { text: "Company", value: "companyName", align: "left" },
      { text: "Version", value: "version", align: "left" },
      { text: "Remark", value: "remark", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],

    json_fields: {
      "Start Date": "fromDate",
      "End Date": "toDate",
      Customer: "customerName",
      Company: "companyName",
      Version: "version",
      Remark: "remark",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
    gridItems: [],
    editedIndex: -1,
    uploadFile: false,
    uploadedFiles: [],
    uploadedfileNames: [],
    showdownload: false,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      aCEntryId: -1,
      fromDate: null,
      toDate: null,
      customerId: null,
      customerName: "",
      remark: "",
      version: "",
      documentId: null,
      fileName: "",
      sessionID: "",
      sessionId: "",
      quantity: null,
      nameRules: [(v) => !!v || "Name is required"],
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      itemIds: [],
      modifiedDate: new Date().toISOString().substr(0, 10),
      acentrylines: [],
    },
    defaultItem: {
      valid: false,
      aCEntryId: -1,
      fromDate: null,
      toDate: null,
      customerId: null,
      customerName: "",
      remark: "",
      version: "",
      sessionID: "",
      sessionId: "",
      documentId: null,
      fileName: "",
      quantity: null,
      nameRules: [(v) => !!v || "Name is required"],
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      itemIds: [],
      modifiedDate: new Date().toISOString().substr(0, 10),
      acentrylines: [],
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add AC Entry" : "Edit AC Entry";
    },
    minDate() {
      const today = new Date();
      return this.formatDate(today);
    },
    fromDateFormatted() {
      if (this.editedItem.fromDate != null)
        return this.editedItem.fromDate
          ? moment(this.editedItem.fromDate).format(GlobalMessage.DATEFORMAT)
          : "";
    },

    toDateFormatted() {
      if (this.editedItem.toDate != null)
        return this.editedItem.toDate
          ? moment(this.editedItem.toDate).format(GlobalMessage.DATEFORMAT)
          : "";
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    this.initialize();
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    initialize() {
      this.uploadedFiles = [];
      // this.loader = true;
      // getACEntries("")
      //   .then((response) => {
      //     this.gridItems = response.data;
      //     this.loader = false;
      //     //this.total = response.data.length;
      //   })
      //   .catch((error) => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      getPlants()
        .then((response) => {
          this.companies = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCustomers("")
        .then((response) => {
          this.customerItems = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      let id = this.editedItem.acEntryId;

      getItems("")
        .then((response) => {
          this.itemList = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    formatDate(date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join("-");
    },

    editItem(item) {
      this.uploadedfileNames = [];
      let name = item.fileName;
      if (name != null) {
        this.uploadedfileNames.push(name);
      }
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      let id = this.editedItem.acEntryId;
      this.sessionId = this.editedItem.sessionId;
      this.acEntryId = this.editedItem.acEntryId;
      this.uploadbtn = false;
      this.$refs.refacentryline.aCEntryId = id;
      this.$refs.refacentryline.enableAddButton = false;
      this.$refs.refacentryline.getEntryLines();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteACEntry(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    //

    fileAttachment() {
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.sessionId = this.sessionId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    fileAttachments(item) {
      console.log("check item", item);
      this.sessionId = item.sessionId;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentId = item.documentId;
        this.$refs.refattach.getfiles();
      }, 500);
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "AcentryId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetACEntries";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "customerName") {
        search.sortCol = "Customer.Name";
      } else if (args.sortBy == "companyName") {
        search.sortCol = "Company.PlantCode";
      } else if (args.sortBy == "version") {
        search.sortCol = "Version";
      } else if (args.sortBy == "remark") {
        search.sortCol = "Remark";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetACEntries";
      console.log("Pagination", args);
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    // closeattach() {
    //   this.attachdialog = false;
    // },

    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    saveAndClose() {
      this.save();
      setTimeout(() => {
        this.close();
      }, 600);
    },
    toolfunction() {
      getACEntry(this.searchItem)
        .then((response) => {
          if (response.data != undefined) {
            if (response.data.acEntryId != null) {
              this.editedItem = response.data;
              this.uploadedfileNames = [];
              this.$refs.refacentryline.gridItems = response.data.acentrylines;
              let name = response.data.fileName;
              if (name != null) {
                this.uploadedfileNames.push(name);
              }
              let index = this.gridItems
                .map((item) => item.acEntryId)
                .indexOf(response.data.acEntryId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.acEntryId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.acEntryId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.acEntryId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.acEntryId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.$refs.refacentryline.enableAddButton = true;
      this.editedItem.valid = false;
      this.uploadbtn = true;
      this.editedItem.fromDate = new Date().toISOString().substr(0, 10);
      this.editedItem.toDate = new Date().toISOString().substr(0, 10);
      this.editedItem.customerId = null;
      this.editedItem.companyId = null;
      this.editedItem.remark = "";
      this.editedItem.version = "";
      this.editedItem.itemIds = [];
      this.editedItem.quantity = 0;
      this.editedItem.acEntryId = -1;
      this.editedItem.sessionID = "";
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
      this.editedItem.acentrylines = [];
      this.$refs.refacentryline.gridItems = [];
      this.uploadedfileNames = [];
      this.editedItem.fileName = "";
      this.files = new FormData();
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteACEntry(this.editedItem)
        .then(response => {
          this.add();
          if(response!=undefined)
          {
          this.gridItems.splice(index, 1);
          this.loadPagingData();
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 600);
    },
    saveAndUpdate() {
      //To display Drop Down Values in the Grid Immediately
      for (var id in this.customerItems) {
        if (this.editedItem.customerId == this.customerItems[id].customerId) {
          this.editedItem.customerName = this.customerItems[id].name;
        }
      }
      this.editedItem.acentrylines = this.$refs.refacentryline.gridItems;
      if (this.editedIndex > -1) {
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

        updateACEntry(this.editedItem)
          .then((response2) => {
            this.loader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.editedItem.sessionID = "";
            this.uploadedFiles = [];
            this.editedItem.sessionId = response2.data.sessionId;
            //this.add();
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.aCEntryId = parseInt(Math.random() * 100) + 1024; // mock a id
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        console.log("editeditem", +this.editedItem);
        createACEntry(this.editedItem)
          .then((response2) => {
            this.gridItems.push(response2.data);
            this.loader = false;
            let index = this.gridItems
              .map((item) => item.acEntryId)
              .indexOf(response2.data.acEntryId);
            this.editedIndex = index;
            this.editedItem.sessionID = "";

            this.sessionId = response2.data.sessionId;
            this.editedItem.sessionId = response2.data.sessionId;
            this.acEntryId = response2.data.acEntryId;
            this.uploadbtn = false;

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            this.$refs.refacentryline.aCEntryId = response2.data.acEntryId;
            this.$refs.refacentryline.enableAddButton = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loader = false;
      }
    },
    save() {
      if (this.$refs.form.validate()) {
        //To display Drop Down Values in the Grid Immediately
        for (var id in this.customerItems) {
          if (this.editedItem.customerId == this.customerItems[id].customerId) {
            this.editedItem.customerName = this.customerItems[id].name;
          }
        }
        this.loader = true;
        let index = this.editedIndex;
        this.saveAndUpdate();
        // if (this.uploadedFiles.length > 0 && this.files != undefined) {
        //   uploadDocuments(this.files)
        //     .then(response => {
        //       this.editedItem.sessionID = response.data;
        //       this.saveAndUpdate();
        //       this.uploadedFiles = [];
        //       this.files.delete("file");
        //       //this.add();
        //     })
        //     .catch(error => {
        //       this.loader = false;
        //       window.getApp.$emit("APP_API_ERROR", error);
        //     });
        // } else {
        //   this.saveAndUpdate();
      }
    },
    companySelected() {
      console.log(this.customerItems);
    },
    auditLog() {
      this.$refs.refAuditLog.tableName = "ACEntry";
      this.$refs.refAuditLog.primaryKeyValue = this.editedItem.acEntryId;
      this.$refs.refAuditLog.displayColumns = [
        "FromDate",
        "ToDate",
        "CustomerId",
      ];
      this.$refs.refAuditLog.getAuditLog();
      this.auditdialog = true;
    },
    copyACEntry() {
      this.loader = true;
      copyACEntry(this.editedItem)
        .then((response2) => {
          this.loader = false;
          this.close();
          window.getApp.$emit(
            "APP_API_SUCCESS",
            "AC Entry data copied sucessfully.Please change from/to dates if required."
          );
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
<style lang="stylus" scoped>.acEntry--scrollbar {
  height: calc(100vh - 60px);
}
</style>