<template>
<div> 
    <v-toolbar
      flat
      color="white"
    > 
     
     
             
          
          <v-card-text>
            <v-form
              v-model="editedItem.valid"
              ref="form"
              lazy-validation
            >
              
                <v-layout wrap>

                  <v-flex
                    xs5
                    sm5
                  >
                    <v-menu
                      v-model="startDateMenu"
                      menu-props="closeOnContentClick"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="fromDateFormatted"
                        label="From Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="dateRange.fromDate"
                        @change="startDateChange"
                        
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex
                    xs5
                    sm5
                  >
                    <v-menu
                      v-model="endDateMenu"
                      menu-props="closeOnContentClick"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="toDateFormatted"
                        label="To Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="dateRange.toDate"
                        @change="endDateMenu = false"
                        :min="dateRange.fromDate"
                        :max="maxDate"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex
                  xs2
                    sm2
                  >
                 <v-btn
              slot="activator"
              color="primary"
              @click.native="searchClick"
            >
              Search
            </v-btn>
                  </v-flex>              

                
                </v-layout>
              
            </v-form>
          </v-card-text>       
         
          </v-tooltip>
     
    </v-toolbar>
   
    <v-data-table 
              :headers="headers"
              :items="gridItems"
              :search="search"
              expand="keep"
              class="elevation-1"
              :loading="loader"
              hide-actions
               item-key="itemNo">
      <template slot="items" slot-scope="props">
        <tr @click="props.expanded = !props.expanded">
        <td class="px-1" style="width: 0.1%" >
          <v-icon v-show="!props.expanded" small>expand_more</v-icon>
          <v-icon v-show="props.expanded" small>expand_less</v-icon>
        </td>
        <td class="text-xs-left" width="5%">{{ props.item.itemNo }}</td>
        <td class="text-xs-left" width="10%">{{ props.item.description }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.uom }}</td>
        </tr>
      </template>

       <template slot="expand" slot-scope="props">
            <v-data-table 
              :headers="childHeaders"
              :items="props.item.childCalendarItems"
              :search="search"
              expand="keep"
              class="elevation-1"
              hide-actions
               item-key="itemNo">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left" width="5%">{{ props.item.customerName }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month1 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month2 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month3 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month4 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month5 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month6 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month7 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month8 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month9 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month10 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month11 }}</td>
        <td class="text-xs-left" width="5%">{{ props.item.month12 }}</td>
        </tr>
      </template>
      
      <template slot="footer" >
        <tr>
        <td class="text-xs-left" width="10%">Total Per Unit</td>
        <td class="text-xs-left" width="1%" >{{ props.item.month1Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month2Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month3Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month4Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month5Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month6Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month7Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month8Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month9Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month10Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month11Total }}</td>
        <td class="text-xs-left" width="1%">{{ props.item.month12Total }}</td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table> 
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
   
   
</div>
</template>

<script>
import { getINPACInfoView, getCustomerAC } from '@/api/nav';
import GlobalMessage from '@/constant';
import moment from 'moment'
export default {
 data: () =>({
    loader: false,
    search:null, 
   
     editedItem:
    {
       valid: false,
       aCEntryId: null,
      fromDate: new Date().toISOString().substr(0, 10),
      toDate: new Date().toISOString().substr(0, 10),
      customerId: null,
      customerName: '',

    },
    dateRange: {fromDate: new Date().toISOString().substr(0, 10),
      toDate: new Date().toISOString().substr(0, 10)},
    snackbar: false,
    startDateMenu: false,
    endDateMenu: false,
    snackbarMessage: "",
    timeout: 2000,
    itemNo:'',
    y: "top",
    headers: [],
    childHeaders:[],
    gridItems: [],
    calendarData:null,
    maximumDate: new Date().toISOString().substr(0, 10)
    }),
   
    computed:{
      fromDateFormatted () {
      return this.dateRange.fromDate ? moment(this.dateRange.fromDate).format(GlobalMessage.DATEFORMAT) : ''
    },

    toDateFormatted () {
      return this.dateRange.toDate ? moment(this.dateRange.toDate).format(GlobalMessage.DATEFORMAT) : ''
    },
     maxDate () {
      if (this.maximumDate != undefined) {
        const today = moment(this.maximumDate).format("YYYY-MM-DD");
        return today;
      }
      else {
        return this.formatDate(new Date());
      }
    },
    },
    created(){
      this.initialize();
      
    },
    methods:{
      initialize(){ 
       this.maximumDate= new Date().toISOString().substr(0, 10);
    },
    searchClick()
    {
      this.loader=true;
      getINPACInfoView(this.dateRange)
          .then(response => {            
             this.calendarData=response.data;
            this.headers = response.data.headers;
            this.childHeaders=response.data.childHeaders;
            this.gridItems = response.data.calendars;
            this.loader = false;
           
          })
          .catch(error => {
            this.loader = false;
            
            window.getApp.$emit('APP_API_ERROR', error);
          });
    },
    startDateChange()
    {     
    
     this.maximumDate = new Date(new Date(this.maximumDate).setFullYear(new Date(this.dateRange.fromDate).getFullYear()+1));
    },
   
  }
}
</script>

<style>

</style>
