<template>
  <div id="page-forms">
    <v-toolbar class="elevation-0 transparent media-toolbar">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <span>Date :</span>
      <span class="fontbold">{{todayDateFormatted}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>Print By :</span>
      <span class="fontbold">{{printBy}}</span>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click.native="searchFilter">
          <v-icon>search</v-icon>
        </v-btn>
        <span>Search</span>
      </v-tooltip>
      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="CountryInformationReport.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click.native="clearSearch">
          <v-icon>cancel</v-icon>
        </v-btn>
        <span>Clear Search</span>
      </v-tooltip>
    </v-toolbar>

    <v-form ref="entryform" lazy-validation>
      <app-section-loader :status="loader"></app-section-loader>
      <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="itemId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.manufacturingSite }}</td>
          <td class="text-xs-left">{{ props.item.productName }}</td>
          <td class="text-xs-left">{{ props.item.countryName }}</td>
          <td class="text-xs-left">{{ props.item.productOwner }}</td>
          <td class="text-xs-left">{{ props.item.productRegistrationHolderName }}</td>
          <td class="text-xs-left">{{ props.item.prhspecificProductName }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ props.item.packType }}</td>
          <td class="text-xs-left">{{ props.item.packagingType }}</td>
          <td class="text-xs-left">{{ props.item.packQty}}</td>
          <td class="text-xs-left">{{ props.item.packQtyunitName }}</td>
          <td class="text-xs-left">{{ props.item.perPackName }}</td>
          <td class="text-xs-left">{{ props.item.factorOfSmallestProductionPack }}</td>
          <td class="text-xs-left">{{ props.item.salesPerPackName }}</td>
          <td class="text-xs-left">{{ props.item.shelfLife }}</td>
          <td class="text-xs-left">{{ props.item.temparature }}</td>
        </template>
      </v-data-table>
    </v-form>
  </div>
</template>
 <script>
  import { getFinishProductGeneralInfoReport } from "@/api/report";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  export default {
    components: {},
    data: () => ({
      search: "",
      printBy: "",
      today: new Date().toISOString().substr(0, 10),
      gridItems: [],
      headers: [
        { text: "Manufacturing Site", value: "manufacturingSite", align: "left" },
        { text: "Product Name", value: "productName", align: "left" },
        { text: "Country Name", value: "countryName", align: "left" },
        { text: "Product Owner", value: "productOwner", align: "left" },
        { text: "Product Registration Holder", value: "productRegistrationHolderName", align: "left" },
        { text: "PRH Specific Product Name", value: "prhspecificProductName", align: "left" },
        { text: "StatusCode", value: "statusCode", align: "left" },
        { text: "Pack Type", value: "packType", align: "left" },
        { text: "Packaging Type", value: "packagingType", align: "left" },
        { text: "Pack Qty", value: "packQty", align: "left" },
        { text: "Pack Qty Unit", value: "packQtyunitName", align: "left" },
        { text: "Qty per pack", value: "perPackName", align: "left" },
        { text: "Registration Factor", value: "factorOfSmallestProductionPack", align: "left" },
        { text: "Registration per pack", value: "salesPerPackName", align: "left" },
        { text: "Shelf Life By Month", value: "shelfLife", align: "left" },
        { text: "Temparature", value: "temparature", align: "left" },
      ],
      json_fields: {
        "Manufacturing Site": "manufacturingSite",
        "Product Name": "productName",
        "Country Name": "countryName",
        "Product Owner": "productOwner",
        "Product Registration Holder": "productRegistrationHolderName",
        "PRH Specific Product Name": "prhspecificProductName",
        "StatusCode": "statusCode",
        "Pack Type": "packType",
        "Packaging Type": "packagingType",
        "packQty": "packQty",
        "Pack Qty Unit": "packQtyunitName",
        "Qty per pack": "perPackName",
        "Registration Factor": "factorOfSmallestProductionPack",
        "Registration per pack": "salesPerPackName",
        "Shelf Life By Month": "shelfLife",
        "Temparature": "temparature",
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      valid: true,
      loader: false
    }),
    computed: {
      todayDateFormatted () {
        return this.today
          ? moment(this.today).format(GlobalMessage.DATEFORMAT)
          : "";
      }
    },
    mounted () { },
    created () {
      this.initialize();
    },
    methods: {
      initialize () {
        this.loader = true;
        this.printBy = this.$store.state.auth.userName;

        getFinishProductGeneralInfoReport()
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      clearSearch () {
        this.gridItems = [];
      }
    }
  };
</script>
<style scoped>
  .fontbold {
    font-weight: bold;
  }
</style>
