<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Generic Name Listing.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon="" @click="initialize()">
        <v-icon icon>
          refresh
        </v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Generic Name Listing</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">

                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout row wrap>

                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.genericName" label="Generic Item Name" required prepend-icon="select_all" :rules="GenericNameRules">
                      </v-text-field>
                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.alsoKownAs" label="Also Kown As" required prepend-icon="select_all">
                      </v-text-field>

                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-autocomplete :loading="loader" chips cache-items flat placeholder="Select Item Classification" prepend-icon="assistant" :items='itemClassificationItems' v-model="editedItem.itemClassificationId" label="Item Classification" color="blue" item-text="value" item-value="applicationMasterDetailId" :rules="ItemClassificationRules" @change="onChangeitemClassification">
                      </v-autocomplete>

                    </v-flex>
                    <v-flex xs12 sm12 v-if="materialProducttionFlag">
                      <v-container grid-list-md style="background: gainsboro !important;padding: 10px;">
                        <v-layout wrap>
                          <span class="headline">Production Material</span>
                        </v-layout>
                      </v-container>
                      <v-layout wrap>
                        <v-flex xs12 sm4>
                          <v-autocomplete label="Type of Ingredient" prepend-icon="notes" v-model="ProductionMaterial.typeofIngredientId" :items="typeofIngredientItems" item-text="value" item-value="applicationMasterDetailId" multiple :search-input.sync="searchIngredientTag" @change="onselectIngredientTag" required :rules="ingredientRules">
                            <template slot="selection" slot-scope="data">
                              <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeIngredient(data.item)">

                                {{ data.item.value }}
                              </v-chip>
                            </template>
                            <template slot="item" slot-scope="data">
                              <template v-if="typeof data.item !== 'object'">
                                <v-list-tile-content v-text="data.item"></v-list-tile-content>
                              </template>
                              <template v-else>

                                <v-list-tile-content>
                                  <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                                </v-list-tile-content>
                              </template>
                            </template>
                          </v-autocomplete>
                        </v-flex>

                        <v-flex xs12 sm4>
                          <v-text-field v-model="ProductionMaterial.rawMaterialName" prepend-icon="select_all" label="General Raw Material Name"></v-text-field>
                        </v-flex>

                        <v-flex xs12 sm4>
                          <v-autocomplete :loading="loader" chips flat label="Function of Material" prepend-icon="assistant" :items='functionOfMaterialItems' v-model="ProductionMaterial.functionOfMaterialId" v-if="functionOfMaterialFlag" color="blue" item-text="value" item-value="applicationMasterDetailId" multiple :search-input.sync="searchMaterialTag" @change="selectMaterialTag">
                            <template slot="selection" slot-scope="data">
                              <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeMaterial(data.item)">

                                {{ data.item.value }}
                              </v-chip>
                            </template>
                            <template slot="item" slot-scope="data">
                              <template v-if="typeof data.item !== 'object'">
                                <v-list-tile-content v-text="data.item"></v-list-tile-content>
                              </template>
                              <template v-else>

                                <v-list-tile-content>
                                  <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                                </v-list-tile-content>
                              </template>
                            </template>
                          </v-autocomplete>

                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-autocomplete label="Status" prepend-icon="notes" v-model="ProductionMaterial.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips>
                          </v-autocomplete>

                        </v-flex>

                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
              <production-material-line v-if="materialProducttionFlag" ref="refProductLines"></production-material-line>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">
              Save
            </v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem">
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="genericItemNameListingId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.genericName }}</td>
        <td class="text-xs-left">{{ props.item.alsoKownAs }}</td>
        <td class="text-xs-left">{{ props.item.itemClassificationName }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>
        <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">
            edit
          </v-icon>
          <v-icon small @click="onDeleteItem(props.item)">
            delete
          </v-icon>
          <v-menu bottom right="">
            <v-btn slot="activator" icon>
              <v-icon>more_vert</v-icon>
            </v-btn>
            <v-list>
              <v-list-tile v-for="(item, i) in items" :key="i" @click="menuClick(i,props.item)" ripple="ripple" rel="noopener">
                <v-list-tile-action>
                  <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>

  </div>
</template>
<script>
  import ProductionMaterialLine from '@/pages/productionplanning/salesorder/ProductionMaterialLine.vue'
  import { getGenericItemNameListing, getData, createGenericItemNameListing, updateGenericItemNameListing, deleteGenericItemNameListing } from '@/api/genericnamelisting';
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster';
  import { createProductionMaterial, getProductionMaterialGenericList, updateProductionMaterial } from '@/api/ProductionMaterial';

  import moment from 'moment'
  import GlobalMessage from '@/constant'
  export default {
    components: {
      ProductionMaterialLine
    },
    data: () => ({
      dialog: false,
      loader: false,
      search: '',
      materialProducttionFlag: false,
      statusOptions: [
        { text: 'Active', value: 1 },
        { text: 'InActive', value: 2 }
      ],
      timeout: 2000,
      y: 'top',
      headers: [
        { text: 'Generic Item Name', value: 'registerationCodeName', align: 'left' },
        { text: 'Also Kown As', value: 'registrationCountryName', align: 'left' },
        { text: 'Item Classification', value: 'registrationClassificationName', align: 'left' },
        { text: 'Status', value: 'statusCode', align: 'left' },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left' }
      ],
      documentheaders: [
        { text: 'Folder Name', value: 'folderTitle', align: 'left' },
        { text: 'File Name', value: 'fileName', align: 'left' },

      ],
      json_fields: {
        'Generic Item Name': 'registerationCodeName',
        'Also Kown As': 'countryName',
        'Item Classification': 'registrationClassificationName',
        'Status': 'statusCode',
        'Added By': 'addedByUser',
        'Modified By': 'modifiedByUser',
        'Modified Date': 'modifiedDate',
      },
      items: [
        {
          icon: 'report',
          href: '#',
          title: 'Generic Name',
          click: e => {
          }
        },
        {
          icon: 'report',
          href: '#',
          title: 'Other Name',
          click: e => {
          }
        },
        {
          icon: 'report',
          href: '#',
          title: 'General Name',
          click: e => {
          },
        },
        {
          icon: 'report',
          href: '#',
          title: 'Purpose Name',
          click: e => {
          },
        },
      ],
      searchIngredientTag: "",
      searchMaterialTag: "",
      functionOfMaterialItems: [],
      functionOfMaterialFlag: false,
      typeofIngredientItems: [],
      productRegCountryItems: [],
      productItems: [],
      gridItems: [],
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      itemClassificationItems: [],
      editedItem: {
        valid: false,
        genericItemNameListingId: -1,
        genericName: '',
        alsoKownAs: '',
        itemClassificationId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),

      },
      defaultItem: {
        valid: false,
        genericItemNameListingId: -1,
        genericName: '',
        alsoKownAs: '',
        itemClassificationId: null,
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
      },
      ProductionMaterial: {
        valid: false,
        rawMaterialName: '',
        functionOfMaterialId: null,
        productionMaterialId: -1,
        statusCodeID: 1,
        addedByUserID: '',
        addedDate: '',
        modifiedByUserID: '',
        modifiedDate: '',
        typeofIngredientId: [],
        genericItemNameListingId: -1,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },

    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Generic Name Listing' : 'Edit Generic Name Listing';
      },
      ingredientRules () {

        return [
          () => (!!this.ProductionMaterial.typeofIngredientId.length > 0) || 'Atleast one must be selected.',
          v => !!v || 'This is required field'
        ];
      },
      ItemClassificationRules () {
        return [
          v => !!v || 'This field is required'
        ];
      },
      GenericNameRules () {
        return [
          v => !!v || 'This field is required'
        ];
      },
    },
    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        this.loader = true;
        getGenericItemNameListing('')
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });


        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      onselectIngredientTag (event) {
        this.functionOfMaterialFlag = false;
        let selectedData = event;
        if (selectedData.length > 0) {
          event.forEach(item => {
            let list = this.typeofIngredientItems.filter(o => o.applicationMasterDetailId == item);
            if (list.length > 0) {
              if ((list[0].value).toLowerCase() == 'excipient') {
                this.functionOfMaterialFlag = true;
              }
            }
          });
        }
        this.searchIngredientTag = "";
      },
      selectMaterialTag () {
        this.searchMaterialTag = "";
      },
      removeIngredient (item) {
        const index = this.ProductionMaterial.typeofIngredientId.indexOf(item.applicationMasterDetailId)
        if (index >= 0) this.ProductionMaterial.typeofIngredientId.splice(index, 1)
        this.onselectIngredientTag(this.ProductionMaterial.typeofIngredientId);
      },
      removeMaterial (item) {
        const index = this.ProductionMaterial.functionOfMaterialId.indexOf(item.applicationMasterDetailId)
        if (index >= 0) this.ProductionMaterial.functionOfMaterialId.splice(index, 1)
      },

      onChangeitemClassification () {
        this.materialProducttionFlag = false;
        if (this.editedItem.itemClassificationId) {
          let list = this.itemClassificationItems.filter(o => o.applicationMasterDetailId == this.editedItem.itemClassificationId);
          if (list.length > 0 && list[0].value == 'Production Material') {
            this.materialProducttionFlag = true;
          }
        }
      },
      loadDropdownList () {
        getApplicationMasterDetailByType(152)
          .then(response => {
            this.typeofIngredientItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(106)
          .then(response => {
            this.functionOfMaterialItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(154)
          .then(response => {
            this.itemClassificationItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });


      },
      getProductLinesTab () {
        setTimeout(() => {
          let selectedData = this.ProductionMaterial.typeofIngredientId;
          let inActiveApi = false; let inColor = false; let inExcipientAPI = false;
          if (selectedData.length > 0) {
            selectedData.forEach(item => {
              let list = this.typeofIngredientItems.filter(o => o.applicationMasterDetailId == item);
              if (list.length > 0) {
                if ((list[0].value).toLowerCase() == 'active(api)') {
                  inActiveApi = true;
                }
                if ((list[0].value).toLowerCase() == 'color') {
                  inColor = true;
                }
                if ((list[0].value).toLowerCase() == 'active(api)' || (list[0].value).toLowerCase() == 'excipient') {
                  inExcipientAPI = true;
                }
              }
            });
          }
          this.$refs.refProductLines.productionMaterialId = this.ProductionMaterial.productionMaterialId;
          this.$refs.refProductLines.enableAddButton = false;
          this.$refs.refProductLines.inActiveApi = inActiveApi;
          this.$refs.refProductLines.inColor = inColor;
          this.$refs.refProductLines.inExcipientAPI = inExcipientAPI;
          this.$refs.refProductLines.productionMaterialItems = this.ProductionMaterial;
          this.$refs.refProductLines.genericNameItems = this.editedItem;
          this.$refs.refProductLines.initialize();
        }, 500);
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      editItem (item) {
        this.loadDropdownList();
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.loader = true;
        setTimeout(() => {
          this.onChangeitemClassification();
          if (this.materialProducttionFlag == true) {
            getProductionMaterialGenericList(this.editedItem.genericItemNameListingId)
              .then(response => {
                if (response.data.length > 0) {
                  this.ProductionMaterial = response.data[0];
                  setTimeout(() => {
                    this.ProductionMaterial.valid = false;
                    this.onselectIngredientTag(this.ProductionMaterial.typeofIngredientId);
                    this.getProductLinesTab();
                  }, 500);
                  this.loader = false;
                }

              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }, 500);
        this.dialog = true;
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      DeleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.genericItemNameListingId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);

          deleteGenericItemNameListing(this.editedItem)
            .then(() => {
              this.loader = false;
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },

      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {

        getData(this.searchItem)
          .then(response => {

            if (response.data.genericItemNameListingId != null) {
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.genericItemNameListingId).indexOf(response.data.genericItemNameListingId)
              this.editedIndex = index;
              setTimeout(() => {
                this.onChangeitemClassification();
                if (this.materialProducttionFlag == true) {
                  getProductionMaterialGenericList(this.editedItem.genericItemNameListingId)
                    .then(response => {
                      this.ProductionMaterial = response.data[0];
                      setTimeout(() => {
                        this.ProductionMaterial.valid = false;
                        this.onselectIngredientTag(this.ProductionMaterial.typeofIngredientId);
                        this.getProductLinesTab();
                      }, 500);
                      this.loader = false;
                    })
                    .catch(error => {
                      this.loader = false;
                      window.getApp.$emit('APP_API_ERROR', error);
                    });
                }
              }, 500);
            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No more record to view');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.genericItemNameListingId;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.genericItemNameListingId;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.genericItemNameListingId;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.genericItemNameListingId;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {
        this.loadDropdownList();
        this.editedItem.valid = false;
        this.materialProducttionFlag = false;
        this.editedItem.genericItemNameListingId = -1,
          this.editedItem.genericName = '';
        this.editedItem.alsoKownAs = '';
        this.editedItem.itemClassificationId = null;
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = 'Active';
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedIndex = -1;
        this.ProductionMaterial.valid = false;
        this.ProductionMaterial.rawMaterialName = '';
        this.ProductionMaterial.functionOfMaterialId = null;
        this.ProductionMaterial.statusCodeID = 1;
        this.ProductionMaterial.addedByUserID = '';
        this.ProductionMaterial.addedByUserID = '';
        this.ProductionMaterial.addedDate = '';
        this.ProductionMaterial.modifiedByUserID = '';
        this.ProductionMaterial.modifiedDate = '';
        this.ProductionMaterial.typeofIngredientId = [];
        this.productRegCountryItems = [];
        this.productItems = [];
        this.functionOfMaterialFlag = false;
        if (this.materialProducttionFlag == true) {
          this.$refs.refProductLines.productionMaterialId = -1;
          this.$refs.refProductLines.enableAddButton = true;
          this.$refs.refProductLines.gridProdcutItems = [];
          this.$refs.refProductLines.productionMaterialItems = [];
          this.$refs.refProductLines.genericNameItems = [];
        }

      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updateGenericItemNameListing(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.editedItem = response.data;
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                if (this.materialProducttionFlag == true) {
                  this.ProductionMaterial.modifiedByUserID = this.$store.state.auth.userId;
                  this.ProductionMaterial.modifiedDate = new Date();
                  this.ProductionMaterial.genericItemNameListingId = this.editedItem.genericItemNameListingId;
                  updateProductionMaterial(this.ProductionMaterial)
                    .then(response => {
                      this.ProductionMaterial = response.data;
                      this.loader = false;
                      window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                      this.getProductLinesTab();
                    })
                    .catch(error => {
                      this.loader = false;
                      window.getApp.$emit('APP_API_ERROR', error);
                    });
                }
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          } else {

            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();

            createGenericItemNameListing(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.genericItemNameListingId = response.data.genericItemNameListingId;
                let index = this.gridItems.map(item => item.genericItemNameListingId).indexOf(response.data.genericItemNameListingId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                if (this.materialProducttionFlag == true) {
                  this.ProductionMaterial.addedByUserID = this.$store.state.auth.userId;
                  this.ProductionMaterial.addedDate = new Date();
                  this.ProductionMaterial.genericItemNameListingId = this.editedItem.genericItemNameListingId;
                  createProductionMaterial(this.ProductionMaterial)
                    .then(response => {
                      this.loader = false;
                      this.ProductionMaterial = response.data;
                      window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                      this.getProductLinesTab();
                    })
                    .catch(error => {
                      this.loader = false;
                      window.getApp.$emit('APP_API_ERROR', error);
                    });
                }
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>