<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn
          :disabled="enableAddButton"
          slot="activator"
          v-show="ValidFunction('Add', formId)"
          icon
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="saveIPIRLine"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="editedItem.attachSessionId == null">
              <v-btn
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
                :disabled="editedItem.attachSessionId == null"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      hint="Atleast 3 Characters required"
                      v-model="editedItem.picid"
                      label="PIC"
                      prepend-icon="grade"
                      :items="userItems"
                      flat
                      chips
                      auto
                      placeholder="Select only suggested User"
                      color="blue"
                      item-text="name"
                      item-value="userID"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected">{{
                          data.item.nickName
                        }}</v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.picadvice"
                      label="PIC Advice"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      :loading="loader"
                      label="IPIR Action"
                      prepend-icon="notes"
                      v-model="editedItem.ipiraction"
                      :items="ipirActionItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      chips
                      flat
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.assignTo"
                      label="Assign To"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <!-- <v-flex xs6 sm3>
                    <upload-btn
                      @file-update="fileChanged"
                      title="Discussion Summary"
                      name="uploadtask"
                      uniqueId
                      ref="summaryUpload"
                      noTitleUpdate
                    >
                      <template slot="icon-left">
                        <v-icon left color="white">attachment</v-icon>
                      </template>
                    </upload-btn>
                    <div class="large-12 medium-12 small-12 cell">
                      <div v-for="(name, key) in uploadedfileNames" class="file-listing">
                        {{ name }}
                        <v-btn icon v-if="!showdownload" @click="removeFile( key )">
                          <v-icon>close</v-icon>
                        </v-btn>
                        <v-btn icon v-else @click="downloadFile( key )">
                          <v-icon>save_alt</v-icon>
                        </v-btn>
                      </div>
                    </div>
                  </v-flex>-->
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              v-show="ValidFunction('Save', formId)"
              slot="activator"
              @click.native="saveIPIRLine"
              >SAVE</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog1"
            heading="Are You Sure You Want To Close?"
            message="Are You Sure You Want To Close? Files Not Updloaded"
            @onConfirm="fileconformationMessage"
          ></delete-confirmation-dialog>

          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>

     <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="IPIR Line Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>       
      </v-dialog>
      <!--  <v-dialog v-model="attachdialog" max-width="750px">
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Attachments</v-toolbar-title>
            <upload-btn
              @file-update="attachfileChanged"
              name="uploadtask"
              uniqueId
              icon
              ref="attachUpload"
              multiple
              :loading="fileloader"
              noTitleUpdate
            >
              <template slot="icon-left">
                <v-icon left color="white">cloud_upload</v-icon>
              </template>
            </upload-btn>
            <v-spacer></v-spacer>

            <v-btn icon @click.native="closeattach">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </v-toolbar>
          <div style="overflow:auto;height:calc(70vh - 100px)">
            <v-card-text>
              <attachment ref="frmattach"></attachment>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="primary darken-1" outline @click.native="closeattach">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> -->
    </v-toolbar>
    <div class="layout row media-layout">
      <app-section-loader :status="loader"></app-section-loader>
      <div class="media-content flex transparent">
        <v-container fluid>
          <v-layout row wrap>
            <v-flex lg12 sm12 xs12>
              <v-data-table
                :headers="headers"
                :items="gridItems"
                :search="search"
                class="elevation-1"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">
                    {{ props.item.personInchargeName }}
                  </td>
                  <td class="text-xs-left">{{ props.item.picadvice }}</td>
                  <td class="text-xs-left">{{ props.item.ipiractionName }}</td>
                  <td class="text-xs-left">{{ props.item.assignTo }}</td>

                  <td class="justify-center layout px-0">
                    <v-icon
                      small
                      class="mr-2"
                      :disabled="props.item.attachSessionId == null"
                      @click="fileAttachment(props.item)"
                      >attach_file</v-icon
                    >
                    <v-icon
                      small
                      class="mr-2"
                      v-show="ValidFunction('Edit', formId)"
                      @click="editItem(props.item)"
                      >edit</v-icon
                    >
                    <v-icon
                      small
                      v-show="ValidFunction('Delete', formId)"
                      @click="onDeleteItem(props.item)"
                      >delete</v-icon
                    >
                  </td>
                </template>
                <template slot="no-data">
                  <v-btn color="primary" outline @click="initialize"
                    >Record not exist.Refresh again in while time.</v-btn
                  >
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import { isValidFunction } from "@/api/checkPermission";
//import UploadButton from "vuetify-upload-button";
//import attachment from "@/pages/productionplanning/salesorder/components/attachements";
import { getApplicationUsers } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import {
  getIPIRLinesByID,
  createIPIRLine,
  updateIPIRLine,
  deleteIPIRLine,
  downLoadIPIRLineDocument,
  uploadIPIRLineDocuments,
} from "@/api/ipir";
import GlobalMessage from "@/constant";

export default {
  components: {
    // "upload-btn": UploadButton,
    attachment,
  },
  data: () => ({
    screenID: "",

    formId: "SAL5002",
    auditdialog: false,
    dialog: false,
    enableAddButton: true,

    loader: false,
    search: "",
    uploadFile: false,
    uploadedFiles: [],
    uploadedfileNames: [],
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    ipirActionItems: [],
    showdownload: false,
    attachshowdownload: false,
    ipirid: null,
    ipirlineId: null,
    snackbar: false,
    files: new FormData(),
    attachfiles: new FormData(),
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "PIC", value: "personInchargeName", align: "left" },
      { text: "PIC Advice", value: "picadvice", align: "left" },
      { text: "IPIR Action", value: "ipiractionName", align: "left" },
      { text: "AssignTo", value: "assignTo", align: "left" },

      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    gridItems: [],
    itemList: [],
    userItems: [],
    attachdialog: false,
    fileloader: false,
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      // attachSessionId: "",

      valid: false,
      ipirlineId: -1,
      ipirid: null,
      picid: null,
      picadvice: "",
      ipiraction: null,
      assignTo: "",
      discussionSessionId: null,
      attachSessionId: null,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      //  attachSessionId: "",
      valid: false,
      ipirlineId: -1,
      ipirid: null,
      picid: null,
      picadvice: "",
      ipiraction: null,
      assignTo: "",
      discussionSessionId: null,
      attachSessionId: null,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add IPIR Lines" : "Edit IPIR Lines";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.initialize();
    this.getEntryLines();
  },

  methods: {
    initialize() {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      getApplicationUsers("")
        .then((response8) => {
          // alert('test:-'+JSON.stringify(response.data));
          this.loader = false;
          this.userItems = response8.data.filter((o) => o.statusCodeID == 1);

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(233)
        .then((response) => {
          this.ipirActionItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.getEntryLines();
    },
    getEntryLines() {
      if (this.ipirid != null) {
        this.loader = true;
        getIPIRLinesByID(this.ipirid)
          .then((response) => {
            if (response.data != undefined) {
              this.gridItems = response.data;

              this.loader = false;
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachment() {    
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.attachSessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item.attachSessionId);
      this.attachSessionId = item.attachSessionId;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    editItem(item) {
      console.log("item" + JSON.stringify(item));
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log("editeditem" + JSON.stringify(this.editedItem));
      this.ipirlineId = this.editedItem.ipirlineId;
      this.attachSessionId = this.editedItem.attachSessionId;
      // this.$refs.frmattach.attachSessionId = this.editedItem.attachSessionId;
      this.dialog = true;
      // this.$refs.frmattach.getDocuments();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      console.log(this.selectedItem);
      deleteIPIRLine(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    itemSelect() {
      let item = this.itemList.filter(
        (f) => f.itemId == this.editedItem.itemId
      );
      if (item != undefined) {
        this.editedItem.itemName = item[0].no;
        this.editedItem.description = item[0].description;
      }
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.ipirid = null;
      this.editedItem.ipirlineId = -1;
      this.editedItem.picid = null;
      this.editedItem.picadvice = "";
      this.editedItem.ipiraction = null;

      (this.editedItem.itemName = ""), (this.editedIndex = -1);
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      let index = this.editedIndex;
    },
    close() {
      this.dialog = false;
      this.getEntryLines();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    // fileChanged(file) {
    //   this.files.delete("file");
    //   this.uploadedFiles = [];
    //   this.uploadedfileNames = [];
    //   this.uploadedFiles.push(file);
    //   this.uploadedfileNames.push(file.name);
    //   this.showdownload = false;
    //   this.loader = false;
    //   this.files.append("file", file, file.name);
    // },
    // fileAttachment(item) {
    //   this.attachdialog = true;
    //   this.$refs.frmattach.viewPhoto = null;
    //   this.editedIndex = this.gridItems.indexOf(item);
    //   this.editedItem = Object.assign({}, item);
    //   this.$refs.frmattach.attachSessionId = this.editedItem.attachSessionId;
    //   this.$refs.frmattach.getDocuments();
    // },
    // fileAttachmentopen() {
    //   this.attachdialog = true;
    //   this.$refs.frmattach.attachSessionId = this.editedItem.attachSessionId;
    //   this.$refs.frmattach.viewPhoto = null;
    // },

    saveIPIRLine() {
      console.log(this.editedItem);
      this.loader = true;
      //this.attachfiles = this.$refs.frmattach.attachfiles;
      this.editedItem.ipirid = this.ipirid;

      if (this.editedIndex > -1) {
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        updateIPIRLine(this.editedItem)
          .then((response1) => {
            this.loader = false;
            //   this.$refs.frmattach.attachSessionId = this.editedItem.attachSessionId;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;

        createIPIRLine(this.editedItem)
          .then((response2) => {
            this.loader = false;

            //  this.$refs.frmattach.attachSessionId =
            //    ;
            this.editedItem.ipirlineId = response2.data.ipirlineId;
            this.ipirlineId = response2.data.ipirlineId;
            this.attachSessionId = response2.data.attachSessionId;
            this.editedItem.attachSessionId = response2.data.attachSessionId;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      // for (var id in this.itemList) {
      //   if (this.editedItem.itemId == this.itemList[id].itemId) {
      //     this.editedItem.itemName = this.itemList[id].no;
      //   }
      // }
      // if (this.editedIndex > -1) {
      //   this.loader = false;
      //   Object.assign(this.gridItems[this.editedIndex], this.editedItem);
      // } else {
      //   this.gridItems.push(this.editedItem);
      //   this.loader = false;
      // }
      // this.close();
    },

    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
