<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon>refresh</v-icon>
      </v-btn>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="tasks.xls"
        v-show="ValidFunction('Download', formId)"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-btn
          slot="activator"
          v-show="ValidFunction('Add', formId)"
          icon
          @click="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Add', formId)"
                @click.native="add"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Nav Method Code</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Delete', formId)"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="auditLog">
                <v-icon color="white">info</v-icon>
              </v-btn>
              <span>Audit Log</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <vue-perfect-scrollbar class="methodCode--scrollbar">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex lg6 sm6>
                      <v-text-field
                        v-model="editedItem.methodName"
                        label="Method Name"
                        required
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg6 sm6>
                      <v-text-field
                        v-model="editedItem.methodDescription"
                        label="Method Description"
                        required
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg6 sm6>
                      <v-autocomplete
                        v-model="editedItem.navinpCategoryID"
                        :items="categoryItems"
                        prepend-icon="list"
                        item-text="code"
                        item-value="navinpCategoryID"
                        label="Category "
                        small-chips
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs6 sm6>
                      <v-autocomplete
                        label="Available Batch Size"
                        prepend-icon="list"
                        v-model="editedItem.batchSizeIds"
                        :items="batchSizes"
                        item-text="value"
                        item-value="applicationMasterDetailId"
                        clearable
                        chips
                        multiple
                        :search-input.sync="searchBatchSize"
                        @change="onselectBatchSize"
                        required
                        :rules="batchSizeRules"
                      >
                        <template slot="selection" slot-scope="data">
                          <v-chip
                            :selected="data.selected"
                            close
                            class="chip--select-multi"
                            @input="removeBatchSize(data.item)"
                            v-show="ValidFunction('Delete', formId)"
                            >{{ data.item.value }}</v-chip
                          >
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content
                              v-text="data.item"
                            ></v-list-tile-content>
                          </template>
                          <template v-else>
                            <v-list-tile-content>
                              <v-list-tile-title
                                v-html="data.item.value"
                              ></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs6 sm6>
                      <v-autocomplete
                        label="Default Batch Size"
                        prepend-icon="list"
                        v-model="editedItem.batchSizeId"
                        :items="batchSizes"
                        item-text="value"
                        item-value="applicationMasterDetailId"
                        clearable
                        chips
                        required
                        :rules="batchSizeRule"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex lg6 sm6>
                      <v-text-field
                        v-model="editedItem.batchSizeNo"
                        label="Batch Size Unit"
                        prepend-icon="select_all"
                        required
                        mask="#############"
                        :rules="batchSizeNoRules"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg6 sm6>
                      <v-autocomplete
                        label="Company"
                        prepend-icon="notes"
                        v-model="editedItem.companyId"
                        :items="companyItems"
                        item-text="plantCode"
                        item-value="plantID"
                        chips
                      >
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
            <v-layout>
              <v-card-text>
                <method-line-tab ref="refmethodCodelinetab"></method-line-tab>
              </v-card-text>
            </v-layout>
            <!-- <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="close">Cancel</v-btn>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
            </v-card-actions>-->
            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete MethodCodeLines and Production Forecast as well?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </vue-perfect-scrollbar>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"
      :total-items="totalRows"
      :rows-per-page-items="rowsPerPageItems"
      :loading="loader"
      @update:pagination="onUpdatePagination"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr
          v-on:dblclick="editItem(props.item)"
          v-show="ValidFunction('Edit', formId)"
        >
          <td class="text-xs-left">{{ props.item.methodName }}</td>
          <td class="text-xs-left" colspan="2">
            {{ props.item.methodDescription }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              v-show="ValidFunction('Edit', formId)"
              @click="editItem(props.item)"
              >edit</v-icon
            >
            <v-icon
              small
              v-show="ValidFunction('Delete', formId)"
              @click="onDeleteItem(props.item)"
              >delete</v-icon
            >
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete MethodCodeLines and Production Forecast as well?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>

    <v-dialog v-model="auditdialog">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title color="white">Audit Logs</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="auditdialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          <audit-log ref="refAuditLog"></audit-log>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary darken-1"
            outline
            @click.native="auditdialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
//import UploadButton from "vuetify-upload-button";
import { isValidFunction } from "@/api/checkPermission";
import { getPlants } from "@/api/nav";
import MethodLineTab from "@/pages/productionplanning/salesorder/methodCodeLinesTab.vue";
//import { uploadDocuments, downloadFile } from "@/api/document";
import {
  getNavMethodCodes,
  getNavMethodCode,
  createNavMethodCode,
  updateNavMethodCode,
  deleteNavMethodCode,
  getItems,
  getNavMethodCodeLine,
  deleteNavMethodCodeLines,
  getNAVINPCategoryItems,
} from "@/api/navMethodCode";
import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import moment from "moment";
import auditLog from "@/components/auditLog/auditLog";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
export default {
  components: {
    //  "upload-btn": UploadButton,
    MethodLineTab,
    auditLog,
  },
  data: () => ({
    formId: "MAS9032",
    auditdialog: false,
    totalRows: 0,
    dialog: false,
    loader: false,
    search: "",
    customerItems: [],
    companyItems: [],
    itemList: [],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    files: new FormData(),
    searchBatchSize: "",
    startDateMenu: false,
    endDateMenu: false,
    filterFields: ["MethodName", "MethodDescription"],
    headers: [
      { text: "Method Name", value: "methodName", align: "left" },
      { text: "Method Description", value: "methodDescription", align: "left" },
      { text: "", value: "itemNos", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],

    json_fields: {
      "Method Name": "methodName",
      "Method Description": "methodDescription",
    },
    gridItems: [],
    editedIndex: -1,
    categoryItems: [],
    batchSizes: [],
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      methodCodeID: -1,
      navinpCategoryID: null,
      methodName: "",
      methodDescription: "",
      batchSizeIds: [],
      batchSizeId: null,
      batchSizeNo: null,
      companyId: null,
      itemNos: "",
      prodFrequency:null,
      distReplenishHs: null,
      distAcmonth: null,
      adhocMonthStandAlone: null,
      adhocPlanQty: null,
      adhocReplenishHs: null,
      nameRules: [(v) => !!v || "Method Name is required"],
      methodCodeLinesList: [],
      modifiedByUserId: -1,
      addedByUserId: -1,
    },
    defaultItem: {
      valid: false,
      methodCodeID: -1,
      navinpCategoryID: null,
      methodName: "",
      methodDescription: "",
      batchSizeIds: [],
      batchSizeId: null,
      batchSizeNo: null,
      companyId: null,
      itemNos: "",
       prodFrequency:null,
      distReplenishHs: null,
      distAcmonth: null,
      adhocMonthStandAlone: null,
      adhocPlanQty: null,
      adhocReplenishHs: null,
      nameRules: [(v) => !!v || "Method Name is required"],
      methodCodeLinesList: [],
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Method Code" : "Edit Method Code";
    },
    batchSizeRules() {
      return [
        () =>
          !!this.editedItem.batchSizeIds.length > 0 ||
          "Atleast one must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    batchSizeRule() {
      return [
        () =>
          !!this.editedItem.batchSizeId > 0 || "Atleast one must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    batchSizeNoRules() {
      return [
        () => !!this.editedItem.batchSizeNo != "" || "This is required field",
        (v) => !!v || "This is required field",
      ];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    this.initialize();
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    initialize() {
      // this.loader = true;
      // getNavMethodCodes("")
      //   .then(response => {
      //     this.gridItems = response.data;
      //     this.loader = false;
      //     //this.total = response.data.length;
      //   })
      //   .catch(error => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });

      getItems("")
        .then((response) => {
          this.itemList = response.data;

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getNAVINPCategoryItems("")
        .then((response) => {
          this.categoryItems = response.data;

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(175)
        .then((response) => {
          this.batchSizes = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants()
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    onselectBatchSize(event) {
      this.searchBatchSize = "";
    },
    removeBatchSize(item) {
      const index = this.editedItem.batchSizeIds.indexOf(
        item.applicationMasterDetailId
      );
      if (index >= 0) this.editedItem.batchSizeIds.splice(index, 1);
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      let id = this.editedItem.methodCodeID;
      
        this.$refs.refmethodCodelinetab.prodFrequency= item.prodFrequency;
       this.$refs.refmethodCodelinetab.distReplenishHs= item.distReplenishHs;
       this.$refs.refmethodCodelinetab.distAcmonth= item.distAcmonth;
       this.$refs.refmethodCodelinetab.adhocMonthStandAlone= item.adhocMonthStandAlone;
       this.$refs.refmethodCodelinetab.adhocPlanQty= item.adhocPlanQty;
       this.$refs.refmethodCodelinetab.adhocReplenishHs= item.adhocReplenishHs;
      this.$refs.refmethodCodelinetab.$refs.refproductionforecast.methodCodeID = id;
      this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.methodCodeID = id;
      this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.enableAddButton = false;
      this.$refs.refmethodCodelinetab.$refs.refproductionforecast.enableAddButton = false;
      this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.getMethodCodeLines();
      this.$refs.refmethodCodelinetab.$refs.refproductionforecast.getProductionForecast();

      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteNavMethodCode(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getNavMethodCode(this.searchItem)
        .then((response) => {
          if (response.data.methodCodeID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.methodCodeID)
              .indexOf(response.data.methodCodeID);
            this.editedIndex = index;
            this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.gridItems =
              response.data.methodCodeLinesList;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.methodCodeID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.methodCodeID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.methodCodeID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.methodCodeID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "MethodCodeId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetNavMethodCode";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "customerName") {
        search.sortCol = "Customer.Name";
      } else if (args.sortBy == "companyName") {
        search.sortCol = "Company.PlantCode";
      } else if (args.sortBy == "version") {
        search.sortCol = "Version";
      } else if (args.sortBy == "remark") {
        search.sortCol = "Remark";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetNavMethodCode";
      console.log("Pagination", args);
      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    add() {
      this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.enableAddButton = true;
      this.$refs.refmethodCodelinetab.$refs.refproductionforecast.enableAddButton = true;
      this.editedItem.valid = false;
      this.editedItem.methodCodeID = -1;
      this.editedItem.navinpCategoryID = null;
      this.editedIndex = -1;
      this.editedItem.itemIds = [];
      this.editedItem.methodName = "";
      this.editedItem.methodDescription = "";
      this.files = new FormData();
      this.$refs.refmethodCodelinetab.$refs.refproductionforecast.gridItems = [];
      this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.gridItems = [];
        this.$refs.refmethodCodelinetab.prodFrequency=null;
       this.$refs.refmethodCodelinetab.distReplenishHs= null;
       this.$refs.refmethodCodelinetab.distAcmonth= null;
       this.$refs.refmethodCodelinetab.adhocMonthStandAlone= null;
       this.$refs.refmethodCodelinetab.adhocPlanQty= null;
       this.$refs.refmethodCodelinetab.adhocReplenishHs= null;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteNavMethodCode(this.editedItem)
        .then(() => {
          this.add();
          this.gridItems.splice(index, 1);
          this.dialog = false;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.initialize();
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.$refs.form.validate()) {
        
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
           this.editedItem.prodFrequency = this.$refs.refmethodCodelinetab.prodFrequency;
      this.editedItem.distReplenishHs = this.$refs.refmethodCodelinetab.distReplenishHs;
      this.editedItem.distAcmonth =this.$refs.refmethodCodelinetab.distAcmonth;
      this.editedItem.adhocMonthStandAlone= this.$refs.refmethodCodelinetab.adhocMonthStandAlone;
      this.editedItem.adhocPlanQty= this.$refs.refmethodCodelinetab.adhocPlanQty;
      this.editedItem.adhocReplenishHs = this.$refs.refmethodCodelinetab.adhocReplenishHs;
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          updateNavMethodCode(this.editedItem)
            .then((response2) => {
              this.loader = false;
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
           this.editedItem.prodFrequency = this.$refs.refmethodCodelinetab.prodFrequency;
      this.editedItem.distReplenishHs = this.$refs.refmethodCodelinetab.distReplenishHs;
      this.editedItem.distAcmonth =this.$refs.refmethodCodelinetab.distAcmonth;
      this.editedItem.adhocMonthStandAlone= this.$refs.refmethodCodelinetab.adhocMonthStandAlone;
      this.editedItem.adhocPlanQty= this.$refs.refmethodCodelinetab.adhocPlanQty;
      this.editedItem.adhocReplenishHs = this.$refs.refmethodCodelinetab.adhocReplenishHs;
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          createNavMethodCode(this.editedItem)
            .then((response2) => {
              this.gridItems.push(response2.data);
              this.loader = false;
              this.loadPagingData();
              let index = this.gridItems
                .map((item) => item.methodCodeID)
                .indexOf(response2.data.methodCodeID);
              this.editedIndex = index;
              this.editedItem.sessionID = "";
              this.editedItem.methodCodeID = response2.data.methodCodeID;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.methodCodeID =
                response2.data.methodCodeID;
              this.$refs.refmethodCodelinetab.$refs.refproductionforecast.methodCodeID =
                response2.data.methodCodeID;
              this.$refs.refmethodCodelinetab.$refs.refmethodCodeline.enableAddButton = false;
              this.$refs.refmethodCodelinetab.$refs.refproductionforecast.enableAddButton = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
          this.loader = false;
        }
      }
    },
    auditLog() {
      this.$refs.refAuditLog.tableName = "NavMethodCode";
      this.$refs.refAuditLog.primaryKeyValue = this.editedItem.methodCodeID;
      this.$refs.refAuditLog.displayColumns = [
        "MethodName",
        "MethodDescription",
      ];
      this.$refs.refAuditLog.getAuditLog();
      this.auditdialog = true;
    },

    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
<style lang="stylus" scoped>.methodCode--scrollbar {
  height: calc(100vh - 60px);
}
</style>