<template>
  <div id="page-forms">
    <v-layout row wrap>
      <v-flex xs12 sm8>
        <v-autocomplete
          :loading="loader"
          label="Manufacturing Site"
          prepend-icon="notes"
          v-model="searchParam.manufacturingSiteIds"
          :items="manufacturingSites"
          item-text="value"
          item-value="applicationMasterDetailId"
          chips
          flat
          multiple
        >
          <template slot="selection" slot-scope="data">
            <v-chip
              :selected="data.selected"
              close
              class="chip--select-multi"
              @input="removeManufacturingItem(data.item)"
            >{{ data.item.value }}</v-chip>
          </template>
          <template slot="item" slot-scope="data">
            <template v-if="typeof data.item !== 'object'">
              <v-list-tile-content v-text="data.item"></v-list-tile-content>
            </template>
            <template v-else>
              <v-list-tile-content>
                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>
              </v-list-tile-content>
            </template>
          </template>
        </v-autocomplete>
      </v-flex>
    </v-layout>
    <v-toolbar class="elevation-0 transparent media-toolbar">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>&nbsp;&nbsp;
      <v-spacer></v-spacer>
      <span>Date :</span>
      <span class="fontbold">{{todayDateFormatted}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <span>Print By :</span>
      <span class="fontbold">{{printBy}}</span>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click.native="searchFilter">
          <v-icon>search</v-icon>
        </v-btn>
        <span>Search</span>
      </v-tooltip>
      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="PharmacologicalInfo.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click.native="clearSearch">
          <v-icon>cancel</v-icon>
        </v-btn>
        <span>Clear Search</span>
      </v-tooltip>
    </v-toolbar>

    <v-form ref="entryform" lazy-validation>
      <app-section-loader :status="loader"></app-section-loader>
      <v-data-table
        :headers="headers"
        :items="gridItems"
        :search="search"
        class="elevation-1"
        default-sort="itemId:desc"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.manufacturingSiteName }}</td>
          <td class="text-xs-left">{{ props.item.productName }}</td>
          <td class="text-xs-left">{{ props.item.pharmacologicalCategory }}</td>
          <td class="text-xs-left">{{ props.item.chemicalSubgroup }}</td>
          <td class="text-xs-left">{{ props.item.genericName }}</td>
          <td class="text-xs-left">{{ props.item.equvalentBrand }}</td>
          <td class="text-xs-left">{{ props.item.atccode }}</td>
          <td class="text-xs-left">{{ props.item.drugClassification }}</td>
          <td class="text-xs-left">{{ props.item.registrationProductCategoryName }}</td>
          <td class="text-xs-left">{{ props.item.registrationFileName }}</td>
          <td class="text-xs-left">{{ props.item.gtinno }}</td>
        </template>
      </v-data-table>
    </v-form>
  </div>
</template>
 <script>
  import { getPharmacologicalInformationReports } from "@/api/report";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  export default {
    components: {},
    data: () => ({
      search: "",
      manufacturingSites: [],
      printBy: "",
      today: new Date().toISOString().substr(0, 10),
      searchParam: {
        search: "",
        manufacturingSiteIds: [],
      },
      gridItems: [],
      headers: [
        { text: "Manufacturing Site", value: "manufacturingSiteName", align: "left" },
        { text: "Product Name", value: "productName", align: "left" },
        { text: "Pharmacological Category", value: "pharmacologicalCategory", align: "left" },
        { text: "Chemical Subgroup", value: "chemicalSubgroup", align: "left" },
        { text: "Generic Name", value: "genericName", align: "left" },
        { text: "Equivalent Brand Name", value: "equvalentBrand", align: "left" },
        { text: "ATC Code", value: "atccode", align: "left" },
        { text: "Drug Classification", value: "drugClassification", align: "left" },
        { text: "Registration Product Category", value: "registrationProductCategoryName", align: "left" },
        { text: "Registration file name", value: "registrationFileName", align: "left" },
        { text: "GTIN No", value: "gtinno", align: "left" },
      ],
      json_fields: {
        "Manufacturing Site": "manufacturingSite",
        "Product Name": "productName",
        "Pharmacological Category": "pharmacologicalCategory",
        'Chemical Subgroup': "chemicalSubgroup",
        'Generic Name': "genericName",
        'Equivalent Brand Name': "equvalentBrand",
        'ATC Code': "atccode",
        "Drug Classification": "drugClassification",
        "Registration Product Category": "registrationProductCategoryName",
        'Registration file name':'registrationFileName',
        'GTIN No':'gtinno',
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      valid: true,
      loader: false
    }),
    computed: {
      todayDateFormatted() {
        return this.today
          ? moment(this.today).format(GlobalMessage.DATEFORMAT)
          : "";
      }
    },
    mounted() {},
    created() {
      this.initialize();
    },
    methods: {
      initialize() {
        this.loader = true;
        this.printBy = this.$store.state.auth.userName;
        getApplicationMasterDetailByType(115)
          .then(response => {
            this.manufacturingSites = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getPharmacologicalInformationReports(this.searchParam)
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      searchFilter() {
        this.loader = true;

        getPharmacologicalInformationReports(this.searchParam)
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      removeManufacturingItem(item) {
        const index = this.searchParam.manufacturingSiteIds.indexOf(
          item.applicationMasterDetailId
        );
        console.log(index);
        if (index >= 0) this.searchParam.manufacturingSiteIds.splice(index, 1);
      },
      clearSearch() {
        this.searchParam.manufacturingSiteIds = [];
        this.gridItems = [];
      }
    }
  };
</script>
<style scoped>
  .fontbold {
    font-weight: bold;
  }
</style>
