<template>

  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <!--   <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="ProductMaster.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  -->
      <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color='white'>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color='white'>library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New Phramacological Properties</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color='white'>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color='white'>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">

                <v-icon color='white'>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color='white'>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color='white'>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>

              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm4>

                      <v-menu bottom :close-on-content-click='false' v-model="menuprodSearch">
                        <v-text-field slot="activator" v-model="editedItem.productName" prepend-icon="select_all" clearable append-icon="search" @click:clear="clearableProdcut"></v-text-field>
                        <vue-perfect-scrollbar class="chat-room--scrollbar lighten-5">
                          <v-card>

                            <v-container fluid>
                              <v-layout row wrap>
                                <v-flex lg12 sm12>
                                  <v-text-field v-model="searchFilter" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
                                </v-flex>
                                <v-flex lg12 sm12>
                                  <v-data-table v-model="selected" :items="products" :search="searchFilter" :headers="productheaders" class="elevation-1" :rows-per-page-items="searchrowsPerPageItems" :pagination.sync="searchpagination">
                                    <template slot="items" slot-scope="props">
                                      <tr v-on:click="onClickProduct(props.item)">
                                        <td>{{ props.item.productName }}</td>
                                        <td>{{ props.item.manufacturingSite }}</td>
                                        <td>{{ props.item.countryName }}</td>
                                        <td>{{ props.item.productRegistrationHolderName }}</td>
                                        <td>{{ props.item.productOwner }}</td>
                                      </tr>
                                    </template>
                                  </v-data-table>
                                </v-flex>
                              </v-layout>
                            </v-container>
                          </v-card>
                        </vue-perfect-scrollbar>
                      </v-menu>

                    </v-flex>
                    <v-flex xs12 sm3>
                      <v-autocomplete label="Reference" prepend-icon="notes" v-model="editedItem.registerationCodeId" :items="registerationStatusItem" item-text="codeValue" item-value="codeID" :rules="RegistrationRules">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm2>
                      <v-checkbox v-model="editedItem.isMasterDocuement" label="Master document" primary hide-details @change="onMasterDocumentChange">
                      </v-checkbox>
                    </v-flex>

                    <v-flex xs12 sm3>
                      <v-checkbox v-model="editedItem.isInformationvsMaster" v-show="!editedItem.isMasterDocuement" label="Same As Master" primary hide-details @change="onInformationMasterChange">
                      </v-checkbox>
                    </v-flex>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Pharmacodynamics</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="pharmacodynamicsExpandClick" v-if="ispharmacodynamicsExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="pharmacodynamicsCollapse" v-if="ispharmacodynamicsCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="pharmacodynamicsExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.pharmacodynamics" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Pharmacokinetics</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="pharmacokineticsExpandClick" v-if="ispharmacokineticsExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="pharmacokineticsCollapse" v-if="ispharmacokineticsCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="pharmacokineticsExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.pharmacokinetics" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Indication</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="indicationExpandClick" v-if="isindicationExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="indicationCollapse" v-if="isindicationCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="indicationExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.indication" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Recommended Dose</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="recommendedDoseExpandClick" v-if="isrecommendedDoseExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="recommendedDoseCollapse" v-if="isrecommendedDoseCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="recommendedDoseExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.recommendedDose" />
                        </v-flex>

                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Route Of Administration</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="routeOfAdministrationExpandClick" v-if="isrouteOfAdministrationExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="routeOfAdministrationCollapse" v-if="isrouteOfAdministrationCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="routeOfAdministrationExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.routeOfAdministration" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Contraindications</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="contraindicationsExpandClick" v-if="iscontraindicationsExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="contraindicationsCollapse" v-if="iscontraindicationsCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="contraindicationsExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.contraindications" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Warning and Precautions</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="warningandprecautionsExpandClick" v-if="iswarningandprecautionsExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="warningandprecautionsCollapse" v-if="iswarningandprecautionsCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="warningandprecautionsExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.warningandprecautions" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Interactions with Other Medicaments</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="intractionwithothermedicamentsExpandClick" v-if="isintractionwithothermedicamentsExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="intractionwithothermedicamentsCollapse" v-if="isintractionwithothermedicamentsCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="intractionwithothermedicamentsExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.intractionwithothermedicaments" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Pregnancy and Lactation</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="pregnancyandlactationsExpandClick" v-if="ispregnancyandlactationsExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="pregnancyandlactationsCollapse" v-if="ispregnancyandlactationsCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="pregnancyandlactationsExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.pregnancyandlactations" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Side Effects</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="sideeffectsExpandClick" v-if="issideeffectsExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="sideeffectsCollapse" v-if="issideeffectsCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="sideeffectsExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.sideeffects" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Symptoms and Treatment of Overdose</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="symptomsandoverdoseExpandClick" v-if="issymptomsandoverdoseExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="symptomsandoverdoseCollapse" v-if="issymptomsandoverdoseCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="symptomsandoverdoseExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.symptomsandoverdose" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Effects on Ability to Drive and Use Machine</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="driveandusemachineExpandClick" v-if="isdriveandusemachineExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="driveandusemachineCollapse" v-if="isdriveandusemachineCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="driveandusemachineExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.driveandusemachine" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Preclinical Safety Data</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="preclinicalsafetydateExpandClick" v-if="ispreclinicalsafetydateExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="preclinicalsafetydateCollapse" v-if="ispreclinicalsafetydateCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="preclinicalsafetydateExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.preclinicalsafetydata" />
                        </v-flex>
                        <!-- <v-flex
                        xs12
                        sm3
                      >
                        <v-menu
                          ref="menupreclinicalsafetydate"
                          v-model="menupreclinicalsafetydate"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          lazy
                          transition="scale-transition"
                          offset-y
                          full-width
                          min-width="290px"
                        >
                          <v-text-field
                            slot="activator"
                            :value="preclinicalsafetydateFormated"
                            label="Date"
                            prepend-icon="event"
                            clearable
                            @click:clear="editedItem.preclinicalsafetydate=null"
                          ></v-text-field>
                          <v-date-picker
                            v-model="editedItem.preclinicalsafetydate"
                            :min="minDate"
                            @change="menupreclinicalsafetydate = false"
                          >

                          </v-date-picker>
                        </v-menu>

                      </v-flex> -->
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Instructions for Use</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="instructionforuseExpandClick" v-if="isinstructionforuseExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="instructionforuseCollapse" v-if="isinstructionforuseCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="instructionforuseExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.instructionforuse" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-toolbar card dense color="whitesmoke">
                      <span> Storage Condition</span>

                      <v-spacer></v-spacer>

                      <v-btn icon flat @click.native="storageconditionExpandClick" v-if="isstorageconditionExpand">
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn icon flat @click="storageconditionCollapse" v-if="isstorageconditionCollapse">
                        <v-icon>expand_less</v-icon>
                      </v-btn>

                    </v-toolbar>
                    <v-expansion-panel v-model="storageconditionExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce :config="tinyConfig" v-if="isRTERender" ref="pharmacodynamics" id="pharmacodynamics" v-model="editedItem.storagecondition" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-layout>

                </v-container>
              </v-form>
            </v-card-text>
          </div>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    </v-layout>

    </v-container>
    </v-form>
    </v-card-text>

    </v-card>
    </v-dialog>

    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="pharmacologicalpropertiesId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td>{{props.item.registerationCodeName}}</td>
          <td class="text-xs-left">{{ props.item.productName }}</td>
          <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.isMasterDocuement">done</v-icon>
          </td>
          <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.isInformationvsMaster">done</v-icon>
          </td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>
          <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from '@/constant';
  import Util from '@/util';
  import moment from 'moment';
  import { getFinishProductGeneralInfos } from '@/api/productGeneralinfo';
  import { getCodeMasterByType } from '@/api/applicationUser';
  import { createPhramacologicalProperties, getDataPhramacologicalProperties, isMasterExist, getPhramacologicalPropertiesByFinishProduct, getPhramacologicalProperties, updatePharmacologicalProperties, deletePharmacologicalProperties } from '@/api/phramacologicalProperties';
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  export default {
    data: () => ({
      dialog: false,
      loading: false,
      totalRows: 0,
      panel: [],
      search: '',
      loader: false,
      editedIndex: -1,
      menuprodSearch: false,
      searchTag: "",
      searchFilter: "",
      isRTERender: false,
      showIcon: true,
      finishProductId: null,
      productName: '',
      gridItems: [],
      registerationStatusItem: [],
      menupreclinicalsafetydate: false,
      tinyConfig: Util.tinyconfig(),
      ispharmacodynamicsExpand: false,
      ispharmacodynamicsCollapse: true,
      ispharmacokineticsExpand: false,
      ispharmacokineticsCollapse: true,
      isindicationExpand: false,
      isindicationCollapse: true,
      isrecommendedDoseExpand: false,
      isrecommendedDoseCollapse: true,
      isrouteOfAdministrationExpand: false,
      isrouteOfAdministrationCollapse: true,
      iscontraindicationsExpand: false,
      iscontraindicationsCollapse: true,
      iswarningandprecautionsExpand: false,
      iswarningandprecautionsCollapse: true,
      isintractionwithothermedicamentsExpand: false,
      isintractionwithothermedicamentsCollapse: true,
      ispregnancyandlactationsExpand: false,
      ispregnancyandlactationsCollapse: true,
      issideeffectsExpand: false,
      issideeffectsCollapse: true,
      issymptomsandoverdoseExpand: false,
      issymptomsandoverdoseCollapse: true,
      isdriveandusemachineExpand: false,
      isdriveandusemachineCollapse: true,
      isinstructionforuseExpand: false,
      isinstructionforuseCollapse: true,
      isstorageconditionExpand: false,
      isstorageconditionCollapse: true,
      ispreclinicalsafetydateExpand: false,
      ispreclinicalsafetydateCollapse: true,
      editedItem: {
        valid: false,
        productName: '',
        pharmacologicalpropertiesId: -1,
        finishProductId: null,
        isMasterDocuement: false,
        isInformationvsMaster: false,
        pharmacodynamics: '',
        pharmacokinetics: '',
        indication: '',
        recommendedDose: '',
        routeOfAdministration: '',
        contraindications: '',
        warningandprecautions: '',
        intractionwithothermedicaments: '',
        pregnancyandlactations: '',
        sideeffects: '',
        symptomsandoverdose: '',
        driveandusemachine: '',
        preclinicalsafetydata: '',
        instructionforuse: '',
        storagecondition: '',
        statusCodeID: 1,
        addedByUserID: '',
        addedDate: '',
        registerationCodeId: null,
      },
      filterFields: [
        "RegisterationCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
      ],
      headers: [
        { text: 'Registration Status', value: 'registerationCodeName', align: 'left' },
        { text: 'Product Name', value: 'productName', align: 'left', sortable: false },
        { text: 'Master Docuement', value: 'isMasterDocuement', align: 'left' },
        { text: 'Information Master', value: 'isInformationvsMaster', align: 'left' },
        { text: 'Added By', value: 'addedByUser', align: 'left'},
        { text: 'Added Date', value: 'addedDate', align: 'left', sortable: false },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left', sortable: false },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      productheaders: [
        { text: 'Product Name', value: 'productName', sortable: false, align: 'left' },
        { text: 'Manufacturing Site', value: 'manufacturingSiteName', sortable: false, align: 'left' },
        { text: 'Register Country', value: 'country', sortable: false, align: 'left' },
        { text: 'Product Registration Holder', value: 'productRegistrationHolderName', sortable: false, align: 'left' },
        { text: 'Register Product Owner', value: 'productOwner', sortable: false, align: 'left' },

      ],
      products: [],
      selected: [],
      pharmacodynamicsExpand: [],
      pharmacokineticsExpand: [],
      indicationExpand: [],
      recommendedDoseExpand: [],
      routeOfAdministrationExpand: [],
      contraindicationsExpand: [],
      warningandprecautionsExpand: [],
      intractionwithothermedicamentsExpand: [],
      pregnancyandlactationsExpand: [],
      sideeffectsExpand: [],
      symptomsandoverdoseExpand: [],
      driveandusemachineExpand: [],
      instructionforuseExpand: [],
      storageconditionExpand: [],
      preclinicalsafetydateExpand: [],
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
    }),
    created () {
      this.initialize();
      this.pharmacodynamicsExpand.push(true);
      this.pharmacokineticsExpand.push(true);
      this.indicationExpand.push(true);
      this.recommendedDoseExpand.push(true);
      this.routeOfAdministrationExpand.push(true);
      this.contraindicationsExpand.push(true);
      this.warningandprecautionsExpand.push(true);
      this.intractionwithothermedicamentsExpand.push(true);
      this.pregnancyandlactationsExpand.push(true);
      this.sideeffectsExpand.push(true);
      this.symptomsandoverdoseExpand.push(true);
      this.driveandusemachineExpand.push(true);
      this.instructionforuseExpand.push(true);
      this.storageconditionExpand.push(true);
      this.preclinicalsafetydateExpand.push(true);
    },
    watch: {
      dialog (val) {
        val || this.close();
      },
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Phramacological Properties' : 'Edit Phramacological Properties';
      },
      RegistrationRules () {
        return [
          v => !!v || 'Registartion Status is required'
        ];
      },
      preclinicalsafetydateFormated () {

        return this.editedItem.preclinicalsafetydate ? moment(this.editedItem.preclinicalsafetydate).format(GlobalMessage.DATEFORMAT) : null
      },
      minDate () {
        const today = new Date();
        return this.formatDate(today);
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    mounted () {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      search.pageSize = this.$store.state.auth.pageSize;
      //this.getDataFromApi(this.$store.state.auth.pageSize);
    },
    methods: {
      formatDate (date) {
        let month = `${date.getMonth() + 1}`;
        let day = `${date.getDate()}`;
        const year = date.getFullYear();

        if (month.length < 2) month = `0${month}`;
        if (day.length < 2) day = `0${day}`;

        return [year, month, day].join('-');
      },
      initialize () {
        this.loader = true;
        /* getPhramacologicalProperties()
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          }); */
        this.loadProducts();
        getCodeMasterByType('Registration Status')
          .then(response => {
            this.registerationStatusItem = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      onMasterDocumentChange () {
        if (this.editedItem.isMasterDocuement && this.finishProductId > 0 && this.editedItem.pharmacologicalpropertiesId < 0) {
          isMasterExist(this.finishProductId)
            .catch(error => {
              this.loader = false;
              //window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      clearableProdcut () {
        this.finishProductId = null;
      },
      onInformationMasterChange () {
        if (this.editedItem.isInformationvsMaster && this.finishProductId > 0) {
          getPhramacologicalPropertiesByFinishProduct(this.finishProductId)
            .then(response => {
              if (response.data.length > 0) {
                this.editedItem = response.data[0];
                this.editedItem.pharmacologicalpropertiesId = -1;
                this.editedItem.isInformaionvsmaster = true;
                this.editedItem.isMasterDocument = false;
              }
              else {
                window.getApp.$emit('APP_API_ERROR', 'Master Data not Exits');
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      loadProducts () {
        getFinishProductGeneralInfos('')
          .then(response => {
            this.products = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      onClickProduct (item) {
        this.menuprodSearch = false;
        this.editedItem.productName = item.productName;
        this.editedItem.finishProductId = item.finishProductGeneralInfoID;
        this.finishProductId = this.editedItem.finishProductId;
        this.productName = this.editedItem.productName;
      },
      pharmacodynamicsExpandClick () {
        this.ispharmacodynamicsExpand = false;
        this.ispharmacodynamicsCollapse = true;
        this.pharmacodynamicsExpand.push(true);
      },
      pharmacodynamicsCollapse () {
        this.ispharmacodynamicsExpand = true;
        this.ispharmacodynamicsCollapse = false;
        this.pharmacodynamicsExpand = [];
      },
      pharmacokineticsExpandClick () {
        this.ispharmacokineticsExpand = false;
        this.ispharmacokineticsCollapse = true;
        this.pharmacokineticsExpand.push(true);
      },
      pharmacokineticsCollapse () {
        this.ispharmacokineticsExpand = true;
        this.ispharmacokineticsCollapse = false;
        this.pharmacokineticsExpand = [];
      },
      indicationExpandClick () {
        this.isindicationExpand = false;
        this.isindicationCollapse = true;
        this.indicationExpand.push(true);
      },
      indicationCollapse () {
        this.isindicationExpand = true;
        this.isindicationCollapse = false;
        this.indicationExpand = [];
      },
      recommendedDoseExpandClick () {
        this.isrecommendedDoseExpand = false;
        this.isrecommendedDoseCollapse = true;
        this.recommendedDoseExpand.push(true);
      },
      recommendedDoseCollapse () {
        this.isrecommendedDoseExpand = true;
        this.isrecommendedDoseCollapse = false;
        this.recommendedDoseExpand = [];
      },
      routeOfAdministrationExpandClick () {
        this.isrouteOfAdministrationExpand = false;
        this.isrouteOfAdministrationCollapse = true;
        this.routeOfAdministrationExpand.push(true);
      },
      routeOfAdministrationCollapse () {
        this.isrouteOfAdministrationExpand = true;
        this.isrouteOfAdministrationCollapse = false;
        this.routeOfAdministrationExpand = [];
      },
      contraindicationsExpandClick () {
        this.iscontraindicationsExpand = false;
        this.iscontraindicationsCollapse = true;
        this.contraindicationsExpand.push(true);
      },
      contraindicationsCollapse () {
        this.iscontraindicationsExpand = true;
        this.iscontraindicationsCollapse = false;
        this.contraindicationsExpand = [];
      },
      warningandprecautionsExpandClick () {
        this.iswarningandprecautionsExpand = false;
        this.iswarningandprecautionsCollapse = true;
        this.warningandprecautionsExpand.push(true);
      },
      warningandprecautionsCollapse () {
        this.iswarningandprecautionsExpand = true;
        this.iswarningandprecautionsCollapse = false;
        this.warningandprecautionsExpand = [];
      },
      intractionwithothermedicamentsExpandClick () {
        this.isintractionwithothermedicamentsExpand = false;
        this.isintractionwithothermedicamentsCollapse = true;
        this.intractionwithothermedicamentsExpand.push(true);
      },
      intractionwithothermedicamentsCollapse () {
        this.isintractionwithothermedicamentsExpand = true;
        this.isintractionwithothermedicamentsCollapse = false;
        this.intractionwithothermedicamentsExpand = [];
      },
      pregnancyandlactationsExpandClick () {
        this.ispregnancyandlactationsExpand = false;
        this.ispregnancyandlactationsCollapse = true;
        this.pregnancyandlactationsExpand.push(true);
      },
      pregnancyandlactationsCollapse () {
        this.ispregnancyandlactationsExpand = true;
        this.ispregnancyandlactationsCollapse = false;
        this.pregnancyandlactationsExpand = [];
      },
      sideeffectsExpandClick () {
        this.issideeffectsExpand = false;
        this.issideeffectsCollapse = true;
        this.sideeffectsExpand.push(true);
      },
      sideeffectsCollapse () {
        this.issideeffectsExpand = true;
        this.issideeffectsCollapse = false;
        this.sideeffectsExpand = [];
      },
      symptomsandoverdoseExpandClick () {
        this.issymptomsandoverdoseExpand = false;
        this.issymptomsandoverdoseCollapse = true;
        this.symptomsandoverdoseExpand.push(true);
      },
      symptomsandoverdoseCollapse () {
        this.issymptomsandoverdoseExpand = true;
        this.issymptomsandoverdoseCollapse = false;
        this.symptomsandoverdoseExpand = [];
      },
      driveandusemachineExpandClick () {
        this.isdriveandusemachineExpand = false;
        this.isdriveandusemachineCollapse = true;
        this.driveandusemachineExpand.push(true);
      },
      driveandusemachineCollapse () {
        this.isdriveandusemachineExpand = true;
        this.isdriveandusemachineCollapse = false;
        this.driveandusemachineExpand = [];
      },
      instructionforuseExpandClick () {
        this.isinstructionforuseExpand = false;
        this.isinstructionforuseCollapse = true;
        this.instructionforuseExpand.push(true);
      },
      instructionforuseCollapse () {
        this.isinstructionforuseExpand = true;
        this.isinstructionforuseCollapse = false;
        this.instructionforuseExpand = [];
      },
      storageconditionExpandClick () {
        this.isstorageconditionExpand = false;
        this.isstorageconditionCollapse = true;
        this.storageconditionExpand.push(true);
      },
      storageconditionCollapse () {
        this.isstorageconditionExpand = true;
        this.isstorageconditionCollapse = false;
        this.storageconditionExpand = [];
      },
      preclinicalsafetydateExpandClick () {
        this.ispreclinicalsafetydateExpand = false;
        this.ispreclinicalsafetydateCollapse = true;
        this.preclinicalsafetydateExpand.push(true);
      },
      preclinicalsafetydateCollapse () {
        this.ispreclinicalsafetydateExpand = true;
        this.ispreclinicalsafetydateCollapse = false;
        this.preclinicalsafetydateExpand = [];
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = this.pagination.page;
        search.sortCol = "PharmacologicalpropertiesID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetPhramacologicalProperties";
         search.pageCount = 1;
      this.pagination.page = 1;
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "registerationCodeName") {
          search.sortCol = "RegisterationCode.CodeValue";
        } else if (args.sortBy == "isMasterDocuement") {
          search.sortCol = "IsMasterDocuement";
        } else if (args.sortBy == "isInformationvsMaster") {
          search.sortCol = "IsInformationvsMaster";
        } 
        else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        }
        else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        }else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetPhramacologicalProperties";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      save () {
        if (this.$refs.form.validate() && this.editedItem.finishProductId > 0) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updatePharmacologicalProperties(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.loadPagingData();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createPhramacologicalProperties(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.pharmacologicalpropertiesId = response.data.pharmacologicalpropertiesId;
                let index = this.gridItems.map(item => item.pharmacologicalpropertiesId).indexOf(response.data.pharmacologicalpropertiesId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.loadPagingData();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      add () {
        setTimeout(() => {
          this.isRTERender = true;
        }, 400);
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.productName = '';
        this.editedItem.finishProductId = null;
        this.editedItem.isMasterDocuement = false;
        this.editedItem.isInformationvsMaster = false;
        this.editedItem.pharmacodynamics = '';
        this.editedItem.pharmacokinetics = '';
        this.editedItem.indication = '';
        this.editedItem.recommendedDose = '';
        this.editedItem.routeOfAdministration = '';
        this.editedItem.contraindications = '';
        this.editedItem.warningandprecautions = '';
        this.editedItem.intractionwithothermedicaments = '';
        this.editedItem.pregnancyandlactations = '';
        this.editedItem.sideeffects = '';
        this.editedItem.symptomsandoverdose = '';
        this.editedItem.driveandusemachine = '';
        this.editedItem.preclinicalsafetydata = '';
        this.editedItem.instructionforuse = '';
        this.editedItem.storagecondition = '';
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = '';
        this.editedItem.addedDate = '';
        this.editedItem.registerationCodeId = null;

      },
      saveAndClose () {
        this.save();
        this.dialog = false;
      },
      addFormDialog () {
        this.add();

      },
      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.editedItem.valid = false;
        this.dialog = true;
        setTimeout(() => {
          this.isRTERender = true;
        }, 400);
      },
      close () {
        this.dialog = false;
        this.loadPagingData();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.pharmacologicalpropertiesId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deletePharmacologicalProperties(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.pharmacologicalpropertiesId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.pharmacologicalpropertiesId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.pharmacologicalpropertiesId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.pharmacologicalpropertiesId;
        this.toolfunction();
      },
      toolfunction () {
        getDataPhramacologicalProperties(this.searchItem)
          .then(response => {

            if (response.data.pharmacologicalpropertiesId != null) {
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.pharmacologicalpropertiesId).indexOf(response.data.pharmacologicalpropertiesId)
              this.editedIndex = index;

            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No More Record to View');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
    },
  }
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 120px);
   }
</style>
