<template>
  <div>
    <v-container style="background: gainsboro !important;padding: 10px;">
      <v-layout wrap>
        <span class="headline">Per Unit Formulation (Line)</span>
      </v-layout>
    </v-container>
      <v-toolbar flat color="white">
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details :disabled="enableAddButton"></v-text-field>
        <download-excel class="btn btn-default" :data="gridItemsUnitFormulation" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Excipient Information.xls">
          <v-btn icon :disabled="enableAddButton">
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>
        <v-dialog v-model="linedialog" fullscreen :disabled="enableAddButton">
          <v-btn slot="activator" icon :disabled="enableAddButton" @click.native="add">
            <v-icon>add_circle_outline</v-icon>
          </v-btn>
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
              <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="saveAndClose">
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
                <span>Save and Close</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="save">
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="add">
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Create Per Unit Formulation(Line)</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="deleterow">
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete</span>
              </v-tooltip>

              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>

            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="valid" lazy-validation>
                  <v-layout row wrap>
                    <v-flex lg8 sm8>
                      
                        <v-layout row wrap>
                          <v-flex xs6 sm6>
                            <v-autocomplete :loading="loader" label="Manufacturing Process" prepend-icon="notes" v-model="editedItem.manufacturingProcessID" :items="processItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-autocomplete :loading="loader" chips flat label="Manufacturing Steps" prepend-icon="assistant" :items="manufacturingStepsItems" v-model="editedItem.manufacturingStepsID" color="blue" item-text="value" item-value="applicationMasterDetailId">
                              <template slot="selection" slot-scope="data">{{ data.item.value }}</template>
                              <template slot="item" slot-scope="data">
                                <template v-if="typeof data.item !== 'object'">
                                  <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                </template>
                                <template v-else>
                                  <v-list-tile-content>
                                    <v-list-tile-title v-html="data.item.value"></v-list-tile-title>
                                  </v-list-tile-content>
                                </template>
                              </template>
                            </v-autocomplete>
                          </v-flex>
                        </v-layout>
                      
                    </v-flex>
                    <v-flex lg4 sm4>
                      <v-card class="rounded-card">
                        <v-layout row wrap>
                          <v-flex xs12 sm12>
                            <span class="headline">Reference</span>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Product Name:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Manufacturing site:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.manufacturingSite}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Register Country:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.countryName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Product Registration Holder:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productRegistrationHolderName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Register Product Owner:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productOwner}}</b>
                            </label>
                          </v-flex>
                        </v-layout>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-form>
                <product-unit-line-line ref="refPerUnitLineLine"></product-unit-line-line>
              </v-card-text>

            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
              <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
            </v-card-actions>
            <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
          </v-card>
        </v-dialog>
        <v-tooltip bottom>
          <v-btn icon slot="activator" @click="initialize()" :disabled="enableAddButton">
            <v-icon icon>refresh</v-icon>
          </v-btn>
          <span>Refresh</span>
        </v-tooltip>
      </v-toolbar>

      <app-section-loader :status="loader"></app-section-loader>

      <v-data-table :headers="headers" :items="gridItemsUnitFormulation" :search="search" class="elevation-1" default-sort="perUnitFormulationLineID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.manufacturingProcess }}</td>
          <td>{{ props.item.manufacturingSteps }}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import ProductUnitLineLine from "@/pages/productionplanning/salesorder/ProductBOMByPerUnitLineLine.vue";
  import {
    perUnitFormulationLineByID,
    getPerUnitFormulationLine,
    createPerUnitFormulationLine,
    updatePerUnitFormulationLine,
    deletePerUnitFormulationLine
  } from "@/api/perUnitFormulationLine";
  import { getExcipientInformationLineByProcessByID } from "@/api/excipientInformationLine";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
  import { getGenericItemNameListing } from "@/api/genericnamelisting";
  import { getProductionMaterialGenericList } from "@/api/ProductionMaterial";

  export default {
    components: {
      ProductUnitLineLine
    },
    data: () => ({
      linedialog: false,
      loader: false,
      editedIndex: -1,
      search: "",
      finishProductExcipintID: null,
      gridItemsUnitFormulation: [],
      manufacturingStepsItems: [],
      processItems: [],
      enableAddButton: true,
      refer: {
        productName: "",
        manufacturingSite: "",
        countryName: "",
        productRegistrationHolderName: "",
        productOwner: ""
      },
      editedItem: {
        valid: false,
        perUnitFormulationLineID: -1,
        finishProductExcipintID: null,
        manufacturingProcessID: null,
        manufacturingStepsID: null,
        statusCodeID: 1,
        addedByUserID: "",
        addedDate: ""
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      headers: [
        {
          text: "Manufacturing Process",
          value: "manufacturingProcess",
          align: "left"
        },
        {
          text: "Manufacturing Steps",
          value: "manufacturingSteps",
          align: "left"
        },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],
      json_fields: {
        "Manufacturing Process": "manufacturingProcess",
        "Manufacturing Steps": "manufacturingSteps"
      }
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Unit Formulation"
          : "Edit Unit Formulation";
      },
      categoryRules () {
        return [v => !!v || "This is required field"];
      }
    },
    created () { },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    methods: {
      initialize () {
        this.loader = true;
        perUnitFormulationLineByID(this.finishProductExcipintID)
          .then(response => {
            this.loader = false;
            this.gridItemsUnitFormulation = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      loadDropdownList () {
        this.processItems = [];
        this.loader = true;
        getApplicationMasterDetailByType(130)
          .then(response => {
            this.loader = false;
            this.processItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(188)
          .then(response => {
            this.manufacturingStepsItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      editItem (item) {
        this.loadDropdownList();
        this.editedIndex = this.gridItemsUnitFormulation.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.$refs.refPerUnitLineLine.enableAddButton = false;
        this.$refs.refPerUnitLineLine.perUnitFormulationLineID = this.editedItem.perUnitFormulationLineID;
        this.$refs.refPerUnitLineLine.refer.productName = this.refer.productName;
        this.$refs.refPerUnitLineLine.refer.manufacturingSite = this.refer.manufacturingSite;
        this.$refs.refPerUnitLineLine.refer.countryName = this.refer.countryName;
        this.$refs.refPerUnitLineLine.refer.productRegistrationHolderName = this.refer.productRegistrationHolderName;
        this.$refs.refPerUnitLineLine.refer.productOwner = this.refer.productOwner;
        this.linedialog = true;
        this.$refs.refPerUnitLineLine.initialize();
      },
      close () {
        this.linedialog = false;
        this.add();
      },
      saveAndClose () {
        this.save();
        this.linedialog = false;
      },
      add () {
        this.$refs.refPerUnitLineLine.enableAddButton = true;
        this.$refs.refPerUnitLineLine.gridExicipintinformationLine = [];
        this.$refs.refPerUnitLineLine.excipientInformationLineByProcessID = -1;
        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.perUnitFormulationLineID = -1;
        this.editedItem.manufacturingProcessID = null;
        this.editedItem.manufacturingStepsID = null;
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = "";
        this.editedItem.addedDate = "";
      },
      openPopup () {
        this.linedialog = true;
        this.add();
      },
      save () {
        this.editedItem.finishProductExcipintID = this.finishProductExcipintID;

        if (this.$refs.valid.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(
              this.gridItemsUnitFormulation[this.editedIndex],
              this.editedItem
            );
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updatePerUnitFormulationLine(this.editedItem)
              .then(response => {
                Object.assign(
                  this.gridItemsUnitFormulation[index],
                  response.data
                );
                this.$refs.refPerUnitLineLine.enableAddButton = false;
                this.$refs.refPerUnitLineLine.perUnitFormulationLineID = this.editedItem.perUnitFormulationLineID;
                this.subloader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.subloader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            this.editedItem.finishProductExcipintID = this.finishProductExcipintID;

            createPerUnitFormulationLine(this.editedItem)
              .then(response => {
                this.gridItemsUnitFormulation.push(response.data);
                this.loader = false;
                this.$refs.refPerUnitLineLine.enableAddButton = false;
                this.editedItem.perUnitFormulationLineID =
                  response.data.perUnitFormulationLineID;
                this.$refs.refPerUnitLineLine.perUnitFormulationLineID = this.editedItem.perUnitFormulationLineID;
                let index = this.gridItemsUnitFormulation
                  .map(item => item.perUnitFormulationLineID)
                  .indexOf(response.data.perUnitFormulationLineID);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.perUnitFormulationLineID > -1) {
          this.loader = true;
          let index = this.gridItemsUnitFormulation.indexOf(this.editedItem);
          deletePerUnitFormulationLine(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItemsUnitFormulation.splice(index, 1);
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    }
  };
</script>
<style scoped>
  .backgroundlayout {
    background: gainsboro !important;
  }
</style>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>
