<template>

  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Production Process Library.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color='white'>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color='white'>library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New Production Process Library</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color='white'>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color='white'>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">

                <v-icon color='white'>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color='white'>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color='white'>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>

              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Dosage Form" prepend-icon="notes" v-model="editedItem.dosageFormId" :items="dosageFormItems" :search-input.sync="searchTag" chips multiple item-text="value" item-value="applicationMasterDetailId" @change="selectTag">
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected" close class="chip--select-multi" @input="remove(data.item)">

                          {{ data.item.value }}
                        </v-chip>
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content v-text="data.item"></v-list-tile-content>
                        </template>
                        <template v-else>

                          <v-list-tile-content>
                            <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                          </v-list-tile-content>
                        </template>
                      </template>

                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Manufacturing Process" prepend-icon="notes" v-model="editedItem.manufacturingProcessId" :items="manufacturingProcessItems" item-text="value" item-value="applicationMasterDetailId">
                    </v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Machine Involve" prepend-icon="notes" v-model="editedItem.machineInvolveID" :items="machineInvolveItems" item-text="value" item-value="applicationMasterDetailId">
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID" chips>
                    </v-autocomplete>

                  </v-flex>

                </v-layout>
              </v-form>
            </v-card-text>

            <operation-procedure-line ref="refProductLines"></operation-procedure-line>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    </v-layout>
    </v-form>
    </v-card-text>

    </v-card>
    </v-dialog>

    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="operationProcedureId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.dosageFormName }}</td>
          <td class="text-xs-left">{{ props.item.manufacturingProcessName }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from '@/constant';
  import moment from 'moment';
  import { getCodeMasterByType } from '@/api/applicationUser';
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster';
  import OperationProcedureLine from '@/pages/productionplanning/salesorder/OperationProcedureLine.vue'
  import { getOperationProcedureItems, createOperationProcedure, getData, getOperationProcedure, updateOperationProcedure, deleteOperationProcedure } from '@/api/OperationProcedure';
  export default {
    components: {
      OperationProcedureLine
    },
    data: () => ({
      dialog: false,
      search: '',
      loader: false,
      editedIndex: -1,
      searchTag: "",
      searchFilter: "",
      dosageFormItems: [],
      manufacturingProcessItems: [],
      machineInvolveItems: [],
      gridItems: [],
      Items: [],
      statusOptions: [],
      registerTypeFlag: false,
      editedItem: {
        valid: false,
        operationProcedureId: -1,
        dosageFormId: [],
        manufacturingProcessId: null,
        machineInvolveID: null,
        statusCodeID: 860,
        addedByUserID: '',
        addedDate: '',
        modifiedByUserID: '',
        modifiedDate: '',
      },
      defaultItem: {
        valid: false,
        operationProcedureId: -1,
        dosageFormId: [],
        manufacturingProcessId: null,
        machineInvolveID: null,
        statusCodeID: 860,
        addedByUserID: '',
        addedDate: '',
        modifiedByUserID: '',
        modifiedDate: '',
      },
      headers: [
        { text: 'Dosage Form', value: 'dosageFormName', align: 'left' },
        { text: 'Manufacturing Process', value: 'manufacturingProcessName', align: 'left' },
        { text: 'Status', value: 'statusCode', align: 'left' },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        'Dosage Form': 'dosageFormName',
        'Manufacturing Process': 'manufacturingProcessName',
        'Added By': 'addedByUser',
        'Added Date': 'addedDate',
        'Modified By': 'modifiedDate',
        'Modified Date': 'modifiedDate',
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      },
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Production Process Library' : 'Edit Production Process Library';
      },

    },
    methods: {

      initialize () {
        this.loader = true;
        getOperationProcedure()
          .then(response => {
            this.gridItems = response.data;
            this.Items = response.data;
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      selectTag () {
        this.searchTag = "";
      },
      remove (item) {
        const index = this.editedItem.dosageFormId.indexOf(item.applicationMasterDetailId)
        if (index >= 0) this.editedItem.dosageFormId.splice(index, 1)
      },
      loadDropdownList () {

        getApplicationMasterDetailByType(107)
          .then(response => {
            this.dosageFormItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(130)
          .then(response => {
            this.manufacturingProcessItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getCodeMasterByType('ProductionProcessLibraryStatus')
          .then(response1 => {
            this.statusOptions = response1.data;

          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

      },
      getProductLinesTab () {
        setTimeout(() => {
          this.$refs.refProductLines.operationProcedureId = this.editedItem.operationProcedureId;
          this.$refs.refProductLines.enableAddButton = false;
          this.$refs.refProductLines.initialize();
        }, 500);
      },
      save () {
        if (this.$refs.form.validate()) {

          this.loader = true;
          let index = this.editedIndex;

          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updateOperationProcedure(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createOperationProcedure(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.operationProcedureId = response.data.operationProcedureId;
                let index = this.gridItems.map(item => item.operationProcedureId).indexOf(response.data.operationProcedureId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      add () {
        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.operationProcedureId = -1;
        this.editedItem.dosageFormId = [];
        this.editedItem.manufacturingProcessId = null;
        this.editedItem.statusCodeID = 860;
        this.editedItem.addedByUserID = '';
        this.editedItem.addedDate = '';
        this.editedItem.modifiedByUserID = '';
        this.editedItem.modifiedDate = '';
        this.registerTypeFlag = false;
        this.$refs.refProductLines.operationProcedureId = -1;
        this.$refs.refProductLines.enableAddButton = true;
        this.$refs.refProductLines.gridItems = [];
      },
      saveAndClose () {
        this.save();
        this.close();
      },

      editItem (item) {
        this.loadDropdownList();

        setTimeout(() => {
          this.editedIndex = this.gridItems.indexOf(item);
          this.editedItem = Object.assign({}, item);
          this.editedItem.valid = false;
          this.getProductLinesTab();
          this.dialog = true;
        }, 500);
      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.operationProcedureId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteOperationProcedure(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.operationProcedureId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.operationProcedureId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.operationProcedureId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.operationProcedureId;
        this.toolfunction();
      },
      toolfunction () {
        getData(this.searchItem)
          .then(response => {
            if (response.data.operationProcedureId != null) {
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.operationProcedureId).indexOf(response.data.operationProcedureId)
              this.editedIndex = index;
              this.getProductLinesTab();

            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No More Record to View');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
    },
  }
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>
