<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <!--  <v-btn color="primary darken-1" outline @click.native="syncBmr">Sync BMR</v-btn> -->
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="Production Batch Information" type="csv" name="ProductionBatchInformation.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save" :loading="saveloader">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Production Batch Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Company" prepend-icon="apartment" v-model="editedItem.plantID" :items="companyItems" item-text="description" item-value="plantID" chips clearable :search-input.sync="searchProductbatch" @change="selPlant">
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected">{{ data.item.description }}</v-chip>
                        </template>
                      </v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.ticketNo" prepend-icon="select_all" label="Ticket No"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.productionOrderNo" prepend-icon="select_all" label="Production OrderNo"></v-text-field>
                    </v-flex>
                    <v-flex lg4 sm4>
                      <v-menu ref="startdatemenu" v-model="startdatemenu" :close-on-content-click="false" :nudge-right="40" :return-value.sync="editedItem.manufacturingStartDate" lazy transition="scale-transition" offset-y full-width min-width="290px">
                        <v-text-field slot="activator" :value="startDateFormated" label="Manufacturing Start Date" prepend-icon="event" readonly></v-text-field>
                        <v-date-picker v-model="editedItem.manufacturingStartDate">
                          <v-spacer></v-spacer>
                          <v-btn flat color="primary" @click="startdatemenu = false">Cancel</v-btn>
                          <v-btn flat color="primary" @click="$refs.startdatemenu.save(editedItem.manufacturingStartDate)">OK</v-btn>
                        </v-date-picker>
                      </v-menu>
                    </v-flex>
                    <!--  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.batchSize"
                      prepend-icon="list"
                      label="Batch Size"
                    ></v-text-field>
                  </v-flex>-->
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Units of Batch Size" prepend-icon="list" v-model="editedItem.batchSizeId" :items="batchSizes" item-text="value" item-value="applicationMasterDetailId" clearable chips></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" chips></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>

            <production-batch-line ref="refProductBatchlines"></production-batch-line>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="loading" default-sort="productionBatchInformationID:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.batchNo }}</td>
          <td class="text-xs-left">{{ props.item.itemNo }}</td>
          <td class="text-xs-left">{{ props.item.ticketNo }}</td>
          <td class="text-xs-left">{{ props.item.productionOrderNo }}</td>
          <td class="text-xs-left">{{ props.item.manufacturingStartDate | formatDate}}</td>
          <td class="text-xs-left">{{ props.item.batchSize }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getPlants } from "@/api/nav";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import ProductionBatchLine from "@/pages/productionplanning/salesorder/ProductBatchInformationLine";
  import {
    getProductionBatchInformationLinesByID,
    createProductionBatchInformation,
    getProductionBatchInformation,
    getProductionBatchInformations,
    updateProductionBatchInformation,
    deleteProductionBatchInformation,
    getProductionBatchSize,
    getProductionBatchInformationSyncBMR
  } from "@/api/productionbatchInformation";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  export default {
    components: {
      ProductionBatchLine
    },
    data: () => ({
      loading: false,
      totalRows: 0,
      dialog: false,
      search: "",
      loader: false,
      saveloader: false,
      editedIndex: -1,
      startdatemenu: false,
      companyItems: [],
      searchProductbatch: "",
      packingUnitsItems: [],
      gridItems: [],
      batchSizes: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      editedItem: {
        valid: false,
        productionBatchInformationID: -1,
        plantID: 2,
        ticketNo: "",
        manufacturingStartDate: new Date().toISOString().substr(0, 10),
        batchSize: null,
        batchSizeId: null,
        productionOrderNo: null,
        unitsofBatchSize: null,
        statusCodeID: 1,
        addedByUserID: "",
        addedDate: new Date(),
        modifiedByUserID: "",
        modifiedDate: new Date()
      },
      defaultItem: {
        valid: false,
        productionBatchInformationID: -1,
        plantID: 2,
        ticketNo: "",
        manufacturingStartDate: new Date().toISOString().substr(0, 10),
        batchSize: null,
        batchSizeId: null,
        productionOrderNo: null,
        unitsofBatchSize: null,
        statusCodeID: 1,
        addedByUserID: "",
        addedDate: new Date(),
        modifiedByUserID: "",
        modifiedDate: new Date()
      },
      filterFields: [
        "Plant.PlantCode",
        "TicketNo",
        "ProductionOrderNo",
        "StatusCode.CodeValue",
      ],
      headers: [
        { text: "Company", value: "companyName", align: "left" },
        { text: "Batch No", value: "batchNo", align: "left", sortable: false, },
        { text: "Product", value: "itemNo", align: "left", sortable: false, },
        { text: "Ticket No", value: "ticketNo", align: "left" },
        { text: "Production OrderNo", value: "productionOrderNo", align: "left" },
        {
          text: "Manufacturing StartDate",
          value: "manufacturingStartDate",
          align: "left",
          sortable: false,
        },
        { text: "Batch Size", value: "batchSize", align: "left", sortable: false, },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Added By", value: "addedByUser", align: "left",  },
        { text: "Added Date", value: "addedDate", align: "left",  },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],
      json_fields: {
        Company: "companyName",
        "Batch No": "batchNo",
        "Product": "itemNo",
        "Ticket No": "ticketNo",
        "Production OrderNo": "productionOrderNo",
        "Manufacturing StartDate": "manufacturingStartDate",
        "Batch Size": "batchSize",
        "Packing Units": "packingUnits",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate"
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Production Batch Information"
          : "Edit Production Batch Information";
      },
      startDateFormated () {
        return this.editedItem.manufacturingStartDate
          ? moment(this.editedItem.manufacturingStartDate).format(
            GlobalMessage.DATEFORMAT
          )
          : "";
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    mounted () {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      search.pageSize = this.$store.state.auth.pageSize;
      //this.getDataFromApi(this.$store.state.auth.pageSize);
    },
    methods: {
      initialize () {
        /* this.loader = true;
        getProductionBatchInformations("")
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          }); */
        getPlants()
          .then(response => {
            this.companyItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = this.pagination.page;
        search.sortCol = "ProductionBatchInformationID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetProductionBatchInformations";
         search.pageCount = 1;
      this.pagination.page = 1;
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "companyName") {
          search.sortCol = "Plant.PlantCode";
        } else if (args.sortBy == "ticketNo") {
          search.sortCol = "TicketNo";
        } else if (args.sortBy == "productionOrderNo") {
          search.sortCol = "ProductionOrderNo";
        } else if (args.sortBy == "satusCode") {
          search.sortCol = "StatusCode.CodeValue";
        }  else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetProductionBatchInformations";
        this.loading = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.loading = false;
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      syncBmr () {
        this.loader = true;
        getProductionBatchInformationSyncBMR()
          .then(response => {
            this.loader = false;
            window.getApp.$emit("APP_API_SUCCESS", "Sync Data Success");
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      loadDropdownList () {
        getApplicationMasterDetailByType(140)
          .then(response => {
            this.packingUnitsItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(175)
          .then(response => {
            this.batchSizes = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      save () {
        this.loader = true;
        this.saveloader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateProductionBatchInformation(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              this.saveloader = false;
              this.$refs.refProductBatchlines.enableAddButton = false;

              this.$refs.refProductBatchlines.plantID = this.editedItem.plantID;
              this.$refs.refProductBatchlines.filterProductCode();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.loadPagingData();
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createProductionBatchInformation(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.saveloader = false;
              this.editedItem.productionBatchInformationID =
                response.data.productionBatchInformationID;
              let index = this.gridItems
                .map(item => item.productionBatchInformationID)
                .indexOf(response.data.productionBatchInformationID);
              this.editedIndex = index;
              this.$refs.refProductBatchlines.productionBatchInformationID =
                response.data.productionBatchInformationID;
              this.$refs.refProductBatchlines.enableAddButton = false;
              this.$refs.refProductBatchlines.plantID = this.editedItem.plantID;
              this.$refs.refProductBatchlines.filterProductCode();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.loadPagingData();
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      add () {
        this.loadDropdownList();
        this.$refs.refProductBatchlines.enableAddButton = true;
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.$refs.refProductBatchlines.gridItems = [];
      },
      saveAndClose () {
        this.save();
        this.close();
      },

      editItem (item) {
        this.loadDropdownList();
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        console.log('items' + JSON.stringify(item));        // this.$refs.refProductBatchlines.plantID = this.editedItem.plantID;
        setTimeout(() => {
          this.$refs.refProductBatchlines.productionBatchInformationID = item.productionBatchInformationID;
          this.$refs.refProductBatchlines.enableAddButton = false;
          this.$refs.refProductBatchlines.plantID = item.plantID;
          this.$refs.refProductBatchlines.filterProductCode();
          this.editedItem.valid = false;
          this.$refs.refProductBatchlines.getProductionbatchlines();
          // getProductionBatchInformationLinesByID(
          //   this.editedItem.productionBatchInformationID
          // )
          //   .then(response => {
          //     this.$refs.refProductBatchlines.gridItems = response.data;
          //     this.loader = false;
          //   })
          //   .catch(error => {
          //     window.getApp.$emit("APP_API_ERROR", error);
          //   });
          this.dialog = true;
          this.$refs.refProductBatchlines.loadDropdownList();
        }, 500);
      },
      selPlant () {
        this.$refs.refProductBatchlines.plantID = this.editedItem.plantID;
      },
      close () {
        this.dialog = false;
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.productionBatchInformationID > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteProductionBatchInformation(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.productionBatchInformationID;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.productionBatchInformationID;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.productionBatchInformationID;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.productionBatchInformationID;
        this.toolfunction();
      },
      toolfunction () {
        getProductionBatchInformation(this.searchItem)
          .then(response => {
            if (response.data.productionBatchInformationID != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.productionBatchInformationID)
                .indexOf(response.data.productionBatchInformationID);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
            }
          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>
