<template>

  <div>

    <v-container style="background: gainsboro !important;padding: 10px;">
      <v-layout wrap>
        <span class="headline">Excipient information by manufacturing process Line</span>
      </v-layout>
    </v-container>
    <v-container>
      <v-toolbar flat color="white">
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details :disabled="enableAddButton"></v-text-field>
        <download-excel class="btn btn-default" :data="gridProdcutItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Excipient Information.xls">
          <v-btn icon :disabled="enableAddButton">
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>
        <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
          <v-btn slot="activator" icon :disabled="enableAddButton" @click.native="openPopup" v-if="isInformaionvsmaster">
            <v-icon>add_circle_outline</v-icon>
          </v-btn>
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
              <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="saveAndClose" v-if="isInformaionvsmaster">
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
                <span>Save and Close</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="save" v-if="isInformaionvsmaster">
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save </span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="add" v-if="isInformaionvsmaster">
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Create New Excipient Information by manufacturing process Line</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="deleterow" v-if="isInformaionvsmaster">
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete</span>
              </v-tooltip>

              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-form v-model="editedItem.valid" ref="productLineform" lazy-validation>

                <v-layout row wrap>
                  <v-flex lg8 sm8>
                    <v-container grid-list-md>
                      <v-layout row wrap>
                        <v-flex xs6 sm6>
                          <v-layout row wrap>
                            <v-flex xs12 sm12 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs10 sm10>
                              <v-text-field v-model="editedItem.dosage" label="Dosage" required prepend-icon="select_all" v-on:keyup="doasgeChange" v-on:change="doasgeChange">
                              </v-text-field>
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>

                            <v-flex xs10 sm10>
                              <v-autocomplete label="Dosage Units" prepend-icon="notes" v-model="editedItem.dosageUnitsId" :items="dosageUnitsItems" item-text="value" item-value="applicationMasterDetailId" chips>
                              </v-autocomplete>

                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs10 sm10>
                              <v-autocomplete label="Per Dosage" prepend-icon="notes" v-model="editedItem.perDosageId" :items="perdosageItems" item-text="value" item-value="applicationMasterDetailId" chips>
                              </v-autocomplete>

                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs12 sm12 class="backgroundlayout">
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <v-layout row wrap>
                            <v-flex xs12 sm12 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs10 sm10>
                              <v-text-field v-model="editedItem.overage" label="Overage" required prepend-icon="select_all" v-on:keyup="overageChange" v-on:change="overageChange">
                              </v-text-field>
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs10 sm10>
                              <v-autocomplete label="Overage Units" prepend-icon="notes" v-model="editedItem.overageUnitsId" :items="overageUnitsItems" item-text="value" item-value="applicationMasterDetailId" chips>
                              </v-autocomplete>

                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs10 sm10>
                              <v-autocomplete label="Dosage Units" prepend-icon="notes" v-model="editedItem.dosageUnitsId1" :items="dosageUnitsItems" item-text="value" item-value="applicationMasterDetailId" chips>
                              </v-autocomplete>

                            </v-flex>
                            <v-flex xs1 sm1 class="backgroundlayout">
                            </v-flex>
                            <v-flex xs12 sm12 class="backgroundlayout">
                            </v-flex>
                          </v-layout>
                        </v-flex>

                      </v-layout>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 sm4>
                    </br>
                    </br>

                    <v-card class="rounded-card">
                      <v-layout row wrap>

                        <v-flex xs12 sm12>
                          <span class="headline">Reference</span>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Product Name:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{refer.productName}}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Manufacturing site:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{refer.manufacturingSite}}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Register Country:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{refer.countryName}}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Product Registration Holder:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{refer.productRegistrationHolderName}}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Register Product Owner:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{refer.productOwner}}</b>
                          </label>
                        </v-flex>
                      </v-layout>

                    </v-card>

                  </v-flex>
                </v-layout>

              </v-form>
            </v-card-text>
            <v-card-actions v-if="isInformaionvsmaster">
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
              <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
            </v-card-actions>
            <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
            </delete-confirmation-dialog>

          </v-card>
        </v-dialog>
        <v-tooltip bottom>
          <v-btn icon="" slot="activator" @click="initialize()" :disabled="enableAddButton">
            <v-icon icon>
              refresh
            </v-icon>
          </v-btn>
          <span>Refresh</span>
        </v-tooltip>
      </v-toolbar>

      <app-section-loader :status="subsubloader"></app-section-loader>

      <v-data-table :headers="headers" :items="gridProdcutItems" :search="search" class="elevation-1" default-sort="finishProductExcipientLineId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.materialName }}</td>
          <td class="text-xs-left">{{ props.item.processName }}</td>
          <td class="text-xs-left">{{ props.item.operationProcessName }}</td>
          <td class="text-xs-left">{{ props.item.genericItemNameName }}</td>
          <td class="text-xs-left">{{ props.item.generalRawMaterialName }}</td>
          <td class="text-xs-left">{{ props.item.navisionDataBaseName }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-if="isInformaionvsmaster">
              delete
            </v-icon>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>
<script>
  import GlobalMessage from '@/constant';
  import { getNavItemsMat } from '@/api/nav.js';
  import { getItemClassificationByUserID } from '@/api/itemClassification';

  import { createFinishProductExcipientLine, getFinishProductExcipientLine, updateFinishProductExcipientLine, deleteFinishProductExcipientLine } from '@/api/finishproductexcipientLine';
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster.js';
  import { getGenericItemNameListing } from '@/api/genericnamelisting';
  import { getProductionMaterialGenericList } from '@/api/ProductionMaterial';


  export default {
    data: () => ({
      dialog: false,
      subsubloader: false,
      editedIndex: -1,
      search: '',
      isInformaionvsmaster: true,
      navItems: [],
      gridProdcutItems: [],
      processItems: [],
      operationProcessItems: [],
      genericItemNameItems: [],
      generalRawMaterialNameItems: [],
      navisionDataBaseItems: [],
      dosageUnitsItems: [],
      perdosageItems: [],
      overageUnitsItems: [],
      itemClassificationItems: [],
      functionItems: [],
      productlist: [],
      enableAddButton: false,
      refer: {
        productName: '',
        manufacturingSite: '',
        countryName: '',
        productRegistrationHolderName: '',
        productOwner: '',
      },
      editedItem: {
        productLineform: false,
        finishProductExcipientLineId: -1,
        finishProductExcipientId: -1,
        processId: null,
        operationProcessId: null,
        genericItemNameId: null,
        generalRawMaterialNameId: null,
        functionId: null,
        navisionDataBaseId: null,
        materialId: null,
        dosage: '',
        dosageUnitsId: null,
        perDosageId: null,
        overage: '',
        overageUnitsId: null,
        dosageUnitsId1: null,
        statusCodeID: 1,
        addedByUserID: '',
        addedDate: '',
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
      headers: [
        { text: 'Dosage', value: 'materialName', align: 'left' },
        { text: 'Dosage Units	', value: 'processName', align: 'left' },
        { text: 'Per Dosage', value: 'operationProcessName', align: 'left' },
        { text: 'Overage', value: 'genericItemNameName', align: 'left' },
        { text: 'Overage Units', value: 'generalRawMaterialName', align: 'left' },
        { text: 'Dosage Units', value: 'navisionDataBaseName', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        'Material Name': 'materialName',
        'Manufacturing Process': 'processName',
        'Operation Process': 'operationProcessName',
        'Generic Item Name': 'genericItemNameName',
        'General Raw Material Name': 'generalRawMaterialName',
        'Navision Data Base': 'navisionDataBaseName',
      },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add excipient information by manufacturing processLine' : 'Edit excipient information by manufacturing processLine';
      },
      categoryRules () {

        return [
          v => !!v || 'This is required field'
        ];
      },
    },
    created () {
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    methods: {
      initialize () {
        this.isInformaionvsmaster = this.isInformaionvsmaster;
        this.subsubloader = true;
        getFinishProductExcipientLine(this.editedItem.finishProductExcipientId)
          .then(response => {
            this.gridProdcutItems = response.data;
            this.subsubloader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        let id = this.$store.state.auth.userId;
        getItemClassificationByUserID(id)
          .then(response => {
            this.itemClassificationItems = response.data;
            this.loader = false;


          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });


        this.refer.productName = this.productlist.productName;
        this.refer.manufacturingSite = this.productlist.manufacturingSite;
        this.refer.countryName = this.productlist.countryName;
        this.refer.productRegistrationHolderName = this.productlist.productRegistrationHolderName;
        this.refer.productOwner = this.productlist.productOwner;
      },
      loadDropdownList () {
        this.navItems = [];
        this.processItems = [];
        this.operationProcessItems = [];
        this.genericItemNameItems = [];
        this.generalRawMaterialNameItems = [];
        this.navisionDataBaseItems = [];
        this.dosageUnitsItems = [];
        this.perdosageItems = [];
        this.overageUnitsItems = [];
        this.functionItems = [];

        getApplicationMasterDetailByType(130)
          .then(response => {
            this.processItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(115)
          .then(response => {
            this.navisionDataBaseItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(160)
          .then(response => {
            this.operationProcessItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(106)
          .then(response => {
            this.functionItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(131)
          .then(response => {
            this.perdosageItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(125)
          .then(response => {
            this.overageUnitsItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(122)
          .then(response => {
            this.dosageUnitsItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getGenericItemNameListing('')
          .then(response => {
            this.genericItemNameItems = response.data;
            this.subloader = false;
          })
          .catch(error => {
            this.subloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        this.getNavItems();
      },
      onChangegenericName () {
        let list = this.genericItemNameItems.filter(o => o.genericItemNameListingId == this.editedItem.genericItemNameId);
        this.generalRawMaterialNameItems = [];
        if (list.length > 0) {
          getProductionMaterialGenericList(this.editedItem.genericItemNameId)
            .then(response => {
              if (response.data.length > 0) {
                this.generalRawMaterialNameItems = response.data;
                if (response.data.length == 1) {
                  this.editedItem.generalRawMaterialNameId = response.data[0].productionMaterialId;
                }
              }
            })
            .catch(error => {
              this.subloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      doasgeChange: function (event) {
        this.editedItem.dosage = this.editedItem.dosage.replace(/[^0-9.]/g, '');
      },
      overageChange: function (event) {
        this.editedItem.overage = this.editedItem.overage.replace(/[^0-9.]/g, '');
      },
      getNavItems () {
        getNavItemsMat('')
          .then(response => {
            this.navItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      editItem (item) {
        this.loadDropdownList();
        this.editedIndex = this.gridProdcutItems.indexOf(item);

        setTimeout(() => {
          this.editedItem = Object.assign({}, item);
          this.onChangegenericName();
          this.dialog = true;
        }, 500);

      },
      close () {
        this.dialog = false;
        this.add();
      },
      saveAndClose () {
        this.save();
        this.dialog = false;
      },
      add () {
        this.loadDropdownList();
        this.generalRawMaterialNameItems = [];
        this.editedIndex = -1;
        this.editedItem.productLineform = false;
        this.editedItem.finishProductExcipientLineId = -1;
        this.editedItem.processId = null;
        this.editedItem.operationProcessId = null;
        this.editedItem.genericItemNameId = null;
        this.editedItem.generalRawMaterialNameId = null;
        this.editedItem.functionId = null;
        this.editedItem.navisionDataBaseId = null;
        this.editedItem.materialId = null;
        this.editedItem.dosage = '';
        this.editedItem.dosageUnitsId = null;
        this.editedItem.perDosageId = null;
        this.editedItem.overage = '';
        this.editedItem.overageUnitsId = null;
        this.editedItem.dosageUnitsId1 = null;
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = '';
        this.editedItem.addedDate = '';
      },
      openPopup () {
        this.dialog = true;
        this.add();
      },
      save () {
        if (this.$refs.productLineform.validate()) {
          this.subsubloader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridProdcutItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updateFinishProductExcipientLine(this.editedItem)
              .then(response => {
                Object.assign(this.gridProdcutItems[index], response.data);
                this.subloader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.subloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createFinishProductExcipientLine(this.editedItem)
              .then(response => {
                this.gridProdcutItems.push(response.data);
                this.subsubloader = false;
                this.editedItem.finishProductExcipientLineId = response.data.finishProductExcipientLineId;
                let index = this.gridProdcutItems.map(item => item.finishProductExcipientLineId).indexOf(response.data.finishProductExcipientLineId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.subsubloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.finishProductExcipientLineId > -1) {
          this.subsubloader = true;
          let index = this.gridProdcutItems.indexOf(this.editedItem);
          deleteFinishProductExcipientLine(this.editedItem)
            .then(() => {
              this.subsubloader = false;
              this.gridProdcutItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.subsubloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
    }
  }
</script>
<style scoped>
  .backgroundlayout {
    background: gainsboro !important;
  }
</style>

