<template>

  <div>

    <v-container grid-list-md style="background: gainsboro !important;padding: 10px;">
      <v-layout wrap>
        <span class="headline">Production Material Line</span>
      </v-layout>
    </v-container>
      <v-toolbar flat color="white">
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
        <download-excel class="btn btn-default" :data="gridProdcutItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Manufacturing Process Line.xls">
          <v-btn icon>
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>
        <v-dialog v-model="dialog" :disabled="enableAddButton">
          <v-btn slot="activator" icon @click.native="openPopup" :disabled="enableAddButton">
            <v-icon>add_circle_outline</v-icon>
          </v-btn>

          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose" :loading="subloader">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save" :loading="subloader">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add" :loading="subloader">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Production Material Line</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card>

            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="productLineform" lazy-validation>
                    <v-layout wrap>
                      <v-flex xs12 sm6 v-if="inActiveApi">
                        <v-autocomplete :loading="subloader" label="Specification on Salt or Base" prepend-icon="notes" v-model="editedItem.saltOrBaseId" :items="saltBaseItems" item-text="codeValue" item-value="codeID" chips required :rules="saltBaseRules" @change="onChangesaltOrBaseId">
                        </v-autocomplete>
                      </v-flex>
                      <v-flex v-if="inActiveApi" xs12 sm6>
                        <v-text-field v-if="xofGeneralItemNameFlag" v-model="editedItem.xofGeneralItemName" label="General Item Name" required prepend-icon="select_all" v-on:keyup="onChangexofGeneralItemName">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 v-if="inExcipientAPI">
                        <div>Specification on Water Molecule</div>
                        <v-radio-group v-model="editedItem.isWaterMaleculeFlag" row @change="onChangeWaterMalecule">
                          <v-radio label="Yes" value="1"></v-radio>
                          <v-radio label="No" value="0"></v-radio>
                        </v-radio-group>
                      </v-flex>
                      <v-flex xs12 sm6 v-if="inExcipientAPI">
                        <v-autocomplete label="Hydration" prepend-icon="notes" v-model="editedItem.hydrationId" :items="hydrationItems" item-text="value" item-value="applicationMasterDetailId" chips>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm6 v-if="inExcipientAPI">
                        <v-autocomplete label="Specification on Micronised or Mesh" prepend-icon="notes" v-model="editedItem.micronisedOrMeshId" :items="micronisedOrMeshItems" item-text="codeValue" item-value="codeID" chips @change="onchangemicronisedOrMesh">
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm6 v-if="inExcipientAPI">
                        <v-text-field v-if="particleSizeFlag" v-model="editedItem.particleSize" label="Particle Size in Micro" v-on:keyup="onChangeparticleSize" prepend-icon="select_all">
                        </v-text-field>

                        <v-text-field v-if="meshnoFlag" v-model="editedItem.meshNo" label="Mesh No" v-on:keyup="onChangemeshNo" prepend-icon="select_all">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 v-if="inExcipientAPI">
                        <div>Specification on Density</div>
                        <v-radio-group v-model="editedItem.isDensityFlag" row @change="onChangeisDensityFlag">
                          <v-radio label="Yes" value="1"></v-radio>
                          <v-radio label="No" value="0"></v-radio>
                        </v-radio-group>
                      </v-flex>
                      <v-flex xs12 sm6 v-if="inExcipientAPI">
                        <v-autocomplete label="Density" prepend-icon="notes" v-model="editedItem.density" :items="densityItems" item-text="codeValue" item-value="codeID" chips>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm6 v-if="inColor">
                        <v-layout wrap>
                          <v-flex xs6 sm6>
                            <v-text-field v-model="editedItem.dyeContentFrom" label="Dye Content From" prepend-icon="select_all" v-on:keyup="dyeContentFromInput">
                            </v-text-field>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <v-text-field v-model="editedItem.dyeContentTo" label="Dye Content To" prepend-icon="select_all" v-on:keyup="dyeContentToInput">
                            </v-text-field>
                          </v-flex>

                        </v-layout>
                      </v-flex>
                      <v-flex xs12 sm12>
                        <v-container grid-list-md style="background: gainsboro !important;padding: 10px;">
                          <v-layout wrap>
                            <span class="headline">Navision</span>
                          </v-layout>
                        </v-container>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Select Database require" prepend-icon="notes" v-model="editedItem.databaseRequireId" :items="databaseRequireItems" item-text="value" item-value="applicationMasterDetailId" chips>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs6 sm6>
                        <v-text-field v-model="editedItem.suggestNameBySystem" label="Suggest Name by System" prepend-icon="select_all" readonly>
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Navision SIN" prepend-icon="notes" v-model="editedItem.navisionSinid" :items="navItemsbyCountrySIGItems" item-text="itemNoDetail" item-value="itemId" chips>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Material Classification - SIN" prepend-icon="notes" v-model="editedItem.materialClassificationSIGId" :items="materialClassificationSIGItems" item-text="value" item-value="applicationMasterDetailId" chips multiple :search-input.sync="searchMaterialSIGTag" @change="selectMaterialSIGTag">
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeMaterialSIG(data.item)">

                              {{ data.item.value }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>

                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Navision MAL" prepend-icon="notes" v-model="editedItem.navisionMalId" :items="navItemsbyCountryMALItems" item-text="itemNoDetail" item-value="itemId" chips>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Material Classification - MAL" prepend-icon="notes" v-model="editedItem.materialClassificationMALId" :items="materialClassificationMALItems" item-text="value" item-value="applicationMasterDetailId" chips multiple :search-input.sync="searchMaterialMALTag" @change="selectMaterialMALTag">
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeMaterialMAL(data.item)">

                              {{ data.item.value }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>

                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm6>
                        <div>Change Navision to Propose name</div>
                        <v-radio-group v-model="editedItem.isChangeNavisonToProposeFlag" row>
                          <v-radio label="Yes" value="1"></v-radio>
                          <v-radio label="No" value="0"></v-radio>
                        </v-radio-group>
                      </v-flex>
                    </v-layout>
                </v-form>
              </v-card-text>

            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outline @click.native="save" :loading="subloader">save</v-btn>
              <v-btn color="primary darken-1" outline @click.native="close" :loading="subloader">Close</v-btn>
            </v-card-actions>

            <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
            </delete-confirmation-dialog>
          </v-card>
        </v-dialog>
        <v-tooltip bottom>
          <v-btn icon="" slot="activator" @click="initialize()">
            <v-icon icon>
              refresh
            </v-icon>
          </v-btn>
          <span>Refresh</span>
        </v-tooltip>
      </v-toolbar>

      <app-section-loader :status="subloader"></app-section-loader>

      <v-data-table :headers="headers" :items="gridProdcutItems" :search="search" class="elevation-1" default-sort="productionMaterialLineId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.saltOrBaseName }}</td>
          <td class="text-xs-left">{{ props.item.xofGeneralItemName }}</td>
          <td class="text-xs-left">{{ props.item.hydrationName }}</td>
          <td class="text-xs-left">{{ props.item.particleSize }}</td>
          <td class="text-xs-left">{{ props.item.meshNo }}</td>
          <td class="text-xs-left">{{ props.item.densityName }}</td>
          <td class="text-xs-left">{{ props.item.dyeContentFrom }}-{{props.item.dyeContentTo}}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
  </div>
</template>
<script>
  import GlobalMessage from '@/constant';
  import { createProductionMaterialLine, getProductionMaterialLine, updateProductionMaterialLine, deleteProductionMaterialLine } from '@/api/ProductionMaterial';
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster.js';
  import { getCodeMasterByType } from '@/api/applicationUser';
  import { getDescriptionByCountryItems } from '@/api/itemMaster';
  export default {
    components: {

    },
    data: () => ({
      dialog: false,
      subloader: false,
      editedIndex: -1,
      productionMaterialItems: [],
      genericNameItems: [],
      searchMaterialMALTag: "",
      searchMaterialSIGTag: "",
      search: '',
      saltBaseItems: [],
      gridProdcutItems: [],
      enableAddButton: true,
      hydrationItems: [],
      micronisedOrMeshItems: [],
      xofGeneralItemNameFlag: false,
      particleSizeFlag: false,
      meshnoFlag: false,
      densityItems: [],
      databaseRequireItems: [],
      productionMaterialId: -1,
      inActiveApi: false,
      inColor: false,
      inExcipientAPI: false,
      databaseRequireId: null,
      suggestNameBySystem: '',
      navItemsbyCountryMALItems: [],
      navItemsbyCountrySIGItems: [],
      materialClassificationMALItems: [],
      materialClassificationSIGItems: [],
      editedItem: {
        productLineform: false,
        productionMaterialLineId: -1,
        productionMaterialId: -1,
        saltOrBaseId: null,
        xofGeneralItemName: '',
        isWaterMaleculeFlag: "0",
        hydrationId: null,
        micronisedOrMeshId: null,
        particleSize: '',
        meshno: '',
        isDensityFlag: "0",
        density: null,
        dyeContentFrom: '',
        dyeContentTo: '',
        databaseRequireId: null,
        suggestNameBySystem: '',
        navisionSinid: null,
        navisionMalId: null,
        materialClassificationSIGId: [],
        materialClassificationMALId: [],
        isChangeNavisonToProposeFlag: '0',
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
      headers: [
        { text: 'Salt Or BaseName', value: 'saltOrBaseName', align: 'left' },
        { text: 'General Item Name', value: 'xofGeneralItemName', align: 'left' },
        { text: 'Hydration', value: 'hydrationName', align: 'left' },
        { text: 'Particle Size in Micro', value: 'particleSize', align: 'left' },
        { text: 'Mesh No', value: 'meshNo', align: 'left' },
        { text: 'Density', value: 'densityName', align: 'left' },
        { text: 'Dye Content', value: 'dyeContentFrom', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        'Salt Or BaseName': 'saltOrBaseName',
        'General Item Name': 'xofGeneralItemName',
        'Hydration': 'hydrationName',
        'Particle Size in Micro': 'particleSize',
        'Mesh No': 'meshNo',
        'Density': 'densityName',
        'Dye Content': 'dyeContentFrom',
      },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Production Material Line' : 'Edit Production Material Line';
      },
      saltBaseRules () {

        return [
          v => !!v || 'This is required field'
        ];
      },
    },
    created () {
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    methods: {
      initialize () {
        //console.log(this.productionMaterialItems);
        //console.log(this.genericNameItems);
        this.subloader = true;
        getProductionMaterialLine(this.productionMaterialId)
          .then(response => {
            this.gridProdcutItems = response.data;
            this.subloader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });

      },
      selectMaterialMALTag () {
        this.searchMaterialMALTag = "";
      },
      selectMaterialSIGTag () {
        this.searchMaterialSIGTag = "";
      },
      removeMaterialMAL (item) {
        const index = this.editedItem.materialClassificationMALId.indexOf(item.applicationMasterDetailId)
        if (index >= 0) this.editedItem.materialClassificationMALId.splice(index, 1)
      },
      removeMaterialSIG (item) {
        const index = this.editedItem.materialClassificationSIGId.indexOf(item.applicationMasterDetailId)
        if (index >= 0) this.editedItem.materialClassificationSIGId.splice(index, 1)
      },
      loadDropdownList () {
        this.saltBaseItems = [];
        getCodeMasterByType('SaltBaseStatus')
          .then(response => {
            this.saltBaseItems = response.data;
            this.subloader = false;
          })
          .catch(error => {
            this.subloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        this.micronisedOrMeshItems = [];
        getCodeMasterByType('MicronisedMeshStatus')
          .then(response => {
            this.micronisedOrMeshItems = response.data;
            this.subloader = false;
          })
          .catch(error => {
            this.subloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(155)
          .then(response => {
            this.databaseRequireItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getDescriptionByCountryItems(1)
          .then(response => {
            this.navItemsbyCountryMALItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getDescriptionByCountryItems(2)
          .then(response => {
            this.navItemsbyCountrySIGItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(255)
          .then(response => {
            this.materialClassificationMALItems = response.data;
            this.materialClassificationSIGItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      dyeContentFromInput: function (event) {
        this.editedItem.dyeContentFrom = this.editedItem.dyeContentFrom.replace(/[^0-9.]/g, '');
      },
      dyeContentToInput: function (event) {
        this.editedItem.dyeContentTo = this.editedItem.dyeContentTo.replace(/[^0-9.]/g, '');
      },
      onChangexofGeneralItemName: function (event) {
        this.editedItem.xofGeneralItemName = this.editedItem.xofGeneralItemName.replace(/[^0-9.]/g, '');
      },
      onChangeparticleSize () {
        this.editedItem.suggestNameBySystem = this.productionMaterialItems.rawMaterialName + ' (Micronised) ' + (this.editedItem.particleSize);

      },
      onChangemeshNo () {
        this.editedItem.suggestNameBySystem = this.productionMaterialItems.rawMaterialName + ' (Mesh) ' + (this.editedItem.meshNo);

      },

      onChangesaltOrBaseId () {
        let list = this.saltBaseItems.filter(o => o.codeID == this.editedItem.saltOrBaseId);
        this.xofGeneralItemNameFlag = false;
        let string = "Require in Salt and use as Base form";
        if (list.length > 0 && (list[0].codeValue).toLowerCase() == string.toLowerCase()) {
          this.xofGeneralItemNameFlag = true;
        }
      },
      onchangemicronisedOrMesh () {
        let list = this.micronisedOrMeshItems.filter(o => o.codeID == this.editedItem.micronisedOrMeshId);
        this.particleSizeFlag = false;
        this.meshnoFlag = false;
        if (list.length > 0) {
          if ((list[0].codeValue).toLowerCase() == "micronised") {
            this.particleSizeFlag = true;
            this.editedItem.suggestNameBySystem = this.productionMaterialItems.rawMaterialName + ' (' + list[0].codeValue + ') ' + (this.editedItem.particleSize);

          }
          if ((list[0].codeValue).toLowerCase() == "mesh") {
            this.meshnoFlag = true;
            this.editedItem.suggestNameBySystem = this.productionMaterialItems.rawMaterialName + ' (' + list[0].codeValue + ') ' + (this.editedItem.meshNo);

          }
        }
      },
      onChangeWaterMalecule () {
        this.hydrationItems = [];
        this.editedItem.hydrationId = null;
        if (this.editedItem.isWaterMaleculeFlag == 1) {
          getApplicationMasterDetailByType(153)
            .then(response => {
              this.hydrationItems = response.data;
              this.subloader = false;
            })
            .catch(error => {
              this.subloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      onChangeisDensityFlag () {
        this.densityItems = [];
        this.editedItem.density = null;
        if (this.editedItem.isDensityFlag == 1) {
          getCodeMasterByType('DensityStatus')
            .then(response => {
              this.densityItems = response.data;
              this.subloader = false;
            })
            .catch(error => {
              this.subloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      editItem (item) {
        this.loadDropdownList();

        this.editedIndex = this.gridProdcutItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        setTimeout(() => {
          this.dialog = true;
          this.onChangesaltOrBaseId();
          this.onchangemicronisedOrMesh();
          this.onChangeWaterMalecule();
          this.onChangeisDensityFlag();
          this.editedItem.density = item.density;
          this.editedItem.hydrationId = item.hydrationId;
        }, 500);
      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      saveAndClose () {
        this.save();
        this.dialog = false;
      },
      add () {
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.productionMaterialLineId = -1;
        this.editedItem.xofGeneralItemName = "";
        this.editedItem.saltOrBaseId = null;
        this.editedItem.isWaterMaleculeFlag = "0";
        this.editedItem.isDensityFlag = "0";
        this.editedItem.hydrationId = null;
        this.editedItem.micronisedOrMeshId = null;
        this.editedItem.particleSize = '';
        this.editedItem.meshNo = '';
        this.editedItem.dyeContentFrom = '';
        this.editedItem.dyeContentTo = '';
        this.editedItem.databaseRequireId = null;
        this.editedItem.suggestNameBySystem = '';
        this.editedItem.navisionSinid = null;
        this.editedItem.navisionMalId = null;
        this.editedItem.materialClassificationSIGId = [];
        this.editedItem.materialClassificationMALId = [];
        this.editedItem.isChangeNavisonToProposeFlag = "0";
        this.particleSizeFlag = false;
        this.meshnoFlag = false;
        this.xofGeneralItemNameFlag = false;
        this.loadDropdownList();
      },
      openPopup () {
        this.dialog = true;
        this.add();
      },
      save () {
        this.editedItem.productionMaterialId = this.productionMaterialId;
        if (this.$refs.productLineform.validate()) {
          this.subloader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridProdcutItems[this.editedIndex], this.editedItem);
            updateProductionMaterialLine(this.editedItem)
              .then(response => {
                Object.assign(this.gridProdcutItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            createProductionMaterialLine(this.editedItem)
              .then(response => {
                this.gridProdcutItems.push(response.data);
                this.subloader = false;
                this.editedItem.productionMaterialLineId = response.data.productionMaterialLineId;
                let index = this.gridProdcutItems.map(item => item.productionMaterialLineId).indexOf(response.data.productionMaterialLineId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.subloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.productionMaterialLineId > -1) {
          this.subloader = true;
          let index = this.gridProdcutItems.indexOf(this.editedItem);
          deleteProductionMaterialLine(this.editedItem)
            .then(() => {
              this.subloader = false;
              this.gridProdcutItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.subloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
    }
  }
</script>
<style lang="stylus" scoped>
  .task-sub--scroll {
    overflow: auto;
    height: calc(100vh - 170px - 60px);
  }
</style>