<template>

  <div>

    <v-container grid-list-md style="background: gainsboro !important;padding: 10px;">
      <v-layout wrap>
        <span class="headline">Active Ingredient</span>
      </v-layout>
    </v-container>

    <v-container grid-list-md>
      <v-toolbar flat color="white">
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details :disabled="enableAddButton"></v-text-field>
        <download-excel class="btn btn-default" :data="gridProdcutItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Active Ingredient.xls">
          <v-btn icon :disabled="enableAddButton">
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>
        <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
          <v-btn slot="activator" icon :disabled="enableAddButton" @click.native="add">
            <v-icon>add_circle_outline</v-icon>
          </v-btn>
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
              <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="saveAndClose">
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
                <span>Save and Close</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="save">
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save </span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="add">
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Create New Product Line Maste</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="deleterow">
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete</span>
              </v-tooltip>

              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>

            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="productLineform" lazy-validation>
                  <v-container grid-list-md>
                    <v-layout row wrap>
                          <v-flex xs12 sm6>
                              <v-autocomplete :loading="subloader" label="Material  List" prepend-icon="notes" v-model="editedItem.materialId" :items="navItems" item-text="value" item-value="applicationMasterDetailId" required :rules="categoryRules" chips>
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeMaterial(data.item)">

                              {{ data.item.value }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>

                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-autocomplete>
                              </v-flex>
                              <v-flex xs12 sm6>
                              </v-flex>
                      <v-flex xs12 sm9>
                        <v-layout row wrap>
                           
                   <v-flex xs12 sm6>   
			                  <v-layout row wrap>                   
                      		<v-flex xs12 sm2 class="boxheader">
                      		</v-flex>
                      		<v-flex xs12 sm10 class="boxheader">
                        	<span class="headline">Dosage Information</span>
                      		</v-flex>
                          
                      		<v-flex xs12 sm2 class="boxheader"></v-flex>
                      		<v-flex xs12 sm8>
                        	<v-text-field prepend-icon="search" label="Dosage" v-model="editedItem.dosageForm"></v-text-field>
                      		</v-flex>
                     		 <v-flex xs12 sm2 class="boxheader"></v-flex>
                     		 <v-flex xs12 sm2 class="boxheader"></v-flex>
                      		<v-flex xs12 sm8>
                      			 <v-autocomplete label="Dosage Units" prepend-icon="notes" v-model="editedItem.uom" :items="masterItems" item-text="value" item-value="applicationMasterDetailId" chips required :rules="categoryRules">
                       		   <template slot="selection" slot-scope="data">
                         		   	<v-chip :selected="data.selected" close class="chip--select-multi" @input="removeUnits(data.item)">

                         			     {{ data.item.value }}
                            			</v-chip>
                         		 </template>
                          <template slot="item" slot-scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>

                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                      <v-flex xs12 sm8>
                        <v-autocomplete label="Per Dosage" prepend-icon="notes" v-model="editedItem.perDosage" :items="perDosageItems" item-text="value" item-value="applicationMasterDetailId" chips required :rules="categoryRules">
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeperDosage(data.item)">

                              {{ data.item.value }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>

                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                       <v-flex xs12 sm12 class="boxheader">
                       </v-flex>
                    
                     
                 </v-layout>
                   </v-flex>
                  <v-flex xs12 sm6>
                    <v-layout row wrap>
                      <v-flex xs12 sm2 class="boxheader">
                      </v-flex>
                      <v-flex xs12 sm10 class="boxheader">
                        <span class="headline">Overage Information</span>
                      </v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                      <v-flex xs12 sm8>
                          <v-text-field v-model="editedItem.overage" label="Overage" prepend-icon="select_all" v-on:keyup="dosageFormChange" v-on:change="dosageFormChange">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                      <v-flex xs12 sm8>
                         <v-autocomplete label="Overage Units" prepend-icon="notes" v-model="editedItem.overageUnits" :items="overageItems" item-text="value" item-value="applicationMasterDetailId" chips>
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeOverageUnits(data.item)">

                              {{ data.item.value }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>

                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                      <v-flex xs12 sm8>
                       <v-autocomplete label="Dosage Units" prepend-icon="notes" v-model="editedItem.dosageUnits" :items="masterItems" item-text="value" item-value="applicationMasterDetailId" chips>
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeDosageUnits(data.item)">

                              {{ data.item.value }}
                            </v-chip>
                          </template>
                          <template slot="item" slot-scope="data">
                            <template v-if="typeof data.item !== 'object'">
                              <v-list-tile-content v-text="data.item"></v-list-tile-content>
                            </template>
                            <template v-else>

                              <v-list-tile-content>
                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>

                              </v-list-tile-content>
                            </template>
                          </template>
                        </v-autocomplete>

                      </v-flex>
                      <v-flex xs12 sm2 class="boxheader"></v-flex>
                       <v-flex xs12 sm12 class="boxheader">
                       </v-flex>
                    </v-layout>
                  </v-flex>

                        

                        </v-layout>

                      </v-flex>
                     
                       <v-flex xs12 sm3>
                          
                        
                           <v-card
                        width='100%'
                        height='100%'
                        class="rounded-card"
                      >
                       <v-layout row wrap>
                      <v-flex
                        xs12
                        sm12
                      >
                        <span class="headline">Reference</span>
                      </v-flex>
                       <v-flex
                        xs12
                        sm6
                      >
                        <label>Product Name:</label>
                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <label><b>{{refer.productName}}</b></label>
                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <label>Manufacturing site:</label>
                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <label><b>{{refer.manufacturingSite}}</b></label>
                      </v-flex>
                     
                      </v-layout>

                      </v-card>
                   
                      

                        
                      </v-flex>
                    </v-layout>
                    
                  </v-container>
                </v-form>
              </v-card-text>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
              <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
            </v-card-actions>
            <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
            </delete-confirmation-dialog>

          </v-card>
        </v-dialog>
        <v-tooltip bottom>
          <v-btn icon="" slot="activator" @click="initialize()" :disabled="enableAddButton">
            <v-icon icon>
              refresh
            </v-icon>
          </v-btn>
          <span>Refresh</span>
        </v-tooltip>
      </v-toolbar>

      <app-section-loader :status="subloader"></app-section-loader>

      <v-data-table :headers="headers" :items="gridProdcutItems" :search="search" class="elevation-1" default-sort="finishProductLineId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.materialName }}</td>
          <td class="text-xs-left">{{ props.item.dosageForm }}</td>
          <td class="text-xs-left">{{ props.item.unitName }}</td>
           <td class="text-xs-left">{{ props.item.perDosageName }}</td>
            <td class="text-xs-left">{{ props.item.overage }}</td>
          <td class="text-xs-left">{{ props.item.overageUnitsName }}</td>        
         
          <td class="text-xs-left">{{ props.item.dosageUnitsName }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>
<script>
  import GlobalMessage from '@/constant';
  import { getNavItemsMat } from '@/api/nav.js';
  import { createFinishProductLine, getFinishProductLine, updatefinishProductLine, deleteFinishProductLine } from '@/api/finishProductLine';
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster.js';
  export default {
    data: () => ({
      dialog: false,
      subloader: false,
      editedIndex: -1,
      search: '',
      navItems: [],
      masterItems: [],
      overageItems: [],
      perDosageItems: [],
      gridProdcutItems: [],
      enableAddButton: true,
       refer: {
                productName: "",
                manufacturingSite: "",               
            },
      editedItem: {
        productLineform: false,
        finishProductLineId: -1,
        finishProductId: -1,
        materialId: null,
        dosageForm: '',
        uom: null,
        overage: '',
        dosageUnits: null,
        overageUnits: null,
        perDosage: null,
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
      headers: [
        { text: 'Material Name', value: 'materialName', align: 'left' },
        { text: 'Dosage', value: 'dosageForm', align: 'left' },
        { text: 'Units', value: 'unitName', align: 'left' },
         { text: 'Per Dosage', value: 'perDosageName', align: 'left' },
        { text: 'Overage', value: 'overage', align: 'left' },
        { text: 'Overage Units', value: 'overageUnitsName', align: 'left' },       
        { text: 'Dosage Units', value: 'dosageUnitsName', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        'Material Name': 'materialName',
        'Dosage': 'dosageForm',
        'Units': 'unitName',
        'Per Dosage': 'perDosageName',
        'Overage': 'overage',
        
        'Overage UnitsName': 'overageUnitsName',
        'Dosage Units': 'dosageUnits',
        'Dosage UnitsName': 'dosageUnitsName',
      },
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Active Ingredient Line' : 'Edit Active Ingredient Line';
      },
      categoryRules () {

        return [
          v => !!v || 'This is required field'
        ];
      },
    },
    created () {
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    methods: {
      initialize () {

        getFinishProductLine(this.editedItem.finishProductId)
          .then(response => {
            this.gridProdcutItems = response.data;

          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });


      },
      loadDropdownList () {
        this.masterItems = [];
        this.overageItems = [];
        this.getDosageItems(122);
        getApplicationMasterDetailByType(126)
          .then(response => {
            this.navItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });

        this.getOverageItems(125);
        this.getperDosageItems(131);
      },
      removeUnits () {
        this.editedItem.uom = null;
      },
      removeDosageUnits () {
        this.editedItem.dosageUnits = null;
      },
      removeOverageUnits () {
        this.editedItem.overageUnits = null;
      },
      removeMaterial () {
        this.editedItem.materialId = null;
      },
      removeperDosage () {
        this.editedItem.perDosage = null;
      },
      dosageFormChange: function (event) {
        this.editedItem.dosageForm = this.editedItem.dosageForm.replace(/[^0-9.]/g, '');
      },
      getDosageItems (type) {
        getApplicationMasterDetailByType(type)
          .then(response => {
            this.masterItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      getperDosageItems (type) {
        getApplicationMasterDetailByType(type)
          .then(response => {
            this.perDosageItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      getOverageItems (type) {
        getApplicationMasterDetailByType(type)
          .then(response => {
            this.overageItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      editItem (item) {
        this.loadDropdownList();
        this.editedIndex = this.gridProdcutItems.indexOf(item);
        this.editedItem = Object.assign({}, item);

        this.dialog = true;
      },
      close () {
        this.dialog = false;
        this.add();
      },
      saveAndClose () {
        this.save();
        this.dialog = false;
      },
      add () {
        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.materialId = null;
        this.editedItem.finishProductLineId = -1;
        this.editedItem.dosageForm = '';
        this.editedItem.uom = null;
        this.editedItem.overage = '';
        this.editedItem.dosageUnits = null;
        this.editedItem.overageUnits = null;
        this.editedItem.perDosage = null;
      },
      openPopup () {
        //this.dialog = true;
        this.add();
      },
      save () {
       
        if (this.$refs.productLineform.validate()) {          
          this.subloader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridProdcutItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updatefinishProductLine(this.editedItem)
              .then(response => {
                Object.assign(this.gridProdcutItems[index], response.data);
                this.subloader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.subloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            createFinishProductLine(this.editedItem)
              .then(response => {
                this.gridProdcutItems.push(response.data);
                this.subloader = false;
                this.editedItem.finishProductLineId = response.data.finishProductLineId;
                let index = this.gridProdcutItems.map(item => item.finishProductLineId).indexOf(response.data.finishProductLineId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.subloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.finishProductLineId > -1) {
          this.subloader = true;
          let index = this.gridProdcutItems.indexOf(this.editedItem);
          deleteFinishProductLine(this.editedItem)
            .then(() => {
              this.subloader = false;
              this.gridProdcutItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.subloader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
    }
  }
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
      height: calc(100vh - 110px - 60px);
   }
   .boxheader {
    background: gainsboro !important;
  }
</style>
