<template>
  <div>
    <v-container style="background: gainsboro !important;padding: 10px;">
      <v-layout wrap>
        <span class="headline">Excipient information by manufacturing process</span>
      </v-layout>
    </v-container>
    <v-container>
      <v-toolbar flat color="white">
        <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details :disabled="enableAddButton"></v-text-field>
        <download-excel class="btn btn-default" :data="gridExicipintinformationLine" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Excipient Information.xls">
          <v-btn icon :disabled="enableAddButton">
            <v-icon>cloud_download</v-icon>
          </v-btn>
        </download-excel>
        <v-dialog v-model="lineseconddialog" fullscreen :disabled="enableAddButton">
          <v-btn slot="activator" icon :disabled="enableAddButton" @click.native="add">
            <v-icon>add_circle_outline</v-icon>
          </v-btn>
          <v-card>
            <v-toolbar card dense color="primary">
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
                <span>Go Back</span>
              </v-tooltip>
              <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="saveAndClose">
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
                <span>Save and Close</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="save">
                  <v-icon color="white">save</v-icon>
                </v-btn>
                <span>Save</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="add">
                  <v-icon color="white">add</v-icon>
                </v-btn>
                <span>Create New Excipient information by manufacturing process</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="deleterow">
                  <v-icon color="white">delete</v-icon>
                </v-btn>
                <span>Delete</span>
              </v-tooltip>

              <v-spacer></v-spacer>
              <v-tooltip bottom>
                <v-btn icon slot="activator" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
                <span>Close</span>
              </v-tooltip>
            </v-toolbar>
            
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
           <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="productLineform" lazy-validation>
                  <v-layout row wrap>
                    <v-flex lg8 sm8>
                      <v-container grid-list-md>
                        <v-layout row wrap>
                          <v-flex xs6 sm6>
                            <v-autocomplete :loading="subsubloader" label="Material Name" prepend-icon="notes" v-model="editedItem.materialNameID" :items="itemClassificationItems" item-text="fpMaterial" item-value="itemClassificationHeaderID" chips></v-autocomplete>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <v-autocomplete label="Material Function" prepend-xicon="notes" v-model="editedItem.materialFunctionID" :items="functionItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                          </v-flex>
                        </v-layout>
                        <v-layout row wrap>
                          <v-flex xs6 sm6>
                            <v-layout row wrap>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs11 sm11 class="backgroundlayout">
                                <span>Dosage Information</span>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs10 sm10>
                                <v-text-field v-model="editedItem.dosage" label="Dosage" required prepend-icon="select_all" v-on:keyup="doasgeChange" v-on:change="doasgeChange"></v-text-field>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>

                              <v-flex xs10 sm10>
                                <v-autocomplete label="Dosage Units" prepend-icon="notes" v-model="editedItem.dosageInformationDosageUnitsID" :items="dosageUnitsItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs10 sm10>
                                <v-autocomplete label="Per Dosage" prepend-icon="notes" v-model="editedItem.perDosageID" :items="perdosageItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs12 sm12 class="backgroundlayout"></v-flex>
                            </v-layout>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <v-layout row wrap>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs11 sm11 class="backgroundlayout">
                                <span>Overage Information</span>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs10 sm10>
                                <v-text-field v-model="editedItem.overage" label="Overage" required prepend-icon="select_all" v-on:keyup="overageChange" v-on:change="overageChange"></v-text-field>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs10 sm10>
                                <v-autocomplete label="Overage Units" prepend-icon="notes" v-model="editedItem.overageUnitsID" :items="overageUnitsItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs10 sm10>
                                <v-autocomplete label="Dosage Units" prepend-icon="notes" v-model="editedItem.overageInformationDosageUnitsID" :items="dosageUnitsItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                              </v-flex>
                              <v-flex xs1 sm1 class="backgroundlayout"></v-flex>
                              <v-flex xs12 sm12 class="backgroundlayout"></v-flex>
                            </v-layout>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                    <v-flex lg4 sm4>
                      <v-card class="rounded-card">
                        <v-layout row wrap>
                          <v-flex xs12 sm12>
                            <span class="headline">Reference</span>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Product Name:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Manufacturing site:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.manufacturingSite}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Register Country:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.countryName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Product Registration Holder:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productRegistrationHolderName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Register Product Owner:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productOwner}}</b>
                            </label>
                          </v-flex>
                        </v-layout>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-card-text>
            </div>
            <!-- <product-b-o-m-by-per-unit-line-line-line ref="refProductLinesLineLine"></product-b-o-m-by-per-unit-line-line-line> -->

            <v-card-actions v-if="isInformaionvsmaster">
              <v-spacer></v-spacer>
              <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
              <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
            </v-card-actions>
            <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
          </v-card>
        </v-dialog>
        <v-tooltip bottom>
          <v-btn icon slot="activator" @click="initialize()" :disabled="enableAddButton">
            <v-icon icon>refresh</v-icon>
          </v-btn>
          <span>Refresh</span>
        </v-tooltip>
      </v-toolbar>

      <app-section-loader :status="subsubloader"></app-section-loader>

      <v-data-table :headers="headers" :items="gridExicipintinformationLine" :search="search" class="elevation-1" default-sort="excipientInformationLineByProcessID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.materialName }}</td>
          <td class="text-xs-left">{{ props.item.materialFunction }}</td>
          <td>{{ props.item.dosage }}</td>
          <td>{{ props.item.dosageInformationDosageUnits }}</td>
          <td>{{ props.item.perDosage }}</td>
          <td class="text-xs-left">{{ props.item.overage }}</td>
          <td class="text-xs-left">{{ props.item.overageInformationDosageUnits }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-if="isInformaionvsmaster">delete</v-icon>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import { getNavItemsMat } from "@/api/nav.js";
  import {
    getItemClassificationByUserID,
    getItemClassificationHeaders
  } from "@/api/itemClassification";
  //import ProductBOMByPerUnitLineLineLine from '@/pages/productionplanning/salesorder/ProductBOMByPerUnitLineLineLine.vue'

  import {
    getExcipientInformationLineByProcessByID,
    createExcipientInformationLineByProcess,
    updateExcipientInformationLineByProcess,
    deleteExcipientInformationLineByProcess
  } from "@/api/excipientInformationLine";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
  import { getGenericItemNameListing } from "@/api/genericnamelisting";
  import { getProductionMaterialGenericList } from "@/api/ProductionMaterial";

  export default {
    components: {
      //ProductBOMByPerUnitLineLineLine
    },
    data: () => ({
      lineseconddialog: false,
      subsubloader: false,
      editedIndex: -1,
      search: "",
      perUnitFormulationLineID: null,
      isInformaionvsmaster: true,

      gridExicipintinformationLine: [],

      genericItemNameItems: [],
      generalRawMaterialNameItems: [],
      navisionDataBaseItems: [],
      dosageUnitsItems: [],
      perdosageItems: [],
      overageUnitsItems: [],
      itemClassificationItems: [],
      functionItems: [],
      productlist: [],
      enableAddButton: false,
      refer: {
        productName: "",
        manufacturingSite: "",
        countryName: "",
        productRegistrationHolderName: "",
        productOwner: ""
      },
      editedItem: {
        productLineform: false,
        excipientInformationLineByProcessID: -1,
        perUnitFormulationLineID: null,
        materialNameID: null,
        materialmaterialFunctionID: null,
        dosage: "",
        dosageInformationDosageUnitsID: null,
        perDosageID: null,
        overage: "",
        overageUnitsID: null,
        overageInformationDosageUnitsID: null,
        statusCodeID: 1,
        addedByUserID: "",
        addedDate: ""
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      headers: [
        { text: "Material Name", value: "materialName", align: "left" },
        { text: "Material Function", value: "materialFunction", align: "left" },

        { text: "Dosage", value: "dosage", align: "left" },
        { text: "Dosage Units", value: "dosageInformationDosageUnits", align: "left" },
        { text: "Per Dosage", value: "perDosage", align: "left" },

        { text: "Overage", value: "overage", align: "left" },
        { text: "Overage Units", value: "overageInformationDosageUnits", align: "left" },

        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],
      json_fields: {
        "Material Name": "materialName",
        "Material Function": "processName",
        Dosage: "dosage",
        "Dosage Units": "dosageInformationDosageUnits",
        Overage: "overage",
        "Overage Units": "overageInformationDosageUnits",
        "Per Dosage": "perDosage",
      }
    }),
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Excipient information by manufacturing process"
          : "Edit Excipient information by manufacturing process";
      },
      categoryRules () {
        return [v => !!v || "This is required field"];
      }
    },
    created () { },
    watch: {},
    methods: {
      initialize () {
        this.subsubloader = true;
        getItemClassificationHeaders("")
          .then(response3 => {
            this.itemClassificationItems = response3.data;
            console.log(
              "itemclassificationheader" + JSON.stringify(response3.data)
            );
            this.subsubloader = false;
          })
          .catch(error => {
            this.subsubloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.subsubloader = true;
        getExcipientInformationLineByProcessByID(this.perUnitFormulationLineID)
          .then(response => {
            this.subsubloader = false;
            this.gridExicipintinformationLine = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
            this.subsubloader = false;
          });
      },
      loadDropdownList () {
        this.dosageUnitsItems = [];
        this.perdosageItems = [];
        this.overageUnitsItems = [];
        this.functionItems = [];

        getApplicationMasterDetailByType(106)
          .then(response => {
            this.functionItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(131)
          .then(response => {
            this.perdosageItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(125)
          .then(response => {
            this.overageUnitsItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(122)
          .then(response => {
            this.dosageUnitsItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });

        getItemClassificationHeaders("")
          .then(response3 => {
            this.itemClassificationItems = response3.data;
            console.log(
              "itemclassificationheader" + JSON.stringify(response3.data)
            );
            this.subloader = false;
          })
          .catch(error => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      doasgeChange: function (event) {
        this.editedItem.dosage = this.editedItem.dosage.replace(/[^0-9.]/g, "");
      },
      overageChange: function (event) {
        this.editedItem.overage = this.editedItem.overage.replace(/[^0-9.]/g, "");
      },

      editItem (item) {
        this.loadDropdownList();
        this.editedIndex = this.gridExicipintinformationLine.indexOf(item);
        setTimeout(() => {
          this.editedItem = Object.assign({}, item);
          this.lineseconddialog = true;
        }, 500);
      },
      close () {
        this.lineseconddialog = false;
        this.add();
      },
      saveAndClose () {
        this.save();
        this.lineseconddialog = false;
      },
      add () {
        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.productLineform = false;
        this.editedItem.excipientInformationLineByProcessID = -1;
        this.editedItem.perUnitFormulationLineID = null;
        this.editedItem.materialNameID = null;
        this.editedItem.materialFunctionID = null;
        this.editedItem.dosage = "";
        this.editedItem.dosageUnitsID = null;
        this.editedItem.perDosageID = null;
        this.editedItem.overage = "";
        this.editedItem.dosageInformationDosageUnitsID = null;
        this.editedItem.overageInformationDosageUnitsID = null;
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = "";
        this.editedItem.addedDate = "";
      },
      openPopup () {
        this.lineseconddialog = true;
        this.add();
      },
      save () {
        if (this.$refs.productLineform.validate()) {
          this.editedItem.perUnitFormulationLineID = this.perUnitFormulationLineID;
          this.subsubloader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(
              this.gridExicipintinformationLine[this.editedIndex],
              this.editedItem
            );
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updateExcipientInformationLineByProcess(this.editedItem)
              .then(response => {
                Object.assign(
                  this.gridExicipintinformationLine[index],
                  response.data
                );
                this.subloader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.subloader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createExcipientInformationLineByProcess(this.editedItem)
              .then(response => {
                this.gridExicipintinformationLine.push(response.data);
                this.subsubloader = false;
                this.editedItem.excipientInformationLineByProcessID =
                  response.data.excipientInformationLineByProcessID;
                let index = this.gridExicipintinformationLine
                  .map(item => item.excipientInformationLineByProcessID)
                  .indexOf(response.data.excipientInformationLineByProcessID);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.subsubloader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.excipientInformationLineByProcessID > -1) {
          this.subsubloader = true;
          let index = this.gridExicipintinformationLine.indexOf(this.editedItem);
          deleteExcipientInformationLineByProcess(this.editedItem)
            .then(() => {
              this.subsubloader = false;
              this.gridExicipintinformationLine.splice(index, 1);
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.subsubloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    }
  };
</script>
<style scoped>
  .backgroundlayout {
    background: gainsboro !important;
  }
</style>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>
