<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="FinishProductExcipient.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Product Excipient</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
         
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
             <div class="task-sub--scroll">
              <v-card-text>
                <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                  <v-layout row wrap>
                    <v-flex lg8 sm8>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12 sm6>
                            <v-autocomplete label="Prodct Name" prepend-icon="notes" v-model="editedItem.finishProductId" :items="fpProductItems" item-text="productName" item-value="fpManufacturingRecipeID" @change="getManufactureSite" chips></v-autocomplete>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field v-model="editedItem.manufacturingSite" label="Manufacturing Site" prepend-icon="description" readonly></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field v-model="registerCountry" label="Register Country" prepend-icon="description" readonly></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field v-model="productRegistrationHolder" label="Product Registration Holder" prepend-icon="description" readonly></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID" chips></v-autocomplete>
                          </v-flex>

                          <v-flex xs12 sm6 v-if="editedItem.statusCodeID==1061">
                            <v-checkbox v-model="editedItem.isInformationvsmaster" label="Same as any existing BOM?" primary hide-details></v-checkbox>
                          </v-flex>
                          <v-flex xs12 sm6 v-if="editedItem.isInformationvsmaster">
                            <v-autocomplete label="Same as BOM No" prepend-icon="notes" v-model="editedItem.sameAsBMPNo" :items="sameAsBMPNoItems" item-text="productName" item-value="fpManufacturingRecipeID" chips></v-autocomplete>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-text-field v-model="editedItem.newBMPNo" prepend-icon="notes" label="New BOM NO" readonly></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-flex>
                    <v-flex lg4 sm4>
                      <v-card class="rounded-card">
                        <v-layout wrap>
                          <v-flex xs12 sm12>
                            <span class="headline">Reference</span>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Manufacturing site:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.manufacturingSite}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Register Country:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.countryName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Product Registration Holder:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productRegistrationHolderName}}</b>
                            </label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>Register Product Owner:</label>
                          </v-flex>
                          <v-flex xs6 sm6>
                            <label>
                              <b>{{refer.productOwner}}</b>
                            </label>
                          </v-flex>
                        </v-layout>
                      </v-card>
                    </v-flex>
                  </v-layout>
                </v-form>
              </v-card-text>

              <per-unit-line ref="refPerUnitLine"></per-unit-line>
            </div>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="finishProductExcipientId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.productName }}</td>
          <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.isMasterDocument">done</v-icon>
          </td>
          <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.isInformationvsmaster">done</v-icon>
          </td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
    </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import Util from "@/util";
  import moment from "moment";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getFinishProductGeneralInfos } from "@/api/productGeneralinfo";
  import { perUnitFormulationLineByID } from "@/api/perUnitFormulationLine";
  import PerUnitLine from "@/pages/productionplanning/salesorder/ProductBOMByPerUnitLine.vue";
  import {
    createFinishProductExcipient,
    getDataFinishProductExcipient,
    isMasterExist,
    getFinishProductExcipientByFinishProduct,
    getFinishProductExcipient,
    updateFinishProductExcipient,
    deleteFinishProductExcipient
  } from "@/api/finishproductexcipient";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getFPCommonFields } from "@/api/fpCommonField";
  import { getFPManufacturingRecipes } from "@/api/fpmanufacturingRecipe";
  export default {
    components: {
      PerUnitLine
    },
    data: () => ({
      dialog: false,
      search: "",
      loader: false,
      editedIndex: -1,
      searchTag: "",
      searchFilter: "",
      showIcon: true,
      finishProductId: null,
      productName: "",
      registerCountry: "",
      productRegistrationHolder: "",
      manufacturingSite: "",
      gridItems: [],
      productRegItems: [],
      countryItems: [],
      statusOptions: [],
      registerationStatusItem: [],
      fpCommonFieldItems: [],
      fpProductItems: [],
      sameAsBMPNoItems: [],
      menuprodSearch: false,
      searchFilter: "",
      editedItem: {
        valid: false,
        productName: "",
        finishProductExcipientId: -1,
        finishProductId: null,
        isMasterDocument: false,
        isInformationvsmaster: false,
        statusCodeID: 1061,
        addedByUserID: "",
        addedDate: "",
        registerationCodeId: null,
        fpCommonFieldID: null,
        finishProductId: null,
        manufacturingSite: "",
        fpProductName: "",
        sameAsBMPNo: null,
        newBMPNo: ""
      },
      headers: [
        { text: "FP Product Name", value: "productName", align: "left" },
        { text: "Same As Master", value: "isMasterDocument", align: "left" },
        {
          text: "Same As Existing BMP",
          value: "isInformationvsmaster",
          align: "left"
        },
        { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Added Date", value: "addedDate", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],
      json_fields: {
        "Registeration Status": "registerationCodeName",
        "Product Name": "productName",
        "Master Docuement": "isMasterDocument",
        "Information Master": "isInformationvsmaster",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate"
      },
      productheaders: [
        {
          text: "Product Name",
          value: "productName",
          sortable: false,
          align: "left"
        },
        {
          text: "Manufacturing Site",
          value: "manufacturingSiteName",
          sortable: false,
          align: "left"
        },
        {
          text: "Register Country",
          value: "country",
          sortable: false,
          align: "left"
        },
        {
          text: "Product Registration Holder",
          value: "productRegistrationHolderName",
          sortable: false,
          align: "left"
        },
        {
          text: "Register Product Owner",
          value: "productOwner",
          sortable: false,
          align: "left"
        }
      ],
      refer: {
        manufacturingSite: "",
        countryName: "",
        productRegistrationHolderName: "",
        productOwner: ""
      },
      products: [],
      selected: [],
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10
      },
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Product BOM by per unit"
          : "Edit Product BOM by per unit";
      },
      RegistrationRules () {
        return [v => !!v || "Registartion Status is required"];
      }
    },
    methods: {
      initialize () {
        this.loader = true;
        getFinishProductExcipient()
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loadProducts();
        getCodeMasterByType("Registration Status")
          .then(response => {
            this.registerationStatusItem = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCodeMasterByType("Master Status")
          .then(response => {
            this.statusOptions = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(138)
          .then(response => {
            this.productRegItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(109)
          .then(response => {
            this.countryItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getfpProductName () {
        this.editedItem.fpProductName = "";
        let list = this.fpCommonFieldItems.filter(
          o => o.fpCommonFieldID == this.editedItem.fpCommonFieldID
        );
        if (list.length > 0) {
          this.editedItem.fpProductName = list[0].profile;
        }
      },
      getManufactureSite () {
        this.editedItem.manufacturingSite = "";
        let list = this.fpProductItems.filter(
          o => o.fpManufacturingRecipeID == this.editedItem.finishProductId
        );
        if (list.length > 0) {
          this.editedItem.manufacturingSite = list[0].manufacturingSite;
          this.registerCountry = list[0].registerCountry;
          this.productRegistrationHolder = list[0].registerHolderName;
        }
      },
      loadDropDowns () {
        getFPCommonFields()
          .then(response => {
            this.fpCommonFieldItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loader = true;
        getFPManufacturingRecipes("")
          .then(response => {
            this.fpProductItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      loadProducts () {
        getFinishProductGeneralInfos("")
          .then(response => {
            this.products = response.data;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      save () {
        if (this.$refs.form.validate() && this.editedItem.finishProductId > 0) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updateFinishProductExcipient(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                this.$refs.refPerUnitLine.enableAddButton = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();

            createFinishProductExcipient(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.finishProductExcipientId =
                  response.data.finishProductExcipientId;
                let index = this.gridItems
                  .map(item => item.finishProductExcipientId)
                  .indexOf(response.data.finishProductExcipientId);
                this.editedIndex = index;
                this.$refs.refPerUnitLine.enableAddButton = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      add () {
        this.loadDropDowns();
        this.$refs.refPerUnitLine.enableAddButton = true;
        this.$refs.refPerUnitLine.finishProductExcipintID = null;
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.isMasterDocument = false;
        this.editedItem.isInformationvsmaster = false;
        this.editedItem.registerationCodeId = null;
        this.refer.manufacturingSite = "";
        this.refer.countryName = "";
        this.refer.productRegistrationHolderName = "";
        this.refer.productOwner = "";
        this.editedItem.fpCommonFieldID = null;
        this.editedItem.finishProductId = null;
        this.editedItem.manufacturingSite = "";
        this.editedItem.fpProductName = "";
        this.editedItem.statusCodeID = 1031;
        this.editedItem.sameAsBMPNo = null;
        this.editedItem.newBMPNo = "";
      },
      saveAndClose () {
        this.save();
        this.dialog = false;
      },
      addFormDialog () {
        this.add();
      },
      editItem (item) {
        this.loadDropDowns();
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.editedItem.valid = false;
        this.dialog = true;
        this.getManufactureSite();
        this.$refs.refPerUnitLine.finishProductExcipintID = this.editedItem.finishProductExcipientId;
        this.$refs.refPerUnitLine.enableAddButton = false;
        this.$refs.refPerUnitLine.refer.manufacturingSite = this.editedItem.manufacturingSite;
        this.$refs.refPerUnitLine.refer.countryName = this.registerCountry;
        this.$refs.refPerUnitLine.refer.productRegistrationHolderName = this.productRegistrationHolder;
        this.refer.manufacturingSite = this.editedItem.manufacturingSite;
        this.refer.countryName = this.registerCountry;
        this.refer.productRegistrationHolderName = this.productRegistrationHolder;
        this.$refs.refPerUnitLine.initialize();
      },
      close () {
        this.dialog = false;
        this.initialize();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.finishProductExcipientId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteFinishProductExcipient(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.finishProductExcipientId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.finishProductExcipientId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.finishProductExcipientId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.finishProductExcipientId;
        this.toolfunction();
      },
      toolfunction () {
        getDataFinishProductExcipient(this.searchItem)
          .then(response => {
            if (response.data.finishProductExcipientId != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.finishProductExcipientId)
                .indexOf(response.data.finishProductExcipientId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
            }
          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>
