<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          v-model="menuSearch"
          transition="scale-transition"
          offset-y
          max-width="500px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>
          <v-card>
            <div class="task-sub--scroll">
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex lg12 sm12>
                    <div class="mt-3 title">Search and Filter</div>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Register Country"
                      prepend-icon="list"
                      v-model="filter.registerCountryId"
                      :items="registerCountryItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      clearable
                      chips
                      color="blue"
                      @click:clear="clearfilterCountry"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Product Owner"
                      prepend-icon="invert_colors"
                      v-model="filter.productOwnerId"
                      :items="registerProductOwnerItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      clearable
                      chips
                      color="blue"
                      @click:clear="clearfilterProductOwner"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field
                      v-model="filter.relatedChangeControlNo"
                      prepend-icon="select_all"
                      label="Change Control No"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Product Name"
                      prepend-icon="invert_colors"
                      v-model="filter.productName"
                      :items="filterproductItems"
                      item-text="productName"
                      item-value="productName"
                      clearable
                      chips
                      color="blue"
                      @click:clear="clearfilterProduct"
                    ></v-autocomplete>
                  </v-flex>
                  <!--  <v-flex xs12 sm12>
                                        <v-autocomplete label="Variation Code" prepend-icon="invert_colors" v-model="filter.variationCodeId" :items="variationCodeItems" item-text="variationCodeName" item-value="registrationVariationId" clearable hips color="blue" @click:clear="clearfilterVariationCode"></v-autocomplete>
                                    </v-flex> -->
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Variation Status"
                      prepend-icon="invert_colors"
                      v-model="filter.variationStatusId"
                      :items="variationStatusItems"
                      item-text="codeValue"
                      item-value="codeID"
                      clearable
                      hips
                      color="blue"
                      @click:clear="clearfilterVariationStatus"
                    ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm12>
                    <v-menu
                      v-model="filterchangeSubmissionDate"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="filtersubmissionDateFormated"
                        label="Submission Date"
                        prepend-icon="event"
                        clearable
                        @click:clear="clearablefilterSubmissionDate"
                      ></v-text-field>
                      <v-date-picker
                        v-model="filter.submissionDate"
                        @change="filterchangeSubmissionDate = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                </v-layout>
              </v-container>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" outline @click.native="selectSearch"
                >Search</v-btn
              >
              <v-btn outline color="primary" @click="clearSearch">Clear</v-btn>
              <v-btn outline color="primary" @click="closeSearch">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter</span>
      </v-tooltip>
      <download-excel
        class="btn btn-default"
        :data="detailItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="RecordVariation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Record Variation</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex lg8 sm8>
                    <v-container grid-list-md>
                      <v-layout wrap>
                        <!-- <v-flex
                            xs12
                            sm4
                          >
                            <v-autocomplete
                              label="Reference"
                              prepend-icon="notes"
                              v-model="editedItem.registerationCodeId"
                              :items="registerationStatusItem"
                              item-text="codeValue"
                            item-value="codeID"
                            :rules="RegistrationRules"
                            >
                            </v-autocomplete>
                        </v-flex>-->

                        <v-flex xs12 sm4>
                          <v-text-field
                            v-model="editedItem.relatedChangeControlNo"
                            prepend-icon="select_all"
                            label="Related to Change Control No"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-menu
                            v-model="changeSubmissionDate"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="submissionDateFormated"
                              label="Variation Submission Date"
                              prepend-icon="event"
                              clearable
                              @click:clear="clearableSubmissionDate"
                            ></v-text-field>
                            <v-date-picker
                              v-model="editedItem.submissionDate"
                              @change="changeSubmissionDate = false"
                            ></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <!-- <v-flex
                    xs12
                    sm4
                  >
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      placeholder="Product Registration Holder"
                      prepend-icon="assistant"
                      :items='productRegItems'
                      v-model="editedItem.registrationHolderId"
                      label="Product Registration Holder"
                      color="blue"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      @change="changeregistrationHolder"
                    >
                    </v-autocomplete>

                        </v-flex>-->
                        <!-- <v-flex
                    xs12
                    sm4
                  >
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      placeholder="Register Country"
                      prepend-icon="assistant"
                      :items='productRegCountryItems'
                      v-model="editedItem.registerCountryId"
                      label="Register Country"
                      color="blue"
                      item-text="countryName"
                      item-value="registerCountry"
                      @change="changeregisterCountry"
                    >
                    </v-autocomplete>

                        </v-flex>-->
                        <v-flex xs12 sm4>
                          <v-menu
                            bottom
                            :close-on-content-click="false"
                            v-model="menuprodSearch"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="editedItem.productName"
                              prepend-icon="select_all"
                              clearable
                              append-icon="search"
                              @click:clear="clearableProdcut"
                            ></v-text-field>
                            <vue-perfect-scrollbar
                              class="chat-room--scrollbar lighten-5"
                            >
                              <v-card>
                                <v-container fluid>
                                  <v-layout row wrap>
                                    <v-flex lg12 sm12>
                                      <v-text-field
                                        v-model="searchFilter"
                                        prepend-icon="search"
                                        label="Search"
                                        single-line
                                        hide-details
                                      ></v-text-field>
                                    </v-flex>
                                    <v-flex lg12 sm12>
                                      <v-data-table
                                        v-model="selected"
                                        :items="products"
                                        :search="searchFilter"
                                        :headers="productheaders"
                                        class="elevation-1"
                                        :rows-per-page-items="
                                          searchrowsPerPageItems
                                        "
                                        :pagination.sync="searchpagination"
                                      >
                                        <template
                                          slot="items"
                                          slot-scope="props"
                                        >
                                          <tr
                                            v-on:click="
                                              onClickProduct(props.item)
                                            "
                                          >
                                            <td>
                                              {{ props.item.productName }}
                                            </td>
                                            <td>
                                              {{ props.item.manufacturingSite }}
                                            </td>
                                            <td>
                                              {{ props.item.countryName }}
                                            </td>
                                            <td>
                                              {{
                                                props.item
                                                  .productRegistrationHolderName
                                              }}
                                            </td>
                                            <td>
                                              {{ props.item.productOwner }}
                                            </td>
                                            <td>
                                              {{
                                                props.item
                                                  .prhspecificProductName
                                              }}
                                            </td>
                                          </tr>
                                        </template>
                                      </v-data-table>
                                    </v-flex>
                                  </v-layout>
                                </v-container>
                              </v-card>
                            </vue-perfect-scrollbar>
                          </v-menu>
                          <!--   <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      placeholder="Product Name"
                      prepend-icon="assistant"
                      :items='productItems'
                      v-model="editedItem.productId"
                      label="Product Name"
                      color="blue"
                      item-text="productName"
                      item-value="finishProductID"
                      
                    >
                          </v-autocomplete>-->
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-menu
                            v-model="changeSubmittedDate"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="submittedDateFormated"
                              label="Submitted (paid) Date"
                              prepend-icon="event"
                              clearable
                              @click:clear="clearablesubmittedDate"
                            ></v-text-field>
                            <v-date-picker
                              v-model="editedItem.submittedPaidDate"
                              @change="changeSubmittedDate = false"
                            ></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-text-field
                            v-model="editedItem.variationNo"
                            prepend-icon="select_all"
                            label="Variation Application No"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            label="Submission Status"
                            prepend-icon="notes"
                            v-model="editedItem.submissionStatusId"
                            :items="estimateSubmissionStatus"
                            item-text="codeValue"
                            item-value="codeID"
                            chips
                            @change="submisstionStatusChange"
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm4 v-if="estimateApprovalDateFlag">
                          <v-menu
                            v-model="changeApprovalDate"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="estimateApprovalDateFormated"
                              label="Estimate Approval Date"
                              prepend-icon="event"
                              clearable
                              @click:clear="clearableestimateApprovalDate"
                            ></v-text-field>
                            <v-date-picker
                              v-model="editedItem.estimateApprovalDate"
                              @change="changeApprovalDate = false"
                            ></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs12 sm4 v-if="estimateSubmissionDateFlag">
                          <v-menu
                            v-model="changeEstimateSubmissionDate"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="estimateSubmissionDateFormated"
                              label="Estimate Submission Date"
                              prepend-icon="event"
                              clearable
                              @click:clear="clearableestimateSubmissionDate"
                            ></v-text-field>
                            <v-date-picker
                              v-model="editedItem.estimateSubmissionDate"
                              @change="changeEstimateSubmissionDate = false"
                            ></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs12 sm4>
                          <v-autocomplete
                            label="Release Status"
                            prepend-icon="notes"
                            v-model="editedItem.statusCodeID"
                            :items="statusOptions"
                            item-text="codeValue"
                            item-value="codeID"
                            chips
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <v-text-field
                            :readonly="editedItem.recordVariationId > 0"
                            v-model="editedItem.documentLink"
                            label="Document Link"
                            prepend-icon="description"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs1 sm1>
                          <v-btn @click="clicklinkDocument" icon>
                            <v-icon>visibility</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-flex xs1 sm1>
                          <v-btn
                            @click="openDocumentLinkDialig"
                            :disabled="editedItem.recordVariationId < 0"
                            icon
                          >
                            <v-icon :disabled="editedItem.recordVariationId < 0"
                              >attachment</v-icon
                            >
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-flex>
                  <v-flex lg4 sm4>
                    <v-card class="rounded-card">
                      <v-layout wrap>
                        <v-flex xs12 sm12>
                          <span class="headline">Reference</span>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Manufacturing site:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{ refer.manufacturingSite }}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Register Country:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{ refer.countryName }}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Product Registration Holder:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{ refer.productRegistrationHolderName }}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Register Product Owner:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{ refer.productOwner }}</b>
                          </label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>PRH Specific Product Name:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{ refer.prhspecificProductName }}</b>
                          </label>
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>

            <record-variation-line
              ref="refProductLines"
            ></record-variation-line>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <v-dialog v-model="documentlinkDialog" max-width="600px">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>Document Links</v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="closelinkDialog">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-layout row wrap>
          <v-flex xs7 sm7>
            <v-text-field
              v-model="documentLinkdata.documentLink"
              label="Document Link"
              prepend-icon="description"
            ></v-text-field>
          </v-flex>
          <v-flex xs1 sm1>
            <v-btn
              @click="addlinkDocument"
              v-show="editedItem.recordVariationId > 0"
              color="primary"
              >Add</v-btn
            >
          </v-flex>
          <v-flex xs12 sm12>
            <v-data-table
              :headers="documentlinkheaders"
              :items="documentlinkItems"
              :search="search"
              class="elevation-1"
              default-sort="recordVariationDocumentLinkID:desc"
              :rows-per-page-items="rowsPerPageItems"
              :pagination.sync="pagination"
            >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.documentLink }}</td>

                <td class="justify-center layout px-0">
                  <v-icon small @click="viewLink(props.item)"
                    >visibility</v-icon
                  >
                  <v-icon small @click="deleteDocumntLink(props.item)"
                    >delete</v-icon
                  >
                </td>
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"
                  >Record not exist.Refresh again in while time.</v-btn
                >
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </v-card>
    </v-dialog>
    <v-dialog v-model="attachdialog" persistent max-width="900px">
      <attachment
        title="Quotation Award Document"
        :screenID="screenID"
        :sessionID="sessionId"
        controller="Documents"
        action="GetDocumentsBySessionID"
        uploadAction="UploadDocument"
        deleteAction="DeleteDocument"
        downloadAction="DownLoadDocument"
        ref="refattach"
        :closeMethod="closeattach"
      ></attachment>
    </v-dialog>
    <delete-confirmation-dialog
      ref="deleteDocumentlinkDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deletelink"
    ></delete-confirmation-dialog>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="gridloader"
      default-sort="recordVariationId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.registerCountryName }}</td>
          <td class="text-xs-left">{{ props.item.registerProductOwner }}</td>
          <td class="text-xs-left">{{ props.item.relatedChangeControlNo }}</td>
          <td class="text-xs-left">{{ props.item.productName }}</td>

          <td class="text-xs-left">
            <v-flex xs12 sm10 style="width: 200px">
              <v-autocomplete
                label="Variation code"
                v-model="
                  props.item.recordVariationLineItems == null ||
                  props.item.recordVariationLineItems.length == 0
                    ? null
                    : props.item.recordVariationLineItems[0][
                        'recordVariationLineId'
                      ]
                "
                :items="props.item.recordVariationLineItems"
                item-text="variationCodeName"
                item-value="recordVariationLineId"
              ></v-autocomplete>
            </v-flex>
          </td>
          <td class="text-xs-left">
            {{ props.item.variationSubmissionDate | formatDate }}
          </td>
          <td class="text-xs-left">
            {{ props.item.estimateApprovalDate | formatDate }}
          </td>
          <td class="text-xs-left">{{ props.item.variationStatus }}</td>
          <td class="text-xs-left">
            {{
              props.item.modifiedByUser == null
                ? props.item.addedByUser
                : props.item.modifiedByUser
            }}
          </td>
          <td class="text-xs-left">
            {{
              props.item.modifiedDate == null
                ? props.item.addedDate
                : props.item.modifiedDate | formatDate
            }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              :disabled="props.item.sessionId == null"
              @click="fileAttachments(props.item)"
              >attach_file</v-icon
            >
            <v-icon small class="mr-2" @click="editItem(props.item)"
              >edit</v-icon
            >
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingKey"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import attachment from "@/components/Attachment/attachments";
import moment from "moment";
import { getFinishProductGeneralInfos } from "@/api/productGeneralinfo";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import RecordVariationLine from "@/pages/productionplanning/salesorder/RecordVariationLine.vue";
import {
  getRecordVariationDetail,
  getRecordVariationDetailSearch,
  getRegisterCountry,
  getFinishProduct,
  createRecordVariation,
  getDataRecordVariation,
  getRecordVariation,
  updateRecordVariation,
  deleteRecordVariation,
  createRecordVariationDocumentLink,
  deleteRecordDocumentLink,
  getRecordVariationDocument,
  getRecordVariationLineItems,
  getRecordVariationLineDocument,
} from "@/api/recordVariation";
import { getData } from "@/api/paggedapi";
import { getFinishProductsListForGeneralInfo } from "@/api/productGeneralinfo";
import search from "@/search";
export default {
  components: {
    RecordVariationLine,
    attachment,
  },
  data: () => ({
    screenID: "",
    totalRows: 0,
    loading: false,
    filterchangeSubmissionDate: false,
    menuSearch: false,
    gridloader: false,
    dialog: false,
    search: "",
    loader: false,
    documentlinkDialog: false,
    uploadbtn: true,
    sessionId: null,
    registerCountryItems: [],
    registerProductOwnerItems: [],
    filterproductItems: [],
    variationCodeItems: [],
    variationStatusItems: [],
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    attachfiles: new FormData(),
    attachdialog: false,
    editedIndex: -1,
    menuprodSearch: false,
    detailItems: [],
    documentlinkItems: [],
    sessionId: null,
    searchTag: "",
    searchFilter: "",
    productId: "",
    productName: "",
    estimateSubmissionDateFlag: false,
    estimateApprovalDateFlag: false,
    changeSubmissionDate: false,
    changeEstimateSubmissionDate: false,
    changeSubmittedDate: false,
    changeApprovalDate: false,
    productRegItems: [],
    registerationStatusItem: [],
    productRegCountryItems: [],
    productItems: [],
    gridItems: [],
    statusOptions: [],
    estimateSubmissionStatus: [],
    refer: {
      manufacturingSite: "",
      countryName: "",
      productRegistrationHolderName: "",
      productOwner: "",
      prhspecificProductName: "",
    },
    filter: {
      submissionDate: null,
      registerCountryId: null,
      relatedChangeControlNo: "",
      productOwnerId: null,
      productName: "",
      variationCodeId: null,
      variationStatusId: null,
      recordVariationId: -1,
    },
    defaultfilter: {
      recordVariationId: -1,
      submissionDate: null,
      registerCountryId: null,
      relatedChangeControlNo: "",
      productOwnerId: null,
      productName: "",
      variationCodeId: null,
      variationStatusId: null,
    },
    documentLinkdata: {
      recordVariationDocumentLinkID: -1,
      recordVariationID: null,
      recordVariationLineID: null,
      isHeader: false,
      documentLink: "",
    },
    editedItem: {
      valid: false,
      sessionId: null,
      relatedChangeControlNo: "",
      submissionDate: "",
      registrationHolderId: null,
      registerCountryId: null,
      productName: "",
      productId: null,
      variationNo: "",
      documentLink: "",
      recordVariationId: -1,
      statusCodeID: 840,
      addedByUserID: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      registerationCodeId: null,
      submittedPaidDate: "",
      estimateApprovalDate: "",
      submissionStatusId: "",
      estimateSubmissionDate: null,
    },
    defaultItem: {
      valid: false,
      sessionId: null,
      relatedChangeControlNo: "",
      submissionDate: "",
      registrationHolderId: null,
      registerCountryId: null,
      productId: null,
      variationNo: "",
      recordVariationId: -1,
      statusCodeID: 840,
      documentLink: "",
      addedByUserID: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      registerationCodeId: null,
      submittedPaidDate: "",
      estimateApprovalDate: "",
      submissionStatusId: "",
      estimateSubmissionDate: null,
    },
    filterFields: [
      "RelatedChangeControlNo",
      "SubmissionStatus",
      "AddedByUser",
      "RegisterProductOwner",
      "ProductName",
      "RegisterCountryName",
      "ManufacturingSite",
      "PRHSpecificName",
      "VariationStatus",
    ],
    headers: [
      { text: "Country", value: "registerCountryName", align: "left" },
      { text: "Product Owner", value: "registerProductOwner", align: "left" },
      {
        text: "Change Control No",
        value: "relatedChangeControlNo",
        align: "left",
      },
      { text: "Product Name", value: "productName", align: "left" },
      { text: "Variation Code", value: "variationCodeName", align: "left" },
      {
        text: "Submission Date",
        value: "variationSubmissionDate",
        align: "left",
      },
      { text: "Approved Date", value: "estimateApprovalDate", align: "left" },
      { text: "Variation Status", value: "variationStatus", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    documentlinkheaders: [
      { text: "Document Link", value: "documentLink", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "Manufacturing Site": "manufacturingSite",
      "Register Country": "registerCountry",
      "Production Registration Holder": "productionRegistrationHolder",
      "Register Product Owner": "registerProductOwner",
      "Product Name": "productName",
      "Change Control No": "changeControlNo",
      "Variation Submission Date": "variationSubmissionDate",
      "Submitted (paid Date)": "submittedPaidDate",
      "Variation Application No": "variationApplicationNo",
      "Estimate Approval Date": "estimateApprovalDate",
      "Entry Status": "entryStatus",
      "Variation code": "variationCode",
      "Evaluation Approved Date": "evaluationApprovedDate",
      "Variation Form": "variationForm",
      "Correspondence Link": "correspondenceLink",
      "Variation Status": "variationStatus",
    },
    productheaders: [
      {
        text: "Product Name",
        value: "productName",
        sortable: false,
        align: "left",
      },
      {
        text: "Manufacturing Site",
        value: "manufacturingSiteName",
        sortable: false,
        align: "left",
      },
      {
        text: "Register Country",
        value: "country",
        sortable: false,
        align: "left",
      },
      {
        text: "Product Registration Holder",
        value: "productRegistrationHolderName",
        sortable: false,
        align: "left",
      },
      {
        text: "Register Product Owner",
        value: "productOwner",
        sortable: false,
        align: "left",
      },
      {
        text: "PRH Specific Product Name",
        value: "prhspecificProductName",
        sortable: false,
        align: "left",
      },
    ],
    products: [],
    selected: [],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  created() {
    search.methodName = "GetRecordVariation";
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Record Variation"
        : "Edit Record Variation";
    },
    submissionDateFormated() {
      return this.editedItem.submissionDate
        ? moment(this.editedItem.submissionDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    submittedDateFormated() {
      return this.editedItem.submittedPaidDate
        ? moment(this.editedItem.submittedPaidDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    filtersubmissionDateFormated() {
      return this.filter.submissionDate
        ? moment(this.filter.submissionDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    estimateApprovalDateFormated() {
      return this.editedItem.estimateApprovalDate
        ? moment(this.editedItem.estimateApprovalDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    estimateSubmissionDateFormated() {
      return this.editedItem.estimateSubmissionDate
        ? moment(this.editedItem.estimateSubmissionDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    RegistrationRules() {
      return [(v) => !!v || "Submission Status is required"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  methods: {
    initialize() {
      /*  this.loader = true;
         getRecordVariation()
           .then(response => {
             this.gridItems = response.data;
             this.loader = false;
           })
           .catch(error => {
             window.getApp.$emit("APP_API_ERROR", error);
           }); */
      getRecordVariationDetail()
        .then((response) => {
          this.detailItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getCodeMasterByType("WikiAppStatus")
        .then((response) => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Submission Status")
        .then((response) => {
          this.estimateSubmissionStatus = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      //this.selectSearch();
      getApplicationMasterDetailByType(109)
        .then((response) => {
          this.registerCountryItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getFinishProductsListForGeneralInfo()
        .then((response) => {
          this.filterproductItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(110)
        .then((response) => {
          this.registerProductOwnerItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getRecordVariationLineItems()
        .then((response) => {
          this.variationCodeItems = response.data.filter(
            (s) => s.registrationVariationId != null
          );
          console.log(
            "variation code items" + JSON.stringify(this.variationCodeItems)
          );
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Variation Status")
        .then((response) => {
          this.variationStatusItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      search.methodName = "GetRecordVariation";
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
       search.recordVaritionSearch = this.filter;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "RecordVariationID";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      //search.methodName = "GetRecordVariation";
      search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.recordVaritionSearch = this.filter;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "relatedChangeControlNo") {
        search.sortCol = "RelatedChangeControlNo";
      } else if (args.sortBy == "submissionStatus") {
        search.sortCol = "SubmissionStatus";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "AddedByUser";
      } else if (args.sortBy == "modifiedDate") {
        search.sortCol = "ModifiedDate";
      } else if (args.sortBy == "productName") {
        search.sortCol = "ProductName";
      } else if (args.sortBy == "registerCountryName") {
        search.sortCol = "RegisterCountryName";
      } else if (args.sortBy == "manufacturingSite") {
        search.sortCol = "ManufacturingSite";
      } else if (args.sortBy == "prhSpecificName") {
        search.sortCol = "PRHSpecificName";
      } else if (args.sortBy == "registerProductOwner") {
        search.sortCol = "RegisterProductOwner";
      } else if (args.sortBy == "variationStatus") {
        search.sortCol = "VariationStatus";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      //search.methodName = "GetRecordVariation";
      search.methodName =
        search.methodName == "" ? "GetRecordVariation" : search.methodName;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onClickProduct(item) {
      this.menuprodSearch = false;
      this.editedItem.productName = item.productName;
      this.editedItem.productId = item.finishProductGeneralInfoID;
      this.editedItem.registerCountryId = item.registerCountry;
      this.productId = this.editedItem.productId;
      this.productName = this.editedItem.productName;
      this.refer.manufacturingSite = item.manufacturingSite;
      this.refer.countryName = item.countryName;
      this.refer.productRegistrationHolderName =
        item.productRegistrationHolderName;
      this.refer.productOwner = item.productOwner;
      this.refer.prhspecificProductName = item.prhspecificProductName;
    },
    clearableProdcut() {
      this.productId = null;
      this.refer.manufacturingSite = "";
      this.refer.countryName = "";
      this.refer.productRegistrationHolderName = "";
      this.refer.productOwner = "";
      this.refer.prhspecificProductName = "";
    },
    submisstionStatusChange() {
      this.estimateSubmissionDateFlag = false;
      this.estimateApprovalDateFlag = false;
      let list = this.estimateSubmissionStatus.filter(
        (o) => o.codeID == this.editedItem.submissionStatusId
      );
      if (list.length > 0) {
        if (list[0].codeValue == "Submitted") {
          this.estimateApprovalDateFlag = true;
        }
        if (list[0].codeValue == "Intended") {
          this.estimateSubmissionDateFlag = true;
        }
      }
    },
    viewDocumentLinks(item) {
      console.log("item" + JSON.stringify(item));
      let id = item.recordVariationId;
      this.documentLinkdata.recordVariationID = id;
      this.editedItem.recordVariationId = id;
      getRecordVariationDocument(id)
        .then((response) => {
          this.documentlinkItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      setTimeout(() => {
        this.documentlinkDialog = true;
      }, 400);
    },
    viewLink(item) {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(item.documentLink)) {
        window.open(item.documentLink, "_blank");
      }
    },
    closelinkDialog() {
      this.documentlinkDialog = false;
      this.documentLinkdata.recordVariationID = null;
    },
    openDocumentLinkDialig() {
      this.documentlinkDialog = true;
    },
    clearableSubmissionDate() {
      this.editedItem.submissionDate = null;
    },
    clearablesubmittedDate() {
      this.editedItem.submittedPaidDate = null;
    },
    clearableestimateApprovalDate() {
      this.editedItem.estimateApprovalDate = null;
    },
    clearableestimateSubmissionDate() {
      this.editedItem.estimateSubmissionDate = null;
    },
    clearfilterCountry() {
      this.filter.registerCountryId = null;
    },
    clearfilterProductOwner() {
      this.filter.productOwnerId = null;
    },
    clearfilterProduct() {
      this.filter.productName = "";
    },
    clearablefilterSubmissionDate() {
      this.filter.submissionDate = null;
    },
    clearfilterVariationCode() {
      this.filter.variationCodeId = null;
    },
    clearfilterVariationStatus() {
      this.filter.variationStatusId = null;
    },
    selectSearch() {
      
      search.methodName = "GetRecordVariation";
      this.loadPagingData();
      this.menuSearch = false;
      // getRecordVariationDetailSearch(this.filter)
      //     .then(response => {
      //         this.detailItems = response.data;
      //         this.gridItems = response.data;
      //         this.loader = false;
      //     })
      //     .catch(error => {
      //         this.loader = false;
      //         window.getApp.$emit("APP_API_ERROR", error);
      //     });
    },
    closeSearch() {
      this.menuSearch = false;
    },
    clearSearch() {
      this.filter = Object.assign({}, this.defaultfilter);
      search.methodName = "GetRecordVariation";
      this.loadPagingData();
    },
    loadDropdownList() {
      getApplicationMasterDetailByType(138)
        .then((response) => {
          this.productRegItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("DensityStatus")
        .then((response) => {
          this.densityItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getFinishProductGeneralInfos("")
        .then((response) => {
          this.products = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    changeregistrationHolder(registerCountryId = null, productId = null) {
      this.editedItem.registerCountryId = null;
      this.editedItem.productId = null;
      this.productRegCountryItems = [];
      this.productItems = [];
      if (this.editedItem.registrationHolderId) {
        getRegisterCountry(this.editedItem.registrationHolderId)
          .then((response) => {
            this.productRegCountryItems = response.data;
            if (response.data.length == 1) {
              this.editedItem.registerCountryId =
                response.data[0].registerCountry;
              setTimeout(() => {
                this.changeregisterCountry();
              }, 500);
            } else {
              this.editedItem.registerCountryId = registerCountryId;
              if (registerCountryId != null) {
                this.changeregisterCountry(productId);
              }
            }
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    changeregisterCountry(productId = null) {
      this.editedItem.productId = null;
      this.productItems = [];
      if (this.editedItem.registerCountryId) {
        getFinishProduct(this.editedItem.registerCountryId)
          .then((response) => {
            this.productItems = response.data;
            if (response.data.length == 1) {
              this.editedItem.productId = response.data[0].finishProductID;
            } else {
              this.editedItem.productId = productId;
            }
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    getProductLinesTab() {
      setTimeout(() => {
        let listing = [];
        let list = this.products.filter(
          (o) => o.finishProductGeneralInfoID == this.editedItem.productId
        );
        if (list.length > 0) {
          this.onClickProduct(list[0]);
          listing = list[0];
        }
        this.$refs.refProductLines.recordVariationId =
          this.editedItem.recordVariationId;
        this.$refs.refProductLines.enableAddButton = false;
        //this.$refs.refProductLines.registerCountryId = this.editedItem.registerCountryId;
        this.$refs.refProductLines.initialize();
      }, 500);
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateRecordVariation(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.loadPagingData();
              this.editedItem.sessionId = response.data.sessionId;
              this.getProductLinesTab();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createRecordVariation(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.recordVariationId =
                response.data.recordVariationId;
              let index = this.gridItems
                .map((item) => item.recordVariationId)
                .indexOf(response.data.recordVariationId);
              this.editedIndex = index;
              this.editedItem.sessionId = response.data.sessionId;
              this.attachfiles = new FormData();
              this.sessionId = response.data.sessionId;
              this.uploadbtn = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.loadPagingData();
              this.getProductLinesTab();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    add() {
      this.loadDropdownList();
      this.editedIndex = -1;
      this.uploadbtn = true;
      this.editedItem.valid = false;
      this.editedItem.relatedChangeControlNo = "";
      this.editedItem.submissionDate = null;
      this.editedItem.registrationHolderId = null;
      this.editedItem.registerCountryId = null;
      this.editedItem.productId = null;
      this.editedItem.variationNo = "";
      this.editedItem.statusCodeID = 840;
      this.editedItem.addedByUserID = "";
      this.editedItem.addedByUserID = "";
      this.editedItem.addedDate = "";
      this.editedItem.modifiedByUserID = "";
      this.sessionId = null;
      this.editedItem.modifiedDate = "";
      this.editedItem.registerationCodeId = null;
      (this.editedItem.submittedPaidDate = ""),
        (this.editedItem.estimateApprovalDate = ""),
        (this.editedItem.submissionStatusId = "");
      this.editedItem.estimateSubmissionDate = null;
      this.productRegCountryItems = [];
      this.productItems = [];
      this.$refs.refProductLines.recordVariationId = -1;
      this.$refs.refProductLines.enableAddButton = true;
      this.$refs.refProductLines.registerCountryId = -1;
      this.$refs.refProductLines.recordVariationItems = [];
      this.productId = null;
      this.refer.manufacturingSite = "";
      this.refer.countryName = "";
      this.refer.productRegistrationHolderName = "";
      this.refer.productOwner = "";
      this.refer.prhspecificProductName = "";
    },
    addlinkDocument() {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(this.documentLinkdata.documentLink)) {
        this.documentLinkdata.recordVariationID =
          this.editedItem.recordVariationId;
        this.documentLinkdata.isHeader = true;
        createRecordVariationDocumentLink(this.documentLinkdata)
          .then((response2) => {
            this.documentlinkItems.push(response2.data);
            this.loader = false;
            this.documentLinkdata.documentLink = "";
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    clicklinkDocument() {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(this.editedItem.documentLink)) {
        window.open(this.editedItem.documentLink, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    deleteDocumntLink(item) {
      this.$refs.deleteDocumentlinkDialog.openDialog();
      this.documentLinkdata = item;
    },
    deletelink() {
      this.$refs.deleteDocumentlinkDialog.close();
      if (this.documentLinkdata.recordVariationDocumentLinkID > -1) {
        let index = this.documentlinkItems.indexOf(this.documentLinkdata);
        deleteRecordDocumentLink(this.documentLinkdata)
          .then(() => {
            this.documentlinkItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item.sessionId);
      this.sessionId = item.sessionId;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.valid = false;
      if (this.editedItem.sessionId != null) {
        this.sessionId = this.editedItem.sessionId;
        this.uploadbtn = false;
      }
      // this.changeregistrationHolder(this.editedItem.registerCountryId,this.editedItem.productId);
      this.getProductLinesTab();
      this.dialog = true;
    },
    close() {
      this.dialog = false;
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.recordVariationId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteRecordVariation(this.editedItem)
          .then((response) => {
            this.loader = false;
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.recordVariationId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.recordVariationId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.recordVariationId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.recordVariationId;
      this.toolfunction();
    },
    toolfunction() {
      getDataRecordVariation(this.searchItem)
        .then((response) => {
          if (response.data.recordVariationId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.recordVariationId)
              .indexOf(response.data.recordVariationId);
            this.editedIndex = index;
            // this.changeregistrationHolder(this.editedItem.registerCountryId,this.editedItem.productId);
            this.getProductLinesTab();
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>
