<template>

  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Registration Format.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color='white'>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color='white'>library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color='white'>save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color='white'>add</v-icon>
              </v-btn>
              <span>Create New Registration Format</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color='white'>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color='white'>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">

                <v-icon color='white'>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color='white'>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color='white'>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>

              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm4>
                      <v-autocomplete :loading="loader" chips flat label="Name of the format" prepend-icon="notes" v-model="editedItem.formatId" :items="formatStatusItem" item-text="value" item-value="applicationMasterDetailId" :rules="RegistrationRules">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete :loading="loader" chips flat label="Registration Product Category" prepend-icon="notes" v-model="editedItem.productCategoryId" :items="productCategoryItems" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete :loading="loader" chips flat label="Registration Type" prepend-icon="notes" v-model="editedItem.typeId" :items="typeItems" item-text="value" item-value="applicationMasterDetailId" @change="onChangeRegisterType">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4 v-if="registerTypeFlag">
                      <v-autocomplete :loading="loader" chips flat label="Variation Code" prepend-icon="notes" v-model="editedItem.variationCodeId" :items="variationCodeItems" item-text="variationCodeandCountry" item-value="registrationVariationId">
                      </v-autocomplete>
                    </v-flex>
                    <!-- <v-flex
                            xs12
                            sm4 v-if="registerTypeFlag"
                          >
                             <v-text-field 
                              v-model="editedItem.variationDescription"
                              prepend-icon="select_all"
                              label="Variation Description"
                             ></v-text-field>
                          </v-flex>
                          <v-flex
                            xs12
                            sm4 v-if="registerTypeFlag"
                          >
                            <v-autocomplete
                            :loading="loader"
                      chips
                      flat
                              label="Variation on"
                              prepend-icon="notes"
                              v-model="editedItem.variationOnId"
                              :items="variationOnItems"
                              item-text="value"                      
                      item-value="applicationMasterDetailId"
                            
                            >
                            </v-autocomplete>
                          </v-flex>
                           <v-flex
                            xs12
                            sm4 v-if="registerTypeFlag"
                          >
                            <v-autocomplete
                            :loading="loader"
                      chips
                      flat
                              label="Variation Category No"
                              prepend-icon="notes"
                              v-model="editedItem.variationCategoryNoId"
                              :items="variationCategoryNoItems"
                              item-text="value"                      
                      item-value="applicationMasterDetailId"
                            
                            >
                            </v-autocomplete>
                          </v-flex>
                          <v-flex
                            xs12
                            sm4 v-if="registerTypeFlag"
                          >
                            <v-autocomplete
                            :loading="loader"
                      chips
                      flat
                              label="Variation Category"
                              prepend-icon="notes"
                              v-model="editedItem.variationCategoryId"
                              :items="variationCategoryItems"
                              item-text="value"                      
                      item-value="applicationMasterDetailId"
                            
                            >
                            </v-autocomplete>
                          </v-flex> -->
                    <v-flex xs12 sm4>
                      <div>Is this format from a combination of other format</div>
                      <v-radio-group v-model="editedItem.isCombinationOfOtherFlag" row @click="registrationFormatCheck">
                        <v-radio label="Yes" value="1"></v-radio>
                        <v-radio label="No" value="0"></v-radio>
                      </v-radio-group>
                    </v-flex>
                    <v-flex xs12 sm4 v-if="registrationFormatFlag">
                      <v-autocomplete label="Registration Format" prepend-icon="notes" v-model="editedItem.registrationFormatListIds" :items="registrationFormatListItems" item-text="formatName" item-value="registrationFormatInformationId" chips flat multiple>
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeRegisterType(data.item)">

                            {{ data.item.formatName }}
                          </v-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                          </template>
                          <template v-else>

                            <v-list-tile-content>
                              <v-list-tile-title v-html="data.item.formatName"></v-list-tile-title>

                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>

                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips>
                      </v-autocomplete>

                    </v-flex>

                  </v-layout>

                </v-container>
              </v-form>
            </v-card-text>

            <registration-format-information-line ref="refProductLines"></registration-format-information-line>
          </div>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    </v-layout>

    </v-container>
    </v-form>
    </v-card-text>

    </v-card>
    </v-dialog>

    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :total-items="totalRows" class="elevation-1" :loading="gridloader" default-sort="registrationFormatInformationId:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.formatName }}</td>
          <td class="text-xs-left">{{ props.item.productCategoryName }}</td>
          <td class="text-xs-left">{{ props.item.typeName }}</td>
          <td class="text-xs-left">{{ props.item.variationCodeName }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingKey"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from '@/constant';
  import moment from 'moment';
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster';
  import { getRegistrationVariation } from '@/api/registrationVariation';

  import RegistrationFormatInformationLine from '@/pages/productionplanning/salesorder/RegistrationFormatInformationLine.vue'
  import { getRegistrationFormatInformationItems, createRegistrationFormatInformation, getDatas, getRegistrationFormatInformation, updateRegistrationFormatInformation, deleteRegistrationFormatInformation } from '@/api/RegistrationFormatInformation';
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  export default {
    components: {
      RegistrationFormatInformationLine
    },
    data: () => ({
      totalRows: 0,
      loading: false,
      gridloader: false,
      dialog: false,
      search: '',
      loader: false,
      registrationFormatFlag: true,
      editedIndex: -1,
      searchTag: "",
      searchFilter: "",
      productRegItems: [],
      formatStatusItem: [],
      productCategoryItems: [],
      variationCategoryItems: [],
      variationCategoryNoId: [],
      variationCategoryNoItems: [],
      registrationFormatListItems: [],
      variationCodeItems: [],
      typeItems: [],
      variationOnItems: [],
      gridItems: [],
      Items: [],
      statusOptions: [
        { text: 'Active', value: 1 },
        { text: 'InActive', value: 2 }
      ],
      registerTypeFlag: false,
      editedItem: {
        valid: false,
        registrationFormatInformationId: -1,
        formatId: null,
        productCategoryId: null,
        variationCodeId: null,
        variationDescription: '',
        variationOnId: null,
        variationCategoryId: null,
        variationCategoryNoId: null,
        statusCodeID: 1,
        isCombinationOfOtherFlag: '1',
        addedByUserID: '',
        addedDate: '',
        modifiedByUserID: '',
        modifiedDate: '',
      },
      defaultItem: {
        valid: false,
        registrationFormatInformationId: -1,
        formatId: null,
        variationCodeId: null,
        productCategoryId: null,
        typeId: null,
        variationDescription: '',
        variationOnId: null,
        variationCategoryId: null,
        variationCategoryNoId: null,
        statusCodeID: 1,
        isCombinationOfOtherFlag: '1',
        addedByUserID: '',
        addedDate: '',
        modifiedByUserID: '',
        modifiedDate: '',
        registrationFormatListIds: [],
      },
      filterFields: [
        "StatusCode.CodeValue",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName",
      ],
      headers: [
        { text: 'Name of the format', value: 'formatName', align: 'left', sortable: false },
        { text: 'Registration Product Category', value: 'productCategoryName', align: 'left', sortable: false },
        { text: 'Registration Type', value: 'typeName', align: 'left', sortable: false },
        { text: 'Variation Code', value: 'variationCodeName', align: 'left', sortable: false },
        { text: 'Status', value: 'statusCode', align: 'left' },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left', width: "1%" }
      ],
      json_fields: {
        'Name of the format': 'formatName',
        'Registration Product Category': 'ProductCategoryName',
        'Registration Type': 'typeName',
        'Variation Code': 'variationCodeName',
        'Added By': 'addedByUser',
        'Added Date': 'addedDate',
        'Modified By': 'modifiedDate',
        'Modified Date': 'modifiedDate',
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      },
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Registration Format' : 'Edit Registration Format';
      },
      RegistrationRules () {
        return [
          v => !!v || 'Registartion Status is required'
        ];
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    methods: {

      initialize () {
        /* this.loader = true;
        getRegistrationFormatInformation()
          .then(response => {
            this.gridItems = response.data;
            this.Items = response.data;
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          }); */
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = this.pagination.page;
        search.sortCol = "RegistrationFormatInformationID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetRegistrationFormatInformation";
         search.pageCount = 1;
      this.pagination.page = 1;
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "statusCode") {
          search.sortCol = "StatusCode.CodeValue";

        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "AddedByUser.UserName";
        } else if (args.sortBy == "modifiedDate") {
          search.sortCol = "ModifiedDate";
        }
        else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetRegistrationFormatInformation";
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      removeRegisterType (item) {
        const index = this.editedItem.registrationFormatListIds.indexOf(item.registrationFormatInformationId)
        if (index >= 0) this.editedItem.registrationFormatListIds.splice(index, 1)
      },
      registrationFormatCheck () {
        this.registrationFormatFlag = (this.editedItem.isCombinationOfOtherFlag == "1") ? true : false;
      },
      onChangeRegisterType () {
        let list = this.typeItems.filter(o => o.applicationMasterDetailId == this.editedItem.typeId);
        this.registerTypeFlag = false;
        //console.log(list);
        if (list.length > 0 && ((list[0].value).toLowerCase() == "variation")) {
          this.registerTypeFlag = true;
        }
      },
      getRegistrationList (registrationFormatInformationId) {
        getRegistrationFormatInformationItems()
          .then(response => {

            this.registrationFormatListItems = response.data;
            if (registrationFormatInformationId > 0) {
              let index = response.data.map(item => item.registrationFormatInformationId).indexOf(registrationFormatInformationId);
              let registrationFormatListItems = this.registrationFormatListItems;
              registrationFormatListItems.splice(index, 1);
              this.registrationFormatListItems = registrationFormatListItems;
            }
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      loadDropdownList () {
        getApplicationMasterDetailByType(162)
          .then(response => {
            this.typeItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(161)
          .then(response => {
            this.formatStatusItem = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(151)
          .then(response => {
            this.productCategoryItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });

        getApplicationMasterDetailByType(146)
          .then(response => {
            this.variationOnItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });

        getApplicationMasterDetailByType(150)
          .then(response => {
            this.variationCategoryItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(163)
          .then(response => {
            this.variationCategoryNoItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getRegistrationVariation('')
          .then(response => {
            this.variationCodeItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

      },
      getProductLinesTab () {
        setTimeout(() => {
          this.$refs.refProductLines.registrationFormatInformationId = this.editedItem.registrationFormatInformationId;
          this.$refs.refProductLines.enableAddButton = false;
          this.$refs.refProductLines.initialize();
        }, 500);
      },
      save () {
        if (this.$refs.form.validate()) {

          this.loader = true;
          let index = this.editedIndex;
          if (this.registerTypeFlag == false) {
            this.editedItem.variationDescription = '';
            this.editedItem.variationOnId = null;
            this.editedItem.variationCategoryId = null;
            this.editedItem.variationCategoryNoId = null;
          }
          this.editedItem.registrationFormatListIds = (this.editedItem.isCombinationOfOtherFlag == "1") ? (this.editedItem.registrationFormatListIds) : [];
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updateRegistrationFormatInformation(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createRegistrationFormatInformation(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.registrationFormatInformationId = response.data.registrationFormatInformationId;
                let index = this.gridItems.map(item => item.registrationFormatInformationId).indexOf(response.data.registrationFormatInformationId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      add () {
        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.registrationFormatInformationId = -1;
        this.editedItem.formatId = null;
        this.editedItem.productCategoryId = null;
        this.editedItem.typeId = null;
        this.editedItem.variationCodeId = null;
        this.editedItem.variationDescription = '';
        this.editedItem.variationOnId = null;
        this.editedItem.variationCategoryId = null;
        this.editedItem.variationCategoryNoId = null;
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = '';
        this.editedItem.addedDate = '';
        this.editedItem.modifiedByUserID = '';
        this.editedItem.modifiedDate = '';
        this.editedItem.isCombinationOfOtherFlag = '1';
        this.editedItem.registrationFormatListIds = [];
        this.registerTypeFlag = false;
        this.$refs.refProductLines.registrationFormatInformationId = -1;
        this.$refs.refProductLines.enableAddButton = true;
        this.$refs.refProductLines.gridItems = [];
        this.getRegistrationList(this.editedItem.registrationFormatInformationId);
        this.registrationFormatFlag = true;


      },
      saveAndClose () {
        this.save();
        this.close();
      },
      addFormDialog () {
        this.add();

      },
      editItem (item) {
        this.loadDropdownList();

        setTimeout(() => {
          this.editedIndex = this.gridItems.indexOf(item);
          this.editedItem = Object.assign({}, item);
          this.editedItem.valid = false;
          this.onChangeRegisterType();
          this.getProductLinesTab();
          this.dialog = true;
          this.getRegistrationList(this.editedItem.registrationFormatInformationId);
          this.registrationFormatFlag = (this.editedItem.isCombinationOfOtherFlag == "1") ? true : false;

        }, 500);
      },
      close () {
        this.dialog = false;
        this.initialize();
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.registrationFormatInformationId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deleteRegistrationFormatInformation(this.editedItem)
            .then(response => {
              this.loader = false;
              if(response!=undefined)
              {
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.registrationFormatInformationId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.registrationFormatInformationId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.registrationFormatInformationId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.registrationFormatInformationId;
        this.toolfunction();
      },
      toolfunction () {
        getDatas(this.searchItem)
          .then(response => {
            if (response.data.registrationFormatInformationId != null) {
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.registrationFormatInformationId).indexOf(response.data.registrationFormatInformationId)
              this.editedIndex = index;
              this.onChangeRegisterType();
              this.getRegistrationList(this.editedItem.registrationFormatInformationId)
              this.getProductLinesTab();
              this.registrationFormatFlag = (this.editedItem.isCombinationOfOtherFlag == "1") ? true : false;

            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No More Record to View');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
    },
  }
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 120px);
   }
</style>