<template>
  <div>
    <v-card>
      <v-card-title>
        <span class="headline"
          >Blanket Order-TransferBalance Quantity Entry</span
        >
      </v-card-title>
      <v-card-text>
        <v-form v-model="editedItem.valid" ref="transferform" lazy-validation>
          <v-layout row wrap>
            <v-flex lg9 sm9>
              <v-layout row wrap>
                <v-flex xs12 sm6>
                  <v-menu
                    bottom
                    :close-on-content-click="false"
                    v-model="menuprodSearch"
                  >
                    <v-text-field
                      slot="activator"
                      prepend-icon="select_all"
                      v-model="existingContractNo"
                      clearable
                      append-icon="search"
                      label="Existing Transfer Balance Contract No"
                    ></v-text-field>
                    <v-card>
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <v-text-field
                            v-model="searchFilter"
                            prepend-icon="search"
                            label="Search"
                            single-line
                            hide-details
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm12>
                          <v-data-table
                            :items="existingItemsContractNo"
                            :search="searchFilter"
                            :headers="transferHeaders"
                            class="elevation-1"
                            :rows-per-page-items="searchrowsPerPageItems"
                            :pagination.sync="searchpagination"
                          >
                            <template slot="items" slot-scope="props">
                              <tr v-on:click="onClickexisting(props.item)">
                                <td class="text-xs-left">
                                  {{ props.item.customerName }}
                                </td>
                                <td class="text-xs-left">
                                  {{ props.item.contractNo }}
                                </td>
                                <td class="text-xs-left">
                                  {{ props.item.productName }}
                                </td>

                                <td class="text-xs-left">
                                  {{ props.item.transferToContractNo }}
                                </td>
                              </tr>
                            </template>
                          </v-data-table>
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm6>
                  <!-- <v-text-field
                    v-model="editedItem.customerName"
                    label="Customer"
                    prepend-icon="description"
                    readonly
                  ></v-text-field> -->
               
                <v-autocomplete
                  label="Customer"
                  prepend-icon="description"
                  v-model="editedItem.customerId"
                  :items="customerItems"
                  item-text="companyListingName"
                  item-value="companyListingID"
                  @change="selectCustomer"
              ></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field
                    v-model="editedItem.contractNo"
                    label="Present Contract No"
                    prepend-icon="description"                   
                    readonly
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-autocomplete
                    label="Product Name"
                    prepend-icon="description"
                    v-model="editedItem.productId"
                    :items="productItems"
                    item-text="productNo"
                    item-value="socustomersItemCrossReferenceId"
                    @change="onProductChange"
                   
                  >
                  <template slot="selection" slot-scope="data">
                  <v-chip :selected="data.selected">{{
                    data.item.customerReferenceNo
                  }}</v-chip>
                </template>
                  </v-autocomplete>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-text-field
                    v-model="editedItem.uom"
                    label="UOM"
                    prepend-icon="description"
                    readonly
                  ></v-text-field>
                </v-flex>
                <!--  <v-flex xs12 sm6>
                    <v-autocomplete label="Transfer To Contract No" prepend-icon="description" v-model="editedItem.transferToContractId" :items="contractNos" item-text="contractNo" item-value="salesOrderID"></v-autocomplete>
              </v-flex>-->
                <v-flex xs12 sm6>
                  
                    <v-autocomplete
                      label="Transfer To Contract No"
                      prepend-icon="notes"
                      v-model="editedItem.transferToContractId"
                      :items="transferContractItems"
                      item-text="orderNo"
                      item-value="salesOrderEntryID"
                     
                    ></v-autocomplete>
                 
               
                </v-flex>
                <v-flex xs12 sm6>
                  <v-autocomplete
                    label="Transfer Time"
                    prepend-icon="notes"
                    v-model="editedItem.transferTimeId"
                    :items="transferTimeItems"
                    item-text="codeValue"
                    item-value="codeID"
                    @change="ontransferTime"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm6 v-if="transferTimeFlag">
                  <v-menu
                    ref="poDateDue2"
                    v-model="poDateDue2"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      :value="poDateFormated2"
                      label="Month"
                      prepend-icon="event"
                      clearable
                      readonly
                      @click:clear="clearableregistrationDateOfExpiry2"
                    ></v-text-field>
                    <v-date-picker
                      v-model="editedItem.specificMonth"
                      @change="poDateDue2 = false"
                      type="month"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex lg3 sm3>
              <v-card width="330px" height="500px" class="rounded-card">
                <v-layout row wrap>
                  <v-flex xs12 sm12>
                    <span class="headline">Reference</span>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <label>
                      Present Contract No :
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <b>{{ editedItem.contractNo }}</b>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <label>Product name : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <b>{{ productName }}</b>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <label>Balance Qty : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <b>{{ balanceQty }}</b>
                  </v-flex>
                 
                  <v-flex xs12 sm6>
                    <label>
                      UOM : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <b>{{ editedItem.uom }}</b>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <delete-confirmation-dialog
        ref="formdeleteConfirmationDialog"
        heading="Are You Sure You Want To Delete?"
        message="Are You Sure You Want To Delete This Item Permanently?"
        @onConfirm="formDeleteItem"
      ></delete-confirmation-dialog>
    </v-card>

    <!--   <v-dialog v-model="attachdialog" max-width="700px">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title>Attachments</v-toolbar-title>
          <upload-btn
            @file-update="attachfileChanged"
            name="uploadtask"
            uniqueId
            icon
            ref="attachUpload"
            multiple
            noTitleUpdate
          >
            <template slot="icon-left">
              <v-icon left color="white">cloud_upload</v-icon>
            </template>
          </upload-btn>

          <v-spacer></v-spacer>

          <v-btn icon @click.native="closeattach">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <div style="overflow:auto;height:calc(70vh - 100px)">
          <v-card-text>
            <transfer-balance-qty-document ref="frmattach"></transfer-balance-qty-document>
          </v-card-text>
        </div>
      </v-card>
    </v-dialog>-->

     <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Transfer Balance Quantity Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>       
      </v-dialog>
    <app-section-loader :status="loader"></app-section-loader>

    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
    <!-- <delete-confirmation-dialog
        ref="deleteConfirmationDialog1"
        heading="Are You Sure You Want To Close?"
        message="Are You Sure You Want To Close? Files Not Updloaded"
        @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>-->
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import UploadButton from "vuetify-upload-button";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getPurchaseItemSalesEntryLinesItems } from "@/api/purchaseItemSalesEntryLine";
import { getCompanyListingsForDistributionInformation, getDistributorCustomerNameBySalesEntryId } from "@/api/contractDistributionInfo";
import moment from "moment";
import GlobalMessage from "@/constant";
import TransferBalanceQtyDocument from "@/pages/productionplanning/productionplanningv1/TransferBalanceQtyDocument";

import {
  getTransferBalanceQty,
  getTransferBalanceQtyByContractId,
  getTransferBalanceQtyData,
  createTransferBalanceQty,
  updateTransferBalanceQty,
  deleteTransferBalanceQty,
  uploadTransferBalanceQtyDocument,
  getContractNosByCustomer,
  getCustomerTransferContractNos
} from "@/api/TransferBalanceQty";
import {  getProductBySalesId} from "@/api/BlanketOrder";
import { getContractNoSearch, getContractNosById } from "@/api/salesOrderEntry";
export default {
  components: {
    "upload-btn": UploadButton,
    TransferBalanceQtyDocument,
    attachment,
  },
  data: () => ({
    attachdialog: false,
    uploadbtn: true,
    screenID: "MAS9030",
    sessionID: null,
    transferBalanceQtyId: -1,
    salesOrderEntryId: null,
    poDateDue2: false,
    transferTimeFlag: false,
    dialog: false,
    sessionId: null,
    loader: false,
    menuprodSearch: "",
    searchFilter: "",
    existingContractNo: "",
    productName: "",
    balanceQty: "",
    entryTime: "",
    existingItemsContractNo: [],
    uom: "",
    search: "",
    productItems: [],
    productdisable: false,
    transferContractItems: [],
    transferContractdisable: false,
    contractNos: [],
    customerId: null,
    customerItems: [],
    transferTimeItems: [],
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    showdownload: false,
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    attachdialog: false,
    uploadbtn: true,
    statusOptions: [
      { text: "Open", value: 1 },
      { text: "Active", value: 2 },
      { text: "Close", value: 3 },
    ],
    getTransferContract:{
    customerId: null,
    salesOrderEntryId: null,
    productId: null,
    },
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    dialog: false,
    loader: false,

    headers: [
      {
        text: "Customer",
        value: "customerName",
        align: "left",
      },

      {
        text: "Present Contract No",
        value: "contractNo",
        align: "left",
      },
      { text: "Product Name", value: "productName", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      {
        text: "Transfer To Contract",
        value: "transferToContract",
        align: "left",
      },
      { text: "TransferTime", value: "transferTime", align: "left" },
      { text: "Month", value: "month", align: "left" },
      { text: "Action", value: "Action", align: "left" },
    ],
    transferHeaders: [
      {
        text: "Customer",
        value: "customerName",
        align: "left",
      },

      {
        text: "Present Contract No",
        value: "contractNo",
        align: "left",
      },
      { text: "Product Name", value: "productName", align: "left" },
      {
        text: "Transfer To Contract",
        value: "transferToContract",
        align: "left",
      },
    ],
    json_fields: {
      Customer: "customerName",
      "Contract No": "contractNo",
      "Product Name": "productName",
      UOM: "uom",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    editedIndex: -1,
    transferBalanceQtyId: -1,
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      transferBalanceQtyId: -1,
      customerId: null,
      customerName: "",
      contractNo: "",
      contractId: null,
      transferTimeId: null,
      transferTimeName: "",
      productId: null,
      specificMonth: null,
      uom: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      sessionId: null,
      transferToContractId: null,
      transferToContractNo: "",
    },
    defaultItem: {
      valid: false,
      transferBalanceQtyId: -1,
      customerId: null,
      contractId: null,
      customerName: "",
      contractNo: "",
      transferTimeId: null,
      transferTimeName: "",
      productId: null,
      specificMonth: null,
      uom: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      sessionId: null,
      transferToContractId: null,
      transferToContractNo: "",
    },
    searchItem: { action: "", id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Blanket Order-TransferBalance Quantity Entry"
        : "Edit Blanket Order-TransferBalance Quantity Entry";
    },

    poDateFormated2() {
      return this.editedItem.specificMonth
        ? moment(this.editedItem.specificMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
     transferOrderRules() {
        return [
          () =>
            !!this.editedItem.transferToContractId > 0 ||
            "Atleast One Transfer Contract No must be selected.",
          v => !!v || "This is required field"
        ];
      },
    
  },

  // watch: {
  //   dialog (val) {
  //     val || this.close();
  //   }
  // },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      
      if(this.editedItem.contractId>0)
      {
        this.loader = true;
        let id = this.editedItem.contractId;
      getTransferBalanceQtyByContractId(id)
        .then((response) => {
          
          this.existingItemsContractNo = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
      // if (this.salesOrderEntryId > 0) {
      //   let id = this.salesOrderEntryId;
      //   getContractNosById(id)
      //     .then((response) => {
      //       if (response.data != undefined) {
      //         if (response.data.length > 0) {
      //           this.transferContractItems = response.data;
      //           if (response.data.length == 1) {
      //           //   this.transferContractdisable = true;
      //           //   this.editedItem.transferToContractId = this.transferContractItems[0].salesOrderEntryID;
      //           // } else {
      //           //   this.transferContractdisable = false;
      //          }
      //         }
      //       }
      //       this.loader = false;
      //     })
      //     .catch((error) => {
      //       this.loader = false;
      //       window.getApp.$emit("APP_API_ERROR", error);
      //     });
      // }
      if (this.productItems.length > 0) {
        if (this.productItems.length == 1) {
          this.productdisable = true;
          this.editedItem.productId = this.productItems[0].socustomersItemCrossReferenceId;
          this.editedItem.uom = this.productItems[0].perUomName;
          this.onProductChange();
        } else {
        }
      }
      this.loadDropDown();
    },
  
    loadDropDown() {
      this.loader = true;
     
      if(this.editedItem.contractId>0)
      {
        this.loader = true;
        let id = this.editedItem.contractId;
      getTransferBalanceQtyByContractId(id)
        .then((response) => {
          
          this.existingItemsContractNo = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
      getCodeMasterByType("Transfer Time Status")
        .then((response) => {
          this.transferTimeItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      
      if (this.salesOrderEntryId > 0) {
        let id = this.salesOrderEntryId;
        // getContractNosById(id)
        //   .then((response) => {
        //     if (response.data != undefined) {
        //       if (response.data.length > 0) {
        //         this.transferContractItems = response.data;
        //         if (response.data.length == 1) {
        //           this.transferContractdisable = true;
        //           this.editedItem.transferToContractId = this.transferContractItems[0].salesOrderEntryID;
        //         } else {
        //           this.transferContractdisable = false;
        //         }
        //       }
        //     }
        //     this.loader = false;
        //   })
        //   .catch((error) => {
        //     this.loader = false;
        //     window.getApp.$emit("APP_API_ERROR", error);
        //   });
          getDistributorCustomerNameBySalesEntryId(id)
        .then((response) => {
          this.customerItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
        
         getProductBySalesId(id)
        .then(response2 => {
          if (response2.data != undefined && response2.data != null) {
            this.productItems = response2.data;
            console.log('Product Items'+JSON.stringify(this.productItems));
          }
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

        
      }
      // if(this.customerId>0)
      // {
      //   this.getTransferContract.customerId = this.customerId;
      //   this.getTransferContract.salesOrderEntryId = this.salesOrderEntryId;
      //     getCustomerTransferContractNos(this.getTransferContract)
      //   .then((response) => {
      //    this.transferContractItems = response.data;
      //   })
      //   .catch((error) => {
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      // }
      if (this.productItems.length > 0) {
        if (this.productItems.length == 1) {
          this.productdisable = true;
          this.editedItem.productId = this.productItems[0].socustomersItemCrossReferenceId;
          this.editedItem.uom = this.productItems[0].perUomName;
          this.onProductChange();
        } else {
        }
      }
    },
    onContractNoSearch() {
     
    },

     
    ontransferTime() {
      this.transferTimeFlag = false;
     
      let item = this.transferTimeItems.filter(
        (f) => f.codeID == this.editedItem.transferTimeId
      );
      if (item.length > 0 && item[0]["codeID"] == 1582) {
        this.transferTimeFlag = true;
      }
    },
    selectCustomer() {
      if(this.editedItem.customerId>0 && this.editedItem.productId>0)
      {
        this.transferContractItems = [];
        this.getTransferContract.productId = this.editedItem.productId;
        this.getTransferContract.customerId = this.editedItem.customerId;
        this.getTransferContract.salesOrderEntryId = this.salesOrderEntryId;
          getCustomerTransferContractNos(this.getTransferContract)
        .then((response) => {
         this.transferContractItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },
    onProductChange() {
      let item = this.productItems.filter(
        (f) => f.socustomersItemCrossReferenceId == this.editedItem.productId
      );
      if (item.length > 0) {       
        this.editedItem.uom = item[0].perUomName;
        this.productName = item[0].customerReferenceNo;
      }
      if(this.editedItem.customerId>0 && this.editedItem.productId>0)
      {
        this.transferContractItems = [];
        this.getTransferContract.productId = this.editedItem.productId;
        this.getTransferContract.customerId = this.editedItem.customerId;
        this.getTransferContract.salesOrderEntryId = this.salesOrderEntryId;
          getCustomerTransferContractNos(this.getTransferContract)
        .then((response) => {
         this.transferContractItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },

    clearableregistrationDateOfExpiry2() {
      this.editedItem.specificMonth = null;
    },

    editItem(item) {
      this.loadDropDown();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.sessionId = this.editedItem.sessionId;
      this.transferBalanceQtyId = this.editedItem.transferBalanceQtyId;     
      this.ontransferTime();
      this.dialog = true;
      this.uploadbtn = false;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.editedItem);
      if(this.editedItem.transferBalanceQtyId>0)
      {
      deleteTransferBalanceQty(this.editedItem)
        .then(response => {
          
          this.loader = false;
          if(response!=undefined)
          {
          this.add();
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
       else
      {
        window.getApp.$emit("APP_API_ERROR", "No Records");
      }
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.productItems = [];
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getTransferBalanceQtyData(this.searchItem)
        .then((response) => {
          if (response.data.transferBalanceQtyId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.transferBalanceQtyId)
              .indexOf(response.data.transferBalanceQtyId);
            this.editedIndex = index;
           
            this.ontransferTime();
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.id = this.editedItem.transferBalanceQtyId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.id = this.editedItem.transferBalanceQtyId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.id = this.editedItem.transferBalanceQtyId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.id = this.editedItem.transferBalanceQtyId;
      this.toolfunction();
    },
    add() {
      
      this.editedItem.transferBalanceQtyId = -1;
      this.editedItem.transferTimeId= null;
      this.editedItem.transferTimeName= "";
      
      this.editedItem.specificMonth= null;    
      this.editedItem.sessionId= null;     
      this.editedIndex = -1;
      this.transferTimeFlag = false;
      this.existingContractNo = "";
      this.uploadbtn = true;
      this.sessionId = null;
      window.getApp.$emit("ENABLEUPLOAD", this.sessionId);
    },

    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    onClickexisting(item) {
      this.menuprodSearch = false;
      console.log("item balance qty" + JSON.stringify(item));
     
      
      this.transferBalanceQtyId = item.transferBalanceQtyId;
      this.sessionId = item.sessionId;
      this.existingContractNo = item.contractNo;
      
      
         if(item.sessionId!=null)
         {
          
         window.getApp.$emit("ENABLEUPLOAD", item.sessionId);
         }
          window.getApp.$emit("BALENABLEDELETE", item.transferBalanceQtyId);
             let selitem = this.productItems.filter(
        (f) => f.socustomersItemCrossReferenceId == item.productId
      );
      if (selitem.length > 0) {       
        this.editedItem.uom = selitem[0].perUomName;
        this.productName = selitem[0].customerReferenceNo;
      }
      if(item.transferTimeId==1581)
      {
        this.transferTimeFlag = false;
      }
       if(item.transferTimeId==1582)
      {
        this.transferTimeFlag = true;
        if(item.specificMonth!=null)
      {       
        this.editedItem.specificMonth = moment(
                item.specificMonth
              ).format("YYYY-MM-DD");
      }
      }
         let id = item.contractId;
         getProductBySalesId(id)
        .then(response => {
          if (response.data != undefined && response.data != null) {
            this.productItems = response.data;
            console.log('Product Items'+JSON.stringify(this.productItems));
          }
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
         this.editedItem = Object.assign({}, item);
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      let index = this.editedIndex;
      if(this.editedItem.transferBalanceQtyId>-1)
      {
      deleteTransferBalanceQty(this.editedItem)
        .then(response => {
          if(response!=undefined)
          {
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          this.loadDropDown();
          }
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
      else
      {
        window.getApp.$emit("APP_API_ERROR", "No Records");
      }
    },
    save() {
      if (this.$refs.transferform.validate()) {
        this.loader = true;
        this.editedItem.contractId = this.salesOrderEntryId;
        let index = this.editedIndex;
        if (this.editedItem.transferBalanceQtyId > -1) {         

          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          updateTransferBalanceQty(this.editedItem)
            .then(response => {            
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.uploadbtn = false;
               this.loadDropDown();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.statusCodeID = 1;
          console.log("save transfer" + JSON.stringify(this.editedItem));
          createTransferBalanceQty(this.editedItem)
            .then(response => {
             
              this.existingItemsContractNo.push(response.data);
              this.loader = false;
              this.editedItem = response.data;
              let index = this.existingItemsContractNo
                .map(item => item.transferBalanceQtyId)
                .indexOf(response.data.transferBalanceQtyId);
              this.editedIndex = index;
              this.sessionId = this.editedItem.sessionId;
              if(response.data.sessionId!=null)
              {
               window.getApp.$emit("ENABLEUPLOAD", response.data.sessionId);
              }
                window.getApp.$emit("BALENABLEDELETE", response.data.transferBalanceQtyId);
              this.transferBalanceQtyId = response.data.transferBalanceQtyId;
              this.uploadbtn = false;
              // this.fileAttachment();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
            this.loadDropDown();
        }
      }
       else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);       
      }
    },
      closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },

    fileAttachment () {
     
     this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    }
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>  