<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="ContractDistributionInfo.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" fullscreen>
         <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="saveloader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="customerName"
                                    label="Customer Name"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isCustomerName"                                        
                                      ></v-checkbox>
                                    </v-flex>
                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="contractNo"
                                    label="Contract No"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isContractNo"
                                        
                                      ></v-checkbox>
                                    </v-flex>
                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="productName"
                                    label="Product Name"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isProductName"
                                        
                                      ></v-checkbox>
                                    </v-flex>
                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="uom"
                                    label="UOM"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isUom"
                                        
                                      ></v-checkbox>
                                    </v-flex>
                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="tenderExtensionFrom"
                                    label="Tender Extension From"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isTenderExtensionFrom"
                                        
                                      ></v-checkbox>
                                    </v-flex>
                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="tenderExtensionTo"
                                    label="Tender Extension To"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isTenderExtensionTo"
                                       
                                      ></v-checkbox>
                                    </v-flex>
                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="noOfLot"
                                    label="No Of Lot To Take"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isNoOfLot"
                                        
                                      ></v-checkbox>
                                    </v-flex>
                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="quotationNo"
                                    label="Quotation No"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                 <v-flex xs12 sm2>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isQuotationNo"
                                       
                                      ></v-checkbox>
                                    </v-flex>

                                 <v-flex xs12 sm4>
                                  <v-text-field
                                    v-model="editedItem.confirmationPONumber"
                                    label="Confirmation PO No"
                                    prepend-icon="select_all"
                                   
                                  ></v-text-field>
                                </v-flex>
                                
                 
                </v-layout>
              </v-form>
            </v-card-text>
             <v-card-text>
               <span class="headline">Customer Acceptance Qty Order</span>
             <acceptance-qty-order ref="refqtyOrder"></acceptance-qty-order>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
        </v-card>
       
      </v-dialog>
     
    </v-toolbar>
   
     <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="customerAcceptanceConfirmationID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">
           <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.isCustomerName">done</v-icon>
            <v-icon small color="red" v-else>clear</v-icon>
          </td>
          
        <td class="text-xs-left">
          <v-icon small color="green" v-if="props.item.isContractNo">done</v-icon>
            <v-icon small color="red" v-else>clear</v-icon>
        </td>
       <td class="text-xs-left">
         <v-icon small color="green" v-if="props.item.isProductName">done</v-icon>
            <v-icon small color="red" v-else>clear</v-icon></td>
        <td class="text-xs-left">
          <v-icon small color="green" v-if="props.item.isNoOfLot">done</v-icon>
            <v-icon small color="red" v-else>clear</v-icon>
        </td>
         <td class="text-xs-left">
           <v-icon small color="green" v-if="props.item.isQuotationNo">done</v-icon>
            <v-icon small color="red" v-else>clear</v-icon></td>
        

        <td class="text-xs-left">
          <v-icon small color="green" v-if="props.item.isTenderExtensionFrom">done</v-icon>
            <v-icon small color="red" v-else>clear</v-icon></td>

        <td class="text-xs-left">
          <v-icon small color="green" v-if="props.item.isTenderExtensionTo">done</v-icon>
            <v-icon small color="red" v-else>clear</v-icon></td>
              <td class="text-xs-left">
         {{ props.item.confirmationPONo  }}</td>
        <td class="text-xs-left">
         {{ props.item.addedDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
           
            @click="editItem(props.item)"
            >edit</v-icon
          >
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import AcceptanceQtyOrder from "@/pages/SalesOrders/BlanketTenderAgency/customerAcceptanceQtyOrder";
import {
  getCustomerAcceptanceConfirmationByID,
  getCustomerAcceptanceQtyOrderByID,
  getData,
  createCustomerAcceptanceConfirmation,
  updateCustomerAcceptanceConfirmation,
  deleteCustomerAcceptanceConfirmation,
  createCustomerAcceptanceQtyOrder,
  updateCustomerAcceptanceQtyOrder,
  deleteCustomerAcceptanceQtyOrder,
} from "@/api/customerAcceptance";
import UploadButton from "vuetify-upload-button";
import moment from "moment";
import { getContractDistributionItemsBySalesId } from "@/api/salesOrderEntry";
import GlobalMessage from "@/constant";
export default {
  components: {
    "upload-btn": UploadButton,
    attachment,
    AcceptanceQtyOrder
  },
  data: () => ({
    uploadbtn: true,
    screenID: "",
    sessionId: null,
    
    customerName: "",
    contractNo: "",
    productName: "",
    uom: "",
    tenderExtensionFrom: "",
    tenderExtensionTo: "",
    noOfLot: "",
    quotationNo: "",
    blanketOrderId: null,
    productNo: "",
    description: "",
    orderNo: "",
    itemCategory: "",
    sellingPrice: "",
    orderQty: "",
    saveloader: false,
    enablelineAddButton: false,  
   
    dialog: false,
    search: "",
    loader: false,
    editedIndex: -1,
    searchTag: "",
    searchFilter: "",
    customerItems: [],
    quatationUtisItems: [],
    gridItems: [],

    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],

    editedItem: {
      customerAcceptanceConfirmationID: -1,
      blanketOrderId: null,
      isCustomerName: false,
      isContractNo: false,
      isNoOfLot: false,
      isProductName: false,
      isQuotationNo: false,
      isTenderExtensionFrom: false,
      isTenderExtensionTo: false,
      isUom: false,
      confirmationPONo: "", 
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      customerAcceptanceConfirmationID: -1,
       blanketOrderId: null,
      isCustomerName: false,
      isContractNo: false,
      isNoOfLot: false,
      isProductName: false,
      isQuotationNo: false,
      isTenderExtensionFrom: false,
      isTenderExtensionTo: false,
      isUom: false,
      confirmationPONo: "", 
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    headers: [
      { text: "Is Customer Name", value: "isCustomerName", align: "left" },
      { text: "Is Contract No", value: "isContractNo", align: "left" },
      { text: "Is Product Name", value: "isProductName", align: "left" },
      { text: "Is No Of Lot", value: "isNoOfLot", align: "left" },
       { text: "Is Quotation No", value: "isQuotationNo", align: "left" },
      { text: "Is TenderExtension From", value: "isTenderExtensionFrom", align: "left" },
      { text: "Is TenderExtension To", value: "isTenderExtensionTo", align: "left" },
       { text: "Is TenderExtension To", value: "isTenderExtensionTo", align: "left" },
        { text: "Confirmation PO Number", value: "confirmationPONo", align: "left" },
       
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Action", value: "name", align: "left" },
    ],
    json_fields: {
      CustomerName: "customerName",
      "Total Qty": "totalQty",
      UOM: "uom",
      "No Of Lots": "noOfLots",
      "PO Number": "poNumber",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Customer Acceptance Confirmation"
        : "Edit Customer Acceptance Confirmation";
    },
  },
  methods: {
    initialize() {
      if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
        getCustomerAcceptanceConfirmationByID(id)
          .then((response) => {
            console.log(
              "contract search response data" + JSON.stringify(response.data)
            );
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadDropdown() {
       if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
        getCustomerAcceptanceConfirmationByID(id)
          .then((response) => {
         
            this.gridItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    saveAndClose() {
      this.save();
      this.close();
    },

    close() {
      this.dialog = false;
    },
   
    closeedit() {
      this.editDialogue = false;
    },
    openedit() {
      this.editDialogue = true;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);     
      this.dialog = true;
    },
     onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
     deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
     
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteCustomerAcceptanceConfirmation(this.editedItem)
          .then(response => {
            this.loader = false;
            if(response!=undefined)
            {
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch(error => {
            this.loader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      
    },
    add () {
      this.editedItem.customerAcceptanceConfirmationID = -1;
      this.editedItem.blanketOrderId = null;
      this.editedItem.isCustomerName = false;
      this.editedItem.isContractNo = false;
      this.editedItem.isProductName = false;
      this.editedItem.isQuotationNo = false;
      this.editedItem.isTenderExtensionFrom = false;
      this.editedItem.isTenderExtensionTo = false;
      this.editedItem.isNoOfLot = false;
      this.editedItem.isUom = false;
      this.editedItem.confirmationPONo = "";
    },
    save() {
      this.editedItem.salesOrderEntryID = this.salesOrderEntryID;
      this.editedItem.sellingPrice = parseFloat(this.editedItem.sellingPrice);    
      console.log("editedItem" + JSON.stringify(this.editedItem));
      if (this.editedIndex > -1) {
        this.loader = true;
        this.saveloader = true;
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

        updateCustomerAcceptanceConfirmation(this.editedItem)
          .then(response2 => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.editedItem.sessionID = "";
            this.uploadedFiles = [];
            //this.add();
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.loader = true;
        this.saveloader = true;
        createCustomerAcceptanceConfirmation(this.editedItem)
          .then(response2 => {
            this.gridItems.push(response2.data);
            this.loader = false;
            this.saveloader = false;
            this.initialize();
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>

 