<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="PurchaseItemInformation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
        <v-btn
          class="pull-right"
          slot="activator"
          :disabled="enableAddButton"
          icon
          @click.native="add()"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Item Info</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.purchaseItemSalesEntryLineID<0"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <!-- <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>-->

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow:auto;height:calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex lg9 sm9>
                    <v-layout wrap class="layoutbg">
                      <v-flex xs12 sm6>
                        <v-autocomplete
                          :loading="loader"
                          chips
                          flat
                          label="Product No"
                          prepend-icon="notes"
                          v-model="editedItem.soByCustomersId"
                          :items="soCustomerItems"
                          item-text="no"
                          item-value="socustomersItemCrossReferenceId"
                          @change="selectProduct"
                        >
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected">{{ data.item.customerReferenceNo }}</v-chip>
                          </template>
                        </v-autocomplete>
                        <!-- <v-autocomplete
                          :loading="companyloader"
                          chips
                          flat
                          label="Product No"
                          prepend-icon="notes"
                          v-model="editedItem.itemId"
                          :items="productNoItems"
                          item-text="itemNoDetail"
                          item-value="itemId"
                        
                        >-->
                        <!-- <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected">{{ data.item.no }}</v-chip>
                          </template>
                        </v-autocomplete>-->
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="description"
                          label="Description"
                          prepend-icon="select_all"
                          readonly
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.orderQty"
                          label="Order Qty"
                          mask="#################"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.optionalQty"
                          label="Optional Qty"
                          mask="#################"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field v-model="uom" label="UOM" prepend-icon="select_all" readonly></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm3>
                        <v-autocomplete
                          :loading="loader"
                          chips
                          flat
                          label="Order Currency"
                          prepend-icon="notes"
                          v-model="editedItem.orderCurrencyID"
                          :items="orderCurrencyItems"
                          item-text="value"
                          item-value="applicationMasterDetailId"
                        ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12 sm3>
                        <v-currency-field
                          prepend-icon="attach_money"
                          :auto-decimal-mode="false"
                          :decimal-length="3"
                          :value-as-integer="false"
                          :allow-negative="false"
                          flat
                          masked="false"
                          v-model="editedItem.sellingPrice"
                          label="Selling Price"
                          
                        ></v-currency-field>
                      </v-flex>
                      <v-flex xs12 sm3>
                        <v-text-field
                          v-model="editedItem.pricePerQty"
                          label="Price Per Qty"
                          readonly
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm3>
                        <v-autocomplete
                          label="Contract Status"
                          prepend-icon="notes"
                          v-model="editedItem.statusCodeID"
                          :items="statusOptions"
                          item-text="codeValue"
                          item-value="codeID"
                          chips
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12 sm3>
                     
                    <v-card width="350px" height="600px" class="rounded-card">
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <span class="headline">Reference</span>
                        </v-flex>
                       
                       <v-layout row wrap xs12 sm12>
                          <v-flex xs12 sm1>
                          </v-flex>
                           <v-flex xs12 sm11>
                         
                         <v-list class="referencetext" v-for="(menuitem,index) in referenceItems" :key="index">
                         
                          <label>Navision No :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                         
                      
                          <b>{{ menuitem.no }}</b>
                       
                       <br/>
                          <label>Manufacture By : </label>
                       
                          <b>{{ menuitem.itemCategoryCode }}</b>
                         <br/>
                         <label>Description : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                       
                          <b>{{menuitem.description}}</b>
                         <br/>
                         <label>Description 2 : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                       
                          <b>{{menuitem.description2}}</b>
                         <br/>
                          <label>Supply To : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                       
                          <b>{{menuitem.internalRef}}</b>
                         <br/>
                          <label>BUOM : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                       
                          <b>{{menuitem.baseUnitofMeasure}}</b>
                         <br/>
                          <label>Replishment : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                       
                          <b>{{menuitem.replenishmentMethod}}</b>
                         <br/>
                          <label>Prefer source: &nbsp;&nbsp;&nbsp;&nbsp;</label>
                       
                          <b></b>
                         <br/>
                         
                         <hr />
                        
                        </v-list>
                         </v-flex>
                       </v-layout>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-text>
              <span class="headline">Detail Contract Distribution Information</span>
              <contact-distribution-info ref="refcontactDistributioninfo"></contact-distribution-info>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline :loading="saveloader" @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="purchaseItemSalesEntryLineID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <!-- <td class="text-xs-left">{{ props.item.quotationNo }}</td> -->

          <td class="text-xs-left">{{ props.item.productNO }}</td>
           <td class="text-xs-left">{{ props.item.description }}</td>
          <td class="text-xs-left">{{ props.item.orderQty }}</td>
          <td class="text-xs-left">{{ props.item.uom }}</td>
          <td class="text-xs-left">{{ props.item.orderCurrency }}</td>
           <td class="text-xs-left">{{ props.item.sellingPrice }}</td> 

           <td class="text-xs-left">{{ props.item.pricePerQty }}</td> 
            <td class="text-xs-left">{{ props.item.optionalQty }}</td> 
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{props.item.addedByUser}}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getPlants } from "@/api/plant";
import { getCompanyListings } from "@/api/companyListing";
import {getSobyCustomerSunwardEquivalent} from "@/api/sobyCustomers"
import { getDescriptionExceptFPandPRItems } from "@/api/purchaseOrderLine";
import {
  getPurchaseItemSalesEntryLineItems,
  getPurchaseItemSalesEntryLineData,
  createPurchaseItemSalesEntryLine,
  updatePurchaseItemSalesEntryLine,
  deletePurchaseItemSalesEntryLine,
  getNavItemsForSalesEntry,
  getSobyCustomersAddressForSalesLine,
  getSocustomersItemCrossReferenceAll,
  getSocustomersItemCrossReferenceForPurchaseItem,
  getPurchaseItemsByProductNo,
  getNavItemByDescription,
  getGenericCodeForReference,
  getNavisionReference,
   getSocustomersItemCrossReferenceByCustomer
} from "@/api/purchaseItemSalesEntryLine";
import { getSalesOrderEntryItemById } from "@/api/salesOrderEntry";
import UploadButton from "vuetify-upload-button";
import moment from "moment";

import GlobalMessage from "@/constant";

import ContactDistributionInfo from "@/pages/SalesOrders/BlanketTenderAgency/contractDistribution";
export default {
  components: {
    "upload-btn": UploadButton,
    ContactDistributionInfo
  },
  data: () => ({
    startDateMenu: false,
    endDateMenu: false,
    groupDescription: "",
    saveloader: false,
    companyloader: false,
    customerField: true,
    customerID: null,
    tenderAgencyField: false,
    isMultipleQuatationNo: true,
    enableListReference: false,
    enabletenderAgencyNo: false,
    enableschdAgreementNo: false,
    enablePurchaselotDeliveries: true,
    enableDeliveryDate: false,
    enableshipToAddress: false,
    enableDistributionInfo: true,
    enableProjectedDelivery: false,
    enableProjectedStatus: false,
    isCheckpurchaseLotDeliveries: false,
    typeOfOrderID: null,
    Productloader: false,
    loader: false,
    sameAsHeader: false,
    uploadbtn: true,
    isLotDeliveries: false,
    orderById: 1403,
    orderBy: "",
    customerName: "",
    status: "",
    productNo: "",
    orderNo: "",
    schdAgreementDisabled: false,
    dialog: false,
    companyID: null,
    deliveryMenu: false,
    isAllowExtension: false,
    extensionMonth: "",
    extensionQuantity: "",
    search: "",   
    enableAddButton: true,
    editedIndex: -1,
    searchFilter: "",
    description: "",
    itemCategory: "",
    internalRef: "",
    disablequotationNo: false,
    uom: "",
    refuom: "",
    refdescription: "",
    packingUOM: "",
    typeofOrderItems: [],
    referenceItems: [],
    productNoItems: [],
    soCustomerItems: [],
    orderCurrencyItems: [],
    quationUnits: [],

    addressItems: [],
    gridItems: [],
    salesOrderEntryID: null,
    statusOptions: [],

    extantionPercentageItems: [],
    getReference: {
      itemId: null,
      soCustomerId: null
    },
    editedItem: {
      purchaseItemSalesEntryLineID: -1,
      quotationNo: "",
      salesOrderEntryID: null,
      soByCustomersId: null,
      itemId: null,
      orderQty: null,
      optionalQty: null,
      pricePerQty: null,
      orderCurrencyID: null,
      sellingPrice: null,
      foc: "",
      schdAgreementNo: "",
      tenderAgencyNo: "",
      shipToAddressID: null,
      uomID: null,
      isLotDeliveries: false,
      isAllowExtension: false,
      extensionMonth: 6,
      extensionQuantity: 25,
      deliveryDateOfOrder: new Date().toISOString().substr(0, 10),
      statusCodeID: 1422,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      purchaseItemSalesEntryLineID: -1,
      quotationNo: "",
      salesOrderEntryID: null,
      soByCustomersId: null,
      itemId: null,
      optionalQty: null,
      pricePerQty: null,
      orderQty: null,
      orderCurrencyID: null,
      sellingPrice: null,
      foc: "",
      schdAgreementNo: "",
      tenderAgencyNo: "",
      shipToAddressID: null,
      uomID: null,
      isLotDeliveries: false,
      isAllowExtension: false,
      extensionMonth: 6,
      extensionQuantity: 25,
      deliveryDateOfOrder: new Date().toISOString().substr(0, 10),
      statusCodeID: 1422,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    getNavisionItem: {
    id: null,
    salesOrderEntryId: null,
    },
    headers: [
      {
        text: "Product No",
        value: "productNO",
        align: "left"
      },
       { text: "Product Description", value: "description", align: "left" },
      { text: "Order Qty", value: "orderQty", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      { text: "Order Currency", value: "orderCurrency", align: "left" },
       { text: "Selling Price", value: "sellingPrice", align: "left" },
        { text: "Selling UOM", value: "pricePerQty", align: "left" },
          { text: "Optional Qty", value: "optionalQty", align: "left" },
      { text: "Contract Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%"
      }
    ],
    json_fields: {
      "Product No": "productNO",
      "Order Qty": "orderQty",
      "Order Currency": "orderCurrency",
      "Selling Price": "sellingPrice",
      UOM: "uom",
      "Contract Status": "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate"
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Item Information"
        : "Edit Item Information";
    },
    deliveryDateFormated() {
      return this.editedItem.deliveryDateOfOrder
        ? moment(this.editedItem.deliveryDateOfOrder).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
     formattedCurrencyValue (){
        return this.editedItem.sellingPrice?
             parseFloat(this.editedItem.sellingPrice).toFixed(3): ""
        }
  },
  methods: {
    initialize() {
      if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
        getSalesOrderEntryItemById(id)
          .then(response => {
            this.companyID = response.data.companyID;
            this.loader = false;
            this.isAllowExtension = response.data.isAllowExtension;
            this.orderNo = response.data.orderNo;
            this.orderById = response.data.orderByID;
            this.typeOfOrderID = response.data.typeOfOrderID;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getPurchaseItemSalesEntryLineItems(id)
          .then(response => {
            this.loader = false;
            this.gridItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      if (this.editedItem.isLotDeliveries == false) {
        this.enableshipToAddress = true;
        this.enableDeliveryDate = true;
      }
      if (this.editedItem.isLotDeliveries == true) {
        this.enableshipToAddress = false;
        this.enableDeliveryDate = false;
      }
      if (this.companyID > 0) {
        this.companyloader = true;
        getNavItemsForSalesEntry(this.companyID)
          .then(response => {
            this.productNoItems = response.data;
            this.companyloader = false;
          })
          .catch(error => {
            this.companyloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      getApplicationMasterDetailByType(229)
        .then(response => {
          this.orderCurrencyItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationMasterDetailByType(234)
        .then(response => {
          this.quationUnits = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Sales Order Status")
        .then(response => {
          this.statusOptions = response.data.filter(s=>s.codeID == 1421 || s.codeID == 1422);
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loadDropdownList();
    },

    loadDropdownList() {
      //this.editedItem.isLotDeliveries = this.isLotDeliveries;
      if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
        getSalesOrderEntryItemById(id)
          .then(response => {
            //this.companyID = response.data.companyID;

            this.isAllowExtension = response.data.isAllowExtension;
            this.orderNo = response.data.orderNo;
            this.orderById = response.data.orderByID;
            this.loader = false;
            this.typeOfOrderID = response.data.typeOfOrderID;
            if (this.$refs.refcontactDistributioninfo != undefined) {
            }
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        let salesid = this.salesOrderEntryID;
        getPurchaseItemSalesEntryLineItems(salesid)
          .then(response => {
            this.loader = false;
            this.gridItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }

      // let id = this.editedItem.soByCustomersId;
      getSobyCustomersAddressForSalesLine("")
        .then(response => {
          console.log("address item" + JSON.stringify(response.data));
          this.addressItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
        if(this.customerID>0)
        {
        console.log('items customer id'+this.customerID);
     let id =  this.customerID;
       getSocustomersItemCrossReferenceByCustomer(id)
        .then(response => {
          this.soCustomerItems = response.data;
          this.Productloader = false;
        })
        .catch(error => {
          this.Productloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
        }
      setTimeout(() => {
        if (this.companyID > 0) {
          this.companyloader = true;
          getNavItemsForSalesEntry(this.companyID)
            .then(response => {
              this.productNoItems = response.data;
              this.companyloader = false;
            })
            .catch(error => {
              this.Productloader = false;
              this.companyloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }, 300);
    },

    add() {
      //  this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);

      this.editedItem.statusCodeID = 1422;
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.editedItem.purchaseItemSalesEntryLineID = -1;
      this.editedItem.quotationNo = "";
      this.editedItem.orderQty = "";
      this.editedItem.optionalQty = null;
      this.editedItem.pricePerQty = null;
      this.editedItem.orderCurrencyID = null;
      this.editedItem.sellingPrice = null;
      this.editedItem.foc = "";
      this.editedItem.uomID = null;
      this.editedItem.isLotDeliveries = false;
      this.editedItem.isAllowExtension = false;
      this.sameAsHeader = false;
      this.editedItem.extensionMonth = "";
      this.editedItem.extensionQuantity = "";
      this.description = "";
      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";

      if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.enablelineAddButton = true;
        this.$refs.refcontactDistributioninfo.gridItems = [];
      }
      if (this.gridItems.length == 0) {
        this.disablequotationNo = false;
      }
    },
    selectProduct(value) {
      if (this.editedItem.soByCustomersId > 0) {
       this.getNavisionItem.id=this.editedItem.soByCustomersId;
       this.getNavisionItem.salesOrderEntryId = this.salesOrderEntryID;
        getNavisionReference(this.getNavisionItem)
            .then(response2 => {
              if (response2 != undefined) {
               this.referenceItems = response2.data;
              }
            })
            .catch(error => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        let product = this.soCustomerItems.filter(
          n =>
            n.socustomersItemCrossReferenceId == this.editedItem.soByCustomersId
        );
        if (product.length > 0) {
          this.uom = product[0].perUomName;
          this.description = product[0].description;
          this.productNo = product[0].customerReferenceNo;
          this.editedItem.pricePerQty = product[0].purchasePerUomName;
          console.log('Purchase Peruom',JSON.stringify(product[0]))
          let itemNo = product[0].description;
          // getPurchaseItemsByProductNo(itemNo)
          //   .then(response2 => {
          //     if (response2 != undefined) {
          //       this.refdescription = response2.description;
          //       this.internalRef = response2.internalRef;
          //       this.refuom = response2.baseUnitofMeasure;
          //       this.itemCategory = response2.itemCategoryCode;
          //     }
          //   })
          //   .catch(error => {
          //     window.getApp.$emit("APP_API_ERROR", error);
          //   });
          this.packingUOM = product[0].customerPackingUomName;
          this.uom = product[0].perUomName;
          if (this.$refs.refcontactDistributioninfo != undefined) {
            this.$refs.refcontactDistributioninfo.uom = this.uom;

            this.$refs.refcontactDistributioninfo.description = this.description;
            this.$refs.refcontactDistributioninfo.productNo = this.productNo;
            this.$refs.refcontactDistributioninfo.itemCategory = this.itemCategory;
            this.$refs.refcontactDistributioninfo.orderNo = this.orderNo;
          }
        }

       
      }
    },

   
    saveAndClose() {
      this.save();
      this.close();
    },
    getProductReference() {
      
       this.getNavisionItem.id=this.editedItem.soByCustomersId;
       this.getNavisionItem.salesOrderEntryId = this.salesOrderEntryID;
        getNavisionReference(this.getNavisionItem)
            .then(response2 => {
              if (response2 != undefined) {
               this.referenceItems = response2.data;
              }
            })
            .catch(error => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
      if (
        this.editedItem.soByCustomersId != null &&
        this.editedItem.soByCustomersId > 0
      ) {
        id = this.editedItem.soByCustomersId;
      }
      if (this.editedItem.itemId != null && this.editedItem.itemId > 0) {
        id = this.editedItem.itemId;
      }

      this.getReference.itemId = this.editedItem.itemId;
      this.getReference.soCustomerId = this.editedItem.soByCustomersId;
      if (
        this.getReference.itemId != null ||
        this.getReference.soCustomerId != null
      ) {
        // getPurchaseItemsByProductNo(this.getReference)
        //   .then(response2 => {
        //     if (response2 != undefined) {
        //       this.referenceItems = response2.data;
        //       if (this.referenceItems.length > 0) {
        //         this.enableListReference = true;
        //       }
        //     }
        //   })
        //   .catch(error => {
        //     window.getApp.$emit("APP_API_ERROR", error);
        //   });
      }
    },
    editItem(item) {
      this.description = "";
      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";
      this.referenceItems = [];
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log("purchase line items" + JSON.stringify(item));

      this.editedItem.uomID = item.uomid;
      if (item.deliveryDateOfOrder != null) {
        this.editedItem.deliveryDateOfOrder = moment(
          item.deliveryDateOfOrder
        ).format("YYYY-MM-DD");
      }
      if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.companyID = this.editedItem.companyID;
        this.$refs.refcontactDistributioninfo.purchaseItemSalesEntryLineID = this.editedItem.purchaseItemSalesEntryLineID;
        this.$refs.refcontactDistributioninfo.enablelineAddButton = false;

        this.$refs.refcontactDistributioninfo.sellingPrice = this.editedItem.sellingPrice;
        this.$refs.refcontactDistributioninfo.sellingUOM = this.editedItem.pricePerQty;
        this.$refs.refcontactDistributioninfo.orderQty = this.editedItem.orderQty;
         this.$refs.refcontactDistributioninfo.customerID = this.customerID;
         this.$refs.refcontactDistributioninfo.productGroupCode = item.productGroupCode;
         this.$refs.refcontactDistributioninfo.productGroupUom = item.productGroupUom;
        this.$refs.refcontactDistributioninfo.loadDropdownList();
      }
     
      this.selectProduct(this.editedItem.soByCustomersId);
     

      if (this.gridItems.length == 0) {
        this.disablequotationNo = false;
      }
      if (this.editedItem.isLotDeliveries == false) {
        this.enableshipToAddress = true;
        this.enableDeliveryDate = true;
      }

      if (this.isMultipleQuatationNo == false && this.gridItems.length > 0) {
        let quotation = this.gridItems[0].quotationNo;

        this.editedItem.quotationNo = quotation;
        this.disablequotationNo = true;
      }

      setTimeout(() => {
        this.dialog = true;
      }, 300);
    },
    toolfunction() {
      getPurchaseItemSalesEntryLineData(this.searchItem)
        .then(response => {
          if (response.data != undefined) {
            this.editedItem = response.data;
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },

    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },

    addFormDialog() {
      this.add();
    },

    close() {
      this.dialog = false;
      if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.gridItems = [];
      }
      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";
      this.description = "";
      this.editedItem = Object.assign({}, this.defaultItem);
      this.referenceItems = [];
      // this.initialize();
      //   setTimeout(() => {
      //     this.editedItem = Object.assign({}, this.defaultItem);
      //     this.editedIndex = -1;
      //   }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
  
    checkAsHeader() {
      if (this.sameAsHeader == true) {
        this.editedItem.isAllowExtension = this.isAllowExtension;
        this.editedItem.extensionMonth = this.extensionMonth;
        this.editedItem.extensionQuantity = this.extensionQuantity;
      }
    },
    save() {
      this.editedItem.salesOrderEntryID = this.salesOrderEntryID;
      this.editedItem.sellingPrice = parseFloat(this.editedItem.sellingPrice);    
      console.log("editedItem" + JSON.stringify(this.editedItem));
      if (this.editedIndex > -1) {
        this.loader = true;
        this.saveloader = true;
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

        updatePurchaseItemSalesEntryLine(this.editedItem)
          .then(response2 => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.editedItem.sessionID = "";
            this.uploadedFiles = [];
            //this.add();
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.loader = true;
        this.saveloader = true;
        createPurchaseItemSalesEntryLine(this.editedItem)
          .then(response2 => {
            this.gridItems.push(response2.data);
            this.loader = false;
            this.saveloader = false;
            let index = this.gridItems
              .map(item => item.purchaseItemSalesEntryLineID)
              .indexOf(response2.data.purchaseItemSalesEntryLineID);
            this.editedItem.purchaseItemSalesEntryLineID =
              response2.data.purchaseItemSalesEntryLineID;
            this.editedIndex = index;
            this.editedItem.sessionID = "";
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            if (this.$refs.refcontactDistributioninfo != undefined) {
              this.$refs.refcontactDistributioninfo.enablelineAddButton = false;
              this.$refs.refcontactDistributioninfo.purchaseItemSalesEntryLineID =
                response2.data.purchaseItemSalesEntryLineID;
                console.log('purchase Item customer'+JSON.stringify(response2.data));

                 this.$refs.refcontactDistributioninfo.customerID = this.customerID;                
                  this.$refs.refcontactDistributioninfo.loadDropdownList();
            }
            this.initialize();
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.purchaseItemSalesEntryLineID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deletePurchaseItemSalesEntryLine(this.editedItem)
          .then(response => {
            this.loader = false;
            if(response!=undefined)
            {
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch(error => {
            this.loader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  }
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 90px);
 }

 .graybackground {
   background: gainsboro !important;
 }

 .backcolor {
   background-color: whitesmoke;
   border-radius: 16px !important;
 }

 .referencetext {
   text-align: left !important;
   font-size: '10px';
   background-color: transparent !important;
 }

 .layoutbg {
   border-style: solid;
   border-radius: 8px !important;
   border-color: rgb(216, 222, 247);
   border-width: 1px;
   padding: 8px;
 }
</style>
