<template>
  <div>
    <v-card>
      <v-card-text>
        <v-form v-model="editedItem.valid" ref="form" lazy-validation>
          <v-layout row wrap class="layoutbg">
            <v-flex xs12 sm12>
              <v-menu
                bottom
                :close-on-content-click="false"
                v-model="menuprodSearch"
              >
                <v-text-field
                  slot="activator"
                  prepend-icon="select_all"
                  v-model="existingContractNo"
                  clearable
                  append-icon="search"
                  label="Existing Request Extension"
                ></v-text-field>
                <v-card>
                  <v-layout row wrap>
                    <v-flex xs12 sm12>
                      <v-text-field
                        v-model="searchFilter"
                        prepend-icon="search"
                        label="Search"
                        single-line
                        hide-details
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-data-table
                        :headers="headers"
                        :items="exstingItems"
                        :search="searchFilter"
                        class="elevation-1"
                        default-sort="blanketOrderId:desc"
                        :rows-per-page-items="rowsPerPageItems"
                        :pagination.sync="pagination"
                      >
                        <template slot="items" slot-scope="props">
                          <tr v-on:dblclick="onClickExist(props.item)">
                            <td class="text-xs-left">
                              {{ props.item.customerName }}
                            </td>
                            <td class="text-xs-left">
                              {{ props.item.contractNo }}
                            </td>
                            <td class="text-xs-left">
                              {{ props.item.productName }}
                            </td>
                            <td class="text-xs-left">{{ props.item.uom }}</td>
                           

                            <td class="text-xs-left">
                              {{ props.item.qtyRequest }}
                            </td>
                            <td class="text-xs-left">{{ props.item.uom }}</td>

                            <td class="text-xs-left">
                              {{ props.item.fromMonth | formatDate }}
                            </td>
                            <td class="text-xs-left">
                              {{ props.item.toMonth | formatDate }}
                            </td>

                            <td class="text-xs-left">
                              {{ props.item.statusCode }}
                            </td>
                          </tr>
                        </template>
                        <template slot="no-data">
                          <v-btn color="primary" outline @click="initialize"
                            >Record not exist.Refresh again in while
                            time.</v-btn
                          >
                        </template>
                      </v-data-table>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-menu>
            </v-flex>
            <v-flex xs12 sm4>
              <v-menu
                v-model="dateOfOrderMenu"
                :close-on-content-click="false"
                full-width
                min-width="290"
              >
                <v-text-field
                  slot="activator"
                  :value="dateOfOrderFormated"
                  label="Date Of Request"
                  prepend-icon="today"
                  readonly
                ></v-text-field>
                <v-date-picker
                  v-model="editedItem.dateOfOrder"
                  @change="dateOfOrderMenu = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>

            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.contractNo"
                label="Contract/Order No"
                prepend-icon="description"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-autocomplete
                :loading="loader"
                chips
                flat
                label="Customer Name"
                prepend-icon="notes"
                v-model="editedItem.customerId"
                :items="customerItems"
                item-text="companyListingName"
                item-value="companyListingID"
                @change="selCustomer"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm8>
              <v-autocomplete
                label="Product Name"
                prepend-icon="description"
                v-model="editedItem.productId"
                :items="productItems"
                item-text="productNo"
                item-value="socustomersItemCrossReferenceId"
                @change="onProductChange"
              >
              <template slot="selection" slot-scope="data">
                  <v-chip :selected="data.selected">{{
                    data.item.description
                  }}</v-chip>
                </template>
              </v-autocomplete>
            </v-flex>
            
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.uom"
                label="UOM"
                prepend-icon="select_all"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.qtyRequest"
                label="Qty Request"
                prepend-icon="select_all"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
             
            <v-btn
              @click="qtyCalculate"
              color="primary"              
            >
              Calculate
            </v-btn>
         
               </v-flex>
               <v-flex xs12 sm4>
                 
               </v-flex>
            <v-flex xs12 sm12>
              <v-layout row wrap>
                <v-flex xs12 sm6>
                  <v-layout row wrap class="layoutbg">
                    <span>Extension Information</span>
                    <v-flex xs12 sm12>
                      <v-autocomplete
                        label="Extension Information"
                        prepend-icon="notes"
                        v-model="editedItem.extensionInformationId"
                        :items="extensionOptions"
                        item-text="codeValue"
                        item-value="codeID"
                        chips
                        @change="onChnageextensionInformation"
                      ></v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm12 v-if="fromMonthFlag">
                      <v-menu
                        ref="poDateDue"
                        v-model="poDateDue1"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          :value="poDateFormated1"
                          label="From Month"
                          prepend-icon="event"
                          clearable
                          readonly
                          @click:clear="clearableregistrationDateOfExpiry1"
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.fromMonth"
                          type="month"
                          @change="poDateDue1 = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>

                    <v-flex xs12 sm12 v-if="fromMonthFlag">
                      <v-menu
                        ref="poDateDue"
                        v-model="poDateDue"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        lazy
                        transition="scale-transition"
                        offset-y
                        full-width
                        min-width="290px"
                      >
                        <v-text-field
                          slot="activator"
                          :value="poDateFormated"
                          label="To Month"
                          prepend-icon="event"
                          clearable
                          readonly
                          @click:clear="clearableregistrationDateOfExpiry"
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.toMonth"
                          type="month"
                          @change="poDateDue = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>

                    <v-flex xs12 sm12 v-if="noofMonthFlag">
                      <v-text-field
                        v-model="editedItem.noofMonth"
                        label="No of Month"
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-layout row wrap class="layoutbg">
                    <v-flex xs12 sm6>
                      <p>Is There Lot Information</p>
                      <v-radio-group
                        row
                        v-model="editedItem.lotInformationFlag"
                        @change="onChnagelotInformation"
                      >
                        <v-radio label="Yes" value="Yes"></v-radio>
                        <v-radio label="No" value="No"></v-radio>
                      </v-radio-group>
                    </v-flex>
                    <v-flex xs12 sm6 v-if="lotInformationFlagShow"> </v-flex>
                    <v-flex xs12 sm6 v-if="lotInformationFlagShow">
                      <v-text-field
                        v-model="editedItem.howManyLot"
                        label="How Many Lot?"
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm4>
              <v-autocomplete
                label="Customer Info On Currency"
                prepend-icon="notes"
                v-model="editedItem.currencyId"
                :items="currencyItems"
                item-text="value"
                item-value="applicationMasterDetailId"
                chips
              ></v-autocomplete>
            </v-flex>

            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.price"
                label="Customer Info On Price"
                prepend-icon="select_all"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-autocomplete
                label="Extension status"
                prepend-icon="notes"
                v-model="editedItem.extensionStatusId"
                :items="extensionStatusOptios"
                item-text="codeValue"
                item-value="codeID"
                chips
              ></v-autocomplete>
            </v-flex>
          </v-layout>
          <v-layout row wrap class="layoutbg">
            <v-flex xs12 sm12 class="backcolor">
              <span style="font-weight: bold">Quotation Information</span>
            </v-flex>
            <v-flex xs12 sm4>
              <v-autocomplete
                label="Qty Request Status"
                prepend-icon="notes"
                v-model="editedItem.qtyExtensionStatusId"
                :items="qtyRequestStatusOptios"
                item-text="codeValue"
                item-value="codeID"
                chips
                :disabled="requestStatus"
               @change="selectqtyRequest"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm8> </v-flex>
            <v-flex xs12 sm12 >
            <span>Quatation Request</span>
            </v-flex>
            <v-flex xs12 sm4 >
              
              <v-layout row wrap class="layoutbg">
                <span 
                  >Qty WithIn Contract</span
                >
               
                <v-flex xs12 sm12>
                  <v-text-field
                    v-model="editedItem.qty"
                    label="Qty"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-text-field
                    v-model="editedItem.sellingPrice"
                    label="Selling Price"
                    prepend-icon="select_all"
                    :disabled="disabledprice"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-text-field
                    v-model="editedItem.uom"
                    label="UOM"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 sm4 v-if="editedItem.qtyExtensionStatusId == 2111"> 
               <v-layout row wrap class="layoutbg">
               <span v-if="editedItem.qtyExtensionStatusId == 2111"
                  >Qty Exceed Contract</span
                >
                  <v-flex xs12 sm12 v-if="editedItem.qtyExtensionStatusId == 2111">
                  <v-text-field
                    v-model="editedItem.exceedQty"
                    label="Exceed Qty"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 v-if="editedItem.qtyExtensionStatusId == 2111">
                  <v-text-field
                    v-model="editedItem.priceToQuoteForExceedQty"
                    label="Selling Price"
                    prepend-icon="select_all"
                   
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm12 v-if="editedItem.qtyExtensionStatusId == 2111">
                  <v-text-field
                    v-model="editedItem.uom"
                    label="UOM"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
               </v-layout>
            </v-flex>
            <v-flex xs12 sm4>
              <v-layout row wrap> </v-layout>
            </v-flex>
            <v-flex xs12 sm8> </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
    </v-card>

   <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Request For Extension Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>       
      </v-dialog>
    <app-section-loader :status="loader"></app-section-loader>

    <delete-confirmation-dialog
      ref="deleteConfirmationDialog1"
      heading="Are You Sure You Want To Close?"
      message="Are You Sure You Want To Close? Files Not Updloaded"
      @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
//import UploadButton from "vuetify-upload-button";
import RequestforExtentionforBlanketOrderDocument from "@/pages/productionplanning/productionplanningv1/RequestforExtentionforBlanketOrderDocument";

import GlobalMessage from "@/constant";
import moment from "moment";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getRegistrationVariation } from "@/api/registrationVariation";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getContractNoSearch } from "@/api/salesOrderEntry";
import { getCompanyListingsForDistributionInformation, getDistributionTenderQty } from "@/api/contractDistributionInfo";

import { getCompanyListings } from "@/api/companyListing";
import {
  createBlanketOrder,
  getBlanketOrderData,
  getBlanketOrder,
  updateBlanketOrder,
  deleteBlanketOrder,
  uploadBlanketOrderDocuments,
  getBlanketOrderDocument,
  deleteBlanketOrderDocument,
  downLoadBlanketOrderDocument,
  getTenderQty
} from "@/api/BlanketOrder";
import { getPurchaseItemSalesEntryLinesItems } from "@/api/purchaseItemSalesEntryLine";

export default {
  components: {
    //"upload-btn": UploadButton,
    RequestforExtentionforBlanketOrderDocument,
    attachment,
  },
  data: () => ({
    screenID: "",

    poDateDue1: false,
    menuprodSearch: false,
    noofMonthFlag: false,
    fromMonthFlag: false,
    lotInformationFlagShow: false,
    uploadbtn: true,
    salesOrderEntryId: null,
    sessionId: null,
    requestStatus: true,
    exstingItems: [],
    existingContractNo: "",
    extensionQuantity: 0,
    contractNos: [],
    typeOfRequestFlag: false,
    dateOfOrderMenu: false,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    showdownload: false,
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    attachdialog: false,
    extensionStatusOptios: [],
    qtyRequestStatusOptios: [],
    blanketOrderId: -1,
    productItems: [],
    dialog: false,
    search: "",
    loader: false,
    poDateDue: false,
    registrationFormatFlag: true,
    disabledprice: true,
    editedIndex: -1,
    searchTag: "",
    searchFilter: "",
    companyItems: [],
    customerItems: [],
    gridItems: [],
    productNameItems: [],
    currencyItems: [],
    typeOfRequestItems: [],
    statusOptions: [],
    extensionOptions: [],
    getQtyData: {
       contractId: null,
       customerId: null,
       productId: null,
    },
    editedItem: {
      valid: false,
      blanketOrderId: -1,
      customerId: null,
      contractNo: "",
      contractId: null,
      productId: null,
      typeOfRequestId: null,
      qtyRequest: "",
      qtyExtensionStatusId: 2110,
      dateOfOrder: new Date().toISOString().substr(0, 10),
      sellingPrice: "",
      extensionStatusId: 2100,
      extensionInformationId: null,
      fromMonth: "",
      toMonth: "",
      noOfMonth: "",
      lotInformationFlag: "",
      exceedQty: "",
      howManyLot: "",
      currencyId: null,
      price: null,
      priceToQuoteForExceedQty: "",
      specialNotes: "",
      sessionId: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      uom: null,
      qty: "",
    },
    defaultItem: {
      valid: false,
      blanketOrderId: -1,
      customerId: null,
      contractNo: "",
      dateOfOrder: new Date().toISOString().substr(0, 10),
      extensionStatusId: 2100,
      qtyExtensionStatusId: 2110,
      productId: null,
      typeOfRequestId: null,
      qtyRequest: "",
      contractId: null,
      sellingPrice: "",
      extensionInformationId: null,
      fromMonth: "",
      toMonth: "",
      noOfMonth: "",
      lotInformationFlag: "",
      exceedQty: "",
      howManyLot: "",
      currencyId: null,
      price: null,
      priceToQuoteForExceedQty: "",
      specialNotes: "",
      sessionId: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      uom: null,
       qty: "",
    },
    headers: [
      { text: "Customer", value: "customerName", align: "left" },
      { text: "Contract No", value: "contractNo", align: "left" },
      { text: "Product Name", value: "productName", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      { text: "Qty Request", value: "qtyRequest", align: "left" },
      { text: "UOM", value: "uom", align: "left" },

      { text: "From Month", value: "fromMonth", align: "left" },
      { text: "To Month", value: "toMonth", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
    ],
    json_fields: {
      Customer: "customerName",
      "Contract No": "contractNo",
      "Product Name": "productName",
      UOM: "uom",     
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate",
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", id: null, searchString: "searchString" },
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Request For Extention For BlanketOrder"
        : "Edit Request For Extention For BlanketOrder";
    },
    poDateFormated() {
      return this.editedItem.toMonth
        ? moment(this.editedItem.toMonth).format(GlobalMessage.MONTHYEARFORMAT)
        : "";
    },
    dateOfOrderFormated() {
      return this.editedItem.dateOfOrder
        ? moment(this.editedItem.dateOfOrder).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    poDateFormated1() {
      return this.editedItem.fromMonth
        ? moment(this.editedItem.fromMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
  },
  methods: {
    initialize() {
      this.loader = true;

      getCodeMasterByType("ExtensionStatus")
        .then((response) => {
          this.extensionStatusOptios = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("QtyRequestStatus")
        .then((response) => {
          this.qtyRequestStatusOptios = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
          getBlanketOrder()
        .then((response) => {
          this.exstingItems =  response.data.filter(
            s => s.contractNo == this.editedItem.contractNo
          );      
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loadDropdownList();
    },
    clearableregistrationDateOfExpiry() {
      this.editedItem.toMonth = null;
    },
    clearableregistrationDateOfExpiry1() {
      this.editedItem.fromMonth = null;
    },
    loadDropdownList() {
      this.loader = true;
      getCodeMasterByType("Type of Request Status")
        .then((response) => {
          this.typeOfRequestItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
         getBlanketOrder()
        .then((response) => {
          this.exstingItems =  response.data.filter(
            s => s.contractNo == this.editedItem.contractNo
          );      
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
     
      
      getCodeMasterByType("Extension information Status")
        .then((response) => {
          this.extensionOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      // this.loader = true;
      // getPurchaseItemSalesEntryLinesItems("")
      //   .then(response => {
      //     this.productItems = response.data;
      //     this.loader = false;
      //   })
      //   .catch(error => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      this.loader = true;
      getApplicationMasterDetailByType(229)
        .then((response1) => {
          this.currencyItems = response1.data;
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.loader = false;
        });
    },
    onChangetypeOfRequest() {
      this.typeOfRequestFlag = false;
      if (this.editedItem.typeOfRequestId == 1541) {
        this.typeOfRequestFlag = true;
      }
    },
    onChnagelotInformation() {
      this.lotInformationFlagShow = false;
      if (this.editedItem.lotInformationFlag == "Yes") {
        this.lotInformationFlagShow = true;
      }
      if (this.editedItem.lotInformationFlag == "No") {
        this.editedItem.price = "";
        this.editedItem.howManyLot = "";
        this.editedItem.currencyId = null;
      }
    },
    onChnageextensionInformation() {
      this.fromMonthFlag = false;
      this.noofMonthFlag = false;
      if (this.editedItem.extensionInformationId == 1561) {
        this.fromMonthFlag = true;
      }
      if (this.editedItem.extensionInformationId == 1562) {
        this.noofMonthFlag = true;
      }
    },
    // onContractNoSearch() {
    //   if (this.editedItem.contractNo != null) {
    //     this.editedItem.contractNo = this.editedItem.contractNo.replace(
    //       /\s+/g,
    //       ""
    //     );
    //     this.loader = true;
    //     this.searchItem.id = 1;
    //     this.searchItem.searchString = this.editedItem.contractNo;
    //     getContractNoSearch(this.searchItem)
    //       .then((response) => {
    //         var contractItem = response.data;
    //         if (contractItem != "") {
    //           this.editedItem.contractId = contractItem.salesOrderID;
    //           this.productItems = contractItem.salesEntryProducts;
    //           this.onProductChange();
    //         } else {
    //           this.editedItem.contractId = null;
    //           this.editedItem.productId = null;
    //           this.editedItem.uom = null;
    //           this.productItems = [];
    //           window.getApp.$emit(
    //             "APP_API_ERROR",
    //             "Please Enter valid Contract No."
    //           );
    //         }
    //         console.log("ProductsItem", this.productItems);
    //         this.loader = false;
    //       })
    //       .catch((error) => {
    //         this.loader = false;
    //         window.getApp.$emit("APP_API_ERROR", error);
    //       });
    //   }
    // },
    onClickExist(item) {
      this.menuprodSearch = false;
      console.log("onclick item" + JSON.stringify(item));
      this.editedItem = Object.assign({}, item);
      this.existingContractNo = this.editedItem.contractNo;
       if (item.dateOfOrder != null) {
                this.editedItem.dateOfOrder = moment(
                  item.dateOfOrder
                ).format("YYYY-MM-DD");
              }   
               if (item.fromMonth != null) {
                this.editedItem.fromMonth = moment(
                  item.fromMonth
                ).format("YYYY-MM-DD");
              }  
               if (item.toMonth != null) {
                this.editedItem.toMonth = moment(
                  item.toMonth
                ).format("YYYY-MM-DD");
              }         
       console.log("Edited item" + JSON.stringify(this.editedItem));
      if(item.sessionId!=null)
         {
         window.getApp.$emit("REQUESTENABLEUPLOAD", item.sessionId);
         }
         this.sessionId = item.sessionId;
          window.getApp.$emit("REQUEST_ENABLEDELETE", this.editedItem.blanketOrderId);
           setTimeout(() => {
        this.qtyCalculate();
      }, 500);
         
    },
    onProductChange() {
       this.editedItem.qtyRequest = "";  
      let item = this.productItems.filter(
        (f) => f.socustomersItemCrossReferenceId == this.editedItem.productId
      );
      if (item.length > 0) {
        this.editedItem.uom = item[0].perUomName;
      }
      this.editedItem.contractId = this.salesOrderEntryId;
      this.editedItem.qty = "";
      console.log('editedItem'+JSON.stringify(this.editedItem));
      if(this.editedItem.productId>0 && this.editedItem.contractId>0 && this.editedItem.customerId>0)
      {
        this.getQtyData.productId = this.editedItem.productId;
        this.getQtyData.customerId = this.editedItem.customerId;
        this.getQtyData.contractId = this.editedItem.contractId;
       getTenderQty(this.getQtyData)
        .then((response) => {
          if(response.data.tenderQty!=null)
          {
          this.editedItem.qty = response.data.tenderQty;
           this.getDistributionQty();
          }
          else
          {
             this.getDistributionQty();
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },
    getDistributionQty() {
        getDistributionTenderQty(this.getQtyData)
        .then((response) => {
          if(response.data.totalQty!=null)
          {
          if(this.editedItem.qty=="")
          {
          this.editedItem.qty = response.data.totalQty;
          }
          this.editedItem.sellingPrice = response.data.sellingPrice;
          }
         
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
          this.editedItem.contractId = this.salesOrderEntryId;
        let index = this.editedIndex;
        if (this.editedItem.blanketOrderId > -1) {
         
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
         

          updateBlanketOrder(this.editedItem)
            .then((response) => {
             
              this.loader = false;
              //  this.$refs.frmattach.getDocuments();
              this.editedItem.sessionId = response.data.sessionId;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.blanketOrderId = parseInt(Math.random() * 100) + 1024;
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createBlanketOrder(this.editedItem)
            .then((response2) => {
              this.exstingItems.push(response2.data);
              this.loader = false;
              let index = this.exstingItems
                .map((item) => item.blanketOrderId)
                .indexOf(response2.data.blanketOrderId);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.editedItem.blanketOrderId = response2.data.blanketOrderId;
              //up
              this.editedItem.sessionId = response2.data.sessionId;
              this.attachfiles = new FormData();
              if(response2.data.sessionId!=null)
         {
         window.getApp.$emit("REQUESTENABLEUPLOAD", response2.data.sessionId);
         }
              this.sessionId = response2.data.sessionId;
              window.getApp.$emit("REQUESTENABLEDELETE", response2.data.blanketOrderId);
              this.blanketOrderId = response2.data.blanketOrderId;
              // this.$refs.frmattach.getDocuments();
              this.subloader = false;
              this.uploadbtn = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    add() {
      this.uploadbtn = true;
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      this.uploadedAttachment = new FormData();
      this.attachfiles = new FormData();
      this.sessionId = "";
      this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.blanketOrderId = -1;
      this.editedItem.extensionStatusId = 2100;
      this.onProductChange();
      this.onChangetypeOfRequest();
      this.onChnageextensionInformation();
      this.onChnagelotInformation();
       this.editedItem.extensionInformationId= null;
      this.editedItem.fromMonth= "";
      this.editedItem.toMonth= "";
      this.editedItem.noOfMonth= "";
      this.editedItem.lotInformationFlag= "";
      this.editedItem.howManyLot= "";
      this.editedItem.currencyId= null;
      this.editedItem.price= null;
      this.editedItem.priceToQuoteForExceedQty= "";
      this.editedItem.specialNotes= "";
      this.editedItem.typeOfRequestId = null;
      this.editedItem.qtyExtensionStatusId = null;
      this.editedItem.qtyRequest = "";
      this.existingContractNo = "";
    },

    //file upload

    closeattach() {
      this.attachdialog = false;
     this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachment() {
    
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item.sessionId);
      this.sessionId = item.sessionId;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    // attachfileChanged (args) {
    //   console.log(args);
    //   if (args != undefined) {
    //     Array.from(args).forEach(file => {
    //       let fileSize = file.size / 1000000;
    //       if (fileSize <= 100) {
    //         // this.uploadedFileNames.push({ fileName: file.name });
    //         // this.uploadedAttachment.append("file", file, file.name);
    //         this.attachuploadedfileNames.push(file.name);
    //         this.attachuploadedFiles.push(file);
    //         this.attachfiles.append("file", file, file.name);
    //         this.attachshowdownload = false;
    //       } else {
    //         window.getApp.$emit(
    //           "APP_API_VAL",
    //           file.name + " - File size exceeded 100MB"
    //         );
    //       }
    //     });
    //     this.$refs.frmattach.subloaders = true;

    //     uploadBlanketOrderDocuments(this.attachfiles, this.editedItem.sessionId)
    //       .then(responses => {
    //         this.attachfiles = new FormData();
    //         this.$refs.frmattach.blanketOrderId = this.editedItem.blanketOrderId;
    //         this.$refs.frmattach.sessionId = this.editedItem.sessionId;
    //         this.$refs.frmattach.getDocuments();

    //         this.$refs.frmattach.subloaders = false;
    //       })
    //       .catch(error => {
    //         this.$refs.frmattach.subloaders = false;
    //         window.getApp.$emit("APP_API_ERROR", error);
    //       });
    //   }
    // },
    // closeattach () {
    //   this.attachdialog = false;
    //   // this.attachfiles = new FormData();
    //   // this.$refs.frmattach.attachments = [];
    //   //this.$refs.frmattach.BlanketOrderLineId = -1;
    // },

    // fileAttachment () {
    //   this.$refs.frmattach.attachments = [];
    //   this.$refs.frmattach.blanketOrderId = this.editedItem.blanketOrderId;
    //   this.$refs.attachUpload.clear();
    //   this.$refs.frmattach.getDocuments();
    //   this.attachdialog = true;
    // },
    // fileAttachments (item) {
    //   this.editedItem = Object.assign({}, item);
    //   this.$refs.frmattach.blanketOrderId = this.editedItem.blanketOrderId;
    //   this.blanketOrderId = this.editedItem.blanketOrderId;
    //   this.sessionId = this.editedItem.sessionId;
    //   this.$refs.frmattach.sessionId = item.sessionId;
    //   this.$refs.frmattach.getDocuments();
    //   this.attachdialog = true;
    // },
    // //file upload

    saveAndClose() {
      this.save();
      this.close();
    },
    addFormDialog() {
      this.add();
    },
    getTotalQty() {
        getDistributionTenderQty(this.getQtyData)
        .then((response) => {
          if(response.data.totalQty!=null)
          {
           let qty =parseFloat(response.data.totalQty/100) * (parseFloat(this.extensionQuantity));           
           if(qty>=this.editedItem.qtyRequest )
           {
             this.editedItem.qtyExtensionStatusId = 2110;
             this.editedItem.qty =this.editedItem.qtyRequest;      
           }
           if(qty<this.editedItem.qtyRequest)
           {
             this.editedItem.qtyExtensionStatusId = 2111;
           let exceedQty = parseFloat(this.editedItem.qtyRequest) - (parseFloat(qty));
           this.editedItem.exceedQty = exceedQty;         
            this.editedItem.priceToQuoteForExceedQty = this.editedItem.sellingPrice;
            this.editedItem.qty =qty;      
           }
          }
         
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    qtyCalculate() {
      let qty = this.editedItem.qtyRequest;
      let id = this.editedItem.contractId;
      this.editedItem.qtyExtensionStatusId = 2110;
      console.log('existing Calculate'+JSON.stringify(this.editedItem));
       if(this.editedItem.productId>0 && this.editedItem.contractId>0 && this.editedItem.customerId>0)
      {
        this.getQtyData.productId = this.editedItem.productId;
        this.getQtyData.customerId = this.editedItem.customerId;
        this.getQtyData.contractId = this.editedItem.contractId;
       getTenderQty(this.getQtyData)
        .then((response) => {
          if(response.data.tenderQty!=null)
          {
            
         let qty =parseFloat(response.data.tenderQty/100) * (parseFloat(this.extensionQuantity));          
           if(qty>=this.editedItem.qtyRequest )
           {
             this.editedItem.qtyExtensionStatusId = 2110;
             this.editedItem.qty = this.editedItem.qtyRequest;
           }
           if(qty<this.editedItem.qtyRequest)
           {
             this.editedItem.qtyExtensionStatusId = 2111;
           let exceedQty = parseFloat(this.editedItem.qtyRequest) - (parseFloat(qty));
           this.editedItem.exceedQty = exceedQty;
           if(this.editedItem.priceToQuoteForExceedQty==null || this.editedItem.priceToQuoteForExceedQty == "")
           {
           this.editedItem.priceToQuoteForExceedQty = this.editedItem.sellingPrice;
           }
           this.editedItem.qty =qty;           
           }
          }
          else
          {
            this.getTotalQty();
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },
    selectqtyRequest() {
    
    },
    editItem(item) {
      this.loadDropdownList();
      setTimeout(() => {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        console.log("item" + JSON.stringify(item));
        this.sessionId = this.editedItem.sessionId;
        this.blanketOrderId = this.editedItem.blanketOrderId;
        this.editedItem.valid = false;
        if (item.lotInformationFlag == "Yes") {
          this.lotInformationFlagShow = true;
        }
        if (item.lotInformationFlag == "No") {
          this.lotInformationFlagShow = false;
          this.editedItem.price = "";
          this.editedItem.howManyLot = "";
          this.editedItem.currencyId = null;
        }
        if (item.dateOfOrder != null) {
          this.editedItem.dateOfOrder = moment(item.dateOfOrder).format(
            "YYYY-MM-DD"
          );
        }
        //    this.$refs.frmattach.blanketOrderId = item.blanketOrderId;
        //   this.$refs.frmattach.sessionId = this.editedItem.sessionId;
        //this.onContractNoSearch();
        this.onChangetypeOfRequest();
        this.onChnageextensionInformation();
        this.onChnagelotInformation();
        this.attachfiles = new FormData();
        if (this.editedItem.sessionId != null) {
          this.sessionId = this.editedItem.sessionId;
          this.blanketOrderId = this.editedItem.blanketOrderId;
          //  this.$refs.frmattach.getDocuments();
          this.uploadbtn = false;
        }
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.editedItem.qty="";
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    selCustomer() {
      this.editedItem.contractId = this.salesOrderEntryId;   
      this.editedItem.qtyRequest = "";  
      if(this.editedItem.productId>0 && this.editedItem.contractId>0 && this.editedItem.customerId>0)
      {
        this.getQtyData.productId = this.editedItem.productId;
        this.getQtyData.customerId = this.editedItem.customerId;
        this.getQtyData.contractId = this.editedItem.contractId;
       getTenderQty(this.getQtyData)
        .then((response) => {
          if(response.data.tenderQty!=null)
          {
          this.editedItem.qty = response.data.tenderQty;
           this.getDistributionQty();
          }
          else
          {
             this.getDistributionQty();
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.blanketOrderId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteBlanketOrder(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            this.uploadbtn = true;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.blanketOrderId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.blanketOrderId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.blanketOrderId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.blanketOrderId;
      this.toolfunction();
    },
    toolfunction() {
      getBlanketOrderData(this.searchItem)
        .then((response) => {
          if (response.data.blanketOrderId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.blanketOrderId)
              .indexOf(response.data.blanketOrderId);
            this.editedIndex = index;
            //this.onContractNoSearch();
            this.onChangetypeOfRequest();
            this.onChnageextensionInformation();
            this.onChnagelotInformation();
            // this.$refs.frmattach.blanketOrderId = this.editedItem.blanketOrderId;
            // this.$refs.frmattach.sessionId = this.editedItem.sessionId;
            // this.$refs.frmattach.getDocuments();
            this.uploadbtn = false;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 90px);
 }

 .layoutbg {
   border-style: solid;
   border-radius: 8px !important;
   border-color: rgb(216, 222, 247);
   border-width: 1px;
   padding: 8px;
 }

 .backcolor {
   background: gainsboro !important;
 }
</style>