<template>
  <div style="margin-top: 20px">
    <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Assignment Of Job </span>
    </v-layout>
    <v-toolbar flat>
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
        :disabled="enableAddButton"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-dialog v-model="dialog" fullscreen>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on" @click.native="add">
            <v-icon color="primary"> add </v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-toolbar dense color="primary">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
              </template>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  @click.native="saveAndClose"
                  :loading="loading"
                >
                  <v-icon color="white">library_add</v-icon>
                </v-btn>
              </template>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  @click.native="save"
                  :loading="loading"
                >
                  <v-icon color="white">save</v-icon>
                </v-btn>
              </template>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="add">
                  <v-icon color="white">add</v-icon>
                </v-btn>
              </template>
              <span>Create New IPIR Assignment Job</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="deleterow">
                  <v-icon color="white">delete</v-icon>
                </v-btn>
              </template>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
              </template>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(100vh - 120px - 70px)">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="wikiLineform"
                lazy-validation
              >
                <v-row>
                  <v-col class="d-flex" cols="12" sm="3">
                    <v-radio-group
                      v-model="editedItem.userType"
                      row
                      :mandatory="false"
                      @change="onUserRadioGroupChanged"
                    >
                      <v-radio label="User Group" value="UserGroup"></v-radio>
                      <v-radio label="User" value="User"></v-radio>
                    </v-radio-group>
                  </v-col>

                  <v-col class="d-flex" cols="12" sm="6">
                    <v-autocomplete
                      v-if="editedItem.userType == 'UserGroup'"
                      chips
                      prepend-icon="mdi-account-multiple"
                      color="blue-grey lighten-2"
                      label="User Group"
                      :items="userGroupItems"
                      v-model="editedItem.userGroupIDs"
                      item-text="name"
                      item-value="userGroupID"
                      multiple
                      :search-input.sync="searchgroup"
                      required
                      :rules="groupRules"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeUserGroup(data.item)"
                          @change="onUserGroupChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                    <v-autocomplete
                      v-if="editedItem.userType == 'User'"
                      chips
                      prepend-icon="mdi-assistant"
                      color="blue-grey lighten-2"
                      label="To User"
                      :items="userItems"
                      v-model="editedItem.userIDs"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="searchuser"
                      required
                      :rules="userRules"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeUser(data.item)"
                          @change="onUserChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="3"></v-col>
                  <v-col class="d-flex" cols="12" sm="3">
                    <v-radio-group
                      v-model="editedItem.ccuserType"
                      row
                      :mandatory="false"
                      @change="onCCUserRadioGroupChanged"
                    >
                      <v-radio
                        label="CC User Group"
                        value="CCUserGroup"
                      ></v-radio>
                      <v-radio label="CC User" value="CCUser"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="6">
                    <v-autocomplete
                      v-if="editedItem.ccuserType == 'CCUserGroup'"
                      chips
                      prepend-icon="mdi-account-multiple"
                      color="blue-grey lighten-2"
                      label="User Group"
                      :items="userGroupItems"
                      v-model="editedItem.ccuserGroupIDs"
                      item-text="name"
                      item-value="userGroupID"
                      multiple
                      :search-input.sync="ccsearchgroup"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeCCUserGroup(data.item)"
                          @change="onCCUserGroupChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                    <v-autocomplete
                      v-if="editedItem.ccuserType == 'CCUser'"
                      chips
                      prepend-icon="mdi-assistant"
                      color="blue-grey lighten-2"
                      label="User"
                      :items="userItems"
                      v-model="editedItem.ccuserIDs"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="ccsearchuser"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeCCUser(data.item)"
                          @change="onCCUserChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="3">
                    <span>Urgent</span>
                    <v-radio-group
                      v-model="editedItem.isUrgentFlag"
                      row
                      :mandatory="false"
                    >
                      <v-radio label="Yes" value="Yes"></v-radio>
                      <v-radio label="No" value="No"></v-radio>
                    </v-radio-group>
                  </v-col>
                  <v-col class="d-flex" cols="12" sm="4">
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeId"
                      :items="statusOptions"
                      chips
                    >
                    </v-autocomplete>
                  </v-col>
                  <!--  <v-col class="d-flex" cols="12" sm="4">
                    <v-autocomplete
                      label="Intend Action"
                      prepend-icon="notes"
                      v-model="editedItem.intendActionId"
                      :items="intendActionItems"
                      item-text="codeValue"
                      item-value="codeID"
                      chips
                    >
                    </v-autocomplete>
                  </v-col> -->
                  <v-col cols="12" sm="12">
                    <v-expansion-panels v-model="panel" multiple>
                      <v-expansion-panel>
                        <v-expansion-panel-header>
                          Description
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                          <vue2-tinymce-editor
                            v-if="responsibilityFlag"
                            :id="responsibilityMceId"
                            v-model="editedItem.description"
                            :options="responsibilityEditorConfig"
                          ></vue2-tinymce-editor>
                        </v-expansion-panel-content>
                      </v-expansion-panel>
                    </v-expansion-panels>
                  </v-col>
                </v-row>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="loading"
              @click.native="save"
              >save</v-btn
            >
            <v-btn color="primary darken-1" @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon=""
            v-bind="attrs"
            v-on="on"
            @click="initialize()"
            :disabled="enableAddButton"
          >
            <v-icon icon> refresh </v-icon>
          </v-btn>
        </template>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="ipirReportAssignmentId:desc"
    >
      <template v-slot:[`item.modifiedDate`]="{ item }">
        <span>{{ item.modifiedDate | formatDate }}</span>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-menu bottom left>
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
              <v-icon>more_vert</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(itemdata, i) in items"
              :key="i"
              @click="menuClick(item, itemdata)"
            >
              <v-list-item-action
                ><v-icon>{{ itemdata.icon }}</v-icon></v-list-item-action
              >
              <v-list-item-title>{{ itemdata.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
      <template v-slot:[`item.toUser`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <span v-bind="attrs" v-on="on">{{ stripTags(item.toUser) }}</span>
          </template>
          <span>{{ item.toUser }}</span>
        </v-tooltip>
      </template>
      <template v-slot:[`item.ccUser`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <span v-bind="attrs" v-on="on">{{ stripTags(item.ccUser) }}</span>
          </template>
          <span>{{ item.ccUser }}</span>
        </v-tooltip>
      </template>
      <template slot="no-data">
        <v-btn color="primary" @click="initialize">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import moment from "moment";
import { Vue2TinymceEditor } from "vue2-tinymce-editor";
import GlobalMessage from "@/constant";
import {
  getIpirReportAssignment,
  insertIpirAssignment,
  updateIpirAssignment,
  deleteIpirReportAssignment,
  getIpirReportAssignmentTopicList,
  updateIpirAssignmentTopic,
} from "@/api/ipirReport";
import { getCodeMasterByType } from "@/api/applicationsUsers";
import {
  getApplicationUsers,
  getUserGroups,
  getDocumentInfo,
  downloadFile,
} from "@/api/calenderEvent";
import Util from "@/util";
import { uploadTopicFiles } from "@/api/topic";
export default {
  components: {
    Vue2TinymceEditor,
  },
  data: () => ({
    loading: false,
    intendActionItems: [],
    ccsearchgroup: "",
    ccsearchuser: "",
    searchuser: "",
    searchgroup: "",
    userGroupItems: [],
    userItems: [],
    dialog: false,
    subloader: false,
    editedIndex: -1,
    search: "",
    responsibilityFlag: false,
    responsibilityEditorConfig: Util.tinyconfig(300),
    dutyItems: [],
    gridItems: [],
    panel: [0],
    ipirReportId: -1,
    enableAddButton: true,
    statusOptions: [
      { text: "Open", value: 5 },
      { text: "Close", value: 162 },
    ],
    editedItem: {
      valid: false,
      ipirReportId: -1,
      ipirReportAssignmentId: -1,
      description: "",
      isUrgentFlag: "No",
      intendActionId: 3360,
      othersDescription: "",
      isAllowDocAccess: false,
      dutyId: null,
      functionLink: null,
      pageLink: null,
      statusCodeId: 5,
      addedByUserID: "",
      addedDate: "",
      cCUserIDs: [],
      userIDs: [],
      userGroupIDs: [],
      userType: "",
      ccuserType: "",
      ccuserGroupIDs: [],
      ccuserIDs: [],
      sessionId: null,
    },
    defaultItem: {
      valid: false,
      ipirReportId: -1,
      ipirReportAssignmentId: -1,
      description: "",
      isUrgentFlag: "No",
      intendActionId: 3360,
      othersDescription: "",
      isAllowDocAccess: false,
      dutyId: null,
      functionLink: null,
      pageLink: null,
      statusCodeId: 5,
      addedByUserID: "",
      addedDate: "",
      cCUserIDs: [],
      userIDs: [],
      userGroupIDs: [],
      userType: "User",
      ccuserType: "CCUser",
      ccuserGroupIDs: [],
      ccuserIDs: [],
      sessionId: null,
    },
    items: [
      {
        icon: "mdi-pencil",
        href: "#",
        title: "Edit",
        click: () => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: () => {},
      },
      {
        icon: "forum",
        href: "#",
        title: "Forum",
      },
    ],
    ipirReportItems: [],
    formData: new FormData(),
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      { text: "To", value: "toUser", align: "left" },
      { text: "CC User", value: "ccUser", align: "left" },
      { text: "Urgent", value: "isUrgentFlag", align: "left" },
      //{ text: "Intend Action", value: "intendAction", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      {
        text: "Actions",
        value: "actions",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Assignment Of Job"
        : "Edit Assignment Of Job";
    },
    userRules() {
      return [
        () =>
          !!this.editedItem.userIDs.length > 0 ||
          "Atleast one User must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    groupRules() {
      return [
        () =>
          !!this.editedItem.userGroupIDs.length > 0 ||
          "Atleast one User Group must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    responsibilityMceId() {
      return Math.floor(100000 + Math.random() * 900000) + "_checkereditor";
    },
  },
  created() {
    this.loadDropdownList();
  },
  beforeDestroy() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    stripTags(definition) {
      var div = document.createElement("span");
      div.innerHTML = definition;
      return div.innerText.substring(0, 10);
    },
    menuClick(item, key) {
      if (key.title == "Edit") {
        this.editedItem = Object.assign({}, item);
        this.editItem(item);
      } else if (key.title == "Delete") {
        this.onDeleteItem(item);
      } else if (key.title == "Forum") {
        if (item.topicId == null) {
          this.editedItem = Object.assign({}, item);
          this.createForum(item);
        } else {
          this.openTopicUrl(item.topicId);
        }
      }
    },
    initialize() {
      this.subloader = true;
      getIpirReportAssignment(this.ipirReportId)
        .then((response) => {
          this.gridItems = response.data;
          this.subloader = false;
          var caseFormId = parseInt(this.$route.query.childId);
          this.$route.query.childId = null;
          if (!isNaN(caseFormId) && caseFormId > 0) {
            var items = this.gridItems.filter(
              (f) => f.ipirReportAssignmentId == caseFormId
            );
            console.log(items);
            if (items.length > 0) {
              this.editedItem = Object.assign({}, items[0]);
              this.editItem(items[0]);
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUserRadioGroupChanged() {
      if (this.selected == "User") {
        this.editedItem.userGroupIDs = [];
      } else if (this.selected == "userGroup") {
        this.editedItem.userIDs = [];
      }
    },
    onUserGroupChange() {
      this.searchgroup = "";
      if (this.editedItem.userIDs.length > 0) {
        this.editedItem.userIDs = [];
      }
    },
    onCCUserRadioGroupChanged() {
      if (this.ccselected == "CCUser") {
        this.editedItem.ccuserGroupIDs = [];
      } else if (this.ccselected == "CCUserGroup") {
        this.editedItem.ccuserIDs = [];
      }
    },
    onCCUserGroupChange() {
      this.ccsearchgroup = "";
      if (this.editedItem.ccuserIDs.length > 0) {
        this.editedItem.ccuserIDs = [];
      }
    },
    removeUserGroup(item) {
      const index = this.editedItem.userGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.editedItem.userGroupIDs.splice(index, 1);
    },
    removeUser(item) {
      const index = this.editedItem.userIDs.indexOf(item.userID);
      if (index >= 0) this.editedItem.userIDs.splice(index, 1);
    },
    onUserChange() {
      this.searchuser = "";
      if (this.editedItem.userGroupIDs.length > 0) {
        this.editedItem.userGroupIDs = [];
      }
    },
    onCCUserChange() {
      this.ccsearchuser = "";
      for (var id in this.editedItem.ccuserIDs) {
        let user = this.editedItem.userIDs.filter(
          (a) => a == this.editedItem.ccuserIDs[id]
        );
        if (user[0] != null) {
          const itemindex = this.editedItem.userIDs.indexOf(user[0]);
          if (itemindex >= 0) this.editedItem.userIDs.splice(itemindex, 1);
        }
      }
    },
    removeCCUserGroup(item) {
      const index = this.editedItem.ccuserGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.editedItem.ccuserGroupIDs.splice(index, 1);
    },
    removeCCUser(item) {
      const index = this.editedItem.ccuserIDs.indexOf(item.userID);
      if (index >= 0) this.editedItem.ccuserIDs.splice(index, 1);
    },
    add() {
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.responsibilityFlag = true;
        this.functionLinkItems = [];
      }, 300);
    },
    editItem(item) {
      this.dialog = true;
      setTimeout(() => {
        this.editedItem = Object.assign({}, item);
        this.editedIndex = 1;
        this.responsibilityFlag = true;
      }, 300);
    },
    loadDropdownList() {
      getCodeMasterByType("Intend Action Status")
        .then((response) => {
          this.intendActionItems = response.data;
        })
        .catch((error) => {
          //this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
      this.initialize();
    },
    save() {
      if (this.$refs.wikiLineform.validate()) {
        this.loading = true;
        this.editedItem.addedByUserId = this.$store.state.userId;
        this.editedItem.addedByUserID = this.$store.state.userId;
        this.editedItem.modifiedByUserId = this.$store.state.userId;
        this.editedItem.addedDate = new Date();
        this.editedItem.modifiedDate = new Date();
        this.editedItem.ipirReportId = this.ipirReportId;
        if (this.editedItem.ipirReportAssignmentId > 0) {
          updateIpirAssignment(this.editedItem)
            .then((response) => {
              this.loading = false;
              this.editedItem.ipirReportAssignmentId =
                response.data.ipirReportAssignmentId;
              this.editedItem.sessionId = response.data.sessionId;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
            })
            .catch((error) => {
              this.loading = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          insertIpirAssignment(this.editedItem)
            .then((response) => {
              this.loading = false;
              this.editedItem.ipirReportAssignmentId =
                response.data.ipirReportAssignmentId;
              this.editedItem.sessionId = response.data.sessionId;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              // this.createForumLink();
              this.initialize();
            })
            .catch((error) => {
              this.loading = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    createForumLink() {
      getIpirReportAssignmentTopicList(this.editedItem.ipirReportAssignmentId)
        .then((response) => {
          this.createForum(response.data[0]);
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    createForum(item) {
      if (this.editedItem.topicId == null) {
        this.formData = new FormData();
        this.formData.append(
          "topicName",
          "Ipir Assignment-" + item.ipirReportAssignmentId
        );
        this.formData.append("subjectName", this.ipirReportItems.companyName);
        this.formData.append(
          "ticketNo",
          this.ipirReportItems.prodOrderNo + "(IPIR)"
        );
        this.formData.append("actionType", "Ipir");
        this.formData.append("actionUrl", this.ipirReportItems.ipirReportId);
        this.formData.append("seqNo", 0);
        this.formData.append("typeId", this.ipirReportItems.companyName); //Manufacturing Process
        this.formData.append("categoryId", "IPIR"); //Category
        this.formData.append("type", "I");
        var backUrl = "";
        if (this.ipirReportItems.companyName == "SWMY") {
          backUrl =
            "ipir/ipiractionmal?id=" +
            item.ipirReportId +
            "&childId=" +
            item.ipirReportAssignmentId;
        }
        if (this.ipirReportItems.companyName == "SWSG") {
          backUrl =
            "ipir/ipiractionsin?id=" +
            item.ipirReportId +
            "&childId=" +
            item.ipirReportAssignmentId;
        }
        this.formData.append("backUrl", backUrl);
        this.formData.append(
          "startDate",
          moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
        );
        this.formData.append(
          "endDate",
          moment(null).format("YYYY-MM-DD HH:mm:ss")
        );

        this.formData.append(
          "dueDate",
          moment(null).format("YYYY-MM-DD HH:mm:ss")
        );
        this.formData.append("from", this.$store.state.sessionId);
        this.formData.append("to", item.toUserSessions);
        this.formData.append("cc", item.ccUserSessions);
        this.formData.append("status", "New");
        this.formData.append("isNotification", true);
        this.formData.append("description", this.editedItem.description);
        var participantUsers = this.$store.state.sessionId;
        if (item.sessionsItems != "") {
          participantUsers += "," + item.sessionsItems;
        }
        var participant = "";
        if (participantUsers != "") {
          var participants = participantUsers.split(",");
          let unique = [...new Set(participants)];
          participant = unique.toString();
        }
        this.formData.append("participant", participant);
        this.formData.append("addedByUserId", this.$store.state.sessionId);
        this.formData.append("userGroupIDs", ["0"]);
        //if (this.ipirReportItems.documentID > 0) {
        //this.getDocData(this.ipirReportItems);
        //} else {
        this.saveTopic();
        //}
      }
    },
    downloadAttachmentData(file) {
      downloadFile(file.documentID)
        .then((response) => {
          let blob = new Blob([response.data], { type: file.contentType });
          this.formData.append("file", blob, file.filename);
          this.saveTopic();
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getDocData(item) {
      if (item.documentID != null) {
        getDocumentInfo(item.documentID, this.$store.state.userId)
          .then((fileInfo) => {
            this.formData.append(
              "filename",
              fileInfo.data.documentsData[0].fileName
            );
            this.downloadAttachmentData(fileInfo.data.documentsData[0]);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    saveTopic() {
      uploadTopicFiles(this.formData)
        .then((response) => {
          this.loading = false;
          if (response.data.responseCode == 1) {
            this.createInsertTopicList(response.data.errorMessages[0]);
          } else {
            window.getApp.$emit(
              "APP_API_ERROR",
              response.data.errorMessages[0]
            );
          }
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    createInsertTopicList(topicId) {
      if (topicId != "") {
        var insertItem = {};
        insertItem.topicId = topicId;
        insertItem.ipirReportAssignmentId =
          this.editedItem.ipirReportAssignmentId;
        insertItem.addedByUser = this.$store.state.userName;
        insertItem.addedByUserId = this.$store.state.userId;
        insertItem.modifiedByUserId = this.$store.state.userId;
        insertItem.statusCodeID = 1;
        insertItem.statusCodeId = 1;
        insertItem.addedDate = new Date();
        updateIpirAssignmentTopic(insertItem)
          .then(() => {
            this.loading = false;
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Topic Created Successfully"
            );
            this.editedItem.topicId = topicId;
            this.openTopicUrl(topicId);
            this.initialize();
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.loading = false;
        window.getApp.$emit("APP_API_ERROR", "Topic Not Created");
      }
    },
    openTopicUrl(topicId) {
      var link =
        GlobalMessage.TOPICCHAT_URL +
        "#/history?id=" +
        topicId +
        "&sessionId=" +
        this.$store.state.sessionId +
        "&type=IPIR";
      window.open(link, "_blank");
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = Object.assign({}, item);
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.ipirReportAssignmentId > -1) {
        this.loader = true;
        deleteIpirReportAssignment(this.editedItem)
          .then((response) => {
            this.loader = false;
            if (response != undefined) {
              this.initialize();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>
<style>
.taskform--scrollbar {
  overflow: auto;
  height: calc(80vh - 60px);
}
</style>

