<template>
  <div>
    <v-card>
      <v-toolbar dense color="primary">
        <v-tooltip bottom>
          <v-btn icon slot="activator" @click.native="closeMethod">
            <v-icon color="white">reply</v-icon>
          </v-btn>
          <span>Go Back</span>
        </v-tooltip>

        <v-tooltip bottom>
          <v-btn
            icon
            slot="activator"
            @click.native="noncomplianceDialog = true"
          >
            <v-icon color="white">add</v-icon>
          </v-btn>
          <span>Save </span>
        </v-tooltip>

        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn icon slot="activator">
            <v-icon color="white" @click.native="closeMethod">close</v-icon>
          </v-btn>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar>
      <v-card-title>
        <span class="headline">{{
          noncompliance.productionActivityNonComplianceId > 0
            ? "Non-Compliance"
            : "Non-Compliance"
        }}</span>
      </v-card-title>

      <v-card-text>
        <div style="overflow: auto; height: calc(70vh - 100px)">
          <v-form
            v-model="noncompliance.valid"
            ref="noncomplianceform"
            lazy-validation
          >
            <v-container grid-list-md>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-data-table
                    :search="search"
                    v-model="selectednoncompliance"
                    :headers="noncomplianceheaders"
                    :items="noncomplianceuserItems"
                    class="elevation-1"
                    :loading="userLoader"
                  >
                    <template v-slot:[`item.actions`]="{ item }">
                      <v-icon small @click="onDeleteItem(item)">delete</v-icon>
                    </template>
                  </v-data-table>
                </v-col>
                  
              </v-row>
            </v-container>
          </v-form>
        </div>
      </v-card-text>

      <!--  <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary darken-1" @click="savenoncompliance">Save</v-btn>

        <v-btn color="primary darken-1" @click="closeMethod">Close</v-btn>
      </v-card-actions> -->
    </v-card>
    <v-dialog
      persistent
      v-model="noncomplianceDialog"
      max-width="600px"
      scrollable
    >
      <v-card>
        <v-toolbar dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="noncomplianceDialog = false"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="savenoncompliance">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save </span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator">
              <v-icon color="white" @click.native="noncomplianceDialog = false"
                >close</v-icon
              >
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">{{
            noncompliance.productionActivityNonComplianceId > 0
              ? "Edit Non-Compliance"
              : "Add Non-Compliance"
          }}</span>
        </v-card-title>
        <v-card-text>
          <v-form
            v-model="noncompliance.valid"
            ref="noncomplianceform"
            lazy-validation
          >
            <v-container grid-list-md>
              <v-row>
                <v-col cols="12" sm="12">
                  <v-autocomplete
                    chips
                    :loading="userLoader"
                    prepend-icon="mdi-assistant"
                    color="blue-grey lighten-2"
                    label="Users"
                    :items="userItems"
                    v-model="noncompliance.userIDs"
                    item-text="dropDownName"
                    item-value="userID"
                    multiple
                    :search-input.sync="searchuser"
                    @change="onUserChange"
                  >
                    <template v-slot:selection="data">
                      <v-chip
                        v-bind="data.attrs"
                        :input-value="data.selected"
                        close
                        @click="data.select"
                        @click:close="removeUser(data.item)"
                      >
                        {{ data.item.dropDownName }}
                      </v-chip>
                    </template>
                    <template v-slot:item="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content
                          v-text="data.item"
                        ></v-list-item-content>
                      </template>
                      <template v-else>
                        <v-list-item-content>
                          <v-list-item-title
                            v-html="data.item.dropDownName"
                          ></v-list-item-title>
                          <v-list-item-subtitle
                            v-html="data.item.group"
                          ></v-list-item-subtitle>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-col>
                 <v-col cols="12" sm="12">
                
                 <span>Notes</span>
                          <v-textarea
                      v-model="noncompliance.notes"
                      label="Notes"
                      prepend-icon="mdi-select-all"
                    ></v-textarea>
                        </v-col>
              </v-row>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" @click="savenoncompliance"
            >Save</v-btn
          >

          <v-btn color="primary darken-1" @click="noncomplianceDialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="DeleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import {  getEmployeesByCompanyForRoutine} from "@/api/applicationsUsers";
import {
  getProductionActivityNonCompliance,
  createProductionActivityNonCompliance,
  updateProductionActivityNonCompliance,
  deleteProductionActivityNonCompliance,
} from "@/api/productionActivityNonCompliance";
export default {
  props: {
    closeMethod: {
      type: Function,
    },
  },
  data: () => ({
    noncomplianceDialog: false,
    search: "",
    noncomplianceuserItems: [],
    selectednoncompliance: [],
    noncompliance: {
      valid: false,
      productionActivityRoutineAppLineId: null,
      ipirReportId: null,
      productionActivityAppLineId: null,
      userIDs: [],
      type: "Production Routine",
      productionActivityNonComplianceId: -1,
      actionType: "NonCompliance",
      productionActivityPlanningAppLineId: null,
      notes: "",
    },
    selectedItem: null,
    userItems: [],
    noncomplianceheaders: [
      {
        text: "Name",
        align: "left",
        value: "userName",
      },
       {
        text: "Notes",
        align: "left",
        value: "notes",
      },
      { text: "Actions", value: "actions", sortable: false, align: "left" },
    ],
    userLoader: false,
    searchuser: "",
  }),
  methods: {
    onUserChange() {
      this.searchuser = "";
    },
    removeUser(item) {
      const index = this.noncompliance.userIDs.indexOf(item.userID);
      if (index >= 0) this.noncompliance.userIDs.splice(index, 1);
    },
    loadnoncompliance(item, types) {
     
      this.noncompliance.userIDs = [];
      this.noncompliance.notes = "";
      this.noncompliance.type = item.type;
      var typeId = -1;
      if (item.type == "Production Routine") {
        this.noncompliance.productionActivityRoutineAppLineId =
          item.productionActivityRoutineAppLineId;
        typeId = item.productionActivityRoutineAppLineId;
      }
      if (item.type == "Production Activity") {
        this.noncompliance.productionActivityAppLineId =
          item.productionActivityAppLineId;
        typeId = item.productionActivityAppLineId;
      }
      if (item.type == "Ipir") {
        this.noncompliance.ipirReportId = item.ipirReportId;
        typeId = item.ipirReportId;
      }
      if (item.type == "Production Planning") {
        this.noncompliance.productionActivityPlanningAppLineId =
          item.productionActivityPlanningAppLineId;
        typeId = item.productionActivityPlanningAppLineId;
      }
      this.getEmployeeItems(item.companyId, types);
      this.loadByCompanyUserList(item, typeId);
    },
    getEmployeeItems(value, types) {
      if (types != "edit") {
        this.userItems = [];
      }

      if (value > 0) {
        this.userLoader = true;
        getEmployeesByCompanyForRoutine(value)
          .then((response) => {
            this.userLoader = false;
            if(response.data!=undefined)
            {
            this.userItems = response.data;
            }
            
          })
          .catch((error) => {
            this.userLoader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadByCompanyUserList(item, typeId) {
      getProductionActivityNonCompliance(item.type, typeId, "NonCompliance")
        .then((response) => {
          this.selectednoncompliance = [];
          this.noncomplianceuserItems = [];
          if (
            response.data != null &&
            response.data.productionActivityNonComplianceId != null
          ) {
            this.noncompliance.productionActivityNonComplianceId =
              response.data.productionActivityNonComplianceId;
          }
          if (response.data != null && response.data.userIDs != null) {
            this.noncompliance.userIDs = response.data.userIDs;
            this.noncomplianceuserItems =
              response.data.productionActivityNonComplianceUserModels;
          }
        })
        .catch(() => {
          this.userLoader = false;
        });
    },

    savenoncompliance() {
      this.noncompliance.statusCodeID = 1;
      this.noncompliance.addedByUser = this.$store.state.userName;
      this.noncompliance.addedByUserId = this.$store.state.userId;
      this.noncompliance.modifiedByUserId = this.$store.state.userId;
      this.noncompliance.addedByUserID = this.$store.state.userId;
      this.noncompliance.modifiedByUserID = this.$store.state.userId;

      this.noncompliance.addedDate = new Date();
      if (this.noncompliance.productionActivityNonComplianceId > 0) {
        updateProductionActivityNonCompliance(this.noncompliance)
          .then((response) => {
            this.noncompliance.productionActivityNonComplianceId =
              response.data.productionActivityNonComplianceId;
            this.loadnoncompliance(response.data, "edit");
            this.noncomplianceDialog = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        createProductionActivityNonCompliance(this.noncompliance)
          .then((response) => {
            this.noncompliance.productionActivityNonComplianceId =
              response.data.productionActivityNonComplianceId;
            this.loadnoncompliance(response.data, "edit");
            this.noncomplianceDialog = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      setTimeout(() => {
        this.selectedItem = Object.assign({}, item);
      }, 500);
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.selectedItem.productionActivityNonComplianceUserId > -1) {
        this.loader = true;
        deleteProductionActivityNonCompliance(this.selectedItem)
          .then((response) => {
            this.loader = false;
            this.selectedItem = null;
            if (response != undefined) {
              this.loadnoncompliance(this.noncompliance, "edit");
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>