<template>
 <div>
    <v-card>
     <v-toolbar dark color="primary">
          <v-btn icon  @click.native="closeMethod">
            <v-icon color="white">mdi-reply</v-icon>
          </v-btn>
            <v-tooltip bottom>
          <v-btn
            icon
            slot="activator"
            @click.native="add()"
          >
            <v-icon color="white">add</v-icon>
          </v-btn>
          <span>Save </span>
        </v-tooltip>
          <v-spacer></v-spacer>
            <v-btn icon  @click.native="clickEmail">
            <v-icon color="white">email</v-icon>
          </v-btn>
          <v-btn icon  @click.native="closeMethod">
            <v-icon color="white">mdi-close</v-icon>
          </v-btn>
        </v-toolbar>
            
                <v-col cols="12" sm="12">
                  <v-text-field
                    v-model="checkedsearch"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-data-table
                    
                    :search="checkedsearch"
                    :headers="checkedHeaders"
                    :items="gridItems"
                    class="elevation-1"
                    :loading="userLoader"
                  >
                   <template v-slot:[`item.checkedDate`]="{ item }">
            <span>{{ item.checkedDate | formatDateTime }}</span>
          </template>
                     <template v-slot:[`item.actions`]="{ item }">
        <v-menu
          bottom
          left
          
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
              <v-icon>more_vert</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(itemdata, i) in items"
              :key="i"
              @click="menuClick(item, itemdata)"
              :disabled="menudisabled(itemdata, item)"
            >
              <v-list-item-action
                ><v-icon>{{ itemdata.icon }}</v-icon></v-list-item-action
              >
              <v-list-item-title>{{ itemdata.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
        
      </template>

                  </v-data-table>
                </v-col>
              
          

    </v-card>
  
      <v-dialog v-model="activityEmailDialog" max-width="1250px" scrollable>
      <activity-email ref="refActivityEmail" :closeMethod="closeActivityEmail"></activity-email>
    </v-dialog>
    <v-dialog
      persistent
      v-model="activityMasterDialog"
      max-width="1200px"
      scrollable
    >
      <v-card>
      <v-toolbar color="primary">
       
         <v-btn icon  @click.native="close">
            <v-icon color="white">mdi-reply</v-icon>
          </v-btn>

           <v-spacer></v-spacer>
          <v-btn icon  @click.native="close">
            <v-icon color="white">mdi-close</v-icon>
          </v-btn>
          </v-toolbar>

      <v-card-text>
       
        <div style="overflow: auto; height: calc(70vh - 100px)">
        
          <v-form
            v-model="editedItem.valid"
            ref="routineInfoform"
            lazy-validation
          >
            <v-container grid-list-md>
                       <v-row style="padding: 20px">
                        <v-col
                    class="d-flex"
                    cols="12"
                    sm="2"
                  >
                        <v-text-field
        v-model="userName"
          prepend-icon="person"
               
        label="Check by"
       readonly
      ></v-text-field>
       </v-col>
        <v-col
                    class="d-flex"
                    cols="12"
                    sm="3"
                  >
                        <v-text-field
        :value="today | formatDateView"
          prepend-icon="today"
               
        label="Date"
       readonly
      ></v-text-field>
       </v-col>
               <v-col
                    class="d-flex"
                    cols="12"
                    sm="2"
                  >
                    <v-checkbox
                      label="No Issue"
                      
                      v-model="editedItem.isCheckNoIssue"
                     
                    ></v-checkbox>
                  </v-col>
                  <v-col
                    class="d-flex"
                    cols="12"
                    sm="5"
                  >
                    <v-checkbox
                      label="Refer to supporting Document/Email"
                      
                      v-model="editedItem.isCheckReferSupportDocument"
                     
                    ></v-checkbox>
                  </v-col>
                 <v-col class="d-flex" cols="12" sm="6">
                  <v-autocomplete
                    :loading="loader"
                    flat
                    :items="activityResultItems"
                    v-model="editedItem.activityResultId"
                    label="Activity Result"
                    chips
                    prepend-icon="mdi-note"
                    item-text="value"
                    item-value="applicationMasterDetailId"
                  ></v-autocomplete>
                </v-col>
               
                <v-col class="d-flex" cols="12" sm="6">
                  <v-autocomplete
                    label="Activity Status"
                    prepend-icon="notes"
                    v-model="editedItem.activityStatusId"
                    :items="activityStatusItems"
                    item-text="value"
                    item-value="applicationMasterDetailId"
                    chips
                  >
                  </v-autocomplete>
                </v-col>
              <v-col cols="12" sm="12">
                
                 <span>Remark</span>
                          <v-textarea
                      v-model="editedItem.checkedComment"
                      label="Comment"
                      prepend-icon="mdi-select-all"
                    ></v-textarea>
                        </v-col>
                        
                          <v-col cols="12" sm="12">
                         <span>Additional Information</span>
    <div ref="target" @paste="onPaste" style='cursor:pointer'>Click here and use Control-V to paste the image.</div>
    <br>
    <img v-if="imageDataURL" :src="imageDataURL" alt="Pasted Image" />

 </v-col>
              
               </v-row>
            </v-container>
          </v-form>
        </div>
      </v-card-text>

      <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="primary"  @click.native="updateChecker"
                    >Check</v-btn
                  >
                 <v-btn color="primary"  @click.native="close()"
                    >Close</v-btn
                  >
                </v-card-actions>
    </v-card>
    </v-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="DeleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType} from "@/api/applicationsUsers";
import ActivityEmail from "@/components/activityEmailTopic";
import {
  getProductionActivityCheckedDetails,
  createProductionActivityCheckedDetails,
  updateProductionActivityCheckedDetails,
 
  deleteProductionActivityCheckedDetails
} from "@/api/productionActivityMaster";
import {
 
  getActivityEmailTopic,
   
} from "@/api/calenderEvent";
export default {
   components: {
   
    ActivityEmail,
   
  },
  props: {
    closeMethod: {
      type: Function,
    },
  },
  data: () => ({
    activityMasterDialog: false,
    search: "",
       imageDataURL: null,
       loader: false,
       today : new Date(),
       userName: "",
       activityEmailDialog: false,
    gridItems:[],
    checkedsearch: "",
    viewCheckerDialog: false,
    manufacturingProcessChildId: null,
    prodActivityCategoryChildId: null,
    prodActivityActionChildD: null,
      activityEmailTopicItem: {    
       activityEmailTopicId : -1,
        activityMasterId: null,
        manufacturingProcessId :null,
        categoryActionId :null,
        subject :'',      
        emailTopicSessionId: null,
        activityType: "ProductionActivity",
        fromId : null,
        toIds:"",
        ccIds:"",
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
      sessionId: null,
      addedByUser: "",
      actionDropdown: "",
      productActivityCaseLineId: null,
      productionActivityAppLineId: null,
      isDraft: false,
    },
  
      productionActivityAppLineId: null,
        activityStatusItems:[],
    activityResultItems: [],
    editedItem: {
      valid: false,
      productionActivityAppLineId: null,
      productionActivityCheckedDetailsId: -1,      
      productionActivityAppId: null,
      activityInfoId: null,
      isCheckNoIssue:false,
      checkedById: null,
      checkedDate : new Date(),
      checkedComment : "",
      isCheckReferSupportDocument : false,
      commentImage : [],
      commentImageType : "",
       addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
      sessionId: null,
      addedByUser: "",
      activityResultId : null,
      activityStatusId: null,
    },
    selectedItem: null,
    userItems: [],

     items: [
       {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: () => {},
      }, 
       {
        icon: "edit",
        href: "#",
        title: "Edit",
      },
       
     
     
      
    ],
   
    checkedHeaders: [
       
       {
        text: "Checked By",
        align: "left",
        value: "checkedByUserName",
      },
       {
        text: "Checked Date",
        align: "left",
        value: "checkedDate",
      },
       {
        text: "Comment",
        align: "left",
        value: "checkedComment",
      },
        {
        text: "Activity Status",
        align: "left",
        value: "activityStatusName",
      },
        {
        text: "Activity Result",
        align: "left",
        value: "activityResultName",
      },
     
      { text: "Actions", value: "actions", sortable: false, align: "left" },
    ],
    userLoader: false,
   
  }),
   created() {
    this.loadDropdown();
    
  },
  methods: {
   
    loadDropdown(){
        getApplicationMasterDetailByType(325)
        .then((response) => {
          this.activityStatusItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

         getApplicationMasterDetailByType(324)
        .then((response) => {
          this.activityResultItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    
    loadCheckedInfo() {  
       let id = this.productionActivityAppLineId;
      
       this.gridItems = [];
       if(id>0)
       {
        getProductionActivityCheckedDetails(id)
        .then((response) => {
        this.gridItems = response.data;
        })
        .catch(() => {
          this.userLoader = false;
        });
     }
        
    },
     processImage(imageFile) {
                   const reader = new FileReader();
                    reader.onload = event => {
                      
                        
                        this.imageDataURL = event.target.result;
                        console.log('Image file event' +JSON.stringify(event.target.result));
                       
                     var base64String = event.target.result.split(",");
                     console.log('string Image Type'+base64String[0]);
                     this.editedItem.commentImage = base64String[1];
                     this.editedItem.commentImageType = base64String[0];
                   
                    };
                     reader.readAsDataURL(imageFile);
                 
                   
                     
                },

                 onPaste(event) {
           const clipboardData = event.clipboardData || window.clipboardData;
                    const items = clipboardData.items;
                    for (let i = 0; i < items.length; i++) {
                        if (items[i].type.indexOf("image") !== -1) {
                            const imageFile = items[i].getAsFile();
                            this.processImage(imageFile);
                        }
                    }
                },
   
    updateChecker() {
      console.log('routine info'+JSON.stringify(this.editedItem))
   
      this.editedItem.productionActivityAppLineId = this.productionActivityAppLineId;
      this.editedItem.addedByUserID = this.$store.state.userId;
      this.editedItem.checkedById = this.$store.state.userId;
      this.editedItem.addedDate = new Date();
            if(this.editedItem.productionActivityCheckedDetailsId>-1)
            {
             updateProductionActivityCheckedDetails(this.editedItem)
            .then((response) => {             
              this.loader = false;
               this.loadCheckedInfo(); 
                if(response.data!=undefined)
                {            
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                }
               
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
            }
            else
            {
        createProductionActivityCheckedDetails(this.editedItem)
          .then(response => {           
             this.loadCheckedInfo();
            this.activityMasterDialog = false;
            if(response.data!=undefined)
            {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
          }
      
    },
      menuClick(item, key) {
      
      if (key.title == "Edit") {
         this.editedItem = Object.assign({}, item);
         this.editItem(item);
      } 
      else if (key.title == "Delete") {
        this.onDeleteItem(item);
      } 
    
    },
    menudisabled(menu, items) {
     
      if (menu.title == "Delete") {
        if (items.addedByUserID == this.$store.state.userId) {
          return false;
        }
      } 
     
    },
    clickEmail()
    {
     this.topicCreate();
    },
    editItem(item){
        this.activityMasterDialog = true;
        this.editedItem = Object.assign({}, item);
          if(item.commentImageType != null && item.commentImageType != '' && item.commentImage != null && item.commentImage !='')
          {
           this.imageDataURL = item.commentImageType +',' + item.commentImage;
           }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      setTimeout(() => {
        this.selectedItem = Object.assign({}, item);
      }, 500);
    },
      closeActivityEmail(){
    this.activityEmailDialog = false;
    },
    add(){
    this.activityMasterDialog = true;
    this.userName = this.$store.state.userName;
    this.editedItem.acitivityMasterId = -1;
    this.editedItem.activityInfoIds = [];
    
    },
      topicCreate() {
      
      this.activityEmailTopicItem.sessionId = null;
      this.activityEmailTopicItem.activityMasterId = null;
      this.activityEmailTopicItem.ccIds = [];
      this.activityEmailTopicItem.toIds = [];
      this.activityEmailTopicItem.isDraft = false;
     
      this.activityEmailTopicItem.subject = "";
        
         this.editedItem.productionActivityAppLineId = this.productionActivityAppLineId;
         
         let searchData = {};
     
      searchData.id =this.productionActivityAppLineId;
      searchData.action = "ProductionActivity";
         getActivityEmailTopic(searchData)
        .then((response) => {
          if(response.data != null && response.data !="")
          {
          console.log('response data' +JSON.stringify(response.data))
        
          this.activityEmailTopicItem = Object.assign({}, response.data);
          this.loader = false;
              if (this.activityEmailTopicItem.activityEmailTopicId  <0) {
        this.activityEmailDialog = true;
          this.$refs.refActivityEmail.manufacturingProcessId = this.manufacturingProcessChildId;
                  this.$refs.refActivityEmail.categoryActionId = this.prodActivityCategoryChildId;
                  this.$refs.refActivityEmail.actionId = this.prodActivityActionChildD;
                    console.log('report process '+this.manufacturingProcessChildId)
        console.log('report category'+this.prodActivityCategoryChildId)
        console.log('report action id'+this.prodActivityActionChildD)
        setTimeout(() => {
           this.$refs.refActivityEmail.activityType = "ProductionActivity";
                  this.$refs.refActivityEmail.activityMasterId = this.productionActivityAppLineId;
                 
                  this.$refs.refActivityEmail.loadDropdown();
                 
                 
                   
              }, 500);
      
       
      } else {
        console.log('Response item session' +JSON.stringify(this.activityEmailTopicItem));
        this.openTopicUrl();
      }
        }
        else
        {
           
           this.activityEmailDialog = true;
            setTimeout(() => {
                  this.$refs.refActivityEmail.activityMasterId = this.productionActivityAppLineId;
                  this.$refs.refActivityEmail.activityType = "ProductionActivity";
                 
                     this.$refs.refActivityEmail.manufacturingProcessId = this.manufacturingProcessChildId;
                  this.$refs.refActivityEmail.categoryActionId = this.prodActivityCategoryChildId;
                  this.$refs.refActivityEmail.actionId = this.prodActivityActionChildD;
                    console.log('report process '+this.manufacturingProcessChildId)
        console.log('report category'+this.prodActivityCategoryChildId)
        console.log('report action id'+this.prodActivityActionChildD)
          this.$refs.refActivityEmail.loadDropdown();
           
              }, 300);
        }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });


      
    },
     openTopicUrl() {
       console.log('open url edite Item'+JSON.stringify(this.editedItem))
       if(this.activityEmailTopicItem.emailTopicSessionId != null && (this.activityEmailTopicItem.isDraft == false || this.activityEmailTopicItem.isDraft == null && this.activityEmailTopicItem.activityMasterId ==this.editedItem.productionActivityAppLineId ))
       {
       var link=GlobalMessage.EMAIL_URL+"ViewEmail/" + this.activityEmailTopicItem.emailTopicSessionId;
       
      window.open(link, "_blank");
      this.loader = false;
      }
      else if(this.activityEmailTopicItem.isDraft == true && this.activityEmailTopicItem.activityMasterId ==this.editedItem.productionActivityAppLineId)
      {
         var draftlink=GlobalMessage.EMAIL_URL+"EmailDrafts";
       
      window.open(draftlink, "_blank");
      this.loader = false;
        }
        else{
       var crlink=GlobalMessage.EMAIL_URL+"CreateEmail/" + this.activityEmailTopicItem.sessionId;
       
      window.open(crlink, "_blank");
      this.loader = false;
      }
    },
    close(){
    this.activityMasterDialog = false;
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.selectedItem.productionActivityCheckedDetailsId > -1) {
        this.loader = true;
        deleteProductionActivityCheckedDetails(this.selectedItem)
          .then((response) => {
            this.loader = false;
           
            if (response != undefined) {
               this.loadCheckedInfo(); 
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
               
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>