<template>
  <div id="page-forms">
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn
          icon=""
          slot="activator"
          @click="loadPagingData"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon> refresh </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <v-layout column>
          <v-data-table
            :items="gridItems"
            :headers="headers"
            :pagination.sync="pagination"
            :total-items="totalRows"
            :rows-per-page-items="rowsPerPageItems"
            :loading="loader"
            @update:pagination="onUpdatePagination"
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
              <tr @mouseover="mouseover = true" @mouseleave="mouseover = false">
                <td class="text-xs-left">
                  <v-tooltip bottom>
                    <v-icon
                      :disabled="props.item.sessionId == null"
                      @click="getNotes(props.item)"
                      small
                      slot="activator"
                      >notes</v-icon
                    >
                    <v-icon v-if="props.item.isLocked" slot="activator" small
                      >lock</v-icon
                    >
                    <v-icon v-else="props.item.isLocked" slot="activator" small
                      >lock_open</v-icon
                    >

                    <span v-if="props.item.isLocked"
                      >Locked By : {{ props.item.lockedByUser }}</span
                    >
                  </v-tooltip>
                  {{ props.item.fileName }}
                </td>

                <td class="text-xs-left">
                  {{ props.item.fileProfileTypeName }}
                </td>
                <td class="text-xs-left">{{ props.item.profileNo }}</td>

                <td class="text-xs-left">{{ props.item.fileSize }}</td>

                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <td class="text-xs-left">
                  {{ props.item.addedDate | formatDateTime }}
                </td>
                <td class="justify-center layout px-0">
                  <v-menu bottom right>
                    <v-btn slot="activator" icon>
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                    <v-list>
                      <v-list-tile
                        v-for="(item, i) in items"
                        :key="i"
                        @click="menuClick(i, props.item)"
                        ripple="ripple"
                        :target="item.target"
                        rel="noopener"
                        :disabled="menudisabled(item, props.item)"
                      >
                        <v-list-tile-action>
                          <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </td>
              </tr>
            </template>
            <template slot="no-data"
              >Loading task or No task been assigned you.</template
            >
          </v-data-table>
        </v-layout>
      </div>
    </div>
    <app-section-loader :status="loader"></app-section-loader>
    <v-dialog v-model="filehistory">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              flat
              @click.native="filehistory = false"
              :loading="loader"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-title>
          <span class="headline">Profile Type History</span>
        </v-card-title>
        <app-section-loader :status="historyfileloader"></app-section-loader>
        <v-data-table
          :items="historyItems"
          class="elevation-1"
          :headers="headers"
          hide-actions
        >
          <template slot="items" slot-scope="props">
            <tr>
              <td class="text-xs-left">{{ props.item.fileName }}</td>
              <td class="text-xs-left">{{ props.item.fileProfileTypeName }}</td>
              <td class="text-xs-left">{{ props.item.profileNo }}</td>
              <td class="text-xs-left">{{ props.item.fileSize }}</td>
              <td class="text-xs-left">{{ props.item.addedByUser }}</td>
              <td class="text-xs-left">
                {{ props.item.addedDate | formatDateTime }}
              </td>
              <td>
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile
                      v-for="(item, i) in historymenus"
                      :key="i"
                      @click="historymenuClick(i, props.item)"
                      ripple="ripple"
                      rel="noopener"
                      :disabled="historymenudisabled(item, props.item)"
                    >
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card>
    </v-dialog>
    <v-dialog v-model="playViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <!--  <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn> -->
          <v-spacer></v-spacer>

          <v-btn icon @click.native="playerViewerClose">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <div style="overflow: auto; height: calc(70vh - 50px)">
            <v-layout wrap>
              <v-flex xs12 sm12>
                <video
                  ref="myvideo"
                  :id="videoId"
                  width="100%"
                  height="60%"
                  controls
                />
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="fileViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">cloud_download</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="fileViewer = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12 v-show="showAll">
              <iframe
                name="openPdfIframe"
                v-if="!loadHtml && !loadImage"
                width="100%"
                style="overflow: auto; height: calc(98vh - 100px)"
                :src="fileContent"
              ></iframe>

              <div
                v-if="loadHtml"
                v-html="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              ></div>

              <img
                v-if="loadImage"
                :src="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              />
            </v-flex>
            <v-flex xs12 sm12 v-show="showExcel">
              <xlsx ref="refxlsx"></xlsx>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="notifydialog" max-width="1250px">
      <notify-document
        ref="refnotifydocument"
        :closeMethod="closeNotify"
      ></notify-document>
    </v-dialog>
    <v-dialog v-model="notesdialog" max-width="1200px">
      <notes
        title="Document Notes"
        ref="refnotes"
        :closeMethod="closenotes"
      ></notes>
    </v-dialog>
    <v-dialog v-model="fileViewers" persistent fullscreen>
      <upload-files-view
        title="Document"
        ref="refUploadFileView"
        :closeMethod="closefileViewers"
      ></upload-files-view>
    </v-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import { viewFile } from "@/api/fileAttachements";
import search from "@/search";
import Xlsx from "@/pages/xlsx";
import { createNotifyDocument } from "@/api/notifyDocument";
import {
  downloadFile,
  getFileProfileTypeDocumentByHistory,
  updatecloseDocuments,
  updateArchiveDocument,
  downloadFileDoc,
} from "@/api/fileProfileType";
import UploadButton from "vuetify-upload-button";
import notes from "@/components/Notes/notes";
import NotifyDocument from "@/components/Notes/notifyDocuments";
import UploadFilesView from "@/components/uploadFilesView";
import FilePathDownload from "@/util/filePathDownload";
import { getData } from "@/api/paggedapi";
export default {
  components: {
    "upload-btn": UploadButton,
    notes,
    Xlsx,
    NotifyDocument,
    UploadFilesView,
  },
  data: () => ({
    fileViewers: false,
    formId: "DON3008",
    totalRows: 0,
    searchmenu: false,
    fromMonthMenu: false,
    toMonthMenu: false,
    showAll: true,
    showExcel: false,
    selected: "user",
    mouseover: false,
    notifyItems: [],
    viewedFile: null,
    loadHtml: false,
    addnotifydialog: false,
    fileContent: null,
    fileViewer: false,
    loadImage: false,
    playViewer: false,
    notifydialog: false,
    notesdialog: false,
    search: "",
    gridItems: [],
    userItems: [],
    loader: true,
    fileProfileTypeId: null,
    editedItem: [],
    historyfileloader: false,
    isMoveFlag: false,
    headers: [
      {
        text: "File Name",
        align: "left",
        value: "fileName",
      },
      {
        text: "Profile Type Name",
        align: "left",
        value: "fileProfileTypeName",
        sortable: false,
      },
      {
        text: "Profile No",
        align: "left",
        value: "profileNo",
      },

      { text: "Size(KB)", value: "fileSize" },
      { text: "Modify By", value: "addedByUser" },
      { text: "Modify Date", value: "addedDate" },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
    items: [
      {
        icon: "attach_file",
        href: "#",
        title: "Download",
        click: (e) => {},
      },

      {
        icon: "account_balance_wallet",
        href: "#",
        title: "History",
        click: (e) => {},
      },

      {
        icon: "assignment",
        href: "#",
        title: "View File",
        click: (e) => {},
      },
      {
        icon: "album",
        href: "#",
        title: "Play",
        click: (e) => {},
      },
      {
        icon: "person",
        href: "#",
        title: "Notify",
        click: (e) => {
          // this.download();
        },
      },
      {
        icon: "adjust",
        href: "#",
        title: "Copy Link",
        click: (e) => {
          // this.download();
        },
      },
      {
        icon: "adjust",
        href: "#",
        title: "Unarchive",
        click: (e) => {
          // this.download();
        },
      },
    ],
    closeDocumentsItems: [
      {
        icon: "attach_file",
        href: "#",
        title: "Close Document",
        click: (e) => {},
      },
    ],
    historymenus: [
      {
        icon: "attach_file",
        href: "#",
        title: "Download",
        click: (e) => {},
      },
    ],
    pagination: { rowsPerPage: 10 },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    filterFields: ["FileName", "ProfileNo", "AddedByUser.UserName"],
    userGroupItems: [],
    userItems: [],
    filehistory: false,
    isHistoryDelete: false,
    searchData: { id: null, searchString: "", userId: null },
    searchuser: "",
    searchgroup: "",
    notifyItem: {
      valid: false,
      remarks: "",
      userId: null,
      userIDs: [],
      userGroupIDs: [],
      notifyDocumentId: -1,
      documentId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isUrgent: null,
    },
    historysearchData: {
      id: null,
      searchString: "",
      userId: null,
      sessionID: null,
      parentId: null,
    },
    selectionData: [],
    isDocumentAccess: null,
    uploadAttachmentDocuments: [],
    attachfiles: new FormData(),
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    historyItems: [],
    attachloaders: false,
    attachments: [],
    attachdialog: false,
    sessionID: null,
    tableName: "",
    documentID: null,
    isDelete: false,
    isRead: false,
    isUpdateDocument: false,
    isCloseDocument: false,
    itemsAll: [],
  }),

  computed: {
    videoId: function () {
      return "video_" + (Math.floor(Math.random() * (10 - 1 + 1)) + 1);
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {},
  beforeDestroy() {},
  methods: {
    playerViewerClose() {
      var x = document.getElementById(this.videoId);
      x.pause();
      document.getElementById(this.videoId).removeAttribute("src");
      this.playViewer = false;
    },
    downloadViewFile() {
      this.downloadAttachment(this.viewedFile);
    },
    closefileViewers() {
      this.fileViewers = false;
    },
    logContent(item) {
      this.viewedFile = item;
      this.fileContent = null;
      this.loadHtml = false;
      this.loadImage = false;
      this.showAll = true;
      this.showExcel = false;
      if (item.isMobileUpload == true) {
        this.isViewFile = true;
        this.fileContent = GlobalMessage.APPUpload + item.fileName;
      } else if (
        item.contentType == "application/vnd.ms-excel" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      ) {
        this.showAll = false;
        this.showExcel = true;
        this.$refs.refxlsx.selectedSheet = null;
        this.$refs.refxlsx.showGrid = false;
        this.$refs.refxlsx.downloadAttachment(item);
      } else if (item.contentType == "application/pdf") {
        this.viewPdf(item);
      } else if (
        item.contentType == "application/msword" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.presentationml.presentation"
      ) {
        this.loadHtml = true;
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        //this.convertDocToPdf(item);
      } else {
        if (item.contentType.includes("image")) {
          this.loadImage = true;
        }
        if (item.contentType == "text/plain") {
          this.loadHtml = true;
        } else {
          if (!item.contentType.includes("image")) {
            this.loadHtml = true;
          }
        }

        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    convertDocToPdf(item) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframe");
      downloadFileDoc(item)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: "application/pdf" });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.fileName;
          window.open(link.href, "openPdfIframe");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    viewPdf(file) {
      var ilink = GlobalMessage.IMAGELOADERGIF;
      window.open(ilink, "openPdfIframe");
      this.attachloaders = true;
      this.searchData.id = file.documentID;
      this.searchData.searchString = file.type;
      this.searchData.userId = this.$store.state.auth.userId;
      file.lockedByUserId = this.$store.state.auth.userId;
      downloadFile(this.searchData)
        .then((response) => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.fileName;
          window.open(link.href, "openPdfIframe");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key == 0) {
        this.downloadAttachment(item);
      } else if (key == 1) {
        this.filehistory = true;
        this.loadHistoryData(item);
      } else if (key == 2) {
        if (item.filePath != null && item.filePath.length > 0) {
          this.fileViewers = true;
          setTimeout(() => {
            this.$refs.refUploadFileView.onViewFiles(item);
          }, 500);
        } else {
          this.fileViewer = true;
          this.logContent(item);
        }
      } else if (key == 3) {
        var videoType = item.contentType.includes("video");
        if (videoType == true) {
          if (item.filePath != null && item.filePath.length > 0) {
            this.fileViewers = true;
            setTimeout(() => {
              this.$refs.refUploadFileView.onViewFiles(item);
            }, 500);
          } else {
            this.playVideo(item);
          }
        }
      } else if (key == 4) {
        this.notifyItem.documentId = item.documentID;
        this.notifydialog = true;
        this.$refs.refnotifydocument.documentId = item.documentID;
        setTimeout(() => {
          this.$refs.refnotifydocument.getNotify();
        }, 300);
      } else if (key == 5) {
        this.dohisCopy(item);
      } else if (key == 6) {
        this.archiveDocument(item);
      } else if (key == 7) {
        this.closeDocuments(item);
      }
    },
    closeDocuments(item) {
      updatecloseDocuments(item)
        .then((response) => {
          this.loader = false;
          this.loadPagingData();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    archiveDocument(item) {
      updateArchiveDocument(item.documentID)
        .then((response) => {
          this.loader = false;
          this.loadPagingData();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    playVideo(file) {
      let searchData = {};
      searchData.id = file.documentID;
      searchData.searchString = file.type;
      searchData.userId = this.$store.state.auth.userId;
      let fileName = file.sessionID + "." + file.fileName.split(".").pop();
      let routeData = this.$router.resolve({
        name: "video",
        query: { path: fileName },
      });
      window.open(routeData.href, "_blank");
    },
    historymenuClick(key, item) {
      if (key == 0) {
        this.downloadAttachment(item);
      } else if (key == 1) {
        this.isHistoryDelete = true;
        this.onDeleteItem(item);
      }
    },
    historymenudisabled(menu, item) {
      if (menu.title == "Delete") {
        return !this.isDelete;
      }
      if (menu.title == "Download") {
        // return !this.isRead;
      }
    },
    menudisabled(menu, items) {
      let item = items.documentPermissionData;
      if (item.isDocumentAccess != true) {
        if (this.isCloseDocument == true) {
          item.closeDocumentId = null;
        }
      }

      if (menu.title == "Download") {
        if (item.isLocked) {
          return true;
        }
        return !item.isRead;
      }
      if (menu.title == "View File") {
        var videoType = items.contentType.includes("video");
        if (videoType == true) {
          return false;
        } else {
          if (item.isLocked) {
            return true;
          }
          return !item.isRead;
        }
        if (item.isLocked) {
          return true;
        }
      }
      if (menu.title == "History") {
        if (item.isLocked) {
          return true;
        }
        return !item.isRead;
      }

      if (menu.title == "Play") {
        var videoType = items.contentType.includes("video");
        if (videoType == true) {
          return false;
        } else {
          return true;
        }
      }
      if (menu.title == "Notify") {
        if (item.closeDocumentId == 2561) {
          return true;
        } else {
          if (item.isLocked) {
            return true;
          }
          return !item.isRead;
        }
      }
      if (menu.title == "Copy Link") {
        if (item.isLocked) {
          return true;
        }
        return !item.isRead;
      }
    },
    downloadAttachment(file) {
      if (file.filePath != null && file.filePath.length > 0) {
        file.documentId = file.documentID;
        FilePathDownload.onGetDownloadFiles(file);
      } else {
        this.loader = true;
        this.searchData.id = file.documentID;
        this.searchData.searchString = file.type;
        this.searchData.userId = this.$store.state.auth.userId;
        console.log("Search Data", this.searchData, file);
        downloadFile(this.searchData)
          .then((response) => {
            let downloadData = response.data;
            console.log(response.data);
            let blob = new Blob([response.data], { type: file.contentType });
            let link = document.createElement("a");
            link.href = window.URL.createObjectURL(blob);
            link.download = file.fileName;
            link.click();
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadHistoryData(item) {
      if (item.sessionID != null) {
        this.historyfileloader = true;
        this.historysearchData.id = item.documentID;
        this.historysearchData.masterTypeID = item.filterProfileTypeId;
        this.historysearchData.searchString = item.type;
        this.historysearchData.sessionID = item.sessionID;
        this.historysearchData.parentId = item.documentParentId;
        this.historysearchData.userId = this.$store.state.auth.userId;
        getFileProfileTypeDocumentByHistory(this.historysearchData)
          .then((response) => {
            this.historyItems = response.data.documentsData;
            console.log("History", this.historyItems);
            this.historyfileloader = false;
          })
          .catch((error) => {
            this.historyfileloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.historyItems = [];
      }
    },
    saveNotify() {
      this.loader = true;
      this.notifyItem.addedByUserID = this.$store.state.auth.userId;
      this.notifyItem.addedDate = new Date();
      createNotifyDocument(this.notifyItem)
        .then((response) => {
          this.loader = false;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closeNotify() {
      this.notifydialog = false;
    },
    getNotes(item) {
      this.$refs.refnotes.sessionID = item.sessionId;
      this.$refs.refnotes.documentId = item.documentID;
      this.$refs.refnotes.getNotes();
      this.notesdialog = true;
    },
    closenotes() {
      this.notesdialog = false;
    },

    dohisCopy(file) {
      let url =
        GlobalMessage.FILEPROFILETYPE_DOWNURL +
        "id=" +
        file.documentID +
        "&&type=latest";
      const el = document.createElement("textarea");
      el.addEventListener("focusin", (e) => e.stopPropagation());
      el.value = url;
      document.body.appendChild(el);
      el.select();
      this.$copyText(url).then(
        function (e) {
          document.body.removeChild(el);
          window.getApp.$emit("APP_API_SUCCESS", "copied");
        },
        function (e) {
          alert("Can not copy");
        }
      );
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page = 1;
      search.sortCol = this.pagination.sortBy;
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetArchiveDocuments";
      search.userID = this.$store.state.auth.userId;
      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetArchiveDocuments";
      console.log("Pagination", args);
      search.userID = this.$store.state.auth.userId;
      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
