<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="mdi-magnify"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-dialog persistent v-model="dialog" max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            icon
            @click.native="add"
            v-show="showAddNotes"
          >
            <v-icon>add-circle-outline</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-toolbar dense color="primary">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
              </template>
              <span>Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  :loading="notesLoader"
                  @click.native="saveNotify"
                >
                  <v-icon color="white">save</v-icon>
                </v-btn>
              </template>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
              </template>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <div style="overflow: auto; height: calc(100vh - 120px - 60px)">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="notifyform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm8>
                    <v-autocomplete
                      label="User"
                      :loading="notesLoader"
                      :search-input.sync="searchuser"
                      multiple
                      prepend-icon="mdi-account-outline"
                      v-model="editedItem.userIds"
                      :items="userItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userID"
                      @change="onUserChange"
                      :rules="userRules"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeUser(data.item)"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="editedItem.isShowInfoAllUser"
                      label="All in the calandar list"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="editedItem.isUrgent"
                      label="Urgent"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex
                    xs12
                    sm12
                    v-if="editedItem.isQuote"
                    style="padding: 10px"
                  >
                    <v-card color="indigo lighten-2" dark tile flat>
                      <v-icon>mdi-format-quote-close</v-icon>
                      <v-card-text v-html="quoteMessage"></v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="editedItem.notesDetails"
                      label="Notes"
                      prepend-icon="mdi-select-all"
                      required
                      :rules="requiredRules"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              slot="activator"
              :loading="notesLoader"
              @click.native="saveNotify"
              >Save</v-btn
            >
            <v-btn color="primary" slot="activator" @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn icon="" @click="getNotes()">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="notifyheaders"
                :search="search"
                :items="notesItems"
                :loading="gridloader"
                class="elevation-0"
              >
                <template v-slot:[`item.addedDate`]="{ item }">
                  <span>{{ item.addedDate | formatDate }}</span>
                </template>
                <template v-slot:[`item.notesDetails`]="{ item }">
                  <span v-if="item.isQuote">
                    <span color="gray lighten-2" dark tile flat
                      ><b>"{{ item.quoteMessage }}"</b></span
                    ><br />
                    {{ item.notesDetails }}
                  </span>
                  <span v-else>
                    {{ item.notesDetails }}
                  </span>
                </template>
                <template v-slot:[`item.actions`]="{ item }">
                  <v-menu bottom left v-if="accessUserOnly(item)">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                    </template>

                    <v-list>
                      <v-list-item
                        v-for="(itemdata, i) in notesmenuItems"
                        :key="i"
                        @click="menuClick(item, itemdata)"
                      >
                        <v-list-item-action
                          ><v-icon>{{
                            itemdata.icon
                          }}</v-icon></v-list-item-action
                        >
                        <v-list-item-title>{{
                          itemdata.title
                        }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import {
  getNotesUsers,
  getCalandarNotes,
  createCompanyCalendarLineNotes,
} from "@/api/CompanyCalendarLine";
import moment from "moment";
export default {
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },

    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    companyCalendarLineId: -1,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    showAddNotes: false,
    notesLoader: false,
    dialog: false,
    selected: "user",
    quoteMessage: "",
    gridloader: false,
    userItems: [],
    notesItems: [],
    sessionID: null,
    searchData: { id: null, searchString: "", userId: null },
    searchuser: "",
    defaultItem: {
      valid: false,
      notesDetails: "",
      userId: null,
      userIds: [],
      companyCalendarLineNotesId: -1,
      companyCalendarLineId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      calendarNotesId: null,
      isUrgent: null,
      isShowInfoAllUser: false,
    },
    editedItem: {
      valid: false,
      notesDetails: "",
      userId: null,
      userIds: [],
      companyCalendarLineNotesId: -1,
      companyCalendarLineId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      calendarNotesId: null,
      isUrgent: null,
      isShowInfoAllUser: false,
    },
    notifyheaders: [
      {
        text: "Date",
        value: "addedDate",
        align: "left",
      },
      {
        text: "From",
        value: "addedByUser",
        align: "left",
      },
      {
        text: "To",
        align: "left",
        value: "users",
      },
      {
        text: "Notes",
        align: "left",
        value: "notesDetails",
        width: "30%",
      },
      {
        text: "Action",
        align: "right",
        value: "actions",
        width: "30%",
      },
    ],
    notesmenuItems: [
      {
        icon: "mdi-format-quote-close",
        href: "#",
        title: "Quote",
        isEnable: true,
        click: () => {},
      },
    ],
    attachloaders: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      sortBy: "addedDate",
      descending: true,
      rowsPerPage: 10,
    },
  }),
  computed: {
    userRules() {
      if (this.editedItem.isShowInfoAllUser != true) {
        return [
          () =>
            !!this.editedItem.userIds.length > 0 ||
            "Atleast one User must be selected.",
          (v) => !!v || "This is required field",
        ];
      } else {
        return [true];
      }
    },
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
  },
  created() {},
  methods: {
    refreshMethod() {
      this.getNotes();
    },
    accessUserOnly: function (value) {
      if (value.addedByUserId == this.$store.state.userId) {
        return true;
      } else {
        if (this.$store.state.userId != undefined && this.$store.state.userId != null) {
          let userExits = value.userIds.includes(parseInt(this.$store.state.userId));
          return userExits;
        }
      }
      return false;
    },
    add() {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.quoteMessage = "";
      this.editedIndex = -1;
      this.editedItem.userIds = [];
    },
    onUserChange() {
      this.searchuser = "";
    },
    removeUser(item) {
      const index = this.editedItem.userIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.userIds.splice(index, 1);
    },
    saveNotify() {
      if (this.$refs.notifyform.validate()) {
        this.notesLoader = true;
        this.editedItem.companyCalendarLineId = this.companyCalendarLineId;
        this.editedItem.addedByUserID = this.$store.state.userId;
        this.editedItem.addedDate = new Date();
        createCompanyCalendarLineNotes(this.editedItem)
          .then((response) => {
            this.notesLoader = false;
            this.notesItems.push(response.data);
            //window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            //this.editedItem = Object.assign({}, this.defaultItem);
          })
          .catch(() => {
            this.notesLoader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        //window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    getNotes() {
      this.notesLoader = true;
      getNotesUsers(this.companyCalendarLineId)
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            let userExits = this.userItems.filter(
              (o) => o.userID == this.$store.state.userId
            );
            if (userExits.length > 0) {
              this.showAddNotes = true;
            }
            this.notesLoader = false;
            this.loadNotesList();
            this.notesLoader = false;
          }
        })
        .catch(() => {
          this.notesLoader = false;
          //window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadNotesList() {
      this.gridloader = true;
      getCalandarNotes(this.companyCalendarLineId, this.$store.state.userId)
        .then((response1) => {
          this.gridloader = false;
          this.notesItems = response1.data;
        })
        .catch(() => {
          this.gridloader = false;
          //("APP_API_ERROR", error);
        });
    },
    menuClick(item, key) {
      if (key.title == "Quote") {
        this.editedItem.notesDetails = "";
        this.quoteMessage =
          item.notesDetails +
          "<br><br>" +
          item.addedByUser +
          ", " +
          moment(item.addedDate).format("DD-MMM-YYYY");
        this.editedItem.isQuote = true;
        this.editedItem.calendarNotesId = item.companyCalendarLineNotesId;
        this.editedItem.userIds = [];
        this.dialog = true;
      }
    },
    close() {
      this.dialog = false;
      this.getNotes();
    },
  },
};
</script>