<template>
  <div>
    <v-toolbar>
      <v-text-field
        v-model="search"
        prepend-icon="mdi-magnify"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-divider class="mx-4" inset vertical></v-divider>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(80vh - 60px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="headers"
                :search="search"
                :items="folderItems"
                class="elevation-0"
              >
                <template v-slot:[`item.addedDate`]="{ item }">
                  {{ item.addedDate | formatDate }}
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-icon small class="mr-2" @click="editItem(item)"
                    >mdi-pencil</v-icon
                  >
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
    <v-dialog persistent v-model="documentDrawer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title> Document List </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="closeDocumentDialog()">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <div style="overflow: auto; height: calc(100vh - 70px)">
            <v-layout wrap>
              <app-section-loader :status="loader"></app-section-loader>
              <v-flex xs12 sm8>
                <v-autocomplete
                  label="Folders"
                  prepend-icon="mdi-select-all"
                  v-model="folderPathId"
                  :items="folderPathItems"
                  :loading="loader"
                  chips
                  auto
                  item-text="folderPath"
                  item-value="folderID"
                  @change="onFolderPathSelect"
                >
                </v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field
                  v-model="description"
                  prepend-icon="mdi-folder"
                  label="Description"
                  clearable
                  single-line
                  color="white"
                >
                </v-text-field>
              </v-flex>
              <v-flex xs12 sm12>
                <v-data-table
                  v-model="selected"
                  :headers="docheaders"
                  :items="documentItems"
                  :loading="loader"
                  class="elevation-1"
                  @input="checkedItem"
                  item-key="documentID"
                  show-select
                >
                  <!--    <template v-slot:[`item.action`]="{ item }">
                    <v-checkbox
                      primary
                      hide-details
                      v-model="props.selected"
                    ></v-checkbox>
                  </template> -->

                  <template v-slot:[`item.addedDate`]="{ item }">
                    {{ item.addedDate | formatDate }}
                  </template>

                  <template slot="no-data">
                    <v-btn color="primary">
                      Record not exist.Refresh again in while time.</v-btn
                    >
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {
  createLinkFileProfileType,
  getParentPublicFoldersList,
  getPublicFolderPath,
  getDocumentsByFolderID,
} from "@/api/calenderEvent";

export default {
  components: {},
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    closeMethod: {
      type: Function,
    },

    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },
    sessionID: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    selected: [],
    loader: false,
    fileProfileTypeId: null,
    documentDrawer: false,
    dialog: false,
    taskID: null,
    folderloader: false,
    readWriteUserID: [],
    readonlyUserID: [],
    folderItems: [],
    folderPathItems: [],
    documentItems: [],
    description: "",
    folderDescription: "",
    documentId: null,
    folderPathId: null,
    userId: null,
    linkProfileTypeDocument: {
      linkFileProfileTypeDocumentId: -1,
      transactionSessionId: null,
      documentId: null,
      isSelected: false,
      addedByUserID: null,
      description: "",
      folderId: null,
      isLatestCommentAttachment: null,
      readWriteUserID: [],
      readOnlyUserID: [],
    },
    isLatestCommentAttachment: null,
    editedItem: {
      valid: false,
      folderID: null,
      name: "",
      description: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      folderID: null,
      name: "",
      description: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    items: [
      {
        icon: "mdi-pencil",
        href: "#",
        title: "Edit",
      },
      {
        icon: "mdi-delete",
        href: "#",
        title: "Delete",
      },
    ],
    attachloaders: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    headers: [
      {
        text: "Name",
        align: "left",
        value: "name",
        width: "30%",
      },
      {
        text: "Description",
        align: "left",
        value: "description",
      },

      {
        text: "Added By",
        value: "addedByUser",
        align: "left",
      },
      {
        text: "Added Date",
        value: "addedDate",
        align: "left",
      },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
    docheaders: [
      { text: "", value: "action", sortable: false, align: "left" },
      {
        text: "Name",
        align: "left",
        value: "fileName",
      },
      {
        text: "Folder Name",
        align: "left",
        value: "folderName",
      },
      {
        text: "Added Date",
        align: "left",
        value: "uploadDate",
      },
      {
        text: "Added By",
        align: "left",
        value: "addedByUser",
      },
    ],
  }),
  computed: {},
  created() {},
  methods: {
    getParentPublicFolders() {
      this.folderloader = true;
      let userId = this.$store.state.userId;
      getParentPublicFoldersList(userId)
        .then((response) => {
          this.folderItems = response.data;
          this.folderloader = false;
        })
        .catch((error) => {
          this.folderloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.editedIndex = this.folderItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.loader = true;
      let userId = this.$store.state.userId;
      getPublicFolderPath(item.folderID, userId)
        .then((response) => {
          this.loader = false;
          this.folderPathItems = response.data;
          console.log("Folder Paths", this.folderPathItems);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.documentDrawer = true;
    },
    onFolderPathSelect(value) {
      console.log("Value", value);
      if (value != undefined) {
        this.loadDocumentItems(value);
      } else {
        this.documentItems = [];
      }
    },
    loadDocumentItems(value) {
      let folder = this.folderPathItems.filter((f) => f.folderID == value);
      if (folder != undefined) {
        this.loader = true;
        let userId = this.$store.state.userId;
        this.linkProfileTypeDocument.folderId = folder[0].folderID;
        getDocumentsByFolderID(folder[0].folderID, userId)
          .then((response) => {
            this.loader = false;
            this.documentItems = response.data;
            console.log("Document", this.documentItems);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    close() {
      this.dialog = false;
    },
    closeDocumentDialog() {
      this.documentItems = [];
      this.folderPathItems = [];
      this.documentDrawer = false;
      this.fileProfileTypeId = null;
    },
    checkedItem(item) {
      this.documentloaders = true;
      this.linkProfileTypeDocument.transactionSessionId = this.sessionID;
      this.linkProfileTypeDocument.documentId = item[0].documentID;
      this.linkProfileTypeDocument.addedByUserID = this.$store.state.userId;
      this.linkProfileTypeDocument.fileProfileTypeId = item.filterProfileTypeId;
      this.linkProfileTypeDocument.description = this.description;
      this.linkProfileTypeDocument.taskID = this.taskID;
      this.linkProfileTypeDocument.isLatestCommentAttachment =
        this.isLatestCommentAttachment;
      this.linkProfileTypeDocument.readWriteUserID = this.readWriteUserID;
      this.linkProfileTypeDocument.readOnlyUserID = this.readonlyUserID;
      createLinkFileProfileType(this.linkProfileTypeDocument)
        .then(() => {
          this.documentloaders = false;
          window.getApp.$emit("APP_API_SUCCESS", "File Uploaded Successfully");
        })
        .catch((error) => {
          this.documentloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
