<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-divider class="mx-4" inset vertical></v-divider>

      <v-spacer></v-spacer>

      <v-dialog v-model="dialog" max-width="600px">
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon @click.native="add">
            <v-icon>add</v-icon>
          </v-btn></template
        >
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="closeMethod">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create Notes</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="deleterow"
                :disabled="editedItem.notesId < 0"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <div style="overflow: auto; height: calc(70vh - 80px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="itemform" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="editedItem.notes"
                      label="Notes"
                      prepend-icon="select_all"
                      required
                      :rules="requiredRules"
                    ></v-textarea>
                  </v-flex>

                  <v-flex xs10 sm10>
                    <v-text-field
                      v-model="editedItem.link"
                      label="Link"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs1 sm1>
                    <v-btn @click="clicklinkComment" icon>
                      <v-icon>visibility</v-icon>
                    </v-btn>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="save"
              >save</v-btn
            >
            <v-btn color="primary" slot="activator" @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="attachloaders"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="headers"
                :search="search"
                :items="notesItems"
                class="elevation-0"
              >
                <template v-slot:[`item.notes`]="{ item }">
                  <span v-if="item.link != ''" style="text-align: left">
                    <a @click="clicklink(item)">{{ item.notes }}</a>
                  </span>
                  <span v-else class="text-xs-left" style="text-align: left">
                    {{ item.notes }}
                  </span>
                </template>
                <template v-slot:[`item.addedDate`]="{ item }">
                  {{ item.addedDate | formatDate }}
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-menu bottom left>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item
                        v-for="(itemData, i) in items"
                        :key="i"
                        @click="menuClick(i, item)"
                        ripple="ripple"
                        :target="itemData.target"
                        rel="noopener"
                      >
                        <v-list-item-action>
                          <v-icon>{{ itemData.icon }}</v-icon>
                        </v-list-item-action>
                        <v-list-item-title
                          >{{ itemData.title }}
                        </v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
      <delete-confirmation-dialog
        ref="deleteConfirmationDialog"
        heading="Are You Sure You Want To Delete?"
        message="Are You Sure You Want To Delete This Item Permanently?"
        @onConfirm="deleteItem"
      ></delete-confirmation-dialog>
    </v-card>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import {
  getNotesByDocumentId,
  createNotes,
  updateNotes,
  deleteNotes,
} from "@/api/notes";
import { downloadFile } from "@/api/fileProfileType";
export default {
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showAddNotes: {
      type: Boolean,
      default: true,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },

    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    loader: false,
    dialog: false,
    notesItems: [],
    sessionID: null,
    documentId: null,
    searchData: { id: null, searchString: "", userId: null },
    editedItem: {
      valid: false,
      sessionID: null,
      notesId: -1,
      notes: "",
      documentId: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      link: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      notesId: -1,
      notes: "",
      sessionID: null,
      documentId: null,
      link: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: () => {
          //console.log(e);
        },
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: () => {},
      },
      {
        icon: "attach_file",
        href: "#",
        title: "Download",
        click: () => {},
      },
    ],
    attachloaders: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
      sortBy: "addedDate",
      descending: true,
    },
    uploadAttachmentDocuments: [],
    headers: [
      {
        text: "Notes",
        align: "left",
        value: "notes",
        width: "30%",
      },
      {
        text: "Document Name",
        align: "left",
        value: "documentName",
      },

      {
        text: "Added By",
        value: "addedByUser",
        align: "left",
      },
      {
        text: "Added Date",
        value: "addedDate",
        align: "left",
      },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
  }),
  computed: {
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
  },
  created() {
    //this.getNotes();
  },
  methods: {
    refreshMethod() {
      this.getNotes();
    },
    menuClick(key, item) {
      if (key == 0) {
        this.editItem(item);
      } else if (key == 1) {
        this.onDeleteItem(item);
      } else if (key == 2) {
        this.downloadAttachment(item);
      }
    },

    getNotes() {
      this.attachloaders = true;

      getNotesByDocumentId(this.documentId)
        .then((response) => {
          this.attachloaders = false;
          // console.log("Files Response", response.data);
          if (response.data != undefined) {
            this.notesItems = response.data;
          }
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    add() {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
    },
    deleterow() {
      this.onDeleteItem(this.editedItem);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.notesItems.indexOf(this.editedItem);
      deleteNotes(this.editedItem)
        .then((response) => {
          this.loader = false;
          if (response != undefined) {
            this.selectedItem = null;
            this.editedItem = Object.assign({}, this.defaultItem);
            this.notesItems.splice(index, 1);

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.editedIndex = this.notesItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    downloadAttachment(file) {
      console.log("download file" + JSON.stringify(file));
      this.loader = true;
      this.searchData.id = file.documentId;
      this.searchData.searchString = file.type;
      this.searchData.userId = this.$store.state.userId;
      console.log("Search Data", this.searchData, file);
      downloadFile(this.searchData)
        .then((response) => {
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.documentName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    close() {
      this.dialog = false;
    },
    save() {
      if (this.$refs.itemform.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        this.editedItem.sessionID = this.sessionID;
        this.editedItem.documentId = this.documentId;
        if (this.editedItem.link != null && this.editedItem.link != "") {
          var validate =
            /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/gi;

          if (validate.test(this.editedItem.link)) {
            if (this.editedItem.notesId > 0) {
              Object.assign(this.notesItems[this.editedIndex], this.editedItem);
              this.editedItem.modifiedByUserID = this.$store.state.userId;
              this.editedItem.modifiedDate = new Date();

              updateNotes(this.editedItem)
                .then((response) => {
                  Object.assign(this.notesItems[index], response.data);

                  this.loader = false;

                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                  this.getNotes();
                })
                .catch((error) => {
                  this.loader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            } else {
              this.editedItem.addedByUserID = this.$store.state.userId;
              createNotes(this.editedItem)
                .then((response) => {
                  this.loader = false;
                  if (response != undefined) {
                    this.notesItems.push(response.data);

                    this.editedItem = response.data;

                    let index = this.notesItems
                      .map((item) => item.notesId)
                      .indexOf(response.data.notesId);
                    this.editedIndex = index;
                    this.getNotes();
                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                  }
                })
                .catch(() => {
                  this.loader = false;
                  //window.getApp.$emit("APP_API_ERROR", error);
                });
            }
          } else {
            this.loader = false;
            window.getApp.$emit(
              "APP_API_ERROR",
              "Please Enter the valid URL link"
            );
          }
        } else {
          if (this.editedItem.notesId > 0) {
            Object.assign(this.notesItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.userId;
            this.editedItem.modifiedDate = new Date();

            updateNotes(this.editedItem)
              .then((response) => {
                Object.assign(this.notesItems[index], response.data);

                this.loader = false;

                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.getNotes();
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.userId;
            createNotes(this.editedItem)
              .then((response) => {
                this.loader = false;
                if (response != undefined) {
                  this.notesItems.push(response.data);

                  this.editedItem = response.data;

                  let index = this.notesItems
                    .map((item) => item.notesId)
                    .indexOf(response.data.notesId);
                  this.editedIndex = index;

                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                }
              })
              .catch(() => {
                this.loader = false;
                //window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    clicklinkComment() {
      if (this.editedItem.link != null && this.editedItem.link != "") {
        var validate =
          /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/gi;
        if (validate.test(this.editedItem.link)) {
          window.open(this.editedItem.link, "_blank");
        } else {
          window.getApp.$emit(
            "APP_API_ERROR",
            "Please Enter the valid URL link"
          );
        }
      }
    },
    clicklink(item) {
      var validate =
        /(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#/%?=~_|!:,.;]*[-A-Z0-9+&@#/%=~_|])/gi;
      if (validate.test(item.link)) {
        window.open(item.link, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
  },
};
</script>
