<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="mdi-magnify"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-dialog v-model="dialog" max-width="1100px" persistent>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon @click.native="add">
            <v-icon>add</v-icon>
          </v-btn>
        </template>
        <v-card>
          <v-toolbar dense color="primary">
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">reply</v-icon>
                </v-btn>
              </template>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="saveNotify">
                  <v-icon color="white">mdi-content-save</v-icon>
                </v-btn>
              </template>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                :disabled="notifyItem.notifyDocumentId < 0"
                @click.native="openlongNotes"
              >
                <v-icon color="white">mdi-note</v-icon>
              </v-btn>
              <span>Long Notes</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn icon v-bind="attrs" v-on="on" @click.native="close">
                  <v-icon color="white">close</v-icon>
                </v-btn>
              </template>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <div style="overflow: auto; height: calc(100vh - 120px - 60px)">
            <v-card-text>
              <v-form
                v-model="notifyItem.valid"
                ref="notifyform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-radio-group
                      v-model="selected"
                      row
                      :mandatory="false"
                      @change="onUserRadioGroupChanged"
                    >
                      <v-radio label="User Group" value="user-group"></v-radio>
                      <v-radio label="User" value="user"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm8>
                    <v-autocomplete
                      v-if="selected == 'user-group'"
                      chips
                      prepend-icon="mdi-account-multiple"
                      color="blue-grey lighten-2"
                      label="User Group"
                      :items="userGroupItems"
                      v-model="notifyItem.userGroupIDs"
                      item-text="name"
                      item-value="userGroupID"
                      multiple
                      :search-input.sync="searchgroup"
                      required
                      :rules="groupRules"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeUserGroup(data.item)"
                          @change="onUserGroupChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                    <v-autocomplete
                      v-if="selected == 'user'"
                      chips
                      prepend-icon="mdi-assistant"
                      color="blue-grey lighten-2"
                      label="User"
                      :items="userItems"
                      v-model="notifyItem.userIDs"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="searchuser"
                      required
                      :rules="userRules"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeUser(data.item)"
                          @change="onUserChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <!--  <v-flex xs12 sm4>
                    <v-radio-group
                      v-model="ccselected"
                      row
                      :mandatory="false"
                      @change="onCCUserRadioGroupChanged"
                    >
                      <v-radio
                        label="CC User Group"
                        value="ccuser-group"
                      ></v-radio>
                      <v-radio label="CC User" value="ccuser"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm8>
                    <v-autocomplete
                      v-if="ccselected == 'ccuser-group'"
                      chips
                      prepend-icon="mdi-account-multiple"
                      color="blue-grey lighten-2"
                      label="User Group"
                      :items="userGroupItems"
                      v-model="notifyItem.ccuserGroupIDs"
                      item-text="name"
                      item-value="userGroupID"
                      multiple
                      :search-input.sync="ccsearchgroup"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeCCUserGroup(data.item)"
                          @change="onCCUserGroupChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                    <v-autocomplete
                      v-if="ccselected == 'ccuser'"
                      chips
                      prepend-icon="mdi-assistant"
                      color="blue-grey lighten-2"
                      label="User"
                      :items="userItems"
                      v-model="notifyItem.ccuserIDs"
                      item-text="name"
                      item-value="userID"
                      multiple
                      :search-input.sync="ccsearchuser"
                    >
                      <template v-slot:selection="data">
                        <v-chip
                          v-bind="data.attrs"
                          :input-value="data.selected"
                          close
                          @click="data.select"
                          @click:close="removeCCUser(data.item)"
                          @change="onCCUserChange"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                      <template v-slot:item="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-item-content
                            v-text="data.item"
                          ></v-list-item-content>
                        </template>
                        <template v-else>
                          <v-list-item-content>
                            <v-list-item-title
                              v-html="data.item.name"
                            ></v-list-item-title>
                            <v-list-item-subtitle
                              v-html="data.item.group"
                            ></v-list-item-subtitle>
                          </v-list-item-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex> -->
                  <v-flex xs12 sm12>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="notifyItem.isUrgent"
                      label="Urgent"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="notifyItem.isDetailNotes"
                      label="Is Refer Detail Notes"
                      :disabled="disableDetailNotes"
                      @change="selectIsDetailNotes"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          :value="dueDateFormatted"
                          label="Due Date"
                          prepend-icon="mdi-calendar"
                          readonly
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="notifyItem.dueDate"
                        @input="onChangeDate"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex
                    xs12
                    sm12
                    v-if="notifyItem.isQuote"
                    style="padding: 10px"
                  >
                    <v-card color="indigo lighten-2" dark tile flat>
                      <v-icon>mdi-format-quote-close</v-icon>
                      <v-card-text v-html="quoteMessage"></v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="notifyItem.remarks"
                      label="Notes"
                      prepend-icon="mdi-select-all"
                      required
                      :rules="requiredRules"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" :loading="loader" @click.native="saveNotify"
              >save</v-btn
            >
            <v-btn color="primary" @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn icon="" @click="getNotify()">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="notifyheaders"
                :search="search"
                :items="notifyItems"
                :loading="gridloader"
                class="elevation-0"
              >
                <template v-slot:[`item.addedDate`]="{ item }">
                  <v-icon small class="mr-2" color="red" v-if="item.isUrgent"
                    >mdi-alert-circle-outline</v-icon
                  >
                  {{ item.addedDate | formatDateTime }}
                </template>
                <template v-slot:[`item.remarks`]="{ item }">
                  <span v-if="item.isQuote">
                    <span color="gray lighten-2" dark tile flat
                      ><b>"{{ item.quoteMessage }}"</b></span
                    ><br />
                    {{ item.remarks }}
                  </span>
                  <span v-else>
                    {{ item.remarks }}
                    <v-icon
                      small
                      class="mr-2"
                      v-if="item.isDetailNotes"
                      @click="openlongNotesFromGrid(item)"
                      >mdi-note</v-icon
                    >
                  </span>
                </template>
                <template v-slot:[`item.dueDate`]="{ item }">
                  {{ item.dueDate | formatDate }}
                </template>
                <template v-slot:[`item.action`]="{ item }">
                  <v-menu bottom left>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                    </template>

                    <v-list>
                      <v-list-item
                        v-for="(itemdata, i) in notesmenuItems"
                        :key="i"
                        @click="menuClick(i, item)"
                      >
                        <v-list-item-action
                          ><v-icon>{{
                            itemdata.icon
                          }}</v-icon></v-list-item-action
                        >
                        <v-list-item-title>{{
                          itemdata.title
                        }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
      <v-dialog v-model="notifyLongdialog" persistent max-width="1000px">
        <v-card>
          <v-toolbar dense color="primary">
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="notifyLongdialog = false"
              >
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-flex lg12 sm12>
            <vue2-tinymce-editor
              :id="meetingMceId"
              v-if="isLongRender"
              v-model="notifyLongData.detailNotes"
              :options="meetingEditorConfig"
            ></vue2-tinymce-editor>
          </v-flex>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" @click="saveLongNotes">Save</v-btn>

            <v-btn color="primary darken-1" @click="notifyLongdialog = false"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </div>
</template>
<script>
import Util from "@/util";
import GlobalMessage from "@/constant";
import { Vue2TinymceEditor } from "vue2-tinymce-editor";
import {
  getApplicationUsers,
  getUserGroups,
  getNotifyDocumentById,
  createNotifyDocument,
  getLongNotesByNotifyId,
  updateNotifyDocument,
  createNotifylongNotes,
  getLatestNotifyDocumentById,
} from "@/api/calenderEvent";
import moment from "moment";
export default {
  components: {
    Vue2TinymceEditor,
  },
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showAddNotes: {
      type: Boolean,
      default: true,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },

    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    meetingEditorConfig: Util.tinyconfig(300),
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    menu2: false,
    ccsearchgroup: "",
    ccsearchuser: "",
    userId: null,
    loader: false,
    dialog: false,
    selected: "user",
    ccselected: "ccuser",
    quoteMessage: "",
    gridloader: false,
    userGroupItems: [],
    userItems: [],
    notifyItems: [],
    sessionID: null,
    documentId: null,
    locationToSaveId: null,
    productionActivityAppLineId: null,
    searchData: { id: null, searchString: "", userId: null },
    searchuser: "",
    searchgroup: "",
    defaultItem: {
      valid: false,
      remarks: "",
      userId: null,
      userIDs: [],
      userGroupIDs: [],
      notifyDocumentId: -1,
      documentId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      quoteNotifyId: null,
      isUrgent: null,
      ccuserIDs: [],
      dueDate: null,
      isDetailNotes: false,
      ccuserGroupIDs: [],
      isRead: false,
      notifyType: "IPIR",
      productionActivityAppLineId: null,
      ipirReportId: null,
    },
    disableDetailNotes: false,
    isLongRender: false,
    notifyItem: {
      valid: false,
      remarks: "",
      userId: null,
      userIDs: [],
      userGroupIDs: [],
      notifyDocumentId: -1,
      documentId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      quoteNotifyId: null,
      isUrgent: null,
      ccuserIDs: [],
      dueDate: null,
      isDetailNotes: false,
      ccuserGroupIDs: [],
      isRead: false,
      notifyType: "IPIR",
      productionActivityAppLineId: null,
      ipirReportId: null,
    },
    notifyLongData: {
      notifyLongNotesId: -1,
      notifyDocumentId: null,
      detailNotes: "<div> &nbsp; </div>",
    },
    notifyheaders: [
      {
        text: "Date",
        value: "addedDate",
        align: "left",
      },
      {
        text: "From",
        value: "addedByUser",
        align: "left",
      },

      {
        text: "To",
        align: "left",
        value: "userName",
      },
      /* {
        text: "CC User",
        align: "left",
        value: "ccuserName",
      },
      {
        text: "User Group",
        align: "left",
        value: "userGroupName",
      },*/
      {
        text: "Notes",
        align: "left",
        value: "remarks",
        width: "30%",
      },
      {
        text: "Due Date",
        align: "left",
        value: "dueDate",
        width: "10%",
      },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
      },
    ],
    notifyLongdialog: false,
    notesmenuItems: [
      {
        icon: "mdi-format-quote-close",
        href: "#",
        title: "Quote",
        isEnable: true,
      },
    ],
    ipirReportType: "",
    attachloaders: false,
    uploadAttachmentDocuments: [],
  }),
  computed: {
    meetingMceId() {
      return Math.floor(100000 + Math.random() * 900000) + "_editor";
    },
    userRules() {
      return [
        () =>
          !!this.notifyItem.userIDs.length > 0 ||
          "Atleast one User must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    groupRules() {
      return [
        () =>
          !!this.notifyItem.userGroupIDs.length > 0 ||
          "Atleast one User Group must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    dueDateFormatted() {
      return this.notifyItem.dueDate
        ? moment(this.notifyItem.dueDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
  },
  created() {
    //this.getNotify();
  },
  methods: {
    refreshMethod() {
      this.getNotify();
    },
    onChangeDate() {
      this.menu2 = false;
    },
    add() {
      this.notifyItem = Object.assign({}, this.defaultItem);
      this.quoteMessage = "";
      this.editedIndex = -1;
      this.notifyItem.userIDs = [];
      this.notifyItem.notifyDocumentId = -1;
      this.getLatest();
    },
    getLatest() {
      if (this.documentId != null) {
        getLatestNotifyDocumentById(this.documentId)
          .then((response1) => {
            this.notifyItem.addedByUserID = this.$store.state.userId;
            this.notifyItem.userIDs =
              response1.data.userIDs == null ? [] : response1.data.userIDs;
            this.notifyItem.userGroupIDs =
              response1.data.userGroupIDs == null
                ? []
                : response1.data.userGroupIDs;

            if (
              this.notifyItem.userIDs.length > 0 &&
              this.notifyItem.userIDs[0] != null
            ) {
              this.selected = "user";
              let id = this.$store.state.userId;
              const index = this.notifyItem.userIDs.indexOf(id);
              if (index >= 0) this.notifyItem.userIDs.splice(index, 1);
              if (response1.data.addedByUserID != null) {
                let user = this.notifyItem.userIDs.filter(
                  (a) => a == response1.data.addedByUserID
                );
                if (user[0] == null) {
                  this.notifyItem.userIDs.push(response1.data.addedByUserID);
                }
              }
            } else if (
              this.notifyItem.userGroupIDs.length > 0 &&
              this.notifyItem.userGroupIDs[0] != null
            ) {
              this.selected = "user-group";
            }
            this.notifyItem.ccuserIDs =
              response1.data.ccuserIDs == null ? [] : response1.data.ccuserIDs;
            this.notifyItem.ccuserGroupIDs =
              response1.data.ccuserGroupIDs == null
                ? []
                : response1.data.ccuserGroupIDs;
            if (this.notifyItem.ccuserIDs.length > 0) {
              this.ccselected = "ccuser";
              let id = this.$store.state.userId;
              const index = this.notifyItem.ccuserIDs.indexOf(id);
              if (index >= 0) this.notifyItem.ccuserIDs.splice(index, 1);
            } else if (this.notifyItem.ccuserGroupIDs.length > 0) {
              this.ccselected = "ccuser-group";
            }
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    onUserRadioGroupChanged() {
      if (this.selected == "user") {
        this.notifyItem.userGroupIDs = [];
      } else if (this.selected == "user-group") {
        this.notifyItem.userIDs = [];
      }
    },
    selectIsDetailNotes() {
      if (this.notifyItem.isDetailNotes == true) {
        if (this.notifyItem.notifyDocumentId < 0) {
          this.notifyItem.remarks =
            this.notifyItem.remarks + "Refers to the Detail Notes";

          setTimeout(() => {
            this.saveNotify();
          }, 300);
        } else {
          this.disableDetailNotes = false;
        }
      }
    },
    removeUserGroup(item) {
      const index = this.notifyItem.userGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.notifyItem.userGroupIDs.splice(index, 1);
    },
    removeUser(item) {
      const index = this.notifyItem.userIDs.indexOf(item.userID);
      if (index >= 0) this.notifyItem.userIDs.splice(index, 1);
    },
    onUserChange() {
      this.searchuser = "";
      if (this.notifyItem.userGroupIDs.length > 0) {
        this.notifyItem.userGroupIDs = [];
      }
    },
    removeCCUserGroup(item) {
      const index = this.notifyItem.ccuserGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.notifyItem.ccuserGroupIDs.splice(index, 1);
    },
    removeCCUser(item) {
      const index = this.notifyItem.ccuserIDs.indexOf(item.userID);
      if (index >= 0) this.notifyItem.ccuserIDs.splice(index, 1);
    },
    onUserGroupChange() {
      this.searchgroup = "";
      if (this.notifyItem.userIDs.length > 0) {
        this.notifyItem.userIDs = [];
      }
    },
    openlongNotes() {
      if (this.notifyItem.notifyDocumentId > 0) {
        this.notifyLongData.detailNotes = "<div> &nbsp; </div>";
        let id = this.notifyItem.notifyDocumentId;
        getLongNotesByNotifyId(id)
          .then((response1) => {
            this.gridloader = false;

            this.notifyLongData.detailNotes = response1.data.detailNotes;
            this.notifyLongData.notifyDocumentId =
              response1.data.notifyDocumentId;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      this.isLongRender = true;
      setTimeout(() => {
        this.notifyLongdialog = true;
      }, 1000);
    },
    onCCUserChange() {
      this.ccsearchuser = "";
      for (var id in this.notifyItem.ccuserIDs) {
        let user = this.notifyItem.userIDs.filter(
          (a) => a == this.notifyItem.ccuserIDs[id]
        );
        if (user[0] != null) {
          const itemindex = this.notifyItem.userIDs.indexOf(user[0]);
          if (itemindex >= 0) this.notifyItem.userIDs.splice(itemindex, 1);
        }
      }
    },
    onCCUserRadioGroupChanged() {
      if (this.ccselected == "ccuser") {
        this.notifyItem.ccuserGroupIDs = [];
      } else if (this.ccselected == "ccuser-group") {
        this.notifyItem.ccuserIDs = [];
      }
    },
    onCCUserGroupChange() {
      this.ccsearchgroup = "";
      if (this.notifyItem.ccuserIDs.length > 0) {
        this.notifyItem.ccuserIDs = [];
      }
    },
    saveNotify() {
      if (this.$refs.notifyform.validate()) {
        if (this.notifyItem.notifyDocumentId < 0) {
          this.loader = true;
          this.notifyItem.documentId =
            this.documentId == -1 ? null : this.documentId;
          this.notifyItem.addedByUserID = this.$store.state.userId;
          this.notifyItem.addedDate = new Date();
          this.notifyItem.notifyType = this.ipirReportType;
          this.notifyItem.productionActivityAppLineId =
            this.productionActivityAppLineId;
          this.notifyItem.ipirReportId = this.ipirReportId;
          createNotifyDocument(this.notifyItem)
            .then((response) => {
              this.loader = false;
              this.notifyItems.push(response.data);
              this.notifyItem.notifyDocumentId = response.data.notifyDocumentId;
              this.disableDetailNotes = true;
              if (this.locationToSaveId == null) {
                window.getApp.$emit(
                  "APP_API_SUCCESS",
                  "Email Attachment Send Successfully But Without Document Link"
                );
              } else {
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.updateNotify();
        }
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    updateNotify() {
      this.notifyItem.documentId =
        this.documentId == -1 ? null : this.documentId;
      this.notifyItem.modifiedByUserID = this.$store.state.userId;
      this.notifyItem.notifyType = this.ipirReportType;
      this.notifyItem.productionActivityAppLineId =
        this.productionActivityAppLineId;
      this.notifyItem.ipirReportId = this.ipirReportId;
      updateNotifyDocument(this.notifyItem)
        .then((response) => {
          this.loader = false;
          console.log("response data" + JSON.stringify(response.data));

          this.notifyItems.push(response.data);
          this.notifyItem.notifyDocumentId = response.data.notifyDocumentId;
          if (this.locationToSaveId == null) {
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Email Attachment Send Successfully But Without Document Link"
            );
          } else {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          }
          this.disableDetailNotes = true;
          this.isLongRender = true;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getNotify() {
      this.gridloader = true;
      var documentId =
        this.documentId > 0
          ? this.documentId
          : this.productionActivityAppLineId;
      var type = this.documentId > 0 ? "" : "NoDocument";
      var ipirReportType = this.ipirReportType;
      if (ipirReportType == "IPIR") {
        documentId =
          this.documentId > 0 ? this.documentId : this.ipirReportId;
        type = this.documentId > 0 ? "" : "NoDocument";
      }
      getNotifyDocumentById(documentId, type, ipirReportType)
        .then((response1) => {
          this.gridloader = false;
          this.notifyItems = response1.data;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key == 0) {
        this.quoteMessage =
          item.remarks +
          "<br><br>" +
          item.addedByUser +
          ", " +
          moment(item.addedDate).format("DD-MMM-YYYY");
        this.notifyItem.isQuote = true;
        this.notifyItem.quoteNotifyId = item.notifyDocumentId;

        this.notifyItem.userIDs = [];
        this.dialog = true;
      }
    },
    close() {
      this.dialog = false;
      this.getNotify();
    },
    openlongNotesFromGrid(item) {
      this.notifyLongData.notifyDocumentId = item.notifyDocumentId;
      let id = this.notifyLongData.notifyDocumentId;
      this.notifyLongData.detailNotes = "<div> &nbsp; </div>";
      getLongNotesByNotifyId(id)
        .then((response1) => {
          this.gridloader = false;
          this.notifyLongData.detailNotes = response1.data.detailNotes;
          this.notifyLongData.notifyDocumentId =
            response1.data.notifyDocumentId;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      setTimeout(() => {
        this.notifyLongdialog = true;
        this.isLongRender = true;
      }, 500);
    },
    saveLongNotes() {
      this.notifyLongData.notifyDocumentId = this.notifyItem.notifyDocumentId;
      createNotifylongNotes(this.notifyLongData)
        .then(() => {
          this.loader = false;
          if (this.locationToSaveId == null) {
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Email Attachment Send Successfully But Without Document Link"
            );
          } else {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
