<template>
  <div>
    <v-toolbar dense color="primary">
      <v-spacer></v-spacer>
      <v-btn  icon="" @click="openFileDialog()">
        <v-icon color="white"> add </v-icon>
      </v-btn>
      <v-btn icon="" @click="initialize()">
        <v-icon color="white"> refresh </v-icon>
      </v-btn>
      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-card>
      <v-card-text>
        <div style="overflow: auto; height: calc(70vh - 100px)">
          <v-data-table
            :search="search"
            :headers="headers"
            :items="attachments"
            :items-per-page="5"
            class="elevation-1"
            :loading="attachloaders"
          >
            <template v-slot:[`item.uploadDate`]="{ item }">
              <span>{{ item.uploadDate | formatDate }}</span>
            </template>
             <template v-slot:[`item.description`]="{ item }">
             
                 <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
             <span>{{ item.description  }}</span>
              <v-icon color="primary" dark v-bind="attrs" v-on="on"  @click="editDescription(item)" small>
                edit
              </v-icon>
            </template>
            <span>Update Description</span>
          </v-tooltip>
             
            </template>
               
            <template v-slot:[`item.action`]="{ item }">
            
         
        
              <v-menu bottom left>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                </template>
                <v-list>
                  <v-list-item
                    v-for="(itemdata, i) in items"
                    :key="i"
                    @click="menuClick(item, itemdata)"
                    :disabled="menudisabled(itemdata, item)"
                  >
                    <v-list-item-action
                      ><v-icon>{{ itemdata.icon }}</v-icon></v-list-item-action
                    >
                    <v-list-item-title>{{ itemdata.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>
            </template>
            
          </v-data-table>
        </div>
      </v-card-text>
    </v-card>
    <v-dialog v-model="fileattachdialog" max-width="400px">
      <v-card>
        <v-card-text>
          <v-container>
        <v-row>
           <v-col class="pa-0" cols="12" lg="12" style="margin-top: 100px">
              
  <v-textarea
        v-model="description"
        prepend-icon="notes"
        label="Description"


      >
        
      </v-textarea>
      
                </v-col
            >
           
                          
            </v-row>
            <v-row>
              
              <v-col class="pa-0" cols="12" lg="12" style="margin-top: 100px">
                <upload-btn @file-update="onAddFiles" title="Upload your document" name="uploadtask" ref="attachUpload" noTitleUpdate uniqueId :multiple="isMultiple">
                                <template slot="icon-left">
                                    <v-icon small class="mr-2">cloud_upload</v-icon>
                                </template>
                            </upload-btn>
                </v-col
            ></v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
      <v-dialog v-model="descriptionDialogue" max-width="700px" scrollable>
            <v-card>
              <v-toolbar color="primary" dark>
                <v-toolbar-title>Document Description</v-toolbar-title>
              </v-toolbar>

              <v-card-text>
                <v-flex lg12 sm12>
                  <v-textarea
                    label="Description"
                    prepend-icon="tune"
                    v-model="updateDocumentDescriptionData.description"
                    required
                    :rules="requiredRules"
                  ></v-textarea>
                </v-flex>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn outline color="primary" @click.native="updateDescription"
                  >Update</v-btn
                >
                <v-btn
                  outline
                  color="primary"
                  @click="descriptionDialogue = false"
                  >Close</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>

    <v-dialog v-model="fileViewer" fullscreen>
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon @click.native="downloadViewFile">
            <v-icon color="white">mdi-cloud-download</v-icon>
          </v-btn>
          <v-spacer></v-spacer>

          <v-btn icon @click.native="fileViewer = false">
            <v-icon color="white">close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-layout wrap>
            <v-flex xs12 sm12 v-show="showAll">
              <iframe
                name="openPdf"
                v-show="!loadHtml && !loadImage"
                width="100%"
                style="overflow: auto; height: calc(98vh - 100px)"
                :src="fileContent"
              ></iframe>
              <div
                v-show="loadHtml"
                v-html="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              ></div>
              <img
                v-show="loadImage"
                :src="fileContent"
                style="overflow: auto; height: calc(98vh - 100px)"
              />
            </v-flex>
            <v-flex xs12 sm12 v-show="showExcel">
              <xlsx ref="refxlsx"></xlsx>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="fileViewers" persistent fullscreen>
      <upload-files-view
        title="Document"
        ref="refUploadFileView"
        :closeMethod="closefileViewers"
      ></upload-files-view>
    </v-dialog>
      <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteFiles"
          ></delete-confirmation-dialog>
  </div>
</template>
<script>
import FilePathDownload from "@/util/filePathDownload";
import UploadFilesView from "@/components/uploadFilesView";
 import UploadButton from "vuetify-upload-button";
import GlobalMessage from "@/constant";
import {
  uploadSupportDocuments,
  getSupportDocuments,
  downloadFile,
  viewFile,
  deleteSupportDocument
} from "@/api/calenderEvent";
import {updateDescriptionField} from "@/api/fileProfileType";
import Xlsx from "@/xlsx";
export default {
  components: {
    Xlsx,UploadFilesView,
     "upload-btn": UploadButton,
  },
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showAddNotes: {
      type: Boolean,
      default: true,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },

    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: "",
    },
  },
  data: () => ({
    fileViewers: false,
    fileContent: null,
    loadHtml: false,
    sessionID: null,
    documentID: null,
    loadImage: false,
      searchData: { id: null, searchString: "", userId: null },
    isMobileUplod: true,
    isViewFile: false,
      descriptionDialogue: false,
    showAll: true,
    showExcel: false,
       updateDocumentDescriptionData: {
      documentID: null,
      description: "",
      modifiedByUserID: null,
      filterProfileTypeId: null,
    },
    uploadedAttachment: new FormData(),
    fileattachdialog: false,
    filename: null,
    loader: false,
    isMultiple: true,
    isEmailCreated: false,
    description: '',
    productionActivityAppLineId: -1,
    attachments: [],
    attachloaders: false,
    fileViewer: false,
    viewedFile: null,
   headers: [
      {
        text: "File Name",
        align: "left",
        value: "fileName",
      },
        { text: "Type", value: "contentType" },
       {
        text: "Description ",
        align: "left",
        value: "description",
      },    
      { text: "Size(KB)", value: "fileSize" },
       { text: "Added by", value: "addedByUser" },
      { text: "Added Date", value: "uploadDate" },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
    items: [
      {
        icon: "mdi-download",
        href: "#",
        title: "Download",
      },
        {
        icon: "mdi-delete",
        href: "#",
        title: "Delete",
      }, 
      {
        icon: "mdi-file",
        href: "#",
        title: "View File",
      },
      {
        icon: "mdi-play",
        href: "#",
        title: "Play",
      },
    ],
  }),
  computed: {
      requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
  },
  created() {},
  methods: {
    closefileViewers() {
      this.fileViewers = false;
    },
    initialize() {
      this.attachloaders = true;
      getSupportDocuments(this.productionActivityAppLineId, this.type)
        .then((response) => {
          this.attachloaders = false;
          this.attachments = response.data;
        })
        .catch(() => {
          this.attachloaders = false;
        });
    },
    onAddFiles(args) {
      if (args != undefined) {
           this.uploadedAttachment = new FormData();
        Array.from(args).forEach((file) => {
        let fileSize = file.size / 1000000;
         this.attachments = [];
          this.attachuploadedfileNames = [];
          this.attachuploadedFiles = [];

        if (fileSize <= 100) {

           let attachFile = {
            fileName: "",
            contentType: "",
            fileSize: 0.0,
            uploadDate: new Date(),
            uploaded: false,
            sessionID: "",
            fileProfileTypeId: null,
            isVideoFile: false,
          };
          if (file.type.includes("video")) {
            attachFile.isVideoFile = true;
          }
          attachFile.fileName = file.name;
          attachFile.fileSize = file.size;
          attachFile.contentType = file.type;
          attachFile.uploadDate = new Date();
          attachFile.uploaded = false;
          this.attachments.push(attachFile);
            this.attachuploadedfileNames.push(file.name);
             this.attachuploadedFiles.push(file);
        
          
           this.uploadedAttachment.append("file", file, file.name);
          if (file.type.includes("video")) {
            this.uploadedAttachment.append("isVideoFile", true);
          }
          
         }
       });
          this.fileattachdialog = false;
          this.uploadedAttachment.append("userSession",  this.$store.state.sessionId);
          this.uploadedAttachment.append("type", "Production Activity");
          this.uploadedAttachment.append("userID", this.$store.state.userId);
           this.uploadedAttachment.append(
            "productionActivityAppLineId",
            this.productionActivityAppLineId
          );
            this.uploadedAttachment.append("filePath", "filePath");
           this.uploadedAttachment.append("description", this.description);
         uploadSupportDocuments(this.uploadedAttachment)
        .then(() => {
            this.$refs.attachUpload.clear();
             this.uploadedAttachment.delete("file");
          this.uploadedAttachment = new FormData();
          this.initialize();
          this.attachloaders = false;
          this.filename = null;
         
              
        })
        .catch(() => {
          this.attachloaders = false;
        });
        
         
      
      
     
        }
    },
   
    openFileDialog() {
      
       this.description = "";
       if(this.isEmailCreated==true)
      {
      window.getApp.$emit("APP_API_VAL", "Please do it at Email");
      }
      else
      {
      this.fileattachdialog = true;
      }
    },
      menudisabled(menu, items) {         
          if (menu.title == "View File") {
          
        if (items.documentID != null) {
          var videoTypes = items.contentType.includes("video");
          if (videoTypes == true) {
            return true;
          } else {
            if (items.isLocked) {
              return true;
            }
           
          }
          if (items.isLocked) {
            return true;
          }
        } else {
          return true;
        }
      } else if (menu.title == "Play") {
        if (items.documentID != null) {
          var videoType = items.contentType.includes("video");
          if (videoType == true) {
            return false;
          } else {
            return true;
          }
        } else {
          return true;
        }
      }
     else if (menu.title == "Download") {
        if (items.documentID != null) {
          if (items.isLocked) {
            return true;
          } else {
            return false;
          
          }
        } else {
          return true;
        }
      }
      else{
        return false;
      }

        },
    menuClick(item, key) {
      if (key.title == "Download") {
        if (item.documentID != null) {
          if (item.filePath != null && item.filePath.length > 0) {
            item.documentId = item.documentID;
            FilePathDownload.onGetDownloadFiles(item);
          } else {
             window.getApp.$emit("APP_API_ERROR","File Not Found");
            //this.downloadAttachment(item);
          }
        }
      } else if (key.title == "View File") {
        console.log('item view file'+JSON.stringify(item));
        if (item.documentID != null) {
          if (item.filePath != null && item.filePath.length > 0) {
            this.fileViewers = true;
            setTimeout(() => {
              this.$refs.refUploadFileView.onViewFiles(item);
            }, 500);
          } else {
             window.getApp.$emit("APP_API_ERROR","File Not Found");
           //this.fileViewer = true;
           // this.logContent(item);
          }
        }
      } else if (key.title == "Play") {
        if (item.documentID != null) {
          var videoType = item.contentType.includes("video");
          if (videoType == true) {
            if (item.filePath != null && item.filePath.length > 0) {
              this.fileViewers = true;
              setTimeout(() => {
                this.$refs.refUploadFileView.onViewFiles(item);
              }, 500);
            } else {
               window.getApp.$emit("APP_API_ERROR","File Not Found");
              //this.playVideo(item);
            }
          }
        }
      }
      else if (key.title == "Delete") {
        this.onDeleteItem(item);
        this.sessionID = item.sessionID;
      }
    },
      onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.documentID = item.documentID;
    },
    playVideo(file) {
      let fileName = file.sessionID + "." + file.fileName.split(".").pop();
      let routeData = this.$router.resolve({
        name: "video",
        query: { path: fileName },
      });
      window.open(routeData.href, "_blank");
    },
    downloadViewFile() {
      this.downloadAttachment(this.viewedFile);
    },
      editDescription(item) {
     
      this.updateDocumentDescriptionData.documentID = item.documentID;
      this.updateDocumentDescriptionData.description = item.description;
      this.updateDocumentDescriptionData.filterProfileTypeId =
        item.filterProfileTypeId;
      
      this.descriptionDialogue = true;
    },
      updateDescription() {
      this.updateDocumentDescriptionData.modifiedByUserID =
        this.$store.state.userId;
      updateDescriptionField(this.updateDocumentDescriptionData)
        .then((response) => {
          this.descriptionDialogue = false;

          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          window.getApp.$emit("GET_RELOADDOC");
          this.updateDocumentDescriptionData.description =
            response.data.description;
            this.initialize();
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
     deleteFiles() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      //if (file.uploaded) {
      this.searchData.id = this.documentID;
      this.searchData.searchString = "Production Activity";
      this.searchData.userId = this.$store.state.userId;
      this.searchData.sessionID = this.sessionID;
      this.searchData.fileProfileTypeId = this.fileProfileTypeId;
      deleteSupportDocument(this.searchData)
        .then((response) => {
          this.loader = false;
          if (response.data != undefined) {
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Support Document Deleted Successfully"
            );

             this.initialize();
          }
         
        })
        .catch(() => {
          this.loader = false;
          
        });
      //}
    },
    viewPdf(file) {
      var link = GlobalMessage.IMAGELOADERGIF;
      window.open(link, "openPdf");
      this.attachloaders = true;
      downloadFile(file.documentID)
        .then((response) => {
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.fileName;
          window.open(link.href, "openPdf");
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    logContent(item) {
      this.viewedFile = item;
      this.fileContent = null;
      this.loadHtml = false;
      this.loadImage = false;
      this.isMobileUplod = true;
      this.isViewFile = false;
      this.showAll = true;
      this.showExcel = false;
      if (item.isMobileUpload == true) {
        this.isViewFile = true;
        this.fileContent = GlobalMessage.APPUpload + item.fileName;
      } else if (
        item.contentType == "application/vnd.ms-excel" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      ) {
        this.showAll = false;
        this.showExcel = true;
        setTimeout(() => {
          this.$refs.refxlsx.selectedSheet = null;
          this.$refs.refxlsx.showGrid = false;
          this.$refs.refxlsx.userId = this.$store.state.userId;
          this.$refs.refxlsx.downloadAttachment(item);
        }, 500);
      } else if (item.contentType == "application/pdf") {
        //this.loadHtml=true;
        this.viewPdf(item);
      } else if (
        item.contentType == "application/msword" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.wordprocessingml.document" ||
        item.contentType ==
          "application/vnd.openxmlformats-officedocument.presentationml.presentation"
      ) {
        this.loadHtml = true;
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        // this.convertDocToPdf(item);
      } else {
        this.isViewFile = false;
        if (item.contentType.includes("image")) {
          this.loadImage = true;
        }
        if (
          item.contentType == "application/pdf" ||
          item.contentType == "text/plain"
        ) {
          this.loadHtml = false;
        } else {
          if (!item.contentType.includes("image")) {
            this.loadHtml = true;
          }
        }
        viewFile(item)
          .then((response) => {
            this.fileContent = response.data;
          })
          .catch((error) => {
            this.attachloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    downloadAttachment(file) {
      this.attachloaders = true;
      downloadFile(file.documentID)
        .then((response) => {
          let blob = new Blob([response.data], { type: file.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = file.fileName;
          link.click();
          this.attachloaders = false;
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
