<template>
  <div>
    <v-card>
      <v-toolbar dense color="primary">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" @click.native="closeMethod">
              <v-icon color="white">reply</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>

        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" @click.native="closeMethod">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar>

      <v-card-text>
        <v-form ref="notifyform" v-model="valid">
          <v-row style="padding: 10px">
            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                :value="startDate | formatDateView"
                label="Start Date"
                prepend-icon="mdi-note"
                readonly
              ></v-text-field>
            </v-col>
            <v-col class="d-flex" cols="12" sm="6">
              <v-text-field
                v-model="editedItem.topicName"
                label="Topic Name"
                prepend-icon="mdi-note"
                required
                :rules="requiredRules"
              ></v-text-field>
            </v-col>
            <v-col class="d-flex" cols="12" sm="6">
              <v-autocomplete
                :loading="loader"
                flat
                :items="manufacturingProcessChildItems"
                v-model="editedItem.manufacturingProcessChildId"
                label="Routine"
                chips
                prepend-icon="mdi-note"
                item-text="value"
                item-value="applicationMasterChildId"
                :rules="[(v) => !!v || 'Routine is required']"
                @change="onchangeManufacturingProcess"
              ></v-autocomplete>
            </v-col>
            <v-col class="d-flex" cols="12" sm="6">
              <v-autocomplete
                :loading="loader"
                flat
                :items="prodActivityCategoryChildItems"
                v-model="editedItem.prodActivityCategoryChildId"
                label="Category"
                chips
                prepend-icon="mdi-note"
                item-text="value"
                item-value="applicationMasterChildId"
                :rules="[(v) => !!v || 'Category is required']"
              ></v-autocomplete>
            </v-col>
            <v-col class="d-flex" cols="12" sm="6">
              <v-autocomplete
                chips
                prepend-icon="mdi-assistant"
                color="blue-grey lighten-2"
                label="To"
                :items="userItems"
                v-model="toId"
                item-text="name"
                item-value="sessionId"
                multiple
                :search-input.sync="searchuser"
                @change="onUserChange"
                required
                :rules="userRules"
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="data.select"
                    @click:close="removeUser(data.item)"
                  >
                    {{ data.item.name }}
                  </v-chip>
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.group"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>
            <v-col class="d-flex" cols="12" sm="6">
              <v-autocomplete
                chips
                prepend-icon="mdi-assistant"
                color="blue-grey lighten-2"
                label="CC"
                :items="userItems"
                v-model="ccId"
                item-text="name"
                item-value="sessionId"
                multiple
                :search-input.sync="searchCCuser"
                @change="onUserCChange"
              >
                <template v-slot:selection="data">
                  <v-chip
                    v-bind="data.attrs"
                    :input-value="data.selected"
                    close
                    @click="data.select"
                    @click:close="removeCCUser(data.item)"
                  >
                    {{ data.item.name }}
                  </v-chip>
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.group"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>
        </v-form>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" @click="save" :loading="loading"
            >Save</v-btn
          >

          <v-btn color="primary darken-1" @click="closeMethod">Close</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { uploadTopicFiles } from "@/api/topic";
import moment from "moment";
import GlobalMessage from "@/constant";
import {
  getApplicationUsers,
  updateProductActivityAppRoutineTopic,
  downloadFile,
  getDocumentInfo,
} from "@/api/calenderEvent";
import {
  getApplicationMasterChild,
  getApplicationMasterChildtWithChild,
} from "@/api/applicationsUsers";
export default {
  props: {
    closeMethod: {
      type: Function,
    },
  },
  data: () => ({
    searchuser: "",
    searchCCuser: "",
    loader: false,
    userItems: [],
    userCCItems: [],
    valid: false,
    editedItem: {
      topicName: "",
      typeId: null,
      categoryId: null,
      startDate: new Date(),
      endDate: null,
      dueDate: null,
      from: null,
      to: null,
      cc: null,
      status: "New",
      isNotification: true,
      description: "",
      participant: "",
      addedByUserId: null,
      manufacturingProcessChildId: null,
      prodActivityCategoryChildId: null,
    },
    forumType: "",
    prodOrderNo: "",
    companyName: "",
    loading: false,
    ccId: [],
    toId: [],
    startDate: new Date(),
    description: "",
    defaultItem: {
      topicName: "",
      typeId: null,
      categoryId: null,
      startDate: new Date(),
      endDate: null,
      dueDate: null,
      from: null,
      to: null,
      cc: null,
      status: "New",
      isNotification: true,
      description: "",
      participant: "",
      addedByUserId: null,
    },
    fileName: "",
    documentId: 0,
    productionActivityRoutineAppLineId: -1,
    prodOrdersNo: [],
    formData: new FormData(),
    manufacturingProcessChild: "",
    prodActivityCategoryChild: "",
    manufacturingProcessChildItems: [],
    prodActivityCategoryChildItems: [],
    ticketNo:"",
  }),
  created() {
    this.initialize();
    this.loadDropdown();
  },
  computed: {
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
    userRules() {
      return [
        () => !!this.toId.length > 0 || "Atleast one User must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
  },
  methods: {
    resetForm() {
      this.startDate = new Date();
      this.loading = false;
      this.toId = [];
      this.ccId = [];
      this.formData = new FormData();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.prodActivityCategoryChildItems = [];
    },
    loadDropdown() {
      getApplicationMasterChild(108)
        .then((response) => {
          this.manufacturingProcessChildItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onchangeManufacturingProcess() {
      this.prodActivityCategoryChildItems = [];
      getApplicationMasterChildtWithChild(
        this.editedItem.manufacturingProcessChildId
      )
        .then((response) => {
          this.prodActivityCategoryChildItems = response.data;
        })
        .catch(() => {});
    },
    initialize() {
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter(
              (o) =>
                o.statusCodeID == 1 &&
                o.sessionId != null &&
                o.userID != this.$store.state.userId
            );
            this.userItems = uom;
            this.userCCItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      this.formData = new FormData();
      // var manufacturingProcessChilds = "";
      var prodActivityCategoryChilds = "";
      if (this.$refs.notifyform.validate()) {
        var manufacturingProcess = this.manufacturingProcessChildItems.filter(
          (a) =>
            a.applicationMasterChildId ==
            this.editedItem.manufacturingProcessChildId
        );
        if (manufacturingProcess.length > 0) {
          // manufacturingProcessChilds = manufacturingProcess[0]["value"];
        }
        var prodActivity = this.prodActivityCategoryChildItems.filter(
          (a) =>
            a.applicationMasterChildId ==
            this.editedItem.prodActivityCategoryChildId
        );
        if (prodActivity.length > 0) {
          prodActivityCategoryChilds = prodActivity[0]["value"];
        }
        this.loading = true;
        this.editedItem.from = this.$store.state.sessionId;
        this.editedItem.addedByUserId = this.$store.state.sessionId;
        this.editedItem.participant = this.$store.state.sessionId + ",";
        if (this.toId.length > 0) {
          this.editedItem.to = this.toId.join(",");
          this.editedItem.participant += this.editedItem.to + ",";
        }
        if (this.ccId.length > 0) {
          this.editedItem.cc = this.ccId.join(",");
          this.editedItem.participant += this.editedItem.cc + ",";
        }
        this.editedItem.participant = this.editedItem.participant.replace(
          /,(\s+)?$/,
          ""
        );
        this.editedItem.startDate = this.$options.filters.formatDateView(
          this.startDate
        );
        this.formData.append("topicName", this.editedItem.topicName);
        this.formData.append("subjectName", this.companyName);
        this.formData.append("actionType", "Production Routine");
        this.formData.append(
          "actionUrl",
          this.productionActivityRoutineAppLineId
        );
        this.formData.append("seqNo", 0);
        if (this.ticketNo != null && this.ticketNo != "") {
          this.formData.append("ticketNo", this.ticketNo + "(Routine)");
        } else {
          this.formData.append(
            "ticketNo",
            "Routine-" + this.productionActivityRoutineAppLineId
          );
        }
        this.formData.append("typeId", this.companyName); //Manufacturing Process
        this.formData.append("categoryId", prodActivityCategoryChilds); //Category
        this.formData.append("type", "R");
        var backUrl =
          "productionRoutine/productionRoutineReport?id=" +
          this.productionActivityRoutineAppLineId;
        this.formData.append("backUrl", backUrl);
        this.formData.append(
          "startDate",
          moment(this.editedItem.startDate).format("YYYY-MM-DD HH:mm:ss")
        );
        this.formData.append(
          "endDate",
          moment(null).format("YYYY-MM-DD HH:mm:ss")
        );

        this.formData.append(
          "dueDate",
          moment(null).format("YYYY-MM-DD HH:mm:ss")
        );
        this.formData.append("from", this.editedItem.from);
        this.formData.append(
          "to",
          this.editedItem.to == null ? "" : this.editedItem.to
        );
        this.formData.append(
          "cc",
          this.editedItem.cc == null ? "" : this.editedItem.cc
        );
        this.formData.append("status", this.editedItem.status);
        this.formData.append("isNotification", this.editedItem.isNotification);
        this.formData.append("description", this.description);
        this.formData.append("participant", this.editedItem.participant);
        this.formData.append("addedByUserId", this.editedItem.addedByUserId);
        this.formData.append("userGroupIDs", ["0"]);
        //if (this.documentId > 0) {
        // this.getDocData();
        // } else {
        this.saveTopic();
        // }
      }
    },
    downloadAttachment(file) {
      downloadFile(file.documentID)
        .then((response) => {
          let blob = new Blob([response.data], { type: file.contentType });
          this.formData.append("file", blob, file.filename);
          this.saveTopic();
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getDocData() {
      if (this.documentId != null) {
        getDocumentInfo(this.documentId, this.$store.state.userId)
          .then((fileInfo) => {
            this.formData.append(
              "filename",
              fileInfo.data.documentsData[0].fileName
            );
            this.downloadAttachment(fileInfo.data.documentsData[0]);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    saveTopic() {
      uploadTopicFiles(this.formData)
        .then((response) => {
          this.loading = false;
          if (response.data.responseCode == 1) {
            this.createInsertTopicList(response.data.errorMessages[0]);
          } else {
            window.getApp.$emit(
              "APP_API_ERROR",
              response.data.errorMessages[0]
            );
          }
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    createInsertTopicList(topicId) {
      if (topicId != "") {
        var insertItem = {};
        insertItem.topicId = topicId;
        insertItem.productionActivityAppId = -1;
        insertItem.productionActivityRoutineAppLineId =
          this.productionActivityRoutineAppLineId;
        insertItem.prodOrderNo = this.prodOrderNo;
        insertItem.addedByUser = this.$store.state.userName;
        insertItem.addedByUserId = this.$store.state.userId;
        insertItem.modifiedByUserId = this.$store.state.userId;
        insertItem.statusCodeID = 1;
        insertItem.statusCodeId = 1;
        insertItem.addedDate = new Date();
        updateProductActivityAppRoutineTopic(insertItem)
          .then(() => {
            this.loading = false;
            this.closeMethod();
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Topic Created Successfully"
            );
            window.getApp.$emit("RECEIVED_TOPIC", topicId);
            this.openTopicUrl(topicId);
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.loading = false;
        window.getApp.$emit("APP_API_ERROR", "Topic Not Created");
      }
    },
    openTopicUrl(topicId) {
      // https://portal.sunwardpharma.com:2284/#/history?id=&sessionId=
      var link =
        GlobalMessage.TOPICCHAT_URL +
        "#/history?id=" +
        topicId +
        "&sessionId=" +
        this.$store.state.sessionId +
        "&&type=Production Routine";
      window.open(link, "_blank");
    },
    onUserChange() {
      this.searchuser = "";
      for (var id in this.ccId) {
        let user = this.toId.filter((a) => a == this.ccId[id]);
        if (user[0] != null) {
          const itemindex = this.ccId.indexOf(user[0]);
          if (itemindex >= 0) this.ccId.splice(itemindex, 1);
        }
      }
    },
    onUserCChange() {
      this.searchCCuser = "";
      for (var id in this.toId) {
        let user = this.ccId.filter((a) => a == this.toId[id]);
        if (user[0] != null) {
          const itemindex = this.toId.indexOf(user[0]);
          if (itemindex >= 0) this.toId.splice(itemindex, 1);
        }
      }
    },
    removeUser(item) {
      const index = this.toId.indexOf(item.sessionId);
      if (index >= 0) this.toId.splice(index, 1);
    },
    removeCCUser(item) {
      const index = this.ccId.indexOf(item.sessionId);
      if (index >= 0) this.ccId.splice(index, 1);
    },
  },
};
</script>