<template>
  <div>
    <!--   <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Template Band</span>
    </v-layout> -->
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-dialog
        persistent
        v-model="dialog"
        fullscreen
        :disabled="enableAddButton"
      >
        <v-btn
          slot="activator"
          icon
          :disabled="enableAddButton"
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn
                v-if="ownerOnlyAdd"
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                v-if="ownerOnlyAdd"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New CheckList</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="productbatchLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4 style="margin-top: 20px">
                    <v-text-field
                      label="Seq No"
                      v-model="editedItem.seqNo"
                      prepend-icon="person"
                      readonly
                    ></v-text-field>
                    <!--  @blur="onChangeSeqNo" -->
                  </v-flex>
                  <v-flex xs12 sm4 style="margin-top: 20px">
                    <v-text-field
                      label="No"
                      v-model="editedItem.no"
                      prepend-icon="person"
                      readonly
                      :prefix="noPrefix"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 style="margin-top: 20px">
                    <v-autocomplete
                      flat
                      :items="templateTestCaseLinkItems"
                      v-model="editedItem.templateTestCaseLinkId"
                      label="Template Band Location"
                      chips
                      prepend-icon="fa-file-text"
                      item-text="nameOfTemplate"
                      item-value="templateTestCaseLinkId"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12 style="margin-top: 20px">
                    <v-textarea
                      v-model="editedItem.description"
                      prepend-icon="select_all"
                      label="Description"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm12 style="margin-top: 20px">
                    <v-toolbar card dense color="whitesmoke">
                      <span> Instruction</span>
                      <v-spacer></v-spacer>

                      <v-btn
                        icon
                        flat
                        @click.native="objectiveExpandClick"
                        v-if="isobjectiveExpand"
                      >
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn
                        icon
                        flat
                        @click="objectiveCollapse"
                        v-if="isobjectiveCollapse"
                      >
                        <v-icon>expand_less</v-icon>
                      </v-btn>
                    </v-toolbar>
                    <v-expansion-panel v-model="objectiveExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce
                            :config="tinyConfig"
                            v-if="isRTERender"
                            ref="message"
                            id="message"
                            v-model="editedItem.instruction"
                          />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <application-wiki-line
                      ref="refProductLines"
                    ></application-wiki-line>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              v-if="ownerOnlyAdd"
              color="primary darken-1"
              :loading="loader"
              outline
              @click.native="save"
              >save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="seqNo:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      :loading="loaders"
    >
      <template slot="items" slot-scope="props">
        <td>
          <span v-if="!enableAddButton">
            <a @click="updateSeqOpen(props.item)"
              >{{ props.item.seqNo == null ? "Update" : props.item.seqNo }}
            </a>
          </span>
          <span v-else>{{ props.item.seqNo }}</span>
        </td>
        <td>
          <span
            v-if="
              props.item.templateTestCaseFormId > 0 &&
              props.item.isMasterTemplate != true
            "
          >
            <span v-if="!enableAddButton">
              <a @click="updateSeqOpen(props.item)"
                >{{ props.item.no == null ? "Update" : "S" + props.item.no }}
              </a>
            </span>
            <span v-else>S{{ props.item.no }}</span>
          </span>
          <span v-else>
            <span v-if="!enableAddButton">
              <a @click="updateSeqOpen(props.item)"
                >{{ props.item.no == null ? "Update" : "T" + props.item.no }}
              </a>
            </span>
            <span v-else>T{{ props.item.no }}</span>
          </span>
        </td>
        <td class="text-xs-left">
          <v-tooltip bottom>
            <template slot="activator">
              <span slot="activator">{{
                stripTags(props.item.description)
              }}</span>
            </template>
            <span>{{ props.item.description }}</span>
          </v-tooltip>
        </td>
        <td>
          <a @click="clicklinkInstruction(props.item)">Instruction </a>
        </td>
        <td class="text-xs-left">
          <div v-if="props.item.isSkipTest == true">
            <v-icon small color="green">done</v-icon>
          </div>
          <div v-else>
            <span v-if="props.item.isResponsibility == true">
              <v-icon small color="red">close</v-icon>
            </span>
            <span v-else>
              <span v-if="!enableAddButton">
                <v-checkbox
                  primary
                  hide-details
                  v-model="props.item.isSkipTest"
                  @change="checkedItem(props.item)"
                ></v-checkbox>
              </span>
              <span v-else>
                <span v-if="disableMenuByOnlyOwner(props.item)">
                  <v-checkbox
                    primary
                    hide-details
                    v-model="props.item.isSkipTest"
                    @change="checkedItem(props.item)"
                  ></v-checkbox>
                </span>
                <span v-else></span>
              </span>
            </span>
          </div>
        </td>
        <td class="text-xs-left">
          <div v-if="props.item.isSkipTest == true">
            <v-icon small color="green">close</v-icon>
          </div>
          <div v-else>
            <span v-if="props.item.isResponsibility == true"
              ><v-icon small color="green">done</v-icon></span
            >
            <span v-else>
              <span v-if="!enableAddButton">
                <v-checkbox
                  primary
                  hide-details
                  v-model="props.item.isResponsibility"
                  @change="checkedItem(props.item)"
                ></v-checkbox>
              </span>
              <span v-else>
                <span v-if="disableMenuByOnlyOwner(props.item)">
                  <v-checkbox
                    primary
                    hide-details
                    v-model="props.item.isResponsibility"
                    @change="checkedItem(props.item)"
                  ></v-checkbox>
                </span>
                <span v-else></span>
              </span>
            </span>
          </div>
        </td>
         <td class="text-xs-left">{{ props.item.nameOfTemplate }}</td>
        <td>{{ props.item.modifiedByUser }}</td>
        <td>{{ props.item.modifiedDate | formatDate }}</td>
        <td class="justify-center layout px-0">
          <span v-if="disableMenuByOnlyOwner(props.item)">
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>

              <v-list>
                <v-list-tile
                  v-for="(item, i) in reponspleOwnerUserItems"
                  :key="i"
                  @click="menuClick(item, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </span>
          <span v-else>
            <span v-if="proposalUserIds.length > 0">
              <span v-if="enableAddButton">
                <span v-if="props.item.responsibilityUsers.length > 0">
                  <v-menu bottom right v-if="disableMenuByResView(props.item)">
                    <v-btn slot="activator" icon>
                      <v-icon>more_vert</v-icon>
                    </v-btn>
                    <v-list>
                      <v-list-tile
                        v-for="(item, i) in reponsiblityUserItems"
                        :key="i"
                        @click="menuClick(item, props.item)"
                        ripple="ripple"
                        :target="item.target"
                        rel="noopener"
                      >
                        <v-list-tile-action>
                          <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </span>
                <span v-else>
                  <v-menu bottom right>
                    <v-btn slot="activator" icon>
                      <v-icon>more_vert</v-icon>
                    </v-btn>

                    <v-list>
                      <v-list-tile
                        v-for="(item, i) in noreponsiblityUserItems"
                        :key="i"
                        @click="menuClick(item, props.item)"
                        ripple="ripple"
                        :target="item.target"
                        rel="noopener"
                      >
                        <v-list-tile-action>
                          <v-icon>{{ item.icon }}</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                      </v-list-tile>
                    </v-list>
                  </v-menu>
                </span>
              </span>
              <span v-else>
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile
                      v-for="(item, i) in reponsplePicUserItems"
                      :key="i"
                      @click="menuClick(item, props.item)"
                      ripple="ripple"
                      :target="item.target"
                      rel="noopener"
                    >
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </span>
            </span>
          </span>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-dialog persistent v-model="attachdialog" persistent max-width="900px">
      <attachment
        title="Document"
        :screenID="screenId"
        :sessionID="sessionId"
        controller="Documents"
        action="GetDocumentsBySessionID"
        uploadAction="UploadDocument"
        deleteAction="DeleteDocument"
        downloadAction="DownLoadDocument"
        ref="refattach"
        :closeMethod="closeattach"
      ></attachment>
    </v-dialog>
    <v-dialog
      persistent
      v-model="instructiondialog"
      persistent
      max-width="900px"
    >
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="instructiondialog = false"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="instructiondialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>

        <div style="overflow: auto; height: calc(70vh - 80px)">
          <v-card-text>
            <v-toolbar flat color="white">
              <v-layout row wrap>
                <v-flex lg12 sm12>
                  <span class="headline">Instruction</span>
                </v-flex>
                <v-flex lg12 sm12 style="margin: 0 0 -1000px 0px">
                  <span v-html="instruction"></span
                ></v-flex>
              </v-layout>
            </v-toolbar>
          </v-card-text>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog persistent v-model="updateSeqDialog" persistent max-width="400px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="updateSeqDialog = false"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="updateSeqDialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>

        <!--   <div style="overflow: auto; height: calc(70vh - 80px)"> -->
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 sm12>
              <v-text-field
                label="Seq No"
                v-model="seqEditedItem.seqNo"
                prepend-icon="person"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field
                label="No"
                v-model="seqEditedItem.no"
                prepend-icon="person"
                :prefix="noPrefix"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <!--  </div> -->
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary darken-1"
            :loading="loader"
            outline
            @click.native="savePrintLinkNotes"
          >
            Save
          </v-btn>
          <v-btn
            color="primary darken-1"
            outline
            @click.native="updateSeqDialog = false"
            >close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import moment from "moment";
import { uploadTopicFiles, updateSeqNoByForum } from "@/api/topic";
import GlobalMessage from "@/constant";
import attachment from "@/components/Attachment/testCaseFormattachmentsCheckList";
import Util from "@/util";
import {
  getTemplateTestCaseCheckList,
  createTemplateTestCaseCheckList,
  updateTemplateTestCaseCheckList,
  deleteTemplateTestCaseCheckList,
  updateTemplateTestCaseCheckListTopic,
  getTemplateTestCaseProposalUsers,
  updateTemplateTestCaseCheckListSeqNo,
  getTemplateTestCaseLink,
} from "@/api/templateTestCase";
import ApplicationWikiLine from "@/pages/templateTestCase/reviseWorkWikiResponsibilityForm.vue";
export default {
  components: {
    attachment,
    ApplicationWikiLine,
  },
  data: () => ({
    templateTestCaseLinkItems: [],
    ownerOnlyAdd: false,
    updateSeqDialog: false,
    noPrefix: "S",
    isRTERender: false,
    tinyConfig: Util.tinyconfig(150),
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    objectiveExpand: [],
    issubjectExpand: false,
    issubjectCollapse: true,
    subjectExpand: [],
    instructiondialog: false,
    instruction: "",
    reponspleOwnerUserItems: [
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
      {
        icon: "visibility",
        href: "#",
        title: "View",
        click: (e) => {},
      },
      {
        icon: "person",
        href: "#",
        title: "Forum",
        click: (e) => {},
      },
      {
        icon: "attachment",
        href: "#",
        title: "Attachment",
        click: (e) => {},
      },
    ],
    noreponsiblityUserItems: [
      {
        icon: "visibility",
        href: "#",
        title: "View",
        click: (e) => {},
      },
      {
        icon: "person",
        href: "#",
        title: "Forum",
        click: (e) => {},
      },
      {
        icon: "attachment",
        href: "#",
        title: "Attachment",
        click: (e) => {},
      },
    ],
    reponsiblityUserItems: [
      {
        icon: "attachment",
        href: "#",
        title: "Attachment",
        click: (e) => {},
      },
      {
        icon: "person",
        href: "#",
        title: "Forum",
        click: (e) => {},
      },
    ],
    reponsplePicUserItems: [
      {
        icon: "visibility",
        href: "#",
        title: "View",
        click: (e) => {},
      },
      {
        icon: "attachment",
        href: "#",
        title: "Attachment",
        click: (e) => {},
      },
      {
        icon: "person",
        href: "#",
        title: "Forum",
        click: (e) => {},
      },
    ],
    formData: new FormData(),
    attachdialog: false,
    screenId: "TEMCHECKLIST",
    templateTestCaseId: null,
    dialog: false,
    subloader: false,
    loader: false,
    loaders: false,
    editedIndex: -1,
    search: "",
    gridItems: [],
    enableAddButton: true,
    proposalUserIds: [],
    searchFilter: "",
    templateTestCaseFormId: null,
    editedItem: {
      valid: false,
      templateTestCaseCheckListId: -1,
      templateTestCaseId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      description: "",
      instruction: "",
      isResponsibility: false,
      isSkipTest: false,
      templateTestCaseFormId: null,
      caseNo: "",
      no: null,
      seqNo: null,
      participantUsers: "",
      templateTestCaseLinkId: null,
    },
    locationToSaveId: null,
    mainTopicId: null,
    seqEditedItem: {
      templateTestCaseCheckListId: -1,
      no: null,
      seqNo: null,
      topicId: null,
    },
    sessionId: null,
    defaultItem: {
      valid: false,
      templateTestCaseCheckListId: -1,
      templateTestCaseId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      description: "",
      instruction: "",
      isResponsibility: false,
      isSkipTest: false,
      templateTestCaseFormId: null,
      caseNo: "",
      no: null,
      seqNo: null,
      participantUsers: "",
      templateTestCaseLinkId: null,
    },
    loading: false,
    selectedItem: null,
    templateName: "",
    subjectName: "",
    caseNo: "",
    uploadbtn: true,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    headers: [
      { text: "Seq No", value: "seqNo", align: "left", width: "10px" },
      { text: "No", value: "no", align: "left", width: "10px" },
      { text: "Description", value: "description", align: "left" },
      {
        text: "Instruction",
        value: "instruction",
        align: "left",
        width: "10px",
      },
      { text: "Skip", value: "isSkipTest", align: "left", width: "10px" },
      {
        text: "Complete",
        value: "isResponsibility",
        align: "left",
        width: "10px",
      },
      { text: "Template Band Location", value: "nameOfTemplate", align: "left" , width: "10px",},
      {
        text: "Modified By",
        value: "modifiedByUser",
        align: "left",
        width: "10px",
      },
      {
        text: "Modified Date",
        value: "modifiedDate",
        align: "left",
        width: "10px",
      },
      {
        text: "Actions",
        value: "actions",
        align: "left",
        sortable: false,
        width: "10px",
      },
    ],
    json_fields: {
      Description: "description",
      Instruction: "instruction",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Check List" : "Edit Check List";
    },
    nameRules() {
      return [(v) => !!v || "This field is required"];
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    disableMenuByOnlyOwner(item) {
      return false;
      /*  if(this.ownerOnlyAdd==true)
      {
          return this.ownerOnlyAdd;
      }
      else
      {
        if (
          parseInt(item.addedByUserId) ==
          parseInt(this.$store.state.auth.userId)
        ) {
          // alert("Yes, the value exists!")
          return true;
        } else {
          //alert("No, the value is absent.")
          return false;
       // }
      } 
      }*/
    },
    disableMenuByResView(item) {
      var listItems = [];
      if (
        item.responsibilityUsers != null &&
        item.responsibilityUsers.length > 0
      ) {
        listItems = listItems.concat(item.responsibilityUsers);
      }
      /*  if (this.proposalUserIds != null && this.proposalUserIds.length > 0) {
        listItems = listItems.concat(this.proposalUserIds);
      } */
      var returData = false;

      if (listItems.indexOf(parseInt(this.$store.state.auth.userId)) !== -1) {
        // alert("Yes, the value exists!")
        returData = true;
      } else {
        //alert("No, the value is absent.")
        returData = false;
      }
      return returData;
    },
    disableMenuByRes(item) {
      /*  if (
        parseInt(GlobalMessage.SuperUser) ==
        parseInt(this.$store.state.auth.userId)
      ) {
        return true;
      } else { */
      if (
        item.responsibilityUsers.indexOf(
          parseInt(this.$store.state.auth.userId)
        ) !== -1
      ) {
        // alert("Yes, the value exists!")
        return true;
      } else {
        //alert("No, the value is absent.")
        return false;
      }
      // }
    },
    onChangeSeqNo() {
      var length = this.gridItems.length;
      length = length > 0 ? length : 1;
      if (this.selectedItem != null) {
        var seqNo = parseInt(this.editedItem.seqNo);
        if (!isNaN(seqNo)) {
          if (length < seqNo) {
            this.editedItem.seqNo = this.selectedItem.seqNo;
            window.getApp.$emit(
              "APP_API_ERROR",
              "Seq No is Greater than current Grid Items. Seq No is not Greater Than " +
                length
            );
          }
        } else {
          this.editedItem.seqNo = this.selectedItem.seqNo;
        }
      } else {
        this.editedItem.seqNo = 1;
      }
    },
    updateSeqOpen(item) {
      if (item.templateTestCaseFormId > 0 && item.isMasterTemplate != true) {
        this.noPrefix = "S";
      } else {
        this.noPrefix = "T";
      }
      this.updateSeqDialog = true;
      this.seqEditedItem.templateTestCaseCheckListId =
        item.templateTestCaseCheckListId;
      this.seqEditedItem.seqNo = item.seqNo;
      this.seqEditedItem.no = item.no;
      this.seqEditedItem.topicId = item.topicId;
    },
    objectiveExpandClick() {
      this.isobjectiveExpand = false;
      this.isobjectiveCollapse = true;
      this.objectiveExpand.push(true);
    },
    objectiveCollapse() {
      this.isobjectiveExpand = true;
      this.isobjectiveCollapse = false;
      this.objectiveExpand = [];
    },
    createForum(item) {
      this.loading = true;
      /* var startDate = this.$options.filters.formatDateView(
        this.editedItem.addedDate
      ); */
      this.formData = new FormData();
      this.formData.append("topicName", this.editedItem.description);
      this.formData.append("subjectName", this.templateName);
      this.formData.append("ticketNo", this.caseNo);
      this.formData.append("typeId", this.templateName); //Manufacturing Process
      this.formData.append("categoryId", "Case"); //Category
      this.formData.append(
        "startDate",
        moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
      );
      this.formData.append(
        "endDate",
        moment(null).format("YYYY-MM-DD HH:mm:ss")
      );
      this.formData.append("description", this.editedItem.description);
      this.formData.append(
        "dueDate",
        moment(null).format("YYYY-MM-DD HH:mm:ss")
      );
      this.formData.append("from", this.$store.state.auth.sessionId);
      this.formData.append("seqNo", item.seqNo);
      this.formData.append("cc", "");
      this.formData.append("status", "New");
      this.formData.append("isNotification", true);
      var backUrl =
        "application/templateTestCaseForm?id=" +
        this.templateTestCaseFormId +
        "&childId=" +
        item.templateTestCaseCheckListId;
      this.formData.append("actionType", "CheckList");
      this.formData.append("actionUrl", item.templateTestCaseCheckListId);
      this.formData.append("backUrl", backUrl);
      var participantUsers = this.$store.state.auth.sessionId;
      if (item.participantUsers != null) {
        if (item.participantUsers != "") {
          participantUsers += "," + item.participantUsers;
        }
      }
      var participant = "";
      if (participantUsers != null) {
        var participants = participantUsers.split(",");
        let unique = [...new Set(participants)];
        participant = unique.toString();
      }
      this.formData.append("participant", participant);
      this.formData.append("to", participant);
      this.formData.append("addedByUserId", this.$store.state.auth.sessionId);
      this.formData.append("userGroupIDs", ["0"]);
      this.formData.append("type", "C");
      this.saveTopic();
    },
    saveTopic() {
      uploadTopicFiles(this.formData)
        .then((response) => {
          this.loading = false;
          if (response.data.responseCode == 1) {
            this.createInsertTopicList(response.data.errorMessages[0]);
          } else {
            window.getApp.$emit(
              "APP_API_ERROR",
              response.data.errorMessages[0]
            );
          }
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    createInsertTopicList(topicId) {
      if (topicId != "") {
        var insertItem = {};
        insertItem.topicId = topicId;
        insertItem.templateTestCaseCheckListId =
          this.editedItem.templateTestCaseCheckListId;
        insertItem.addedByUser = this.$store.state.userName;
        insertItem.addedByUserId = this.$store.state.auth.userId;
        insertItem.modifiedByUserId = this.$store.state.auth.userId;
        insertItem.statusCodeID = 1;
        insertItem.statusCodeId = 1;
        insertItem.addedDate = new Date();
        updateTemplateTestCaseCheckListTopic(insertItem)
          .then(() => {
            this.loading = false;
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Topic Created Successfully"
            );
            this.editedItem.topicId = topicId;
            this.openTopicUrl(topicId);
            this.initialize();
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.loading = false;
        window.getApp.$emit("APP_API_ERROR", "Topic Not Created");
      }
    },
    openTopicUrl(topicId) {
      var link =
        GlobalMessage.TOPICCHAT_URL +
        "#/history?id=" +
        topicId +
        "&sessionId=" +
        this.$store.state.auth.sessionId +
        "&&type=Case";
      console.log(link);
      window.open(link, "_blank");
    },
    stripTags(definition) {
      var div = document.createElement("span");
      div.innerHTML = definition;
      return div.innerText.substring(0, 50);
    },
    menuClick(key, item) {
      if (key.title == "Delete") {
        if (item.templateTestCaseFormId > 0 && item.isMasterTemplate != true) {
          this.editedItem = Object.assign({}, item);
          this.onDeleteItem(item);
        }
      } else if (key.title == "View") {
        this.editedItem = Object.assign({}, item);
        this.editItem(item);
      } else if (key.title == "Attachment") {
        this.sessionId = item.sessionId;
        this.locationToSaveId = item.locationToSaveId;
        this.fileAttachment(item);
      } else if (key.title == "Forum") {
        if (this.mainTopicId != null) {
          if (item.topicId != null) {
            this.openTopicUrl(item.topicId);
          } else {
            this.editedItem = Object.assign({}, item);
            this.createForum(item);
          }
        } else {
          window.getApp.$emit(
            "APP_API_ERROR",
            this.caseNo +
              " Fourm Not Found. Create Main Fourm.After Create Checklist Fourm"
          );
        }
      }
    },
    clicklinkInstruction(item) {
      this.instructiondialog = true;
      this.instruction = item.instruction;
    },
    checkedItem(item) {
      this.editedIndex = 1;
      this.editedItem.templateTestCaseCheckListId =
        item.templateTestCaseCheckListId;
      this.editedItem.instruction = item.instruction;
      this.editedItem.description = item.description;
      this.editedItem.no = item.no;
      this.editedItem.seqNo = item.seqNo;
      this.editedItem.statusCodeID = 1;
      this.editedItem.templateTestCaseFormId = this.templateTestCaseFormId;
      this.editedItem.isResponsibility = item.isResponsibility;
      this.editedItem.isSkipTest = item.isSkipTest;
      this.save();
    },
    initialize() {
      this.loaders = true;
      this.gridItems = [];
      getTemplateTestCaseCheckList(
        this.templateTestCaseId,
        "templateTestCaseForm",
        this.templateTestCaseFormId
      )
        .then((response) => {
          this.gridItems = response.data;
          this.loaders = false;
          var caseFormId = parseInt(this.$route.query.childId);
          if (!isNaN(caseFormId) && caseFormId > 0) {
            this.$route.query.childId = null;
            var items = this.gridItems.filter(
              (f) => f.templateTestCaseCheckListId == caseFormId
            );
            if (items.length > 0) {
              this.editedItem = Object.assign({}, items[0]);
              this.search = items[0].description;
              this.editItem(items[0]);
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.loaders = false;
        });
      getTemplateTestCaseProposalUsers(this.templateTestCaseFormId)
        .then((response) => {
          this.proposalUserIds = response.data.userIds;
          this.checkPortalUsers();
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadDropdownList() {
      getTemplateTestCaseLink(
        this.templateTestCaseId,
        "TemplateCaseForm",
        this.templateTestCaseFormId
      )
        .then((response) => {
          this.templateTestCaseLinkItems = response.data.filter(
            (o) => o.locationToSaveId > 0
          );
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.loadDropdownList();
      this.ownerOnlyAdd = false;
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.selectedItem = Object.assign({}, item);
      if (item.templateTestCaseFormId > 0 && item.isMasterTemplate != true) {
        this.noPrefix = "S";
      } else {
        this.noPrefix = "T";
      }
      setTimeout(() => {
        this.dialog = true;
        this.isRTERender = true;
        this.uploadbtn = item.sessionId != null ? false : true;
        this.sessionId = item.sessionId;
        this.getWikiLinesTab(false);
      }, 500);
      this.objectiveExpandClick();
      /* if(this.enableAddButton==true && item.templateTestCaseCheckListId>0)
      {
        this.ownerOnlyAdd=false;
      } */
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.fileProfileTypeId =
        this.locationToSaveId > 0 ? this.locationToSaveId : 0;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.loadDropdownList();
      this.ownerOnlyAdd = false;
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.uploadbtn = true;
      this.sessionId = null;
      this.noPrefix = "S";
      this.getWikiLinesTab(true);
      setTimeout(() => {
        this.isRTERender = true;
      }, 500);
      this.objectiveExpandClick();
      if (this.enableAddButton == false) {
        this.ownerOnlyAdd = true;
      }
    },
    checkPortalUsers() {
      if (
        this.proposalUserIds.indexOf(
          parseInt(this.$store.state.auth.userId)
        ) !== -1
      ) {
        // alert("Yes, the value exists!")
        this.enableAddButton = false;
      } else {
        //alert("No, the value is absent.")
        this.enableAddButton = true;
      }
    },
    getWikiLinesTab(status) {
      setTimeout(() => {
        this.$refs.refProductLines.templateTestCaseCheckListResponseId =
          this.editedItem.templateTestCaseCheckListId;
        this.$refs.refProductLines.checklistItems = this.gridItems.filter(
          (o) =>
            o.templateTestCaseCheckListId !=
            this.editedItem.templateTestCaseCheckListId
        );

        var isOwner = this.disableMenuByOnlyOwner(this.editedItem);
        if (isOwner == true) {
          this.$refs.refProductLines.enableAddButton = false;
        } else {
          this.checkPortalUsers();
          this.$refs.refProductLines.enableAddButton = this.enableAddButton;
          if (this.enableAddButton == false) {
            this.$refs.refProductLines.enableAddButton = this.enableAddButton;
          } else {
            if (
              this.editedItem.responsibilityUsers != null &&
              this.editedItem.responsibilityUsers.length > 0
            ) {
            } else {
              this.$refs.refProductLines.enableAddButton = false;
            }
          }
        }
        this.$refs.refProductLines.releaseFlag = status == true ? false : true;

        this.$refs.refProductLines.initialize();
      }, 500);
    },
    save() {
      this.editedItem.templateTestCaseFormId = this.templateTestCaseFormId;
      if (this.$refs.productbatchLineform.validate()) {
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        this.editedItem.statusCodeID = 1;
        this.subloader = true;
        this.editedItem.templateTestCaseId = this.templateTestCaseId;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          updateTemplateTestCaseCheckList(this.editedItem)
            .then((response) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.uploadbtn = response.data.sessionId != null ? false : true;
              this.sessionId = response.data.sessionId;
              this.editedItem.no = response.data.no;
              this.editedItem.seqNo = response.data.seqNo;
              this.getWikiLinesTab(false);
              this.initialize();
              this.ownerOnlyAdd = false;
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createTemplateTestCaseCheckList(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.editedIndex = this.gridItems.indexOf(response.data);
              this.subloader = false;
              this.editedItem.templateTestCaseCheckListId =
                response.data.templateTestCaseCheckListId;
              this.uploadbtn = response.data.sessionId != null ? false : true;
              this.sessionId = response.data.sessionId;
              this.editedItem.no = response.data.no;
              this.editedItem.seqNo = response.data.seqNo;
              this.getWikiLinesTab(false);
              this.initialize();
              this.ownerOnlyAdd = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.templateTestCaseCheckListId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteTemplateTestCaseCheckList(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            this.initialize();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    cancelLinkNotes() {
      this.initialize();
    },
    openLinkNotes() {},
    closeLinkNotes() {
      this.initialize();
    },
    savePrintLinkNotes() {
      updateTemplateTestCaseCheckListSeqNo(this.seqEditedItem)
        .then(() => {
          this.initialize();
          this.updateSeqDialog = false;
          if (this.seqEditedItem.topicId != null) {
            this.updateSeqNoByForumSeqNo(
              this.seqEditedItem.topicId,
              this.seqEditedItem.seqNo
            );
          }
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    updateSeqNoByForumSeqNo(topicId, seqNo) {
      updateSeqNoByForum(topicId, seqNo)
        .then(() => {})
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>