<template>
  <div>
    <!--   <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Template Band</span>
    </v-layout> -->
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
        :disabled="enableAddButton"
      ></v-text-field>
      <v-dialog
        persistent
        v-model="dialog"
        :disabled="enableAddButton"
        fullscreen
      >
        <v-btn
          slot="activator"
          icon
          :disabled="enableAddButton"
          v-if="inheritFlag"
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
                v-if="inheritFlag"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
                v-if="inheritFlag"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                v-if="inheritFlag"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New CheckList</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="deleterow"
                v-if="inheritFlag"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                :disabled="uploadbtn"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
                v-if="inheritFlag"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline" v-if="inheritFlag">{{ formTitle }}</span>
            <span class="headline" v-else>Check List View Only</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="productbatchLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4 style="margin-top: 20px">
                    <v-text-field
                      label="Seq No"
                      v-model="editedItem.seqNo"
                      prepend-icon="person"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 style="margin-top: 20px">
                    <v-text-field
                      label="No"
                      v-model="editedItem.no"
                      prepend-icon="person"
                      :prefix="noPrefix"
                      readonly
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4 style="margin-top: 20px">
                    <v-autocomplete
                      flat
                      :items="templateTestCaseLinkItems"
                      v-model="editedItem.templateTestCaseLinkId"
                      label="Template Band Location"
                      chips
                      prepend-icon="fa-file-text"
                      item-text="nameOfTemplate"
                      item-value="templateTestCaseLinkId"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12 style="margin-top: 20px">
                    <v-textarea
                      v-model="editedItem.description"
                      prepend-icon="select_all"
                      label="Description"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs12 sm12 style="margin-top: 20px">
                    <v-toolbar card dense color="whitesmoke">
                      <span> Instruction</span>
                      <v-spacer></v-spacer>

                      <v-btn
                        icon
                        flat
                        @click.native="objectiveExpandClick"
                        v-if="isobjectiveExpand"
                      >
                        <v-icon>expand_more</v-icon>
                      </v-btn>

                      <v-btn
                        icon
                        flat
                        @click="objectiveCollapse"
                        v-if="isobjectiveCollapse"
                      >
                        <v-icon>expand_less</v-icon>
                      </v-btn>
                    </v-toolbar>
                    <v-expansion-panel v-model="objectiveExpand" expand>
                      <v-expansion-panel-content>
                        <v-flex xs12 sm12>
                          <vue-mce
                            :config="tinyConfig"
                            v-if="isRTERender"
                            ref="message"
                            id="message"
                            v-model="editedItem.instruction"
                          />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <!-- <v-textarea
                      v-model="editedItem.instruction"
                      prepend-icon="select_all"
                      label="Instruction"
                    ></v-textarea> -->
                  </v-flex>
                  <!--   <v-flex xs12 sm12 style="margin-top: 20px">
                    <v-textarea
                      v-model="editedItem.instruction"
                      prepend-icon="select_all"
                      label="Instruction"
                    ></v-textarea>
                  </v-flex> -->
                  <v-flex xs12 sm12>
                    <application-wiki-line
                      ref="refProductLines"
                    ></application-wiki-line>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="loader"
              outline
              @click.native="save"
              v-if="inheritFlag"
              >save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="initialize()"
          :disabled="enableAddButton"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="templateTestCaseCheckListId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
      :loading="loaders"
    >
      <template slot="items" slot-scope="props">
        <td>
          <span v-if="inheritFlag">
            <a @click="updateSeqOpen(props.item)"
              >{{ props.item.seqNo == null ? "Update" : props.item.seqNo }}
            </a>
          </span>
          <span v-else>
            {{ props.item.seqNo == null ? "Update" : props.item.seqNo }}
          </span>
        </td>
        <td>
          <span v-if="inheritFlag">
            <a @click="updateSeqOpen(props.item)"
              >{{ props.item.no == null ? "Update" : "T" + props.item.no }}
            </a>
          </span>
          <span v-else>
            {{ props.item.no == null ? "Update" : "T" + props.item.no }}
          </span>
        </td>

        <td class="text-xs-left">
          <v-tooltip bottom>
            <template slot="activator">
              <span slot="activator">{{
                stripTags(props.item.description)
              }}</span>
            </template>
            <span>{{ props.item.description }}</span>
          </v-tooltip>
        </td>
        <td>
          <a @click="clicklinkInstruction(props.item)">Instruction </a>
        </td>
        <td class="text-xs-left">{{ props.item.nameOfTemplate }}</td>
        <td>{{ props.item.modifiedByUser }}</td>
        <td>{{ props.item.modifiedDate | formatDate }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
            v-if="inheritFlag"
            >edit</v-icon
          >
          <v-icon small class="mr-2" v-else @click="editItem(props.item)"
            >visibility</v-icon
          >
          <v-icon small @click="onDeleteItem(props.item)" v-if="inheritFlag"
            >delete</v-icon
          >
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-dialog persistent v-model="attachdialog" persistent max-width="900px">
      <attachment
        title="Document"
        :screenID="screenId"
        :sessionID="sessionId"
        controller="Documents"
        action="GetDocumentsBySessionID"
        uploadAction="UploadDocument"
        deleteAction="DeleteDocument"
        downloadAction="DownLoadDocument"
        ref="refattach"
        :closeMethod="closeattach"
      ></attachment>
    </v-dialog>
    <v-dialog
      persistent
      v-model="instructiondialog"
      persistent
      max-width="900px"
    >
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="instructiondialog = false"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="instructiondialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>

        <div style="overflow: auto; height: calc(70vh - 80px)">
          <v-card-text>
            <v-toolbar flat color="white">
              <v-layout row wrap>
                <v-flex lg12 sm12>
                  <span class="headline">Instruction</span>
                </v-flex>
                <v-flex lg12 sm12 style="margin: 0 0 -1000px 0px"
                  ><div v-html="instruction"></div
                ></v-flex>
              </v-layout>
            </v-toolbar>
          </v-card-text>
        </div>
      </v-card>
    </v-dialog>
    <v-dialog persistent v-model="updateSeqDialog" persistent max-width="400px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="updateSeqDialog = false"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="updateSeqDialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>

        <!--  <div style="overflow: auto; height: calc(70vh - 80px)"> -->
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 sm12>
              <v-text-field
                label="Seq No"
                v-model="seqEditedItem.seqNo"
                prepend-icon="person"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm12>
              <v-text-field
                label="No"
                v-model="seqEditedItem.no"
                prepend-icon="person"
                :prefix="noPrefix"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <!--  </div> -->
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary darken-1"
            :loading="loader"
            outline
            @click.native="savePrintLinkNotes"
          >
            Save
          </v-btn>
          <v-btn
            color="primary darken-1"
            outline
            @click.native="updateSeqDialog = false"
            >close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Util from "@/util";
import GlobalMessage from "@/constant";
import attachment from "@/components/Attachment/attachments";
import {
  getTemplateTestCaseCheckList,
  createTemplateTestCaseCheckList,
  updateTemplateTestCaseCheckList,
  deleteTemplateTestCaseCheckList,
  updateTemplateTestCaseCheckListSeqNo,
  getTemplateTestCaseLink,
} from "@/api/templateTestCase";
import ApplicationWikiLine from "@/pages/templateTestCase/reviseWorkWikiResponsibility.vue";
export default {
  components: {
    attachment,
    ApplicationWikiLine,
  },
  data: () => ({
    inheritFlag: true,
    noPrefix: "T",
    updateSeqDialog: false,
    tinyConfig: Util.tinyconfig(150),
    isRTERender: false,
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    objectiveExpand: [],
    attachdialog: false,
    screenId: "TEMCHECKLIST",
    templateTestCaseId: null,
    dialog: false,
    subloader: false,
    loader: false,
    editedIndex: -1,
    search: "",
    gridItems: [],
    enableAddButton: true,
    searchFilter: "",
    seqEditedItem: {
      templateTestCaseCheckListId: -1,
      no: null,
      seqNo: null,
    },
    editedItem: {
      valid: false,
      templateTestCaseCheckListId: -1,
      templateTestCaseId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      description: "",
      instruction: "",
      isResponsibility: false,
      no: null,
      seqNo: null,
      templateTestCaseLinkId: null,
    },
    sessionId: null,
    defaultItem: {
      valid: false,
      templateTestCaseCheckListId: -1,
      templateTestCaseId: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      description: "",
      instruction: "<div> &nbsp; </div>",
      isResponsibility: false,
      no: null,
      seqNo: null,
      templateTestCaseLinkId: null,
    },
    loaders: false,
    uploadbtn: true,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    headers: [
      { text: "Seq No", value: "seqNo", align: "left", width: "10px" },
      { text: "No", value: "no", align: "left", width: "10px" },
      { text: "Description", value: "description", align: "left" },
      {
        text: "Instruction",
        value: "instruction",
        align: "left",
        width: "10px",
      },
      { text: "Template Band Location", value: "nameOfTemplate", align: "left"  ,width: "10px",},
      {
        text: "Modified By",
        value: "modifiedByUser",
        align: "left",
        width: "10px",
      },
      {
        text: "Modified Date",
        value: "modifiedDate",
        align: "left",
        width: "10px",
      },
      {
        text: "Actions",
        value: "actions",
        align: "left",
        sortable: false,
        width: "10px",
      },
    ],
    json_fields: {
      Description: "description",
      Instruction: "instruction",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    instructiondialog: false,
    instruction: "",
    templateTestCaseLinkItems: [],
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Check List" : "Edit Check List";
    },
    nameRules() {
      return [(v) => !!v || "This field is required"];
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    loadDropdownList() {
      getTemplateTestCaseLink(this.templateTestCaseId, "", 0)
        .then((response) => {
          this.templateTestCaseLinkItems = response.data.filter(
            (o => o.locationToSaveId > 0)
          );
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    disableMenuByRes(item) {
      if (
        parseInt(GlobalMessage.SuperUser) ==
        parseInt(this.$store.state.auth.userId)
      ) {
        return true;
      } else {
        if (
          parseInt(item.addedByUserId) ==
          parseInt(this.$store.state.auth.userId)
        ) {
          // alert("Yes, the value exists!")
          return true;
        } else {
          //alert("No, the value is absent.")
          return false;
        }
      }
    },
    objectiveExpandClick() {
      this.isobjectiveExpand = false;
      this.isobjectiveCollapse = true;
      this.objectiveExpand.push(true);
    },
    objectiveCollapse() {
      this.isobjectiveExpand = true;
      this.isobjectiveCollapse = false;
      this.objectiveExpand = [];
    },
    stripTags(definition) {
      var div = document.createElement("span");
      div.innerHTML = definition;
      return div.innerText.substring(0, 50);
    },
    initialize() {
      this.loaders = true;
      this.gridItems = [];
      getTemplateTestCaseCheckList(this.templateTestCaseId, "", 0)
        .then((response) => {
          this.gridItems = response.data;
          this.loaders = false;
        })
        .catch((error) => {
          this.loaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    clicklinkInstruction(item) {
      this.instructiondialog = true;
      this.instruction = item.instruction;
    },
    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      setTimeout(() => {
        this.dialog = true;
        this.isRTERender = true;
        this.uploadbtn = item.sessionId != null ? false : true;
        this.sessionId = item.sessionId;
        this.getWikiLinesTab(false);
      }, 500);
      this.objectiveExpandClick();
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.uploadbtn = true;
      this.sessionId = null;
      this.getWikiLinesTab(true);
      setTimeout(() => {
        this.isRTERender = true;
        this.editedItem.instruction = "<div> &nbsp; </div>";
      }, 500);
      this.objectiveExpandClick();
    },
    getWikiLinesTab(status) {
      setTimeout(() => {
        this.$refs.refProductLines.templateTestCaseCheckListResponseId =
          this.editedItem.templateTestCaseCheckListId;
        this.$refs.refProductLines.checklistItems = this.gridItems.filter(
          (o) =>
            o.templateTestCaseCheckListId !=
            this.editedItem.templateTestCaseCheckListId
        );
        this.$refs.refProductLines.inheritFlag = this.inheritFlag;
        this.$refs.refProductLines.enableAddButton = status;
        this.$refs.refProductLines.releaseFlag = status == true ? false : true;
        this.$refs.refProductLines.initialize();
      }, 500);
    },
    save() {
      if (this.$refs.productbatchLineform.validate()) {
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        this.editedItem.statusCodeID = 1;
        this.subloader = true;
        this.editedItem.templateTestCaseId = this.templateTestCaseId;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          updateTemplateTestCaseCheckList(this.editedItem)
            .then((response) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.uploadbtn = response.data.sessionId != null ? false : true;
              this.sessionId = response.data.sessionId;
              this.editedItem.no = response.data.no;
              this.editedItem.seqNo = response.data.seqNo;
              this.getWikiLinesTab(false);
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createTemplateTestCaseCheckList(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.editedIndex = this.gridItems.indexOf(response.data);
              this.subloader = false;
              this.editedItem.templateTestCaseCheckListId =
                response.data.templateTestCaseCheckListId;
              this.uploadbtn = response.data.sessionId != null ? false : true;
              this.sessionId = response.data.sessionId;
              this.editedItem.no = response.data.no;
              this.editedItem.seqNo = response.data.seqNo;
              this.getWikiLinesTab(false);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.templateTestCaseCheckListId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteTemplateTestCaseCheckList(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            this.initialize();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    cancelLinkNotes() {
      this.initialize();
    },
    openLinkNotes() {},
    closeLinkNotes() {
      this.initialize();
    },
    updateSeqOpen(item) {
      this.updateSeqDialog = true;
      this.seqEditedItem.templateTestCaseCheckListId =
        item.templateTestCaseCheckListId;
      this.seqEditedItem.seqNo = item.seqNo;
      this.seqEditedItem.no = item.no;
    },
    savePrintLinkNotes() {
      updateTemplateTestCaseCheckListSeqNo(this.seqEditedItem)
        .then(() => {
          this.initialize();
          this.updateSeqDialog = false;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>