<template>
  <div>
    <v-layout wrap style="background: gainsboro !important; padding: 10px">
      <span class="headline">Responsibility</span>
    </v-layout>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
        :disabled="enableAddButton"
      ></v-text-field>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Application Wiki Line.xls"
      >
        <v-btn icon :disabled="enableAddButton">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn
          slot="activator"
          icon
          :disabled="enableAddButton"
          @click.native="add"
          v-show="releaseFlag"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="saveAndClose"
                v-show="releaseFlag"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="save"
                v-show="releaseFlag"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                v-show="releaseFlag"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Responsibility</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="deleterow"
                v-show="releaseFlag"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(80vh - 60px)">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="wikiLinedutyform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="subdutyloader"
                      label="Company"
                      prepend-icon="notes"
                      v-model="editedItem.companyId"
                      :items="companyItems"
                      item-text="description"
                      item-value="plantID"
                      chips
                      @change="getWikiResponsiblesByExitsList"
                      :rules="[(v) => !!v || 'Company  is required']"
                    ></v-autocomplete>
                  </v-flex>
                  <!--  <v-flex xs12 sm4>
                    <v-autocomplete :loading="subdutyloader" label="Duty No" prepend-icon="notes" v-model="editedItem.dutyNo" :items="dutyNoItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                  </v-flex> -->
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="text"
                      item-value="value"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                  <!--  <v-flex xs12 sm4>
                    <v-textarea
                      v-model="editedItem.description"
                      label="Description"
                      prepend-icon="select_all"
                     
                    ></v-textarea>
                  </v-flex> -->
                  <v-flex xs12 sm4>
                    <v-radio-group
                      v-model="selected"
                      row
                      :mandatory="false"
                      @change="onUserRadioGroupChanged"
                    >
                      <v-radio label="User Group" value="user-group"></v-radio>
                      <v-radio label="User" value="user"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="selected == 'user-group'">
                    <v-autocomplete
                      label="User Group"
                      :loading="loader"
                      :search-input.sync="searchgroup"
                      multiple
                      prepend-icon="location_city"
                      v-model="editedItem.userGroupIDs"
                      :items="userGroupItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userGroupID"
                      @change="onUserGroupChange"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeUserGroup(data.item)"
                          >{{ data.item.name }}</v-chip
                        >
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content
                            v-text="data.item"
                          ></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title
                              v-html="data.item.name"
                            ></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="selected == 'user'">
                    <v-autocomplete
                      label="Employee"
                      prepend-icon="notes"
                      :loading="loader"
                      :search-input.sync="searchuser"
                      v-model="editedItem.employeeIDs"
                      :items="employeeItems"
                      item-text="dropDownName"
                      item-value="employeeID"
                      multiple
                      chips
                      @change="onUserChange"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeEmpIds(data.item)"
                          >{{ data.item.firstName }}</v-chip
                        >
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm1>
                    <v-btn @click="save" color="primary" v-show="releaseFlag">
                      ADD
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 sm2>
                    <v-btn
                      @click="selectedDelete"
                      color="primary"
                      v-show="releaseFlag"
                      >Delete Selected</v-btn
                    >
                  </v-flex>
                  <v-flex xs12 sm2>
                    <v-btn
                      @click="onInheritResponsibility"
                      color="primary"
                      v-show="releaseFlag"
                    >
                      Inherit Responsibility
                    </v-btn>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-data-table
                      :headers="empheaders"
                      :items="employeeSelectedItems"
                      :loading="loader"
                      :search="search"
                      class="elevation-1"
                      default-sort="wikiResponsibiltyId:desc"
                      :rows-per-page-items="emprowsPerPageItems"
                      :pagination.sync="emppagination"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="text-xs-left">
                          <v-checkbox
                            primary
                            hide-details
                            v-model="props.item.isSelected"
                          ></v-checkbox>
                        </td>
                        <td>{{ props.item.userGroupName }}</td>
                        <td class="text-xs-left">
                          {{ props.item.employeeName }}
                        </td>
                        <td class="text-xs-left">
                          {{ props.item.departmentName }}
                        </td>
                        <td class="text-xs-left">
                          {{ props.item.designationName }}
                        </td>
                        <td class="text-xs-left">{{ props.item.headCount }}</td>

                        <td class="justify-center layout px-0">
                          <v-icon
                            small
                            @click="deleteEmpItem(props.item)"
                            v-show="releaseFlag"
                            >delete</v-icon
                          >
                        </td>
                      </template>
                      <template slot="no-data">
                        <v-btn color="primary" outline @click="initialize"
                          >Record not exist.Refresh again in while time.</v-btn
                        >
                      </template>
                    </v-data-table>
                  </v-flex>
                  <!-- <v-flex
                    xs6
                    sm6
                  >
                    <v-text-field
                      v-model="editedItem.departmentName"
                      label="Department Name"
                      prepend-icon="description"
                      readonly
                    >

                    </v-text-field>
                  </v-flex>
                   <v-flex
                    xs6
                    sm6
                  >
                    <v-text-field
                      v-model="editedItem.designationName"
                      label="Designation Name"
                      prepend-icon="description"
                      readonly
                    >

                    </v-text-field>
                  </v-flex>
                   <v-flex
                    xs6
                    sm6
                  >
                   <v-text-field
                      v-model="editedItem.designationNumber"
                      label="Designation Number"
                      prepend-icon="description"
                      readonly
                    >

                    </v-text-field>
                  </v-flex>-->
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              v-show="releaseFlag"
              >save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
          <delete-confirmation-dialog
            ref="deleteEmployeeConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteSelectEmpItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="initialize()"
          :disabled="enableAddButton"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subdutyloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="templateTestCaseCheckListResponseDutyId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <!--  <td>{{ props.item.type }}</td> -->
          <td class="text-xs-left">{{ props.item.plantCompanyName }}</td>
          <td class="text-xs-left">
            <v-tooltip bottom color="grey">
              <template v-slot:activator="{ on, attrs }">
                <span v-bind="attrs" v-on="on"><a>More</a></span>
              </template>
              <span><div v-html="piaUserList(props.item)"></div></span>
            </v-tooltip>
          </td>
          <!--  <td class="text-xs-left">{{ props.item.employeeName }}</td>
          <td class="text-xs-left">{{ props.item.departmentName }}</td>
          <td class="text-xs-left">{{ props.item.designationName }}</td>
          <td class="text-xs-left">{{ props.item.designationNumber }}</td> -->
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">
            {{
              props.item.modifiedByUser == null
                ? props.item.addedByUser
                : props.item.modifiedByUser
            }}
          </td>
          <td class="text-xs-left">
            {{
              props.item.modifiedDate == null
                ? props.item.addedDate
                : props.item.modifiedDate | formatDate
            }}
          </td>
          <td class="justify-center layout px-0">
            <v-icon
              v-if="releaseFlag"
              small
              class="mr-2"
              @click="editItem(props.item)"
            >
              edit
            </v-icon>
            <v-icon v-else small class="mr-2" @click="editItem(props.item)">
              visibility
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)" v-show="releaseFlag"
              >delete</v-icon
            >
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-dialog v-model="inheritresponsibilityDialog" max-width="900px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="inheritresponsibilityDialog = false"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="addInheritsave" :loading="inheritloader">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="inheritresponsibilityDialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <!--   <span class="headline">{{ formTitle }}</span> -->
        </v-card-title>
        <div style="overflow: auto; height: calc(70vh - 80px)">
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12 sm12>
                <v-data-table
                  v-model="checkListselected"
                  :headers="checkListheaders"
                  :items="checklistItems"
                  :loading="loader"
                  class="elevation-1"
                  select-all
                  item-key="templateTestCaseCheckListId"
                  default-sort="templateTestCaseCheckListId:asc"
                >
                  <template v-slot:headers="props">
                    <tr>
                      <th>
                        <v-checkbox
                          :input-value="props.all"
                          :indeterminate="props.indeterminate"
                          primary
                          hide-details
                          @click.stop="toggleAll"
                        ></v-checkbox>
                      </th>
                      <th
                        v-for="header in props.headers"
                        :key="header.text"
                        :class="[
                          'column sortable',
                          pagination.descending ? 'desc' : 'asc',
                          header.value === pagination.sortBy ? 'active' : '',
                        ]"
                        @click="changeSort(header.value)"
                      >
                        <v-icon small>arrow_upward</v-icon>
                        {{ header.text }}
                      </th>
                    </tr>
                  </template>
                  <template slot="items" slot-scope="props">
                    <tr
                      :active="props.selected"
                      @click="props.selected = !props.selected"
                    >
                      <td>
                        <v-checkbox
                          :input-value="props.selected"
                          primary
                          hide-details
                        ></v-checkbox>
                      </td>
                      <td class="text-xs-right">{{ props.item.seqNo }}</td>
                      <td class="text-xs-right">
                        {{ props.item.nos }}
                      </td>
                      <td class="text-xs-left">
                        {{ props.item.description }}
                      </td>
                      <td class="text-xs-right">
                        <div v-if="props.item.isSkipTest == true">
                          <v-icon small color="green">close</v-icon>
                        </div>
                      </td>
                      <td class="text-xs-right">
                        <div v-if="props.item.isResponsibility == true">
                          <v-icon small color="green">done</v-icon>
                        </div>
                      </td>
                    </tr>
                  </template>
                  <template slot="no-data">
                    <v-btn color="primary" outline @click="initialize"
                      >Record not exist.Refresh again in while time.</v-btn
                    >
                  </template>
                </v-data-table>
              </v-flex>
            </v-layout>
          </v-card-text>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" outline @click.native="addInheritsave" :loading="inheritloader"
            >Add Responsibility Users</v-btn
          >
          <v-btn
            color="primary darken-1"
            outline
            @click.native="inheritresponsibilityDialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import { getApplicationUsers, getUserGroups } from "@/api/userGroup";
import {
  getApplicationWikiLineDuty,
  createApplicationWikiLineDuty,
  updateApplicationWikiLineDuty,
  deleteApplicationWikiLineDuty,
  deleteWikiResponsible,
  getWikiResponsibleByID,
  deleteWikiResponsibles,
  getWikiResponsiblesByExits,
  getTemplateTestChecListInherit 
} from "@/api/templateTestCase";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import { getPlants, getEmployeesByCompany } from "@/api/employee";
import Util from "@/util";
export default {
  components: {},
  data: () => ({
    checkListheaders: [
      { text: "Seq No", value: "seqNo", align: "left", width: "10px" },
      { text: "No", value: "no", align: "left", width: "10px" },
      { text: "Description", value: "description", align: "left" },
      { text: "Skip", value: "isSkipTest", align: "left", width: "10px" },
      {
        text: "Complete",
        value: "isResponsibility",
        align: "left",
        width: "10px",
      },
    ],
    inheritloader:false,
    checkListselected: [],
    inheritresponsibilityDialog: false,
    checklistItems: [],
    dialog: false,
    subdutyloader: false,
    releaseFlag: false,
    editedIndex: -1,
    searchgroup: "",
    search: "",
    gridItems: [],
    templateTestCaseCheckListResponseId: -1,
    enableAddButton: true,
    employeeItems: [],
    searchuser: "",
    loader: false,
    screenID: "APP1011",
    dutyNoItems: [],
    selected: "user",
    userGroupItems: [],
    userItems: [],
    employeeSelectedItems: [],
    companyItems: [],
    selectedItems: [],
    departmentItems: [],
    designationItems: [],
    isRTERender: false,
    tinyConfig: Util.tinyconfig(150),
    objectiveExpand: [],
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    exitsUserIds: [],
    exitsUserGroupIds: [],
    wikiResponsibleItem: {
      employeeIDs: [],
      userGroupIDs: [],
      userIDs: [],
      applicationWikiLineDutyID: null,
      wikiResponsibilityID: null,
      wikiResponsibilityIDs: [],
    },
    editedItem: {
      valid: false,
      templateTestCaseCheckListResponseDutyId: -1,
      dutyNo: null,
      companyId: null,
      employeeId: null,
      designationId: null,
      departmentId: null,
      designationNumber: "",
      statusCodeID: 1,
      addedByUserID: "",
      addedDate: "",
      departmentName: "",
      designationNumber: "",
      designationName: "",
      employeeIDs: [],
      userGroupIDs: [],
      userIDs: [],
      type: "Responsibility",
      description: "",
    },
    defaultItem: {
      valid: false,
      templateTestCaseCheckListResponseDutyId: -1,
      dutyNo: null,
      companyId: null,
      employeeId: null,
      designationId: null,
      departmentId: null,
      designationNumber: "",
      statusCodeID: 1,
      addedByUserID: "",
      addedDate: "",
      departmentName: "",
      designationNumber: "",
      designationName: "",
      employeeIDs: [],
      userGroupIDs: [],
      userIDs: [],
      type: "Responsibility",
      description: "",
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    emprowsPerPageItems: [10, 20, 30, 40, 50, 100],
    emppagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    empheaders: [
      { text: "Company", value: "plantCompanyName", align: "left" },
      { text: "User Group", value: "userGroupName", align: "left" },
      { text: "Employee", value: "employeeName", align: "left" },
      { text: "Department", value: "departmentName", align: "left" },
      { text: "Designation", value: "designationName", align: "left" },
      { text: "Designation Number", value: "headCount", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    headers: [
      // { text: "Type", value: "type", align: "left" },
      { text: "Company", value: "plantCompanyName", align: "left" },
      { text: "PIA", value: "piaUser", align: "left" },
      /*  { text: "Employee", value: "employeeName", align: "left" },
        { text: "Department", value: "departmentName", align: "left" },
        { text: "Designation", value: "designationName", align: "left" },
        { text: "Designation Number", value: "designationNumber", align: "left" }, */
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      Company: "plantCompanyName",
      // "Duty No": "dutyNo",
      Employee: "employeeName",
      Department: "departmentName",
      Designation: "designationName",
      "Designation Number": "designationNumber",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Responsibility"
        : "Edit Responsibility";
    },
    dutyRules() {
      return [(v) => !!v || "This is required field"];
    },
  },
  created() {
    this.initialize();
    this.objectiveExpand.push(true);
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      this.subdutyloader = true;
      getApplicationWikiLineDuty(this.templateTestCaseCheckListResponseId)
        .then((response) => {
          this.gridItems = response.data;
          this.subdutyloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onInheritResponsibility() {
      this.checkListselected=[];
      this.inheritresponsibilityDialog = true;
    },
    piaUserList(item) {
      var nameList = "";
      if (
        item.wikiResponsibilityModels != null &&
        item.wikiResponsibilityModels.length > 0
      ) {
        var names = item.wikiResponsibilityModels.map((item) => {
          return "<p>" + item.employeeName + "</p>";
        });
        if (names.length > 0) {
          nameList = names.join("");
        }
      }
      return nameList;
    },
    getWikiResponsiblesByExitsList() {
      this.employeeItems=[];
      if (this.editedItem.companyId > 0) {
        getWikiResponsiblesByExits(
          this.editedItem.companyId,
          this.templateTestCaseCheckListResponseId
        )
          .then((response) => {
            this.exitsUserIds = response.data.userIDs;
            this.exitsUserGroupIds = response.data.userGroupIDs;
            getEmployeesByCompany(this.editedItem.companyId)
              .then((response) => {
                this.employeeItems = response.data;
                this.userGroupItems = this.userGroupItems.filter(
                  (item) => !this.exitsUserGroupIds.includes(item.userGroupID)
                );

                this.employeeItems = this.employeeItems.filter(
                  (item) => !this.exitsUserIds.includes(item.employeeID)
                );
                this.loader = false;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    getEmployeeItems(value, employeeIDs) {
      this.editedItem.employeeIDs = [];
      if (value > 0) {
        getEmployeesByCompany(value)
          .then((response) => {
            this.employeeItems = response.data;
            if (employeeIDs != undefined) {
              this.editedItem.employeeIDs = employeeIDs;
            }
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadDropdownList() {
      getPlants("")
        .then((response) => {
          this.companyItems = response.data;

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.dutyNoItems = [];
      getApplicationMasterDetailByType(169)
        .then((response) => {
          this.dutyNoItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      //getApplicationUsers("")
      //.then((response) => {
      //if (response.data != undefined) {
      // this.userItems = response.data;
      // let uom = this.userItems.filter((o) => o.statusCodeID == 1);
      // this.userItems = uom;
      //  this.loader = false;
      // }
      //})
      // .catch((error) => {
      // this.loader = false;
      // window.getApp.$emit("APP_API_ERROR", error);
      // });

      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getEmployeegrid() {
      if (this.editedItem.templateTestCaseCheckListResponseDutyId > 0) {
        let id = this.editedItem.templateTestCaseCheckListResponseDutyId;
        getWikiResponsibleByID(id)
          .then((response) => {
            if (response.data != undefined) {
              this.employeeSelectedItems = response.data;
              this.getWikiResponsiblesByExitsList();
              this.loader = false;
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    getEmployeeDetails() {
      this.editedItem.departmentName = "";
      this.editedItem.designationName = "";
      this.editedItem.departmentId = "";
      this.editedItem.designationId = "";
      this.editedItem.designationNumber = "";
      let item = this.employeeItems.filter(
        (o) => o.employeeID == this.editedItem.employeeId
      );
      // if (item.length > 0) {
      //   this.editedItem.departmentName = item[0].departmentName;
      //   this.editedItem.designationName = item[0].designationName;
      //   this.editedItem.departmentId = item[0].departmentID;
      //   this.editedItem.designationId = item[0].designationID;
      //   this.editedItem.designationNumber = item[0].headCount;
      // }
    },
    selectedDelete() {
      this.selectedItems = [];
      this.selectedItems = this.employeeSelectedItems.filter(
        (d) => d.isSelected == true
      );
      this.wikiResponsibleItem.wikiResponsibilityIDs = [];
      this.selectedItems.forEach((f) => {
        this.wikiResponsibleItem.wikiResponsibilityID = f.wikiResponsibilityID;
        this.wikiResponsibleItem.wikiResponsibilityIDs.push(
          f.wikiResponsibilityID
        );
      });
      if (this.wikiResponsibleItem.wikiResponsibilityIDs.length > 0) {
        deleteWikiResponsibles(this.wikiResponsibleItem)
          .then((response) => {
            if (response.data != undefined) {
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.getEmployeegrid();
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    removeUserGroup(item) {
      const index = this.editedItem.userGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.editedItem.userGroupIDs.splice(index, 1);
    },
    removeUser(item) {
      const index = this.wikiResponsibleItem.userIDs.indexOf(item.userID);
      if (index >= 0) this.wikiResponsibleItem.userIDs.splice(index, 1);
    },
    removeEmpIds(item) {
      const index = this.editedItem.employeeIDs.indexOf(item.employeeID);
      if (index >= 0) this.editedItem.employeeIDs.splice(index, 1);
    },
    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.getEmployeegrid();
      // this.getWikiResponsiblesByExitsList(item.companyId, item.employeeIDs);
      //this.editedItem.employeeIDs = item.employeeIDs;
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.templateTestCaseCheckListResponseDutyId = -1;
      this.editedItem.departmentId = null;
      this.editedItem.designationId = null;
      this.editedItem.companyId = null;
      this.editedItem.dutyNo = null;
      this.editedItem.designationNumber = "";
      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = "";
      this.editedItem.addedDate = "";
      this.editedItem.employeeId = null;
      this.editedItem.departmentName = "";
      this.editedItem.designationNumber = "";
      this.editedItem.designationName = "";
      this.editedItem.type = "Responsibility";
      this.editedItem = Object.assign({}, this.defaultItem);
      this.employeeSelectedItems = [];
      this.employeeItems = [];
    },
    openPopup() {
      this.dialog = true;
      this.add();
    },
    onUserChange() {
      this.searchuser = "";
      // if (this.editedItem.userGroupIDs.length > 0) {
      //   this.editedItem.userGroupIDs = [];
      // }
    },
    onUserGroupChange() {
      this.searchgroup = "";
      // if (this.editedItem.userIDs.length > 0) {
      //   this.editedItem.userIDs = [];
      // }
    },
    onUserRadioGroupChanged() {
      if (this.selected == "user") {
        this.editedItem.userGroupIDs = [];
        if (this.editedItem.companyId != null) {
          this.getEmployeeItems(this.editedItem.companyId, []);
        }
      } else if (this.selected == "user-group") {
        this.editedItem.employeeIDs = [];
      }
    },
    save() {
      this.editedItem.templateTestCaseCheckListResponseId =
        this.templateTestCaseCheckListResponseId;
      if (this.$refs.wikiLinedutyform.validate()) {
        this.subdutyloader = true;
        let index = this.editedIndex;
        if (this.editedItem.templateTestCaseCheckListResponseDutyId > 0) {
         // Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateApplicationWikiLineDuty(this.editedItem)
            .then((response) => {
             // Object.assign(this.gridItems[index], response.data);
              this.subdutyloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
              this.getEmployeegrid();
            })
            .catch((error) => {
              this.subdutyloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createApplicationWikiLineDuty(this.editedItem)
            .then((response) => {
              //this.gridItems.push(response.data);
              this.subdutyloader = false;
              this.editedItem.templateTestCaseCheckListResponseDutyId =
                response.data.templateTestCaseCheckListResponseDutyId;
              let index = this.gridItems
                .map((item) => item.templateTestCaseCheckListResponseDutyId)
                .indexOf(response.data.templateTestCaseCheckListResponseDutyId);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
              this.getEmployeegrid();
            })
            .catch((error) => {
              this.subdutyloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.templateTestCaseCheckListResponseDutyId > -1) {
        this.subdutyloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteApplicationWikiLineDuty(this.editedItem)
          .then(() => {
            this.subdutyloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            this.getEmployeegrid();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subdutyloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    deleteEmpItem(item) {
      this.$refs.deleteEmployeeConfirmationDialog.openDialog();
      this.wikiResponsibleItem = item;
    },
   // deleterow() {
     // this.$refs.deleteEmployeeConfirmationDialog.openDialog();
   // },
    deleteSelectEmpItem() {
      this.$refs.deleteEmployeeConfirmationDialog.close();
      if (this.wikiResponsibleItem.wikiResponsibilityID > -1) {
        deleteWikiResponsible(this.wikiResponsibleItem)
          .then(() => {
            this.getEmployeegrid();

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    toggleAll() {
      if (this.checkListselected.length) this.checkListselected = [];
      else this.checkListselected = this.checklistItems.slice();
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
    addInheritsave() {
      var ids = this.checkListselected.map((item) => {
        return item.templateTestCaseCheckListId;
      });
      if (ids.length > 0) {
        this.inheritloader=true;
        var searchData = {};
        searchData.ids = ids;
        searchData.id = this.templateTestCaseCheckListResponseId;
        searchData.userID = this.$store.state.auth.userId;
        getTemplateTestChecListInherit(searchData)
        .then((response) => {
         this.inheritresponsibilityDialog=false;
         if(response.data.parentID>0)
         {
              this.editedItem.companyId=response.data.masterTypeID;
              this.loadDropdownList();
              this.editedItem.templateTestCaseCheckListResponseDutyId=response.data.parentID;
              this.initialize();
              this.getEmployeegrid();
         }
         this.inheritloader=false;
          window.getApp.$emit("APP_API_SUCCESS", "Inherit Responsibility Successfully");
        })
        .catch((error) => {
          this.inheritloader=false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
    },
  },
};
</script>

