<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
        :disabled="enableAddButton"
      ></v-text-field>
      <v-dialog
        persistent
        v-model="dialog"
        :disabled="enableAddButton"
        max-width="400px"
      >
        <!--  <v-btn
          slot="activator"
          icon
          :disabled="enableAddButton"
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn> -->
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <!--  <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Proposal</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip> -->

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div <div style="overflow: auto; height: calc(70vh - 80px)">
            >
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="productbatchLineform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="User Type"
                      prepend-icon="notes"
                      v-model="editedItem.userType"
                      :items="userStatusOptions"
                      required
                      chips
                      :rules="nameRules"
                    >
                    </v-autocomplete>
                  </v-flex>
                 <!--  <v-flex xs12 sm12>
                    <v-checkbox
                      color="primary"
                      v-model="editedItem.isByCaseCompany"
                      label="By Case Company"
                    ></v-checkbox>
                  </v-flex> -->
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      :loading="subloader"
                      label="Company"
                      prepend-icon="notes"
                      v-model="editedItem.companyId"
                      :items="companyItems"
                      item-text="description"
                      item-value="plantID"
                      chips
                      @change="getEmployeeItems"
                      required
                      :rules="nameRules"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Employee"
                      prepend-icon="notes"
                      :loading="loader"
                      :search-input.sync="searchuser"
                      v-model="editedItem.userIds"
                      :items="employeeItems"
                      item-text="dropDownName"
                      item-value="userID"
                      multiple
                      chips
                      @change="onUserChange"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeEmpIds(data.item)"
                          >{{ data.item.firstName }}</v-chip
                        >
                      </template>
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <!--  <v-btn
              color="primary darken-1"
              :loading="loader"
              outline
              @click.native="save"
              >save</v-btn
            > -->
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="initialize()"
          :disabled="enableAddButton"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="templateTestCaseProposalId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.userType }}</td>
        <td>{{ props.item.companyName }}</td>
        <td>{{ props.item.userName }}</td>
        <!-- <td>{{ props.item.isByCaseCompanyFlag }}</td> -->
        <td>{{ props.item.reassignUser }}</td>
        <td>{{ props.item.modifiedByUser }}</td>
        <td>{{ props.item.modifiedDate | formatDate }}</td>
        <td class="justify-center layout px-0">
          <span v-if="showOnlyRestrictUser(props.item)">
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="onupdateReasign(props.item)"
              >
                <v-icon small>person</v-icon>
              </v-btn>
              <span>Reasign Users</span>
            </v-tooltip>
          </span>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-dialog persistent v-model="reassignDialog" persistent max-width="500px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="reassignDialog = false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="reassignDialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>

        <div style="overflow: auto; height: calc(50vh - 50px)">
          <v-card-text>
            <v-form ref="refProposalReasignForm" lazy-validation>
              <v-layout row wrap>
                <v-flex xs12 sm12>
                  <v-autocomplete
                    label="User Type"
                    prepend-icon="notes"
                    v-model="reasingn.userType"
                    :items="userStatusOptions"
                    required
                    :rules="nameRules"
                    chips
                  >
                  </v-autocomplete>
                </v-flex>
                <v-flex lg12 sm12>
                  <v-autocomplete
                    label="Employee"
                    prepend-icon="notes"
                    :loading="loaderuser"
                    v-model="reasingn.reassignUserId"
                    :items="employeeItems"
                    item-text="dropDownName"
                    item-value="userID"
                    chips
                    required
                    :rules="nameRules"
                  >
                  </v-autocomplete>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary darken-1"
            :loading="loader"
            outline
            @click.native="updateReassign"
            >Update</v-btn
          >
          <v-btn
            color="primary darken-1"
            outline
            @click.native="reassignDialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import { getPlants, getEmployeesByCompany } from "@/api/employee";
import GlobalMessage from "@/constant";
import {
  getTemplateTestCaseProposal,
  createTemplateTestCaseProposal,
  deleteTemplateTestCaseProposal,
  updateTemplateTestCaseProposal,
} from "@/api/templateTestCase";
export default {
  components: {},
  data: () => ({
    loaderuser: false,
    reassignDialog: false,
    companyItems: [],
    employeeItems: [],
    templateTestCaseId: null,
    dialog: false,
    subloader: false,
    loader: false,
    editedIndex: -1,
    search: "",
    userStatusOptions: [
      { text: "Specific Company", value: "Specific Company" },
      { text: "Group Companies", value: "Group Companies" },
    ],
    gridItems: [],
    enableAddButton: true,
    searchFilter: "",
    editedItem: {
      valid: false,
      companyId: null,
      templateTestCaseProposalId: -1,
      templateTestCaseId: null,
      templateTestCaseFormId: null,
      userIds: [],
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      isByCaseCompany: false,
      modifiedDate: new Date().toISOString().substr(0, 10),
      userType: "Specific Company",
      reassignUserId: null,
    },
    sessionId: null,
    reasingn: {
      templateTestCaseProposalId: -1,
      templateTestCaseFormId: null,
      templateTestCaseId: null,
      userId: null,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserId: null,
      userType: "Specific Company",
      reassignUserId: null,
    },
    templateTestCaseFormId: -1,
    defaultItem: {
      valid: false,
      companyId: null,
      templateTestCaseProposalId: -1,
      templateTestCaseFormId: null,
      templateTestCaseId: null,
      userIds: [],
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      isByCaseCompany: false,
      modifiedDate: new Date().toISOString().substr(0, 10),
      userType: "Specific Company",
      reassignUserId: null,
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchuser: "",
    headers: [
      { text: "User Type", value: "userType", align: "left" },
      { text: "Company", value: "companyName", align: "left" },
      { text: "User", value: "userName", align: "left" },
     // { text: "By Case Company", value: "isByCaseCompanyFlag", align: "left" },
      { text: "Reassign From", value: "reassignUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "actions", align: "left", sortable: false },
    ],
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Case PIC" : "Edit Case PIC";
    },
    nameRules() {
      return [(v) => !!v || "This field is required"];
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      getTemplateTestCaseProposal(
        this.templateTestCaseId,
        "TemplateCaseForm",
        this.templateTestCaseFormId
      )
        .then((response) => {
          this.gridItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loadDropdownList();
    },
    showOnlyRestrictUser(item) {
      if (
        item.userId == this.$store.state.auth.userId ||
        GlobalMessage.SuperUser == this.$store.state.auth.userId
      ) {
        return true;
      } else {
        return false;
      }
    },
    updateReassign() {
      if (this.$refs.refProposalReasignForm.validate()) {
        this.reasingn.modifiedByUserId = this.$store.state.auth.userId;
        this.reasingn.modifiedDate = new Date();
        this.reasingn.addedByUserId = this.$store.state.auth.userId;
        this.reasingn.addedByUserID = this.$store.state.auth.userId;
        this.reasingn.addedDate = new Date();
        this.reasingn.statusCodeID = 1;
        this.reasingn.userId = this.reasingn.userId;
        updateTemplateTestCaseProposal(this.reasingn)
          .then((response) => {
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "User Reasigned Successfully"
            );
            this.initialize();
            this.reassignDialog = false;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    removeEmpIds(item) {
      const index = this.editedItem.userIds.indexOf(item.userID);
      if (index >= 0) this.editedItem.userIds.splice(index, 1);
    },
    onUserChange() {
      this.searchuser = "";
    },
    onupdateReasign(item) {
      this.getEmployeeItems(item.companyId);
      this.reasingn.templateTestCaseProposalId =
        item.templateTestCaseProposalId;
      this.reasingn.reassignUserId = item.reassignUserId;
      this.reasingn.userId = item.userId;
      this.reasingn.userType = item.userType;
      this.reassignDialog = true;
    },
    getEmployeeItems(value, userIds) {
      this.employeeItems = [];
      this.editedItem.userIds = [];
      this.loaderuser = true;
      getEmployeesByCompany(value)
        .then((response) => {
          this.employeeItems = response.data;
          if (userIds != undefined) {
            this.editedItem.userIds = userIds;
          }
          this.loaderuser = false;
        })
        .catch((error) => {
          this.loaderuser = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadDropdownList() {
      getPlants("")
        .then((response) => {
          this.companyItems = response.data;

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      setTimeout(() => {
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.employeeItems = [];
    },
    save() {
      if (this.$refs.productbatchLineform.validate()) {
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        this.editedItem.statusCodeID = 1;
        this.subloader = true;
        this.editedItem.templateTestCaseId = this.templateTestCaseId;
        let index = this.editedIndex;
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        createTemplateTestCaseProposal(this.editedItem)
          .then((response) => {
            this.editedIndex = this.gridItems.indexOf(response.data);
            this.subloader = false;
            this.editedItem.templateTestCaseProposalId =
              response.data.templateTestCaseProposalId;

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.templateTestCaseProposalId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteTemplateTestCaseProposal(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            this.initialize();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>