<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          v-model="allmenuSearch"
          transition="scale-transition"
          offset-y
          max-width="700px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>
          <v-card>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex lg12 sm12>
                  <div class="mt-3 title">Search and Filter</div>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-autocomplete
                    :loading="loader"
                    chips
                    flat
                    placeholder="Select Template"
                    prepend-icon="assistant"
                    :items="templateItems"
                    v-model="searchItems.templateId"
                    label="Template Name"
                    color="blue"
                    item-text="templateName"
                    item-value="templateTestCaseId"
                    
                  >
                  </v-autocomplete>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-autocomplete
                    :loading="loader"
                    chips
                    flat
                    placeholder="Select Company"
                    prepend-icon="assistant"
                    :items="companyItems"
                    v-model="searchItems.companyId"
                    label="Company"
                    color="blue"
                    item-text="description"
                    item-value="plantID"
                  >
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field
                    label="Case No"
                    v-model="searchItems.caseNo"
                    prepend-icon="person"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-text-field
                    label="Subject Name"
                    v-model="searchItems.subjectName"
                    prepend-icon="person"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" outline @click.native="loadPagingData"
                >Search</v-btn
              >
              <v-btn outline color="primary" @click="allmenuSearch = false"
                >Cancel</v-btn
              >
              <v-btn outline color="primary" @click="allMenuSearchClear"
                >Clear</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter</span>
      </v-tooltip>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Template Test Case.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon="" @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Template for monitor job progress</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                :disabled="uploadbtn"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      placeholder="Select Template"
                      prepend-icon="assistant"
                      :items="templateItems"
                      v-model="editedItem.templateTestCaseId"
                      label="Template Name"
                      color="blue"
                      item-text="templateName"
                      item-value="templateTestCaseId"
                      required
                      :rules="templateRules"
                      @change="onChangeTemplate"
                      :disabled="editedItem.templateTestCaseFormId>0"
                    >
                    </v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      placeholder="Select Company"
                      prepend-icon="assistant"
                      :items="companyItems"
                      v-model="editedItem.companyId"
                      label="Company"
                      color="blue"
                      item-text="description"
                      item-value="plantID"
                      @change="onChangeCompany"
                      required
                      :rules="companyRules"
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Case No"
                      v-model="editedItem.caseNo"
                      prepend-icon="person"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Subject Name"
                      v-model="editedItem.subjectName"
                      prepend-icon="person"
                      required
                      :rules="subjectNameRules"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Version No"
                      v-model="editedItem.versionNo"
                      prepend-icon="person"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Modified By"
                      v-model="editedItem.modifiedByUser"
                      prepend-icon="person"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Modified Date"
                      :value="editedItem.modifiedDate | formatDate"
                      prepend-icon="person"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-toolbar card dense color="whitesmoke">
                    <span> Instruction</span>
                    <v-spacer></v-spacer>

                    <v-btn
                      icon
                      flat
                      @click.native="objectiveExpandClick"
                      v-if="isobjectiveExpand"
                    >
                      <v-icon>expand_more</v-icon>
                    </v-btn>

                    <v-btn
                      icon
                      flat
                      @click="objectiveCollapse"
                      v-if="isobjectiveCollapse"
                    >
                      <v-icon>expand_less</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-expansion-panel v-model="objectiveExpand" expand>
                    <v-expansion-panel-content>
                      <v-flex xs12 sm12 style="padding:15px;">
                        <div v-html="editedItem.instruction"></div>
                      </v-flex>
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-toolbar card dense color="whitesmoke">
                    <span> Upload File Information</span>
                    <v-spacer></v-spacer>

                    <v-btn
                      icon
                      flat
                      @click.native="subjectExpandClick"
                      v-if="issubjectExpand"
                    >
                      <v-icon>expand_more</v-icon>
                    </v-btn>

                    <v-btn
                      icon
                      flat
                      @click="subjectCollapse"
                      v-if="issubjectCollapse"
                    >
                      <v-icon>expand_less</v-icon>
                    </v-btn>
                  </v-toolbar>
                  <v-expansion-panel v-model="subjectExpand" expand>
                    <v-expansion-panel-content>
                      <v-layout wrap>
                        <!-- <v-flex xs12 sm3 style="margin-top: 20px">
                          <v-text-field
                            v-model="editedItem.nameOfTemplate"
                            prepend-icon="select_all"
                            label="Name Of Template"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm4 style="margin-top: 20px">
                          <v-text-field
                            v-model="editedItem.link"
                            prepend-icon="select_all"
                            label="Link"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm1 style="margin-top: 20px">
                          <v-btn
                            color="primary darken-1"
                            @click="clicklinkAddComment"
                          >
                            Add
                          </v-btn>
                        </v-flex> -->
                        <v-flex xs12 sm12>
                          <v-data-table
                            :headers="linkHeaders"
                            :items="templateTestCaseLinkModels"
                            class="elevation-1"
                            hide-actions
                          >
                            <template v-slot:items="props">
                              <td>{{ props.item.nameOfTemplate }}</td>
                              <!-- <td>{{props.item.link}} -->
                                <a @click="clicklinkComment(props.item)"
                                  >Link
                                </a>
                              </td>

                              <td>
                                <a @click="openfileProfile(props.item)"
                                  >File Path
                                </a>
                              </td>
                              <td>{{ props.item.naming }}</td>
                              <td>{{ props.item.autoNumbering }}</td>
                              <td>{{ props.item.templateProfileName }}</td>
                              <td>
                                <a v-if="props.item.autoNumbering=='Yes'" @click="generateNo(props.item)">
                                  Generate No
                                </a>
                              </td>
                            </template>
                          </v-data-table>
                        </v-flex>
                      </v-layout>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                 <!--  <v-toolbar card dense color="whitesmoke">
                    <span> Description</span>
                    <v-spacer></v-spacer>

                    <v-btn
                      icon
                      flat
                      @click.native="descriptionExpandClick"
                      v-if="isDescriptionExpand"
                    >
                      <v-icon>expand_more</v-icon>
                    </v-btn>

                    <v-btn
                      icon
                      flat
                      @click="descriptionCollapse"
                      v-if="isDescriptionCollapse"
                    >
                      <v-icon>expand_less</v-icon>
                    </v-btn>
                  </v-toolbar> 
                  <v-expansion-panel v-model="descriptionExpand" expand>
                    <v-expansion-panel-content>
                      <v-flex xs12 sm12>
                        <vue-mce
                          :config="tinyConfig"
                          v-if="isRTERender"
                          ref="message"
                          id="message"
                          v-model="editedItem.instruction"
                        />
                      </v-flex>
                    </v-expansion-panel-content>
                  </v-expansion-panel>-->
                </v-layout>
              </v-form>
              <v-toolbar card dense color="whitesmoke">
                <span>PIC</span>
                <v-spacer></v-spacer>

                <v-btn
                  icon
                  flat
                  @click.native="templateTestCaseProposalExpandClick"
                  v-if="isTemplateTestCaseProposalExpand"
                >
                  <v-icon>expand_more</v-icon>
                </v-btn>

                <v-btn
                  icon
                  flat
                  @click="templateTestCaseProposalCollapse"
                  v-if="isTemplateTestCaseProposalCollapse"
                >
                  <v-icon>expand_less</v-icon>
                </v-btn>
              </v-toolbar>
              <v-expansion-panel
                v-model="templateTestCaseProposalExpand"
                expand
              >
                <v-expansion-panel-content>
                  <template-test-case-proposal ref="refTemplateTestCaseProposal"></template-test-case-proposal>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-toolbar card dense color="whitesmoke">
                <span> Checklist Template</span>
                <v-spacer></v-spacer>

                <v-btn
                  icon
                  flat
                  @click.native="checkListExpandClick"
                  v-if="ischeckListExpand"
                >
                  <v-icon>expand_more</v-icon>
                </v-btn>

                <v-btn
                  icon
                  flat
                  @click="checkListCollapse"
                  v-if="ischeckListCollapse"
                >
                  <v-icon>expand_less</v-icon>
                </v-btn>
              </v-toolbar>
              <v-expansion-panel v-model="checkListExpand" expand>
                <v-expansion-panel-content>
                  <v-flex xs12 sm12>
                    <check-list ref="refCheckList"></check-list>
                  </v-flex>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              v-if="editedItem.templateTestCaseFormId > 0"
              color="primary darken-1"
              :loading="forumLoader"
              outline
              @click.native="createForum"
            >
              {{ topicId != null ? "View Forum" : "Create Forum" }}
            </v-btn>
            <v-btn
              color="primary darken-1"
              :loading="loader"
              outline
              @click.native="save"
            >
              Save
            </v-btn>
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="DeleteItem"
          >
          </delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="loading"
      default-sort="templateTestCaseFormId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.templateName }}</td>
          <td class="text-xs-left">{{ props.item.caseNo }}</td>
          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.subjectName }}</td>
          <td class="text-xs-left">
            {{ props.item.modifiedDate | formatDate }}
          </td>
          <td class="text-xs-left">{{ props.item.departmentName }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>

          <td class="justify-center layout px-0">
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-dialog v-model="attachdialog" persistent max-width="1200px">
      <attachment
        title="Document"
        :screenID="screenId"
        :sessionID="sessionId"
        controller="Documents"
        action="GetDocumentsBySessionID"
        uploadAction="UploadCaseDocument"
        deleteAction="DeleteDocument"
        downloadAction="DownLoadDocument"
        ref="refattach"
        :closeMethod="closeattach"
      ></attachment>
    </v-dialog>
    <v-dialog v-model="documentDialog" max-width="1200px">
      <template-test-case-document
        title="Document No"
        ref="refTemplateTestCaseDocument"
        :closeMethod="closeDocument"
      ></template-test-case-document>
    </v-dialog>
  </div>
</template>
<script>
import moment from "moment";
import { uploadTopicFiles } from "@/api/topic";
import {
  getTemplateTestCase,
  getTemplateTestCaseFormData,
  createTemplateTestCaseForm,
  updateTemplateTestCaseForm,
  deleteTemplateTestCaseForm,
  updateTemplateTestCaseFormTopic,
  getTemplateTestCaseByCompanyProposalUsers,
  getTemplateTestCaseLink,
} from "@/api/templateTestCase";
import { getPlants } from "@/api/nav";
import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import Util from "@/util";
import attachment from "@/components/Attachment/testCaseFormattachments";
import CheckList from "@/pages/templateTestCase/checkListForm";
import TemplateTestCaseDocument from "@/pages/templateTestCase/templateTestCaseDocument";
import TemplateTestCaseProposal from "@/pages/templateTestCase/TemplateTestCaseProposalForm";

import { getFileProfileTypeFlatItems } from "@/api/fileProfileType";
export default {
  components: {
    attachment,
    CheckList,
    TemplateTestCaseDocument,
    TemplateTestCaseProposal,
  },
  data: () => ({
    forumLoader: false,
    documentDialog: false,
    allmenuSearch: false,
    templateTestCaseLinkModels: [],
    totalRows: 0,
    loading: false,
    isTemplate: false,
    empsearch: "",
    sessionId: null,
    attachdialog: false,
    screenId: "TEMTECASE",
    uploadbtn: true,
    dialog: false,
    loader: false,
    gridloader: false,
    search: "",
    totalRows: 0,
    statusOptions: [],
    timeout: 2000,
    y: "top",
    searchItemNo: "",
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
    ],
    filterFields: [
      "TemplateTestCase.TemplateName",
      "CaseNo",
      "subjectName",
      "Company.Description",
      "StatusCode.CodeValue",
      "TemplateTestCase.Department.Name",
    ],
    linkHeaders: [
      { text: "Name Of Template", value: "nameOfTemplate", align: "left" },
      { text: "Form Template", value: "link", align: "left" },
      { text: "Location To Save", value: "locationName", align: "left" },
      { text: "File Naming", value: "naming", align: "left" },
      { text: "Auto Numbering", value: "autoNumbering", align: "left" },
      { text: "Profile", value: "templateProfileName", align: "left" },
    ],
    headers: [
      { text: "Template Name", value: "templateName", align: "left" },
      { text: "Case No", value: "caseNo", align: "left" },
      { text: "Company", value: "companyName", align: "left" },
      { text: "Subject Name", value: "subjectName", align: "left" },
      { text: "Last Update", value: "modifiedDate", align: "left" },
      { text: "Department", value: "departmentName", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      "Template Name": "templateName",
      "Case No": "caseNo",
      Company: "companyName",
      "Subject Name": "subjectName",
      "Last Update": "modifiedDate",
      "Department Name": "departmentName",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [5, 10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 5,
    },
    companyItems: [],
    templateItems: [],
    editedItem: {
      valid: false,
      templateTestCaseFormId: -1,
      templateTestCaseId: null,
      caseNo: "",
      subjectName: "",
      versionNo: "",
      companyId: null,
      instruction: "",
      templateInstruction: "",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      modifiedByUser: "",
      templateName: "",
    },
    defaultItem: {
      valid: false,
      templateTestCaseFormId: -1,
      templateTestCaseId: null,
      caseNo: "",
      subjectName: "",
      versionNo: "",
      companyId: null,
      instruction: "",
      templateInstruction: "",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      modifiedByUser: "",
      templateName: "",
    },
    searchItems: {
      caseNo: "",
      subjectName: "",
      companyId: null,
      templateId: null,
    },
    defaultSearchItems: {
      caseNo: "",
      subjectName: "",
      companyId: null,
      templateId: null,
    },
    topicId: null,
    formData: new FormData(),
    isRTERender: false,
    tinyConfig: Util.tinyconfig(150),
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    objectiveExpand: [],
    issubjectExpand: false,
    issubjectCollapse: true,
    subjectExpand: [],
    searchItem: { action: "", Id: null, searchString: "searchString" },
    isDescriptionExpand: false,
    isDescriptionCollapse: true,
    descriptionExpand: [],
    ischeckListExpand: false,
    ischeckListCollapse: true,
    checkListExpand: [],
    isTemplateTestCaseProposalExpand: false,
    isTemplateTestCaseProposalCollapse: true,
    templateTestCaseProposalExpand: [],
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Case Form" : "Edit Case Form";
    },
    templateRules() {
      return [(v) => !!v || "Template Name is required"];
    },
    caseNoRules() {
      return [(v) => !!v || "Case No is required"];
    },
    subjectNameRules() {
      return [(v) => !!v || "Subject Name is required"];
    },
    companyRules() {
      return [(v) => !!v || "Company is required"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      //this.pagination.rowsPerPage = 5;
      this.loadDropdownList();
    },
    openfileProfile(item) {
      if (item.locationToSaveId != null) {
        getFileProfileTypeFlatItems(item.locationToSaveId)
          .then((response) => {
            let url =
              window.location.protocol +
              "//" +
              window.location.host +
              "/#/DMS/fileProfileTypeDocTree?fileProfileTypeId=" +
              item.locationToSaveId +
              "&mainfileProfileTypeId=" +
              response.data.fileProfileTypeMainId;
            window.open(url);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadDropdownList() {
      getTemplateTestCase()
        .then((response) => {
          this.templateItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants()
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    generateNo(item) {
      this.documentDialog = true;
      setTimeout(() => {
        this.$refs.refTemplateTestCaseDocument.templateTestCaseLinkId =
          item.templateTestCaseLinkId;
        this.$refs.refTemplateTestCaseDocument.templateItems = item;
        this.$refs.refTemplateTestCaseDocument.initialize();
      }, 500);
    },
    allMenuSearchClear() {
      this.searchItems = Object.assign({}, this.defaultSearchItems);
      this.loadPagingData();
    },
    menuClick(key, item) {
      if (key == 0) {
        this.editedItem = Object.assign({}, item);
        this.editItem(item);
      } else if (key == 1) {
        this.onDeleteItem(item);
      }
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    onChangeTemplate(value) {
      if (value > 0) {
        var data = this.templateItems.filter(
          (o) => o.templateTestCaseId == value
        );
        if (data.length > 0) {
          this.editedItem.instruction = data[0].instruction;
        }
      }
    },
    onChangeTemplateCaseLink() {
      this.templateTestCaseLinkModels = [];
      var templateTestCaseId = this.editedItem.templateTestCaseId;
      if (this.editedItem.templateTestCaseId > 0) {
        templateTestCaseId = this.editedItem.templateTestCaseId;
      } else {
        templateTestCaseId = -1;
      }
      getTemplateTestCaseLink(
        templateTestCaseId,
        "TemplateCaseForm",
        this.editedItem.templateTestCaseFormId
      )
        .then((response) => {
          this.templateTestCaseLinkModels = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadLines(status) {
      var templateTestCaseId = this.editedItem.templateTestCaseId;
      if (this.editedItem.templateTestCaseId > 0) {
        templateTestCaseId = this.editedItem.templateTestCaseId;
      } else {
        templateTestCaseId = -1;
      }
      this.onChangeTemplateCaseLink();
      this.$refs.refCheckList.templateTestCaseId = templateTestCaseId;
      this.$refs.refCheckList.templateTestCaseFormId =
        this.editedItem.templateTestCaseFormId;
      this.$refs.refCheckList.subjectName = this.editedItem.subjectName;
      this.$refs.refCheckList.caseNo = this.editedItem.caseNo;
      this.$refs.refCheckList.templateName = this.editedItem.templateName;
      this.$refs.refCheckList.mainTopicId = this.topicId;
      var userIsOwner =
        parseInt(this.editedItem.addedByUserID) ==
        parseInt(this.$store.state.auth.userId)
          ? true
          : false;
      this.$refs.refCheckList.ownerOnlyAdd = false;
      this.$refs.refCheckList.initialize();
      this.$refs.refTemplateTestCaseProposal.templateTestCaseId =
        templateTestCaseId;
      this.$refs.refTemplateTestCaseProposal.templateTestCaseFormId =
        this.editedItem.templateTestCaseFormId;
      this.$refs.refTemplateTestCaseProposal.enableAddButton = status;
      this.$refs.refTemplateTestCaseProposal.initialize();
    },
    createForum() {
      if (this.topicId != null) {
        this.openTopicUrl(this.topicId);
      } else {
        this.forumLoader = true;
        this.formData = new FormData();
        this.formData.append("subjectName", this.editedItem.templateName);
        this.formData.append("topicName", this.editedItem.subjectName);
        this.formData.append("ticketNo", this.editedItem.caseNo);
        this.formData.append("typeId", this.editedItem.subjectName); //Manufacturing Process
        this.formData.append("categoryId", "Case"); //Category
        this.formData.append(
          "startDate",
          moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
        );
        this.formData.append("actionType", "Case");
        this.formData.append(
          "actionUrl",
          this.editedItem.templateTestCaseFormId
        );
        this.formData.append(
          "endDate",
          moment(null).format("YYYY-MM-DD HH:mm:ss")
        );
        this.formData.append("description", this.editedItem.instruction);
        this.formData.append(
          "dueDate",
          moment(null).format("YYYY-MM-DD HH:mm:ss")
        );
        this.formData.append("from", this.$store.state.auth.sessionId);
        this.formData.append("to", this.$store.state.auth.sessionId);
        this.formData.append("cc", "");
        this.formData.append("status", "New");
        this.formData.append("isNotification", true);
        this.formData.append("addedByUserId", this.$store.state.auth.sessionId);
        this.formData.append("userGroupIDs", ["0"]);
        this.formData.append("type", "C");
        this.formData.append("seqNo", 0);
        var backUrl =
          "application/templateTestCaseForm?id=" +
          this.editedItem.templateTestCaseFormId;
        this.formData.append("backUrl", backUrl);
        getTemplateTestCaseByCompanyProposalUsers(
          this.editedItem.templateTestCaseId,
          this.editedItem.templateTestCaseFormId
        )
          .then((response) => {
            var participantUsers = this.$store.state.auth.sessionId;
            if (response.data.participantUsers != null) {
              if (response.data.participantUsers != "") {
                participantUsers += "," + response.data.participantUsers;
              }
            }
            var participant = "";
            if (participantUsers != null) {
              var participants = participantUsers.split(",");
              let unique = [...new Set(participants)];
              participant = unique.toString();
            }
            this.formData.append("participant", participant);
            this.saveTopic();
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    saveTopic() {
      uploadTopicFiles(this.formData)
        .then((response) => {
          this.forumLoader = false;
          this.loading = false;
          if (response.data.responseCode == 1) {
            this.createInsertTopicList(response.data.errorMessages[0]);
          } else {
            window.getApp.$emit(
              "APP_API_ERROR",
              response.data.errorMessages[0]
            );
          }
        })
        .catch((error) => {
          this.forumLoader = false;
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    createInsertTopicList(topicId) {
      if (topicId != "") {
        var insertItem = {};
        insertItem.topicId = topicId;
        insertItem.templateTestCaseFormId =
          this.editedItem.templateTestCaseFormId;
        insertItem.addedByUser = this.$store.state.userName;
        insertItem.addedByUserId = this.$store.state.auth.userId;
        insertItem.modifiedByUserId = this.$store.state.auth.userId;
        insertItem.statusCodeID = 1;
        insertItem.statusCodeId = 1;
        insertItem.addedDate = new Date();
        updateTemplateTestCaseFormTopic(insertItem)
          .then(() => {
            this.loading = false;
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Topic Created Successfully"
            );
            this.forumLoader = false;
            this.editedItem.topicId = topicId;
            this.topicId = topicId;
            this.openTopicUrl(topicId);
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.loading = false;
        window.getApp.$emit("APP_API_ERROR", "Topic Not Created");
      }
    },
    openTopicUrl(topicId) {
      var link =
        GlobalMessage.TOPICCHAT_URL +
        "#/history?id=" +
        topicId +
        "&sessionId=" +
        this.$store.state.auth.sessionId +
        "&&type=Case";
      window.open(link, "_blank");
    },
    editItem(item) {
      this.topicId = item.topicId;
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      this.uploadbtn = item.sessionId != null ? false : true;
      this.sessionId = item.sessionId;
      setTimeout(() => {
        this.isRTERender = true;
        this.onChangeCompany(this.editedItem.companyId);
      }, 500);
      this.loadLines(false);
      this.objectiveCollapse();
      this.subjectExpandClick();
      this.descriptionExpandClick();
      this.checkListExpandClick();
      this.templateTestCaseProposalExpandClick();
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    onChangeCompany(value) {},
    loadPagingData() {
      var caseFormId = parseInt(this.$route.query.id);
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "templateTestCaseFormId";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetTemplateTestCaseForm";
      search.templateTestCaseFormSearchModel = this.searchItems;
      search.userID = this.$store.state.auth.userId;
      search.pageCount = 1;
      search.fileProfileTypeId = null;
      search.classificationTypeId = null;
      if (!isNaN(caseFormId) && caseFormId > 0) {
        search.classificationTypeId = caseFormId;
      }
      this.pagination.page = 1;
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
            if (!isNaN(caseFormId) && caseFormId > 0) {
              this.$route.query.id = null;
              var items = this.gridItems.filter(
                (f) => f.templateTestCaseFormId == caseFormId
              );
              if (items.length > 0) {
                search.classificationTypeId = null;
                this.search = items[0].caseNo;
                this.editItem(items[0]);
              }
            }
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      var caseFormId = parseInt(this.$route.query.id);
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      search.templateTestCaseFormSearchModel = this.searchItems;
      if (args.sortBy == "templateName") {
        search.sortCol = "TemplateTestCase.TemplateName";
      } else if (args.sortBy == "templateCode") {
        search.sortCol = "templateCode";
      } else if (args.sortBy == "companyName") {
        search.sortCol = "company.Description";
      } else if (args.sortBy == "departmentName") {
        search.sortCol = "TemplateTestCase.Department.Name";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.userID = this.$store.state.auth.userId;
      search.methodName = "GetTemplateTestCaseForm";
      search.fileProfileTypeId = null;
      search.classificationTypeId = null;
      if (!isNaN(caseFormId) && caseFormId > 0) {
        search.classificationTypeId = caseFormId;
      }
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
            if (!isNaN(caseFormId) && caseFormId > 0) {
              this.$route.query.id = null;
              var items = this.gridItems.filter(
                (f) => f.templateTestCaseFormId == caseFormId
              );
              if (items.length > 0) {
                search.classificationTypeId = null;
                this.search = items[0].caseNo;
                this.editItem(items[0]);
              }
            }
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.templateTestCaseFormId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);

        deleteTemplateTestCaseForm(this.editedItem)
          .then((response) => {
            this.loader = false;
            this.selectedItem = null;
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.loadPagingData();
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    objectiveExpandClick() {
      this.isobjectiveExpand = false;
      this.isobjectiveCollapse = true;
      this.objectiveExpand.push(true);
    },
    objectiveCollapse() {
      this.isobjectiveExpand = true;
      this.isobjectiveCollapse = false;
      this.objectiveExpand = [];
    },
    subjectExpandClick() {
      this.issubjectExpand = false;
      this.issubjectCollapse = true;
      this.subjectExpand.push(true);
    },
    subjectCollapse() {
      this.issubjectExpand = true;
      this.issubjectCollapse = false;
      this.subjectExpand = [];
    },
    descriptionExpandClick() {
      this.isDescriptionExpand = false;
      this.isDescriptionCollapse = true;
      this.descriptionExpand.push(true);
    },
    descriptionCollapse() {
      this.isDescriptionExpand = true;
      this.isDescriptionCollapse = false;
      this.descriptionExpand = [];
    },
    checkListExpandClick() {
      this.ischeckListExpand = false;
      this.ischeckListCollapse = true;
      this.checkListExpand.push(true);
    },
    checkListCollapse() {
      this.ischeckListExpand = true;
      this.ischeckListCollapse = false;
      this.checkListExpand = [];
    },
    templateTestCaseProposalExpandClick() {
      this.isTemplateTestCaseProposalExpand = false;
      this.isTemplateTestCaseProposalCollapse = true;
      this.templateTestCaseProposalExpand.push(true);
    },
    templateTestCaseProposalCollapse() {
      this.isTemplateTestCaseProposalExpand = true;
      this.isTemplateTestCaseProposalCollapse = false;
      this.templateTestCaseProposalExpand = [];
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getTemplateTestCaseFormData(this.searchItem)
        .then((response) => {
          if (response.data.templateTestCaseFormId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.templateTestCaseFormId)
              .indexOf(response.data.templateTestCaseFormId);
            this.editedIndex = index;
            this.uploadbtn = this.editedItem.sessionId != null ? false : true;
            this.sessionId = response.data.sessionId;
            this.topicId = response.data.topicId;
            this.editedItem.topicId = response.data.topicId;
            setTimeout(() => {
              this.isRTERender = true;
              this.onChangeCompany(this.editedItem.companyId);
            }, 500);
            this.loadLines(false);
            this.objectiveCollapse();
            this.subjectExpandClick();
            this.descriptionExpandClick();
            this.checkListExpandClick();
            this.templateTestCaseProposalExpandClick();
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.templateTestCaseFormId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.templateTestCaseFormId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.templateTestCaseFormId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.templateTestCaseFormId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.loadDropdownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedItem.modifiedByUser = this.$store.state.auth.userName;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
      this.uploadbtn = true;
      this.sessionId = null;
      this.templateTestCaseLinkModels = [];
      this.topicId = null;
      setTimeout(() => {
        this.isRTERender = true;
      }, 300);
      this.loadLines(true);
      this.objectiveCollapse();
      this.subjectExpandClick();
      this.descriptionExpandClick();
      this.checkListExpandClick();
      this.templateTestCaseProposalExpandClick();
    },
    close() {
      this.dialog = false;
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onAttachment(item) {
      this.sessionId = item.sessionId;
      this.fileAttachment();
    },
    closeDocument() {
      this.documentDialog = false;
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.caseNo = this.editedItem.caseNo;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    clicklinkDeleteComment(item) {
      let index = this.editedItem.templateTestCaseLinkModels.indexOf(item);
      this.editedItem.templateTestCaseLinkModels.splice(index, 1);
    },
    clicklinkComment(item) {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(item.link)) {
        window.open(item.link, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    clicklinkLocationComment(item) {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(item.locationName)) {
        window.open(item.locationName, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    clicklinkAddComment() {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(this.editedItem.link)) {
        let itemsName = {
          templateTestCaseLinkId: -1,
          nameOfTemplate: this.editedItem.nameOfTemplate,
          link: this.editedItem.link,
          templateTestCaseFormId: this.editedItem.templateTestCaseFormId,
        };
        this.editedItem.templateTestCaseLinkModels.push(itemsName);
        this.editedItem.link = "";
        this.editedItem.nameOfTemplate = "";
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateTemplateTestCaseForm(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.editedItem = response.data;
              this.uploadbtn = response.data.sessionId != null ? false : true;
              this.sessionId = response.data.sessionId;
              this.editedItem.templateName = response.data.templateName;
              this.loader = false;
              this.loadLines(false);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          createTemplateTestCaseForm(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.templateTestCaseFormId =
                response.data.templateTestCaseFormId;
              this.editedItem.versionNo = response.data.versionNo;
              this.editedItem.templateName = response.data.templateName;
              this.editedItem.caseNo = response.data.caseNo;
              let index = this.gridItems
                .map((item) => item.templateTestCaseFormId)
                .indexOf(response.data.templateTestCaseFormId);
              this.editedIndex = index;
              this.uploadbtn = response.data.sessionId != null ? false : true;
              this.sessionId = response.data.sessionId;
              this.loadLines(false);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.createForum();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>