<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Template Test Case.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon="" @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
                v-if="inheritFlag"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
                v-if="inheritFlag"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Template for monitor job progress</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="deleterow"
                v-if="inheritFlag"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="first"
                v-if="inheritFlag"
              >
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="previous"
                v-if="inheritFlag"
              >
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="next"
                v-if="inheritFlag"
              >
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="last"
                v-if="inheritFlag"
              >
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                :disabled="uploadbtn"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline" v-if="inheritFlag">{{ formTitle }}</span>
            <span class="headline" v-else>Duplicate Template</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Template Name"
                      v-model="editedItem.templateName"
                      prepend-icon="person"
                      required
                      :rules="templateRules"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Template Code"
                      v-model="editedItem.templateCode"
                      prepend-icon="person"
                      required
                      :rules="ProfileRules"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs4 sm4>
                    <v-autocomplete
                      :loading="loader"
                      flat
                      :items="profileItems"
                      v-model="editedItem.profileId"
                      label="Profile"
                      chips
                      prepend-icon="fa-file-text"
                      item-text="name"
                      item-value="profileID"
                      :rules="profileNameRules"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Specific Case"
                      v-model="editedItem.specificCase"
                      prepend-icon="person"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      label="Version no"
                      v-model="editedItem.versionNo"
                      prepend-icon="person"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    >
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
              <v-toolbar card dense color="whitesmoke">
                <span> Instruction</span>
                <v-spacer></v-spacer>

                <v-btn
                  icon
                  flat
                  @click.native="objectiveExpandClick"
                  v-if="isobjectiveExpand"
                >
                  <v-icon>expand_more</v-icon>
                </v-btn>

                <v-btn
                  icon
                  flat
                  @click="objectiveCollapse"
                  v-if="isobjectiveCollapse"
                >
                  <v-icon>expand_less</v-icon>
                </v-btn>
              </v-toolbar>
              <v-expansion-panel v-model="objectiveExpand" expand>
                <v-expansion-panel-content>
                  <v-flex xs12 sm12>
                    <vue-mce
                      :config="tinyConfig"
                      v-if="isRTERender"
                      ref="message"
                      id="message"
                      v-model="editedItem.instruction"
                    />
                  </v-flex>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-toolbar card dense color="whitesmoke">
                <span> Template Band</span>
                <v-spacer></v-spacer>

                <v-btn
                  icon
                  flat
                  @click.native="subjectExpandClick"
                  v-if="issubjectExpand"
                >
                  <v-icon>expand_more</v-icon>
                </v-btn>

                <v-btn
                  icon
                  flat
                  @click="subjectCollapse"
                  v-if="issubjectCollapse"
                >
                  <v-icon>expand_less</v-icon>
                </v-btn>
              </v-toolbar>
              <v-expansion-panel v-model="subjectExpand" expand>
                <v-expansion-panel-content>
                  <template-test-case-link
                    ref="refTemplateTestCaseLink"
                  ></template-test-case-link>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-toolbar card dense color="whitesmoke">
                <span>PIC</span>
                <v-spacer></v-spacer>

                <v-btn
                  icon
                  flat
                  @click.native="templateTestCaseProposalExpandClick"
                  v-if="isTemplateTestCaseProposalExpand"
                >
                  <v-icon>expand_more</v-icon>
                </v-btn>

                <v-btn
                  icon
                  flat
                  @click="templateTestCaseProposalCollapse"
                  v-if="isTemplateTestCaseProposalCollapse"
                >
                  <v-icon>expand_less</v-icon>
                </v-btn>
              </v-toolbar>
              <v-expansion-panel
                v-model="templateTestCaseProposalExpand"
                expand
              >
                <v-expansion-panel-content>
                  <template-test-case-proposal
                    ref="refTemplateTestCaseProposal"
                  ></template-test-case-proposal>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-toolbar card dense color="whitesmoke">
                <span> Checklist Template</span>
                <v-spacer></v-spacer>

                <v-btn
                  icon
                  flat
                  @click.native="checkListExpandClick"
                  v-if="ischeckListExpand"
                >
                  <v-icon>expand_more</v-icon>
                </v-btn>

                <v-btn
                  icon
                  flat
                  @click="checkListCollapse"
                  v-if="ischeckListCollapse"
                >
                  <v-icon>expand_less</v-icon>
                </v-btn>
              </v-toolbar>
              <v-expansion-panel v-model="checkListExpand" expand>
                <v-expansion-panel-content>
                  <check-list ref="refCheckList"></check-list>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="loader"
              outline
              @click.native="save"
            >
              Save
            </v-btn>
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="DeleteItem"
          >
          </delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="loading"
      default-sort="templateTestCaseId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.profileName }}</td>
          <td class="text-xs-left">{{ props.item.templateName }}</td>
          <td class="text-xs-left">{{ props.item.templateCode }}</td>
          <!--  <td class="text-xs-left">{{ props.item.companyName }}</td> -->
          <!-- <td class="text-xs-left">{{ props.item.departmentName }}</td> -->
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <!-- <td class="text-xs-left">{{ props.item.statusCode }}</td>
         <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>
-->
          <td class="justify-center layout px-0">
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-dialog v-model="attachdialog" persistent max-width="900px">
      <attachment
        title="Document"
        :screenID="screenId"
        :sessionID="sessionId"
        controller="Documents"
        action="GetDocumentsBySessionID"
        uploadAction="UploadDocument"
        deleteAction="DeleteDocument"
        downloadAction="DownLoadDocument"
        ref="refattach"
        :closeMethod="closeattach"
      ></attachment>
    </v-dialog>
  </div>
</template>
<script>
import { getDocumentProfilesByStatus } from "@/api/documentProfile";
import {
  getSearchData,
  createTemplateTestCase,
  updateTemplateTestCase,
  deleteTemplateTestCase,
  createTemplateTestCaseInherit,
} from "@/api/templateTestCase";
import { getPlants } from "@/api/nav";
import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import { getDepartmentsByPlant } from "@/api/department";
import search from "@/search";
import Util from "@/util";
import attachment from "@/components/Attachment/attachments";
import CheckList from "@/pages/templateTestCase/checkList";
import TemplateTestCaseLink from "@/pages/templateTestCase/templateTestCaseLink";
import TemplateTestCaseProposal from "@/pages/templateTestCase/TemplateTestCaseProposal";
export default {
  components: {
    attachment,
    TemplateTestCaseLink,
    CheckList,
    TemplateTestCaseProposal,
  },
  data: () => ({
    profileItems: [],
    totalRows: 0,
    loading: false,
    isTemplate: false,
    empsearch: "",
    sessionId: null,
    attachdialog: false,
    screenId: "TEMTECASE",
    uploadbtn: true,
    dialog: false,
    loader: false,
    gridloader: false,
    search: "",
    totalRows: 0,
    statusOptions: [],
    searchDepartment: "",
    timeout: 2000,
    y: "top",
    searchItemNo: "",
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
      {
        icon: "visibility",
        href: "#",
        title: "Inherit Template",
        click: (e) => {},
      },
    ],
    filterFields: [
      "Profile.Name",
      "TemplateName",
      "TemplateCode",
      //"Company.Description",
      "Department.Name",
      "StatusCode.CodeValue",
    ],

    headers: [
      { text: "Profile Name", value: "profileName", align: "left" },
      { text: "Template Name", value: "templateName", align: "left" },
      { text: "Template Code", value: "templateCode", align: "left" },
      // { text: "Company", value: "companyName", align: "left" },
      // { text: "Department", value: "departmentName", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      "Profile Name": "profileName",
      "Template Name": "templateName",
      "Template Code": "templateCode",
      //Company: "companyName",
      //Department: "departmentName",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    companyItems: [],
    departmentItems: [],
    editedItem: {
      valid: false,
      templateTestCaseId: -1,
      templateName: "",
      templateCode: "",
      companyId: null,
      departmentId: null,
      profileId: null,
      instruction: "",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 5,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      departmentIds: [],
      nameOfTemplate: "",
      link: "",
      locationName: "",
      naming: "",
      autoNumbering: "No",
      templateProfileId: null,
      templateProfileName: "",
      specificCase: "",
      versionNo: 1,
    },
    statusOptions: [
      { text: "Open", value: 5 },
      { text: "Close", value: 162 },
    ],
    inheritFlag: true,
    defaultItem: {
      valid: false,
      templateTestCaseId: -1,
      templateName: "",
      templateCode: "",
      companyId: null,
      departmentId: null,
      profileId: null,
      instruction: "<div> &nbsp; </div>",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 5,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionId: null,
      departmentIds: [],
      nameOfTemplate: "",
      link: "",
      locationName: "",
      naming: "",
      autoNumbering: "No",
      templateProfileId: null,
      templateProfileName: "",
      specificCase: "",
      versionNo: 1,
    },
    templateProfileItems: [],
    isRTERender: false,
    tinyConfig: Util.tinyconfig(150),
    isobjectiveExpand: false,
    isobjectiveCollapse: true,
    objectiveExpand: [],
    issubjectExpand: false,
    issubjectCollapse: true,
    subjectExpand: [],
    ischeckListExpand: false,
    ischeckListCollapse: true,
    checkListExpand: [],
    isTemplateTestCaseProposalExpand: false,
    isTemplateTestCaseProposalCollapse: true,
    templateTestCaseProposalExpand: [],
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Case Template"
        : "Edit Case Template";
    },
    templateRules() {
      return [(v) => !!v || "Template Name is required"];
    },
    ProfileRules() {
      return [(v) => !!v || "Template Code is required"];
    },
    profileNameRules() {
      return [(v) => !!v || "Profile is required"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    // this.initialize();
  },

  methods: {
    initialize() {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    loadDropdownList() {
      getPlants()
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getDocumentProfilesByStatus("")
        .then((response) => {
          this.profileItems = response.data;
          this.templateProfileItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key == 0) {
        this.editedItem = Object.assign({}, item);
        this.inheritFlag = true;
        this.editItem(item);
      } else if (key == 1) {
        this.onDeleteItem(item);
      } else if (key == 2) {
        this.inheritFlag = false;
        item.templateName="";
        this.editedItem = Object.assign({}, item);
        this.editItem(item);
      }
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    loadLines(status) {
      this.$refs.refTemplateTestCaseLink.templateTestCaseId =
        this.editedItem.templateTestCaseId;
      this.$refs.refTemplateTestCaseLink.enableAddButton = status;
      this.$refs.refTemplateTestCaseLink.initialize();
      this.$refs.refTemplateTestCaseLink.inheritFlag = this.inheritFlag;
      this.$refs.refCheckList.templateTestCaseId =
        this.editedItem.templateTestCaseId;
      this.$refs.refCheckList.enableAddButton = status;
      this.$refs.refCheckList.inheritFlag = this.inheritFlag;
      this.$refs.refCheckList.initialize();

      this.$refs.refTemplateTestCaseProposal.templateTestCaseId =
        this.editedItem.templateTestCaseId;
      this.$refs.refTemplateTestCaseProposal.enableAddButton = status;
      this.$refs.refTemplateTestCaseProposal.inheritFlag = this.inheritFlag;
      this.$refs.refTemplateTestCaseProposal.initialize();
    },
    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.autoNumbering = "No";
      this.dialog = true;
      this.uploadbtn = item.sessionId != null ? false : true;
      this.sessionId = item.sessionId;
      setTimeout(() => {
        this.isRTERender = true;
        // this.onChangeCompany(this.editedItem.companyId);
      }, 500);
      this.loadLines(false);
      this.objectiveCollapse();
      this.subjectExpandClick();
      this.checkListExpandClick();
      this.templateTestCaseProposalExpandClick();
    },
    removetDepartment(item) {
      const index = this.editedItem.departmentIds.indexOf(item.departmentId);
      if (index >= 0) this.editedItem.departmentIds.splice(index, 1);
    },
    selectDepartment() {
      this.searchDepartment = "";
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    onChangetemplateProfile(value) {
      this.editedItem.templateProfileName = "";
      var name = this.templateProfileItems.filter((o) => o.profileID == value);
      console.log(name);
      if (name.length > 0) {
        this.editedItem.templateProfileName = name[0]["name"];
      }
    },
    onChangeCompany(value) {
      getDepartmentsByPlant(value)
        .then((response) => {
          this.departmentItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "templateTestCaseId";
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetTemplateTestCase";
      search.pageCount = 1;
      this.pagination.page = 1;
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;

      if (args.sortBy == "templateName") {
        search.sortCol = "templateName";
      } else if (args.sortBy == "profileName") {
        search.sortCol = "Profile.Name";
      } else if (args.sortBy == "templateCode") {
        search.sortCol = "templateCode";
      } else if (args.sortBy == "companyName") {
        search.sortCol = "company.Description";
      } else if (args.sortBy == "departmentName") {
        search.sortCol = "department.Name";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetTemplateTestCase";
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    DeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.templateTestCaseId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);

        deleteTemplateTestCase(this.editedItem)
          .then((response) => {
            this.loader = false;
            this.selectedItem = null;
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              this.add();
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.loadPagingData();
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    objectiveExpandClick() {
      this.isobjectiveExpand = false;
      this.isobjectiveCollapse = true;
      this.objectiveExpand.push(true);
    },
    objectiveCollapse() {
      this.isobjectiveExpand = true;
      this.isobjectiveCollapse = false;
      this.objectiveExpand = [];
    },
    subjectExpandClick() {
      this.issubjectExpand = false;
      this.issubjectCollapse = true;
      this.subjectExpand.push(true);
    },
    subjectCollapse() {
      this.issubjectExpand = true;
      this.issubjectCollapse = false;
      this.subjectExpand = [];
    },
    checkListExpandClick() {
      this.ischeckListExpand = false;
      this.ischeckListCollapse = true;
      this.checkListExpand.push(true);
    },
    checkListCollapse() {
      this.ischeckListExpand = true;
      this.ischeckListCollapse = false;
      this.checkListExpand = [];
    },
    templateTestCaseProposalExpandClick() {
      this.isTemplateTestCaseProposalExpand = false;
      this.isTemplateTestCaseProposalCollapse = true;
      this.templateTestCaseProposalExpand.push(true);
    },
    templateTestCaseProposalCollapse() {
      this.isTemplateTestCaseProposalExpand = true;
      this.isTemplateTestCaseProposalCollapse = false;
      this.templateTestCaseProposalExpand = [];
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getSearchData(this.searchItem)
        .then((response) => {
          if (response.data.templateTestCaseId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.templateTestCaseId)
              .indexOf(response.data.templateTestCaseId);
            this.editedIndex = index;
            this.uploadbtn = this.editedItem.sessionId != null ? false : true;
            this.sessionId = response.data.sessionId;
            setTimeout(() => {
              this.isRTERender = true;
              //this.onChangeCompany(this.editedItem.companyId);
            }, 500);
            this.loadLines(false);
            this.objectiveCollapse();
            this.subjectExpandClick();
            this.checkListExpandClick();
            this.templateTestCaseProposalExpandClick();
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.templateTestCaseId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.templateTestCaseId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.templateTestCaseId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.templateTestCaseId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.loadDropdownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.uploadbtn = true;
      this.sessionId = null;
      this.departmentItems = [];
      setTimeout(() => {
        this.isRTERender = true;
        this.editedItem.instruction = "<div> &nbsp; </div>";
      }, 300);
      this.loadLines(true);
      this.objectiveCollapse();
      this.subjectExpandClick();
      this.checkListExpandClick();
      this.templateTestCaseProposalExpandClick();
    },
    close() {
      this.dialog = false;
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onAttachment(item) {
      this.sessionId = item.sessionId;
      this.fileAttachment();
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.inheritFlag == true) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updateTemplateTestCase(this.editedItem)
              .then((response) => {
                Object.assign(this.gridItems[index], response.data);
                this.editedItem = response.data;
                this.uploadbtn = response.data.sessionId != null ? false : true;
                this.sessionId = response.data.sessionId;
                this.loader = false;
                this.loadLines(false);
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserId = this.$store.state.auth.userId;

            createTemplateTestCase(this.editedItem)
              .then((response) => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.templateTestCaseId =
                  response.data.templateTestCaseId;
                let index = this.gridItems
                  .map((item) => item.templateTestCaseId)
                  .indexOf(response.data.templateTestCaseId);
                this.editedIndex = index;
                this.loadLines(false);
                this.uploadbtn = response.data.sessionId != null ? false : true;
                this.sessionId = response.data.sessionId;

                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        } else {
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          this.loader = true;
          createTemplateTestCaseInherit(this.editedItem)
            .then((response) => {
              if (response.data.isTemplateExits) {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", "Template Already Exits");
              } else {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.templateTestCaseId =
                  response.data.templateTestCaseId;
                this.editedItem = response.data;
                let index = this.gridItems
                  .map((item) => item.templateTestCaseId)
                  .indexOf(response.data.templateTestCaseId);
                this.editedIndex = index;
                this.inheritFlag = true;
                this.loadLines(false);
                this.uploadbtn = response.data.sessionId != null ? false : true;
                this.sessionId = response.data.sessionId;
                window.getApp.$emit(
                  "APP_API_SUCCESS",
                  "Inherit From Template Successfully"
                );
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>