<template>
  <div>
    <v-card-title>
      <span class="headline">Custom recurrence</span>
    </v-card-title>
    <div class="taskform--scrollbar">
      <v-card-text>
        <v-form ref="wikiRecurrenceform" lazy-validation>

          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs6 sm6>
                <v-menu ref="startDate" v-model="startDate" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                  <v-text-field slot="activator" :value="recurrenceDateFormated" label="Start Date" prepend-icon="event" readonly></v-text-field>
                  <v-date-picker v-model="editedItem.startDate" @input="getDate">

                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs6 sm6>
              </v-flex>
              <v-flex xs12 sm3>
                <br>
                <label>Repeat every</label>
              </v-flex>
              <v-flex xs12 sm3>
                <v-text-field label="Number" v-model="editedItem.repeatNos" type="number" min=1 prepend-icon="select_all"></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete label="Type" prepend-icon="notes" v-model="editedItem.typeId" :items="recurrenceTypeitems" item-text="codeValue" item-value="codeID" @change="changerepeatType" chips>
                </v-autocomplete>
              </v-flex>
              <v-flex v-if="checkboxStatus" xs12 sm12>
                <v-flex xs12 sm3>
                  <br>
                  <label>Repeat On</label>
                </v-flex>
                <v-layout row wrap>
                  <v-flex xs12 sm1 v-for="week in weekDay" :key="week.value">
                    <v-checkbox color="primary" :label="`${week.text}`" :value="`${week.value}`" v-model="editedItem.selectedDay" @change="getSelectedDay"></v-checkbox>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs12 sm12>
                <v-flex xs12 sm3>
                  <br>
                  <label>Ends</label>
                </v-flex>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete label="Type" prepend-icon="notes" v-model="editedItem.occurenceOptionId" :items="recurrenceOptionitems" item-text="codeValue" item-value="codeID" @change="occurenceOptionchange" chips>
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-flex>
              <v-flex xs6 v-if="recurrenceOnDateStatus" sm6>
                <v-menu ref="endDate" v-model="endDate" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                  <v-text-field slot="activator" :value="recurrenceonDateFormated" label="Recurrence On Date" prepend-icon="event" readonly></v-text-field>
                  <v-date-picker v-model="editedItem.endDate" @change="endDate = false">

                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex v-if="noOfOccurencesStatus" xs12 sm3>
                <v-text-field label="No Of Occurences" v-model="editedItem.noOfOccurences" type="number" min=1 prepend-icon="select_all"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
      </v-card-text>
    </div>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn color="primary darken-1" outline @click="reaccurancesave" v-show="releaseFlag">save</v-btn>
      <v-btn color="primary darken-1" outline @click="reaccuranceclose">Close</v-btn>
    </v-card-actions>
  </div>
</template>
<script>
  import moment from 'moment'
  import GlobalMessage from '@/constant'
  import { getCodeMasterByType } from '@/api/applicationUser';
  import { getTemplateTestCaseCheckListResponseRecurrence } from '@/api/templateTestCase';

  export default {
    data: () => ({
      releaseFlag: false,
      startDate: false,
      endDate: false,
      recurrenceTypeitems: [],
      recurrenceOptionitems: [],
      checkboxStatus: false,
      recurrenceOnDateStatus: false,
      noOfOccurencesStatus: false,
      templateTestCaseCheckListResponseId: -1,
      editedItem: {
        repeatNos: 1,
        typeId: 880,
        occurenceOptionId: 890,
        startDate: '',
        endDate: '',
        noOfOccurences: '',
        selectedDay: [],
      },
      defaultItem: {
        repeatNos: 1,
        typeId: 880,
        occurenceOptionId: 890,
        startDate: '',
        endDate: '',
        noOfOccurences: '',
        selectedDay: [],
      },
      weekDay: [
        { text: 'S', value: 0 },
        { text: 'M', value: 1 },
        { text: 'T', value: 2 },
        { text: 'W', value: 3 },
        { text: 'T', value: 4 },
        { text: 'F', value: 5 },
        { text: 'S', value: 6 },
      ],
    }),
    computed: {
      recurrenceDateFormated () {
        return moment(this.editedItem.startDate ? this.editedItem.startDate : new Date()).format(GlobalMessage.DATEFORMAT);

      },
      recurrenceonDateFormated () {
        return moment(this.editedItem.endDate ? this.editedItem.endDate : new Date()).format(GlobalMessage.DATEFORMAT);

      },
    },
    created () {
      this.getDate();
      this.initialize();
    },
    methods: {
      initialize () {
        getCodeMasterByType('RecurrenceType')
          .then(response => {
            this.recurrenceTypeitems = response.data;
            //this.subloader = false;
          })
          .catch(error => {
            //this.subloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getCodeMasterByType('RecurrenceOption')
          .then(response => {
            this.recurrenceOptionitems = response.data;
            //this.subloader = false;
          })
          .catch(error => {
            //this.subloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getTemplateTestCaseCheckListResponseRecurrence(this.templateTestCaseCheckListResponseId)
          .then(response => {
            if (response.data.length > 0) {
              this.editedItem = response.data[0];
              if (this.editedItem.startDate != null) {
                this.editedItem.startDate = moment(this.editedItem.startDate).format('YYYY-MM-DD');
              }
              if (this.editedItem.endDate != null) {
                this.editedItem.endDate = moment(this.editedItem.endDate).format('YYYY-MM-DD');
              }
              console.log(this.editedItem.endDate);
              this.editedItem.selectedDay = [];
              this.editedItem.selectedDay.push(this.editedItem.sunday ? '0' : '');
              this.editedItem.selectedDay.push(this.editedItem.monday ? '1' : '');
              this.editedItem.selectedDay.push(this.editedItem.tuesday ? '2' : '');
              this.editedItem.selectedDay.push(this.editedItem.wednesday ? '3' : '');
              this.editedItem.selectedDay.push(this.editedItem.thursday ? '4' : '');
              this.editedItem.selectedDay.push(this.editedItem.friday ? '5' : '');
              this.editedItem.selectedDay.push(this.editedItem.saturyday ? '6' : '');
            }
            else {
              this.editedItem = this.defaultItem;
              this.getDate();
            }
            this.changerepeatType();
            this.occurenceOptionchange();
            //this.subloader = false;
          })
          .catch(error => {
            //this.subloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      reaccuranceclose () {
        window.getApp.$emit('GO_RECURRENCE_CLOSE');
      },
      getDate () {
        if (this.editedItem.startDate == "") {
          this.editedItem.startDate = moment(new Date()).format('YYYY-MM-DD')
        }
        this.startDate = false;
        this.editedItem.selectedDay = [];
        const recurrenceDay = moment(moment(this.editedItem.startDate)).format('d').toLowerCase();
        this.editedItem.selectedDay.push(recurrenceDay);
        this.OnDateChange();
      },
      OnDateChange () {
        var currentDate = moment(this.editedItem.startDate);
        if (this.editedItem.typeId == 880) {
          this.editedItem.endDate = moment(currentDate).add(1, 'M').format('YYYY-MM-DD');
          this.editedItem.noOfOccurences = 30;
        }
        if (this.editedItem.typeId == 881) {
          this.editedItem.endDate = moment(currentDate).add(3, 'M').format('YYYY-MM-DD');
          this.editedItem.noOfOccurences = 13;
        }
        if (this.editedItem.typeId == 882) {
          this.editedItem.endDate = moment(currentDate).add(1, 'Y').format('YYYY-MM-DD');
          this.editedItem.noOfOccurences = 12;
        }
        if (this.editedItem.typeId == 883) {
          this.editedItem.endDate = moment(currentDate).add(5, 'Y').format('YYYY-MM-DD');
          this.editedItem.noOfOccurences = 5;
        }
      },
      getSelectedDay () {
        if (this.editedItem.selectedDay.length == 0) {
          this.getDate();
        }
      },
      changerepeatType () {
        this.OnDateChange();
        this.checkboxStatus = false;
        if (this.editedItem.typeId == 881) {
          this.checkboxStatus = true;
        }

      },

      occurenceOptionchange () {

        this.noOfOccurencesStatus = false;
        this.recurrenceOnDateStatus = false;
        if (this.editedItem.occurenceOptionId == 891) {
          this.recurrenceOnDateStatus = true;
        }
        if (this.editedItem.occurenceOptionId == 892) {
          this.noOfOccurencesStatus = true;
          this.recurrenceOnDateStatus = true;
        }
      },
      reaccurancesave () {
        window.getApp.$emit('GO_RECURRENCE_CLOSE');
      }
    },
  }
</script>
<style>
  .taskform--scrollbar {
    overflow: auto;
    height: calc(80vh - 110px);
  }
</style>
