<template>
  <div>
    <v-toolbar
      flat
      color="white"
    >
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-dialog
        v-model="dialog"
        max-width="600px"
      >
        <v-btn
          slot="activator"
          icon
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
<v-toolbar
            card
            dense
            color="transparent"
          >
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="close"
            >
              <v-icon>reply</v-icon>
            </v-btn>
            <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
           <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="saveAndClose"
            >
              <v-icon>library_add</v-icon>
            </v-btn>
             <span>Save and Close</span>
            </v-tooltip>
           <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="save"
            >
              <v-icon>save</v-icon>
            </v-btn>
            <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="add"
            >
              <v-icon>add</v-icon>
            </v-btn>
            <span>Create New Holiday</span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="deleterow"
            >
              <v-icon>delete</v-icon>
            </v-btn>
            <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="first"
            >
              <v-icon>first_page</v-icon>
            </v-btn>
            <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
               <v-btn
              icon
               slot="activator"
              @click.native="previous"
            >
            
              <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>
            <span>Previous</span>
            
            </v-tooltip>
            <v-tooltip bottom>
           <v-btn
              icon
               slot="activator"
              @click.native="next"
            >
              <v-icon>keyboard_arrow_right</v-icon>
            </v-btn>
            <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="last"
            >
              <v-icon>last_page</v-icon>
            </v-btn>
            <span>Last</span>
            </v-tooltip>
           
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form
              v-model="editedItem.valid"
              ref="form"
              lazy-validation
            >
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex
                    xs12
                    sm12
                  >
                    <v-autocomplete                    
                      hint="Atleast 3 Characters required"                      
                      :loading="loader"
                      chips                      
                      flat
                      placeholder="Select only suggested State"
                      :items="dropItems"
                      v-model="editedItem.stateID"
                      prepend-icon="assistant"
                      label="State"
                      color="blue"
                      item-text="name"
                      item-value="stateID"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm12
                  >
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                      :rules="editedItem.nameRules"
                      required
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                  <v-flex
                    xs12
                    sm12
                  >
                    <v-textarea
                      v-model="editedItem.description"
                      label="Description"
                      prepend-icon="description"
                    >
                      <div slot="label">
                        Description
                      </div>
                    </v-textarea>
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                    md4
                  >
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    >
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

         
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          >
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="holidayId:desc"
        :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template
        slot="items"
        slot-scope="props"
      >

        <td>{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.stateName }}</td>
        <td class="text-xs-left">{{ props.item.description }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>

        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="onDeleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        > Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar
      :top="y === 'top'"
      :timeout="timeout"
      v-model="snackbar"
    >
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import { getHolidays, getStates, getCountry, getHoliday, createHoliday, updateHoliday, deleteHoliday } from '@/api/holiday';
import GlobalMessage from '@/constant'
export default {
  components: {

  },
  data: () => ({
    dialog: false,
    loader: false,
    search: '',
    //    state: [
    //   { name: 'Johor', id: 1 },
    //   { name: 'KL', id: 2 }
    // ],
    statusOptions: [
      { text: 'Active', value: 1 },
      { text: 'InActive', value: 2 }
    ],

    snackbar: false,
    snackbarMessage: '',
    timeout: 2000,
    y: 'top',
    headers: [
      { text: 'Name', value: 'Name', align: 'left' },
      { text: 'State', value: 'StateID', align: 'left' },
      { text: 'Description', value: 'Description', align: 'left' },
      { text: 'Added By', value: 'Added', align: 'left' },
      { text: 'Modified By', value: 'Modifiedby', align: 'left' },
      { text: 'Modified Date', value: 'ModifiedDate', align: 'left' },
      { text: 'Actions', value: 'Name', sortable: false, align: 'left' }
    ],
    gridItems: [],
    dropItems: [],
     rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    stateDropItems: [],
    editedIndex: -1,
    editedStateIndex: -1,
    selectedItem: null,
    editedItem: {
      valid: false,
      holidayID: -1,
      name: '',
      nameRules: [v => !!v || 'Name is required'],
      description: '',
      stateID: '',
      stateName: '',
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      holidayID: -1,
      name: '',
      nameRules: [v => !!v || 'Name is required'],
      description: '',
      stateID: '',
      //state:null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    searchItem: { action: '', Id: null, searchString: 'searchString', },
    items: [
      { title: 'Clear Items' },
      { title: 'Post' },
      { title: 'Delete' },
      { title: 'Print' }
    ],
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Add Holiday' : 'Edit Holiday';
    }
  },

  watch: {
    dialog (val) {
      val || this.close();
    }
  },

  created () {
    this.initialize();
  },

  methods: {
    initialize () {
      this.loader = true;
      getHolidays('')
        .then(response1 => {
          this.gridItems = response1.data;
          this.loader = false;
          console.log(this.gridItems);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
      getStates('')
        .then(response2 => {
          this.dropItems = response2.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
        getCountry('')
        .then(response3 => {
          this.stateDropItems = response3.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
          this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem (item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);

      this.dialog = true;
    },
    onDeleteItem (item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem () {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteHoliday(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    close () {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose () {
      this.save();
      this.close();
    },
    toolfunction () {

      getHoliday(this.searchItem)
        .then(response => {

          if (response.data.holidayID != null) {

            this.editedItem = response.data;
            let index = this.gridItems.map(item => item.holidayID).indexOf(response.data.holidayID)
            this.editedIndex = index;

          }
          else {
           window.getApp.$emit('APP_API_SUCCESS', 'No More Record to view');
          }

        })
        .catch(error => {
          // this.loader = false;
         window.getApp.$emit('APP_API_ERROR', error);
        });
      // getState(this.searchItem)
      // .then(response => {

      //   if (response.data.stateId != null) {

      //     this.editedItem = response.data;
      //     //let Stateindex = this.dropItems.map(item => item.stateId).indexOf(response.data.stateId)
      //     //this.editedStateIndex = Stateindex;

      //   }
      //   else {
      //     this.snackbar = true;
      //     this.snackbarMessage = 'No more record to view.';
      //   }

      // })
      // .catch(() => {
      //   // this.loader = false;
      //   this.snackbar = true;
      //   this.snackbarMessage = 'Failed to fetch record.';
      // });
    },
    first () {
      this.searchItem.action = 'First';
      this.searchItem.Id = this.editedItem.holidayID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last () {
      this.searchItem.action = 'Last';
      this.searchItem.Id = this.editedItem.holidayID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous () {
      this.searchItem.action = 'Previous';
      this.searchItem.Id = this.editedItem.holidayID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next () {
      this.searchItem.action = 'Next';
      this.searchItem.Id = this.editedItem.holidayID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add () {
      console.log(createHoliday);
      this.editedItem.valid = false;
      this.editedItem.holidayID = -1;
      this.editedItem.name = '';
      this.editedItem.nameRules = [v => !!v || 'Name is required'];
      this.editedItem.description = '';
      this.editedItem.stateId = '';
      //this.editedItem.stateName='';
      this.editedItem.addedByUserId = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeId = 1;
      this.editedItem.statusCode = 'Active';
      this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
    },
    deleterow () {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem () {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      console.log(this.editedItem);
      //console.log(this.dropItems);
      deleteHoliday(this.editedItem)
        .then(() => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          this.gridItems.splice(index, 1);
         window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    close () {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save () {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateHoliday(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
             window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
            })
            .catch(error => {
              this.loader = false;
             window.getApp.$emit('APP_API_ERROR', error);
            });
        } else {
          this.editedItem.holidayID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          this.editedItem.statusCodeId = 1;
          createHoliday(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;             
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.holidayID).indexOf(response.data.holidayID)
              //let Stateindex = this.dropItems.map(item => item.stateId).indexOf(response.data.stateId)
              this.editedIndex = index;
              // this.editedStateIndex = Stateindex;
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
              console.log(editedIndex);
            })
            .catch(error => {
              this.loader = false;
             window.getApp.$emit('APP_API_ERROR', error);
            });
        }
        //this.close();
      }
    }
  }
};
</script>