<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="SunwardGroupCompany.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon>
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New SunwardGroupCompany</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="groupCompany--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.sunwardGroupCompanyName"
                        label="Company Name"
                        :rules="editedItem.nameRules"
                        required
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.companyCode"
                        label="Company Code"
                        prepend-icon="description"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete
                        label="Register Country"
                        prepend-icon="location_on"
                        v-model="editedItem.registeredCountryID"
                        :items="registerCountryItems"
                        item-text="value"
                        item-value="applicationMasterDetailId"
                        clearable
                        chips
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.companyRegistrationNo"
                        label="Company Registration No"
                        :rules="editedItem.nameRules"
                        required
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-menu
                        v-model="establishedDatemenu"
                        menu-props="closeOnContentClick"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="establishedDateFormated"
                          label="Company established Date"
                          prepend-icon="today"
                          clearable
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.companyEstablishedDate"
                          @change="establishedDatemenu = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.gstNo"
                        label="GST/VAT No"
                        prepend-icon="description"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete
                        label="Status"
                        prepend-icon="notes"
                        v-model="editedItem.statusCodeID"
                        :items="statusOptions"
                        item-value="codeID"
                        item-text="codeValue"
                        chips
                        flat
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="sunwardGroupCompanyID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.companyCode }}</td>
        <td class="text-xs-left">{{ props.item.sunwardGroupCompanyName }}</td>

        <td class="text-xs-left">{{ props.item.registeredCountry }}</td>
        <td class="text-xs-left">{{ props.item.companyRegistrationNo }}</td>
        <td class="text-xs-left">{{ props.item.companyEstablishedDate | formatDate}}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import {
  getSunwardGroupCompanys,
  getSunwardGroupCompany,
  createSunwardGroupCompany,
  updateSunwardGroupCompany,
  deleteSunwardGroupCompany
} from "@/api/sunwardGroupCompany";
import GlobalMessage from "@/constant";
import moment from "moment";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getCodeMasterByType } from "@/api/applicationUser";
export default {
  data: () => ({
    dialog: false,
    loader: false,
    establishedDatemenu: false,
    registerCountryItems: [],
    search: "",
    statusOptions: [],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "Company Code", value: "CompanyCode", align: "left" },
      { text: "Company Name", value: "sunwardGroupCompanyName", align: "left" },
      { text: "Registered Country", value: "registeredCountry", align: "left" },
      {
        text: "Registration No",
        value: "companyRegistrationNo",
        align: "left"
      },
      {
        text: "Established Date",
        value: "companyEstablishedDate",
        align: "left"
      },
      { text: "Status", value: "statusCode", align: "left" },

      { text: "Actions", value: "name", sortable: false, align: "left" }
    ],
    json_fields: {
      "Company Code": "CompanyCode",
      "Company Name": "sunwardGroupCompanyName",
      "Registered Country": "registeredCountry",
      "Registration No": "companyRegistrationNo",
      "Established Date": "companyEstablishedDate",
      Status: "statusCode"
    },
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    editedItem: {
      valid: false,
      sunwardGroupCompanyID: 0,
      sunwardGroupCompanyName: "",
      companyCode: "",
      registeredCountryID: null,
      companyRegistrationNo: "",
      companyEstablishedDate: new Date().toISOString().substr(0, 10),
      gstNo: "",
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1161,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      valid: false,
      sunwardGroupCompanyID: 0,
      sunwardGroupCompanyName: "",
      companyCode: "",
      registeredCountryID: null,
      companyRegistrationNo: "",
      companyEstablishedDate: new Date().toISOString().substr(0, 10),
      gstNo: "",
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1161,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Sunward Group Company"
        : "Edit Sunward Group Company";
    },
    establishedDateFormated() {
      return this.editedItem.companyEstablishedDate
        ? moment(this.editedItem.companyEstablishedDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.loader = true;
      getSunwardGroupCompanys("")
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(109)
        .then(response => {
          this.registerCountryItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("GroupCompanyStatus")
        .then(response => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.companyEstablishedDate = moment(item.companyEstablishedDate).format("YYYY-MM-DD");
      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteSunwardGroupCompany(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getSunwardGroupCompany(this.searchItem)
        .then(response => {
          if (response.data.sunwardGroupCompanyID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.sunwardGroupCompanyID)
              .indexOf(response.data.sunwardGroupCompanyID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.sunwardGroupCompanyID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.sunwardGroupCompanyID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.sunwardGroupCompanyID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.sunwardGroupCompanyID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.sunwardGroupCompanyID = -1;
      this.editedItem.sunwardGroupCompanyName = "";
      this.editedItem.nameRules = [v => !!v || "Name is required"];
      this.editedItem.companyCode = "";
      this.editedItem.companyRegistrationNo = "";
      this.editedItem.gstNo = "";
      this.editedItem.companyEstablishedDate = new Date()
        .toISOString()
        .substr(0, 10);
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 1161;
      
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      console.log(this.editedItem);
      deleteSunwardGroupCompany(this.editedItem)
        .then(() => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                 
          updateSunwardGroupCompany(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
         
          this.editedItem.addedByUserID = this.$store.state.auth.userId;         
          createSunwardGroupCompany(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.sunwardGroupCompanyID)
                .indexOf(response.data.sunwardGroupCompanyID);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        //this.close();
      }
    }
  }
};
</script>
 <style lang="stylus" scoped>
 .groupCompany--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 70px);
 }
</style>