<template>
  <div>
    <v-dynamic-form
      ref="refDynamicForms"
      @formSubmitclicked="initialize"
      :input-fields="inputs"
      :dynamicFormDataItem="dynamicFormDataItem"
      :isnoform="isnoform"
    />
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5"> Invalid FileProfile Type </v-card-title>
        <v-card-text
          >This fileprofiletype is invalid.please check it</v-card-text
        >
      </v-card>
    </v-dialog>
    <v-dialog v-model="successDialog" persistent max-width="400">
      <v-card>
        <v-card-title class="text-h5"> {{ recordSave }} </v-card-title>
        <v-card-text></v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
//import dynamicFormData from "@/components/dynamicFormData";
import dynamicForms from "@/components/dynamicForm";
import VDynamicForm from "@/components/VDynamicForm";

import {
  uploadFiles,
  getFileProfileSetupFormsById,
  insertFileProfileTypeDynamicForm,
  getValidFileProfileIds,
  getFileProfileTypeDynamicForm,
} from "@/api/profileForm";
export default {
  components: {
    VDynamicForm,
  },
  data: () => ({
    recordSave: "Record Saved Successfully",
    successDialog: false,
    loader: false,
    form: {},
    inputs: {},
    profileId: null,
    dialog: false,
    fromDatas: [],
    editedItem: {
      fileProfileTypeDynamicFormId: -1,
      fileProfileTypeId: null,
      dynamicFormData: "",
      documentId: null,
      profileNo: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
    },
    defaultItem: {
      fileProfileTypeDynamicFormId: -1,
      fileProfileTypeId: null,
      dynamicFormData: "",
      documentId: null,
      profileNo: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
    },
    validMesaage: false,
    fileProfileTypeId: null,
    userId: null,
    fileInputField: {
      fileProfileSetupFormId: -1,
      fileProfileTypeId: 1,
      controlTypeId: 3226,
      controlTypeValue: "Upload Document",
      defaultValue: "",
      isDefault: false,
      date: null,
      dropDownValues: [],
      controlType: "Fileinput",
      isMultiple: false,
      isRequired: false,
      placeholder: "",
      requiredMessage: null,
      propertyName: "fileinput_1",
      dropDownItems: [],
      statusCodeID: 1,
      statusCode: "Active",
      lastAccessDate: null,
      addedByUserID: null,
      addedByUser: "CRT Dev.",
      addedDate: "2022-02-03T16:13:40.097",
      modifiedByUser: "",
      modifiedByUserID: 1,
      modifiedDate: null,
      errormessage: null,
      isError: false,
      isRecordExist: false,
      companyName: null,
      documentID: null,
      saveVersionData: false,
      sessionId: null,
      screenID: null,
      referenceInfo: null,
      departmentCompanyName: null,
    },
    isnoform: true,
    documentId: null,
    attachfiles: new FormData(),
    dynamicFormDataItem: {},
    fileProfileTypeDynamicFormModel: {},
  }),
  mounted() {
    const urlParams = new URLSearchParams(window.location.search);
    this.fileProfileTypeId = urlParams.get("id");
    this.documentId = urlParams.get("documentId");
    this.userId = urlParams.get("userId");
    if (this.fileProfileTypeId != null) {
      this.validFileProfileIds();
    }
    var isnoforms = urlParams.get("isnoform");
    if (isnoforms != null) {
      this.isnoform = false;
    }
    else
    {
      if(this.documentId>0)
      {
        this.isnoform = false;
      }
    }
    console.log(this.isnoform);
  },
  created() {},
  methods: {
    validFileProfileIds() {
      this.loader = true;
      getValidFileProfileIds(this.fileProfileTypeId)
        .then((response) => {
          this.validMesaage = false;
          if (response.data.fileProfileTypeId > 0) {
            this.validMesaage = true;
            this.loadForms(response.data);
          } else {
            this.dialog = true;
          }
        })
        .catch(() => {
          this.loader = false;
        });
    },
    formDetails(documentID, filterProfileTypeId) {
      getFileProfileTypeDynamicForm(documentID, filterProfileTypeId)
        .then((response) => {
          this.formDataTexrEditorDispaly = {};
          this.formDataDispaly = {};
          this.editedItem.fileProfileTypeId =
            response.data.fileProfileTypeDynamicFormModel.fileProfileTypeId;
          this.editedItem.fileProfileTypeDynamicFormId =
            response.data.fileProfileTypeDynamicFormModel.fileProfileTypeDynamicFormId;
          this.editedItem.documentId =
            response.data.fileProfileTypeDynamicFormModel.documentId;
          this.editedItem.addedByUserID = this.userId;
          if (
            response.data.fileProfileTypeDynamicFormModel.dynamicFormData !=
            null
          ) {
            this.fileProfileTypeDynamicFormModel =
              response.data.fileProfileTypeDynamicFormModel;
            var json =
              response.data.fileProfileTypeDynamicFormModel.dynamicFormData;
            var obj = JSON.parse(json);
            delete obj["profileNoGenerate"];
            this.dynamicFormDataItem = Object.assign({}, obj);
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadForms(items) {
      this.loader = true;
      getFileProfileSetupFormsById(this.fileProfileTypeId)
        .then((response) => {
          var formData = response.data;
          if (this.documentId != null) {
            this.formDetails(this.documentId, this.fileProfileTypeId);
          } else {
            this.$refs.refDynamicForms.$refs.refprofileNoGenerate.profileId =
              items.profileId;
            this.$refs.refDynamicForms.$refs.refprofileNoGenerate.generateNumber();
            //formData.push(this.fileInputField);
          }
          this.inputs = dynamicForms.dynamicFormGenerate(formData);
          this.fromDatas.push("fileinput_1");
          /* Object.entries(this.inputs).forEach((index) => {
            if (index[1].type != undefined && index[1].type == "fileinput") {
              this.fromDatas.push(index[0]);
            }
          }); */
          this.loader = false;
        })
        .catch(() => {
          this.loader = false;
        });
    },
    deleteKeys(myObj, array) {
      for (let index = 0; index < array.length; index++) {
        delete myObj[array[index]];
      }
      return myObj;
    },
    initialize(value) {
      let editedItem = Object.assign({}, value);
      var file = value[this.fromDatas[0]];
      if (this.fileProfileTypeDynamicFormModel.dynamicFormData != undefined) {
        var proData = JSON.parse(
          this.fileProfileTypeDynamicFormModel.dynamicFormData
        );
        editedItem.profileNoGenerate = proData.profileNoGenerate;
      }
      this.editedItem.dynamicFormData = JSON.stringify(
        this.deleteKeys(editedItem, this.fromDatas)
      );
      if (file == undefined) {
        this.insertForm("Record Updated Successfully");
      } else {
        this.uploadFileData(file, value.profileNoGenerate);
      }
    },
    insertForm(saveType) {
      this.loader = true;
      this.editedItem.addedByUserID = this.userId;
      this.editedItem.fileProfileTypeId = this.fileProfileTypeId;
      this.editedItem.documentId= this.documentId;
      insertFileProfileTypeDynamicForm(this.editedItem)
        .then(() => {
          this.loader = false;
          this.attachfiles = new FormData();
          this.editedItem = Object.assign({}, this.defaultItem);
          this.recordSave = saveType;
          this.successDialog = true;
          setTimeout(() => {
            location.reload();
          }, 700);
        })
        .catch(() => {
          this.loader = false;
        });
    },
    uploadFileData(file, profileNoGenerate) {
      this.attachfiles.append("file", file, file.name);
      this.attachfiles.append("userId", this.userId);
      this.attachfiles.append("filterProfileTypeId", this.fileProfileTypeId);
      this.attachfiles.append(
        "plantID",
        profileNoGenerate.plantID > 0 ? profileNoGenerate.plantID : 0
      );
      this.attachfiles.append(
        "departmentId",
        profileNoGenerate.departmentId > 0 ? profileNoGenerate.departmentId : 0
      );
      this.attachfiles.append(
        "sectionId",
        profileNoGenerate.sectionId > 0 ? profileNoGenerate.sectionId : 0
      );
      this.attachfiles.append(
        "subSectionId",
        profileNoGenerate.subSectionId > 0 ? profileNoGenerate.subSectionId : 0
      );
      this.attachfiles.append(
        "divisionId",
        profileNoGenerate.divisionId > 0 ? profileNoGenerate.divisionId : 0
      );
      this.attachfiles.append("companyCode", profileNoGenerate.companyCode);
      this.attachfiles.append("sectionName", profileNoGenerate.sectionName);
      this.attachfiles.append(
        "subSectionName",
        profileNoGenerate.subSectionName
      );
      this.attachfiles.append(
        "departmentName",
        profileNoGenerate.departmentName
      );
      uploadFiles(this.attachfiles)
        .then((response) => {
           this.documentId = response.data;
          this.editedItem.documentId = response.data;
          this.insertForm("Record Saved Successfully");
          this.loader = false;
        })
        .catch(() => {
          this.loader = false;
        });
    },
  },
};
</script>

