<template>
  <Form :form="form">
    <v-row>
      <v-col cols="12" md="4">
        <TextField
          :label="'Email address'"
          v-model="formvalentin@whatdafox.com"
        />
      </v-col>
    </v-row>
  </Form>
</template>

<script>
import Form from "../../../components/Form/Form";
import TextField from "../../../components/Form/TextField";

export default {
  components: {
    Form,
    TextField,
  },
  data: () => ({
    form: {
      email: "",
    },
  }),
};
</script>