<template>
  <div>
    <v-flex sm12>
      <v-autocomplete
        v-model="selected"
        :items="filterControl"
        label="Filter"
        multiple
        chips
        item-text="name"
        @input="selectFilter()"
      ></v-autocomplete>
    </v-flex>
    <v-spacer></v-spacer>
    <div id="page-forms">
      <v-form
        v-model="searchData.valid"
        ref="searchform"
        lazy-validation
      >
        <v-layout
          row
          wrap
        >
          <v-flex
            lg6
            pa-1
            sm6
          >
            <v-textarea
              label="Title"
              auto-grow
              row-height="8"
              prepend-icon="people"
              v-model="searchData.title"
              clearable
            ></v-textarea>
          </v-flex>
          <v-flex
            lg6
            sm6
            pa-1
          >
            <v-textarea
              label="Short Description"
              auto-grow
              row-height="8"
              hide-details
              prepend-icon="people"
              v-model="searchData.shortDesc"
              clearable
            ></v-textarea>
          </v-flex>
        </v-layout>
        <v-layout
          row
          wrap
        >
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.Category"
          >

            <v-autocomplete
              chips
              prepend-icon="people"
              clearable
              label="Category"
              :items="category"
              item-text="name"
              item-value="categoryId"
              v-model="searchData.categoryID"
              :loading="subTaskloader"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.DocumentType"
          >

            <v-autocomplete
              v-model="searchData.documentTypeID"
              prepend-icon="people"
              chips
              clearable
              :loading="subTaskloader"
              label="Document Type"
              :items="documentType"
              item-text="name"
              item-value="wikiGroupId"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.Topic"
          >

            <v-autocomplete
              v-model="searchData.topicID"
              chips
              :loading="subTaskloader"
              label="Topic"
              clearable
              :items="topic"
              item-text="name"
              item-value="sectionId"
              prepend-icon="people"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.Language"
          >
            <v-autocomplete
              chips
              :loading="subTaskloader"
              prepend-icon="people"
              label="Language"
              clearable
              :items="language"
              item-text="name"
              item-value="languageId"
              v-model="searchData.languageID"
            ></v-autocomplete>
          </v-flex>
        </v-layout>

        <v-layout
          row
          wrap
        >
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.Tag"
          >

            <v-autocomplete
              chips
              prepend-icon="people"
              :loading="subTaskloader"
              label="Tag"
              clearable
              :items="tag"
              item-text="tag1"
              item-value="tagId"
              v-model="searchData.tagID"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.Owner"
          >

            <v-autocomplete
              prepend-icon="people"
              chips
              clearable
              :loading="subTaskloader"
              label="Owner"
              :items="owner"
              item-text="userName"
              item-value="userID"
              v-model="searchData.ownerID"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.Department"
          >

            <v-autocomplete
              prepend-icon="people"
              chips
              clearable
              label="Department"
              :loading="subTaskloader"
              :items="department"
              item-text="name"
              item-value="departmentId"
              v-model="searchData.departmentID"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.Trainer"
          >
            <v-autocomplete
              chips
              prepend-icon="people"
              :loading="subTaskloader"
              clearable
              label="Trainer"
              :items="trainer"
              item-text="userName"
              item-value="userID"
              v-model="searchData.trainerID"
            ></v-autocomplete>
          </v-flex>
        </v-layout>

        <v-layout
          row
          wrap
        >
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.PrimaryApproval"
          >

            <v-autocomplete
              prepend-icon="people"
              :loading="subTaskloader"
              chips
              clearable
              label="Primary Approval"
              :items="primaryApp"
              item-text="userName"
              item-value="userID"
              v-model="searchData.priApprovalID"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.NextApproval"
          >

            <v-autocomplete
              :loading="subTaskloader"
              prepend-icon="people"
              clearable
              chips
              label="Next Approval"
              :items="nextApp"
              item-text="userName"
              item-value="userID"
              v-model="searchData.nextApprovalID"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.TrainingMethod"
          >

            <v-autocomplete
              chips
              clearable
              :loading="subTaskloader"
              prepend-icon="people"
              label="Training Method"
              :items="trainingMethod"
              item-text="codeValue"
              item-value="codeID"
              v-model="searchData.trainingMethodID"
            ></v-autocomplete>
          </v-flex>
        </v-layout>

        <v-layout
          row
          wrap
        >
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.EffectiveDate"
          >
            <v-menu
              menu-props="closeOnContentClick"
              v-model="menuEffectiveDate"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Effective Date"
                prepend-icon="event"
                :value="searchData.effectiveDate|formatDate"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="searchData.effectiveDate"
                @input="menuEffectiveDate = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.ImplementationDate"
          >
            <v-menu
              menu-props="closeOnContentClick"
              v-model="menuImplementDate"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Implement Date"
                :value="searchData.implementDate|formatDate"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="searchData.implementDate"
                @input="menuImplementDate = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.ReviewDate"
          >
            <v-menu
              menu-props="closeOnContentClick"
              v-model="menuReviewDate"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Review Date"
                :value="searchData.reviewDate|formatDate"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="searchData.reviewDate"
                @input="menuReviewDate = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex
            lg3
            sm3
            pa-1
            v-if="displayControl.NextReviewDate"
          >
            <v-menu
              menu-props="closeOnContentClick"
              v-model="menuNextReviewDate"
              :nudge-right="40"
              lazy
              transition="scale-transition"
              offset-y
              full-width
              min-width="290px"
            >
              <v-text-field
                slot="activator"
                label="Next Review Date"
                prepend-icon="event"
                :value="searchData.nextReviewDate|formatDate"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="searchData.nextReviewDate"
                @input="menuNextReviewDate = false"
              ></v-date-picker>
            </v-menu>
          </v-flex>

        </v-layout>

        <v-layout
          row
          wrap
        >
          <v-flex
            lg4
            sm4
            pa-1
            v-if="displayControl.DocumentNo"
          >
            <v-text-field
              label="Document/Refrence No"
              prepend-icon="people"
              v-model="searchData.documentNo"
              clearable
            ></v-text-field>
          </v-flex>
          <v-flex
            lg4
            sm4
            pa-1
            v-if="displayControl.Status"
          >
            <v-autocomplete
              chips
              v-model="searchData.statusID"
              prepend-icon="people"
              clearable
              label="Status"
              :items="status"
              :loading="subTaskloader"
              item-text="codeValue"
              item-value="codeID"
            ></v-autocomplete>
          </v-flex>
          <v-flex
            lg4
            sm4
            pa-1
            v-if="displayControl.TierStatus"
          >
            <v-autocomplete
              clearable
              :items="status"
              item-text="codeValue"
              item-value="codeID"
              prepend-icon="people"
              chips
              :loading="subTaskloader"
              label="2nd Tier Status"
              v-model="searchData.secondStatusID"
            ></v-autocomplete>
          </v-flex>

        </v-layout>
        <!-- <label v-if="displayControl.Translate">Translate Method</label> -->
        <v-layout
          row
          wrap
        >

          <v-flex
            lg6
            sm6
            v-if="displayControl.Translate"
          >
            <v-layout
              row
              wrap
            >

              <v-checkbox
                v-model="searchData.isMalay"
                label="Translate: Malay"
                @change="tickTranslate()"
              ></v-checkbox>

              <v-checkbox
                v-model="searchData.isChinese"
                label="Translate: Chinese"
                @change="tickTranslate()"
              ></v-checkbox>

              <!-- <v-checkbox
                v-model="searchData.noTranslate"
                label="No Translate"
              ></v-checkbox> -->
            </v-layout>
          </v-flex>

          <v-flex
            lg6
            sm6
          >
            <v-layout
              row
              wrap
            >
              <v-checkbox
                v-model="searchData.isGMP"
                label="Is GMP"
                v-if="displayControl.GPMRelated"
              ></v-checkbox>

              <v-checkbox
                v-model="searchData.isSME"
                label="SME Required"
                v-if="displayControl.SMERequired"
              ></v-checkbox>

              <v-checkbox
                v-model="searchData.isTest"
                label="Test Required"
                v-if="displayControl.TestRequired"
              ></v-checkbox>
            </v-layout>
          </v-flex>
        </v-layout>

      </v-form>
    </div>
  </div>
</template>

<script>

export default {

  data: () => ({
    menuEffectiveDate: false,
    menuImplementDate: false,
    menuReviewDate: false,
    subTaskloader: false,
    menuNextReviewDate: false,
    selected: [],
    removeSelect: '',
    searchData: {
      valid: false,
      title: '',
      shortDesc: '',
      categoryID: '',
      documentTypeID: '',
      topicID: '',
      languageID: '',
      tagID: '',
      ownerID: '',
      departmentID: '',
      trainerID: '',
      priApprovalID: '',
      nextApprovalID: '',
      trainingMethodID: '',
      effectiveDate: '',
      implementDate: '',
      reviewDate: '',
      nextReviewDate: '',
      documentNo: '',
      statusID: '',
      secondStatusID: '',
      isMalay: '',
      isChinese: '',
      noTranslate: true,
      isGMP: '',
      isSME: '',
      isTest: '',
      byUserID: '',
    },
    displayControl: [],
    filterControl: [
      { name: 'Category' },
      { name: 'DocumentType' },
      { name: 'Topic' },
      { name: 'Language' },
      { name: 'Tag' },
      { name: 'Owner' },
      { name: 'Department' },
      { name: 'Trainer' },
      { name: 'PrimaryApproval' },
      { name: 'NextApproval' },
      { name: 'TrainingMethod' },
      { name: 'EffectiveDate' },
      { name: 'ImplementationDate' },
      { name: 'ReviewDate' },
      { name: 'NextReviewDate' },
      { name: 'DocumentNo' },
      { name: 'Status' },
      { name: 'TierStatus' },
      { name: 'Translate' },
      { name: 'GPMRelated' },
      { name: 'SMERequired' },
      { name: 'TestRequired' },
    ],
    category: [],
    department: [],
    plant: [],
    language: [],
    tag: [],
    topic: [],
    documentType: [],
    trainingMethod: [],
    status: [],
    trainer: [],
    owner: [],
    primaryApp: [],
    nextApp: [],
    searchResult: [],

  }),
  computed: {
    computeHeight () {
      return {
        height: this.height || ''
      };
    },

  },
  watch: {
    selected (newSelectedArray, oldSelectedArray) {
      let newdata = newSelectedArray;
      let old = oldSelectedArray;
      let diff = '';

      old.forEach(element => {
        if (!newdata.includes(element)) {
          diff = element;
          if (diff != null) {
            this.$set(this.displayControl, diff, false);
          }
        }
      })
    },
    searchData (newValue) {
      // alert(newValue);
    }
  },
  created () {
    //this.bindDropdown();
    this.searchData.byUserID = this.$store.state.auth.userId;
  },
  methods: {
    selectFilter () {
      const val = this.selected;
      val.forEach(element => {
        this.$set(this.displayControl, element, true);
      });
    },

    tickTranslate () {
      if (this.searchData.isMalay == true || this.searchData.isChinese == true) {
        this.searchData.noTranslate = false;
      }
      else {
        this.searchData.noTranslate = true;
      }
    }
  }
}
</script>
 
