<template>
  <div id="page-forms">
    <v-tabs color="transparent" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="#tab-1" color="white">
        Range of calibration by manufacturer
        <v-icon>developer_board</v-icon>
      </v-tab>
      <v-tab key="#tab-2" color="white">
        Sunward Acceptable Calibration Information
        <v-icon>apps</v-icon>
      </v-tab>
      <v-tab key="#tab-3" color="white">
        Calibration Expiration Calculation
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tab key="#tab-4" color="white">
        SOP and WI
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tabs-items>
        <v-tab-item key="#tab-1">
          <v-card flat>
            <rangeof-calibrationbymanufacturer ref="rangeofcalibration"></rangeof-calibrationbymanufacturer>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-2">
          <v-card flat>
            <sunwardacceptable-calibrationinfo ref="sunwardacceptablecalibration"></sunwardacceptable-calibrationinfo>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-3">
          <v-card flat>
            <expiration-calculation ref="expirationcalculation"></expiration-calculation>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-4">
          <v-card flat>
            <device-cataloguesopandwi ref="devicecataloguesopandwi"></device-cataloguesopandwi>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
 <script>
import RangeofCalibrationbymanufacturer from "@/pages/assetmanagement/devicecatalogue/calibrationserviceinformation/rangeofcalibrationbymanufacturer";
import ExpirationCalculation from "@/pages/assetmanagement/devicecatalogue/calibrationserviceinformation/expirationcalculation";
import SunwardacceptableCalibrationinfo from "@/pages/assetmanagement/devicecatalogue/calibrationserviceinformation/sunwardacceptablecalibrationinfo";
import DeviceCataloguesopandwi from "@/pages/assetmanagement/devicecatalogue/devicecataloguesopandwi";

export default {
  components: {
    RangeofCalibrationbymanufacturer,
    DeviceCataloguesopandwi,
    ExpirationCalculation,
    SunwardacceptableCalibrationinfo
  },

  data: () => ({   
   
    valid: true,
    loader: false,

    form: {
      valid: false,
     
    }
  }),
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },
  created() {
    this.initialize();
  },
  methods: {
   
    initialize() {},
    authUser: function() {
      this.$router.push({ path: "/" });
    },
   
  }
};
</script>