<template>
  <div id="page-forms">
    <v-form ref="calculationform" lazy-validation>
      <v-container fluid>
        <v-layout row wrap>         
         
          <v-flex lg4 sm4>
            <v-text-field
              label="Months"
              prepend-icon="blur_linear"            
              v-model="form.months"
              required
              :rules="form.requiredfield"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </div>
</template>
 <script>

export default {
  components: {},

  data: () => ({
     
    valid: true,
    loader: false,

    form: {
      valid: false, 
      calibrationExpireCalculationID: -1,
      months: 1,
      calibrationServiceInformationID: null,         
      requiredfield: [v => !!v || "This is required field"]
    }
  }),
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },
  created() {
    this.initialize();
  },
  methods: {
   
    initialize() {
      
        
    },
    authUser: function() {
      this.$router.push({ path: "/" });
    },
    
  }
};
</script>