<template>
  <div id="page-forms">
    <v-tabs color="transparent" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="#tab-1" color="white">
        General
        <v-icon>developer_board</v-icon>
      </v-tab>
      <v-tab key="#tab-2" color="white">
        SOP and WI
        <v-icon>apps</v-icon>
      </v-tab>
      <v-tab key="#tab-3" color="white">
        Calibration Service Info
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tab key="#tab-4" color="white">
        Calibration Vendor Information
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tabs-items>
        <v-tab-item key="#tab-1">
          <v-card flat>
            <device-catalogue-general ref="cataloguegeneral"></device-catalogue-general>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-2">
          <v-card flat>
            <device-cataloguesopandwi ref="cataloguesopandwi"></device-cataloguesopandwi>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-3">
          <v-card flat>
            <calibration-service-information ref="calibrationserviceinformation"></calibration-service-information>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-4">
          <v-card flat>
            <calibration-vendor-information ref="calibrationvendorinformation"></calibration-vendor-information>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
 <script>
import DeviceCatalogueGeneral from "@/pages/assetmanagement/devicecatalogue/devicecataloguegeneral";
import DeviceCataloguesopandwi from "@/pages/assetmanagement/devicecatalogue/devicecataloguesopandwi";
import CalibrationServiceInformation from "@/pages/assetmanagement/devicecatalogue/calibrationserviceinformation/calibrationserviceinformation";
import CalibrationVendorInformation from "@/pages/assetmanagement/devicecatalogue/calibrationvendorinformation/calibrationvendorinformation";

export default {
  components: {
    DeviceCatalogueGeneral,
    DeviceCataloguesopandwi,
    CalibrationServiceInformation,
    CalibrationVendorInformation
  },

  data: () => ({   
   
    valid: true,
    loader: false,

    form: {
      valid: false,
     
    }
  }),
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },
  
  methods: {
  
    initialize() {},
    authUser: function() {
      this.$router.push({ path: "/" });
    },
   
  }
};
</script>