<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="deviceCatalogue.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  
      <v-btn icon @click.native="openDialog">
        <v-icon>add_circle_outline</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save And Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Event</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>

              <span>Delete</span>
            </v-tooltip>
                      
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
           <vue-perfect-scrollbar class="deviceform--scrollbar">
          <v-card-text>
            <device-catalogue-entry ref="deviceCatalogueEntryForm" v-bind="dialogData"></device-catalogue-entry>
          </v-card-text>

          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
          </vue-perfect-scrollbar>
          <v-card-actions>
              <v-spacer></v-spacer>
                <v-btn
              color="primary darken-1"
              outline
              @click="save"
            >Save</v-btn>
             <v-btn
              color="primary darken-1"
              outline
              @click.native="add"
            >Add</v-btn>
              <v-btn
              color="primary darken-1"
              outline
              @click="deleterow"
            >Delete</v-btn>
             <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
            >Close</v-btn>
           </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="deviceCatalogMasterID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
       
        <td class="text-xs-left">{{ props.item.deviceName }}</td>
        <td class="text-xs-left">{{ props.item.modelName }}</td>
        <td class="text-xs-left">{{ props.item.cataloglink }}</td>
        <td class="text-xs-left">{{ props.item.status }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import DeviceCatalogueEntry from "@/pages/assetmanagement/devicecatalogue/devicecatalogueentry";
import {getDeviceCatalogMasters, getDeviceCatalogMaster, createDeviceCatalogMaster, updateDeviceCatalogMaster, deleteDeviceCatalogMaster, getCalibrationTypes, getDeviceCatalogByID} from "@/api/deviceCatalogMaster";
  import {getSourceLists } from '@/api/sourceList';
import GlobalMessage from "@/constant";
export default {
  components: {
    DeviceCatalogueEntry
  },
  data: () => ({
    dialog: false,
    dialogData: null,
    loader: false,
    deleteloader: false,
    search: "",

    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
    
      { text: "Device Name", value: "deviceName", align: "left" },
      { text: "Model Name", value: "modelName", align: "left" },
      { text: "Catalogue Link", value: "cataloglink", align: "left" },
      { text: "Status", value: "status", align: "left" },
      // { text: 'BatchSize', value: 'batchSize', align: 'left' },
      { text: "Actions", value: "name", sortable: false, align: "left" }
    ],
    json_fields: {
      'Device Name': 'deviceName',
      'Model Name': 'modelName',
      'Catalogue Link': 'cataloglink',
      'Status': 'status'
    },
    gridItems: [],   
    editedIndex: -1,
    selectedItem: null,   
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    editedItem: {
      date: new Date().toISOString().substr(0, 10),
      loginUser: "Arun",
      isLogin: "yes-1",
      valid: false,
      deviceCatalogMasterID: -1,
      deviceGroupListID: "",
      deviceName: "",
      modelName: "",
      manufacturerName : "",
      deviceInstructionTypeList: [],
      sunwardAssetListItesms: [],
      acceptableCalibrationInfoList: [],
      calibrationVendorInfoList: [],
      calibrationInstructionTypeList: [],
      rangeCalibrationList: [],
      calibrationExpireCal: new FormData(),
      sourceListID : null,
      calibrationTypeName : "",
      calibrationTypeID: null,
      cataloglink: "",
      status: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      requiredfield: [v => !!v || "This is required field"]
    },
    defaultItem: {
      date: new Date().toISOString().substr(0, 10),
      loginUser: "Arun",
      isLogin: "yes-1",
      valid: false,
      deviceCatalogMasterID: -1,
      deviceName: "",
      modelName: "",
      calibrationTypeID: null,
       manufacturerName : "",
      sourceListID : null,
      deviceGroupListID: "",
      calibrationTypeName : "",
      cataloglink: "",
      status: "",
      deviceInstructionTypeList: [],
      sunwardAssetListItesms: [],
      acceptableCalibrationInfoList: [],
      calibrationVendorInfoList: [],
      calibrationInstructionTypeList: [],
      rangeCalibrationList: [],
      calibrationExpireCal: new FormData(),
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      requiredfield: [v => !!v || "This is required field"]
    },
   
   
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.loader = true;
       getDeviceCatalogMasters('')
        .then(response => {
          this.gridItems = response.data;  
          this.loader = false;
          
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
       this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    editItem(item) {
      this.selectedItem = item;
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.date = new Date().toISOString().substr(0, 10);  
      this.dialog = true;    
       getDeviceCatalogByID(this.editedItem.deviceCatalogMasterID)
        .then(response => {   
       
      if(response.data!=undefined){
        console.log(response.data);
      this.$refs.deviceCatalogueEntryForm.$refs.cataloguesopandwi.gridItems = response.data.deviceInstructionTypeList;
      this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.rangeofcalibration.gridItems = response.data.rangeCalibrationList;      
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.sunwardacceptablecalibration.gridItems= response.data.acceptableCalibrationInfoList;
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.expirationcalculation.form = response.data.calibrationExpireCal;
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.devicecataloguesopandwi.gridItems = response.data.calibrationInstructionTypeList;
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationvendorinformation.gridItems = response.data.calibrationVendorInfoList;
       this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.deviceGroupListID = response.data.deviceGroupListID;
       this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.calibrationTypeID =  response.data.calibrationTypeID;
        this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.modelName = response.data.modelName;
         this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.sourceListID = response.data.sourceListID;
          this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.cataloglink = response.data.cataloglink;
          this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.statusCodeID = response.data.statusCodeID;
                       }
           });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteDeviceCatalogMaster(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
          //window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  
    saveAndClose() {
      this.save();
      this.close();
    },     
    openDialog() {
      this.add();
      this.dialog = true;
    },
    add() {
      this.editedItem.deviceCatalogMasterID = -1;
      this.editedItem.valid = false;
      this.editedItem.date = new Date().toISOString().substr(0, 10);
      this.editedItem.loginUser = "Arun";
      this.editedItem.isLogin = "yes-1";
      this.editedItem.deviceName = "";
      this.editedItem.modelName = "";
      this.editedItem.cataloglink = "";
      this.editedItem.sourceListID = null;
      this.editedItem.manufacturerName = "";
      this.editedItem.calibrationTypeName = "";
      this.editedItem.status = "";
      this.editedItem.deviceInstructionTypeList = [];
      this.editedItem.sunwardAssetListItesms =[];
      this.editedItem.calibrationVendorInfoList = [];
      this.editedItem.calibrationInstructionTypeList = [];
      this.editedItem.rangeCalibrationList = [];
      this.editedItem.calibrationExpireCal = new FormData();
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = null;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = new Date();     
      this.$refs.deviceCatalogueEntryForm.$refs.cataloguesopandwi.gridItems = [];
      this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.rangeofcalibration.gridItems = [];      
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.sunwardacceptablecalibration.gridItems= [];
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.expirationcalculation.form = new FormData();
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.devicecataloguesopandwi.gridItems = [];
       this.$refs.deviceCatalogueEntryForm.$refs.calibrationvendorinformation.gridItems = [];
       this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.deviceGroupListID = null;
       this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.calibrationTypeID =  null;
        this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.modelName = "";
         this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.sourceListID = null;
          this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.cataloglink = "";
          this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.statusCodeID = null;
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    formDeleteItem() {
       
      this.$refs.formdeleteConfirmationDialog.close();
      this.deleteloader = true;
      let index = this.editedIndex;
       deleteDeviceCatalogMaster(this.selectedItem)
        .then(() => {
         
          this.loader = false;
           this.deleteloader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          this.dialog = false;
         
        })
        .catch(error => {
          this.loader = false;
          //window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false; 
      this.loader = false;    
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
       this.editedItem.deviceInstructionTypeList = this.$refs.deviceCatalogueEntryForm.$refs.cataloguesopandwi.gridItems;
       this.editedItem.rangeCalibrationList = this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.rangeofcalibration.gridItems;      
       this.editedItem.acceptableCalibrationInfoList = this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.sunwardacceptablecalibration.gridItems;
       this.editedItem.calibrationExpireCal = this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.expirationcalculation.form;
       this.editedItem.calibrationInstructionTypeList = this.$refs.deviceCatalogueEntryForm.$refs.calibrationserviceinformation.$refs.devicecataloguesopandwi.gridItems;
       this.editedItem.calibrationVendorInfoList = this.$refs.deviceCatalogueEntryForm.$refs.calibrationvendorinformation.gridItems;
       this.editedItem.deviceGroupListID = this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.deviceGroupListID;
       this.editedItem.calibrationTypeID =  this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.calibrationTypeID;
        this.editedItem.modelName =  this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.modelName;
         this.editedItem.sourceListID =  this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.sourceListID;
          this.editedItem.cataloglink =  this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.cataloglink;
           this.editedItem.statusCodeID =  this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.form.statusCodeID;
       
              if (this.$refs.deviceCatalogueEntryForm.$refs.cataloguegeneral.$refs.generalentryform.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          console.log(this.editedItem);
          updateDeviceCatalogMaster(this.editedItem)
            .then(response => {
              if(response.data!=undefined){
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.deviceCatalogMasterID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();  
           
            createDeviceCatalogMaster(this.editedItem)
            .then(response => {
              if(response.data!=undefined){
              this.gridItems.push(response.data);
              this.editedItem = response.data;
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
               setTimeout(() => {
                      this.editedItem = Object.assign({}, this.defaultItem);
                     this.editedIndex = -1;
                     this.add();
                }, 500);
              
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
              }
    }
  }
};
</script>
<style>
.deviceform--scrollbar {
  height: calc(115vh - 100px - 100px);
}
</style>