<template>
  <div style="padding: 10px">
    <v-toolbar class="elevation-0 transparent media-toolbar">
      <v-tooltip bottom>
        <v-btn color="primary darken-1" slot="activator" outline :loading="loader" @click="sendError">
          <v-icon color="primary">send</v-icon>
          Send Error
        </v-btn>

        <span>Send Error Report.</span>
      </v-tooltip>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn
          icon=""
          color="primary"
          slot="activator"
          flat
          @click="closeerror"
        >
          <v-icon icon> cancel </v-icon>
        </v-btn>
        <span>Go Back </span>
      </v-tooltip>
    </v-toolbar>
    <h3>{{ errorRoot }}</h3>
    <div style="padding: 35px">{{ errorTrace }}</div>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import { postError } from "@/api/applicationUser";

export default {
  components: {},
  data: () => ({
    loader:false,
    errorTrace: "",
    errorMessage: "",
    errorRoot: "",
    errorDetails: {
      errorDetail: "",
      message: "",
    },
  }),
  computed: {},

  created() {
    //this.initialize();
    window.getApp.$on("APP_API_ROOT", (errorRoot) => {
      this.errorRoot = errorRoot;
    });
    window.getApp.$on("APP_API_ERROR", (error) => {
      this.errorMessage = error;
    });
    window.getApp.$on("APP_API_ERRORTRACE", (errorTrace) => {
      this.errorTrace = errorTrace;
    });
  },

  methods: {
    closeerror() {
      window.getApp.$emit("APP_Error");
    },

    sendError() {
      this.errorDetails.message = this.errorRoot + "\n" + this.errorMessage;
      this.errorDetails.errorDetail = this.errorTrace;
      this.loader=true;
      postError(this.errorDetails)
        .then((response) => {
          if (response.data == true) {
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Error Trace sent successfully!!!"
            );
          }
          this.loader=false;
        })
        .catch((error) => {
          this.loader=false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    initialize() {
      //alert('error');
      console.log(this.errorMessage);
      // this.errorTrace = this.$cookies.get('errorTrace');
      // this.errorMessage = this.$cookies.get('errormessage');
      // this.errorRoot = this.$cookies.get('erroRoot');
    },
  },
};
</script>
 
<style scoped lang="css">
h1 {
  font-size: 150px;
  line-height: 150px;
  font-weight: 700;
  color: #252932;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px,
    rgba(61, 61, 61, 0.3) 3px 3px;
}
</style>