<template>
  <v-app id="paderloderPdf">
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-layout>
          <v-flex xs6 sm12>
            <div class="text-md-center">
              <img src="/static/make-animated-logo-loader-for-your-website.gif" aspect-ratio="1" class="grey lighten-2">
            </div>
          </v-flex>
        </v-layout>
        </div>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
  export default {
    methods: {

    }
  };
</script>
<style scoped lang="css">
  h1 {
    font-size: 150px;
    line-height: 150px;
    font-weight: 700;
    color: #252932;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px,
      rgba(61, 61, 61, 0.3) 3px 3px;
  }
</style>
