<template>
  <div id="themeSetting">
    <v-toolbar color="primary" dark>
      <v-toolbar-title> Theme Settings </v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-layout column>
        <v-flex>
          <v-subheader class="px-1 my-2"> Paging </v-subheader>
          <div class="color-option">
            <v-autocomplete
              flat
              chips
              label="Page Row"
              @change="pageSelect"
              :items="pageItems"
              v-model="pageData.pageSize"
            >
            </v-autocomplete>
          </div>
        </v-flex>
        <v-flex v-show="titleCaptionView">
          <v-subheader class="px-1 my-2"> Title Caption </v-subheader>
          <div class="color-option">
            <v-flex xs12 sm12>
              <v-textarea
                v-model="pageData.titleCaption"
                label="Title Caption"
                prepend-icon="select_all"
              ></v-textarea>
            </v-flex>
          </div>
        </v-flex>
        <v-flex v-show="folderPermissionSettingView">
          <v-checkbox
            color="primary"
            v-model="pageData.isEnableFolderPermission"
            label="Enable Folder Permission"
            @change="changeFolderPermission"
          ></v-checkbox>
        </v-flex>
        <v-flex>
          <v-subheader class="px-1 my-2"> Color Option </v-subheader>
          <div class="color-option">
            <v-layout wrap>
              <label
                class="color-option--label flex xs6 pa-1"
                v-for="(option, index) in themeColorOptions"
                :key="index"
              >
                <input
                  type="radio"
                  name="color"
                  v-bind:value="option.key"
                  v-model="themeColor"
                />
                <span class="color-option--item bg">
                  <span class="overlay">
                    <span class="material-icons">check</span>
                  </span>
                  <span
                    class="color-option--item--header sideNav"
                    :class="option.value.sideNav"
                  ></span>
                  <span
                    class="color-option--item--header mainNav"
                    :class="option.value.mainNav"
                  ></span>
                  <span class="sideMenu" :class="option.value.sideManu"></span>
                </span>
              </label>
            </v-layout>
          </div>
          <div class="theme-options">
            <v-subheader class="px-1 my-2"> Sidebar Option </v-subheader>
            <v-divider></v-divider>
            <div class="my-3">
              <v-btn-toggle v-model="sideBarOption">
                <v-btn flat value="dark"> Dark </v-btn>
                <v-btn flat value="light"> Light </v-btn>
              </v-btn-toggle>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import colors from "vuetify/es5/util/colors";
import {
  createPaging,
  updateUserSettings,
  getUserSettings,
} from "@/api/notification";
import { setTheme } from "@/util/auth";
export default {
  data() {
    return {
      themeColor: "indigo",
      sideBarOption: "indigo",
      colors: colors,
      pageItems: [10, 20, 30, 40, 50, 100],
      titleCaption: "",
      titleCaptionView: false,
      folderPermissionSettingView: false,
      isEnableFolderPermission: false,
      pageData: {
        userSettingsID: -1,
        userID: null,
        pageSize: 20,
        searchQuery: "",
        userTheme: "",
        titleCaption: "",
        isEnableFolderPermission: false,
      },
    };
  },
  created() {
    this.pageData.pageSize = this.$store.state.auth.pageSize;
    if (
      this.$store.state.auth != undefined &&
      this.$store.state.auth.userTheme != undefined
    ) {
      this.themeColor = this.$store.state.auth.userTheme;
    } else {
      this.themeColor = "teal";
    }
    let id = parseInt(this.$store.state.auth.userId);
    if (!isNaN(id)) {
      getUserSettings(id)
        .then((response) => {
          if (response.data != undefined) {
            this.pageData = response.data;
            if (id == 47 || id == 1) {
              this.titleCaptionView = true;
              this.pageData.titleCaption = response.data.titleCaption;
              this.folderPermissionSettingView = true;
            } else {
              this.titleCaptionView = false;
              this.folderPermissionSettingView = false;
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    }
  },
  computed: {
    themeColorOptions() {
      return [
        {
          key: "blue",
          value: {
            sideNav: "blue",
            mainNav: "blue",
            sideManu: "white",
          },
        },
        {
          key: "grey",
          value: {
            sideNav: "grey",
            mainNav: "grey",
            sideManu: "lighten5",
          },
        },
        {
          key: "brown",
          value: {
            sideNav: "brown",
            mainNav: "brown",
            sideManu: "white",
          },
        },
        {
          key: "teal",
          value: {
            sideNav: "teal",
            mainNav: "teal",
            sideManu: "white",
          },
        },
        {
          key: "red",
          value: {
            sideNav: "red",
            mainNav: "red",
            sideManu: "white",
          },
        },
        {
          key: "orange",
          value: {
            sideNav: "orange",
            mainNav: "orange",
            sideManu: "white",
          },
        },
        {
          key: "purple",
          value: {
            sideNav: "purple",
            mainNav: "purple",
            sideManu: "white",
          },
        },
        {
          key: "indigo",
          value: {
            sideNav: "indigo",
            mainNav: "indigo",
            sideManu: "white",
          },
        },
        {
          key: "cyan",
          value: {
            sideNav: "cyan",
            mainNav: "cyan",
            sideManu: "white",
          },
        },
        {
          key: "pink",
          value: {
            sideNav: "pink",
            mainNav: "pink",
            sideManu: "white",
          },
        },
        {
          key: "green",
          value: {
            sideNav: "green",
            mainNav: "green",
            sideManu: "white",
          },
        },
      ];
    },
  },
  watch: {
    themeColor: {
      handler(val) {
        this.pageData.userTheme = val;
        this.$vuetify.theme.primary = this.colors[val].base;
        this.pageSelect();
      },
      immediate: true,
    },
    sideBarOption: {
      handler(val) {
        this.$vuetify.dark = val === "dark";
      },
      immediate: true,
    },
  },
  methods: {
    pageSelect() {
      this.pageData.userID = this.$store.state.auth.userId;
      if (
        this.$store.state.auth.userId != undefined &&
        this.$store.state.auth.userId > 0
      ) {
        //this.pageData.userTheme = this.$vuetify.theme.primary;
        createPaging(this.pageData)
          .then((response) => {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch((error) => {
            this.loader = false;
            // window.getApp.$emit('APP_API_ERROR', error);
          });
      }
    },
    changeFolderPermission() {
      this.pageData.userID = this.$store.state.auth.userId;
      if (
        this.$store.state.auth.userId != undefined &&
        this.$store.state.auth.userId > 0
      ) {
        //this.pageData.userTheme = this.$vuetify.theme.primary;
        updateUserSettings(this.pageData)
          .then((response) => {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch((error) => {
            this.loader = false;
            // window.getApp.$emit('APP_API_ERROR', error);
          });
      }
    },
  },
};
</script>
<style lang="stylus" scoped>
.color-option {
  &--label {
    position: relative;
    display: block;
    cursor: pointer;

    & input[type='radio'] {
      display: none;

      &+span {
        position: relative;

        &>.overlay {
          display: none;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
          text-align: center;
          line-height: 30px;
          color: #fff;
        }
      }

      &:checked+span>.overlay {
        display: block;
      }
    }

    & .bg {
      background-color: #f1f1f1;
    }
  }

  &--item {
    overflow: hidden;
    display: block;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;

    &--header {
      height: 10px;
    }

    &>span {
      display: block;
      float: left;
      width: 50%;
      height: 20px;
    }
  }
}
</style>

