<template>
  <div>
    <v-toolbar flat>
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu slot="activator" :nudge-right="40" :close-on-content-click="false" lazy v-model="searchmenu" transition="scale-transition" offset-y full-width min-width="140px">
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>

          <v-card>
            <v-layout row wrap>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Search and Filter</v-toolbar-title>
              </v-toolbar>
              <v-flex xs12 sm12>
                <v-autocomplete hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select only Profile Name" :items="profileNameItems" v-model="searchData.profileID" prepend-icon="assistant" clearable label="Profile Name" color="blue" item-text="name" item-value="profileID"></v-autocomplete>
              </v-flex>

             

            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="searchClick">Search</v-btn>
              <v-btn outline color="primary" @click="searchmenuClear">Clear</v-btn>
              <v-btn outline color="primary" @click="searchmenuClose">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter combination of search queries.</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
     
      <v-dialog v-model="dialog" fullscreen>
       
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
         
          
           
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
           

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
          </v-toolbar>
          <vue-perfect-scrollbar class="chat-room--scrollbar lighten-5" v-bind:style="computeHeight">
            <v-card-title>
              <span class="headline">Generate Document No</span>
            </v-card-title>

            <v-card-text>
              <v-form v-model="editedItem.valid" ref="validateform" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs4 sm4>
                      <v-menu v-model="dateMenu" :close-on-content-click="false" :disabled="editedItem.numberSeriesId != -1" menu-props="closeOnContentClick" full-width min-width="290">
                        <v-text-field slot="activator" :value="dateFormatted" label="Date" prepend-icon="today" readonly></v-text-field>
                        <v-date-picker v-model="editedItem.date" @change="dateMenu = false"></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs4 sm4>
                      <v-autocomplete :disabled="editedItem.numberSeriesId != -1" hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select only Requestor" :items="requestorItems" v-model="editedItem.requestorId" prepend-icon="assistant" label="Requestor" color="blue" :rules="requestorRules" item-text="emplyeeDropDown" item-value="userID">
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected">
                            {{ data.item.firstName }}
                          </v-chip>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs4 sm4>
                      <v-autocomplete :disabled="editedItem.numberSeriesId != -1" hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select only Profile" :items="profileItems" v-model="editedItem.profileID" prepend-icon="assistant" label="Profile" color="blue" :rules="profileRules" item-value="profileId" item-text="profileName" @change="onProfileChange"></v-autocomplete>
                    </v-flex>
                    <v-flex xs4 sm4>
                      <v-text-field v-model="editedItem.title" label="Title" readonly prepend-icon="description"></v-text-field>
                    </v-flex>
                    <v-flex &#x26;#x26;#x3C;v-flex v-if="isCompany" xs4 sm4>
                      <v-autocomplete :disabled="editedItem.numberSeriesId != -1" hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select only Company" :items="companies" v-model="editedItem.plantID" prepend-icon="assistant" label="Company" color="blue" item-text="plantCode" item-value="plantID" @change="onCompanyChange"></v-autocomplete>
                    </v-flex>
                    <v-flex v-if="isDepartment" xs4 sm4>
                      <v-autocomplete :disabled="editedItem.numberSeriesId != -1" hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select only Department" :items="filteredDepartments" v-model="editedItem.departmentId" prepend-icon="assistant" label="Department" color="blue" item-text="name" item-value="departmentId" @change="onDepartmentChange" @click="departmentclick"></v-autocomplete>
                    </v-flex>
                    <v-flex v-if="isSection" xs4 sm4>
                      <v-autocomplete :disabled="editedItem.numberSeriesId != -1" hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select only Section" :items="sections" v-model="editedItem.sectionId" prepend-icon="assistant" label="Section" color="blue" item-text="name" item-value="sectionID" @change="onSectionChange" @click="sectionclick"></v-autocomplete>
                    </v-flex>
                    <v-flex v-if="isSubSection" xs4 sm4>
                      <v-autocomplete :disabled="editedItem.numberSeriesId != -1" hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select only SubSection" :items="filteredSubSections" v-model="editedItem.subSectionId" prepend-icon="assistant" label="Sub-Section" color="blue" item-text="name" item-value="subSectionID" @change="onSubSectionChange" @click="subsectionclick"></v-autocomplete>
                    </v-flex>
                    <v-flex xs4 sm4>
                      <v-text-field v-model="editedItem.documentNo" label="Profile No" prepend-icon="description" readonly :disabled="editedItem.numberSeriesId != -1"></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm6 md4>
                      <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="codeValue" item-value="codeID"></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-textarea v-model="editedItem.description" label="Description" readonly prepend-icon="description"></v-textarea>
                    </v-flex>
                     <v-flex xs12 sm10>
                  <v-text-field v-model="documentPath" label="Document Path" prepend-icon="description" readonly></v-text-field>
                </v-flex>
                  <v-flex xs1 sm2>
                      <v-btn @click="openDocumentPath" icon>
                        <v-icon>visibility</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
            <br />
           
            <v-card-actions>
              <v-spacer></v-spacer>
             
              <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
            </v-card-actions>
            <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem"></delete-confirmation-dialog>
          </vue-perfect-scrollbar>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-dialog v-model="attachdialog" persistent max-width="900px">
      <attachment title="Location Document" :screenID="screenID" :sessionID="sessionId" controller="Documents" action="GetDocumentsBySessionID" uploadAction="UploadDocument" deleteAction="DeleteDocument" downloadAction="DownLoadDocument" ref="refattach" :closeMethod="closeattach"></attachment>
    </v-dialog>
    <v-dialog v-model="documentNoDialog" max-width="400px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="closeDocumentDialog">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Last</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">Generated Document No</span>
        </v-card-title>

        <v-card-text>
          <v-form v-model="editedItem.valid" ref="form" lazy-validation>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs10 sm10>
                  <v-text-field v-model="editedItem.documentNo" label="Document No" prepend-icon="description" readonly></v-text-field>
                </v-flex>
                <v-flex xs2 sm2>
                  <v-icon @click="doCopy(editedItem.documentNo)">file_copy</v-icon>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" outline @click.native="closeDocumentDialog">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="documentHistoryDialog" max-width="750px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" flat @click.native="documentHistoryDialog = false" :loading="loader">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-title>
          <span class="headline">Document History</span>
        </v-card-title>
        <app-section-loader :status="historyloader"></app-section-loader>
        <v-data-table :items="historyItems" class="elevation-1" :headers="historyheaders" hide-actions>
          <template slot="items" slot-scope="props">
            <tr v-on:dblclick="editItem(props.item)">
              <td>{{ props.item.fileName }}</td>
              <td>{{ props.item.fileSize }}</td>
              <td>{{ props.item.versionNo }}</td>
              <td class="text-xs-right">
                {{ props.item.uploadedDate | formatDate }}
              </td>
              <td class="text-xs-right">{{ props.item.uploadedByUser }}</td>
              <td>
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile v-for="(item, i) in historyitems" :key="i" @click="menuhistoryClick(i, props.item)" ripple="ripple" :target="item.target" rel="noopener" :disabled="Menudisabled(item, props.item)">
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
            </tr>
          </template>
        </v-data-table>
      </v-card>
    </v-dialog>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :pagination.sync="pagination" :total-items="totalRows" :rows-per-page-items="rowsPerPageItems" :loading="gridloader" @update:pagination="onUpdatePagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.documentNo }}</td>
          <td class="text-xs-left">{{ props.item.requestorName }}</td>
          <td>{{ props.item.profileName }}</td>
       
          <td class="text-xs-left">{{ props.item.title }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ props.item.modifiedDate|formatDate }}</td>
          <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="editItem(props.item)">visibility</v-icon>
           
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
    <delete-confirmation-dialog ref="deleteConfirmationDialog1" heading="Are You Sure You Want To Close?" message="Are You Sure You Want To Close? Files Not Updloaded" @onConfirm="fileconformationMessage"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import attachment from "@/components/Attachment/attachments";
  import { getDocumentProfiles } from "@/api/documentProfile";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import myApi from '@/util/api'
  import {
    getApplicationUsers,
    getPlants,
    getDepartments,
    getSections,
    getSubSections,
  } from "@/api/applicationUser";
  import {
    getDocumentNoSeries,
    createDocumentNoSeries,
    updateDocumentNoSeries,
    deleteDocumentNoSeries,
    getFileProfilePathByDocumentNo
  } from "@/api/documentnogeneration";
  import {
    getDocumentProfileItems,
    getProfileDocumentById,
    updateDocumentProfileStatus
  } from "@/api/documentProfile";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  export default {
    components: {
      attachment,
    },
    data: () => ({
      screenID: "",
      uploadbtn: true,
      documentPath: "",
      fileProfileTypeId : null,
      parentfileProfileTypeId : null,
      sessionId: null,
      totalRows: 0,
      attachdialog: false,
      numberSeriesId: -1,
      gridloader: false,
      searchmenu: false,
      profileNameItems: [],
      companyItems: [],
      departmentItems: [],
      dialog: false,
      documentNoDialog: false,
      loader: false,
      search: "",
      isCompany: false,
      isDepartment: false,
      historyloader: false,
      documentHistoryDialog: false,
      isSection: false,
      isSubSection: false,
      statusOptions: [],
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      profileItems: [],
      companies: [],
      searchData: {
        profileID: null,
        companyId: null,
        departmentId: null,
      },
      departments: [],
      filterFields: [
        "DocumentNo",
        "Requestor.UserName",
        "Profile.Name",
        "VersionNo",
        "Title",
        "AddedByUser.UserName",
        "ModifiedByUser.UserName"
      ],
      headers: [
        { text: "DocumentNo", value: "documentNo", align: "left" },
        { text: "Requestor Name", value: "requestorName", align: "left" },
        { text: "ProfileName", value: "profileName", align: "left" },
       
        { text: "Title", value: "title", align: "left" },
        { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
        items: [
        {
          icon: "attach_file",
          href: "#",
          title: "Attachement",
          click: (e) => { },
        },
        {
          icon: "edit",
          href: "#",
          title: "Edit",
          click: (e) => { },
        },
        {
          icon: "delete",
          href: "#",
          title: "Delete",
          click: (e) => { },
        },
         {
          icon: "archive",
          href: "#",
          title: "Profile Archive",
          click: (e) => { },
        },
      
      ],
      json_fields: {
        DocumentNo: "documentNo",
        "Requestor Name": "requestorName",
        ProfileName: "profileName",
      
        Title: "title",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser",
        "Modified Date": "modifiedDate",
      },
      historyheaders: [
        { text: "File Name", value: "fileName", align: "left" },
        { text: "File Size", value: "fileSize", align: "left" },
        { text: "VersionNo", value: "versionNo", align: "left" },
        { text: "Upload Date", value: "uploadedDate", align: "left" },
        { text: "Uploaded By", value: "uploadedByUser", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      historyitems: [
        {
          icon: "cloud_download",
          href: "#",
          title: "Download",
          click: (e) => {
            // this.download();
          },
        },
      ],
      headerItems:[],
      gridItems: [],
      downloadSheetItems: [],
      requestorItems: [],
      sections: [],
      departmentIDs: [],
      sectionIDs: [],
      subSections: [],
      uploadedFiles: [],
      uploadedfileslist: [],
      uploadedFileNames: [],
      historyItems: [],
      taskfiles: new FormData(),
      sessionID: null,
      showdownload: false,
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      effectiveDateMenu: false,
      dateMenu: false,
      documentID: null,
      implementationDateMenu: false,
      nextReviewDateMenu: false,
      editedItem: {
        valid: false,
        sessionId: null,
        numberSeriesId: 0,
        profileID: 0,
        profileName: "",
        documentNo: "",
        versionNo: "",
        title: "",
        requestorId: 0,
        link: "",
        departmentName: "",
        sectionName: "",
        subSectionName: "",
        companyCode: "",
        departmentId: null,
        companyId: null,
        sectionId: null,
        subSectionId: null,
        plantID: null,
        date: new Date().toISOString().substr(0, 10),
        effectiveDate: null,
        implementation: null,
        nextReviewDate: null,
        addedByUserId: null,
        sessionID: null,
        uploadedByUserID: null,
        addedDate: new Date(),
        statusCodeID: 710,
        statusCode: "Open",
        modifiedByUserId: null,
        modifiedDate: new Date(),
        description: "",
      },
      defaultItem: {
        valid: false,
        sessionId: null,
        numberSeriesId: 0,
        profileID: 0,
        profileName: "",
        documentNo: "",
        versionNo: "",
        title: "",
        requestorId: 0,
        link: "",
        departmentName: "",
        sectionName: "",
        subSectionName: "",
        companyCode: "",
        departmentId: null,
        companyId: null,
        sectionId: null,
        subSectionId: null,
        plantID: null,
        date: new Date().toISOString().substr(0, 10),
        effectiveDate: null,
        implementation: null,
        nextReviewDate: null,
        addedByUserId: null,
        sessionID: null,
        uploadedByUserID: null,
        addedDate: new Date(),
        statusCodeID: 710,
        statusCode: "Open",
        modifiedByUserId: null,
        modifiedDate: new Date(),
        description: "",
      },
        profileUpdateItem: {     
      profileID: null,
      statusCodeID: 665,
        },
      searchItem: { action: "", Id: null, searchString: "searchString" },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add No Generation"
          : "Edit No Generation";
      },
      effectiveDateFormatted () {
        if (
          this.editedItem.effectiveDate != null &&
          this.editedItem.effectiveDate != undefined
        ) {
          return this.editedItem.effectiveDate
            ? moment(this.editedItem.effectiveDate).format(
              GlobalMessage.DATEFORMAT
            )
            : "";
        }
      },
      dateFormatted () {
        return this.editedItem.date
          ? moment(this.editedItem.date).format(GlobalMessage.DATEFORMAT)
          : "";
      },
      implementationDateFormatted () {
        console.log(this.editedItem.implementation);
        if (
          this.editedItem.implementation != null &&
          this.editedItem.implementation != undefined
        ) {
          return this.editedItem.implementation
            ? moment(this.editedItem.implementation).format(
              GlobalMessage.DATEFORMAT
            )
            : "";
        }
      },
      nextReviewDateFormatted () {
        if (
          this.editedItem.nextReviewDate != null &&
          this.editedItem.nextReviewDate != undefined
        ) {
          return this.editedItem.nextReviewDate
            ? moment(this.editedItem.nextReviewDate).format(
              GlobalMessage.DATEFORMAT
            )
            : "";
        }
      },
      filteredDepartments () {
        if (this.departments.length > 0) {
          return this.departments.filter((item) => {
            if (!this.editedItem.plantID) return this.departments;
            return item.companyId == this.editedItem.plantID;
          });
        }
      },
      filteredSearchDepartments () {
        if (this.departmentItems.length > 0) {
          return this.departmentItems.filter((item) => {
            if (!this.searchData.companyId) return this.departmentItems;
            return item.companyId == this.searchData.companyId;
          });
        }
      },
      filteredSections () {
        if (this.sections.length > 0) {
          return this.sections.filter((item) => {
            if (!this.editedItem.departmentId) return this.sections;
            return item.departmentID == this.editedItem.departmentId;
          });
        }
      },
      filteredSubSections () {
        if (this.subSections.length > 0) {
          return this.subSections.filter((item) => {
            if (!this.editedItem.sectionId) return this.subSections;
            return item.sectionID == this.editedItem.sectionId;
          });
        }
      },
      departmentRules () {
        return [
          () =>
            !!this.editedItem.departmentId > 0 ||
            "Atleast company must be selected.",
          (v) => !!v || "This is required field",
        ];
      },
      requestorRules () {
        return [
          () =>
            !!this.editedItem.requestorId > 0 ||
            "Atleast requestor must be selected.",
          (v) => !!v || "This is required field",
        ];
      },
      profileRules () {
        return [
          () =>
            !!this.editedItem.profileID > 0 ||
            "Atleast profile must be selected.",
          (v) => !!v || "This is required field",
        ];
      },
      companyRules () {
        return [
          () =>
            (!!this.editedItem.profileID > 0 && !!this.isCompany) ||
            "Atleast company must be selected.",
          (v) => !!v || "This is required field",
        ];
      },
      computeHeight () {
        return {
          height: this.height || "",
        };
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },

    watch: {
      pagination: {
        handler () {
          //this.getDataFromApi(this.pagination.rowsPerPage);
        },
        deep: true,
      },
      dialog (val) {
        val || this.close();
      },
    },
    mounted () {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      search.pageSize = this.$store.state.auth.pageSize;
    },
    created () {
      
        search.methodName = "GetDocumentNoSeriesItems";        
    this.initialize();
    },

    methods: {
      initialize () {
        this.loader = true;
        // getDocumentNoSeriesItems("")
        //   .then((response) => {
        //     this.gridItems = response.data;
        //     //this.profileNameItems = response.data;
        //     this.loader = false;
        //   })
        //   .catch((error) => {
        //     this.loader = false;
        //     window.getApp.$emit("APP_API_ERROR", error);
        //   });
        getDocumentProfileItems("")
          .then((response) => {
            this.profileItems = response.data.filter(
              (p) => p.statusCodeID != 665
            );
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationUsers()
          .then((response1) => {
            this.requestorItems = response1.data;
            this.editedItem.requestorId = this.$store.state.auth.userId;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getSections()
          .then((response1) => {
            this.sections = response1.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getSubSections()
          .then((response1) => {
            this.subSections = response1.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCodeMasterByType("NoSeriesStatus")
          .then((response1) => {
            this.statusOptions = response1.data;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getDocumentProfiles("")
          .then(response => {
            this.profileNameItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getPlants()
          .then(response => {
            this.companyItems = response.data.filter(s => s.statusCodeID == 1);
            this.loader = false;
          }).catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

        getDepartments()
          .then(response => {
            this.departmentItems = response.data;
            this.loader = false;
          }).catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      getAllExcel () {
        this.headerItems = [
          'Date: ' + moment(Date.now()).format(GlobalMessage.DATEFORMAT),
          'By: ' + this.$store.state.auth.userName,
        ];
      },
      selectSearchCompany () {
        if (this.searchData.companyId != null) {

        }
      },
      //
      closeattach () {
        let gridvalues = this.$refs.refattach.attachments.filter(
          (f) => f.uploaded == false
        );
        if (gridvalues.length > 0) {
          //window.getApp.$emit("APP_API_ERROR", error);
          this.$refs.deleteConfirmationDialog1.openDialog();
        } else {
          this.attachdialog = false;
        }
        this.$refs.refattach.expiryDate = null;
        this.$refs.refattach.fileProfileTypeId = 0;
        // this.$refs.refattach.attachments
      },

      fileconformationMessage () {
        this.$refs.deleteConfirmationDialog1.close();
        this.attachdialog = false;
      },

      fileAttachment () {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = this.numberSeriesId;
        this.$refs.refattach.sessionID = this.sessionId;
        this.$refs.refattach.getfiles();
        this.attachdialog = true;
      },
      fileAttachments (item) {
        console.log("check item", item.sessionId);
        this.sessionId = item.sessionId;

        this.attachdialog = true;
        setTimeout(() => {
          this.$refs.refattach.attachments = [];
          this.$refs.refattach.documentID = item.documentID;
          this.$refs.refattach.getfiles();
        }, 500);
      },

      //

      editItem (item) {
        console.log("item" + JSON.stringify(item));
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.sessionId = this.editedItem.sessionId;
        this.numberSeriesId = this.editedItem.numberSeriesId;
        this.uploadbtn = false;
        console.log(this.editedItem);
        if (this.editedItem.implementation != null) {
          this.editedItem.implementation = moment(
            this.editedItem.implementation
          ).format("YYYY-MM-DD");
        }
        if (this.editedItem.effectiveDate != null) {
          this.editedItem.effectiveDate = moment(
            this.editedItem.effectiveDate
          ).format("YYYY-MM-DD");
        }
        if (this.editedItem.nextReviewDate != null) {
          this.editedItem.nextReviewDate = moment(
            this.editedItem.nextReviewDate
          ).format("YYYY-MM-DD");
        }
        // this.editedItem.effectiveDate = moment(
        //   this.editedItem.effectiveDate
        // ).format(GlobalMessage.DATEFORMAT);
        // this.editedItem.implementation = moment(
        //   this.editedItem.implementation
        // ).format(GlobalMessage.DATEFORMAT);
        // this.editedItem.nextReviewDate = moment(
        //   this.editedItem.nextReviewDate
        // ).format(GlobalMessage.DATEFORMAT);
        let name = item.fileName;
        this.uploadedFileNames = [];
        if (name != null) {
          this.uploadedFileNames.push(name);
        }
        getFileProfilePathByDocumentNo(this.editedItem)
          .then(response => {
            if(response.data!=undefined)
            {
             
            this.documentPath= response.data.fullPath;
            this.fileProfileTypeId = response.data.pathFileProfieTypeId;
            this.parentfileProfileTypeId=response.data.fileProfileTypeParentId;
            }
            this.loader = false;
          }).catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        this.documentID = item.documentID;
        this.isCompany = false;
        this.isDepartment = false;
        this.isSection = false;
        this.isSubSection = false;
        this.dialog = true;
      },
      async downloadSheet () {
        this.getAllExcel();

        if (this.search != null && this.search != undefined && this.search != "") {
          this.searchData.searchString = this.search;
          const response = await myApi.getItems(this.searchData, "DocumentNoSeries/GetDocumentNoSeriesBySearch");
          return response.data;
        }
        else {
          const response = await myApi.getAll('DocumentNoSeries/GetDocumentNoSeriesItems');
          return response.data;
        }



      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.gridItems.indexOf(this.selectedItem);
        deleteDocumentNoSeries(this.selectedItem)
          .then(response => {
            this.loader = false;
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.loadPagingData();
            }
            setTimeout(() => {
              this.editedItem = Object.assign({}, this.defaultItem);
              this.editedIndex = -1;

              //this.initialize();
            }, 300);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
         search.methodName = "GetDocumentNoSeriesItems";    
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = this.pagination.page;
        search.sortCol = this.pagination.sortBy;
        console.log('Pagination', this.pagination);
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        //search.methodName = "GetDocumentNoSeriesItems";
        search.pageCount = 1;
        this.pagination.page = 1;
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "documentNo") {
          search.sortCol = "DocumentNo";
        }
        else if (args.sortBy == "requestorName") {
          search.sortCol = "Requestor.UserName";
        }
        else if (args.sortBy == "profileName") {
          search.sortCol = "Profile.Name";
        }
        else if (args.sortBy == "versionNo") {
          search.sortCol = "VersionNo";
        }
        else if (args.sortBy == "title") {
          search.sortCol = "Title";
        }
        else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        } else if (args.sortBy == "modifiedByUser") {
          search.sortCol = "ModifiedByUser.UserName";
        } else if (args.sortBy == "modifiedDate") {
          search.sortCol = "modifiedDate";
        }
        else {
          search.sortCol = 'numberSeriesId';
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
         search.methodName =
        search.methodName == "" ? "GetDocumentNoSeriesItems" : search.methodName;      
        console.log("Pagination", args);
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      uploadfileChanged (file) {
        console.log("fileChange" + file);
        this.sessionId = null;
        if (file != undefined) {
          this.uploadedFileNames = [];
          // this.uploadedfileslist = [];
          this.uploadedFiles.push(file);
          this.uploadedFileNames.push(file.name);
          this.showdownload = false;
          this.loader = true;
          this.taskfiles.append("file", file, file.name);
          //     uploadDocuments(this.taskfiles)
          //       .then((response) => {
          //         this.sessionId = response.data;
          //         this.loader = false;
          //       })
          //       .catch((error) => {
          //         this.loader = false;
          //         this.fileloader = false;
          //         window.getApp.$emit("APP_API_ERROR", error);
          //       });
        }
      },
      // uploadremoveFile(key) {
      //   console.log("remove" + key);
      //   this.$refs.docGenUpload.clear();
      //   this.uploadedFiles.splice(key, 1);
      //   this.uploadedFileNames.splice(key, 1);
      // },
         menuClick (key, item) {
        if (key == 0) {
          this.fileAttachments(item);
        } else if (key == 1) {
          this.editItem(item);
        } else if (key == 2) {
          this.onDeleteItem(item);
        }
        else if (key == 3) {
          this.updateStatus(item);
        }  
    
      },
      menudisabled (menu, item) {
        if (menu.title == "Attachement") {
          if (item.sessionId == null) return true;
        }
      },
      sectionclick () {
        if (this.editedItem.departmentId == null) {
          this.departmentIDs = [];

          for (var id in this.departments) {
            if (this.departments[id].companyId == this.editedItem.plantID) {
              let exitdept = this.departmentIDs.filter(
                (t) => t == this.departments[id].departmentId
              );

              if (exitdept[0] == null) {
                this.departmentIDs.push(this.departments[id].departmentId);
              }
            }
          }
          if (this.departmentIDs.length > 0) {
            getSections()
              .then((response) => {
                this.sections = [];

                //     //this.sections = response.data;
                this.departmentIDs.forEach((cc) => {
                  let sec = response.data.filter((t) => t.departmentID == cc);

                  if (sec[0] != null) {
                    this.sections.push(sec[0]);
                  }
                });
              })
              .catch((error) => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      updateStatus(item){
              this.profileUpdateItem.profileID = item.profileID;
              this.profileUpdateItem.modifiedByUserID = this.$store.state.auth.userId;
              this.profileUpdateItem.statusCodeID = 665;
          updateDocumentProfileStatus(this.profileUpdateItem)
            .then((response) => {
              this.loader = false;
            
            
             
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              //this.initialize();
            })
            .catch((error) => {
              this.loader = false;
             
              window.getApp.$emit("APP_API_ERROR", error);
            });
      },
      departmentclick () {
        if (this.editedItem.plantID == null) {
          getDepartments()
            .then((response) => {
              this.departments = response.data;
              this.loader = false;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      openDocumentPath(){
        let url =
        window.location.protocol +
        "//" +
        window.location.host +
        "/#/DMS/fileProfileTypeDocTree?fileProfileTypeId=" +
        this.fileProfileTypeId +
        "&mainfileProfileTypeId=" +
        this.parentfileProfileTypeId + "&documentName=" +
        this.editedItem.documentNo;
        
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(url)) {
        window.open(url, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
      },
      searchClick () {
       // this.gridloader = true;
          search.documentNoSeriesSearchModel = this.searchData;
      search.methodName = "GetDocumentNoSeriesFilterItems";
    
        this.searchmenu = false;
         this.loadPagingData();
      },
      searchmenuClear () {
        this.searchData.profileID = null;
        this.searchData.companyId = null;
        this.searchData.departmentId = null;
         search.methodName = "GetDocumentNoSeriesItems";
      },
      searchmenuClose () {
        this.searchmenu = false;
          search.methodName = "GetDocumentNoSeriesItems";
      },
      subsectionclick () {
        if (this.editedItem.sectionId == null) {
          this.sectionIDs = [];

          for (var id in this.sections) {
            if (this.sections[id].departmentID == this.editedItem.departmentId) {
              let exitdept = this.sectionIDs.filter(
                (t) => t == this.sections[id].sectionId
              );

              if (exitdept[0] == null) {
                this.sectionIDs.push(this.sections[id].sectionId);
              }
            }
          }
          if (this.sectionIDs.length > 0) {
            getSubSections()
              .then((response) => {
                this.subSections = [];

                //     //this.sections = response.data;
                this.sectionIDs.forEach((cc) => {
                  let sec = response.data.filter((t) => t.sectionId == cc);

                  if (sec[0] != null) {
                    this.subSections.push(sec[0]);
                  }
                });
              })
              .catch((error) => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      close () {
        this.dialog = false;
        this.isCompany = false;
        this.isDepartment = false;
        this.isSection = false;
        this.isSubSection = false;
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      getHistorydocument () {
        this.historyloader = true;
        (this.documentHistoryDialog = true),
          getProfileDocumentById(this.editedItem.numberSeriesId)
            .then((response) => {
              this.historyItems = response.data;
              this.historyloader = false;
            })
            .catch((error) => {
              // this.loader = false;
              this.historyloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
      },
      closeDocumentDialog () {
        this.documentNoDialog = false;
      },
      menuhistoryClick (key, item) {
        this.selectedDoc = item;
        if (key == 0) {
          let documentID = this.selectedDoc.documentID;
          // downloadFile(item.documentID)
          //   .then((response) => {
          //     let blob = new Blob([response.data], { type: item.contentType });
          //     let link = document.createElement("a");
          //     link.href = window.URL.createObjectURL(blob);
          //     link.download = item.fileName;
          //     link.click();
          //     this.fileloader = false;
          //   })
          //   .catch((error) => {
          //     this.fileloader = false;
          //     window.getApp.$emit("APP_API_ERROR", error);
          //   });
        } else if (key == 1) {
        } else {
        }
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {
        getDocumentNoSeries(this.searchItem)
          .then((response) => {
            if (response.data.numberSeriesId != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map((item) => item.numberSeriesId)
                .indexOf(response.data.numberSeriesId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          })
          .catch((error) => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.numberSeriesId;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.numberSeriesId;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.numberSeriesId;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.numberSeriesId;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {
        this.editedItem.valid = false;
        this.uploadbtn = true;
        this.editedItem.numberSeriesId = -1;
        this.editedItem.profileID = -1;
        this.editedItem.profileName = "";
        this.editedItem.documentNo = "";
        this.editedItem.versionNo = "";
        this.editedItem.title = "";
        this.editItem.requestorId = this.$store.state.auth.userId;
        this.editedItem.effectiveDate = null;
        this.editedItem.implementation = null;
        this.editedItem.nextReviewDate = null;
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        this.editedItem.statusCodeID = 710;
        this.editedItem.statusCode = "Open";
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        this.editedIndex = -1;
        this.isCompany = false;
        this.isDepartment = false;
        this.isSection = false;
        this.isSubSection = false;
        this.uploadedFiles = [];
        this.uploadedFileNames = [];
        this.taskfiles = new FormData();
        this.documentID = null;
      },
      deleterow () {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedIndex;
        console.log(this.editedItem);
        deleteDocumentNoSeries(this.editedItem)
          .then(response => {
            this.add();
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      close () {
        this.dialog = false;
        this.loadPagingData();
        //this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save () {
        if (this.$refs.validateform.validate()) {
          this.editedItem.sessionID = this.sessionID;
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            console.log("file length" + this.uploadedFiles.length);
            this.editedItem.documentID =
              this.uploadedFiles.length > 0 ? this.editedItem.documentID : 0;
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.uploadedByUserID = this.$store.state.auth.userId;
            console.log("update editedItem" + JSON.stringify(this.editedItem));
            updateDocumentNoSeries(this.editedItem)
              .then((response) => {
                Object.assign(this.gridItems[index], response.data);
                this.editedItem.sessionID = response.data.sessionId;
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.numberSeriesId = parseInt(Math.random() * 100) + 1024; // mock a id
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            createDocumentNoSeries(this.editedItem)
              .then((response) => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem = response.data;
                let index = this.gridItems
                  .map((item) => item.numberSeriesId)
                  .indexOf(response.data.numberSeriesId);
                this.editedIndex = index;
                this.sessionId = response.data.sessionId;
                console.log(JSON.stringify(this.sessionId));
                this.numberSeriesId = response.data.numberSeriesId;
                this.uploadbtn = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                //this.documentNoDialog = true;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
          //this.close();
        }
      },
      onProfileChange (value) {
        let profileItem = this.profileItems.filter((o) => o.profileId == value);
        if (profileItem[0] != undefined) {
          this.isCompany = profileItem[0].isCompany;
          this.isDepartment = profileItem[0].isDepartment;
          this.isSection = profileItem[0].isSection;
          this.isSubSection = profileItem[0].isSubSection;
          if (this.isCompany) {
            getPlants()
              .then((response) => {
                this.companies = response.data;
                this.loader = false;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
          if (this.isDepartment) {
            getDepartments()
              .then((response) => {
                this.departments = response.data;
                this.loader = false;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
          if (this.isSection) {
            getSections()
              .then((response) => {
                this.sections = response.data;
                this.loader = false;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
          if (this.isSubSection) {
            getSubSections()
              .then((response) => {
                this.subSections = response.data;
                this.loader = false;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        } else {
          this.companies = [];
          this.departments = [];
          this.isCompany = false;
          this.isDepartment = false;
          this.isSection = false;
          this.isSubSection = false;
        }
      },
      onCompanyChange (value) {
        if (value) {
          var companyItem = this.companies.filter((o) => o.plantID == value)[0];
          this.editedItem.companyCode = companyItem.plantCode;
          this.editedItem.companyId = companyItem.companyID;
          this.editedItem.plantID = companyItem.plantID;
        }
      },
      onDepartmentChange (value) {
        console.log("DepartmentID", value);
        if (value) {
          this.editedItem.departmentName = this.departments.filter(
            (o) => o.departmentId == value
          )[0].name;
          getSections()
            .then((response) => {
              this.sections = [];
              this.sections = response.data.filter(
                (t) => t.departmentID == value
              );
              console.log("Sections", this.sections);
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      Menudisabled (menu, item) {
        if (menu.title == "Set Access") {
          if (item.uploadedByUserId != this.userId) {
            return true;
          }
        } else if (menu.title == "Delete") {
        } else if (menu.title == "Download") {
        }
        return false;
      },
      onSectionChange (value) {
        if (value) {
          this.editedItem.sectionName = this.sections.filter(
            (o) => o.sectionID == value
          )[0].name;
        }
      },
      onSubSectionChange (value) {
        if (value) {
          this.editedItem.subSectionName = this.subSections.filter(
            (o) => o.subSectionID == value
          )[0].name;
        }
      },
      doCopy (documentNo) {
        this.$copyText(documentNo).then(
          function (e) {
            window.getApp.$emit("APP_API_SUCCESS", "Document No copied");
          },
          function (e) {
            alert("Can not copy");
          }
        );
      },
      clicklinkComment () {
        var validate = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        if (validate.test(this.editedItem.link)) {
          window.open(this.editedItem.link, "_blank");
        } else {
          window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
        }
      },
    },
  };
</script>