<template>
  <div id="media" class="media">
    <v-toolbar class="elevation-0 transparent media-toolbar">
      <v-tooltip bottom>
        <v-btn flat slot="activator" color="primary" @click="AddNew">
          <v-icon>add</v-icon>&nbsp; New Document Profile &nbsp;
        </v-btn>
        <span
          >Create New Document Profile by clicking this button.</span
        > </v-tooltip
      >&nbsp;
      <v-text-field
        class="mx-3"
        label="Search"
        prepend-icon="search"
        v-model="search"
        clearable
        @click:clear="clearSearch"
        single-line
        hide-details
      ></v-text-field>

      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="documentProfile.xls"     
       
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
    </v-toolbar>
    <div>
      <app-section-loader :status="loader"></app-section-loader>
      <v-data-table
        :headers="headers"
        :items="gridItems"
        :total-items="totalRows"
        @update:pagination="onUpdatePagination"
        :loading="loader"
        class="elevation-1"
        default-sort="profileID:desc"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
      >
        <template slot="items" slot-scope="props">
          <tr v-on:dblclick="editItem(props.item)">
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.description }}</td>
            <td class="text-xs-left">{{ props.item.abbreviation }}</td>
            <td class="text-xs-left">{{ props.item.statusCode }}</td>
            <td class="text-xs-left">{{ props.item.addedByUser }}</td>

            <td class="justify-left layout px-0">
              <v-tooltip bottom>
                <v-icon
                  small
                  slot="activator"
                  flat
                  class="mr-2"
                  @click="editItem(props.item)"
                  >edit</v-icon
                >
                <span>Edit Mode</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-icon
                  small
                  slot="activator"
                  flat
                  class="mr-2"
                  @click="onDeleteItem(props.item)"
                  >delete</v-icon
                >
                <span>Delete</span>
              </v-tooltip>
            </td>
          </tr>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="loadPagingData">
            Record not exist.Refresh again in while time.</v-btn
          >
        </template>
      </v-data-table>
    </div>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              
              @click.native="saveAndClose"
              :loading="documentProfileLoader"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Document Profile</span>
          </v-tooltip>
          <v-spacer></v-spacer>

          <v-menu bottom left>
            <v-list>
              <v-list-tile v-for="(item, i) in items" :key="i" click>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-text>
          <document-profile-tab
            ref="documentProfilelistMasterForm"
            v-bind="dialogData"
          ></document-profile-tab>
        </v-card-text>
      </v-card>
    </v-dialog>
    <app-section-loader :status="loader"></app-section-loader>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="formDeleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>

<script>
import DocumentProfileTab from "@/pages/masters/DMS/DocumentProfile/documentProfileTab";
import DocumentProfileForm from "@/pages/masters/DMS/DocumentProfile/documentProfileMaster";
import GlobalMessage from "@/constant";
import {
  createDocumentProfile,
  updateDocumentProfile,
  deleteDocumentProfile,
} from "@/api/documentProfile";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import moment from "moment";
import { isProfileNoGenerated } from "@/api/documentnogeneration";

export default {
  components: {
    DocumentProfileTab,
    DocumentProfileForm,
  },
  data: () => ({
    establishNoSeriesCodeItems: [
      { text: "Company", value: 1 },
      { text: "Department", value: 2 },
    ],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    docAccessRightsPermission: null,
    pagination: {
      rowsPerPage: 10,
    },
    downloadSheetItems:[],    
    menureminder: false,
    totalRows: 0,
    gridloader: false,
    documentProfileLoader: false,
    menuSearch: false,
    menufilter: false,
    size: "lg",
    view: "list",
    actionButton: false,
    size: "sm",
    picker: new Date().toISOString().substr(0, 10),
    dialog: false,
    dialogSTData: null,
    isProfileUsed: false,
    documentProfile: false,
    gridItems: [],

    dialogData: null,
    loader: false,
    search: "",
    statusCodeID: 664,
    items: [],
    validateProfileInfo: false,
    validateNumberSeriesInfo: true,

    documentProfileItems: [],
    selectedItem: null,
    searchItem: { action: "", Id: null, searchString: "searchString" },
    editedItem: {
      valid: false,
      profileID: -1,
      date: moment(new Date()).format(GlobalMessage.DATEFORMAT),
      name: "",
      description: "",
      companyId: "",
      departmentId: "",
      profileTypeId: 0,
      groupId: "",
      groupAbbreaviation: "",
      categoryAbbreviation: "",
      categoryId: "",
      linkId: "",
      seperatorToUse: "",
      isGroupAbbreviation: "",
      isCategoryAbbreviation: "",

      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUser: "Arun",
      statusCodeID: 664,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      requiredfield: [(v) => !!v || "This is required field"],
      addedByUser: "Arun",

      //Number Series
      abbreviation: "",
      abbreviation1: "",
      abbreviation2: "",
      isNoSerieswithOrganisationinfo: true,
      abbreviationRequired: false,
      specialWording: "",
      startingNo: "",
      startWithYear: false,
      noOfDigit: "",
      incrementalNo: "",
      translationRequired: false,
      lastCreatedDate: new Date().toISOString().substr(0, 10),
      lastNoUsed: "",
      note: "",
      establishNoSeriesCodeIDs: [],
      // profileAbbreviationNumberSeries: false,
      isRead: false,
      isDelete: false,
      sampleDocumentNo: "",
      isEnableTask: false,
    },
    defaultItem: {
      valid: false,
      profileID: -1,
      date: moment(new Date()).format(GlobalMessage.DATEFORMAT),
      name: "",
      description: "",
      companyId: "",
      departmentId: "",
      profileTypeId: 0,
      groupId: "",
      groupAbbreaviation: "",
      categoryAbbreviation: "",
      categoryId: "",
      linkId: "",
      seperatorToUse: "",
      isGroupAbbreviation: "",
      isCategoryAbbreviation: "",

      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUser: "Arun",
      statusCodeID: 664,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      requiredfield: [(v) => !!v || "This is required field"],
      addedByUser: "Arun",

      //Number Series
      abbreviation: "",
      abbreviation1: "",
      abbreviation2: "",
      isNoSerieswithOrganisationinfo: true,
      abbreviationRequired: false,
      specialWording: "",
      startingNo: "",
      startWithYear: false,
      noOfDigit: "",
      incrementalNo: "",
      translationRequired: false,
      lastCreatedDate: new Date().toISOString().substr(0, 10),
      lastNoUsed: "",
      note: "",
      establishNoSeriesCodeIDs: [],
      // profileAbbreviationNumberSeries: false,
      isRead: false,
      isDelete: false,
      sampleDocumentNo: "",
      isEnableTask: false,
    },
    height: {
      type: String,
      default: null,
    },
    filterFields: [
      "Name",
      "Description",
      "Abbreviation",
      "StatusCode.CodeValue",
      "AddedByUser.UserName",
    ],
    headers: [
      {
        text: "Name",
        value: "name",

        align: "left",
        width: "10%",
      },
      {
        text: "Description",
        value: "description",

        align: "left",
        width: "10%",
      },
      {
        text: "Profile Abbreviation",
        value: "abbreviation",

        align: "left",
        width: "10%",
      },
      {
        text: "Status",
        value: "statusCode",

        align: "left",
        width: "10%",
      },
      {
        text: "Added By",
        value: "addedByUser",

        align: "left",
        width: "10%",
      },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],

    json_fields: {
      Name: "name",
      Description: "description",
      "Profile Abbreviation": "abbreviation",
      Status: "statusCode",
      "Added By": "addedByUser",
    },
  }),

  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
  },
  watch: {
    pagination: {
      handler() {
        //this.getDataFromApi(this.pagination.rowsPerPage);
      },
      deep: true,
    },
  },
  computed: {
    filteredItems() {
      return this.documentProfileItems.filter((item) => {
        if (!this.search) return this.documentProfileItems;
        return item.name.toLowerCase().includes(this.search.toLowerCase());
      });
    },
    computeHeight() {
      return {
        height: this.height || "",
      };
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    window.getApp.$on("ENABLE_DOCUMENTPROFILEACTION", () => {
      this.actionButton = true;
    });
    //this.initialize();
    //this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
  },

  beforeDestroy() {
    window.getApp.$off("INITIALIZE_DOCUMENTPROFILE");
    window.getApp.$off("EDIT_DOCUMENTPROFILE");
    window.getApp.$off("SAVE_DOCUMENTPROFILE");
    window.getApp.$off("ENABLE_DOCUMENTPROFILEACTION");
  },
  methods: {
    back() {
      this.view = "grid";
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    clearSearch() {
      this.search = "";
    },
    // initialize() {
    //   this.loader = true;
    //   let id = this.$store.state.auth.userId;
    //   getDocumentProfiles("")
    //     .then(response => {
    //       // alert('Get:-'+JSON.stringify(response.data));
    //       this.gridItems = response.data;
    //       this.loader = false;
    //       //this.total = response.data.length;
    //     })
    //     .catch(error => {
    //       this.loader = false;
    //       window.getApp.$emit("APP_API_ERROR", error);
    //     });
    // },

    AddNew() {
      this.actionButton = false;

      this.editedIndex = -1;
      this.isProfileUsed = false;
      this.$refs.documentProfilelistMasterForm.selectedTab = 0;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.name = this.editedItem.name;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.establishNoSeriesCodeIDs = [];
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.specialWording =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.profileAbbreviationNumberSeries = false;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.startWithYear = false;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.noOfDigit =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.incrementalNo =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.startingNo =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.translationRequired = false;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastCreatedDate = new Date()
        .toISOString()
        .substr(0, 10);
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastNoUsed =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.note =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.linkId =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.seperatorToUse =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isRead = false;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isDelete = false;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.profileID = -1;
      this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.sampleDocumentNo =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.profileID = null;
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.name =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.loginName = this.$store.state.auth.userName;
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.date = moment(
        new Date()
      ).format(GlobalMessage.DATEFORMAT);
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.description =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.abbreviation =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.companyId =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.departmentId =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.profileTypeId = 0;
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.groupId =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.groupAbbreaviation =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.categoryAbbreviation =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.categoryId =
        "";
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.nameRules = [
        (v) => !!v || "Name is required",
      ];
      setTimeout(() => {
        this.dialog = true;
        window.getApp.$emit("INITIALIZE_DOCUMENTPROFILE", new Date());
        window.getApp.$emit("DISABLE_TAB", true);
      }, 500);
    },

    formateDate(string) {
      return string ? new Date(string).toISOString().substr(0, 10) : "";
    },

    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.documentProfileItems.indexOf(this.selectedItem);
      deleteDocumentProfile(this.selectedItem)
        .then(response => {
          this.loader = false;
          this.selectedItem = null;
          if(response!=undefined)
          {
          this.documentProfileItems.splice(index, 1);
          this.loadPagingData();
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
   
    saveAndClose() {
      this.validateProfileInfo = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.$refs.validateform.validate();
      this.validateNumberSeriesInfo = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.$refs.validateform.validate();
      if (this.validateProfileInfo && this.validateNumberSeriesInfo) {
        this.loader = true;
        this.documentProfileLoader = true;
        this.editedItem.name = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.name;
        this.editedItem.description = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.description;
        this.editedItem.abbreviation = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.abbreviation;
        this.editedItem.companyId = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.companyId;
        this.editedItem.departmentId = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.departmentId;
        this.editedItem.profileTypeId = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.profileTypeId;
        this.editedItem.groupId = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.groupId;
        this.editedItem.groupAbbreviation = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.groupAbbreviation;
        this.editedItem.categoryAbbreviation = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.categoryAbbreviation;
        this.editedItem.categoryId = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.categoryId;
         this.editedItem.isEnableTask = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.isEnableTask;
        // this.editedItem.statusCodeID = this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.statusCodeID;

        if (this.editedItem.profileID > -1) {
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .abbreviationSelected == "true"
          ) {
            this.editedItem.abbreviationRequired = true;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .abbreviationSelected == "false"
          ) {
            this.editedItem.abbreviationRequired = false;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .groupabbreviationSelected == "true"
          ) {
            this.editedItem.isGroupAbbreviation = true;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .groupabbreviationSelected == "false"
          ) {
            this.editedItem.isGroupAbbreviation = false;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .categoryabbreviationSelected == "true"
          ) {
            this.editedItem.isCategoryAbbreviation = true;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .categoryabbreviationSelected == "false"
          ) {
            this.editedItem.isCategoryAbbreviation = false;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .startWithYearSelected == "true"
          ) {
            this.editedItem.startWithYear = true;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .startWithYearSelected == "false"
          ) {
            this.editedItem.startWithYear = false;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .translationSelected == "true"
          ) {
            this.editedItem.translationRequired = true;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .translationSelected == "false"
          ) {
            this.editedItem.translationRequired = false;
          }
          this.editedItem.seperatorToUse = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.seperatorToUse;
          this.editedItem.linkId = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.linkId;

          this.editedItem.specialWording = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.specialWording;
          this.editedItem.noOfDigit = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.noOfDigit;
          this.editedItem.incrementalNo = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.incrementalNo;
          this.editedItem.startingNo = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.startingNo;
          this.editedItem.lastCreatedDate = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastCreatedDate;
          this.editedItem.lastNoUsed = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastNoUsed;
          this.editedItem.note = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.note;
          this.editedItem.establishNoSeriesCodeIDs = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.establishNoSeriesCodeIDs;
          this.editedItem.statusCodeID = this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.statusCodeID;
          
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .editedItem.isNoSerieswithOrganisationinfo == "true"
          ) {
            this.editedItem.isNoSerieswithOrganisationinfo = true;
          }
          if (
            this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster
              .editedItem.isNoSerieswithOrganisationinfo == "false"
          ) {
            this.editedItem.isNoSerieswithOrganisationinfo = false;
          }
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
          updateDocumentProfile(this.editedItem)
            .then((response) => {
              this.loader = false;
              console.log("response data" + JSON.stringify(response.data));
              this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.sampleDocumentNo =
                response.data.sampleDocumentNo;
              if (response.data.isNoSerieswithOrganisationinfo == false) {
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.establishNoSeriesCodeIDs = [];
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
                  "false";
              } else {
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
                  "true";
              }
              this.documentProfileLoader = false;
              this.actionButton = true;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              //this.initialize();
            })
            .catch((error) => {
              this.loader = false;
              this.documentProfileLoader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
          console.log(
            "insert document profile" + JSON.stringify(this.editedItem)
          );
          createDocumentProfile(this.editedItem)
            .then((response) => {
              if (response.data != undefined && response.data != null) {
                this.loader = false;
                this.documentProfileLoader = false;
                this.editedItem = response.data;
                this.editedItem.establishNoSeriesCodeIDs = [];
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.$refs.documentProfilelistMasterForm.selectedTab = 1;
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem = this.editedItem;
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.name = this.editedItem.name;
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.establishNoSeriesCodeIDs = [];
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.specialWording =
                  "";

                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.abbreviationSelected =
                  "false";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.groupabbreviationSelected =
                  "false";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.profileAbbreviationNumberSeries =
                  "false";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.categoryabbreviationSelected =
                  "false";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.startWithYearSelected =
                  "false";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.noOfDigit =
                  "";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.incrementalNo =
                  "";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.startingNo =
                  "";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.translationSelected =
                  "false";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastCreatedDate = new Date()
                  .toISOString()
                  .substr(0, 10);
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastNoUsed =
                  "";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.note =
                  "";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.linkId =
                  "";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.seperatorToUse =
                  "";
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isRead = false;
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isDelete = false;
                if (this.editedItem.isNoSerieswithOrganisationinfo == true) {
                  this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
                    "true";
                }
                if (this.editedItem.isNoSerieswithOrganisationinfo == false) {
                  this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
                    "false";
                }
                if (this.editedItem.establishNoSeriesCodeIDs.length == 0) {
                  this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
                    "false";
                }
                this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.statusCodeID = 664;
                setTimeout(() => {
                  //this.initialize();
                }, 500);
              }
            })
            .catch((error) => {
              this.documentProfileLoader = false;
              this.loader = false;
            });
        }
      } else {
      }
    },

    openDialog() {
      this.add();
      this.dialog = true;
      this.editedItem = this.defaultItem;
    },
    clearObj() {
      this.defaultItem.valid = false;
      this.defaultItem.profileID = null;
      this.defaultItem.date = new Date().toISOString().substr(0, 10);
      this.defaultItem.name = "";
      this.defaultItem.description = "";
      this.defaultItem.abbreviation = "";
      this.defaultItem.addedByUserID = null;
      this.defaultItem.addedDate = new Date().toISOString().substr(0, 10);
      this.defaultItem.addedByUser = "";
      this.defaultItem.statusCodeID = null;
      this.defaultItem.statusCode = "";
      this.defaultItem.modifiedByUserID = null;
      this.defaultItem.modifiedDate = new Date().toISOString().substr(0, 10);
    },
    add() {
      this.clearObj();
      this.editedItem = this.defaultItem;
      this.$refs.documentProfilelistMasterForm.selectedTab = 0;
      this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem = this.editedItem;
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.editedIndex;
      this.editedItem.profileID = this.selectedItem.profileID;
      deleteDocumentProfile(this.editedItem)
        .then((response) => {
          if (response != undefined) {
            this.documentProfileItems.splice(index, 1);
            this.editedItem = Object.assign({}, this.defaultItem);
            this.editedIndex = -1;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            this.loadPagingData();
            setTimeout(() => {
              //this.initialize();
            }, 300);
          }
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.$refs.documentProfilelistMasterForm.selectedTab = 0;
      this.uploadedfileslist = [];
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.getDataFromApi(this.$store.state.auth.pageSize);
      }, 400);
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.isProfileUsed = false;
      console.log(this.editedItem);
      isProfileNoGenerated(this.editedItem.profileID)
        .then((response) => {
          if (response != undefined) {
            if (response.data) {
              window.getApp.$emit("APP_API_ERROR", "Profile is in use.");
              this.isProfileUsed = true;
              this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.isProfileUsed = true;
              this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.isProfileUsed = true;
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      setTimeout(() => {
        if (this.editedItem.abbreviationRequired == true) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.abbreviationSelected =
            "true";
        }
        if (this.editedItem.abbreviationRequired == false) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.abbreviationSelected =
            "false";
        }

        if (this.editedItem.startWithYear == true) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.startWithYearSelected =
            "true";
        }
        if (this.editedItem.startWithYear == false) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.startWithYearSelected =
            "false";
        }

        if (this.editedItem.translationRequired == true) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.translationSelected =
            "true";
        }
        if (this.editedItem.translationRequired == false) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.translationSelected =
            "false";
        }

        if (this.editedItem.isCategoryAbbreviation == true) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.categoryabbreviationSelected =
            "true";
        } else {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.categoryabbreviationSelected =
            "false";
        }

        if (this.editedItem.isGroupAbbreviation == true) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.groupabbreviationSelected =
            "true";
        } else {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.groupabbreviationSelected =
            "false";
        }

        if (this.editedItem.isNoSerieswithOrganisationinfo == true) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
            "true";
        }
        if (this.editedItem.isNoSerieswithOrganisationinfo == false) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
            "false";
        }
        if (this.editedItem.establishNoSeriesCodeIDs.length == 0) {
          this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isNoSerieswithOrganisationinfo =
            "false";
        }
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.profileID = this.editedItem.profileID;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.name = this.editedItem.name;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.loginName = this.$store.state.auth.userName;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.date = moment(
          new Date()
        ).format(GlobalMessage.DATEFORMAT);
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.description = this.editedItem.description;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.abbreviation = this.editedItem.abbreviation;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.companyId = this.editedItem.companyId;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.departmentId = this.editedItem.departmentId;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.profileTypeId = this.editedItem.profileTypeId;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.groupId = this.editedItem.groupId;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.groupAbbreviation = this.editedItem.groupAbbreviation;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.categoryAbbreviation = this.editedItem.categoryAbbreviation;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.categoryId = this.editedItem.categoryId;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.editedItem.isEnableTask = this.editedItem.isEnableTask;
        this.$refs.documentProfilelistMasterForm.$refs.refDocumentProfileMaster.onCompanyChange(
          this.editedItem.companyId
        );

        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.profileID = this.editedItem.profileID;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.name = this.editedItem.name;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.establishNoSeriesCodeIDs = this.editedItem.establishNoSeriesCodeIDs;
        // this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.abbreviationRequired = this.editedItem.abbreviationRequired;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.specialWording = this.editedItem.specialWording;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.linkId = this.editedItem.linkId;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.profileAbbreviationNumberSeries = this.editedItem.profileAbbreviationNumberSeries;
        // this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.startWithYear = this.editedItem.startWithYear;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.noOfDigit = this.editedItem.noOfDigit;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.incrementalNo = this.editedItem.incrementalNo;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.startingNo = this.editedItem.startingNo;
        // this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.translationRequired = this.editedItem.translationRequired;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.statusCodeID = this.editedItem.statusCodeID;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.sampleDocumentNo = this.editedItem.sampleDocumentNo;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastCreatedDate = new Date(
          this.editedItem.lastCreatedDate
        )
          .toISOString()
          .substr(0, 10);
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.lastNoUsed = this.editedItem.lastNoUsed;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.note = this.editedItem.note;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isRead = false;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.isDelete = false;
        this.$refs.documentProfilelistMasterForm.$refs.refNumberSeriesMaster.editedItem.seperatorToUse = this.editedItem.seperatorToUse;

        this.dialog = true;
      }, 700);
    },

    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = this.pagination.sortBy;
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDocumentProfiles";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            console.log(
              "responsse data result" + JSON.stringify(response.data)
            );
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "name") {
        search.sortCol = "Name";
      } else if (args.sortBy == "description") {
        search.sortCol = "Description";
      } else if (args.sortBy == "abbreviation") {
        search.sortCol = "Abbreviation";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDocumentProfiles";
      console.log("Pagination", args);
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
<style scoped>
.fullwidth {
  width: 100% !important;
  max-width: 100%;
}
</style>
