<template>
  <div id="page-forms">
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :nudge-right="40"
          :close-on-content-click="false"
          lazy
          v-model="searchmenu"
          transition="scale-transition"
          offset-y
          full-width
          min-width="140px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>

          <v-card>
            <v-layout row wrap>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Search and Filter</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <v-btn icon slot="activator">
                    <v-icon color="white" @click.native="searchmenuClose"
                      >close</v-icon
                    >
                  </v-btn>
                  <span>Close</span>
                </v-tooltip>
              </v-toolbar>
              <v-flex xs12 sm6>
                <v-autocomplete
                  label="File Profile Types"
                  prepend-icon="description"
                  v-model="searchDocument.fileProfileTypeId"
                  :items="fileProfileTypes"
                  item-text="name"
                  item-value="fileProfileTypeId"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6>
                <v-autocomplete
                  label="Document Content Types"
                  prepend-icon="description"
                  v-model="searchDocument.contentType"
                  :items="documentTypes"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field
                  v-model="searchDocument.fileName"
                  label="File Name"
                  prepend-icon="file"
                  
                >
                </v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-menu
                  v-model="fromMonthMenu"
                  :close-on-content-click="false"
                  full-width
                  min-width="290"
                >
                  <v-text-field
                    slot="activator"
                    :value="fromMonthFormated"
                    label="From Month"
                    prepend-icon="today"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="searchDocument.fromMonth"
                    @change="fromMonthMenu = false"
                    type="month"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm4>
                <v-menu
                  v-model="toMonthMenu"
                  :close-on-content-click="false"
                  full-width
                  min-width="290"
                >
                  <v-text-field
                    slot="activator"
                    :value="toMonthFormated"
                    label="To Month"
                    prepend-icon="today"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="searchDocument.toMonth"
                    @change="toMonthMenu = false"
                    type="month"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="searchClick">Search</v-btn>
              <v-btn outline color="primary" @click="searchClear">Clear</v-btn>
              <v-btn outline color="primary" @click="searchmenuClose"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter combination of search queries.</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn
          icon=""
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon> refresh </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <v-layout column>
          <v-data-table
            :items="gridItems"
            :headers="headers"
            :pagination.sync="pagination"
            :total-items="totalRows"
            :rows-per-page-items="rowsPerPageItems"
            :loading="loader"
            @update:pagination="onUpdatePagination"
            class="elevation-1"
          >
            <template slot="items" slot-scope="props">
                  <td class="text-xs-left">
                    <v-checkbox primary hide-details v-model="props.item.isSelected" @change="checkedItem(props.item)"></v-checkbox>
                  </td>
                <td class="text-xs-left">
                 
                  {{ props.item.fileName }}
                </td>

                <td class="text-xs-left">
                  {{ props.item.fileProfileTypeName }}
                </td>
                <td class="text-xs-left">{{ props.item.profileNo }}</td>

                <td class="text-xs-left">{{ props.item.fileSize }}</td>

                <td class="text-xs-left">{{ props.item.closeStatus }}</td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <td class="text-xs-left">
                  {{ props.item.addedDate | formatDateTime }}
                </td>
               
             
            </template>
            <template slot="no-data"
              >Loading task or No task been assigned you.</template
            >
          </v-data-table>
        </v-layout>
      </div>
    </div>
    <app-section-loader :status="loader"></app-section-loader>
   
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import { viewFile } from "@/api/fileAttachements";
import { getApplicationUsers, getUserGroups } from "@/api/userGroup";
import search from "@/search";
import Xlsx from "@/pages/xlsx";
import Util from "@/util";
import moment from "moment";
import { 
  createDocumentLink, 
} from "@/api/documentlink";
import {
  getFileProfileTypeDocument,
  getFileProfileTypeItems,
  downloadFile,
  deleteDocument,
  uploadDocument,
  getFileProfileTypeDocumentByHistory,
  updatecloseDocuments,
} from "@/api/fileProfileType";
import { getDocumentTypes } from "@/api/document";
import UploadButton from "vuetify-upload-button";

import { helpers } from "chart.js";
import { getData } from "@/api/paggedapi";
export default {
  components: { "upload-btn": UploadButton,  Xlsx, },
  data: () => ({
    formId: "DON3008",
    totalRows: 0,
    searchmenu: false,
    fromMonthMenu: false,
    toMonthMenu: false,
    showAll: true,
    showExcel: false,
    selected: "user",
    mouseover: false,
    notifyItems: [],
    viewedFile: null,
    loadHtml: false,
    addnotifydialog: false,
    fileContent: null,
    documentId: null,
    fileViewer: false,
    loadImage: false,
    playViewer: false,
    notifydialog: false,
    notesdialog: false,
      editedItem: {
      valid: false,      
      documentLinkId: -1,      
      documentId: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      linkDocumentId: null,
      documentPath: "",
      fileProfieTypeId: null,
      folderId: null,
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    search: "",
    gridItems: [],
    userItems: [],
    loader: true,
    fileProfileTypeId: null,
    editedItem: [],
    historyfileloader: false,
    isMoveFlag: false,
    fileProfileTypes: [],
    documentTypes: [],
    headers: [
      { text: "Action", value: "action", sortable: false, align: "left" },
      {
        text: "File Name",
        align: "left",
        value: "fileName",
      },
      {
        text: "Profile Type Name",
        align: "left",
        value: "fileProfileTypeName",
      },
      {
        text: "Profile No",
        align: "left",
        value: "profileNo",
      },

      { text: "Size(KB)", value: "fileSize" },
      { text: "Close Status", value: "closeStatus" },
      { text: "Modify By", value: "addedByUser" },
      { text: "Modify Date", value: "addedDate" },
      
    ],
   
    closeDocumentsItems: [
      {
        icon: "attach_file",
        href: "#",
        title: "Close Document",
        click: (e) => {},
      },
    ],
    historymenus: [
      {
        icon: "attach_file",
        href: "#",
        title: "Download",
        click: (e) => {},
      },
    ],
    pagination: { rowsPerPage: 10 },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    filterFields: [
      "FileName",
      "FileProfileTypeName",
      "ProfileNo",
      "AddedByUser.UserName",
      "CloseStatus",
    ],
    userGroupItems: [],
    userItems: [],
    filehistory: false,
    isHistoryDelete: false,
    searchData: { id: null, searchString: "", userId: null },
    searchuser: "",
    searchgroup: "",
    notifyItem: {
      valid: false,
      remarks: "",
      userId: null,
      userIDs: [],
      userGroupIDs: [],
      notifyDocumentId: -1,
      documentId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isUrgent: null,
    },
    historysearchData: {
      id: null,
      searchString: "",
      userId: null,
      sessionID: null,
      parentId: null,
    },
    searchDocument: {
      fromMonth: null,
      toMonth: null,
      fileProfileTypeId: null,
      contentType: null,
      fileName:null,
    },
    selectionData: [],
    isDocumentAccess: null,
    uploadAttachmentDocuments: [],
    attachfiles: new FormData(),
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    historyItems: [],
    attachloaders: false,
    attachments: [],
    attachdialog: false,
    sessionID: null,
    tableName: "",
    documentID: null,
    isDelete: false,
    isRead: false,
    isUpdateDocument: false,
    isCloseDocument: false,
    itemsAll: [],
  }),

  computed: {
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
    fromMonthFormated() {
      return this.searchDocument.fromMonth
        ? moment(this.searchDocument.fromMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    toMonthFormated() {
      return this.searchDocument.toMonth
        ? moment(this.searchDocument.toMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
  },

  created() {
    this.loaders = true;
    var userId = this.$store.state.auth.userId;
    getFileProfileTypeItems(userId)
      .then((response) => {
        this.loaders = false;
        this.fileProfileTypes = response.data;
      })
      .catch((error) => {
        this.loaders = false;
        window.getApp.$emit("APP_API_ERROR", error);
      });
    getDocumentTypes("")
      .then((response) => {
        this.loaders = false;
        this.documentTypes = response.data;
      })
      .catch((error) => {
        this.loaders = false;
        window.getApp.$emit("APP_API_ERROR", error);
      });
  },
  beforeDestroy() {},
  methods: {
   
  
   
    
   
    closenotes() {
      this.notesdialog = false;
    },
    checkedItem(item){
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.documentId = this.documentId;
      this.editedItem.linkDocumentId = item.documentID;
      this.editedItem.fileProfileTypeId = item.filterProfileTypeId;
        if(item.folderId==null)
      {
      this.editedItem.folderID = this.searchDocument.folderId;
      }
      else if(item.folderId !=null)
      {
          this.editedItem.folderID = item.folderId;
      }
          createDocumentLink(this.editedItem)
            .then((response) => {
              this.loader = false;
              if (response != undefined) {
                this.documentLinkItems.push(response.data);

                this.editedItem = response.data;

                let index = this.documentLinkItems
                  .map((item) => item.documentLinkId)
                  .indexOf(response.data.documentLinkId);
                this.editedIndex = index;

                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
    },
    dohisCopy(file) {
      let url = GlobalMessage.FILEPROFILETYPE_DOWNURL + "id=" + file.documentID;
      const el = document.createElement("textarea");
      el.addEventListener("focusin", (e) => e.stopPropagation());
      el.value = url;
      document.body.appendChild(el);
      el.select();
      this.$copyText(url).then(
        function (e) {
          document.body.removeChild(el);
          window.getApp.$emit("APP_API_SUCCESS", "copied");
        },
        function (e) {
          alert("Can not copy");
        }
      );
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page = 1;
      search.sortCol = this.pagination.sortBy;
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDocumentDirectory";

      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetDocumentDirectory";
      console.log("Pagination", args);
      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    searchClear() {
      this.searchDocument.fileProfileTypeId = null;
      this.searchDocument.contentType = null;
      this.searchDocument.fromMonth = null;
      this.searchDocument.toMonth = null;
      this.searchDocument.fileName=null;
    },
    searchClick() {
      search.fileProfileTypeId = this.searchDocument.fileProfileTypeId;
      search.contentType = this.searchDocument.contentType;
      search.fromMonth = this.searchDocument.fromMonth;
      search.toMonth = this.searchDocument.toMonth;
      search.fileName=this.searchDocument.fileName;
      this.loadPagingData();
      this.searchDocument.fileProfileTypeId = null;
      this.searchDocument.contentType = null;
      this.searchDocument.fromMonth = null;
      this.searchDocument.toMonth = null;
      this.searchDocument.fileName = null;
    },
    searchmenuClose() {
      this.searchmenu = false;
    },
  },
};
</script>
