<template>
  <div id="page-bottom-sheets">

    <div>
      <v-toolbar
        card
        dense
        color="transperent"
      >
        <v-spacer></v-spacer>

        &nbsp;
        <v-icon @click="openMainEditor">message</v-icon> &nbsp;
        <!-- <v-icon @click="refreshMessage">refresh</v-icon> -->
      </v-toolbar>
      <app-section-loader :status="discussionloader"></app-section-loader>

    </div>
    <app-section-loader :status="discussionloader"></app-section-loader>
    <v-container
      grid-list-xl
      fluid
    >
      <v-layout
        row
        wrap
        v-for="(item,mainkey) in folderDiscussions"
        :key="mainkey"
        no-action
      >
        <v-flex lg1>
          <v-avatar class="primary mx-4 white--text">{{ item.addedByUser}}</v-avatar>
        </v-flex>
        <v-flex lg11>

          <v-card>
            <v-toolbar
              color="transparent"
              flat
              dense
              card
            >
              <v-toolbar-title>
                <div
                  v-if="item.isRead == true"
                  style="color:blue;font-size: 18px;font-weight:bold"
                > {{item.addedByUser}} </div>
                <div
                  style="font-size: 14px;font-weight:bold"
                  v-else
                > {{item.addedByUser}}</div>
                <div
                  style="font-size: 14px;"
                  v-if="item.discussionSubject !=''"
                >Subject : {{item.discussionSubject}}</div>
              </v-toolbar-title>
              <!--  <span v-if="item.isEdited">
                <v-icon small>edit </v-icon>
              </span> -->
              <v-spacer></v-spacer>
              <span> {{item.discussionDate | formatDate}} </span>
              <v-menu
                bottom
                left
              >
                <v-btn
                  slot="activator"
                  icon
                >
                  <v-icon>more_vert</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile
                    v-for="(menuitem,index) in items"
                    :to="!menuitem.href ? { name: menuitem.name } : null"
                    :href="menuitem.href"
                    @click="maindiscussion(index, item,item)"
                    ripple="ripple"
                    :target="menuitem.target"
                    rel="noopener"
                    :key="index"
                    :disabled="item.discussedBy != userId && ( menuitem.title =='Edit' ||  menuitem.title =='Delete' )"
                  >
                    <v-list-tile-action>
                      <v-icon>{{ menuitem.icon }}</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-title>{{ menuitem.title }}</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text>

              <div
                v-html="item.discussionNotes"
                v-bind:style="[item.isRead == false ? 'font-weight:bold':'font-weight:bold']"
              > </div>
              <div
                class="large-12 medium-12 small-12 cell"
                v-if="item.folderDiscussionAttachemntsModels.documentId>0"
              >
                <div class="file-listing">
                  <!-- {{ item.commentAttachmentModel.fileName }} -->
                  {{ item.folderDiscussionAttachemntsModels.fileNames }}
                  <v-btn
                    icon
                    @click="downloadAttachment( item.folderDiscussionAttachemntsModels )"
                  >
                    <v-icon>get_app</v-icon>
                  </v-btn>
                </div>
              </div>
              <v-btn
                v-if="item.folderDiscussionModels.length > 0"
                flat
                @click="viewreply(item)"
              >

                <v-icon color="primary">reply</v-icon>
                {{item.replyLabel}} ({{ item.folderDiscussionModels.length }})
              </v-btn>
              <!-- v-if="viewreplies" -->

              <v-layout
                v-if="item.viewReply"
                row
                wrap
                v-for="(subItem,subindex) in item.folderDiscussionModels"
                :key="subindex"
                no-action
              >
                <v-flex lg1>
                  <v-avatar class="primary mx-4 white--text">{{ subItem.addedByUser}}</v-avatar>
                  <!-- <v-avatar class="primary mx-4 white--text">{{ subItem.addedByUser.slice(0, 2).toUpperCase() }}</v-avatar> -->
                </v-flex>
                <v-flex lg11>
                  <v-card>
                    <v-toolbar
                      color="transparent"
                      flat
                      dense
                      card
                    >
                      <v-toolbar-title>

                        <div
                          class="flex lg4 sm12 xs12"
                          v-if="subItem.isRead == false"
                          style="font-weight:bold"
                        > {{subItem.addedByUser}}</div>
                        <div
                          class="flex lg4 sm12 xs12"
                          v-else
                        > {{subItem.addedByUser}}</div>

                      </v-toolbar-title>
                      <span v-if="subItem.isEdited">
                        <v-icon small>edit </v-icon>
                      </span>
                      <v-spacer></v-spacer>
                      <span> {{subItem.discussionDate | formatDate}} </span>
                      <v-menu
                        bottom
                        left
                      >
                        <v-btn
                          slot="activator"
                          icon
                        >
                          <v-icon>more_vert</v-icon>
                        </v-btn>
                        <v-list>
                          <v-list-tile
                            v-for="(menuitem,index) in items"
                            :to="!menuitem.href ? { name: menuitem.name } : null"
                            :href="menuitem.href"
                            @click="maindiscussion(index, subItem,item)"
                            ripple="ripple"
                            :target="menuitem.target"
                            rel="noopener"
                            :key="index"
                            :disabled="subItem.discussedBy != userId && ( menuitem.title =='Edit' ||  menuitem.title =='Delete' )"
                          >
                            <v-list-tile-action>
                              <v-icon>{{ menuitem.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-title>{{ menuitem.title }}</v-list-tile-title>
                          </v-list-tile>
                        </v-list>
                      </v-menu>
                    </v-toolbar>
                    <v-divider></v-divider>
                    <v-card-text>
                      <div
                        v-html="subItem.discussionNotes"
                        v-bind:style="[subItem.isRead == false ? 'font-weight:bold':'font-weight:bold']"
                      > </div>
                    </v-card-text>
                    <div
                      class="large-12 medium-12 small-12 cell"
                      v-if="subItem.folderDiscussionAttachemntsModels.documentId>0"
                    >
                      <div class="file-listing">
                        <!-- {{ item.commentAttachmentModel.fileName }} -->
                        {{ subItem.folderDiscussionAttachemntsModels.fileNames }}
                        <v-btn
                          icon
                          @click="downloadAttachment( subItem.folderDiscussionAttachemntsModels )"
                        >
                          <v-icon>get_app</v-icon>
                        </v-btn>
                      </div>
                    </div>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn
                flat
                @click="openreplyeditor(item)"
              >

                <v-icon color="primary">reply</v-icon>
                Reply
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-bottom-sheet v-model="mainEditor">
        <v-card tile>
          <v-container
            grid-list-xl
            fluid
          >
            <v-flex
              lg6
              sm6
            >
              <v-text-field
                v-model="folderDiscussion.discussionSubject"
                label="Add a subject"
              ></v-text-field>
            </v-flex>
            <v-flex
              lg12
              sm12
            >
              <vue-mce
                :config="subcommentconfig"
                ref="CommentEditor"
                v-if="mainEditor"
                id="commentmessage11"
                v-model="folderDiscussion.discussionNotes"
              />
            </v-flex>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <div class="large-12 medium-12 small-12 cell">
              <div
                v-for="(name, key) in uploadedFileNames"
                class="file-listing"
              >{{ name }}
                <v-btn
                  icon
                  @click="removeFile( key )"
                >
                  <v-icon>close</v-icon>
                </v-btn>
              </div>
            </div>
            <upload-btn
              icon
              color="transparent"
              @file-update="uploadAttachment"
              ref="docNotesUpload"
              multiple
              noTitleUpdate
            >
              <template slot="icon">
                <v-icon
                  flat
                  slot="activator"
                >attachment</v-icon>
              </template>
            </upload-btn>
            <v-icon @click="sendDiscussion">send</v-icon>
          </v-card-actions>
        </v-card>
      </v-bottom-sheet>
      <v-bottom-sheet v-model="subEditor">
        <v-card>
          <v-container
            grid-list-xl
            fluid
          >
            <v-flex
              lg12
              sm12
            >
              <vue-mce
                :config="subcommentconfig"
                ref="CommentEditor"
                v-if="subEditor"
                id="commentmessage111"
                v-model="subdiscussion.discussionNotes"
              />
            </v-flex>
          </v-container>
          <v-card-actions>
            <v-spacer></v-spacer>
            <div class="large-12 medium-12 small-12 cell">
              <div
                v-for="(name, key) in uploadedFileNames"
                class="file-listing"
              >{{ name }}
                <v-btn
                  icon
                  @click="subremoveFile( key )"
                >
                  <v-icon>close</v-icon>
                </v-btn>
              </div>
            </div>
            <upload-btn
              icon
              color="transparent"
              @file-update="uploadAttachment"
              ref="upformmesUpload"
              multiple
              noTitleUpdate
            >
              <template slot="icon">
                <v-icon
                  flat
                  slot="activator"
                >attachment</v-icon>
              </template>
            </upload-btn>
            <v-icon @click="sendSubDiscussion">send</v-icon>
          </v-card-actions>
        </v-card>
      </v-bottom-sheet>
      <v-dialog
        v-model="subdialog"
        fullscreen
      >

        <v-card>
          <v-toolbar
            card
            dense
            color="primary"
          >
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click="openUpload"
              >
                <!-- <v-icon color="white">attach_file</v-icon> -->
              </v-btn>
              <span>Upload Document</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="subdialog = false"
                :loading="discussionloader"
              >
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{messageformdata.formTitle }}</span>
          </v-card-title>
          <vue-perfect-scrollbar class="folder-sub--scroll">

          </vue-perfect-scrollbar>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click="openUpload"
            >Upload</v-btn>

            <v-btn
              color="primary darken-1"
              outline
              @click="subdialog = false"
            >Close</v-btn>

          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
import UploadButton from 'vuetify-upload-button';
import { uploadDocuments, downloadFile, documentInfo } from "@/api/document";
import GlobalMessage from '@/constant'
import Util from '@/util';
import { getApplicationUsers, getUserGroups } from '@/api/folder';
import {  createFolderDiscussion, updateFolderDiscussion, deleteFolderDiscussion, getFolderDiscussionsByID, getUpdateFolderAttachment } from '@/api/folderdiscussion';
export default {
  components: {
    'upload-btn': UploadButton,
  },
  data: () => ({
    subcommentconfig: Util.tinyconfig(150),
    commentmessageflag: false,
    replyLabel: "view replies",
    viewreplies: false,
    mainEditor: false,
    enableEditor: false,
    subEditor: false,
    timer: '',
    fromdocument: false,
    editorHtml: '',
    rightDrawer: false,
    userItems: [],
    publicfoldermodel: false,
    subdialog: false,
    discussionloader: false,
    height: {
      type: String,
      default: null,
    },
    publicfolderUsers: {
      readonlyUserID: [],
      readWriteUserID: [],
    },
    messageformdata: {
      valid: false,
      formTitle: '',
      folderID: -1,
      date: new Date().toISOString().substr(0, 10),
      title: '',
      discussionDate: new Date().toISOString().substr(0, 10),
      description: '',
      sessionID: '',
      addedByUserID: 1,
      addedDate: new Date().toISOString().substr(0, 10),
      addedByUser: 'Arun',
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserID: 1,
      modifiedDate: new Date().toISOString().substr(0, 10),
      requiredfield: [v => !!v || 'This is required field'],
      addedByUser: 'Arun',
      attachments: [],
      documentID: -1,
      documentAccessID: null,
      documentAccessName: null,
      sessionID: null,
      linkID: null,
      isSpecialFile: true,
      isTemp: true,
      description: '',
      uploadedFile: null,
      count: null,
    },

    discussionDate: new Date(),  
   
    userItems: [],
    userGroupItems: [],

    items: [],      
    uploadedFiles: [],
    uploadedFileNames: [],
    uploadedAttachment: new FormData(),
    showDownLoad: false,
    subtagItems: [],
    subprojectItems: [],
    subuserItems: [],
    subitems: [],
    subpublicfolderItems: [],
    suballFiles: [],
    subuploadedFiles: [],
    folderDiscussions: [],
    folderDiscussion: { discussionNotes: '', folderID: null, addedByUser: '', discussionDate: new Date(), discussionNotesID: -1, documentID: null, statusCodeID: 1, uploadedFileNames: [], discussionSubject: "" },
    subdiscussion: { discussionNotes: '', folderID: null, addedByUser: '', discussionDate: new Date(), discussionNotesID: -1, parentDiscussionNotesID: '', statusCodeID: 1 },
    folderID: -1,
    mainItem: [],
    subItem: [],
    publicfolderType: 'Main',
    items: [
      {
        icon: 'edit',
        href: '#',
        title: 'Edit',
        click: e => {
        }
      },
      {
        icon: 'delete',
        href: '#',
        title: 'Delete',
        click: e => {
        }
      },

    ],
    userId: -1,

    folder:
    {
      description: '',
      readonlyUserID: [],
      title: '',
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      parentfolderID: null,
      overDueAllowed: false,
      followUp: false,
      discussionDate: new Date(),
    },  
    mainfolderID: null,
    mainmessage: {},
  }), watch: {
    subdialog (val) {
      val || this.closeDial();
    },
  },
  created () {
    this.userId = this.$store.state.auth.userId;

    window.getApp.$on('PUBLICFOLDER_File_MESSAGE_READ', documentId => {
      setTimeout(() => {
        this.UpdateRead(documentId);
      }, 200);
    });

  },

  beforeDestroy () {
    window.getApp.$off('PUBLICFOLDER_File_MESSAGE_READ')
    clearInterval(this.timer);
  },
  computed: {
    computeHeight () {
      return {
        height: this.height || ''
      };
    },
    menuDisabled: function () {
      return false;
    },
    sendKey () {

      return {
        'enter': this.sendDiscussion
      }
    },
    sendsubKey () {

      return {
        'ctrl+enter': this.sendSubDiscussion
      }
    },

  },
  methods: {
    UpdateRead (documentId) {
      let discussionNotes = {
        folderID: this.folderID,
        addedByUserID: this.userId,
        discussionNotesID: -1,
        documentId: documentId,
      };

      updateReadFileComment(discussionNotes)
        .then(response => {
        })
        .catch(error => {
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },
    openMainEditor () {
      this.folderDiscussion.discussionNotesID = -1;
      this.folderDiscussion.discussionNotes = "";
      this.folderDiscussion.discussionSubject = "";
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      setTimeout(() => {
        this.mainEditor = true;
      }, 400);
    },
    viewreply (item) {
      item.replyLabel = "Collapse all";
      item.viewReply = !item.viewReply;
      if (item.viewReply == false) {
        item.replyLabel = "view replies";
      }
    },
    openreplyeditor (item) {
      this.subEditor = true;
      this.mainmessage = item;
      this.subdiscussion.folderID = item.folderID;
      this.subdiscussion.parentDiscussionNotesID = item.discussionNotesID;
      this.subdiscussion.discussionNotes = "";
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
    },
    maindiscussion (key, item, mainItem) {
      this.mainItem = mainItem;
      this.subItem = item;
      if (key == 0) {

        if (item.parentDiscussionNotesID == null) {
          this.uploadedFileNames = [];
          this.uploadedFiles = [];
          this.folderDiscussion.discussionNotes = item.discussionNotes;
          this.folderDiscussion.discussionSubject = item.discussionSubject;
          this.folderDiscussion.discussionNotesID = item.discussionNotesID;
          this.uploadedFiles = item.folderDiscussionAttachemntsModels.fileDocumentList;

          if (this.uploadedFiles != null && this.uploadedFiles != undefined) {
            this.uploadedFileNames = [];
            for (var id in this.uploadedFiles) {
              //let selname  = this.uploadedFileNames.filter(f=>f == this.uploadedFiles[id].fileName) 
              //console.log(selname);           
              //if(selname[0] == null || selname[0] == undefined)
              // {
              this.uploadedFileNames.push(this.uploadedFiles[id].fileName);
              //}   
            }
          }
          this.mainEditor = true;
        }
        else {
          this.uploadedFileNames = [];
          this.uploadedFiles = [];
          this.subdiscussion.discussionNotes = item.discussionNotes;
          this.subdiscussion.discussionNotesID = item.discussionNotesID;
          this.subdiscussion.parentDiscussionNotesID = item.parentDiscussionNotesID;
          this.subEditor = true;
          this.uploadedFiles = item.folderDiscussionAttachemntsModels.fileDocumentList;

          if (this.uploadedFiles != null && this.uploadedFiles != undefined) {
            for (var id in this.uploadedFiles) {
              //let selectname  = this.uploadedFileNames.filter(f=>f == this.uploadedFiles[id].fileName)        
              //if(selectname[0] == null || selectname[0] == undefined)
              //{
              this.uploadedFileNames.push(this.uploadedFiles[id].fileName);
              // }       
            }
          }
        }
      }
      else if (key == 1) {
        this.deleteFolderDiscussion(item, mainItem);
      }
    },
    initialize () {

      if (this.folderID > 0 && this.folderDiscussion.documentID > 0) {

        this.discussionloader = true;
        let userId = this.$store.state.auth.userId;
        getFolderDiscussionsByID(this.folderDiscussion.documentID, userId)
          .then(response => {
            this.folderDiscussions = response.data;
            this.discussionloader = false;
            let discussioned = this.folderDiscussions.filter(f => f.discussedBy == userId);
            if (discussioned.length > 0) {
              this.enableEditor = false;
            }
            else { this.enableEditor = true; }

            const Array = this.folderDiscussions;
            const Property = "userName";
            const replied = this.groupBy(Array, Property);

          })
          .catch(error => {

            window.getApp.$emit('APP_API_ERROR', error);
          });

        getApplicationUsers('')
          .then(response1 => {
            this.userItems = response1.data;
            this.discussionloader = false;

          })
          .catch(error => {
            this.discussionloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

        getUserGroups('')
          .then(response2 => {
            this.userGroupItems = response2.data;

            this.discussionloader = false;

          })
          .catch(error => {
            this.discussionloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      }
      else {
        this.folderDiscussions = [];
      }
    },
    downloadAttachment (item) {
      //console.log(item);
      for (var id in item.documentIdList) {
        this.userId = this.$store.state.auth.userId;
        let download = {
          documentId: item.documentIdList[id],
          folderId: -1,
          userId: this.userId
        };

        documentInfo(download)
          .then(fileInfo => {
            if (fileInfo != undefined && fileInfo.data != undefined) {
              let latestFile = fileInfo.data;
              //console.log(latestFile);
              let link = document.createElement("a");
              link.download = latestFile.fileName;
              downloadFile(latestFile.documentId)
                .then(response => {

                  let blob = new Blob([response.data], {
                    type: latestFile.contentType
                  });

                  link.href = window.URL.createObjectURL(blob);

                  link.click();
                  this.commentloader = false;

                })
                .catch(error => {
                  this.commentloader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      }
    },
    getMessages () {
      let userId = this.$store.state.auth.userId;
      this.discussionloader = true;
      getFolderDiscussionsByID(this.folderDiscussion.documentID, userId)
        .then(response => {
          this.folderDiscussions = response.data;
          this.discussionloader = false;
          let discussioned = this.folderDiscussions.filter(f => f.discussedBy == userId);
          if (discussioned.length > 0) {
            this.enableEditor = false;
          }
          else { this.enableEditor = true; }

          const Array = this.folderDiscussions;
          const Property = "userName";
          const replied = this.groupBy(Array, Property);
        })
        .catch(error => {

          window.getApp.$emit('APP_API_ERROR', error);
        });
    },

    groupBy (array, key) {
      const result = [];
      array.forEach(item => {
        if (!result.includes(item.discussedBy)) {
          result.push(item.discussedBy)
        }
      })
      return result
    },
    uploadAttachment (args) {
      Array.from(args).forEach(file => {
        let fileSize = file.size / 1000000;
        console.log(file.size);
        if (fileSize <= 100) {
        this.isExistingFile = false;
        let selname = this.uploadedFileNames.filter(f => f == file.name)
        if (selname[0] == null || selname[0] == undefined) {
          this.uploadedFileNames.push(file.name);
          this.uploadedFiles.push(file);
        }
        else if (selname[0] != null && selname[0] == file.name) {
          this.isExistingFile = true;
        }
        else {

        }
         let attachFile = {
            fileName: "",
            contentType: "",
            fileSize: 0.0,
            uploadDate: new Date(),
            uploaded: false,
            sessionID: "",
            isVideoFile: false,
            documentPermissionData: {
              isRead: true,
              isDelete: true,
            },
          };
         if (file.type.includes("video")) {
             attachFile.isVideoFile = true;
          }
        this.showdownload = false;
        if (this.isExistingFile == false) {
          this.uploadedAttachment.append("file", file, file.name);
           this.uploadedAttachment.append("isVideoFile", attachFile.isVideoFile);
           this.uploadedAttachment.append("userID",  this.$store.state.auth.userId);
        }
        if (this.isExistingFile == true) {
          window.getApp.$emit('APP_API_ERROR', "selected file already exist");
        }
        this.folderDiscussion.sessionID = "";
        }
         else {
          window.getApp.$emit('APP_API_VAL', file.name + " - File size exceeded 100MB");
        }
      });
    },

    removeFile (key) {
      this.$refs.docNotesUpload.clear()
      this.uploadedAttachment.delete("file");
      let id = this.uploadedFiles[key].documentID;
      this.uploadedAttachment.documentId = id;
      if (id > 0) {
        getUpdateFolderAttachment(id)
          .then(response => {
            this.uploadedFiles.splice(key, 1);
            this.uploadedFileNames.splice(key, 1);
            this.getMessages();
          })
          .catch(error => {


          });
      }
      else {
        this.uploadedFiles.splice(key, 1);
        this.uploadedFileNames.splice(key, 1);
      }
    },
    subremoveFile (key) {
      this.$refs.upformmesUpload.clear();
      this.uploadedAttachment.delete("file");
      let id = this.uploadedFiles[key].documentID;
      this.uploadedAttachment.documentId = id;
      if (id > 0) {
        getUpdateFolderAttachment(id)
          .then(response => {
            this.uploadedFiles.splice(key, 1);
            this.uploadedFileNames.splice(key, 1);
            this.getMessages();
          })
          .catch(error => {


          });
      }
      else {
        this.uploadedFiles.splice(key, 1);
        this.uploadedFileNames.splice(key, 1);
      }
    },
    sendDiscussion () {

      if (this.folderDiscussion.discussionNotes.trim().length > 0) {

        this.discussionloader = true;
        this.mainEditor = false;
          // if (this.uploadedAttachment.type.includes("video")) {
          //   this.uploadedAttachment.isVideoFile = true;
          // }
        uploadDocuments(this.uploadedAttachment).then(response => {
          this.folderDiscussion.sessionID = response.data;
          this.folderDiscussion.folderID = this.folderID;
          this.folderDiscussion.discussedBy = this.$store.state.auth.userId;
          this.folderDiscussion.addedByUser = this.$store.state.auth.userName;
          this.folderDiscussion.discussionDate = new Date();
          this.uploadedAttachment.delete("file");
          if (this.folderDiscussion.discussionNotesID > 0) {
            this.updateDiscussion();
          }
          else {
            createFolderDiscussion(this.folderDiscussion)
              .then(response => {

                this.folderDiscussions.push(response.data);
                this.folderDiscussion.discussionNotes = '';
                this.folderDiscussion.discussionSubject = '';
                this.discussionloader = false;
                this.enableEditor = false;
                const Array = this.folderDiscussions;
                const Property = "userName";
                const replied = this.groupBy(Array, Property);
                this.uploadedFiles = [];
                this.uploadedFileNames = [];
                this.getMessages();
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
              })
              .catch(error => {
                this.discussionloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        });
      }
    },
    sendSubDiscussion () {

      if (this.subdiscussion.discussionNotes.trim().length > 0) {
        this.discussionloader = true;
        this.subEditor = false;
        uploadDocuments(this.uploadedAttachment).then(response => {
          this.subdiscussion.sessionID = response.data;
          this.subdiscussion.addedByUser = this.$store.state.auth.userName;
          this.subdiscussion.discussedBy = this.$store.state.auth.userId;
          this.uploadedAttachment.delete("file");
          if (this.subdiscussion.discussionNotesID > 0) {
            this.updateSubFolderDiscussion(this.subdiscussion);

          }
          else {
            this.subdiscussion.addedByUser = this.$store.state.auth.userName;
            this.subdiscussion.discussedBy = this.$store.state.auth.userId;
            createFolderDiscussion(this.subdiscussion)
              .then(response => {
                this.mainmessage.folderDiscussionModels.push(response.data);
                this.subdiscussion.discussionNotes = '';
                this.discussionloader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.getMessages();
              })
              .catch(error => {
                this.discussionloader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        });
      }
    },
    updateDiscussion () {

      if (this.folderDiscussion.discussionNotes.trim().length > 0) {
        this.discussionloader = true;
        this.mainEditor = false;
        updateFolderDiscussion(this.folderDiscussion)
          .then(response => {
            this.mainItem.discussionNotes = this.folderDiscussion.discussionNotes;
            this.mainItem.discussionDate = this.folderDiscussion.discussionDate;
            this.mainItem.discussionSubject = this.folderDiscussion.discussionSubject;

            this.mainItem.isEdited = true;
            this.folderDiscussion.discussionNotesID = -1;
            this.folderDiscussion.discussionNotes = '';
            this.folderDiscussion.discussionSubject = '';
            this.discussionloader = false;
            this.uploadedFiles = [];
            this.uploadedFileNames = [];
            this.getMessages();
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
          })
          .catch(error => {
            this.discussionloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      }
    },
    updateSubFolderDiscussion (mainDiscussion) {

      if (this.subdiscussion.discussionNotes.trim().length > 0) {
        this.discussionloader = true;
        this.subEditor = false;
        updateFolderDiscussion(this.subdiscussion)
          .then(response => {
            this.subItem.discussionNotes = this.subdiscussion.discussionNotes;
            this.subItem.isEdited = true;
            this.subdiscussion.discussionNotesID = -1;
            this.subdiscussion.discussionNotes = '';
            this.discussionloader = false;
            this.subEditor = false;
            this.getMessages();
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
          })
          .catch(error => {
            this.discussionloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      }
    },
    deleteFolderDiscussion (item, mainItem) {
      this.discussionloader = true;
      deleteFolderDiscussion(item)
        .then(response => {
          if (response != undefined) {
            if (item.parentDiscussionNotesID == null) {
              const index = this.folderDiscussions.indexOf(item);
              this.folderDiscussions.splice(index, 1);
            }
            else {
              const index = mainItem.folderDiscussionModels.indexOf(item);
              mainItem.folderDiscussionModels.splice(index, 1);
            }
          }
          this.discussionloader = false;
        })
        .catch(error => {
          this.discussionloader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },

    openUpload () {
      this.$refs.refsubFolderForm.openUpload();
    },   
    closeDial () {
      this.messageformdata = Object.assign({}, this.defaultData);
    },

  }
};
</script>

<style lang="stylus" scoped>
.folder-sub--scroll {
  height: calc(100vh - 110px - 60px);
}
</style>