<template>

  <div id="page-forms">

    <v-form v-model="formdata.valid" ref="validateform" lazy-validation>
      <v-layout row wrap>

        <v-flex lg12 sm12>

          <v-layout>
            <v-flex lg6 sm6>
              <v-text-field label="Name" prepend-icon="tune" v-model="formdata.name" required :rules="nameRules"></v-text-field>
            </v-flex>
            <v-flex lg6 sm6>
              <v-text-field label="Description" v-model="formdata.description" prepend-icon="person" required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex sm6 lg6>
              <v-autocomplete flat :items="folderStatus" v-model="formdata.statusCodeID" label="Status" chips prepend-icon="beenhere" required item-text="status" item-value="statusCodeID">
                <template slot="selection" slot-scope="data">
                  <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeStatus(data.item)">
                    <v-avatar class="primary white--text" v-text="data.item.status.slice(0, 1).toUpperCase()"></v-avatar>
                    {{ data.item.status }}
                  </v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                  </template>
                  <template v-else>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.status"></v-list-tile-title>
                    </v-list-tile-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex sm2 lg2>
              <v-btn color="primary" @click="openUpload">Upload</v-btn>

            </v-flex>
          </v-layout>
        </v-flex>

        <v-dialog v-model="uploadFile" max-width="700px" scrollable>
          <v-card>
            <v-form v-model="formdata.valid" ref="form" lazy-validation>
              <v-card-title>
                <span>File Upload</span>
                <v-spacer></v-spacer>
              </v-card-title>
              <v-card-text>
                <upload-btn @file-update="fileChanged" title="Browse" name="uploadpublicfolder" ref="folderUpload" multiple noTitleUpdate>
                  <!-- multiple -->
                  <template slot="icon-left">
                    <v-icon left color="white">attachment</v-icon>
                  </template>
                </upload-btn>
                <div class="large-12 medium-12 small-12 cell">
                  <div v-for="(name, key) in uploadedfileNames" class="file-listing"> {{name}}
                    <v-btn icon v-if="!showdownload" @click="removeFile( key )">
                      <v-icon>close</v-icon>
                    </v-btn>
                    <v-btn icon v-if="showdownload" @click="downloadFile( key )">
                      <v-icon>save_alt</v-icon>
                    </v-btn>
                  </div>
                </div>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>

                <v-btn outline color="primary" @click="uploadFile = false">Close</v-btn>

              </v-card-actions>
            </v-form>
          </v-card>
        </v-dialog>

      </v-layout>

    </v-form>
  </div>
</template>

 <script>
  import UploadButton from 'vuetify-upload-button';
  import { uploadDocuments, downloadFile, documentUsers } from '@/api/document';
  import { createFolders, updateFolders, getDocumentUserRoleByFolderIDDocumentID } from '@/api/folder';
  import GlobalMessage from '@/constant'
  import moment from 'moment'
  import { uuid } from 'vue-uuid';

  export default {

    components: {
      'upload-btn': UploadButton,

    },

    data: () => ({
      guid: uuid.v1(),

      editorText: 'This is initialValue.',
      editorOptions: {
        hideModeSwitch: true
      },
      editorHtml: '',
      editorVisible: true,
      search: null,
      folderStatus: [
        { status: 'Active', statusCodeID: 1 },
        { status: 'Inactive', statusCodeID: 2 },
      ],

      editorOption: {

      },

      loader: false,
      size: 'lg',
      view: 'grid',
      folder: false,
      dropUsers: [],
      subpublicfolderfiles: new FormData(),
      uploadedfileNames: [],
      uploadFile: false,
      formdata: {
        valid: false,
        folderID: -1,
        date: new Date().toISOString().substr(0, 10),
        title: '',
        name: '',
        description: '',
        sessionID: '',
        folderTypeID: 524,
        addedByUserID: 1,
        addedDate: new Date().toISOString().substr(0, 10),
        addedByUser: 'Arun',
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserID: 1,
        modifiedDate: new Date().toISOString().substr(0, 10),
        requiredfield: [v => !!v || 'This is required field'],
        addedByUser: 'Arun',
        attachments: [],
        documentID: -1,
        documentFolderID: -1,
        documentAccessID: null,
        documentAccessName: null,
        isTemp: true,
        uploadedFile: null,
        mainFolderID: null,
        docSessionID: [],
        documentUserRoleId: null,
        documentRoleId: null,
        userId: null,
        userGroupId: null,

      },
      defaultData: {
        valid: false,
        folderID: -1,
        date: new Date().toISOString().substr(0, 10),
        title: '',
        name: '',
        description: '',
        sessionID: '',
        folderTypeID: 524,
        addedByUserID: 1,
        addedDate: new Date().toISOString().substr(0, 10),
        addedByUser: 'Arun',
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserID: 1,
        modifiedDate: new Date().toISOString().substr(0, 10),
        requiredfield: [v => !!v || 'This is required field'],
        addedByUser: 'Arun',
        attachments: [],
        documentFolderID: -1,
        documentID: -1,
        documentAccessID: null,
        documentAccessName: null,
        isTemp: true,
        uploadedFile: null,
        mainFolderID: null,
        docSessionID: [],
        documentUserRoleId: null,
        documentRoleId: null,
        userId: null,
        userGroupId: null,
      },
      items: [],
      uploadedFiles: [],
      showDownLoad: false,
      editFile: {
        name: '',
        size: '',
        contentType: '',
      },
      height: {
        type: String,
        default: null,
      },

    }),
    computed: {
      computeHeight () {
        return {
          height: this.height || ''
        };
      },
       nameRules() {
      return [(v) => !!v || "This is required field"];
    },

    },
    mounted () {

    },
    created () {

      window.getApp.$on('SAVE_PUBLICFOLDER', () => {
        this.save();
      });
      window.getApp.$on('INITIALIZE_PUBLICFOLDER', day => {
        this.guid = uuid.v1();
        this.initialize();
      });

      window.getApp.$on('EDIT_PUBLICFOLDER', item => {
        this.initialize();
        this.formdata = item;
        this.guid = item.sessionID;
        this.showdownload = true;
        this.uploadedFiles = [];
        this.uploadedfileNames = [];
        this.InitilizeTab();
      });

    },
    beforeDestroy () {
      window.getApp.$off('SAVE_PUBLICFOLDER')
      window.getApp.$off('SAVE_PUBLICFOLDER')
      window.getApp.$off('INITIALIZE_PUBLICFOLDER')
      window.getApp.$off('EDIT_PUBLICFOLDER')
      window.getApp.$off('INITIALIZE_PUBLICFOLDERFILE')
      window.getApp.$off('INITIALIZE_SUBPUBLICFOLDER')
      window.getApp.$off('ENABLE_PUBLICFOLDERACTION')
    },
    methods: {
      removeStatus (item) {
        this.formdata.statusCodeID = null;
      },

      initialize () {
        this.getDocumentPermission();

        this.uploadedFiles = [];
        this.uploadedfileNames = [];
        this.formdata = Object.assign({}, this.defaultData);
        this.formdata.docSessionID = [],
          this.formdata.addedByUser = this.$store.state.auth.userName;
        this.loader = true;
      },

      getDocumentPermission () {

        let userid = this.$store.state.auth.userId;
        if (this.folderID != null) {
          this.userId = userid;

          getDocumentUserRoleByFolderIDDocumentID(this.folderID, this.userId)
            .then(response2 => {
              if (response2.data != undefined) {

                this.docAccessRightsPermission = response2.data;
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });

        }

      },
      openUpload () {
        this.$refs.folderUpload.clear();
        this.subpublicfolderfiles = new FormData();
        this.uploadedFiles = [];
        this.uploadedfileNames = [];
        this.uploadFile = true;
      },

      fileChanged (args) {
        Array.from(args).forEach(file => {
          let fileSize = file.size / 1000000;
          console.log(file.size);
          if (fileSize <= 100) {
            this.uploadedFiles.push(file);
            this.uploadedfileNames.push(file.name);
            this.showdownload = false;
            this.loader = true;
             if (file.type.includes("video")) {
              this.subpublicfolderfiles.append("isVideoFile", "true");
            } else {
              this.subpublicfolderfiles.append("isVideoFile", "false");
            }
            this.subpublicfolderfiles.append("file", file, file.name);
             this.subpublicfolderfiles.append("userID",  this.$store.state.auth.userId);
          }
          else {
            window.getApp.$emit('APP_API_VAL', file.name + " - File size exceeded 100MB");
          }
        });
      },
      removeFile (key) {
        this.$refs.folderUpload.clear();
        this.uploadedFiles.splice(key, 1);
        this.uploadedfileNames.splice(key, 1);
      },

      downloadFile (key) {

        this.loader = true;
        downloadFile(this.formdata.attachments[key])
          .then(response => {
            let blob = new Blob([response.data], { type: this.editFile.contentType })
            let link = document.createElement('a')
            link.href = window.URL.createObjectURL(blob)
            link.download = this.editFile.name
            link.click()
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });

      },
      InitilizeTab () {
        window.getApp.$emit('INITIALIZE_PUBLICFOLDERFILE', this.formdata);
        window.getApp.$emit('INITIALIZE_SUBPUBLICFOLDER', this.formdata.folderID);
        window.getApp.$emit('ENABLE_PUBLICFOLDERACTION');
      },

      save () {
        console.log('folder save'+JSON.stringify(this.formdata))
        if (this.$refs.validateform.validate()) {

          this.loader = true;

          uploadDocuments(this.subpublicfolderfiles)
            .then(response => {

              this.formdata.sessionID = response.data;
              if (this.formdata.folderID > -1) {
                this.formdata.modifiedByUserId = this.$store.state.auth.userId;
                this.formdata.modifiedDate = new Date().toISOString().substr(0, 10);
                this.formdata.addedByUserId = this.$store.state.auth.userId;
                this.formdata.addedDate = new Date().toISOString().substr(0, 10);
                updateFolders(this.formdata)
                  .then(response => {
                    this.loader = false;
                    this.actionButton = true;

                    window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                    this.subpublicfolderfiles = new FormData();
                    window.getApp.$emit('REFRESHFILE');
                    this.uploadedFiles = [];
                    this.uploadedfileNames = [];
                    console.log(response.data);

                  })
                  .catch(error => {
                    this.loader = false;
                    window.getApp.$emit('APP_API_ERROR', error);
                  });
              } else {
                this.formdata.addedByUserId = this.$store.state.auth.userId;
                this.formdata.addedDate = new Date().toISOString().substr(0, 10);
                createFolders(this.formdata)
                  .then(response => {
                    this.loader = false;
                    if (response.data != undefined) {
                      window.getApp.$emit('FOLDERLOAD', response.data.folderID);
                      window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                      this.subpublicfolderfiles = new FormData();
                      this.formdata = this.defaultData;
                      this.uploadedFiles = [];
                      this.uploadedfileNames = [];

                    }
                  })
                  .catch(error => {
                    this.loader = false;
                  });
              }
            })
            .catch(error => {
              this.loader = false;
              //window.getApp.$emit('APP_API_ERROR', error);
            });

        }
      },
    },
  };
</script>