<template>
  <div id="media" class="media">
    <v-toolbar class="elevation-0 transparent media-toolbar">
      <v-tooltip bottom>
        <v-btn flat slot="activator" color="primary" @click="AddNew">
          <v-icon>add</v-icon>
          &nbsp; New Public Folder &nbsp;
        </v-btn>
        <span>Create New Public Folder by clicking this button.</span>
      </v-tooltip>

      &nbsp;
      <v-text-field class="mx-3" flat label="Search" prepend-icon="search" v-model="search" clearable @click:clear="clearSearch" @input="onSearch"></v-text-field>

      <v-spacer></v-spacer>
      <span class="time">{{ timerDuration }}</span>

      <v-flex md6 pr-1>
        <v-btn :disabled='loader' v-if="ShowOnly" depressed :style="{float:'right'}" @click="onShowOnly">Show All</v-btn>
        <v-btn :disabled='loader' v-else depressed :style="{float:'right'}" @click="onShowPermission">Show Only Permission</v-btn>
      </v-flex>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>

      <download-excel class="btn btn-default" :data="flatPublicFolderitems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="publicFolder.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

    </v-toolbar>
    <div id="app">
      <!-- <app-section-loader :status="loader"></app-section-loader> -->
      <!-- <v-data-table
        :items="filteredItems"
        :headers="headers"
        ref="sortableTable"
        disable-initial-sort
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
      >
        <template
          slot="items"
          slot-scope="props"
          v-if="ShowOnly==true ? props.item.isRead : props.item"
        >
          <tr
            class="sortableRow"
            :key="itemKey(props.item)"
          >
            <td class="text-xs-left">{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.description }}</td>
            <td class="text-xs-left">{{ props.item.addedByUser }}</td>

            <td class="justify-left layout px-0">
              <v-tooltip bottom>
                <v-icon
                  :disabled="!props.item.isRead"
                  small
                  slot="activator"
                  flat
                  class="mr-2"
                  @click="redirectLink(props.item)"
                >
                  visibility
                </v-icon>
                <span>Visibility Mode</span>
              </v-tooltip>
              <v-tooltip bottom>
                <v-icon
                  :disabled="!props.item.isDelete"
                  small
                  slot="activator"
                  flat
                  class="mr-2"
                  @click="onDeleteItem(props.item)"
                >
                  delete
                </v-icon>
                <span>Delete</span>
              </v-tooltip>
            </td>
          </tr>
        </template>
      </v-data-table> -->
      <ejs-treegrid ref='treegrid' :dataSource="publicfolderItems" :treeColumnIndex='0' childMapping='children' :editSettings='editSettings' :allowResizing=true :allowSorting='true' :rowDataBound='rowDataBound' :recordDoubleClick='recordDoubleClick' :allowPaging="true" :pageSettings='pagination' :toolbar='toolbar'>
        <e-columns>
          <e-column field='name' headerText='Name' textAlign='left' :allowEditing='false' width=90></e-column>
          <e-column field='parentFolderPathName' headerText='Document Path' textAlign='Left' :allowEditing='false' width=180 ></e-column>
          <e-column field='description' headerText='Description' textAlign='Left' :allowEditing='false' width=180></e-column>
          <e-column field='addedByUser' headerText='Added By' textAlign='Right' :allowEditing='false' width=90></e-column>
           <e-column field='modifiedDate' headerText='Modify Date' textAlign='Right' :allowEditing='false' width=90></e-column>
          <e-column headerText='Actions' width='140' :commands='commands'></e-column>

        </e-columns>
      </ejs-treegrid>
    </div>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>

        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="saveAndClose" :loading="publicfolderloader">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Folder</span>
          </v-tooltip>
          <v-spacer></v-spacer>

          <v-menu bottom left>
            <v-list>
              <v-list-tile v-for="(item, i) in items" :key="i" click>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-text>
          <public-folder-entry-tab ref="publicfolderentrytab" v-bind="dialogData"></public-folder-entry-tab>
        </v-card-text>

      </v-card>
    </v-dialog>
    <v-navigation-drawer class="setting-drawer" temporary left v-model="openDrawer" hide-overlay fixed width="600">
      <file-list ref="refFileList"></file-list>
    </v-navigation-drawer>
    <app-section-loader :status="loader"></app-section-loader>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
    </delete-confirmation-dialog>
  </div>
</template>

<script>
  import PublicFolderEntryTab from "@/pages/nonlivepublicfolder/publicFolderEntryTab";
  import PublicfolderForm from '@/pages/nonlivepublicfolder/publicfolderForm';
  import SubPublicfolder from '@/pages/nonlivepublicfolder/subpublicfolder';
  import UploadButton from 'vuetify-upload-button';
  import GlobalMessage from '@/constant'
  import { getPublicFolders, createFolders, updateFolders, deleteFolders, getShowonlyOrPermissionFolders } from '@/api/folder';
  import { uploadDocuments } from '@/api/document';
  import { uuid } from 'vue-uuid';
  import Vue from "vue";
  import { TreeGridPlugin, Edit, Page, IRow, Column, CommandColumn, Resize, Sort, Filter, Toolbar } from "@syncfusion/ej2-vue-treegrid";
  import { closest, addClass, removeClass, getValue } from '@syncfusion/ej2-base';
  import FileList from "@/pages/nonlivepublicfolder/FileList";

  var timeBegan = null
    , timeStopped = null
    , stoppedDuration = 0
    , started = null
    , running = false;

  Vue.use(TreeGridPlugin);

  export default {
    components: {
      PublicFolderEntryTab,
      PublicfolderForm,
      SubPublicfolder,
      'upload-btn': UploadButton,
      FileList
    },
    data () {
      return {
        timerDuration: '00:00:00.000',
        guid: uuid.v1(),
        //data: dataSource,
        itemKeys: new WeakMap(),
        currentItemKey: 0,
        rowsPerPageItems: [10, 20, 30, 40, 50, 100],
        docAccessRightsPermission: null,
        editSettings: { allowEditing: true, allowAdding: true, allowDeleting: true, mode: 'Row' },
        commands: [{ buttonOption: { iconCss: ' e-icons e-upload', cssClass: 'e-flat', click: this.onViewClick } },
        { buttonOption: { iconCss: ' e-icons e-edit', cssClass: 'e-flat', click: this.onEditClick } },
        { buttonOption: { iconCss: 'e-icons e-delete', cssClass: 'e-flat', click: this.onDeleteClick } }],
        pagination: {
          pageSizes: true,
          pageSize: 10,
          currentPage: 1,
        },
        openDrawer: false,
        isRead: false,
        publicfolderloader: false,
        menuSearch: false,
        menufilter: false,
        size: 'lg',
        view: 'list',
        editedSubpublicfolderIndex: -1,
        subPublicfolderitems: [],
        flatPublicFolderitems: [],
        folderIDs: [],
        actionButton: false,
        size: 'sm',
        picker: new Date().toISOString().substr(0, 10),
        dialog: false,
        clipDialog: false,
        mainFolderID: null,
        downloadClipDialog: false,
        checkoutClipDialog: false,
        inviteClipDialog: false,
        moveClipDialog: false,
        relationshipClipDialog: false,
        dialogData: null,
        dialogSTData: null,
        folder: false,
        uploadFile: false,
        publicfolderLinkDialog: false,
        publicfolderDuplicateDialog: false,
        subPublicfolderDialog: false,
        loader: false,
        search: '',
        statusCodeID: 1,
        items: [],
        subpublicfolderfiles: new FormData(),
        validateGeneralInfo: false,
        validateSecuritySettingInfo: false,

        publicfolderStatus: [
          { status: 'Active', statusCodeID: 1 },
          { status: 'Inactive', statusCodeID: 2 },
        ],

        multipleStatusCodeID: [],
        publicfolderItems: [],
        selectedItem: null,
        searchItem: { action: '', Id: null, searchString: 'searchString', },
        searchsubPublicfolderItem: { action: '', Id: null, searchString: 'searchString', },
        folderParam: { userId: null, showOnly: false },
        ShowOnly: false,
        editedItem: {
          valid: false,
          folderID: -1,
          parentFolderID: null,
          date: new Date().toISOString().substr(0, 10),
          name: '',
          description: '',
          sessionID: '',
          folderTypeID: 524,
          addedByUserID: null,
          addedDate: new Date().toISOString().substr(0, 10),
          addedByUser: 'Arun',
          statusCodeID: 1,
          statusCode: 'Active',
          modifiedByUserID: null,
          modifiedDate: new Date().toISOString().substr(0, 10),
          requiredfield: [v => !!v || 'This is required field'],
          addedByUser: 'Arun',
          attachments: [],

          //Security Settings
          documentUserRoleId: null,
          documentRoleId: null,
          userIDs: [],
          userGroupIDs: [],
          isFolderLevel: "false",
          isRead: false,
          isDelete: false,

          //Clip Button Grid Screen
          fileName: '',
          fileSize: '',
          uploadDate: new Date().toISOString().substr(0, 10),
        },
        defaultItem: {
          valid: false,
          folderID: -1,
          parentFolderID: null,
          date: new Date().toISOString().substr(0, 10),
          name: '',
          description: '',
          sessionID: '',
          folderTypeID: 524,
          addedByUserID: null,
          addedDate: new Date().toISOString().substr(0, 10),
          addedByUser: 'Arun',
          statusCodeID: 1,
          statusCode: 'Active',
          modifiedByUserID: null,
          modifiedDate: new Date().toISOString().substr(0, 10),
          requiredfield: [v => !!v || 'This is required field'],
          subPublicfolderitems: [],
          attachments: [],

          //Security Settings
          documentUserRoleId: null,
          documentRoleId: null,
          userId: null,
          userGroupId: null,
          isFolderLevel: "false",
          isRead: false,
          isDelete: false,

          //Clip Button Grid Screen
          fileName: '',
          fileSize: '',
          uploadDate: new Date().toISOString().substr(0, 10),
        },
        height: {
          type: String,
          default: null,
        },
        selected: [],
        headers: [
          { text: 'Name', value: 'name', sortable: true, align: 'left', width: "10%" },
          { text: 'Description', value: 'description', sortable: true, align: 'left', width: "10%" },
          { text: 'Owner', value: 'addedByUser', sortable: false, align: 'left', width: "10%" },
          { text: 'Actions', value: 'actions', align: 'left', width: "1%" }
        ],

        json_fields: {
          'Name': 'name',
          'Description': 'description',
          'Owner': 'addedByUser',
        },
        toolbar: ['ExpandAll', 'CollapseAll']
        /*  actionTemplate: function () {
               return { template : Vue.component('actionTemplate',{
                  template: `<td class="justify-left layout px-0">
                   <v-tooltip bottom>
                     <v-icon
                       small
                       slot="activator"
                       flat
                       class="mr-2"
                     >
                       visibility
                     </v-icon>
                     <span>Visibility Mode</span>
                   </v-tooltip>
                   <v-tooltip bottom>
                     <v-icon
                       small
                       slot="activator"
                       flat
                       class="mr-2"
                     >
                       delete
                     </v-icon>
                     <span>Delete</span>
                   </v-tooltip>
                 </td>`,
                     data: function() {
                         return {
                             data: {},
                         }
                     },
                     methods:{
                     },
                     computed: {
               }})}
         } */
      }
    },


    mounted () {

    },


    computed: {

      // filteredItems () {
      //   return this.publicfolderItems.filter(item => {
      //     if (!this.search) return this.publicfolderItems;
      //     return (item.name.toLowerCase().includes(this.search.toLowerCase()));
      //   });
      // },
      computeHeight () {
        return {
          height: this.height || ''
        };
      },
      saveKey () {

        return {
          // bind to hotkey 
          'ctrl+s': this.save
        }
      }
    },

    provide: {
      treegrid: [Page, Edit, CommandColumn, Resize, Sort, Filter, Toolbar]
    },

    created () {
      this.initialize();
      window.getApp.$on('ENABLE_PUBLICFOLDERACTION', () => {
        this.actionButton = true;
      });
      
      this.pagination.pageSize = this.$store.state.auth.pageSize;
    },
    beforeDestroy () {
      window.getApp.$off('INITIALIZE_PUBLICFOLDER')
      window.getApp.$off('EDIT_PUBLICFOLDER')
      window.getApp.$off('INITIALIZE_PUBLICFOLDERFILE')
      window.getApp.$off('INITIALIZE_SUBPUBLICFOLDER')
      window.getApp.$off('EDIT_SUBPUBLICFOLDER')
      window.getApp.$off('ADD_SUBPUBLICFOLDER')
      window.getApp.$off('SAVE_SUBPUBLICFOLDER')
      window.getApp.$off('ADD_MAINSUBPUBLICFOLDER')
      window.getApp.$off('SEND_PUBLICFOLDEROBJ')
      window.getApp.$off('SAVE_PUBLICFOLDER')
      window.getApp.$off('ENABLE_PUBLICFOLDERACTION')

    },
    methods: {
      start () {
        if (running) return;

        //if (timeBegan === null) {
        this.reset();
        timeBegan = new Date();
        //}

        if (timeStopped !== null) {
          stoppedDuration += (new Date() - timeStopped);
        }

        started = setInterval(this.clockRunning, 10);
        running = true;
      },
      stop () {
        running = false;
        timeStopped = new Date();
        clearInterval(started);
      },
      onSearch () {
        console.log('Search', this.search);
        this.$refs.treegrid.search(this.search);
         this.$refs.treegrid.collapseAll();
      },
      reset () {
        running = false;
        clearInterval(started);
        stoppedDuration = 0;
        timeBegan = null;
        timeStopped = null;
        this.timerDuration = "00:00:00.000";
      },

      clockRunning () {
        var currentTime = new Date()
          , timeElapsed = new Date(currentTime - timeBegan - stoppedDuration)
          , hour = timeElapsed.getUTCHours()
          , min = timeElapsed.getUTCMinutes()
          , sec = timeElapsed.getUTCSeconds()
          , ms = timeElapsed.getUTCMilliseconds();

        this.timerDuration =
          this.zeroPrefix(hour, 2) + ":" +
          this.zeroPrefix(min, 2) + ":" +
          this.zeroPrefix(sec, 2) + "." +
          this.zeroPrefix(ms, 3);
      },

      zeroPrefix (num, digit) {
        var zero = '';
        for (var i = 0; i < digit; i++) {
          zero += '0';
        }
        return (zero + num).slice(-digit);
      },

      rowDataBound: function (args) {
        if (args.data['isRead'] == false) {
          args.row.style.background = '#ff8a80';
        }
      },

      recordDoubleClick: function (args) {
        this.redirectLink(args.rowData);
      },

      itemKey (item) {
        if (!this.itemKeys.has(item)) this.itemKeys.set(item, ++this.currentItemKey)
        return this.itemKeys.get(item)
      },

      back () {
        this.view = 'grid';

      },
      clearSearch () {
        this.search = "";
      },
      initialize () {
        this.start();
        this.loader = true;
        let id = this.$store.state.auth.userId;
      
        getPublicFolders(id)
          .then(response => {
            if(response!=undefined)
            {
            this.publicfolderItems = response.data;           
             this.stop();
           // this.loadFlatPublicFolders();
            this.loader = false;         

            }
          })
          .catch(error => {
            this.loader = false;

            window.getApp.$emit('APP_API_ERROR', error);
          });

      },
      AddNew () {

        this.actionButton = false;

        this.editedIndex = -1;
        this.editedSubpublicfolderIndex = -1;
        this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.userGroupIDs = [];
        this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.userIDs = [];
        this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.documentRoleId = null;
        this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.folderID = null;
        this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.documentID = null;
        this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.documentUserRoleId = null;
        this.$refs.publicfolderentrytab.$refs.refsecuritysetting.selected = 'user';
        this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.folderID = null;
        this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.name = '';
        this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.description = '';
        setTimeout(() => {
          this.dialog = true;
          window.getApp.$emit('INITIALIZE_PUBLICFOLDER', new Date());
          window.getApp.$emit('DISABLE_TAB', true);
        }, 400);

      },
      formateDate (string) {
        return string ? new Date(string).toISOString().substr(0, 10) : '';
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.publicfolderItems.indexOf(this.selectedItem);
        deleteFolders(this.selectedItem)
          .then(() => {
            this.loader = false;

            this.selectedItem = null;
            this.publicfolderItems.splice(index, 1);

            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },


      saveAndClose () {
        this.validateGeneralInfo = this.$refs.publicfolderentrytab.$refs.generalinfo.$refs.validateform.validate();
        console.log("folder name"+this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.name);
        //this.validateSecuritySettingInfo = this.$refs.publicfolderentrytab.$refs.refsecuritysetting.$refs.validateform.validate();
        if (this.validateGeneralInfo == true ) {
          this.loader = true;
          this.publicfolderloader = true;
          uploadDocuments(this.$refs.publicfolderentrytab.$refs.generalinfo.subpublicfolderfiles)
            .then(response => {
              if (this.editedItem.folderID > -1) {

                this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
                this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
                this.editedItem.addedByUserId = this.$store.state.auth.userId;
                this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
                this.editedItem.folderTypeID = 524;
                console.log(this.editedItem);
                updateFolders(this.editedItem)
                  .then(response => {
                    this.loader = false;
                    this.publicfolderloader = false;
                    this.actionButton = true;
                    window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                    this.subpublicfolderfiles = new FormData();
                    this.initialize();

                  })
                  .catch(error => {
                    this.loader = false;
                    window.getApp.$emit('APP_API_ERROR', error);
                  });
              } else {
                this.editedItem.sessionID = response.data;
                this.editedItem.fileName = this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.fileName;
                this.editedItem.fileSize = this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.fileSize;
                this.editedItem.name = this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.name;

                this.editedItem.description = this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.description;
                this.editedItem.statusCodeID = this.$refs.publicfolderentrytab.$refs.generalinfo.formdata.statusCodeID;
                // this.editedItem.userGroupIDs = this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.userGroupIDs;
                // this.editedItem.isFolderLevel = this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.isFolderLevel;
                // this.editedItem.userIDs = this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.userIDs;
                // if (this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.documentUserRoleId != null) {
                //   this.editedItem.documentUserRoleId = this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.documentUserRoleId;
                // }
                this.editedItem.documentRoleId = this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata.documentRoleId;
                this.editedItem.addedByUserId = this.$store.state.auth.userId;
                this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
                createFolders(this.editedItem)
                  .then(response => {

                    if ((response.data != undefined) && (response.data != null)) {
                      this.loader = false;
                      this.publicfolderloader = false;
                      this.editedItem = response.data;
                      window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                      this.$refs.publicfolderentrytab.$refs.refsecuritysetting.subpublicfolderfiles = this.subpublicfolderfiles;
                      this.subpublicfolderfiles = new FormData();
                      this.$refs.publicfolderentrytab.$refs.refsecuritysetting.formdata = this.editedItem;
                      setTimeout(() => {
                        this.initialize();
                      }, 300);


                    }
                  })
                  .catch(error => {
                    this.loader = false;
                  });
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });

          //this.dialog = false;
          // this.close();

        }
        else {
          // window.getApp.$emit('APP_API_VAL', GlobalMessage.VALIDATE);
        }
      },
      clearObj () {
        this.defaultItem.valid = false;
        this.defaultItem.folderID = null;
        this.defaultItem.parentFolderID = null;
        this.defaultItem.date = new Date().toISOString().substr(0, 10);
        this.defaultItem.name = '';
        this.defaultItem.description = '';
        this.defaultItem.addedByUserID = null;
        this.defaultItem.addedDate = new Date().toISOString().substr(0, 10);
        this.defaultItem.addedByUser = '';
        this.defaultItem.statusCodeID = null;
        this.defaultItem.statusCode = '';
        this.defaultItem.modifiedByUserID = null;
        this.defaultItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.defaultItem.subPublicfolderitems = [];
        this.defaultItem.attachments = [];
      },
      add () {

        this.clearObj();
        this.editedItem = this.defaultItem;
        this.$refs.refpublicfolderForm.formdata = this.editedItem;
        this.editedIndex = -1;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.editedIndex;
        console.log('Form Delete' + JSON.stringify(this.selectedItem));
        this.editedItem.folderID = this.selectedItem.folderID;
        deleteFolders(this.editedItem)
          .then(response => {
            if (response != undefined) {
              this.initialize();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            }
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      close () {
        this.dialog = false;
        this.uploadedfileslist = [];
        this.subpublicfolderfiles = [];
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;

        }, 400);
      },
      save () {
        this.$refs.refpublicfolderForm.save();
      },

      onEditClick (args) {
        let rowIndex = (closest(args.target, '.e-row')).rowIndex;
        let data = this.$refs.treegrid.ej2Instances.getCurrentViewRecords();
        this.redirectLink(data[rowIndex]);
      },
      onViewClick (args) {
        console.log(this.openDrawer);
        if (this.openDrawer == false) {
          this.openDrawer = true;
          this.openDrawerAsWell(args);
        }
        else {
          this.openDrawerAsWell(args);
        }
      },
      openDrawerAsWell (args) {
        let rowIndex = (closest(args.target, '.e-row')).rowIndex;
        let data = this.$refs.treegrid.ej2Instances.getCurrentViewRecords();
        this.selectedItem = data[rowIndex];
        this.$refs.refFileList.folderID = this.selectedItem.folderID;
        this.$refs.refFileList.userId = this.$store.state.auth.userId;
        this.$refs.refFileList.getDocumentPermission();
        this.$refs.refFileList.getFiles();
      },
      onDeleteClick (args) {
        let rowIndex = (closest(args.target, '.e-row')).rowIndex;
        let data = this.$refs.treegrid.ej2Instances.getCurrentViewRecords();
        this.selectedItem = data[rowIndex];
        if (this.selectedItem.isRead && this.selectedItem.isDelete) {
          this.$refs.deleteConfirmationDialog.openDialog();
        }
      },
      redirectLink (item) {
        if (item.isRead) {
          this.$router.push({ name: 'publicfolderTreeView', query: { id: item.mainFolderID, publicfolderid: item.folderID } });
        }
        
      },
      onShowOnly () {
        this.ShowOnly = false,
          this.loader = true;
        let id = this.$store.state.auth.userId;
        this.folderParam.userId = id;
        this.folderParam.showOnly = this.ShowOnly;
        getShowonlyOrPermissionFolders(this.folderParam)
          .then(response => {
            this.publicfolderItems = response.data.filter(t => t.statusCodeID == 1);
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      onShowPermission () {
        this.ShowOnly = true
        this.loader = true;
        let id = this.$store.state.auth.userId;
        this.folderParam.userId = id;
        this.folderParam.showOnly = this.ShowOnly;
        getShowonlyOrPermissionFolders(this.folderParam)
          .then(response => {
            this.publicfolderItems = response.data.filter(t => t.statusCodeID == 1);
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      loadFlatPublicFolders () {
        this.publicfolderItems.forEach(publicFolderItem => {
          this.flatPublicFolderitems.push(publicFolderItem);
          if (publicFolderItem.children.length > 0) {
            publicFolderItem.children.forEach(childremFolderItem => {
              if (childremFolderItem.name.toLowerCase().includes(this.search.toLowerCase())) {
                this.flatPublicFolderitems.push(childremFolderItem);
                if (childremFolderItem.children.length > 0) {
                  this.populateRecursiveChildren(childremFolderItem.children)
                }
              }
            });
          }
        });
        console.log('flat folder items'+JSON.stringify(this.flatPublicFolderitems));
      },
      populateRecursiveChildren (childrenItems) {
        childrenItems.forEach(childremFolderItem => {
          if (childremFolderItem.name.toLowerCase().includes(this.search.toLowerCase())) {
            this.flatPublicFolderitems.push(childremFolderItem);
            if (childremFolderItem.children.length > 0) {
              this.populateRecursiveChildren(childremFolderItem.children)
            }
          }
        });
      },
    },
  }
</script>
<style scoped>
  .fullwidth {
    width: 100% !important;
    max-width: 100%;
  }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
  .red {
    background: rgb(235, 77, 77) !important;
    color: whitesmoke !important;
  }
  .blue {
    background: rgb(59, 59, 163) !important;
    color: whitesmoke !important;
  }
  .orange {
    background: orange !important;
    color: white !important;
  }
  .green {
    background: rgb(49, 155, 49) !important;
    color: white !important;
  }
  .blue,
  .orange,
  .red,
  .green {
    font-size: 13px;
    font-weight: 500;
    text-transform: capitalize;
  }
  .event-item {
    padding: 2px 0 2px 4px !important;
  }
  .handle {
    cursor: move !important;
    cursor: -webkit-grabbing !important;
  }
  .material .disableRow .e-rowcell {
    color: rgba(0, 0, 0, 0.38);
  }
   .e-upload:before{
                content: '\e725';
            }
</style>