<template>
  <v-card>
    <v-toolbar card dense color="transperent">
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          flat
          color="primary"
          @click.native="treedrawer = true"
        >
          <v-icon>timeline</v-icon>
        </v-btn>
        <span>Public Folder Tree</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="editOpenUpload"
          :disabled="
            (docAccessRightsPermission != undefined &&
              !docAccessRightsPermission.isCreateDocument) ||
            !readPermission
          "
        >
          <v-icon>attach_file</v-icon>
        </v-btn>
        <span>File Upload by clicking this button.</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          :disabled="
            (docAccessRightsPermission != undefined &&
              !docAccessRightsPermission.isCreateFolder) ||
            !readPermission
          "
          @click="addMainPublicfolder()"
        >
          <v-icon icon>note_add</v-icon>
        </v-btn>
        <span>Add Main Public Folder</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          :disabled="
            (docAccessRightsPermission != undefined &&
              !docAccessRightsPermission.isCreateFolder) ||
            !readPermission
          "
          @click="addSubPublicfolder()"
        >
          <v-icon icon>add_circle_outline</v-icon>
        </v-btn>
        <span>Add Sub Public Folder</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          :disabled="
            (docAccessRightsPermission != undefined &&
              !docAccessRightsPermission.isEdit) ||
            !readPermission
          "
          @click="editPublicfolder()"
        >
          <v-icon icon>edit</v-icon>
        </v-btn>
        <span>Edit Folder</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          :disabled="
            (docAccessRightsPermission != undefined &&
              !docAccessRightsPermission.isDelete) ||
            !readPermission
          "
          @click="deletePublicfolder()"
        >
          <v-icon icon>delete</v-icon>
        </v-btn>
        <span>Delete Folder</span>
      </v-tooltip>

      <v-text-field
        class="mx-3"
        flat
        label="Search"
        prepend-icon="search"
        v-model="search"
        clearable
        @input="onSearch"
      ></v-text-field>

      <download-excel
        class="btn btn-default"
        :data="publicfolderfileItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="fileList.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-tooltip bottom>
          <v-btn icon="" color="primary" slot="activator" flat @click="downloadExcelTo">
            <v-icon icon> mdi-file-excel </v-icon>
          </v-btn>
          <span>Download Excel For All Items</span>
        </v-tooltip>
      <span>{{ timerDuration }}</span>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          v-show="previousFolderIDList.length > 0"
          @click="previousFolder()"
        >
          <v-icon icon>skip_previous</v-icon>
        </v-btn>
        <span>Previous Folder</span>
      </v-tooltip>

      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn slot="activator" depressed :style="{ float: 'right' }">{{
          folderName
        }}</v-btn>
        <span>Current Folder Name</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="refreshFile()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
      <v-menu bottom left>
        <v-btn slot="activator" icon>
          <v-icon>more_vert</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile
            class="white"
            @click.native="goBack"
            href="#"
            ripple="ripple"
            rel="noopener"
          >
            <v-list-tile-action>
              <v-icon icon>reply</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Home Page</v-list-tile-title>
          </v-list-tile>
          <v-list-tile
            class="white"
            @click.native="previousClickMenu()"
            href="#"
            ripple="ripple"
            rel="noopener"
          >
            <v-list-tile-action>
              <v-icon icon>keyboard_arrow_left</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>Previous File Path</v-list-tile-title>
          </v-list-tile>
          <v-list-tile
            class="white"
            @click.native="firstPageClick()"
            href="#"
            ripple="ripple"
            rel="noopener"
          >
            <v-list-tile-action>
              <v-icon icon>first_page</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>First Page</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
      <!-- <v-tooltip bottom>
        <v-btn icon slot="activator" @click="goBack">
          <v-icon icon>reply</v-icon>
        </v-btn>
        <span>Go Back</span>
      </v-tooltip> -->
    </v-toolbar>
    <v-dialog v-model="subdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="saveSubPublicfolder"
              :loading="subpublicfolderloader"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Folder</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="subdialogClose()"
              :loading="subpublicfolderloader"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <sub-public-folder-entry-tab
            ref="refsubSavePublicfolderForm"
          ></sub-public-folder-entry-tab>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="updatePublicfolder"
              :loading="subpublicfolderloader"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Folder</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="editdialogClose()"
              :loading="subpublicfolderloader"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <vue-perfect-scrollbar
            class="securityform--scrollbar"
            v-bind:style="computeHeight"
          >
            <public-folder-entry-tab
              ref="refEditPublicfolderForm"
            ></public-folder-entry-tab>
          </vue-perfect-scrollbar>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="uploadFileDialog" max-width="700px">
      <v-card>
        <v-form v-model="formdata.valid" ref="validateform" lazy-validation>
          <v-card-title>
            <span>File Upload</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <div style="overflow: auto; height: calc(80vh - 60px)">
            <v-card-text>
              <v-textarea
                label="Description"
                v-model="formdata.documentDescription"
                prepend-icon="person"
                required
                :rules="requiredRules"
              ></v-textarea>
            </v-card-text>
            <v-card-text>
              <upload-btn
                @file-update="fileChanged"
                title="Browse"
                multiple
                name="uploadpublicfolder"
                ref="folderdetailUpload"
                noTitleUpdate
              >
                <!-- multiple -->
                <template slot="icon-left">
                  <v-icon left color="white">attachment</v-icon>
                </template>
              </upload-btn>
              <div class="large-12 medium-12 small-12 cell">
                <div v-for="(file, key) in uploadedFiles" class="file-listing">
                  {{ file.name }}
                  <v-btn icon v-if="!showdownload" @click="removeFile(key)">
                    <v-icon>close</v-icon>
                  </v-btn>

                  <v-btn icon v-if="showdownload" @click="downloadFile(key)">
                    <v-icon>save_alt</v-icon>
                  </v-btn>
                </div>
              </div>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              outline
              color="primary"
              @click.native="savedocuments"
              :loading="subpublicfolderloader"
              >Upload</v-btn
            >
            <v-btn outline color="primary" @click.native="closeUpload"
              >Close</v-btn
            >
          </v-card-actions>
        </v-form>
      </v-card>
    </v-dialog>
    <v-dialog v-model="publicfolderdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="saveMainPublicfolder"
              :loading="subMainfolderloader"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save Folder</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="closeDialog()"
              :loading="subMainfolderloader"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>

        <v-card-text>
          <vue-perfect-scrollbar
            class="securityform--scrollbar"
            v-bind:style="computeHeight"
          >
            <sub-public-folder-entry-tab
              ref="refMainPublicfolderForm"
              v-bind="dialogData"
            ></sub-public-folder-entry-tab>
          </vue-perfect-scrollbar>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-navigation-drawer
      class="setting-drawer"
      temporary
      left
      v-model="treedrawer"
      hide-overlay
      fixed
      width="400px"
      :loding="subpublicfolderloader"
    >
      <v-toolbar color="primary" dark>
        <v-toolbar-title>Public Folder Tree</v-toolbar-title>
      </v-toolbar>
    <v-text-field flat label="Search" solo-inverted v-model="filterSearch" appendIcon="search"></v-text-field>

      <vue-perfect-scrollbar class="chat-room--scrollbartree">
        <v-container>
          <v-layout column>
            <app-section-loader
              :status="subpublicfolderloader"
            ></app-section-loader>
            <vue-drag-tree
              :data="items"
              :allowDrag="allowDrag"
              :allowDrop="allowDrop"
              @current-node-clicked="curNodeClicked"
              @drag="dragHandler"
              @drag-enter="dragEnterHandler"
              @drag-leave="dragLeaveHandler"
              @drag-over="dragOverHandler"
              @drag-end="dragEndHandler"
              @drop="dropHandler"
              :disableDBClick="true"
              :expandAll="true"
              :active="folderID"
            ></vue-drag-tree>
          </v-layout>
        </v-container>
      </vue-perfect-scrollbar>
    </v-navigation-drawer>
    <v-flex v-if="selected" d-flex xs12>
      <file-lists v-if="true" ref="refpublicfolderfiles" ></file-lists>

      <v-flex v-else d-flex xs12>
        <v-layout>
          <v-flex xs12 sm12 style="color: red">
            <div>You don't have permission to view this folder details...</div>
          </v-flex>
          <v-flex xs12 sm12>
            <v-text-field
              label="Folder Name"
              prepend-icon="tune"
              v-model="formdata.name"
              required
              :rules="formdata.requiredfield"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm12>
            <v-text-field
              label="Folder Description"
              v-model="formdata.description"
              prepend-icon="person"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
        <v-layout></v-layout>
      </v-flex>
    </v-flex>

    <!-- <v-flex
      v-else
      d-flex
      xs12
    >
     

    </v-flex>-->

    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="formDeleteItem"
    ></delete-confirmation-dialog>
  </v-card>
</template>
<script>
import PublicFolderEntryTab from "@/pages/nonlivepublicfolder/publicFolderEntryTab";
import SubPublicFolderEntryTab from "@/pages/nonlivepublicfolder/subPublicFolderEntryTab";
import router from "vue-router";
import UploadButton from "vuetify-upload-button";
import SubPublicfolder from "@/pages/nonlivepublicfolder/subpublicfolder";
import GlobalMessage from "@/constant";
import FileLists from "@/pages/nonlivepublicfolder/FileList";
import PublicfolderForm from "@/pages/nonlivepublicfolder/publicfolderForm";
import {
  getFoldersbyID,
  getSubFoldersId,
  getFolderTreeId,
  createFolders,
  updateFolders,
  deleteFolders,
  dragDropFolder,
  getEditFolderByFolderID,
  getDocumentUserRoleByFolderIDDocumentID,
  getFileUploadByFolderID,
  getUserFolderRole,
  getuserTreefolderPermission,
  getFolderDetail,
  checkfolderIds,
  getExcel
} from "@/api/folder";
import { uploadDocuments, downloadFile } from "@/api/document";
import { getDocumentUserRolesByFolderID } from "@/api/documentRolePermission";
var timeBegan = null,
  timeStopped = null,
  stoppedDuration = 0,
  started = null,
  running = false;

export default {
  components: {
    PublicFolderEntryTab,
    SubPublicFolderEntryTab,
    SubPublicfolder,
    FileLists,
    "upload-btn": UploadButton,
    PublicfolderForm,
  },

  name: "Page2",
  data: () => ({
    timerDuration: "",
    docAccessRightsPermission: null,
    publicfolderStatus: "",
    treedrawer: false,
    opentreeNode: true,
    subdialog: false,
    readPermission: true,
    menuMainFolderID: null,
    editdialog: false,
    publicfolderdialog: false,
    subMainfolderloader: false,
    editFromFileList: false,
    menuPreviousID: null,
    active: [],
    avatar: null,
    open: [],
    users: [],
    publicfolderItems: [],
    publicfolderfileItems: [],
    json_fields: {
      "File Name": "fileName",
      Description: "description",
      "Release Version": "versionNo",
      "Drafting Version": "draftingVersionNo",
      "Locked By": "lockedByUser",
      "Upload By": "addedByUser",
    },
    publicfolderAllItems: [],
    subPublicfolderitems: [],
    flatSubPublicFolderItems: [],
    actionButton: false,
    subPublicfolderDialog: false,
    uploadFileDialog: false,
    folderID: -1,
    folderName: "",
    currentFolder: null,
    previousFolderIDList: [],
    previousFolderID: -1,
    mainFolderID: -1,
    initializefolderID: -1,
    initializemainfolderID: -1,
    parentFolderID: -1,
    uploadedFiles: [],
    showDownLoad: false,
    documentDescription: "",
    search: "",
    filterSearch:"",
    formDeleteData: new FormData(),
    editFile: {
      name: "",
      size: "",
      contentType: "",
      documentRoleId: null,
      userId: null,
      userGroupId: null,
      userIDs: null,
      userGroupIDs: null,
    },
    formTitle: "Public Folder Details",
    mergePublicfolder: { publicfolderMergedIds: [], modifiedByUserID: null },
    panel: [],
    subpublicfolderfiles: new FormData(),
    dialogData: null,
    mainPublicFolderValidateGeneralInfo: false,
    mainPublicFolderValidateSecuritySettingInfo: false,
    subPublicFolderValidateGeneralInfo: false,
    subPublicFolderValidateSecuritySettingInfo: false,
    formdata: {
      valid: false,
      folderID: -1,
      date: new Date(),
      title: "",
      name: "",
      description: "",
      documentDescription: "",
      sessionID: "",
      folderTypeID: 524,
      addedByUserID: 1,
      addedDate: new Date(),
      addedByUser: "Arun",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: 1,
      modifiedDate: new Date(),
      requiredfield: [(v) => !!v || "This is required field"],
      addedByUser: "Arun",
      attachments: [],
      documentID: -1,
      documentFolderID: -1,
      documentAccessID: null,
      documentAccessName: null,
      isTemp: true,
      isRead: false,
      uploadedFile: null,
      mainFolderID: null,
      publicfolderLinkedIds: [],
      documentRoleId: null,
      documentUserRoleId: null,
      userId: null,
      userGroupId: null,
    },

    subpublicfolderloader: false,
    subpublicfoldertriggered: false,
    selectedPublicfolder: [],
    publicfolderdrag: {
      folderID: undefined,
      parentFolderID: undefined,
    },
  }),
  created() {
    this.folderID = this.$route.query.publicfolderid;
    this.mainFolderID = this.$route.query.id;
    this.menuMainFolderID = this.$route.query.id;
    (this.initializefolderID = this.folderID),
      (this.initializemainfolderID = this.mainFolderID),
      (this.actionButton = true);

    window.getApp.$on("SUBPUBLICFOLDERID", (folderID) => {
      this.folderID = folderID;
      this.curNodeClicked({ folderID: this.folderID });
    });
    window.getApp.$on("REFRESHFILE", (s) => {
      this.$refs.refpublicfolderfiles.initialize();
    });
      window.getApp.$on("STOPTIMEDURATION", (s) => {
      this.stop();
    });

       window.getApp.$on("CURRENTFOLDERID", (folderID) => {
        this.folderID=folderID;
        this.getCurrentFolder();
       });

    window.getApp.$on("EDITFOLDER_FROMFILELIST", (item) => {
      this.editFromFileList = true;

      this.formdata = item;
      this.editPublicfolder();
    });
    window.getApp.$on("PREVIOUSFOLDERID", (previousFolderID) => {
      this.previousFolderID = previousFolderID;
      this.previousFolderIDList.push(this.previousFolderID);
      console.log("prevois list " + JSON.stringify(this.previousFolderIDList));
      window.getApp.$emit("PREVIOUSIDS", this.previousFolderIDList);
      this.curNodeClicked({ folderID: this.folderID });
    });
   
    window.getApp.$on("UPDATEFILELISTITEMS", (fileListItems) => {
      this.publicfolderfileItems = fileListItems;
    
      if (this.$refs.refpublicfolderfiles != undefined) {
        this.$refs.refpublicfolderfiles.publicfolderItems = fileListItems;
          console.log('emit after update file list item'+JSON.stringify(fileListItems))
      }
    });
    window.getApp.$on("FILELISTFOLDERID", (folderID) => {
      this.folderID = folderID;
      this.curNodeClicked({ folderID: this.folderID });
    });
    this.initialize();
  },
   watch: {
            
                deep: true,
                handler: function (newVal, oldVal) {
                    if (this.$route.query.publicfolderid != null && this.$route.query.id!=null) {
                      console.log('watch public folder id'+this.$route.query.publicfolderid)
                      console.log('watch public  id'+this.$route.query.id)
                        this.initialize();
                    }
                }
            
        },
          mounted () {
             if (this.$route.query.publicfolderid != null && this.$route.query.id!=null) {
                      
                        this.checkfolderid();
                    }
          },
      
  beforeDestroy() {
    window.getApp.$off("INITIALIZE_PUBLICFOLDERFILE");
    window.getApp.$off("INITIALIZE_PUBLICFOLDERCONVER");
    window.getApp.$off("PUBLICFOLDER_MESSAGE_READ");
    window.getApp.$off("PUBLICFOLDER_File_MESSAGE_READ");
    window.getApp.$off("SAVE_PUBLICFOLDER");
    window.getApp.$off("INITIALIZE_PUBLICFOLDER");
    window.getApp.$off("EDIT_PUBLICFOLDER");
    window.getApp.$off("ENABLE_PUBLICFOLDERACTION");
    window.getApp.$off("DISABLE_TAB");
    window.getApp.$off("TAB_CONVERSATION");
    window.getApp.$off("INITIALIZE_SUBPUBLICFOLDER");
    window.getApp.$off("EDIT_SUBPUBLICFOLDER");
    window.getApp.$off("ADD_SUBPUBLICFOLDER");
    window.getApp.$off("SAVE_SUBPUBLICFOLDER");
    window.getApp.$off("ADD_MAINSUBPUBLICFOLDER");
    window.getApp.$off("SEND_PUBLICFOLDEROBJ");
    window.getApp.$off("SUBPUBLICFOLDERID");
    window.getApp.$off("PREVIOUSFOLDERID");
   
    window.getApp.$off("EDITFOLDER_FROMFILELIST");
    window.getApp.$off("UPDATEFILELISTITEMS");
     window.getApp.$off("STOPTIMEDURATION");
    window.getApp.$off("FOLDERLOAD");
    window.getApp.$off("REFRESHFILE");
    window.getApp.$off("FILELISTFOLDERID");
     window.getApp.$off("CURRENTFOLDERID");
    

  },

  computed: {
    computeHeight() {
      return {
        height: this.height || "",
      };
    },
    selected() {
      if (!this.publicfolderItems.length) return undefined;

      if (this.folderID > 0) {
        const id = this.folderID;
        let userId = this.$store.state.auth.userId;
        // getuserTreefolderPermission(this.folderID, userId)
        // .then(response3 => {

        //  this.readPermission = response3.data.isRead;

        // })
        // .catch(error => {
        //   this.subpublicfolderloader = false;
        //   window.getApp.$emit('APP_API_ERROR', error);
        // });

        let editdata = this.publicfolderItems.find(
          (publicfolder) => publicfolder.folderID == id
        );

        if (editdata != undefined) {
          this.formdata = editdata;
          if (
            this.flatSubPublicFolderItems != undefined && this.flatSubPublicFolderItems.length>0)
            {
          if (            
            this.flatSubPublicFolderItems.filter(
              (f) => f.folderID == this.folderID
            )[0] != undefined
          ) {
            this.readPermission = this.flatSubPublicFolderItems.filter(
              (f) => f.folderID == this.folderID
            )[0].isRead;           
            console.log("selected read permission" + this.readPermission);
            console.log("this.flatSubPublicFolderItems",+JSON.stringify(this.flatSubPublicFolderItems));
          }
            }
          //this.readPermission = this.subPublicfolderitems.isRead;
          this.hasPermission = this.formdata.hasPermission;
          if (this.formdata != null) {
            this.editPublic(this.formdata);
            this.formDeleteData = this.formdata;
          }
        }
        
        this.opentreeNode = true;
        return editdata;
      } else {
        return undefined;
      }
    },

    items() {
       if (!this.filterSearch) return this.subPublicfolderitems;
        return this.filter(this.subPublicfolderitems, this.filterSearch);
    },
    requiredRules() {
      return [(v) => !!v || "Description is required field"];
    },
  },

  methods: {
    filter(arr, term) {
      var matches = [];
      if (!Array.isArray(arr)) return matches;

      arr.forEach(i => {
        if (i.name != undefined) {
          if (i.name.toLowerCase().includes(term.toLowerCase())) {
            matches.push(i);
          } else {
            let childResults = this.filter(i.children, term);
            if (childResults.length)
              matches.push(Object.assign({}, i, { children: childResults }));
          }
        }
        //else {
        //   matches.push(i);
        // }
      });

      return matches;
    },
    start() {
      if (running) return;

      //if (timeBegan === null) {
      this.reset();
      timeBegan = new Date();
      //}

      if (timeStopped !== null) {
        stoppedDuration += new Date() - timeStopped;
      }

      started = setInterval(this.clockRunning, 10);
      running = true;
    },
    stop() {
      running = false;
      timeStopped = new Date();
      clearInterval(started);
    },
    reset() {
      running = false;
      clearInterval(started);
      stoppedDuration = 0;
      timeBegan = null;
      timeStopped = null;
      this.timerDuration = "00:00:00.000";
    },

    clockRunning() {
      var currentTime = new Date(),
        timeElapsed = new Date(currentTime - timeBegan - stoppedDuration),
        hour = timeElapsed.getUTCHours(),
        min = timeElapsed.getUTCMinutes(),
        sec = timeElapsed.getUTCSeconds(),
        ms = timeElapsed.getUTCMilliseconds();

      this.timerDuration =
        this.zeroPrefix(hour, 2) +
        ":" +
        this.zeroPrefix(min, 2) +
        ":" +
        this.zeroPrefix(sec, 2) +
        "." +
        this.zeroPrefix(ms, 3);
    },

    zeroPrefix(num, digit) {
      var zero = "";
      for (var i = 0; i < digit; i++) {
        zero += "0";
      }
      return (zero + num).slice(-digit);
    },

    allowDrag(model, component) {
      if (model.parentFolderID == null) {
        return false;
      }
      return true;
    },
    allowDrop(model, component) {
      console.log("allowDrop", component.$parent._uid, component._uid);

      if (component.$parent._uid < component._uid) {
        return false;
      }
      if (this.publicfolderdrag.dragParentId == null) {
        return false;
      }

      if (
        this.publicfolderdrag.parentFolderID > model.parentFolderID ||
        this.publicfolderdrag.parentFolderID == model.parentFolderID
      ) {
        return true;
      } else if (this.publicfolderdrag.parentFolderID != model.parentFolderID) {
        return true;
      }
      return false;
    },
    downloadExcelTo () {
        this.loader = true;
        let searchData = {
          id: 1,
          userID: this.$store.state.auth.userId,
          parentID: 0,
          folderId: this.folderID,
        }
        getExcel(searchData)
          .then((response) => {
            let downloadData = response.data;
            let blob = new Blob([response.data], { type: "application/vnd.ms-excel" });
            let link = document.createElement("a");
            link.href = window.URL.createObjectURL(blob);
            link.download = this.folderName + ".xlsx";
            link.click();
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      },
    curNodeClicked(model) {
      console.log(model);
      this.start();
      this.previousFolderIDList = [];
      if (this.$refs.refpublicfolderfiles != undefined) {
        this.$refs.refpublicfolderfiles.previousFolderIDList = [];
        if (model.folderID != undefined && model.folderID > 0) {
          this.$refs.refpublicfolderfiles.folderID = model.folderID;
        }

        //this.$refs.refpublicfolderfiles.readPermission = true;
      }
      // if (this.$refs.refpublicfolderfiles != undefined) {
      //   this.$refs.refpublicfolderfiles.readPermission = this.readPermission;
      //    }
      this.folderID = model.folderID;
       
             this.getDocumentPermission();
             
     
      this.folderName = model.name;
    },

    dragHandler(model, component, e) {
      if (this.publicfolderdrag.folderID == undefined) {
        this.publicfolderdrag.dragParentId = model.parentFolderID;
        // this.publicfolderdrag.parentFolderID = model.parentFolderID;
        this.publicfolderdrag.folderID = model.id;
        this.publicfolderdrag.children = model.children;
        this.publicfolderdrag.name = model.name;
      }
    },
    dragEnterHandler(model, component, e) {},
    dragLeaveHandler(model, component, e) {},
    dragOverHandler(model, component, e) {},
    dragEndHandler(model, component, e) {},
    dropHandler(model, component, e) {
      if (
        model != null &&
        model.id != undefined &&
        this.publicfolderdrag.folderID != undefined &&
        this.publicfolderdrag.folderID != model.id
      ) {
        console.log(model);
        this.publicfolderdrag.parentName = model.name;
        this.publicfolderdrag.parentFolderID = model.id;
        this.publicfolderdrag.mainFolderID = model.mainFolderID;
        this.publicfolderdrag.modifiedByUserID = this.$store.state.auth.userId;

        this.subpublicfolderloader = true;
        console.log(this.publicfolderdrag);
        dragDropFolder(this.publicfolderdrag)
          .then((response) => {
            this.publicfolderdrag.folderID = undefined;
            this.subpublicfolderloader = false;
            this.initialize();
          })
          .catch((error) => {
            this.subpublicfolderloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    editPublic(publicfolder) {
      setTimeout(() => {
        if (this.$refs.refpublicfolderfiles != undefined) {
          console.log("edit public " + JSON.stringify(publicfolder));
          this.$refs.refpublicfolderfiles.folderID = publicfolder.folderID;

          this.$refs.refpublicfolderfiles.search = this.search;
          if (
            this.docAccessRightsPermission != null &&
            this.docAccessRightsPermission != null
          ) {
            if (this.docAccessRightsPermission.folderCreatedBy != null) {
              if (
                this.docAccessRightsPermission.folderCreatedBy > 0 &&
                this.docAccessRightsPermission.roleID > 0
              ) {
                let userId = this.$store.state.auth.userId;
                if (this.docAccessRightsPermission.folderCreatedBy != userId) {
                  if (this.docAccessRightsPermission.isRead == false) {
                    this.$refs.refpublicfolderfiles.readPermission = false;
                    this.$refs.refpublicfolderfiles.isEdit = false;
                  }
                  if (this.docAccessRightsPermission.isEdit == false) {
                    this.$refs.refpublicfolderfiles.isEdit = false;
                  }
                }
              }
            } else {
            }
          }

          // if(this.docAccessRightsPermission.roleID==0 ||this.docAccessRightsPermission.roleID== null)
          // {
          //   if(this.docAccessRightsPermission.isRead==false)
          //   {
          //   this.readPermission = false;
          //   }
          //   //this.readPermission = response2.data.isRead;
          // }

          this.$refs.refpublicfolderfiles.formdata.folderID =
            publicfolder.folderID;
          this.$refs.refpublicfolderfiles.mainFolderID =
            publicfolder.mainFolderID;
          this.$refs.refpublicfolderfiles.formdata.documentFolderID =
            publicfolder.documentFolderID;
          if (this.editFromFileList == false) {
            this.$refs.refpublicfolderfiles.initialize();
          }
          this.$refs.refpublicfolderfiles.uploadedFiles = [];
          this.$refs.refpublicfolderfiles.uploadedfileslist = [];
        }
        if (this.folderID != undefined && this.folderID > 0) {
          getFoldersbyID(this.folderID)
            .then((response3) => {
              this.currentFolder = response3.data;
              this.folderName = this.currentFolder.name;
              if (this.$refs.refpublicfolderfiles != undefined) {
                this.$refs.refpublicfolderfiles.formdata.name = response3.data.name;
                this.$refs.refpublicfolderfiles.formdata.description = response3.data.description;
              }
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }, 100);
    },
    previousClickMenu() {
      if (this.$refs.refpublicfolderfiles.folderID != null) {
        this.folderID = this.$refs.refpublicfolderfiles.folderID;
      }
      getFolderDetail(this.folderID)
        .then((response3) => {
          if (response3 != undefined) {
            if (response3.data.parentFolderID != null) {
              console.log("response" + JSON.stringify(response3.data));
              this.menuPreviousID = response3.data.parentFolderID;
              setTimeout(() => {
                this.getPreviousFolderFiles();
              }, 500);
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getPreviousFolderFiles() {
      if (this.menuPreviousID > 0) {
        console.log("first click" + this.menuPreviousID);
        this.curNodeClicked({ folderID: this.menuPreviousID });

        let userId = this.$store.state.auth.userId;
        if (this.menuPreviousID != null) {
          getFoldersbyID(this.menuPreviousID)
            .then((response3) => {
              this.currentFolder = response3.data;
              this.folderName = this.currentFolder.name;
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        getSubFoldersId(this.menuMainFolderID, userId)
          .then((response3) => {
            this.publicfolderItems = response3.data;
          })
          .catch((error) => {
            this.subpublicfolderloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.stop();
      }
    },
    firstPageClick() {
      console.log("menu main id" + this.menuMainFolderID);
      if (this.menuMainFolderID > 0) {
        console.log("first click" + this.menuMainFolderID);
        this.curNodeClicked({ folderID: this.menuMainFolderID });

        let userId = this.$store.state.auth.userId;
        if (this.menuMainFolderID != null) {
          getFoldersbyID(this.menuMainFolderID)
            .then((response3) => {
              this.currentFolder = response3.data;
              this.folderName = this.currentFolder.name;
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        getSubFoldersId(this.menuMainFolderID, userId)
          .then((response3) => {
            this.publicfolderItems = response3.data;
          })
          .catch((error) => {
            this.subpublicfolderloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.stop();
      }
    },
    previousFolder() {
      if (this.$refs.refpublicfolderfiles.readPermission == false) {
        this.$refs.refpublicfolderfiles.readPermission = true;
        this.readPermission = true;
      }
      this.previousFolderIDList = this.$refs.refpublicfolderfiles.previousFolderIDList;
      console.log(
        "previous Folder list" + JSON.stringify(this.previousFolderIDList)
      );
      if (this.previousFolderIDList.length == 0) {
        this.$refs.refpublicfolderfiles.folderID = this.previousFolderIDList[
          this.previousFolderIDList.length
        ];
        this.folderID = this.$refs.refpublicfolderfiles.folderID;
        this.previousFolderIDList.splice(this.previousFolderIDList.length);
      }
      if (this.previousFolderIDList.length > 0) {
        this.$refs.refpublicfolderfiles.folderID = this.previousFolderIDList[
          this.previousFolderIDList.length - 1
        ];
        this.folderID = this.$refs.refpublicfolderfiles.folderID;
        if (this.folderID > 0) {
          getFoldersbyID(this.folderID)
            .then((response3) => {
              this.currentFolder = response3.data;
              this.folderName = this.currentFolder.name;
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        this.previousFolderIDList.splice(
          this.previousFolderIDList.length - 1,
          1
        );
        this.$refs.refpublicfolderfiles.initialize();
      }
    },

    initialize() {
      this.start();
      this.getDocumentPermission();
      //this.getUserFolderRole();
      if (this.mainFolderID > 0) {
        this.subpublicfolderloader = true;
        let userId = this.$store.state.auth.userId;
        this.getFolderTree();
        if (this.folderID != null) {
          getFoldersbyID(this.folderID)
            .then((response3) => {
              this.currentFolder = response3.data;
              this.folderName = this.currentFolder.name;
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        getSubFoldersId(this.mainFolderID, userId)
          .then((response3) => {
            this.publicfolderItems = response3.data;
            //this.subpublicfolderloader = false;
            // this.publicfolderItems.forEach((node) => {
            //   this.open.push(node.folderID);
            // });
            this.stop();
          })
          .catch((error) => {
            this.subpublicfolderloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.subPublicfolderitems = [];
      }
    },
    checkfolderid(){
      
      this.folderID = this.$route.query.publicfolderid;
      this.mainFolderID = this.$route.query.id;
       console.log('check public folder id'+this.$route.query.publicfolderid)
                      console.log('check public  id'+this.$route.query.id)
       checkfolderIds(this.folderID,  this.mainFolderID)
          .then((response3) => {
               if(response3.data !=undefined && response3.data == false)
              {
                this.$router.push({ name: "DMS/publicfolder" });
              }
          })
          .catch((error) => {
           
            window.getApp.$emit("APP_API_ERROR", error);
          });
    },
    getDocumentPermission() {
      let userId = this.$store.state.auth.userId;
      if (this.folderID != null) {
        getDocumentUserRoleByFolderIDDocumentID(this.folderID, userId)
          .then((response2) => {
            if (response2.data != undefined) {
             
           
              this.docAccessRightsPermission = response2.data;
              this.folderName = this.docAccessRightsPermission.folderName;
              
                if(this.$refs.refpublicfolderfiles!=undefined)
                {
                this.$refs.refpublicfolderfiles.readPermission = this.docAccessRightsPermission.isEdit;
                }
              // if (this.$refs.refpublicfolderfiles != undefined) {
              //   this.$refs.refpublicfolderfiles.readPermission = true;
              // }
              let userId = this.$store.state.auth.userId;
              if (response2.data.folderAddedByUserID == userId) {
                //this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
                this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
              } else if (
                this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting
                  .formdata.documentRoleId != null
              ) {
                if (
                  (this.docAccessRightsPermission != null &&
                    this.docAccessRightsPermission.documentPermissionID > 0 &&
                    this.docAccessRightsPermission.isEdit == true) ||
                  this.docAccessRightsPermission.isCreateFolder == true ||
                  this.docAccessRightsPermission.isGrantAdminPermission == true
                ) {
                  this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
                  this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
                } else {
                  this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
                  this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
                }
                //this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
                //this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
              } else {
                this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
              }

              if (
                this.docAccessRightsPermission.folderCreatedBy != null &&
                this.docAccessRightsPermission.folderCreatedBy != undefined
              ) {
                if (
                  this.docAccessRightsPermission.folderCreatedBy != userId &&
                  this.docAccessRightsPermission.roleID > 0
                ) {
                  if (this.docAccessRightsPermission.isRead == false) {
                   
                    if (this.$refs.refpublicfolderfiles != undefined) {
                      this.$refs.refpublicfolderfiles.isEdit = false;
                      this.$refs.refpublicfolderfiles.readPermission = false;
                      
                    }
                    this.readPermission = false;
                  }
                  if (this.docAccessRightsPermission.isEdit == false) {
                    if (this.$refs.refpublicfolderfiles != undefined) {
                     
                      this.$refs.refpublicfolderfiles.isEdit = false;
                    }
                  }
                }
              } else {
                if(response2.data!=undefined)
                {
                  if(response2.data.isRead!=null)
                  {
                this.readPermission = response2.data.isRead;
                  }
                }
              }
              if (
                (this.docAccessRightsPermission != null &&
                  this.docAccessRightsPermission.documentPermissionID > 0 &&
                  this.docAccessRightsPermission.isEdit == true) ||
                this.docAccessRightsPermission.isCreateFolder == true ||
                this.docAccessRightsPermission.isGrantAdminPermission == true
              ) {
                this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
                this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
              } else {
                this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
                this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
              }
            }
            this.stop();
             if (this.docAccessRightsPermission.documentPermissionID == 0)
                  {    
                    if(this.$refs.refpublicfolderfiles!=undefined && this.flatSubPublicFolderItems.length>0)
                    {     
                      
                     this.$refs.refpublicfolderfiles.readPermission = this.flatSubPublicFolderItems.filter(
              (f) => f.folderID == this.folderID
            )[0].isRead;
                    }
                  }
              
           
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    getFolderTree() {
      if (this.mainFolderID > 0) {
        let userId = this.$store.state.auth.userId;
        getFolderTreeId(this.mainFolderID, userId)
          .then((response3) => {
            this.subPublicfolderitems = response3.data.hierarchicalFolders;
            this.flatSubPublicFolderItems = response3.data.flatFolders;
            this.subpublicfolderloader = false;
            this.opentreeNode = true;
            this.stop();
          })
          .catch((error) => {
            this.subpublicfolderloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    menuClick(key, item) {
      this.selectedDoc = item;
      if (key == 0) {
        this.goBack();
      } else if (key == 1) {
        this.folderID = this.menuPreviousID;
      } else if (key == 2) {
        this.mainFolderID = this.menuMainFolderID;
      } else {
      }
    },
    // getUserFolderRole () {
    //   if (this.folderID != null) {

    //     let userId = this.$store.state.auth.userId;

    //     getUserFolderRole(this.folderID, userId)
    //       .then(response => {

    //         if (response.data != undefined && response.data != null) {

    //           //this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId = response.data.roleID;

    //           if (response.data.folderAddedByUserID == userId) {
    //             //this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
    //             this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
    //           }
    //           else if (this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId != null) {

    //             if (this.docAccessRightsPermission != null && this.docAccessRightsPermission.documentPermissionID > 0 && this.docAccessRightsPermission.isEdit == true || this.docAccessRightsPermission.isCreateFolder == true || this.docAccessRightsPermission.isGrantAdminPermission == true) {

    //               this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = true;
    //               this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = true;

    //             }
    //             else {

    //               this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
    //               this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
    //             }
    //             //this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
    //             //this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
    //           }
    //           else {
    //             this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.userPermission = false;
    //           }

    //         }
    //       })
    //       .catch(error => {
    //         this.subpublicfolderloader = false;
    //         window.getApp.$emit('APP_API_ERROR', error);
    //       });
    //   }

    // },

    close() {
      this.dialog = false;
      this.uploadedFiles = [];
      this.uploadedfileslist = [];
      this.subpublicfolderfiles = new FormData();
      this.formTitle = "";

      setTimeout(() => {
        this.initialize();
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.formTitle = "";
      }, 500);
    },
    editdialogClose() {
      this.editdialog = false;
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.userIDs = [];
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId = null;
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.userGroupIDs = [];
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.gridItems = [];
    },
    getCurrentFolder(){
      if (this.folderID != undefined && this.folderID > 0) {
          getFoldersbyID(this.folderID)
            .then((response3) => {
              this.currentFolder = response3.data;
              this.folderName = this.currentFolder.name;
             
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
    },
    subdialogClose() {
      this.subdialog = false;
    },
    closeDialog() {
      this.publicfolderdialog = false;
    },
    getMainFolderPermission() {
      getDocumentUserRolesByFolderID(this.formdata.mainFolderID)
        .then((response) => {
          if (response.data != undefined) {
            this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.gridItems =
              response.data;
            this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.gridItems =
              response.data;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    addMainPublicfolder() {
      this.formTitle = "Add Main Public Folder";
      this.$refs.refMainPublicfolderForm.$refs.generalinfo.initialize();
      this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.addedByUser = this.$store.state.auth.userName;
      this.$refs.refMainPublicfolderForm.$refs.generalinfo.parentFolderID = null;
      this.$refs.refMainPublicfolderForm.$refs.generalinfo.mainFolderID = this.formdata.mainFolderID;
      if (
        this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata
          .documentUserRoleId != null
      ) {
        this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.documentUserRoleId = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.documentUserRoleId;
      }
      this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.folderTypeID = 524;
      // this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.documentRoleId = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId;
      // this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.userIDs = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.userIDs;
      // this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.userGroupIDs = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.userGroupIDs;
      this.getMainFolderPermission();
      this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.folderID = null;
      this.publicfolderdialog = true;
      this.getFolderTree();
    },

    editPublicfolder() {
      this.$refs.refEditPublicfolderForm.$refs.generalinfo.uploadedFiles = [];
      getEditFolderByFolderID(this.formdata.folderID)
        .then((response3) => {
          if (response3.data != undefined) {
            if (response3.data.userGroupId != null) {
              this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.selected =
                "user-group";
            } else {
              this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.selected =
                "user";
            }
            this.$refs.refEditPublicfolderForm.$refs.generalinfo.formdata =
              response3.data;
            this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.folderID =
              response3.data.folderID;
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      window.getApp.$emit("FOLDERLOAD", this.formdata.folderID);
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.loader = true;

      getDocumentUserRolesByFolderID(this.formdata.folderID)
        .then((response) => {
          if (response.data != undefined) {
            this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.gridItems = [];

            this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.gridItems =
              response.data;
            this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.formTitle = "Edit Public Folder";
      setTimeout(() => {
        this.editdialog = true;
      }, 500);
    },
    deletePublicfolder() {
      setTimeout(() => {}, 300);
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    refreshFile() {
      this.previousFolderIDList = [];
      // this.folderID = this.initializefolderID;
      // this.mainFolderID = this.initializemainfolderID;
      //this.$refs.refpublicfolderfiles.readPermission = true;
      //this.readPermission= true;
      this.initialize();
    },
    updatePublicfolder() {
      this.$refs.refEditPublicfolderForm.$refs.generalinfo.save();
      //this.initialize();
      //this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.initialize();
      this.initialize();
      this.editdialog = false;
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.gridItems = [];
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.userIDs = [];
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId = null;
      this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.userGroupIDs = [];

      setTimeout(() => {
        this.initialize();
      }, 300);
    },
    addSubPublicfolder() {
      this.formTitle = "Add Sub Public Folder";
      this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.initialize();
      this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.addedByUser = this.$store.state.auth.userName;
      this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.parentFolderID = this.formdata.folderID;
      this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.mainFolderID = this.formdata.mainFolderID;
      if (
        this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata
          .documentUserRoleId != null
      ) {
        this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.documentUserRoleId = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.documentUserRoleId;
      }
      this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.folderTypeID = 524;
      //  this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.documentRoleId = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId;
      // this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.userIDs = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.userIDs;
      //  this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.userGroupIDs = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.userGroupIDs;
      this.getMainFolderPermission();
      this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.folderID = null;
      this.subdialog = true;
      this.getFolderTree();
      //return this.subPublicfolderitems;
    },
    saveSubPublicfolder() {
      this.subPublicFolderValidateGeneralInfo = this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.$refs.validateSubform.validate();
      if (this.subPublicFolderValidateGeneralInfo == true) {
        this.subpublicfoldertriggered = false;
        //this.subdialog = false;
        this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.parentFolderID = this.formdata.folderID;
        this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.mainFolderID = this.formdata.mainFolderID;
        if (
          this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting
            .formdata.documentUserRoleId != null
        ) {
          this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.documentUserRoleId = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.documentUserRoleId;
        }
        this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.folderTypeID = 524;
        //this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata = this.editedItem;
        // this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.documentRoleId = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId;
        // this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.userIDs = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.userIDs;
        // this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata.userGroupIDs = this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.userGroupIDs;

        this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.savesub();
        this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata.folderID = this.folderID;
        // this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.formdata = this.$refs.refsubSavePublicfolderForm.$refs.generalinfo.formdata;
        //return this.subPublicfolderitems;
        this.getFolderTree();
        //this.$refs.refsubSavePublicfolderForm.$refs.refsecuritysetting.gridreferesh();
        setTimeout(() => {
          this.initialize();
        }, 300);
      } else {
      }
    },
    saveMainPublicfolder() {
      this.subMainfolderloader = true;
      this.mainPublicFolderValidateGeneralInfo = this.$refs.refMainPublicfolderForm.$refs.generalinfo.$refs.validateSubform.validate();
      this.mainPublicFolderValidateSecuritySettingInfo = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.$refs.validateform.validate();
      if (this.mainPublicFolderValidateGeneralInfo == true) {
        //this.publicfolderdialog = false;
        this.subpublicfoldertriggered = false;
        this.$refs.refMainPublicfolderForm.$refs.generalinfo.parentFolderID = null;
        this.$refs.refMainPublicfolderForm.$refs.generalinfo.mainFolderID = this.formdata.mainFolderID;
        if (
          this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata
            .documentUserRoleId != null
        ) {
          this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.documentUserRoleId = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.documentUserRoleId;
        }
        this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.folderTypeID = 524;
        // this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.documentRoleId = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId;
        // this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.userIDs = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.userIDs;
        // this.$refs.refMainPublicfolderForm.$refs.generalinfo.formdata.userGroupIDs = this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.userGroupIDs;
        this.$refs.refMainPublicfolderForm.$refs.generalinfo.savesub();
        this.$refs.refMainPublicfolderForm.$refs.refsecuritysetting.formdata.folderID = this.folderID;
        this.subMainfolderloader = false;

        setTimeout(() => {
          this.initialize();
        }, 500);
      } else {
      }
    },
    editOpenUpload() {
      this.$refs.folderdetailUpload.clear();
      console.log('folder id upload'+this.formdata.folderID)
      getFileUploadByFolderID(this.formdata.folderID)
        .then((response3) => {
          if (response3.data != undefined) {
            this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata =
              response3.data;
            this.$refs.refEditPublicfolderForm.$refs.generalinfo.formdata =
              response3.data;
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      setTimeout(() => {
        this.uploadedFiles = [];
        this.subpublicfolderloader = false;
        this.uploadFileDialog = true;
      }, 500);
    },

    closeUpload() {
      this.uploadedFiles = [];
      this.uploadedfileslist = [];
      this.subpublicfolderfiles = new FormData();
      this.uploadFileDialog = false;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.subpublicfolderloader = true;
      let index = this.editedIndex;
      deleteFolders(this.formdata)
        .then((response) => {
          if (response != undefined) {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            this.$router.push({ name: "DMS/publicfolder" });
          }

          this.subpublicfolderloader = false;
        })
        .catch((error) => {
          this.subpublicfolderloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    fileChanged(args) {
      let existingFile = "";
      if (
        this.$refs.refpublicfolderfiles != undefined &&
        this.$refs.refpublicfolderfiles.existingFileName != null
      ) {
        existingFile = this.$refs.refpublicfolderfiles.existingFileName;
      }
      Array.from(args).forEach((file) => {
        let allowsize = GlobalMessage.AllowMaxSize;       
        let fileSize = file.size / 1000000;
         console.log('file size'+fileSize);
        console.log(file.size);
        if (fileSize <= allowsize) {
          if (!existingFile.includes(file.name)) {
            this.uploadedFiles.push(file);
            this.showdownload = false;

            this.subpublicfolderfiles.append("file", file, file.name);
             if (file.type.includes("video")) {
            this.subpublicfolderfiles.append("isVideoFile", "true");
          } else {
            this.subpublicfolderfiles.append("isVideoFile", "false");
          }
          } else {
            alert("File already exist in this folder " + file.name);
          }
        } else {
          window.getApp.$emit(
            "APP_API_VAL",
            file.name + " - File size exceeded "+allowsize+"MB"
          );
        }
      });
    },
    removeFile(key) {
      this.$refs.folderdetailUpload.clear();
      this.uploadedFiles.splice(key, 1);
      this.subpublicfolderfiles.delete("file");

      this.uploadedFiles.forEach((file) => {
        this.subpublicfolderfiles.append("file", file, file.name);
      });
    },

    downloadFile(key) {
      downloadFile(this.formdata.attachments[key])
        .then((response) => {
          let blob = new Blob([response.data], {
            type: this.editFile.contentType,
          });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = this.editFile.name;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    goBack() {
      this.$router.push({ name: "DMS/publicfolder" });
    },
    savedocuments() {
      if (this.$refs.validateform.validate()) {
        if (this.uploadedFiles.length == 0) {
          window.getApp.$emit("APP_API_ERROR", "Please upload the file");
          return;
        }

        // if (this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.documentUserRoleId != null) {
        //   this.formdata.documentUserRoleId = this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.documentUserRoleId;
        // }

        // this.formdata.documentRoleId = this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.documentRoleId;
        // this.formdata.userIDs = this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.userIDs;
        // this.formdata.userGroupIDs = this.$refs.refEditPublicfolderForm.$refs.refsecuritysetting.formdata.userGroupIDs;
        this.formdata.folderTypeID = 524;
        this.subpublicfolderloader = true;
        this.subMainfolderloader = true;
          this.subpublicfolderfiles.append("folderId", this.formdata.folderID);
          this.subpublicfolderfiles.append("userID",  this.$store.state.auth.userId);
        uploadDocuments(this.subpublicfolderfiles)
          .then((response) => {
            this.formdata.sessionID = response.data;
            if (this.formdata.folderID > -1) {
              this.formdata.modifiedByUserId = this.$store.state.auth.userId;
              this.formdata.modifiedDate = new Date()
                .toISOString()
                .substr(0, 10);
              this.formdata.addedByUserId = this.$store.state.auth.userId;

              this.formdata.addedDate = new Date().toISOString().substr(0, 10);

              console.log("upload files" + JSON.stringify(this.formdata));
              updateFolders(this.formdata)
                .then((response) => {
                  // this.subpublicfolderfiles.delete("file");
                  this.subpublicfolderloader = false;
                  this.subMainfolderloader = false;
                  this.actionButton = true;
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                  this.subpublicfolderfiles = new FormData();
                  this.uploadFileDialog = false;
                  this.initialize();
                  this.uploadedFiles = [];
                })
                .catch((error) => {
                  this.subpublicfolderloader = false;
                  window.getApp.$emit("APP_API_ERROR", error);
                });
            } else {
              this.formdata.addedByUserId = this.$store.state.auth.userId;
              this.formdata.addedDate = new Date().toISOString().substr(0, 10);
              createFolders(this.formdata)
                .then((response) => {
                  this.subpublicfolderloader = false;
                  this.subMainfolderloader = false;
                  this.formdata = response.data;
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                  this.subpublicfolderfiles = new FormData();
                  this.initialize();
                  this.uploadedFiles = [];
                })
                .catch((error) => {
                  this.subpublicfolderloader = false;
                  this.subMainfolderloader = false;
                });
            }
          })
          .catch((error) => {
            this.subpublicfolderloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    formateDate(string) {
      return string ? new Date(string).toISOString().substr(0, 10) : "";
    },
    onSearch() {
      this.$refs.refpublicfolderfiles.search = this.search;
    },
  },
};
</script>

 <style lang="stylus" scoped>
 .chat-room--scroll {
   height: calc(100vh - 120px - 110px);
 }

 chat-room--scrollnoeditor {
   height: calc(100vh - 48px - 80px);
 }

 .securityform--scrollbar {
   height: calc(100vh - 70px - 80px);
 }
</style>