<template>
  <div id="page-forms">
    <v-tabs color="transparent" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="#tab-1" color="white">
        General Information
        <v-icon>fa-sticky-note</v-icon>
      </v-tab>
      <v-tab key="#tab-2" color="white">
        Security Setting
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tabs-items>
        <v-tab-item key="#tab-1">
          <v-card flat>
            <general-information ref="generalinfo"></general-information>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-2" :disabled="!loginUser">
          <v-card  >
            <security-setting ref="refsecuritysetting"></security-setting>
          </v-card>
        </v-tab-item>

      </v-tabs-items>
    </v-tabs>
  </div>
</template>
 <script>
  import GeneralInformation from "@/pages/nonlivepublicfolder/subpublicfolder";
  import SecuritySetting from "@/pages/nonlivepublicfolder/securitysetting";

  export default {
    components: {
      GeneralInformation,
      SecuritySetting,
    },

    data: () => ({


      valid: true,
      loader: false,
      loginUser: true,
    }),
    mounted () {
    },
    created () {
      this.initialize();
    },
    methods: {

      initialize () {

      },

    }
  };
</script>