<template>
  <div>
    <!--  <v-layout wrap style="background: gainsboro !important;padding: 10px;">
      <span class="headline">Quotation History Line</span>
    </v-layout>-->
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Registration Format.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- :disabled="enableAddButton" -->
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn
          slot="activator"
          icon
          @click.native="add"
          :disabled="enableAddButton"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="saveAndClose"
              :loading="subloader"
            >
              <v-icon color="white">library_add</v-icon>
            </v-btn>
            <span>Save and Close</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="save"
              :loading="subloader"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="add"
              :loading="subloader"
            >
              <v-icon color="white">add</v-icon>
            </v-btn>
            <span>Create New QuotationHistory Line</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="deleterow">
              <v-icon color="white">delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>

          <v-tooltip bottom :disabled="editedItem.sessionId == null">
            <v-btn
              :disabled="editedItem.sessionId == null"
              slot="activator"
              flat
              icon
              color="primary"
              @click="fileAttachment"
            >
              <v-icon color="white">attach_file</v-icon>
            </v-btn>
            <span>Attach Files</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="QuotationLineform"
                lazy-validation
              >
                <v-layout row wrap>
                  <v-flex sm9>
                    <v-layout row wrap>
                      <v-flex xs12 sm6>
                        <v-autocomplete
                          label="Product Name"
                          prepend-icon="description"
                          v-model="editedItem.productId"
                          :items="productItems"
                          item-text="productName"
                          item-value="purchaseItemSalesEntryLineID"
                          @change="onProductChange"
                        ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-autocomplete
                          :loading="subloader"
                          chips
                          flat
                          label="Currency"
                          prepend-icon="notes"
                          v-model="editedItem.currency"
                          :items="currencyItems"
                          item-text="value"
                          item-value="applicationMasterDetailId"
                        ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-text-field
                          v-model="editedItem.price"
                          label="Price"
                          prepend-icon="select_all"
                          @keyup="onChnagePrice"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.uom"
                          label="Uom"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex sm3>
                    <v-card width="300px" height="300px" class="rounded-card">
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <span class="headline">Reference</span>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>Selling Price:</label>
                        </v-flex>
                        <v-flex xs6 sm6>
                          <label>
                            <b>{{ sellingPrice }}</b>
                          </label>
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="subloader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
              :loading="subloader"
              >Close</v-btn
            >
          </v-card-actions>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" max-width="900px">
        <attachment
          title="Item Cost Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="quotationHistoryLineId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.productName }}</td>
        <td class="text-xs-left">{{ props.item.currencyName }}</td>
        <td class="text-xs-left">{{ props.item.price }}</td>
        <td class="text-xs-left">{{ props.item.uom }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="fileAttachments(props.item)"
            >attach_file</v-icon
          >
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import {
  getApplicationMasterDetailByType,
  getApplicationMasterDetailByTypewithDesc,
} from "@/api/applicationMaster";
import { getPurchaseItemSalesEntryLinesItems } from "@/api/purchaseItemSalesEntryLine";
import { getCodeMasterByType } from "@/api/applicationUser";
import {
  getTenderPeriodPricingLine,
  createTenderPeriodPricingLine,
  updateTenderPeriodPricingLine,
  deleteTenderPeriodPricingLine,
} from "@/api/TenderPeriodPricingLine";
import attachment from "@/components/Attachment/attachments";
export default {
  components: {
    attachment,
  },
  data: () => ({
    screenID: null,
    productItems: [],
    attachdialog: false,
    dialog: false,
    subloader: false,
    productloader: false,
    editedIndex: -1,
    search: "",
    gridItems: [],
    currencyItems: [],
    enableAddButton: true,
    tenderPeriodPricingId: -1,
    sessionId: null,
    sellingPrice: null,
    editedItem: {
      valid: false,
      tenderPeriodPricingId: -1,
      tenderPeriodPricingLineId: -1,
      productId: null,
      currency: "",
      price: "",
      uom: null,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      sessionId: null,
      modifiedDate: null,
      statusCodeID: 1621,
    },
    defaultItem: {
      valid: false,
      tenderPeriodPricingLineId: -1,
      tenderPeriodPricingId: -1,
      productId: null,
      currency: "",
      price: "",
      uom: null,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      sessionId: null,
      modifiedDate: null,
      statusCodeID: 1621,
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    statusOptions: [],
    searchItem: { action: "", Id: null, searchString: "searchString" },

    headers: [
      { text: "Product", value: "productName", align: "left" },

      { text: "Currency", value: "currencyName", align: "left" },
      { text: "Price", value: "price", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      PoductName: "productName",
      Currency: "currency",
      Price: "price",
      UOM: "uom",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Change Price During Tender Period Line"
        : "Edit Change Price During Tender Period Line";
    },
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      this.subloader = true;
      getTenderPeriodPricingLine(this.tenderPeriodPricingId)
        .then((response) => {
          this.gridItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onChnagePrice() {
      this.editedItem.price = this.editedItem.price
        .replace(/[^0-9.]/g, "")
        .replace(/(\..*)\./g, "$1");
    },
    loadDropdownList() {
      this.subloader = true;
      getApplicationMasterDetailByType(229)
        .then((response) => {
          this.currencyItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.subloader = true;
      getCodeMasterByType("TenderPeriodStatus")
        .then((response) => {
          this.statusOptions = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      /* this.loader = true;
        getPurchaseItemSalesEntryLinesItems("")
          .then(response => {
            this.productItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          }); */
    },
    onProductChange() {
      let item = this.productItems.filter(
        (f) => f.purchaseItemSalesEntryLineID == this.editedItem.productId
      );
      if (item.length > 0) {
        this.editedItem.uom = item[0].buom;
        this.sellingPrice = item[0].sellingPrice;
      }
    },
    fileAttachment() {
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.sessionId = this.sessionId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    fileAttachments(item) {
      console.log("check item", item);
      this.sessionId = item.sessionId;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentId = item.documentId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    editItem(item) {
      this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.sessionId = item.sessionId;
      this.sellingPrice = item.sellingPrice;
      this.onProductChange();
      setTimeout(() => {
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.loadDropdownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.sellingPrice = null;
    },

    openPopup() {
      this.dialog = true;
      this.add();
    },
    save() {
      this.editedItem.tenderPeriodPricingId = this.tenderPeriodPricingId;
      if (this.$refs.QuotationLineform.validate()) {
        this.subloader = true;

        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          updateTenderPeriodPricingLine(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.subloader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createTenderPeriodPricingLine(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.subloader = false;
              this.editedItem.quotationHistoryLineId =
                response.data.quotationHistoryLineId;
              let index = this.gridItems
                .map((item) => item.quotationHistoryLineId)
                .indexOf(response.data.quotationHistoryLineId);
              this.editedIndex = index;
              this.subloader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },

    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.tenderPeriodPricingLineId > 0) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteTenderPeriodPricingLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 100px - 60px);
 }
</style>   