<template>
  <div>
    <!--  <v-layout wrap style="background: gainsboro !important;padding: 10px;">
      <span class="headline">Quotation History Line</span>
    </v-layout>-->
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <download-excel
        class="btn btn-default"
        :data="commitmentOrdersItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="PurchaseOrderLine.xls" :disabled="enableAddButton" 
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
        <!-- :disabled="enableAddButton" -->
      </download-excel>
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
        
        <v-btn
          slot="activator"
          :disabled="enableAddButton"
          icon
          @click.native="add"

        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
       <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="saveAndClose"
              :loading="subloader"
            >
              <v-icon color="white">library_add</v-icon>
            </v-btn>
            <span>Save and Close</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="save"
              :loading="subloader"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="add"
              :loading="subloader"
            >
              <v-icon color="white">add</v-icon>
            </v-btn>
            <span>Create New QuotationHistory Line</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="deleterow">
              <v-icon color="white">delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
         <div style="overflow:auto;height:calc(90vh - 100px)">
          <v-card-text>
           
              <v-form
                v-model="editedItem.valid"
                ref="QuotationLineform"
                lazy-validation
              >
                <v-layout row wrap>
                  <v-flex xs12 sm12>
                    <v-layout row wrap>
                      <v-flex xs12 sm5>
                        <v-autocomplete
                          label="Product Name"
                          prepend-icon="notes"
                          v-model="editedItem.productId"
                          :items="productNameItems"
                           item-text="name"
                          item-value="genericCodeID"
                          @change="companySelect"
                          chips
                          :loading="productloader"
                        >
                          <template slot="selection" slot-scope="data">
                            <v-chip
                              :selected="data.selected"
                              class="chip--select-multi"
                            >
                              {{ data.item.code }}
                            </v-chip>
                          </template>
                        </v-autocomplete>
                      </v-flex>
                        <v-flex xs12 sm1>
                    <!--   <v-tooltip bottom> -->
                    <v-btn @click="clickCompanyAdd" icon>
                      <v-icon>add_circle_outline</v-icon>
                    </v-btn>
                    <!--  <span>Add New Customer</span>
                    </v-tooltip> -->
                  </v-flex>
                      <v-flex xs12 sm5>
                        <v-text-field
                          v-model="description"
                          label="Product Description"
                          prepend-icon="select_all"
                          readonly
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          label="Source"
                          prepend-icon="notes"
                          v-model="editedItem.source"
                          :items="sourceItems"
                          item-text="text"
                          item-value="value"
                          chips
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.quantity"
                          label="Qty"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="uom"
                          label="Uom"
                          readonly
                          prepend-icon="select_all"
                        ></v-text-field>
                        <!-- <v-autocomplete
                    label="UOM"
                    prepend-icon="notes"
                    v-model="editedItem.uomid"
                    :items="uomItems"
                    item-text="value"
                    item-value="applicationMasterDetailId"
                    chips
                  ></v-autocomplete> -->
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          label="Packing"
                          prepend-icon="notes"
                          v-model="editedItem.packingId"
                          :items="packingItems"
                          item-text="nameDescription"
                          item-value="applicationMasterDetailId"
                          chips
                        >
                          <template slot="selection" slot-scope="data">
                            <v-chip
                              :selected="data.selected"
                              class="chip--select-multi"
                            >
                              {{ data.item.description }}
                            </v-chip>
                          </template>
                        </v-autocomplete>
                      </v-flex>
                     
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          label="Shipping terms"
                          prepend-icon="notes"
                          v-model="editedItem.shippingTermsId"
                          :items="shippingItems"
                          item-text="value"
                          item-value="applicationMasterDetailId"
                          chips
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4>
                <v-menu v-model="commitmentDateMenu" :close-on-content-click="false" full-width min-width="290">
                  <v-text-field slot="activator" :value="commitmentDateFormated" label="Commitment Date" prepend-icon="today" readonly></v-text-field>
                  <v-date-picker v-model="editedItem.commitmentDate" @change="commitmentDateMenu = false" ></v-date-picker>
                </v-menu>
              </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          label="Status"
                          prepend-icon="notes"
                          v-model="editedItem.statusCodeID"
                          :items="statusOptions"
                          item-text="text"
                          item-value="value"
                          chips
                        ></v-autocomplete>
                      </v-flex>
                       <v-flex
              xs12
              sm12
            >
              <vue-mce
                :config="commitmentConfig"
                ref="CommentEditor"
                v-if="isRTERender"
                id="commentmessage11"
                v-model="editedItem.remarks"
              />
            </v-flex>
                      <v-flex xs12 sm3>
                        <!--   <v-btn flat outline color="primary" @click="fileAttachment">Attach Files</v-btn> -->
                      </v-flex>
                    </v-layout>
                  </v-flex>
                 
                </v-layout>
              </v-form>
            
          </v-card-text>
         </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              @click.native="save"
              :loading="subloader"
              >save</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
              :loading="subloader"
              >Close</v-btn
            >
          </v-card-actions>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-dialog v-model="productNameDialog" max-width="400px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="productNameDialogClose()" :loading="loader">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="productNameDialogClose()" :loading="loader">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>
        <product-name-add ref="refProductNameAdd"></product-name-add>
      </v-card>
    </v-dialog>
    <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="initialize()"
         :disabled="enableAddButton" 
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="commitmentOrdersItems"
      :search="search"
      class="elevation-1"
      default-sort="commitmentOrdersLineId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
         <tr v-on:dblclick="editItem(props.item)">
        <td>{{ props.item.productName }}</td>
        <td class="text-xs-left">{{ props.item.source }}</td>
        <td class="text-xs-left">{{ props.item.quantity }}</td>
        <td class="text-xs-left">{{ props.item.uom }}</td>
        <td class="text-xs-left">{{ props.item.packing }}</td>   
          <td class="text-xs-left">{{ props.item.commitmentDate | formatDate }}</td>      
        <td class="text-xs-left">{{ props.item.shippingTerms }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
         </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
//import UploadButton from "vuetify-upload-button";
import QuotationHistoryLineDocument from "@/pages/productionplanning/productionplanningv1/quotationHistoryLineDocument";
import GlobalMessage from "@/constant";
import Util from '@/util';
import ProductNameAdd from "@/pages/productionplanning/productionplanningv1/productNameAdd";
 import moment from "moment"; 
import {
  getApplicationMasterDetailByType,
  getApplicationMasterDetailByTypewithDesc,
} from "@/api/applicationMaster";
import {
  getGenericCodesByCompanyLisitngID,
  getGenericCodeSupplyToMultipleById,
  getGenericCodeItems,
} from "@/api/genericCodes";
import { getCustomerCompanyId } from "@/api/companyListing";
import {
  getCommitmentOrdersLine,
  createCommitmentOrdersLine,
  updateCommitmentOrdersLine,
  deleteCommitmentOrdersLine,
 
} from "@/api/commitmentOrders";

export default {
  components: {
    ProductNameAdd
  },
  data: () => ({
     totalRows: 0,
    productNameItems: [],
     commitmentConfig: Util.tinyconfig(150),
    applicationMasterDetailId: null,
    sourceItems: [],
     isRTERender: false,
    uomItems: [],
     productNameDialog: false,
     commitmentDateMenu: false,
    uploadbtn: true,
    packingItems: [],
    offeruomItems: [],
    shippingItems: [],
    dialog: false,
    subloader: false,
    productloader: false,
    editedIndex: -1,
    sessionId: null,
    // searchBusinessActivity: "",
    // searchbusinessCategory: "",
    search: "",
    commitmentOrdersItems: [],
    currencyItems: [],
    productdes: [],
    enableAddButton: true,
    commitmentOrdersId: -1,
    companyListingId: -1,

    editedItem: {
      commitmentOrdersLineId: -1,
      commitmentOrdersId: -1,
      productdescription: "",
      productId: -1,
      sessionId: "",
      source: "",
      quantity: "",
      uomid: "",
      packingId: "",     
      remarks: "",
      shippingTermsId: -1,
      commitmentDate: new Date().toISOString().substr(0, 10),
      isTenderExceed: false,
       isPlanned: false,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
    },
    uom: "",
    description: "",
    defaultItem: {
      commitmentOrdersLineId: -1,
      commitmentOrdersId: null,
      sessionId: "",
      productdescription: "",
      productId: null,
      source: "",
      quantity: "",
      remarks: "",
      uomid: "",
      packingId: "",    
      shippingTermsId: null,
      isTenderExceed: false,
        commitmentDate: new Date().toISOString().substr(0, 10),
      isPlanned: false,
      currencyId: null,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
      statusCodeID: 1,
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    searchItem: { action: "", Id: null, searchString: "searchString" },
    sourceItems: [
      { text: "Singapore", value: "Singapore" },
      { text: "Malaysia", value: "Malaysia" },
    ],
    headers: [
      { text: "Product", value: "productName", align: "left",sortable:false },

      { text: "Source", value: "source", align: "left" },
      { text: "Quantity", value: "quantity", align: "left" },
      { text: "UOM", value: "uom", align: "left",sortable:false },
      { text: "Packing", value: "packing", align: "left" ,sortable:false},
       { text: "Commitment Date", value: "commitmentDate", align: "left" ,sortable:false},
      { text: "ShippingTerms", value: "shippingTerms", align: "left" ,sortable:false},

      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      PoductName: "productName",
      Source: "source",
      Quantity: "quantity",
      UOM: "uom",
      Packing: "packing",
      OfferCurrency: "offerCurrency",
      OfferPrice: "offerPrice",
      OfferUOM: "offerUOM",
      Focqty: "focqty",
      ShippingTerms: "shippingTerms",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
    },
    isProductExist: false,
    navisionItems: [],
    supplyToItems: [],
    companyIds: [],
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Quotation History Line"
        : "Edit Quotation History Line";
    },
    saltBaseRules() {
      return [(v) => !!v || "This is required field"];
    },
    commitmentDateFormated () {
        return this.editedItem.commitmentDate
          ? moment(this.editedItem.commitmentDate).format(GlobalMessage.DATEFORMAT)
          : "";
      },
  },
  created() {
     window.getApp.$on("CLOSE_PRODUCT", () => {
        this.productNameDialogClose();
      });
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  methods: {
    initialize() {
      this.subloader = true;
      getCommitmentOrdersLine(this.commitmentOrdersId)
        .then((response) => {
          this.commitmentOrdersItems = response.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
        this.isRTERender = true;
      this.loadDropdownList();
    },

    companySelect(value) {
      if (value > 0) {
        if (this.editedItem.productId > 0) {
          let id = value;
          if (this.editedIndex < 0) {
            this.isProductExist = false;
            let product = this.commitmentOrdersItems.filter(
              (g) => g.productId == id
            );
           
          }


          var genItem = this.productNameItems.filter(
            (g) => g.genericCodeID == id
          );
          if(genItem.length>0)
          {
          this.uom = genItem[0].uomName;
          this.description = genItem[0].description2;
          }


          this.navisionItems = [];
         
        }
      }
    },

    selectBusinessActivity() {
      this.searchBusinessActivity = "";
    },
    selectbusinessCategory() {
      this.searchbusinessCategory = "";
    },
    loadDropdownList() {
      this.productloader = true;
      
      getGenericCodeItems('')
        .then((response) => {
          this.productNameItems = response.data;
          this.productloader = false;
        })
        .catch((error) => {
          this.productloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.subloader = true;
      getApplicationMasterDetailByType(229)
        .then((response1) => {
          this.currencyItems = response1.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.subloader = false;
        });

      this.subloader = true;
      getApplicationMasterDetailByType(234)
        .then((response3) => {
          this.uomItems = response3.data;
          this.offeruomItems = response3.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.subloader = false;
        });

      this.subloader = true;
      getApplicationMasterDetailByType(235)
        .then((response4) => {
          this.packingItems = response4.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.subloader = false;
        });

      this.subloader = true;
      getApplicationMasterDetailByType(236)
        .then((response5) => {
          this.shippingItems = response5.data;
          this.subloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.subloader = false;
        });
    },

    editItem(item) {
      // this.loadDropdownList();
      this.uploadbtn = false;
      this.editedIndex = this.commitmentOrdersItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log("Edit Item", JSON.stringify(this.editedItem));
      this.companySelect(this.editedItem.productId);
      setTimeout(() => {
        this.dialog = true;
      }, 500);
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.uom = "";
        this.description = "";
        this.navisionItems = [];
      }, 300);
    },
    productNameDialogClose(){
     this.productNameDialog = false;
     this.productloader = true;
      getGenericCodeItems('')
        .then((response) => {
          this.productNameItems = response.data;
          this.productloader = false;
        })
        .catch((error) => {
          this.productloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.uploadbtn = true;
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.statusCodeID = 1;
      this.editedItem = Object.assign({}, this.defaultItem);
    },
       clickCompanyAdd () {
        this.productNameDialog = true;
        //setTimeout(() => {
        this.$refs.refProductNameAdd.initialize();

        //}, 300);
      },
    openPopup() {
      this.dialog = true;
      this.add();
    },
    save() {
      this.editedItem.commitmentOrdersId = this.commitmentOrdersId;
      console.log('editedItem'+JSON.stringify(this.editedItem));
      if (this.$refs.QuotationLineform.validate()) {
        this.subloader = true;
        // this.editedItem.qty=isNaN(this.editedItem.qty)?null:this.editedItem.qty;
        // this.editedItem.unitPrice=isNaN(this.editedItem.unitPrice)?null:this.editedItem.unitPrice;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          Object.assign(
            this.commitmentOrdersItems[this.editedIndex],
            this.editedItem
          );
          updateCommitmentOrdersLine(this.editedItem)
            .then((response) => {
              Object.assign(
                this.commitmentOrdersItems[index],
                response.data
              );
              this.subloader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              //  this.$refs.attachUpload.clear();
              this.initialize();
              this.uploadbtn = false;
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.commitmentOrdersLineId =
            parseInt(Math.random() * 100) + 1024;
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          console.log("" + this.editedItem);

          createCommitmentOrdersLine(this.editedItem)
            .then((response) => {
              this.commitmentOrdersItems.push(response.data);
              this.subloader = false;
              this.editedItem.commitmentOrdersLineId =
                response.data.commitmentOrdersLineId;
              let index = this.commitmentOrdersItems
                .map((item) => item.commitmentOrdersLineId)
                .indexOf(response.data.commitmentOrdersLineId);
              this.editedIndex = index;
              this.subloader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
            })
            .catch((error) => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },

    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.commitmentOrdersLineId > -1) {
        this.subloader = true;
        let index = this.commitmentOrdersItems.indexOf(this.editedItem);
        deleteCommitmentOrdersLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.commitmentOrdersItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    customerCompanyId() {
      //console.log(this.companyListingId);
      getCustomerCompanyId(this.companyListingId)
        .then((response) => {
          this.companyIds = response.data;
          console.log(this.companyIds);
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
<style lang="stylus" scoped>
.company--scroll {
  overflow: auto;
  height: calc(100vh - 120px);
}

.reference {
  border-style: solid;
  border-radius: 20px !important;
  border-color: rgb(216, 222, 247);
  border-width: 1px;
  padding: 8px;
}

.alignText {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.referencetext {
  text-align: left !important;
  font-size: '10px';
  background-color: transparent !important;
}
</style>
