<template>
  <v-form ref="form" lazy-validation>
    <app-section-loader :status="subloaders"></app-section-loader>
    <v-layout row wrap>
      <span class="headline">Contract Distribution Documents</span>

      <v-flex xs12 sm12>
        <v-data-table :headers="headers" :items="attachments" hide-actions class="elevation-0">
          <template slot="items" slot-scope="props">
            <td>{{ props.item.fileName }}</td>
            <td class="text-xs-left">{{ props.item.contentType }}</td>
            <td class="text-xs-left">{{ props.item.fileSize }}</td>
            <td class="text-xs-left">{{ props.item.uploadDate | formatDate }}</td>
            <td lass="justify-center layout px-0">
              <div style="width: 80px">               
                <v-icon small class="mr-2" @click="downloadFile(props.item)">cloud_download</v-icon>
                <v-icon small class="mr-2" @click="removeFile(props.item)">delete</v-icon>
              </div>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>

    
  </v-form>
</template>
<script>
//import UploadButton from "vuetify-upload-button";
import GlobalMessage from "@/constant";

import {
  uploadContractDistributionDocuments,
  downLoadContractDistributionDocument,
  getContractDistributionDocument,
  deleteContractDistributionDocuments
} from "@/api/contractDistributionInfo";

export default {
  components: {
   // "upload-btn": UploadButton
  },
  data() {
    return {
      loader: false,
      show: false,
      subloaders: false,
      viewPhoto: null,
      fileName: "",
      fileData: null,
      attachuploadedFiles: [],
      attachuploadedfileNames: [],
      quotationHistoryId: -1,
      attachshowdownload: false,
      uploadedFiles: [],
      sessionId: null,
      attachfiles: new FormData(),
      attachments: [],
      headers: [
        {
          text: "File Name",
          align: "left",
          value: "fileName"
        },
        { text: "Type", value: "contentType" },
        { text: "Size(KB)", value: "fileSize" },
        { text: "Added Date", value: "uploadDate" },
        { text: "Action", value: "action", sortable: false, align: "left" }
      ]
    };
  },

  methods: {
    initialize() {
     this.getDocuments();
    },
    removeFile(item) {
      this.subloaders = true;
      let id = item.contractDistributionAttachmentId;
      deleteContractDistributionDocuments(id)
        .then(response => {
          this.getDocuments();
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          this.subloaders = false;
        })
        .catch(error => {
          this.subloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    getDocuments() {
      if (this.sessionId != null) {
        this.subloaders = true;
        getContractDistributionDocument(this.sessionId)
          .then(response => {
            this.attachments = response.data;
            console.log("files" + JSON.stringify(this.attachments));
            this.subloaders = false;
          })
          .catch(error => {
            this.subloaders = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    downloadFile(item) {
      this.loader = true;
      downLoadContractDistributionDocument(
        item.contractDistributionAttachmentId
      )
        .then(response => {
          let downloadData = response.data;
          let blob = new Blob([response.data], { type: item.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = item.fileName;
          link.click();
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    }
  }
};
</script>