<template>
  <div id="page-forms">

    <v-card>
      <v-container>
        <v-layout
          row
          wrap
        >
          <v-flex
            lg12
            sm12
          >
            <div class="mt-3 title">Search and Filter</div>
          </v-flex>
          <v-flex md8>
            <v-text-field
              v-model="searchParam.search"
              prepend-icon="search"
              label="Search"
              clearable
              single-line
              hide-details
              @input="onSearchInupt"
            ></v-text-field>
          </v-flex>

          <v-flex md4>
            <v-select
              label="Company"
              v-model="searchParam.companyId"
              prepend-icon="apartment"
              name="companyselect"
              item-text="plantCode"
              item-value="plantID"
              :items="companies"
            ></v-select>
          </v-flex>
          <v-flex md4>
            <v-menu
              v-model="stockMonthmenu"
              :close-on-content-click='false'
              full-width
              min-width="290"
            >
              <v-text-field
                slot="activator"
                :value="stockMonthDateFormatted"
                label="Stock Balance Month"
                prepend-icon="today"
                readonly
              ></v-text-field>
              <v-date-picker
                type="month"
                v-model="searchParam.stockMonth"
                @change="stockMonthmenu=false"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex md4>
            <v-menu
              v-model="fromPostingDatemenu"
              :close-on-content-click='false'
              full-width
              min-width="290"
            >
              <v-text-field
                slot="activator"
                :value="fromPostingDateFormatted"
                label="From Posting Date"
                prepend-icon="today"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="searchParam.fromPostingDate"
                @change="fromPostingDatemenu=false"
                :max="maxDate"
                :min="minDate"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex md4>
            <v-menu
              v-model="toPostingDatemenu"
              :close-on-content-click='false'
              full-width
              min-width="290"
            >
              <v-text-field
                slot="activator"
                :value="toPostingDateFormatted"
                label="To Posting Date"
                prepend-icon="today"
                readonly
              ></v-text-field>
              <v-date-picker
                v-model="searchParam.toPostingDate"
                @change="toPostingDatemenu=false"
                :max="maxDate"
                :min="minDate"
              ></v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex md4>
            <v-select
              label="Customer"
              v-model="searchParam.customerId"
              prepend-icon="person"
              name="customerselect"
              :items="customers"
              item-text="name"
              item-value="code"
            ></v-select>
          </v-flex>
          <v-flex md4>
            <v-btn
              outline
              color="primary"
              @click="prodSearchFilter"
            >Search</v-btn>
            <v-btn
              outline
              color="primary"
              @click="clearSearchFilter"
            >Clear</v-btn>
          </v-flex>
          <v-flex md1>
           <download-excel
              class="btn btn-default"
              :data="gridItems"
              :fields="json_fields"
              worksheet="My Worksheet"
              type="csv"
              name="deliveryOrder.xls">
              <v-btn icon>
                <v-icon>cloud_download</v-icon>
              </v-btn>
            </download-excel>  
          </v-flex>
        </v-layout>
        <!-- <v-card-actions>
          <v-spacer></v-spacer>
          

        </v-card-actions> -->
      </v-container>
    </v-card>
    <v-form
      ref="entryform"
      lazy-validation
    >
      <app-section-loader :status="loader"></app-section-loader>
      <v-data-table
        :headers="headers"
        :items="gridItems"
        :search="searchParam.search"
        class="elevation-1"
        default-sort="itemId:desc"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
      >
        <template
          slot="items"
          slot-scope="props"
        >
          <td class="text-xs-left">{{ props.item.deliveryOrderNo }}</td>
          <td class="text-xs-left">{{ props.item.customer }}</td>
          <td class="text-xs-left">{{ props.item.postingDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.itemNo }}</td>
          <td class="text-xs-left">{{ props.item.description }}</td>
          <td class="text-xs-left">{{ props.item.doQty }}</td>
          <td class="text-xs-left">
            <v-checkbox
              primary
              hide-details
              v-model="props.item.isRecived"
              @change="editItem(props.item)"
            ></v-checkbox>
          </td>

          <!-- <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="editItem(props.item)"
            >
              edit
            </v-icon>
          </td> -->
        </template>
        <template slot="no-data">
          <v-btn
            color="primary"
            outline
            @click="prodSearchFilter"
          > Record not exist.Refresh again in while time.</v-btn>
        </template>
      </v-data-table>
    </v-form>
  </div>
</template>
 <script>
import { getShipment, updateReceive, getPortalCustomers, getPlants } from '@/api/nav';

import GlobalMessage from '@/constant'
import moment from 'moment'
export default {
  components: {

  },
  data: () => ({

    search: null,
    stockMonthmenu: false,
    fromPostingDatemenu: false,
    toPostingDatemenu: false,
    searchParam: {
      search: '',
      company: 'NAV_JB',
      companyId: -1,
      stockMonth: new Date().toISOString().substr(0, 10),
      fromPostingDate: new Date().toISOString().substr(0, 10),
      toPostingDate: new Date().toISOString().substr(0, 10),
      customerId: '',
      userId: -1
    },
    gridItems: [],
    headers: [
      { text: 'Delivery Order No.', value: 'deliveryOrderNo', align: 'left' },
      { text: 'Customer Name', value: 'customer', align: 'left' },
      { text: 'Posting Date', value: 'postingDate', align: 'left' },
      { text: 'Item No.', value: 'itemNo', align: 'left' },
      { text: 'Description', value: 'description', align: 'left' },
      { text: 'Quantity', value: 'doQty', align: 'left' },
      { text: 'Is Received', value: 'isrecived', align: 'left' },
    ],
    json_fields: {
      'Delivery Order No.': 'doNo',
      'Customer Name': 'no',
      'Posting Date': 'date',
      'Item No.': 'itemNo',
      'Description': 'description',
      'Quantity': 'doQty',
      'Is Received': 'isrecived'
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    companies: [

    ],
    customers: [

    ],
    valid: true,
    loader: false
  }),
  computed: {
    minDate () {
      if (this.searchParam.stockMonth != undefined) {
        const today = moment(this.searchParam.stockMonth).startOf('month').format("YYYY-MM-DD");
        this.searchParam.fromPostingDate = today;
        return today;
      }
    },
    maxDate () {
      if (this.searchParam.stockMonth != undefined) {
        const today = moment(this.searchParam.stockMonth).endOf('month').format("YYYY-MM-DD");
        this.searchParam.toPostingDate = today;
        return today;
      }
      else {
        return moment(this.formatDate(today)).endOf('month').format("YYYY-MM-DD");
      }
    },

    stockMonthDateFormatted () {
      return this.searchParam.stockMonth ? moment(this.searchParam.stockMonth).format(GlobalMessage.DATEFORMAT) : ''
    },
    fromPostingDateFormatted () {
      return this.searchParam.fromPostingDate ? moment(this.searchParam.fromPostingDate).format(GlobalMessage.DATEFORMAT) : ''
    },
    toPostingDateFormatted () {
      return this.searchParam.toPostingDate ? moment(this.searchParam.toPostingDate).format(GlobalMessage.DATEFORMAT) : ''
    },
  },
  mounted () {
  },
  created () {
    this.prodSearchFilter();
    this.getcustomer();
  },
  methods: {
    formatDate (date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join('-');
    },

    onSearchInupt () {

    },
    getcustomer () {
      getPortalCustomers()
        .then(response => {
          this.customers = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
      getPlants()
        .then(response => {
          this.companies = response.data;
          this.loader = false;
          console.log(this.companies);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    prodSearchFilter () {
      this.loader = true;
      this.searchParam.userId = this.$store.state.auth.userId;
      getShipment(this.searchParam)
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },
    editItem (item) {
      this.loader = true;
      item.userId = this.$store.state.auth.userId;
      updateReceive(item)
        .then(response => {
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    clearSearchFilter () {

      this.searchParam.customerId = '';
      this.searchParam.search = '';
      this.searchParam.company = 'NAV_JB';
      this.searchParam.stockMonth = new Date().toISOString().substr(0, 10);
      this.searchParam.fromPostingDate = new Date().toISOString().substr(0, 10);
      this.searchParam.toPostingDate = new Date().toISOString().substr(0, 10);
    },
  }
};
</script>
<style>
.inpscroll--scrollbar {
  height: calc(100vh - 40px - 60px);
}
</style>