<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-menu
        v-model="stockMonthmenu"
        :close-on-content-click="false"
        full-width
        min-width="290"
      >
        <v-text-field
          slot="activator"
          :value="stockMonthDateFormatted"
          label="Stock Balance Month"
          prepend-icon="today"
          readonly
        ></v-text-field>
        <v-date-picker
          v-model="searchParam.stkMonth"
          @change="stockMonthmenu = false"
        ></v-date-picker>
      </v-menu>
      <v-select
        label="Company"
        v-model="searchParam.companyId"
        prepend-icon="apartment"
        name="companyselect"
        item-text="plantCode"
        item-value="plantID"
        :items="companies"
      ></v-select>
      <v-spacer></v-spacer>

      <v-btn icon @click.native="initialize">
        <v-icon>search</v-icon>
      </v-btn>
      <upload-btn
        @file-update="fileChanged"
        title="Browse"
        name="uploadtask"
        uniqueId
        noTitleUpdate
        ref="distStockupload"
      >
        <template slot="icon-left">
          <v-icon left color="white">cloud_upload</v-icon>
        </template>
      </upload-btn>
      <v-tooltip bottom>
        <v-btn slot="activator" icon @click="openReport">
          <v-icon color="red">report_problem</v-icon>
        </v-btn>
        <span>View Export Error</span>
      </v-tooltip>
      <v-dialog
        v-model="itemdialog"
        transition="dialog-bottom-transition"
        width="700px"
      >
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title color="white">{{ itemDesc }}</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="itemdialog = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <!-- <v-card-title>
                
          </v-card-title>-->
          <v-card-text>
            <app-section-loader :status="noloader"></app-section-loader>
            <v-toolbar flat color="white">
              <v-text-field
                v-model="nosearch"
                prepend-icon="search"
                label="Search"
                single-line
                hide-details
              ></v-text-field>
            </v-toolbar>
            <v-data-table
              :headers="noItemheaders"
              :items="filteredNoItems"
              class="elevation-1"
              default-sort="itemCode:desc"
              :rows-per-page-items="rowsPerPageItems"
              :pagination.sync="nopagination"
            >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.distName }}</td>
                <td>{{ props.item.itemNo }}</td>
                <td>{{ props.item.itemDesc }}</td>
                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="addDistItem(props.item)"
                    >add</v-icon
                  >
                </td>
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"
                  >Record not exist.Refresh again in while time.</v-btn
                >
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialog" max-width="900px">
        <!-- <v-btn
          slot="activator"
          icon
          @click.native="add"
        >

          <v-icon>add_circle_outline</v-icon>
        </v-btn>-->
        <v-card>
          <v-toolbar card dense color="transparent">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon>library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon>save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon>add</v-icon>
              </v-btn>
              <span>Create New Distributor Monthly Stock Balance</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs6 sm6>
                    <v-textarea
                      v-model="editedItem.itemDecs"
                      label="Item Description"
                      prepend-icon="description"
                      :disabled="editedItem.avnavStockBalID > 0"
                    >
                      <div slot="label">Item Description</div>
                    </v-textarea>
                  </v-flex>

                  <v-flex xs6 sm6>
                    <v-text-field
                      v-model="editedItem.packSize"
                      label="Pack Size"
                      prepend-icon="tune"
                      mask="#############"
                    >
                      <div slot="label">Pack Size</div>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-text-field
                      v-model="editedItem.ac"
                      label="AC"
                      prepend-icon="all_inbox"
                      mask="#############"
                    >
                      <div slot="label">AC</div>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-text-field
                      v-model="editedItem.remainingQty"
                      label="Remaining Qty"
                      prepend-icon="polymer"
                      :disabled="editedItem.avnavStockBalID > 0"
                      mask="#############"
                    >
                      <div slot="label">Remaining Qty</div>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-text-field
                      v-model="editedItem.uom"
                      label="UOM"
                      prepend-icon="line_style"
                    >
                      <div slot="label">UOM</div>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-text-field
                      :value="stockBalMonthFormatted"
                      readonly
                      label="Stock Bal Month"
                      prepend-icon="today"
                    ></v-text-field>
                  </v-flex>
                  <!-- <v-flex
                    lg6
                    sm6
                  >
                        <v-radio-group
                            v-model="selected"
                            :mandatory="false"
                            row
                        >
                        <v-radio
                            name="editedItem.isNav"
                            color="primary"
                            label="IsNAV"
                            :value="true"
                        ></v-radio>
                        <v-radio
                            name="editedItem.isNav"
                            color="primary"
                            label="Non IsNAV"
                            :value="false"
                        ></v-radio>
                        </v-radio-group>
                  </v-flex>-->
                  <v-flex xs6 sm6>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <!-- <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="close">Cancel</v-btn>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
          </v-card-actions>-->
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="itemCode:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.dist }}</td>
        <td>{{ props.item.itemCode }}</td>
        <td>{{ props.item.itemDecs }}</td>
        <td>{{ props.item.swItemNo }}</td>
        <td>{{ props.item.swDesc }}</td>
        <td>{{ props.item.swDesc2 }}</td>
        <td>{{ props.item.internalRefNo }}</td>
        <td>{{ props.item.itemGroup }}</td>
        <td class="text-xs-left">{{ props.item.packSize }}</td>
        <td class="text-xs-left">{{ props.item.packuom }}</td>
        <td class="text-xs-left">{{ props.item.uom }}</td>
        <td class="text-xs-left">{{ props.item.remainingQty }}</td>
        <!-- <td class="text-xs-left">{{ props.item.uom }}</td> -->
        <td class="text-xs-left">
          {{ props.item.stockBalMonth | formatDate }}
        </td>
        <!-- <td class="text-xs-left">{{ props.item.isNav }}</td> -->
        <!-- <td class="text-xs-left">{{ props.item.statusCodeID }}</td> -->
        <!-- <td class="text-xs-left">{{ props.item.addedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>-->
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="viewStockQuantity(props.item)"
            >add_to_queue</v-icon
          >
        </td>
        <!-- <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="onDeleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>-->
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>

    <v-dialog
      v-model="updateStockBalancedialog"
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="closeStockBalance">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="stockBalanceSaveAndClose"
            >
              <v-icon color="white">library_add</v-icon>
            </v-btn>
            <span>Save and Close</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="auditLog">
              <v-icon color="white">info</v-icon>
            </v-btn>
            <span>Audit Log</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="closeStockBalance">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">{{ stockBlanceformTitle }}</span>
        </v-card-title>

        <v-card-text>
          <v-form
            v-model="stockBalanceEditItem.valid"
            ref="form"
            lazy-validation
          >
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs6 sm6>
                  <v-text-field
                    v-model="stockBalanceEditItem.distName"
                    readonly
                    label="Dist Description"
                    prepend-icon="description"
                  ></v-text-field>
                </v-flex>
                <v-flex xs6 sm6>
                  <v-text-field
                    v-model="stockBalanceEditItem.itemName"
                    readonly
                    label="Item Name"
                    prepend-icon="description"
                  ></v-text-field>
                </v-flex>
                <v-flex
                  xs6
                  sm6
                  v-if="stockBalanceEditItem.distStockBalanceId > 0"
                >
                  <v-text-field
                    slot="activator"
                    :value="stockBalanceMonthFormatted"
                    label="Month"
                    prepend-icon="today"
                    readonly
                  ></v-text-field>
                </v-flex>

                <v-flex xs6 sm6 v-else>
                  <v-menu
                    v-model="stockBalMonthmenu"
                    :close-on-content-click="false"
                    full-width
                    min-width="290"
                  >
                    <v-text-field
                      slot="activator"
                      :value="stockBalanceMonthFormatted"
                      label="Month"
                      prepend-icon="today"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="stockBalanceEditItem.stockBalMonth"
                      @change="stockBalMonthmenu = false"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>

                <v-flex xs6 sm6>
                  <v-text-field
                    v-model="stockBalanceEditItem.quantity"
                    label="Stock Balance"
                    prepend-icon="description"
                    mask="########################"
                  ></v-text-field>
                </v-flex>

                <v-flex xs6 sm6>
                  <v-text-field
                    v-model="stockBalanceEditItem.poQty"
                    label="PO Qty"
                    prepend-icon="description"
                    mask="########################"
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-if="stockBalanceEditItem.distStockBalanceId === 0"
            color="primary darken-1"
            outline
            @click.native="saveStockBalance"
            >Save</v-btn
          >
          <v-btn
            v-else
            color="primary darken-1"
            outline
            @click.native="updateStockBalance"
            >Update</v-btn
          >
          <v-btn
            color="primary darken-1"
            outline
            @click.native="closeStockBalance"
            >close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <delete-confirmation-dialog
      ref="deleteStockBalanceConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteDiststockBalanceItem"
    ></delete-confirmation-dialog>

    <v-dialog
      v-model="populateQuantitydialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="closeStockDataDialog">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="addDistStockBalance">
              <v-icon color="white">add</v-icon>
            </v-btn>
            <span>Add</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="closeStockDataDialog">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">Stock Balance</span>
        </v-card-title>

        <v-card-text>
          <div style="overflow: auto; height: calc(90vh - 90px)">
            <app-section-loader
              :status="stockBalanceLoader"
            ></app-section-loader>

            <v-flex lg12 sm12 xs12>
              <v-data-table
                :headers="stockBalanceheaders"
                :items="stockBalanceItems"
                class="elevation-1"
                default-sort="distName:asc"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
                dense
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.distName }}</td>
                  <td>{{ props.item.itemName }}</td>
                  <td>{{ props.item.stockBalMonth | monthYear }}</td>
                  <td>{{ props.item.stockBalWeek }}</td>
                  <td>{{ props.item.quantity }}</td>
                  <td>{{ props.item.poQty }}</td>
                  <td class="justify-left layout px-0">
                    <v-icon
                      small
                      class="mr-2"
                      @click="editstockBalanceItem(props.item)"
                      >edit</v-icon
                    >
                    <v-icon
                      small
                      class="mr-2"
                      @click="deleteStockBalance(props.item)"
                      >delete</v-icon
                    >
                  </td>
                </template>
                <template slot="no-data">
                  <v-btn color="primary" outline @click="initialize"
                    >Record not exist.Refresh again in while time.</v-btn
                  >
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="auditdialog">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title color="white">Audit Logs</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="auditdialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          <audit-log ref="refAuditLog"></audit-log>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="primary darken-1"
            outline
            @click.native="auditdialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import UploadButton from "vuetify-upload-button";
import {
  getDistMonthlyStockBalances,
  getDistMonthlyStockBalance,
  createDistMonthlyStockBalance,
  updateDistMonthlyStockBalance,
  deleteDistMonthlyStockBalance,
  uploadDocuments,
  updateStockBalanceQuantity,
} from "@/api/navStockBalance";
import {
  updateDistStockBalance,
  getDistStockBalanceItemsById,
  saveDistStockBalance,
  deleteStockBalanceItem,
  addDistMaster,
  getNoACItems,
} from "@/api/acItems";
import GlobalMessage from "@/constant";
import { getPlants } from "@/api/nav";
import moment from "moment";
import { allResolved } from "q";
import auditLog from "@/components/auditLog/auditLog";
export default {
  components: {
    "upload-btn": UploadButton,
    auditLog,
  },

  data: () => ({
    auditdialog: false,
    companies: [],
    itemdialog: false,
    itemList: [],
    itemDesc: "Items not exist in Dist. master",
    uploadedFiles: [],
    showDownLoad: false,
    diststkfiles: new FormData(),
    stockMonthmenu: false,
    stockMonth: new Date().toISOString().substr(0, 10),
    startDateMenu: false,
    selected: false,
    dialog: false,
    loader: false,
    noloader: false,
    search: "",
    nosearch: "",
    statusOptions: [
      { text: "Open", value: 1 },
      { text: "Released", value: 2 },
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    updateStockBalancedialog: false,
    y: "top",
    noItemheaders: [
      { text: "Dist.", value: "dist", align: "left" },
      { text: "Dist. Item", value: "itemCode", align: "left" },
      { text: "Dist. Description", value: "itemDecs", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],

    headers: [
      { text: "Dist.", value: "dist", align: "left" },
      { text: "Dist. Item", value: "itemCode", align: "left" },
      { text: "Dist. Description", value: "itemDecs", align: "left" },
      { text: "NAV Item", value: "swItemNo", align: "left" },
      { text: "NAV Description", value: "swDesc", align: "left" },
      { text: "NAV Description2", value: "swDesc2", align: "left" },
      { text: "Internal Ref", value: "internalRefNo", align: "left" },
      { text: "Category", value: "itemGroup", align: "left" },
      { text: "Pack Size(K)", value: "packSize", align: "left" },
      { text: "Pack UOM", value: "packuom", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      { text: "Remaining Qty", value: "remainingQty", align: "left" },
      //   { text: 'UOM', value: 'uom', align: 'left' },
      { text: "Stock Bal Month", value: "stockBalMonth", align: "left" },
      //   { text: 'Is NAV', value: 'isNav', align: 'left' },
      //   { text: 'Status', value: 'statusCode', align: 'left' },
      //   { text: 'Added By', value: 'addedByUserId', align: 'left' },
      //   { text: 'Modified By', value: 'modifiedByUserId', align: 'left' },
      //   { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    gridItems: [],
    gridNoItems: [],
    stockBalanceheaders: [
      { text: "Dist Name", value: "distName", align: "left" },
      { text: "Item Name", value: "itemName", align: "left" },
      { text: "Stock Balance Month", value: "stockBalMonth", align: "left" },
      { text: "Stock Balance Week", value: "stockBalWeek", align: "left" },
      { text: "Quantity", value: "quantity", align: "left" },
      { text: "PO Quantity", value: "poQty", align: "left" },
      // { text: 'AC Month', value: 'acMonth', align: 'left' },
      // { text: 'AC Qty', value: 'acQty', align: 'left' },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    stockBalanceLoader: false,
    stockBalanceItems: [],
    editedIndex: -1,
    stockBalanceeditedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [5, 10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    nopagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      avnavStockBalID: 0,
      itemDecs: "",
      packSize: "",
      ac: "",
      remainingQty: "",
      uom: "",
      stockBalMonth: new Date().toISOString().substr(0, 10),
      isNav: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      valid: false,
      avnavStockBalID: 0,
      itemDecs: "",
      packSize: "",
      ac: "",
      remainingQty: "",
      uom: "",
      stockBalMonth: new Date().toISOString().substr(0, 10),
      isNav: null,
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    items: [
      { title: "Clear Items" },
      { title: "Post" },
      { title: "Delete" },
      { title: "Print" },
    ],
    searchParam: {
      stkMonth: new Date().toISOString().substr(0, 10),
      itemNo: "",
      companyId: 1,
    },
    stockBalance: {
      acId: 0,
      quantity: "",
      stockBalMonth: new Date().toISOString().substr(0, 10),
    },
    stockBalanceEditItem: {
      valid: false,
      distStockBalanceId: 0,
      distItemId: 0,
      stockBalWeek: null,
      distName: "",
      itemName: "",
      quantity: "",
      poQty: 0,
      stockBalMonth: new Date().toISOString().substr(0, 10),
    },
    stockBalanceDefaultItem: {
      valid: false,
      distStockBalanceId: 0,
      distItemId: 0,
      stockBalWeek: null,
      distName: "",
      itemName: "",
      quantity: "",
      stockBalMonth: new Date().toISOString().substr(0, 10),
    },
    populateQuantitydialog: false,
    stockBalanceSelectedItem: null,
    stockBalMonthmenu: false,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Distributor Monthly Stock Balance"
        : "Edit Distributor Monthly Stock Balance";
    },
    stockBlanceformTitle() {
      return this.stockBalanceeditedIndex === -1
        ? "Add Stock Balance"
        : "Edit Stock Balance";
    },
    stockBalMonthFormatted() {
      if (this.editedItem.stockBalMonth != null)
        return this.editedItem.stockBalMonth
          ? moment(this.editedItem.stockBalMonth).format(
              GlobalMessage.DATEFORMAT
            )
          : "";
    },

    stockBalanceMonthFormatted() {
      if (this.stockBalanceEditItem.stockBalMonth != null)
        return this.stockBalanceEditItem.stockBalMonth
          ? moment(this.stockBalanceEditItem.stockBalMonth).format(
              GlobalMessage.MONTHYEARFORMAT
            )
          : "";
    },

    filteredNoItems() {
      return this.gridNoItems.filter((item) => {
        if (!this.nosearch) return this.gridNoItems;
        return (
          item.itemNo.toLowerCase().includes(this.nosearch.toLowerCase()) ||
          item.itemDesc.toLowerCase().includes(this.nosearch.toLowerCase())
        );
      });
    },

    stockMonthDateFormatted() {
      return this.searchParam.stkMonth
        ? moment(this.searchParam.stkMonth).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  created() {
    this.initialize();
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    this.nopagination.rowsPerPage = 5;
  },

  methods: {
    initialize() {
      this.loader = true;
      this.noloader = true;
      getPlants()
        .then((response) => {
          this.companies = response.data;
           this.loader = false;
            this.noloader = false;
        })
        .catch((error) => {
          this.loader = false;
           this.noloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getDistMonthlyStockBalances(this.searchParam)
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
           this.noloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      //   alert('Edit:-'+JSON.stringify(this.editedItem));
      if (this.editedItem.isNav == null) {
        this.selected = true;
      }

      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteDistMonthlyStockBalance(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getDistMonthlyStockBalance(this.searchItem)
        .then((response) => {
          if (response.data.avnavStockBalID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.avnavStockBalID)
              .indexOf(response.data.avnavStockBalID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.avnavStockBalID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.avnavStockBalID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.avnavStockBalID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.avnavStockBalID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.avnavStockBalID = -1;
      this.editedItem.itemDecs = "";
      this.editedItem.packSize = "";
      this.editedItem.ac = "";
      this.editedItem.remainingQty = "";
      this.editedItem.uom = "";
      this.editedItem.stockBalMonth = new Date().toISOString().substr(0, 10);
      this.editedItem.isNav = false;
      this.editedItem.addedByUserId = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
      //   alert('add:-'+JSON.stringify(this.editedItem));
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      console.log(this.editedItem);
      deleteDistMonthlyStockBalance(this.editedItem)
        .then(() => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.$refs.form.validate()) {
        if (this.selected == true) {
          this.editedItem.isNav = true;
        } else {
          this.editedItem.isNav = false;
        }
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();

          updateDistMonthlyStockBalance(this.editedItem)
            .then((response) => {
              // alert('Update:-'+JSON.stringify(response.data));
              Object.assign(this.gridItems[index], response.data);

              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.avnavStockBalID =
            parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          //   this.editedItem.statusCodeID = 1;
          this.editedItem.isNav = false;
          createDistMonthlyStockBalance(this.editedItem)
            .then((response) => {
              // alert('Save:-'+JSON.stringify(response.data));
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem = response.data;
              let index = this.gridItems
                .map((item) => item.avnavStockBalID)
                .indexOf(response.data.avnavStockBalID);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        //this.close();
      }
    },
    formatDate(date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join("-");
    },
    upLoad() {},
    fileChanged(file) {
      this.loader = true;
      this.uploadedFiles.push(file);
      this.showdownload = false;
      this.diststkfiles.append("file", file, file.name);
      this.diststkfiles.append("plantId", this.searchParam.companyId);
      this.diststkfiles.append("userId", this.$store.state.auth.userId);
      this.diststkfiles.append("stkMonth", this.searchParam.stkMonth);
      this.$refs.distStockupload.clear();
      uploadDocuments(this.diststkfiles)
        .then((response) => {
          this.loader = false;
          this.diststkfiles= new FormData();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeFile(key) {
      this.diststkfiles.delete("file");
      this.diststkfiles.delete("plantId");
      this.diststkfiles.delete("userId");
      this.uploadedFiles.splice(key, 1);

      this.uploadedFiles.forEach((file) => {
        this.diststkfiles.append("file", file, file.name);
      });
    },
    stockBalanceSaveAndClose() {
      if (this.stockBalanceeditedIndex > 0) {
        this.updateStockBalance();
      } else {
        this.saveStockBalance();
      }
      this.closeStockBalance();
    },
    editstockBalanceItem(item) {
      this.stockBalanceEditItem = Object.assign({}, item);
      this.stockBalanceSelectedItem = item;
      this.stockBalanceeditedIndex = this.stockBalanceItems.indexOf(item);
      this.updateStockBalancedialog = true;
    },
    deleteStockBalance(item) {
      this.$refs.deleteStockBalanceConfirmationDialog.openDialog();
      this.stockBalanceSelectedItem = item;
    },
    deleteDiststockBalanceItem() {
      this.$refs.deleteStockBalanceConfirmationDialog.close();
      this.stockBalanceLoader = true;
      let index = this.stockBalanceItems.indexOf(this.stockBalanceSelectedItem);
      deleteStockBalanceItem(this.stockBalanceSelectedItem)
        .then((response2) => {
          this.stockBalanceLoader = false;
          this.stockBalanceItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);

          this.closeStockBalance();
          //this.add();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveStockBalance() {
      this.stockBalanceLoader = true;
      this.stockBalanceEditItem.modifiedByUserId = this.$store.state.auth.userId;
      this.stockBalanceEditItem.modifiedDate = new Date();
      this.stockBalanceEditItem.addedByUserId = this.$store.state.auth.userId;
      this.stockBalanceEditItem.addedDate = new Date();
      saveDistStockBalance(this.stockBalanceEditItem)
        .then((response2) => {
          this.stockBalanceLoader = false;
          console.log(response2);
          //this.stockBalanceItems.push(response2.data);
          this.stockBalanceEditItem = response2.data;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          this.closeStockBalance();
        })
        .catch((error) => {
          this.stockBalanceLoader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    updateStockBalance() {
      this.stockBalanceLoader = true;
      this.stockBalance.acId = this.stockBalanceEditItem.distItemId;
      this.stockBalance.quantity = this.stockBalanceEditItem.quantity;
      this.stockBalance.poQty = this.stockBalanceEditItem.poQty;
      this.stockBalance.stockBalMonth = this.stockBalanceEditItem.stockBalMonth;
      this.stockBalance.modifiedByUserId = this.$store.state.auth.userId;
      this.stockBalance.modifiedDate = new Date();
      this.stockBalance.addedByUserId = this.$store.state.auth.userId;
      this.stockBalance.addedDate = new Date();
      updateDistStockBalance(this.stockBalance)
        .then((response2) => {
          Object.assign(
            this.stockBalanceItems[this.stockBalanceeditedIndex],
            this.stockBalanceEditItem
          );
          this.stockBalanceLoader = false;
          console.log(response2);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          this.closeStockBalance();
        })
        .catch((error) => {
          this.stockBalanceLoader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closeStockBalance() {
      this.updateStockBalancedialog = false;
      this.stockBalanceeditedIndex = -1;
      this.stockBalanceEditItem = Object.assign(
        {},
        this.stockBalanceDefaultItem
      );
      this.refreshStockBalanceItems(this.editedItem.avnavStockBalID);
    },
    viewStockQuantity(item) {
      this.stockBalanceLoader = true;
      this.editedItem = Object.assign({}, item);
      getDistStockBalanceItemsById(item.avnavStockBalID)
        .then((response) => {
          console.log(response.data);
          this.stockBalanceItems = response.data;
          this.stockBalanceLoader = false;
          this.populateQuantitydialog = true;
        })
        .catch((error) => {
          this.stockBalanceLoader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    addDistStockBalance() {
      this.updateStockBalancedialog = true;
      this.stockBalanceeditedIndex = -1;
      this.stockBalanceEditItem = Object.assign(
        {},
        this.stockBalanceDefaultItem
      );
      this.stockBalanceEditItem.distItemId = this.editedItem.avnavStockBalID;
      this.stockBalanceEditItem.distName = this.editedItem.dist;
      this.stockBalanceEditItem.itemName = this.editedItem.itemCode;
    },
    closeStockDataDialog() {
      this.populateQuantitydialog = false;
      this.initialize();
    },
    openReport() {
      this.noloader = true;
      this.itemdialog = true;
      getNoACItems()
        .then((response) => {
          this.gridNoItems = response.data;
          this.noloader = false;
          this.nopagination.rowsPerPage = 5;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    addDistItem(args) {
      console.log(args);
      addDistMaster(args)
        .then((response) => {
          this.initialize();
          this.openReport();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    auditLog() {
      this.$refs.refAuditLog.tableName = "DistStockBalance";
      this.$refs.refAuditLog.primaryKeyValue = this.stockBalanceEditItem.distStockBalanceId;
      this.$refs.refAuditLog.displayColumns = ["StockBalMonth", "Quantity"];
      this.$refs.refAuditLog.getAuditLog();
      this.auditdialog = true;
    },
    refreshStockBalanceItems(avnavStockBalID) {
      this.stockBalanceLoader = true;
      getDistStockBalanceItemsById(avnavStockBalID)
        .then((response) => {
          console.log(response.data);
          this.stockBalanceItems = response.data;
          this.stockBalanceLoader = false;
        })
        .catch((error) => {
          this.stockBalanceLoader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
