<template>
  <div>
    <v-layout wrap style="background: gainsboro !important;padding: 10px;">
      <span class="headline">Inter Company Purchase Order Line</span>
    </v-layout>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="PurchaseOrderLine.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
        <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="saveAndClose" :loading="subloader">
              <v-icon color="white">library_add</v-icon>
            </v-btn>
            <span>Save and Close</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="save" :loading="subloader">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="add" :loading="subloader">
              <v-icon color="white">add</v-icon>
            </v-btn>
            <span>Create New Purchase Order Line</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="deleterow">
              <v-icon color="white">delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="company--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="productLineform" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm8>
                    <v-autocomplete
                      label="Navision No"
                      prepend-icon="notes"
                      :loading="navloader"
                      v-model="editedItem.navItemId"
                      :items="navItemItems"
                      item-text="itemNoDetail"
                      item-value="itemId"
                      chips
                      @change="selectNavision"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.description"
                      label="Description"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.description2"
                      label="Description2"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.internalRef"
                      label="Internal Reference"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.packUom"
                      label="UOM"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.location"
                      label="Location"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.quantity"
                      label="Quantity"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-menu
                      v-model="expectedDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="dateFormatted"
                        label="Expected Delivery Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.shipmentDate"
                        @change="expectedDateMenu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-menu
                      v-model="expectedDateMenu1"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="dateFormatted1"
                        label="Expected Delivery Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.promisedDeliveryDate"
                        @change="expectedDateMenu1 = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="text"
                      item-value="value"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save" :loading="subloader">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close" :loading="subloader">Close</v-btn>
          </v-card-actions>

          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="subloader"></app-section-loader>

    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="interCompanyPurchaseOrderLineId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.navNo }}</td>

        <td class="text-xs-left">{{ props.item.description }}</td>
        <td class="text-xs-left">{{ props.item.description2 }}</td>
        <td class="text-xs-left">{{ props.item.internalRef }}</td>

        <td class="text-xs-left">{{ props.item.quantity }}</td>
        <td class="text-xs-left">{{ props.item.packUom }}</td>
        <td class="text-xs-left">{{ props.item.shipmentDate|formatDate }}</td>
        <td class="text-xs-left">{{ props.item.promisedDeliveryDate|formatDate }}</td>
        <td class="text-xs-left">{{ props.item.location }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>

        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getPlants } from "@/api/plant";
import moment from "moment";
import {
  getInterCompanyPurchaseOrderLine,
  createInterCompanyPurchaseOrderLine,
  updateInterCompanyPurchaseOrderLine,
  deleteInterCompanyPurchaseOrderLine,
  getDescriptionExceptItems
} from "@/api/interCompanyPurchaseOrder";

export default {
  components: {},
  data: () => ({
    dialog: false,
    subloader: false,
    editedIndex: -1,
    navloader: false,
    searchBusinessActivity: "",
    searchbusinessCategory: "",
    search: "",
    gridItems: [],
    navItemItems: [],
     navItemItems1: [],
    companyID: null,
    expectedDateMenu: false,
    expectedDateMenu1: false,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 }
    ],

    enableAddButton: true,

    fromCompanyItems: [],
    editedItem: {
      interCompanyPurchaseOrderLineId: -1,
      interCompanyPurchaseOrderId: -1,
      navItemId: null,
      description: "",
      description2: "",
      quantity: "",
      internalRef: "",
      packUom: "",
      qclocation: "",
      location: "",
      shipmentDate: new Date().toISOString().substr(0, 10),
      promisedDeliveryDate: new Date().toISOString().substr(0, 10),

      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      interCompanyPurchaseOrderLineId: -1,
      interCompanyPurchaseOrderId: -1,
      navItemId: null,
      description: "",
      description2: "",
      quantity: "",
      internalRef: "",
      packUom: "",
      qclocation: "",
      location: "",
      shipmentDate: new Date().toISOString().substr(0, 10),
      promisedDeliveryDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    headers: [
      { text: "Navision Item", value: "navNo", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Description2", value: "description2", align: "left" },
      { text: "InternalRef", value: "internalRef", align: "left" },
      { text: "Quantity", value: "quantity", align: "left" },
      { text: "PackUom", value: "packUom", align: "left" },
      { text: "ShipmentDate", value: "shipmentDate", align: "left" },
      {
        text: "PromisedDeliveryDate",
        value: "promisedDeliveryDate",
        align: "left"
      },
      { text: "Location", value: "location", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%"
      }
    ],
    json_fields: {
      "Business Activity": "businessActivity",
      "Business Category": "businessCategory",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser"
    }
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Inter Company Purchase Order Line"
        : "Edit Inter Company Purchase Order Line";
    },
    dateFormatted() {
      if (this.editedItem.shipmentDate != null)
        return this.editedItem.shipmentDate
          ? moment(this.editedItem.shipmentDate).format(
              GlobalMessage.DATEFORMAT
            )
          : "";
    },

    dateFormatted1() {
      if (this.editedItem.promisedDeliveryDate != null)
        return this.editedItem.promisedDeliveryDate
          ? moment(this.editedItem.promisedDeliveryDate).format(
              GlobalMessage.DATEFORMAT
            )
          : "";
    },
    saltBaseRules() {
      return [v => !!v || "This is required field"];
    }
  },
  created() {},
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  methods: {
    initialize() {
      this.getNavItem();
    },

    selectBusinessActivity() {
      this.searchBusinessActivity = "";
    },
    selectbusinessCategory() {
      this.searchbusinessCategory = "";
    },
    getNavItem() {
      if (this.companyID != null) {
        this.navloader = true;
        getDescriptionExceptItems(this.companyID)
          .then(response => {
            this.navItemItems = response.data;
             this.navItemItems1 = response.data;
            this.navloader = false;
          })
          .catch(error => {
            this.navloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadGridList() {
      this.subloader = true;
      getInterCompanyPurchaseOrderLine(this.interCompanyPurchaseOrderId)
        .then(response => {
          this.gridItems = response.data;
          this.subloader = false;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    editItem(item) {
      // this.loadDropdownList();
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);

      setTimeout(() => {
        this.dialog = true;
      }, 500);
    },
    close() {
      this.loadGridList();
      this.dialog = false;

      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    selectNavision(value) {
      let selectNavItem = this.navItemItems.filter(
        n => n.itemId == this.editedItem.navItemId
      );
      console.log(""+value);
      if (selectNavItem.length > 0) {
       
        this.editedItem.description = selectNavItem[0].description;
        this.editedItem.description2 = selectNavItem[0].description2;
         this.editedItem.internalRef = selectNavItem[0].internalRef;
        this.editedItem.packUom = selectNavItem[0].packUom;
        this.editedItem.location = selectNavItem[0].qclocation;
        //  this.editedItem.location= selectNavItem[0].qclocation;
    
      }
    },
    saveAndClose() {
      this.save();
      this.dialog = false;
    },
    add() {
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem.statusCodeID = 1;
      this.editedItem = Object.assign({}, this.defaultItem);
    },
    openPopup() {
      this.dialog = true;
      this.add();
    },
    save() {
      this.editedItem.interCompanyPurchaseOrderId = this.interCompanyPurchaseOrderId;
      if (this.$refs.productLineform.validate()) {
        this.subloader = true;
        this.editedItem.qty = isNaN(this.editedItem.qty)
          ? null
          : this.editedItem.qty;
        this.editedItem.unitPrice = isNaN(this.editedItem.unitPrice)
          ? null
          : this.editedItem.unitPrice;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          updateInterCompanyPurchaseOrderLine(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.subloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.loadGridList();
            })
            .catch(error => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();

          createInterCompanyPurchaseOrderLine(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.subloader = false;
              this.editedItem.interCompanyPurchaseOrderLineId =
                response.data.interCompanyPurchaseOrderLineId;
              let index = this.gridItems
                .map(item => item.interCompanyPurchaseOrderLineId)
                .indexOf(response.data.interCompanyPurchaseOrderLineId);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.loadGridList();
            })
            .catch(error => {
              this.subloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.interCompanyPurchaseOrderLineId > -1) {
        this.subloader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteInterCompanyPurchaseOrderLine(this.editedItem)
          .then(() => {
            this.subloader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch(error => {
            this.subloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  }
};
</script>
<style lang="stylus" scoped>
.company--scroll {
  overflow: auto;
  height: calc(100vh - 120px);
}
</style>