<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>

      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="MasterBlanketOrderLine.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" :disabled="enableAddButton">
        <v-btn slot="activator" icon @click="add" :disabled="enableAddButton">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.masterBlanketOrderLineId<0"
                @click.native="add"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Master Blanket Order Line</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.masterBlanketOrderLineId<0"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow:auto;height:calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  
                     <v-flex xs12 sm4>
                    <v-autocomplete
                      label="No Of Weeks PerMonth"
                      prepend-icon="notes"
                      v-model="editedItem.noOfWeeksPerMonth"
                      :items="weeksOptions"
                    ></v-autocomplete>
                  </v-flex>
                   
                 
                  <v-flex xs12 sm18></v-flex>

                  <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth>=1">
                    <v-menu
                      v-model="weekOneDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="weekOneFormated"
                        label="week One Start Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.weekOneStartDate"
                        @change="weekOneDateMenu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                    <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth>=1">
                    <v-text-field
                      v-model="editedItem.weekOneLargestOrder"
                      label="Week One Largest Order"
                      prepend-icon="select_all"
                      mask="#####################"
                      
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth>=2">
                    <v-menu
                      v-model="weekTwoDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="weekTwoFormated"
                        label="Week Two Start Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.weekTwoStartDate"
                        @change="weekTwoDateMenu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                    <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth>=2">
                    <v-text-field
                       v-model="editedItem.weekTwoLargestOrder"
                      label="Week Two Largest Order"
                      prepend-icon="select_all"
                     mask="#####################"
                       
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth>=3">
                    <v-menu
                      v-model="weekThreeDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="weekThreeFormated"
                        label="Week Three Start Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.weekThreeStartDate"
                        @change="weekThreeDateMenu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                    <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth>=3">
                    <v-text-field
                      v-model="editedItem.weekThreeLargestOrder"
                      label="Week Three Largest Order"
                      prepend-icon="select_all"
                      mask="#####################"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth==4">
                    <v-menu
                      v-model="weekFourDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="weekFourFormated"
                        label="Week Four Start Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.weekFourStartDate"
                        @change="weekFourDateMenu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                    <v-flex xs12 sm4 v-if="editedItem.noOfWeeksPerMonth==4">
                    <v-text-field
                      v-model="editedItem.weekFourLargestOrder"
                      label="Week Four Largest Order"
                      prepend-icon="select_all"
                      mask="#####################"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.balanceQtyForCalculate"
                      label="Balance Qty For Calculate"
                      prepend-icon="select_all"
                      mask="#################"
                       suffix="/ %"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>

            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete This Item Permanently?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" :loading="saveloader"  outline @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="masterBlanketOrderLineId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.noOfWeeksPerMonth }}</td>
          <td class="text-xs-left">{{ props.item.weekOneStartDate | formatDate }}</td>
          <td class="text-xs-left" >{{ props.item.weekTwoStartDate | formatDate }}</td>
          <td class="text-xs-left" >{{ props.item.weekThreeStartDate | formatDate }}</td>
           <td class="text-xs-left" >{{ props.item.weekFourStartDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { isValidFunction } from "@/api/checkPermission";
import Util from "@/util";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";

import {
  getMasterBlanketOrderLines,
  getMasterBlanketOrderLineData,
  createMasterBlanketOrderLine,
  updateMasterBlanketOrderLine,
  deleteMasterBlanketOrderLine,
  getCompanyListingsForBlanketOrder
} from "@/api/masterBlanketOrder";

import GlobalMessage from "@/constant";
import moment from "moment";

export default {
  components: {},
  data: () => ({
    formId: "SAL5002",
    companies: [],
    saveloader: false,
    weekOneDateMenu: false,
    weekTwoDateMenu: false,
    weekThreeDateMenu: false,
    weekFourDateMenu: false,
    masterBlanketOrderId: null,
    enableAddButton:true,
    dialog: false,
    loader: false,
    search: "",
    countryItems: [],
    customerItems: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 }
    ],
    weeksOptions: [{text:"1", value:1},
    {text:"2", value:2},
    {text:"3", value:3},
    {text:"4", value:4},],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "No Of Weeks", value: "noOfWeeksPerMonth", align: "left" },
      { text: "week One Start Date", value: "weekOneStartDate", align: "left" },
      { text: "week Two Start Date", value: "weekTwoStartDate", align: "left" },
      {
        text: "week Three Start Date",
        value: "weekThreeStartDate",
        align: "left"
      },
       {
        text: "week Four Start Date",
        value: "weekFourStartDate",
        align: "left"
      },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" }
    ],

    json_fields: {
      "No of Weeks": "noOfWeeksPerMonth",
      "Week One Start Date": "weekOneStartDate",
      "Week Two StartDate": "weekTwoStartDate",
      "week Three StartDate": "weekThreeStartDate",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser"
    },
    gridItems: [],
    editedIndex: -1,
    companyItems: [],

    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    editedItem: {
      valid: false,
      masterBlanketOrderLineID: -1,
      masterBlanketOrderId: null,
      noOfWeeksPerMonth: 1,
      weekOneLargestOrder: null,
      weekOneStartDate: new Date().toISOString().substr(0, 10),
      weekTwoLargestOrder: null,
      weekTwoStartDate: new Date().toISOString().substr(0, 10),
      weekThreeLargestOrder: null,
      weekThreeStartDate: new Date().toISOString().substr(0, 10),
      weekFourLargestOrder: null,
      weekFourStartDate: new Date().toISOString().substr(0, 10),
      balanceQtyForCalculate: null,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      valid: false,
      masterBlanketOrderLineID: -1,
      masterBlanketOrderId: null,
      noOfWeeksPerMonth: 1,
      weekOneLargestOrder: null,
      weekOneStartDate: new Date().toISOString().substr(0, 10),
      weekTwoLargestOrder: null,
      weekTwoStartDate: new Date().toISOString().substr(0, 10),
      weekThreeLargestOrder: null,
      weekThreeStartDate: new Date().toISOString().substr(0, 10),
      weekFourLargestOrder: null,
      weekFourStartDate: new Date().toISOString().substr(0, 10),
       balanceQtyForCalculate: null,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Master Blanket Order Line"
        : "Edit Master Blanket Order Line";
    },
    weekOneFormated() {
      return this.editedItem.weekOneStartDate
        ? moment(this.editedItem.weekOneStartDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    weekTwoFormated() {
      return this.editedItem.weekTwoStartDate
        ? moment(this.editedItem.weekTwoStartDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    weekThreeFormated() {
      return this.editedItem.weekThreeStartDate
        ? moment(this.editedItem.weekThreeStartDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    weekFourFormated() {
      return this.editedItem.weekFourStartDate
        ? moment(this.editedItem.weekFourStartDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
     
      
      if (this.masterBlanketOrderId > 0) {
          this.loader = true;
        let id = this.masterBlanketOrderId;
        getMasterBlanketOrderLines(id)
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      this.loadDropDown();

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    loadDropDown() {
      if (this.masterBlanketOrderId > 0) {
          this.loader = true;
        let id = this.masterBlanketOrderId;
        getMasterBlanketOrderLines(id)
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }     
     
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
      if (item.weekOneStartDate != null) {
        this.editedItem.weekOneStartDate = moment(item.weekOneStartDate).format(
          "YYYY-MM-DD"
        );
      }
      if (item.weekTwoStartDate != null) {
        this.editedItem.weekTwoStartDate = moment(item.weekTwoStartDate).format(
          "YYYY-MM-DD"
        );
      }
       if (item.weekThreeStartDate != null) {
        this.editedItem.weekThreeStartDate = moment(item.weekThreeStartDate).format(
          "YYYY-MM-DD"
        );
      }
      if (item.weekFourStartDate != null) {
        this.editedItem.weekFourStartDate = moment(item.weekFourStartDate).format(
          "YYYY-MM-DD"
        );
      }
      console.log("Item" + JSON.stringify(item));     
     
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);     
      let id= this.selectedItem.masterBlanketOrderLineId;
      deleteMasterBlanketOrderLine(this.selectedItem)
        .then(response => {
          this.loader = false;
          if(response!=undefined)
          {
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    selectCompany() {},

    saveAndClose() {
      this.save();
      setTimeout(() => {
        this.close();
      }, 600);
    },
    toolfunction() {
      getMasterBlanketOrderLineData(this.searchItem)
        .then(response => {
          if (response.data != undefined) {
            if (response.data.masterBlanketOrderLineId != null) {
              this.editedItem = response.data;
             
              let index = this.gridItems
                .map(item => item.masterBlanketOrderLineId)
                .indexOf(response.data.masterBlanketOrderLineId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.masterBlanketOrderLineId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.masterBlanketOrderLineId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.masterBlanketOrderLineId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    onEditorFocus() {
      window.getApp.$emit("ON_FOCUS", false);
      //this.treedrawer = false;
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.masterBlanketOrderLineId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
     
      this.editedItem.valid = false;
      this.editedItem.weekOneStartDate = new Date().toISOString().substr(0, 10);
      this.editedItem.weekTwoStartDate = new Date().toISOString().substr(0, 10);
       this.editedItem.weekThreeStartDate = new Date().toISOString().substr(0, 10);
      this.editedItem.weekFourStartDate = new Date().toISOString().substr(0, 10);
      this.editedItem.noOfWeeksPerMonth = 1;
      this.editedItem.weekOneLargestOrder = null;
       this.editedItem.weekTwoLargestOrder = null;
        this.editedItem.weekThreeLargestOrder = null;
         this.editedItem.weekFourLargestOrder = null;
         this.editedItem.balanceQtyForCalculate = null;
      this.editedItem.masterBlanketOrderLineId = -1;

      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      let id = this.editedItem.masterBlanketOrderLineID;
      deleteMasterBlanketOrderLine(this.editedItem)
        .then(response => {
         
          if(response!=undefined)
          {
             this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
       
      }, 600);
    },
    save() {
        if(this.masterBlanketOrderId>0)
        {
            this.editedItem.masterBlanketOrderId = this.masterBlanketOrderId;
        }
      if (this.editedIndex > -1) {
          this.saveloader = true;
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        updateMasterBlanketOrderLine(this.editedItem)
          .then(response2 => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);            
          })
          .catch(error => {
            this.loader = false;
             this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
         this.saveloader = true;
        createMasterBlanketOrderLine(this.editedItem)
          .then(response2 => {
            this.gridItems.push(response2.data);
            this.loader = false;
             this.saveloader = false;
            let index = this.gridItems
              .map(item => item.masterBlanketOrderLineId)
              .indexOf(response2.data.masterBlanketOrderLineId);
            this.editedIndex = index;
            this.editedItem.masterBlanketOrderLineId =
              response2.data.masterBlanketOrderLineId;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          
          })
          .catch(error => {
            this.loader = false;
             this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
       
      }
    },

    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    }
  }
};
</script>
