<template>
  <div id="page-forms">
    <v-tabs color="transparent" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="#tab-1" color="white">
        Dist Monthly Stock Balance
        <v-icon>fa-sticky-note</v-icon>
      </v-tab>
      <v-tab key="#tab-2" color="white">
        Nav Monthly Stock Balance
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tabs-items>
        <v-tab-item key="#tab-1">
          <v-card flat>
            <distributor-monthly-stock-balance ref="refDistributorMonthlyStockBalance"></distributor-monthly-stock-balance>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-2">
          <v-card flat>
            <nav-monthly-stock-balance ref="refNavMonthlyStockBalance"></nav-monthly-stock-balance>
          </v-card>
        </v-tab-item>
        
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
 <script>
import DistributorMonthlyStockBalance from "@/pages/productionplanning/productionplanningv1/distMonthlyStockBalanceUpload";
import NavMonthlyStockBalance from "@/pages/productionplanning/productionplanningv1/navMonthlyStockBalanceUpload";

export default {
  components: {
    DistributorMonthlyStockBalance,
    NavMonthlyStockBalance,
  },

  data: () => ({
    
    
    valid: true,
    loader: false,

    formdata: {
      valid: false,
      folderID: -1,
      name: '',
      description: '',
      date: new Date().toISOString().substr(0, 10),
      loginUser: "Arun",
      isLogin: "yes-1",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      requiredfield: [v => !!v || "This is required field"]
    }
  }),
  mounted() {
  },
  created() {
    this.initialize();
  },
  methods: {
    
    initialize() {
      
    },
   
  }
};
</script>