<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>

      <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <v-dialog v-model="dialog" max-width="600px">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs12 sm12>
                    <v-text-field
                      :disabled="editedItem.saleCategoryId > 0"
                      v-model="editedItem.code"
                      prepend-icon="select_all"
                      label="Code"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field
                      :disabled="editedItem.saleCategoryId > 0"
                      v-model="editedItem.description"
                      prepend-icon="select_all"
                      label="Description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field
                      v-model="editedItem.noSeries"
                      prepend-icon="select_all"
                      label="No Series"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      :loading="subloader"
                      chips
                      cache-items
                      flat
                      placeholder="Select Location"
                      prepend-icon="assistant"
                      :items="locationItems"
                      v-model="editedItem.locationID"
                      label="Location"
                      color="blue"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              v-show="ValidFunction('Save', formId)"
              outline
              @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"
      :total-items="totalRows"
      :rows-per-page-items="rowsPerPageItems"
      :loading="loader"
      @update:pagination="onUpdatePagination"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr
          v-show="ValidFunction('Edit', formId)"
          @dblclick="editItem(props.item)"
        >
          <td class="text-xs-left">{{ props.item.code }}</td>
          <td class="text-xs-left">{{ props.item.description }}</td>
          <td class="text-xs-left">{{ props.item.noSeries }}</td>

          <td class="text-xs-left">{{ props.item.location }}</td>
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">
            {{ props.item.modifiedDate | formatDate }}
          </td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              v-show="ValidFunction('Edit', formId)"
              @click="editItem(props.item)"
              >edit</v-icon
            >
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import {
  getSearchData,
  getNavSaleCategory,
  updateNavSaleCategory,
} from "@/api/navSaleCategory";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import { isValidFunction } from "@/api/checkPermission";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
import moment from "moment";
import GlobalMessage from "@/constant";
//import UploadButton from "vuetify-upload-button";
export default {
  components: {
    //"upload-btn": UploadButton
  },
  data: () => ({
    formId: "MAS9038",
    dialog: false,
    totalRows: 0,
    loader: false,
    locationItems: [],
    search: "",
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    timeout: 2000,
    y: "top",
    filterFields: [
      "Code",
      "Description",
      "NoSeries",
      "AddedByUser.UserName",
      "StatusCode.CodeValue",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Code", value: "code", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "No Series", value: "noSeries", align: "left" },
      { text: "Location", value: "location", align: "left", sortable: false},
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      Code: "code",
      Description: "description",
      "No Series": "noSeries",
      Location: "location",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    editedIndex: -1,
    startingDatemenu: false,
    selectedItem: null,
    files: new FormData(),
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      saleCategoryId: -1,
      code: "",
      description: "",
      noSeries: "",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      valid: false,
      valid: false,
      saleCategoryId: -1,
      code: "",
      description: "",
      noSeries: "",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Sales Category"
        : "Edit Sales Category";
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    this.initialize();
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
  },
  methods: {
    initialize() {
      // this.loader = true;
      // getNavSaleCategory("")
      //   .then(response => {
      //     this.gridItems = response.data;
      //     this.loader = false;
      //   })
      //   .catch(error => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      getApplicationMasterDetailByType(177)
        .then((response) => {
          this.locationItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    saveAndClose() {
      this.save();
      this.close();
    },

    toolfunction() {
      getSearchData(this.searchItem)
        .then((response) => {
          if (response.data.saleCategoryId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.saleCategoryId)
              .indexOf(response.data.saleCategoryId);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.saleCategoryId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.saleCategoryId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.saleCategoryId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.saleCategoryId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      (this.editedItem.saleCategoryId = -1),
        (this.editedItem.addedByUserId = this.$store.state.auth.userId);
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "SaleCategoryId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetNavCategory";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "code") {
        search.sortCol = "Code";
      } else if (args.sortBy == "description") {
        search.sortCol = "Description";
      } else if (args.sortBy == "noSeries") {
        search.sortCol = "NoSeries";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetNavCategory";
      console.log("Pagination", args);
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        console.log("editedItem" + JSON.stringify(this.editedItem));
        updateNavSaleCategory(this.editedItem)
          .then((response) => {
            Object.assign(this.gridItems[index], response.data);
            this.loader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>