<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="PackingItemHistory.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" fullscreen>
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Packgaging Item History</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <!--  <div style="overflow:auto;height:calc(100vh - 120px)"> -->
          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-layout wrap>
                <v-flex xs12 sm6>
                  <v-autocomplete
                    :loading="loader"
                    chips
                    flat
                    label="Category"
                    prepend-icon="notes"
                    v-model="editedItem.categoryId"
                    :items="categoryItems"
                    item-text="code"
                    item-value="saleCategoryId"
                    @change="categorySelect"
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-autocomplete
                    :loading="loader"
                    chips
                    flat
                    label="Related Item No"
                    prepend-icon="notes"
                    v-model="editedItem.itemId"
                    :items="selectedRelatedNavItem"
                    item-text="relatedItemNo"
                    item-value="itemId"
                    @change="realtedItemNoSelect"
                  ></v-autocomplete>
                </v-flex>

                <v-flex xs12 sm4>
                  <v-autocomplete
                    label="Status"
                    prepend-icon="notes"
                    v-model="editedItem.statusCodeID"
                    :items="statusOptions"
                    item-text="text"
                    item-value="value"
                    chips
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-form>
            <PackagingItemHistoryLine ref="refPackagingItemHistoryLineform"></PackagingItemHistoryLine>
          </v-card-text>

          <!--   </div> -->
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="packagingItemHistoryId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.categoryName }}</td>
          <td class="text-xs-left">{{ props.item.itemName }}</td>

          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td
            class="text-xs-left"
          >{{ (props.item.modifiedByUser=="")?props.item.addedByUser:props.item.modifiedByUser }}</td>
          <td
            class="text-xs-left"
          >{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import {
    getNavItems,
    getRelatedItemNo,
    getNavItemBasedRelatedItemsNos
  } from "@/api/navItemlinks";

  import { getNavSaleCategory } from "@/api/navSaleCategory";
  import PackagingItemHistoryLine from "@/pages/productionplanning/productionplanningv1/packagingItemHistoryLine";
  import {
    createPackagingItemHistory,
    getData,
    getPackagingItemHistory,
    updatePackagingItemHistory,
    deletePackagingItemHistory
  } from "@/api/PackagingItemHistory";
  export default {
    components: {
      PackagingItemHistoryLine
    },
    data: () => ({
      dialog: false,
      search: "",
      loader: false,
      poDateDue: false,
      registrationFormatFlag: true,
      editedIndex: -1,
      searchTag: "",
      searchFilter: "",
      categoryItems: [],
      relatedItemNoItems: [],
      gridItems: [],
      selectedRelatedNavItem: [],

      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      editedItem: {
        categoryId: -1,
        itemId: -1,

        valid: false,
        packagingItemHistoryId: -1,
        date: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null
      },
      defaultItem: {
        categoryId: -1,
        itemId: -1,
        valid: false,
        packagingItemHistoryId: -1,
        typeOfPoId: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null
      },
      headers: [
        { text: "Category Name", value: "categoryName", align: "left" },
        { text: "Item Name", value: "itemName", align: "left" },

        { text: "Status", value: "statusCode", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],
      json_fields: {
        Category: "categoryName",
        Item: "itemName",
        Status: "statusCode",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate"
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),
    created() {
      this.initialize();
    },
    watch: {
      dialog(val) {
        val || this.close();
      }
    },
    computed: {
      formTitle() {
        return this.editedIndex === -1
          ? "Add Packaging Item History"
          : "Edit Packaging Item History";
      }
    },
    methods: {
      initialize() {
        this.loader = true;
        getPackagingItemHistory()
          .then(response => {
            this.gridItems = response.data;
            // this.Items = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

        this.loader = true;
        getNavSaleCategory("")
          .then(response => {
            this.categoryItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

        this.loader = true;
        getRelatedItemNo("")
          .then(response => {
            this.loader = false;
            this.relatedItemNoItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      realtedItemNoSelect(value) {
        if (this.$refs.refPackagingItemHistoryLineform != undefined) {
          console.log(
            "value ==" + value + " edititem value ==" + this.editedItem.itemId
          );
          // this.$refs.refPackagingItemHistoryLineform.itemId = this.editedItem.itemId;
          if (this.editedItem.itemId != null) {
            this.$refs.refPackagingItemHistoryLineform.loader = true;
            this.$refs.refPackagingItemHistoryLineform.navItems = [];
            this.$refs.refPackagingItemHistoryLineform.navItem = [];
            getNavItemBasedRelatedItemsNos(this.editedItem.itemId)
              .then(response => {
                this.$refs.refPackagingItemHistoryLineform.navItems =
                  response.data;
                this.$refs.refPackagingItemHistoryLineform.navItem =
                  response.data;
                this.$refs.refPackagingItemHistoryLineform.loader = false;
              })
              .catch(error => {
                this.$refs.refPackagingItemHistoryLineform.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },

      categorySelect(value) {
        this.loader = true;
        this.selectedRelatedNavItem = [];
        this.selectedRelatedNavItem = this.relatedItemNoItems.filter(
          n => n.categoryID == value
        );

        this.loader = false;
      },

      /*  loadDropdownList() {
         // this.loader = true;
         
        }, */
      getProductLinesTab() {
        //setTimeout(() => {
        this.$refs.refPackagingItemHistoryLineform.packagingItemHistoryId = this.editedItem.packagingItemHistoryId;

        this.$refs.refPackagingItemHistoryLineform.enableAddButton = false;
        this.$refs.refPackagingItemHistoryLineform.loadGridItemList();
        // }, 500);
      },
      save() {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updatePackagingItemHistory(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                // this.initialize();
                this.getProductLinesTab();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.packagingItemHistoryId =
              parseInt(Math.random() * 100) + 1024;
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createPackagingItemHistory(this.editedItem)
              .then(response2 => {
                this.gridItems.push(response2.data);
                this.loader = false;
                let index = this.gridItems
                  .map(item => item.packagingItemHistoryId)
                  .indexOf(response2.data.packagingItemHistoryId);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.editedItem.packagingItemHistoryId =
                  response2.data.packagingItemHistoryId;
                this.$refs.refPackagingItemHistoryLineform.packagingItemHistoryId = this.editedItem.packagingItemHistoryId;
                //alert(""+ this.$refs.refPackagingItemHistoryLineform.packagingItemHistoryId);
                this.$refs.refPackagingItemHistoryLineform.enableAddButton = false;
                this.$refs.refPackagingItemHistoryLineform.loadGridItemList();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      add() {
        // this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.packagingItemHistoryId = -1;
        this.editedItem.categoryId = -1;
        this.editedItem.itemId = -1;
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = null;
        this.editedItem.addedDate = null;
        this.editedItem.modifiedByUserID = null;
        this.editedItem.modifiedDate = null;
        this.$refs.refPackagingItemHistoryLineform.packagingItemHistoryId = -1;
        this.$refs.refPackagingItemHistoryLineform.enableAddButton = true;
        this.$refs.refPackagingItemHistoryLineform.packagingItemHistoryLineItems = [];
      },
      saveAndClose() {
        this.save();
        this.close();
      },
      addFormDialog() {
        this.add();
      },
      editItem(item) {
        // this.loadDropdownList();

        setTimeout(() => {
          this.editedIndex = this.gridItems.indexOf(item);
          this.editedItem = Object.assign({}, item);
          this.editedItem.valid = false;
          this.categorySelect(this.editedItem.categoryId);
          this.getProductLinesTab();
          this.dialog = true;
        }, 500);
      },
      close() {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      onDeleteItem(item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow() {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem() {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.packagingItemHistoryId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deletePackagingItemHistory(this.editedItem)
            .then(() => {
              this.loader = false;
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      first() {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.packagingItemHistoryId;
        this.toolfunction();
      },
      next() {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.packagingItemHistoryId;
        this.toolfunction();
      },
      previous() {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.packagingItemHistoryId;
        this.toolfunction();
      },
      last() {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.packagingItemHistoryId;
        this.toolfunction();
      },
      toolfunction() {
        getData(this.searchItem)
          .then(response => {
            if (response.data.packagingItemHistoryId != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.packagingItemHistoryId)
                .indexOf(response.data.packagingItemHistoryId);
              this.editedIndex = index;
              this.getProductLinesTab();
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
            }
          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  };
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 90px);
   }
</style>