<template>
  <div id="app">
    <ejs-treegrid
      :dataSource="gridItems"
      :treeColumnIndex='0'
      childMapping='children'
      :allowResizing='true'
      :editSettings='editSettings'
      :height='380'
    >
      <e-columns>
        <e-column
          field='methodCode'
          headerText='Method Code'
          textAlign='Right'
          width=90
          :allowEditing='false'
        ></e-column>
        <e-column
          field='customer'
          headerText='Dist.'
          textAlign='Right'
          width=100
          :allowEditing='false'
        ></e-column>

        <e-column
          field='description'
          headerText='Description'
          textAlign='Left'
          width=180
          :allowEditing='false'
        ></e-column>

        <e-column
          field='packSize'
          headerText='Pack Size'
          textAlign='Right'
          width=80
          :allowEditing='false'
        ></e-column>

        <e-column
          field='quantity'
          headerText='Quantity'
          textAlign='Right'
          width=90
          :allowEditing='false'
        ></e-column>
        <e-column
          field='unitQty'
          headerText='Unit Qty'
          textAlign='Right'
          width=80
          :allowEditing='false'
        ></e-column>
        <e-column
          field='threeMonthACQty'
          headerText='3XAC'
          textAlign='Right'
          :allowEditing='false'
          width=80
        ></e-column>
        <e-column
          field='prodRecipe'
          headerText='Prod Recipe'
          textAlign='Right'
          width=80
        ></e-column>
        <e-column
          field='batchSize'
          headerText='Batch Size'
          textAlign='Right'
          width=80
        ></e-column>
        <e-column
          field='noofTickets'
          headerText='No of Tickets'
          textAlign='Right'
          width=80
        ></e-column>
        <e-column
          field='noOfDays'
          headerText='No Days'
          textAlign='Right'
          width=80
          :allowEditing='false'
        ></e-column>
        <e-column
          field='distStockBalance'
          headerText='Dist. STK BAL'
          textAlign='Right'
          width=80
        ></e-column>

        <e-column
          field='navStockBalance'
          headerText='NAV STK BAL'
          textAlign='Right'
          width=80
        ></e-column>
        <e-column
          field='stockBalance'
          headerText='STK BAL'
          textAlign='Right'
          width=80
        ></e-column>
      </e-columns>
    </ejs-treegrid>
  </div>
</template>

<script>
import { getSimulationPivotView } from '@/api/nav';

import { Page, Edit, Toolbar, Resize } from "@syncfusion/ej2-vue-treegrid";
export default {
  data: () => ({
    itemHeader: null,
    gridItems: [],
    loading: false,
    gridItems: [],
    loading: false,
    dialog: false,
    editSettings: { allowEditing: true, mode: 'cell' },
    dialog: false,
    dateRange:
    {
      fromDate: new Date().toISOString().substr(0, 10),
      toDate: new Date().toISOString().substr(0, 10),
      itemNo: null
    },
  }),

  provide: {
    treegrid: [Page, Edit, Toolbar, Resize]
  },
  created () {
    this.onLoad();
  },
  methods: {
    onLoad () {

      this.loader = true;
      getSimulationPivotView(this.dateRange)
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    }
  }
}
</script>

<style>
@import "../../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
</style>