<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-select
        label="Company"
        v-model="searchParam.companyId"
        prepend-icon="apartment"
        name="companyselect"
        item-text="plantCode"
        item-value="plantID"
        :items="companyItems"
      ></v-select>
      <v-spacer></v-spacer>
      <upload-btn
        @file-update="fileChanged"
        title="Upload"
        name="uploadtask"
        uniqueId
        noTitleUpdate
        ref="distStockupload"
      >
        <template slot="icon-left">
          <v-icon left color="white">cloud_upload</v-icon>
        </template>
      </upload-btn>
      <v-btn icon @click="refreshNav()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <!-- <v-btn
          slot="activator"
          icon
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>-->
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <!-- <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="add"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Production Simulation</span>
            </v-tooltip>-->
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Delete',formId)" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      :disabled="editedItem.productionSimulationId>0"
                      v-model="editedItem.prodOrderNo"
                      prepend-icon="select_all"
                      label="Product Order No"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      :disabled="editedItem.productionSimulationId>0"
                      v-model="editedItem.itemNo"
                      prepend-icon="select_all"
                      label="Item No"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      :disabled="editedItem.productionSimulationId>0"
                      v-model="editedItem.itemName"
                      prepend-icon="select_all"
                      label="Item Name"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      :disabled="editedItem.productionSimulationId>0"
                      v-model="editedItem.description"
                      prepend-icon="select_all"
                      label="Description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      :disabled="editedItem.productionSimulationId>0"
                      v-model="editedItem.packSize"
                      prepend-icon="select_all"
                      label="Pack Size"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      :disabled="editedItem.productionSimulationId>0"
                      v-model="editedItem.uom"
                      prepend-icon="select_all"
                      label="Uom"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      :disabled="editedItem.productionSimulationId>0"
                      v-model="editedItem.perQtyUom"
                      prepend-icon="select_all"
                      label="Per Qty Uom"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.quantity"
                      prepend-icon="select_all"
                      label="Quantity"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.perQuantity"
                      prepend-icon="select_all"
                      label="Per Quantity"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-menu
                      v-model="startingDatemenu"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="startingDateFormatted"
                        label="Estimate Submission Date"
                        prepend-icon="event"
                        clearable
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.startingDate"
                        @change="startingDatemenu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <!-- <v-flex
                    xs12
                    sm4
                  >
                     <v-text-field
                          v-model="editedItem.startingDate"
                          prepend-icon="select_all"
                          label="Starting Date"
                        ></v-text-field>
                  </v-flex>-->
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
          <v-card-text></v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" v-show="ValidFunction('Save',formId)" outline @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog
            ref="deleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="deleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="productionSimulationId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-show="ValidFunction('Edit',formId)" @dblclick="editItem(props.item)">
          <td class="text-xs-left">
            <v-icon small color="green" v-if="props.item.isOutput == true">done</v-icon>
            <v-icon small color="red" v-if="props.item.isOutput == false">done</v-icon>
          </td>
          <td class="text-xs-left">{{ props.item.prodOrderNo }}</td>
          <td class="text-xs-left">{{ props.item.itemNo }}</td>
          <td class="text-xs-left">{{ props.item.itemName }}</td>
          <td class="text-xs-left">{{ props.item.description }}</td>
          <td class="text-xs-left">{{ props.item.packSize }}</td>

          <td class="text-xs-left">{{ props.item.plannedQuantity }}</td>
          <td class="text-xs-left">{{ props.item.quantity }}</td>
          <td class="text-xs-left">{{ props.item.uom }}</td>
          <td class="text-xs-left">{{ props.item.perQuantity }}</td>
          <td class="text-xs-left">{{ props.item.perQtyUom }}</td>
          <td class="text-xs-left">{{ props.item.batchNo }}</td>
          <td class="text-xs-left">{{ props.item.startingDate |formatDate }}</td>
          <!--  <td class="text-xs-left">{{ props.item.statusCode }}</td>
         <td class="text-xs-left">{{ (props.item.modifiedByUser==null)?props.item.addedByUser:props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ (props.item.modifiedDate==null)?props.item.addedDate:props.item.modifiedDate | formatDate}}</td>
          -->
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2"  v-show="ValidFunction('Edit',formId)" @click="editItem(props.item)">edit</v-icon>
            <v-icon small v-show="ValidFunction('Delete',formId)" @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import {
  getProductionSimulation,
  getNavRefresh,
  updateProductionSimulation,
  deleteProductionSimulation,
  createProductionSimulation,
  uploadDocuments
} from "@/api/ProductionSimulation";
 import { isValidFunction } from "@/api/checkPermission";
import moment from "moment";
import { getPlants } from "@/api/nav";
import GlobalMessage from "@/constant";
import UploadButton from "vuetify-upload-button";
export default {
  components: {
    "upload-btn": UploadButton
  },
  data: () => ({
     formId: "MAS9037",
    dialog: false,
    loader: false,
    search: "",
    productionFiles: new FormData(),
    uploadedFiles: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 }
    ],
    timeout: 2000,
    y: "top",
    headers: [
      { text: "Is Output", value: "isOutput", align: "left" },
      { text: "Prod Order No", value: "prodOrderNo", align: "left" },
      { text: "Item No", value: "itemNo", align: "left" },
      { text: "Item Name", value: "itemName", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "PackSize", value: "packSize", align: "left" },

      { text: "Planned Quantity", value: "plannedQuantity", align: "left" },
      { text: "Quantity", value: "quantity", align: "left" },
      { text: "Uom", value: "uom", align: "left" },
      { text: "Per Quantity", value: "perQuantity", align: "left" },
      { text: "Per Qty Uom", value: "perQtyUom", align: "left" },
      { text: "Batch No", value: "batchNo", align: "left" },
      { text: "Starting Date", value: "startingDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" }
    ],
    json_fields: {
      "Prod Order No": "prodOrderNo",
      "Item No": "itemNo",
      "Item Name": "itemName",
      Description: "description",
      PackSize: "packSize",
      Quantity: "quantity",
      Uom: "uom",
      "Per Quantity": "perQuantity",
      "Per Qty Uom": "perQtyUom",
      "Batch No": "batchNo",
      "Starting Date": "startingDate"
    },
    searchParam: {
      stkMonth: new Date().toISOString().substr(0, 10),
      itemNo: "",
      companyId: 1
    },
    gridItems: [],
    companyItems: [],
    editedIndex: -1,
    startingDatemenu: false,
    selectedItem: null,
    files: new FormData(),
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    editedItem: {
      valid: false,
      productionSimulationId: -1,
      prodOrderNo: "",
      itemId: null,
      itemNo: "",
      itemName: "",
      description: "",
      packSize: "",
      quantity: "",
      uom: "",
      perQuantity: "",
      perQtyUom: "",
      batchNo: "",
      startingDate: "",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      valid: false,
      productionSimulationId: -1,
      prodOrderNo: "",
      itemId: null,
      itemNo: "",
      itemName: "",
      description: "",
      packSize: "",
      quantity: "",
      uom: "",
      perQuantity: "",
      perQtyUom: "",
      batchNo: "",
      startingDate: "",
      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Production Simulation"
        : "Edit Production Simulation";
    },
    countryRules() {
      return [v => !!v || "Country Name is required"];
    },
    RegistrationRules() {
      return [v => !!v || "Registartion Status is required"];
    },
    startingDateFormatted() {
      if (
        this.editedItem.startingDate !=
        moment(this.editedItem.startingDate).format(GlobalMessage.DATEFORMAT)
      ) {
        return this.editedItem.startingDate
          ? moment(this.editedItem.startingDate).format(
              GlobalMessage.DATEFORMAT
            )
          : "";
      }
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    refreshNav() {
      this.loader = true;
      getNavRefresh(this.searchParam.companyId)
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    initialize() {
      this.loader = true;
      getProductionSimulation("")
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants()
        .then(response => {
          this.companyItems = response.data;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    fileChanged(file) {
      this.loader = true;
      this.uploadedFiles.push(file);
      this.showdownload = false;
      this.productionFiles.append("file", file, file.name);
      this.productionFiles.append("plantId", this.searchParam.companyId);
      this.productionFiles.append("userId", this.$store.state.auth.userId);
      this.$refs.distStockupload.clear();
      uploadDocuments(this.productionFiles)
        .then(response => {
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeFile(key) {
      this.productionFiles.delete("file");
      this.productionFiles.delete("plantId");
      this.productionFiles.delete("userId");
      this.uploadedFiles.splice(key, 1);

      this.uploadedFiles.forEach(file => {
        this.productionFiles.append("file", file, file.name);
      });
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      deleteProductionSimulation(this.editedItem)
        .then(response2 => {
          this.loader = false;

          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);

          this.close();
          //this.add();
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    saveAndClose() {
      this.save();
      this.close();
    },
    uploadFile() {},

    toolfunction() {},
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.productionSimulationId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.productionSimulationId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.productionSimulationId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.productionSimulationId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      (this.editedItem.productionSimulationId = -1),
        (this.editedItem.addedByUserId = this.$store.state.auth.userId);
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
      this.editedItem.variationTitle = "";
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateProductionSimulation(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();

          //this.editedItem.itemId = 1;

          createProductionSimulation(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.productionSimulationId =
                response.data.productionSimulationId;
              let index = this.gridItems
                .map(item => item.productionSimulationId)
                .indexOf(response.data.productionSimulationId);
              this.editedIndex = index;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },

    ValidFunction(permissionCode) {
        return isValidFunction(permissionCode, this.formId, this.$store);
      }

  }
};
</script>