<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Registration Format.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Registration Format</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn :disabled="editedItem.sessionId == null" slot="activator" flat icon color="primary" @click="fileAttachment">
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Type Of PO" prepend-icon="notes" v-model="editedItem.typeId" :items="typeOfPoItems" item-text="value" item-value="applicationMasterDetailId"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-menu ref="poDateDue" v-model="poDateDue" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <v-text-field slot="activator" :value="poDateFormated" label="Date Of PO" prepend-icon="event" clearable readonly @click:clear="clearableregistrationDateOfExpiry"></v-text-field>
                      <v-date-picker v-model="editedItem.dateOfPo" @change="poDateDue = false"></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="From Company" prepend-icon="notes" v-model="editedItem.fromCompanyId" :items="fromCompanyItems" item-text="description" item-value="plantID" @change="selectCompany"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat label="Vendor Name" prepend-icon="notes" v-model="editedItem.vendorNameId" :items="vendorNameItems" item-text="companyListingName" item-value="companyListingID"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.versionNo" label="Version No" prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.ponumber" label="PO Number" prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" item-text="text" item-value="value" chips></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
             <purchase-order-line ref="refProductLines"></purchase-order-line>
          </div>
        </v-card>
      </v-dialog>

      <!--     
      <v-dialog v-model="attachdialog" max-width="600px">
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Attachments</v-toolbar-title>
            <upload-btn
              @file-update="attachfileChanged"
              name="uploadtask"
              uniqueId
              icon
              ref="attachUpload"
              multiple
              noTitleUpdate
            >
              <template slot="icon-left">
                <v-icon left color="white">cloud_upload</v-icon>
              </template>
            </upload-btn>

            <v-spacer></v-spacer>

            <v-btn icon @click.native="closeattach">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </v-toolbar>
          <div style="overflow:auto;height:calc(70vh - 100px)">
            <v-card-text>
              <PurchaseOrderDocument ref="frmattach"></PurchaseOrderDocument>
            </v-card-text>
          </div>
        </v-card>
      </v-dialog> -->
      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment title="PurchaseOrder Document" :screenID="screenID" :sessionID="sessionId" controller="Documents" action="GetDocumentsBySessionID" uploadAction="UploadDocument" deleteAction="DeleteDocument" downloadAction="DownLoadDocument" ref="refattach" :closeMethod="closeattach"></attachment>
        <!--  <SalesOrderNovateDocument ref="frmattach"></SalesOrderNovateDocument> -->
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator"  @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>

      <delete-confirmation-dialog ref="deleteConfirmationDialog1" heading="Are You Sure You Want To Close?" message="Are You Sure You Want To Close? Files Not Updloaded" @onConfirm="fileconformationMessage"></delete-confirmation-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
     <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="gridloader"
      default-sort="purchaseOrderId:desc"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.typeOfPo }}</td>
          <td class="text-xs-left">{{ props.item.dateOfPo | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.fromCompany }}</td>
          <td class="text-xs-left">{{ props.item.vendorName }}</td>
          <td class="text-xs-left">{{ props.item.ponumber }}</td>
          <td class="text-xs-left">{{ props.item.versionNo }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" :disabled="props.item.sessionId == null" @click="fileAttachments(props.item)">attach_file</v-icon>
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>

      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData()">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  //import UploadButton from "vuetify-upload-button";
  import PurchaseOrderDocument from "@/pages/productionplanning/productionplanningv1/PurchaseOrderDocument";
  import attachment from "@/components/Attachment/attachments";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getRegistrationVariation } from "@/api/registrationVariation";
  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getPlants } from "@/api/plant";
  import { getCompanyListings } from "@/api/companyListing";
  import { getDescriptionExceptFPandPRItems } from "@/api/purchaseOrderLine";
  import PurchaseOrderLine from "@/pages/productionplanning/productionplanningv1/PurchaseOrderLine";
  import {
    createPurchaseOrder,
    getDataLinesData,
    getPurchaseOrder,
    updatePurchaseOrder,
    deletePurchaseOrder,
    uploadPurchaseOrderDocuments,
    getPurchaseOrderDocuments,
    deletePurchaseOrderDocuments,
    downloadPurchaseOrderDocuments,
  } from "@/api/purchaseOrder";
  export default {
    components: {
      // "upload-btn": UploadButton,
      PurchaseOrderDocument,
      PurchaseOrderLine,
      attachment,
    },
    data: () => ({
      loading: false,
      gridloader: false,
      screenID: "",
      purchaseOrderId: -1,
      totalRows: 0,
      uploadbtn: true,
      sessionId: null,
      attachuploadedFiles: [],
      attachuploadedfileNames: [],
      showdownload: false,
      attachshowdownload: false,
      uploadedFileNames: [],
      files: new FormData(),
      attachfiles: new FormData(),
      attachdialog: false,
      purchaseOrderId: -1,

      dialog: false,
      search: "",
      loader: false,
      poDateDue: false,
      registrationFormatFlag: true,
      editedIndex: -1,
      searchTag: "",
      searchFilter: "",
      typeOfPoItems: [],
      fromCompanyItems: [],
      vendorNameItems: [],
      gridItems: [],
      Items: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 },
      ],
      editedItem: {
        valid: false,
        purchaseOrderId: -1,
        sessionId: null,
        typeId: null,
        dateOfPo: null,
        fromCompanyId: null,
        vendorNameId: null,
        versionNo: "",
        ponumber: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null,
      },
      defaultItem: {
        valid: false,
        purchaseOrderId: -1,
        typeId: null,
        dateOfPo: "",
        fromCompanyId: null,
        vendorNameId: null,
        versionNo: "",
        ponumber: null,
        statusCodeID: 1,
        addedByUserID: null,
        addedDate: null,
        modifiedByUserID: null,
        modifiedDate: null,
        sessionId: null,
      },
      filterFields: [
        "FromCompany.Description",
        "VendorName.CompanyName",
        "Ponumber",
        "VersionNo",
      ],
      headers: [
        { text: "Type of PO", value: "typeOfPo", align: "left", sortable: false },
        { text: "Date of PO", value: "dateOfPo", align: "left",sortable: false },
        { text: "From Company", value: "fromCompany", align: "left" },
        { text: "Vendor Name", value: "vendorName", align: "left" },
        { text: "PO Number", value: "ponumber", align: "left" },
        { text: "Version No", value: "versionNo", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%",
        },
      ],
      json_fields: {
        "Type of PO": "typeOfPo",
        "Date of PO": "dateOfPo",
        "From Company": "fromCompany",
        "Vendor Name": "vendorName",
        "Version No": "versionNo",
        "PO Number": "ponumber",
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      searchpagination: {
        rowsPerPage: 10,
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      },
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Purchase Order"
          : "Edit Purchase Order";
      },
      poDateFormated () {
        return this.editedItem.dateOfPo
          ? moment(this.editedItem.dateOfPo).format(GlobalMessage.DATEFORMAT)
          : "";
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    mounted () {
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      search.pageSize = this.$store.state.auth.pageSize;
      //this.getDataFromApi(this.$store.state.auth.pageSize);
    },
    methods: {
      initialize () {
        /* this.loader = true;
        getPurchaseOrder()
          .then((response) => {
            this.gridItems = response.data;
            this.Items = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          }); */
      },
      clearableregistrationDateOfExpiry () {
        this.editedItem.dateOfPo = null;
      },

      closeattach () {
        let gridvalues = this.$refs.refattach.attachments.filter(
          (f) => f.uploaded == false
        );
        if (gridvalues.length > 0) {
          //window.getApp.$emit("APP_API_ERROR", error);
          this.$refs.deleteConfirmationDialog1.openDialog();
        } else {
          this.attachdialog = false;
        }
        this.$refs.refattach.expiryDate = null;
        this.$refs.refattach.fileProfileTypeId = 0;
        // this.$refs.refattach.attachments
      },

      fileconformationMessage () {
        this.$refs.deleteConfirmationDialog1.close();
        this.attachdialog = false;
      },

      fileAttachment () {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = this.purchaseOrderId;
        this.$refs.refattach.sessionID = this.sessionId;
        this.$refs.refattach.getfiles();
        this.attachdialog = true;
      },
      fileAttachments (item) {
        console.log("check item", item.sessionId);
        this.sessionId = item.sessionId;

        this.attachdialog = true;
        setTimeout(() => {
          this.$refs.refattach.attachments = [];
          this.$refs.refattach.documentID = item.documentID;
          this.$refs.refattach.getfiles();
        }, 500);
      },

      loadDropdownList () {
        //this.loader = true;
        getCompanyListings("")
          .then((response) => {
            this.vendorNameItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(238)
          .then((response) => {
            this.typeOfPoItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getPlants("")
          .then((response) => {
            this.fromCompanyItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getProductLinesTab () {
        setTimeout(() => {
          this.$refs.refProductLines.purchaseOrderId = this.editedItem.purchaseOrderId;
          this.$refs.refProductLines.enableAddButton = false;
          this.$refs.refProductLines.initialize();
        }, 500);
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = this.pagination.page;
        search.sortCol = "PurchaseOrderID";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetPurchaseOrders";
         search.pageCount = 1;
      this.pagination.page = 1;
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        /* if (args.sortBy == "dateOfPo") {
          search.sortCol = "DateOfPo";
        } else */ if (args.sortBy == "fromCompany") {
          search.sortCol = "FromCompany.Description";
        }
        else if (args.sortBy == "vendorName") {
          search.sortCol = "VendorName.CompanyName";

        } else if (args.sortBy == "ponumber") {
          search.sortCol = "Ponumber";
        } else if (args.sortBy == "versionNo") {
          search.sortCol = "VersionNo";
        } else {
          search.sortCol = args.sortBy;
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetPurchaseOrders";
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();

            updatePurchaseOrder(this.editedItem)
              .then((response) => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            createPurchaseOrder(this.editedItem)
              .then((response) => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.purchaseOrderId = response.data.purchaseOrderId;
                let index = this.gridItems
                  .map((item) => item.purchaseOrderId)
                  .indexOf(response.data.purchaseOrderId);
                this.editedIndex = index;

                //up
                this.editedItem.sessionId = response.data.sessionId;
                this.attachfiles = new FormData();
                this.sessionId = response.data.sessionId;
                this.purchaseOrderId = response.data.purchaseOrderId;
                this.subloader = false;
                this.uploadbtn = false;

                //up
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.initialize();
                this.getProductLinesTab();
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      add () {
        this.uploadbtn = true;
        this.uploadedFiles = [];
        this.uploadedFileNames = [];
        this.uploadedAttachment = new FormData();
        this.attachfiles = new FormData();
        this.sessionId = "";
        //this.$refs.attachUpload.clear();

        this.loadDropdownList();
        this.editedIndex = -1;
        this.editedItem.valid = false;
        this.editedItem.purchaseOrderId = -1;
        this.editedItem.typeId = null;
        this.editedItem.vendorNameId = null;
        this.editedItem.fromCompanyId = null;
        this.editedItem.dateOfPo = null;
        this.editedItem.versionNo = "";
        this.editedItem.ponumber = "";
        this.editedItem.statusCodeID = 1;
        this.editedItem.addedByUserID = null;
        this.editedItem.addedDate = null;
        this.editedItem.modifiedByUserID = null;
        this.editedItem.modifiedDate = null;
        /*  this.$refs.refProductLines.purchaseOrderId = -1;
         this.$refs.refProductLines.enableAddButton = true;
         this.$refs.refProductLines.gridItems = [];
         this.$refs.refProductLines.companyID = null; */
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      addFormDialog () {
        this.add();
      },

      //file upload

      // attachfileChanged(args) {
      //   console.log(args);
      //   if (args != undefined) {
      //     Array.from(args).forEach(file => {
      //       let fileSize = file.size / 1000000;
      //       if (fileSize <= 100) {
      //         // this.uploadedFileNames.push({ fileName: file.name });
      //         // this.uploadedAttachment.append("file", file, file.name);
      //         this.attachuploadedfileNames.push(file.name);
      //         this.attachuploadedFiles.push(file);
      //         this.attachfiles.append("file", file, file.name);
      //         this.attachshowdownload = false;
      //       } else {
      //         window.getApp.$emit(
      //           "APP_API_VAL",
      //           file.name + " - File size exceeded 100MB"
      //         );
      //       }
      //     });
      //     this.$refs.frmattach.subloaders = true;

      //     uploadPurchaseOrderDocuments(this.attachfiles, this.sessionId)
      //       .then(responses => {
      //         this.attachfiles = new FormData();
      //         this.$refs.frmattach.purchaseOrderId = this.purchaseOrderId;
      //         this.$refs.frmattach.getDocuments();

      //         this.$refs.frmattach.subloaders = false;
      //       })
      //       .catch(error => {
      //         this.$refs.frmattach.subloaders = false;
      //         window.getApp.$emit("APP_API_ERROR", error);
      //       });
      //   }
      // },
      // closeattach() {
      //   this.attachdialog = false;
      //   // this.attachfiles = new FormData();
      //   // this.$refs.frmattach.attachments = [];
      //   //this.$refs.frmattach.quotationHistoryLineId = -1;
      // },

      // fileAttachment() {
      //   this.$refs.frmattach.attachments = [];
      //   this.$refs.frmattach.purchaseOrderId = this.purchaseOrderId;
      //   this.$refs.attachUpload.clear();
      //   this.$refs.frmattach.getDocuments();
      //   this.attachdialog = true;
      // },
      // fileAttachments(item) {
      //   console.log("File attachement" + JSON.stringify(item));
      //   this.editedItem = Object.assign({}, item);
      //   this.$refs.frmattach.purchaseOrderId = this.editedItem.purchaseOrderId;
      //   this.purchaseOrderId = this.editedItem.purchaseOrderId;
      //   this.sessionId = this.editedItem.sessionId;
      //   this.$refs.frmattach.sessionId = item.sessionId;
      //   this.$refs.frmattach.getDocuments();
      //   this.attachdialog = true;
      // },

      //file upload

      selectCompany (value) {
        if (this.$refs.refProductLines != undefined) {
          this.$refs.refProductLines.companyID = this.editedItem.fromCompanyId;
          if (this.editedItem.fromCompanyId != null) {
            this.navloader = true;
            getDescriptionExceptFPandPRItems(this.editedItem.fromCompanyId)
              .then((response) => {
                this.$refs.refProductLines.navItemItems = response.data;
                this.navloader = false;
              })
              .catch((error) => {
                this.navloader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      },
      editItem (item) {
        this.loadDropdownList();

        setTimeout(() => {
          this.editedIndex = this.gridItems.indexOf(item);
          this.editedItem = Object.assign({}, item);
          this.editedItem.valid = false;

          //  this.$refs.frmattach.purchaseOrderId =item.purchaseOrderId;
          // this.$refs.frmattach.sessionId = this.editedItem.sessionId;
          this.attachfiles = new FormData();

          console.log("editeditem" + JSON.stringify(this.editedItem));
          if (this.editedItem.sessionId != null) {
            this.sessionId = this.editedItem.sessionId;
            this.purchaseOrderId = this.editedItem.purchaseOrderId;
            // this.$refs.frmattach.getDocuments();
            this.uploadbtn = false;
          }

          this.getProductLinesTab();
          this.dialog = true;
          this.$refs.refProductLines.companyID = this.editedItem.fromCompanyId;
          this.$refs.refProductLines.getNavItem();
        }, 500);
      },
      close () {
        this.dialog = false;
        this.initialize();
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.purchaseOrderId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);
          deletePurchaseOrder(this.editedItem)
            .then(response => {
              this.loader = false;
              if(response!=undefined)
              {
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.purchaseOrderId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.purchaseOrderId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.purchaseOrderId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.purchaseOrderId;
        this.toolfunction();
      },
      toolfunction () {
        getDataLinesData(this.searchItem)
          .then((response) => {
            if (response.data.purchaseOrderId != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map((item) => item.purchaseOrderId)
                .indexOf(response.data.purchaseOrderId);
              this.editedIndex = index;
              this.getProductLinesTab();
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
            }
          })
          .catch((error) => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
    },
  };
</script>

 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 120px);
   }
</style>