<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="PurchaseItemInformation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
        <v-btn
          class="pull-right"
          slot="activator"
          :disabled="enableAddButton"
          icon
          @click.native="add()"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Item Info</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.purchaseItemSalesEntryLineID<0"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <!-- <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>-->

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow:auto;height:calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex lg9 sm9>
                    <v-layout wrap class="backcolor">
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.quotationNo"
                          label="Quotation No"
                          :disabled="disablequotationNo"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4 v-if="enableschdAgreementNo">
                        <v-text-field
                          :disabled="schdAgreementDisabled"
                          v-model="editedItem.schdAgreementNo"
                          label="Schd Agreement No/PO No"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4 v-if="enabletenderAgencyNo">
                        <v-text-field
                          v-model="editedItem.tenderAgencyNo"
                          label="Tender Agency No/Tag Along No"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4 v-if="orderById==1402">
                        <v-autocomplete
                          :loading="loader"
                          chips
                          flat
                          label="Product No"
                          prepend-icon="notes"
                          v-model="editedItem.soByCustomersId"
                          :items="soCustomerItems"
                          item-text="customerReferenceNo"
                          item-value="socustomersItemCrossReferenceId"
                          @change="selectProduct"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4 v-if="orderById==1403">
                        <v-autocomplete
                          :loading="companyloader"
                          chips
                          flat
                          label="Product No"
                          prepend-icon="notes"
                          v-model="editedItem.itemId"
                          :items="productNoItems"
                          item-text="itemNoDetail"
                          item-value="itemId"
                          @change="selectNavision"
                        >
                          <template slot="selection" slot-scope="data">
                            <v-chip :selected="data.selected">{{ data.item.no }}</v-chip>
                          </template>
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="description"
                          label="Description"
                          prepend-icon="select_all"
                          readonly
                        ></v-text-field>
                      </v-flex>

                      <!-- <v-flex xs12 sm4>
                    <v-text-field
                      v-model="itemCategory"
                      label="Manufacturing By"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                      </v-flex>-->
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.orderQty"
                          label="Order Qty"
                          mask="#################"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="packingUOM"
                          label="Packing/UOM"
                          prepend-icon="select_all"
                          readonly
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field v-model="uom" label="UOM" prepend-icon="select_all" readonly></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <v-autocomplete
                          :loading="loader"
                          chips
                          flat
                          label="Order Currency"
                          prepend-icon="notes"
                          v-model="editedItem.orderCurrencyID"
                          :items="orderCurrencyItems"
                          item-text="value"
                          item-value="applicationMasterDetailId"
                        ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <v-currency-field
                          prepend-icon="attach_money"
                          :auto-decimal-mode="false"
                          :decimal-length="2"
                          :value-as-integer="false"
                          :allow-negative="false"
                          flat
                          v-model="editedItem.sellingPrice"
                          label="Selling Price"
                          v-on:keyup="sellingPriceInput"
                        ></v-currency-field>
                        <!-- <v-text-field
                      v-model="editedItem.sellingPrice"
                      label="Selling Price"
                      mask="############"  
                     
                      prepend-icon="select_all"
                        ></v-text-field>-->
                      </v-flex>

                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.foc"
                          label="FOC"
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          :loading="loader"
                          chips
                          flat
                          label="UOM"
                          prepend-icon="notes"
                          v-model="editedItem.uomID"
                          :items="quationUnits"
                          item-text="value"
                          item-value="applicationMasterDetailId"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4 v-if="enablePurchaselotDeliveries">
                        <v-checkbox
                          color="primary"
                          v-model="editedItem.isLotDeliveries"
                          label="Purchase With Lot Deliveries?"
                          @change="selectLotDeliveries"
                        ></v-checkbox>
                      </v-flex>
                      <v-flex xs12 sm4 v-if="enableDeliveryDate">
                        <v-menu
                          v-model="deliveryMenu"
                          :close-on-content-click="false"
                          full-width
                          min-width="290"
                        >
                          <v-text-field
                            slot="activator"
                            :value="deliveryDateFormated"
                            label="Delivery Date Of Order"
                            prepend-icon="today"
                            readonly
                          ></v-text-field>
                          <v-date-picker
                            v-model="editedItem.deliveryDateOfOrder"
                            @change="deliveryMenu = false"
                          ></v-date-picker>
                        </v-menu>
                      </v-flex>
                      <v-flex xs12 sm8 v-if="enableshipToAddress">
                        <v-autocomplete
                          :loading="loader"
                          chips
                          flat
                          label="Ship To Address"
                          prepend-icon="notes"
                          v-model="editedItem.shipToAddressID"
                          :items="addressItems"
                          item-text="dropDownDisplay"
                          item-value="sobyCustomersAddressId"
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          label="Status"
                          prepend-icon="notes"
                          v-model="editedItem.statusCodeID"
                          :items="statusOptions"
                          item-text="codeValue"
                          item-value="codeID"
                          chips
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs3>
                    <v-card width="330px" height="500px" class="rounded-card">
                      <v-layout wrap>
                        <v-flex xs12 sm12>
                          <span class="headline">Reference</span>
                        </v-flex>
                        <v-list class="referencetext" v-for="(menuitem,index) in referenceItems" :key="index">
                         
                                <label>Order By : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <b>{{ menuitem.orderBy }}</b>
                             

                              <br />
                            
                                <label>Customer Name : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <b>{{ menuitem.customerName }}</b>
                            

                              <br />
                           
                                <label>Product No| Description : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <b>{{menuitem.productNo}} | {{menuitem.description}}</b>
                             

                              <br />
                          
                                <label>Tender Agency Status : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                <b>{{menuitem.status}}</b>
                              

                              <br />
                           
                            <hr />
                          
                        </v-list>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
            <v-card-text v-if="enableDistributionInfo">
              <span class="headline">Detail Contract Distribution Information</span>
              <contact-distribution-info ref="refcontactDistributioninfo"></contact-distribution-info>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline :loading="saveloader" @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="purchaseItemSalesEntryLineID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.quotationNo }}</td>

          <td class="text-xs-left">{{ props.item.productNO }}</td>
          <td class="text-xs-left">{{ props.item.orderQty }}</td>
          <td class="text-xs-left">{{ props.item.orderCurrency }}</td>
          <!-- <td class="text-xs-left">{{ props.item.sellingPrice }}</td> -->

          <td class="text-xs-left">{{ props.item.uom }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{props.item.addedByUser}}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getPlants } from "@/api/plant";
import { getCompanyListings } from "@/api/companyListing";
import { getDescriptionExceptFPandPRItems } from "@/api/purchaseOrderLine";
import {
  getPurchaseItemSalesEntryLineItems,
  getPurchaseItemSalesEntryLineData,
  createPurchaseItemSalesEntryLine,
  updatePurchaseItemSalesEntryLine,
  deletePurchaseItemSalesEntryLine,
  getNavItemsForSalesEntry,
  getSobyCustomersAddressForSalesLine,
  getSocustomersItemCrossReferenceAll,
  getPurchaseItemsByProductNo
} from "@/api/purchaseItemSalesEntryLine";
import { 
  getSalesOrderEntryItemById
} from "@/api/salesOrderEntry";
//import UploadButton from "vuetify-upload-button";
import moment from "moment";

import GlobalMessage from "@/constant";

import ContactDistributionInfo from "@/pages/productionplanning/productionplanningv1/ContractDistributionInfoSalesEntryLine";
export default {
  components: {
  //  "upload-btn": UploadButton,
    ContactDistributionInfo
  },
  data: () => ({
    startDateMenu: false,
    endDateMenu: false,
    saveloader: false,
    companyloader: false,
    customerField: true,
    tenderAgencyField: false,
    isEachDistribution: true,
    isMultipleQuatationNo: true,
    enableListReference: false,
    enabletenderAgencyNo: false,
    enableschdAgreementNo: false,
    enablePurchaselotDeliveries: true,
    enableDeliveryDate: false,
    enableshipToAddress: false,
    enableDistributionInfo: true,
    enableProjectedDelivery: false,
    enableProjectedStatus: false,
    isCheckpurchaseLotDeliveries: false,
    typeOfOrderID: null,
    Productloader: false,
    loader: false,
    sameAsHeader: false,
    uploadbtn: true,
    isLotDeliveries: false,
    orderById: 1403,
    orderBy: "",
    customerName: "",
    status: "",
    productNo: "",
    orderNo: "",
    schdAgreementDisabled: false,
    dialog: false,
    companyID: null,
    deliveryMenu: false,
    isAllowExtension: false,
    extensionMonth: "",
    extensionQuantity: "",
    search: "",
    enableAddButton: true,
    editedIndex: -1,
    searchFilter: "",
    description: "",
    itemCategory: "",
    disablequotationNo: false,
    uom: "",
    packingUOM: "",
    typeofOrderItems: [],
    referenceItems: [],
    productNoItems: [],
    soCustomerItems: [],
    orderCurrencyItems: [],
    quationUnits: [],
   
    addressItems: [],
    gridItems: [],
    salesOrderEntryID: null,
    statusOptions: [],
  
    extantionPercentageItems: [],
    getReference: {
      itemId: null,
      soCustomerId: null
    },
    editedItem: {
      purchaseItemSalesEntryLineID: -1,
      quotationNo: "",
      salesOrderEntryID: null,
      soByCustomersId: null,
      itemId: null,
      orderQty: null,
      orderCurrencyID: null,
      sellingPrice: 0,
      foc: "",
      schdAgreementNo: "",
      tenderAgencyNo: "",
      shipToAddressID: null,
      uomID: null,
      isLotDeliveries: false,
      isAllowExtension: false,
      extensionMonth: 6,
      extensionQuantity: 25,
      deliveryDateOfOrder: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      purchaseItemSalesEntryLineID: -1,
      quotationNo: "",
      salesOrderEntryID: null,
      soByCustomersId: null,
      itemId: null,
      orderQty: null,
      orderCurrencyID: null,
      sellingPrice: 0,
      foc: "",
      schdAgreementNo: "",
      tenderAgencyNo: "",
      shipToAddressID: null,
      uomID: null,
      isLotDeliveries: false,
      isAllowExtension: false,
      extensionMonth: 6,
      extensionQuantity: 25,
      deliveryDateOfOrder: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    headers: [
      { text: "Quotation No", value: "quotationNo", align: "left" },
      {
        text: "Product No",
        value: "productNO",
        align: "left"
      },
      { text: "Order Qty", value: "orderQty", align: "left" },
      { text: "Order Currency", value: "orderCurrency", align: "left" },
      // { text: "Selling Price", value: "sellingPrice", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%"
      }
    ],
    json_fields: {
      Profile: "quotationNo",
      "Product No": "productNO",
      "Order Qty": "orderQty",
      "Order Currency": "orderCurrency",
      "Selling Price": "sellingPrice",
      UOM: "uom",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate"
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Item Information"
        : "Edit Item Information";
    },
    deliveryDateFormated() {
      return this.editedItem.deliveryDateOfOrder
        ? moment(this.editedItem.deliveryDateOfOrder).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    }
  },
  methods: {
    initialize() {
      if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
         getSalesOrderEntryItemById(id)
          .then(response => {
            
            this.companyID = response.data.companyID;            
       
        this.isAllowExtension = response.data.isAllowExtension;       
        this.orderNo = response.data.orderNo;
        this.orderById = response.data.orderByID;
        this.typeOfOrderID = response.data.typeOfOrderID;
         if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.isEachDistribution = response.data.isEachDistribution;
       
      }   
             })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getPurchaseItemSalesEntryLineItems(id)
          .then(response => {
            this.loader = false;
            this.gridItems = response.data;
            if (
              this.isMultipleQuatationNo == false &&
              this.gridItems.length > 0
            ) {
              let quotation = this.gridItems[0].quotationNo;

              this.editedItem.quotationNo = quotation;
              this.disablequotationNo = true;
            } else if (this.isMultipleQuatationNo == true) {
              this.disablequotationNo = false;
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      if (this.editedItem.isLotDeliveries == false) {
        this.enableshipToAddress = true;
        this.enableDeliveryDate = true;
      }
      if (this.editedItem.isLotDeliveries == true) {
        this.enableshipToAddress = false;
        this.enableDeliveryDate = false;
      }
      if (this.companyID > 0) {
        this.companyloader = true;
        getNavItemsForSalesEntry(this.companyID)
          .then(response => {
            this.productNoItems = response.data;
            this.companyloader = false;
          })
          .catch(error => {
            this.companyloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      getApplicationMasterDetailByType(229)
        .then(response => {
          this.orderCurrencyItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationMasterDetailByType(234)
        .then(response => {
          this.quationUnits = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Sales Order Status")
        .then(response => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loadDropdownList();
    },

    loadDropdownList() {
      //this.editedItem.isLotDeliveries = this.isLotDeliveries;     
      if (this.salesOrderEntryID > 0) {
        this.loader = true;
        let id = this.salesOrderEntryID;
         getSalesOrderEntryItemById(id)
          .then(response => {
            //this.companyID = response.data.companyID;            
        
        this.isAllowExtension = response.data.isAllowExtension;       
        this.orderNo = response.data.orderNo;
        this.orderById = response.data.orderByID;
        this.typeOfOrderID = response.data.typeOfOrderID;
         if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.isEachDistribution = response.data.isEachDistribution;
       
         }   
             })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getPurchaseItemSalesEntryLineItems(id)
          .then(response => {
            this.loader = false;
            this.gridItems = response.data;
            if (
              this.isMultipleQuatationNo == false &&
              this.gridItems.length > 0
            ) {
              let quotation = this.gridItems[0].quotationNo;

              this.editedItem.quotationNo = quotation;
              this.disablequotationNo = true;
            } else if (this.isMultipleQuatationNo == true) {
              this.disablequotationNo = false;
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }

      // let id = this.editedItem.soByCustomersId;
      getSobyCustomersAddressForSalesLine("")
        .then(response => {
          console.log("address item" + JSON.stringify(response.data));
          this.addressItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getSocustomersItemCrossReferenceAll("")
        .then(response => {
          this.soCustomerItems = response.data.filter(
            r => r.customerReferenceNo != null
          );
          this.Productloader = false;
        })
        .catch(error => {
          this.Productloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
          setTimeout(() => {
        if (this.companyID > 0) {
          this.companyloader = true;
        getNavItemsForSalesEntry(this.companyID)
          .then(response => {
            this.productNoItems = response.data;
            this.companyloader = false;
          })
          .catch(error => {
            this.Productloader = false;
            this.companyloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
       }, 300);
       
    },
   
    add() {
      //  this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);

      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.editedItem.purchaseItemSalesEntryLineID = -1;
      this.editedItem.quotationNo = "";
      this.editedItem.orderQty = "";
      this.editedItem.orderCurrencyID = null;
      this.editedItem.sellingPrice = 0;
      this.editedItem.foc = "";
      this.editedItem.uomID = null;
      this.editedItem.isLotDeliveries = false;
      this.editedItem.isAllowExtension = false;
      this.sameAsHeader = false;
      this.editedItem.extensionMonth = "";
      this.editedItem.extensionQuantity = "";
      this.description = "";
      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";
       this.selectLotDeliveries();
      if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.enablelineAddButton = true;
        this.$refs.refcontactDistributioninfo.gridItems = [];
      }     
      if (this.gridItems.length == 0) {
        this.disablequotationNo = false;
      }     
       if (
        this.typeOfOrderID == 1404 ||
        this.typeOfOrderID == 1405 
      
      ) {
      
      this.disablequotationNo = false;
      }
      if (
        this.typeOfOrderID == 1404 ||
        this.typeOfOrderID == 1405 ||       
        this.typeOfOrderID == 1408
      ) {
        this.enablePurchaselotDeliveries = false;
        if (this.typeOfOrderID != 1405) {
          this.schdAgreementDisabled = false;
        }
      }
      if (
        this.typeOfOrderID == 1405 ||
        this.typeOfOrderID == 1407 ||
        this.typeOfOrderID == 1409
      ) {
        this.editedItem.schdAgreementNo = this.orderNo;
        this.schdAgreementDisabled = true;
      }
       if (this.isMultipleQuatationNo == false && this.gridItems.length > 0) {
        let quotation = this.gridItems[0].quotationNo;

        this.editedItem.quotationNo = quotation;
        this.disablequotationNo = true;
      }
     if (
        (this.typeOfOrderID == 1406 ||        
        this.typeOfOrderID == 1409) && (this.orderById==1402)
      ) {
        this.enablePurchaselotDeliveries = true;
        if(this.typeOfOrderID == 1406 )
        {
          this.enablePurchaselotDeliveries = false;
        }
        if(this.editedItem.isLotDeliveries == true)
        {
        this.enableDeliveryDate = false;
        this.enableshipToAddress = false;
        }
        else
        {
           this.enableDeliveryDate = true;
        this.enableshipToAddress = true;
        }
      }
       if(this.typeOfOrderID == 1406 && this.orderById == 1403)
      {
        this.enablePurchaselotDeliveries = true;
         this.enableDeliveryDate = false;
        this.enableshipToAddress = false;
      }
       if((this.typeOfOrderID == 1406 || this.typeOfOrderID == 1408) && (this.orderById == 1402))
      {
        this.enablePurchaselotDeliveries = false;
         this.enableDeliveryDate = true;
        this.enableshipToAddress = true;
      }
    },

    selectProduct(value) {
      if (this.orderById == 1402) {
        if (this.editedItem.soByCustomersId > 0) {
          let product = this.soCustomerItems.filter(
            n =>
              n.socustomersItemCrossReferenceId ==
              this.editedItem.soByCustomersId
          );
          if (product.length > 0) {
            this.description = product[0].description;
            this.productNo = product[0].customerReferenceNo;
            this.packingUOM = product[0].customerPackingUomName;
            this.uom = product[0].perUomName;
            if (this.$refs.refcontactDistributioninfo != undefined) {
              this.$refs.refcontactDistributioninfo.uom = this.uom;

              this.$refs.refcontactDistributioninfo.description = this.description;
              this.$refs.refcontactDistributioninfo.productNo = this.productNo;
              this.$refs.refcontactDistributioninfo.itemCategory = this.itemCategory;
              this.$refs.refcontactDistributioninfo.orderNo = this.orderNo;
            }
          }

          this.getReference.itemId = this.editedItem.itemId;
          this.getReference.soCustomerId = this.editedItem.soByCustomersId;
          if (
            this.getReference.itemId != null ||
            this.getReference.soCustomerId != null
          ) {
            getPurchaseItemsByProductNo(this.getReference)
              .then(response2 => {
                if (response2 != undefined) {
                  this.referenceItems = response2.data;
                  if(this.referenceItems.length>0)
                  {
                    this.enableListReference = true;
                  }
                }
              })
              .catch(error => {
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        }
      }
    },
    selectNavision(value) {
      if (this.orderById == 1403) {
        if (this.editedItem.itemId > 0) {
          let product = this.productNoItems.filter(
            n => n.itemId == this.editedItem.itemId
          );
          if (product.length > 0) {
            console.log('product'+JSON.stringify(product));
            this.description = product[0].description;
            this.productNo = product[0].no;
            this.packingUOM = product[0].packUom;
            this.uom = product[0].baseUnitofMeasure;
            if (this.$refs.refcontactDistributioninfo != undefined) {
              this.$refs.refcontactDistributioninfo.uom = this.uom;

              this.$refs.refcontactDistributioninfo.description = this.description;
              this.$refs.refcontactDistributioninfo.productNo = this.productNo;
              this.$refs.refcontactDistributioninfo.itemCategory = this.itemCategory;
              this.$refs.refcontactDistributioninfo.orderNo = this.orderNo;
            }
          }
          let id = this.editedItem.itemId;

          this.getProductReference();
        }
      }
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    getProductReference() {
      let id;
      this.referenceItems = [];
      if (
        this.editedItem.soByCustomersId != null &&
        this.editedItem.soByCustomersId > 0
      ) {
        id = this.editedItem.soByCustomersId;
      }
      if (this.editedItem.itemId != null && this.editedItem.itemId > 0) {
        id = this.editedItem.itemId;
      }

      this.getReference.itemId = this.editedItem.itemId;
      this.getReference.soCustomerId = this.editedItem.soByCustomersId;
      if (
        this.getReference.itemId != null ||
        this.getReference.soCustomerId != null
      ) {
        getPurchaseItemsByProductNo(this.getReference)
          .then(response2 => {
            if (response2 != undefined) {
              this.referenceItems = response2.data;
              if(this.referenceItems.length>0)
                  {
                    this.enableListReference = true;
                  }
            }
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    editItem(item) {
      this.description = "";
      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";
      this.referenceItems = [];
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log("purchase line items" + JSON.stringify(item));
      
      this.editedItem.uomID = item.uomid;
      if (item.deliveryDateOfOrder != null) {
        this.editedItem.deliveryDateOfOrder = moment(
          item.deliveryDateOfOrder
        ).format("YYYY-MM-DD");
      }
      if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.companyID = this.editedItem.companyID;
        this.$refs.refcontactDistributioninfo.purchaseItemSalesEntryLineID = this.editedItem.purchaseItemSalesEntryLineID;
        this.$refs.refcontactDistributioninfo.enablelineAddButton = false;
        this.$refs.refcontactDistributioninfo.enableProjectedDelivery = this.enableProjectedDelivery;
        this.$refs.refcontactDistributioninfo.enableProjectedStatus = this.enableProjectedStatus;

        this.$refs.refcontactDistributioninfo.sellingPrice = this.editedItem.sellingPrice;
        this.$refs.refcontactDistributioninfo.orderQty = this.editedItem.orderQty;
        this.$refs.refcontactDistributioninfo.loadDropdownList();
        //this.$refs.refcontactDistributioninfo.isEachDistribution = this.isEachDistribution;
      }
      this.selectProduct(this.editedItem.soByCustomersId);
      this.selectNavision(this.editedItem.itemId);
      this.selectLotDeliveries();
      this.getProductReference();
      if (
        this.typeOfOrderID == 1407 ||
        this.typeOfOrderID == 1405 ||
        this.typeOfOrderID == 1409
      ) {
        this.editedItem.schdAgreementNo = this.orderNo;
        this.schdAgreementDisabled = true;
      }
      
     
      if (this.gridItems.length == 0) {
        this.disablequotationNo = false;
      }
      if (this.editedItem.isLotDeliveries == false) {
        this.enableshipToAddress = true;
        this.enableDeliveryDate = true;
      }
       if (
        this.typeOfOrderID == 1404 ||
        this.typeOfOrderID == 1405 
      
      ) {
      
      this.disablequotationNo = false;
      }
      if (
        this.typeOfOrderID == 1404 ||
        this.typeOfOrderID == 1405 ||           
        this.typeOfOrderID == 1408
      ) {
        this.enablePurchaselotDeliveries = false;
        if (this.typeOfOrderID != 1405) {
          this.schdAgreementDisabled = false;
        }
      }

      if (
        this.typeOfOrderID == 1405 ||
        this.typeOfOrderID == 1407 ||
        this.typeOfOrderID == 1409
      ) {
        this.editedItem.schdAgreementNo = this.orderNo;
        this.schdAgreementDisabled = true;
      }
     
       if (this.isMultipleQuatationNo == false && this.gridItems.length > 0) {
        let quotation = this.gridItems[0].quotationNo;

        this.editedItem.quotationNo = quotation;
        this.disablequotationNo = true;
      }

       if (
        (this.typeOfOrderID == 1406 ||        
        this.typeOfOrderID == 1409) && (this.orderById==1402)
      ) {
        this.enablePurchaselotDeliveries = true;
        if(this.typeOfOrderID == 1406 )
        {
          this.enablePurchaselotDeliveries = false;
        }
        if(this.editedItem.isLotDeliveries == true)
        {
        this.enableDeliveryDate = false;
        this.enableshipToAddress = false;
        }
        else
        {
           this.enableDeliveryDate = true;
        this.enableshipToAddress = true;
        }
      }
      if(this.typeOfOrderID == 1406 && this.orderById == 1403)
      {
        this.enablePurchaselotDeliveries = true;
         this.enableDeliveryDate = false;
        this.enableshipToAddress = false;
      }
       if((this.typeOfOrderID == 1406 || this.typeOfOrderID == 1408) && (this.orderById == 1402))
      {
        this.enablePurchaselotDeliveries = false;
         this.enableDeliveryDate = true;
        this.enableshipToAddress = true;
      }
      let firstItemId = this.gridItems[0].purchaseItemSalesEntryLineID;
      if (firstItemId == item.purchaseItemSalesEntryLineID) {
        this.disablequotationNo = false;
      }
      if (firstItemId != item.purchaseItemSalesEntryLineID) {
        if (this.isMultipleQuatationNo == false && this.gridItems.length > 0) {
          this.disablequotationNo = true;
        }
      }
       setTimeout(() => {
      this.dialog = true;
       }, 300);
    },
    toolfunction() {
      getPurchaseItemSalesEntryLineData(this.searchItem)
        .then(response => {
          if (response.data != undefined) {
            this.editedItem = response.data;
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },

    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.purchaseItemSalesEntryLineID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    selectLotDeliveries() {
      if (
        (this.typeOfOrderID == 1407 || this.typeOfOrderID == 1409) &&
        this.editedItem.isLotDeliveries == true
      ) {
        this.enableDeliveryDate = false;
        this.enableshipToAddress = false;
       
          this.enableDistributionInfo = true;
          this.enableProjectedDelivery = true;
        
      }
      if (
        (this.typeOfOrderID == 1407 || this.typeOfOrderID == 1409) &&
        this.editedItem.isLotDeliveries == false
      ) {
        this.enableshipToAddress = true;
        this.enableDeliveryDate = true;
        this.enableDistributionInfo = false;
        this.enableProjectedDelivery = false;
      }
    },
    addFormDialog() {
      this.add();
    },

    close() {
      this.dialog = false;
      if (this.$refs.refcontactDistributioninfo != undefined) {
        this.$refs.refcontactDistributioninfo.gridItems = [];
      }
      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";
      this.description = "";
      this.editedItem = Object.assign({}, this.defaultItem);
      this.referenceItems = [];
      // this.initialize();
      //   setTimeout(() => {
      //     this.editedItem = Object.assign({}, this.defaultItem);
      //     this.editedIndex = -1;
      //   }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    sellingPriceInput: function(event) {
      this.editedItem.sellingPrice = this.editedItem.sellingPrice.replace(
        /[^0-9.]/g,
        ""
      );
    },
    checkAsHeader() {
      if (this.sameAsHeader == true) {
        this.editedItem.isAllowExtension = this.isAllowExtension;
        this.editedItem.extensionMonth = this.extensionMonth;
        this.editedItem.extensionQuantity = this.extensionQuantity;
      }
    },
    save() {
      this.editedItem.salesOrderEntryID = this.salesOrderEntryID;
      //this.editedItem.isLotDeliveries = this.isLotDeliveries;
      console.log("editedItem" + JSON.stringify(this.editedItem));
      if (this.editedIndex > -1) {
        this.loader = true;
        this.saveloader = true;
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

        updatePurchaseItemSalesEntryLine(this.editedItem)
          .then(response2 => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.editedItem.sessionID = "";
            this.uploadedFiles = [];
            //this.add();
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.loader = true;
        this.saveloader = true;
        createPurchaseItemSalesEntryLine(this.editedItem)
          .then(response2 => {
            this.gridItems.push(response2.data);
            this.loader = false;
            this.saveloader = false;
            let index = this.gridItems
              .map(item => item.purchaseItemSalesEntryLineID)
              .indexOf(response2.data.purchaseItemSalesEntryLineID);
            this.editedItem.purchaseItemSalesEntryLineID =
              response2.data.purchaseItemSalesEntryLineID;
            this.editedIndex = index;
            this.editedItem.sessionID = "";
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            if (this.$refs.refcontactDistributioninfo != undefined) {
              this.$refs.refcontactDistributioninfo.enablelineAddButton = false;
              this.$refs.refcontactDistributioninfo.purchaseItemSalesEntryLineID =
                response2.data.purchaseItemSalesEntryLineID;
            //this.$refs.refcontactDistributioninfo.isEachDistribution = this.isEachDistribution;
            }
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.purchaseItemSalesEntryLineID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deletePurchaseItemSalesEntryLine(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  }
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 90px);
 }

 .graybackground {
   background: gainsboro !important;
 }

 .backcolor {
   background-color: whitesmoke;
   border-radius: 16px !important;
 }

 .referencetext {
   text-align: left !important;
   font-size: '10px';
   background-color: transparent !important;
 }
</style>
