<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :nudge-right="40"
          :close-on-content-click="false"
          lazy
          v-model="searchmenu"
          transition="scale-transition"
          offset-y
          full-width
          min-width="140px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>

          <v-card>
            <v-layout row wrap>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Search and Filter</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <v-btn icon slot="activator">
                    <v-icon color="white" @click.native="searchmenuClose"
                      >close</v-icon
                    >
                  </v-btn>
                  <span>Close</span>
                </v-tooltip>
              </v-toolbar>
              <v-flex xs12 sm4>
                <v-menu
                  v-model="fromMonthMenu"
                  :close-on-content-click="false"
                  full-width
                  min-width="290"
                >
                  <v-text-field
                    slot="activator"
                    :value="fromMonthFormated"
                    label="Offer From"
                    prepend-icon="today"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="searchQuotation.fromMonth"
                    @change="fromMonthMenu = false"
                    type="month"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm4>
                <v-menu
                  v-model="toMonthMenu"
                  :close-on-content-click="false"
                  full-width
                  min-width="290"
                >
                  <v-text-field
                    slot="activator"
                    :value="toMonthFormated"
                    label="Offer To"
                    prepend-icon="today"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="searchQuotation.toMonth"
                    @change="toMonthMenu = false"
                    type="month"
                  ></v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Company"
                  prepend-icon="notes"
                  v-model="searchQuotation.companyId"
                  :items="companyItems"
                  item-text="description"
                  item-value="plantID"
                  clearable
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-text-field
                  v-model="searchQuotation.swreferenceNo"
                  label="SW Reference No"
                  prepend-icon="select_all"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Customer Name"
                  prepend-icon="notes"
                  v-model="searchQuotation.customerId"
                  :items="customerNameItems"
                  clearable
                  item-text="companyListingName"
                  item-value="companyListingID"
                  @change="onCompanyListingChange"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm6>
                <v-autocomplete
                  label="Product Name"
                  prepend-icon="notes"
                  v-model="searchQuotation.productId"
                  :items="productNameItems"
                  item-text="name"
                  item-value="genericCodeID"                 
                  chips
                  :loading="productloader"
                >
                  <template slot="selection" slot-scope="data">
                    <v-chip
                      :selected="data.selected"
                      class="chip--select-multi"
                    >
                      {{ data.item.code }}
                    </v-chip>
                  </template>
                </v-autocomplete>
              </v-flex>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="searchClick">Search</v-btn>
              <v-btn outline color="primary" @click="searchClear">Clear</v-btn>
              <v-btn outline color="primary" @click="searchmenuClose"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter combination of search queries.</span>
      </v-tooltip>
      <download-excel
        class="btn btn-default"
        :title="headerItems"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="QuotationHistoryReport.xls"
      >
        <v-btn icon @click="getExcel">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="selectSearch()">
        <v-icon icon>refresh</v-icon>
      </v-btn>
    </v-toolbar>
    <v-dialog v-model="dialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator">
              <v-icon color="white" @click.native="close">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>

          <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
        </v-toolbar>

        <v-card-title>
          <span class="headline">Quotation History</span>
        </v-card-title>
        <div style="overflow: auto; height: calc(80vh - 50px)">
          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-layout wrap>
                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.company"
                    label="Company"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.swreferenceNo"
                    label="SW Reference No"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.customerName"
                    label="Customer Name"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-menu
                    ref="poDateDue"
                    v-model="poDateDue"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      :value="poDateFormated"
                      label="Date"
                      prepend-icon="event"
                      clearable
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="editedItem.dateOfOffer"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.productName"
                    label="Product"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.customerRefNo"
                    label="Customer Reference No"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.qty"
                    label="Qty"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>

                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.uom"
                    label="UOM"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.offerCurrency"
                    label="Offer Currency"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field
                    v-model="editedItem.offerPrice"
                    label="Offer Price"
                    prepend-icon="select_all"
                    readonly
                  ></v-text-field>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="primary darken-1" outline @click.native="close"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="attachdialog" persistent max-width="900px">
      <attachment
        title="Quotation History Document"
        :screenID="screenID"
        :sessionID="sessionId"
        controller="Documents"
        action="GetDocumentsBySessionID"
        uploadAction="UploadDocument"
        deleteAction="DeleteDocument"
        downloadAction="DownLoadDocument"
        ref="refattach"
        :closeMethod="closeattach"
      ></attachment>
    </v-dialog>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      default-sort="productionBatchInformationLineID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="viewItem(props.item)">
          <td>{{ props.item.dateOfOffer | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.company }}</td>
          <td class="text-xs-left">{{ props.item.swreferenceNo }}</td>
          <td class="text-xs-left">{{ props.item.customerName }}</td>
          <td class="text-xs-left">{{ props.item.productName }}</td>
          <td class="text-xs-left">{{ props.item.qty }}</td>
          <td class="text-xs-left">{{ props.item.uom }}</td>
          <td class="text-xs-left">{{ props.item.offerCurrency }}</td>
          <td class="text-xs-left">{{ props.item.offerPrice }}</td>
          <td class="text-xs-left">
            <span v-if="props.item.isAwarded == true">Yes</span>
            <span v-else></span>
          </td>
          <td class="justify-center layout px-0">
            <v-menu>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="selectSearch"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import {
  getQuotationHistoryReports,
  getQuotationHistoryReportBySearch,
} from "@/api/quotationHistory";
import attachment from "@/components/Attachment/attachments";
import GlobalMessage from "@/constant";
import { getGenericCodeItems } from "@/api/genericCodes";
import { getPlants } from "@/api/plant";
import { getCompanyListings } from "@/api/companyListing";
import moment from "moment";
export default {
  components: {
    attachment,
  },
  computed: {
    fromMonthFormated() {
      return this.searchQuotation.fromMonth
        ? moment(this.searchQuotation.fromMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    toMonthFormated() {
      return this.searchQuotation.toMonth
        ? moment(this.searchQuotation.toMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    poDateFormated() {
      return this.editedItem.dateOfOffer
        ? moment(this.editedItem.dateOfOffer).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {
    this.selectSearch();
  },
  data: () => ({
    gridItems: [],
    screenID: "SAL5016",
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    search: "",
    loader: false,
    productloader: false,
    dialog: false,
    poDateDue: false,
    attachdialog: false,
    sessionId: null,
    searchmenu: false,
    companyItems: [],
    productNameItems: [],
    customerNameItems: [],
    fromMonthMenu: false,
    toMonthMenu: false,
    headerItems: [],
    selectedItem: null,
    editedItem: {
      companyName: "",
      sessionId: null,
      swreferenceNo: "",
      customerId: null,
      customerRefNo: "",
      companyId: null,
      valid: false,
      quotationHistoryId: -1,
      dateOfOffer: null,
      qty: null,
      uom: null,
      offerCurrency: null,
      offerPrice: null,
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: null,
      modifiedByUserID: null,
      modifiedDate: null,
    },
    searchQuotation: {
      fromMonth: null,
      toMonth: null,
      companyId: null,
      swreferenceNo: "",
      customerId: null,
      productId: null,
    },
    headers: [
      {
        text: "Date Of Offer",
        value: "dateOfOffer",
        width: "400px",
        align: "left",
      },
      { text: "Company", value: "company", width: "400px", align: "left" },
      {
        text: "SW Reference No",
        value: "swreferenceNo",
        width: "400px",
        align: "left",
      },
      {
        text: "Customer Name",
        value: "customerName",
        width: "400px",
        align: "left",
      },
      {
        text: "Product",
        value: "productName",
        width: "400px",
        align: "left",
      },
      {
        text: "Quantity",
        value: "qty",
        width: "400px",
        align: "left",
      },
      {
        text: "UOM",
        value: "uom",
        width: "400px",
        align: "left",
      },
      {
        text: "Offer Currency",
        value: "offerCurrency",
        width: "400px",
        align: "left",
      },
      {
        text: "Offer Price",
        value: "offerPrice",
        width: "400px",
        align: "left",
      },
      {
        text: "Awarded",
        value: "isAwarded",
        width: "400px",
        align: "left",
        sortable: false,
      },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    items: [
      {
        icon: "visibility",
        href: "#",
        title: "View",
        click: (e) => {},
      },
      {
        icon: "attach_file",
        href: "#",
        title: "Attachement",
        click: (e) => {},
      },
    ],
    json_fields: {
      "Date Of Offer": "dateOfOffer",
      Company: "company",
      "SW ReferenceNo": "swreferenceNo",
      "Customer Name": "customerName",
      Product: "productName",
      Quantity: "qty",
      UOM: "uom",
      "Offer Currency": "offerCurrency",
      "Offer Price": "offerPrice",
    },
  }),
  methods: {
    getExcel() {
      this.headerItems = [
        "Date: " + moment(Date.now()).format(GlobalMessage.DATEFORMAT),
        "Report by: " + this.$store.state.auth.userName,
      ];
    },
    selectSearch() {
      this.loader = true;
      let userId = this.$store.state.auth.userId;
      getQuotationHistoryReports("")
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCompanyListings("")
        .then((response) => {
          this.customerNameItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.loader = true;
      getPlants("")
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getGenericCodeItems("")
        .then((response) => {
          this.productNameItems = response.data;
          this.productloader = false;
        })
        .catch((error) => {
          this.productloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    searchClick() {
      this.gridloader = true;
      getQuotationHistoryReportBySearch(this.searchQuotation)
        .then((response) => {
          this.gridloader = false;
          this.gridItems = response.data;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.searchmenu = false;
    },
    searchClear() {
      this.searchQuotation.companyId = null;
      this.searchQuotation.productId = null;
      this.searchQuotation.customerId = null;
      this.searchQuotation.swreferenceNo = "";
      this.searchQuotation.fromMonth = null;
      this.searchQuotation.toMonth = null;
      this.selectSearch();
    },
    searchmenuClose() {
      this.searchmenu = false;

      this.searchQuotation.companyId = null;
      this.searchQuotation.productId = null;
      this.searchQuotation.customerId = null;
      this.searchQuotation.swreferenceNo = "";
      this.searchQuotation.fromMonth = null;
      this.searchQuotation.toMonth = null;
    },
    viewItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
    fileAttachment(item) {
      this.sessionId = item.sessionId;
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.isCreateDocument = false;
      this.$refs.refattach.showUploadMethod = false;
      this.$refs.refattach.isWiki = true;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    close() {
      this.dialog = false;
    },
    onCompanyListingChange() {
      if (this.editedItem.customerId > 0) {
        let companyItem = this.customerNameItems.filter(
          (p) => p.companyListingID == this.editedItem.customerId
        );
        this.$refs.refquatationHistoryLine.companyListingId =
          companyItem[0].companyListingID;
        this.$refs.refquatationHistoryLine.customerCompanyId();
      }
    },
    menuClick(key, item) {
      if (key == 0) {
        this.viewItem(item);
      } else if (key == 1) {
        this.fileAttachment(item);
      }
    },
  },
};
</script>
