<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="Novate"
        type="csv"
        name="Novate.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="initialize">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add()">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Sales Order</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-menu
                      ref="poDateDue"
                      v-model="poDateDue"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      lazy
                      transition="scale-transition"
                      offset-y
                      full-width
                      min-width="290px"
                    >
                      <v-text-field
                        slot="activator"
                        :value="poDateFormated"
                        label="Date"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearableregistrationDateOfExpiry"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.date"
                        @change="poDateDue = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Order No / Contract No"
                      prepend-icon="description"
                      v-model="editedItem.salesOrderEntryId"
                      :items="ordernoorcontractNoItems"
                      item-text="orderNo"
                      item-value="salesOrderEntryID"
                      @change="getChangeSalesOrderEntryCustomerItems"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="item No"
                      prepend-icon="description"
                      v-model="editedItem.itemId"
                      :items="itemNoItems"
                      item-text="productName"
                      item-value="itemID"
                      @change="itemSelect"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.description"
                      label="Item Description"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.uom"
                      label="UOM"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="invert_colors"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      item-text="codeValue"
                      item-value="codeID"
                      chips
                      color="blue"
                    ></v-autocomplete>
                  </v-flex>
                  <v-layout wrap>
                    <v-flex xs12 sm6>
                      <v-layout row wrap>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm11 class="boxheader">
                          <span class="headline">From Information</span>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm10>
                          <v-autocomplete
                            label="From Customer"
                            prepend-icon="description"
                            v-model="editedItem.fromCustomerId"
                            :items="fromCustomerItems"
                            item-text="customerName"
                            item-value="soCustomerID"
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm10>
                          <v-menu
                            ref="poDateDue1"
                            v-model="poDateDue1"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="poDateFormated1"
                              label="Start Month/YY"
                              prepend-icon="event"
                              clearable
                              readonly
                              @click:clear="clearableregistrationDateOfExpiry1"
                            ></v-text-field>
                            <v-date-picker
                              v-model="editedItem.fromStartMonth"
                              @change="poDateDue1 = false"
                              type="month"
                            ></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm10>
                          <v-text-field
                            v-model="editedItem.fromTotalQty"
                            label="Total Quantity"
                            prepend-icon="description"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm12 class="boxheader"></v-flex>
                      </v-layout>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-layout row wrap>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm11 class="boxheader">
                          <span class="headline">To Information</span>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm10>
                          <v-autocomplete
                            label="To Customers"
                            prepend-icon="description"
                            v-model="editedItem.toCustomerId"
                            :items="toCustomerItems"
                            item-text="customerName"
                            item-value="soCustomerID"
                          ></v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm10>
                          <v-menu
                            ref="poDateDue2"
                            v-model="poDateDue2"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="poDateFormated2"
                              label="Start Month/YY"
                              prepend-icon="event"
                              clearable
                              readonly
                              @click:clear="clearableregistrationDateOfExpiry2"
                            ></v-text-field>
                            <v-date-picker
                              v-model="editedItem.toStartMonth"
                              @change="poDateDue2 = false"
                              :min="editedItem.fromStartMonth"
                              type="month"
                            ></v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm10>
                          <v-text-field
                            v-model="editedItem.toTotalQty"
                            label="Total Qty"
                            prepend-icon="description"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm10>
                          <v-text-field
                            v-model="editedItem.newPono"
                            label="New PO No"
                            prepend-icon="description"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm1 class="boxheader"></v-flex>
                        <v-flex xs12 sm12 class="boxheader"></v-flex>
                      </v-layout>
                    </v-flex>
                  </v-layout>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
          <delete-confirmation-dialog
            ref="quantityValidationDialog"
            heading="Are You Sure You Want To Save?"
            message="Are You Sure You Want To Save This Item Permanently?"
            @onConfirm="quantityConfirmation"
          ></delete-confirmation-dialog>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save"
              >save</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" max-width="900px">
        <attachment
          title="Novate Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="SalesOrderNovate"
          action="GetSalesAdhocNovateAttachmentBySessionID"
          uploadAction="UploadSalesAdhocNovateAttachments"
          deleteAction="DeleteSalesAdhocNovateAttachment"
          downloadAction="DownLoadSalesAdhocNovateAttachment"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
        <!--  <SalesOrderNovateDocument ref="frmattach"></SalesOrderNovateDocument> -->
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="salesAdhocNovateId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <!--  <td class="text-xs-left">{{ props.item.salesAdhocNovateId }}</td> -->
        <td class="text-xs-left">{{ props.item.date | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.fromCustomerName }}</td>
        <td class="text-xs-left">
          {{ props.item.fromStartMonth | formatDate }}
        </td>
        <td class="text-xs-left">{{ props.item.fromTotalQty }}</td>
        <td class="text-xs-left">{{ props.item.toCustomerName }}</td>
        <td class="text-xs-left">{{ props.item.toStartMonth | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.toTotalQty }}</td>

        <td class="text-xs-left">{{ props.item.statusCode }}</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            :disabled="props.item.sessionId == null"
            @click="fileAttachments(props.item)"
            >attach_file</v-icon
          >
          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
          <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
//import UploadButton from "vuetify-upload-button";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
//import { getDescriptionExceptFPandPRItems } from "@/api/purchaseOrderLine";
import {
  getSalesOrderNovate,
  getSalesOrderNovateData,
  createSalesOrderNovate,
  updateSalesOrderNovate,
  deleteSalesOrderNovate,
  getSalesOrderEntryItems,
  getDescriptionExceptFPandPRItems,
  getSobyCustomers,
  uploadSalesOrderNovateDocuments,
  getSalesOrderNovateDocuments,
  deleteSalesOrderNovateDocuments,
  downloadSalesOrderNovateDocuments,
  getSalesOrderEntryCustomerItems,
} from "@/api/salesAdhocNovate";
import moment from "moment";
import GlobalMessage from "@/constant";
import SalesOrderNovateDocument from "@/pages/productionplanning/productionplanningv1/SalesOrderNovateDocument";
import attachment from "@/components/Attachment/attachments";

export default {
  components: {
    // "upload-btn": UploadButton,
    SalesOrderNovateDocument,
    attachment,
  },
  data: () => ({
    uploadbtn: true,
    sessionId: null,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    showdownload: false,
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    attachdialog: false,
    salesAdhocNovateId: -1,

    poDateDue: false,
    poDateDue1: false,
    poDateDue2: false,

    dialog: false,
    loader: false,
    search: "",
    customerorTenderAgencyItems: [],
    tenderAgencyItems: [],
    fromCustomerItems: [],
    toCustomerItems: [],
    itemNoItems: [],
    ordernoorcontractNoItems: [],
    statusOptions: [],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    dialog: false,
    loader: false,

    headers: [
      // {text:"Unit ConversionID",value:"salesAdhocNovateId", align: "left" },
      { text: "Date", value: "date", align: "left" },
      {
        text: "FromCustomer",
        value: "fromCustomerName",
        align: "left",
      },

      {
        text: "From StartMonth",
        value: "fromStartMonth",
        align: "left",
      },
      { text: "From TotalQty", value: "fromTotalQty", align: "left" },
      {
        text: "ToCustomer",
        value: "toCustomerName",
        align: "left",
      },
      { text: "ToStartMonth", value: "toStartMonth", align: "left" },
      { text: "ToTotal Quantity", value: "toTotalQty", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Action", value: "Action", align: "left" },
    ],
    json_fields: {
      Date: "date",
      "From Customer Name": "fromCustomerName",
      "From Start Month": "fromStartMonth",
      "From TotalQty": "fromTotalQty",
      ToCustomer: "toCustomerName",
      "To Start Month": "toStartMonth",
      "To TotalQty": "toTotalQty",
      //'Need version checking': "needVersionCheckingFlag",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    editedIndex: -1,
    unitsItem1: [],
    unitsItem2: [],
    salesAdhocNovateId: -1,

    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    screenID: "SAL5009",
    editedItem: {
      valid: false,
      date: "",
      itemId: -1,
      fromCustomerId: -1,
      fromStartMonth: "",
      fromTotalQty: null,
      toCustomerId: -1,
      toStartMonth: "",
      toTotalQty: null,
      intoNoOfLots: null,
      newPono: null,
      sessionId: null,
      salesAdhocNovateId: -1,
      description: "",
      uom: "",

      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 2081,
      statusCode: "New",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      date: null,

      salesAdhocNovateId: -1,

      itemId: -1,
      fromCustomerId: -1,
      fromStartMonth: "",
      fromTotalQty: null,
      toCustomerId: -1,
      toStartMonth: "",
      toTotalQty: null,
      intoNoOfLots: null,
      newPono: null,
      sessionId: null,
      salesAdhocNovateId: -1,
      description: "",
      uom: "",

      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 2081,
      statusCode: "New",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    searchItem: { action: "", id: null, searchString: "searchString" },
    isDialogConfirmation: true,
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Sales Order Novate Entry"
        : "Edit Sales Order Novate Entry";
    },
    poDateFormated() {
      return this.editedItem.date
        ? moment(this.editedItem.date).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    poDateFormated1() {
      return this.editedItem.fromStartMonth
        ? moment(this.editedItem.fromStartMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    poDateFormated2() {
      return this.editedItem.toStartMonth
        ? moment(this.editedItem.toStartMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
  },

  // watch: {
  //   dialog (val) {
  //     val || this.close();
  //   }
  // },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      // console.log(this.$store.state.auth.userId);

      this.loader = true;
      getSalesOrderEntryItems("")
        .then((response) => {
          this.ordernoorcontractNoItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getCodeMasterByType("NovateStatus")
        .then((response) => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getDescriptionExceptFPandPRItems()
        .then((response) => {
          this.itemNoItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.loader = true;
      getSalesOrderNovate("")
        .then((response) => {
          this.gridItems = response.data;
          // console.log("sales order", this.gridItems);
          //  console.log(res.data);
          this.loader = false;
          //  console.log(this.gridItems);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getChangeSalesOrderEntryCustomerItems() {
      this.loader = true;
      getSalesOrderEntryCustomerItems(this.editedItem.salesOrderEntryId)
        .then((response) => {
          this.toCustomerItems = response.data;
          this.fromCustomerItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      var contractOrder = this.ordernoorcontractNoItems.filter(
        (o) => o.salesOrderEntryID == this.editedItem.salesOrderEntryId
      );
      if (contractOrder.length > 0) {
        this.itemNoItems = contractOrder[0].salesEntryProducts;
      } else {
        this.itemNoItems = null;
        this.editedItem.itemId = null;
        this.editedItem.uom = "";
        this.editedItem.description = "";
      }
    },
    itemSelect() {
      console.log("Novate", JSON.stringify(this.editedItem));
      console.log("Contrat Nos", this.itemNoItems);
      let item = this.itemNoItems.filter(
        (f) => f.itemID == this.editedItem.itemId
      );
      if (item != undefined) {
        this.editedItem.uom = item[0].packUom;
        this.editedItem.description = item[0].description;
      }
    },

    clearableregistrationDateOfExpiry() {
      this.editedItem.date = null;
    },
    clearableregistrationDateOfExpiry1() {
      this.editedItem.fromStartMonth = null;
    },
    clearableregistrationDateOfExpiry2() {
      this.editedItem.ToStartMonth = null;
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);

      this.getChangeSalesOrderEntryCustomerItems();
      if (this.editedItem.sessionId != null) {
        this.sessionId = this.editedItem.sessionId;
        this.uploadbtn = false;
      }

      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
      //consoleconsole.log("" + JSON.stringify("" + this.selectedItem));
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteSalesOrderNovate(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      //console.log("Search Item", JSON.stringify(this.searchItem));
      getSalesOrderNovateData(this.searchItem)
        .then((response) => {
          if (response.data.salesAdhocNovateId != null) {
            //console.log(this.editedItem);

            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.salesAdhocNovateId)
              .indexOf(response.data.salesAdhocNovateId);
            this.editedIndex = index;
            this.getChangeSalesOrderEntryCustomerItems();
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.id = this.editedItem.salesAdhocNovateId;
      // alert(this.editedItem.salesAdhocNovateId);
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.id = this.editedItem.salesAdhocNovateId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.id = this.editedItem.salesAdhocNovateId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.id = this.editedItem.salesAdhocNovateId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.uploadbtn = true;
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      this.uploadedAttachment = new FormData();
      this.attachfiles = new FormData();
      this.sessionId = "";
      this.fromCustomerItems = [];
      this.toCustomerItems = [];
      this.editedItem.description = "";
      this.editedItem.uom = "";
      this.editedItem.valid = false;
      this.editedItem.itemId = -1;
      this.editedItem.fromCustomerId = "";
      this.editedItem.fromStartMonth = "";
      this.editedItem.fromTotalQty = null;
      this.editedItem.toCustomerId = "";
      this.editedItem.toStartMonth = "";
      this.editedItem.toTotalQty = null;
      this.editedItem.intoNoOfLots = null;
      this.editedItem.newPono = null;
      this.editedItem.sessionId = null;
      this.editedItem.salesAdhocNovateId = -1;
      this.editedItem.date = "";
      this.editedItem = Object.assign({}, this.defaultItem);

      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 2081;
      this.editedItem.statusCode = "New";
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
    },

    //file upload

    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },

    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.documentID = this.salesAdhocNovateId;
      this.$refs.refattach.sessionId = this.sessionId;
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item);
      this.sessionId = item.sessionId;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    //file upload

    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteSalesOrderNovate(this.editedItem)
        .then(() => {
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch((error) => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    quantityConfirmation() {
      this.$refs.quantityValidationDialog.close();
      this.confirmationSave();
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        console.log("Edited Item", JSON.stringify(this.editedItem));
        if (this.editedItem.fromTotalQty != this.editedItem.toTotalQty) {
          this.isDialogConfirmation = false;
          this.$refs.quantityValidationDialog.openDialog();
        } else {
          this.confirmationSave();
        }
      }
    },

    confirmationSave() {
      let index = this.editedIndex;
      if (this.editedIndex > -1) {
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);

        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        updateSalesOrderNovate(this.editedItem)
          .then((response) => {
            Object.assign(this.gridItems[index], response.data);
            this.loader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.editedItem.sessionId = response.data.sessionId;
            //this.add();
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        createSalesOrderNovate(this.editedItem)
          .then((response) => {
            this.gridItems.push(response.data);
            this.loader = false;
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.salesAdhocNovateId)
              .indexOf(response.data.salesAdhocNovateId);
            this.editedIndex = index;

            //up
            this.editedItem.sessionId = response.data.sessionId;
            this.attachfiles = new FormData();
            this.sessionId = response.data.sessionId;
            this.salesAdhocNovateId = response.data.salesAdhocNovateId;

            this.uploadbtn = false;

            //up

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>