<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :nudge-right="40"
          :close-on-content-click="false"
          lazy
          v-model="searchmenu"
          transition="scale-transition"
          offset-y
          full-width
          min-width="140px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>

          <v-card>
            <v-layout row wrap>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Search and Filter</v-toolbar-title>
              </v-toolbar>
              <!-- <v-flex xs12 sm12>
                      <div class="mt-3 title">Search and Filter Sales Order</div>
              </v-flex>-->
              <v-flex xs12 sm1></v-flex>
              <v-flex xs12 sm5>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Order By"
                  prepend-icon="notes"
                  v-model="searchSales.orderByID"
                  :items="customerorTenderAgencyItems"
                  item-text="codeValue"
                  item-value="codeID"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm1></v-flex>
              <v-flex xs12 sm5>
                <v-autocomplete
                  v-if="searchSales.orderByID == 1402"
                  :loading="loader"
                  chips
                  flat
                  label="Customer Name"
                  prepend-icon="notes"
                  v-model="searchSales.customerID"
                  :items="customerItems"
                  item-text="companyListingName"
                  item-value="companyListingID"
                ></v-autocomplete>

                <v-autocomplete
                  v-if="searchSales.orderByID == 1403"
                  :loading="loader"
                  chips
                  flat
                  label="Customer Name"
                  prepend-icon="notes"
                  v-model="searchSales.tenderAgencyID"
                  :items="tenderAgencyItems"
                  item-text="value"
                  item-value="applicationMasterDetailId"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm1></v-flex>
              <v-flex xs12 sm5>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Purchase Order Issue To"
                  prepend-icon="notes"
                  v-model="searchSales.companyID"
                  :items="companyItems"
                  item-text="description"
                  item-value="plantID"
                  @change="selectSearchPlant(value)"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm1></v-flex>
              <v-flex xs12 sm5>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Type Of Order"
                  prepend-icon="notes"
                  v-model="searchSales.typeOfOrderID"
                  :items="typeofOrderItems"
                  item-text="codeValue"
                  item-value="codeID"
                ></v-autocomplete>
              </v-flex>

              <!-- <v-flex xs12 sm5>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Product No"
                  prepend-icon="notes"
                  v-model="searchSales.itemCustomerID"
                  :items="soCustomerItems"
                  item-text="customerReferenceNo"
                  item-value="sobyCustomersId"
                ></v-autocomplete>
              </v-flex>-->
              <v-flex xs12 sm1 v-if="searchSales.orderByID == 1402"></v-flex>
              <v-flex xs12 sm5 v-if="searchSales.orderByID == 1402">
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Product No"
                  prepend-icon="notes"
                  v-model="searchSales.itemCustomerID"
                  :items="soCustomerItems"
                  item-text="customerReferenceNo"
                  item-value="socustomersItemCrossReferenceId"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm1 v-if="searchSales.orderByID == 1403"></v-flex>
              <v-flex xs12 sm5 v-if="searchSales.orderByID == 1403">
                <v-autocomplete
                  :loading="productloader"
                  chips
                  flat
                  label="Product No"
                  prepend-icon="notes"
                  v-model="searchSales.itemId"
                  :items="productNoItems"
                  item-text="itemNoDetail"
                  item-value="itemId"
                >
                  <template slot="selection" slot-scope="data">
                    <v-chip :selected="data.selected">{{
                      data.item.no
                    }}</v-chip>
                  </template>
                </v-autocomplete>
              </v-flex>

              <v-flex xs12 sm1></v-flex>
              <v-flex xs12 sm5>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Distribution Customer Name"
                  prepend-icon="notes"
                  v-model="searchSales.distributionCustomerID"
                  :items="distributionCustomerItems"
                  item-text="distributionSalesCustomerName"
                  item-value="companyListingID"
                ></v-autocomplete>
              </v-flex>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="searchClick">Search</v-btn>

              <v-btn outline color="primary" @click="searchmenuClose"
                >Close</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter combination of search queries.</span>
      </v-tooltip>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="SalesAdhoct.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" fullscreen>
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="saveloader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Sales Adhoc</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="first"
              >
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="previous"
              >
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="next"
              >
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="last"
              >
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <!-- :disabled="uploadbtn" -->
            <v-tooltip bottom :disabled="editedItem.sessionID == null">
              <v-btn
                :disabled="editedItem.sessionID == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card>
            <v-card color="primary light lighten-5">
              &nbsp;&nbsp;&nbsp; &nbsp;
              <span class="headline">{{ formTitle }}</span>
            </v-card>
          </v-card>
          <div style="overflow: auto; height: calc(90vh - 70px)">
            <div class="titlecard">
              <v-card-text class="borderlayout">
                <v-card class="borderlayout" color="primary lighten-5">
                  <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                    <v-card class="borderlayout">
                      <v-layout row wrap>
                        <v-flex xs12 sm8>
                          <v-layout row wrap>
                            <v-flex xs12 sm6>
                              <v-layout row wrap class="layoutbg">
                                <v-flex xs12 sm12>
                                  <v-text-field
                                    v-model="editedItem.profileReferenceNo"
                                    label="Document No"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12>
                                  <v-autocomplete
                                    :loading="loader"
                                    chips
                                    flat
                                    prepend-icon="notes"
                                    label="Purchase Order Issue To"
                                    v-model="editedItem.companyID"
                                    :items="companyItems"
                                    item-text="description"
                                    item-value="plantID"
                                    @change="selectPlant"
                                  ></v-autocomplete>
                                </v-flex>
                                <v-flex xs12 sm12>
                                  <v-autocomplete
                                    :loading="loader"
                                    chips
                                    flat
                                    label="Type Of Order"
                                    prepend-icon="notes"
                                    v-model="editedItem.typeOfOrderID"
                                    :items="typeofOrderItems"
                                    item-text="codeValue"
                                    item-value="codeID"
                                    @change="selectTypeOfOrder"
                                    :disabled="disableTypeOfOrder"
                                  ></v-autocomplete>
                                </v-flex>

                                <v-flex
                                  xs12
                                  sm12
                                  v-if="
                                    editedItem.orderByID == 1402 &&
                                    (editedItem.typeOfOrderID == 1407 ||
                                      editedItem.typeOfOrderID == 1409)
                                  "
                                >
                                  <v-text-field
                                    v-model="editedItem.tagAlongOrderNo"
                                    label="Tab Along Order No"
                                    prepend-icon="select_all"
                                  ></v-text-field>
                                </v-flex>
                                <v-flex
                                  xs12
                                  sm12
                                  v-if="
                                    editedItem.typeOfOrderID == 1406 ||
                                    editedItem.typeOfOrderID == 1407
                                  "
                                >
                                  <v-menu
                                    v-model="startDateMenu"
                                    :close-on-content-click="false"
                                    full-width
                                    min-width="290"
                                    :return-value.sync="
                                      editedItem.orderPeriodFrom
                                    "
                                  >
                                    <v-text-field
                                      slot="activator"
                                      :value="validFromFormated"
                                      label="Order Period From"
                                      prepend-icon="today"
                                      readonly
                                    ></v-text-field>
                                    <v-date-picker
                                      v-model="editedItem.orderPeriodFrom"
                                      @change="startDateMenu = false"
                                      type="month"
                                    ></v-date-picker>
                                  </v-menu>
                                </v-flex>
                              </v-layout>
                            </v-flex>

                            <v-flex xs12 sm6>
                              <v-layout row wrap class="layoutbg">
                                <v-flex xs12 sm12>
                                  <v-text-field
                                    v-model="profileName"
                                    label="Profile Name"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12>
                                  <v-autocomplete
                                    :loading="loader"
                                    chips
                                    flat
                                    label="Order By"
                                    prepend-icon="notes"
                                    v-model="editedItem.orderByID"
                                    :items="customerorTenderAgencyItems"
                                    item-text="codeValue"
                                    item-value="codeID"
                                    @change="selectOrderBy"
                                  ></v-autocomplete>
                                </v-flex>
                                <v-flex xs12 sm12>
                                  <v-autocomplete
                                    v-if="editedItem.orderByID == 1402"
                                    :loading="loader"
                                    chips
                                    flat
                                    label="Customer Name"
                                    prepend-icon="notes"
                                    v-model="editedItem.customerID"
                                    :items="customerItems"
                                    item-text="companyListingName"
                                    item-value="companyListingID"
                                  ></v-autocomplete>

                                  <v-autocomplete
                                    v-if="editedItem.orderByID == 1403"
                                    :loading="loader"
                                    chips
                                    flat
                                    label="Customer Name"
                                    prepend-icon="notes"
                                    v-model="editedItem.tenderAgencyID"
                                    :items="tenderAgencyItems"
                                    item-text="value"
                                    item-value="applicationMasterDetailId"
                                  ></v-autocomplete>
                                </v-flex>
                                <v-flex
                                  xs12
                                  sm12
                                  v-if="
                                    editedItem.orderByID == 1402 &&
                                    (editedItem.typeOfOrderID == 1407 ||
                                      editedItem.typeOfOrderID == 1409)
                                  "
                                >
                                  <v-menu
                                    bottom
                                    :close-on-content-click="false"
                                    v-model="menuprodSearch"
                                  >
                                    <v-text-field
                                      slot="activator"
                                      v-model="editedItem.tagAlongCustomerName"
                                      prepend-icon="select_all"
                                      clearable
                                      append-icon="search"
                                      label="Tag Along With Customer"
                                    ></v-text-field>

                                    <v-card>
                                      <v-layout row wrap>
                                        <v-flex xs12 sm12>
                                          <v-text-field
                                            v-model="searchFilter"
                                            prepend-icon="search"
                                            label="Search"
                                            single-line
                                            hide-details
                                          ></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 sm12>
                                          <v-data-table
                                            :items="tagAlongCustomerList"
                                            :search="searchFilter"
                                            :headers="customerheaders"
                                            class="elevation-1"
                                            :rows-per-page-items="
                                              searchrowsPerPageItems
                                            "
                                            :pagination.sync="searchpagination"
                                          >
                                            <template
                                              slot="items"
                                              slot-scope="props"
                                            >
                                              <tr
                                                v-on:click="
                                                  onClickCustomer(props.item)
                                                "
                                              >
                                                <td>
                                                  {{ props.item.customerName }}
                                                </td>
                                                <td>
                                                  <v-icon
                                                    small
                                                    color="green"
                                                    v-if="props.item.isCustomer"
                                                    >done</v-icon
                                                  >
                                                </td>
                                                <td>
                                                  <v-icon
                                                    small
                                                    color="green"
                                                    v-if="
                                                      props.item.isTenderAgency
                                                    "
                                                    >done</v-icon
                                                  >
                                                </td>
                                              </tr>
                                            </template>
                                          </v-data-table>
                                        </v-flex>
                                      </v-layout>
                                    </v-card>
                                  </v-menu>
                                </v-flex>
                                <v-flex
                                  xs12
                                  sm12
                                  v-if="
                                    editedItem.typeOfOrderID == 1406 ||
                                    editedItem.typeOfOrderID == 1407
                                  "
                                >
                                  <v-menu
                                    v-model="endDateMenu"
                                    :close-on-content-click="false"
                                    full-width
                                    min-width="290"
                                    :return-value.sync="
                                      editedItem.orderPeriodTo
                                    "
                                  >
                                    <v-text-field
                                      slot="activator"
                                      :value="validEndFormated"
                                      label="Order Period To"
                                      prepend-icon="today"
                                      readonly
                                    ></v-text-field>
                                    <v-date-picker
                                      v-model="editedItem.orderPeriodTo"
                                      @change="endDateMenu = false"
                                      :min="editedItem.orderPeriodFrom"
                                      type="month"
                                    ></v-date-picker>
                                  </v-menu>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <!-- <v-flex lg1 xs1 md1 d-flex > 
                    <v-divider vertical></v-divider>
                        </v-flex>-->

                        <v-flex xs12 sm4>
                          <v-layout row wrap>
                            <v-flex xs12 sm1></v-flex>
                            <v-flex xs12 sm10>
                              <v-card
                                color="primary lighten-5"
                                class="entrytext"
                              >
                                <v-flex xs12 sm11>
                                  <v-text-field
                                    v-model="editedItem.orderNo"
                                    label="Order No"
                                  ></v-text-field>
                                </v-flex>
                                <v-layout row wrap>
                                  <v-flex
                                    xs12
                                    sm12
                                    v-if="enableIsMultipleQuatation"
                                  >
                                    <span>Is Multiple Quotation No?</span>
                                  </v-flex>

                                  <v-flex
                                    xs12
                                    sm12
                                    v-if="enableIsMultipleQuatation"
                                  >
                                    <v-radio-group
                                      v-model="isMultipleQuatationNo"
                                      @change="selectMultipleQuatationNo"
                                      :rules="[
                                        (v) => !!v || 'This is required',
                                      ]"
                                      required
                                      row
                                    >
                                      <v-radio
                                        color="primary"
                                        label="Yes"
                                        value="true"
                                      ></v-radio>
                                      <v-radio
                                        color="primary"
                                        label="No"
                                        value="false"
                                      ></v-radio>
                                    </v-radio-group>
                                  </v-flex>

                                  <v-flex
                                    xs12
                                    sm12
                                    v-if="enableAllowExtensionRadio"
                                  >
                                    <span>Is Allow Extension?</span>
                                  </v-flex>
                                  <v-flex
                                    xs12
                                    sm12
                                    v-if="enableAllowExtensionRadio"
                                  >
                                    <v-radio-group
                                      v-model="isAllowExtension"
                                      @change="selectAllowExtension"
                                      :rules="[
                                        (v) => !!v || 'This is required',
                                      ]"
                                      required
                                      row
                                    >
                                      <v-radio
                                        color="primary"
                                        label="Yes"
                                        value="true"
                                      ></v-radio>
                                      <v-radio
                                        color="primary"
                                        label="No"
                                        value="false"
                                      ></v-radio>
                                    </v-radio-group>
                                  </v-flex>
                                  <v-flex
                                    xs12
                                    sm4
                                    v-if="
                                      enableAllowExtensionRadio == true &&
                                      enableisExtension == true
                                    "
                                    class="entryfield"
                                  >
                                    <v-text-field
                                      v-model="editedItem.extensionMonth"
                                      label="Allow/Month"
                                      mask="#############"
                                      prepend-icon="calendar_today"
                                    ></v-text-field>
                                  </v-flex>
                                  <v-flex
                                    xs12
                                    sm1
                                    v-if="
                                      enableAllowExtensionRadio == true &&
                                      enableisExtension == true
                                    "
                                  ></v-flex>
                                  <v-flex
                                    xs12
                                    sm4
                                    v-if="
                                      enableAllowExtensionRadio == true &&
                                      enableisExtension == true
                                    "
                                    class="entryfield"
                                  >
                                    <v-text-field
                                      v-model="editedItem.extensionQuantity"
                                      label="Extension Qty"
                                      prepend-icon="select_all"
                                      mask="#############"
                                      suffix="%"
                                    ></v-text-field>
                                  </v-flex>
                                  <v-flex
                                    xs12
                                    sm3
                                    v-if="
                                      enableAllowExtensionRadio == true &&
                                      enableisExtension == true
                                    "
                                  ></v-flex>
                                  <v-flex xs12 sm12>
                                    <span
                                      >Is Extension Info Multiple Items?</span
                                    >
                                  </v-flex>

                                  <v-flex xs12 sm12>
                                    <v-radio-group
                                      v-model="isExtensionInfoMultiple"
                                      @change="selectisExtensionInfoMultiple"
                                      :rules="[
                                        (v) => !!v || 'This is required',
                                      ]"
                                      required
                                      row
                                    >
                                      <v-radio
                                        color="primary"
                                        label="Yes"
                                        value="true"
                                      ></v-radio>
                                      <v-radio
                                        color="primary"
                                        label="No"
                                        value="false"
                                      ></v-radio>
                                    </v-radio-group>
                                  </v-flex>
                                  <v-flex
                                    xs12
                                    sm12
                                    v-if="enableIsEachDistribution"
                                  >
                                    <span
                                      >Each Distribution will provide PO?</span
                                    >
                                  </v-flex>

                                  <v-flex
                                    xs12
                                    sm12
                                    v-if="enableIsEachDistribution"
                                  >
                                    <v-radio-group
                                      v-model="isEachDistribution"
                                      @change="selectisEachDistribution"
                                      :rules="[
                                        (v) => !!v || 'This is required',
                                      ]"
                                      required
                                      row
                                    >
                                      <v-radio
                                        color="primary"
                                        label="Yes"
                                        value="true"
                                      ></v-radio>
                                      <v-radio
                                        color="primary"
                                        label="No"
                                        value="false"
                                      ></v-radio>
                                    </v-radio-group>
                                  </v-flex>
                                </v-layout>
                              </v-card>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs12 sm12>
                          <br />
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-form>
                </v-card>
              </v-card-text>
            </div>
            <v-card-text>
              <v-card color="primary lighten-5" class="borderlayout">
                <v-flex xs12 sm12>
                  <span class="headline">Purchase Item information</span>
                  <purchase-info-line
                    ref="refpurchaseinfoLine"
                  ></purchase-info-line>
                </v-flex>
              </v-card>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!--     <v-dialog v-model="attachdialog" max-width="700px">
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title>Attachments</v-toolbar-title>
            <upload-btn
              @file-update="attachfileChanged"
              name="uploadtask"
              uniqueId
              icon
              ref="attachUpload"
              multiple
              noTitleUpdate
            >
              <template slot="icon-left">
                <v-icon left color="white">cloud_upload</v-icon>
              </template>
            </upload-btn>

            <v-spacer></v-spacer>

            <v-btn icon @click.native="closeattach">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </v-toolbar>
          <div style="overflow:auto;height:calc(70vh - 100px)">
            <v-card-text>
              <sales-entry-document ref="frmattach"></sales-entry-document>
            </v-card-text>
          </div>
        </v-card>
      </v-dialog>-->

      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="SalesOrderEntry Document"
          :screenID="screenID"
          :sessionID="sessionID"
          controller="SalesOrderEntry"
          action="GetSalesOrderEntryAttachmentBySessionID"
          uploadAction="UploadSalesOrderEntryAttachments"
          deleteAction="DeleteSalesOrderEntryAttachment"
          downloadAction="DownLoadSalesOrderEntryAttachment"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
        <!--  <SalesOrderNovateDocument ref="frmattach"></SalesOrderNovateDocument> -->
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>

      <delete-confirmation-dialog
        ref="deleteConfirmationDialog1"
        heading="Are You Sure You Want To Close?"
        message="Are You Sure You Want To Close? Files Not Updloaded"
        @onConfirm="fileconformationMessage"
      ></delete-confirmation-dialog>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :loading="gridloader"
      :items="gridItems"
      :sort-by.sync="sortBy"
      :sort-desc.sync="descending"
      :search="search"
      class="elevation-1"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td>

          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.customerName }}</td>
          <td class="text-xs-left">{{ props.item.orderByName }}</td>
          <td class="text-xs-left">{{ props.item.typeOfOrderName }}</td>

          <!-- <td class="text-xs-left">{{ props.item.statusCode }}</td> -->
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>

          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              :disabled="props.item.sessionID == null"
              @click="fileAttachments(props.item)"
              >attach_file</v-icon
            >
            <v-icon small class="mr-2" @click="editItem(props.item)"
              >edit</v-icon
            >
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { getApplicationFormByScreenID } from "@/api/ApplicationForm";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getSalesOrderProfile } from "@/api/salesOrderEntry";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getDocumentProfileItems } from "@/api/documentProfile";
import { getPlants } from "@/api/plant";
import { getCompanyListings } from "@/api/companyListing";
import { getCompanyListingsForDistributionInformation } from "@/api/contractDistributionInfo";

import {
  getSalesOrderEntryItems,
  getSalesOrderEntryData,
  createSalesOrderEntry,
  updateSalesOrderEntry,
  deleteSalesOrderEntry,
  getTagAlongOrderCustomer,
  uploadSalesOrderEntryDocuments,
  downLoadSalesOrderEntryDocument,
  getSalesOrderEntryDocument,
  deleteDocuments,
  getSalesOrderEntryBySearch,
  getSalesOrderEntryItemById,
} from "@/api/salesOrderEntry";
//import UploadButton from "vuetify-upload-button";
import moment from "moment";
import SalesEntryDocument from "@/pages/productionplanning/productionplanningv1/salesAdhocDocument";
import {
  getSocustomersItemCrossReferenceAll,
  getNavItemsForSalesEntry,
} from "@/api/purchaseItemSalesEntryLine";
import GlobalMessage from "@/constant";
import attachment from "@/components/Attachment/attachments";
import PurchaseInfoLine from "@/pages/productionplanning/productionplanningv1/purchaseItemSalesEntryLine";
export default {
  components: {
    //"upload-btn": UploadButton,
    SalesEntryDocument,
    PurchaseInfoLine,
    attachment,
  },
  data: () => ({
    //
    attachdialog: false,

    //

    startDateMenu: false,
    endDateMenu: false,
    saveloader: false,
    radioRules: [(v) => !!v || "This is required"],
    searchmenu: false,
    menuprodSearch: false,
    sortBy: "salesOrderEntryID",
    descending: true,
    searchFilter: "",
    enableisExtension: false,
    tenderProfileId: null,
    customerProfileId: null,
    tenderProfileName: "",
    isMultipleQuatationNo: "",
    isAllowExtension: "",
    isExtensionInfoMultiple: "",
    isEachDistribution: "",
    customerProfileName: "",
    customerTenderItems: [],
    tagAlongCustomerList: [],
    soCustomerItems: [],
    screenId: "SAL5008",
    screenID: "",
    applicationFormData: null,
    profileId: null,
    profileName: "",
    tenderAgencyField: false,
    schdAgreementNoEnable: false,
    tenderAgencyNoEnable: false,

    enableIsMultipleQuatation: true,
    enableAllowExtensionRadio: true,
    enableIsEachDistribution: false,
    enableisExtensionInfoMultiple: true,
    enableOrderPeriod: false,
    productloader: false,
    loader: false,
    gridloader: false,
    disableTypeOfOrder: false,
    profileItems: [],
    distributionCustomerItems: [],
    uploadbtn: true,
    sessionID: null,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    showdownload: false,
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    // attachdialog: false,
    quotationHistoryId: -1,
    dialog: false,
    search: "",
    loader: false,
    editedIndex: -1,
    searchTag: "",
    companyItems: [],
    customerorTenderAgencyItems: [],
    customerNameItems: [],
    customerItems: [],
    tenderAgencyItems: [],
    typeofOrderItems: [],
    productNoItems: [],
    navItemItems: [],
    quationUnits: [],
    extantionMonthsItems: [],

    gridItems: [],
    statusOptions: [],
    salesOrderEntryID: -1,

    searchSales: {
      companyID: null,
      orderByID: 1403,
      customerID: null,
      tenderAgencyID: null,
      typeOfOrderID: null,
      itemCustomerID: null,
      tenderProductNoID: null,
      distributionCustomerID: null,
    },
    editedItem: {
      salesOrderEntryID: -1,
      profileID: null,
      companyID: null,
      orderByID: 1402,
      customerID: null,
      tenderAgencyID: null,
      typeOfOrderID: null,
      tagAlongCustomerID: null,
      tagAlongTenderID: null,
      tagAlongCustomerList: [],
      tagAlongCustomerName: "",
      tagAlongOrderNo: "",
      orderNo: "",
      orderPeriodFrom: new Date().toISOString().substr(0, 7),
      orderPeriodTo: new Date().toISOString().substr(0, 7),
      isMultipleQuatationNo: false,
      isExtensionInfoMultiple: false,
      isAllowExtension: false,
      isEachDistribution: false,
      extensionMonth: 6,
      extensionQuantity: 25,
      sessionID: null,
      orderEntryType: "",
      profileReferenceNo: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      salesOrderEntryID: -1,
      profileID: null,
      companyID: null,
      orderByID: 1402,
      customerID: null,
      typeOfOrderID: null,
      tagAlongCustomerID: null,
      tagAlongTenderID: null,
      tagAlongCustomerName: "",
      tagAlongOrderNo: "",
      orderNo: "",
      orderPeriodFrom: new Date().toISOString().substr(0, 10),
      orderPeriodTo: new Date().toISOString().substr(0, 10),
      isMultipleQuatationNo: false,
      isExtensionInfoMultiple: false,
      isAllowExtension: false,
      isEachDistribution: false,
      extensionMonth: 6,
      extensionQuantity: 25,
      sessionID: null,
      orderEntryType: "",
      profileReferenceNo: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    headers: [
      { text: "Document No", value: "profileReferenceNo", align: "left" },
      {
        text: "Purchase Order Company",
        value: "companyName",
        align: "left",
      },
      { text: "Customer", value: "customerName", align: "left" },
      { text: "Order By", value: "orderByName", align: "left" },
      { text: "Type Of Order", value: "typeOfOrderName", align: "left" },
      //{ text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    customerheaders: [
      {
        text: "Customer Name",
        value: "customerName",
        sortable: false,
        align: "left",
      },
      {
        text: "Is Customer",
        value: "isCustomer",
        sortable: false,
        align: "left",
      },
      {
        text: "Is TenderAgency",
        value: "IsTenderAgency",
        sortable: false,
        align: "left",
      },
    ],
    json_fields: {
      Profile: "profileName",
      "Purchase Order Company": "companyName",
      OrderBy: "orderByName",
      CustomerName: "customerName",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate",
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      // sortBy: "salesOrderEntryID",
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Sales Order" : "Edit Sales Order";
    },

    validFromFormated() {
      return this.editedItem.orderPeriodFrom
        ? moment(this.editedItem.orderPeriodFrom).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    validEndFormated() {
      return this.editedItem.orderPeriodTo
        ? moment(this.editedItem.orderPeriodTo).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
  },
  methods: {
    initialize() {
      this.gridloader = true;
      getSalesOrderEntryItems("")
        .then((response) => {
          this.gridloader = false;
          this.gridItems = response.data;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getDocumentProfileItems("")
        .then((response) => {
          this.profileItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getPlants("")
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getTagAlongOrderCustomer("")
        .then((response) => {
          this.tagAlongCustomerList = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCompanyListings("")
        .then((response) => {
          this.customerItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationMasterDetailByType(239)
        .then((response) => {
          this.tenderAgencyItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getCodeMasterByType("Order By")
        .then((response) => {
          this.customerorTenderAgencyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Type Of Order")
        .then((response) => {
          this.typeofOrderItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getApplicationMasterDetailByType(234)
        .then((response) => {
          this.quationUnits = response.data;
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;

      getCodeMasterByType("Sales Status")
        .then((response) => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getCompanyListingsForDistributionInformation("")
        .then((response) => {
          this.distributionCustomerItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getSocustomersItemCrossReferenceAll("")
        .then((response) => {
          this.soCustomerItems = response.data.filter(
            (r) => r.customerReferenceNo != null
          );
          this.Productloader = false;
        })
        .catch((error) => {
          this.Productloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationFormByScreenID(this.screenId)
        .then((response) => {
          this.applicationFormData = response.data;
          //this.editedItem.profileID = this.applicationFormData.profileID;
          //this.editedItem.profileReferenceNo = this.applicationFormData.profileName;
          //this.profileId = this.applicationFormData.profileID;
          //this.profileName = this.applicationFormData.profileName;
          this.loader = false;
          // if(this.profileId == null || this.profileId<0)
          // {
          //   window.getApp.$emit("APP_API_ERROR", 'Please Add Profile For This Application Static Form');
          // }
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getSalesOrderProfile("")
        .then((response) => {
          if (response.data != undefined) {
            let customer = response.data.filter((s) => s.orderByID == 1402);
            if (customer.length > 0) {
              this.editedItem.profileID = customer[0].profileID;
              this.profileId = customer[0].profileID;
              this.profileName = customer[0].profileName;
              this.customerProfileId = customer[0].profileID;
              this.customerProfileName = customer[0].profileName;
            }
            let tender = response.data.filter((s) => s.orderByID == 1403);
            if (tender.length > 0) {
              this.editedItem.profileID = tender[0].profileID;
              this.profileId = tender[0].profileID;
              this.profileName = tender[0].profileName;
              this.tenderProfileId = tender[0].profileID;
              this.tenderProfileName = tender[0].profileName;
            }
            if (this.editedItem.orderByID == 1402) {
              this.editedItem.profileID = this.customerProfileId;
              this.profileName = this.customerProfileName;
            } else if (this.editedItem.orderByID == 1403) {
              this.editedItem.profileID = this.tenderProfileId;
              this.profileName = this.tenderProfileName;
            }
            this.loader = false;
            //this.total = response.data.length;
          } else {
            this.editedItem.profileID = this.applicationFormData.profileID;
            //this.editedItem.profileReferenceNo = this.applicationFormData.profileName;
            this.profileId = this.applicationFormData.profileID;
            this.profileName = this.applicationFormData.profileName;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    //
    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // if (this.$refs.refattach.attachments.length > 0) {
      //   let gridvalues = this.$refs.refattach.attachments.filter(
      //     (f) => f.uploaded == false
      //   );
      //   if (gridvalues.length > 0) {
      //     //window.getApp.$emit("APP_API_ERROR", error);
      //     this.$refs.deleteConfirmationDialog1.openDialog();
      //   } else {
      //     this.attachdialog = false;
      //   }
      // }
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachment() {
      if (this.$refs.refattach != undefined) {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = this.salesOrderEntryID;
        this.$refs.refattach.sessionID = this.sessionID;
        this.$refs.refattach.getfiles();
        this.attachdialog = true;

        console.log(
          "Salse Order Entry Id--" +
            this.salesOrderEntryID +
            "  Session Id--" +
            this.sessionID
        );
      }
    },
    fileAttachments(item) {
      console.log("check item", item.sessionID);
      this.sessionID = item.sessionID;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },
    //

    selectOrderBy(value) {
      if (this.$refs.refpurchaseinfoLine != undefined) {
        if (this.editedItem.salesOrderEntryID > 0) {
          this.$refs.refpurchaseinfoLine.enableAddButton = false;
        }
        this.$refs.refpurchaseinfoLine.companyID = this.editedItem.companyID;
        this.$refs.refpurchaseinfoLine.salesOrderEntryID = this.editedItem.salesOrderEntryID;
        this.$refs.refpurchaseinfoLine.isAllowExtension = this.editedItem.isAllowExtension;
        this.$refs.refpurchaseinfoLine.extensionMonth = this.editedItem.extensionMonth;
        this.$refs.refpurchaseinfoLine.extensionQuantity = this.editedItem.extensionQuantity;
        this.$refs.refpurchaseinfoLine.orderById = this.editedItem.orderByID;
        this.$refs.refpurchaseinfoLine.loadDropdownList();
      }

      if (this.editedItem.orderByID == 1403) {
        this.editedItem.typeOfOrderID = 1406;
        this.disableTypeOfOrder = true;
        this.enableIsEachDistribution = true;

        if (this.tenderProfileId > 0) {
          this.editedItem.profileID = this.tenderProfileId;
          this.profileName = this.tenderProfileName;
        }
      } else {
        this.disableTypeOfOrder = false;
        if (this.editedItem.orderByID == 1402) {
          if (this.customerProfileId > 0) {
            this.editedItem.profileID = this.customerProfileId;
            this.profileName = this.customerProfileName;
          }
        }
      }
      setTimeout(() => {
        this.enableItems();
      }, 300);
    },
    selectTypeOfOrder(value) {
      if (this.$refs.refpurchaseinfoLine != undefined) {
        if (this.editedItem.salesOrderEntryID > 0) {
          this.$refs.refpurchaseinfoLine.enableAddButton = false;

          this.$refs.refpurchaseinfoLine.companyID = this.editedItem.companyID;
          this.$refs.refpurchaseinfoLine.salesOrderEntryID = this.editedItem.salesOrderEntryID;
          this.$refs.refpurchaseinfoLine.isAllowExtension = this.editedItem.isAllowExtension;
          this.$refs.refpurchaseinfoLine.extensionMonth = this.editedItem.extensionMonth;
          this.$refs.refpurchaseinfoLine.extensionQuantity = this.editedItem.extensionQuantity;
          this.$refs.refpurchaseinfoLine.loadDropdownList();
          this.$refs.refpurchaseinfoLine.typeOfOrderID = this.editedItem.typeOfOrderID;
        }
      }

      setTimeout(() => {
        this.enableItems();
      }, 300);
    },
    selectSearchPlant(value) {
      if (this.searchSales.companyID > 0) {
        let id = this.searchSales.companyID;
        getNavItemsForSalesEntry(id)
          .then((response) => {
            this.productNoItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    selectPlant(value) {
      this.productloader = true;
      if (this.$refs.refpurchaseinfoLine != undefined) {
        this.$refs.refpurchaseinfoLine.companyID = value;
        if (this.editedItem.typeOfOrderID == 1403) {
          let id = this.editedItem.companyID;
          getNavItemsForSalesEntry(id)
            .then((response) => {
              this.$refs.refpurchaseinfoLine.productNoItems = response.data;
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    selectMultipleQuatationNo() {
      if (this.isMultipleQuatationNo == "true") {
        this.editedItem.isMultipleQuatationNo = true;
        this.enableisExtensionInfoMultiple = true;
      } else if (this.isMultipleQuatationNo == "false") {
        this.editedItem.isMultipleQuatationNo = false;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.enableisExtensionInfoMultiple = false;
          this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = this.editedItem.isMultipleQuatationNo;
        }
      }
    },
    enableItems() {
      if (
        this.editedItem.orderByID == 1403 &&
        this.editedItem.typeOfOrderID == 1406
      ) {
        this.disableTypeOfOrder = true;
        this.enableIsEachDistribution = true;

        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.enableDeliveryDate = false;
          this.$refs.refpurchaseinfoLine.enableshipToAddress = false;
          this.$refs.refpurchaseinfoLine.enabletenderAgencyNo = false;
          this.$refs.refpurchaseinfoLine.enableschdAgreementNo = false;
          this.$refs.refpurchaseinfoLine.enableDistributionInfo = true;
          this.$refs.refpurchaseinfoLine.enableProjectedDelivery = true;
          this.$refs.refpurchaseinfoLine.enableProjectedStatus = true;

          this.$refs.refpurchaseinfoLine.orderBy = "Tender Agency";
        }
        this.enableIsMultipleQuatation = true;
        this.enableAllowExtensionRadio = true;
        if ((this.isMultipleQuatationNo = "true")) {
          this.enableisExtensionInfoMultiple = true;
        }
        if ((this.isMultipleQuatationNo = "false")) {
          this.enableisExtensionInfoMultiple = false;
        }
        if (this.isAllowExtension == "true") {
          this.enableisExtension = true;
        } else if (this.isAllowExtension == "false") {
          this.enableisExtension = false;
        }
      }

      if (this.editedItem.orderByID == 1402) {
        this.disableTypeOfOrder = false;
        this.enableIsEachDistribution = false;
        if (this.editedItem.typeOfOrderID == 1404) {
          if (this.$refs.refpurchaseinfoLine != undefined) {
            this.$refs.refpurchaseinfoLine.orderBy = "Customer";
            this.$refs.refpurchaseinfoLine.enableDistributionInfo = false;
            this.$refs.refpurchaseinfoLine.enabletenderAgencyNo = true;
            this.$refs.refpurchaseinfoLine.enableschdAgreementNo = true;
            this.$refs.refpurchaseinfoLine.enablePurchaselotDeliveries = false;
            this.$refs.refpurchaseinfoLine.enableDeliveryDate = true;
            this.$refs.refpurchaseinfoLine.enableshipToAddress = true;
            this.$refs.refpurchaseinfoLine.enableProjectedDelivery = false;
            this.$refs.refpurchaseinfoLine.enableProjectedStatus = false;
          }
          this.enableisExtensionInfoMultiple = false;
          this.enableIsMultipleQuatation = false;
          this.enableAllowExtensionRadio = false;

          this.enableisExtension = false;
        } else if (this.editedItem.typeOfOrderID == 1405) {
          if (this.$refs.refpurchaseinfoLine != undefined) {
            this.$refs.refpurchaseinfoLine.enableDistributionInfo = false;
            this.$refs.refpurchaseinfoLine.enableschdAgreementNo = true;
            this.$refs.refpurchaseinfoLine.enabletenderAgencyNo = true;
            this.$refs.refpurchaseinfoLine.enablePurchaselotDeliveries = false;
            this.$refs.refpurchaseinfoLine.enableDeliveryDate = true;
            this.$refs.refpurchaseinfoLine.enableshipToAddress = true;
          }
          this.enableIsMultipleQuatation = false;
          this.enableAllowExtensionRadio = false;
          this.enableisExtension = false;

          this.enableisExtensionInfoMultiple = false;
        } else if (this.editedItem.typeOfOrderID == 1406) {
          if (this.$refs.refpurchaseinfoLine != undefined) {
            this.$refs.refpurchaseinfoLine.enableschdAgreementNo = false;
            this.$refs.refpurchaseinfoLine.enabletenderAgencyNo = false;
            this.$refs.refpurchaseinfoLine.enablePurchaselotDeliveries = true;
            this.$refs.refpurchaseinfoLine.enableDeliveryDate = false;
            this.$refs.refpurchaseinfoLine.enableshipToAddress = true;
            this.$refs.refpurchaseinfoLine.enableProjectedStatus = false;
            this.$refs.refpurchaseinfoLine.enableDistributionInfo = false;
            this.$refs.refpurchaseinfoLine.enableProjectedDelivery = false;
          }
          this.enableIsMultipleQuatation = true;
          this.enableAllowExtensionRadio = true;

          if ((this.isMultipleQuatationNo = "true")) {
            this.enableisExtensionInfoMultiple = true;
          }
          if ((this.isMultipleQuatationNo = "false")) {
            this.enableisExtensionInfoMultiple = false;
          }
          if (this.isAllowExtension == "true") {
            this.enableisExtension = true;
          } else if (this.isAllowExtension == "false") {
            this.enableisExtension = false;
          }
        } else if (this.editedItem.typeOfOrderID == 1407) {
          if (this.$refs.refpurchaseinfoLine != undefined) {
            this.$refs.refpurchaseinfoLine.enableschdAgreementNo = true;
            this.$refs.refpurchaseinfoLine.enabletenderAgencyNo = true;
            this.$refs.refpurchaseinfoLine.enablePurchaselotDeliveries = true;
            this.$refs.refpurchaseinfoLine.enableshipToAddress = false;
            this.$refs.refpurchaseinfoLine.enableProjectedStatus = false;
            this.$refs.refpurchaseinfoLine.enableDistributionInfo = false;
            this.$refs.refpurchaseinfoLine.typeOfOrderID = this.editedItem.typeOfOrderID;
          }
          this.enableIsMultipleQuatation = true;
          this.enableAllowExtensionRadio = true;

          if (this.isAllowExtension == "true") {
            this.enableisExtension = true;
          } else if (this.isAllowExtension == "false") {
            this.enableisExtension = false;
          }
          if ((this.isMultipleQuatationNo = "true")) {
            this.enableisExtensionInfoMultiple = true;
          }
          if ((this.isMultipleQuatationNo = "false")) {
            this.enableisExtensionInfoMultiple = false;
          }
        } else if (this.editedItem.typeOfOrderID == 1408) {
          if (this.$refs.refpurchaseinfoLine != undefined) {
            this.$refs.refpurchaseinfoLine.enableschdAgreementNo = false;
            this.$refs.refpurchaseinfoLine.enabletenderAgencyNo = false;
            this.$refs.refpurchaseinfoLine.enablePurchaselotDeliveries = true;
            this.$refs.refpurchaseinfoLine.enableDistributionInfo = false;
            this.$refs.refpurchaseinfoLine.enableProjectedDelivery = false;
            this.$refs.refpurchaseinfoLine.typeOfOrderID = this.editedItem.typeOfOrderID;
          }
          this.enableIsMultipleQuatation = true;
          this.enableAllowExtensionRadio = true;

          if (this.isAllowExtension == "true") {
            this.enableisExtension = true;
          } else if (this.isAllowExtension == "false") {
            this.enableisExtension = false;
          }
          if ((this.isMultipleQuatationNo = "true")) {
            this.enableisExtensionInfoMultiple = true;
          }
          if ((this.isMultipleQuatationNo = "false")) {
            this.enableisExtensionInfoMultiple = false;
          }
        } else if (this.editedItem.typeOfOrderID == 1409) {
          if (this.$refs.refpurchaseinfoLine != undefined) {
            this.$refs.refpurchaseinfoLine.enableschdAgreementNo = true;
            this.$refs.refpurchaseinfoLine.enabletenderAgencyNo = true;
            this.$refs.refpurchaseinfoLine.enablePurchaselotDeliveries = true;
            this.$refs.refpurchaseinfoLine.enableDeliveryDate = false;
            this.$refs.refpurchaseinfoLine.enableshipToAddress = false;
            this.$refs.refpurchaseinfoLine.enableDistributionInfo = false;
            this.$refs.refpurchaseinfoLine.enableProjectedDelivery = true;
            this.$refs.refpurchaseinfoLine.enableProjectedStatus = true;
          }
          if (this.isAllowExtension == "true") {
            this.enableisExtension = true;
          } else if (this.isAllowExtension == "false") {
            this.enableisExtension = false;
          }
          this.enableIsMultipleQuatation = true;
          this.enableAllowExtensionRadio = true;

          if ((this.isMultipleQuatationNo = "true")) {
            this.enableisExtensionInfoMultiple = true;
          }
          if ((this.isMultipleQuatationNo = "false")) {
            this.enableisExtensionInfoMultiple = false;
          }
        }
      }
    },
    onClickCustomer(item) {
      this.menuprodSearch = false;
      this.editedItem.tagAlongCustomerID = item.customerID;
      this.editedItem.tagAlongTenderID = item.tenderAgencyID;
      this.editedItem.tagAlongCustomerName = item.customerName;
    },
    selectAllowExtension() {
      if (this.isAllowExtension == "true") {
        this.editedItem.isAllowExtension = true;
      }
      if (this.isAllowExtension == "false") {
        this.editedItem.isAllowExtension = false;
      }
      if (this.editedItem.isAllowExtension == true) {
        this.enableisExtension = true;
      } else {
        this.enableisExtension = false;
      }
    },
    selectisExtensionInfoMultiple() {
      if (this.isExtensionInfoMultiple == "true") {
        this.editedItem.isExtensionInfoMultiple = true;
      }
      if (this.isExtensionInfoMultiple == "false") {
        this.editedItem.isExtensionInfoMultiple = false;
      }
    },
    selectisEachDistribution() {
      if (this.isEachDistribution == "true") {
        this.editedItem.isEachDistribution = true;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.isEachDistribution = true;
        }
      }
      if (this.isEachDistribution == "false") {
        this.editedItem.isEachDistribution = false;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.isEachDistribution = false;
        }
      }
    },
    add() {
      this.uploadbtn = true;
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      this.uploadedAttachment = new FormData();
      this.attachfiles = new FormData();
      this.sessionID = "";
      // this.$refs.attachUpload.clear();

      //  this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);

      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.$refs.refpurchaseinfoLine.enableAddButton = true;
      this.$refs.refpurchaseinfoLine.gridItems = [];
      this.isMultipleQuatationNo = "";
      this.isAllowExtension = "";
      this.isExtensionInfoMultiple = "";
      this.isEachDistribution = "";
      this.enableisExtension = false;
      this.enableIsMultipleQuatation = true;
      this.enableAllowExtensionRadio = true;
      this.enableIsEachDistribution = false;
      this.enableisExtensionInfoMultiple = true;
      this.enableOrderPeriod = false;
      this.disableTypeOfOrder = false;
    },

    //file upload

    // attachfileChanged(args) {
    //   console.log(args);
    //   if (args != undefined) {
    //     Array.from(args).forEach(file => {
    //       let fileSize = file.size / 1000000;
    //       if (fileSize <= 100) {
    //         // this.uploadedFileNames.push({ fileName: file.name });
    //         // this.uploadedAttachment.append("file", file, file.name);
    //         this.attachuploadedfileNames.push(file.name);
    //         this.attachuploadedFiles.push(file);
    //         this.attachfiles.append("file", file, file.name);
    //         this.attachshowdownload = false;
    //       } else {
    //         window.getApp.$emit(
    //           "APP_API_VAL",
    //           file.name + " - File size exceeded 100MB"
    //         );
    //       }
    //     });
    //     this.$refs.frmattach.subloaders = true;

    //     uploadSalesOrderEntryDocuments(this.attachfiles, this.sessionID)
    //       .then(responses => {
    //         this.attachfiles = new FormData();
    //         this.$refs.frmattach.getDocuments();

    //         this.$refs.frmattach.subloaders = false;
    //       })
    //       .catch(error => {
    //         this.$refs.frmattach.subloaders = false;
    //         window.getApp.$emit("APP_API_ERROR", error);
    //       });
    //   }
    // },
    // closeattach() {
    //   this.attachdialog = false;
    // },

    // fileAttachment() {
    //   this.$refs.frmattach.attachments = [];
    //   this.$refs.attachUpload.clear();
    //   if (this.editedItem.sessionID != null) {
    //     this.$refs.frmattach.sessionID = this.editedItem.sessionID;
    //     this.sessionID = this.editedItem.sessionID;
    //   } else if (this.sessionID != null) {
    //     this.$refs.frmattach.sessionID = this.sessionID;
    //   }
    //   this.$refs.frmattach.sessionID = this.sessionID;
    //   this.$refs.frmattach.getDocuments();
    //   this.attachdialog = true;
    // },
    // fileAttachments(item) {
    //   console.log("File attachement" + JSON.stringify(item));
    //   this.editedItem = Object.assign({}, item);
    //   this.sessionID = this.editedItem.sessionID;
    //   this.sessionID = item.sessionID;
    //   this.$refs.frmattach.sessionID = item.sessionID;
    //   this.$refs.frmattach.getDocuments();
    //   this.attachdialog = true;
    // },

    //file upload

    saveAndClose() {
      this.save();
      this.close();
    },
    searchmenuClose() {
      this.searchmenu = false;

      this.searchSales.companyID = null;
      this.searchSales.orderByID = 1403;
      this.searchSales.customerID = null;
      this.searchSales.tenderAgencyID = null;
      this.searchSales.typeOfOrderID = null;
      this.searchSales.itemCustomerID = null;
      this.searchSales.distributionCustomerID = null;
    },
    toolfunction() {
      getSalesOrderEntryData(this.searchItem)
        .then((response) => {
          if (response.data != undefined && response.data != null) {
            if (response.data.salesOrderEntryID != null) {
              this.editedItem = response.data;

              this.$refs.refpurchaseinfoLine.companyID = this.editedItem.companyID;
              this.$refs.refpurchaseinfoLine.salesOrderEntryID = this.editedItem.salesOrderEntryID;
              // this.$refs.refpurchaseinfoLine.isAllowExtension = this.editedItem.isAllowExtension;
              // this.$refs.refpurchaseinfoLine.extensionMonth = this.editedItem.extensionMonth;
              // this.$refs.refpurchaseinfoLine.extensionQuantity = this.editedItem.extensionQuantity;
              this.$refs.refpurchaseinfoLine.loadDropdownList();
              if (response.data.isMultipleQuatationNo == true) {
                this.isMultipleQuatationNo = "true";
              } else if (response.data.isMultipleQuatationNo == false) {
                this.isMultipleQuatationNo = "false";
                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.isMultipleQuatationNo =
                    response.data.isMultipleQuatationNo;
                }
              }
              if (response.data.isAllowExtension == true) {
                this.isAllowExtension = "true";
                this.enableisExtension = true;
              } else if (response.data.isAllowExtension == false) {
                this.isAllowExtension = "false";
                this.enableisExtension = false;
              }
              if (response.data.isEachDistribution == true) {
                this.isEachDistribution = "true";
                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.isEachDistribution = true;
                }
              } else if (response.data.isEachDistribution == false) {
                this.isEachDistribution = "false";
                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.isEachDistribution = false;
                }
              }
              if (response.data.isExtensionInfoMultiple == true) {
                this.isExtensionInfoMultiple = "true";
              } else if (response.data.isExtensionInfoMultiple == false) {
                this.isExtensionInfoMultiple = "false";
              }
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },

    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    addFormDialog() {
      this.add();
    },
    searchClick() {
      this.gridloader = true;
      getSalesOrderEntryBySearch(this.searchSales)
        .then((response) => {
          this.gridloader = false;
          this.gridItems = response.data;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.searchmenu = false;
    },
    close() {
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.isMultipleQuatationNo = "";
        this.isAllowExtension = "";
        this.isExtensionInfoMultiple = "";
        this.isEachDistribution = "";
        this.enableisExtension = false;
        this.enableIsMultipleQuatation = true;
        this.enableAllowExtensionRadio = true;
        this.enableIsEachDistribution = false;
        this.enableisExtensionInfoMultiple = true;
        this.enableOrderPeriod = false;
        this.disableTypeOfOrder = false;
        this.dialog = false;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.gridItems = [];
        }
      }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    getNavItem(id) {
      if (id > 0) {
        getNavItemsForSalesEntry(id)
          .then((response) => {
            if (this.$refs.refpurchaseinfoLine != undefined) {
              this.$refs.refpurchaseinfoLine.productNoItems = response.data;
            }
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      let id = item.salesOrderEntryID;

      //

      this.sessionID = item.sessionID;
      this.salesOrderEntryID = item.salesOrderEntryID;
      console.log(JSON.stringify(this.sessionID));

      //

      if (id != null && id > 0) {
        getSalesOrderEntryItemById(id)
          .then((response) => {
            if (response.data != null) {
              this.editedItem = response.data;
              this.editedItem.orderPeriodFrom = moment(
                response.data.orderPeriodFrom
              ).format("YYYY-MM-DD");
              this.editedItem.orderPeriodTo = moment(
                response.data.orderPeriodTo
              ).format("YYYY-MM-DD");

              if (response.data.isAllowExtension == true) {
                this.enableisExtension = true;
                this.isAllowExtension = "true";
              } else if (response.data.isAllowExtension == false) {
                this.enableisExtension = false;
                this.isAllowExtension = "false";
              }

              if (response.data.orderByID == 1403) {
                this.disableTypeOfOrder = true;
                this.editedItem.typeOfOrderID = 1406;
                this.enableIsEachDistribution = true;
              }
              if (response.data.orderByID == 1402) {
                this.enableIsEachDistribution = false;
              }

              if (this.$refs.refpurchaseinfoLine != undefined) {
                this.$refs.refpurchaseinfoLine.enableAddButton = false;
                this.$refs.refpurchaseinfoLine.salesOrderEntryID =
                  response.data.salesOrderEntryID;
                this.$refs.refpurchaseinfoLine.companyID =
                  response.data.companyID;
                this.$refs.refpurchaseinfoLine.isEachDistribution =
                  response.data.isEachDistribution;
                this.$refs.refpurchaseinfoLine.typeOfOrderID =
                  response.data.typeOfOrderID;
                this.$refs.refpurchaseinfoLine.orderByID =
                  response.data.orderByID;
              }
            }
            this.getNavItem(response.data.companyID);
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      // this.editedItem = Object.assign({}, item);
      // console.log("item result" + JSON.stringify(item));
      this.uploadbtn = false;

      // if (this.$refs.refpurchaseinfoLine != undefined) {
      //   this.$refs.refpurchaseinfoLine.enableAddButton = false;
      //   this.$refs.refpurchaseinfoLine.companyID = item.companyID;
      //   this.$refs.refpurchaseinfoLine.salesOrderEntryID = item.salesOrderEntryID;
      //   this.$refs.refpurchaseinfoLine.isAllowExtension = item.isAllowExtension;
      //   this.$refs.refpurchaseinfoLine.extensionMonth = item.extensionMonth;
      //   this.$refs.refpurchaseinfoLine.extensionQuantity = item.extensionQuantity;
      //   this.$refs.refpurchaseinfoLine.orderNo = item.orderNo;
      //   this.$refs.refpurchaseinfoLine.orderById = item.orderByID;
      //   this.$refs.refpurchaseinfoLine.loadDropdownList();

      // }

      setTimeout(() => {
        this.dialog = true;
        this.loadRadiobuttonItems();
        this.enableItems();
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.typeOfOrderID = this.editedItem.typeOfOrderID;
          this.$refs.refpurchaseinfoLine.loadDropdownList();
        }
      }, 400);
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    searchClose() {
      this.searchmenu = false;
    },
    loadRadiobuttonItems() {
      if (this.editedItem.isMultipleQuatationNo == true) {
        this.isMultipleQuatationNo = "true";
        this.enableisExtensionInfoMultiple = true;
      } else if (this.editedItem.isMultipleQuatationNo == false) {
        this.isMultipleQuatationNo = "false";
        this.enableisExtensionInfoMultiple = false;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          if (
            this.editedItem.typeOfOrderID == 1404 ||
            this.editedItem.typeOfOrderID == 1405
          ) {
            this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = true;
          } else {
            this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = this.editedItem.isMultipleQuatationNo;
          }
        }
      }
      if (this.editedItem.isAllowExtension == true) {
        this.isAllowExtension = "true";
        this.enableisExtension = true;
      } else if (this.editedItem.isAllowExtension == false) {
        this.isAllowExtension = "false";
        this.enableisExtension = false;
      }
      if (this.editedItem.isEachDistribution == true) {
        this.isEachDistribution = "true";
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.isEachDistribution = true;
        }
      } else if (this.editedItem.isEachDistribution == false) {
        this.isEachDistribution = "false";
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.isEachDistribution = false;
        }
      }
      if (this.editedItem.isExtensionInfoMultiple == true) {
        this.isExtensionInfoMultiple = "true";
      } else if (this.editedItem.isExtensionInfoMultiple == false) {
        this.isExtensionInfoMultiple = "false";
      }
    },
    save() {
      if (this.$refs.form.validate()) {
        if (this.editedIndex > -1) {
          this.saveloader = true;
          this.loader = true;
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

          updateSalesOrderEntry(this.editedItem)
            .then((response2) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.editedItem.sessionID = "";
              this.uploadedFiles = [];
              if (this.$refs.refpurchaseinfoLine != undefined) {
                this.$refs.refpurchaseinfoLine.orderById =
                  response2.data.orderByID;
                this.$refs.refpurchaseinfoLine.orderNo = response2.data.orderNo;
                this.$refs.refpurchaseinfoLine.typeOfOrderID =
                  response2.data.typeOfOrderID;
                this.editedItem.sessionID = response2.data.sessionID;
                if (
                  response2.data.typeOfOrderID == 1404 ||
                  response2.data.typeOfOrderID == 1405
                ) {
                  this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = true;
                } else {
                  this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = this.editedItem.isMultipleQuatationNo;
                }
              }
              //this.add();
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.profileID = this.applicationFormData.profileID;
          this.loader = true;
          this.saveloader = true;
          console.log("insert editedItem" + JSON.stringify(this.editedItem));
          createSalesOrderEntry(this.editedItem)
            .then((response2) => {
              if (response2.data != undefined) {
                this.gridItems.push(response2.data);
                this.loader = false;
                this.saveloader = false;
                console.log("response data" + JSON.stringify(response2.data));
                let index = this.gridItems
                  .map((item) => item.salesOrderEntryID)
                  .indexOf(response2.data.salesOrderEntryID);
                this.editedIndex = index;
                this.editedItem.sessionID = response2.data.sessionID;

                //
                this.sessionID = response.data.sessionID;
                this.salesOrderEntryID = response.data.salesOrderEntryID;

                //

                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.salesOrderEntryID =
                    response2.data.salesOrderEntryID;
                  this.$refs.refpurchaseinfoLine.companyID =
                    response2.data.companyID;
                  this.$refs.refpurchaseinfoLine.enableAddButton = false;
                  this.$refs.refpurchaseinfoLine.orderById =
                    response2.data.orderByID;
                  this.$refs.refpurchaseinfoLine.orderNo =
                    response2.data.orderNo;
                  this.$refs.refpurchaseinfoLine.typeOfOrderID =
                    response2.data.typeOfOrderID;
                  if (
                    response2.data.typeOfOrderID == 1404 ||
                    response2.data.typeOfOrderID == 1405
                  ) {
                    this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = true;
                  } else {
                    this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = this.editedItem.isMultipleQuatationNo;
                  }
                }
                this.editedItem.profileReferenceNo =
                  response2.data.profileReferenceNo;
                this.uploadbtn = false;
                //this.editedItem = response2.data;
                this.editedItem.salesOrderEntryID =
                  response2.data.salesOrderEntryID;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                setTimeout(() => {
                  this.getNavItem(response2.data.companyID);
                }, 300);
              }
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
        this.loader = false;
        this.saveloader = false;
      }
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.salesOrderEntryID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteSalesOrderEntry(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>

 <style scoped>
.task-sub--scroll {
  overflow: auto;
  height: calc(100vh - 90px);
}

.textBackground {
  border-radius: 10px;
  padding: 5px;
}
.layoutbg {
  border-style: solid;
  border-radius: 8px !important;
  border-color: rgb(216, 222, 247);
  border-width: 1px;
  padding: 8px;
}

.entryfield {
  background: white !important;
  border-radius: 16px !important;
  padding: 6px;
}
.entrytext {
  border-radius: 16px !important;
  padding: 6px;
}
.layoutborder {
  border-color: indigo;
  border-width: thick;
  border-radius: 1px !important;
  border-right-width: 9px;
  padding: 2px;
}
.borderlayout {
  border-radius: 9px !important;
  border-color: gray;
  border-width: 2px;
  padding: 6px;
}
.titlecard {
  border-color: transparent;
  border-bottom-width: 0px;
  color: transparent;
  padding: 8px;
  padding-top: 2px;
}
.dataField {
  padding: 8px;
  color: lavender;
  background-color: lightblue;
  border-width: 6px;
}
</style>