<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          v-model="menuSearch"
          transition="scale-transition"
          offset-y
          max-width="500px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>
          <v-card>
            <div class="task-sub--scroll">
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex lg12 sm12>
                    <div class="mt-3 title">Search and Filter</div>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Country"
                      prepend-icon="list"
                      v-model="editedItem.countryId"
                      :items="countryItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      chips
                      color="blue"
                      @change="onChnageCountryGenericCode"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Customer"
                      prepend-icon="list"
                      v-model="editedItem.customerId"
                      :items="companyItems"
                      item-text="companyListingName"
                      item-value="companyListingID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-menu
                      v-model="startDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="validFromFormated"
                        label="Price Validity From"
                        prepend-icon="today"
                        readonly
                        clearable
                        @click:clear="clearableStartDate"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.fromValidity"
                        @change="startDateMenu = false"
                        type="month"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-menu
                      v-model="endDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="validEndFormated"
                        label="Price Validity To"
                        prepend-icon="today"
                        clearable
                        readonly
                        @click:clear="clearableEndDate"
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.toValidity"
                        @change="endDateMenu = false"
                        :min="editedItem.fromValidity"
                        type="month"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-autocomplete
                      label="Product Name"
                      prepend-icon="list"
                      v-model="editedItem.productId"
                      :items="genericCodeItems"
                      item-text="code"
                      item-value="genericCodeId"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </div>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" outline @click.native="searchClick"
                >Search</v-btn
              >
              <v-btn color="primary" outline @click.native="clearSearch"
                >Clear</v-btn
              >
              <v-btn outline color="primary" @click="menuSearch = false"
                >Cancel</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter</span>
      </v-tooltip>
      <download-excel
        class="btn btn-default"
        :title="headerItems"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="Customer Selling Catalogue with Matching Navision Item No.xls"
      >
        <v-btn icon @click="getExcel">
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon="" @click="loadPagingData()">
        <v-icon icon> refresh </v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="gridloader"
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <!-- <td class="text-xs-left">{{ props.item.customerName }}</td> -->
        <td class="text-xs-left">{{ props.item.countryName }}</td>
        <td class="text-xs-left">{{ props.item.customerName }}</td>
        <td class="text-xs-left">{{ props.item.productName }}</td>
        <td class="text-xs-left">{{ props.item.pricingMethodName }}</td>
        <td class="text-xs-left">{{ props.item.currencyName }}</td>
        <td class="text-xs-left">{{ props.item.sellingPrice }}</td>
        <td class="text-xs-left">{{ props.item.qty }}</td>
        <td class="text-xs-left">{{ props.item.bonus }}</td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { getPlants } from "@/api/plant";
import { getCompanyListings } from "@/api/companyListing";
import search from "@/search";
import { getData } from "@/api/paggedapi";
import { getSellingCatalogueReport } from "@/api/sellingCatalogue";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getGenericCodeByCountry } from "@/api/itemMaster";
import GlobalMessage from "@/constant";
import moment from "moment";
export default {
  computed: {},
  created() {
    this.loadDropdownList();
     search.methodName = "GetSellingCatalogueReprt";
    this.loadPagingData();
  },
  data: () => ({
    loading: false,
    totalRows: 0,
    gridloader: false,
    menuSearch: false,
    gridItems: [],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    search: "",
    loader: false,
    headerItems: [],
    startDateMenu: false,
    endDateMenu: false,
     filterFields: [
     
      "SellingPriceInfo.SellingCatalogue.Country.Value",
      "SellingPriceInfo.SellingCatalogue.Company.CompanyName",     
      "SellingPriceInfo.PricingMethod.Value",
      "SellingPriceInfo.BonusCurrency.Value",     
    ],
    headers: [
      { text: "Country", value: "countryName", width: "400px", align: "left" },
      {
        text: "Customer",
        value: "customerName",
        width: "400px",
        align: "left",
      },
      {
        text: "Product",
        value: "productName",
        width: "400px",
        align: "left",
        sortable: false,
      },
      {
        text: "Pricing Method",
        value: "pricingMethodName",
        width: "400px",
        align: "left",
        
      },
      {
        text: "Currency",
        value: "currencyName",
        width: "400px",
        align: "left",
      },
      {
        text: "Selling Price",
        value: "sellingPrice",
        width: "400px",
        align: "left",
      },
      { text: "Qty", value: "qty", width: "400px", align: "left" },
      { text: "Bonus", value: "bonus", width: "400px", align: "left" },
    ],
    json_fields: {
      Country: "countryName",
      Customer: "customerName",
      Navision: "navisionList",
      "Pricing Method": "pricingMethodName",
      Currency: "currencyName",
      "Selling Price": "sellingPrice",
      Qty: "qty",
      Bonus: "bonus",
    },
    countryItems: [],
    companyItems: [],
    genericCodeItems: [],
    editedItem: {
      countryId: null,
      customerId: null,
      productId: null,
      fromValidity: null,
      toValidity: null,
    },
    defaultItem: {
      countryId: null,
      customerId: null,
      productId: null,
      fromValidity: null,
      toValidity: null,
    },
  }),
  computed: {
    validFromFormated() {
      return this.editedItem.fromValidity
        ? moment(this.editedItem.fromValidity).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : null;
    },
    validEndFormated() {
      return this.editedItem.toValidity
        ? moment(this.editedItem.toValidity).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : null;
    },
     loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  methods: {
    loadDropdownList() {
      this.loader = true;
      getApplicationMasterDetailByType(109)
        .then((response) => {
          this.countryItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCompanyListings()
        .then((response) => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    clearSearch() {
      this.editedItem = Object.assign({}, this.defaultItem);     
      search.methodName = "GetSellingCatalogueReprt";
       this.loadPagingData();
    },
    onChnageCountryGenericCode() {

      this.genericCodeItems = [];
      if (this.editedItem.countryId != undefined) {
        getGenericCodeByCountry(this.editedItem.countryId)
          .then((response) => {
            this.genericCodeItems = response.data;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    searchClick(){
        search.sellingCatalogueSearch = this.editedItem;
      search.methodName = "GetSellingCatalogueReprtFilter";
       this.loadPagingData();

    },
      getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      search.methodName = "GetSellingCatalogueReprt";
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "SellingPricingTiersId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.sellingCatalogueSearch = this.editedItem;
      //search.methodName = "GetSellingCatalogueReprt";    
      search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;    
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;     
      if (args.sortBy == "countryName") {
        search.sortCol = "SellingPriceInfo.SellingCatalogue.Country.Value";
      } else if (args.sortBy == "customerName") {
        search.sortCol = "SellingPriceInfo.SellingCatalogue.Company.CompanyName";
      }  else if (args.sortBy == "pricingMethodName") {
        search.sortCol = "SellingPriceInfo.PricingMethod.Value";
      } else if (args.sortBy == "currencyName") {
        search.sortCol = "SellingPriceInfo.BonusCurrency.Value";
      }  else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.sellingCatalogueSearch = this.editedItem;
       search.methodName =
        search.methodName == "" ? "GetSellingCatalogueReprt" : search.methodName;     
      console.log("Pagination", args);     
      this.gridloader = true;
      
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    clearableStartDate() {
      this.editedItem.fromValidity = null;
    },
    clearableEndDate() {
      this.editedItem.toValidity = null;
    },
    getExcel() {
      this.headerItems = [
        "Date: " + moment(Date.now()).format(GlobalMessage.DATEFORMAT),
        "Report by: " + this.$store.state.auth.userName,
      ];
    },
    // selectSearch() {
    //   this.loader = true;
    //   this.loading = true;
    //   getSellingCatalogueReport(this.editedItem)
    //     .then((response) => {
    //       this.gridItems = response.data;
    //       this.loader = false;
    //       this.loading = false;
    //     })
    //     .catch((error) => {
    //       this.loader = false;
    //       window.getApp.$emit("APP_API_ERROR", error);
    //     });
    // },
  },
};
</script>
<style lang="stylus" scoped>
.task-sub--scroll {
  overflow: auto;
  height: calc(100vh - 200px - 60px);
}
</style>