<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>

      <v-btn icon @click="initialize()">
        <v-icon icon>refresh</v-icon>
      </v-btn>

      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="ipir.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn slot="activator" :disabled="enableAddButton" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose" :disabled="enableAddButton">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="save" :disabled="enableAddButton">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add" :disabled="enableAddButton">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Selling Catalogue</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow" :disabled="enableAddButton">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first" :disabled="enableAddButton">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous" :disabled="enableAddButton">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next" :disabled="enableAddButton">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last" :disabled="enableAddButton">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm9>
                    <v-layout row wrap>
                      <!-- <v-flex xs12 sm6>
                        <v-autocomplete label="Manufacturing Site" prepend-icon="description" :items="companyItems" item-text="companyListingName" item-value="companyListingID" chips></v-autocomplete>
                      </v-flex>-->
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Product Name" prepend-icon="description" v-model="editedItem.productID" :items="genericCodeItems" item-text="code" item-value="genericCodeID" chips @change="selectProduct"></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete label="Supply To" prepend-icon="list" v-model="editedItem.genericCodeSupplyToMultipleId" :items="supplyToItems" chips auto item-text="description" item-value="genericCodeSupplyToMultipleId" @change="getsupplyTolist">
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field v-model="uom" label="UOM" prepend-icon="select_all" readonly></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-autocomplete :loading="loader" label="Sales Pricing Method" prepend-icon="notes" v-model="editedItem.pricingMethodID" :items="pricingMethodItems" item-text="value" item-value="applicationMasterDetailId" chips @change="selectPricingMethod"></v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm6></v-flex>
                      <v-flex xs12 sm11>
                        <v-layout row wrap v-if="isBonus" class="reference">
                          <v-flex xs12 sm12 v-if="isBonus">
                            <v-autocomplete label="Selling Currency" prepend-icon="notes" v-model="editedItem.bonusCurrencyID" :items="currencyItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                          </v-flex>
                          <v-flex xs12 sm6 v-if="isBonus">
                            <v-dialog v-model="pricingdialog" :disabled="enablePricingAddButton" max-width="400px" max-height="300px">
                              <v-btn slot="activator" :disabled="enablePricingAddButton" icon @click="addPricing">
                                <v-icon>add_circle_outline</v-icon>
                              </v-btn>
                              <v-card>
                                <v-toolbar card dense color="primary">
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="closePricing">
                                      <v-icon color="white">reply</v-icon>
                                    </v-btn>
                                    <span>Go Back</span>
                                  </v-tooltip>
                                  <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="saveAndClosePricing">
                                      <v-icon color="white">library_add</v-icon>
                                    </v-btn>
                                    <span>Save and Close</span>
                                  </v-tooltip>
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" :loading="savePricingloader" @click.native="savePricing">
                                      <v-icon color="white">save</v-icon>
                                    </v-btn>
                                    <span>Save</span>
                                  </v-tooltip>
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="addPricing">
                                      <v-icon color="white">add</v-icon>
                                    </v-btn>
                                    <span>Create New Pricing Tiers</span>
                                  </v-tooltip>
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="deleterowPricing">
                                      <v-icon color="white">delete</v-icon>
                                    </v-btn>
                                    <span>Delete</span>
                                  </v-tooltip>

                                  <v-spacer></v-spacer>

                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="closePricing">
                                      <v-icon color="white">close</v-icon>
                                    </v-btn>
                                    <span>Close</span>
                                  </v-tooltip>
                                </v-toolbar>

                                <v-card-title>
                                  <span class="headline">Pricing Tiers</span>
                                </v-card-title>
                                <div style="
                                    overflow: auto;
                                    height: calc(60vh - 80px);
                                  ">
                                  <v-card-text>
                                    <v-flex xs12 sm12>
                                      <v-text-field v-model="pricingTiersItems.sellingPrice" label="Selling Price" prepend-icon="select_all"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                      <v-text-field v-model="pricingTiersItems.quantity" label="Quantity" prepend-icon="select_all"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                      <v-text-field v-model="pricingTiersItems.bonus" label="Bonus" prepend-icon="select_all"></v-text-field>
                                    </v-flex>
                                  </v-card-text>
                                </div>
                              </v-card>
                              <delete-confirmation-dialog ref="formdeletePricingConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formPricingDeleteItem"></delete-confirmation-dialog>
                              <delete-confirmation-dialog ref="deletePricingConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deletePricingItem"></delete-confirmation-dialog>
                            </v-dialog>
                            <v-data-table :headers="pricingTiersheaders" :items="sellingPricingTiersList" :search="pricingsearch" class="elevation-1" :rows-per-page-items="pricingrowsPerPageItems" :pagination.sync="pricingpagination">
                              <template slot="items" slot-scope="props">
                                <td class="text-xs-left">
                                  {{ props.item.sellingPrice }}
                                </td>
                                <td class="text-xs-left">
                                  {{ props.item.quantity }}
                                </td>
                                <td class="text-xs-left">
                                  {{ props.item.bonus }}
                                </td>

                                <td class="justify-center layout px-0">
                                  <v-icon small class="mr-2" @click="editPricingItem(props.item)">edit</v-icon>
                                  <v-icon small @click="deletePricing(props.item)">delete</v-icon>
                                </td>
                              </template>
                              <template slot="no-data">
                                <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.
                                </v-btn>
                              </template>
                            </v-data-table>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex xs12 xs1></v-flex>
                      <v-flex xs12 sm11>
                        <v-layout row wrap v-if="isMinQty" class="reference">
                          <v-flex xs12 sm12 v-if="isMinQty">
                            <v-autocomplete label="Selling Currency" prepend-icon="notes" v-model="editedItem.bonusCurrencyID" :items="currencyItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                          </v-flex>
                          <v-flex xs12 sm6 v-if="isMinQty">
                            <v-dialog v-model="pricingdialog" :disabled="enablePricingAddButton" max-width="400px" max-height="300px">
                              <v-btn slot="activator" :disabled="enablePricingAddButton" icon @click="addPricing">
                                <v-icon>add_circle_outline</v-icon>
                              </v-btn>
                              <v-card>
                                <v-toolbar card dense color="primary">
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="closePricing">
                                      <v-icon color="white">reply</v-icon>
                                    </v-btn>
                                    <span>Go Back</span>
                                  </v-tooltip>
                                  <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="saveAndClosePricing">
                                      <v-icon color="white">library_add</v-icon>
                                    </v-btn>
                                    <span>Save and Close</span>
                                  </v-tooltip>
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" :loading="savePricingloader" @click.native="savePricing">
                                      <v-icon color="white">save</v-icon>
                                    </v-btn>
                                    <span>Save</span>
                                  </v-tooltip>
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="addPricing">
                                      <v-icon color="white">add</v-icon>
                                    </v-btn>
                                    <span>Create New Pricing Tiers</span>
                                  </v-tooltip>
                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="deleteMinrowPricing">
                                      <v-icon color="white">delete</v-icon>
                                    </v-btn>
                                    <span>Delete</span>
                                  </v-tooltip>

                                  <v-spacer></v-spacer>

                                  <v-tooltip bottom>
                                    <v-btn icon slot="activator" @click.native="closePricing">
                                      <v-icon color="white">close</v-icon>
                                    </v-btn>
                                    <span>Close</span>
                                  </v-tooltip>
                                </v-toolbar>

                                <v-card-title>
                                  <span class="headline">Pricing Tiers</span>
                                </v-card-title>
                                <div style="
                                    overflow: auto;
                                    height: calc(60vh - 80px);
                                  ">
                                  <v-card-text>
                                    <v-flex xs12 sm12>
                                      <v-text-field v-model="pricingTiersItems.sellingPrice" label="Selling Price" prepend-icon="select_all"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                      <v-text-field v-model="pricingTiersItems.minQty" label="Min Quantity" prepend-icon="select_all"></v-text-field>
                                    </v-flex>
                                  </v-card-text>
                                </div>
                              </v-card>
                              <delete-confirmation-dialog ref="formdeleteMinPricingConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formMinPricingDeleteItem"></delete-confirmation-dialog>
                              <delete-confirmation-dialog ref="deleteMinPricingConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteMinPricingItem"></delete-confirmation-dialog>
                            </v-dialog>
                            <v-data-table :headers="pricingheaders" :items="minPricingTiersList" :search="pricingsearch" class="elevation-1" :rows-per-page-items="pricingrowsPerPageItems" :pagination.sync="pricingpagination">
                              <template slot="items" slot-scope="props">
                                <td class="text-xs-left">
                                  {{ props.item.sellingPrice }}
                                </td>
                                <td class="text-xs-left">
                                  {{ props.item.minQty }}
                                </td>
                                <td class="justify-center layout px-0">
                                  <v-icon small class="mr-2" @click="editMinItem(props.item)">edit</v-icon>
                                  <v-icon small @click="deleteMinPricing(props.item)">delete</v-icon>
                                </td>
                              </template>
                              <template slot="no-data">
                                <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.
                                </v-btn>
                              </template>
                            </v-data-table>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                      <v-flex xs12 sm1></v-flex>
                    </v-layout>
                  </v-flex>
                  <v-flex xs12 sm3>
                    <v-card color="primary lighten-5" width="100%" height="100%" class="reference">
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <span class="alignText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navision</span>
                        </v-flex>
                        <v-list class="referencetext" v-for="(menuitem, index) in navisionItems" :key="index">
                          <label>Navision No : &nbsp;&nbsp;&nbsp;&nbsp;</label>
                          <b>{{ menuitem.no }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />
                          <label>Manufacture by : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <b>{{ menuitem.itemCategoryCode }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />

                          <label>Description : &nbsp;&nbsp;</label>
                          <b>{{ menuitem.description }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />
                          <label>Description 2 : &nbsp;&nbsp;</label>
                          <b>{{ menuitem.description2 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />

                          <label>Internal Reference : &nbsp;&nbsp;</label>
                          <b>{{ menuitem.internalRef }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>

                          <br />

                          <label>BUOM : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <b>{{ menuitem.baseUnitofMeasure }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>
                          <br />
                          <label>Replenishment Method : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </label>
                          <b>{{ menuitem.vendorNo }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          </b>
                          <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <v-flex xs12 sm12>
                            <hr />
                          </v-flex>
                        </v-list>
                      </v-layout>
                    </v-card>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>

            <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem"></delete-confirmation-dialog>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" :loading="saveloader" :disabled="isProductExist" outline @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="sellingPriceInformationID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.productName }}</td>
          <td class="text-xs-left">{{ props.item.pricingMethod }}</td>
          <td class="text-xs-left">{{ props.item.bonusSellingPrice }}</td>
          <td class="text-xs-left">{{ props.item.quantity }}</td>
          <td class="text-xs-left">{{ props.item.bonus }}</td>
          <td class="text-xs-left">{{ props.item.minQty }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="sellingTiresItem(props.item)">mdi-eye</v-icon>
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon :disabled="enableAddButton" small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}
    </v-snackbar>
    <v-navigation-drawer class="setting-drawer" temporary right v-model="sellingTiresDrawer" hide-overlay fixed width="400">
      <selling-tires ref="refSellingTires"></selling-tires>
    </v-navigation-drawer>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import { getICTMasterByID } from "@/api/ictmaster";
  import { isValidFunction } from "@/api/checkPermission";
  import { getDepartments } from "@/api/section";
  import { getICTMasterlocation } from "@/api/CommonFieldsProductionMachine";
  import Util from "@/util";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
  import { getCompanyListings, getCustomerCompanyId } from "@/api/companyListing";
  import { getGenericCodeByCountry } from "@/api/itemMaster";
  import {
    getGenericCodesByCompanyLisitngID,
    getGenericCodeSupplyToMultipleById,
    getGenericCodeSupplyToMultipleByCountry
  } from "@/api/genericCodes";
  import { getProductGroupingNavItemsByGenericID } from "@/api/productGroupingNav";
  import {
    getSellingPriceInformationsByID,
    getSellingPriceInformationData,
    createSellingPriceInformation,
    updateSellingPriceInformation,
    deleteSellingPriceInformation,
    getSellingPriceTiersByID,
    createSellingPriceTiers,
    updateSellingPriceTiers,
    deleteSellingPriceTiers,
    getNavItemByGenericID,
  } from "@/api/sellingInformation";
  import SellingTires from "@/pages/productionplanning/productionplanningv1/sellingTires.vue";
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import { getPlants } from "@/api/nav";

  export default {
    components: {
      SellingTires
    },
    data: () => ({
      formId: "SAL5002",
      sellingTiresDrawer: false,
      companyId: null,
      refNo: "",
      companyListingId: -1,
      saveloader: false,
      savePricingloader: false,
      startDateMenu: false,
      pricingdialog: false,
      endDateMenu: false,
      enableAddButton: false,
      enablePricingAddButton: false,
      enableListReference: false,
      dialog: false,
      isMinQty: false,
      isBonus: false,
      pricingMethodItems: [],
      sellingPricingTiersList: [],
      currencyItems: [],
      companyItems: [],
      navisionItems: [],
      companyIds: [],
      genericCodeItems: [],
      supplyToItems: [],
      uom: "",
      loader: false,
      countryID: null,
      search: "",
      pricingsearch: "",
      selectedItem: null,
      pricingTiersItems: {
        sellingPricingTiersID: -1,
        sellingPriceInfoID: null,
        quantity: "",
        bonus: "",
        sellingCurrencyId: null,
        pricingMethodId: null,
        minQty: null,
        sellingPrice: null,
      },
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 },
      ],

      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      isProductExist: false,

      headers: [
        { text: "Product Name", value: "productName", align: "left" },
        { text: "Pricing Method", value: "pricingMethod", align: "left" },
        { text: "Selling Price", value: "bonusSellingPrice", align: "left" },
        { text: "Qty", value: "quantity", align: "left" },
        { text: "Bonus", value: "bonus", align: "left" },
        { text: "Min Qty ", value: "minQty", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      pricingTiersheaders: [
        { text: "Selling Price", value: "sellingPrice", align: "left" },
        { text: "Quantity", value: "quantity", align: "left" },
        { text: "Bonus", value: "bonus", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      pricingheaders: [
        { text: "Selling Price", value: "sellingPrice", align: "left" },
        { text: "Min Qty", value: "minQty", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      json_fields: {
        "Product Name": "productName",
        "Pricing Method": "pricingMethod",
        "Selling Currency": "sellingCurrency",
        "selling Price": "sellingPrice",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser",
      },
      gridItems: [],
      minPricingTiersList: [],
      productloader: false,
      editedIndex: -1,
      editedPricingIndex: -1,
      sellingCatalogueID: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      countryName: "",
      pagination: {
        rowsPerPage: 10,
      },
      pricingrowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pricingpagination: {
        rowsPerPage: 10,
      },
      editedItem: {
        valid: false,
        sellingPriceInformationID: -1,
        sellingCatalogueID: null,
        manufacturingID: null,
        sellingPricingTiersList: [],
        productID: null,
        pricingMethodID: null,
        bonusCurrencyID: null,
        bonusSellingPrice: 0,
        quantity: null,
        bonus: null,
        minCurrencyID: null,
        minPrice: 0,
        minQty: 0,
        addedByUserID: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserID: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        genericCodeSupplyToMultipleId: null,
        sellingPricingTiersList: [],
      },
      defaultItem: {
        valid: false,
        sellingPriceInformationID: -1,
        sellingCatalogueID: null,
        manufacturingID: null,
        productID: null,
        pricingMethodID: null,
        bonusCurrencyID: null,
        sellingPricingTiersList: [],
        bonusSellingPrice: 0,
        quantity: null,
        bonus: null,
        minCurrencyID: null,
        minPrice: 0,
        minQty: 0,
        addedByUserID: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserID: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
        sellingPricingTiersList: [],
      },
      supplyToIds: [],
      searchItem: { action: "", Id: null, searchString: "searchString" },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Selling Price Information"
          : "Edit Selling Price Information";
      },
    },

    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        if (this.enableAddButton == true) {
          this.isProductExist = this.enableAddButton;
        } else {
          //this.gridItems = [];
          if (this.sellingCatalogueID > 0) {
            let id = this.sellingCatalogueID;
            this.loader = true;
            getSellingPriceInformationsByID(id)
              .then((response) => {
                this.gridItems = response.data;
                this.loader = false;
                //this.total = response.data.length;
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          }

          this.loadDropDown();
        }
        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },
      sellingTiresItem (item) {
        this.$refs.refSellingTires.loadDropDown();
        this.$refs.refSellingTires.selectPricingMethod(item.pricingMethodID);
        this.$refs.refSellingTires.enablePricingAddButton = false;
        this.$refs.refSellingTires.editedItem.sellingPriceInformationID = item.sellingPriceInformationID;
        this.$refs.refSellingTires.getPricingTiers(item.sellingPriceInformationID);
        this.sellingTiresDrawer = true;
      },
      loadDropDown () {
        this.isBonus = false;
        this.isMinQty = false;
        if (this.sellingCatalogueID > 0) {
          let id = this.sellingCatalogueID;
          this.loader = true;
          getSellingPriceInformationsByID(id)
            .then((response) => {
              this.gridItems = response.data;
              this.loader = false;
              //this.total = response.data.length;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        if (this.companyListingId > 0) {
          getGenericCodesByCompanyLisitngID(this.companyListingId)
            .then((response) => {
              this.genericCodeItems = response.data;
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        getApplicationMasterDetailByType(262)
          .then((response) => {
            this.pricingMethodItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(229)
          .then((response) => {
            this.currencyItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialog = true;
        let id = this.editedItem.sellingPriceInformationID;
        this.selectPricingMethod(item.pricingMethodID);
        this.enablePricingAddButton = false;
        this.getPricingTiers(item.sellingPriceInformationID);
        this.selectProduct(item.productID, item.genericCodeSupplyToMultipleId);
      },
      getPricingTiers (value) {
        if (value > 0) {
          let id = value;
          getSellingPriceTiersByID(id)
            .then((response) => {
              this.sellingPricingTiersList = response.data;
              this.minPricingTiersList = response.data;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      editPricingItem (item) {
        this.editedPricingIndex = this.sellingPricingTiersList.indexOf(item);
        this.pricingTiersItems = Object.assign({}, item);
        this.pricingdialog = true;
      },
      editMinItem (item) {
        this.editedPricingIndex = this.minPricingTiersList.indexOf(item);
        this.pricingTiersItems = Object.assign({}, item);
        this.pricingdialog = true;
      },
      selectPricingMethod (value) {
        if (this.editedItem.pricingMethodID > 0) {
          let pricing = this.pricingMethodItems.filter(
            (p) => p.applicationMasterDetailId == this.editedItem.pricingMethodID
          );
          if (pricing.length > 0) {
            let name = pricing[0].value;
            if (name.toLowerCase().trim() == "bonus") {
              this.isBonus = true;
              this.isMinQty = false;
            }
            if (name.toLowerCase().trim() == "min qty") {
              this.isBonus = false;
              this.isMinQty = true;
            }
          }
        }
      },
      selectProduct (value, type) {
        if (this.editedItem.productID > 0) {
          let id = this.editedItem.productID;
          if (this.editedIndex < 0) {
            this.isProductExist = false;
            let product = this.gridItems.filter((g) => g.productID == id);
            if (product.length > 0) {
              this.isProductExist = true;
              window.getApp.$emit("APP_API_ERROR", "Product Already Exist");
              return;
            }
          }
          var genItem = this.genericCodeItems.filter(
            (g) => g.genericCodeID == id
          );
          if (genItem.length > 0) {
            this.uom = genItem[0].uom;
            this.supplyToIds = genItem[0].supplyToIds;
          }
          this.navisionItems = [];
          setTimeout(() => {
            this.loader = true;
            let countryId = 0;
            if (this.countryName.includes("Malaysia")) {
              countryId = 1;
            }
            if (this.countryName.includes("Singapore")) {
              countryId = 2;
            }
            getGenericCodeSupplyToMultipleByCountry(this.editedItem.productID, countryId)
              .then((response) => {
                this.loader = false;
                this.supplyToItems = response.data;
                if (type >= 0) {
                  this.getsupplyTolist(type);
                }
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
            var genItem = this.genericCodeItems.filter(
              (g) => g.genericCodeID == id
            );
          }, 500);
          if (genItem.length > 0) {
            this.uom = genItem[0].uomName;
          }
        }
      },
      getsupplyTolist (value) {
        let items = this.supplyToItems.filter(
          (o) => o.genericCodeSupplyToMultipleId == value
        );
        if (items.length > 0) {
          this.navisionItems = items[0]["navItemsList"];

          this.navisionItems = this.navisionItems.filter((f) =>
            this.companyIds.includes(f.companyId)
          );
        }
      },
      saveAndClosePricing () {
        this.savePricing();
        this.closePricing();
      },
      closePricing () {
        this.pricingdialog = false;
      },

      deleteMinrowPricing () {
        this.$refs.formdeleteMinPricingConfirmationDialog.openDialog();
      },
      formMinPricingDeleteItem () {
        this.$refs.formdeleteMinPricingConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedPricingIndex;
        deleteSellingPriceTiers(this.pricingTiersItems)
          .then(() => {
            this.getPricingTiers(
              this.pricingTiersItems.sellingPriceInformationID
            );
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            //this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      deleterowPricing () {
        this.$refs.formdeletePricingConfirmationDialog.openDialog();
      },
      formPricingDeleteItem () {
        this.$refs.formdeletePricingConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedPricingIndex;
        deleteSellingPriceTiers(this.pricingTiersItems)
          .then(() => {
            this.sellingPricingTiersList.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            //this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      deletePricing (item) {
        this.$refs.deletePricingConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deletePricingItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        let sellIndex = this.sellingPricingTiersList.indexOf(this.selectedItem);
        deleteSellingPriceTiers(this.selectedItem)
          .then(() => {
            this.loader = false;
            this.selectedItem = null;
            this.sellingPricingTiersList.splice(sellIndex, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      deleteMinPricing (item) {
        this.$refs.deleteMinPricingConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteMinPricingItem () {
        this.$refs.deleteMinPricingConfirmationDialog.close();
        deleteSellingPriceTiers(this.selectedItem)
          .then(() => {
            this.getPricingTiers(this.selectedItem.sellingPriceInformationID);
            this.loader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      savePricing () {
        if (this.editedItem.sellingPriceInformationID > 0) {
          this.pricingTiersItems.sellingPriceInfoID = this.editedItem.sellingPriceInformationID;
          this.pricingTiersItems.pricingMethodId = this.editedItem.pricingMethodID;
        }
        if (this.editedPricingIndex > -1) {
          if (this.sellingPricingTiersList.length > 0) {
            Object.assign(
              this.sellingPricingTiersList[this.editedPricingIndex],
              this.pricingTiersItems
            );
          }
          if (this.minPricingTiersList.length > 0) {
            Object.assign(
              this.minPricingTiersList[this.editedPricingIndex],
              this.pricingTiersItems
            );
          }
          this.savePricingloader = true;
          updateSellingPriceTiers(this.pricingTiersItems)
            .then((response2) => {
              this.savePricingloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.savePricingloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.savePricingloader = true;
          createSellingPriceTiers(this.pricingTiersItems)
            .then((response2) => {
              if (this.pricingTiersItems.minQty > 0) {
                this.minPricingTiersList.push(response2.data);
                let index = this.minPricingTiersList
                  .map((item) => item.sellingPricingTiersID)
                  .indexOf(response2.data.sellingPricingTiersID);
                this.editedPricingIndex = index;
              } else {
                this.sellingPricingTiersList.push(response2.data);
                let index = this.sellingPricingTiersList
                  .map((item) => item.sellingPricingTiersID)
                  .indexOf(response2.data.sellingPricingTiersID);
                this.editedPricingIndex = index;
              }
              this.savePricingloader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.savePricingloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.gridItems.indexOf(this.selectedItem);
        deleteSellingPriceInformation(this.selectedItem)
          .then(() => {
            this.loader = false;
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      saveAndClose () {
        this.save();
        setTimeout(() => {
          this.close();
        }, 600);
      },
      toolfunction () {
        getSellingPriceInformationData(this.searchItem)
          .then((response) => {
            if (response.data != undefined) {
              if (response.data.sellingPriceInformationID != null) {
                this.editedItem = response.data;
                this.uploadedfileNames = [];

                let name = response.data.fileName;
                if (name != null) {
                  this.uploadedfileNames.push(name);
                }
                let index = this.gridItems
                  .map((item) => item.sellingPriceInformationID)
                  .indexOf(response.data.sellingPriceInformationID);
                this.editedIndex = index;
              } else {
                window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
              }
            }
          })
          .catch((error) => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.sellingPriceInformationID;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.sellingPriceInformationID;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.sellingPriceInformationID;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      onEditorFocus () {
        window.getApp.$emit("ON_FOCUS", false);
        //this.treedrawer = false;
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.sellingPriceInformationID;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {
        this.editedItem.valid = false;
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = "Active";
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedIndex = -1;
        this.enablePricingAddButton = true;
        this.uom = "";
        this.sellingPricingTiersList = [];
        this.minPricingTiersList = [];
        this.editedItem.genericCodeSupplyToMultipleId = null;
        this.navisionItems = [];
        this.supplyToItems = [];

      },
      addPricing () {
        this.editedPricingIndex = -1;
        this.pricingTiersItems.bonus = "";
        this.pricingTiersItems.quantity = "";
        this.pricingTiersItems.minQty = null;
        this.pricingTiersItems.sellingPrice = null;
        this.pricingTiersItems.sellingCurrencyId = null;
        this.pricingTiersItems.pricingMethodId = null;
        this.pricingTiersItems.sellingPricingTiersID = -1;
      },
      deleterow () {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedIndex;

        deleteSellingPriceInformation(this.editedItem)
          .then(() => {
            this.add();
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            //this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
          this.sellingPricingTiersList = [];
          this.navisionItems = [];
        }, 600);
      },
      save () {
        this.editedItem.sellingCatalogueID = this.sellingCatalogueID;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.saveloader = true;
          updateSellingPriceInformation(this.editedItem)
            .then((response2) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.editedItem.sessionID = "";
              this.pricingTiersItems.sellingPriceInfoID =
                response2.data.sellingPriceInformationID;
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.saveloader = true;
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          createSellingPriceInformation(this.editedItem)
            .then((response2) => {
              this.gridItems.push(response2.data);
              this.loader = false;
              this.saveloader = false;
              this.pricingTiersItems.sellingPriceInfoID =
                response2.data.sellingPriceInformationID;
              let index = this.gridItems
                .map((item) => item.sellingPriceInformationID)
                .indexOf(response2.data.sellingPriceInformationID);
              this.editedIndex = index;
              this.enablePricingAddButton = false;
              this.editedItem.sellingPriceInformationID =
                response2.data.sellingPriceInformationID;
              this.getPricingTiers(response2.data.sellingPriceInformationID);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      },

      ValidFunction (permissionCode) {
        return isValidFunction(permissionCode, this.formId, this.$store);
      },
      customerCompanyId () {
        getCustomerCompanyId(this.companyListingId)
          .then((response) => {
            this.companyIds = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
    },
  };
</script>
<style lang="stylus" scoped>
  .ipir--scrollbar {
    height: calc(100vh - 90px);
  }

  .reference {
    border-style: solid;
    border-radius: 20px !important;
    border-color: rgb(216, 222, 247);
    border-width: 1px;
    padding: 8px;
  }

  .alignText {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
  }

  .referencetext {
    text-align: left !important;
    font-size: '10px';
    background-color: transparent !important;
  }
</style>
