<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 sm12>
        <v-card color="primary lighten-4" class="dashboardmainlayout">
          <v-layout row wrap>
            <v-flex xs12 sm2>
              <v-img src="/static/SW-Logo.png" max-height="125" contain max-width="200" style="padding=5px;"></v-img>
            </v-flex>
            <v-flex xs12 sm10>
              <br />
              <br />
              <div class="title">Sunward Pharmaceutical Holding</div>
              <div class="subtitle">
                -{{ titleCaption }}
                <!-- -Efforts and courage are not enough without purpose and
                direction -->
              </div>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs12 sm12>
        <v-card style="height: 110vh" class="dashboardlayout">
          <v-layout row wrap>
            <v-container id="dropdown-example" grid-list-xl style="max-width: 2000px">
              <v-flex xs12 sm12>
                <v-layout row wrap>
                  <v-flex xs12 sm3>
                    <v-flex xs12 sm12>

                      <mini-statistic title="HR Inform" color="background-color: #eed2fa;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="hrInform" icon="supervisor_account"></mini-statistic>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <mini-statistic icon="fa-calendar-check-o" title="Company Calander" color="background-color:#f6f6f6;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="companyEvents"></mini-statistic>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <mini-statistic icon="fa-building-o" title="Company Catalogue" color="background-color:#f5e6c4;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="companyDirectory"></mini-statistic>
                    </v-flex>
                    <!--  <v-flex xs12 sm12>
                      <mini-statistic
                        icon="fa fa-list"
                        title="Organisation Chart (Coming Soon...)"
                        color="orange darken-1"
                      ></mini-statistic>
                    </v-flex> -->
                    <v-flex xs12 sm12>
                      <mini-statistic icon="fa fa-list" title="Sales" color="background-color: #e9f0f6;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onClickSalesOrder"></mini-statistic>
                    </v-flex>
                    <v-flex xs12 sm12>
                        <mini-statistic icon="fa fa-shopping-cart" title="Inventory" sub-title="" color="background-color: #d9e5d0;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onclickInventory"></mini-statistic>
                      </v-flex>
                    <v-flex xs12 sm12>
                      <mini-statistic icon="fa fa-list" title="ICT" color="background-color: #adcce9;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onBlankFirst"></mini-statistic>

                    </v-flex>
                    <v-flex xs12 sm12>
                      <mini-statistic icon="fa-calendar-check-o" title="Personal Calender" color="background-color: #adcce9;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onPersonalCalender"></mini-statistic>

                    </v-flex>
                    <v-flex xs12 sm12>
                      <mini-statistic icon="fa-calendar-check-o" title="Production Activity App" color="background-color: #adcce9;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onProductionActivityApp"></mini-statistic>

                    </v-flex>
                  </v-flex>

                  <v-flex xs12 sm6>
                    <dashboard-events></dashboard-events>
                  </v-flex>

                  <v-flex xs12 sm3>
                    <v-layout row wrap>
                      <v-flex xs12 sm12>
                        <mini-statistic icon="fa fa-shopping-cart" title="Planning" sub-title="" color="background-color: #d9e5d0;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onclickPlanning"></mini-statistic>
                      </v-flex>
                       <v-flex xs12 sm12>
                      <mini-statistic icon="fa fa-list" title="Production" color="background-color: #f9eee6;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onClickproductionEntry"></mini-statistic>
                    </v-flex>
                     
                      <v-flex xs12 sm12>
                        <mini-statistic icon="fa fa-list" title="Quality Assurance" color="background-color: #fbeced;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onclickQualityAssurance"></mini-statistic>
                      </v-flex>
                      <v-flex xs12 sm12>
                        <mini-statistic icon="fa fa-list" title="Quality Control" color="background-color: #f1b5b8;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onClickcQc"></mini-statistic>
                      </v-flex>
                      <v-flex xs12 sm12>
                        <mini-statistic icon="fa fa-list" title="Regulatory department" color="background-color: #eed2fa;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onclickRegulatorydepartment"></mini-statistic>
                      </v-flex>
                      <v-flex xs12 sm12>
                        <mini-statistic icon="fa fa-list" title="Research and department" color="background-color: #fef9e6;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onclickResearch"></mini-statistic>
                      </v-flex>
                      <v-flex xs12 sm12>
                        <mini-statistic icon="fa fa-list" title="Document Alert" color="background-color: #f9eee6;border-radius: 10px;border: 1px solid #18366a!important;" :onClickShow="onClickDocumentAlert"></mini-statistic>

                      </v-flex>
                      <v-flex xs12 sm12>
                        <v-btn fab dark large color="purple" @click="onClickctask">
                          <v-icon dark>fa fa-book</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-container>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
    <v-dialog v-model="blankFirstdialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="blankFirstdialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="blankFirstdialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
        <v-tabs color="transparent" v-model="selectedTabIct" icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab key="tab1">
            Information Link
            <v-icon>group_work</v-icon>
          </v-tab>
          <v-tab-item key="tab1">
            <portal-link-compo ref="refICTPortalLinks"></portal-link-compo>
          </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-dialog>
    <v-dialog v-model="qualityAssurancedialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="qualityAssurancedialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="qualityAssurancedialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
        <v-tabs color="transparent" v-model="selectedQualityAssuranceTab" icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab key="tab1">
            Information Link
            <v-icon>group_work</v-icon>
          </v-tab>
          <v-tab-item key="tab1">
            <portal-link-compo ref="refQualityAssurancePortalLinks"></portal-link-compo>
          </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-dialog>

<v-dialog v-model="planningDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="planningDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="planningDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
        <v-tabs color="transparent" v-model="selectedPlanningTab" icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab key="tab1">
            Information Link
            <v-icon>group_work</v-icon>
          </v-tab>
          <v-tab-item key="tab1">
            <portal-link-compo ref="refPlanningPortalLinks"></portal-link-compo>
          </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-dialog>

    <v-dialog v-model="researchDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="researchDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="researchDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
        <v-tabs color="transparent" v-model="selectedResearchTab" icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab key="tab1">
            Information Link
            <v-icon>group_work</v-icon>
          </v-tab>
          <v-tab-item key="tab1">
            <portal-link-compo ref="refResearchPortalLinks"></portal-link-compo>
          </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-dialog>
    <v-dialog v-model="regulatorydepartmentDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="regulatorydepartmentDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="regulatorydepartmentDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
        <v-tabs color="transparent" v-model="selectedResearchTab" icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab key="tab1">
            Information Link
            <v-icon>group_work</v-icon>
          </v-tab>
          <v-tab-item key="tab1">
            <portal-link-compo ref="refRegulatorydepartment"></portal-link-compo>
          </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-dialog>
     <v-dialog v-model="salesOrderDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="salesOrderDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="salesOrderDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
           <sales-order></sales-order>
      </v-card>
    </v-dialog>

     <v-dialog v-model="qcApprovalDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="qcApprovalDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="qcApprovalDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
           <qc-approval></qc-approval>
      </v-card>
    </v-dialog>

     <v-dialog v-model="itemStockInfoDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="itemStockInfoDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="itemStockInfoDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
           <item-stock></item-stock>
      </v-card>
    </v-dialog>

     <v-dialog v-model="productionEntryDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="productionEntryDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="productionEntryDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
           <production-entry></production-entry>
      </v-card>
    </v-dialog>
    <v-dialog v-model="newlyJoindialog" fullscreen>
     
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="newlyJoinclose">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="newlyJoinclose">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
         <v-card>
        
             <v-card-text>
                 <div style="overflow: auto; height: calc(110vh - 90px)">
        <v-tabs color="transparent" v-model="selectedTab" icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab key="tab1">
            Newly Join
            <v-icon>group_work</v-icon>
          </v-tab>
          <v-tab key="tab2">
            Just Resign
            <v-icon>security</v-icon>
          </v-tab>
          <v-tab key="ta3">
            MC And AL Information
            <v-icon>security</v-icon>
          </v-tab>
          <v-tab key="tab4">
            Information Link
            <v-icon>group_work</v-icon>
          </v-tab>
           <v-tab key="tab5">
            Company Directory
            <v-icon>people</v-icon>
          </v-tab>
          <v-tabs-items>
            <v-tab-item key="tab1">
             
                <v-card>
                   <div style="overflow: auto; height: calc(100vh - 110px)">
                  <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
                  <v-spacer></v-spacer>
                  <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="icBmpId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                      <tr v-on:dblclick="editItem(props.item)">
                        <td class="text-xs-left">{{ props.item.plantName }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.dropDownName }}</td>
                        <td class="text-xs-left">{{ props.item.reportName }}</td>
                        <td class="text-xs-left">
                          {{ props.item.expectedJoiningDate | formatDate }}
                        </td>
                        <td class="text-xs-left">{{ props.item.email }}</td>
                        <td class="text-xs-left">{{ props.item.extension }}</td>
                        <td class="text-xs-left">{{ props.item.skypeAddress }}</td>
                        <td class="text-xs-left">{{ props.item.speedDial }}</td>

                        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
                        <td class="text-xs-left">
                          {{ props.item.modifiedDate | formatDate }}
                        </td>
                      </tr>
                    </template>
                    <template slot="no-data">
                      <v-btn color="primary" outline @click="newlyJoin">Record not exist.Refresh again in while time.</v-btn>
                    </template>
                  </v-data-table>
                   </div>
                </v-card>
            
            </v-tab-item>
            <v-tab-item key="tab2">
                
                <v-card>
                   <div style="overflow: auto; height: calc(100vh - 110px)">
                  <v-text-field v-model="justResignsearch" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
                  <v-spacer></v-spacer>
                  <v-data-table :loading="gridloader" :headers="justResignheaders" :items="justResignItems" :search="justResignsearch" class="elevation-1" default-sort="employeeID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                      <tr @dblclick="editItem(props.item)">
                        <td class="text-xs-left">{{ props.item.plantName }}</td>
                        <td class="text-xs-left">{{ props.item.name }}</td>
                        <td class="text-xs-left">{{ props.item.dropDownName }}</td>
                        <td class="text-xs-left">{{ props.item.reportName }}</td>
                        <td class="text-xs-left">
                          {{ props.item.resignAgreedLastDate | formatDate }}
                        </td>
                        <td class="text-xs-left">
                          {{ props.item.modifiedDate | formatDate }}
                        </td>
                        <td class="text-xs-left"></td>
                      </tr>
                    </template>
                    <template slot="no-data">
                      <v-btn color="primary" outline @click="justResign">Record not exist.Refresh again in while time.</v-btn>
                    </template>
                  </v-data-table>
                   </div>
                </v-card>
             
            </v-tab-item>
            <v-tab-item key="tab3">
              
                <v-card>
                   <div style="overflow: auto; height: calc(100vh - 110px)">
                  <v-text-field v-model="empleavesearch" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
                  <v-spacer></v-spacer>
                  <v-data-table :loading="gridloader" :headers="empleaveheaders" :items="empleaveItems" :search="empleavesearch" class="elevation-1" default-sort="employeeID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
                    <template slot="items" slot-scope="props">
                      <tr @dblclick="editItem(props.item)">
                        <td class="text-xs-left">{{ props.item.companyName }}</td>
                        <td class="text-xs-left">{{ props.item.employeeName }}</td>
                        <td class="text-xs-left">
                          {{ props.item.departmentDesignation }}
                        </td>
                        <td class="text-xs-left">{{ props.item.nonPresence }}</td>
                      </tr>
                    </template>
                    <template slot="no-data">
                      <v-btn color="primary" outline @click="employeeLeave">Record not exist.Refresh again in while time.</v-btn>
                    </template>
                  </v-data-table>
                   </div>
                </v-card>
             
            </v-tab-item>
            <v-tab-item key="tab4">
              <portal-link-compo ref="refHRPortalLinks"></portal-link-compo>
            </v-tab-item>
              <v-tab-item key="tab5">
              <employee-directory></employee-directory>
            </v-tab-item>
          </v-tabs-items>
        </v-tabs>
           
           </div>
             </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog v-model="companyDirDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="companyDirclose">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="companyDirclose">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
        <v-card>
          <employee-directory></employee-directory>
        </v-card>
      </v-card>
    </v-dialog>
    <v-dialog v-model="companyEventsDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="companyEventsDialog=false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="companyEventsDialog=false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
        </v-toolbar>
        <v-card>
          <company-events></company-events>
        </v-card>
      </v-card>
    </v-dialog>

    <v-dialog v-model="documentAlertdialog" fullscreen>

      <v-toolbar card dense color="primary" dark>

        <v-tooltip bottom>
          <v-btn icon slot="activator" @click.native="documentAlertClose">
            <v-icon color="white">reply</v-icon>
          </v-btn>
          <span>Go Back</span>
        </v-tooltip>
        <v-toolbar-title>
          Document Alert
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <v-btn icon slot="activator" @click.native="documentAlertClose">
            <v-icon color="white">close</v-icon>
          </v-btn>
          <span>Go Back</span>
        </v-tooltip>
      </v-toolbar>
      <v-card>
        <v-tabs color="transparent" v-model="selectedDocumentAlertTab" icons-and-text>
          <v-tabs-slider color="primary"></v-tabs-slider>
          <v-tab key="tab1">
            Document Alert
            <v-icon>group_work</v-icon>
          </v-tab>
          <v-tab key="tab2">
            Information
            <Link></Link>
            <v-icon>security</v-icon>
          </v-tab>
          <v-tab-item key="tab1">
            <v-flex d-flex xs12 sm12>
              <v-layout row wrap>

                <v-flex style="
                
                  height: 450px;
                  overflow: scroll;
                ">
                  <v-flex d-flex>
                    <v-layout row wrap>
                      <v-flex v-for="(item, i) in docAlertItems" :key="i" d-flex xs12>
                        <!-- <div style="height: 100px;color: rgb(3, 155, 229) !important;border-bottom: 1px dotted;"> -->
                        <div style="height: 100px; border-bottom: 1px dotted">
                          <table style="padding: 10px">
                            <tr style="text-align: left">
                              <th>{{ item.addedDate | formatDate }}</th>
                            </tr>
                            <tr style="text-align: left">
                              <td v-if="item.link != ''" style="text-align: left">
                                <a @click="clicklinkComment(item)">{{ item.name }}
                                </a>
                              </td>
                            </tr>
                            <tr>
                              <td style="text-align: left">{{ item.description }}</td>
                            </tr>

                          </table>
                        </div>
                      </v-flex>
                    </v-layout>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-flex>

            <v-card-actions>
              <v-spacer></v-spacer>

              <v-btn color="primary darken-1" outline @click.native="documentAlertClose">Close</v-btn>
            </v-card-actions>
          </v-tab-item>
          <v-tab-item key="tab2">
            <portal-link-compo ref="refDocumentAlertPortalLinks"></portal-link-compo>
          </v-tab-item>
          </v-tabs-items>
        </v-tabs>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import Vue from "vue";
Vue.component("portal-link-compo", () =>
  import("@/components/portalLinks/portalLinks")
);
import GlobalMessage from "@/constant";
import LinkStatistic from "@/components/widgets/statistic/LinkStatistic";
import DashboardEvents from "@/pages/DashboardEvents";
import MiniStatistic from "@/components/widgets/statistic/FullStatistic";
import employeeDirectory from "@/components/widgets/employee/employeeDirectory";
import SalesOrder from "@/pages/SalesOrders/SalesOrder";
import ProductionEntry from "@/pages/mobile/productionentry/productionentry.vue";
import ItemStock from "@/pages/inventory/itemStockInfo.vue";
import QcApproval from "@/pages/mobile/QcApproval/QcApproval";
// import employeeLeave from "@/components/widgets/employee/employeeLeave";
import CompanyEvents from "@/components/widgets/employee/companyEvents";
import {
  getEmployeesByWeek,
  getEmployeesByStatus,
  getEmployeesLeaveInformation,
} from "@/api/employee";
import { getDocumentAlerts } from "@/api/documentAlert";
import { getUserSettings } from "@/api/notification";

export default {
  components: {
    SalesOrder,
    ProductionEntry,
    ItemStock,
    QcApproval,
    CompanyEvents,
    MiniStatistic,
    employeeDirectory,
    //employeeLeave,
    LinkStatistic,
    DashboardEvents,
  },
  data: () => ({
    selectedDocumentAlertTab: 0,
    selectedResearchTab: 0,
    researchDialog: false,
    regulatorydepartmentDialog: false,
    planningDialog: false,
    selectedPlanningTab: 0,
    qualityAssurancedialog: false,
    companyEventsDialog: false,
    blankFirstdialog: false,
    salesOrderDialog: false,
    qcApprovalDialog: false,
    itemStockInfoDialog: false,
    productionEntryDialog: false,
    selectedTab: 0,
    selectedQualityAssuranceTab: 0,
    selectedTabIct: 0,
    newlyJoindialog: false,
    companyDirDialog: false,
    empleaveDialog: false,
    documentAlertdialog: false,
    gridItems: [],
    justResignItems: [],
    docAlertItems: [],
    docloader: false,
    empleaveItems: [],
    search: "",
    titleCaption: "",
    empleavesearch: "",
    gridloader: false,
    justResignsearch: "",
    docalertsearch: "",
    headers: [
      { text: "Join Company Name", value: "plantName", align: "left" },
      { text: "Name of employee", value: "name", align: "left" },
      { text: "Department designation", value: "dropDownName", align: "left" },
      { text: "Report To", value: "reportName", align: "left" },
      { text: "Date join", value: "expectedJoiningDate", align: "left" },
      { text: "Email", value: "email", align: "left" },
      { text: "Extension", value: "extension", align: "left" },
      { text: "Skype", value: "skypeAddress", align: "left" },
      { text: "Speed Dial", value: "speedDial", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
    ],
    justResignheaders: [
      { text: "Join Company Name", value: "plantName", align: "left" },
      { text: "Name of employee", value: "name", align: "left" },
      { text: "Department designation", value: "dropDownName", align: "left" },
      { text: "Report To", value: "reportName", align: "left" },
      { text: "Resign Date", value: "resignAgreedLastDate", align: "left" },
      { text: "Modify Date", value: "modifiedDate", align: "left" },
    ],
    empleaveheaders: [
      { text: "Company", value: "companyName", align: "left" },
      { text: "Name of employee", value: "employeeName", align: "left" },
      { text: "Department ", value: "departmentDesignation", align: "left" },
      { text: "Non Presence", value: "nonPresence", align: "left" },
    ],
    docheaders: [{ text: "Document", value: "link", align: "left" }],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    docrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      docrowsPerPage: 10,
    },
  }),
  created() {
    window.getApp.$emit("APP_DRAWER_TOGGLED_FALSE");
    this.initialize();
  },
  methods: {
    onClickSalesOrder() {
      this.salesOrderDialog = true;
      //this.$router.push({ name: "salegroup/SalesOrder" });
    },
    onPersonalCalender() {
      if (
        this.$store.state.auth.sessionId != undefined &&
        this.$store.state.auth.sessionId != null
      ) {
        window.open(
          GlobalMessage.PERSONAL_CALENDER_URL +
            "/?sessionId=" +
            this.$store.state.auth.sessionId,
          "_blank"
        );
      }
    },
    onProductionActivityApp() {
      if (
        this.$store.state.auth.sessionId != undefined &&
        this.$store.state.auth.sessionId != null
      ) {
        window.open(
          GlobalMessage.PRODUCTION_ACTIVITY_APP +
            "/?sessionId=" +
            this.$store.state.auth.sessionId,
          "_blank"
        );
      }
    },
    onClickcQc() {
      this.qcApprovalDialog = true;
      //this.$router.push({ name: "production/QcApproval" });
    },
    onclickInventory() {
      this.itemStockInfoDialog = true;
      //this.$router.push({ name: "inventory/itemStockInfo" });
    },
    onClickproductionEntry() {
      this.productionEntryDialog = true;
      //this.$router.push({ name: "production/ProductionEntry" });
    },
    onclickPlanning() {
      this.planningDialog = true;
    },
    onClickctask() {
      this.$router.push({ name: "Task" });
    },
    onClickDocumentAlert() {
      this.documentAlertdialog = true;
    },
    onBlankFirst() {
      this.blankFirstdialog = true;
    },
    onclickQualityAssurance() {
      this.qualityAssurancedialog = true;
    },
    onclickResearch() {
      this.researchDialog = true;
    },
    onclickRegulatorydepartment() {
      this.regulatorydepartmentDialog = true;
    },
    companyEvents() {
      this.companyEventsDialog = true;
    },
    hrInform() {
      this.justResign();
      this.newlyJoin();
      this.employeeLeave();
    },
    newlyJoin() {
      this.newlyJoindialog = true;
      getEmployeesByWeek()
        .then((response) => {
          this.gridItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    justResign() {
      this.gridloader = true;
      getEmployeesByStatus("Resign")
        .then((response) => {
          this.justResignItems = response.data;
          this.gridloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    companyDirectory() {
      this.companyDirDialog = true;
    },
    employeeLeave() {
      this.empleaveDialog = true;
      this.gridloader = true;
      getEmployeesLeaveInformation()
        .then((response) => {
          this.gridloader = false;
          if (response.data != undefined) {
            this.empleaveItems = response.data;
          }
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    empleaveclose() {
      this.empleaveDialog = false;
    },
    clicklinkComment(item) {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(item.link)) {
        window.open(item.link, "_blank");
        //window.open(item.link,'popup','width=600,height=600');
        //this.$router.push(item.link);
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
    newlyJoinclose() {
      this.newlyJoindialog = false;
    },
    companyDirclose() {
      this.companyDirDialog = false;
    },
    documentAlertClose() {
      this.documentAlertdialog = false;
    },
    initialize() {
      let id = 47;
      getUserSettings(id)
        .then((response) => {
          if (response.data != undefined) {
            this.titleCaption = response.data.titleCaption;
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getDocumentAlerts("")
        .then((response) => {
          this.docAlertItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      setTimeout(() => {
        this.$refs.refHRPortalLinks.moduleId = 3194;
        this.$refs.refHRPortalLinks.initialize();
        this.$refs.refICTPortalLinks.moduleId = 3197;
        this.$refs.refICTPortalLinks.initialize();
        this.$refs.refQualityAssurancePortalLinks.moduleId = 3199;
        this.$refs.refQualityAssurancePortalLinks.initialize();
        this.$refs.refResearchPortalLinks.moduleId = 3201;
        this.$refs.refResearchPortalLinks.initialize();
        this.$refs.refDocumentAlertPortalLinks.moduleId = 3202;
        this.$refs.refDocumentAlertPortalLinks.initialize();
        this.$refs.refPlanningPortalLinks.moduleId = 3204;
        this.$refs.refPlanningPortalLinks.initialize();
        this.$refs.refRegulatorydepartment.moduleId = 3205;
        this.$refs.refRegulatorydepartment.initialize();
      }, 300);
    },
  },
};
</script>
<style scoped>
.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  font-size: 35px !important;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
.subtitle {
  font-size: large;
  text-align: right;
}
.dashboardlayout {
  border-style: solid;
  border-radius: 8px !important;
  border-width: 1px;
  padding: 8px;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.dashboardmainlayout {
  border-style: solid;
  border-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
</style>
