<template>
    <div>
        <v-toolbar flat color="white">
            <v-text- <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details @keypress="onKeyPressSearch"></v-text-field>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                    <v-menu slot="activator" :nudge-right="40" :close-on-content-click="false" lazy v-model="searchmenu" transition="scale-transition" offset-y full-width min-width="140px">
                        <v-btn slot="activator" icon>
                            <v-icon>filter_list</v-icon>
                        </v-btn>

                        <v-card>
                            <v-container fluid>
                                <v-layout row wrap>
                                    <v-flex lg12 sm12>
                                        <!--   <v-toolbar dark color="primary"> -->
                                        <v-toolbar-title>Search and Filter</v-toolbar-title>
                                        <v-spacer></v-spacer>
                                        <v-tooltip bottom>
                                            <v-btn icon slot="activator">
                                                <v-icon color="white" @click.native="searchmenuClose">close</v-icon>
                                            </v-btn>
                                            <span>Close</span>
                                        </v-tooltip>
                                    </v-flex>
                                    <!-- </v-toolbar> -->
                                   <!--  <v-flex xs12 sm4>
                                        <v-radio-group v-model="searchDocument.action" row :mandatory="false">
                                            <v-radio label="File Profile Type" value='File Profile'></v-radio>
                                            <v-radio label="Public Folder" value="Public Folder"></v-radio>
                                        </v-radio-group>
                                    </v-flex>
                                    <v-flex xs12 sm4 v-show="searchDocument.action=='File Profile'">
                                        <v-autocomplete label="File Profile Types" prepend-icon="description" v-model="searchDocument.fileProfileTypeId" :items="fileProfileTypes" item-text="name" item-value="fileProfileTypeId"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm4 v-show="searchDocument.action=='Public Folder'">
                                        <v-autocomplete label="Folders" prepend-icon="list" v-model="searchDocument.folderId" :items="folderPathItems" :loading="loader" :search-input.sync="folderPathsearch" chips auto item-text="folderPath" item-value="folderID" @keypress="onPublicFolderSearch">
                                        </v-autocomplete>
                                    </v-flex> -->
                                    <v-flex xs12 sm4>
                                        <v-autocomplete label="Document Content Types" prepend-icon="description" v-model="searchDocument.contentType" :items="documentTypes"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-text-field v-model="searchDocument.fileName" label="File Name" prepend-icon="file">
                                        </v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-menu v-model="fromMonthMenu" :close-on-content-click="false" full-width min-width="290">
                                            <v-text-field slot="activator" :value="fromMonthFormated" label="From Month" prepend-icon="today" readonly></v-text-field>
                                            <v-date-picker v-model="searchDocument.fromMonth" @change="fromMonthMenu = false" type="month"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-menu v-model="toMonthMenu" :close-on-content-click="false" full-width min-width="290">
                                            <v-text-field slot="activator" :value="toMonthFormated" label="To Month" prepend-icon="today" readonly></v-text-field>
                                            <v-date-picker v-model="searchDocument.toMonth" @change="toMonthMenu = false" type="month"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                </v-layout>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn outline color="primary" @click="searchClick">Search</v-btn>
                                    <v-btn outline color="primary" @click="searchClear">Clear</v-btn>
                                    <v-btn outline color="primary" @click="searchmenuClose">Close</v-btn>
                                </v-card-actions>
                            </v-container>
                        </v-card>
                    </v-menu>
                    <span>Filter combination of search queries.</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn icon="" slot="activator" @click="loadPagingData()">
                        <v-icon icon> refresh </v-icon>
                    </v-btn>
                    <span>Refresh</span>
                </v-tooltip>
        </v-toolbar>
        <div class="layout row media-layout">
            <div class="media-content flex transparent">
                <app-section-loader :status="loader"></app-section-loader>
                <v-container fluid>
                    <v-layout row wrap>
                        <v-flex sm12 xs12>
                            <v-data-table :items="gridItems" :headers="headers" :pagination.sync="pagination" :total-items="totalRows" :rows-per-page-items="rowsPerPageItems" :loading="gridloader" @update:pagination="onUpdatePagination" class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <tr>
                                        <td class="text-xs-left">{{ props.item.type }}</td>
                                        <td>{{ props.item.fileName }}</td>
                                        <td class="text-xs-left">{{ props.item.fileProfileTypeName }}</td>

                                        <td class="text-xs-left">{{ props.item.fileSize }}</td>
                                        <td class="text-xs-left">{{ props.item.contentType }}</td>

                                        <td class="justify-center layout px-0">
                                            <v-icon small class="mr-2" @click="editItem(props.item)">
                                                attachment
                                            </v-icon>
                                        </td>
                                    </tr>
                                </template>
                                <template slot="no-data">
                                    <v-btn color="primary" outline @click="initialize">
                                        Record not exist.Refresh again in while time.</v-btn>
                                </template>
                            </v-data-table>
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </div>
        <v-dialog v-model="attachdialog" max-width="300">
            <v-card>
                <v-card-text>
                    <v-layout wrap>
                        <v-flex xs12 sm12>
                            <upload-btn @file-update="attachfileChanged" title="Upload your document" name="uploadtask" ref="attachUpload" noTitleUpdate uniqueId :multiple="isMultiple">
                                <template slot="icon-left">
                                    <v-icon small class="mr-2">cloud_upload</v-icon>
                                </template>
                            </upload-btn>
                        </v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
            {{ snackbarMessage }}
        </v-snackbar>
    </div>
</template>
<script>
    import UploadButton from "vuetify-upload-button";
    import {
        getDocumentsFileSize,
        uploadDocumentsSize
    } from "@/api/document";
    import {
        getFileProfileTypeItems,
    } from "@/api/fileProfileType";
    import moment from "moment";
    import GlobalMessage from "@/constant";
    import { getData } from "@/api/paggedapi";
    import search from "@/search";
    import {
        getPublicFolderMainPathAll,
    } from "@/api/folder";
    import { getDocumentTypes } from "@/api/document";
    export default {
        name: "app",
        components: {
            "upload-btn": UploadButton,
        },
        data: () => ({
            fromMonthMenu: false,
            toMonthMenu: false,
            searchmenu: false,
            fileProfileTypes: [],
            documentTypes: [],
            folderPathItems: [],
            totalRows: 0,
            attachdialog: false,
            isMultiple: true,
            menuSearch: false,
            dialog: false,
            fromDateMenu: false,
            toDateMenu: false,
            gridloader: false,
            loader: false,
            activator: null,
            search: "",
            snackbar: false,
            snackbarMessage: "",
            timeout: 2000,
            editing: null,
            index: -1,
            y: "top",
            filterFields: [
                "FileName",
                "ContentType",
               // "ProfileNo",
               // "AddedByUser.userName",
            ],
            headers: [
                { text: "Type", value: "type", align: "left", sortable: false },
                { text: "File Name", value: "fileName", align: "left" },
                { text: "Document Path", value: "fileProfileTypeName", align: "left", sortable: false },
                { text: "File Size", value: "fileSize", align: "left" },
                { text: "Content Type", value: "contentType", align: "left" },
                { text: "Actions", value: "name", sortable: false, align: "left" },
            ],
            gridItems: [],
            editedIndex: -1,
            pagination: { rowsPerPage: 10 },
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            attachfiles: new FormData(),
            documentId: null,
            searchDocument: {
                fromMonth: null,
                toMonth: null,
                fileProfileTypeId: null,
                contentType: null,
                fileName: null,
                folderId: null,
            },
            folderPathsearch: null,
        }),

        computed: {
            fromMonthFormated () {
                return this.searchDocument.fromMonth
                    ? moment(this.searchDocument.fromMonth).format(
                        GlobalMessage.MONTHYEARFORMAT
                    )
                    : "";
            },
            toMonthFormated () {
                return this.searchDocument.toMonth
                    ? moment(this.searchDocument.toMonth).format(
                        GlobalMessage.MONTHYEARFORMAT
                    )
                    : "";
            },
        },

        created () {
            this.loaders = true;
            var userId = this.$store.state.auth.userId;
            getFileProfileTypeItems(userId)
                .then((response) => {
                    this.loaders = false;
                    this.fileProfileTypes = response.data;
                })
                .catch((error) => {
                    this.loaders = false;
                    window.getApp.$emit("APP_API_ERROR", error);
                });
            getDocumentTypes("")
                .then((response) => {
                    this.loaders = false;
                    this.documentTypes = response.data;
                })
                .catch((error) => {
                    this.loaders = false;
                    window.getApp.$emit("APP_API_ERROR", error);
                });
            this.getPiblicFolder();
        },

        methods: {
            onKeyPressSearch (e) {
                if (e.keyCode === 13) {
                    this.loadPagingData();
                }
            },
            onPublicFolderSearch (e) {

                if (e.keyCode === 13) {
                    console.log(this.folderPathsearch);
                    this.getPiblicFolder();
                }
            },
            attachfileChanged (args) {
                this.loader = true;
                this.attachfiles = new FormData();
                Array.from(args).forEach((file) => {
                    this.attachfiles.append("file", file, file.name);
                    this.attachfiles.append("userID", this.$store.state.auth.userId);
                    this.attachfiles.append("documentId", this.documentId);
                    //this.attachfiles.append("documentId", this.documentId);
                    window.getApp.$emit("progress", file.name);
                });
                uploadDocumentsSize(this.attachfiles)
                    .then((response) => {
                        this.$refs.attachUpload.clear();
                        this.attachfiles.delete("file");
                        this.attachfiles = new FormData();
                        this.initialize();
                        this.attachdialog = false;
                        if (response.data != null) {
                            window.getApp.$emit("APP_API_SUCCESS", "File Uploaded Successfully");
                        }
                        this.loader = false;
                    })
                    .catch((error) => {
                        this.loader = false;
                    });
            },
            getPiblicFolder () {
                let searchData = {};
                searchData.id = 1;
                searchData.searchString = this.folderPathsearch;
                searchData.userId = this.$store.state.auth.userId;
                getPublicFolderMainPathAll(searchData)
                    .then((response) => {
                        this.loader = false;
                        this.folderPathItems = response.data;
                    })
                    .catch((error) => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            editItem (item) {
                this.documentId = item.documentID;
                this.attachdialog = true;
            },
            initialize () {
                //this.gridloader = true;
                /* getDocumentsFileSize("")
                    .then((response) => {
                        if (response.data != undefined) {
                            this.gridItems = response.data;
                            this.gridloader = false;
                        }
                        this.loader = false;
                        this.gridloader = false;
                    })
                    .catch((error) => {
                        this.loader = false;
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    }); */

                this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
            },
            loadPagingData () {
                search.filterFields = this.filterFields;
                search.descending = true;
                search.pageCount = 1;
                this.pagination.page = 1;
                search.sortCol = this.pagination.sortBy;
                search.sortBy = this.pagination.descending == true ? "desc" : "asc";
                search.searchString = this.search;
                search.methodName = "GetDocumentsFileSize";
                search.userID = this.$store.state.auth.userId;
                this.gridloader = true;
                getData(search)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.gridloader = false;
                    })
                    .catch((error) => {
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onUpdatePagination (args) {
                search.filterFields = this.filterFields;
                search.descending = true;
                search.pageCount = args.page;
                search.pageSize = args.rowsPerPage;
                search.userID = this.$store.state.auth.userId;
                if (args.sortBy == "addedByUser") {
                    search.sortCol = "AddedByUser";
                } else {
                    search.sortCol = args.sortBy;
                }
                search.sortBy = args.descending == true ? "desc" : "asc";
                search.searchString = this.search;
                search.methodName = "GetDocumentsFileSize";
                this.gridloader = true;
                getData(search)
                    .then((response) => {
                        if (response.data.code == 200) {
                            this.gridItems = response.data.result;
                            this.totalRows = response.data.pagination.totalPages;
                        } else {
                            window.getApp.$emit("APP_API_ERROR", response.data.message);
                        }
                        this.gridloader = false;
                    })
                    .catch((error) => {
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            searchClear () {
                this.searchDocument.fileProfileTypeId = null;
                this.searchDocument.contentType = null;
                this.searchDocument.fromMonth = null;
                this.searchDocument.toMonth = null;
                this.searchDocument.fileName = null;
                this.searchDocument.action = "File Profile";
                this.searchDocument.folderId = null;
                search.fileProfileTypeId = null;
                search.contentType = null;
                search.fromMonth = null;
                search.toMonth = null;
                search.fileName = null;
                search.action = "Public Folder";
                search.folderId = null;
                this.loadPagingData();
            },
            searchClick () {
                search.fileProfileTypeId = this.searchDocument.fileProfileTypeId;
                search.contentType = this.searchDocument.contentType;
                search.fromMonth = this.searchDocument.fromMonth;
                search.toMonth = this.searchDocument.toMonth;
                search.fileName = this.searchDocument.fileName;
                search.action = this.searchDocument.action;
                search.folderId = this.searchDocument.folderId;
                this.loadPagingData();
                /*  this.searchDocument.fileProfileTypeId = null;
                 this.searchDocument.contentType = null;
                 this.searchDocument.fromMonth = null;
                 this.searchDocument.toMonth = null;
                 this.searchDocument.fileName = null;
                 this.searchDocument.action = "File Profile";
                 this.searchDocument.folderId = null; */
            },
            searchmenuClose () {
                this.searchmenu = false;
            },
        },
    };
</script>
