<template>
  <div id="pageDashboard">
    <v-container grid-list-xl fluid>
      <v-layout row wrap >
        <v-flex lg12 sm12 xs12>
          <!-- <employee-directory></employee-directory> -->
          <!-- <v-toolbar card dense color="whitesmoke" @click="companyDirectoryClick" style="cursor: pointer;">
            <span style="font-weight: bold;"> Company Directory ({{companyDirectoryTotal}})</span>

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="iscompanyDirectoryExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="iscompanyDirectoryCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>

          </v-toolbar>
          <v-expansion-panel v-model="companyDirectoryExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <employee-directory></employee-directory>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel> -->
        </v-flex>
        <v-flex lg12 sm12 xs12 ref="Request_For_Persion" id="Request_For_Persion">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="requestForPersonClick"
            style="cursor: pointer"
          >
            <span style="font-weight: ">
              Request For Person ({{ requestForPersonTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isrequestForPersonExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isrequestForPersonCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="requestForPersonExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <requestfor-person></requestfor-person>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12 ref="Request_AC_List" id="Request_AC_List">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="requestAcApprovalClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Request AC List ({{ requestACListTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isrequestAcApprovalExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isrequestAcApprovalCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="requestAcApprovalExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <request-ac-approval></request-ac-approval>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12>
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="crossreferencereportClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Cross Reference Report ({{ crossReferenceReportTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="iscrossreferencereportExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="iscrossreferencereportCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="crossreferencereportExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <crossreference-report></crossreference-report>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12 ref="Un_Read_Work_Order">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="workorderUnreadCommentClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Un-Read Work Order ({{ unReadWorkOrderCommentTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isworkorderUnreadCommentExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isworkorderUnreadCommentCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="workorderUnreadCommentExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <workorder-unread-comment></workorder-unread-comment>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12 id="Assigned_Work_Order_Message">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="workorderSubjectClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Assigned Work Order Message ({{ workOrderSubjectTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isworkorderSubjectExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isworkorderSubjectCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="workorderSubjectExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <workorder-subject></workorder-subject>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12 ref="Send_Notify_Document" id="Send_Notify_Document">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="sendnotifyDocumentClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Sent Notify Document ({{ sendnotifyDocumentTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="issendNotifyDocumentExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="issendNotifyDocumentCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="sendnotifyDocumentExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <send-notify-document></send-notify-document>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12 ref="Received_Notify_Document" id="Received_Notify_Document">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="notifyDocumentClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Received Notify Document ({{ notifyDocumentTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isNotifyDocumentExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isNotifyDocumentCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="notifyDocumentExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <notify-document></notify-document>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>


                <v-flex lg12 sm12 xs12 ref="CC_User_Notify_Document" id="CC_User_Notify_Document">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="ccuserNotifyClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              CC User Notify Document ({{ ccUserDocumentTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isNotifyDocumentExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isccuserNotifyCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="ccuserNotifyExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <ccuser-notify-document></ccuser-notify-document>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12 ref="Shared_Document" id="Shared_Document">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="sharedDocumentClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Shared Document ({{ sendSharedDocumentTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isSharedDocumentExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isSharedDocumentCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="sharedDocumentExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <share-document></share-document>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>

        <v-flex lg12 sm12 xs12 ref="Calendar_Document" id="Calendar_Document">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="calandarDocumentClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Calandar Notes ({{ calandarDocumentTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="iscalandarDocumentExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="iscalandarDocumentCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="calandarDocumentExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
               <calandar-document></calandar-document>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
        <v-flex lg12 sm12 xs12 ref="Template_PIC" id="Template_PIC">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="templateClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Template PIC ({{ templateTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="isTemplateExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="isTemplateCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="templateExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
                <template-progress></template-progress>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
         <v-flex lg12 sm12 xs12 ref="Calendar_Print_Document">
          <v-toolbar
            card
            dense
            color="whitesmoke"
            @click="calandarPrintDocumentClick"
            style="cursor: pointer"
          >
            <span style="font-weight: bold">
              Calandar Print Document ({{ calandarPrintDocumentTotal }})</span
            >

            <v-spacer></v-spacer>

            <v-btn icon flat v-if="iscalandarPrintDocumentExpand">
              <v-icon>expand_more</v-icon>
            </v-btn>

            <v-btn icon flat v-if="iscalandarPrintDocumentCollapse">
              <v-icon>expand_less</v-icon>
            </v-btn>
          </v-toolbar>
          <v-expansion-panel v-model="calandarPrintDocumentExpand" expand>
            <v-expansion-panel-content>
              <v-flex xs12 sm12>
              <calandar-print-document></calandar-print-document>
              </v-flex>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import API from "@/api";

import employeeDirectory from "@/components/widgets/employee/employeeDirectory";
import requestAcApproval from "@/components/widgets/requestACApproval";
import requestforPerson from "@/components/widgets/requestForPerson/requestForPerson";
import crossreferenceReport from "@/pages/SoBycustomersReport/SocustomersItemCrossReferenceReport";
import WorkorderUnreadComment from "@/components/widgets/workorder/workordercommentDash";
import WorkorderSubject from "@/components/widgets/workorder/workorderSubject";
import notifyDocument from "@/components/widgets/notifyDocument";
import CcuserNotifyDocument from "@/components/widgets/ccUserNotifyDocument";
import shareDocument from "@/components/widgets/shareDocument";
import sendNotifyDocument from "@/components/widgets/sendNotifyDocument";
import TemplateProgress from "@/components/widgets/templateProgressPIC";
import CalandarDocument from "@/components/widgets/calandarDocument";
import CalandarPrintDocument from "@/components/widgets/CalandarPrintDocument";
import GlobalMessage from "@/constant";
// import taskProgress from "@/components/TaskProgress/taskProgress";

export default {
  components: {
    shareDocument,
    employeeDirectory,
    requestforPerson,
    requestAcApproval,
    crossreferenceReport,
    WorkorderUnreadComment,
    WorkorderSubject,
    notifyDocument,
    TemplateProgress,
    sendNotifyDocument,
    CalandarDocument,
    CcuserNotifyDocument,
    CalandarPrintDocument,
  },
  data() {
    return {
      timer: "",
      attachdialog: false,
      userId: 1,
      requestForPersonExpand: [],
      isrequestForPersonExpand: false,
      isrequestForPersonCollapse: true,
      isrequestAcApprovalCollapse: true,
      isrequestAcApprovalExpand: false,
      requestAcApprovalExpand: [],
      crossreferencereportExpand: [],
      iscrossreferencereportExpand: false,
      iscrossreferencereportCollapse: true,
      workorderUnreadCommentExpand: [],
      isworkorderUnreadCommentExpand: false,
      isworkorderUnreadCommentCollapse: true,
      companyDirectoryExpand: [],
      workorderSubjectExpand: [],
      isworkorderSubjectExpand: false,
      isworkorderSubjectCollapse: true,
      iscompanyDirectoryExpand: false,
      iscompanyDirectoryCollapse: true,
      requestForPersonTotal: 0,
      requestACListTotal: 0,
      unReadWorkOrderCommentTotal: 0,
      crossReferenceReportTotal: 0,
      companyDirectoryTotal: 0,
      workOrderSubjectTotal: 0,
      notifyDocumentExpand: [],
      ccuserNotifyExpand: [],
      isNotifyDocumentExpand: false,
      isCCUserNotifyExpand: false,
      isNotifyDocumentCollapse: true,
      isccuserNotifyCollapse: true,
      notifyDocumentTotal: 0,
      ccUserDocumentTotal: 0,
      sendnotifyDocumentExpand: [],
      issendNotifyDocumentExpand: false,
      issendNotifyDocumentCollapse: true,
      sendnotifyDocumentTotal: 0,
      templateExpand: [],
      isTemplateExpand: false,
      isTemplateCollapse: true,
      templateTotal: 0,
      sharedDocumentExpand: [],
      isSharedDocumentExpand: false,
      isSharedDocumentCollapse: true,
      sharedDocumentTotal: 0,
      sendSharedDocumentTotal: 0,
      calandarDocumentExpand: [],
      iscalandarDocumentExpand: false,
      iscalandarDocumentCollapse: true,
      calandarDocumentTotal: 0,
      calandarPrintDocumentExpand: [],
      iscalandarPrintDocumentExpand: false,
      iscalandarPrintDocumentCollapse: true,
      calandarPrintDocumentTotal: 0,
    };
  },
  created() {
    /* this.requestForPersonExpand.push(true);
      this.requestAcApprovalExpand.push(true);
      this.crossreferencereportExpand.push(true);
      this.workorderUnreadCommentExpand.push(true); */
    this.userId = this.$store.state.auth.userId;
    window.getApp.$on("REQUEST_FOR_PERSON", (items) => {
      this.requestForPersonTotal = items;
    });
    window.getApp.$on("REQUEST_AC_APPROVAL", (items) => {
      this.requestACListTotal = items;
    });
    window.getApp.$on("CROSS_REFERENCE_REPORT", (items) => {
      this.crossReferenceReportTotal = items;
    });
    window.getApp.$on("WORKORDER_UNREAD_COMMENT", (items) => {
      this.unReadWorkOrderCommentTotal = items;
    });
    window.getApp.$on("COMPANY_DIRECTORY", (items) => {
      this.companyDirectoryTotal = items;
    });
    window.getApp.$on("WORKORDER_SUBJECT", (items) => {
      this.workOrderSubjectTotal = items;
    });
    window.getApp.$on("NOTIFY_DOCUMENT", (items) => {
      this.notifyDocumentTotal = items;
    });
    window.getApp.$on("SEND_NOTIFY_DOCUMENT", (items) => {
      this.sendnotifyDocumentTotal = items;
    });
     window.getApp.$on("CC_NOTIFY_DOCUMENT", (items) => {
      this.ccUserDocumentTotal = items;
    });
    window.getApp.$on("TemplateProgress", (items) => {
      this.templateTotal = items;
    });
    window.getApp.$on("SEND_SHARED_DOCUMENT", (items) => {
      this.sendSharedDocumentTotal = items;
    });
    window.getApp.$on("SEND_CALANDAR_DOCUMENT", (items) => {
      this.calandarDocumentTotal = items;
    });
    window.getApp.$on("SEND_PRINT_CALANDAR_DOCUMENT", (items) => {
      this.calandarPrintDocumentTotal = items;
    });

     window.getApp.$on("NOTIFICATION_CLICK", title => {
     //var names=title.replace(/ /g,"_");
      if(title=="Request For Persion")
      {
        this.isrequestForPersonExpand=true;
          this.isrequestForPersonCollapse = false;
        this.requestForPersonExpand.push(true);
      }
      else if(title=="Request AC List")
      {
       this.isrequestAcApprovalExpand =true;
        this.isrequestAcApprovalCollapse = false;
        this.requestAcApprovalExpand.push(true);
      }
       else if(title=="Un-Read Work Order")
      {
        this.isworkorderUnreadCommentExpand= true;
         this.isworkorderUnreadCommentCollapse = false;
        this.workorderUnreadCommentExpand.push(true);
      }
       else if(title=="Send Notify Document")
      {
        this.issendNotifyDocumentExpand=true;
          this.issendNotifyDocumentCollapse = false;
        this.sendnotifyDocumentExpand.push(true);
      }
       else if(title=="Received Notify Document")
      {
        this.isNotifyDocumentExpand = true;         
        this.isNotifyDocumentCollapse = false;
        this.notifyDocumentExpand.push(true);
      }
       else if(title=="CC User Notify Document")
      {
       this.isCCUserNotifyExpand = true;
        this.isccuserNotifyCollapse = false;
        this.ccuserNotifyExpand.push(true);
      }
       else if(title=="Shared Document")
      {
       this.isSharedDocumentExpand = true;
         this.isSharedDocumentCollapse = false;
        this.sharedDocumentExpand.push(true);
      }
      else if(title=="Calendar Document")
      {
       this.iscalandarDocumentExpand = true;
        this.iscalandarDocumentCollapse = false;
        this.calandarDocumentExpand.push(true);
      }
      else if(title=="Template PIC")
      {
       this.isTemplateExpand = true;
         this.isTemplateCollapse = false;
        this.templateExpand.push(true);
      }
         else if(title=="Calendar Print Document")
      {
       this.iscalandarPrintDocumentExpand = true;
         this.iscalandarPrintDocumentCollapse = false;
        this.calandarPrintDocumentExpand.push(true);
      }
    });
  },
  mounted() {
    //this.getassignedDash()
  },
  beforeDestroy() {
    window.getApp.$off("REQUEST_FOR_PERSON");
    window.getApp.$off("REQUEST_AC_APPROVAL");
    window.getApp.$off("CROSS_REFERENCE_REPORT");
    window.getApp.$off("WORKORDER_UNREAD_COMMENT");
    window.getApp.$off("COMPANY_DIRECTORY");
    window.getApp.$off("WORKORDER_SUBJECT");
    window.getApp.$off("NOTIFY_DOCUMENT");
    window.getApp.$off("SEND_NOTIFY_DOCUMENT");
     window.getApp.$off("CC_NOTIFY_DOCUMENT");
    window.getApp.$off("TemplateProgress");
    window.getApp.$off("SEND_SHARED_DOCUMENT");
    window.getApp.$off("SEND_CALANDAR_DOCUMENT");
    window.getApp.$off("SEND_PRINT_CALANDAR_DOCUMENT");
    window.getApp.$off("NOTIFICATION_CLICK");
  },
  computed: {},
  methods: {
    workorderSubjectClick() {
      if (this.workorderSubjectExpand.length > 0) {
        this.isworkorderSubjectCollapse = true;
        this.isworkorderSubjectExpand = false;
        this.workorderSubjectExpand = [];
      } else {
        this.isworkorderSubjectExpand = true;
        this.isworkorderSubjectCollapse = false;
        this.workorderSubjectExpand.push(true);
      }
    },
    companyDirectoryClick() {
      if (this.companyDirectoryExpand.length > 0) {
        this.iscompanyDirectoryCollapse = true;
        this.iscompanyDirectoryExpand = false;
        this.companyDirectoryExpand = [];
      } else {
        this.iscompanyDirectoryExpand = true;
        this.iscompanyDirectoryCollapse = false;
        this.companyDirectoryExpand.push(true);
      }
    },
    requestForPersonClick() {
      if (this.requestForPersonExpand.length > 0) {
        this.isrequestForPersonCollapse = true;
        this.isrequestForPersonExpand = false;
        this.requestForPersonExpand = [];
      } else {
        this.isrequestForPersonExpand = true;
        this.isrequestForPersonCollapse = false;
        this.requestForPersonExpand.push(true);
      }
    },
    requestAcApprovalClick() {
      if (this.requestAcApprovalExpand.length > 0) {
        this.isrequestAcApprovalExpand = false;
        this.isrequestAcApprovalCollapse = true;
        this.requestAcApprovalExpand = [];
      } else {
        this.isrequestAcApprovalExpand = true;
        this.isrequestAcApprovalCollapse = false;
        this.requestAcApprovalExpand.push(true);
      }
    },
    crossreferencereportClick() {
      if (this.crossreferencereportExpand.length > 0) {
        this.iscrossreferencereportExpand = false;
        this.iscrossreferencereportCollapse = true;
        this.crossreferencereportExpand = [];
      } else {
        this.iscrossreferencereportExpand = true;
        this.iscrossreferencereportCollapse = false;
        this.crossreferencereportExpand.push(true);
      }
    },
    workorderUnreadCommentClick() {
      if (this.workorderUnreadCommentExpand.length > 0) {
        this.isworkorderUnreadCommentExpand = false;
        this.isworkorderUnreadCommentCollapse = true;
        this.workorderUnreadCommentExpand = [];
      } else {
        this.isworkorderUnreadCommentExpand = true;
        this.isworkorderUnreadCommentCollapse = false;
        this.workorderUnreadCommentExpand.push(true);
      }
    },
    notifyDocumentClick() {
      if (this.notifyDocumentExpand.length > 0) {
        this.isNotifyDocumentCollapse = true;
        this.isNotifyDocumentExpand = false;
        this.notifyDocumentExpand = [];
      } else {
        this.isNotifyDocumentExpand = true;
        this.isNotifyDocumentCollapse = false;
        this.notifyDocumentExpand.push(true);
      }
    },
    ccuserNotifyClick(){
        if (this.ccuserNotifyExpand.length > 0) {
        this.isccuserNotifyCollapse = true;
        this.isCCUserNotifyExpand = false;
        this.ccuserNotifyExpand = [];
      } else {
        this.isCCUserNotifyExpand = true;
        this.isccuserNotifyCollapse = false;
        this.ccuserNotifyExpand.push(true);
      }
    },
    sharedDocumentClick() {
      if (this.sharedDocumentExpand.length > 0) {
        this.isSharedDocumentCollapse = true;
        this.isSharedDocumentExpand = false;
        this.sharedDocumentExpand = [];
      } else {
        this.isSharedDocumentExpand = true;
        this.isSharedDocumentCollapse = false;
        this.sharedDocumentExpand.push(true);
      }
    },
    calandarDocumentClick() {
      if (this.calandarDocumentExpand.length > 0) {
        this.iscalandarDocumentCollapse = true;
        this.iscalandarDocumentExpand = false;
        this.calandarDocumentExpand = [];
      } else {
        this.iscalandarDocumentExpand = true;
        this.iscalandarDocumentCollapse = false;
        this.calandarDocumentExpand.push(true);
      }
    },
    calandarPrintDocumentClick() {
      if (this.calandarPrintDocumentExpand.length > 0) {
        this.iscalandarPrintDocumentCollapse = true;
        this.iscalandarPrintDocumentExpand = false;
        this.calandarPrintDocumentExpand = [];
      } else {
        this.iscalandarPrintDocumentExpand = true;
        this.iscalandarPrintDocumentCollapse = false;
        this.calandarPrintDocumentExpand.push(true);
      }
    },
    sendnotifyDocumentClick() {
      if (this.sendnotifyDocumentExpand.length > 0) {
        this.issendNotifyDocumentCollapse = true;
        this.issendNotifyDocumentExpand = false;
        this.sendnotifyDocumentExpand = [];
      } else {
        this.issendNotifyDocumentExpand = true;
        this.issendNotifyDocumentCollapse = false;
        this.sendnotifyDocumentExpand.push(true);
      }
    },
    templateClick() {
      if (this.templateExpand.length > 0) {
        this.isTemplateCollapse = true;
        this.isTemplateExpand = false;
        this.templateExpand = [];
      } else {
        this.isTemplateCollapse = true;
        this.isTemplateCollapse = false;
        this.templateExpand.push(true);
      }
    },
      requestPersonScrollTop() {
      this.$nextTick(function() {
        this.$refs.requestPersonScrollTop.scrollTop = 0;
       
      });
    },
  },
};
</script>
