<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-divider class="mx-4" inset vertical></v-divider>

      <v-spacer></v-spacer>

      <v-dialog v-model="dialog" max-width="600px">
        <v-btn slot="activator" icon @click.native="add" v-show="showAddNotes">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="closeMethod">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create Notes</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow" :disabled="editedItem.notesId<0">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

           <div style="overflow: auto; height: calc(70vh - 80px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="itemform" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="editedItem.notes"
                      label="Notes"
                      prepend-icon="select_all"
                      required
                      :rules="requiredRules"
                    ></v-textarea>
                  </v-flex>

                  <v-flex xs10 sm10>
                    <v-text-field
                      v-model="editedItem.link"
                      label="Link"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs1 sm1>
                    <v-btn @click="clicklinkComment" icon>
                      <v-icon>visibility</v-icon>
                    </v-btn>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="save"
              >save</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="attachloaders"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="headers"
                :search="search"
                :items="notesItems"
                class="elevation-0"
                
                  :rows-per-page-items="rowsPerPageItems"
                   :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <tr>
                    <td
                      class="text-xs-left"
                      v-if="props.item.link != ''"
                      style="text-align: left"
                    >
                      <a @click="clicklink(props.item)">{{
                        props.item.notes
                      }}</a>
                    </td>
                    <td
                      class="text-xs-left"
                      v-if="props.item.link == ''"
                      style="text-align: left"
                    >
                      {{ props.item.notes }}
                    </td>
                  </tr>
                  <td class="text-xs-left">
                    {{ props.item.documentName }}
                  </td>

                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                  <td class="text-xs-left">
                    {{ props.item.addedDate | formatDate }}
                  </td>
                  <td>
                    <v-menu bottom right v-show="showAddNotes">
                      <v-btn slot="activator" icon>
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile
                          v-for="(item, i) in items"
                          :key="i"
                          @click="menuClick(i, props.item)"
                          ripple="ripple"
                          :target="item.target"
                          :disabled="menudisabled(item, props.item, i)"
                          rel="noopener"
                        >
                          <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                          </v-list-tile-action>
                          <v-list-tile-title
                            >{{ item.title }}
                          </v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </td>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
      <delete-confirmation-dialog
        ref="deleteConfirmationDialog"
        heading="Are You Sure You Want To Delete?"
        message="Are You Sure You Want To Delete This Item Permanently?"
        @onConfirm="deleteItem"
      ></delete-confirmation-dialog>
    </v-card>
  </div>
</template>
<script>
import UploadButton from "vuetify-upload-button";
import GlobalMessage from "@/constant";
import {
  getNotesBySessionId,
  getNotesByDocumentId,
  createNotes,
  updateNotes,
  deleteNotes,
} from "@/api/notes";
import moment from "moment";
import {   downloadFile,getFileProfileTypeItems, uploadDocument } from "@/api/fileProfileType";
import { getDocumentCheckIn } from "@/api/document";
export default {
  components: { "upload-btn": UploadButton },
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showAddNotes: {
      type: Boolean,
      default: true,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },

    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    loader: false,
    dialog: false,
    notesItems: [],
    sessionID: null,
    documentId: null,
      searchData: { id: null, searchString: "", userId: null },
    editedItem: {
      valid: false,
      sessionID: null,
      notesId: -1,
      notes: "",
      documentId: null,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      link: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      notesId: -1,
      notes: "",
      sessionID: null,
      documentId: null,
      link: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
    },
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {
          //console.log(e);
        },
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
         {
          icon: "attach_file",
          href: "#",
          title: "Download",
          click: (e) => { },
        },
    ],
    attachloaders: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
       sortBy: "addedDate",
        descending: true,
    },
    uploadAttachmentDocuments: [],
    headers: [
      {
        text: "Notes",
        align: "left",
        value: "notes",
        width: "30%",
      },
      {
        text: "Document Name",
        align: "left",
        value: "documentName",
      },

      {
        text: "Added By",
        value: "addedByUser",
        align: "left",
      },
      {
        text: "Added Date",
        value: "addedDate",
        align: "left",
      },
      { text: "Action", value: "action", sortable: false, align: "left" },
    ],
  }),
  computed: {
      requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
  },
  created() {
    //this.getNotes();
  },
  methods: {
    refreshMethod() {
      this.getNotes();
    },
    menuClick(key, item) {
      if (key == 0) {
        this.editItem(item);
      } else if (key == 1) {
        this.onDeleteItem(item);
      }
       else if (key == 2) {
       this.downloadAttachment(item);
       }
    },

    menudisabled(menu, item, key) {},
    getNotes() {
      this.attachloaders = true;

      var userId = this.$store.state.auth.userId;
      getNotesByDocumentId(this.documentId)
        .then((response) => {
          this.attachloaders = false;
          // console.log("Files Response", response.data);
          if (response.data != undefined) {
            this.notesItems = response.data;
          }
        })
        .catch((error) => {
          this.attachloaders = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    add() {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
    },
    deleterow(){
     this.onDeleteItem(this.editedItem);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.notesItems.indexOf(this.editedItem);
      deleteNotes(this.editedItem)
        .then((response) => {
          this.loader = false;
          if (response != undefined) {
            this.selectedItem = null;
              this.editedItem = Object.assign({}, this.defaultItem);
            this.notesItems.splice(index, 1);

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.editedIndex = this.notesItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },
     downloadAttachment (file) {
       console.log('download file'+JSON.stringify(file))
        this.loader = true;
        this.searchData.id = file.documentId;
        this.searchData.searchString = file.type;
        this.searchData.userId = this.$store.state.auth.userId;
        console.log("Search Data", this.searchData, file);
        downloadFile(this.searchData)
          .then((response) => {
            let downloadData = response.data;
            console.log(response.data);
            let blob = new Blob([response.data], { type: file.contentType });
            let link = document.createElement("a");
            link.href = window.URL.createObjectURL(blob);
            link.download = file.documentName;
            link.click();
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
    saveAndClose(){
      this.save();
     this.close();
    },
    close() {
      this.dialog = false;
    },
    save() {
      if (this.$refs.itemform.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        this.editedItem.sessionID = this.sessionID;
        this.editedItem.documentId = this.documentId;
        if(this.editedItem.link!=null && this.editedItem.link!="")
        {
         var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
        
      if (validate.test(this.editedItem.link)) {
       
        if (this.editedItem.notesId > 0) {
          Object.assign(this.notesItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateNotes(this.editedItem)
            .then((response) => {
              Object.assign(this.notesItems[index], response.data);

              this.loader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.getNotes();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          createNotes(this.editedItem)
            .then((response) => {
              this.loader = false;
              if (response != undefined) {
                this.notesItems.push(response.data);

                this.editedItem = response.data;

                let index = this.notesItems
                  .map((item) => item.notesId)
                  .indexOf(response.data.notesId);
                this.editedIndex = index;

                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        
      } else {
         this.loader = false;
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
      }
      else {
         if (this.editedItem.notesId > 0) {
          Object.assign(this.notesItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updateNotes(this.editedItem)
            .then((response) => {
              Object.assign(this.notesItems[index], response.data);

              this.loader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.getNotes();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          createNotes(this.editedItem)
            .then((response) => {
              this.loader = false;
              if (response != undefined) {
                this.notesItems.push(response.data);

                this.editedItem = response.data;

                let index = this.notesItems
                  .map((item) => item.notesId)
                  .indexOf(response.data.notesId);
                this.editedIndex = index;

                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        }

      } 
      }
      else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    clicklinkComment() {
      
      if(this.editedItem.link!=null && this.editedItem.link!="")
      {
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(this.editedItem.link)) {
        window.open(this.editedItem.link, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
      }
    },
      clicklink(item) {
        console.log('item link'+JSON.stringify(item))
      var validate =
        /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
      if (validate.test(item.link)) {
        window.open(item.link, "_blank");
      } else {
        window.getApp.$emit("APP_API_ERROR", "Please Enter the valid URL link");
      }
    },
  },
};
</script>
