<template>
  <div>
    <v-toolbar dark color="primary">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
        color="white"
      >
        <div slot="label">Search</div>
      </v-text-field>
      <v-dialog v-model="dialog" max-width="1100px" persistent>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                @click.native="saveNotify"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="loader"
                :disabled="notifyItem.notifyDocumentId < 0"
                @click.native="openlongNotes"
              >
                <v-icon color="white">notes</v-icon>
              </v-btn>
              <span>Long Notes</span>
            </v-tooltip>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <div style="overflow: auto; height: calc(90vh - 100px)">
            <v-card-text>
              <v-form
                v-model="notifyItem.valid"
                ref="notifyform"
                lazy-validation
              >
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-radio-group
                      v-model="selected"
                      row
                      :mandatory="false"
                      @change="onUserRadioGroupChanged"
                    >
                      <v-radio label="User" value="user"></v-radio>
                      <v-radio label="User Group" value="user-group"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm8>
                    <v-autocomplete
                      v-if="selected == 'user-group'"
                      label="User Group"
                      :loading="loader"
                      :search-input.sync="searchgroup"
                      multiple
                      prepend-icon="groups"
                      v-model="notifyItem.userGroupIDs"
                      :items="userGroupItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userGroupID"
                      @change="onUserGroupChange"
                      :rules="groupRules"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeUserGroup(data.item)"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                    </v-autocomplete>
                    <v-autocomplete
                      v-if="selected == 'user'"
                      label="User"
                      :loading="userloader"
                      :search-input.sync="searchuser"
                      multiple
                      prepend-icon="people"
                      v-model="notifyItem.userIDs"
                      :items="userItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userID"
                      @change="onUserChange"
                      :rules="userRules"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeUser(data.item)"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-radio-group
                      v-model="ccselected"
                      row
                      :mandatory="false"
                      @change="onCCUserRadioGroupChanged"
                    >
                      <v-radio label="CC User" value="ccuser"></v-radio>
                      <v-radio
                        label="CC User Group"
                        value="ccuser-group"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm8>
                    <v-autocomplete
                      v-if="ccselected == 'ccuser-group'"
                      label="CC User Group"
                      :loading="loader"
                      :search-input.sync="ccsearchgroup"
                      multiple
                      prepend-icon="groups"
                      v-model="notifyItem.ccuserGroupIDs"
                      :items="userGroupItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userGroupID"
                      @change="onCCUserGroupChange"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeCCUserGroup(data.item)"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                    </v-autocomplete>
                    <v-autocomplete
                      v-if="ccselected == 'ccuser'"
                      label="CC"
                      :loading="userloader"
                      :search-input.sync="ccsearchuser"
                      multiple
                      prepend-icon="people"
                      v-model="notifyItem.ccuserIDs"
                      :items="userItems"
                      chips
                      auto
                      item-text="name"
                      item-value="userID"
                      @change="onCCUserChange"
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeCCUser(data.item)"
                        >
                          {{ data.item.name }}
                        </v-chip>
                      </template>
                    </v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="notifyItem.isUrgent"
                      label="Urgent"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs4 sm4>
                    <v-menu
                      v-model="dueDatedialog"
                      :close-on-content-click="false"
                      menu-props="closeOnContentClick"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="dueDateFormatted"
                        label="Due Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="notifyItem.dueDate"
                        @change="dueDatedialog = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs4 sm4> </v-flex>
                  <v-flex
                    xs12
                    sm12
                    v-if="notifyItem.isQuote"
                    style="padding: 10px"
                  >
                    <v-card color="indigo lighten-2" dark tile flat>
                      <v-icon>format_quote</v-icon>
                      <v-card-text v-html="quoteMessage">
                        <v-icon
                          small
                          class="mr-2"
                          v-if="isDetail"
                          @click="openlongNotesFromQuote(notifyItem)"
                          >notes</v-icon
                        >
                      </v-card-text>
                    </v-card>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-checkbox
                      primary
                      hide-details
                      v-model="notifyItem.isDetailNotes"
                      label="Is Refer Detail Notes"
                      :disabled="disableDetailNotes"
                      @change="selectIsDetailNotes"
                    ></v-checkbox>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="notifyItem.remarks"
                      label="Notes"
                      prepend-icon="select_all"
                      required
                      :rules="requiredRules"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="saveNotify"
              >save</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-btn icon="" @click="getNotify()">
        <v-icon icon> refresh </v-icon>
      </v-btn>

      <v-btn icon @click.native="closeMethod">
        <v-icon color="white">close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-dialog v-model="notifyLongdialog" persistent max-width="1000px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="notifyLongdialog = false"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>

        <v-flex lg12 sm12>
          <vue-mce
            :config="notifyLongconfig"
            ref="longEditor"
            id="longdescription"
            v-if="isLongRender"
            v-model="notifyLongData.detailNotes"
          />
        </v-flex>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary darken-1"
            outline
            @click="saveLongNotes"
            :disabled="notifyLongData.notifyLongNotesId > 0"
            >Save</v-btn
          >

          <v-btn
            color="primary darken-1"
            outline
            @click="notifyLongdialog = false"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <app-section-loader :status="loader"></app-section-loader>
    <v-card>
      <v-card-text>
        <v-form ref="form" lazy-validation>
          <div style="overflow: auto; height: calc(70vh - 100px)">
            <v-flex xs12 sm12>
              <v-data-table
                :headers="notifyheaders"
                :search="search"
                :items="notifyItems"
                :loading="gridloader"
                class="elevation-0"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">
                    <v-icon
                      small
                      class="mr-2"
                      color="red"
                      v-if="props.item.isUrgent"
                      >fa fa-exclamation-circle</v-icon
                    >
                    {{ props.item.addedDate | formatDateTime }}
                  </td>
                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>

                  <td class="text-xs-left">
                    {{ props.item.userName }}
                  </td>
                  <td class="text-xs-left">
                    {{ props.item.ccuserName }}
                  </td>
                  <td class="text-xs-left">
                    {{ props.item.userGroupName }}
                  </td>

                  <td v-if="props.item.isQuote">
                    <span color="gray lighten-2" dark tile flat
                      ><b>"{{ props.item.quoteMessage }}" </b></span
                    >
                    <v-icon
                      small
                      class="mr-2"
                      v-if="
                        props.item.isQuoteDetailNotes &&
                        props.item.quoteNotifyId > 0
                      "
                      @click="openlongNotesFromQuote(props.item)"
                      >notes</v-icon
                    >
                    <br />
                    {{ props.item.remarks }}
                    <v-icon
                      small
                      class="mr-2"
                      v-if="props.item.isDetailNotes"
                      @click="openlongNotesFromGrid(props.item)"
                      >notes</v-icon
                    >
                  </td>
                  <td v-else>
                    {{ props.item.remarks }}
                    <v-icon
                      small
                      class="mr-2"
                      v-if="props.item.isDetailNotes"
                      @click="openlongNotesFromGrid(props.item)"
                      >notes</v-icon
                    >
                  </td>

                  <td class="text-xs-left">
                    {{ props.item.dueDate | formatDate }}
                  </td>
                  <td>
                    <v-menu bottom right>
                      <v-btn slot="activator" icon>
                        <v-icon>more_vert</v-icon>
                      </v-btn>
                      <v-list>
                        <v-list-tile
                          v-for="(item, i) in notesmenuItems"
                          :key="i"
                          @click="menuClick(i, props.item)"
                          ripple="ripple"
                          rel="noopener"
                        >
                          <v-list-tile-action>
                            <v-icon>{{ item.icon }}</v-icon>
                          </v-list-tile-action>
                          <v-list-tile-title>{{
                            item.title
                          }}</v-list-tile-title>
                        </v-list-tile>
                      </v-list>
                    </v-menu>
                  </td>
                </template>
              </v-data-table>
            </v-flex>
          </div>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import UploadButton from "vuetify-upload-button";
import Util from "@/util";
import { getApplicationUsers, getUserGroups } from "@/api/userGroup";
import GlobalMessage from "@/constant";
import {
  getNotifyDocuments,
  getNotifyDocumentById,
  getNotifyDocumentByUser,
  createNotifyDocument,
  updateNotifyDocument,
  createNotifylongNotes,
  getLongNotesByNotifyId,
  updateNotifyStatusById,
  getLatestNotifyDocumentById,
} from "@/api/notifyDocument";
import moment from "moment";
export default {
  components: { "upload-btn": UploadButton },
  props: {
    controller: {
      type: String,
      default: "",
    },
    action: {
      type: String,
      default: "Grid Page",
    },
    uploadAction: {
      type: String,
      default: "",
    },
    deleteAction: {
      type: String,
      default: "",
    },
    downloadAction: {
      type: String,
      default: "",
    },
    search: {
      type: String,
      default: "",
    },
    attachMethod: {
      type: Function,
    },
    closeMethod: {
      type: Function,
    },
    showAddNotes: {
      type: Boolean,
      default: true,
    },
    showattachMethod: {
      type: Boolean,
      default: true,
    },
    showRefreshMethod: {
      type: Boolean,
      default: true,
    },
    showDownload: {
      type: Boolean,
      default: true,
    },
    showUploadMethod: {
      type: Boolean,
      default: true,
    },
    screenID: {
      type: String,
      default: "",
    },

    wikiStatusType: {
      type: String,
      default: "",
    },
    isWiki: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    notifyType:"",
    commentmessageflag: false,
    loader: false,
    dialog: false,
    notifyLongdialog: false,
    mailNotifydialog: false,
    disableDetailNotes: false,
    isLongRender: false,
    isFromDashboard: false,
    fromDashboard: false,
    isDetail: false,
    notifyDocumentId: null,
    notifyLongconfig: Util.tinyconfig(150),
    selected: "user",
    ccselected: "ccuser",
    quoteMessage: "",
    gridloader: false,
    dueDatedialog: false,
    userGroupItems: [],
    userloader:false,
    userItems: [],
    mailNotifyItems: [],
    notifyItems: [],
    sessionID: null,
    documentId: null,
    searchData: { id: null, searchString: "", userId: null },
    searchuser: "",
    searchgroup: "",
    ccsearchgroup: "",
    sessionId:null,
    defaultItem: {
      valid: false,
      remarks: "",
      userId: null,
      userIDs: [],
      userGroupIDs: [],
      notifyDocumentId: -1,
      documentId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      quoteNotifyId: null,
      isUrgent: null,
      ccuserIDs: [],
      isDetailNotes: false,
      dueDate: null,
      ccuserGroupIDs: [],
      isRead: false,
      notifyType:"",
    },
    notifyItem: {
      valid: false,
      remarks: "",
      userId: null,
      userIDs: [],
      userGroupIDs: [],
      notifyDocumentId: -1,
      documentId: null,
      addedByUserId: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
      sessionId: null,
      isQuote: false,
      quoteNotifyId: null,
      isUrgent: null,
      ccuserIDs: [],
      dueDate: null,
      isDetailNotes: false,
      ccuserGroupIDs: [],
      isRead: false,
      notifyType:"",
    },
    notifyLongData: {
      notifyLongNotesId: -1,
      notifyDocumentId: null,
      detailNotes: "<div> &nbsp; </div>",
      addedByUserID:null,
    },
    notifyheaders: [
      {
        text: "Date",
        value: "addedDate",
        align: "left",
      },
      {
        text: "From",
        value: "addedByUser",
        align: "left",
      },

      {
        text: "To",
        align: "left",
        value: "userName",
      },
      {
        text: "CC User",
        align: "left",
        value: "ccuserName",
      },
      {
        text: "User Group",
        align: "left",
        value: "userGroupName",
      },

      {
        text: "Notes",
        align: "left",
        value: "remarks",
        width: "40%",
      },
      {
        text: "Due Date",
        align: "left",
        value: "dueDate",
        width: "10%",
      },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {
          //console.log(e);
        },
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
    ],
    notesmenuItems: [
      {
        icon: "format_quote",
        href: "#",
        title: "Quote",
        isEnable: true,
        click: (e) => {},
      },
      // {
      //   icon: "reply",
      //   href: "#",
      //   title: "Reply",
      //   click: (e) => {},
      // },
    ],
    attachloaders: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      sortBy: "addedDate",
      descending: true,
      rowsPerPage: 10,
    },
    ccsearchuser: "",
    uploadAttachmentDocuments: [],
  }),
  computed: {
    userRules() {
      return [
        () =>
          !!this.notifyItem.userIDs.length > 0 ||
          "Atleast one User must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    groupRules() {
      return [
        () =>
          !!this.notifyItem.userGroupIDs.length > 0 ||
          "Atleast one User Group must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
    dueDateFormatted() {
      return this.notifyItem.dueDate
        ? moment(this.notifyItem.dueDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {
    this.loadDropDownLIst();
  },
  methods: {
    refreshMethod() {
      this.getNotify();
    },

    add() {
      console.log(this.isFromDashboard);
      if (this.isFromDashboard == false) {
        this.notifyItem = Object.assign({}, this.defaultItem);
        this.notifyItem.userIDs = [];
        this.clear();
        this.isFromDashboard = false;
      }
      if (this.isFromDashboard == true) {
        this.getLatest();
      }
      this.quoteMessage = "";
      this.isDetail = false;
      this.notifyItem.remarks = "";
      this.notifyItem.isDetailNotes = false;
      this.editedIndex = -1;
      this.notifyItem.notifyDocumentId = -1;
      // this.fromDashboard = false;
    },
    onUserRadioGroupChanged() {
      if (this.selected == "user") {
        this.notifyItem.userGroupIDs = [];
      } else if (this.selected == "user-group") {
        this.notifyItem.userIDs = [];
      }
    },
    getLatest() {
      getLatestNotifyDocumentById(this.documentId)
        .then((response1) => {
         // if (this.isFromDashboard == true) {
            this.notifyItem.addedByUserID = this.$store.state.auth.userId;
            this.notifyItem.userIDs = response1.data.userIDs;
            this.notifyItem.userGroupIDs = response1.data.userGroupIDs;
            console.log("exist user" + response1.data.addedByUserID);
            console.log("notify user" + this.notifyItem.userIDs[0]);
            if (
              this.notifyItem.userIDs.length > 0 &&
              this.notifyItem.userIDs[0] != null
            ) {
              this.selected = "user";
              let id = this.$store.state.auth.userId;
              const index = this.notifyItem.userIDs.indexOf(id);
              if (index >= 0) this.notifyItem.userIDs.splice(index, 1);
              if (response1.data.addedByUserID != null) {
                let user = this.notifyItem.userIDs.filter(
                  (a) => a == response1.data.addedByUserID
                );
                console.log("user " + user[0]);
                if (user[0] == null) {
                  this.notifyItem.userIDs.push(response1.data.addedByUserID);
                }
                 console.log(this.notifyItem);
              }
            } else if (
              this.notifyItem.userGroupIDs.length > 0 &&
              this.notifyItem.userGroupIDs[0] != null
            ) {
              this.selected = "user-group";
            }
            this.notifyItem.ccuserIDs = response1.data.ccuserIDs;
            this.notifyItem.ccuserGroupIDs = response1.data.ccuserGroupIDs;
            if (this.notifyItem.ccuserIDs.length > 0) {
              this.ccselected = "ccuser";
              let id = this.$store.state.auth.userId;
              const index = this.notifyItem.ccuserIDs.indexOf(id);
              if (index >= 0) this.notifyItem.ccuserIDs.splice(index, 1);
            } else if (this.notifyItem.ccuserGroupIDs.length > 0) {
              this.ccselected = "ccuser-group";
            }
         // }
          // this.notifyItem = Object.assign({}, response1.data);
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onCCUserRadioGroupChanged() {
      if (this.ccselected == "ccuser") {
        this.notifyItem.ccuserGroupIDs = [];
      } else if (this.ccselected == "ccuser-group") {
        this.notifyItem.ccuserIDs = [];
      }
    },
    selectuser(value) {
      this.searchto = "";
    },
    saveLongNotes() {
      console.log("long notes" + this.notifyLongData.detailNotes);
      this.notifyLongData.notifyDocumentId = this.notifyItem.notifyDocumentId;
       this.notifyLongData.addedByUserID = this.$store.state.auth.userId;
      console.log("long notes item" + JSON.stringify(this.notifyLongData));
      createNotifylongNotes(this.notifyLongData)
        .then((response) => {
          this.loader = false;
          this.notifyLongData.notifyLongNotesId =
            response.data.notifyLongNotesId;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removeUserGroup(item) {
      const index = this.notifyItem.userGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.notifyItem.userGroupIDs.splice(index, 1);
    },
    removeCCUserGroup(item) {
      const index = this.notifyItem.ccuserGroupIDs.indexOf(item.userGroupID);
      if (index >= 0) this.notifyItem.ccuserGroupIDs.splice(index, 1);
    },
    removeUser(item) {
      const index = this.notifyItem.userIDs.indexOf(item.userID);
      if (index >= 0) this.notifyItem.userIDs.splice(index, 1);
    },
    removeCCUser(item) {
      const index = this.notifyItem.ccuserIDs.indexOf(item.userID);
      if (index >= 0) this.notifyItem.ccuserIDs.splice(index, 1);
    },
    openlongNotes() {
      if (this.notifyItem.notifyDocumentId > 0) {
        this.notifyLongData.detailNotes = "<div> &nbsp; </div>";
        let id = this.notifyItem.notifyDocumentId;
        getLongNotesByNotifyId(id)
          .then((response1) => {
            this.gridloader = false;
            console.log(
              "get response data long Notes" + JSON.stringify(response1.data)
            );
            this.notifyLongData.detailNotes = response1.data.detailNotes;
            this.notifyLongData.notifyDocumentId =
              response1.data.notifyDocumentId;
            this.notifyLongData.notifyLongNotesId =
              response1.data.notifyLongNotesId;
            console.log(
              "notify long data" + JSON.stringify(this.notifyLongData)
            );
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      this.isLongRender = true;
      setTimeout(() => {
        this.notifyLongdialog = true;
      }, 1000);
    },
    onUserChange() {
      this.searchuser = "";
      if (this.notifyItem.userGroupIDs.length > 0) {
        this.notifyItem.userGroupIDs = [];
      }
      for (var id in this.notifyItem.userIDs) {
        let user = this.notifyItem.ccuserIDs.filter(
          (a) => a == this.notifyItem.userIDs[id]
        );
        if (user[0] != null) {
          const itemindex = this.notifyItem.ccuserIDs.indexOf(user[0]);
          if (itemindex >= 0) this.notifyItem.ccuserIDs.splice(itemindex, 1);
        }
      }
    },
    onCCUserChange() {
      this.ccsearchuser = "";
      for (var id in this.notifyItem.ccuserIDs) {
        let user = this.notifyItem.userIDs.filter(
          (a) => a == this.notifyItem.ccuserIDs[id]
        );
        if (user[0] != null) {
          const itemindex = this.notifyItem.userIDs.indexOf(user[0]);
          if (itemindex >= 0) this.notifyItem.userIDs.splice(itemindex, 1);
        }
      }
    },
    onCCUserGroupChange() {
      this.ccsearchgroup = "";
      if (this.notifyItem.ccuserIDs.length > 0) {
        this.notifyItem.ccuserIDs = [];
      }
    },
    onUserGroupChange() {
      this.searchgroup = "";
      if (this.notifyItem.userIDs.length > 0) {
        this.notifyItem.userIDs = [];
      }
    },
    selectIsDetailNotes() {
      if (this.notifyItem.isDetailNotes == true) {
        if (this.notifyItem.notifyDocumentId < 0) {
          this.notifyItem.remarks =
            this.notifyItem.remarks + "Refers to the Detail Notes";

          setTimeout(() => {
            this.saveNotify();
            console.log("automatic notes save call");
          }, 300);
        } else {
          this.disableDetailNotes = false;
        }
      } else if (this.notifyItem.isDetailNotes == false) {
      }
    },
    saveNotify() {
       this.notifyItem.notifyType = this.notifyType;
       this.notifyItem.sessionId = this.sessionId;
      if (this.$refs.notifyform.validate()) {
        if (this.notifyItem.notifyDocumentId < 0) {
          this.loader = true;
          this.notifyItem.documentId = this.documentId;
          this.notifyItem.addedByUserID = this.$store.state.auth.userId;
          this.notifyItem.addedDate = new Date();
          this.notifyItem.isRead = false;
          createNotifyDocument(this.notifyItem)
            .then((response) => {
              this.loader = false;
              console.log("response data" + JSON.stringify(response.data));

              this.notifyItems.push(response.data);
              this.notifyItem.notifyDocumentId = response.data.notifyDocumentId;
              this.notifyItem.userIDs = response.data.userIDs;
              this.notifyItem.ccuserIDs = response.data.userGroupIDs;
              this.notifyItem.ccuserGroupIDs = response.data.ccuserGroupIDs;
              this.notifyItem.userGroupIDs = response.data.userGroupIDs;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              //this.notifyItem.remarks = "";
              //this.dialog=false;
              //this.clear();
              this.disableDetailNotes = true;
              this.isLongRender = true;
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          //    this.notifyItem.documentId = this.documentId;
          updateNotify();
        }
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
        this.loader = false;
      }
    },
    updateNotify() {
      this.notifyItem.modifiedByUserID = this.$store.state.auth.userId;
      updateNotifyDocument(this.notifyItem)
        .then((response) => {
          this.loader = false;
          console.log("response data" + JSON.stringify(response.data));

          this.notifyItems.push(response.data);
          this.notifyItem.notifyDocumentId = response.data.notifyDocumentId;
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);

          this.disableDetailNotes = true;
          this.isLongRender = true;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getNotify() {
      this.gridloader = true;
      console.log("From Dashboard", this.isFromDashboard);
      getNotifyDocumentById(this.documentId)
        .then((response1) => {
          this.gridloader = false;
          console.log("get response data" + JSON.stringify(response1.data));
          this.notifyItems = response1.data;
          // this.isLongRender = true;
          let exist = response1.data.filter(
            (o) =>
              o.documentId == this.documentId &&
              o.notifyDocumentId == this.notifyDocumentId
          );
          if (exist.length > 0 && this.isFromDashboard == true) {
            console.log("exist item" + JSON.stringify(exist));
            //this.notifyItem.userId = exist[0].addedByUserID;
            this.notifyItem.addedByUserID = this.$store.state.auth.userId;
            this.notifyItem.userIDs = exist[0].userIDs;
            this.notifyItem.userGroupIDs = exist[0].userGroupIDs;
            console.log("exist user" + exist[0].addedByUserID);
            console.log("notify user" + this.notifyItem.userIDs[0]);
            if (
              this.notifyItem.userIDs.length > 0 &&
              this.notifyItem.userIDs[0] != null
            ) {
              this.selected = "user";
              let id = this.$store.state.auth.userId;
              const index = this.notifyItem.userIDs.indexOf(id);
              if (index >= 0) this.notifyItem.userIDs.splice(index, 1);
              if (exist[0].addedByUserID != null) {
                let user = this.notifyItem.userIDs.filter(
                  (a) => a == exist[0].addedByUserID
                );
                console.log("user " + user[0]);
                if (user[0] == null) {
                  this.notifyItem.userIDs.push(exist[0].addedByUserID);
                }
              }
            } else if (
              this.notifyItem.userGroupIDs.length > 0 &&
              this.notifyItem.userGroupIDs[0] != null
            ) {
              this.selected = "user-group";
            }
            this.notifyItem.ccuserIDs = exist[0].ccuserIDs;
            this.notifyItem.ccuserGroupIDs = exist[0].ccuserGroupIDs;
            if (this.notifyItem.ccuserIDs.length > 0) {
              this.ccselected = "ccuser";
              let id = this.$store.state.auth.userId;
              const index = this.notifyItem.ccuserIDs.indexOf(id);
              if (index >= 0) this.notifyItem.ccuserIDs.splice(index, 1);
            } else if (this.notifyItem.ccuserGroupIDs.length > 0) {
              this.ccselected = "ccuser-group";
            }
          }
          // this.notifyItem = Object.assign({}, response1.data);
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

    },
    loadDropDownLIst()
    {
            this.userloader = true;
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            //this.userItems = response.data;
            let uom = response.data.filter((o) => o.statusCodeID == 1);
            this.userItems = uom;
            this.userloader = false;
          }
        })
        .catch((error) => {
          this.userloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    menuClick(key, item) {
      if (key == 0) {
        this.quoteMessage =
          item.remarks +
          "<br><br>" +
          item.addedByUser +
          ", " +
          moment(item.addedDate).format("DD-MMM-YYYY");

        // this.isDetail = item.isDetailNotes;

        this.notifyItem.isQuote = true;
        this.notifyItem.quoteNotifyId = item.notifyDocumentId;
        this.notifyItem.userIDs = [];
        this.notifyItem.notifyDocumentId = -1;
        this.dialog = true;
        if (item.isDetailNotes == true) {
          this.isDetail = true;
          this.quoteMessage =
            this.quoteMessage + "<br/> With long Notes Description";
        }
      } else if (key == 1) {
        // console.log('item'+JSON.stringify(item));
        // if (item.userIDs.length>0 && item.userIDs[0] != null) {
        //   this.notifyItem.userIDs = item.userIDs;
        //   this.selected = "user";
        // } else if (item.userGroupIDs.length>0 && item.userGroupIDs[0] != null) {
        //   this.notifyItem.userGroupIDs = item.userGroupIDs;
        //   this.selected = "user-group";
        // }
        // if (item.ccuserIDs.length>0 && item.ccuserIDs[0] != null) {
        //   this.notifyItem.ccuserIDs = item.ccuserIDs;
        //   this.ccselected = "ccuser";
        // } else if (item.ccuserGroupIDs.length>0 && item.ccuserGroupIDs[0] != null) {
        //   this.notifyItem.ccuserGroupIDs = item.ccuserGroupIDs;
        //   this.ccselected = "ccuser-group";
        // }
        // this.notifyItem.remarks = "";
        // this.notifyItem.notifyDocumentId=-1;
        // this.editedIndex = -1;
        // this.dialog = true;
      }
    },
    close() {
      this.dialog = false;

      this.clear();
      this.getNotify();
      console.log("notify document id close" + this.notifyDocumentId);
      console.log("From Dashboard", this.isFromDashboard);
      if (this.isFromDashboard) {
        let userId = this.$store.state.auth.userId;
        let id = this.notifyDocumentId;
        updateNotifyStatusById(id, userId)
          .then((response1) => {})
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    clear() {
      this.notifyItem.remarks = "";
      this.notifyItem.userIDs = [];
      this.notifyItem.userGroupIDs = [];
      this.notifyItem.ccuserIDs = [];
      this.notifyItem.ccuserGroupIDs = [];
      this.selected = "user";
      this.ccselected = "ccuser";
      this.notifyItem.isDetailNotes = false;
      this.notifyItem.dueDate = null;
      this.disableDetailNotes = false;
    },

    openlongNotesFromGrid(item) {
      console.log("item" + JSON.stringify(item));
      this.notifyLongData.notifyDocumentId = item.notifyDocumentId;
      this.notifyLongData.notifyLongNotesId = item.notifyLongNotesId;
      let id = this.notifyLongData.notifyDocumentId;
      let userId = this.$store.state.auth.userId;
      if (this.isFromDashboard == true) {
        this.fromDashboard = true;
        if (userId == item.addedByUserID) {
          this.fromDashboard = false;
        }
      }
      this.notifyLongData.detailNotes = "<div> &nbsp; </div>";
      getLongNotesByNotifyId(id)
        .then((response1) => {
          this.gridloader = false;
          console.log(
            "get response from grid data" + JSON.stringify(response1.data)
          );
          this.notifyLongData.detailNotes = response1.data.detailNotes;
          this.notifyLongData.notifyLongNotesId =
            response1.data.notifyLongNotesId;
          this.notifyLongData.notifyDocumentId =
            response1.data.notifyDocumentId;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      setTimeout(() => {
        this.notifyLongdialog = true;
        this.isLongRender = true;
      }, 500);
    },
    openlongNotesFromQuote(item) {
      console.log("quote item" + JSON.stringify(item));
      this.notifyLongData.notifyDocumentId = item.quoteNotifyId;
      let id = this.notifyLongData.notifyDocumentId;
      let userId = this.$store.state.auth.userId;
      this.fromDashboard = true;

      this.notifyLongData.detailNotes = "<div> &nbsp; </div>";
      getLongNotesByNotifyId(id)
        .then((response1) => {
          this.gridloader = false;
          console.log(
            "get response from grid data" + JSON.stringify(response1.data)
          );
          this.notifyLongData.detailNotes = response1.data.detailNotes;
          this.notifyLongData.notifyDocumentId =
            response1.data.notifyDocumentId;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      setTimeout(() => {
        this.notifyLongdialog = true;
        this.isLongRender = true;
      }, 500);
    },
  },
};
</script>
