<template>
  <div>
    <div>
      <v-card class="elevation-20">
        <v-card-content>
          <app-section-loader :status="loader"></app-section-loader>
          <ejs-grid
            ref="gridreport"
            :dataSource="griddata"
            :allowPaging="true"
            :allowResizing="true"
            :allowExcelExport="true"
            :allowFiltering="true"
            :toolbar="toolbar"
            :toolbarClick="toolbarClick"
            :filterSettings="filterSettings"
            :allowGrouping="false"
            :allowSorting="true"
            :dataBound="dataBound"
            height="calc(100vh - 230px - 193px)"
            :actionBegin="actionBegin"
            :actionComplete="actionComplete"
            :selectionSettings="selectionOptions"
            :queryCellInfo="customiseCell"
            @cellSelected="oncommentPsb"
            :frozenColumns="3"
            width="calc(100% - 10px)"
            :loading="loader"
          >
            <e-columns>
              <e-column
                field="distNo"
                headerText="Dist No"
                clipMode="EllipsisWithTooltip"
                width="160"
                textAlign="Left"
                minWidth="10"
              ></e-column>
              <e-column
                field="itemNo"
                headerText="Generic Code"
                clipMode="EllipsisWithTooltip"
                width="250"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <e-column
                field="packSize"
                headerText="Pack Size"
                width="100"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <e-column
                field="acSum"
                headerText="AC"
                width="120"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <!-- <e-column
                field="myStockBalance"
                headerText="SWJB Stk Balance"
                width="120"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <e-column
                field="sgStockBalance"
                headerText="SWSIN Stk Balance"
                width="120"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column> -->
              <e-column
                :headerText="acheader"
                :columns="distColumns"
                textAlign="Center"
                format="N2"
              ></e-column>

              <e-column
                :headerText="month1"
                :columns="projectedMonth1"
                textAlign="Center"
                format="N2"
              ></e-column>
              <!-- <e-column
                :headerText="month2"
                :columns="projectedMonth2"
                textAlign="Center"
                format="N2"
              ></e-column> -->

              <e-column
                :headerText="month3"
                :columns="projectedMonth3"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month4"
                :columns="projectedMonth4"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month5"
                :columns="projectedMonth5"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month6"
                :columns="projectedMonth6"
                textAlign="Center"
                format="N2"
              ></e-column>

              <!-- <e-column
                field="qty"
                headerText="Quantity"
                width="120"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <e-column
                field="comment"
                headerText="Comment"
                width="120"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <e-column
                field="isApproval"
                headerText="Approval"
                width="120"
                textAlign="Left"
                minWidth="10"
                displayAsCheckBox="true"
                :allowEditing="false"
              ></e-column>
              <e-column
                headerText="Action"
                :allowEditing="false"
                :template="actionTemplate"
                width="150"
              ></e-column> -->
            </e-columns>
            <e-aggregates>
              <e-aggregate>
                <e-columns>
                  <e-column
                    type="Custom"
                    field="itemNo"
                    :groupFooterTemplate="customTemplate2"
                  ></e-column>
                </e-columns>
              </e-aggregate>
              <e-aggregate>
                <e-columns>
                  <e-column
                    type="Custom"
                    field="itemNo"
                    :groupFooterTemplate="customTemplate"
                  ></e-column>

                  <e-column
                    type="Sum"
                    field="symlQty"
                    format="N2"
                    :groupFooterTemplate="sumTemplate"
                  ></e-column>
                  <e-column
                    type="Sum"
                    format="N2"
                    field="threeMonthACQty"
                    :groupFooterTemplate="sumtotalTemplate"
                  ></e-column>
                  <e-column
                    type="Custom"
                    format="N2"
                    field="roundup1"
                    :groupFooterTemplate="footerTemp"
                    :customAggregate="customroundup1Fn"
                  ></e-column>
                  <e-column
                    type="Custom"
                    field="roundup2"
                    format="N2"
                    :groupFooterTemplate="footerTemp"
                    :customAggregate="customroundup2Fn"
                  ></e-column>
                </e-columns>
              </e-aggregate>
            </e-aggregates>
          </ejs-grid>
        </v-card-content>
      </v-card>
      <v-navigation-drawer
        class="setting-drawer"
        temporary
        right
        v-model="rightDrawer"
        hide-overlay
        fixed
        width="350px"
      >
        <v-card>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>Recipes</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click="rightDrawer = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Recipe List</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>{{ itemDesc }}</v-card-title>
          <v-card-text>
            <v-list>
              <v-subheader>
                <div>Pack Size</div>
              </v-subheader>
              <v-list-tile
                v-for="recipe in itemRecipeList"
                :key="recipe"
                avatar
                @click="getrecipeCal(recipe)"
              >
                <v-list-tile-content>
                  <v-list-tile-title>
                    <div>{{ recipe }}</div>
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-card>
      </v-navigation-drawer>
      <v-dialog
        v-model="itemdialog"
        transition="dialog-bottom-transition"
        width="650px"
      >
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title color="white">{{ itemDesc }}</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="itemdialog = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="itemList"
              :search="search"
              class="elevation-1"
              default-sort="itemNo:desc"
            >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.itemNo }}</td>
                <td class="text-xs-left">{{ props.item.description }}</td>
                <td class="text-xs-left">{{ props.item.description2 }}</td>
                <td class="text-xs-left">{{ props.item.itemCategory }}</td>
                <td class="text-xs-left">{{ props.item.internalRefNo }}</td>
                <!-- <td class="text-xs-left">{{ props.item.stockBalance }}</td> -->
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline>No items.</v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-dialog v-model="referencedialog" persistent max-width="600px">
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title><h4>Version</h4></v-toolbar-title>
            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="referencedialog = false"
              >
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-flex xs12 sm12>
            <v-textarea
              v-model="referenceInfo"
              label="Reference"
              prepend-icon="description"
              required
              :rules="referenceRuels"
            ></v-textarea>
          </v-flex>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="saveVersion"
              >SAVE</v-btn
            >

            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="referencedialog = false"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="commentdialog" width="400px">
        <v-card>
          <v-toolbar color="primary">
            <span class="headline white--text">PSB Comment</span>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="closeComment">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-text>
            <v-form
              v-model="editedItem.valid"
              ref="commentform"
              lazy-validation
            >
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm12>
                    <v-textarea
                      v-model="editedItem.comment"
                      label="Comment"
                      prepend-icon="description"
                    ></v-textarea>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-text-field
                      v-model="editedItem.qty"
                      label="Quantity"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs6 sm6>
                    <v-checkbox
                      v-model="editedItem.isApproval"
                      label="Approve"
                      primary
                    ></v-checkbox>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              :loading="loader"
              @click.native="saveComment"
              >Save</v-btn
            >
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="closeComment"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog v-model="versionListdialog" persistent max-width="600px">
        <versions
          ref="refVersions"
          title="PSB Versions"
          screenID="PRO9123"
          :closeMethod="versionListclose"
          controller="Simulation"
          action="GetPSBVersion"
          :versionMethod="versioneditItem"
        ></versions>
      </v-dialog>
    </div>
  </div>
</template>

<script>
import {
  getPSBReportV2,
  getPlants,
  createVersion,
  savePSBComment,
} from "@/api/nav";
import { getCustomers } from "@/api/itemMaster";
import versions from "@/components/Versions/versions";
import Vue from "vue";
import GlobalMessage from "@/constant";
import moment from "moment";
import { DropDownListPlugin } from "@syncfusion/ej2-vue-dropdowns";
import { DropDownList } from "@syncfusion/ej2-dropdowns";
import { Tooltip } from "@syncfusion/ej2-popups";
import {
  GridPlugin,
  Page,
  Resize,
  Edit,
  ExcelExport,
  Toolbar,
  Group,
  Filter,
  FilterType,
  Aggregate,
  Freeze,
} from "@syncfusion/ej2-vue-grids";
import { allResolved } from "q";
let packSizes = [
  1080,
  6,
  1000,
  400,
  1,
  12000,
  1200,
  600,
  1000,
  60,
  2500,
  6000,
  120,
  500,
  450,
  500,
  5,
  100,
  360,
  3,
  750,
  15,
];
Vue.use(GridPlugin);
Vue.use(DropDownListPlugin);
let selectedRecord = {};
var elem, dropdownObj, tooltip;
export default {
  components: {
    versions,
  },
  data: () => ({
    customersItems: [],
    referencedialog: false,
    referenceInfo: "",
    search: "",
    versionListdialog: false,
    referenceRuels: [(v) => !!v || "Reference is required"],
    companies: [],
    loader: false,
    filterColor: "black",
    filterdialog: false,
    rightDrawer: false,
    itemdialog: false,
    itemRecipeList: [],
    itemList: [],
    griddata: [],
    itemDesc: "",
    month1: "",
    month2: "",
    month3: "",
    month4: "",
    month5: "",
    month6: "",
    month7: "",
    month8: "",
    month9: "",
    month10: "",
    month11: "",
    month12: "",
    acheader: "AC as at end Aug 19",
    stbheader: "Stock balance as at end Aug 2019",
    stockMonthmenu: false,
    headerMonthmenu: false,
    headers: [
      { text: "Item No", value: "itemNo", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Description 2", value: "description2", align: "left" },
      { text: "Category", value: "itemCategory", align: "left" },
      { text: "Internal Ref. No.", value: "internalRefNo", align: "left" },
      // { text: 'Stock Balance', value: 'stockBalance', align: 'left' },
    ],
    searchParam: {
      search: "",
      company: "NAV_JB",
      stockMonth: new Date().toISOString().substr(0, 10),
      headerMonth: new Date().toISOString().substr(0, 10),
      fromPostingDate: new Date().toISOString().substr(0, 10),
      toPostingDate: new Date().toISOString().substr(0, 10),
      customerId: 1,
      userId: -1,
      methodCodeId: null,
      salesCategoryId: null,
      isSteroid: null,
      replenishment: "",
      ticketformula: "",
      ticketvalue: null,
      companyId: 1,
      versionId: 1,
    },
    methodCodeList: [],
    replenishmentList: [
      { text: "Purchase", value: "Purchase" },
      { text: "Prod. Order", value: "Prod. Order" },
    ],

    versionList: [
      { text: "1", value: "1" },
      { text: "2", value: "2" },
      { text: "3", value: "3" },
      { text: "4", value: "4" },
      { text: "5", value: "5" },
      { text: "6", value: "6" },
      { text: "7", value: "7" },
      { text: "8", value: "8" },
      { text: "9", value: "9" },
      { text: "10", value: "10" },
    ],
    ticketFormulaList: [
      { text: "Equal", value: "1" },
      { text: "Greater Than", value: "2" },
      { text: "Greater Than Or Equal", value: "3" },
      { text: "Less Than", value: "4" },
      { text: "Less Than Or Equal", value: "5" },
      { text: "Not Equal", value: "6" },
    ],
    salesGroupList: [
      { text: "CAP", value: 1 },
      { text: "CREAM", value: 2 },
      { text: "DD", value: 3 },
      { text: "SYRUP", value: 4 },
      { text: "TABLET", value: 5 },
      { text: "VET", value: 6 },
      { text: "POWDER", value: 7 },
      { text: "INJ", value: 8 },
    ],
    dpParams: {
      create: function() {
        elem = document.createElement("input");
        return elem;
      },
      read: () => {
        return dropdownObj.value;
      },
      destroy: () => {
        dropdownObj.destroy();
      },
      write: (args) => {
        dropdownObj = new DropDownList({
          dataSource: args.rowData.recipeLists,
        });
        dropdownObj.appendTo(elem);
      },
    },
    customTemplate1: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total AC in Pack UOM:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    customTemplate2: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total AC in BUOM:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    customTemplate: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total BUOM = number of tickets:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },

    sumTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumTemplate1: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumacTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span> {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },

    sumctnTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumtotalTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span> {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    footerTemp: function() {
      return {
        template: Vue.component("footerTemplate", {
          template: `<span>{{data.Custom}}</span>`,
          data() {
            return { data: {} };
          },
        }),
      };
    },

    numericParams: { params: { change: this.changeFn } },
    toolbar: ["ExcelExport", "Print"],
    filterSettings: { type: "Excel" },
    selectionOptions: {
      cellSelectionMode: "Box",
      type: "Multiple",
      mode: "Cell",
    },
    //editSettings: { allowEditing: true, mode: "Normal" },
    //groupSettings: { showDropArea: false, columns: ["methodCode"] },

    distColumns: [
      {
        field: "acQty",
        headerText: "Balance",
        format: "N2",
        width: 120,
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "swkivQty",
      //   headerText: "SW KIV",
      //   format: "N2",
      //   width: 120,
      //   textAlign: "Center",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "actualStockBalance",
        headerText: "AC/Months",
        format: "N2",
        width: 120,
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "apexQty",
        headerText: "Dist. Qty",
        width: 120,
        format: "N2",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
    ],

    projectedMonth1: [
      {
        field: "outputProjectedHoldingStock1",
        headerText: "New Delivery",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock1",
        headerText: "Projected stkBal",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month1",
        headerText: "Months",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth2: [
      {
        field: "outputProjectedHoldingStock2",
        headerText: "New Delivery",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock2",
        headerText: "Projected stkBal",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month2",
        headerText: "Months",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    // projectedMonth2: [
    //   {
    //     field: "poQty",
    //     headerText: "Delivery PO",
    //     width: 120,
    //     format: "N2",
    //     minWidth: 10,
    //     allowEditing: false,
    //   },
    //   {
    //     field: "projectedHoldingStock2",
    //     headerText: "Projected stkBal",
    //     width: 120,
    //     format: "N2",
    //     minWidth: 10,
    //     allowEditing: false,
    //   },
    //   {
    //     field: "month2",
    //     headerText: "Months AC Apex",
    //     width: 120,
    //     format: "N2",
    //     minWidth: 10,
    //     allowEditing: false,
    //   },
    // ],

    projectedMonth3: [
      {
        field: "outputProjectedHoldingStock3",
        headerText: "New Delivery",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock3",
        headerText: "Projected stkBal",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month3",
        headerText: "Months",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth4: [
      {
        field: "outputProjectedHoldingStock4",
        headerText: "New Delivery",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock4",
        headerText: "Projected stkBal",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month4",
        headerText: "Months",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],

    projectedMonth5: [
      {
        field: "outputProjectedHoldingStock5",
        headerText: "New Delivery",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock5",
        headerText: "Projected stkBal",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month5",
        headerText: "Months",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth6: [
      {
        field: "outputProjectedHoldingStock6",
        headerText: "New Delivery",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock6",
        headerText: "Projected stkBal",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month6",
        headerText: "Months",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth7: [
      {
        field: "outputProjectedHoldingStock7",
        headerText: "New Delivery",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock7",
        headerText: "Projected stkBal",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month7",
        headerText: "Months",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],

    nextProdColumns: [
      {
        field: "month1",
        headerText: "Jan",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month2",
        headerText: "Feb",
        format: "N2",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month3",
        headerText: "Mar",
        format: "N2",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month4",
        headerText: "Apr",
        format: "N2",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month5",
        headerText: "May",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month6",
        headerText: "Jun",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month7",
        headerText: "Jul",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month8",
        headerText: "Aug",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month9",
        headerText: "Sep",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month10",
        headerText: "Oct",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month11",
        headerText: "Nov",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month12",
        headerText: "Dec",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    editedItem: {
      valid: false,
      date: new Date().toISOString().substr(0, 10),
      distAcId: null,
      itemId: null,
      week: null,
      isApproval: false,
      comment: "",
      statusCodeID: 1,
      addedByUserID: "",
      addedDate: "",
      modifiedByUserID: "",
      modifiedDate: "",
    },
    psbItem: null,
    commentdialog: false,
    dateRange: {
      fromDate: new Date().toISOString().substr(0, 10),
      toDate: new Date().toISOString().substr(0, 10),
      itemNo: null,
    },
    packSizeList: [],
    actionTemplate: function() {
      return {
        template: Vue.component("actionTemplate", {
          template: `<v-icon
            small
            class="mr-2"
            style="cursor:pointer;"
          >
            add
          </v-icon>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    // packSizes: [1080, 6, 1000, 400, 1, 12000, 1200, 600, 1000, 60, 2500, 6000, 120, 500, 450, 500, 5, 100, 360, 3, 750, 15],

    editbzparams: {
      params: {
        allowFiltering: true,
        dataSource: packSizes,
        // fields: {text:"countryName",value:"countryName"},
      },
    },
    fields: { text: "batchSize", value: "batchSize" },
  }),

  provide: {
    grid: [
      Page,
      Resize,
      ExcelExport,
      Edit,
      Toolbar,
      Group,
      Filter,
      Aggregate,
      Freeze,
    ],
  },
  computed: {
    stockMonthDateFormatted() {
      return this.searchParam.stockMonth
        ? moment(this.searchParam.stockMonth).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    headerMonthDateFormatted() {
      return this.searchParam.headerMonth
        ? moment(this.searchParam.headerMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
  },
  created() {
    this.onLoad();
    this.initialize();
  },
  methods: {
    customiseCell: function(args) {
      if (args.data[args.column.field] == 0) {
        //args.cell.classList.add('below-0');
        args.cell.style.color = "white";
      }
    },
    actionBegin: function(args) {
      if (args.requestType === "beginEdit") {
        selectedRecord = {};
        selectedRecord = args.rowData;
        this.packSizeList = this.packSizes;
      }
      // console.log(args.requestType, args);
      // if (args.requestType == "refresh") {
      // }
    },
    actionComplete: function(args) {
      // if (args.requestType === "save") {
      //   this.searchParam.itemNo = args.data.itemNo;
      //   this.searchParam.remarks = args.data.remarks;
      //   this.searchParam.isUpdate = true;
      //   this.onLoad();
      // }
    },

    changeFn: function(args) {
      //alert(args.value);
      // selectedRecord["roundup2"] = args.value;
      let gridObj = this.$refs.gridreport.ej2Instances;
      gridObj.aggregateModule.refresh(selectedRecord);
    },
    editTemplate: function() {
      return {
        template: Vue.component("dropdownlist", {
          template: `<ejs-dropdownlist id="pSize" v-model='data.prodRecipe'  :dataSource='data.recipeLists' placeholder="Pack Size" popupHeight='300px' floatLabelType='Always'></ejs-dropdownlist>`,
          data() {
            return { data: {} };
          },
          computed: {
            // getPackSizes: () => {
            //   return [
            //     1080,
            //     6,
            //     1000,
            //     400,
            //     1,
            //     12000,
            //     1200,
            //     600,
            //     1000,
            //     60,
            //     2500,
            //     6000,
            //     120,
            //     500,
            //     450,
            //     500,
            //     5,
            //     100,
            //     360,
            //     3,
            //     750,
            //     15,
            //   ];
            // },
          },
        }),
      };
    },
    dataBound: function(args) {
      //this.$refs.gridreport.ej2Instances.groupModule.collapseAll();
    },

    customroundup1Fn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce((acc, item) => acc + item.symlQty, 0) * 3;
        var valData = sum / data.items[0].packSize2;
        return valData.toFixed(2); //numeral(valData);
      }
      return 0;
    },
    customroundup2Fn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce((acc, item) => acc + item.symlQty, 0) * 3;
        var valData = sum / data.items[0].packSize2;
        return Math.ceil(valData).toFixed(2); //numeral(valData);
      }
      return 0;
    },

    toolbarClick(args) {
      let excelExportProperties = {
        theme: {
          header: { fontName: "Segoe UI", fontColor: "#666666" },
          record: { fontName: "Segoe UI", fontColor: "#666666" },
          caption: { fontName: "Segoe UI", fontColor: "#666666" },
        },
      };

      if (args.item.text === "Excel Export") {
        // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
        this.$refs.gridreport.excelExport(excelExportProperties);
      }

      // if (args.item.id === 'Grid_print') { // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
      //   this.$refs.gridreport.print();
      // }
    },
    initialize() {
      // getNavMethodCodes()
      //   .then((response) => {
      //     this.methodCodeList = response.data;
      //   })
      //   .catch((error) => {
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      getPlants()
        .then((response) => {
          this.companies = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCustomers(1)
        .then((response) => {
          this.customersItems = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onLoad() {
      this.loader = true;

      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      var selMonth = moment(this.searchParam.stockMonth).format("MMM");
      var thisMonth = months.findIndex((x) => x === selMonth);
      var selHeaderMonth = moment(this.searchParam.headerMonth).format("MMM");
      var thisHeaderMonth = months.findIndex((x) => x === selHeaderMonth);
      console.log("Month", selHeaderMonth, thisHeaderMonth);
      this.acheader = selHeaderMonth;
      // var makeDate = new Date(this.searchParam.stockMonth);
      // //makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      // var acDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));
      // var lastDay = new Date(acDate.getFullYear(), acDate.getMonth() + 1, 0);

      // var monthHeader = moment(makeDate).format("MMM YYYY");

      // makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      // var stockMontDate = moment(makeDate).add(1, "M").format("DD-MMM-YYYY");
      // this.stbheader = "Stock balance as at " + stockMontDate;

      let countmonth = 1;
      this.nextProdColumns.forEach((h) => {
        thisHeaderMonth = thisHeaderMonth + 1;
        if (thisHeaderMonth > 11) {
          thisHeaderMonth = 0;
        }
        var month = months[thisHeaderMonth];
        h.headerText = month;
        if (countmonth == 1) this.month1 = month;
        if (countmonth == 1) {
          if (this.searchParam.customerId == 1) {
            this.month2 = month + " - Antah";
          } else if (this.searchParam.customerId == 21) {
            this.month2 = month + " - Apex";
          } else {
            this.month2 = month + " - Dist";
          }
        }
        if (countmonth == 2) this.month3 = month;
        if (countmonth == 3) this.month4 = month;
        if (countmonth == 4) this.month5 = month;
        if (countmonth == 5) this.month6 = month;
        if (countmonth == 6) this.month7 = month;
        if (countmonth == 7) this.month8 = month;
        if (countmonth == 8) this.month9 = month;
        if (countmonth == 10) this.month10 = month;
        if (countmonth == 11) this.month11 = month;
        if (countmonth == 12) this.month12 = month;

        countmonth = countmonth + 1;

        //console.log(countmonth, month);
      });
      console.log(this.searchParam);
      this.loader = true;
      getPSBReportV2(this.searchParam)
        .then((response) => {
          this.griddata = response.data;
          this.loader = false;
          this.filterdialog = false;
          console.log(this.griddata);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    refresh() {
      this.clearSearchFilter();
    },
    prodSearch() {
      console.log(this.searchParam);
      this.onLoad();
    },
    prodSearchFilter() {
      this.filterColor = "red";
      console.log(this.searchParam);
      this.onLoad();
    },
    clearSearchFilter() {
      this.filterdialog = false;
      this.filterColor = "black";
      this.searchParam.search = "";
      this.searchParam.company = "NAV_JB";
      this.searchParam.stockMonth = new Date().toISOString().substr(0, 10);
      this.searchParam.fromPostingDate = new Date().toISOString().substr(0, 10);
      this.searchParam.toPostingDate = new Date().toISOString().substr(0, 10);
      this.searchParam.customerId = "1";
      this.searchParam.userId = -1;
      this.searchParam.methodCodeId = null;
      this.searchParam.salesCategoryId = null;
      this.searchParam.replenishment = "";
      this.searchParam.isSteroid = null;
      this.searchParam.ticketformula = "";
      this.searchParam.ticketvalue = null;
      this.searchParam.companyId = 1;
      this.searchParam.versionId = 1;

      this.onLoad();
    },
    getrecipeCal(args) {
      this.rightDrawer = false;
      this.searchParam.changeMethodCodeId = this.selectedRecord.methodCodeId;
      this.searchParam.receipe = args;
      this.onLoad();
    },
    selectCompany(value) {
      //console.log(value);
      this.loader = true;
      if (value == 1) {
        this.searchParam.customerId = 1;
      }
      if (value == 2) {
        this.searchParam.customerId = 21;
      }
      getCustomers(1)
        .then((response) => {
          this.customersItems = response.data;
          this.loader = false;
          this.griddata = [];
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    cellEdit(args) {
      console.log(args);

      args.cancel = true;
    },
    oncommentPsb(args) {
      if (args.cellIndex.cellIndex == 31) {
        this.commentdialog = true;
        console.log("PSB Data", args.data);
        this.editedItem.distAcId = args.data.distAcId;
        this.editedItem.itemId = args.data.itemId;
        this.editedItem.date = this.searchParam.stockMonth;
        this.editedItem.comment = args.data.comment;
        this.editedItem.qty = args.data.qty;
        this.editedItem.isApproval = args.data.isApproval;
      }
    },
    saveComment() {
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.loader = true;
      savePSBComment(this.editedItem)
        .then((response2) => {
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    closeComment() {
      this.commentdialog = false;
      this.onLoad();
    },
    versionListShow() {
      this.versionListdialog = true;
      this.$refs.refVersions.sessionID = "38DCF08E-2D95-497E-92D0-E04D1E292A4E";
      setTimeout(() => {
        this.$refs.refVersions.getversions();
      }, 1500);
    },
    createVersion() {
      this.referencedialog = true;
    },
    versionListclose() {
      this.versionListdialog = false;
    },
    versioneditItem(item) {
      this.griddata = [];
      this.griddata = item.versionData;
    },
    saveVersion() {
      if (this.referenceInfo != "") {
        this.loader = true;
        const myObjStr = JSON.stringify(this.griddata);
        let versions = {
          tableName: "PSB Report",
          screenId: "PRO9123",
          addedbyUserId: this.$store.state.auth.userId,
          jsonData: "",
          referenceInfo: this.referenceInfo,
          sessionId: "38DCF08E-2D95-497E-92D0-E04D1E292A4E",
          versionData: this.griddata,
        };

        createVersion(versions)
          .then((response) => {
            this.loader = false;
            this.referencedialog = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  },
};
</script>

<style>
@import "../../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
.below-0 {
  background-color: red;
  color: red;
}
</style>
