<template>
  <v-card>
    <v-toolbar flat color="white">
      <v-menu v-model="stockMonthmenu" :close-on-content-click="false" full-width min-width="290">
        <v-text-field slot="activator" :value="stockMonthDateFormatted" label="Opening Balance Month" prepend-icon="today" readonly></v-text-field>
        <v-date-picker v-model="searchParam.stockMonth" @change="stockMonthmenu = false"></v-date-picker>
      </v-menu>
      <v-menu v-model="headerMonthmenu" :close-on-content-click="false" full-width min-width="290">
        <v-text-field slot="activator" :value="headerMonthDateFormatted" label="Header Month" prepend-icon="today" readonly></v-text-field>
        <v-date-picker v-model="searchParam.headerMonth" @change="headerMonthmenu = false" type="month"></v-date-picker>
      </v-menu>

      <v-autocomplete label="Dist Name" prepend-icon="description" v-model="searchParam.customerId" :items="customersItems" item-text="name" item-value="customerId" clearable></v-autocomplete>
      <v-autocomplete :items="salesGroupList" v-model="searchParam.salesCategoryId" label="Sales Category" prepend-icon="category"></v-autocomplete>

      <v-select label="Company" v-model="searchParam.companyId" prepend-icon="apartment" name="companyselect" item-text="plantCode" item-value="plantID" :items="companies" @change="selectCompany"></v-select>
      <v-btn icon @click="clickfilter">
        <v-icon :color="filterColor">filter_list</v-icon>
      </v-btn>

      <v-btn icon :loading="loader" @click="prodSearch">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn icon @click="clearSearchFilter">
        <v-icon>cancel</v-icon>
      </v-btn>
      <v-spacer></v-spacer>

      <v-btn :loading="loader" icon @click="refresh">
        <v-icon icon>refresh</v-icon>
      </v-btn>
      <v-tooltip bottom>
        <v-btn :loading="loader" icon @click="createVersion" slot="activator">
          <v-icon icon>save</v-icon>
        </v-btn>
        <span>Click here to save PSB report as new version for future reference
        </span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click.native="versionListShow">
          <v-icon>history</v-icon>
        </v-btn>
        <span>View version list</span>
      </v-tooltip>
    </v-toolbar>
    <div style="overflow: auto; height: calc(85vh - 100px)">
      <v-tabs color="transparent" v-model="selectedTab" @change="tabChange">
        <v-tabs-slider color="primary"></v-tabs-slider>

        <v-tab key="tab1">
          <v-icon>tune</v-icon>
        </v-tab>
        <v-tab key="tab2">
          <v-icon>message</v-icon>
        </v-tab>
        <v-tab key="tab3">
          <v-icon>group_work</v-icon>
        </v-tab>
        <v-tab key="tab4">
          <v-icon>security</v-icon>
        </v-tab>
        <v-tabs-items>
          <v-tab-item key="tab1">
            <psb-report ref="refpsbReport"></psb-report>
          </v-tab-item>
          <v-tab-item key="tab2">
            <psb-master ref="refpsbMaster"></psb-master>
          </v-tab-item>
          <v-tab-item key="tab3">
            <stock-value ref="refStockValue"></stock-value>
          </v-tab-item>
          <v-tab-item key="tab4">
            <stock-infoat-distributor ref="refStockInfoatDistributor"></stock-infoat-distributor>
          </v-tab-item>
        </v-tabs-items>
      </v-tabs>
    </div>
    <v-dialog v-model="filterdialog" transition="dialog-bottom-transition" width="450px">
      <v-card>
        <v-toolbar dark color="primary">
          <v-toolbar-title color="white">Custom Filters</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="filterdialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          Show rows where:
          <v-layout wrap>
            <v-flex xs6 sm6>
              <v-autocomplete label="Ticket" v-model="searchParam.ticketformula" :items="ticketFormulaList"></v-autocomplete>
            </v-flex>
            <v-flex xs4 sm4>
              <v-text-field type="number" label="Value" v-model="searchParam.ticketvalue" prepend-icon="assistant"></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" outline :loading="loader" @click="prodSearchFilter">OK</v-btn>
          <v-btn color="primary darken-1" outline @click.native="clearSearchFilter">Clear Filler</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>

<script>
  import PsbReport from "@/pages/productionplanning/psb/psbReportV2";
  import { getCustomers } from "@/api/itemMaster";
  import GlobalMessage from "@/constant";
  import PsbMaster from "@/pages/productionplanning/psb/psbMaster";
  import moment from "moment";
  import { getPlants } from "@/api/nav";
  import StockValue from "@/pages/productionplanning/psb/stockValue";
  import StockInfoatDistributor from "@/pages/productionplanning/psb/stockInfoatDistributor";

  export default {
    components: {
      PsbReport,
      PsbMaster,
      StockValue,
      StockInfoatDistributor
    },
    data: () => ({
      height: {
        type: String,
        default: null,
      },
      selectedTab: 0,
      customersItems: [],
      filterColor: "black",
      companies: [],
      stockMonthmenu: false,
      filterdialog: false,
      loader: false,
      headerMonthmenu: false,
      searchParam: {
        search: "",
        company: "NAV_JB",
        stockMonth: new Date().toISOString().substr(0, 10),
        headerMonth: new Date().toISOString().substr(0, 10),
        fromPostingDate: new Date().toISOString().substr(0, 10),
        toPostingDate: new Date().toISOString().substr(0, 10),
        customerId: 1,
        userId: -1,
        methodCodeId: null,
        salesCategoryId: null,
        isSteroid: null,
        replenishment: "",
        ticketformula: "",
        ticketvalue: null,
        companyId: 1,
        versionId: 1,
      },
      ticketFormulaList: [
        { text: "Equal", value: "1" },
        { text: "Greater Than", value: "2" },
        { text: "Greater Than Or Equal", value: "3" },
        { text: "Less Than", value: "4" },
        { text: "Less Than Or Equal", value: "5" },
        { text: "Not Equal", value: "6" },
      ],
      salesGroupList: [
        { text: "CAP", value: 1 },
        { text: "CREAM", value: 2 },
        { text: "DD", value: 3 },
        { text: "SYRUP", value: 4 },
        { text: "TABLET", value: 5 },
        { text: "VET", value: 6 },
        { text: "POWDER", value: 7 },
        { text: "INJ", value: 8 },
      ],
      actionButton: true,
      viewList: "list",
      scrollSettings: {
        maxScrollbarLength: 140,
      },
    }),

    computed: {
      computeHeight () {
        return {
          height: this.height || "",
        };
      },
      stockMonthDateFormatted () {
        return this.searchParam.stockMonth
          ? moment(this.searchParam.stockMonth).format(GlobalMessage.DATEFORMAT)
          : "";
      },
      headerMonthDateFormatted () {
        return this.searchParam.headerMonth
          ? moment(this.searchParam.headerMonth).format(
            GlobalMessage.MONTHYEARFORMAT
          )
          : "";
      },
    },
    created () {
      this.initialize();
      // this.$refs.refpsbReport.searchParam = this.searchParam();
      // this.$refs.refpsbReport.onLoad();
    },

    methods: {
      tabChange (tab) {
        if (tab == 1) {
        }
      },
      initialize () {
        // getNavMethodCodes()
        //   .then((response) => {
        //     this.methodCodeList = response.data;
        //   })
        //   .catch((error) => {
        //     window.getApp.$emit("APP_API_ERROR", error);
        //   });
        getPlants()
          .then((response) => {
            this.companies = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getCustomers(1)
          .then((response) => {
            this.customersItems = response.data;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      refresh () {
        this.clearSearchFilter();
      },
      prodSearch () {
        console.log(this.searchParam);
        this.$refs.refpsbReport.searchParam = this.searchParam;
        this.$refs.refpsbMaster.searchParam = this.searchParam;
        this.$refs.refpsbReport.loader = true;
        this.$refs.refpsbMaster.loader = true;
         this.$refs.refStockInfoatDistributor.searchParam = this.searchParam;
        this.$refs.refStockValue.searchParam = this.searchParam;
        this.$refs.refStockInfoatDistributor.loader = true;
        this.$refs.refStockValue.loader = true;
        this.$refs.refpsbReport.onLoad();
        this.$refs.refpsbMaster.onLoad();
      },
      prodSearchFilter () {
        this.filterColor = "red";
        console.log(this.searchParam);
        this.$refs.refpsbReport.searchParam = this.searchParam;
        this.$refs.refpsbMaster.searchParam = this.searchParam;
        this.$refs.refStockInfoatDistributor.searchParam = this.searchParam;
        this.$refs.refStockValue.searchParam = this.searchParam;
        this.$refs.refStockInfoatDistributor.loader = true;
        this.$refs.refStockValue.loader = true;
        this.$refs.refpsbReport.loader = true;
        this.$refs.refpsbMaster.loader = true;
        this.$refs.refpsbReport.onLoad();
        this.$refs.refpsbMaster.onLoad();
      },
      selectCompany (value) {
        //console.log(value);
        this.loader = true;
        if (value == 1) {
          this.searchParam.customerId = 1;
        }
        if (value == 2) {
          this.searchParam.customerId = 21;
        }
        getCustomers(1)
          .then((response) => {
            this.customersItems = response.data;
            this.loader = false;
            this.griddata = [];
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      clearSearchFilter () {
        this.filterdialog = false;
        this.filterColor = "black";
        this.$refs.refpsbReport.clearSearchFilter();
        this.$refs.refpsbReport.loader = true;
        this.$refs.refpsbMaster.loader = true;
        this.$refs.refpsbReport.onLoad();
        this.$refs.refpsbMaster.onLoad();
      },
      clickfilter () {
        this.filterdialog = true;
      },
      versionListShow () {
        this.$refs.refpsbReport.versionListdialog = true;
        this.$refs.refpsbReport.$refs.refVersions.sessionID =
          "38DCF08E-2D95-497E-92D0-E04D1E292A4E";
        setTimeout(() => {
          this.$refs.refpsbReport.$refs.refVersions.getversions();
        }, 1500);
      },
      createVersion () {
        this.$refs.refpsbReport.referencedialog = true;
      },
    },
  };
</script>

<style lang="stylus" scoped>
  .chat-room--scroll {
    height: calc(100vh - 206px);
  }
</style>
