<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>

      <v-select
        label="Company"
        prepend-icon="apartment"
        name="companyselect"
        item-text="plantCode"
        item-value="plantID"
        :items="companies"
        v-model="searchParam.id"
        @change="oncompanySelect"
      ></v-select>
      <v-menu
        v-model="monthReferenceMenu"
        :close-on-content-click="false"
        full-width
        min-width="290"
      >
        <v-text-field
          slot="activator"
          :value="monthReferenceDateFormatted"
          label="Date"
          prepend-icon="today"
          readonly
        ></v-text-field>
        <v-date-picker
          v-model="searchParam.date"
          @change="monthReferenceMenu = false"
        ></v-date-picker>
      </v-menu>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="searchItemsbyCompany()">
          <v-icon icon>search</v-icon>
        </v-btn>
        <span>Search Items</span>
      </v-tooltip>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>
        <!-- <v-container fluid>
        <v-layout column>-->
        <v-flex lg12 sm12 xs12>
          <ejs-grid
            ref="gridreport"
            :dataSource="gridItems"
            :allowPaging="true"
            :allowResizing="true"
            :allowExcelExport="true"
            :allowFiltering="true"
            :allowGrouping="true"
            :toolbar="toolbar"
            :toolbarClick="toolbarClick"
            :filterSettings="filterSettings"
            :groupSettings="groupSettings"
            :editSettings="editSettings"
            height="calc(100vh - 230px - 143px)"
          >
            <e-columns>
              <e-column
                field="itemName"
                headerText="Item Name"
                textAlign="left"
                :allowEditing="false"
                width="200"
              ></e-column>
              <e-column
                field="replanRefNo"
                headerText="Replan RefNo"
                textAlign="left"
                :allowEditing="false"
                width="120"
              ></e-column>
              <e-column
                field="productionOrderNo"
                headerText="Production OrderNo"
                textAlign="left"
                :allowEditing="false"
                width="150"
              ></e-column>
              <e-column
                field="action"
                headerText="Action"
                textAlign="left"
                :allowEditing="false"
                width="100"
              ></e-column>
              <e-column
                field="date"
                headerText="Plan Date"
                textAlign="left"
                :allowEditing="false"
                width="120"
              ></e-column>
              <e-column
                field="time"
                headerText="Plan Time"
                textAlign="left"
                :allowEditing="false"
                width="100"
              ></e-column>
              <e-column
                field="locationName"
                headerText="Location Name"
                textAlign="left"
                :allowEditing="false"
                width="120"
              ></e-column>
              <e-column
                field="subLotNo"
                headerText="SubLotNo"
                textAlign="Left"
                :allowEditing="false"
                width="100"
              ></e-column>
              <e-column
                field="drumNo"
                headerText="Drum No"
                textAlign="Right"
                :allowEditing="false"
                width="100"
              ></e-column>
              <e-column
                field="description"
                headerText="Description"
                textAlign="Right"
                :allowEditing="false"
                width="200"
              ></e-column>
              <e-column
                field="batchNo"
                headerText="BatchNo"
                textAlign="Right"
                :allowEditing="false"
                width="120"
              ></e-column>
              <e-column
                field="outputQty"
                headerText="Output Qty"
                textAlign="Right"
                width="100"
                :allowEditing="false"
              ></e-column>
              <e-column
                field="buom"
                headerText="Base UOM"
                textAlign="Right"
                width="120"
                :allowEditing="false"
              ></e-column>
            </e-columns>
          </ejs-grid>
        </v-flex>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
  </div>
</template>
<script>
import Vue from "vue";
import { getPlants } from "@/api/nav";
import { getProductionOutputReports } from "@/api/productionOutput";
import GlobalMessage from "@/constant";
import moment from "moment";
import {
  GridPlugin,
  Page,
  Resize,
  Edit,
  ExcelExport,
  Toolbar,
  Group,
  Filter,
  FilterType,
  Aggregate,
} from "@syncfusion/ej2-vue-grids";
Vue.use(GridPlugin);
export default {
  data: () => ({
    formId: "REP11023",
    companies: [],
    reasons: [],
    statusOptions: [],
    loader: false,
    search: "",
    shipmentDate: false,
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    monthReferenceMenu: false,
    y: "top",
    show: true,
    headers: [
      { text: "Plan Date", value: "planDate", align: "left" },
      { text: "Location Name", value: "locationName", align: "left" },
      { text: "Production OrderNo", value: "productionOrderNo", align: "left" },
      { text: "Item Name", value: "itemName", align: "left" },
      { text: "Batch No", value: "batchNo", align: "left" },
      { text: "Plan Time", value: "planTime", align: "left" },
      { text: "Action", value: "action", align: "left" },
      {
        text: "Sub LotNo",
        value: "subLotNo",
        align: "left",
      },
      { text: "Drum No", value: "drumNo", align: "left" },
      { text: "Qty", value: "outputQty", align: "left" },
      { text: "Is IPIR", value: "isIPIR", align: "left" },
      { text: "Remarks", value: "isIPIRRemarks", align: "left" },
    ],
    gridItems: [],
    json_fields: {
      "Plan Date": "planDate",
      "Location Name": "locationName",
      "Production Order No": "productionOrderNo",
      "Item Name": "itemName",
      "Batch No": "batchNo",
      "Plan Time": "planTime",
      Action: "action",
      "Sub LotNo": "subLotNo",
      "Drum No": "drumNo",
      QTY: "outputQty",
      IsIPIR: "isIPIR",
      Remarks: "isIPIRRemarks",
    },
    toolbar: ["ExcelExport", "Print"],
    filterSettings: { type: "Excel" },
    editSettings: { allowEditing: true, mode: "Normal" },
    groupSettings: { showDropArea: false, columns: ["replanRefNo"] },
    editedIndex: -1,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      nonDeliverSoid: 0,
      navSalesOrderLineId: 0,
      isChangeBalanceQty: false,
      newBalanceQty: null,
      uom: "",
      reasonId: null,
      reasonDescription: "",
      newShipmentDate: new Date().toISOString().substr(0, 10),
      isLatest: true,
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      nonDeliverSoid: 0,
      navSalesOrderLineId: 0,
      isChangeBalanceQty: false,
      newBalanceQty: null,
      reasonId: null,
      reasonDescription: "",
      uom: "",
      newShipmentDate: new Date().toISOString().substr(0, 10),
      isLatest: true,
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
    navlineItem: {
      documentNo: "",
      selltoCustomerNo: "",
      itemNo: "",
      description: "",
      totalOrderQuantity: null,
      deliverQuantity: null,
      shipmentDate: new Date().toISOString().substr(0, 10),
    },
    searchParam: {
      search: "",
      id: 1,
      companyName: "",
      date: new Date().toISOString().substr(0, 10),
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    planDateformatOptions: {type:'date', format:'dd-MMM-yyyy'},
    planTimeformatOptions: {type:'date', format:'hh:mm:ss'},
  }),
  provide: {
    grid: [Page, Resize, ExcelExport, Edit, Toolbar, Group, Filter, Aggregate],
  },
  computed: {
    formTitle() {
      return "Add Non Deliver SO";
    },
    monthReferenceDateFormatted() {
      return this.searchParam.date
        ? moment(this.searchParam.date).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },

  created() {
    getPlants()
      .then((response) => {
        this.companies = response.data;
        this.initialize();
      })
      .catch((error) => {
        this.loader = false;
        window.getApp.$emit("APP_API_ERROR", error);
      });
  },

  methods: {
    initialize() {
      var companyItem = this.companies.filter(
        (o) => o.plantID == this.searchParam.id
      );
      this.loader = true;
      console.log("Company Item", companyItem[0]);
      this.searchParam.companyName = companyItem[0].navCompanyName;
      getProductionOutputReports(this.searchParam)
        .then((response) => {
          this.gridItems = response.data;
          console.log(this.gridItems);
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    searchItemsbyCompany() {
      var companyItem = this.companies.filter(
        (o) => o.plantID == this.searchParam.id
      );
      this.loader = true;
      console.log("Company Item", companyItem[0]);
      this.searchParam.companyName = companyItem[0].navCompanyName;
      this.searchParam.search=this.search;
      getProductionOutputReports(this.searchParam)
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    oncompanySelect(value) {},
    toolbarClick(args) {
      let excelExportProperties = {
        theme: {
          header: { fontName: "Segoe UI", fontColor: "#666666" },
          record: { fontName: "Segoe UI", fontColor: "#666666" },
          caption: { fontName: "Segoe UI", fontColor: "#666666" },
        },
      };

      if (args.item.text === "Excel Export") {
        // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
        this.$refs.gridreport.excelExport(excelExportProperties);
      }

      // if (args.item.id === 'Grid_print') { // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
      //   this.$refs.gridreport.print();
      // }
    },
  },
};
</script>
<style>
@import "../../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
.below-0 {
  background-color: red;
  color: red;
}
</style>

