<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="layoutPlantType.xls"
        v-show="ValidFunction('Download',formId)"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" max-width="700px">
        <v-btn slot="activator" icon v-show="ValidFunction('Add',formId)" @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="transparent">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="saveAndClose">
                <v-icon>library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="save">
                <v-icon>save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Add',formId)" @click.native="add">
                <v-icon>add</v-icon>
              </v-btn>
              <span>Create New LoyoutPlantype</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Delete',formId)" @click.native="deleterow">
                <v-icon>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs6 sm6>
                    <v-text-field
                      v-model="editedItem.name"
                      label="Name"
                      :rules="editedItem.nameRules"
                      required
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field
                      v-model="editedItem.description"
                      label="Description"
                      prepend-icon="description"
                    >
                      <div slot="label">Description</div>
                    </v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>

        <v-container fluid>
          <v-layout row wrap>
            <v-flex lg12 sm12 xs12>
              <v-data-table
                :headers="headers"
                :items="gridItems"
                :search="search"
                class="elevation-1"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.name }}</td>
                  <td class="text-xs-left">{{ props.item.description }}</td>
                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                  <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
                  <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>
                  <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>
                  <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" v-show="ValidFunction('Edit',formId)" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small v-show="ValidFunction('Delete',formId)" @click="onDeleteItem(props.item)">delete</v-icon>
                  </td>
                </template>
                <template slot="no-data">
                  <v-btn
                    color="primary"
                    outline
                    @click="initialize"
                  >Record not exist.Refresh again in while time.</v-btn>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import {
  getLayoutPlanTypes,
  getLayoutPlanType,
  createLayoutPlanType,
  updateLayoutPlanType,
  deleteLayoutPlanType
} from "@/api/layoutPlanType";

 import { isValidFunction } from "@/api/checkPermission";
import GlobalMessage from "@/constant";
export default {
  components: {
  },
  data: () => ({
     formId: "MAS9044",
    dialog: false,
    loader: false,
    search: "",
    contentType: "",
    uploadedFiles: [],
    gridItems: [],
    documentUpolad: new FormData(),
    search: "",
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "Name", value: "name", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" }
    ],
    json_fields: {
      Name: "name",
      Description: "description",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Added Date": "addedDate",
      "Modified Date": "modifiedDate"
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
    editedIndex: -1,
    selectedItem: null,
    uploadFile: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    editedItem: {
      valid: false,
      nameRules: [v => !!v || "Name is required"],
      max: [v => v.length <= 10 || "Max 10 characters"],
      layoutPlanTypeID: -1,
      name: "",
      description: "",
      layoutPlanID: null,
      versionNo: "",
      effectiveDate: new Date(),
      addedByUserID: null,
      addedDate: new Date(),
      addedByUser: "",
      modifiedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      nameRules: [v => !!v || "Name is required"],
      max: [v => v.length <= 10 || "Max 10 characters"],
      layoutPlanTypeID: -1,
      name: "",
      description: "",
      layoutPlanID: null,
      versionNo: "",
      effectiveDate: new Date(),
      addedByUserId: null,
      addedDate: new Date(),
      addedByUser: "",
      modifiedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Layout Plan Type"
        : "Edit Layout Plan Type";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.loader = true;
      getLayoutPlanTypes("")
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedItem);
      this.dialog = true;
      let id = this.editedItem.layoutPlanTypeID;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteLayoutPlanType(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;

      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.initialize();
      }, 300);
    },
    saveAndClose() {
      this.save();

      setTimeout(() => {
        this.close();
      }, 300);
    },
    companySelect(value) {
      this.siteloader = true;
      getICTMasterActive(570)
        .then(response => {
          if (response.data != undefined) {
            this.siteItems = response.data;
            let uom = this.siteItems.filter(o => o.companyID == value);
            this.filteredsite = uom;
            this.editedItem.zoneID = null;
            this.editedItem.locationID = null;
            this.editedItem.parentICTID = null;
            this.siteloader = false;
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.layoutPlanTypeID = -1;
      this.editedItem.layoutPlanID = 0;
      this.editedItem.versionNo = "";
      this.editedItem.name = "";
      this.editedItem.nameRules = [v => !!v || "Name is required"];
      this.editedItem.description = "";
      this.editedItem.effectiveDate = new Date();
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
      this.uploadedFiles = [];
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      let index = this.editedIndex;
      deleteLayoutPlanType(this.editedItem)
        .then(() => {
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          setTimeout(() => {
            this.close();
          }, 300);
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    toolfunction() {
      getLayoutPlanType(this.searchItem)
        .then(response => {
          console.log(response);
          if (response.data.layoutPlanTypeID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.layoutPlanTypeID)
              .indexOf(response.data.layoutPlanTypeID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more Record to found");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.layoutPlanTypeID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.layoutPlanTypeID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.layoutPlanTypeID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.layoutPlanTypeID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        // this.editedItem.layoutPlanTypes = this.$refs.reflayouttype.gridItems;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedByUser = this.$store.state.auth.userName;
          this.editedItem.modifiedDate = new Date();

          updateLayoutPlanType(this.editedItem)
            .then(response => {
              if (response.data != undefined) {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.uploadedFiles = [];
                this.editedItem = this.defaultItem;

                this.add();
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.layoutPlanTypeID =
            parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedByUser = this.$store.state.auth.userName;
          this.editedItem.addedDate = new Date();
          this.editedItem.modifiedByUserID = null;
          this.editedItem.modifiedDate = new Date();

          console.log(this.editedItem);
          createLayoutPlanType(this.editedItem)
            .then(response => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem = response.data;
                let index = this.gridItems
                  .map(item => item.layoutPlanTypeID)
                  .indexOf(response.data.layoutPlanTypeID);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.editedItem = this.defaultItem;
                this.add();
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    
ValidFunction(permissionCode) {
        return isValidFunction(permissionCode, this.formId, this.$store);
      }

  }
};
</script>
<style>
.siteform--scrollbar {
  height: calc(100vh - 40px - 60px);
}
</style>