<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="location.xls"
        v-show="ValidFunction('Download', formId)"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen>
        <!-- <v-tooltip bottom> -->
        <v-btn
          slot="activator"
          v-show="ValidFunction('Add', formId)"
          icon
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <!-- <span>Create New Site</span>
        </v-tooltip>-->
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="saveAndClose"
              >
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Save', formId)"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Add', formId)"
                @click.native="add"
              >
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Zone</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                v-show="ValidFunction('Delete', formId)"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="editedItem.sessionId == null">
              <v-btn
                :disabled="editedItem.sessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <vue-perfect-scrollbar class="locationform--scrollbar">
            <v-card>
              <v-card-title>
                <span class="headline">General Information</span>
              </v-card-title>

              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Company"
                        :loading="locationloader"
                        prepend-icon="location_city"
                        v-model="editedItem.companyID"
                        :items="companyItems"
                        chips
                        auto
                        item-text="description"
                        item-value="plantID"
                        @change="companySelect"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Site"
                        :loading="siteloader"
                        prepend-icon="location_on"
                        v-model="editedItem.siteID"
                        :items="filteredsite"
                        chips
                        auto
                        item-text="name"
                        item-value="ictMasterID"
                        @change="siteSelect"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Zone"
                        :loading="locationloader"
                        prepend-icon="location_on"
                        v-model="editedItem.parentICTID"
                        :items="filteredZone"
                        chips
                        auto
                        item-text="name"
                        item-value="ictMasterID"
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <vue-perfect-scrollbar class="chat-room--scrollbartree">
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.name"
                          label="Name"
                          :rules="editedItem.nameRules"
                          required
                          prepend-icon="select_all"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.description"
                          label="Description"
                          prepend-icon="description"
                        >
                          <div slot="label">Description</div>
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.versionNo"
                          label="Version No"
                          :rules="editedItem.max"
                          prepend-icon="description"
                        >
                          <div slot="label">Version No</div>
                        </v-text-field>
                      </v-flex>
                       <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.locationDescription"
                          label="Location Description"                          
                          prepend-icon="description"
                        >
                          
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          label="Status"
                          prepend-icon="notes"
                          v-model="editedItem.statusCodeID"
                          :items="statusOptions"
                          chips
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </vue-perfect-scrollbar>
              </v-form>
            </v-card-text>
            <v-layout row wrap></v-layout>

            <v-card-text>
              <layout-type ref="reflayouttype"></layout-type>
            </v-card-text>
            <!-- <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="close">Cancel</v-btn>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
            </v-card-actions>-->
            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete This Item Permanently?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </vue-perfect-scrollbar>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              v-show="ValidFunction('Save', formId)"
              @click="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Location Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="locationloader"></app-section-loader>

        <v-container fluid>
          <v-layout row wrap>
            <v-flex lg12 sm12 xs12>
              <v-data-table
                :headers="headers"
                :items="gridItems"
                :pagination.sync="pagination"
                :total-items="totalRows"
                :rows-per-page-items="rowsPerPageItems"
                :loading="locationloader"
                @update:pagination="onUpdatePagination"
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.locationName }}</td>
                  <td class="text-xs-left">{{ props.item.description }}</td>
                  <!-- <td class="text-xs-left">{{ props.item.statusCodeID }}</td> -->
                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                  <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
                  <td class="text-xs-left">
                    {{ props.item.addedDate | formatDate }}
                  </td>
                  <td class="text-xs-left">
                    {{ props.item.modifiedDate | formatDate }}
                  </td>

                  <td class="justify-center layout px-0">
                    <v-icon
                      small
                      class="mr-2"
                      :disabled="props.item.sessionId == null"
                      @click="fileAttachments(props.item)"
                      >attach_file</v-icon
                    >
                    <v-icon
                      small
                      class="mr-2"
                      v-show="ValidFunction('Edit', formId)"
                      @click="editItem(props.item)"
                      >edit</v-icon
                    >
                    <v-icon
                      small
                      v-show="ValidFunction('Delete', formId)"
                      @click="onDeleteItem(props.item)"
                      >delete</v-icon
                    >
                  </td>
                </template>
                <template slot="no-data">
                  <v-btn color="primary" outline @click="loadPagingData"
                    >Record not exist.Refresh again in while time.</v-btn
                  >
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar"
      >{{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog1"
      heading="Are You Sure You Want To Close?"
      message="Are You Sure You Want To Close? Files Not Updloaded"
      @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import {
  getICTMasterActive,
  createICTMaster,
  updateICTMaster,
  deleteICTMaster,
  getPlants,
  getICTLayoutPlanType,
} from "@/api/ictmaster";
import attachment from "@/components/Attachment/attachments";
import { isValidFunction } from "@/api/checkPermission";
import { getLayoutPlanTypes } from "@/api/layoutPlanType";
import LayoutType from "@/pages/ict/layoutType.vue";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import GlobalMessage from "@/constant";
export default {
  components: {
    LayoutType,
    attachment,
  },
  data: () => ({
    attachdialog: false,
    totalRows: 0,
    uploadbtn: true,
    ictMasterID: -1,
    sessionId: null,
    screenID: "MAS9047",

    formId: "MAS9047",
    dialog: false,
    locationloader: false,
    siteloader: false,
    search: "",
    contentType: "",
    fileName: "",
    // attachdialog: false,
    fileloader: false,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    attachshowdownload: false,
    attachfiles: new FormData(),
    documentUpolad: new FormData(),
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    filterFields: [
      "Description",
      "AddedByUser.UserName",
      "StatusCode.CodeValue",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Name", value: "locationName", align: "left", sortable: false },
      { text: "Description", value: "description", align: "left" },
      // { text: 'Status', value: 'statusCode', align: 'left' },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      Name: "locationName",
      Description: "description",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Added Date": "addedDate",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    layoutItems: [],
    companyItems: [],
    siteItems: [],
    filteredsite: [],
    zoneItems: [],
    filteredZone: [],
    docItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },

    editedItem: {
      valid: false,
      nameRules: [(v) => !!v || "Name is required"],
      max: [(v) => v.length <= 10 || "Max 10 characters"],
      iCTMasterID: -1,
      companyID: 0,
      plantID: null,
      layoutPlanTypes: [],
      parentICTID: null,
      masterType: 572,
      name: "",
      description: "",
      layoutPlanID: 0,
      versionNo: "",
      effectiveDate: new Date(),
      sessionId: null,
      siteID: null,
      addedByUser: "",
      modifiedByUser: "",
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
      locationDescription: "",
    },
    defaultItem: {
      valid: false,
      nameRules: [(v) => !!v || "Name is required"],
      max: [(v) => v.length <= 10 || "Max 10 characters"],
      iCTMasterID: -1,
      companyID: 0,
      plantID: null,
      parentICTID: null,
      layoutPlanTypes: [],
      masterType: 572,
      name: "",
      description: "",
      layoutPlanID: 0,
      versionNo: "",
      effectiveDate: new Date(),
      sessionId: null,
      addedByUser: "",
      modifiedByUser: "",
      siteID: null,
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
       locationDescription: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Location" : "Edit Location";
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  created() {
    this.initialize();
  },
   mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    initialize() {
      getLayoutPlanTypes("")
        .then((response) => {
          if (response.data != undefined) {
            this.layoutItems = response.data;
          }
          this.locationloader = false;
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants("")
        .then((response) => {
          if (response.data != undefined) {
            this.companyItems = response.data;
            let uom = this.companyItems.filter((o) => o.statusCodeID == 1);

            this.companyItems = uom;
            this.locationloader = false;
          }
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },

    showFiles(item) {
      this.documents = this.allFiles.filter(
        (f) => f.departmentID == item.value
      );
      this.view = "list";
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedItem);
      this.dialog = true;
      let id = this.editedItem.ictMasterID;
      this.ictMasterID = this.editedItem.ictMasterID;
      this.sessionId = this.editedItem.sessionId;
      this.$refs.reflayouttype.iCTMasterID = item.ictMasterID;
      this.uploadbtn = false;
      this.$refs.reflayouttype.enableAddButton = false;
      getICTLayoutPlanType(id)
        .then((response) => {
          if (response.data != undefined) {
            this.$refs.reflayouttype.gridItems = response.data;
            this.locationloader = false;
          }
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getICTMasterActive(570)
        .then((response) => {
          if (response.data != undefined) {
            this.siteItems = response.data;
            let uom = this.siteItems.filter(
              (o) => o.companyID == this.editedItem.companyID
            );
            this.filteredsite = uom;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getICTMasterActive(571)
        .then((response) => {
          if (response.data != undefined) {
            this.zoneItems = response.data;
            let uom = this.zoneItems.filter(
              (o) => o.parentICTID == this.editedItem.siteID
            );
            this.filteredZone = uom;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteICTMaster(this.selectedItem)
        .then(response => {
          this.locationloader = false;
          this.selectedItem = null;
          if(response!=undefined)
          {
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.locationloader = false;
          //window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    downloadSelectFile() {
      if (this.editedItem.layoutPlanID != 0) {
        let doc = this.docItems.filter(
          (f) => f.documentID == this.editedItem.layoutPlanID
        );
        if (doc != undefined) {
          this.contentType = doc[0].contentType;
          this.fileName = doc[0].fileName;
        }
      }
      downloadFile(this.editedItem.layoutPlanID)
        .then((response) => {
          let blob = new Blob([response.data], { type: this.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = this.fileName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();

      setTimeout(() => {
        this.close();
      }, 300);
    },
    companySelect(value) {
      this.siteloader = true;
      getICTMasterActive(570)
        .then((response) => {
          if (response.data != undefined) {
            this.siteItems = response.data;
            this.siteloader = false;
            let uom = this.siteItems.filter((o) => o.companyID == value);
            this.filteredsite = uom;
            this.editedItem.parentICTID = null;
          }
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.iCTMasterID = -1;
      this.editedItem.layoutPlanID = 0;
      (this.editedItem.parentICTID = null),
        (this.editedItem.plantID = null),
        (this.editedItem.versionNo = ""),
        (this.editedItem.companyID = null),
        (this.editedItem.siteID = null),
        (this.editedItem.masterType = 572);
      this.editedItem.name = "";
      this.uploadbtn = true;
      this.editedItem.nameRules = [(v) => !!v || "Name is required"];
      this.editedItem.description = "";
      this.editedItem.addedByUserId = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.$refs.reflayouttype.enableAddButton = true;
      this.editedItemsessionId = null;
      this.editedIndex = -1;
      this.siteloader = false;
      this.zoneloader = false;
      this.locationloader = false;
      this.$refs.reflayouttype.gridItems = [];
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      let index = this.editedIndex;
      deleteICTMaster(this.editedItem)
        .then(response => {
          this.add();
          if(response!=undefined)
          {
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
          setTimeout(() => {
            this.close();
          }, 300);
        })
        .catch((error) => {
          //window.getApp.$emit('APP_API_ERROR', error);
        });
    },

    siteSelect(value) {
      this.locationloader = true;
      getICTMasterActive(571)
        .then((response) => {
          if (response.data != undefined) {
            this.zoneItems = response.data;
            let uom = this.zoneItems.filter((o) => o.parentICTID == value);
            console.log(uom);
            this.filteredZone = uom;
            this.locationloader = false;
            console.log(this.zoneItems);
          }
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.documentID = this.quotationHistoryId;
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachments(item) {
      console.log("check item", item);
      this.sessionId = item.sessionId;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentId = item.documentId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page=1;
      search.sortCol = "IctmasterId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetICTMaster";
      search.Id = 572;
      this.locationloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.locationloader = false;
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;

      if (args.sortBy == "description") {
        search.sortCol = "Description";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetICTMaster";
      console.log("Pagination", args);
      search.Id = 572;
      this.locationloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.locationloader = false;
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    //
    save() {
      if (this.$refs.form.validate()) {
        this.locationloader = true;
        let index = this.editedIndex;
        this.editedItem.layoutPlanTypes = this.$refs.reflayouttype.gridItems;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedByUser = this.$store.state.auth.userName;
          this.editedItem.modifiedDate = new Date();

          updateICTMaster(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                Object.assign(this.gridItems[index], response.data);
                this.locationloader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.uploadedFiles = [];
                this.editedItem.sessionId = response.data.sessionId;
                //  this.editedItem = this.defaultItem;
                this.$refs.reflayouttype.gridItems = [];
                //  this.add();
              }
            })
            .catch((error) => {
              this.locationloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.iCTMasterID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedByUser = this.$store.state.auth.userName;
          this.editedItem.addedDate = new Date();
          this.editedItem.modifiedByUserId = null;
          this.editedItem.modifiedDate = null;
          // this.editedItem.statusCodeID = 1;
          console.log(this.editedItem);
          createICTMaster(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.locationloader = false;
                this.editedItem = response.data;
                this.editedItem.sessionId = response.data.sessionId;
                let index = this.gridItems
                  .map((item) => item.ictMasterID)
                  .indexOf(response.data.ictMasterID);
                this.editedIndex = index;
                this.sessionId = response.data.sessionId;

                this.ictMasterID = this.editedItem.ictMasterID;
                this.$refs.reflayouttype.iCTMasterID = this.editedItem.ictMasterID;
                this.uploadbtn = false;
                this.$refs.reflayouttype.enableAddButton = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                // this.editedItem = this.defaultItem;
                // this.add();
              }
            })
            .catch((error) => {
              this.locationloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
<style>
.locationform--scrollbar {
  height: calc(100vh - 40px - 60px);
}
</style>