<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="specificArea.xls"
        v-show="ValidFunction('Download',formId)"

      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  
      <v-dialog v-model="dialog" fullscreen>      
        <v-btn slot="activator" icon v-show="ValidFunction('Add',formId)" @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>       
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>           
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Add',formId)" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Zone</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Delete',formId)" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
             <v-tooltip bottom :disabled="editedItem.sessionID == null">
              <v-btn
                :disabled="editedItem.sessionID == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>           
          </v-toolbar>
          <vue-perfect-scrollbar class="specificArea--scrollbar">
           <v-card>
           <v-card-title>
            <span class="headline">General Information</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Company" :loading="loader" prepend-icon="location_city" v-model="editedItem.companyID" :items="companyItems" chips auto item-text="description" item-value="plantID" @change="companySelect">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Site" :loading="siteloader" prepend-icon="location_on" v-model="editedItem.siteID" :items="filteredsite" chips auto item-text="name" item-value="ictMasterID" @change="siteSelect">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Zone" :loading="zoneloader" prepend-icon="location_on" v-model="editedItem.zoneID" :items="filteredZone" chips auto item-text="name" item-value="ictMasterID" @change="zoneSelect">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Location" :loading="locationloader" prepend-icon="location_on" v-model="editedItem.locationID" :items="filteredLocation" chips auto item-text="name" item-value="ictMasterID" @change="locationSelect">
                      </v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Area" :loading="arealoader" prepend-icon="location_on" v-model="editedItem.parentICTID" :items="filteredArea" chips auto item-text="name" item-value="ictMasterID">
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <vue-perfect-scrollbar class="chat-room--scrollbartree">
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.name" label="Name" :rules="editedItem.nameRules" required prepend-icon="select_all"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.description" label="Description" prepend-icon="description">
                        <div slot="label">
                          Description
                        </div>
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.versionNo" label="Version No" :rules="editedItem.max" prepend-icon="description">
                        <div slot="label">
                          Version No
                        </div>
                      </v-text-field>
                    </v-flex>
                       
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions" chips>
                      </v-autocomplete>
                    </v-flex>
                      <v-flex xs12 sm4>
                      <v-checkbox
            color="primary"
            v-model="editedItem.isAllLoction"
            label="Apply to all Areas"
            value="true"
          ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-container>
              </vue-perfect-scrollbar>
            </v-form>
          </v-card-text>
          <v-layout row wrap>
            <p>
              <h3>Layout Type</h3>
            </p>
          </v-layout>

          <v-card-text>

            <layout-type ref="reflayouttype"></layout-type>

          </v-card-text>         
          <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
          </delete-confirmation-dialog>
           </vue-perfect-scrollbar>
           <v-card-actions>
              <v-spacer></v-spacer>
                <v-btn
              color="primary darken-1"
              outline
              @click="save" v-show="ValidFunction('Save',formId)"
            >Save</v-btn>
             <v-btn
              color="primary darken-1"
              outline
              @click.native="close"
            >Close</v-btn>
           </v-card-actions>
        </v-card>
      </v-dialog>
       <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Location Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="loadPagingData()"
          v-hotkey="loadPagingKey">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>

        <v-container fluid>
          <v-layout row wrap>
            <v-flex lg12 sm12 xs12>
              <v-data-table :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"
      :total-items="totalRows"
      :rows-per-page-items="rowsPerPageItems"
      :loading="locationloader"
      @update:pagination="onUpdatePagination"
      class="elevation-1">
                <template slot="items" slot-scope="props">

                  <td>{{ props.item.specificAreaName }}</td>
                  <td class="text-xs-left">{{ props.item.description }}</td>                 
                  <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                  <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
                  <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>
                  <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>

                  <td class="justify-center layout px-0">
                      <v-icon small class="mr-2" :disabled="props.item.sessionId==null" @click="fileAttachments(props.item)">attach_file</v-icon>
                    <v-icon small class="mr-2" v-show="ValidFunction('Edit',formId)" @click="editItem(props.item)">
                      edit
                    </v-icon>
                    <v-icon small v-show="ValidFunction('Delete',formId)" @click="onDeleteItem(props.item)">
                      delete
                    </v-icon>
                  </td>
                </template>
                <template slot="no-data">
                  <v-btn color="primary" outline @click="loadPagingData"> Record not exist.Refresh again in while time.</v-btn>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import {

  getICTMasterActive,

  createICTMaster,
  updateICTMaster,
  deleteICTMaster,
  getPlants,
  getICTLayoutPlanType,

  uploadICTMasterDocuments,
} from "@/api/ictmaster";
import { getLayoutPlanTypes } from "@/api/layoutPlanType";
import UploadButton from "vuetify-upload-button";
import {  downloadFile } from "@/api/document";
import attachment from "@/components/Attachment/attachments";
import LayoutType from "@/pages/ict/layoutType.vue";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import GlobalMessage from "@/constant";
import { isValidFunction } from "@/api/checkPermission";
export default {
  components: {
    "upload-btn": UploadButton,
    LayoutType,
    attachment,
  },
  data: () => ({
    formId: "MAS9049",
     totalRows: 0,
    dialog: false,
    loader: false,
    search: "",
    sessionId: null,
    contentType: "",
    attachdialog: false,
    fileloader: false,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    attachshowdownload: false,
    attachfiles: new FormData(),
    siteloader: false,
    zoneloader: false,
    locationloader: false,
    arealoader: false,

    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
      filterFields: [
      "Description",
      "AddedByUser.UserName",
      "StatusCode.CodeValue",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Name", value: "specificAreaName", align: "left",sortable:false },
      { text: "Description", value: "description", align: "left" },
      // { text: 'Status', value: 'statusCode', align: 'left' },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      Name: "specificAreaName",
      Description: "description",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Added Date": "addedDate",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    layoutItems: [],
    areaItems: [],
    uploadedFiles: [],
    companyItems: [],
    siteItems: [],
    filteredsite: [],
    filteredZone: [],
    locationItems: [],
    filteredLocation: [],
    filteredArea: [],
    docItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      nameRules: [(v) => !!v || "Name is required"],
      max: [(v) => v.length <= 10 || "Max 10 characters"],
      iCTMasterID: -1,
      companyID: 0,
      plantID: null,
      layoutPlanTypes: [],
      parentICTID: null,
      masterType: 574,
      name: "",
      description: "",
      layoutPlanID: 0,
      versionNo: "",
      effectiveDate: new Date(),
      sessionID: null,

      siteID: null,
      zoneID: null,
      isAllLoction: false,
      locationID: null,
      selectMasterType: 573,
      addedByUserId: null,
      addedDate: new Date(),
      addedByUser: "",
      modifiedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      nameRules: [(v) => !!v || "Name is required"],
      max: [(v) => v.length <= 10 || "Max 10 characters"],
      iCTMasterID: -1,
      companyID: 0,
      plantID: null,
      parentICTID: null,
      layoutPlanTypes: [],
      masterType: 574,
      name: "",
      description: "",
      layoutPlanID: 0,
      isAllLoction: false,
      selectMasterType: 573,
      versionNo: "",
      effectiveDate: new Date(),
      sessionID: null,
      siteID: null,
      zoneID: null,
      locationID: null,
      addedByUserId: null,
      addedDate: new Date(),
      addedByUser: "",
      modifiedByUser: "",
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add SpecificArea" : "Edit SpecificArea";
    },
     loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  created() {
    this.initialize();
  },
 mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    initialize() {
      
      getLayoutPlanTypes("")
        .then((response) => {
          if (response.data != undefined) {
            this.layoutItems = response.data;
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants("")
        .then((response) => {
          if (response.data != undefined) {
            this.companyItems = response.data;
            let uom = this.companyItems.filter((o) => o.statusCodeID == 1);

            this.companyItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    showFiles(item) {
      this.documents = this.allFiles.filter(
        (f) => f.departmentID == item.value
      );
      this.view = "list";
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedItem);
      this.dialog = true;
      let id = this.editedItem.ictMasterID;
      this.$refs.reflayouttype.iCTMasterID = item.ictMasterID;
      this.$refs.reflayouttype.enableAddButton = false;
      getICTLayoutPlanType(id)
        .then((response) => {
          if (response.data != undefined) {
            this.$refs.reflayouttype.gridItems = response.data;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getICTMasterActive(570)
        .then((response) => {
          if (response.data != undefined) {
            this.siteItems = response.data;
            let uom = this.siteItems.filter(
              (o) => o.companyID == this.editedItem.companyID
            );
            this.filteredsite = uom;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getICTMasterActive(571)
        .then((response) => {
          if (response.data != undefined) {
            this.zoneItems = response.data;
            let uom = this.zoneItems.filter(
              (o) => o.parentICTID == this.editedItem.siteID
            );
            this.filteredZone = uom;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getICTMasterActive(572)
        .then((response) => {
          if (response.data != undefined) {
            this.locationItems = response.data;
            let uom = this.locationItems.filter(
              (o) => o.parentICTID == this.editedItem.zoneID
            );
            this.filteredLocation = uom;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getICTMasterActive(573)
        .then((response) => {
          if (response.data != undefined) {
            this.areaItems = response.data;
            let uom = this.areaItems.filter(
              (o) => o.parentICTID == this.editedItem.locationID
            );
            this.filteredArea = uom;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteICTMaster(this.selectedItem)
        .then(response => {
          this.loader = false;
          this.selectedItem = null;
          if(response!=undefined)
          {
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          // window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    close() {
      this.dialog = false;
      this.$refs.reflayouttype.gridItems = [];
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.loadPagingData();
        //this.initialize();
      }, 300);
    },
    saveAndClose() {
      this.save();

      setTimeout(() => {
        this.close();
      }, 300);
    },
    companySelect(value) {
      this.siteloader = true;
      getICTMasterActive(570)
        .then((response) => {
          if (response.data != undefined) {
            this.siteItems = response.data;
            let uom = this.siteItems.filter((o) => o.companyID == value);
            this.filteredsite = uom;
            this.editedItem.zoneID = null;
            this.editedItem.locationID = null;
            this.editedItem.parentICTID = null;
            this.siteloader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.documentID = this.quotationHistoryId;
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachments(item) {
      console.log("check item", item);
      this.sessionId = item.sessionID;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentId = item.documentId;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    attachfileChanged(args) {
      this.fileloader = true;
          let allowsize = GlobalMessage.AllowMaxSize;
      Array.from(args).forEach((file) => {
        let fileSize = file.size / 1000000;
        console.log(file.size);
        if (fileSize <= allowsize) {
          this.isExistingFile = false;

          console.log(file.size);

          this.attachshowdownload = false;
          if (this.isExistingFile == false) {
            this.attachfiles.append("file", file, file.name);
          }
        } else {
          window.getApp.$emit(
            "APP_API_VAL",
            file.name + " - File size exceeded "+allowsize+"MB"
          );
        }
      });
      this.upload();
    },
      getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page=1;
      search.sortCol = "IctmasterId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetICTMaster";
      search.Id = 574;
      this.locationloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.locationloader = false;
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;

      if (args.sortBy == "description") {
        search.sortCol = "Description";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetICTMaster";
      console.log("Pagination", args);
      search.Id = 574;
      this.locationloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.locationloader = false;
        })
        .catch((error) => {
          this.locationloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    upload() {
      if (this.editedItem.sessionID != null) {
        this.$refs.frmattach.loader = true;
        this.$refs.frmattach.fileloader = true;
        uploadICTMasterDocuments(this.attachfiles, this.editedItem.sessionID)
          .then((response) => {
            this.fileloader = false;
            this.$refs.frmattach.fileloader = false;
            this.$refs.frmattach.loader = false;
            this.$refs.frmattach.sessionID = this.editedItem.sessionID;
            this.attachfiles = new FormData();
            this.$refs.frmattach.getDocuments();
          })
          .catch((error) => {
            this.fileloader = false;
            this.$refs.frmattach.loader = false;
            this.$refs.frmattach.fileloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.iCTMasterID = -1;
      this.editedItem.layoutPlanID = 0;
      this.editedItem.parentICTID = null;
      this.editedItem.versionNo = "";
      this.editedItem.masterType = 574;
      this.editedItem.selectMasterType = 573;
      this.editedItem.name = "";
      this.editedItem.nameRules = [(v) => !!v || "Name is required"];
      this.editedItem.description = "";
      this.editedItem.addedByUserId = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 1;
      (this.editedItem.companyID = null),
        (this.editedItem.siteID = null),
        (this.editedItem.zoneID = null),
        (this.editedItem.locationID = null),
        (this.editedItem.isAllLoction = false),
        (this.editedItem.statusCode = "Active");
      this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
      this.uploadedFiles = [];
      this.$refs.reflayouttype.gridItems = [];
      this.$refs.reflayouttype.enableAddButton = true;
      this.editedItem.zoneID = null;
      this.editedItem.locationID = null;
      this.editedItem.siteID = null;
      this.siteloader = false;
      this.zoneloader = false;
      this.locationloader = false;
      this.arealoader = false;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      let index = this.editedIndex;
      deleteICTMaster(this.editedItem)
        .then(response => {
          this.add();
          if(response!=undefined)
          {
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          this.loadPagingData();
          }
          setTimeout(() => {
            this.close();
          }, 300);
        })
        .catch((error) => {
          //window.getApp.$emit('APP_API_ERROR', error);
        });
    },

    siteSelect(value) {
      this.zoneloader = true;
      getICTMasterActive(571)
        .then((response) => {
          if (response.data != undefined) {
            this.zoneItems = response.data;
            let uom = this.zoneItems.filter((o) => o.parentICTID == value);
            this.filteredZone = uom;
            this.zoneloader = false;
            this.editedItem.locationID = null;
            this.editedItem.parentICTID = null;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    downloadSelectFile() {
      if (this.editedItem.layoutPlanID != 0) {
        let doc = this.docItems.filter(
          (f) => f.documentID == this.editedItem.layoutPlanID
        );
        if (doc != undefined) {
          this.contentType = doc[0].contentType;
          this.fileName = doc[0].fileName;
        }
      }
      downloadFile(this.editedItem.layoutPlanID)
        .then((response) => {
          let blob = new Blob([response.data], { type: this.contentType });
          let link = document.createElement("a");
          link.href = window.URL.createObjectURL(blob);
          link.download = this.fileName;
          link.click();
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    zoneSelect(value) {
      this.locationloader = true;
      getICTMasterActive(572)
        .then((response) => {
          if (response.data != undefined) {
            this.locationItems = response.data;
            let uom = this.locationItems.filter((o) => o.parentICTID == value);
            this.filteredLocation = uom;
            this.locationloader = false;
            this.editedItem.parentICTID = null;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    locationSelect(value) {
      this.arealoader = true;
      getICTMasterActive(573)
        .then((response) => {
          if (response.data != undefined) {
            this.areaItems = response.data;
            let uom = this.areaItems.filter((o) => o.parentICTID == value);
            this.filteredArea = uom;
            this.arealoader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        this.editedItem.layoutPlanTypes = this.$refs.reflayouttype.gridItems;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedByUser = this.$store.state.auth.userName;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.selectMasterType = 573;
          updateICTMaster(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.uploadedFiles = [];
                // this.editedItem = this.defaultItem;
                 this.loadPagingData();
                 //this.initialize();
                this.$refs.reflayouttype.gridItems = [];
                // this.add();
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.iCTMasterID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedByUser = this.$store.state.auth.userName;
          this.editedItem.addedDate = new Date();
          this.editedItem.modifiedByUserId = null;
          this.editedItem.modifiedDate = null;
          this.editedItem.selectMasterType = 573;
          console.log(this.editedItem);
          createICTMaster(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                //  this.editedItem = response.data;
                let index = this.gridItems
                  .map((item) => item.ictMasterID)
                  .indexOf(response.data.ictMasterID);
                this.editedIndex = index;
                this.$refs.reflayouttype.ictMasterID = this.editedItem.ictMasterID;
                this.$refs.reflayouttype.enableAddButton = false;
                this.sessionId = response.data.sessionId;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                //  this.editedItem = this.defaultItem;
                // this.add();
                 this.loadPagingData();
               //this.initialize();
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },

    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>
<style>
.specificArea--scrollbar {
  height: calc(100vh - 40px - 60px);
}
</style>