<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="PKGRegisteredPackingInformation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog
        v-model="dialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator"  @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator"  @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New PKG Approval Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :disabled="editedItem.pkginformationByPackSizeId>0" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="uploadbtn">
              <v-btn
                :disabled="uploadbtn"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
         <div style="overflow: auto; height: calc(100vh - 110px - 60px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                   
                    <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Packaging Item"
                        prepend-icon="notes"
                        v-model="editedItem.packagingItemId"
                        :items="packagingItems"
                        item-text="value"
                        item-value="applicationMasterDetailId"
                        chips
                      ></v-autocomplete>
                    </v-flex>


                    <v-flex xs12 sm3>
                      <v-autocomplete
                        label="Status"
                        prepend-icon="notes"
                        v-model="editedItem.statusCodeID"
                        :items="statusOptions"
                        item-text="text"
                        item-value="value"
                        chips
                      >
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
            <information-pack-size
              ref="refinfoPacksize"
            ></information-pack-size>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save"
              >save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
     <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="PKG Registered Packing Information Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon> refresh </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="pkgregisteredPackingInformationId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td>{{ props.item.packagingItem }}</td>
        
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">
            {{ props.item.addedByUser }}
          </td>
          <td class="text-xs-left">
            {{ props.item.addedDate | formatDate }}
          </td>
          <td class="text-xs-left">
            {{ props.item.modifiedByUser }}
          </td>
          <td class="text-xs-left">
            {{ props.item.modifiedDate | formatDate }}
          </td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="fileAttachments(props.item)"
              >attach_file</v-icon
            >
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)"> delete </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">
          Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog1"
      heading="Are You Sure You Want To Close?"
      message="Are You Sure You Want To Close? Files Not Updloaded"
      @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import GlobalMessage from "@/constant";
import moment from "moment";
import UploadButton from "vuetify-upload-button";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import InformationPackSize from "@/pages/productionplanning/salesorder/PKGApproval/pkgInformationByPackSize.vue";
import {
  getPKGRegisteredPackingInformationByID,
  createPKGRegisteredPackingInformation,
  updatePKGRegisteredPackingInformation,
  deletePKGRegisteredPackingInformation,  
} from "@/api/pkgApprovalInformation";
import { getCodeMasterByType } from "@/api/applicationUser";
export default {
  components: {
    "upload-btn": UploadButton,
    InformationPackSize,
    attachment,
  },
  data: () => ({
    screenID: "",
    uploadbtn: true,
    sessionId: null,
    attachdialog: false,
    navItems: [],
    companies: [],
    packagingItems: [],
    dialog: false,
    search: "",
    loader: false,
    editedIndex: -1,
    menuprodSearch: false,
    searchTag: "",
    searchFilter: "",
    showIcon: true,
    pkgapprovalInformationId: null,
    uploadedFileNames: [],    
    sessionId: null,
    uploadedFiles: [],
    productName: "",
    gridItems: [],
    registerationStatusItem: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    
    files: new FormData(),
    editedItem: {
      valid: false,
      pkgregisteredPackingInformationId: -1,
      pkgapprovalInformationId: null,
      packagingItemId: null,
      packagingIttem: "",    
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionID: null,
    },
    defaultItem: {
      valid: false,
      pkgregisteredPackingInformationId: -1,
      pkgapprovalInformationId: null,
      packagingItemId: null,
      packagingIttem: "",    
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      sessionID: null,
    },
    headers: [
     
      {
        text: "Packaging Item",
        value: "packagingItem",
        align: "left",
      },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%",
      },
    ],
    json_fields: {
      "Packaging Item": "packagingItem",       
      Status: "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate",
    },   
    products: [],
    selected: [],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add PKG Registered Packing Information"
        : "Edit PKG Registered Packing Information";
    },
  
  },
  methods: {
    initialize() {
      
      let id = this.pkgapprovalInformationId;
      if(id>0)
      {
          this.loader = true;
      getPKGRegisteredPackingInformationByID(id)
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      }
      getApplicationMasterDetailByType(201)
        .then((response) => {
          this.packagingItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
     
    },
    loadDropdown(){
     let id = this.pkgapprovalInformationId;
      if(id>0)
      {
      getPKGRegisteredPackingInformationByID(id)
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      }
    },
    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        (f) => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachment() {
      this.$refs.refattach.attachments = [];     
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item.sessionId);
      this.sessionId = item.sessionId;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },

    getProductLinesTab() {
      //if(this.editedIndex >-1)
      //{
      setTimeout(() => {
        this.$refs.refinfoPacksize.pkgregisteredPackingInformationId = this.editedItem.pkgregisteredPackingInformationId;
        this.$refs.refinfoPacksize.enableAddButton = false;
        this.$refs.refinfoPacksize.loadDropdown();
      }, 500);
      // }
    },

    save() {
        this.editedItem.pkgapprovalInformationId = this.pkgapprovalInformationId;
      
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();

          updatePKGRegisteredPackingInformation(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.initialize();
              this.getProductLinesTab();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          createPKGRegisteredPackingInformation(this.editedItem)
            .then((response) => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.pkgregisteredPackingInformationId =
                response.data.pkgregisteredPackingInformationId;
              let index = this.gridItems
                .map((item) => item.pkgregisteredPackingInformationId)
                .indexOf(response.data.pkgregisteredPackingInformationId);
              this.editedIndex = index;

              this.sessionId = response.data.sessionId;             
              this.uploadbtn = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              this.initialize();
              this.getProductLinesTab();
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      
    },
    add() {
      this.editedIndex = -1;     
      this.uploadbtn = true;     
      this.editedItem.productGroupCodeId = null;
      this.editedItem.pkgregisteredPackingInformationId = -1;       
      this.sessionId = null;     
      this.$refs.refinfoPacksize.enableAddButton = true;      
      this.$refs.refinfoPacksize.gridItems = [];
     
    },
    saveAndClose() {
      this.save();
      this.close();
    },
   
    editItem(item) {
      this.uploadedFileNames = [];
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.valid = false;
      this.sessionId = item.sessionId;
      this.pkgapprovalInformationId = item.pkgapprovalInformationId;
      this.uploadbtn = false;     
      this.dialog = true;
      this.getProductLinesTab();
    },
    close() {
      this.uploadedFileNames = [];
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.pkgregisteredPackingInformationId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deletePKGRegisteredPackingInformation(this.editedItem)
          .then(response => {

            this.loader = false;
            if(response!=undefined)
            {
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            this.loader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
  
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>
