<template>
  <div id="page-forms">
    <v-tabs color="transparent" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="#tab-1" color="white">
        Asset Maintenance 
        <v-icon>fa-sticky-note</v-icon>
      </v-tab>
      <v-tab key="#tab-2" color="white">
        Asset Depreciation
        <v-icon>apps</v-icon>
      </v-tab>
      <v-tab key="#tab-3" color="white">
        Asset Assignment
        <v-icon>segment</v-icon>
      </v-tab>

      <v-tabs-items>
        <v-tab-item key="#tab-1">
          <v-card flat>
            <asset-maintenance ref="refassetMaintenance"></asset-maintenance>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-2">
          <v-card flat>
            <asset-depreciation ref="refassetDepriciation"></asset-depreciation>
          </v-card>
        </v-tab-item>
         <v-tab-item key="#tab-3">
          <v-card flat>
            <asset-assignment ref="refassetAssignment"></asset-assignment>
          </v-card>
        </v-tab-item>
        
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
 <script>
import AssetMaintenance from "@/pages/assets/assetMaintenance";
import AssetDepreciation from "@/pages/assets/assetDepreciation";
import AssetAssignment from "@/pages/assets/assetAssignment";

export default {
  components: {
    AssetMaintenance,
    AssetDepreciation,
    AssetAssignment
  },

  data: () => ({
    
    
    valid: true,
    loader: false,
   
  }),
  mounted() {
  },
  created() {
    this.initialize();
  },
  methods: {
    
    initialize() {
      
    },
   
  }
};
</script>