<template>
  <div>
    <v-app-bar app clipped-left clipped-right color="primary" dark>
  <!--     <v-toolbar-title class="align-center d-flex"> </v-toolbar-title> -->
      <v-app-bar-nav-icon class="d-block" @click="onclick" />
      <v-spacer></v-spacer>
      <span class="m_title">{{ $store.state.userName }}</span>
      <v-menu bottom left transition="scale-transition">
        <template v-slot:activator="{ on }">
          <v-btn dark icon v-on="on">
            <v-icon>more_vert</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, i) in userprofile"
            :key="i"
            @click="headerListClick(item)"
          >
            <v-list-item-action
              ><v-icon>{{ item.icon }}</v-icon></v-list-item-action
            >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
  </div>
</template>
<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "Header",

  components: {},

  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    valid: false,
  }),
  mounted() {},
  computed: {
    ...mapState(["sidebar_drawer"]),
    userprofile() {
      return [{ title: "Logout", icon: "mdi-logout" }];
    },
  },
  created() {},
  methods: {
    ...mapMutations({
      setSidebarDrawer: "SET_SIDEBAR_DRAWER",
    }),
    headerListClick(item) {
      if (item.title == "Logout") {
        this.$store
          .dispatch("logout", this.$store.state)
          .then(() => this.$router.push("/"))
          .catch((err) => console.log(err));
      }
    },
    onclick() {
      if (this.sidebar_drawer == true) {
        return this.setSidebarDrawer(false);
      } else {
        return this.setSidebarDrawer(true);
      }
    },
  },
};
</script>