<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="manHourinformation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
        <!-- <v-tooltip bottom> -->
        <v-btn slot="activator" :disabled="enableAddButton" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add" :disabled="editedItem.machineTimeManHourInfoId<0">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Man Hour Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow" :disabled="editedItem.machineTimeManHourInfoId<0">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
           
            <v-spacer></v-spacer>
          
           
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(90vh - 100px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.manpower"
                      label="Manpower"
                      prepend-icon="groups"
                     
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                 <v-layout row wrap class="layoutbg">
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.preparationTime"
                      label="Preparation Time"
                      prepend-icon="timer"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.preparationTimeId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm2>
                   </v-flex>
                   <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.productionTime"
                      label="Production Time"
                      prepend-icon="timer"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.productionTimeId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm2>
                   </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.level1Cleaning"
                      label="Level 1 Cleaning"
                      prepend-icon="ballot"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.level1CleaningId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm2>
                   </v-flex>
                   <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.level2Cleaning"
                      label="Level 2 Cleaning"
                      prepend-icon="ballot"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.level2CleaningId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm2>
                   </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.intermittentCleaningAt"
                      label="Intermittent Cleaning At "
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.intermittentCleaningAtId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm2>
                   </v-flex>
                   <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.nextStepMinTimeGap"
                      label="Next Step Min Time Gap"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.nextStepMinTimeGapId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm2>
                   </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.nextStepMaxTimeGap"
                      label="Next Step Max Time Gap"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.nextStepMaxTimeGapId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm2>
                   </v-flex>
                    <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                 </v-layout>
                   <v-layout row wrap class="layoutbg">
                    <v-flex xs12 sm4>
                    <v-checkbox
                      color="primary"
                      v-model="editedItem.nextStepManpowerOverlapping"
                      label="Next Step Manpower Overlapping"
                    ></v-checkbox>
                  </v-flex>
                   <v-flex xs12 sm8>
                   </v-flex>

                  <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-text-field
                      v-model="editedItem.overlapNumber"
                      label="Overlap Number"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-text-field
                      v-model="editedItem.qctestingTime"
                      label="QC Testing Time/Working Day"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-text-field
                      v-model="editedItem.qcmaxCollection"
                      label="QC Max Collection /Batch"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-text-field
                      v-model="editedItem.maxCampaign"
                      label="Max Campaign/Ticket"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-text-field
                      v-model="editedItem.nextProdItemMinTime"
                      label="Next Production Item Min Time Gap"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                     <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.nextProdItemMinTimeId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                 
                     <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-text-field
                      v-model="editedItem.nextProdItemMaxTime"
                      label="Next Production Item Max Time Gap"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4 v-if="editedItem.nextStepManpowerOverlapping">
                    <v-autocomplete
                      label="Select Option"
                      prepend-icon="notes"
                      v-model="editedItem.nextProdItemMaxTimeId"
                      :items="selectOptions"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                  </v-flex>
                  
                   </v-layout>
                     <v-layout row wrap v-if="isFPItemStrip" class="layoutbg">
                  <v-flex xs12 sm4 v-if="isFPItemStrip">
                    <v-text-field
                      v-model="editedItem.recommendedCycle"
                      label="Recommended Cycle"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4 v-if="isFPItemStrip">
                    <v-text-field
                      v-model="editedItem.noOfCutUse"
                      label="No Of Cut Use"
                      prepend-icon="select_all"
                     
                    ></v-text-field>
                  </v-flex>
                    <v-flex xs12 sm4 v-if="isFPItemStrip">
                    <v-autocomplete
                      label="Type of Feed"
                      prepend-icon="notes"
                      v-model="editedItem.typeOfFeedId"
                      :items="typeofFeedItems"
                       item-text="codeValue"
                item-value="codeID"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                     </v-layout>
                   
              </v-form>
            </v-card-text>
          
           
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="initialize()"
         
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>
        <v-layout row wrap>
          <v-flex lg12 sm12 xs12>
            <v-data-table
             :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      :loading="gridloader"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
            >
              <template slot="items" slot-scope="props">
                  <tr v-on:dblclick="editItem(props.item)">
                <td>{{ props.item.manpower }}</td>
                <td class="text-xs-left">{{ props.item.preparationTime }}</td>
                  <td>{{ props.item.productionTime }}</td>
                <td class="text-xs-left">{{ props.item.level1Cleaning }}</td>
                <td class="text-xs-left">{{ props.item.level2Cleaning }}</td>
                  <td class="text-xs-left">{{ props.item.nextStepMinTimeGap }}</td>
                    <td class="text-xs-left">{{ props.item.nextStepMaxTimeGap }}</td>
                      <td class="text-xs-left">{{ props.item.overlapNumber }}</td>

                 <td class="text-xs-left">{{ props.item.statusCode }}</td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <td class="text-xs-left">
                  {{ props.item.addedDate | formatDate }}
                </td>
                <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
               
                <td class="text-xs-left">
                  {{ props.item.modifiedDate | formatDate }}
                </td>

                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="editItem(props.item)"
                    >edit</v-icon
                  >
                  <v-icon small @click="onDeleteItem(props.item)"
                    >delete</v-icon
                  >
                </td>
                  </tr>
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"
                  >Record not exist.Refresh again in while time.</v-btn
                >
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>

   
  </div>
</template>
<script>
import {
  getMachineTimeManHourInfo,
 createMachineTimeManHourInfo,
  updateMachineTimeManHourInfo,
  deleteMachineTimeManHourInfo,
 
} from "@/api/manhourInformation";
  import {   
    getNavProductCode,   
  } from "@/api/productionbatchInformation";
import GlobalMessage from "@/constant";
import Util from "@/util";
import { 
          getDepartments, getCodeMasterByType  } from '@/api/applicationUser';
import search from "@/search";

import ProcessMachineTab from "@/pages/productionplanning/processMachineTime/processMachineTimeLineTabs.vue";


export default {
  components: {
   ProcessMachineTab
  
  },
  data: () => ({
    formId: "PMT14010",
     methodCodeList: [],
    auditdialog: false,
    gridloader: false,
    processMachineTimeId: null,
    processMachineTimeLineId: null,
      enableAddButton: true,
     manHourInformationConfig: Util.tinyconfig(),
    packUom: "",
    totalRows: 0,
    isStripItem: false,
    itemName: "",
    navdialog: false,
    dialog: false,
    loader: false,
     selectOptions: [     
      ],
    saveloader: false,
      productCodeItems: [],
    search: "",
    snackbar: false,
       isFPItemStrip :false,
        isFPItemBox :false,
    snackbarMessage: "",
    applicationFormData: null,
    productGroupDescription: "",
    companyCode: "",
    uomItems: [],
    timeout: 2000,
    searchSellToCountry: "",
    searchManufacturingCountry: "",
    searchSupplyTo: "",
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    y: "top",
    filterFields: [
      "ProductionArea.Value",     
      "StatusCode.CodeValue",
      "AddedByUser.UserName",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Man Power", value: "manpower", align: "left" },
      { text: "Preparation Time", value: "preparationTime", align: "left" },
      { text: "Production Time", value: "productionTime", align: "left" },
      { text: "level 1 Cleaning", value: "level1Cleaning", align: "left" },
        { text: "level 2 Cleaning", value: "level2Cleaning", align: "left" },
          { text: "Next Step Min Time Gap", value: "nextStepMinTimeGap", align: "left" },
             { text: "Next Step Max Time Gap", value: "nextStepMaxTimeGap", align: "left" },
              { text: "Overlap Number", value: "overlapNumber", align: "left" },
                { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },    
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
   
    json_fields: {
      Code: "code",
      Description: "description",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    companyItems: [],
      departmentItems: [],
    
    typeofFeedItems: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },   
    productionAreaItems: [],
    customerItems: [],
    editedItem: {
      valid: false,
      machineTimeManHourInfoId: -1,     
        processMachineTimeId: null,
    processMachineTimeLineId: null,
        manpower : 0,
        preparationTimeId :0,
        preparationTimeType:"", 
         preparationTime : "", 
         productionTimeId: null,
        productionTimeType :"",
        productionTime : "",
        level1CleaningId : null,
        level1CleaningType : "",
        level1Cleaning :"",
        level2CleaningId : null,
        level2CleaningType : "",
        level2Cleaning :"",
        intermittentCleaningAtId: null, 
        intermittentCleaningAtType :"",
        intermittentCleaningAt :"",
        nextStepMinTimeGapId : null,
        nextStepMinTimeGapType : "",
        nextStepMinTimeGap: "",
        nextStepMaxTimeGapId :null,
        nextStepMaxTimeGapType : "",
        nextStepMaxTimeGap :"",
        nextStepManpowerOverlapping : false, 
        nextStepManpowerOverlappingFlag :"",
        overlapNumber :0,
        nextProdItemMinTimeId : null,
        nextProdItemMinTimeType : "",
        nextProdItemMinTime :"",
        nextProdItemMaxTimeId : null,
        nextProdItemMaxTimeType : "",
        nextProdItemMaxTime : "",
        qctestingTime : "",
        qcmaxCollection : "",
        maxCampaign : "",
        recommendedCycle : "",
        noOfCutUse :"",
        typeOfFeedId : null,
        departmentId : null,
        department : "",
        information : "",
      
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      addedByUser: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      modifiedByUser: "",
    
    },
    defaultItem: {
          valid: false,
      machineTimeManHourInfoId: -1,
     
        processMachineTimeId: null,
          processMachineTimeLineId: null,
        manpower : 0,
        preparationTimeId :0,
        preparationTimeType:"", 
         preparationTime : "", 
         productionTimeId: null,
        productionTimeType :"",
        productionTime : "",
        level1CleaningId : null,
        level1CleaningType : "",
        level1Cleaning :"",
        level2CleaningId : null,
        level2CleaningType : "",
        level2Cleaning :"",
        intermittentCleaningAtId: null, 
        intermittentCleaningAtType :"",
        intermittentCleaningAt :"",
        nextStepMinTimeGapId : null,
        nextStepMinTimeGapType : "",
        nextStepMinTimeGap: "",
        nextStepMaxTimeGapId :null,
        nextStepMaxTimeGapType : "",
        nextStepMaxTimeGap :"",
        nextStepManpowerOverlapping : false, 
        nextStepManpowerOverlappingFlag :"",
        overlapNumber :0,
        nextProdItemMinTimeId : null,
        nextProdItemMinTimeType : "",
        nextProdItemMinTime :"",
        nextProdItemMaxTimeId : null,
        nextProdItemMaxTimeType : "",
        nextProdItemMaxTime : "",
        qctestingTime : "",
        qcmaxCollection : "",
        maxCampaign : "",
        recommendedCycle : "",
        noOfCutUse :"",
        typeOfFeedId : null,
        departmentId : null,
        department : "",
        information : "",       
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      addedByUser: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      modifiedByUser: "",
    
    },
  
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Man Hour Information"
        : "Edit Man Hour Information";
    },
   
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  created() {
    this.initialize();
  },

  methods: {
    initialize() {
       if(this.processMachineTimeLineId>0)
       {
         this.gridloader = true;
        let id = this.processMachineTimeLineId;
       getMachineTimeManHourInfo(id)
        .then((response) => {
          this.gridItems = response.data;
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
       }
    
         getCodeMasterByType('ProcessSelectOptions')
          .then(response => {
            this.selectOptions = response.data;           
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
     
         getCodeMasterByType('TypeOfFeed')
          .then(response => {
            this.typeofFeedItems = response.data;           
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
     
         getDepartments('')
            .then(response2 => {
            this.departmentItems = response2.data;
            this.loader = false;           
            })
            .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
            });
      //this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      
    
      this.dialog = true;
    },

     selCompany(){
           getNavProductCode("")
          .then(response2 => {
           this.productCodeItems = response2.data;
            if(this.editedItem.companyId!=null)
            {
            this.productCodeItems = response2.data.filter(
              f => f.companyId == this.editedItem.companyId
            );     
            }     
            this.subloader = false;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
            this.subloader = false;
          });
     },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
      //   alert('edited Item:-'+JSON.stringify(this.selectedItem));
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);

      deleteMachineTimeManHourInfo(this.selectedItem)
        .then((response) => {
          this.loader = false;
          if (response != undefined) {
            //   alert('edited Item:-'+JSON.stringify(this.selectedItem));

            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
          this.initialize();
        })
        .catch((error) => {
          this.loader = false;
          // window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
       
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getProcessMachineTime(this.searchItem)
        .then((response) => {
          if (response.data != undefined) {
            if (response.data.machineTimeManHourInfoId != null) {
              this.editedItem = response.data;

              let index = this.gridItems
                .map((item) => item.machineTimeManHourInfoId)
                .indexOf(response.data.machineTimeManHourInfoId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.machineTimeManHourInfoId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.machineTimeManHourInfoId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.machineTimeManHourInfoId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.machineTimeManHourInfoId;
      this.toolfunction();
    },
    add() {
       
      this.editedItem.valid = false;
      this.editedItem.machineTimeManHourInfoId = -1;
         
    
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();

      deleteMachineTimeManHourInfo(this.editedItem)
        .then((response) => {
          if (response.data != undefined) {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
          this.initialize();
        })
        .catch((error) => {
          //window.getApp.$emit('APP_API_ERROR', error);
        });
    },
     
    save() {
      this.editedItem.processMachineTimeLineId = this.processMachineTimeLineId;
      if (this.$refs.form.validate()) {
        //   alert('edited Item:-'+JSON.stringify(this.editedItem));
        this.loader = true;
        this.saveloader = true;
        let index = this.editedIndex;      
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;        
          updateMachineTimeManHourInfo(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                //   alert('Update Item:-'+JSON.stringify(response.data));
                Object.assign(this.gridItems[index], response.data);
               
                this.initialize();
                this.loader = false;
                this.saveloader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              }
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.machineTimeManHourInfoId = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserId = this.$store.state.auth.userId;         
          createMachineTimeManHourInfo(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                this.saveloader = false;
                let index = this.gridItems
                  .map((item) => item.machineTimeManHourInfoId)
                  .indexOf(response.data.machineTimeManHourInfoId);
                this.editedIndex = index;
              
                this.editedItem.machineTimeManHourInfoId = response.data.machineTimeManHourInfoId;   
                
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
 
   

   
  },
};
</script>
<style scoped>
.layoutbg {
  border-style: solid;
  border-radius: 8px !important;
  border-color: rgb(216, 222, 247);
  border-width: 1px;
  padding: 8px;
}
.borderlayout {
  border-radius: 9px !important;
  border-color: gray;
  border-width: 2px;
  padding: 6px;
}
</style>