<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="genriccode.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen>
        <!-- <v-tooltip bottom> -->
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Process Machine Time</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <!-- <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="onNavItems">
                <v-icon color="white">list</v-icon>
              </v-btn>
              <span>Nav Items</span>
            </v-tooltip>-->
           
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(90vh - 100px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                 
                        <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Company"
                      prepend-icon="description"
                      :loading="loader"
                      v-model="editedItem.companyId"
                      chips
                      :items="companyItems"
                      :hide-selected="true"
                     
                     
                      item-text="description"
                      item-value="plantID"
                      @change="selCompany"
                    >
                     
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      label="Production Area"
                      prepend-icon="notes"
                      v-model="editedItem.productionAreaId"
                      :items="productionAreaItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-checkbox
                      color="primary"
                      v-model="editedItem.isRunSteroidCompaign"
                      label="Is Steriod Compaign Run"
                    ></v-checkbox>
                  </v-flex>
                 
           
                  <v-flex xs12 sm4>
                    <v-autocomplete
        label="Method Code"
        v-model="editedItem.navMethodCodeId"
        item-value="methodCodeID"
        item-text="dropDownName"
        :items="methodCodeList"
        prepend-icon="all_inclusive"
        @change="selMethodCode"
      ></v-autocomplete>
                    <template slot="selection" slot-scope="data">
                          <v-chip
                            :selected="data.selected"
                           
                                                      
                            >{{ data.item.methodName }}</v-chip
                          >
                        </template>
                  </v-flex>
                   <v-flex xs12 sm4>
                      <v-autocomplete :loading="loader" label="Batch Size" prepend-icon="description" v-model="editedItem.navBatchSizeId" :items="batchSizeItems" item-value="batchSize" item-text="batchSizeValue" @change="selectChanged"></v-autocomplete>
                    </v-flex>
                   <v-flex xs12 sm4>
                        <v-autocomplete label="Product Code" prepend-icon="code" v-model="editedItem.navProductCodeId" :items="productCodeItems" item-text="productCode" item-value="navproductCodeId" ></v-autocomplete>
                      </v-flex>
                  <v-flex xs12 sm4>
                    <v-checkbox
                      color="primary"
                      v-model="editedItem.isInterCompanyProduction"
                      label="Is Inter Company Production"
                    ></v-checkbox>
                  </v-flex>
                    <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                  <v-layout row wrap class="layoutbg">
                    <span class="headline" >Navision Process</span>
                     <v-flex sm12 xs12>
                     <v-text-field
        v-model="navsearch"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
                     </v-flex>
                   <v-flex sm12 xs12>
            <v-data-table
              :headers="navItemheaders"
              :items="navgridItems"
              :pagination.sync="navpagination"             
              :rows-per-page-items="navrowsPerPageItems"
              :loading="navloader"
               :search="navsearch"
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.itemCategoryCode }}</td>
                <td class="text-xs-left">{{ props.item.no }}</td>
                  <td>{{ props.item.itemNoDetail }}</td>
                <td class="text-xs-left">{{ props.item.baseUnitofMeasure }}</td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
              
                <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
               

                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" :disabled="editedItem.processMachineTimeId<=0" @click="editNavCategoryItem(props.item)"
                    >edit</v-icon
                  >
                
                </td>
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="initialize"
                  >Record not exist.Refresh again in while time.</v-btn
                >
              </template>
            </v-data-table>
          </v-flex>
                  </v-layout>
                  <!-- <v-flex xs12 sm4>
                    <v-autocomplete
                      chips
                      flat
                      label="Item No"
                      prepend-icon="invert_colors"
                      :items="navItems"
                      v-model="editedItem.itemId"
                      color="blue"
                      item-text="itemNoDetail"
                      item-value="itemId"
                      :rules="[(v) => !!v || 'Item No is required']"
                      @change="selectNavision"
                    ></v-autocomplete>
                  </v-flex>
                    <v-flex xs12 sm4>
                    <v-text-field
                      v-model="itemName"
                      label="Item  Name"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="packUom"
                      label="Pack Size"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex> -->
        </v-layout>
              </v-form>
            </v-card-text>
           
           
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click.native="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >close</v-btn
            >
          </v-card-actions>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
           
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>
        <v-layout row wrap>
          <v-flex lg12 sm12 xs12>
            <v-data-table
              :headers="headers"
              :items="gridItems"
              :pagination.sync="pagination"
              :total-items="totalRows"
              :rows-per-page-items="rowsPerPageItems"
              :loading="loader"
              @update:pagination="onUpdatePagination"
              class="elevation-1"
            >
              <template slot="items" slot-scope="props">
                <tr v-on:dblclick="editItem(props.item)">
                <td>{{ props.item.productionArea }}</td>
                <td class="text-xs-left">{{ props.item.navMethodCode }}</td>
                  <td>{{ props.item.navBatchSize }}</td>
                <td class="text-xs-left">{{ props.item.navProductCode }}</td>
                 <td class="text-xs-left">{{ props.item.statusCode }}</td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                  <td class="text-xs-left">
                  {{ props.item.addedDate | formatDate }}
                </td>
                <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
              
                <td class="text-xs-left">
                  {{ props.item.modifiedDate | formatDate }}
                </td>

                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="editItem(props.item)"
                    >edit</v-icon
                  >
                  <v-icon small @click="onDeleteItem(props.item)"
                    >delete</v-icon
                  >
                </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline @click="loadPagingData"
                  >Record not exist.Refresh again in while time.</v-btn
                >
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </div>
       <v-dialog v-model="productioncenterdialog" fullscreen>
        <v-card>
          <v-toolbar dark color="primary">
            
            
             <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="productioncenterdialogClose">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
             <v-toolbar-title>
          Planning Master
        </v-toolbar-title>
            <v-spacer></v-spacer>

            <v-btn icon @click.native="productioncenterdialogClose">
              <v-icon color="white">close</v-icon>
            </v-btn>
          </v-toolbar>
           <div style="overflow: auto; height: calc(90vh - 105px)">
          <v-card-text>
            <v-layout wrap>
              <v-flex xs12 sm12>
                <production-centre ref="refproductionCentre">
        </production-centre>
              </v-flex>
            </v-layout>
          </v-card-text>
           </div>
           <v-card-actions>
            <v-spacer></v-spacer>
           
            <v-btn color="primary darken-1" outline @click.native="productioncenterdialogClose"
              >close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>

   
  </div>
</template>
<script>
import {
  getProcessMachineTime,
  getNavItemForProcessMachineTime,
  getProcessMachineTimes,
  createProcessMachineTime,
  updateProcessMachineTime,
  deleteProcessMachineTime,
  getNavBatchSizeForProcessMachineTime
 
} from "@/api/processMachinetime";
  import {   
    getNavProductCode,   
  } from "@/api/productionbatchInformation";
import GlobalMessage from "@/constant";
import { getNavMethodCodes } from "@/api/itemMaster";
  import {
   
    getNAVMethodCodeBatchByID,
  
  } from "@/api/productionBasicCycle";
import { isValidFunction } from "@/api/checkPermission";
import { getPlants } from "@/api/plant";
import { getApplicationFormByScreenID } from "@/api/ApplicationForm";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import { getNavItemsList } from "@/api/nav";
 import ProductionCentre from '@/pages/productionplanning/processMachineTime/productionCentre';
//import ProcessMachineTab from "@/pages/productionplanning/processMachineTime/processMachineTimeLineTabs.vue";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getNavItemsByGenericID } from "@/api/nav";
import { getCompanyListingForProductGroup } from "@/api/productGrouping";

export default {
  components: {
   //ProcessMachineTab,
    ProductionCentre,
  
  },
  data: () => ({
    formId: "PMT14010",
     methodCodeList: [],
    auditdialog: false,
    navloader: false,
    navsearch: "",
    packUom: "",
    totalRows: 0,
    itemName: "",
    navdialog: false,
    dialog: false,
    loader: false,
    saveloader: false,
      productCodeItems: [],
    search: "",
    snackbar: false,
    snackbarMessage: "",
    companyCode: "",
    batchSizeItems: [],
    timeout: 2000,  
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    y: "top",
    filterFields: [
      "ProductionArea.Value",     
      "StatusCode.CodeValue",
      "AddedByUser.UserName",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Production Area", value: "productionArea", align: "left" },
      { text: "Method Code", value: "navMethodCode", align: "left" },
      { text: "BatchSize", value: "navBatchSize", align: "left" },
      { text: "Product Code", value: "navProductCode", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
         { text: "Added Date", value: "addedDate", align: "left" },
      { text: "Modified By", value: "modifiedByUser", align: "left" },
    
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    navItemheaders: [
         { text: "Item Categories", value: "itemCategoryCode", align: "left" },
       { text: "Item No", value: "no", align: "left" },
      { text: "Item Description + Internal Reference", value: "itemNoDetail", align: "left" },
       
      { text: "UOM(BUOM)", value: "baseUnitofMeasure", align: "left" },
       { text: "Added By", value: "addedByUser", align: "left" },
     
      { text: "Added Date", value: "addedDate", align: "left" },
     
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      Code: "code",
      Description: "description",
      "Added By": "addedByUser",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
    },
    gridItems: [],
    companyItems: [],
   
    navItems: [],
    navgridItems:[],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
      navrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    navpagination: {
      rowsPerPage: 10,
    },
   
    productioncenterdialog: false,
    productionAreaItems: [],
    editedItem: {
      valid: false,
      processMachineTimeId: -1,
      companyId : null,
       productionAreaId: null,
         isRunSteroidCompaign: false,
         navMethodCodeId : null, 
        navBatchSizeId : null,
         navProductCodeId : null,
        isInterCompanyProduction : false,
        navItemCategoryId : null,
        itemId : null,
          isFPItemStrip :false,
        isFPItemBox :false,
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      addedByUser: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      modifiedByUser: "",
    
    },
    defaultItem: {
           valid: false,
      processMachineTimeId: -1,
      companyId : null,
       productionAreaId: null,
         isRunSteroidCompaign: false,
         navMethodCodeId : null, 
        navBatchSizeId : null,
         navProductCodeId : null,
        isInterCompanyProduction : false,
        navItemCategoryId : null,
        itemId : null,
           isFPItemStrip :false,
        isFPItemBox :false,
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      addedByUser: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      modifiedByUser: "",
    },
  
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Process Machine Time"
        : "Edit Process Machine Time";
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      
      getNavMethodCodes()
        .then((response) => {
          this.methodCodeList = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
       
      this.loader = true;
      getPlants("")
        .then((response) => {
          this.companyItems = response.data;
          //this.sellToItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
     
      this.loader = true;
      getApplicationMasterDetailByType(317)
        .then((response) => {
          this.loader = false;
          this.productionAreaItems = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
        getNavItemsList()
        .then((response) => {
          this.navItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
        // this.$refs.refProcessMachineTab.$refs.refproductionCentre.enableAddButton = false;
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.enableAddButton = false;
        //  this.$refs.refProcessMachineTab.$refs.refproductionCentre.processMachineTimeId = item.processMachineTimeId;
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.processMachineTimeId = item.processMachineTimeId;
        //   this.$refs.refProcessMachineTab.$refs.refproductionCentre.initialize();
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.initialize();
        //    this.$refs.refProcessMachineTab.$refs.refmanHourInformation.isFPItemStrip =item.isFPItemStrip;
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.isFPItemBox =item.isFPItemBox;
        // this.$refs.refProcessMachineTab.$refs.refproductionCentre.$refs.refOperationDetails.$refs.refMachineProcessListing.companyId = item.companyId;
     
      // this.selMethodCode(this.editedItem.navMethodCodeId);
       this.selMethodCode();
      this.dialog = true;
    },
     editNavCategoryItem(item){
       console.log('item nav'+JSON.stringify(item))
     this.productioncenterdialog = true;
      this.$refs.refproductionCentre.itemId = item.itemId;
     this.$refs.refproductionCentre.processMachineTimeId = this.editedItem.processMachineTimeId;
     this.$refs.refproductionCentre.initialize();
      this.$refs.refproductionCentre.$refs.refProcessMachineTab.$refs.refmanHourInformation.initialize();
       this.$refs.refproductionCentre.$refs.refProcessMachineTab.$refs.refspecialNotes.companyId = this.editedItem.companyId;
        this.$refs.refproductionCentre.$refs.refProcessMachineTab.$refs.refOperationDetails.$refs.refMachineProcessListing.companyId = item.companyId;
        
     },
     selCompany(){
           getNavProductCode("")
          .then(response2 => {
           this.productCodeItems = response2.data;
            if(this.editedItem.companyId!=null)
            {
            this.productCodeItems = response2.data.filter(
              f => f.companyId == this.editedItem.companyId
            );     
            }     
            this.subloader = false;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
            this.subloader = false;
          });
          
     },
    selMethodCode(){
          let id = this.editedItem.navMethodCodeId;
           if(id>0)
           {
            getNavItemForProcessMachineTime(id)
        .then((response) => {
          this.navgridItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

         getNavBatchSizeForProcessMachineTime(id)
            .then((response) => {
              this.batchSizeItems = response.data;
              this.loader = false;
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
              this.loader = false;
            });
           }
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
      //   alert('edited Item:-'+JSON.stringify(this.selectedItem));
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);

      deleteProcessMachineTime(this.selectedItem)
        .then((response) => {
          this.loader = false;
          if (response != undefined) {
            //   alert('edited Item:-'+JSON.stringify(this.selectedItem));

            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
          this.initialize();
        })
        .catch((error) => {
          this.loader = false;
          // window.getApp.$emit("APP_API_ERROR", error);
        });
    },
     selectChanged (value) {
        if (value != null) {
         
         
        }
      },
      productioncenterdialogClose(){
       this.productioncenterdialog = false;
      },
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "ProcessMachineTimeId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetProcessMachineTime";
       search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "productionArea") {
        search.sortCol = "ProductionArea.Value";
      }  else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      }
       else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetProcessMachineTime";
      console.log("Pagination", args);
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.navgridItems=[];
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getProcessMachineTime(this.searchItem)
        .then((response) => {
          if (response.data != undefined) {
            if (response.data.processMachineTimeId != null) {
              this.editedItem = response.data;

              let index = this.gridItems
                .map((item) => item.processMachineTimeId)
                .indexOf(response.data.processMachineTimeId);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.processMachineTimeId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.processMachineTimeId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.processMachineTimeId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.processMachineTimeId;
      this.toolfunction();
    },
    add() {
        // this.$refs.refProcessMachineTab.$refs.refproductionCentre.enableAddButton = true;
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.enableAddButton = true;
        
      this.editedItem.valid = false;
      this.editedItem.processMachineTimeId = -1;
         
    
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();

      deleteProcessMachineTime(this.editedItem)
        .then((response) => {
          if (response.data != undefined) {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
          this.initialize();
        })
        .catch((error) => {
          //window.getApp.$emit('APP_API_ERROR', error);
        });
    },
      selectNavision(value) {
      let selectNavItem = this.navItems.filter(
        n => n.itemId == this.editedItem.itemId
      );
      console.log(""+value);
      if (selectNavItem.length > 0) {
       
      
         this.itemName =selectNavItem[0].description + selectNavItem[0].internalRef;
        this.packUom = selectNavItem[0].packUom;
      
      }
    },
    save() {
      if (this.$refs.form.validate()) {
        //   alert('edited Item:-'+JSON.stringify(this.editedItem));
        this.loader = true;
        this.saveloader = true;
        let index = this.editedIndex;      
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;        
          updateProcessMachineTime(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                //   alert('Update Item:-'+JSON.stringify(response.data));
                Object.assign(this.gridItems[index], response.data);
               
                this.initialize();
                this.loader = false;
                this.saveloader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              }
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.processMachineTimeId = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserId = this.$store.state.auth.userId;         
          createProcessMachineTime(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                this.saveloader = false;
                let index = this.gridItems
                  .map((item) => item.processMachineTimeId)
                  .indexOf(response.data.processMachineTimeId);
                this.editedIndex = index;
              
                this.editedItem.processMachineTimeId = response.data.processMachineTimeId;   
        //           this.$refs.refProcessMachineTab.$refs.refproductionCentre.enableAddButton = false;
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.enableAddButton = false;      
        //  this.$refs.refProcessMachineTab.$refs.refproductionCentre.initialize();
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.initialize();    
        //   this.$refs.refProcessMachineTab.$refs.refmanHourInformation.isFPItemStrip =response.data.isFPItemStrip;
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.isFPItemBox =response.data.isFPItemBox;   
        //   this.$refs.refProcessMachineTab.$refs.refproductionCentre.processMachineTimeId = response.data.processMachineTimeId;
        // this.$refs.refProcessMachineTab.$refs.refmanHourInformation.processMachineTimeId = response.data.processMachineTimeId;
        //         //this.initialize();
        //          this.$refs.refProcessMachineTab.$refs.refproductionCentre.$refs.refOperationDetails.$refs.refMachineProcessListing.companyId = response.data.companyId;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
 
   

   
  },
};
</script>
<style scoped>
.layoutbg {
  border-style: solid;
  border-radius: 8px !important;
  border-color: rgb(216, 222, 247);
  border-width: 1px;
  padding: 8px;
}
.borderlayout {
  border-radius: 9px !important;
  border-color: gray;
  border-width: 2px;
  padding: 6px;
}
</style>