<template>
<div id="corePlayer">
    <div class="test-player-wrap">
      <p></p>
      <vue-core-video-player loop :src="source"  :title="title" autoplay></vue-core-video-player>
    </div>
</div>
</template>

<script>
const videoSource2 = 'https://portal.sunwardpharma.com/AppUpload/Videos/A3BCF353-9CBC-4F2F-88CD-0D437228ED1E.mp4'

import GlobalMessage from "@/constant";
export default {
  data () {
    return {
      source:videoSource2,
      title:"",
    }
  },
  mounted()
  {
         this.source= GlobalMessage.FILE_PATH_URL + this.$route.query.path;
  },
  methods: {
  },
}
</script>
<style scoped>

#corePlayer {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#corePlayer .vue-core-video-player-containers {
  margin: 60px auto;
}
#corePlayer .test-player-wrap {
  width: 820px;
  height: 405px;
  position: relative;
  margin: 80px auto;
}
</style>



