<template>
    <div>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
            <v-autocomplete label="Company" prepend-icon="invert_colors" v-model="searchItem.companyId" :items="companyItems" item-text="plantCode" item-value="plantID" chips color="blue" @change="onSelectCompany"></v-autocomplete>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
                <v-btn icon="" slot="activator" @click="initialize()">
                    <v-icon icon>
                        refresh
                    </v-icon>
                </v-btn>
                <span>Refresh</span>
            </v-tooltip>
            <v-tooltip bottom>
                <v-btn icon="" slot="activator" @click="onSyncItem()">
                    <v-icon icon>
                        mdi-sync
                    </v-icon>
                </v-btn>
                <span>Sync</span>
            </v-tooltip>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="customer.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
        </v-toolbar>
        <div class="layout row media-layout">
            <div class="media-content flex transparent">
                <app-section-loader :status="loader"></app-section-loader>
                <v-container fluid>
                    <v-layout row wrap>
                        <v-flex lg12 sm12 xs12>
                            <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="customerId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
                                <template slot="items" slot-scope="props">
                                    <td>{{ props.item.code }}</td>
                                    <td class="text-xs-left">{{ props.item.name }}</td>
                                    <td class="text-xs-left">{{ props.item.responsibilityCenter }}</td>
                                    <td class="text-xs-left">{{ props.item.locationCode }}</td>
                                    <td class="text-xs-left">{{ props.item.address }}</td>
                                    <td class="text-xs-left">{{ props.item.contact }}</td>
                                    <td class="text-xs-left">{{ props.item.salespersonCode }}</td>
                                    <td class="text-xs-left">{{ props.item.paymentTermsCode }}</td>
                                    <td class="text-xs-left">{{ props.item.balanceLcy }}</td>
                                    <td class="text-xs-left">{{ props.item.salesLcy }}</td>
                                </template>
                                <template slot="no-data">
                                    <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
                                </template>
                            </v-data-table>
                        </v-flex>
                    </v-layout>
                </v-container>
            </div>
        </div>
        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure want to Sync the data?" message="If you Sync the data it will take sometime to update the database" @onConfirm="syncNav"></delete-confirmation-dialog>

        <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
            {{ snackbarMessage }}
        </v-snackbar>

    </div>
</template>
<script>
    import { getNavCustomersByCountry, getCustomers } from '@/api/nav';
    import GlobalMessage from '@/constant'
    import moment from 'moment'
    import { getPlants } from "@/api/plant";
    export default {
        components: {

        },
        data: () => ({
            loader: false,
            search: '',
            snackbar: false,
            snackbarMessage: '',
            timeout: 2000,
            y: 'top',
            show: true,
            headers: [
                { text: 'Code', value: 'code', align: 'left' },
                { text: 'Name', value: 'name', align: 'left' },
                { text: 'Responsibility Center', value: 'responsibilityCenter', align: 'left' },
                { text: 'Location Code', value: 'locationCode', align: 'left' },
                { text: 'Address', value: 'address', align: 'left' },
                { text: 'Contact', value: 'contact', align: 'left' },
                { text: 'SalesPerson Code', value: 'salespersonCode', align: 'left' },
                { text: 'PaymentTerms Code', value: 'paymentTermsCode', align: 'left' },
                { text: 'BalanceLcy', value: 'balanceLcy', align: 'left' },
                { text: 'SalesLcy', value: 'salesLcy', align: 'left' },
            ],
            gridItems: [],
            json_fields: {
                'Code': 'code',
                'Name': 'name',
                'Responsibility Center': 'responsibilityCenter',
                'Location Code': 'locationCode',
                'Address': 'address',
                'Contact': 'contact',
                'SalesPerson Code': 'salespersonCode',
                'PaymentTerms Code': 'paymentTermsCode',
                'BalanceLcy': 'balanceLcy',
                'SalesLcy': 'salesLcy',
            },
            editedIndex: -1,
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            companyItems: [],
            searchItem: { companyId: null, userId: -1 }
        }),

        computed: {
        },


        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                this.loader = true;
                getNavCustomersByCountry(this.searchItem)
                    .then(response => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });

                this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
                getPlants("")
                    .then(response => {
                        this.companyItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onSyncItem () {
                if (this.searchItem.companyId != null) {
                    this.$refs.deleteConfirmationDialog.openDialog();
                }
                else {
                    window.getApp.$emit("APP_API_ERROR", "You Must Select Company");
                }

            },
            syncNav () {
                this.$refs.deleteConfirmationDialog.close();
                this.loader = true;
                getCustomers(this.searchItem)
                    .then(response => {
                        //this.gridItems = response.data;
                        this.loader = false;
                        window.getApp.$emit("APP_API_SUCCESS", "Customer Sync Successfully");
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },
            onSelectCompany(){
                this.initialize();
            }
        }
    };
</script>
<style>
</style>

