<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="FP Equivalent Navision"
        type="csv"
        name="FPEquivalentNavision.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Production Batch Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      label="Customer Product Name"
                      prepend-icon="list"
                      v-model="editedItem.fpProductGeneralInfoID"
                      :items="productInfoItems"
                      item-text="fpProductName"
                      item-value="finishProductGeneralInfoID"
                      clearable
                      chips
                      @change="selectProduct"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-radio-group
                      row
                      v-model="isthisactivesalesPack"
                      :mandatory="false"
                      label="Is this active sales Pack?"
                      prepend-icon="format_paint"
                    >
                      <v-radio color="primary" label="Yes" value="true"></v-radio>
                      <v-radio color="primary" label="No" value="false"></v-radio>
                    </v-radio-group>
                  </v-flex>

                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="manufacturingSite"
                      label="Manufacturing Site"
                      prepend-icon="description"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="productowner"
                      label="Product owner"
                      prepend-icon="description"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="productRegistrationHolder"
                      label="Product Registration Holder"
                      prepend-icon="description"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="registerCountry"
                      label="Register Country"
                      prepend-icon="description"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-autocomplete
                      label="Registered Pack size"
                      prepend-icon="list"
                      v-model="editedItem.finishProductGeneralInforLineIDs"
                      :items="generalinfoLineItems"
                      item-text="fpProductInfoLines"
                      item-value="finishProductGeneralInfoLineID"
                      clearable
                      multiple
                      chips
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip
                          :selected="data.selected"
                          close
                          class="chip--select-multi"
                          @input="removeGeneralInfoLine(data.item)"
                        >{{ data.item.fpProductInfoLines }}</v-chip>
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content v-text="data.item"></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title v-html="data.item.fpProductInfoLines"></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      chips
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <product-line ref="refFPProductlines"></product-line>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="fpProductID:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.productName }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
import moment from "moment";
import { getPlants } from "@/api/nav";
import {
  getFinishProductGeneralInfos,
  getFinishProductGeneralInfoLines
} from "@/api/productGeneralinfo";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import ProductLine from "@/pages/productionplanning/salesorder/FPProductNavision/FPEquivalentNavisionLine.vue";
import {
  getFPProducts,
  getFPProduct,
  createFPProduct,
  updateFPProduct,
  deleteFPProduct
} from "@/api/fpProduct";
export default {
  components: {
    ProductLine
  },
  data: () => ({
    dialog: false,
    search: "",
    loader: false,
    editedIndex: -1,
    startdatemenu: false,
    companyItems: [],
    searchProductbatch: "",
       manufacturingSite: "",
      productowner: "",
      registerCountry: "",
      productRegistrationHolder: "",
    isthisactivesalesPack: "true",
    packingUnitsItems: [],
    gridItems: [],
    generalinfoLineItems: [],
    productInfoItems: [],
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 }
    ],
    editedItem: {
      valid: false,
      fpProductID: -1,
      fpProductGeneralInfoID: null,
      finishProductGeneralInforLineIDs: [],
      statusCodeID: 1,
      addedByUserID: "",    
       isActiveSalesPack: false,    
      addedDate: new Date(),
      modifiedByUserID: "",
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      fpProductID: -1,
      fpProductGeneralInfoID: null,
      finishProductGeneralInforLineIDs: [],   
      statusCodeID: 1,
      isActiveSalesPack: false,
      addedByUserID: "",
      addedDate: new Date(),
      modifiedByUserID: "",
      modifiedDate: new Date()
    },
    headers: [
      { text: "Product Name", value: "productName", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%"
      }
    ],
    json_fields: {
      "Product Name": "productName",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate"
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add FP Equivalent Navision"
        : "Edit FP Equivalent Navision";
    }
  },
  methods: {
    initialize() {
      this.loader = true;
      getFPProducts("")
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getFinishProductGeneralInfos("")
        .then(response => {
          this.productInfoItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    save() {
       if(this.isthisactivesalesPack == 'true')
            {
            this.editedItem.isActiveSalesPack = true;
            }
             else if(this.isthisactivesalesPack == 'false')
            {
               this.editedItem.isActiveSalesPack = false;
            }
      this.loader = true;
      let index = this.editedIndex;
      if (this.editedIndex > -1) {
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date();

        updateFPProduct(this.editedItem)
          .then(response => {
            Object.assign(this.gridItems[index], response.data);
            this.loader = false;
            if(this.isthisactivesalesPack == 'true')
            {
            this.$refs.refFPProductlines.enableAddButton = false;
            }
            else if(this.isthisactivesalesPack == 'false')
            {
               this.$refs.refFPProductlines.enableAddButton = true;
            }
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.initialize();
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date();
        console.log('editedItem' +JSON.stringify(this.editedItem));
        createFPProduct(this.editedItem)
          .then(response => {
            this.gridItems.push(response.data);
            this.loader = false;
            this.editedItem.fpProductID = response.data.fpProductID;
            let index = this.gridItems
              .map(item => item.fpProductID)
              .indexOf(response.data.fpProductID);
            this.editedIndex = index;
            if(this.isthisactivesalesPack == 'true')
            {
            this.$refs.refFPProductlines.enableAddButton = false;
            }
            else if(this.isthisactivesalesPack == 'false')
            {
               this.$refs.refFPProductlines.enableAddButton = true;
            }
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            this.initialize();
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    add() {
      this.$refs.refFPProductlines.enableAddButton = true;
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
      this.$refs.refFPProductlines.gridItems = [];
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    addFormDialog() {
      this.add();
    },
    selectProduct() {
      if (this.editedItem.fpProductGeneralInfoID != null) {
        let productGeneralinfo = this.productInfoItems.filter(
          f =>
            f.finishProductGeneralInfoID ==
            this.editedItem.fpProductGeneralInfoID
        );
        if (productGeneralinfo.length > 0) {         
          this.manufacturingSite =
            productGeneralinfo[0].manufacturingSite;
          this.productowner = productGeneralinfo[0].productOwner;
          this.registerCountry =
            productGeneralinfo[0].registerCountryProductName;
          this.productRegistrationHolder =
            productGeneralinfo[0].productRegistrationHolderName;
        }
        this.getGeneralinfoLines();
       
      }
    },
    getGeneralinfoLines()
    {
       getFinishProductGeneralInfoLines(this.editedItem.fpProductGeneralInfoID)
          .then(response => {
            this.generalinfoLineItems = response.data;
            console.log("response data" + JSON.stringify(response.data));
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);     
      if (item.fpProductGeneralInfoID != null) {
        let productGeneralinfo = this.productInfoItems.filter(
          f => f.finishProductGeneralInfoID == item.fpProductGeneralInfoID
        );
        if (productGeneralinfo.length > 0) {
          this.manufacturingSite =
            productGeneralinfo[0].manufacturingSite;
          this.productowner = productGeneralinfo[0].productOwner;
          this.registerCountry =
            productGeneralinfo[0].registerCountryProductName;
          this.productRegistrationHolder =
            productGeneralinfo[0].productRegistrationHolderName;
        }
      }
      setTimeout(() => {
        this.$refs.refFPProductlines.fpProductID = this.editedItem.fpProductID;
         if(item.isActiveSalesPack == true)
            {
              this.isthisactivesalesPack ='true';
            this.$refs.refFPProductlines.enableAddButton = false;
            }
            else if(item.isActiveSalesPack == false)
            {
              this.isthisactivesalesPack ='false';
               this.$refs.refFPProductlines.enableAddButton = true;
            }
            if(item.isActiveSalesPack == null){
               this.isthisactivesalesPack ='true';
            }
        this.editedItem.valid = false;

        /* getFpproductLines(this.editedItem.fpProductID)
          .then(response => {
            this.$refs.refFPProductlines.gridItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          }); */
          this.getGeneralinfoLines();
        this.dialog = true;
      }, 500);
    },
    removeGeneralInfoLine(item) {
      const index = this.editedItem.finishProductGeneralInforLineIDs.indexOf(
        item.finishProductGeneralInfoLineID
      );
      if (index >= 0)
        this.editedItem.finishProductGeneralInforLineIDs.splice(index, 1);
    },
    close() {
      this.dialog = false;
      this.initialize();
      this.$refs.refFPProductlines.gridItems = [];
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.fpProductID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteFPProduct(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.fpProductID;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.fpProductID;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.fpProductID;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.fpProductID;
      this.toolfunction();
    },
    toolfunction() {
      getFPProduct(this.searchItem)
        .then(response => {
          if (response.data.fpProductID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.fpProductID)
              .indexOf(response.data.fpProductID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    }
  }
};
</script>

