<template>
    <div>
        <div ref="document">
            <v-layout wrap style="justify-content: center;background: gainsboro !important; padding: 10px">
                <span class="headline">1.General </span>
            </v-layout>
            <table id="wikiTableIds">
                <tr>
                    <td width="30%">Title</td>
                    <td width="70%">{{gridItems.title}}</td>
                </tr>
                <tr>
                    <td width="30%">Creator</td>
                    <td width="70%">{{gridItems.entryBy}}</td>
                </tr>
                <tr>
                    <td width="30%">Profile No</td>
                    <td width="70%">{{gridItems.profileReferenceNo}}</td>
                </tr>
            </table>
            <v-layout wrap style="background: gainsboro !important; padding: 10px">
                <span class="subheading">Owner Information </span>
            </v-layout>
            <table id="wikiTableIds">
                <tr>
                    <td width="30%">Wiki Type</td>
                    <td width="70%">{{gridItems.wikiType}}</td>
                </tr>
                <tr>
                    <td width="30%">Wiki Owner Type</td>
                    <td width="70%">{{gridItems.wikiOwnerTypeName}}</td>
                </tr>
                <tr>
                    <td width="30%">Wiki Owner</td>
                    <td width="70%">{{gridItems.wikiOwnerName}}</td>
                </tr>
                <tr>
                    <td width="30%">Wiki Owner</td>
                    <td width="70%">{{gridItems.wikiOwner}}</td>
                </tr>
            </table>
            <v-layout wrap style="background: gainsboro !important; padding: 10px">
                <span class="subheading">Document Information </span>
            </v-layout>
            <table id="wikiTableIds">
                <tr>
                    <td width="30%">Category</td>
                    <td width="70%">{{gridItems.wikiCategory}}</td>
                </tr>
                <tr>
                    <td width="30%">Topic</td>
                    <td width="70%">{{gridItems.wikiTopic}}</td>
                </tr>
                <tr>
                    <td width="30%">Translation information</td>
                    <td width="70%">{{translationInfo(gridItems)}}</td>
                </tr>
                <tr>
                    <td width="30%">Content information</td>
                    <td width="70%">{{gridItems.contentInfo}}</td>
                </tr>
            </table>
            </v-data-table>
            <v-layout wrap style="background: gainsboro !important; padding: 10px">
                <span class="subheading">Document Versioning information </span>
            </v-layout>
            <table id="wikiTableIds">
                <tr>
                    <td width="30%">Release Version</td>
                    <td width="70%">{{gridItems.versionNo}}</td>
                </tr>
                <tr>
                    <td width="30%">Effective Date</td>
                    <td width="70%">{{gridItems.effectiveDate|formatDate}}</td>
                </tr>
                <tr>
                    <td width="30%">Next Review Date/Expiry Date</td>
                    <td width="70%">{{gridItems.newReviewDate|formatDate}}</td>
                </tr>
                <tr>
                    <td width="30%">Estimation Preparation Time/Month</td>
                    <td width="70%">{{gridItems.estimationPreparationTimeMonth}}</td>
                </tr>
                <tr>
                    <td width="30%">Remarks</td>
                    <td width="70%">{{gridItems.remarks}}</td>
                </tr>
                <tr>
                    <td width="30%">Status</td>
                    <td width="70%">{{gridItems.statusCode}}</td>
                </tr>
            </table>

            <v-layout wrap style="justify-content: center;background: gainsboro !important; padding: 10px">
                <span class="headline">2.Content Information </span>
            </v-layout>
            <table id="wikiTableEditorsIds">
                <tr>
                    <td style="font-weight:bold;">Objective</td>
                </tr>
                <tr>
                    <td v-html="gridItems.objective"></td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Scope</td>
                </tr>
                <tr>
                    <td v-html="gridItems.scopeDesc"></td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Pre-Requisition</td>
                </tr>
                <tr>
                    <td v-html="gridItems.preRequisition"></td>
                </tr>
                <tr>
                    <td style="font-weight:bold;">Content</td>
                </tr>
                <tr>
                    <td v-html="gridItems.content"></td>
                </tr>
            </table>
            <v-layout wrap style="background: gainsboro !important; padding: 10px">
                <span class="subheading">Attached file information </span>
            </v-layout>
            <table id="wikiTableIds">
                <tr>
                    <th v-for="item in docHeaders" :key="item.value">{{item.text}}</th>
                </tr>
                <tr v-for="item in documentItems" :key="item.documentId">
                    <td>{{ item.fileName }}</td>
                    <td>{{ item.fileProfileTypeName }}</td>
                    <td>{{ item.contentType }}</td>
                    <td>{{ item.fileSize }}</td>
                    <td>{{ item.addedByUser }}</td>
                    <td>{{ item.uploadDate | formatDateTime }}</td>
                </tr>
            </table>

           
            <div v-for="(item,keys) in gridItems.applicationWikiLineModels" :key="item.applicationWikiLineId">
                 <v-layout wrap style="justify-content: center; background: gainsboro !important; padding: 10px">
                <span class="headline">3.Responsibility matrix </span>
            </v-layout>
                <table id="wikiTableIds">
                    <tr>
                        <td width="30%">Duty</td>
                        <td width="70%">{{item.dutyName}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Allow Document Access</td>
                        <td width="70%">{{item.isAllowDocAccess == true ? "Yes" : "No"}}</td>
                    </tr>
                    <tr>
                        <td width="100%" colspan="2" style="font-weight:bold;">Responsibility</td>
                    </tr>
                    <tr>
                        <td width="100%" colspan="2" v-html="item.responsibility"></td>
                    </tr>
                    <tr>
                        <td width="30%">Page Link</td>
                        <td width="70%">{{item.pageLinkName}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Function Link</td>
                        <td width="70%">{{item.functionLinkName}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Status</td>
                        <td width="70%">{{item.statusCode}}</td>
                    </tr>
                </table>
                <v-layout wrap style="background: gainsboro !important; padding: 10px">
                    <span class="subheading">Notification Advice </span>
                </v-layout>
                <table id="wikiTableIds">
                    <tr>
                        <td width="30%">Notification Advice</td>
                        <td width="70%">{{item.notificationAdviceFlag}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Start Date</td>
                        <td width="70%">{{item.dueDate|formatDate}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Notification Advice Entry Type</td>
                        <td width="70%">{{item.notificationAdviceType}}</td>
                    </tr>
                    <tr>
                        <td width="30%">End Date</td>
                        <td width="70%">{{item.notifyEndDate|formatDate}}</td>
                    </tr>
                </table>
                <v-layout wrap style="background: gainsboro !important; padding: 10px">
                    <span class="subheading">Recurrence </span>
                </v-layout>
                <table id="wikiTableIds">
                    <tr>
                        <td width="30%">Recurrence Date</td>
                        <td width="70%">{{item.applicationWikiRecurrences[0].startDate|formatDate}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Repeat</td>
                        <td width="70%">{{repeatBy(item.applicationWikiRecurrences[0])}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Ends Type</td>
                        <td width="70%">{{item.applicationWikiRecurrences[0].occurenceOptionName}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Ends Date</td>
                        <td width="70%">{{item.applicationWikiRecurrences[0].endDate|formatDate}}</td>
                    </tr>
                </table>
                <v-layout wrap style="justify-content: center;background: gainsboro !important; padding: 10px" v-if="item.applicationWikiLineDutys.length>0">
                    <span class="headline">3.{{keys+1}}Responsibility,Duty And Alternative Information</span>
                </v-layout>
                <table id="wikiTableIds" v-for="(wikiLineDuty, j) in item.applicationWikiLineDutys" :key="j">
                    <tr>
                        <td width="30%">Duty No</td>
                        <td width="70%">{{wikiLineDuty.dutyNoName}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Type</td>
                        <td width="70%">{{wikiLineDuty.type}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Company</td>
                        <td width="70%">{{wikiLineDuty.plantCompanyName}}</td>
                    </tr>
                    <tr>
                        <td width="30%">Status</td>
                        <td width="70%">{{wikiLineDuty.statusCode}}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table id="wikiTableIds">
                                <tr>
                                    <th v-for="wikiResponsibilityHeadersItem in wikiResponsibilityHeaders" :key="wikiResponsibilityHeadersItem.value">{{wikiResponsibilityHeadersItem.text}}</th>
                                </tr>
                                <tr v-for="wikiLineDutys in wikiLineDuty.wikiResponsibilityModels" :key="wikiLineDutys.wikiResponsibilityID">
                                    <td>{{ wikiLineDutys.userGroupName }}</td>
                                    <td>{{ wikiLineDutys.employeeName }}</td>
                                    <td>{{ wikiLineDutys.departmentName }}</td>
                                    <td>{{ wikiLineDutys.designationName }}</td>
                                    <td>{{ wikiLineDutys.headCount }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--   <button @click="exportToPDF">Export to PDF</button> -->
    </div>
</template>

<script>
import html2pdf from "html2pdf.js";
import { getApplicationWikiPdf } from "@/api/appwiki";
export default {
  name: "app",
  data: () => ({
    loader: false,
    gridItems: [],
    docHeaders: [
      { text: "File Name", value: "fileName", sortable: false },
      {
        text: "File Profile Type",
        value: "fileProfileTypeName",
        sortable: false,
      },
      { text: "Type", value: "contentType", sortable: false },
      { text: "Size(KB)", value: "fileSize", sortable: false },
      { text: "Expiry Date", value: "expiryDate", sortable: false },
      { text: "Added Date", value: "uploadDate", sortable: false },
    ],
    wikiResponsibilityHeaders: [
      { text: "UserGroup", value: "userGroupName", sortable: false },
      { text: "Employee", value: "employeeName", sortable: false },
      { text: "Department", value: "departmentName", sortable: false },
      { text: "Designation", value: "designationName", sortable: false },
      { text: "Designation Number", value: "headCount", sortable: false },
    ],
    documentItems: [],
  }),
  created() {
    //this.initialize();
  },
  methods: {
    repeatBy(items) {
      return (
        "Repeat every " +
        items.repeatNos +
        " Number " +
        items.typeName +
        " Type"
      );
    },
    translationInfo(item) {
      let isNoTranslationItems = [];
      if (item.isMalay == true) {
        isNoTranslationItems.push("Malay");
      }
      if (item.isMalay == true) {
        isNoTranslationItems.push("Chinese");
      }
      if (item.isNoTranslation == true) {
        isNoTranslationItems.push("No Translation");
      }
      return isNoTranslationItems.join();
    },
    initialize(id) {
      this.loader = true;
      getApplicationWikiPdf(this.$store.state.auth.userId, id)
        .then((response) => {
          this.gridItems = response.data;
          this.documentItems = this.gridItems.documentsModels;
          this.loader = false;
           this.exportToPDF();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    exportToPDF() {
      html2pdf()
        .from(this.$refs.document)
        .set({
          filename: "Wiki Working.pdf",
          margin: 0.5,
          image: { type: "jpeg", quality: 0.98 },
          html2canvas: {
            useCORS: true,
            letterRendering: true,
          },
          /* pagebreak: {
                        mode:
                            {
                                after: ".after",
                                avoid: ".avoid",
                                before: ".before",
                                mode: ""
                            }
                    }, */
          // pagebreak: {mode: 'css', after: '.avoidThisRow'},
          pagebreak: { avoid: "tr" },
          //pagebreak: { mode: 'legacy' },
          // pagebreak: { avoid: 'avoid-all' },
          jsPDF: {
            orientation: "portrait",
            unit: "in",
            format: "letter",
            compressPDF: true,
          },
        })
        .save();
    },
  },
};
</script>
<style scoped>
#wikiTableIds {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
}
#wikiTableEditorsIds td {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 9px;
}
#wikiTableIds td,
#wikiTableIds th {
  border: 1px solid #ddd;
  padding: 8px;
}

/*  #wikiTableIds tr:nth-child(even) {
                                              background-color: #f2f2f2;
                                            }

                                            #wikiTableIds tr:hover {
                                              background-color: #ddd;
                                            } */

#wikiTableIds th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}
</style>
