<template>
    <div>
        <v-form v-model="editedItem.valid" ref="form" lazy-validation>
            <v-layout row wrap>
                <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.methodCode" prepend-icon="select_all" label="Method Code" readonly></v-text-field>
                </v-flex>
                <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat placeholder="Type Of Prod. Order" prepend-icon="assistant" :items="typeOfProdOrderItems" v-model="editedItem.typeOfProdOrderId" label="Type Of Prod. Order" color="blue" item-text="value" item-value="applicationMasterDetailId">
                    </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm4>
                    <v-autocomplete :loading="loader" chips flat placeholder="Selling Status" prepend-icon="assistant" :items="sellingStatusItems" v-model="editedItem.sellingStatusId" label="Selling Status" color="blue" item-text="value" item-value="applicationMasterDetailId">
                    </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-layout wrap style="background: gainsboro !important;padding: 10px;">
                        <span class="headline">Approve Receipe Information</span>
                    </v-layout>
                </v-flex>
                <v-flex xs12 sm12>
                    <v-toolbar flat color="white">
                        <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
                        <v-spacer></v-spacer>

                        <v-btn icon="" @click="refershGrid()">
                            <v-icon icon>
                                refresh
                            </v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-data-table :headers="headers" :search="search" :items="approveReceipeItems" :pagination.sync="pagination" :rows-per-page-items="rowsPerPageItems" class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <tr>
                                <td class="text-xs-left">{{ props.item.batchSize }}</td>
                                <td class="text-xs-left">{{ props.item.recipeNo }}</td>
                                <td class="text-xs-left"> {{ props.item.remark }}</td>
                                <td class="text-xs-left">{{ props.item.machineCenterCode }}</td>
                            </tr>
                        </template>
                        <template slot="no-data">
                            <v-btn color="primary" outline>
                                Record not exist.Refresh again in while time.</v-btn>
                        </template>
                    </v-data-table>
                </v-flex>
               <!--  <v-flex xs12 sm12>
                    <item-information ref="refitemInformation"></item-information>
                </v-flex> -->
                <v-flex xs12 sm12>
                    <order-requirement-line ref="refOrderRequirementLine"></order-requirement-line>
                </v-flex>
            </v-layout>
        </v-form>
        <app-section-loader :status="loader"></app-section-loader>
    </div>
</template>
<script>
    import {
        createSimulationForForecastPlanning,
        updateSimulationForForecastPlanning,
        deleteSimulationForForecastPlanning,
        getNAVRecipes,
    } from "@/api/SimulationForForecastPlanning";
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import ItemInformation from "@/pages/productionplanning/groupPlanningReport/itemInformation.vue";
    import OrderRequirementLine from "@/pages/productionplanning/groupPlanningReport/OrderRequirementLine.vue";
    export default {
        components: {
            ItemInformation,
            OrderRequirementLine
        },
        data: () => ({
            loader: false,
            companyId: null,
            approveReceipeItems: [],
            search: "",
            editedItem: {
                valid: false,
                productionSimulationGroupingId: -1,
                productionSimulationId: null,
                prodOrderNo: "",
                itemId: null,
                itemNo: "",
                description: "",
                description2: "",
                packSize: "",
                quantity: 0,
                uom: "",
                perQuantity: 0,
                perQtyUom: "",
                batchNo: "",
                startingDate: null,
                companyId: null,
                plannedQty: null,
                outputQty: null,
                isOutput: null,
                processDate: null,
                rePlanRefNo: "",
                batchSize: "",
                isBmrticket: null,
                portalStatusNo: "",
                profileID: 10,
                typeOfProdOrderId: null,
                sellingStatusId: null,
                shelfLife: "",
                total: "",
                convertToUom: "",
                completionDate: null,
                statusCodeID: 1,
                addedByUserID: null,
                addedDate: new Date(),
                modifiedByUserID: null,
                modifiedDate: new Date(),
                approveReceipeItems: [],
                methodCodeId: null,
                dispense: "",
            },
            batchItems: [],
            editedIndex: -1,
            itemDesc: "",
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            sellingStatusItems: [],
            typeOfProdOrderItems: [],
            gridItems: [],
            selectedRecord: [],
            headers: [
                {
                    text: "Batch Size",
                    value: "batchSize",
                    align: "left",
                },
                {
                    text: "Receipe No",
                    value: "recipeNo",
                    align: "left",
                },
                {
                    text: "Remarks",
                    value: "remarks",
                    align: "left",
                },
                {
                    text: "Machine",
                    value: "machine",
                    align: "left",
                },
            ],
            selectedItem: null,
            methodCodeId: null,
            productItems: [],
        }),
        beforeDestroy () {
            window.getApp.$off("LOAD_GRID_ORDER_REQUIREMENT_GROUPIN_LINE");
        },
        created () {
            window.getApp.$on("LOAD_GRID_ORDER_REQUIREMENT_GROUPIN_LINE", (productionSimulationGroupingId) => {
                this.editedItem.productionSimulationGroupingId = productionSimulationGroupingId;
                this.loadLinesOrderLine(false);
            });
        },
        methods: {
            initialize () {
               /*  this.$refs.refitemInformation.editedItem = this.editedItem;
                this.$refs.refitemInformation.initialize(); */
                this.loadLinesOrderLine(this.editedItem.productionSimulationGroupingId > 0 ? false : true);
            },

            loadLinesOrderLine (status) {
                setTimeout(() => {
                    this.$refs.refOrderRequirementLine.productionSimulationGroupingId = this.editedItem.productionSimulationGroupingId;
                    this.$refs.refOrderRequirementLine.enableAddButton = status;
                    this.$refs.refOrderRequirementLine.ticketBatchSizeItemsAll = [];
                    this.$refs.refOrderRequirementLine.methodCodeId = this.selectedRecord.methodCodeId;
                    if (this.productItems.length > 0) {
                        this.$refs.refOrderRequirementLine.ticketBatchSizeItemsAll = this.productItems;
                        let lists = this.productItems.filter(o => o.methodCodeId == this.selectedRecord.methodCodeId);
                        console.log(lists);
                        if (lists.length > 0) {
                            this.$refs.refOrderRequirementLine.productLineItems = lists;
                            this.$refs.refOrderRequirementLine.uomItems = lists.filter(x => !!x.uom);
                            this.$refs.refOrderRequirementLine.productLineSplitItems = lists;
                        }
                    }
                    this.$refs.refOrderRequirementLine.initialize();
                }, 500);
            },
            refershGrid () {
                this.loadDropDownList(this.methodCodeId);
            },
            loadDropDownList (methodCodeId) {
                this.methodCodeId = methodCodeId;
                this.editedItem.methodCode = this.itemDesc;
                getApplicationMasterDetailByType(293)
                    .then((response) => {
                        this.typeOfProdOrderItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(294)
                    .then((response) => {
                        this.sellingStatusItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                this.loader = true;
                getNAVRecipes(methodCodeId)
                    .then((response) => {
                        this.loader = false;
                        this.approveReceipeItems = response.data;
                        if (this.approveReceipeItems.length > 0) {
                            let result = this.approveReceipeItems.map(a => a.batchSize);
                            var filteredArray = result.filter(function (item, pos) {
                                return result.indexOf(item) == pos;
                            });
                            if (filteredArray.length > 0) {
                                filteredArray.forEach(h => {
                                    var obj = { "batchSize": h };
                                    this.batchItems.push(obj);
                                });
                            }
                            //this.$refs.refitemInformation.batchItems = this.batchItems;
                        }
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            loadLines (status) {
               /*  this.$refs.refitemInformation.enableAddButton = status;
                this.$refs.refitemInformation.productionSimulationGroupingId = this.editedItem.productionSimulationGroupingId;
                this.$refs.refitemInformation.typeOfProdOrderId = this.editedItem.typeOfProdOrderId;
                this.$refs.refitemInformation.sellingStatusId = this.editedItem.sellingStatusId;
                this.$refs.refitemInformation.dispense = this.editedItem.dispense;
                this.$refs.refitemInformation.methodCodeId = this.selectedRecord.methodCodeId;
                this.$refs.refitemInformation.editedItem = this.editedItem;
                this.$refs.refitemInformation.initialize(); */
                this.loadLinesOrderLine(status);

            },

            save () {
                this.editedItem.methodCodeId=this.selectedRecord.methodCodeId;
                 this.editedItem.statusCodeID=2412;
                if (this.$refs.form.validate()) {
                    this.loadLines(false);
                    this.loader = true;
                     let index = this.editedIndex;
                    if (this.editedIndex > -1) {
                        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date();
                        updateSimulationForForecastPlanning(this.editedItem)
                            .then((response) => {
                                this.loader = false;
                                this.editedItem = response.data;
                                this.loadLinesOrderLine(false);
                            })
                            .catch((error) => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    } else {
                        this.editedItem.addedByUserID = this.$store.state.auth.userId;
                        this.editedItem.addedDate = new Date();
                        if(this.editedItem.productionSimulationGroupingId<0)
                        {
                             this.editedItem.statusCodeID=2411;
                        }
                        createSimulationForForecastPlanning(this.editedItem)
                            .then((response2) => {
                                this.loader = false;
                                this.editedItem = response2.data;
                                this.loadLinesOrderLine(false);
                            })
                            .catch((error) => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    } 
                }
            },
        }
    }
</script>

