<template>
  <div ref="ScrollTopsection" style="overflow: auto; height: calc(90vh - 40px)">
    <app-section-loader :status="loader"></app-section-loader>
    <v-card>
      <!-- <v-card-title>
        <span class="headline">{{ this.itemDesc }}</span>
      </v-card-title> -->

      <v-card-text>
        <ejs-grid
          ref="gridreport"
          :dataSource="data"
          :allowPaging="false"
          :allowResizing="true"
          :allowExcelExport="true"
          :allowFiltering="true"
          :toolbar="toolbar"
          :toolbarClick="toolbarClick"
          :filterSettings="filterSettings"
          :allowGrouping="true"
          :groupSettings="groupSettings"
          :editSettings="editSettings"
          :dataBound="dataBound"
          height="calc(100vh - 230px - 90px)"
          :actionBegin="actionBegin"
          :actionComplete="actionComplete"
          @cellSelected="rowSelected"
          :selectionSettings="selectionOptions"
          :headerCellInfo="headerCellInfo"
          :queryCellInfo="customiseCell"
          width="calc(100% - 10px)"
        >
          <e-columns>
            <e-column
              field="methodCode"
              headerText="MethodCode"
              clipMode="EllipsisWithTooltip"
              width="300"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
              :visible="false"
            ></e-column>
            <e-column
              field="itemgrouping"
              headerText=""
              clipMode="EllipsisWithTooltip"
              width="300"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
              :visible="false"
            ></e-column>

            <e-column
              field="itemNo"
              headerText="Generic Code"
              clipMode="EllipsisWithTooltip"
              width="300"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              field="packSize"
              headerText="Pack Size"
              clipMode="EllipsisWithTooltip"
              width="100"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              field="acSum"
              headerText="Total AC"
              clipMode="EllipsisWithTooltip"
              width="100"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              field="packSize2"
              headerText="Batch Size"
              clipMode="EllipsisWithTooltip"
              width="100"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              field="addhocCust"
              headerText="Customer"
              clipMode="EllipsisWithTooltip"
              width="120"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              clipMode="EllipsisWithTooltip"
              field="wipQty"
              headerText="WIP Stock"
              width="120"
              format="N2"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              clipMode="EllipsisWithTooltip"
              field="swkivQty"
              headerText="KIV Stock"
              width="120"
              format="N2"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              field="stockBalance"
              clipMode="EllipsisWithTooltip"
              headerText="Total Stock Balance"
              width="120"
              textAlign="Left"
              minWidth="10"
              format="N2"
              :allowEditing="false"
            ></e-column>
            <e-column
              field="stockHoldingBalance"
              clipMode="EllipsisWithTooltip"
              headerText="Opening"
              width="120"
              format="N2"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>

            <e-column
              :headerText="month1"
              clipMode="EllipsisWithTooltip"
              :columns="projectedMonth1"
              textAlign="Center"
              format="N2"
            ></e-column>
            <!-- <e-column
              headerText="Action"
              :allowEditing="false"
              :template="actionMonthTemplate"
              width="80"
            ></e-column> -->
          </e-columns>
        </ejs-grid>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary darken-1"
          outline
          :loading="loader"
          @click="prodSearchFilter"
          >Save Version</v-btn
        >
      </v-card-actions></v-card
    >

    <v-dialog
      v-model="itemDialog"
      transition="dialog-bottom-transition"
      width="450px"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="simulationLayoutActionclose"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <span>{{ itemDesc }}</span>
          <v-spacer></v-spacer>

          <!-- <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click="simulationLayoutActionRefersh()"
            >
              <v-icon icon>refresh</v-icon>
            </v-btn>
            <span>Refresh</span>
          </v-tooltip> -->
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="simulationLayoutActionclose"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          Ticket No : {{ ticketNos }}
          <br />
          Quantity : {{ ticketQty }}
          <br />
          UOM : {{ ticketuom }}
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="itemAHWorkingDialog"
      transition="dialog-bottom-transition"
      width="450px"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="ahWorkingClose">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <span>{{ itemDesc }}</span>
          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="ahWorkingClose">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          <!-- <v-flex xs6 sm6>
            <v-autocomplete
              label="Report Month"
              prepend-icon="notes"
              v-model="reportMonthId"
              :items="reportMonthItems"
              item-text="value"
              item-value="value"
              chips
            >
            </v-autocomplete>
          </v-flex> -->
          <v-flex xs6 sm6>
            <v-text-field
              v-model="pdtMonth"
              @change="monthChange"
              label="Pdt Month"
              prepend-icon="select_all"
            >
            </v-text-field>
          </v-flex>
          <v-flex xs6 sm6>
            <v-text-field
              v-model="pdtQty"
              @change="qtyChange"
              label="Pdt Qty"
              prepend-icon="select_all"
            >
            </v-text-field>
          </v-flex>
          <v-flex xs6 sm6>
            <v-text-field
              v-model="adjnoOfTicket"
              @change="qtyChange"
              label="No of Tickets"
              prepend-icon="select_all"
            >
            </v-text-field>
          </v-flex>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            :loading="loader"
            color="primary darken-1"
            outline
            @click.native="submitGroupPlanningTicket"
            >save</v-btn
          >
          <v-btn color="primary darken-1" outline @click.native="ahWorkingClose"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="syncVersionDialog"
      transition="dialog-bottom-transition"
      width="1500px"
    >
      <v-card>
        <v-toolbar dark color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="closeSyncVersion">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>

          <v-spacer></v-spacer>

          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="closeSyncVersion">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <div class="task-sub--scroll">
          <group-planning-report-grid
            ref="refGroupPlanningReportGrid"
          ></group-planning-report-grid>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {
  getSimulationAddhocRefreshV3,
  getSimulationForecastPlanning,
  saveGroupingTicketPlanning,
} from "@/api/nav";
import Vue from "vue";

import moment from "moment";
import { DropDownListPlugin } from "@syncfusion/ej2-vue-dropdowns";
import { uuid } from "vue-uuid";
import { Tooltip } from "@syncfusion/ej2-popups";
import GroupPlanningForm from "@/pages/productionplanning/groupPlanningReport/groupPlanningForm.vue";
import GroupPlanningReportGrid from "@/pages/productionplanning/groupPlanningReport/groupPlanningReportGrid.vue";
import GroupPlaningEdit from "@/pages/productionplanning/groupPlanningReport/groupPlaningEdit.vue";
import {
  GridPlugin,
  Page,
  Resize,
  Edit,
  ExcelExport,
  Toolbar,
  Group,
  Filter,
  FilterType,
  Aggregate,
  Freeze,
} from "@syncfusion/ej2-vue-grids";

let packSizes = [
  1080,
  6,
  1000,
  400,
  1,
  12000,
  1200,
  600,
  1000,
  60,
  2500,
  6000,
  120,
  500,
  450,
  500,
  5,
  100,
  360,
  3,
  750,
  15,
];
Vue.use(GridPlugin);
Vue.use(DropDownListPlugin);
let selectedRecord = {};
var elem, dropdownObj, tooltip;
export default {
  components: {
    GroupPlanningForm,
    GroupPlaningEdit,
    GroupPlanningReportGrid,
  },
  data: () => ({
    workingData: null,
    backSize: 90000,
    sessionId: uuid.v1(),
    ticketNos: "",
    ticketQty: 0,
    syncVersionDialog: false,
    ticketuom: "",
    pdtMonth: 0,
    pdtQty: 0,
    adjnoOfTicket: 0,
    reportMonthId: null,
    startDateDue: false,
    itemDialog: false,
    endDateDue: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 50,
    },
    searchCompanyType: "",
    editDialog: false,
    addDialog: false,
    gridItems: [],
    navItems: [],
    searchmenu: false,
    productPlanningItemData: {
      companyId: null,
      itemId: null,
      itemNo: "",
      reportYear: 0,
      reportMonth: 0,
      ahqty: 0,
      ahmonth: 0,
      pdtMonth: 0,
      pdtQty: 0,
      projHs: 0,
      noOfTickets: 0,
    },
    filterItems: { navItemIds: [], startDate: null, endDate: null },
    search: "",
    simulationLayoutActionDialog: false,
    companies: [],
    loader: false,
    filterColor: "black",
    filterdialog: false,
    rightDrawer: false,
    itemdialog: false,
    itemAHWorkingDialog: false,
    itemRecipeList: [],
    itemList: [],
    itemDesc: "",
    month1: "",
    month2: "",
    month3: "",
    month4: "",
    month5: "",
    month6: "",
    month7: "",
    month8: "",
    month9: "",
    month10: "",
    month11: "",
    month12: "",
    acheader: "AC as at end Aug 19",
    stbheader: "Stock balance as at end Aug 2019",
    stockMonthmenu: false,
    headerMonthmenu: false,

    editedItem: null,
    selectedMonth: null,

    items: [
      /*  {
             icon: "add",
             href: "#",
             title: "New",
             click: (e) => { },
           }, */
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
    ],
    searchParams: {
      search: "",
      company: "NAV_JB",
      stockMonth: new Date().toISOString().substr(0, 10),
      headerMonth: new Date().toISOString().substr(0, 10),
      fromPostingDate: new Date().toISOString().substr(0, 10),
      toPostingDate: new Date().toISOString().substr(0, 10),
      customerId: "",
      userId: -1,
      methodCodeId: null,
      salesCategoryId: null,
      isSteroid: null,
      replenishment: "",
      ticketformula: "",
      ticketvalue: null,
      companyId: 1,
      versionId: 1,
      selectedMonth: null,
      startDate: null,
      endDate: null,
      navItemIds: [],
      intmonth: 1,
      versionName: "",
    },
    versionName: "",
    methodCodeList: [],

    actionMonthTemplate: function(args) {
      console.log(args.cell);

      return {
        template: Vue.component("actionMonthTemplate", {
          template: `<v-icon
            small
            class="mr-2"
            style="cursor:pointer;"
          >
            edit
          </v-icon>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },

    data: [],
    reportMonthItems: [
      { value: 1 },
      { value: 2 },
      { value: 3 },
      { value: 4 },
      { value: 5 },
      { value: 6 },
      { value: 7 },
      { value: 8 },
      { value: 9 },
      { value: 10 },
      { value: 11 },
      { value: 12 },
    ],
    numericParams: { params: { change: this.changeFn } },
    toolbar: ["ExcelExport", "Print"],
    filterSettings: { type: "Excel" },
    selectionOptions: {
      cellSelectionMode: "Box",
      type: "Multiple",
      mode: "Cell",
    },
    editSettings: { allowEditing: true, mode: "Normal" },
    groupSettings: { showDropArea: false, columns: ["itemgrouping"] },

    projectedMonth1: [
      {
        field: "ticketMonthName",
        headerText: "AH",
        clipMode: "EllipsisWithTooltip",
        width: 150,
        minWidth: 10,
        format: "N2",
        allowEditing: false,
      },
      {
        field: "ahQty",
        headerText: "AH Qty",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ahMonth",
        headerText: "AH/M",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      {
        field: "pdtMonth",
        headerText: "Pigeon/Month",
        clipMode: "EllipsisWithTooltip",
        format: "N2",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "pdtQty",
        headerText: "Pigeon/Qty",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "groupticketMonth",
        headerText: "Group/Month",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "groupticketQty",
        headerText: "Group/Qty",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "addedMonth",
        headerText: "Added/Month",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "addedQty",
        headerText: "Added Qty",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projectedHoldingStock1",
        headerText: "Proj. HS",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "noOfTicket",
        headerText: "No Of Tickets",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "adjnoOfTicket",
        headerText: "Adj. No Of Tickets",
        clipMode: "EllipsisWithTooltip",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],

    dateRange: {
      fromDate: new Date().toISOString().substr(0, 10),
      toDate: new Date().toISOString().substr(0, 10),
      itemNo: null,
    },
    packSizeList: [],
    // packSizes: [1080, 6, 1000, 400, 1, 12000, 1200, 600, 1000, 60, 2500, 6000, 120, 500, 450, 500, 5, 100, 360, 3, 750, 15],

    editbzparams: {
      params: {
        allowFiltering: true,
        dataSource: packSizes,
        // fields: {text:"countryName",value:"countryName"},
      },
    },
    fields: { text: "batchSize", value: "batchSize" },
  }),

  provide: {
    grid: [
      Page,
      Resize,
      ExcelExport,
      Edit,
      Toolbar,
      Group,
      Filter,
      Aggregate,
      Freeze,
    ],
  },
  computed: {},
  created() {},
  methods: {
    customiseCell: function(args) {
      if (args.data[args.column.field] == 0) {
        //args.cell.classList.add('below-0');
        args.cell.style.color = "white";
      }
      if (args.data[args.column.field] < 0) {
        args.cell.classList.add("below-0");
        //args.cell.style.color = "white";
      }

      if (args.data[args.column.field] == "Working") {
        console.log(args.data[args.column.field]);
      }
    },
    actionBegin: function(args) {
      //console.log("action validation", args);
      if (args.requestType === "beginEdit") {
        // alert(args.rowData.itemgrouping);
        if (args.rowData.itemgrouping != "Working") {
          args.cancel = true;
        }
        selectedRecord = {};
        selectedRecord = args.rowData;
        this.packSizeList = this.packSizes;
      }
      // console.log(args.requestType, args);
      if (args.requestType == "refresh") {
      }
    },
    actionComplete: function(args) {
      if (args.requestType === "save") {
        this.searchParams.itemNo = args.data.itemNo;
        this.searchParams.roundup2 = args.data.roundup2;
        this.searchParams.remarks = args.data.remarks;
        this.searchParams.isUpdate = true;
        this.onLoad();
      }
    },

    changeFn: function(args) {
      selectedRecord["roundup2"] = args.value;
      let gridObj = this.$refs.gridreport.ej2Instances;
      gridObj.aggregateModule.refresh(selectedRecord);
    },
    closeSyncVersion() {
      this.syncVersionDialog = false;
    },
    dataBound: function(args) {
      //this.$refs.gridreport.ej2Instances.groupModule.collapseAll();
    },

    cellSelected(args) {
      // this.rightDrawer = true;
      //console.log(args.data.recipeLists);
    },
    headerCellInfo(args) {
      if (args.cell.column.field === "symlQty") {
        // const toolcontent = args.cell.column.headerText;
        const toolcontent = "PackSize * Total AC Qty";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "threeMonthACQty") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "3 * AC in Units";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "roundup1") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "(PackSize * 3 * AC Total)/Recipe Pack Size";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "stockHoldingBalance") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "Total Stock Balance/AC Total";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "stockHoldingPackSize") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "Total Stock Balance * Pack Size";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
    },
    rowSelected(args) {
      this.backSize = args.data.acSum;
      this.workingData = args;
      if (args.cellIndex.cellIndex == 15) {
        if (args.data.itemgrouping != "Working") {
          this.itemDesc = args.data.itemNo;
          this.ticketuom = args.data.uom;
          this.ticketQty = args.data.prodQty1;
          this.ticketNos = args.data.ticket1;

          this.itemDialog = true;
        }
      }

      if (args.cellIndex.cellIndex == 11) {
        if (args.data.itemgrouping == "Working") {
          this.pdtMonth = args.data.pdtMonth;
          this.pdtQty = args.data.pdtQty;
          this.ticketMonth = args.data.ticketMonth;
          this.workingData = args.data;
          this.adjnoOfTicket = args.data.adjnoOfTicket;
          this.itemAHWorkingDialog = true;
        }
      }
    },
    toolbarClick(args) {
      let excelExportProperties = {
        theme: {
          header: { fontName: "Segoe UI", fontColor: "#666666" },
          record: { fontName: "Segoe UI", fontColor: "#666666" },
          caption: { fontName: "Segoe UI", fontColor: "#666666" },
        },
      };

      if (args.item.text === "Excel Export") {
        // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
        this.$refs.gridreport.excelExport(excelExportProperties);
      }

      // if (args.item.id === 'Grid_print') { // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
      //   this.$refs.gridreport.print();
      // }
    },
    simulationLayoutActionclose() {
      this.itemDialog = false;
    },
    ahWorkingClose() {
      this.itemAHWorkingDialog = false;
    },

    initialize() {
      this.searchParams.methodCodeId = this.selectedRecord.methodCodeId;
      this.searchParams.selectedMonth = this.selectedMonth;
      this.onLoad();
      //this.onLoadListItems();
    },
    showAllData() {
      this.searchParams.methodCodeId = null;
      this.searchParams.selectedMonth = this.selectedMonth;
      this.groupSettings = {
        showDropArea: false,

        columns: ["methodCode", "itemgrouping"],
      };
      this.onLoad();
      //this.onLoadListItems();
    },

    onLoadListItems() {
      getSimulationForecastPlanning(this.searchParams)
        .then((response) => {
          this.gridItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onLoad() {
      this.loader = true;

      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      var selMonth = moment(this.searchParams.stockMonth).format("MMM");
      var thisMonth = months.findIndex((x) => x === selMonth);
      var makeDate = new Date(this.searchParams.stockMonth);
      makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      var stockMontDate = moment(makeDate).format("DD-MMM-YYYY");
      this.stbheader = "Stock balance as at " + stockMontDate;
      //console.log("stock bal date", makeDate);
      var acDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));
      var lastDay = new Date(acDate.getFullYear(), acDate.getMonth() + 1, 0);

      var monthHeader = moment(makeDate).format("MMM YYYY");
      this.acheader = "AC as at " + moment(lastDay).format("DD-MMM-YYYY");
      // makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      //makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      //console.log("stock bal date", makeDate);

      let countmonth = 1;
      // this.nextProdColumns.forEach((h) => {
      //   if (thisMonth > 11) {
      //     thisMonth = 0;
      //   }
      //   var month = months[thisMonth];
      //   thisMonth = thisMonth + 1;
      //   h.headerText = month;
      //   if (countmonth == 1) this.month1 = month;
      //   if (countmonth == 2) this.month2 = month;
      //   if (countmonth == 3) this.month3 = month;
      //   if (countmonth == 4) this.month4 = month;
      //   if (countmonth == 5) this.month5 = month;
      //   if (countmonth == 6) this.month6 = month;
      //   if (countmonth == 7) this.month7 = month;
      //   if (countmonth == 8) this.month8 = month;
      //   if (countmonth == 9) this.month9 = month;
      //   if (countmonth == 10) this.month10 = month;
      //   if (countmonth == 11) this.month11 = month;
      //   if (countmonth == 12) this.month12 = month;

      //   countmonth = countmonth + 1;

      //   //console.log(countmonth, month);
      // });

      getSimulationAddhocRefreshV3(this.searchParams)
        .then((response) => {
          this.data = response.data;
          console.log("group paln refresh" + JSON.stringify(response.data));
          this.loader = false;
          this.filterdialog = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      // getNavItemsList()
      //   .then((response) => {
      //     this.navItems = response.data;
      //     this.loader = false;
      //   })
      //   .catch((error) => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
    },
    syncVersion() {
      this.syncVersionDialog = true;
      this.$refs.refGroupPlanningReportGrid.initialize();
      this.$refs.refGroupPlanningReportGrid.data = this.data;
    },
    refresh() {
      this.clearSearchFilter();
    },
    submitGroupPlanningTicket() {
      this.saveloader = true;
      this.loader = true;
      // this.workingData.pdtMonth = this.pdtMonth;
      // this.workingData.pdtQty = this.pdtQty;
      // this.workingData.ticketMonth = this.reportMonthId;
      // this.workingData.sessionId = this.sessionId;
      // this.workingData.intMonth = this.searchParams.intmonth;
      // this.workingData.adjnoOfTicket = this.adjnoOfTicket;
      var groupdata = {
        companyId: this.workingData.companyId,
        itemId: this.workingData.itemId,
        itemNo: this.workingData.itemNo,
        reportDate: this.searchParams.stockMonth,
        intMonth: this.searchParams.intmonth,
        ahqty: this.workingData.ahQty,
        ahmonth: this.workingData.ahMonth,
        pdtMonth: this.pdtMonth,
        pdtQty: this.pdtQty,
        projHs: this.workingData.projectedHoldingStock1,
        noOfTickets: this.adjnoOfTicket,
        ahnoOfMonths: this.workingData.ahnoOfMonths,
        versionName: this.searchParams.versionName,
        sessionId: this.sessionId,
      };
      saveGroupingTicketPlanning(groupdata)
        .then((response2) => {
          this.loader = false;
          this.saveloader = false;
          this.itemAHWorkingDialog = false;

          this.onLoad();
        })
        .catch((error) => {
          this.loader = false;
          this.saveloader = false;
          this.itemAHWorkingDialog = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    prodSearch() {
      this.onLoad();
    },
    monthChange() {
      // alert(this.pdtMonth);
      this.pdtQty = this.pdtMonth * this.backSize;
    },
    qtyChange() {},
    prodSearchFilter() {
      //this.filterColor = "red";
      //console.log(this.searchParams);
      //this.onLoad();
      this.submitGroupPlanningTicket();
    },
    clearSearchFilter() {
      this.filterdialog = false;
      this.filterColor = "black";
      this.searchParams.search = "";
      this.searchParams.company = "NAV_JB";
      this.searchParams.stockMonth = new Date().toISOString().substr(0, 10);
      this.searchParams.fromPostingDate = new Date()
        .toISOString()
        .substr(0, 10);
      this.searchParams.toPostingDate = new Date().toISOString().substr(0, 10);
      this.searchParams.customerId = "";
      this.searchParams.userId = -1;
      this.searchParams.methodCodeId = null;
      this.searchParams.salesCategoryId = null;
      this.searchParams.replenishment = "";
      this.searchParams.isSteroid = null;
      this.searchParams.ticketformula = "";
      this.searchParams.ticketvalue = null;
      this.searchParams.companyId = 1;
      this.searchParams.versionId = 1;
      this.searchParams.selectedMonth = null;

      this.onLoad();
    },
  },
};
</script>

<style>
@import "../../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
.below-0 {
  background-color: red;
  color: red;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
</style>
