<template>
  <div>
    <app-section-loader :status="loader"></app-section-loader>

    <v-card-title>
      <span class="headline">{{ this.itemDesc }}</span>
    </v-card-title>
    <div
      ref="ScrollTopsection"
      style="overflow: auto; height: calc(90vh - 110px)"
    >
      <v-card-text>
        <ejs-grid
          ref="gridreport"
          :dataSource="data"
          :allowPaging="true"
          :allowResizing="true"
          :allowExcelExport="true"
          :allowFiltering="true"
          :toolbar="toolbar"
          :toolbarClick="toolbarClick"
          :filterSettings="filterSettings"
          :allowGrouping="false"
          :editSettings="editSettings"
          :dataBound="dataBound"
          height="calc(100vh - 230px - 143px)"
          :actionBegin="actionBegin"
          :actionComplete="actionComplete"
          @cellSelected="rowSelected"
          :selectionSettings="selectionOptions"
          :headerCellInfo="headerCellInfo"
          :queryCellInfo="customiseCell"
          :frozenColumns="2"
          width="calc(100% - 10px)"
        >
          <e-columns>
            <!-- <e-column
              field="productGroup"
              headerText="Product Group"
              clipMode="EllipsisWithTooltip"
              width="300"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column> -->

            <!-- <e-column
              field="methodCode"
              headerText="Method Code"
              clipMode="EllipsisWithTooltip"
              width="300"
              textAlign="Left"
              minWidth="10"
              :visible="false"
              :allowEditing="false"
            ></e-column> -->
            <e-column
              field="genericCode"
              headerText="Generic Code"
              clipMode="EllipsisWithTooltip"
              width="300"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>
            <e-column
              field="packSize"
              headerText="Pack Size"
              clipMode="EllipsisWithTooltip"
              width="100"
              textAlign="Left"
              minWidth="10"
              :allowEditing="false"
            ></e-column>

            <e-column
              headerText="Opening"
              :columns="openingData"
              textAlign="Center"
              format="N0"
              width="10"
              minWidth="10"
            ></e-column>

            <e-column
              :headerText="month1"
              :columns="projectedMonth1"
              textAlign="Center"
              format="N2"
            ></e-column>

            <e-column
              :headerText="month2"
              :columns="projectedMonth2"
              textAlign="Center"
              format="N2"
            ></e-column>

            <e-column
              :headerText="month3"
              :columns="projectedMonth3"
              textAlign="Center"
              format="N2"
            ></e-column>

            <e-column
              :headerText="month4"
              :columns="projectedMonth4"
              textAlign="Center"
              format="N2"
            ></e-column>
          </e-columns>
          <e-aggregates>
            <e-aggregate>
              <e-columns>
                <e-column
                  type="Custom"
                  field="itemNo"
                  :groupFooterTemplate="customTemplate2"
                ></e-column>
              </e-columns>
            </e-aggregate>
            <e-aggregate>
              <e-columns>
                <e-column
                  type="Custom"
                  field="itemNo"
                  :groupFooterTemplate="customTemplate"
                ></e-column>

                <e-column
                  type="Sum"
                  field="symlQty"
                  format="N2"
                  :groupFooterTemplate="sumTemplate"
                ></e-column>
                <e-column
                  type="Sum"
                  format="N2"
                  field="threeMonthACQty"
                  :groupFooterTemplate="sumtotalTemplate"
                ></e-column>
                <e-column
                  type="Custom"
                  format="N2"
                  field="roundup1"
                  :groupFooterTemplate="footerTemp"
                  :customAggregate="customroundup1Fn"
                ></e-column>
                <e-column
                  type="Custom"
                  field="roundup2"
                  format="N2"
                  :groupFooterTemplate="footerTemp"
                  :customAggregate="customroundup2Fn"
                ></e-column>
              </e-columns>
            </e-aggregate>
          </e-aggregates>
        </ejs-grid>
        <div style="margin-top:50px;">
          <v-layout row wrap>
            <v-flex xs5 offset-xs11 align-end>
              <v-layout row wrap>
                <v-flex xs4>
                  <v-menu
                    slot="activator"
                    :nudge-right="40"
                    :close-on-content-click="false"
                    lazy
                    v-model="searchmenu"
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="140px"
                  >
                    <v-btn slot="activator" icon>
                      <v-icon>filter_list</v-icon>
                    </v-btn>

                    <v-card>
                      <v-layout row wrap>
                        <v-toolbar dark color="primary">
                          <v-toolbar-title>Search and Filter</v-toolbar-title>
                        </v-toolbar>
                        <v-flex xs12 sm12>
                          <v-autocomplete
                            :loading="loader"
                            chips
                            flat
                            label="Nav Items"
                            prepend-icon="assistant"
                            :items="navItems"
                            v-model="filterItems.navItemIds"
                            color="blue"
                            item-text="no"
                            item-value="itemId"
                            multiple
                            :search-input.sync="searchCompanyType"
                            @change="selectcompanyType"
                          >
                            <template slot="selection" slot-scope="data">
                              <v-chip
                                :selected="data.selected"
                                close
                                class="chip--select-multi"
                                @input="removeNavItems(data.item)"
                                >{{ data.item.no }}</v-chip
                              >
                            </template>
                            <template slot="item" slot-scope="data">
                              <template v-if="typeof data.item !== 'object'">
                                <v-list-tile-content
                                  v-text="data.item"
                                ></v-list-tile-content>
                              </template>
                              <template v-else>
                                <v-list-tile-content>
                                  <v-list-tile-title
                                    v-html="data.item.itemNoDetail"
                                  ></v-list-tile-title>
                                </v-list-tile-content>
                              </template>
                            </template>
                          </v-autocomplete>
                        </v-flex>
                        <v-flex xs12 sm12>
                          <v-menu
                            ref="startDateDue"
                            v-model="startDateDue"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="startDateFormated"
                              label="Start Date"
                              prepend-icon="event"
                              clearable
                              @click:clear="clearablestartDate"
                              readonly
                            ></v-text-field>
                            <v-date-picker
                              v-model="filterItems.startDate"
                              @change="startDateDue = false"
                            >
                            </v-date-picker>
                          </v-menu>
                        </v-flex>
                        <v-flex xs12 sm12>
                          <v-menu
                            ref="endDateDue"
                            v-model="endDateDue"
                            :close-on-content-click="false"
                            :nudge-right="40"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              :value="endDateFormated"
                              label="End Date"
                              prepend-icon="event"
                              clearable
                              @click:clear="clearableendDate"
                              readonly
                            ></v-text-field>
                            <v-date-picker
                              v-model="filterItems.endDate"
                              @change="endDateDue = false"
                            >
                            </v-date-picker>
                          </v-menu>
                        </v-flex>
                      </v-layout>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outline color="primary" @click="searchClick"
                          >Search</v-btn
                        >
                        <v-btn outline color="primary" @click="searchmenuClear"
                          >Clear</v-btn
                        >
                        <v-btn outline color="primary" @click="searchmenuClose"
                          >Close</v-btn
                        >
                      </v-card-actions>
                    </v-card>
                  </v-menu>
                </v-flex>
                <v-flex xs4>
                  <v-btn
                    slot="activator"
                    icon
                    @click.native="addGroupPlanningForm"
                  >
                    <v-icon>add_circle_outline</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs4>
                  <v-btn icon="" @click="initialize()">
                    <v-icon icon> refresh </v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
          <v-data-table
            :headers="headersItems"
            :items="gridItems"
            class="elevation-1"
            :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination"
          >
            <template slot="items" slot-scope="props">
              <td class="justify-center layout px-0">
                <v-menu bottom right>
                  <v-btn slot="activator" icon>
                    <v-icon>more_vert</v-icon>
                  </v-btn>
                  <v-list>
                    <v-list-tile
                      v-for="(item, i) in items"
                      :key="i"
                      @click="menuClick(i, props.item)"
                      ripple="ripple"
                      :target="item.target"
                      rel="noopener"
                      :disabled="disabledMenus(item, props.item)"
                    >
                      <v-list-tile-action>
                        <v-icon>{{ item.icon }}</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                    </v-list-tile>
                  </v-list>
                </v-menu>
              </td>
              <td class="text-xs-left">{{ props.item.statusCode }}</td>
              <td class="text-xs-left">{{ props.item.genericCode }}</td>
              <td class="text-xs-left">{{ props.item.prodOrderNo }}</td>
              <td class="text-xs-left">{{ props.item.batchNo }}</td>
              <td class="text-xs-left">{{ props.item.itemNo }}</td>
              <td class="text-xs-left">{{ props.item.description }}</td>
              <td class="text-xs-left">{{ props.item.description2 }}</td>
              <td class="text-xs-left">{{ props.item.internalRef }}</td>
              <td class="text-xs-left">{{ props.item.quantity }}</td>

              <td class="text-xs-left">
                {{ props.item.startingDate | formatDate }}
              </td>
              <td class="text-xs-left">
                {{ props.item.actualStartDate | formatDate }}
              </td>
              <td class="text-xs-left">
                {{ props.item.completionDate | formatDate }}
              </td>
              <td class="text-xs-left">{{ props.item.shelfLife }}</td>
              <td class="text-xs-left">{{ props.item.batchSize }}</td>
              <td class="text-xs-left">{{ props.item.recipeNo }}</td>
              <td class="text-xs-left">{{ props.item.machineCenterName }}</td>
              <td class="text-xs-left">{{ props.item.locationCode }}</td>
              <td class="text-xs-left">{{ props.item.dispense }}</td>
              <td class="text-xs-left">{{ props.item.substatus }}</td>
              <td class="text-xs-left">{{ props.item.remarks }}</td>
            </template>
            <template slot="no-data">
              <v-btn color="primary" outline @click="initialize"
                >Record not exist.Refresh again in while time.
              </v-btn>
            </template>
          </v-data-table>
        </div>
      </v-card-text>
    </div>
    <v-dialog
      v-model="filterdialog"
      transition="dialog-bottom-transition"
      width="450px"
    >
      <v-card>
        <v-toolbar card dense color="primary">
          <v-toolbar-title color="white">Custom Filters</v-toolbar-title>

          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="filterdialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-text>
          Show rows where:
          <v-layout wrap>
            <v-flex xs6 sm6>
              <v-autocomplete
                label="Ticket"
                v-model="searchParams.ticketformula"
                :items="ticketFormulaList"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs4 sm4>
              <v-text-field
                type="number"
                label="Value"
                v-model="searchParams.ticketvalue"
                prepend-icon="assistant"
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary darken-1"
            outline
            :loading="loader"
            @click="prodSearchFilter"
            >OK</v-btn
          >
          <v-btn
            color="primary darken-1"
            outline
            @click.native="clearSearchFilter"
            >Clear Filler</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="addDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="addDialogClose">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="saveSimulation">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="addDialogClose">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">Method Code: {{ this.itemDesc }}</span>
        </v-card-title>
        <div
          ref="GroupPlanScrollTopsection"
          style="overflow: auto; height: calc(90vh - 110px)"
        >
          <v-card-text>
            <group-planning-form
              ref="refGroupPlanningForm"
            ></group-planning-form>
          </v-card-text>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary darken-1"
            outline
            :loading="loader"
            @click="saveSimulation"
            >Save</v-btn
          >
          <v-btn color="primary darken-1" outline @click.native="addDialogClose"
            >Close</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="editDialog" fullscreen>
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="editDialog = false">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="editDialog = false">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <v-card-title>
          <span class="headline">Method Code: {{ this.itemDesc }}</span>
        </v-card-title>
        <v-card-text>
          <div style="overflow: auto; height: calc(90vh - 110px)">
            <!-- <group-planing-edit ref="refGroupPlaningEdit"></group-planing-edit> -->
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>

<script>
import { deleteSimulationForForecastPlanning } from "@/api/SimulationForForecastPlanning";
import { getGroupPlanRefresh, getSimulationForecastPlanning } from "@/api/nav";
// import { getNavMethodCodes } from "@/api/itemMaster";
import Vue from "vue";
import GlobalMessage from "@/constant";
import moment from "moment";
import { DropDownListPlugin } from "@syncfusion/ej2-vue-dropdowns";
import { DropDownList } from "@syncfusion/ej2-dropdowns";
import { Tooltip } from "@syncfusion/ej2-popups";
import { getNavItemsList } from "@/api/nav";
import GroupPlanningForm from "@/pages/productionplanning/groupPlanningReport/groupPlanningForm.vue";
import GroupPlaningEdit from "@/pages/productionplanning/groupPlanningReport/groupPlaningEdit.vue";
import {
  GridPlugin,
  Page,
  Resize,
  Edit,
  ExcelExport,
  Toolbar,
  Group,
  Filter,
  FilterType,
  Aggregate,
  Freeze,
} from "@syncfusion/ej2-vue-grids";
import { allResolved } from "q";
let packSizes = [
  1080,
  6,
  1000,
  400,
  1,
  12000,
  1200,
  600,
  1000,
  60,
  2500,
  6000,
  120,
  500,
  450,
  500,
  5,
  100,
  360,
  3,
  750,
  15,
];
Vue.use(GridPlugin);
Vue.use(DropDownListPlugin);
let selectedRecord = {};
var elem, dropdownObj, tooltip;
export default {
  components: {
    GroupPlanningForm,
    GroupPlaningEdit,
  },
  data: () => ({
    startDateDue: false,
    endDateDue: false,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    searchCompanyType: "",
    editDialog: false,
    addDialog: false,
    gridItems: [],
    navItems: [],
    searchmenu: false,
    filterItems: { navItemIds: [], startDate: null, endDate: null },
    search: "",
    simulationLayoutActionDialog: false,
    companies: [],
    loader: false,
    filterColor: "black",
    filterdialog: false,
    rightDrawer: false,
    itemdialog: false,
    itemRecipeList: [],
    itemList: [],
    itemDesc: "",
    month1: "",
    month2: "",
    month3: "",
    month4: "",
    month5: "",
    month6: "",
    month7: "",
    month8: "",
    month9: "",
    month10: "",
    month11: "",
    month12: "",
    acheader: "AC as at end Aug 19",
    stbheader: "Stock balance as at end Aug 2019",
    stockMonthmenu: false,
    headerMonthmenu: false,
    headers: [
      { text: "Item No", value: "itemNo", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Description 2", value: "description2", align: "left" },
      { text: "Category", value: "itemCategory", align: "left" },
      { text: "Internal Ref. No.", value: "internalRefNo", align: "left" },
      // { text: 'Stock Balance', value: 'stockBalance', align: 'left' },
    ],
    headersItems: [
      { text: "Action", value: "action", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Generic Code", value: "genericCode", align: "left" },
      { text: "Prod. Order No.", value: "prodOrderNo", align: "left" },
      { text: "Batch No.", value: "batchNo", align: "left" },
      { text: "Item No.", value: "itemNo", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Description 2", value: "description2", align: "left" },
      { text: "Internal Ref.", value: "internalRef", align: "left" },
      { text: "Quantity", value: "quantity", align: "left" },
      { text: "Starting Date", value: "startingDate", align: "left" },
      { text: "Actual Start Date", value: "actualStartDate", align: "left" },
      { text: "Completion Date", value: "completionDate", align: "left" },
      { text: "Shelf Life", value: "shelfLife", align: "left" },
      { text: "Batch Size", value: "batchSize", align: "left" },
      { text: "Recipe No.", value: "recipeNo", align: "left" },
      {
        text: "Machine Center Name",
        value: "machineCenterName",
        align: "left",
      },
      { text: "Location Code", value: "locationCode", align: "left" },
      { text: "Dispense", value: "dispense", align: "left" },
      { text: "Sub-status", value: "substatus", align: "left" },
      { text: "Remarks", value: "remarks", align: "left" },
    ],
    editedItem: null,
    selectedMonth: null,
    openingData: [
      {
        field: "jbQty",
        headerText: "SWJB",
        width: 10,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "inTransitSgQty",
        headerText: "In Transit-SIN",
        width: 10,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "sgQty",
        headerText: "SWSIN",
        width: 10,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "inTransitJbQty",
        headerText: "In Transit-JB",
        width: 10,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "balance",
        headerText: "Balance",
        width: 10,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    items: [
      /*  {
             icon: "add",
             href: "#",
             title: "New",
             click: (e) => { },
           }, */
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
    ],
    searchParams: {
      search: "",
      company: "NAV_JB",
      stockMonth: new Date().toISOString().substr(0, 10),
      headerMonth: new Date().toISOString().substr(0, 10),
      fromPostingDate: new Date().toISOString().substr(0, 10),
      toPostingDate: new Date().toISOString().substr(0, 10),
      customerId: "",
      userId: -1,
      methodCodeId: null,
      salesCategoryId: null,
      isSteroid: null,
      replenishment: "",
      ticketformula: "",
      ticketvalue: null,
      companyId: 1,
      versionId: 1,
      selectedMonth: null,
      startDate: null,
      endDate: null,
      navItemIds: [],
    },
    methodCodeList: [],
    replenishmentList: [
      { text: "Purchase", value: "Purchase" },
      { text: "Prod. Order", value: "Prod. Order" },
    ],

    versionList: [
      { text: "1", value: "1" },
      { text: "2", value: "2" },
      { text: "3", value: "3" },
      { text: "4", value: "4" },
      { text: "5", value: "5" },
      { text: "6", value: "6" },
      { text: "7", value: "7" },
      { text: "8", value: "8" },
      { text: "9", value: "9" },
      { text: "10", value: "10" },
    ],
    ticketFormulaList: [
      { text: "Equal", value: "1" },
      { text: "Greater Than", value: "2" },
      { text: "Greater Than Or Equal", value: "3" },
      { text: "Less Than", value: "4" },
      { text: "Less Than Or Equal", value: "5" },
      { text: "Not Equal", value: "6" },
    ],
    salesGroupList: [
      { text: "CAP", value: 1 },
      { text: "CREAM", value: 2 },
      { text: "DD", value: 3 },
      { text: "SYRUP", value: 4 },
      { text: "TABLET", value: 5 },
      { text: "VET", value: 6 },
      { text: "POWDER", value: 7 },
      { text: "INJ", value: 8 },
    ],
    dpParams: {
      create: function() {
        elem = document.createElement("input");
        return elem;
      },
      read: () => {
        return dropdownObj.value;
      },
      destroy: () => {
        dropdownObj.destroy();
      },
      write: (args) => {
        dropdownObj = new DropDownList({
          dataSource: args.rowData.recipeLists,
        });
        dropdownObj.appendTo(elem);
      },
    },
    customTemplate1: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total AC in Pack UOM:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    customTemplate2: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total AC in BUOM:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    customTemplate: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total BUOM = number of tickets:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },

    sumTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumTemplate1: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumacTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span> {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },

    sumctnTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumtotalTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span> {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    actionMonthTemplate: function() {
      return {
        template: Vue.component("actionMonthTemplate", {
          template: `<v-icon
            small
            class="mr-2"
            style="cursor:pointer;"
          >
            edit
          </v-icon>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    footerTemp: function() {
      return {
        template: Vue.component("footerTemplate", {
          template: `<span>{{data.Custom}}</span>`,
          data() {
            return { data: {} };
          },
        }),
      };
    },
    data: [],
    numericParams: { params: { change: this.changeFn } },
    toolbar: ["ExcelExport", "Print"],
    filterSettings: { type: "Excel" },
    selectionOptions: {
      cellSelectionMode: "Box",
      type: "Multiple",
      mode: "Cell",
    },
    editSettings: { allowEditing: true, mode: "Normal" },
    groupSettings: { showDropArea: false, columns: ["methodCode"] },
    packColumns: [
      {
        field: "packSize",
        headerText: "Size",
        format: "N0",
        width: 120,
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "packuom",
        headerText: "UOM",
        width: 110,
        format: "N0",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    distColumns: [
      {
        field: "apexQty",
        headerText: "Apex",
        format: "N0",
        width: 120,
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "antahQty",
        headerText: "Antah",
        width: 120,
        format: "N0",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "sgtQty",
      //   headerText: "SG Tender",
      //   width: 120,
      //   format: "N0",
      //   textAlign: "Center",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "missQty",
        headerText: "MSS",
        width: 120,
        format: "N0",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "pxQty",
        headerText: "PX",
        width: 120,
        format: "N0",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "acSum",
        headerText: "AC Total",
        width: 140,
        format: "N0",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    nextProdColumns: [
      {
        field: "month1",
        headerText: "Jan",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month2",
        headerText: "Feb",
        format: "N0",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month3",
        headerText: "Mar",
        format: "N0",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month4",
        headerText: "Apr",
        format: "N0",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month5",
        headerText: "May",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month6",
        headerText: "Jun",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month7",
        headerText: "Jul",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month8",
        headerText: "Aug",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month9",
        headerText: "Sep",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month10",
        headerText: "Oct",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month11",
        headerText: "Nov",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month12",
        headerText: "Dec",
        width: 120,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    batchColumns: [
      {
        field: "batchSize450",
        headerText: "",
        width: 220,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    batchColumns1: [
      {
        field: "batchSize90",
        headerText: "",
        width: 170,
        minWidth: 10,
        allowEditing: false,
      },
    ],
    roundupColumns: [
      {
        field: "roundup1",
        headerText: "Count",
        width: 115,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "roundup2",
        headerText: "Round Up",
        width: 115,
        format: "N0",
        minWidth: 10,
      },
    ],
    stkbalColumns: [
      {
        field: "apexStockBalance",
        headerText: "Apex",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "antahStockBalance",
        headerText: "Antah",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "msbStockBalance",
        headerText: "MSS",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "psbStockBalance",
        headerText: "PX",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "sgTenderStockBalance",
        headerText: "SWSIN",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "myStockBalance",
        headerText: "SWMY",
        width: 140,
        minWidth: 10,
        format: "N0",
        allowEditing: false,
      },
      {
        field: "otherStoreQty",
        headerText: "Other Store",
        width: 140,
        minWidth: 10,
        format: "N0",
        allowEditing: false,
      },
      {
        field: "deliverynotReceived",
        headerText: "In Transit",
        width: 160,
        clipMode: "EllipsisWithTooltip",
        minWidth: 10,
        format: "N0",
        allowEditing: false,
      },
      {
        field: "interCompanyTransitQty",
        headerText: "In T/intercompany",
        width: 160,
        clipMode: "EllipsisWithTooltip",
        minWidth: 10,
        format: "N0",
        allowEditing: false,
      },
      {
        field: "wipQty",
        headerText: "WIP Stock",
        width: 160,
        clipMode: "EllipsisWithTooltip",
        minWidth: 10,
        format: "N0",
        allowEditing: false,
      },
      // {
      //   field: "stockHoldingPackSize",
      //   headerText: "Total holding stock balance",
      //   width: 150,
      //   format: "N0",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "stockBalance",
        headerText: "Total Stock Balance",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "stockHoldingBalance",
        headerText: "No. of mth",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "rework",
        headerText: "Rework",
        width: 150,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth1: [
      {
        field: "supplyWip",
        headerText: "Supply-WIP",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },

      {
        field: "supplyProcess",
        headerText: "Supply-1st Process Not Start",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "demandKiv",
        headerText: "Demand-KIV",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "demandQty",
        headerText: "Demand",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "supplyQty",
        headerText: "Supply",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "newBalance",
        headerText: "New Delivery",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "balance1",
        headerText: "Balance",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth2: [
      {
        field: "demandQty2",
        headerText: "Demand",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "supplyQty2",
        headerText: "Supply",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projHSQty2",
        headerText: "Prod. HS",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "noOfMonth2",
        headerText: "No. Of Month",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth3: [
      {
        field: "demandQty3",
        headerText: "Demand",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "supplyQty3",
        headerText: "Supply",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projHSQty3",
        headerText: "Prod. HS",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "noOfMonth3",
        headerText: "No. Of Month",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth4: [
      {
        field: "demandQty4",
        headerText: "Demand",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "supplyQty4",
        headerText: "Supply",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "projHSQty4",
        headerText: "Prod. HS",
        width: 170,
        format: "N0",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "noOfMonth4",
        headerText: "No. Of Month",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    dateRange: {
      fromDate: new Date().toISOString().substr(0, 10),
      toDate: new Date().toISOString().substr(0, 10),
      itemNo: null,
    },
    packSizeList: [],
    // packSizes: [1080, 6, 1000, 400, 1, 12000, 1200, 600, 1000, 60, 2500, 6000, 120, 500, 450, 500, 5, 100, 360, 3, 750, 15],

    editbzparams: {
      params: {
        allowFiltering: true,
        dataSource: packSizes,
        // fields: {text:"countryName",value:"countryName"},
      },
    },
    fields: { text: "batchSize", value: "batchSize" },
  }),

  provide: {
    grid: [
      Page,
      Resize,
      ExcelExport,
      Edit,
      Toolbar,
      Group,
      Filter,
      Aggregate,
      Freeze,
    ],
  },
  computed: {
    stockMonthDateFormatted() {
      return this.searchParams.stockMonth
        ? moment(this.searchParams.stockMonth).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    headerMonthDateFormatted() {
      return this.searchParams.headerMonth
        ? moment(this.searchParams.headerMonth).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    startDateFormated() {
      return this.filterItems.startDate
        ? moment(this.filterItems.startDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    endDateFormated() {
      return this.filterItems.endDate
        ? moment(this.filterItems.endDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {},
  methods: {
    customiseCell: function(args) {
      if (args.data[args.column.field] == 0) {
        //args.cell.classList.add('below-0');
        args.cell.style.color = "white";
      }
      if (args.data[args.column.field] < 0) {
        args.cell.classList.add("below-0");
        //args.cell.style.color = "white";
      }
    },
    actionBegin: function(args) {
      if (args.requestType === "beginEdit") {
        selectedRecord = {};
        selectedRecord = args.rowData;
        this.packSizeList = this.packSizes;
      }
      // console.log(args.requestType, args);
      if (args.requestType == "refresh") {
      }
    },
    actionComplete: function(args) {
      if (args.requestType === "save") {
        //need to check e.requestType == “batchsave” for Batch editing
        // selectedRecord['roundup2'] = args.data.roundup2;
        // let gridObj = this.$refs.gridreport.ej2Instances;
        // gridObj.aggregateModule.refresh(selectedRecord);
        //console.log(args.data);

        this.searchParams.itemNo = args.data.itemNo;
        this.searchParams.roundup2 = args.data.roundup2;
        this.searchParams.remarks = args.data.remarks;
        this.searchParams.isUpdate = true;
        this.onLoad();

        // updateACReportData(args.data).then(response => {
        //   this.onLoad();
        //   this.loader = false;
        // })
        //   .catch(error => {
        //     this.loader = false;
        //     window.getApp.$emit('APP_API_ERROR', error);
        //   });;
        //console.log(args.data);
      }
      // let gridObj = this.$refs.gridreport.ej2Instances;
      // gridObj.aggregateModule.refresh(selectedRecord);
    },

    changeFn: function(args) {
      alert(args.value);
      selectedRecord["roundup2"] = args.value;
      let gridObj = this.$refs.gridreport.ej2Instances;
      gridObj.aggregateModule.refresh(selectedRecord);
    },
    editTemplate: function() {
      return {
        template: Vue.component("dropdownlist", {
          template: `<ejs-dropdownlist id="pSize" v-model='data.prodRecipe'  :dataSource='data.recipeLists' placeholder="Pack Size" popupHeight='300px' floatLabelType='Always'></ejs-dropdownlist>`,
          data() {
            return { data: {} };
          },
          computed: {
            getPackSizes: () => {
              return [
                1080,
                6,
                1000,
                400,
                1,
                12000,
                1200,
                600,
                1000,
                60,
                2500,
                6000,
                120,
                500,
                450,
                500,
                5,
                100,
                360,
                3,
                750,
                15,
              ];
            },
          },
        }),
      };
    },
    dataBound: function(args) {
      //this.$refs.gridreport.ej2Instances.groupModule.collapseAll();
    },
    customAggregateFn: function(data) {
      if (data.items != undefined) {
        var apexQty = data.items.reduce((acc, item) => acc + item.apexQty, 0);
        var antahQty = data.items.reduce((acc, item) => acc + item.antahQty, 0);
        var sgtQty = data.items.reduce((acc, item) => acc + item.sgtQty, 0);
        var pxQty = data.items.reduce((acc, item) => acc + item.pxQty, 0);
        var missQty = data.items.reduce((acc, item) => acc + item.missQty, 0);

        var result = apexQty + antahQty + sgtQty + pxQty + missQty;
        return result.toFixed(2);
      }
      return 0;
    },
    custombatchFn: function(data) {
      if (data.items != undefined && data.items.length > 0) {
        var batch = data.items[0].packSize2 / data.items[0].packSize;
        return batch.toFixed(2);
      } else {
        return 0;
      }
    },
    customroundup1Fn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce((acc, item) => acc + item.symlQty, 0) * 3;
        var valData = sum / data.items[0].packSize2;
        return valData.toFixed(2); //numeral(valData);
      }
      return 0;
    },
    customroundup2Fn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce((acc, item) => acc + item.symlQty, 0) * 3;
        var valData = sum / data.items[0].packSize2;
        return Math.ceil(valData).toFixed(2); //numeral(valData);
      }
      return 0;
    },
    customstockholdingFn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce(
          (acc, item) => acc + item.stockHoldingPackSize,
          0
        );
        var valData = sum / data.items[0].packSize;
        return valData.toFixed(2); //numeral(valData);
      }
      return 0;
    },
    customticketFn: function(data) {
      if (data.items == undefined) {
        return 0;
      }

      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      // var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      // var packctn = 0;
      // if (data.items != undefined && data.items.length > 0) {
      //   packctn = totalsum / data.items[0].packSize;      }
      // var stockBalance = sum / packctn;
      var apexQty = data.items.reduce((acc, item) => acc + item.apexQty, 0);
      var antahQty = data.items.reduce((acc, item) => acc + item.antahQty, 0);
      var sgtQty = data.items.reduce((acc, item) => acc + item.sgtQty, 0);
      var pxQty = data.items.reduce((acc, item) => acc + item.pxQty, 0);
      var missQty = data.items.reduce((acc, item) => acc + item.missQty, 0);

      var distsum = apexQty + antahQty + sgtQty + pxQty + missQty;
      var stockBalance = sum / distsum;
      return stockBalance.toFixed(2); //numeral(valData).format('0,0');
    },
    custommonth1Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = 0;
      if (data.items != undefined && data.items.length > 0) {
        packctn = totalsum / data.items[0].packSize;
      }
      var month = sum / packctn - 1;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth2Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 2;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth3Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 3;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth4Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 4;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth5Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 5;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth6Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);
      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 6;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    cellSelected(args) {
      // this.rightDrawer = true;
      //console.log(args.data.recipeLists);
    },
    headerCellInfo(args) {
      if (args.cell.column.field === "symlQty") {
        // const toolcontent = args.cell.column.headerText;
        const toolcontent = "PackSize * Total AC Qty";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "threeMonthACQty") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "3 * AC in Units";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "roundup1") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "(PackSize * 3 * AC Total)/Recipe Pack Size";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "stockHoldingBalance") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "Total Stock Balance/AC Total";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "stockHoldingPackSize") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "Total Stock Balance * Pack Size";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
    },
    rowSelected(args) {},
    toolbarClick(args) {
      let excelExportProperties = {
        theme: {
          header: { fontName: "Segoe UI", fontColor: "#666666" },
          record: { fontName: "Segoe UI", fontColor: "#666666" },
          caption: { fontName: "Segoe UI", fontColor: "#666666" },
        },
      };

      if (args.item.text === "Excel Export") {
        // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
        this.$refs.gridreport.excelExport(excelExportProperties);
      }

      // if (args.item.id === 'Grid_print') { // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
      //   this.$refs.gridreport.print();
      // }
    },
    scrollToTop() {
      this.$nextTick(function() {
        this.$refs.ScrollTopsection.scrollTop = 0;
      });
    },
    groupPlanScrollTop() {
      this.$nextTick(function() {
        this.$refs.GroupPlanScrollTopsection.scrollTop = 0;
        console.log(this.$refs.GroupPlanScrollTopsection);
      });
    },
    initialize() {
      this.searchParams.methodCodeId = this.selectedRecord.methodCodeId;
      this.searchParams.selectedMonth = this.selectedMonth;
      this.onLoad();
      this.onLoadListItems();
    },
    clearablestartDate() {
      this.filterItems.startDate = null;
    },
    clearableendDate() {
      this.filterItems.endDate = null;
    },
    selectcompanyType() {
      this.searchCompanyType = "";
    },
    removeNavItems(item) {
      const index = this.filterItems.navItemIds.indexOf(item.itemId);
      if (index >= 0) this.filterItems.navItemIds.splice(index, 1);
    },
    onLoadListItems() {
      getSimulationForecastPlanning(this.searchParams)
        .then((response) => {
          this.gridItems = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onLoad() {
      this.loader = true;

      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      var selMonth = moment(this.searchParams.stockMonth).format("MMM");
      var thisMonth = months.findIndex((x) => x === selMonth);
      var makeDate = new Date(this.searchParams.stockMonth);
      makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      var stockMontDate = moment(makeDate).format("DD-MMM-YYYY");
      this.stbheader = "Stock balance as at " + stockMontDate;
      //console.log("stock bal date", makeDate);
      var acDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));
      var lastDay = new Date(acDate.getFullYear(), acDate.getMonth() + 1, 0);

      var monthHeader = moment(makeDate).format("MMM YYYY");
      this.acheader = "AC as at " + moment(lastDay).format("DD-MMM-YYYY");
      // makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      //makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      //console.log("stock bal date", makeDate);

      let countmonth = 1;
      this.nextProdColumns.forEach((h) => {
        if (thisMonth > 11) {
          thisMonth = 0;
        }
        var month = months[thisMonth];
        thisMonth = thisMonth + 1;
        h.headerText = month;
        if (countmonth == 1) this.month1 = month;
        if (countmonth == 2) this.month2 = month;
        if (countmonth == 3) this.month3 = month;
        if (countmonth == 4) this.month4 = month;
        if (countmonth == 5) this.month5 = month;
        if (countmonth == 6) this.month6 = month;
        if (countmonth == 7) this.month7 = month;
        if (countmonth == 8) this.month8 = month;
        if (countmonth == 9) this.month9 = month;
        if (countmonth == 10) this.month10 = month;
        if (countmonth == 11) this.month11 = month;
        if (countmonth == 12) this.month12 = month;

        countmonth = countmonth + 1;

        //console.log(countmonth, month);
      });

      getGroupPlanRefresh(this.searchParams)
        .then((response) => {
          this.data = response.data;
          this.loader = false;
          this.filterdialog = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getNavItemsList()
        .then((response) => {
          this.navItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    searchClick() {
      this.searchParams.startDate = this.filterItems.startDate;
      this.searchParams.endDate = this.filterItems.endDate;
      this.searchParams.navItemIds = this.filterItems.navItemIds;
      this.onLoadListItems();
    },
    searchmenuClose() {
      this.searchmenu = false;
    },
    searchmenuClear() {
      this.filterItems.startDate = null;
      this.filterItems.endDate = null;
      this.filterItems.navItemIds = [];
    },
    refresh() {
      this.clearSearchFilter();
    },
    prodSearch() {
      this.onLoad();
    },
    prodSearchFilter() {
      this.filterColor = "red";
      //console.log(this.searchParams);
      this.onLoad();
    },
    clearSearchFilter() {
      this.filterdialog = false;
      this.filterColor = "black";
      this.searchParams.search = "";
      this.searchParams.company = "NAV_JB";
      this.searchParams.stockMonth = new Date().toISOString().substr(0, 10);
      this.searchParams.fromPostingDate = new Date()
        .toISOString()
        .substr(0, 10);
      this.searchParams.toPostingDate = new Date().toISOString().substr(0, 10);
      this.searchParams.customerId = "";
      this.searchParams.userId = -1;
      this.searchParams.methodCodeId = null;
      this.searchParams.salesCategoryId = null;
      this.searchParams.replenishment = "";
      this.searchParams.isSteroid = null;
      this.searchParams.ticketformula = "";
      this.searchParams.ticketvalue = null;
      this.searchParams.companyId = 1;
      this.searchParams.versionId = 1;
      this.searchParams.selectedMonth = null;

      this.onLoad();
    },
    getrecipeCal(args) {
      // console.log(this.selectedRecord);
      // console.log(args);
      this.rightDrawer = false;
      this.searchParams.changeMethodCodeId = this.selectedRecord.methodCodeId;
      this.searchParams.receipe = args;
      this.onLoad();
    },
    cellEdit(args) {
      //console.log(args);

      args.cancel = true;
    },
    addGroupPlanningForm() {
      this.groupPlanScrollTop();
      this.$refs.refGroupPlanningForm.selectedRecord = this.selectedRecord;
      this.$refs.refGroupPlanningForm.itemDesc = this.selectedRecord.methodCode;
      this.$refs.refGroupPlanningForm.productItems = this.data;
      // this.$refs.refGroupPlanningForm.selectedItem = item;
      /* this.$refs.refGroupPlanningForm.$refs.refitemInformation.methodCodeId = this.searchParams.methodCodeId;
        this.$refs.refGroupPlanningForm.$refs.refitemInformation.companyId = this.searchParams.companyId;
        this.$refs.refGroupPlanningForm.$refs.refitemInformation.enableAddButton = true; */
      this.$refs.refGroupPlanningForm.editedItem.typeOfProdOrderId = null;
      this.$refs.refGroupPlanningForm.editedItem.sellingStatusId = null;
      this.$refs.refGroupPlanningForm.editedItem.dispense = "";
      this.$refs.refGroupPlanningForm.editedItem.productionSimulationGroupingId = -1;
      //this.$refs.refGroupPlanningForm.$refs.refitemInformation.gridItems = [];
      this.$refs.refGroupPlanningForm.loadDropDownList(
        this.searchParams.methodCodeId
      );
      // this.$refs.refGroupPlanningForm.loadDropDownList(-1);
      this.$refs.refGroupPlanningForm.initialize();
      this.addDialog = true;
    },
    addDialogClose() {
      this.addDialog = false;
      this.initialize();
    },
    menuClick(key, item) {
      /* if (key == 0) {
          //console.log(this.selectedRecord);
          this.$refs.refGroupPlanningForm.selectedRecord = this.selectedRecord;
          this.$refs.refGroupPlanningForm.itemDesc = this.selectedRecord.methodCode;
          this.$refs.refGroupPlanningForm.selectedItem = item;
          this.$refs.refGroupPlanningForm.$refs.refitemInformation.enableAddButton = true;
          this.$refs.refGroupPlanningForm.loadDropDownList();
          this.addDialog = true;
        } else */ if (
        key == 0
      ) {
        this.groupPlanScrollTop();
        this.$refs.refGroupPlanningForm.productItems = this.data;
        this.$refs.refGroupPlanningForm.selectedRecord = this.selectedRecord;
        this.$refs.refGroupPlanningForm.itemDesc = this.selectedRecord.methodCode;
        this.$refs.refGroupPlanningForm.selectedItem = item;
        /*  this.$refs.refGroupPlanningForm.$refs.refitemInformation.methodCodeId = this.searchParams.methodCodeId;
           this.$refs.refGroupPlanningForm.$refs.refitemInformation.companyId = this.searchParams.companyId;
           this.$refs.refGroupPlanningForm.$refs.refitemInformation.enableAddButton = false; */
        this.$refs.refGroupPlanningForm.editedItem = item;
        this.$refs.refGroupPlanningForm.loadDropDownList(
          this.searchParams.methodCodeId
        );
        this.$refs.refGroupPlanningForm.initialize();
        this.addDialog = true;
        /*  this.$refs.refGroupPlaningEdit.itemDesc = this.selectedRecord.methodCode;
             this.$refs.refGroupPlaningEdit.methodCodeId = this.searchParams.methodCodeId;
             this.$refs.refGroupPlaningEdit.selectedItem = item;
             this.editDialog = true; */
      } else if (key == 1) {
        if (item.productionSimulationGroupingId > 0) {
          this.$refs.deleteConfirmationDialog.openDialog();
          this.editedItem = item;
        }
      }
    },
    deleteItem(item) {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.productionSimulationGroupingId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteSimulationForForecastPlanning(this.editedItem)
          .then(() => {
            this.loader = false;
            this.editedItem = null;
            this.initialize();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    disabledMenus(key, item) {
      if (key.title == "Delete") {
        if (item.statusCodeID == null || item.statusCodeID == 2413) {
          return true;
        }
      }
      if (key.title == "Edit") {
        if (item.statusCodeID == 2413) {
          return true;
        }
      }
    },
    saveSimulation() {
      this.$refs.refGroupPlanningForm.save();
    },
  },
};
</script>

<style>
@import "../../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
.below-0 {
  background-color: red;
  color: red;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
</style>
