<template>
  <div id="page-forms">
    <v-tabs color="transparent" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="#tab-1" color="white">
        General
        <v-icon>fa-sticky-note</v-icon>
      </v-tab>
      <v-tab key="#tab-2" color="white">
        Location
        <v-icon>apps</v-icon>
      </v-tab>
      <v-tab key="#tab-3" color="white">
        Purpose
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tab key="#tab-4" color="white">
        Staus
        <v-icon>apps</v-icon>
      </v-tab>

      <v-tabs-items>
        <v-tab-item key="#tab-1">
          <v-card flat>
            <asset-general ref="assetgeneral"></asset-general>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-2">
          <v-card flat>
            <asset-location ref="assetlocation"></asset-location>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-3">
          <v-card flat>
            <asset-purpose ref="assetpurpose"></asset-purpose>
          </v-card>
        </v-tab-item>
        <v-tab-item key="#tab-4">
          <v-card flat>
            <asset-status ref="assetstatus"></asset-status>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
 <script>
import AssetGeneral from "@/pages/assetmanagement/sunwardassetlist/assetgeneral";
import AssetLocation from "@/pages/assetmanagement/sunwardassetlist/assetlocation";
import AssetPurpose from "@/pages/assetmanagement/sunwardassetlist/assetpurpose";
import AssetStatus from "@/pages/assetmanagement/sunwardassetlist/assetstatus";

export default {
  components: {
    AssetGeneral,
    AssetLocation,
    AssetPurpose,
    AssetStatus
  },

  data: () => ({
    saveCard: true,
    menus: [
      { title: "Clear Items" },
      { title: "Post" },
      { title: "Delete" },
      { title: "Print" }
    ],
    items: [
      { title: "Please place the item(Per beg) on weighing machine." },
      { title: "Video on procedure" },
      { title: "How to operate weighing machine" }
    ],
    blisterType: [],
    prodLines: [],
    plasticbags: [],
    prodOrders: [],
    valid: true,
    loader: false,

    form: {
      valid: false,
      scrapEntryId: -1,
      date: new Date().toISOString().substr(0, 10),
      loginUser: "Arun",
      isLogin: "yes-1",
      prodOrderNo: "",
      prodLineNo: null,
      sourceItemNo: "",
      itemDescription: "",
      batchNo: "",
      blisterBom: "",
      plasticBag: -1,
      plasticBagID: -1,
      blisterScrapTypeID: -1,
      blisterScrapType: -1,
      weight: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      requiredfield: [v => !!v || "This is required field"]
    }
  }),
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },
  created() {
    this.initialize();
  },
  methods: {
    
    
    initialize() {
      
    },
    authUser: function() {
      this.$router.push({ path: "/" });
    },
   
  }
};
</script>