<template>

  <div class="layout row ma-0" style="cursor: pointer;" @click="onClickShow()">
    <div class="sm12 xs12 flex text-sm-left py-3 white--text" :style="color">
      <div class="layout row">
        <div class="sm2 xs2 flex">
          <v-icon style="color:#18366a;font-weight: bold;">{{icon}}</v-icon>
        </div>
        <div class="sm10 xs10 flex subheading" style="color:#18366a;font-weight: bold;">{{ title }}</div>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    props: {
      icon: String,
      title: String,
      subTitle: String,
      color: String,
      onClickShow: {
        type: Function,
      },
    },
    methods: {
    }
  };
</script>
