<template>
    <v-card>
        <v-card-text class="pa-0">
            <v-container class="pa-0">
                <div class="layout row ma-0" style="cursor: pointer;" @click="onClickShow()">
                    <div class="sm3 xs3 flex">
                        <div class="layout column ma-0 justify-center align-center">
                            <v-icon :color="color">{{icon}}</v-icon>
                        </div>
                    </div>
                    <div class="sm9 xs9 flex text-sm-center py-3 white--text" :class="color">
                        <div class="body-2">{{ title }}</div>
                    </div>
                </div>
            </v-container>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        props: {
            icon: String,
            title: String,
            subTitle: String,
            color: String,
            onClickShow: {
                type: Function,
            },
        }
    };
</script>
