<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="documentRole.xls"
        v-show="ValidFunction('Download',formId)"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  
      <v-dialog v-model="dialog" max-width="600px">
        <v-btn slot="activator" icon v-show="ValidFunction('Add',formId)" @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="transparent">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon>reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="saveAndClose">
                <v-icon>library_add</v-icon>
              </v-btn>
              <span>Save And Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Save',formId)" @click.native="save">
                <v-icon>save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Add',formId)" @click.native="add">
                <v-icon>add</v-icon>
              </v-btn>
              <span>Create new role</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" v-show="ValidFunction('Delete',formId)" @click.native="deleterow">
                <v-icon>delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon>first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon>keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon>keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon>last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm12>
                    <v-text-field v-model="editedItem.documentRoleName" label="Document Role Name" :rules="editedItem.nameRules" required prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <v-text-field v-model="editedItem.documentRoleDescription" label="Document Role Description" prepend-icon="description">
                      <div slot="label">
                        Document Role Description
                      </div>
                    </v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 md4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions">
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>

          <!-- <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="close">Cancel</v-btn>
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
          </v-card-actions> -->
          <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem">
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize()">
          <v-icon icon>
            refresh
          </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="documentRoleID:desc">
      <template slot="items" slot-scope="props">
        <tr v-show="ValidFunction('Edit',formId)" v-on:dblclick="editItem(props.item)">
          <td>{{ props.item.documentRoleName }}</td>
          <td class="text-xs-left">{{ props.item.documentRoleDescription }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" v-show="ValidFunction('Edit',formId)" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small v-show="ValidFunction('Delete',formId)" @click="onDeleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem">
    </delete-confirmation-dialog>
  </div>
</template>
<script>
 import { isValidFunction } from "@/api/checkPermission";
  import { getDocumentRoles, getDocumentRole, createDocumentRole, updateDocumentRole, deleteDocumentRole } from '@/api/documentRole';
  import GlobalMessage from '@/constant'
  export default {
    data: () => ({
       formId: "MAS9007",
      dialog: false,
      loader: false,
      search: '',
      statusOptions: [
        { text: 'Active', value: 1 },
        { text: 'InActive', value: 2 }
      ],
      snackbar: false,
      snackbarMessage: '',
      timeout: 2000,
      y: 'top',
      headers: [
        { text: 'Document Role Name', value: 'documentRoleName', align: 'left' },
        { text: 'Document Role Description', value: 'documentRoleDescription', align: 'left' },
        { text: 'Status', value: 'statusCode', align: 'left' },
        { text: 'Added By', value: 'addedByUser', align: 'left' },
        { text: 'Modified By', value: 'modifiedByUser', align: 'left' },
        { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
        { text: 'Actions', value: 'name', sortable: false, align: 'left' }
      ],
      
      json_fields: {
        'Document Role Name': 'documentRoleName',
        'Document Role Description': 'documentRoleDescription',
        'Status': 'statusCode',
        'Added By': 'addedByUser',
        'Modified By': 'modifiedByUser',
        'Modified Date': 'modifiedDate'
      },
      gridItems: [],
      editedIndex: -1,
      selectedItem: null,
      editedItem: {
        valid: false,
        documentRoleID: -1,
        documentRoleName: '',
        documentRoleDescription: '',
        nameRules: [v => !!v || 'Name is required'],
        addedByUserId: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserId: null,
        modifiedDate: new Date()
      },
      defaultItem: {
        valid: false,
        documentRoleID: -1,
        documentRoleName: '',
        documentRoleDescription: '',
        nameRules: [v => !!v || 'Name is required'],
        addedByUserId: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserId: null,
        modifiedDate: new Date()
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },

    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Document Role' : 'Edit Document Role';
      }
    },



    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        this.loader = true;
        getDocumentRoles('')
          .then(response => {
            this.gridItems = response.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);

        this.dialog = true;
      },
      onDeleteItem (item) {

        this.$refs.deleteConfirmationDialog.openDialog();
        this.selectedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.gridItems.indexOf(this.selectedItem);
        deleteDocumentRole(this.selectedItem)
          .then(response => {
            this.loader = false;
            if(response!=undefined)
            {
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },

      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {

        getDocumentRole(this.searchItem)
          .then(response => {

            if (response.data.documentRoleID != null) {

              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.documentRoleID).indexOf(response.data.documentRoleID)
              this.editedIndex = index;

            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No more record to view');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.documentRoleID;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.documentRoleID;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.documentRoleID;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.documentRoleID;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      },
      deleterow () {
        if (this.editedIndex != -1) {
          this.$refs.formdeleteConfirmationDialog.openDialog();
        }

      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedIndex;
        console.log(this.editedItem);
      
        deleteDocumentRole(this.editedItem.documentRoleID)
          .then(response => {
              this.add();
              this.gridItems.splice(index, 1);
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE)
          })
          .catch(error => {
            //this.loader = false;
          });
      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updateDocumentRole(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                setTimeout(() => {
                  this.initialize();
                  }, 300);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          } else {
            this.editedItem.documentRoleID = parseInt(Math.random() * 100) + 1024; // mock a id
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            
            createDocumentRole(this.editedItem)
              .then(response => {
                if (response.data != undefined) {
                  this.gridItems.push(response.data);
                  this.loader = false;
                  this.editedItem = response.data;
                  let index = this.gridItems.map(item => item.documentRoleID).indexOf(response.data.documentRoleID)
                  this.editedIndex = index;
                  window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                  setTimeout(() => {
                  this.initialize();
                  }, 300);
                }
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          //this.close();
        }
      },

      ValidFunction(permissionCode) {
        return isValidFunction(permissionCode, this.formId, this.$store);
      }
    }
  };
</script>