<template >
  <v-tabs color="transparent" v-model="selectedTab">
    <v-tabs-slider color="primary"></v-tabs-slider>
    <v-tab key="tab1">
      <v-icon>tune</v-icon>
    </v-tab>
    <v-tab key="tab2">
      <v-icon>message</v-icon>
    </v-tab>
    <v-tabs-items>
      <v-tab-item key="tab1">
        <v-card flat>
          <v-card-text>
            <div>
              <v-card>
                <v-toolbar flat color="white">
                  <v-autocomplete
                    hint="Atleast 3 Characters required"
                    chips
                    flat
                    :items="roleItems"
                    v-model="roleID"
                    prepend-icon="assistant"
                    label="Role"
                    item-text="roleName"
                    item-value="roleID"
                    @change="roleSelect"
                  ></v-autocomplete>
                  <v-text-field
                    v-model="search"
                    prepend-icon="search"
                    label="Search"
                    clearable
                    single-line
                    hide-details
                  ></v-text-field>
                  <v-btn :disabled="roleID==null" @click.native="save">
                    <v-icon>save</v-icon>
                  </v-btn>
                </v-toolbar>
                <app-section-loader :status="loader"></app-section-loader>
                <v-card-title>
                  <span class="headline">Permission Details</span>
                </v-card-title>
                <v-card-text>
                  <v-treeview
                    :items="applicationPermissions"
                    :search="search"
                    selectable
                    v-model="selectedPermissions"
                  ></v-treeview>
                </v-card-text>
              </v-card>
             
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item key="tab2">
        <v-card flat>
          <v-card-text>
            <div>
              <v-card>
                <v-toolbar flat color="white">
                  <v-autocomplete
                    hint="Atleast 3 Characters required"
                    chips
                    flat
                    :items="roleItems1"
                    v-model="roleId"
                    prepend-icon="assistant"
                    label="Role"
                    item-text="roleName"
                    item-value="roleID"
                    @change="roleSelect"
                  ></v-autocomplete>

                  <v-autocomplete
                    hint="Atleast 3 Characters required"
                    chips
                    flat
                    :items="applicationFormItems"
                    v-model="applicationFormId"
                    prepend-icon="assistant"
                    label="Application Form"
                    item-text="name"
                    item-value="formID"
                    @change="roleSelect"
                  ></v-autocomplete>

                  <v-btn @click.native="formFieldSearch">Search</v-btn>
                </v-toolbar>
                <app-section-loader :status="loader"></app-section-loader>
                <v-card-title>
                  <span class="headline">Permission Details</span>
                </v-card-title>

                <v-card-text>
                  <div>
                    <v-toolbar flat color="white">
                      <v-text-field
                        v-model="search"
                        prepend-icon="search"
                        label="Search"
                        single-line
                        hide-details
                      ></v-text-field>
                      <v-spacer></v-spacer>
                      <v-btn icon @click="initialize">
                        <v-icon>refresh</v-icon>
                      </v-btn>
                      <v-dialog v-model="dialog" width="700px">
                        <v-btn slot="activator" icon @click.native="add()">
                          <v-icon>add_circle_outline</v-icon>
                        </v-btn>

                        <v-card>
                          <v-toolbar card dense color="primary">
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                              </v-btn>
                              <span>Go Back</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="saveAndClose">
                                <v-icon color="white">library_add</v-icon>
                              </v-btn>
                              <span>Save and Close</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="save">
                                <v-icon color="white">save</v-icon>
                              </v-btn>
                              <span>Save</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="add">
                                <v-icon color="white">add</v-icon>
                              </v-btn>
                              <span>Create New Permission Form Fields</span>
                            </v-tooltip>
                          
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="first">
                                <v-icon color="white">first_page</v-icon>
                              </v-btn>
                              <span>First</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="previous">
                                <v-icon color="white">keyboard_arrow_left</v-icon>
                              </v-btn>
                              <span>Previous</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="next">
                                <v-icon color="white">keyboard_arrow_right</v-icon>
                              </v-btn>
                              <span>Next</span>
                            </v-tooltip>
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="last">
                                <v-icon color="white">last_page</v-icon>
                              </v-btn>
                              <span>Last</span>
                            </v-tooltip>
                            <v-spacer></v-spacer>
                            <v-tooltip bottom>
                              <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                              </v-btn>
                              <span>close</span>
                            </v-tooltip>

                          </v-toolbar>
                          <vue-perfect-scrollbar>
                            <v-card-title>
                              <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                                <v-container grid-list-md>
                                  <v-layout wrap>
                                    <v-flex xs12 sm6>
                                      <v-text-field
                                        v-model="editedItem.columnName"
                                        label="Column Name"
                                        prepend-icon="description"
                                        
                                      ></v-text-field>
                                    </v-flex>

                                    <v-flex xs12 sm6>
                                      <v-text-field
                                        v-model="editedItem.displayName"
                                        label="Display Name"
                                        prepend-icon="description"
                                       
                                      ></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isReadOnly"
                                        label="ReadOnly"
                                      ></v-checkbox>
                                    </v-flex>
                                    <v-flex xs12 sm6>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isVisible"
                                        label="Visible"
                                      ></v-checkbox>
                                    </v-flex>
                                     <v-flex xs12 sm6>
                                      <v-checkbox
                                        color="primary"
                                        v-model="editedItem.isValueFilter"
                                        label="Value Filter"
                                      ></v-checkbox>
                                    </v-flex>

                                     <v-flex xs12 sm6>
                                      <v-text-field
                                        v-model="editedItem.fieldValue"
                                        label="Field Value"
                                        prepend-icon="description"
                                      ></v-text-field>
                                    </v-flex>

                                  </v-layout>
                                </v-container>
                              </v-form>
                            </v-card-text>
                          </vue-perfect-scrollbar>
                          <delete-confirmation-dialog
                            ref="formdeleteConfirmationDialog"
                            heading="Are You Sure You Want To Delete?"
                            message="Are You Sure You Want To Delete This Item Permanently?"
                            @onConfirm="formDeleteItem"
                          ></delete-confirmation-dialog>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                              outline
                              color="primary"
                              slot="activator"
                              @click.native="saveformfields"
                            >save</v-btn>
                            <v-btn
                              outline
                              color="primary"
                              slot="activator"
                              @click.native="close"
                            >Close</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-toolbar>
                    <app-section-loader :status="loader"></app-section-loader>
                    <v-data-table
                      :headers="headers"
                      :items="gridItems"
                      :search="search"
                      class="elevation-1"                   
                    >
                      <template slot="items" slot-scope="props">
                        <!--  <td class="text-xs-left">{{ props.item.unitConversionId }}</td> -->
                        <td class="text-xs-left">{{ props.item.columnName }}</td>
                        <td class="text-xs-left">{{ props.item.displayName }}</td>
                        <td class="text-xs-left">{{ props.item.isReadOnly }}</td>
                        <td class="text-xs-left">{{ props.item.isVisible }}</td>
                        <td class="text-xs-left">{{ props.item.isValueFilter }}</td>
                        <td class="text-xs-left">{{ props.item.fieldValue }}</td>
                        <td class="text-xs-left">{{ props.item.statusCodeID ==1 ?"Active" :"InActive" }}</td>
                        <td class="justify-center layout px-0">
                          <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                          <!-- <v-icon small @click="onDeleteItem(props.item)">delete</v-icon> -->
                        </td>
                      </template>
                      <template slot="no-data">
                        <v-btn
                          color="primary"
                          outline
                          @click="initialize"
                        >Record not exist.Refresh again in while time.</v-btn>
                      </template>
                    </v-data-table>
                    <v-snackbar
                      :top="y === 'top'"
                      :timeout="timeout"
                      v-model="snackbar"
                    >{{ snackbarMessage }}</v-snackbar>
                    <delete-confirmation-dialog
                      ref="deleteConfirmationDialog"
                      heading="Are You Sure You Want To Delete?"
                      message="Are You Sure You Want To Delete This Item Permanently?"
                      @onConfirm="deleteItem"
                    ></delete-confirmation-dialog>
                  </div>
                </v-card-text>
              </v-card>
            </div>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
</template>

<script>
import {
  getApplicationPermissions,
  getApplicationRoles,
  insertApplicationRolePermissions
} from "@/api/appRolePermission";
import {getApplicationForm,getApplicationFormFieldSearch,updateApplicationFormField,createApplicationFormField,getApplicationFormField } from "@/api/applicationFormFields";

import GlobalMessage from "@/constant";
export default {
  data: () => ({
    dialog: false,
    loader: false,
    search: "",
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    roleItems: [],
    roleItems1: [],
    applicationFormItems: [],
    treeItems: [],
    applicationPermissions: [],
    selectedPermissions: [],
    roleID: -1,
    
    editedIndex:-1,
    insertData: {
      id: null,
      ids: [],
      applicationPermissionModels: []
    },
    appRoleId:0,
    applFormID:0,
    applicationFormFieldPermissionId:0,

    headers: [
      // {text:"Unit ConversionID",value:"unitConversionId", align: "left" },
      { text: "Column Name", value: "columnName", align: "left" },
      {
        text: "Display Name",
        value: "displayName",
        align: "left"
      },
      {
        text: "ReadOnly",
        value: "isReadOnly",
        align: "left"
      },
      { text: "Visible", value: "isVisible", align: "left" },
      { text: "Value Filter", value: "isValueFilter", align: "left" },
      { text: "Field Value", value: "fieldValue", align: "left" },   
       { text: 'Status', value: 'statusCodeID', align: 'left' },
      { text: "Action", value: "Action", align: "left" }
    ],
    gridItems: [],

    editedItem: {
      roleId:-1,
      // appRoleId:0,
       applicationFormFieldPermissionId:0,

       columnName:"",
       displayName:"",
       isReadOnly:false,
       isVisible:false,
       isValueFilter:false,
       fieldValue:"",
       applicationFormFieldId:0,
      //formID:-1,
     // applicationFormId:-1,
       statusCodeID: 1,
      valid: false,
      editedIndex:-1,
      addedByUserID: null,
      addedDate: new Date(),     
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      editedIndex:-1,
      roleId:-1,
     // appRoleId:0,
      applicationFormFieldPermissionId:0,
      applicationFormFieldId:0,
      //formID:-1,
      statusCodeID: -1,
     // applicationFormId:-1,
      addedByUserID: null,
      addedDate: new Date(),     
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Application Role Permission"
        : "Edit Application Role Permission";
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.loader = true;
      getApplicationRoles("")
        .then(response => {
          this.roleItems = response.data;
          this.roleItems1 = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationForm("")
        .then(response1 => {
          this.applicationFormItems = response1.data;

          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

        

      this.onLoadApplicationPermission(0);
    },

    onLoadApplicationPermission(value) {
      getApplicationPermissions(value)
        .then(response => {
          if (response.data == undefined) {
            this.applicationPermissions = [];
            this.selectedPermissions = [];
            return;
          }
          this.applicationPermissions =
            response.data.applicationPermissionTreeItems;
          this.treeItems = response.data.applicationPermissionModels;
          this.selectedPermissions = response.data.selectedIds;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    roleSelect(value) {
      this.applicationPermissions = [];
      this.selectedPermissions = [];
      this.onLoadApplicationPermission(value);
    },

    save() {
      if (this.roleID == null) {
        return;
      }
      this.loader = true;
      this.insertData.id = this.roleID;
      this.insertData.ids = this.selectedPermissions;
      this.insertData.applicationPermissionModels = this.treeItems;
      insertApplicationRolePermissions(this.insertData)
        .then(response => {
          this.loader = false;
          if (response.data == true) {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          } else {
            window.getApp.$emit("APP_API_ERROR", "Permission save failed");
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

   // save1

     saveformfields () {
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        this.editedItem.roleId=this.appRoleId;
        this.editedItem.applicationFormId=this.applFormID;
        //alert(""+this.editedItem.applicationFormId +"  "+this.editedItem.roleId);
        
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateApplicationFormField(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        } else {
          this.editedItem.ApplicationFormFieldId = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.statusCodeID = 1;
          createApplicationFormField(this.editedItem)
            .then(response => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem = response.data;
                let index = this.gridItems.map(item => item.ApplicationFormFieldId).indexOf(response.data.ApplicationFormFieldId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
        //this.close();
      }

    
    },

    formFieldSearch()
    {
      this.gridItems=[];
      this.appRoleId=this.roleId;
      this.applFormID=this.applicationFormId;
      this.editedItem.applicationFormId=this.applicationFormId;
      this.editedItem.roleId=this.roleId;

      getApplicationFormFieldSearch(this.editedItem.roleId,this.editedItem.applicationFormId)       
        .then(response2 => {
          this.gridItems = response2.data;
          console.log(response2.data);

          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
         

      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
     
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getApplicationFormField(this.searchItem)
        .then(response => {
          if (response.data.applicationFormFieldId != null) {
            console.log(this.editedItem);

            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.applicationFormFieldId)
              .indexOf(response.data.applicationFormFieldId);
            this.editedIndex = index;
            console.log(this.editedIndex);
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.applicationFormFieldId;
      console.log("hai   "+this.editedItem.applicationFormFieldId);
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.applicationFormFieldId;
      //this.selectedItem.searchString = 'last';
        console.log("hai   "+this.editedItem.applicationFormFieldId);
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.applicationFormFieldId;
      //this.selectedItem.searchString = 'previous';
       console.log("hai   "+this.editedItem.applicationFormFieldId);
      this.toolfunction();
      
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.applicationFormFieldId;
      // this.selectedItem.searchString = 'next';
       console.log("hai   "+this.editedItem.applicationFormFieldId);
      this.toolfunction();
       
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.columnName="";
      this.editedItem.displayName="";
      this.editedItem.isReadOnly=false;
      this.editedItem.isVisible=false;
      this.editedItem.isValueFilter=false;
      this.editedItem.fieldValue="";
      this.editedItem.roleId=this.appRoleId;
      this.editedItem.applicationFormId=this.applFormID;
      this.editedItem.applicationFormFieldPermissionId=0;

      this.roleId=this.appRoleId;
      this.applicationFormId =this.applFormID;


      this.editedItem.applicationFormFieldId=0;
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();     
      let index = this.editedIndex;

    
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    }
  }
};
</script>

<style>
</style>