<template>
  <div id="app">
    <v-app id="inspire">
      <div>
        <v-toolbar flat color="white">
          <v-text-field
            v-model="search"
            prepend-icon="search"
            label="Search"
            single-line
            clearable
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <download-excel
            class="btn btn-default"
            :data="gridItems"
            :fields="json_fields"
            worksheet="My Worksheet"
            type="csv"
            name="tasks.xls"
          >
            <v-btn icon v-show="ValidFunction('Download', formId)">
              <v-icon>cloud_download</v-icon>
            </v-btn>
          </download-excel>
          <v-dialog v-model="dialog" max-width="600px">
            <v-btn
              slot="activator"
              icon
              @click.native="add"
              v-show="ValidFunction('Add', formId)"
            >
              <v-icon>add_circle_outline</v-icon>
            </v-btn>

            <v-card>
              <v-toolbar card dense color="transparent">
                <v-btn icon @click.native="close">
                  <v-icon>reply</v-icon>
                </v-btn>

                <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                <v-btn
                  icon
                  @click.native="saveAndClose"
                  v-show="ValidFunction('Save', formId)"
                >
                  <v-icon>library_add</v-icon>
                </v-btn>

                <v-btn
                  icon
                  v-show="ValidFunction('Save', formId)"
                  @click.native="save"
                >
                  <v-icon>save</v-icon>
                </v-btn>
                <v-btn
                  icon
                  v-show="ValidFunction('Add', formId)"
                  @click.native="add"
                >
                  <v-icon>add</v-icon>
                </v-btn>
                <v-btn
                  icon
                  v-show="ValidFunction('Delete', formId)"
                  @click.native="deleterow"
                >
                  <v-icon>delete</v-icon>
                </v-btn>
                <v-btn icon @click.native="first">
                  <v-icon>first_page</v-icon>
                </v-btn>
                <v-btn icon @click.native="next">
                  <v-icon>keyboard_arrow_left</v-icon>
                </v-btn>
                <v-btn icon @click.native="previous">
                  <v-icon>keyboard_arrow_right</v-icon>
                </v-btn>
                <v-btn icon @click.native="last">
                  <v-icon>last_page</v-icon>
                </v-btn>

                <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
              </v-toolbar>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-form
                  v-model="editedItem.valid"
                  ref="roleform"
                  lazy-validation
                >
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm12>
                        <v-text-field
                          v-model="editedItem.roleName"
                          label="Role Name"
                          :rules="nameRules"
                          required
                          prepend-icon="select_all"
                          ref="RoleName"
                          v-if="getField('RoleName', 'visible')"
                          :disabled="getField('RoleName', 'readOnly')"
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm12>
                        <v-text-field
                          v-model="editedItem.roleDescription"
                          label=" Role Description"
                          prepend-icon="description"
                          ref="RoleDescription"
                          v-if="getField('RoleDescription', 'visible')"
                          :disabled="getField('RoleDescription', 'readOnly')"
                        >
                          <div slot="label">Role Description</div>
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-autocomplete
                          label="Status"
                          prepend-icon="notes"
                          v-model="editedItem.statusCodeID"
                          :items="statusOptions"
                          ref="StatusCodeId"
                          v-if="getField('StatusCodeID', 'visible')"
                          :disabled="getField('StatusCodeID', 'readOnly')"
                        ></v-autocomplete>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-form>
              </v-card-text>

             
              <delete-confirmation-dialog
                ref="formdeleteConfirmationDialog"
                heading="Are You Sure You Want To Delete?"
                message="Are You Sure You Want To Delete This Item Permanently?"
                @onConfirm="formDeleteItem"
              ></delete-confirmation-dialog>
            </v-card>
          </v-dialog>
          <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click="loadPagingData()"
              v-hotkey="loadPagingKey"
            >
              <v-icon icon>refresh</v-icon>
            </v-btn>
            <span>Refresh</span>
          </v-tooltip>
        </v-toolbar>
        <app-section-loader :status="loading"></app-section-loader>
        <v-data-table
          :headers="headers"
          :items="gridItems"
          :pagination.sync="pagination"
          :total-items="totalRows"
          :rows-per-page-items="rowsPerPageItems"
          :loading="loading"
          @update:pagination="onUpdatePagination"
          class="elevation-1"
        >
          <template slot="items" slot-scope="props">
            <td v-if="getTableField('RoleName')">{{ props.item.roleName }}</td>
            <td v-if="getTableField('RoleDescription')" class="text-xs-left">
              {{ props.item.roleDescription }}
            </td>
            <td v-if="getTableField('StatusCodeID')" class="text-xs-left">
              {{ props.item.statusCode }}
            </td>
            <td class="text-xs-left">{{ props.item.addedByUser }}</td>
            <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
            <td class="text-xs-left">
              {{ props.item.modifiedDate | formatDate }}
            </td>

            <td class="justify-center layout px-0">
              <v-icon
                small
                class="mr-2"
                @click="editItem(props.item)"
                v-show="ValidFunction('Edit', formId)"
                >edit</v-icon
              >
              <v-icon
                small
                @click="onDeleteItem(props.item)"
                v-show="ValidFunction('Delete', formId)"
                >delete</v-icon
              >
            </td>
          </template>
          <template slot="no-data">
            <v-btn color="primary" outline @click="loadPagingData"
              >Record not exist.Refresh again in while time.</v-btn
            >
          </template>
        </v-data-table>
        <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
          snackbarMessage
        }}</v-snackbar>
        <delete-confirmation-dialog
          ref="deleteConfirmationDialog"
          heading="Are You Sure You Want To Delete?"
          message="Are You Sure You Want To Delete This Item Permanently?"
          @onConfirm="deleteItem"
        ></delete-confirmation-dialog>
      </div>
    </v-app>
  </div>
</template>

<script>
import { getData } from "@/api/paggedapi";
import {
  getApplicationRole,
  createApplicationRole,
  updateApplicationRole,
  deleteApplicationRole,
} from "@/api/applicationRole";
import { getFormPermission } from "@/api/appRolePermission";
import GlobalMessage from "@/constant";
import search from "@/search";
import { isValidFunction } from "@/api/checkPermission";
export default {
  data() {
    return {
      formId: "MAS9002",
      totalRows: 0,
      dialog: false,
      gridItems: [],
      loading: true,
      pagination: { rowsPerPage: 10 },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      headers: [
        { text: "Role Name", value: "roleName", align: "left" },
        { text: "Role Description", value: "roleDescription", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Modified By", value: "modifiedByUser", align: "left" },
        { text: "Modified Date", value: "modifiedDate", align: "left" },
        { text: "Actions", value: "name", sortable: false, align: "left" },
      ],
      filterFields: [
        "RoleName",
        "RoleDescription",
        "AddedByUser.UserName",
        "StatusCode.CodeValue",
        "ModifiedByUser.UserName",
      ],
      search: "",
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 },
      ],
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      json_fields: {
        "Role Name": "roleName",
        "Role Description": "roleDescription",
        Status: "statusCode",
        "Added By": "addedByUser",
        "Modified By": "modifiedByUser",
        "Modified Date": "modifiedDate",
      },
      editedIndex: -1,
      selectedItem: null,
      editedItem: {
        valid: false,
        roleID: -1,
        roleName: "",
        roleDescription: "",
        nameRules: [(v) => !!v || "Name is required"],
        addedByUserId: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date(),
      },
      defaultItem: {
        valid: false,
        roleID: -1,
        roleName: "",
        roleDescription: "",
        nameRules: [(v) => !!v || "Name is required"],
        addedByUserId: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserId: null,
        modifiedDate: new Date(),
      },
      searchItem: { action: "", Id: null, searchString: "searchString" },
      formPermission: [],
    };
  },
  watch: {
    pagination: {
      handler() {
        //this.getDataFromApi(this.pagination.rowsPerPage);
      },
      deep: true,
    },
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Application Role"
        : "Edit Application Role";
    },
    nameRules() {
      return [(v) => !!v || "This is required field"];
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    this.getFieldPermission();
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page = 1;
      search.sortCol = this.pagination.sortBy;
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetRoles";

      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetRoles";
      console.log("Pagination", args);
      this.loading = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loading = false;
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getField(fieldName, type) {
      console.log(this.formPermission, fieldName, type);
      if (type == "readOnly") {
        var fieldValue = this.formPermission.filter(
          (f) => f.columnName == fieldName
        );
        if (
          fieldValue != undefined &&
          fieldValue != null &&
          fieldValue.length > 0
        ) {
          return fieldValue[0].isReadOnly;
        }
        return false;
      } else {
        var fieldValue = this.formPermission.filter(
          (f) => f.columnName == fieldName
        );
        if (
          fieldValue != undefined &&
          fieldValue != null &&
          fieldValue.length > 0
        ) {
          return fieldValue[0].isVisible;
        }
        return false;
      }
    },
    getTableField(fieldName) {
      var fieldValue = this.formPermission.filter(
        (f) => f.columnName == fieldName
      );
      if (
        fieldValue != undefined &&
        fieldValue != null &&
        fieldValue.length > 0
      ) {
        return fieldValue[0].isVisible;
      }
      return true;
    },
    showTableColumn() {
      this.formPermission.forEach((p) => {
        if (p.isVisible == false) {
          let column = this.headers.findIndex((f) =>
            f.value
              .toLowerCase()
              .trim()
              .includes(p.columnName.toLowerCase().trim())
          );
          if (column != null) {
            this.headers.splice(column, 1);
          }
        }
      });
    },
    getFieldPermission() {
      let userId = this.$store.state.auth.userId;
      getFormPermission(this.formId, userId)
        .then((response) => {
          this.formPermission = response.data;
          this.showTableColumn();
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);

      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteApplicationRole(this.selectedItem)
        .then((response) => {
          this.loader = false;
          if (response != undefined) {
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          //window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getApplicationRole(this.searchItem)
        .then((response) => {
          if (response.data.roleID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.roleID)
              .indexOf(response.data.roleID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.roleID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.roleID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.roleID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.roleID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.roleID = -1;
      this.editedItem.roleName = "";
      this.editedItem.nameRules = [(v) => !!v || "Name is required"];
      this.editedItem.roleDescription = "";
      this.editedItem.addedByUserId = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date();
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date();
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      deleteApplicationRole(this.editedItem)
        .then((response) => {
          //this.loader = false;
          //this.editedItem = null;
          if (response != undefined) {
            this.add();
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          //this.loader = false;
          //window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    close() {
      this.dialog = false;
      this.getDataFromApi(this.$store.state.auth.pageSize);
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save() {
      if (this.$refs.roleform.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          updateApplicationRole(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.roleID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserId = this.$store.state.auth.userId;
          this.editedItem.addedDate = new Date();
          this.editedItem.statusCodeID = 1;
          createApplicationRole(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem = response.data;
                let index = this.gridItems
                  .map((item) => item.roleID)
                  .indexOf(response.data.roleID);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
              }
            })
            .catch((error) => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        //this.close();
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    ValidFunction(permissionCode) {
      return isValidFunction(permissionCode, this.formId, this.$store);
    },
  },
};
</script>

<style></style>
