<template>
  <v-layout row wrap>
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="saveAndClose">
              <v-icon color="white">library_add</v-icon>
            </v-btn>
            <span>Save and Close</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="save">
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save </span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="add">
              <v-icon color="white">add</v-icon>
            </v-btn>
            <span>Create New Application Master</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="deleterow">
              <v-icon color="white">delete</v-icon>
            </v-btn>
            <span>Delete</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="first">
              <v-icon color="white">first_page</v-icon>
            </v-btn>
            <span>First</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="previous">
              <v-icon color="white">keyboard_arrow_left</v-icon>
            </v-btn>
            <span>Previous</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="next">
              <v-icon color="white">keyboard_arrow_right</v-icon>
            </v-btn>
            <span>Next</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="last">
              <v-icon color="white">last_page</v-icon>
            </v-btn>
            <span>Last</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator">
              <v-icon color="white" @click.native="close">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
          <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
        </v-toolbar>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-form v-model="editedItem.valid" ref="form" lazy-validation>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12>
                  <v-text-field
                    v-model="editedItem.value"
                    label="Name"
                    :rules="editedItem.nameRules"
                    required
                    prepend-icon="select_all"
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-text-field
                    v-model="editedItem.description"
                    label="Description"
                    required
                    prepend-icon="description"
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs12 sm12 v-if="editedItem.isApplyProfile">
                  <v-autocomplete
                    flat
                    :items="profileItems"
                    v-model="editedItem.profileId"
                    label="Profile"
                    chips
                    prepend-icon="fa-file-text"
                    item-value="profileId"
                    item-text="profileName"
                  ></v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12 v-if="editedItem.isApplyFileProfile">
                  <v-autocomplete
                    flat
                    :items="fileProfileTypes"
                    v-model="editedItem.fileProfileTypeId"
                    label="Filet Profile Type"
                    chips
                    prepend-icon="fa-file-text"
                    item-text="fileProfilePath"
                    item-value="fileProfileTypeId"
                  ></v-autocomplete>
                </v-flex>
              </v-layout>
            </v-container>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-flex lg12 sm12>
      <v-container grid-list-md>
        <v-layout wrap>
          <v-flex xs10 sm4>
            <v-autocomplete
              :loading="loader"
              label="Application Master"
              prepend-icon="notes"
              v-model="applicationmaster"
              :items="masterItems"
              item-text="applicationMasterName"
              item-value="applicationMasterId"
              @change="onSectionChange"
              chips
              flat
            >
            </v-autocomplete>
          </v-flex>
          <v-flex xs2 sm8>
            <v-btn
              class="pull-right"
              slot="activator"
              icon
              @click="addMaster"
              v-if="addNewdialog"
            >
              <v-icon>add_circle_outline</v-icon>
            </v-btn>
            <download-excel
              v-if="addNewdialog"
              class="btn btn-default"
              :data="gridItems"
              :fields="json_fields"
              worksheet="My Worksheet"
              type="csv"
              name="applicationmaster.xls"
            >
              <v-btn icon>
                <v-icon>cloud_download</v-icon>
              </v-btn>
            </download-excel>
          </v-flex>
        </v-layout>
      </v-container>
    </v-flex>
    <v-flex lg4 sm4>
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
    </v-flex>
    <v-flex lg12 sm12>
      <v-data-table
        :headers="headers"
        :items="gridItems"
        :search="search"
        class="elevation-1"
        default-sort="ApplicationAbbreviationID:desc"
        :rows-per-page-items="rowsPerPageItems"
        :pagination.sync="pagination"
      >
        >

        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.value }}</td>
          <td class="text-xs-left">{{ props.item.description }}</td>
          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)"> delete </v-icon>
          </td>
        </template>
        <template slot="no-data">
          <v-btn color="primary" outline @click="masterTypeList">
            Record not exist.Refresh again in while time.</v-btn
          >
        </template>
      </v-data-table>
    </v-flex>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </v-layout>
</template>
<script>
  import { createCodeMaster, getCodeMasterData, deleteCodeMaster, updateCodeMaster, getApplicationMasters, getApplicationMaster, getApplicationMasterDetailById, updateApplicationMasterDetail, createApplicationMaster, deleteApplicationMaster, getCodeMasterDetailByName } from '@/api/applicationMaster';
  import GlobalMessage from '@/constant'
  import { getDocumentProfileItems } from "@/api/documentProfile";
  import {
  getFileProfileTypeDetailsDropDown
} from "@/api/fileProfileType";
  export default {
    data: () => ({
      dialog: false,
      search: '',
      loader: false,
      masterItems: [],
      applicationmaster: null,
      selected: [],
      gridItems: [],
      addNewdialog: false,
      profileItems: [],
      fileProfileTypes:[],
      headers: [
        { text: 'Name', value: 'value', align: 'left' },
        { text: 'Description', value: 'description', align: 'left' },
        { text: 'Actions', value: 'action', sortable: false, align: 'left' }
      ],
      json_fields: {
        'Name': 'value',
        'Description': 'description'
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', masterTypeID: null },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      selectedItem: null,
      editedIndex: -1,
      applicationmasterName: '',
      fileProfileTypes:[],
      editedItem: {
        valid: false,
        applicationMaster: '',
        applicationMasterDetailId: -1,
        applicationMasterId: 0,
        description: '',
        value: '',
        nameRules: [v => !!v || 'Name is required'],
        profileId: null,
        fileProfileTypeId: null,
        isApplyProfile: false,
        isApplyFileProfile: false,
      },
      defaultItem: {
        valid: false,
        applicationMasterDetailId: -1,
        applicationMasterId: 0,
        description: '',
        applicationMaster: '',
        value: '',
        nameRules: [v => !!v || 'Name is required'],
        profileId: null,
        fileProfileTypeId: null,
        isApplyProfile: false,
        isApplyFileProfile: false,
      },
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Application Master' : 'Edit Application Master';
      }
    },
    methods: {
      initialize () {
        getApplicationMaster('')
          .then(response => {
            this.masterItems = response.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getDocumentProfileItems("")
          .then(response => {
            this.profileItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
           this.loader = true;
           var userId=this.$store.state.auth.userId;
      getFileProfileTypeDetailsDropDown(userId)
        .then((response) => {
          this.loader = false;
          this.fileProfileTypes = response.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      },
      onSectionChange (value) {
        this.onGetItems(value);
      },
      masterTypeList () {

        this.onGetItems(this.applicationmaster);
      },
      onGetItems (value) {
        this.gridItems = [];
        this.loader = true;
        this.addNewdialog = false;
        if (value) {
          this.addNewdialog = true;
          this.applicationmasterName = '';
          let list = this.masterItems.filter(o => o.applicationMasterId == value);
          if (list.length > 0 && list[0]['applicationMasterName'] == "Registration Reference") {
            this.applicationmasterName = list[0]['applicationMasterName'];
            getCodeMasterDetailByName('Registration Status')
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {

            getApplicationMasterDetailById(value)
              .then(response => {
                this.gridItems = response.data;
                this.loader = false;
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
        else {
          this.loader = false;
        }
      },
      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);

        this.dialog = true;
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.applicationMasterDetailId > -1) {
          if (this.applicationmasterName == 'Registration Reference') {
            this.loader = true;
            let index = this.gridItems.indexOf(this.editedItem);
            // console.log(this.selectedItem);
            deleteCodeMaster(this.editedItem)
              .then(() => {
                this.loader = false;
                this.selectedItem = null;
                this.gridItems.splice(index, 1);
                this.add();
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            this.loader = true;
            let index = this.gridItems.indexOf(this.editedItem);
            // console.log(this.selectedItem);
            deleteApplicationMaster(this.editedItem)
              .then(() => {
                this.loader = false;
                this.selectedItem = null;
                this.gridItems.splice(index, 1);
                this.add();
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
      close () {
        this.dialog = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      toolfunction () {
        this.searchItem.masterTypeID = this.editedItem.applicationMasterDetailId;

        if (this.applicationmasterName == 'Registration Reference') {
          getCodeMasterData(this.searchItem)
            .then(response => {

              if (response.data.applicationMasterDetailId != null) {

                this.editedItem = response.data;
                let index = this.gridItems.map(item => item.applicationMasterDetailId).indexOf(response.data.applicationMasterDetailId)
                this.editedIndex = index;

              }
              else {
                window.getApp.$emit('APP_API_SUCCESS', 'No More Record to View');
              }
            })
            .catch(error => {
              // this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
        else {
          getApplicationMasters(this.searchItem)
            .then(response => {

              if (response.data.applicationMasterDetailId != null) {

                this.editedItem = response.data;
                let index = this.gridItems.map(item => item.applicationMasterDetailId).indexOf(response.data.applicationMasterDetailId)
                this.editedIndex = index;

              }
              else {
                window.getApp.$emit('APP_API_SUCCESS', 'No More Record to View');
              }

            })
            .catch(error => {
              // this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.applicationMasterDetailId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.applicationMasterDetailId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.applicationMasterDetailId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.applicationMasterDetailId;
        this.toolfunction();
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      addMaster () {
        this.add();
        this.dialog = true;
      },
      add () {
        this.editedItem = this.defaultItem;
        this.editedIndex = -1;
        this.editedItem.applicationMasterId = this.applicationmaster;
        this.editedItem.valid = false;
        this.editedItem.isApplyProfile = false;
        this.editedItem.isApplyFileProfile = false;
        this.editedItem.profileId = null;
        this.editedItem.fileProfileTypeId = null;
        let list = this.masterItems.filter(o => o.applicationMasterId == this.editedItem.applicationMasterId);
        if (list.length > 0) {
          this.editedItem.isApplyProfile = list[0]['isApplyProfile']
          this.editedItem.isApplyFileProfile = list[0]['isApplyFileProfile'];
        }
        this.editedItem.applicationMasterDetailId = -1;
        this.editedItem.description = '';
        this.editedItem.value = '';
        this.editedItem.applicationMaster = '';
        this.editedItem.profileId = null;
      },
      save () {
        console.log(this.applicationmasterName);
        if (this.$refs.form.validate()) {
          if (this.applicationmasterName == 'Registration Reference') {
            this.savecodemaster();
          } else {
            this.loader = true;
            let index = this.editedIndex;
            if (this.editedIndex > -1) {
              Object.assign(this.gridItems[this.editedIndex], this.editedItem);
              updateApplicationMasterDetail(this.editedItem)
                .then(response => {
                  Object.assign(this.gridItems[index], response.data);
                  this.loader = false;
                  window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit('APP_API_ERROR', error);
                });
            }
            else {
              createApplicationMaster(this.editedItem)
                .then(response => {
                  this.gridItems.push(response.data);
                  this.loader = false;
                  this.editedItem = response.data;
                  let index = this.gridItems.map(item => item.applicationMasterDetailId).indexOf(response.data.applicationMasterDetailId)
                  this.editedIndex = index;
                  window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                  this.initialize();
                })
                .catch(error => {
                  this.loader = false;
                  window.getApp.$emit('APP_API_ERROR', error);
                });
            }
          }
        }
      },
      savecodemaster () {
        if (this.$refs.form.validate()) {
          this.editedItem.applicationMaster = 'Registration Status';
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            updateCodeMaster(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
          else {
            createCodeMaster(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem = response.data;
                let index = this.gridItems.map(item => item.applicationMasterDetailId).indexOf(response.data.applicationMasterDetailId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
                this.initialize();
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      }
    },
  }
</script>
