<template>
  <div>
    <v-toolbar
      flat
      color="white"
    >
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        clearable
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-dialog
        v-model="dialog"
        fullscreen
      >
        <v-btn
          slot="activator"
          icon
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
        <v-toolbar
            card
            dense
            color="primary"
          >
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="close"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
           <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="saveAndClose"
            >
              <v-icon color="white">library_add</v-icon>
            </v-btn>
             <span>Save and Close</span>
            </v-tooltip>
           <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="save"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="add"
            >
              <v-icon color="white">add</v-icon>
            </v-btn>
            <span>Create New User Details</span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="deleterow"
            >
              <v-icon color="white">delete</v-icon>
            </v-btn>
            <span>Delete</span>
            </v-tooltip>
                    
             <v-spacer></v-spacer>
            <v-tooltip bottom>
            <v-btn
              icon
              slot="activator"
              @click.native="close"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-form
              v-model="editedItem.valid"
              ref="form"
              lazy-validation
            >
              <v-container grid-list-md>
                <v-layout wrap>
                  
                  <v-flex xs12 sm6>
                      <v-autocomplete 
                        label="Company" 
                        :loading="zoneloader" 
                        prepend-icon="location_city" 
                        v-model="editedItem.companyID" 
                        :items="companyItems" 
                        chips 
                        auto 
                        item-text="description" 
                        item-value="plantID" 
                        @change="companySelect"
                      >
                      </v-autocomplete>
                    </v-flex>
                    <v-flex
                      xs12
                      sm6
                    >
                    <v-text-field
                      v-model="editedItem.sageID"
                      label="Sage ID"
                      prepend-icon="account_box"
                    ></v-text-field>
                  </v-flex>

                  <v-flex
                    xs12
                    sm6
                  >
                  <v-autocomplete
                      v-model="editedItem.typeOfEmployeement"
                      label="Type"                   
                      prepend-icon="ac_unit"
                      :items="typeItems"
                      flat
                      chips
                      auto
                    
                    >
                    </v-autocomplete>
                   
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                  <v-autocomplete
                      hint="Atleast 3 Characters required"
                      v-model="editedItem.designationID"
                      label="Designation"                   
                      prepend-icon="grade"
                      :items="designationItems"
                      flat
                      chips
                      auto
                      placeholder="Select only suggested Designation"
                      color="blue"
                      item-text="name"
                      item-value="designationID"
                    
                    >
                    </v-autocomplete>
                   
                  </v-flex>
                   <v-flex xs12 sm6>
                        <v-autocomplete                    
                            hint="Atleast 3 Characters required"                      
                            :loading="loader"
                            chips                      
                            flat
                            placeholder="Select only suggested Department"
                            :items="departmentItems"
                            v-model="editedItem.departmentID"
                            prepend-icon="location_city"
                            label="Department"
                            color="blue"
                            item-text="name"
                            item-value="departmentId"
                    ></v-autocomplete>
                      
                    </v-flex>
                    <v-flex
                    xs12
                    sm6
                  >
                  <v-autocomplete
                      hint="Atleast 3 Characters required"
                      v-model="editedItem.sectionID"
                      label="Section"                   
                      prepend-icon="view_agenda"
                      :items="sectionItems"
                      flat
                      chips
                      auto
                      placeholder="Select only suggested Section"
                      color="blue"
                      item-text="name"
                      item-value="sectionID"
                    
                    >
                    </v-autocomplete>
                   
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                   <v-autocomplete
                      hint="Atleast 3 Characters required"
                      v-model="editedItem.subSectionID"
                      label="Sub Section"                   
                      prepend-icon="view_carousel"
                      :items="subSectionItems"
                      flat
                      chips
                      auto
                      placeholder="Select only suggested Sub Section"
                      color="blue"
                      item-text="name"
                      item-value="subSectionID"
                    
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                   <v-autocomplete 
                    label="Site" 
                    :loading="siteloader" 
                    prepend-icon="location_on" 
                    v-model="editedItem.parentICTID" 
                    :items="filteredsite" 
                    chips auto item-text="name" 
                    item-value="ictMasterID">
                  </v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                   <v-autocomplete
                      hint="Atleast 3 Characters required"
                      v-model="editedItem.cityID"
                      label="City"                   
                      prepend-icon="location_city"
                      :items="cityItems"
                      flat
                      chips
                      auto
                      placeholder="Select only suggested City"
                      color="blue"
                      item-text="name"
                      item-value="cityID"
                    
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                   <v-autocomplete
                      hint="Atleast 3 Characters required"
                      v-model="editedItem.languageID"
                      label="Language"                   
                      prepend-icon="language"
                      :items="languageItems"
                      flat
                      chips
                      auto
                      placeholder="Select only suggested Language"
                      color="blue"
                      item-text="name"
                      item-value="languageID"
                    
                    >
                    </v-autocomplete>
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                  <v-text-field
                    v-model="editedItem.email"
                    label="Email"
                    prepend-icon="email"
                    :rules="emailRules"
                  ></v-text-field>
                   
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                  <v-text-field
                    v-model="editedItem.extension"
                    label="Extension"
                    prepend-icon="local_phone"
                  ></v-text-field>
                   
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                  <v-text-field
                    v-model="editedItem.speedDial"
                    label="Speed Dial"
                    prepend-icon="phone_bluetooth_speaker"
                  ></v-text-field>
                   
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                  <v-text-field
                    v-model="editedItem.contactNo"
                    label="Contact Number"
                    prepend-icon="phone"
                  ></v-text-field>
                   
                  </v-flex>
                  <v-flex
                    xs12
                    sm6
                  >
                  <v-text-field
                    v-model="editedItem.skypeAddress"
                    label="Skype Address"
                    prepend-icon="voicemail"
                  ></v-text-field>
                   
                  </v-flex>
                  
                  <v-flex
                      xs12
                      sm6
                    >
                      <v-menu
                        menu-props="closeOnContentClick"
                        v-model="startmenu"
                        full-width
                        min-width="290"
                      >

                        <v-text-field
                          slot="activator"
                          :value="startDateFormated"
                          label="Start Date"
                          prepend-icon="event"
                          clearable
                                 
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.dateOfEmployeement"
                          @change="startDateChange"
                          :min="minDate"
                        ></v-date-picker>

                      </v-menu>
                    </v-flex>
                    <v-flex
                      xs12
                      sm6
                    >
                      <v-menu
                        menu-props="closeOnContentClick"
                        v-model="endmenu"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="endDateFormated"
                          label="End Date"
                          prepend-icon="event"
                           clearable
                         
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.lastWorkingDate"
                          @change="endDateChange()"
                          :min="editedItem.dateOfEmployeement"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>

                  <v-flex
                    xs12
                    sm6
                    md6
                  >
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                    >
                    </v-autocomplete>
                  </v-flex>

                  
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
           <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          >
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="userID:desc"
        :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template
        slot="items"
        slot-scope="props"
      >

        <td>{{ props.item.sageID }}</td>
        <td class="text-xs-left">{{ props.item.designationName }}</td>
        <td class="text-xs-left">{{ props.item.email }}</td>  
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
        <td class="text-xs-left">{{ props.item.modifiedDate | formatDate }}</td>
        <td class="text-xs-left">{{ props.item.statusCode }}</td>

        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="onDeleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        > Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar
      :top="y === 'top'"
      :timeout="timeout"
      v-model="snackbar"
    >
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import { getEmployees, deleteEmployee, 
          getPlants, 
          getDepartments, getDesignations, getSections, getSubSections, getCityMasters,
          getLanguageMasters  } from '@/api/employee';

import GlobalMessage from '@/constant';
import moment from 'moment';
export default {
  data: () => ({
    dialog: false,
    siteloader: false,
    zoneloader: false,
    startmenu: false,
    endmenu: false,
    loader: false,
    search: '',
    statusOptions: [
      { text: 'Active', value: 1 },
      { text: 'InActive', value: 2 }
    ],
   
    snackbar: false,
    snackbarMessage: '',
    timeout: 2000,
    y: 'top',
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    headers: [

      { text: 'Sage ID', value: 'sageID', align: 'left' },
     
      { text: 'Designation', value: 'designationName', align: 'left' },
      { text: 'Email', value: 'email', align: 'left' },
      { text: 'Modified By', value: 'modifiedByUserId', align: 'left' },
      { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
      { text: 'Status', value: 'statusCode', align: 'left' },
      { text: 'Actions', value: 'name', sortable: false, align: 'left' }
    ],
    gridItems: [],
    filteredsite: [],
    companyItems: [],
    roleItems: [],
    userGroupItems: [],
    typeItems: [
      { text: "Permanent" , value: "1" },
      { text: "Contract" , value: "2"}
      ],
    designationItems: [],
    departmentItems: [],
    sectionItems: [],
    subSectionItems: [],
    siteItems: [
      { text: "Johor Bahru" , value: "1"},
      { text: "Kuala Lumphur" , value: "2" },
      ],
    cityItems: [],
    languageItems: [],

    reportToDesignationItems: [],
    editedIndex: -1,
    emailRules: [ 
        v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
      ],
    selectedItem: null,
    
    editedItem: {
      valid: false,
      companyID: null,
      plantID: null,
      sageID: null,
      typeOfEmployeement: 0,
      designationID: null,
      designationName: '',
      departmentID: null,
      departmentName: '',
      sectionID: null,
      sectionName: '',
      subSectionID: null,
      subSectionName: '',
      parentICTID: null,

      site: 1,
      cityID: null,
      cityName: '',
      languageID: null,
      languageName: '',
      reportToDesignID: null,
      reportToDesignName: '',
      email: '',
      extension: '',
      speedDial: '',
      contactNo: '',
      skypeAddress: '',
      signature: '',
      dateOfEmployeement: new Date().toISOString().substr(0, 10),
      lastWorkingDate: new Date().toISOString().substr(0, 10),
      
      //Permission Screen
      roleID: null,
      userGroupID: null,
      loginID: '',
      password: '',

      //Report To
      reportID: '',

      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),

    },
    defaultItem: {
      valid: false,
      companyID: null,
      plantID: null,
      sageID: null,
      typeOfEmployeement: 0,
      designationID: null,
      designationName: '',
      departmentID: null,
      departmentName: '',
      sectionID: null,
      sectionName: '',
      subSectionID: null,
      subSectionName: '',
      userID: -1,
      parentICTID: null,
    
      site: 1,
      cityID: null,
      cityName: '',
      languageID: null,
      languageName: '',
      reportToDesignID: null,
      reportToDesignName: '',
      email: '',
      extension: '',
      speedDial: '',
      contactNo: '',
      skypeAddress: '',
      signature: '',
      dateOfEmployeement: new Date().toISOString().substr(0, 10),
      lastWorkingDate: new Date().toISOString().substr(0, 10),
      
      //Permission Screen
      roleID: null,
      userGroupID: null,
      loginID: '',
      password: '',

      //Report To
      reportID: '',

      addedByUserId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserId: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
   
    },
    searchItem: { action: '', Id: null, searchString: 'searchString', },
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Add Application User lines' : 'Edit Application User lines';
    },
    minDate () {
      const today = new Date();
      return this.formatDate(today);
    },
    startDateFormated () {
      return this.editedItem.dateOfEmployeement ? moment(this.editedItem.dateOfEmployeement).format(GlobalMessage.DATEFORMAT) : ''
    },
    endDateFormated () {
      return this.editedItem.lastWorkingDate ? moment(this.editedItem.lastWorkingDate).format(GlobalMessage.DATEFORMAT) : ''
    }
  },

  watch: {
    dialog (val) {
      val || this.close();
    }
  },

  created () {
    this.initialize();
  },

  methods: {
    initialize () {
      this.loader = true;
      this.zoneloader = true;

    getEmployees('')
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    getPlants('')
          .then(response => {
            if (response.data != undefined) {
              this.companyItems = response.data;
              let uom = this.companyItems.filter(o => o.statusCodeID == 1);

              this.companyItems = uom;
              this.zoneloader = false;
            }            
          })
          .catch(error => {
            this.zoneloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
    getDesignations('')
            .then(response3 => {
            this.designationItems = response3.data;
            this.loader = false;
            })
            .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
            });
    getDepartments('')
            .then(response2 => {
            this.departmentItems = response2.data;
            this.loader = false;
            // alert('departmentID:-'+JSON.stringify(this.departmentItems));
            //this.total = response.data.length;
            })
            .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
            });

    getSections('')
            .then(response4 => {
            this.sectionItems = response4.data;
            this.loader = false;
            })
            .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
            });
        
    getSubSections('')
            .then(response5 => {
            this.subSectionItems = response5.data;
            this.loader = false;
            })
            .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
            });

    getCityMasters('')
            .then(response6 => {
            this.cityItems = response6.data;
            this.loader = false;
            })
            .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
            });

    getLanguageMasters('')
            .then(response7 => {
            this.languageItems = response7.data;
            this.loader = false;
            })
            .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
            });

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;         
    },
    companySelect (value) {
        this.siteloader = true;
        getICTMasterActive(570)
          .then(response => {
            if (response.data != undefined) {
              this.siteItems = response.data;
              console.log(value);
              
               let uom = this.siteItems.filter(o => o.companyID == value );
               console.log(uom);
               this.filteredsite = uom;
        
              this.siteloader = false;
            }           
          })
          .catch(error => {
            this.zoneloader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
       
      },
    editItem (item) {
     
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      
      this.dialog = true;

      getICTMasterActive(570)
          .then(response => {
            if (response.data != undefined) {
              this.siteItems = response.data;
                let uom = this.siteItems.filter(o => o.companyID == this.editedItem.companyID );
               this.filteredsite = uom;
              
            }            
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
    },
    startDateChange () {

      this.startmenu = false;
      this.dateOfEmployeement = this.editedItem.dateOfEmployeement;
    },
    endDateChange () {

      this.endmenu = false;
      this.lastWorkingDate = this.editedItem.lastWorkingDate;
    },
    onDeleteItem (item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
     
    },
    deleteItem () {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
     
      let index = this.gridItems.indexOf(this.selectedItem);
      if(this.selectedItem.userID <= 0){
      this.gridItems.splice(index, 1);
       this.loader = false;
      
      }
      else{
      deleteEmployee(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
         window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
         this.initialize();
        })
        .catch(error => {
          this.loader = false;
         window.getApp.$emit('APP_API_ERROR', error);
        });
      }
    },
   
    close () {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose () {
      this.save();
      this.close();
    },
    
    add () {

      this.editedItem.valid = false;

      
      this.editedItem.parentICTID = null,
      this.editedItem.companyID = null;
      this.editedItem.plantID = null;
      this.editedItem.sageID = null;
      this.editedItem.typeOfEmployeement = 0;
      this.editedItem.designationID = null;
      this.editedItem.departmentID = null;
      this.editedItem.sectionID = null;
      this.editedItem.subSectionID = null;
      this.editedItem.cityID = null;
      this.editedItem.languageID = null;
      this.editedItem.site = null;
      this.editedItem.email = '';
      this.editedItem.extension = '';
      this.editedItem.speedDial = '';
      this.editedItem.contactNo = '';
      this.editedItem.skypeAddress = '';
      this.editedItem.signature = '';
      this.editedItem.dateOfEmployeement= new Date().toISOString().substr(0, 10);
      this.editedItem.lastWorkingDate= new Date().toISOString().substr(0, 10);
      this.siteloader = false;
      this.zoneloader = false; 


      //Permission Screen
      this.editedItem.roleID = null,
      this.editedItem.userGroupID = null,
      this.editedItem.loginID = '',
      this.editedItem.password = '',

      //Report To
      this.editedItem.reportID = null
      
      this.editedItem.nameRules = [v => !!v || 'First Name is required'];
      // this.editedItem.company = '';
      this.editedItem.addedByUserId = this.$store.state.auth.userID;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = 'Active';
      this.editedItem.modifiedByUserId = this.$store.state.auth.userID;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
    },
    formatDate (date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join('-');
    },
    deleterow () {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem () {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      if(this.selectedItem.userID <= 0){
      this.gridItems.splice(index, 1);
       this.loader = false;
      
      }
      else{
      deleteEmployee(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
         window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
         this.initialize();
        })
        .catch(error => {
          this.loader = false;
         window.getApp.$emit('APP_API_ERROR', error);
        });
      }
    },
    close () {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save () {

      if (this.$refs.form.validate()) {
          this.zoneloader = true;
       if (this.editedIndex > -1) {
          
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        
          setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.add();
        this.initialize();
      }, 400);
      } else {
      
        this.gridItems.push(this.editedItem);
         this.initialize();
         setTimeout(() => {
           this.editedItem = Object.assign({}, this.defaultItem);
        //this.editedItem = Object.assign({}, this.defaultItem);
        //this.add();
      }, 400);
        
      }
      //this.close();
     
        }
    }
  }
};
</script>