<template>
  <div>
    <v-toolbar
      flat
      color="white"
    >

      <v-spacer></v-spacer>
      <v-dialog
        v-model="dialog"
        fullscreen
         :disabled="enableAddButton"
      >
        <v-btn
          :disabled="enableAddButton"
          slot="activator"
          icon
          @click.native="add"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar
            card
            dense
            color="primary"
          >
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="close"
              >
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save Record</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                @click.native="close"
              >
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>
          <vue-perfect-scrollbar class="consumptionLine--scrollbar">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-form
                v-model="editedItem.valid"
                ref="form"
                lazy-validation
              >
                <vue-perfect-scrollbar class="chat-room--scrollbartree">
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          :loading="loader"
                          chips
                          flat
                          placeholder="Select only suggested Company"
                          :items="companyItems"
                          v-model="editedItem.companyID"
                          prepend-icon="location_city"
                          label="Company"
                          color="blue"
                          item-text="description"
                          item-value="plantID"
                          @change="selectCompany"
                        ></v-autocomplete>

                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          :loading="loader"
                          chips
                          flat
                          placeholder="Select only suggested Company"
                          :items="divisionItems"
                          v-model="editedItem.divisionID"
                          prepend-icon="location_city"
                          label="Division"
                          color="blue"
                          item-text="name"
                          item-value="divisionID"
                          @change="selectDivision"
                        ></v-autocomplete>

                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          :loading="loader"
                          chips
                          flat
                          placeholder="Select only suggested Department"
                          :items="departmentItems"
                          v-model="editedItem.departmentID"
                          prepend-icon="location_city"
                          label="Department"
                          color="blue"
                          item-text="name"
                          item-value="departmentId"
                          @change="selectDepartment"
                        ></v-autocomplete>

                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          v-model="editedItem.sectionID"
                          label="Section"
                          prepend-icon="view_agenda"
                          :items="sectionItems"
                          flat
                          chips
                          auto
                          placeholder="Select only suggested Section"
                          color="blue"
                          item-text="name"
                          item-value="sectionID"
                          @change="selectSection"
                        >
                        </v-autocomplete>

                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          v-model="editedItem.subSectionID"
                          label="Sub Section"
                          prepend-icon="view_carousel"
                          :items="subSectionItems"
                          flat
                          chips
                          auto
                          placeholder="Select only suggested Sub Section"
                          color="blue"
                          item-text="name"
                          item-value="subSectionID"
                          @change="selectSubsection"
                        >
                        </v-autocomplete>
                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          v-model="editedItem.subSectionTID"
                          label="SubSection 2"
                          prepend-icon="grade"
                          :items="subSectionTwoItems"
                          flat
                          chips
                          auto
                          placeholder="Select only suggested sub Section 2"
                          color="blue"
                          item-text="name"
                          item-value="subSectionTID"
                          @change="selectSubsectionTwo"
                        >
                        </v-autocomplete>

                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          v-model="editedItem.designationID"
                          label="Designation"
                          prepend-icon="grade"
                          :items="designationItems"
                          flat
                          chips
                          auto
                          placeholder="Select only suggested Designation"
                          color="blue"
                          item-text="name"
                          item-value="designationID"
                          @change="selectDesignation"
                        >
                        </v-autocomplete>

                      </v-flex>
                      <v-flex
                        xs12
                        sm6
                      >
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          v-model="editedItem.designationHeadCount"
                          label="Designation Head Count"
                          prepend-icon="grade"
                          :items="designationHeadcountItems"
                          flat
                          chips
                          auto
                          placeholder="Select only suggested Designation HeadCount"
                          color="blue"
                          @change="selectHeadCount"
                        >
                        </v-autocomplete>

                      </v-flex>

                    </v-layout>
                  </v-container>
                </vue-perfect-scrollbar>
              </v-form>
            </v-card-text>

          </vue-perfect-scrollbar>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="save"
            >
              save
            </v-btn>
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="close"
            >
              Close
            </v-btn>

          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>

        <v-layout
          row
          wrap
        >
          <v-flex
            lg12
            sm12
            xs12
          >
            <v-data-table
              :headers="headers"
              :items="employeeInformationItems"
              :search="search"
              class="elevation-1"
              default-sort="employeeInformationID:desc"
              :rows-per-page-items="rowsPerPageItems"
              :pagination.sync="pagination"
            >
              <template
                slot="items"
                slot-scope="props"
              >

                <tr v-on:dblclick="editItem(props.item)">

                  <td class="text-xs-left">{{ props.item.companyName }}</td>
                  <td class="text-xs-left">{{ props.item.divisionName }}</td>
                  <td class="text-xs-left">{{ props.item.departmentName }}</td>
                  <td class="text-xs-left">{{ props.item.sectionName }}</td>
                  <td class="text-xs-left">{{ props.item.subSectionName }}</td>
                  <td class="text-xs-left">{{ props.item.designation }}</td>

                  <td class="justify-center layout px-0">
                    <v-icon
                      small
                      class="mr-2"
                      @click="editItem(props.item)"
                    >
                      edit
                    </v-icon>
                    <v-icon
                      small
                      @click="onDeleteItem(props.item)"
                    >
                      delete
                    </v-icon>
                  </td>
                </tr>
              </template>
              <template slot="no-data">
                <v-btn
                  color="primary"
                  outline
                  @click="initialize"
                > Record not exist.Refresh again in while time.</v-btn>
              </template>
            </v-data-table>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <v-snackbar
      :top="y === 'top'"
      :timeout="timeout"
      v-model="snackbar"
    >
      {{ snackbarMessage }}
    </v-snackbar>

  </div>
</template>
<script>
import { getEmployeeInformation, createEmployeeInformation, updateEmployeeInformation, getSectionByDepartment, getSubSectionsBySection, getPlants, getDivisionsByCompany, getDepartmentByDivision, getDesignationBySubSectionTwo, getSubSectionsTwoBySubSection, deleteEmployeeInformation, getDesignationHeadCount, getExistingnHCEmployeeInformation } from '@/api/employee';
import GlobalMessage from '@/constant'
export default {
  components: {

  },
  data: () => ({
    dialog: false,
    loader: false,
    search: '',
    enableAddButton: true,
    designationItems: [],
    departmentItems: [],
    employeeID: null,
    sectionItems: [],
    subSectionItems: [],
    subSectionTwoItems: [],
    divisionItems: [],
    companyItems: [],
    designationHeadcountItems: [],
    snackbar: false,
    snackbarMessage: '',
    timeout: 2000,
    y: 'top',
    headers: [
      { text: 'Company', value: 'companyName', align: 'left' },
      { text: 'Division', value: 'divisionName', align: 'left' },
      { text: 'Department', value: 'departmentName', align: 'left' },
      { text: 'Section', value: 'sectionName', align: 'left' },
      { text: 'Sub Section', value: 'subSectionName', align: 'left' },
      { text: 'Designation', value: 'designation', align: 'left' },
      { text: 'Actions', value: 'name', sortable: false, align: 'left' }
    ],
    employeeInformationItems: [],
    editedIndex: -1,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      employeeInformationID: -1,
      employeeID: null,
      companyID: null,
      divisionID: null,
      departmentID: null,
      sectionID: null,
      subSectionID: null,
      subSectionTID: null,
      designationID: null,
      designationHeadCountID: null,
      employeeName: "",
      companyName: "",
      divisionName: "",
      departmentName: "",
      sectionName: "",
      subSectionName: "",
      designation: "",
      designationHeadCount: 0,
      isOversees: false,
       addedByUserID: null,     
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),

    },
    defaultItem: {
      valid: false,
      employeeInformationID: -1,
      employeeID: null,
      companyID: null,
      divisionID: null,
      departmentID: null,
      sectionID: null,
      subSectionID: null,
      subSectionTID: null,
      designationID: null,
      designationHeadCountID: null,
      employeeName: "",
      companyName: "",
      divisionName: "",
      departmentName: "",
      sectionName: "",
      subSectionName: "",
      designation: "",
      designationHeadCount: 0,
      isOversees: false,
        addedByUserID: null,     
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: 'Active',
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },


  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Employee Information' : 'Employee Information';
    }
  },


  created () {
    this.initialize();

  },

  methods: {
    initialize () {

      getPlants('')
        .then(response => {
          this.companyItems = response.data.filter(o => o.statusCodeID == 1);
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });



      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
     getEmpInformation () {
      getEmployeeInformation(this.employeeID)
        .then(response => {
          if (response.data != undefined) {
            this.employeeInformationItems = response.data;

            this.loader = false;
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    editItem (item) {
      this.editedIndex = this.employeeInformationItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedIndex);
      this.dialog = true;

    },
    selectDivision (value) {
      let id = value;
      getDepartmentByDivision(id)
        .then(response4 => {
          this.departmentItems = response4.data.filter(o => o.statusCodeID == 1);
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectDepartment (value) {
      let id = value;
      getSectionByDepartment(id)
        .then(response4 => {
          this.sectionItems = response4.data.filter(o => o.statusCodeID == 1);
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectSection (value) {
      let id = value;
      getSubSectionsBySection(id)
        .then(response4 => {
          this.subSectionItems = response4.data.filter(o => o.statusCodeID == 1);
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectSubsection (value) {

      let id = value;
      getSubSectionsTwoBySubSection(id)
        .then(response4 => {
          this.subSectionTwoItems = response4.data.filter(o => o.statusCodeID == 1);
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectSubsectionTwo (value) {

      let id = value;
      getDesignationBySubSectionTwo(id)
        .then(response4 => {
          this.designationItems = response4.data.filter(o => o.statusCodeID == 1);
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectCompany (value) {
      let id = value;
      getDivisionsByCompany(id)
        .then(response => {
          this.divisionItems = response.data.filter(o => o.statusCodeID == 1);
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectDesignation (value) {
      let id = value;
      getDesignationHeadCount(id)
        .then(response => {
          let designationCount = response.data.headCount;
          this.designationHeadcountItems = [];
          var count = 1;
          for (count = 1; count <= designationCount; count++) {
            this.designationHeadcountItems.push(count);
          }

          // this.divisionItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectHeadCount () {
      this.loader = true;
      getExistingnHCEmployeeInformation(this.editedItem)
        .then(response => {

          this.loader = false;
          if (response.data == true) {
            window.getApp.$emit('APP_API_ERROR', "Head Count Aleady existing in this selected designation");
            this.editedItem.designationHeadCount = 0;
          }

        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

    },
    add () {
      this.editedItem.sectionID = null;
      this.editedItem.departmentID = null;
      this.editedItem.subSectionID = null;
      this.editedItem.companyID = null;
      this.editedItem.divisionID = null;
      this.editedItem.designationID = null;
      this.editedIndex = -1;

    },
    onDeleteItem (item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem () {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.employeeInformationItems.indexOf(this.selectedItem);
      console.log(this.selectedItem);
      deleteEmployeeInformation(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.employeeInformationItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

    },
    save () {

      for (var id in this.departmentItems) {
        if (this.editedItem.departmentID == this.departmentItems[id].departmentId) {
          this.editedItem.departmentName = this.departmentItems[id].name;
        }
      }
      for (var id in this.sectionItems) {
        if (this.editedItem.sectionID == this.sectionItems[id].sectionID) {

          this.editedItem.sectionName = this.sectionItems[id].name;
        }
      }
      for (var id in this.subSectionItems) {
        if (this.editedItem.subSectionID == this.subSectionItems[id].subSectionID) {

          this.editedItem.subSectionName = this.subSectionItems[id].name;

        }
      }
      for (var id in this.companyItems) {
        if (this.editedItem.companyID == this.companyItems[id].plantID) {

          this.editedItem.companyName = this.companyItems[id].description;

        }
      }
      for (var id in this.divisionItems) {
        if (this.editedItem.divisionID == this.divisionItems[id].divisionID) {

          this.editedItem.divisionName = this.divisionItems[id].name;

        }
      }
      for (var id in this.designationItems) {
        if (this.editedItem.designationID == this.designationItems[id].designationID) {

          this.editedItem.designation = this.designationItems[id].name;

        }
      }
      this.editedItem.employeeID = this.employeeID;
      if (this.editedIndex > -1) {
        Object.assign(this.employeeInformationItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;        

        updateEmployeeInformation(this.editedItem)
          .then(response => {
            Object.assign(this.employeeInformationItems[index], response.data);
            this.loader = false;
            window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      } else {
        this.editedItem.employeeInformationID = parseInt(Math.random() * 100) + 1024; // mock a id
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.editedItem.statusCodeID = 1;

        createEmployeeInformation(this.editedItem)
          .then(response => {
            if (response.data != undefined) {
              this.employeeInformationItems.push(response.data);
              this.loader = false;
              this.editedItem = response.data;
              let index = this.employeeInformationItems.map(item => item.employeeInformationID).indexOf(response.data.employeeInformationID)
              this.editedIndex = index;
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      }
    },


    close () {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
  }
};
</script>
<style>
.consumptionLine--scrollbar {
  height: calc(100vh - 40px - 60px);
}
.photoname {
  text-align: end;
  font-style: italic;
  color: black;
  font-size: 40px;
}
</style>