<template >

  <v-tabs
    color="transparent"
    v-model="selectedTab"
  >
    <v-tabs-slider color="primary"></v-tabs-slider>
    <v-tab key="tab1">
       <span>General</span>
     
    </v-tab>
    <v-tab
      key="tab2"
      
    >
    <span>ICT</span>
     
    </v-tab>
    <v-tab key="tab3">
       <span>Signature</span>
     
    </v-tab>
   
    <v-tabs-items>
      <v-tab-item key="tab1">
       
          <v-card flat>
            <v-card-text>
              <employee-general ref="refemployeegeneral"></employee-general>
            </v-card-text>
          </v-card>
       
      </v-tab-item>
      <v-tab-item key="tab2">
        <v-card flat>
            <v-card-text>
          <ict-info ref="refictinfo">
          </ict-info>
          </v-card-text>
          </v-card>
       

      </v-tab-item>
      <v-tab-item key="tab3">
        <v-card flat>
            <v-card-text>
         <div v-if="empSignFlag">
          <img :src="empSign" style="height: 100%;
    width: 300px;" ></img>
                     </div>
                     <div v-else>{{empSign}}</div>
          </v-card-text>
          </v-card>
       

      </v-tab-item>
    </v-tabs-items>
  </v-tabs>
</template>

<script>
import EmployeeGeneral from "@/pages/application/EmployeeGeneral.vue";
import IctInfo from "@/pages/application/EmployeeICTInformation.vue";
import { getEmployeeSignature } from "@/api/employee";
export default {
  components: {
    EmployeeGeneral,
    IctInfo,
  },
  data: () => ({
    height: {
      type: String,
      default: null,
    },
    selectedTab: 0,
    actionButton: true,
    empSignFlag: false,
    empSign: "",
  }),

  computed: {
    computeHeight() {
      return {
        height: this.height || "",
      };
    },
  },
  created() {
    window.getApp.$on("DISABLE_TAB", (action) => {
      this.actionButton = action;
      this.selectedTab = null;
    });
  },
  beforeDestroy() {
    window.getApp.$off("DISABLE_TAB");
  },
  methods: {
    loadEmpSinature(employeeID) {
      getEmployeeSignature(employeeID)
        .then((response) => {
          this.empSign = "";
          this.empSignFlag = false;
          if (response.status == 200) {
            this.empSignFlag = true;
            let blob = new Blob([response.data], { type: "image/png" });
            let link = document.createElement("a");
            this.empSign = window.URL.createObjectURL(blob);
          } else {
            this.empSign = "No Signature Found";
          }
        })
        .catch((error) => {});
    },
  },
};
</script>

<style>
</style>