<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
        :disabled="enableAddButton"
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="EmployeeICTInfo.xls"
        :disabled="enableAddButton"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" max-width="600px" :disabled="enableAddButton">
        <!-- <v-tooltip bottom> -->
        <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveclick">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Company</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow:auto;height:calc(80vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <!-- <v-flex xs12 sm12>
                      <v-checkbox
                        color="primary"
                        v-model="editedItem.isPortal"
                        label="Is This Portal"
                        @change="selectIsPortal"
                      ></v-checkbox>
                    </v-flex> -->
                    <v-flex xs12 sm12>
                      <v-autocomplete
                        :loading="loader"
                        chips
                        flat
                        placeholder="Software"
                        prepend-icon="location_city"
                        :items="softwareItems"
                        v-model="editedItem.softwareID"
                        label="Software"
                        color="blue"
                        item-text="value"
                        item-value="applicationMasterDetailId"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-text-field
                        v-model="editedItem.loginID"
                        label="Login ID"
                        required
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm12 >
                      <v-text-field
                      :disabled="editedItem.employeeICTInformationID>0"
                        v-model="editedItem.password"
                        label="Password"
                        required
                        :type="show1 ? 'text' : 'password'"
                        prepend-icon="select_all"
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="show1 = !show1"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm12>
                      <v-autocomplete
                        label="Role"
                        :loading="loader"
                        prepend-icon="group_work"
                        v-model="editedItem.roleIDs"
                        :items="roleItems"
                        multiple
                        flat
                        chips
                        auto
                        item-text="roleName"
                        item-value="roleID"
                      >
                      <template slot="selection" slot-scope="data">
                  <v-chip
                    :selected="data.selected"
                    close
                    class="chip--select-multi"
                    @input="removeRole(data.item)"
                  >{{ data.item.roleName }}</v-chip>
                </template>
                <template slot="item" slot-scope="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-tile-content v-text="data.item"></v-list-tile-content>
                  </template>
                  <template v-else>
                    <v-list-tile-content>
                      <v-list-tile-title v-html="data.item.roleName"></v-list-tile-title>
                    </v-list-tile-content>
                  </template>
                </template>
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click="saveclick">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>

          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()" :disabled="enableAddButton">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>

        <v-container fluid>
          <v-layout row wrap>
            <v-flex lg12 sm12 xs12>
              <v-data-table
                :headers="headers"
                :items="gridItems"
                :search="search"
                class="elevation-1"
                default-sort="countryId:desc"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.software }}</td>
                  <td class="text-xs-left">{{ props.item.loginID }}</td>
                  <!-- <td class="text-xs-left">{{ props.item.companyName }}</td> -->
                  <!-- <td class="text-xs-left">{{ props.item.password }}</td> -->
                  <!-- <td class="text-xs-left">{{ props.item.role }}</td> -->

                  <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
                  </td>
                </template>
                <template slot="no-data">
                  <v-btn
                    color="primary"
                    outline
                    @click="initialize"
                  >Record not exist.Refresh again in while time.</v-btn>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="isPortalConfirmationDialog"
      heading="Are You Sure You Want To Overwrite the existing Portal?"
      message="Are You Sure You Want To Overwrite the existing Portal?"
      @onConfirm="formisPortalCheck"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import {
  getEmployeeICTInformationByID,
  getEmployeeICTInformation,
  createEmployeeICTInformation,
  updateEmployeeICTInformation,
  deleteEmployeeICTInformation
} from "@/api/employeeOtherInfo";
import { getApplicationRoles } from "@/api/employee";

import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getCodeMasterByType } from "@/api/applicationUser";
import moment from "moment";
import GlobalMessage from "@/constant";
export default {
  data: () => ({
    dialog: false,
    establishedDatemenu: false,
    loader: false,
    search: "",
    snackbar: false,
    enableAddButton: true,
    snackbarMessage: "",
    timeout: 2000,
    statusOptions: [],
    y: "top",
    headers: [
      { text: "Software", value: "software", align: "left" },
      { text: "Login ID", value: "loginID", align: "left" },
      // { text: "Password", value: "password", align: "left" },
      // {
      //   text: "Role",
      //   value: "role",
      //   align: "left"
      // },

      { text: "Actions", value: "name", sortable: false, align: "left" }
    ],
    json_fields: {
      Software: "software",
      "Login ID": "loginID",
      
      // Role: "role"
    },

    gridItems: [],
    roleItems: [],
    softwareItems: [],
    show1: false,
    password: "Password",
    employeeID: null,
    
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    editedItem: {
      valid: false,
      employeeICTInformationID: -1,
      employeeID: null,
      softwareID: null,
      loginID: "",
      password: "",
      roleID: null,
      roleIDs: [],
      isPortal: false,
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      addedByUser: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      modifiedByUser: ""
    },
    defaultItem: {
      valid: false,
      valid: false,
      employeeICTInformationID: -1,
      employeeID: null,
      softwareID: null,
      loginID: "",
      password: "",
      isPortal: false,
      roleID: null,
      roleIDs: [],
      addedByUserId: null,
      addedDate: new Date(),
      statusCodeID: 1,
      addedByUser: "",
      modifiedByUserID: null,
      modifiedDate: new Date(),
      modifiedByUser: ""
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add ICT Information"
        : "Edit ICT Information";
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.loader = true;
      getEmployeeICTInformationByID(this.employeeID)
        .then(response => {
          if (response.data != undefined) {
            this.gridItems = response.data;
            this.loader = false;
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCodeMasterByType("Status")
        .then(response => {
          this.statusOptions = response.data.filter(
            r => r.codeID != 3 && r.codeID != 4
          );
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationMasterDetailByType(221)
        .then(response => {
          this.softwareItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationRoles("")
        .then(response9 => {
          if (response9.data != undefined) {
            this.roleItems = response9.data;
            let uom = this.roleItems.filter(o => o.statusCodeID == 1);

            this.roleItems = uom;
          }

          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.establishedDate = moment(item.establishedDate).format(
        "YYYY-MM-DD"
      );
      this.dialog = true;
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteEmployeeICTInformation(this.selectedItem)
        .then(response => {
          if (response.data != undefined) {
            this.loader = false;
            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch(error => {
          this.loader = false;
          // window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose() {
      this.saveclick();
      this.close();
    },
    removeRole (item){
      const index = this.editedItem.roleIDs.indexOf(item.roleID);
        if (index >= 0) this.editedItem.roleIDs.splice(index, 1);
    },
    toolfunction() {
      getEmployeeICTInformation(this.searchItem)
        .then(response => {
          if (response.data != undefined) {
            if (response.data.employeeICTInformationID != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.employeeICTInformationID)
                .indexOf(response.data.employeeICTInformationID);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.employeeICTInformationID;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.employeeICTInformationID;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.employeeICTInformationID;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.employeeICTInformationID;
      this.toolfunction();
    },
    add() {
      this.editedItem.valid = false;
      this.editedItem.employeeICTInformationID = -1;
      this.editedItem.plantCode = "";
      this.editedItem.description = "";
      this.editedItem.navPassword = "";
      this.editedItem.isPortal = false;
      this.editedItem.roleIDs = [];
      (this.editedItem.navOdataAddress = ""),
        (this.editedItem.navSoapAddress = ""),
        (this.editedItem.companyName = ""),
        (this.editedItem.companyID = 1),
        (this.editedItem.navCompanyName = ""),
        (this.editedItem.navUserName = ""),
        (this.editedItem.modifiedByUserID = this.$store.state.auth.userId);
      this.editedItem.modifiedDate = new Date();
      (this.editedItem.modifiedByUser = ""), (this.editedItem.statusCodeID = 1);
      this.editedIndex = -1;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();

      deletePlant(this.editedItem)
        .then(response => {
          if (response.data != undefined) {
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch(error => {
          //window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    selectIsPortal(){
    
    },
    formisPortalCheck(){
      this.$refs.isPortalConfirmationDialog.close();
     this.editedItem.isPortal = true;
     this.save();
    },
    saveclick(){
      if (this.editedItem.isPortal == true) {
        if(this.gridItems.length>0)
        {
        let existingPortal = this.gridItems.filter(g => g.isPortal == true);
        if (existingPortal.length > 0) {
          this.$refs.isPortalConfirmationDialog.openDialog();
        }
        else
        {
          this.save();
        }
        }
        else{
          this.save();
        }
        
    }
    else{
      this.save();
    }
    },
    save() {
       
      this.editedItem.employeeID = this.employeeID;
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;

          updateEmployeeICTInformation(this.editedItem)
            .then(response => {
              if (response.data != undefined) {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.add();
              }
            })
            .catch(error => {
              this.loader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserId = this.$store.state.auth.userId;

          createEmployeeICTInformation(this.editedItem)
            .then(response => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                let index = this.gridItems
                  .map(item => item.employeeICTInformationID)
                  .indexOf(response.data.employeeICTInformationID);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.add();
              }
            })
            .catch(error => {
              this.loader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    }
  }
};
</script>