<template>
  <v-card>
   
    
      <v-card-text>
        <v-form v-model="editedItem.valid" ref="form" lazy-validation>
          <v-layout row wrap>
            <v-flex xs12 sm4>
              <v-autocomplete
                hint="Atleast 3 Characters required"
                v-model="editedItem.languageID"
                label="Language"
                prepend-icon="language"
                :items="languageItems"
                flat
                chips
                auto
                placeholder="Select only suggested Language"
                color="blue"
                item-text="name"
                item-value="languageID"
              ></v-autocomplete>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.email"
                label="Email"
                prepend-icon="email"
                :rules="emailRules"
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.extension"
                label="Extension"
                prepend-icon="local_phone"
                
              ></v-text-field>
            </v-flex>
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.speedDial"
                label="Speed Dial"
                prepend-icon="phone_bluetooth_speaker"
               
              ></v-text-field>
            </v-flex>
           
            <v-flex xs12 sm4>
              <v-text-field
                v-model="editedItem.skypeAddress"
                label="Skype Address"
                prepend-icon="voicemail"
                
              ></v-text-field>
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>   
  </v-card>
</template>
<script>
export default {
  data: () => ({
    dialog: false,
    establishedDatemenu: false,
    loader: false,
    search: "",
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    statusOptions: [],
    languageItems: [],
     emailRules: [
      v =>
        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        "E-mail must be valid"
    ],
    y: "top",

    editedItem: {
      valid: false,
      languageID: null,
      email: '',
      extension: '',
      speedDial: "",
      skypeAddress: "",     
    },
    defaultItem: {
     valid: false,
      languageID: null,
      email: '',
      extension: '',
      speedDial: "",
      skypeAddress: "",         },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),

  computed: {
  
      
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      
      
    },
    
  }
};
</script>