<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="employee.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Reply</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save And Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :loading="saveloader"
                @click.native="save"
              >
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Add</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <vue-perfect-scrollbar class="employee--scrollbar">
            <v-card>
              <v-card-text>
                <!-- <v-card-title>
                  <span class="headline">General Information</span>
                </v-card-title>-->
                <v-form
                  v-model="editedItem.valid"
                  ref="mainform"
                  lazy-validation
                >
                  <v-layout row wrap>
                    <!-- <v-flex
                      xs12
                      sm6
                    >
                      <v-autocomplete                       
                        :loading="loader"
                        chips
                        flat
                        placeholder="Select only Profile"
                        :items="profileItems"
                        v-model="editedItem.profileID"
                        prepend-icon="assistant"
                        label="Profile"
                        color="blue"                       
                        item-value="profileId"
                        item-text="profileName"
                      
                      ></v-autocomplete>
                    </v-flex>-->
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.firstName"
                        label="Name"
                        :rules="nameRules"
                        required
                        prepend-icon="person"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.lastName"
                        label="Last Name"
                        prepend-icon="person"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.nickName"
                        label="Nick Name"
                        prepend-icon="person_outline"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-autocomplete
                        label="Gender"
                        prepend-icon="wc"
                        v-model="editedItem.gender"
                        :items="genderItems"
                        flat
                        chips
                        auto
                      ></v-autocomplete>
                    </v-flex>
                  </v-layout>

                  <v-layout row wrap>
                    <v-flex xs12 sm12 class="backcolor">
                      <span class="subheading" style="font-weight: bold"
                        >Portal Credentials</span
                      >
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        :disabled="editedItem.employeeID > 0"
                        v-model="editedItem.loginID"
                        label="Login ID"
                        :rules="nameRules"
                        required
                        prepend-icon="select_all"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        :disabled="editedItem.employeeID > 0"
                        v-model="editedItem.loginPassword"
                        label="Password"
                        required
                        :type="show1 ? 'text' : 'password'"
                        prepend-icon="select_all"
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        @click:append="show1 = !show1"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Role"
                        :loading="loader"
                        prepend-icon="group_work"
                        v-model="editedItem.roleID"
                        :items="roleItems"
                        flat
                        chips
                        auto
                        item-text="roleName"
                        item-value="roleID"
                      >
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected">{{
                            data.item.roleName
                          }}</v-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content
                              v-text="data.item"
                            ></v-list-tile-content>
                          </template>
                          <template v-else>
                            <v-list-tile-content>
                              <v-list-tile-title
                                v-html="data.item.roleName"
                              ></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                  <!-- <v-layout row wrap class="backcolor">
                   
                  </v-layout>-->
                  <v-layout row wrap>
                    <v-flex xs12 sm12 class="backcolor">
                      <span class="subheading" style="font-weight: bold"
                        >Main Employment Information</span
                      >
                    </v-flex>

                    <v-flex xs12 sm5 class="backcolor">
                      <v-autocomplete
                        hint="Atleast 3 Characters required"
                        :loading="loader"
                        chips
                        flat
                        placeholder="Select only suggested Company"
                        :items="companyItems"
                        v-model="editedItem.designationID"
                        prepend-icon="location_city"
                        label="Company"
                        color="blue"
                        item-text="dropDownNames"
                        item-value="designationID"
                        @change="selectCompany"
                      >
                        <template slot="selection" slot-scope="data">
                          <v-chip :selected="data.selected">{{
                            data.item.companyName
                          }}</v-chip>
                        </template>
                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content
                              v-text="data.item"
                            ></v-list-tile-content>
                          </template>
                          <template v-else>
                            <v-list-tile-content>
                              <v-list-tile-title
                                v-html="data.item.dropDownNames"
                              ></v-list-tile-title>
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm1></v-flex>
                    <v-flex xs12 sm5 class="backcolor">
                      <v-text-field
                        v-model="sectionName"
                        label="Section"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>

                      <!-- <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.sectionID"
                        label="Section"
                        prepend-icon="view_agenda"
                        :items="sectionItems"
                        flat
                        chips
                        auto
                        placeholder="Select only suggested Section"
                        color="blue"
                        item-text="name"
                        item-value="sectionID"
                        @change="selectSection"
                      ></v-autocomplete>-->
                    </v-flex>
                    <v-flex xs12 sm1 class="backcolor"></v-flex>
                    <v-flex xs12 sm5 class="backcolor">
                      <v-text-field
                        v-model="divisionName"
                        label="Division"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                      <!-- <v-autocomplete
                        hint="Atleast 3 Characters required"
                        :loading="loader"
                        chips
                        flat
                        placeholder="Select only suggested Division"
                        :items="divisionItems"
                        v-model="editedItem.divisionID"
                        prepend-icon="location_city"
                        label="Division"
                        color="blue"
                        item-text="name"
                        item-value="divisionID"
                        @change="selectDivision"
                      ></v-autocomplete>
                      -->
                    </v-flex>
                    <v-flex xs12 sm1></v-flex>

                    <v-flex xs12 sm5 class="backcolor">
                      <v-text-field
                        v-model="subSectionName"
                        label="Sub Section 1"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                      <!-- <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.subSectionID"
                        label="Sub Section"
                        prepend-icon="view_carousel"
                        :items="subSectionItems"
                        flat
                        chips
                        auto
                        placeholder="Select only suggested Sub Section"
                        color="blue"
                        item-text="name"
                        item-value="subSectionID"
                        @change="selectSubsection"
                      ></v-autocomplete>-->
                    </v-flex>
                    <v-flex xs12 sm1 class="backcolor"></v-flex>
                    <v-flex xs12 sm5 class="backcolor">
                      <v-text-field
                        v-model="departmentName"
                        label="Department"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                      <!-- <v-autocomplete
                        hint="Atleast 3 Characters required"
                        :loading="loader"
                        chips
                        flat
                        placeholder="Select only suggested Department"
                        :items="departmentItems"
                        v-model="editedItem.departmentID"
                        prepend-icon="location_city"
                        label="Department"
                        color="blue"
                        item-text="name"
                        item-value="departmentId"
                        @change="selectDepartment"
                      ></v-autocomplete>-->
                    </v-flex>
                    <v-flex xs12 sm1></v-flex>
                    <v-flex xs12 sm5 class="backcolor">
                      <v-text-field
                        v-model="subSectionTwoName"
                        label="Sub Section 2"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                      <!-- <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.subSectionTID"
                        label="SubSection 2"
                        prepend-icon="grade"
                        :items="subSectionTwoItems"
                        flat
                        chips
                        auto
                        placeholder="Select only suggested sub Section 2"
                        color="blue"
                        item-text="name"
                        item-value="subSectionTID"
                        @change="selectSubsectionTwo"
                      ></v-autocomplete>-->
                    </v-flex>
                    <v-flex xs12 sm1 class="backcolor"></v-flex>
                    <v-flex xs12 sm5 class="backcolor">
                      <v-text-field
                        v-model="designationName"
                        label="Designation"
                        readonly
                        prepend-icon="select_all"
                      ></v-text-field>
                      <!-- <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.designationID"
                        label="Designation"
                        prepend-icon="grade"
                        :items="designationItems"
                        flat
                        chips
                        auto
                        placeholder="Select only suggested Designation"
                        color="blue"
                        item-text="name"
                        item-value="designationID"
                        @change="selectDesignation"
                      ></v-autocomplete>-->
                    </v-flex>
                    <v-flex xs12 sm1></v-flex>
                    <v-flex xs12 sm5 class="backcolor">
                      <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.headCount"
                        label="Designation Head Count"
                        prepend-icon="grade"
                        :items="designationHeadcountItems"
                        flat
                        chips
                        auto
                        placeholder="Select only suggested Designation HeadCount"
                        color="blue"
                        @change="selectHeadCount"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm1 class="backcolor"></v-flex>
                    <v-flex xs12 sm12 class="backcolor">
                      <span class="backcolor">
                        <br />
                      </span>
                    </v-flex>
                  </v-layout>

                  <v-layout row wrap>
                    <!-- <v-flex xs12 sm6>
                      <v-checkbox
                        color="primary"
                        v-model="editedItem.isActive"
                        label="Confirm you have Sage ID before you proceed"
                      ></v-checkbox>
                    </v-flex>-->

                    <v-flex xs12 sm6>
                      <v-autocomplete
                        v-model="editedItem.typeOfEmployeement"
                        label="Type"
                        prepend-icon="ac_unit"
                        :items="typeItems"
                        flat
                        chips
                        auto
                        @change="selectType"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-radio-group :mandatory="false" v-show="isContract" row>
                        <v-radio label="Agent" value="agent"></v-radio>
                        <v-radio label="Company" value="company"></v-radio>
                      </v-radio-group>
                    </v-flex>

                    <v-flex xs12 sm6>
                      <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.reportToIDs"
                        label="Report To"
                        prepend-icon="grade"
                        :search-input.sync="searchreportTo"
                        :items="reportToItems"
                        flat
                        chips
                        auto
                        multiple
                        placeholder="Select only suggested User"
                        color="blue"
                        item-text="name"
                        item-value="userID"
                        @change="selectReportTo"
                      >
                        <template slot="selection" slot-scope="data">
                          <v-chip
                            :selected="data.selected"
                            close
                            class="chip--select-multi"
                            @input="removeReportTo(data.item)"
                            >{{ data.item.nickName }}</v-chip
                          >
                        </template>

                        <template slot="item" slot-scope="data">
                          <template v-if="typeof data.item !== 'object'">
                            <v-list-tile-content
                              v-text="data.item"
                            ></v-list-tile-content>
                          </template>
                          <template v-else>
                            <!-- <v-list-tile-avatar>
                  <img :src="data.item.avatar">
                            </v-list-tile-avatar>-->
                            <v-list-tile-content>
                              <v-list-tile-title
                                v-html="data.item.name"
                              ></v-list-tile-title>
                              <!-- <v-list-tile-sub-title v-html="data.item.group"></v-list-tile-sub-title> -->
                            </v-list-tile-content>
                          </template>
                        </template>
                      </v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Main employment Status"
                        prepend-icon="notes"
                        v-model="editedItem.acceptanceStatus"
                        :items="acceptanceStatusItems"
                        flat
                        chips
                        auto
                        color="blue"
                        item-text="value"
                        item-value="applicationMasterDetailId"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm2>
                      <v-checkbox
                        color="primary"
                        v-model="editedItem.isEnableLogin"
                        label="Enable User Login"
                      ></v-checkbox>
                    </v-flex>
                    <!-- <v-flex xs12 sm6 v-show="editedItem.acceptanceStatus==681">
                      <v-menu
                        menu-props="closeOnContentClick"
                        v-model="acceptancemenu"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="acceptanceDateFormated"
                          label="Acceptance Status Date"
                          prepend-icon="event"
                          clearable
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.acceptanceStatusDate"
                          @change="acceptanceDateChange"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>-->

                    <!-- <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.userCode"
                        label="User Code"
                        prepend-icon="person_outline"
                        required
                        :rules="requiredfield"
                      ></v-text-field>
                    </v-flex>-->

                    <!-- <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.loginID"
                        label="Login ID"
                        prepend-icon="person"
                        required
                        :rules="requiredfield"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.loginPassword"
                        label="Password"
                        prepend-icon="compass_calibration"
                        required
                        :type="'password'"
                        :rules="requiredfield"
                      ></v-text-field>
                    </v-flex>-->
                    <!-- <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Role"
                        :loading="loader"
                        prepend-icon="group_work"
                        v-model="editedItem.roleID"
                        :items="roleItems"
                        chips
                        auto
                        item-text="roleName"
                        item-value="roleID"
                      ></v-autocomplete>
                    </v-flex>-->
                    <!-- <v-flex xs12 sm4>
                      <v-autocomplete
                        label="Group"
                        :loading="loader"
                        prepend-icon="location_city"
                        v-model="editedItem.userGroupID"
                        :items="userGroupItems"
                        chips
                        auto
                        item-text="name"
                        item-value="userGroupID"
                      ></v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.cityID"
                        label="City"
                        prepend-icon="location_city"
                        :items="cityItems"
                        flat
                        chips
                        auto
                        placeholder="Select only suggested City"
                        color="blue"
                        item-text="name"
                        item-value="cityID"
                      ></v-autocomplete>
                    </v-flex>-->
                    <!-- <v-flex xs12 sm4>
                      <v-autocomplete
                        hint="Atleast 3 Characters required"
                        v-model="editedItem.languageID"
                        label="Language"
                        prepend-icon="language"
                        :items="languageItems"
                        flat
                        chips
                        auto
                        placeholder="Select only suggested Language"
                        color="blue"
                        item-text="name"
                        item-value="languageID"
                      ></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.email"
                        label="Email"
                        prepend-icon="email"
                        :rules="emailRules"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.extension"
                        label="Extension"
                        prepend-icon="local_phone"
                        readonly
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.speedDial"
                        label="Speed Dial"
                        prepend-icon="phone_bluetooth_speaker"
                        readonly
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.mobile"
                        label="Mobile"
                        prepend-icon="phone"
                        mask="################"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field
                        v-model="editedItem.skypeAddress"
                        label="Skype Address"
                        prepend-icon="voicemail"
                        readonly
                      ></v-text-field>
                    </v-flex>-->

                    <!-- <v-flex xs12 sm4>
                      <v-menu
                        menu-props="closeOnContentClick"
                        v-model="startmenu"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="startDateFormated"
                          label="Start Date"
                          prepend-icon="event"
                          clearable
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.dateOfEmployeement"
                          @change="startDateChange"
                          :min="minDate"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-menu
                        menu-props="closeOnContentClick"
                        v-model="endmenu"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="endDateFormated"
                          label="End Date"
                          prepend-icon="event"
                          clearable
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.lastWorkingDate"
                          @change="endDateChange()"
                          :min="editedItem.dateOfEmployeement"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>-->

                    <!-- <v-flex xs12 sm6>
                      <v-autocomplete
                        label="Status"
                        prepend-icon="notes"
                        v-model="editedItem.statusCodeID"
                        :items="statusOptions"
                      ></v-autocomplete>
                    </v-flex>-->
                    <v-flex xs12 sm6>
                      <v-menu
                        :close-on-content-click="false"
                        v-model="expectedmenu"
                        full-width
                        min-width="290"
                      >
                        <v-text-field
                          slot="activator"
                          :value="expectedDateFormated"
                          label="Start Employment Date"
                          prepend-icon="event"
                          clearable
                        ></v-text-field>
                        <v-date-picker
                          v-model="editedItem.expectedJoiningDate"
                          @change="expectedDateChange"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex xs12 sm6>
                      <v-text-field
                        v-model="editedItem.sageID"
                        label="Sage ID"
                        prepend-icon="account_box"
                        required
                        :rules="nameRules"
                      ></v-text-field>
                    </v-flex>

                    <!-- <v-layout>
                        <v-flex
                          sm6
                          lg4
                        >
                          <template v-slot:label>
                            Photo
                          </template>
                          <v-btn
                            color="primary"
                            @click="openUpload"
                          >Choose Files</v-btn>

                        </v-flex>
                    </v-layout>-->
                    <!-- <v-dialog
                        v-model="uploadFile"
                        max-width="700px"
                        scrollable
                      >
                        <v-card>
                          <v-form
                            v-model="editedItem.valid"
                            ref="formupload"
                            lazy-validation
                          >
                            <v-card-title>
                              <span>Photo</span>
                              <v-spacer></v-spacer>
                            </v-card-title>
                            <v-card-text>
                              <upload-btn
                                :fileChangedCallback="fileChanged"
                                title="Browse"
                                name="uploadphoto"
                                uniqueId
                              >
                               
                                <template slot="icon-left">
                                  <v-icon
                                    left
                                    color="white"
                                  >attachment</v-icon>
                                </template>
                              </upload-btn>
                              <div class="large-12 medium-12 small-12 cell">
                                <div
                                  v-for="(name, key) in uploadedfileNames"
                                  class="file-listing"
                                > {{name}}
                                  <v-btn
                                    icon
                                    v-if="!showdownload"
                                    @click="removeFile( key )"
                                  >
                                    <v-icon>close</v-icon>
                                  </v-btn>
                                  <v-btn
                                    icon
                                    v-if="showdownload"
                                    @click="downloadFile( key )"
                                  >
                                    <v-icon>save_alt</v-icon>
                                  </v-btn>
                                </div>
                              </div>
                            </v-card-text>
                            <v-card-actions>
                              <v-spacer></v-spacer>

                              <v-btn
                                outline
                                color="primary"
                                @click="uploadFile = false"
                              >Close</v-btn>

                            </v-card-actions>
                          </v-form>
                        </v-card>
                    </v-dialog>-->
                  </v-layout>
                  <v-card-text>
                    <v-card-title>
                      <span class="headline">Other Duty Information</span>
                    </v-card-title>
                    <other-duty-info ref="refotherdutyinfo"></other-duty-info>
                  </v-card-text>
                  <v-card-text>
                    <employee-new-tab
                      ref="refemployeenewtab"
                    ></employee-new-tab>
                  </v-card-text>
                  <!-- <v-card-text>
                    <employee-tab ref="refemployeetab"></employee-tab>
                  </v-card-text>-->
                </v-form>
              </v-card-text>
              <v-dialog v-model="reportWorkdialog" width="900px">
                <v-card flat>
                  <v-toolbar color="primary" dark>
                    <v-toolbar-title>Report To Work</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                      <v-btn
                        icon
                        slot="activator"
                        flat
                        @click.native="closeReportWork"
                      >
                        <v-icon color="white">close</v-icon>
                      </v-btn>
                      <span>Close</span>
                    </v-tooltip>
                  </v-toolbar>

                  <v-card-text>
                    <div class="task-filemessage--scroll">
                      <report-work ref="refreportTowork"></report-work>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      color="primary darken-1"
                      outline
                      @click.native="saveReport"
                      >Update</v-btn
                    >

                    <v-btn
                      color="primary darken-1"
                      outline
                      @click.native="closeReportWork"
                      >Cancel</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="publicinformationdialog" width="900px">
                <v-card flat>
                  <v-form ref="form" lazy-validation>
                    <v-toolbar color="primary" dark>
                      <v-toolbar-title>Public Information</v-toolbar-title>
                      <v-spacer></v-spacer>
                      <v-tooltip bottom>
                        <v-btn
                          icon
                          slot="activator"
                          flat
                          @click.native="closePublicinfo"
                        >
                          <v-icon color="white">close</v-icon>
                        </v-btn>
                        <span>Close</span>
                      </v-tooltip>
                    </v-toolbar>

                    <v-card-text>
                      <div class="task-filemessage--scroll">
                        <public-information
                          ref="refpublicinfo"
                        ></public-information>
                      </div>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="primary darken-1"
                        outline
                        @click.native="savePublicinfo"
                        >Update</v-btn
                      >

                      <v-btn
                        color="primary darken-1"
                        outline
                        @click.native="closePublicinfo"
                        >Cancel</v-btn
                      >
                    </v-card-actions>
                  </v-form>
                </v-card>
              </v-dialog>
              <v-dialog v-model="approvalresigndialog" width="900px">
                <v-card flat>
                  <v-toolbar color="primary" dark>
                    <v-toolbar-title>Approval Resignation</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                      <v-btn
                        icon
                        slot="activator"
                        flat
                        @click.native="closeApprovalResignee"
                      >
                        <v-icon color="white">close</v-icon>
                      </v-btn>
                      <span>Close</span>
                    </v-tooltip>
                  </v-toolbar>

                  <v-card-text>
                    <div class="task-filemessage--scroll">
                      <approval-resign
                        ref="refapprovalresign"
                      ></approval-resign>
                    </div>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      outline
                      color="primary"
                      @click="updateApprovalResignee"
                      >Update</v-btn
                    >

                    <v-btn
                      outline
                      color="primary"
                      @click="closeApprovalResignee"
                      >Close</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="resigneeinfodialog" width="900px">
                <v-card flat>
                  <v-toolbar color="primary" dark>
                    <v-toolbar-title>Resignee Information</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                      <v-btn
                        icon
                        slot="activator"
                        flat
                        @click.native="closeResigninfo"
                      >
                        <v-icon color="white">close</v-icon>
                      </v-btn>
                      <span>Close</span>
                    </v-tooltip>
                  </v-toolbar>

                  <v-card-text>
                    <div class="task-filemessage--scroll">
                      <resignee-info ref="refresigneeinfo"></resignee-info>
                    </div>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn outline color="primary" @click="updateResigninfo"
                      >Update</v-btn
                    >

                    <v-btn outline color="primary" @click="closeResigninfo"
                      >Close</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="transferResigneedialog" width="900px">
                <v-card flat>
                  <v-toolbar color="primary" dark>
                    <v-toolbar-title>Transfer of Resignee</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                      <v-btn
                        icon
                        slot="activator"
                        flat
                        @click.native="closetransferResignee"
                      >
                        <v-icon color="white">close</v-icon>
                      </v-btn>
                      <span>Close</span>
                    </v-tooltip>
                  </v-toolbar>

                  <v-card-text>
                    <div class="task-filemessage--scroll">
                      <transfer-resignee
                        ref="reftransferResignee"
                      ></transfer-resignee>
                    </div>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      outline
                      color="primary"
                      @click="updatetransferResignee"
                      >Update</v-btn
                    >

                    <v-btn
                      outline
                      color="primary"
                      @click="closetransferResignee"
                      >Close</v-btn
                    >
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="empsigndialog" width="900px">
                <v-card flat>
                  <v-toolbar color="primary" dark>
                    <v-toolbar-title>Employee Signature</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-tooltip bottom>
                      <v-btn
                        icon
                        slot="activator"
                        flat
                        @click.native="closeempsign"
                      >
                        <v-icon color="white">close</v-icon>
                      </v-btn>
                      <span>Close</span>
                    </v-tooltip>
                  </v-toolbar>

                  <v-card-text> 
                     <div style="overflow: auto; height: calc(100vh - 198px)" v-if="empSignFlag">
                    <img :src="empSign" style="height: 100%;" ></img>
                     </div>
                     <div v-else>{{empSign}}</div>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </v-card>

            <delete-confirmation-dialog
              ref="formdeleteConfirmationDialog"
              heading="Are You Sure You Want To Delete?"
              message="Are You Sure You Want To Delete This Item Permanently?"
              @onConfirm="formDeleteItem"
            ></delete-confirmation-dialog>
          </vue-perfect-scrollbar>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click="save"
              >Save</v-btn
            >
            <v-btn color="primary darken-1" outline @click.native="close"
              >Close</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn
          icon
          slot="activator"
          @click="loadPagingData()"
          v-hotkey="loadPagingKey"
        >
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"
      :total-items="totalRows"
      :rows-per-page-items="rowsPerPageItems"
      :loading="gridloader"
      @update:pagination="onUpdatePagination"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td>{{ props.item.sageID }}</td>
          <td class="text-xs-left">{{ props.item.name }}</td>
          <td class="text-xs-left">{{ props.item.designationName }}</td>
          <td class="text-xs-left">{{ props.item.email }}</td>
          <!-- <td class="text-xs-left">{{ props.item.loginID }}</td> -->
          <!-- <td class="text-xs-left">{{ props.item.createdByUser }}</td>
          <td class="text-xs-left">{{ props.item.createdDate }}</td>-->
          <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
          <td class="text-xs-left">
            {{ props.item.modifiedDate | formatDate }}
          </td>
          <td class="text-xs-left">{{ props.item.status }}</td>

          <!-- <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="onDeleteItem(props.item)"
          >
            delete
          </v-icon>
          </td>-->
          <td>
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  :disabled="Menudisabled(item, props.item)"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{
      snackbarMessage
    }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import ReportWork from "@/pages/application/ReportToWork.vue";
import PublicInformation from "@/pages/application/PublicInformation.vue";
import ApprovalResign from "@/pages/application/ApprovalResignation.vue";
import EmployeeNewTab from "@/pages/application/employeeTab.vue";
import OtherDutyInfo from "@/pages/application/EmployeeOtherDutyInformation.vue";
import ResigneeInfo from "@/pages/application/ResigneeInformation.vue";
import TransferResignee from "@/pages/application/TransferOfResignee.vue";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getDocumentProfileItems } from "@/api/documentProfile";
import {
  getEmployeeOtherDutyInformationByID,
  getEmployeeICTInformationByID,
} from "@/api/employeeOtherInfo";
import {
  getEmployee,
  createEmployee,
  updateEmployee,
  deleteEmployee,
  getApplicationRoles,
  getApplicationUsers,
  getUserGroups,
  getDesignations,
  getLanguageMasters,
  getSectionByDepartment,
  getSubSectionsBySection,
  getEmployeeInformation,
  getDepartmentByDivision,
  getDesignationBySubSectionTwo,
  getSubSectionsTwoBySubSection,
  getDesignationHeadCount,
  getExistingnHeadCountEmployee,
  getEmployeeSignature,
} from "@/api/employee";
import { syncEmployeeToForum } from "@/api/topic";
import GlobalMessage from "@/constant";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import moment from "moment";
export default {
  components: {
    OtherDutyInfo,
    EmployeeNewTab,
    ReportWork,
    PublicInformation,
    ApprovalResign,
    ResigneeInfo,
    TransferResignee,
  },
  data: () => ({
    empSign: "",
    empSignFlag: false,
    dialog: false,
    reportWorkdialog: false,
    totalRows: 0,
    publicinformationdialog: false,
    approvalresigndialog: false,
    resigneeinfodialog: false,
    transferResigneedialog: false,
    empsigndialog: false,
    loader: false,
    gridloader: false,
    saveloader: false,
    startmenu: false,
    expectedmenu: false,
    acceptancemenu: false,
    sectionName: "",
    subSectionName: "",
    subSectionTwoName: "",
    departmentName: "",
    divisionName: "",
    designationName: "",
    endmenu: false,
    isContract: false,
    uploadedfileNames: [],
    designationItems: [],
    departmentItems: [],
    sectionItems: [],
    subSectionItems: [],
    subSectionTwoItems: [],
    divisionItems: [],
    companyItems: [],
    designationHeadcountItems: [],
    uploadFile: false,
    search: "",
    employeeReignationID: null,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "InActive", value: 2 },
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    requiredfield: [(v) => !!v || "This is required field"],
    filterFields: [
      "SageID",
      "FirstName",
      "LastName",
      "NickName",
      "DesignationName",
      "Email",
      "AddedByUser",
      "ModifiedByUser",
    ],
    headers: [
      { text: "Sage ID", value: "sageID", align: "left" },
      { text: "Name", value: "name", align: "left", sortable: false },
      { text: "Designation", value: "designationName", align: "left" },
      { text: "Email", value: "email", align: "left" },

      { text: "Modified By", value: "modifiedByUser", align: "left" },
      { text: "Modified Date", value: "modifiedDate", align: "left" },
      { text: "Status", value: "status", align: "left", sortable: false },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      "Sage ID": "sageID",
      Name: "firstName",
      Designation: "designationName",
      Email: "email",
      "Modified By": "modifiedByUser",
      "Modified Date": "modifiedDate",
      Status: "status",
    },
    gridItems: [],

    roleItems: [],
    userGroupItems: [],
    genderItems: [{ text: "Male" }, { text: "Female" }],
    typeItems: [
      { text: "Permanent", value: 20 },
      { text: "Contract", value: 21 },
      { text: "Temporary", value: 22 },
    ],
    items: [
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: (e) => {},
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: (e) => {},
      },
      {
        icon: "report",
        href: "#",
        title: "Report To Work",
        click: (e) => {
          this.reportWorkdialog = true;
        },
      },
      {
        icon: "public",
        href: "#",
        title: "Public Information ",
        click: (e) => {
          this.publicinformationdialog = true;
        },
      },
      {
        icon: "account_circle",
        href: "#",
        title: "Resignee information",
        click: (e) => {
          this.resigneeinfodialog = true;
        },
      },
      {
        icon: "fa-thumbs-up",
        href: "#",
        title: "Approval of resignation",
        click: (e) => {
          this.approvalresigndialog = true;
        },
      },
      {
        icon: "fa-exchange",
        href: "#",
        title: "Transfer of Resignee",
        click: (e) => {
          this.transferResigneedialog = true;
        },
      },
      {
        icon: "fas fa-signature",
        href: "#",
        title: "Signature",
        click: (e) => {
          this.empsigndialog = true;
        },
      },
    ],

    designationItems: [],
    departmentItems: [],
    sectionItems: [],
    searchreportTo: "",
    acceptanceStatusItems: [],
    subSectionItems: [],
    cityItems: [],
    languageItems: [],
    show1: false,
    password: "Password",
    reportToItems: [],
    profileItems: [],
    editedIndex: -1,
    emailRules: [
      (v) =>
        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        "E-mail must be valid",
    ],
    selectedItem: null,
    editedItem: {
      valid: false,
      userID: null,
      userCode: "",
      employeeID: -1,
      isActive: true,
      isEnableLogin: true,
      sageID: "",
      nickName: "",
      firstName: "",
      lastName: "",
      nameRules: [(v) => !!v || "First Name is required"],
      gender: "",
      typeOfEmployeement: null,

      // site: 1,
      cityID: null,
      cityName: "",
      languageID: null,
      languageName: "",
      email: "",
      extension: "",
      speedDial: "",
      mobile: "",
      skypeAddress: "",
      signature: "",
      dateOfEmployeement: new Date().toISOString().substr(0, 10),
      lastWorkingDate: new Date().toISOString().substr(0, 10),
      roleID: null,
      userGroupID: null,
      reportToIDs: [],
      loginID: "",
      loginPassword: "",
      reportID: "",
      employeeActingList: [],
      employeeOverseesList: [],
      addedByUserID: null,
      expectedJoiningDate: new Date().toISOString().substr(0, 10),
      acceptanceStatusDate: new Date().toISOString().substr(0, 10),
      acceptanceStatus: 0,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      plantID: null,
      divisionID: null,
      departmentID: null,
      sectionID: null,
      subSectionID: null,
      subSectionTID: null,
      designationID: null,
      companyName: "",
      divisionName: "",
      departmentName: "",
      sectionName: "",
      subSectionName: "",
      designation: "",
      headCount: 0,
    },
    defaultItem: {
      valid: false,
      employeeID: -1,
      isActive: true,
      isEnableLogin: true,
      sageID: "",
      userCode: "",
      firstName: "",
      nickName: "",
      lastName: "",
      nameRules: [(v) => !!v || "First Name is required"],
      gender: "",
      typeOfEmployeement: null,
      // site: 1,
      cityID: null,
      cityName: "",
      languageID: null,
      languageName: "",
      email: "",
      extension: "",
      speedDial: "",
      mobile: "",
      skypeAddress: "",
      signature: "",
      dateOfEmployeement: new Date().toISOString().substr(0, 10),
      lastWorkingDate: new Date().toISOString().substr(0, 10),
      roleID: null,
      userGroupID: null,
      loginID: "",
      loginPassword: "",
      reportID: "",
      reportToIDs: [],
      employeeActingList: [],
      employeeOverseesList: [],
      expectedJoiningDate: new Date().toISOString().substr(0, 10),
      acceptanceStatusDate: new Date().toISOString().substr(0, 10),
      acceptanceStatus: 0,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      plantID: null,
      divisionID: null,
      departmentID: null,
      sectionID: null,
      subSectionID: null,
      subSectionTID: null,
      designationID: null,
      companyName: "",
      divisionName: "",
      departmentName: "",
      sectionName: "",
      subSectionName: "",
      designation: "",
      headCount: 0,
    },
    searchItem: { action: "", Id: null, searchString: "searchString" },
  }),
  headcountdata: {
    employeeID: null,
    companyID: null,
    divisionID: null,
    departmentID: null,
    sectionID: null,
    subSectionID: null,
    subSectionTID: null,
    designationID: null,
    designationHeadCountID: null,
    designationHeadCount: 0,
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Employee" : "Edit Employee";
    },
    nameRules() {
      return [(v) => !!v || "This is required field"];
    },

    //    statusRules (){

    //    return [
    //     () => (!!this.editedItem.typeOfEmployeement > 0) || 'Atleast one employeement type is required',
    //     v => !!v || 'Registration Reference is required'
    //   ];
    // },
    minDate() {
      const today = new Date();
      return this.formatDate(today);
    },
    startDateFormated() {
      return this.editedItem.dateOfEmployeement
        ? moment(this.editedItem.dateOfEmployeement).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    expectedDateFormated() {
      return this.editedItem.expectedJoiningDate
        ? moment(this.editedItem.expectedJoiningDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    acceptanceDateFormated() {
      return this.editedItem.acceptanceStatusDate
        ? moment(this.editedItem.acceptanceStatusDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    endDateFormated() {
      return this.editedItem.lastWorkingDate
        ? moment(this.editedItem.lastWorkingDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
  created() {
    this.initialize();
    window.getApp.$emit("DISABLE_TAB", false);
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  methods: {
    initialize() {
      this.uploadedFiles = [];
      this.uploadedfileNames = [];
      this.loader = true;
      this.loader = true;
      getDocumentProfileItems("")
        .then((response) => {
          this.profileItems = response.data.filter(
            (p) => p.statusCodeID != 665
          );
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationMasterDetailByType(226)
        .then((response1) => {
          this.acceptanceStatusItems = response1.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getCodeMasterByType("ResignationType")
        .then((response2) => {
          if (this.$refs.refresigneeinfo != undefined) {
            this.$refs.refresigneeinfo.resignationtypeItems = response2.data;
          }
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getLanguageMasters("")
        .then((response7) => {
          this.loader = false;
          this.$refs.refemployeenewtab.$refs.refemployeegeneral.languageItems =
            response7.data;
          //this.languageItems = response7.data;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getApplicationUsers("")
        .then((response8) => {
          // alert('test:-'+JSON.stringify(response.data));
          this.loader = false;
          this.reportToItems = response8.data.filter(
            (o) => o.statusCodeID == 1
          );

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getApplicationRoles("")
        .then((response9) => {
          if (response9.data != undefined) {
            this.roleItems = response9.data;
            this.loader = false;
            let uom = this.roleItems.filter((o) => o.statusCodeID == 1);

            this.roleItems = uom;
          }

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            this.loader = false;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);

            this.userGroupItems = uom;
          }

          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getDesignations("")
        .then((response) => {
          this.companyItems = response.data.filter(
            (d) =>
              d.statusCodeID != 2 &&
              d.companyName != null &&
              d.divisionName != null &&
              d.departmentName != null &&
              d.sectionName != null &&
              d.subSectionName != null &&
              d.subSectionTwoName != null
          );

          //this.companyItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    Menudisabled(menu, item) {
      // if (menu.title == 'Approval of resignation') {
      //   if(this.employeeReignationID >0)
      //   {
      //     return false;
      //   }
      //   else{
      //     return true;
      //   }
      // }
    },

    getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = 1;
      this.pagination.page = 1;
      search.sortCol = "EmployeeId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetEmployees";

      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;
      if (args.sortBy == "sageID") {
        search.sortCol = "SageID";
      } else if (args.sortBy == "name") {
        search.sortCol = "Name";
      } else if (args.sortBy == "designationName") {
        search.sortCol = "DesignationName";
      } else if (args.sortBy == "email") {
        search.sortCol = "Email";
      } else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetEmployees";
      console.log("Pagination", args);
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    openUpload() {
      this.uploadFile = true;
    },
    closeReportWork() {
      this.reportWorkdialog = false;
    },
    closePublicinfo() {
      this.publicinformationdialog = false;
    },
    closeApprovalResignee() {
      this.approvalresigndialog = false;
    },
    closeResigninfo() {
      this.resigneeinfodialog = false;
    },
    closetransferResignee() {
      this.transferResigneedialog = false;
    },
    closeempsign() {
      this.empsigndialog = false;
    },
    menuClick(key, item) {
      this.employeeReignationID = null;
      this.$refs.refresigneeinfo.editedItem =
        this.$refs.refresigneeinfo.defaultItem;

      this.selectedDoc = item;
      let id = item.employeeID;

      if (key == 0) {
        this.editItem(item);
      } else if (key == 1) {
        this.onDeleteItem(item);
      } else if (key == 2) {
        this.reportWorkdialog = !this.reportWorkdialog;
        this.$refs.refreportTowork.initialize(item);
      } else if (key == 3) {
        this.publicinformationdialog = !this.publicinformationdialog;
        this.$refs.refpublicinfo.initialize(item);
      } else if (key == 4) {
        this.resigneeinfodialog = !this.resigneeinfodialog;
        this.$refs.refresigneeinfo.initialize(item);
        console.log("employee Item" + JSON.stringify(item));
      } else if (key == 5) {
        this.approvalresigndialog = !this.approvalresigndialog;
        this.$refs.refapprovalresign.initialize(item);
      } else if (key == 6) {
        this.transferResigneedialog = !this.transferResigneedialog;
        this.$refs.reftransferResignee.initialize(item);
      } else if (key == 7) {
        this.empsigndialog = !this.empsigndialog;
        this.loadEmpSinature(item);
      } else {
      }
    },
    loadEmpSinature(item) {
      getEmployeeSignature(item.employeeID)
        .then((response) => {
          this.empSign = "";
          this.empSignFlag = false;
          if (response.status == 200) {
            this.empSignFlag = true;
            let blob = new Blob([response.data], { type: "image/png" });
            let link = document.createElement("a");
            this.empSign = window.URL.createObjectURL(blob);
          }
          else
          {
            this.empSign="No Signature Found";
          }
        })
        .catch((error) => {});
    },
    fileChanged(file) {
      this.uploadedFiles.push(file);
      this.uploadedfileNames.push(file.name);
      this.showdownload = false;
      this.loader = true;
    },
    removeFile(key) {
      this.uploadedFiles.splice(key, 1);
      this.uploadedfileNames.splice(key, 1);
    },
    removeReportTo(item) {
      const index = this.editedItem.reportToIDs.indexOf(item.userID);
      if (index >= 0) this.editedItem.reportToIDs.splice(index, 1);
    },
    editItem(item) {
      console.log("edit items" + JSON.stringify(item));
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      if (item.expectedJoiningDate != null) {
        this.editedItem.expectedJoiningDate = moment(
          item.expectedJoiningDate
        ).format("YYYY-MM-DD");
      }
      setTimeout(() => {
        if (this.editedItem.designationID > 0) {
          this.selectCompany(this.editedItem.designationID);
        }
        // if (this.editedItem.divisionID > 0) {
        //   this.selectDivision(this.editedItem.divisionID);
        // }
        // if (this.editedItem.departmentID > 0) {
        //   this.selectDepartment(this.editedItem.departmentID);
        // }
        // if (this.editedItem.sectionID > 0) {
        //   this.selectSection(this.editedItem.sectionID);
        // }
        // if (this.editedItem.subSectionID > 0) {
        //   this.selectSubsection(this.editedItem.subSectionID);
        // }
        // if (this.editedItem.subSectionTID > 0) {
        //   this.selectSubsectionTwo(this.editedItem.subSectionTID);
        // }
        // if (this.editedItem.designationID > 0) {
        //   this.selectDesignation(this.editedItem.designationID);
        // }
        this.$refs.refemployeenewtab.loadEmpSinature(this.editedItem.employeeID);
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.languageID =
          this.editedItem.languageID;
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.email =
          this.editedItem.email;
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.extension =
          this.editedItem.extension;
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.speedDial =
          this.editedItem.speedDial;
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.skypeAddress =
          this.editedItem.skypeAddress;
        this.dialog = true;
        this.selectType(this.editedItem.typeOfEmployeement);
        let id = this.editedItem.employeeID;
        this.$refs.refotherdutyinfo.employeeID = id;
        this.$refs.refotherdutyinfo.enableAddButton = false;
        this.$refs.refemployeenewtab.$refs.refictinfo.employeeID = id;
        this.$refs.refemployeenewtab.$refs.refictinfo.enableAddButton = false;
        // this.$refs.refemployeetab.$refs.refemployeeInfo.employeeID = id;
        // this.$refs.refemployeetab.$refs.refemployeeOversees.employeeID = id;
        // this.$refs.refemployeetab.$refs.refemployeeInfo.enableAddButton = false;
        // this.$refs.refemployeetab.$refs.refemployeeOversees.enableAddButton = false;
        // this.$refs.refemployeetab.$refs.refemployeeInfo.getEmpInformation();
        // this.$refs.refemployeetab.$refs.refemployeeOversees.getEmpInformation();
        getEmployeeInformation(id)
          .then((response) => {
            let actinginfo = response.data.filter((f) => f.isOversees == false);
            let overseesinfo = response.data.filter(
              (f) => f.isOversees == true
            );
            // this.$refs.refemployeetab.$refs.refemployeeInfo.employeeInformationItems = actinginfo;
            // this.$refs.refemployeetab.$refs.refemployeeOversees.employeeInformationItems = overseesinfo;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getEmployeeOtherDutyInformationByID(id)
          .then((response) => {
            if (response.data != undefined) {
              this.$refs.refotherdutyinfo.gridItems = response.data;
              this.loader = false;
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getEmployeeICTInformationByID(id)
          .then((response) => {
            if (response.data != undefined) {
              this.$refs.refemployeenewtab.$refs.refictinfo.gridItems =
                response.data;
              this.loader = false;
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }, 400);
    },
    startDateChange() {
      this.startmenu = false;
      this.dateOfEmployeement = this.editedItem.dateOfEmployeement;
    },
    expectedDateChange() {
      this.expectedmenu = false;
    },
    acceptanceDateChange() {
      this.acceptancemenu = false;
    },
    endDateChange() {
      this.endmenu = false;
      this.lastWorkingDate = this.editedItem.lastWorkingDate;
    },
    updateResigninfo() {
      this.$refs.refresigneeinfo.save();
    },
    updateApprovalResignee() {
      this.$refs.refapprovalresign.save();
    },
    updatetransferResignee() {
      this.$refs.reftransferResignee.save();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);

      deleteEmployee(this.selectedItem)
        .then((response) => {
          this.loader = false;
          this.selectedItem = null;
          if (response != undefined) {
            this.gridItems.splice(index, 1);
            this.loadPagingData();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    saveAndClose() {
      this.save();
      this.close();
    },
    toolfunction() {
      getEmployee(this.searchItem)
        .then((response) => {
          if (response.data.employeeID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map((item) => item.employeeID)
              .indexOf(response.data.employeeID);
            this.editedIndex = index;
            this.$refs.refemployeenewtab.loadEmpSinature(this.editedItem.employeeID);
            this.getEmployeeOtherDutyInfo(this.editedItem.employeeID);
            // this.$refs.refemployeetab.$refs.refemployeeInfo.employeeInformationItems = this.editedItem.employeeActingList;
            // this.$refs.refemployeetab.$refs.refemployeeOversees.employeeInformationItems = this.editedItem.employeeOverseesList;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
          }
        })
        .catch((error) => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.employeeID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.employeeID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.employeeID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.employeeID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    getEmployeeOtherDutyInfo(id) {
      this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.languageID =
        this.editedItem.languageID;
      this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.email =
        this.editedItem.email;
      this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.extension =
        this.editedItem.extension;
      this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.speedDial =
        this.editedItem.speedDial;
      this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.skypeAddress =
        this.editedItem.skypeAddress;

      this.$refs.refotherdutyinfo.employeeID = id;
      this.$refs.refotherdutyinfo.enableAddButton = false;
      this.$refs.refemployeenewtab.$refs.refictinfo.employeeID = id;
      this.$refs.refemployeenewtab.$refs.refictinfo.enableAddButton = false;
      getEmployeeInformation(id)
        .then((response) => {
          let actinginfo = response.data.filter((f) => f.isOversees == false);
          let overseesinfo = response.data.filter((f) => f.isOversees == true);
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getEmployeeOtherDutyInformationByID(id)
        .then((response) => {
          if (response.data != undefined) {
            this.$refs.refotherdutyinfo.gridItems = response.data;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getEmployeeICTInformationByID(id)
        .then((response) => {
          if (response.data != undefined) {
            this.$refs.refemployeenewtab.$refs.refictinfo.gridItems =
              response.data;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    add() {
      // this.$refs.refemployeetab.$refs.refemployeeInfo.enableAddButton = true;
      // this.$refs.refemployeetab.$refs.refemployeeOversees.enableAddButton = true;
      this.$refs.refemployeenewtab.loadEmpSinature(-1);
      this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.languageID =
        null;
      (this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.email =
        ""),
        (this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.extension =
          ""),
        (this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.speedDial =
          ""),
        (this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.skypeAddress =
          ""),
        (this.$refs.refotherdutyinfo.enableAddButton = true);
      this.$refs.refotherdutyinfo.gridItems = [];
      this.$refs.refemployeenewtab.$refs.refictinfo.employeeID = null;
      this.$refs.refemployeenewtab.$refs.refictinfo.enableAddButton = true;
      this.$refs.refemployeenewtab.$refs.refictinfo.gridItems = [];
      this.editedItem.valid = false;
      this.editedItem.employeeID = -1;
      this.editedItem.userID = null;
      this.editedItem.firstName = "";
      this.editedItem.isActive = true;
      this.editedItem.userCode = "";
      this.editedItem.isEnableLogin = true;
      this.editedItem.sageID = "";
      // this.editedItem.userName = '';
      this.editedItem.nickName = "";
      this.editedItem.gender = "";
      this.editedItem.typeOfEmployeement = null;
      this.editedItem.cityID = null;
      this.editedItem.languageID = null;
      this.editedItem.email = "";
      this.editedItem.extension = "";
      this.editedItem.speedDial = "";
      this.editedItem.lastName = "";
      this.editedItem.mobile = "";
      this.editedItem.skypeAddress = "";
      this.editedItem.signature = "";
      this.editedItem.loginID = "";
      this.editedItem.loginPassword = "";
      this.editedItem.designationID = null;
      this.editedItem.acceptanceStatus = null;
      this.editedItem.expectedJoiningDate = new Date()
        .toISOString()
        .substr(0, 10);
      this.editedItem.dateOfEmployeement = new Date()
        .toISOString()
        .substr(0, 10);
      this.editedItem.lastWorkingDate = new Date().toISOString().substr(0, 10);
      //Permission Screen
      (this.editedItem.roleID = null),
        (this.editedItem.userGroupID = null),
        (this.editedItem.loginID = ""),
        (this.editedItem.loginPassword = ""),
        //Report To
        (this.editedItem.reportToIDs = []);

      this.editedItem.nameRules = [(v) => !!v || "First Name is required"];
      this.editedItem.employeeActingList = [];
      this.editedItem.employeeOverseesList = [];
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1;
      this.editedItem.statusCode = "Active";
      this.editedIndex = -1;
      this.editedItem.employeeOverseesList = [];
      this.editedItem.employeeActingList = [];
      (this.sectionName = ""),
        (this.subSectionName = ""),
        (this.subSectionTwoName = ""),
        (this.departmentName = ""),
        (this.divisionName = ""),
        (this.designationName = ""),
        // this.$refs.refemployeetab.$refs.refemployeeInfo.employeeInformationItems = [];
        // this.$refs.refemployeetab.$refs.refemployeeOversees.employeeInformationItems = [];
        // this.editedItem.divisionID = null;
        // this.editedItem.departmentID = null;
        // this.editedItem.plantID = null;
        // this.editedItem.sectionID = null;
        // this.editedItem.subSectionID = null;
        // this.editedItem.subSectionTID = null;
        // this.editedItem.designationID = null;
        (this.editedItem.headCount = 0);
    },

    formatDate(date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join("-");
    },
    deleterow() {
      if (this.editedIndex != -1) {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      }
    },
    undo() {
      this.$refs.signaturePad.undoSignature();
    },
    formateDate(string) {
      return string ? moment(string).format(GlobalMessage.DATEFORMAT) : "";
    },
    // save () {
    //   const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
    //   console.log(isEmpty);
    //   console.log(data);
    // },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      if (index != -1) {
        console.log(this.editedItem);
        deleteEmployee(this.editedItem.employeeID)
          .then((response) => {
            this.add();
            if (response != undefined) {
              this.gridItems.splice(index, 1);
              this.loadPagingData();
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch((error) => {
            //this.loader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    close() {
      this.dialog = false;
      (this.sectionName = ""),
        (this.subSectionName = ""),
        (this.subSectionTwoName = ""),
        (this.departmentName = ""),
        (this.divisionName = ""),
        (this.designationName = ""),
        this.initialize();
      this.loadPagingData();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    selectDepartment(value) {
      let id = value;
      getSectionByDepartment(id)
        .then((response4) => {
          this.sectionItems = response4.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectSection(value) {
      let id = value;
      getSubSectionsBySection(id)
        .then((response4) => {
          this.subSectionItems = response4.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectType(value) {
      if (this.editedItem.typeOfEmployeement == 21) {
        this.isContract = true;
      } else {
        this.isContract = false;
      }
    },
    save() {
      this.editedItem.languageID =
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.languageID;
      this.editedItem.email =
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.email;
      this.editedItem.extension =
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.extension;
      this.editedItem.speedDial =
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.speedDial;
      this.editedItem.skypeAddress =
        this.$refs.refemployeenewtab.$refs.refemployeegeneral.editedItem.skypeAddress;

      if (this.$refs.mainform.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date();
          this.saveloader = true;
          console.log("editedItem" + JSON.stringify(this.editedItem));
          updateEmployee(this.editedItem)
            .then((response) => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.syncEmployeeToForumData();
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              //window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.employeeID = parseInt(Math.random() * 100) + 1024; // mock a id
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.statusCodeID = 1;
          this.saveloader = true;
          createEmployee(this.editedItem)
            .then((response) => {
              if (response.data != undefined) {
                this.gridItems.push(response.data);
                this.loader = false;
                this.saveloader = false;
                this.editedItem = response.data;
                let index = this.gridItems
                  .map((item) => item.employeeID)
                  .indexOf(response.data.employeeID);
                this.editedIndex = index;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                this.$refs.refotherdutyinfo.employeeID =
                  response.data.employeeID;
                this.$refs.refotherdutyinfo.enableAddButton = false;
                this.$refs.refemployeenewtab.$refs.refictinfo.employeeID =
                  response.data.employeeID;
                this.$refs.refemployeenewtab.$refs.refictinfo.enableAddButton = false;
                // this.$refs.refemployeetab.$refs.refemployeeInfo.employeeID =
                //   response.data.employeeID;
                // this.$refs.refemployeetab.$refs.refemployeeOversees.employeeID =
                //   response.data.employeeID;
                // this.$refs.refemployeetab.$refs.refemployeeInfo.enableAddButton = false;
                // this.$refs.refemployeetab.$refs.refemployeeOversees.enableAddButton = false;
                this.syncEmployeeToForumData();
              }
            })
            .catch((error) => {
              this.loader = false;
              this.saveloader = false;
              // window.getApp.$emit("APP_API_ERROR", error);
            });
        }
        //this.close();
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    },
    syncEmployeeToForumData()
    {
      syncEmployeeToForum()
        .then(() => {
        })
        .catch(() => {
        });
    },
    selectDivision(value) {
      let id = value;
      getDepartmentByDivision(id)
        .then((response4) => {
          this.departmentItems = response4.data.filter(
            (o) => o.statusCodeID == 1 || o.statusCodeID == 5
          );
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectDepartment(value) {
      let id = value;
      getSectionByDepartment(id)
        .then((response4) => {
          this.sectionItems = response4.data.filter((o) => o.statusCodeID == 1);
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectSection(value) {
      let id = value;
      getSubSectionsBySection(id)
        .then((response4) => {
          this.subSectionItems = response4.data.filter(
            (o) => o.statusCodeID == 1 || o.statusCodeID == 5
          );
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectSubsection(value) {
      let id = value;
      getSubSectionsTwoBySubSection(id)
        .then((response4) => {
          this.subSectionTwoItems = response4.data.filter(
            (o) => o.statusCodeID == 1 || o.statusCodeID == 5
          );
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectSubsectionTwo(value) {
      let id = value;
      getDesignationBySubSectionTwo(id)
        .then((response4) => {
          this.designationItems = response4.data.filter(
            (o) => o.statusCodeID == 1 || o.statusCodeID == 5
          );
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectCompany(value) {
      // let id = value;
      // this.loader = true;
      if (value == undefined) {
        this.departmentName = "";
        this.divisionName = "";
        this.sectionName = "";
        this.subSectionName = "";
        this.subSectionTwoName = "";
        this.designationName = "";
      } else {
        if (this.editedItem.designationID > 0) {
          let dept = this.companyItems.filter(
            (d) => d.designationID == this.editedItem.designationID
          );
          if (dept.length > 0) {
            this.departmentName = dept[0].departmentName;
            this.divisionName = dept[0].divisionName;
            this.sectionName = dept[0].sectionName;
            this.subSectionName = dept[0].subSectionName;
            this.subSectionTwoName = dept[0].subSectionTwoName;
            this.designationName = dept[0].name;
            this.editedItem.plantID = dept[0].companyID;
            this.editedItem.divisionID = dept[0].divisionID;
            this.editedItem.departmentID = dept[0].departmentID;
            this.editedItem.sectionID = dept[0].sectionID;
            this.editedItem.subSectionID = dept[0].subSectionID;
            this.editedItem.subSectionTID = dept[0].subSectionTID;
          }
        }
        let id = value;
        getDesignationHeadCount(id)
          .then((response) => {
            let designationCount = response.data.headCount;
            this.designationHeadcountItems = [];
            var count = 1;
            for (count = 1; count <= designationCount; count++) {
              this.designationHeadcountItems.push(count);
            }

            // this.divisionItems = response.data;
            this.loader = false;
            //this.total = response.data.length;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    selectDesignation(value) {
      let id = value;
      getDesignationHeadCount(id)
        .then((response) => {
          let designationCount = response.data.headCount;
          this.designationHeadcountItems = [];
          var count = 1;
          for (count = 1; count <= designationCount; count++) {
            this.designationHeadcountItems.push(count);
          }

          // this.divisionItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    selectReportTo() {
      this.searchreportTo = "";
    },
    selectHeadCount() {
      this.headcountdata.divisionID = this.editedItem.divisionID;
      this.headcountdata.companyID = this.editedItem.plantID;
      this.headcountdata.departmentID = this.editedItem.departmentID;
      this.headcountdata.sectionID = this.editedItem.sectionID;
      this.headcountdata.subSectionID = this.editedItem.subSectionID;
      this.headcountdata.subSectionTID = this.editedItem.subSectionTID;
      this.headcountdata.designationID = this.editedItem.designationID;
      this.headcountdata.designationHeadCount = this.editedItem.headCount;
      getExistingnHeadCountEmployee(this.headcountdata)
        .then((response) => {
          if (response.data == true) {
            window.getApp.$emit(
              "APP_API_ERROR",
              "Head Count Aleady existing in this selected designation"
            );
            this.editedItem.headCount = 0;
          }
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveReport() {
      this.$refs.refreportTowork.saveReport();
    },
    savePublicinfo() {
      this.$refs.refpublicinfo.savePublicinfo();
    },
  },
};
</script>
<style scoped>
.employee--scrollbar {
  height: calc(90vh - 40px - 70px);
}
.backcolor {
  background-color: whitesmoke;
}
</style>