<template>
    <div>
        <template>
            <v-layout row>
                <v-flex xs12 sm12>
                    <portal-links ref="refPortalLinks"></portal-links>
                </v-flex>
            </v-layout>
        </template>
    </div>
</template>
<script>
    import PortalLinks from "@/components/portalLinks/portalLinks";
    export default {
        components: {
            PortalLinks
        },
        data: () => ({
        }),
        created () {
            this.initialize();
        },
        methods: {
            initialize () {
                
                setTimeout(() => {
                    this.$refs.refPortalLinks.moduleId = 3193;
                    this.$refs.refPortalLinks.initialize();
                }, 300);
            },
        }
    }
</script>

