<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <h4>Subject Due List</h4>
      </v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="taskComments"
          class="elevation-0"
          :pagination.sync="pagination"
          :loading="commentloader"
        >
          <template slot="items" slot-scope="props">
            <tr v-on:dblclick="redirectLink(props.item)">
              <td>
                <v-icon
                  small
                  slot="activator"
                  v-if="props.item.parentCommentId > 0"
                  >reply</v-icon
                >
                <v-icon small slot="activator" v-if="props.item.isPin"
                  >fa-thumb-tack</v-icon
                >
                {{ props.item.taskName }}
              </td>
              <td class="text-xs-left">{{ props.item.taskSubject }}</td>
              <td class="text-xs-left">{{ props.item.dueIn }}</td>
              <td class="text-xs-left">
                {{
                  props.item.isNoDueDate == true
                    ? ""
                    : props.item.taskDueDate | formatDate
                }}
              </td>
              <td class="text-xs-left">
                {{
                  props.item.isNoDueDate == true
                    ? ""
                    : props.item.subjectDueDate | formatDate
                }}
              </td>
              <td class="text-xs-left">{{ props.item.assignedType }}</td>
              <td class="text-xs-left">{{ props.item.commentedByName }}</td>
              <td class="text-xs-left">
                {{ props.item.lastCommentedDate | formatDate }}
              </td>
              <td class="text-xs-left">
                <v-icon small @click="redirectLink(props.item)"
                  >visibility</v-icon
                >

                <v-icon small @click="closeUnRead(props.item)">close</v-icon>
              </td>
            </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import {  getUpComingDueMessageDashboard } from "@/api/dashboard";
import {  updateClosed } from "@/api/taskMaster";
export default {
  data() {
    return {
      timer: "",
      commentloader: false,
      headers: [
        { text: "Task Name", value: "taskName" },
        { text: "Subject Name", value: "taskSubject" },
        { text: "Due In", value: "dueIn" },
        { text: "Task Due Date", value: "taskDueDate" },
        { text: "Subject Due Date", value: "subjectDueDate" },
        { text: "Assigned Type", value: "assignedType" },
        { text: "Comment By", value: "commentedByName" },
        { text: "Last Commented Date", value: "lastCommentedDate" },
        { text: "Action", value: "action", align: "left", width: "100px", sortable:false, },
      ],
      taskComments: [],
      pagination: {
        sortBy: "lastCommentedDate",
        descending: true,
        rowsPerPage: 10,
      },
    };
  },
  computed: {},
  created() {
    this.getDashboard();
    //this.timer = setInterval(this.getDashboard, 30000);
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
  methods: {
    getDashboard() {
      let userId = this.$store.state.auth.userId;
      this.commentloader = true;
      getUpComingDueMessageDashboard(userId)
        .then((response) => {
          // console.log('task unread comment response data' +JSON.stringify(response.data))
          this.taskComments = response.data;
          this.commentloader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.commentloader = false;
        });
    },
    closeUnRead(item) {
      console.log("close item" + JSON.stringify(item));
      let comment = {
        taskMasterID: item.taskMasterID,
        addedByUserID: this.$store.state.auth.userId,
        taskCommentID: item.taskCommentID,
      };
      updateClosed(comment)
        .then((response) => {
          this.getDashboard();
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    redirectLink(item) {
      this.$cookies.set("reload", "unreadSubject");
      this.$router.push({
        name: "taskTreeView",
        query: {
          id: item.taskMasterID,
          taskid: item.taskMasterID,
          taskCommentID: item.taskCommentID,
          type: "Dashboard",
        },
      });
    },
  },
};
</script>
