<template>
  <v-card>
    <v-toolbar card dense color="transparent">
      <v-toolbar-title>
        <h4>Discussion List</h4>
      </v-toolbar-title>
    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="taskDiscussions"
          class="elevation-0"
        >
          <template slot="items" slot-scope="props">
            <tr v-on:dblclick="redirectLink(props.item)">
              <td class="text-xs-left">{{ props.item.taskTitle }}</td>
              <td class="text-xs-left">
                {{ props.item.discussionDate | formatDate }}
              </td>
              <td class="text-xs-left">{{ props.item.discussionBy }}</td>
              <td class="text-xs-right">
                <v-btn
                  flat
                  icon
                  color="primary"
                  @click="redirectLink(props.item)"
                >
                  <v-icon>visibility</v-icon>
                </v-btn>
              </td>
            </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import { getTaskAppointmentsByUser } from "@/api/dashboard";
export default {
  data() {
    return {
      timer: "",
      headers: [
        { text: "Task title", value: "taskTitle" },
        { text: "Discussion Date", value: "discussionDate" },
        { text: "Discussion By", value: "discussionBy" },
        { text: "Action", value: "action", align: "right" },
      ],
      taskDiscussions: [],
    };
  },
  computed: {},
  created() {
    this.getDashboard();
    // this.timer = setInterval(this.getDashboard, 30000)
  },
  beforeDestroy() {
    clearInterval(this.timer);
  },
  methods: {
    getDashboard() {
      let userId = this.$store.state.auth.userId;
      getTaskAppointmentsByUser(userId)
        .then((response) => {
          this.taskDiscussions = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    redirectLink(item) {
      this.$router.push({
        name: "taskTreeView",
        query: { id: item.taskMasterID, taskid: item.taskMasterID },
      });
    },
  },
};
</script>
