<template>
  <v-card>
    <v-toolbar
      card
      dense
      color="transparent"
    >
      <v-toolbar-title>
        <h4>SuperUser Task List</h4>
      </v-toolbar-title>

    </v-toolbar>
    <v-divider></v-divider>
    <v-card-text class="pa-0">
      <template>
        <v-data-table
          :headers="headers"
          :items="projects"
          class="elevation-0"
        >
          <template
            slot="items"
            slot-scope="props"
          >
           <tr v-on:dblclick="redirectLink(props.item)">
            <td>{{ props.item.name }}</td>
            <td class="text-xs-left">{{ props.item.dueDate | formatDate }}</td>
            <td class="text-xs-left">{{ props.item.addedByUser }}</td>
            <td class="text-xs-right">
              <v-btn
                flat
                icon
                color="primary"
                @click="redirectLink(props.item)"
              >
                <v-icon>visibility</v-icon>
              </v-btn>
            </td>
           </tr>
          </template>
        </v-data-table>
      </template>
      <v-divider></v-divider>
    </v-card-text>
  </v-card>
</template>

<script>
import { getSuperUserDashboard } from '@/api/dashboard';
import GlobalMessage from '@/constant'
export default {
  data () {
    return {
      timer: '',
      headers: [

        {
          text: 'Name',
          align: 'left',
          value: 'name'
        },
        { text: 'Due Date', value: 'due' },
        { text: 'Assigned by', value: 'deadline' },
        { text: 'Action', value: 'action', align: 'right' }
      ],
      projects: [],
    };
  },
  computed: {
    // projects () {
    //   return Projects;
    // }
  },
  created () {

    this.getDashboard();
    this.timer = setInterval(this.getDashboard, 30000)

  },
  beforeDestroy () {
    clearInterval(this.timer);
  },
  methods: {
    getDashboard () {
      let userId = GlobalMessage.SuperUser;
      getSuperUserDashboard(userId)
        .then(response => {
          this.projects = response.data;

        })
        .catch(error => {
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    redirectLink (item) {
      this.$router.push({ name: 'taskTreeView', query: { id: item.mainTaskId, taskid: item.taskID } });
    },
  }
};
</script>
