<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="allsearch" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu slot="activator" :close-on-content-click="false" :nudge-right="40" lazy v-model="allmenuSearch" transition="scale-transition" offset-y max-width="700px">
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>
          <v-card>
            <vue-perfect-scrollbar class="chat-room--scrollbar lighten-5">
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex lg12 sm12>
                    <div class="mt-3 title">Search and Filter</div>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-menu ref="allstartDateDue" v-model="allstartDateDue" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <v-text-field slot="activator" :value="allstartDateFormated" label="From Date" prepend-icon="event" clearable @click:clear="allclearableStartDate" readonly></v-text-field>
                      <v-date-picker v-model="allsearchItemstartDate" @change="allstartDateDue = false">
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-menu ref="allendDateDue" v-model="allendDateDue" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                      <v-text-field slot="activator" :value="allendDateFormated" label="To Date" prepend-icon="event" clearable @click:clear="allclearableEndDate" readonly></v-text-field>
                      <v-date-picker v-model="allsearchItemendDate" :min="allsearchItem.startDate" @change="allendDateDue = false">
                      </v-date-picker>
                    </v-menu>
                  </v-flex>
                  <v-flex xs12 sm12>
                    <div class="mt-3 title">Visitor Company</div>
                    <v-checkbox v-model="allsearchItem.allVisitorCompany" label="All Visitor Company" @change="onCheckallVisitorCompany"></v-checkbox>
                    <v-autocomplete :loading="loader" chips flat label="Visitor Company" prepend-icon="assistant" :items="companyItems" v-model="allsearchItem.companyId" color="blue" item-text="companyListingName" item-value="companyListingID" multiple :search-input.sync="allsearchCompanyType" @change="allselectcompanyType">
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected" close class="chip--select-multi" @input="allremoveCompanyType(data.item)">{{ data.item.companyListingName }}</v-chip>
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content v-text="data.item"></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title v-html="data.item.companyListingName"></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm12>
                    <div class="mt-3 title">Entry Location</div>
                    <v-checkbox v-model="allsearchItem.allLocation" label="All Location"></v-checkbox>
                    <v-autocomplete :loading="loader" chips flat label="Entry Location" prepend-icon="assistant" :items="locationItems" v-model="allsearchItem.locationId" color="blue" item-text="location" item-value="location" multiple :search-input.sync="allsearchLocationType" @change="allselectLocationType">
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected" close class="chip--select-multi" @input="allremovLocationItems(data.item)">{{ data.item.location }}</v-chip>
                      </template>
                      <template slot="item" slot-scope="data">
                        <template v-if="typeof data.item !== 'object'">
                          <v-list-tile-content v-text="data.item"></v-list-tile-content>
                        </template>
                        <template v-else>
                          <v-list-tile-content>
                            <v-list-tile-title v-html="data.item.location"></v-list-tile-title>
                          </v-list-tile-content>
                        </template>
                      </template>
                    </v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-container>
            </vue-perfect-scrollbar>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" outline @click.native="loadPagingData">Search</v-btn>
              <v-btn outline color="primary" @click="allmenuSearch = false">Cancel</v-btn>
              <v-btn outline color="primary" @click="allMenuSearchClear">Clear</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter</span>
      </v-tooltip>
      <download-excel class="btn btn-default" :title="headerItems" :fetch="onloadExcel" :fields="alljson_fields" worksheet="My Worksheet" type="csv" name="SelfTest.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon="" @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon icon> refresh </v-icon>
      </v-btn>
    </v-toolbar>
    <v-data-table :headers="allheaders" :items="allgridItems" :total-items="totalRows" class="elevation-1" :loading="gridloader" default-sort="dateAndTime:desc" :rows-per-page-items="rowsPerPageItems" @update:pagination="onUpdatePagination" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <td class="text-xs-left">{{ props.item.dateAndTime | formatDate }}</td>
         <td class="text-xs-left">{{ props.item.companyName }}</td>
        <td class="text-xs-left">{{ props.item.location }}</td>
        <td class="text-xs-left">{{ props.item.employeeName }}</td>
        <td class="text-xs-left">{{ props.item.visitingPurpose }}</td>
        <td class="text-xs-left">{{ props.item.persontosee }}</td>
        <td class="text-xs-left">{{ props.item.purposeOfVisit }}</td>
        <td class="text-xs-left">{{ props.item.tesKitResult }}</td>
       
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">
          Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <app-section-loader :status="loader"></app-section-loader>
    <app-section-loader :status="suboader"></app-section-loader>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>
<script>
  import {
    getSelfTestLocation,
    getCompanyListings,
  } from "@/api/humanMovement";
  import moment from "moment";
  import GlobalMessage from "@/constant";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import myApi from '@/util/api'
  export default {
    components: {
    },
    data: () => ({
      totalRows: 0,
      locationItems: [],
      suboader: false,
      showExcel: false,
      fileViewer: false,
      loadImage: false,
      playViewer: false,
      loadHtml: false,
      sharedDocuments: [],
      historyItems: [],
      gridloader: false,
      search: "",
      historyfileloader: false,
      filehistory: false,
      fileContent: null,
      showAll: true,
      allmenuSearch: false,
      dialog: false,
      loader: false,
      search: "",
      allsearch: "",
      snackbar: false,
      startDateDue: false,
      endDateDue: false,
      allstartDateDue: false,
      allendDateDue: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      allExcelgridItems: [],
      allheaders: [
        { text: "Date of Test", value: "dateAndTime", align: "left" },
         { text: "Company Name",value: "companyName",align: "left",width: "20%"},
        { text: "Location", value: "location", align: "left" },
        { text: "Name as per Nric", value: "employeeName", align: "left" },
        { text: "Visiting Purpose", value: "visitingPurpose", align: "left" },
        { text: "Person to see", value: "persontosee", align: "left", sortable: false },
        { text: "Purpose Of Visit", value: "purposeOfVisit", align: "left" },
        { text: "TesKit Result", value: "tesKitResult", align: "left" },
      ],
      alljson_fields: {
        Date: "dateAndTime",
        Location: "location",
        Name: "employeeName",
        "Visiting Purpose": "visitingPurpose",
        "Person to see": "persontosee",
        "Purpose Of Visit": "purposeOfVisit",
        "Company Name": "companyName",
        "TesKit Result": "tesKitResult",
      },

      questionnaireFlag: false,
      questionnaireFlags: true,
      allgridItems: [],
      companyItems: [],
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        descending:true,
        rowsPerPage: 10,
         sortBy :"dateAndTime"
      },
      headerItems: [],
      allsearchItem: {
        startDate: null,
        endDate: null,
        locationId: [],
        companyId: [],
        isSWStaff: "No",
        temperature: null,
        allLocation: false,
        allVisitorCompany: false,
      },
      searchLocationType: "",
      searchCompanyType: "",
      allsearchLocationType: "",
      allsearchCompanyType: "",
      height: {
        type: String,
        default: null,
      },
      searchItemstartDate: null,
      searchItemendDate: null,
      allsearchItemstartDate: null,
      allsearchItemendDate: null,
      searchData: { id: null, searchString: "", userId: null },
      selected: [],
      filteredItems: [],
      filterFields: [
        "location",
        "EmployeeName",
        "visitingpurpose",
        "purposeofvisit",
        "TesKitResult",
        "company.CompanyName"
      ],
    }),

    computed: {
      computeHeight () {
        return {
          height: this.height || "",
        };
      },
      allstartDateFormated () {
        return this.allsearchItemstartDate
          ? moment(this.allsearchItemstartDate).format(GlobalMessage.DATEFORMAT)
          : "";
      },
      allendDateFormated () {
        return this.allsearchItemendDate
          ? moment(this.allsearchItemendDate).format(GlobalMessage.DATEFORMAT)
          : "";
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },

    created () {
      this.initialize();
    },

    methods: {
      allMenuSearchClear () {
        this.allsearchItem.startDate = null;
        this.allsearchItem.endDate = null;
        this.allsearchItem.locationId = [];
        this.allsearchItem.companyId = [];
        this.allsearchItem.isSWStaff = "No";
        this.allsearchItem.temperature = null;
        this.allsearchItem.allLocation = false;
        this.allsearchItem.allVisitorCompany = false;
        this.allsearchItemstartDate = null;
        this.allsearchItemendDate = null;
        this.loadPagingData();
      },
      onCheckallVisitorCompany: function (event) {
        //this.allsearchItem.companyId = [];
      },
      allclearableStartDate () {
        this.allsearchItem.startDate = null;
      },
      allclearableEndDate () {
        this.allsearchItem.endDate = null;
      },
      allremoveCompanyType (item) {
        const index = this.allsearchItem.companyId.indexOf(item.companyListingID);
        if (index >= 0) this.allsearchItem.companyId.splice(index, 1);
      },
      allremovLocationItems (item) {
        const index = this.allsearchItem.locationId.indexOf(item.location);
        if (index >= 0) this.allsearchItem.locationId.splice(index, 1);
      },
      allselectcompanyType () {
        this.allsearchCompanyType = "";
      },
      allselectLocationType () {
        this.allsearchLocationType = "";
      },
      initialize () {
        this.loader = true;
        getCompanyListings()
          .then((response) => {
            this.companyItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getSelfTestLocation()
          .then((response) => {
            this.locationItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      loadPagingData () {
        this.allsearchItem.startDate = this.allsearchItemstartDate
          ? moment(this.allsearchItemstartDate).format("DD-MMM-YYYY HH:mm:ss")
          : null;
        this.allsearchItem.endDate = this.allsearchItemendDate
          ? moment(this.allsearchItemendDate).format("DD-MMM-YYYY HH:mm:ss")
          : null;
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = 1;
        this.pagination.page = 1;
        search.sortCol = "SelfTestId";
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.allsearch;
        this.gridloader = true;
        search.methodName = "GetSelfTestSecuritySearch";
        search.startDate = this.allsearchItem.startDate;
        search.endDate = this.allsearchItem.endDate;
        search.locationId = this.allsearchItem.locationId;
        search.companyId = this.allsearchItem.companyId;
        search.isSWStaff = this.allsearchItem.isSWStaff;
        search.allLocation = this.allsearchItem.allLocation;
        search.allVisitorCompany = this.allsearchItem.allVisitorCompany;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.filteredItems = [];
              this.selected = [];
              this.allgridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
              if (this.allgridItems.length > 0) {
                for (const [i, element] of this.allgridItems.entries()) {
                  if (element.imageData != null) {
                    this.allgridItems[i]["urlpath"] =
                      GlobalMessage.APPUpload + element.imageData;
                  }
                }
              }
              this.suboader = false;
              this.allmenuSearch = false;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        this.allsearchItem.startDate = this.allsearchItemstartDate
          ? moment(this.allsearchItemstartDate).format("DD-MMM-YYYY HH:mm:ss")
          : null;
        this.allsearchItem.endDate = this.allsearchItemendDate
          ? moment(this.allsearchItemendDate).format("DD-MMM-YYYY HH:mm:ss")
          : null;
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        search.sortCol = "SelfTestId";
        if (args.sortBy == "dateAndTime") {
          search.sortCol = "dateAndTime";
        } else if (args.sortBy == "location") {
          search.sortCol = "location";
        } else if (args.sortBy == "isSwstaffFlag") {
          search.sortCol = "IsSwstaff";
        } else if (args.sortBy == "sageId") {
          search.sortCol = "employee.SageId";
        }
        else if (args.sortBy == "employeeName") {
          search.sortCol = "employeeName";
        }
        else if (args.sortBy == "companyName") {
          search.sortCol = "NameOfCompany";
        }
        else if (args.sortBy == "contactNo") {
          search.sortCol = "contactNo";
        } else if (args.sortBy == "visitingPurpose") {
          search.sortCol = "visitingPurpose";
        }
        else if (args.sortBy == "persontosee") {
          search.sortCol = "persontosee";
        }
        else if (args.sortBy == "purposeOfVisit") {
          search.sortCol = "purposeOfVisit";
        } else {
          search.sortCol = "SelfTestId";
        }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.allsearch;
        search.methodName = "GetSelfTestSecuritySearch";
        search.startDate = this.allsearchItem.startDate;
        search.endDate = this.allsearchItem.endDate;
        search.locationId = this.allsearchItem.locationId;
        search.companyId = this.allsearchItem.companyId;
        search.isSWStaff = this.allsearchItem.isSWStaff;
        search.allLocation = this.allsearchItem.allLocation;
        search.allVisitorCompany = this.allsearchItem.allVisitorCompany;
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.filteredItems = [];
              this.selected = [];
              this.allgridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
              if (this.allgridItems.length > 0) {
                for (const [i, element] of this.allgridItems.entries()) {
                  if (element.imageData != null) {
                    this.allgridItems[i]["urlpath"] =
                      GlobalMessage.APPUpload + element.imageData;
                  }
                }
              }
              this.suboader = false;
              this.allmenuSearch = false;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      async  onloadExcel()
      {
        this.allsearchItem.startDate = this.allsearchItemstartDate
          ? moment(this.allsearchItemstartDate).format("DD-MMM-YYYY HH:mm:ss")
          : null;
        this.allsearchItem.endDate = this.allsearchItemendDate
          ? moment(this.allsearchItemendDate).format("DD-MMM-YYYY HH:mm:ss")
          : null;
        this.suboader = true;
       const response = await  myApi.getItems( this.allsearchItem, 'SelfTest/GetSelfTestSearch');

        this.suboader = false;
       return response.data;
      },
    },
  };
</script>
<style lang="stylus" scoped>
  .task-sub--scroll {
    overflow: auto;
    height: calc(100vh - 90px - 60px);
  }
</style>
