<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="SalesOrderLotInformation.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" :disabled="enableAddButton" fullscreen>
        <v-btn
          class="pull-right"
          slot="activator"
          :disabled="enableAddButton"
          icon
          @click.native="add()"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Sales Order Lot Information</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.solotInformationId<0"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <!-- <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>-->

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow:auto;height:calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap class="layoutbg">
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.orderQty"
                      label="Order Qty"
                      prepend-icon="select_all"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="perUOM"
                      label="Per UOM"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Order Currency"
                      prepend-icon="notes"
                      v-model="editedItem.orderCurrencyId"
                      :items="orderCurrencyItems"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                    ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-currency-field
                      prepend-icon="attach_money"
                      :auto-decimal-mode="false"
                      :decimal-length="2"
                      :value-as-integer="false"
                      :allow-negative="false"
                      flat
                      v-model="editedItem.sellingPrice"
                      label="Selling Price"
                      v-on:keyup="sellingPriceInput"
                    ></v-currency-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="loader"
                      chips
                      flat
                      label="Price Unit"
                      prepend-icon="notes"
                      v-model="editedItem.priceUnitId"
                      :items="quatationUtis"
                      item-text="value"
                      item-value="applicationMasterDetailId"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-radio-group
                      prepend-icon="notes"
                      label="Is Any FOC"
                      v-model="isFoc"
                      @change="selectFOC"
                      :rules="[v => !!v || 'This is required']"
                      required
                      row
                    >
                      <v-radio color="primary" label="Yes" value="true"></v-radio>
                      <v-radio color="primary" label="No" value="false"></v-radio>
                    </v-radio-group>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="isFoc=='true'">
                    <v-text-field v-model="editedItem.foc" label="FOC" prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 v-if="isFoc=='true'">
                    <v-text-field v-model="perUOM" label="UOM" prepend-icon="select_all" readonly></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm4 v-if="isFoc=='false'">
                    <v-menu
                      v-model="shipmentDateMenu"
                      :close-on-content-click="false"
                      full-width
                      min-width="290"
                    >
                      <v-text-field
                        slot="activator"
                        :value="shipmentDateFormated"
                        label="Request Shipment Date"
                        prepend-icon="today"
                        readonly
                      ></v-text-field>
                      <v-date-picker
                        v-model="editedItem.requestShipmentDate"
                        @change="shipmentDateMenu = false"
                      ></v-date-picker>
                    </v-menu>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline :loading="saveloader" @click.native="save">Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="solotInformationId:desc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.orderQty }}</td>
          <td class="text-xs-left">{{ props.item.uom }}</td>
          <td class="text-xs-left">{{ props.item.foc }}</td>
          <td class="text-xs-left">{{ props.item.uom }}</td>
          <td class="text-xs-left">{{ props.item.orderCurrency }}</td>
          <td class="text-xs-left">{{ props.item.sellingPrice }}</td>

          <td class="text-xs-left">{{ props.item.priceUnit }}</td>
          <td class="text-xs-left">{{ props.item.requestShipmentDate | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{props.item.addedByUser}}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import {
  getSOLotInformations,
  getSOLotInformationData,
  createSOLotInformation,
  updateSOLotInformation,
  deleteSoLotInformation
} from "@/api/saleslotInformation";

//import UploadButton from "vuetify-upload-button";
import moment from "moment";

import GlobalMessage from "@/constant";

import ContactDistributionInfo from "@/pages/SalesOrders/SalesOrderStandAlone/contractDistribution";
export default {
  components: {
    // "upload-btn": UploadButton,
    ContactDistributionInfo
  },
  data: () => ({
    startDateMenu: false,
    endDateMenu: false,
    saveloader: false,
    shipmentDateMenu: false,
    perUOM: "",
    companyloader: false,
    customerField: true,
    loader: false,
    isFoc: "",
    customerName: "",
    status: "",
    productNo: "",
    orderNo: "",
    dialog: false,
    search: "",
    enableAddButton: true,
    editedIndex: -1,
    searchFilter: "",
    description: "",
    itemCategory: "",
    uom: "",
    packingUOM: "",
    orderCurrencyItems: [],
    quatationUtis: [],
    addressItems: [],
    gridItems: [],
    sowithoutBlanketOrderId: null,
    statusOptions: [],

    extantionPercentageItems: [],
    getReference: {
      itemId: null,
      soCustomerId: null
    },
    editedItem: {
      solotInformationId: -1,
      sowithoutBlanketOrderId: null,
      orderQty: null,
      orderCurrencyId: null,
      sellingPrice: null,
      priceUnitId: null,
      isFoc: false,
      foc: "",
      requestShipmentDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      solotInformationId: -1,
      sowithoutBlanketOrderId: null,
      orderQty: null,
      orderCurrencyId: null,
      sellingPrice: null,
      priceUnitId: null,
      isFoc: false,
      foc: "",
      requestShipmentDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    headers: [
      { text: "Order Qty", value: "orderQty", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      { text: "FOC", value: "foc", align: "left" },
      { text: "UOM", value: "uom", align: "left" },
      { text: "Order Currency", value: "orderCurrency", align: "left" },
      { text: "Selling Price", value: "sellingPrice", align: "left" },
      { text: "Price Unit", value: "priceUnit", align: "left" },
      { text: "Shipment Date", value: "requestShipmentDate", align: "left" },
      { text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      {
        text: "Actions",
        value: "name",
        sortable: false,
        align: "left",
        width: "1%"
      }
    ],
    json_fields: {
      "Product No": "productNO",
      "Order Qty": "orderQty",
      "Order Currency": "orderCurrency",
      "Selling Price": "sellingPrice",
      UOM: "uom",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate"
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10
    },
    searchItem: { action: "", Id: null, searchString: "searchString" }
  }),
  created() {
    this.initialize();
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Sales Order Lot Information"
        : "Edit Sales Order Lot Information";
    },
    shipmentDateFormated() {
      return this.editedItem.requestShipmentDate
        ? moment(this.editedItem.requestShipmentDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    }
  },
  methods: {
    initialize() {
      if (this.sowithoutBlanketOrderId > 0) {
        this.loader = true;
        let id = this.sowithoutBlanketOrderId;

        getSOLotInformations(id)
          .then(response => {
            this.loader = false;
            this.gridItems = response.data;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      getApplicationMasterDetailByType(229)
        .then(response => {
          this.orderCurrencyItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationMasterDetailByType(234)
        .then(response => {
          this.quatationUtis = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      this.loadDropdownList();
    },

    loadDropdownList() {
      //this.editedItem.isLotDeliveries = this.isLotDeliveries;
      if (this.sowithoutBlanketOrderId > 0) {
        this.loader = true;
        let id = this.sowithoutBlanketOrderId;

        getSOLotInformations(id)
          .then(response => {
            this.loader = false;
            this.gridItems = response.data;
            console.log("response" + JSON.stringify(response.data));
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    add() {
      //  this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);

      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.editedItem.solotInformationId = -1;
      this.editedItem.quotationNo = "";
      this.editedItem.orderQty = "";
      this.editedItem.orderCurrencyId = null;
      this.editedItem.sellingPrice = 0;
      this.editedItem.foc = "";
      this.editedItem.uomID = null;
    },

    saveAndClose() {
      this.save();
      this.close();
    },

    editItem(item) {
      this.description = "";
      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";
      this.referenceItems = [];
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log("purchase line items" + JSON.stringify(item));

      this.editedItem.uomID = item.uomid;
      if (item.isFoc == true) {
        this.isFoc = "true";
      }
      if (item.isFoc == false) {
        this.isFoc = "false";
      }
      if (item.requestShipmentDate != null) {
        this.editedItem.requestShipmentDate = moment(
          item.requestShipmentDate
        ).format("YYYY-MM-DD");
      }
      this.selectFOC();
      setTimeout(() => {
        this.dialog = true;
      }, 300);
    },
    toolfunction() {
      getPurchaseItemSalesEntryLineData(this.searchItem)
        .then(response => {
          if (response.data != undefined) {
            this.editedItem = response.data;
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.solotInformationId;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.solotInformationId;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.solotInformationId;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },

    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.solotInformationId;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },

    addFormDialog() {
      this.add();
    },

    close() {
      this.dialog = false;

      this.itemCategory = "";
      this.uom = "";
      this.packingUOM = "";
      this.description = "";
      this.editedItem = Object.assign({}, this.defaultItem);
      this.referenceItems = [];
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    sellingPriceInput: function(event) {
      this.editedItem.sellingPrice = this.editedItem.sellingPrice.replace(
        /[^0-9.]/g,
        ""
      );
    },
    selectFOC() {
      if (this.isFoc == "true") {
        this.editedItem.isFoc = true;
      }
      if (this.isFoc == "false") {
        this.editedItem.isFoc = false;
      }
    },
    checkAsHeader() {
      if (this.sameAsHeader == true) {
        this.editedItem.isAllowExtension = this.isAllowExtension;
        this.editedItem.extensionMonth = this.extensionMonth;
        this.editedItem.extensionQuantity = this.extensionQuantity;
      }
    },
    save() {
      this.editedItem.sowithoutBlanketOrderId = this.sowithoutBlanketOrderId;
      //this.editedItem.isLotDeliveries = this.isLotDeliveries;
      console.log("editedItem" + JSON.stringify(this.editedItem));
      if (this.editedIndex > -1) {
        this.loader = true;
        this.saveloader = true;
        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

        updateSOLotInformation(this.editedItem)
          .then(response2 => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
            this.editedItem.sessionID = "";
            this.uploadedFiles = [];
            //this.add();
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        this.loader = true;
        this.saveloader = true;
        createSOLotInformation(this.editedItem)
          .then(response2 => {
            this.gridItems.push(response2.data);
            this.loader = false;
            this.saveloader = false;
            let index = this.gridItems
              .map(item => item.solotInformationId)
              .indexOf(response2.data.solotInformationId);
            this.editedItem.solotInformationId =
              response2.data.solotInformationId;
            this.editedIndex = index;
            this.editedItem.sessionID = "";
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
          })
          .catch(error => {
            this.loader = false;
            this.saveloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.solotInformationId > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteSoLotInformation(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  }
};
</script>

 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 90px);
 }

 .graybackground {
   background: gainsboro !important;
 }

 .backcolor {
   background-color: whitesmoke;
   border-radius: 16px !important;
 }

 .referencetext {
   text-align: left !important;
   font-size: '10px';
   background-color: transparent !important;
 }

 .layoutbg {
   border-style: solid;
   border-radius: 8px !important;
   border-color: rgb(216, 222, 247);
   border-width: 1px;
   padding: 8px;
 }
</style>
