<template>
  <div>
    <v-toolbar
      flat
      color="white"
    >
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="ProjectedDeliveryForecast.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>  
      <v-dialog
        v-model="dialog"
        max-width="600px"
        :disabled="enablelineAddButton"
      >
        <v-btn
          slot="activator"
          icon
          :disabled="enablelineAddButton"
        >
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
<v-toolbar
            card dense color="primary"
          >
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="close"
            >
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
           <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="saveAndClose"
            >
              <v-icon color="white">library_add</v-icon>
            </v-btn>
             <span>Save and Close</span>
            </v-tooltip>
           <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="save"
            >
              <v-icon color="white">save</v-icon>
            </v-btn>
            <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="add"
            >
              <v-icon color="white">add</v-icon>
            </v-btn>
            <span>Create New Projected Delivery Forecast</span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
              :disabled="editedItem.projectedDeliverySalesOrderLineID<0"
               slot="activator"
              @click.native="deleterow"
            >
              <v-icon color="white">delete</v-icon>
            </v-btn>
            <span>Delete</span>
            </v-tooltip>
            <!-- <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="first"
            >
              <v-icon>first_page</v-icon>
            </v-btn>
            <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
               <v-btn
              icon
               slot="activator"
              @click.native="previous"
            >
            
              <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>
            <span>Previous</span>
            
            </v-tooltip>
            <v-tooltip bottom>
           <v-btn
              icon
               slot="activator"
              @click.native="next"
            >
              <v-icon>keyboard_arrow_right</v-icon>
            </v-btn>
            <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="last"
            >
              <v-icon>last_page</v-icon>
            </v-btn>
            <span>Last</span>
            </v-tooltip> -->
          
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
            <v-spacer></v-spacer>
             <v-tooltip bottom>
            <v-btn
              icon
               slot="activator"
              @click.native="close"
            >
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
         <div style="overflow:auto;height:calc(70vh - 90px)"> 
          <v-card-text>
            <v-form
              v-model="editedItem.valid"
              ref="form"
              lazy-validation
            >
              <v-container grid-list-md>
                <v-layout wrap>
                    <v-flex xs12 sm12>
                  <v-autocomplete
                    :loading="loader"
                    chips
                    flat
                    label="Frequency"
                    prepend-icon="notes"
                    v-model="editedItem.frequencyID"
                    :items="frequencyItems"
                    item-text="value"
                    item-value="applicationMasterDetailId"
                  ></v-autocomplete>
                </v-flex>
                 <v-flex xs12 sm12>
                  <v-text-field
                    v-model="editedItem.perFrequencyQty"
                    label="Per Frequency Qty"
                    prepend-icon="select_all"
                    mask="#############"  
                  ></v-text-field>
                </v-flex>
                   <v-flex xs12 sm12>
                  <v-menu
                    v-model="startDateMenu"
                    :close-on-content-click="false"
                    full-width
                    min-width="290"
                  >
                    <v-text-field
                      slot="activator"
                      :value="startDateFormated"
                      label="Start Date"
                      prepend-icon="today"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="editedItem.startDate"
                      @change="startDateMenu = false"
                      type="month"
                    ></v-date-picker>
                  </v-menu>
                </v-flex>
                <!-- <v-flex xs12 sm12>
                  <v-autocomplete
                    label="Status"
                    prepend-icon="notes"
                    v-model="editedItem.statusCodeID"
                    :items="statusOptions"
                    item-text="codeValue"
                      item-value="codeID"
                    chips
                  ></v-autocomplete>
                </v-flex> -->
                 <!-- <v-flex xs12 sm12>
                      <v-checkbox color="primary" v-model="editedItem.isQtyReference" label="Qty Use As Reference" ></v-checkbox>
                    </v-flex> -->
                </v-layout>
              </v-container>
            </v-form>
          </v-card-text>
         </div>
          <v-card-actions>
            <v-spacer></v-spacer>
           
            <v-btn color="primary darken-1" outline @click.native="save">Save</v-btn>
             <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          >
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
        <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :search="search"
      class="elevation-1"
      default-sort="projectedDeliverySalesOrderLineID:desc"
        :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template
        slot="items"
        slot-scope="props"
      >

        <td>{{ props.item.frequency }}</td>
        <td class="text-xs-left">{{ props.item.perFrequencyQty }}</td>
        <td class="text-xs-left">{{ props.item.startDate | monthYear}}</td>
         <td class="text-xs-left">{{ props.item.statusCode }}</td>
        <td class="text-xs-left">{{ props.item.addedByUser }}</td>
           <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>
        <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
      
        <td class="text-xs-left">{{ props.item.modifiedDate | formatDate}}</td>

        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(props.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="onDeleteItem(props.item)"
          >
            delete
          </v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        > Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar
      :top="y === 'top'"
      :timeout="timeout"
      v-model="snackbar"
    >
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    >
    </delete-confirmation-dialog>
  </div>
</template>
<script>
import { getProjectedDeliverys, getProjectedDelivery, createProjectedDelivery, updateProjectedDelivery, deleteProjectedDelivery } from '@/api/projectedDeliveryBlanket';
import moment from "moment";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import GlobalMessage from '@/constant'
export default {
  data: () => ({
    dialog: false,
    loader: false,
    startDateMenu: false,
    enablelineAddButton: true,
    frequencyItems: [],
    purchaseItemSalesEntryLineID: null,
    search: '',
    statusOptions: [],
    snackbar: false,
    snackbarMessage: '',
    timeout: 2000,
    y: 'top',
    headers: [
      { text: 'Frequency', value: 'frequency', align: 'left' },
      { text: 'Per Frequency Qty', value: 'perFrequencyQty', align: 'left' },
      { text: 'Start Date', value: 'startDate', align: 'left' },
       { text: 'Status', value: 'statusCode', align: 'left' },
      { text: 'Added By', value: 'addedByUser', align: 'left' },
       { text: 'Added Date', value: 'addedDate', align: 'left' },
      { text: 'Modified By', value: 'modifiedByUser', align: 'left' },     
      { text: 'Modified Date', value: 'modifiedDate', align: 'left' },
      { text: 'Actions', value: 'name', sortable: false, align: 'left' }
    ],
    json_fields: {
      'Frequency': 'frequency',
      'Per Frequency Qty': 'perFrequencyQty',
      'Start Date': 'startDate',
      'Added By': 'addedByUser',
      'Added Date' : 'addedDate',
      'Modified By': 'modifiedByUser',
      'Modified Date': 'modifiedDate',
    },
    gridItems: [],
    editedIndex: -1,
    selectedItem: null,
     rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      projectedDeliverySalesOrderLineID: -1,
      purchaseItemSalesEntryLineID: null,
      frequencyID: null,
      perFrequencyQty: null,
      startDate: new Date().toISOString().substr(0, 10),
      isQtyReference: false,     
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1420,
      statusCode: 'Active',
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    defaultItem: {
      valid: false,
      projectedDeliverySalesOrderLineID: -1,
      purchaseItemSalesEntryLineID: null,
      frequencyID: null,
      perFrequencyQty: null,
      startDate: new Date().toISOString().substr(0, 10),
      isQtyReference: false,     
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      statusCodeID: 1420,
      statusCode: 'Active',
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
    },
    searchItem: { action: '', Id: null, searchString: 'searchString', },
   
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Add Projected Delivery Forecast' : 'Edit Projected Delivery Forecast';
    },
     startDateFormated() {
      return this.editedItem.startDate
        ? moment(this.editedItem.startDate).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
  },

  watch: {
    dialog (val) {
      val || this.close();
    }
  },

  created () {
    this.initialize();
  },

  methods: {
    initialize () {
     
      if(this.purchaseItemSalesEntryLineID>0)
      {
      let id = this.purchaseItemSalesEntryLineID;
       this.loader = true;
      getProjectedDeliverys(id)
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });

      }
       getApplicationMasterDetailByType(244)
        .then(response => {
          this.frequencyItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
           getCodeMasterByType("Sales Order Status")
        .then(response => {
          this.statusOptions = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
         this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    },
    getItems()
    {
         if(this.purchaseItemSalesEntryLineID>0)
      {
      let id = this.purchaseItemSalesEntryLineID;
      console.log('getitems projected'+JSON.stringify(this.purchaseItemSalesEntryLineID))
      getProjectedDeliverys(id)
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
      }
    },
    editItem (item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
       if (item.startDate != null) {
        this.editedItem.startDate = moment(item.startDate).format(
          "YYYY-MM-DD"
        );
      }
      this.dialog = true;
    },
    onDeleteItem (item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.selectedItem = item;
    },
    deleteItem () {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.selectedItem);
      deleteProjectedDelivery(this.selectedItem)
        .then(() => {
          this.loader = false;
          this.selectedItem = null;
          this.gridItems.splice(index, 1);
         window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
        })
        .catch(error => {
          this.loader = false;
         window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    close () {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    saveAndClose () {
      this.save();
      this.close();
    },
   
    add () {

      this.editedItem.valid = false;
      this.editedItem.projectedDeliverySalesOrderLineID = -1;
      this.editedItem.perFrequencyQty = '';
      this.editedItem.nameRules = [v => !!v || 'Name is required'];
      this.editedItem.frequencyID = null;
      this.editedItem.startDate = new Date().toISOString().substr(0, 10);
      this.editedItem.isQtyReference = false;
      this.editedItem.addedByUserID = this.$store.state.auth.userId;
      this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
      this.editedItem.statusCodeID = 1420;
      this.editedItem.statusCode = 'Active';
      this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
      this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
      this.editedIndex = -1;
    },
    deleterow () {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem () {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      console.log(this.editedItem);
      deleteProjectedDelivery(this.editedItem)
        .then(() => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          this.gridItems.splice(index, 1);
         window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit('APP_API_ERROR', error);
        });
    },
    close () {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    save () {
      this.editedItem.purchaseItemSalesEntryLineID = this.purchaseItemSalesEntryLineID;
      if (this.$refs.form.validate()) {
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;         
         
          updateProjectedDelivery(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;
             window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        } else {
         
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          
          createProjectedDelivery(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;              
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.projectedDeliverySalesOrderLineID).indexOf(response.data.projectedDeliverySalesOrderLineID)
              this.editedIndex = index;
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
        //this.close();
      }
    }
  }
};
</script>