<template>
    <div>
        <v-card>
            <v-toolbar card dense color="primary">
                <v-tooltip bottom>
                    <v-btn icon slot="activator" @click.native="close">
                        <v-icon color="white">reply</v-icon>
                    </v-btn>
                    <span>Go Back</span>
                </v-tooltip>
                <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                <v-tooltip bottom>
                    <v-btn icon slot="activator" @click.native="saveAndClose">
                        <v-icon color="white">library_add</v-icon>
                    </v-btn>
                    <span>Save and Close</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn icon slot="activator" :loading="saveloader" @click.native="save">
                        <v-icon color="white">save</v-icon>
                    </v-btn>
                    <span>Save</span>
                </v-tooltip>
                <!-- <v-tooltip bottom>
                    <v-btn icon slot="activator" @click.native="add">
                        <v-icon color="white">add</v-icon>
                    </v-btn>
                    <span>Create New Sales Adhoc</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn icon slot="activator" :disabled="editedItem.salesOrderId<0" @click.native="deleterow">
                        <v-icon color="white">delete</v-icon>
                    </v-btn>
                    <span>Delete</span>
                </v-tooltip>

                <v-tooltip bottom>
                    <v-btn icon slot="activator" :disabled="editedItem.salesOrderId<0" @click.native="first">
                        <v-icon color="white">first_page</v-icon>
                    </v-btn>
                    <span>First</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn icon slot="activator" :disabled="editedItem.salesOrderId<0" @click.native="previous">
                        <v-icon color="white">keyboard_arrow_left</v-icon>
                    </v-btn>
                    <span>Previous</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn icon slot="activator" :disabled="editedItem.salesOrderId<0" @click.native="next">
                        <v-icon color="white">keyboard_arrow_right</v-icon>
                    </v-btn>
                    <span>Next</span>
                </v-tooltip>
                <v-tooltip bottom>
                    <v-btn icon slot="activator" :disabled="editedItem.salesOrderId<0" @click.native="last">
                        <v-icon color="white">last_page</v-icon>
                    </v-btn>
                    <span>Last</span>
                </v-tooltip> -->
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                    <v-btn icon slot="activator">
                        <v-icon color="white" @click.native="close">close</v-icon>
                    </v-btn>
                    <span>Close</span>
                </v-tooltip>
                <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
            </v-toolbar>

            <v-card>
                <v-card color="primary light lighten-5">
                    &nbsp;&nbsp;&nbsp; &nbsp;
                    <span class="headline">{{ formTitle }}</span>
                </v-card>
            </v-card>
            <div style="overflow:auto;height:calc(90vh - 70px)">
                <div class="titlecard">
                    <v-card-text class="borderlayout">
                        <v-card class="borderlayout" color="primary lighten-5">
                            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                                <v-card class="borderlayout">
                                    <v-layout row wrap>
                                        <v-flex xs12 sm12>
                                            <v-layout row wrap>
                                                <v-flex xs12 sm6>
                                                    <v-layout row wrap class="layoutbg">
                                                        <v-flex xs12 sm12>
                                                            <v-text-field v-model="editedItem.documentNo" label="Document No" prepend-icon="select_all" readonly></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm12>
                                                            <v-autocomplete :loading="loader" chips flat prepend-icon="notes" label="Purchase Order Issue To" v-model="editedItem.purchaseOrderIssueId" :items="companyItems" item-text="description" item-value="plantID" @change="selectPlant"></v-autocomplete>
                                                        </v-flex>

                                                        <v-flex xs12 sm6>
                                                            <v-menu v-model="dateOfOrderMenu" :close-on-content-click="false" full-width min-width="290">
                                                                <v-text-field slot="activator" :value="dateOfOrderFormated" label="Date of Order" prepend-icon="today" readonly></v-text-field>
                                                                <v-date-picker v-model="editedItem.dateOfOrder" @change="dateOfOrderMenu = false"></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>

                                                        <v-flex xs12 sm6>
                                                            <v-menu v-model="shipmentDateMenu" :close-on-content-click="false" full-width min-width="290">
                                                                <v-text-field slot="activator" :value="shipmentDateFormated" label="Request Shipment Date" prepend-icon="today" readonly></v-text-field>
                                                                <v-date-picker v-model="editedItem.requestShipmentDate" @change="shipmentDateMenu = false"></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>

                                                    </v-layout>
                                                </v-flex>

                                                <v-flex xs12 sm6>
                                                    <v-layout row wrap class="layoutbg">
                                                        <v-flex xs12 sm12>
                                                            <v-text-field v-model="editedItem.profileName" label="Profile Name" prepend-icon="select_all" readonly></v-text-field>
                                                        </v-flex>

                                                        <v-flex xs12 sm12>
                                                            <v-autocomplete :loading="loader" chips flat label="Customer Name" prepend-icon="notes" v-model="editedItem.customerId" :items="customerItems" item-text="companyListingName" item-value="companyListingID" @change="selCustomer"></v-autocomplete>

                                                        </v-flex>
                                                        <v-flex xs12 sm12>
                                                            <v-autocomplete :loading="loader" chips flat label="Ship To Code" prepend-icon="notes" v-model="editedItem.shipToCodeId" :items="shipCodeItems" item-text="shipingAddress" item-value="shipingCodeAddressId" @change="selectShipto">
                                                                <template slot="selection" slot-scope="data">
                                                                    <v-chip :selected="data.selected">{{ data.item.shipingAddress }}</v-chip>
                                                                </template>
                                                            </v-autocomplete>

                                                        </v-flex>
                                                        <v-flex xs12 sm6>
                                                            <v-text-field v-model="locationName" label="Ship To Location Name" prepend-icon="select_all" readonly></v-text-field>
                                                        </v-flex>
                                                        <v-flex xs12 sm6>
                                                            <v-menu v-model="vanDateMenu" :close-on-content-click="false" full-width min-width="290">
                                                                <v-text-field slot="activator" :value="vanDateFormated" label="Next Van Delivery Date" prepend-icon="today" readonly></v-text-field>
                                                                <v-date-picker v-model="editedItem.vanDeliveryDate" @change="vanDateMenu = false"></v-date-picker>
                                                            </v-menu>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-flex>
                                            </v-layout>
                                        </v-flex>
                                        <!-- <v-flex lg1 xs1 md1 d-flex > 
                    <v-divider vertical></v-divider>
                        </v-flex>-->

                                    </v-layout>
                                </v-card>
                            </v-form>
                        </v-card>
                    </v-card-text>
                </div>
                <v-card-text v-show="iswithBlanket">
                    <v-card color="primary lighten-5" class="borderlayout">
                        <v-flex xs12 sm12>
                            <span class="headline">Sales Order Product</span>
                            <sales-with-blanket ref="refsalesWithblanket"></sales-with-blanket>
                        </v-flex>
                    </v-card>
                </v-card-text>
                <v-card-text v-show="iswithoutBlanket">
                    <v-card color="primary lighten-5" class="borderlayout">
                        <v-flex xs12 sm12>
                            <span class="headline">SO Without Blanket Order</span>
                            <sales-without-blanket ref="refsalesWithoutblanket"></sales-without-blanket>
                        </v-flex>
                    </v-card>
                </v-card-text>
            </div>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary darken-1" :loading="saveloader" outline @click.native="save">Save</v-btn>
                <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
            </v-card-actions>
        </v-card>
        <app-section-loader :status="loader"></app-section-loader>
        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
    </div>
</template>
<script>
    import { getApplicationFormByScreenID } from "@/api/ApplicationForm";
    import { getCodeMasterByType } from "@/api/applicationUser";
    
    import { getPlants } from "@/api/plant";
    import { getCompanyListings } from "@/api/companyListing";

    import {
        getSalesOrderByID,
        getSalesOrderData,
        createSalesOrder,
        updateSalesOrder,
        deleteSalesOrder,
        getSalesOrderProducts,
        getSobyCustomersShippingAddress
    } from "@/api/SalesOrder";
    import moment from "moment";
    import {
        getNavItemsForSalesEntry,
    } from "@/api/purchaseItemSalesEntryLine";
    import GlobalMessage from "@/constant";
    import SalesWithBlanket from "@/pages/SalesOrders/salesOrderWithBlanket";
    import SalesWithoutBlanket from "@/pages/SalesOrders/salesOrderWithoutBlanket";
    export default {
        components: {
            SalesWithBlanket,
            SalesWithoutBlanket
        },
        data: () => ({
            startDateMenu: false,
            endDateMenu: false,
            saveloader: false,
            vanDateMenu: false,
            locationName: "",
            dateOfOrderMenu: false,
            shipmentDateMenu: false,
            iswithBlanket: false,
            iswithoutBlanket: false,
            shipCodeItems: [],
            nextVanDeliveryItems: [],
            radioRules: [v => !!v || "This is required"],
            searchmenu: false,
            menuprodSearch: false,
            sortBy: "salesOrderId",
            descending: true,
            searchFilter: "",
            enableisExtension: false,
            customerProfileName: "",
            customerTenderItems: [],
            tagAlongCustomerList: [],
            soCustomerItems: [],
            screenId: "SAL5031",
            applicationFormData: null,
            profileId: null,
            profileName: "",
            productloader: false,
            loader: false,
            gridloader: false,
            disableTypeOfOrder: false,
            profileItems: [],
            distributionCustomerItems: [],
            uploadbtn: true,
            sessionId: null,
            dialog: false,
            search: "",
            loader: false,
            editedIndex: -1,
            searchTag: "",
            companyItems: [],
            customerorTenderAgencyItems: [],
            customerNameItems: [],
            customerItems: [],
            tenderAgencyItems: [],
            typeofOrderItems: [],
            productNoItems: [],
            navItemItems: [],
            quationUnits: [],
            extantionMonthsItems: [],

            gridItems: [],
            statusOptions: [],

            searchSales: {
                companyID: null,
                orderByID: 1403,
                customerID: null,
                tenderAgencyID: null,
                typeOfOrderID: null,
                itemCustomerID: null,
                tenderProductNoID: null,
                distributionCustomerID: null
            },
            editedItem: {
                salesOrderId: -1,
                profileId: null,
                documentNo: "",
                dateOfOrder: new Date().toISOString().substr(0, 10),
                poNumber: "",
                purchaseOrderIssueId: null,
                customerId: null,
                requestShipmentDate: new Date().toISOString().substr(0, 10),
                shipToCodeId: null,
                shipingCodeType: "",
                vanDeliveryDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                addedByUserID: null,
                addedDate: new Date().toISOString().substr(0, 10),
                modifiedByUserID: null,
                modifiedDate: new Date().toISOString().substr(0, 10)
            },
            defaultItem: {
                salesOrderId: -1,
                profileId: null,
                documentNo: "",
                dateOfOrder: new Date().toISOString().substr(0, 10),
                poNumber: "",
                purchaseOrderIssueId: null,
                customerId: null,
                requestShipmentDate: new Date().toISOString().substr(0, 10),
                shipToCodeId: null,
                shipingCodeType: "",
                vanDeliveryDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                addedByUserID: null,
                addedDate: new Date().toISOString().substr(0, 10),
                modifiedByUserID: null,
                modifiedDate: new Date().toISOString().substr(0, 10)
            },
            headers: [
                { text: "Document No", value: "profileReferenceNo", align: "left" },
                {
                    text: "Purchase Order Company",
                    value: "purchaseOrderIssue",
                    align: "left"
                },
                { text: "Customer", value: "customer", align: "left" },
                { text: "Date Of Order", value: "dateOfOrder", align: "left" },
                { text: "PO Number", value: "ponumber", align: "left" },
                { text: "Ship To Code", value: "shipToCode", align: "left" },
                { text: "Added By", value: "addedByUser", align: "left" },
                { text: "Added Date", value: "addedDate", align: "left" },
                {
                    text: "Actions",
                    value: "name",
                    sortable: false,
                    align: "left",
                    width: "1%"
                }
            ],
            customerheaders: [
                {
                    text: "Customer Name",
                    value: "customerName",
                    sortable: false,
                    align: "left"
                },
                {
                    text: "Is Customer",
                    value: "isCustomer",
                    sortable: false,
                    align: "left"
                },
                {
                    text: "Is TenderAgency",
                    value: "IsTenderAgency",
                    sortable: false,
                    align: "left"
                }
            ],
            json_fields: {
                Profile: "profileName",
                "Purchase Order Company": "companyName",
                OrderBy: "orderByName",
                CustomerName: "customerName",
                Status: "statusCode",
                "Added By": "addedByUser",
                "Added Date": "addedDate",
                "Modified By": "modifiedDate",
                "Modified Date": "modifiedDate"
            },
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                // sortBy: "salesOrderId",
                rowsPerPage: 10
            },
            searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
            searchpagination: {
                rowsPerPage: 10
            },
            searchItem: { action: "", Id: null, searchString: "searchString" }
        }),
        created () {
            this.initialize();
        },
        watch: {
            dialog (val) {
                val || this.close();
            }
        },
        computed: {
            formTitle () {
                return this.editedItem.salesOrderId > 0 ? "Edit Sales Order" : "Add Sales Order";
            },

            dateOfOrderFormated () {
                return this.editedItem.dateOfOrder
                    ? moment(this.editedItem.dateOfOrder).format(
                        GlobalMessage.DATEFORMAT
                    )
                    : "";
            },
            shipmentDateFormated () {
                return this.editedItem.requestShipmentDate
                    ? moment(this.editedItem.requestShipmentDate).format(
                        GlobalMessage.DATEFORMAT
                    )
                    : "";
            },
            vanDateFormated () {
                return this.editedItem.vanDeliveryDate
                    ? moment(this.editedItem.vanDeliveryDate).format(
                        GlobalMessage.DATEFORMAT
                    )
                    : "";
            },
        },
        methods: {
            initialize () {
                this.gridloader = true;
                getSalesOrderByID(this.editedItem.salesOrderId)
                    .then(response => {
                        this.gridloader = false;

                        if (response.data.salesOrderId > 0) {
                            this.editItem(response.data);
                        }
                        else {
                            this.add();
                        }
                    })
                    .catch(error => {
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });

                getPlants("")
                    .then(response => {
                        this.companyItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });

                getCompanyListings("")
                    .then(response => {
                        this.customerItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });



                getCodeMasterByType("Sales Status")
                    .then(response => {
                        this.statusOptions = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });


                getApplicationFormByScreenID(this.screenId)
                    .then(response => {
                        this.applicationFormData = response.data;
                        this.loader = false;

                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });

            },


            selectSearchPlant (value) {
                if (this.searchSales.companyID > 0) {
                    let id = this.searchSales.companyID;
                    getNavItemsForSalesEntry(id)
                        .then(response => {
                            this.productNoItems = response.data;

                        })
                        .catch(error => {
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            selectPlant (value) {
                this.productloader = true;
                if (this.$refs.refsalesWithoutblanket != undefined) {
                    this.$refs.refsalesWithoutblanket.companyID = value;
                }

            },
            add () {
                this.editedItem.salesOrderId = -1;
                this.editedItem.purchaseOrderIssueId = null;
                this.editedItem.customerId = null;
                //  this.loadDropdownList();
                this.editedIndex = -1;
                this.editedItem.valid = false;
                this.editedItem = Object.assign({}, this.defaultItem);
                this.shipCodeItems = [];
                this.editedItem.statusCodeID = 1;
                this.editedItem.addedByUserID = null;
                this.editedItem.addedDate = null;
                this.editedItem.modifiedByUserID = null;
                this.editedItem.modifiedDate = null;
                this.$refs.refsalesWithoutblanket.enableAddButton = true;
                this.$refs.refsalesWithblanket.enableAddButton = true;
                this.locationName = "";
                this.iswithBlanket = false;
                this.iswithoutBlanket = false;

            },

            saveAndClose () {
                this.save();
                this.close();
            },
            searchmenuClose () {
                this.searchmenu = false;

                this.searchSales.companyID = null;
                this.searchSales.orderByID = 1403;
                this.searchSales.customerID = null;
                this.searchSales.tenderAgencyID = null;
                this.searchSales.typeOfOrderID = null;
                this.searchSales.itemCustomerID = null;
                this.searchSales.distributionCustomerID = null;
            },
            toolfunction () {
                getSalesOrderData(this.searchItem)
                    .then(response => {
                        if (response.data != undefined && response.data != null) {
                            if (response.data.salesOrderId != null) {
                                this.editedItem = response.data;

                                this.$refs.refsalesWithoutblanket.companyID = this.editedItem.companyID;
                                this.$refs.refsalesWithoutblanket.salesOrderId = this.editedItem.salesOrderId;

                            } else {
                                window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
                            }
                        }
                    })
                    .catch(error => {
                        // this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            first () {
                this.searchItem.action = "First";
                this.searchItem.Id = this.editedItem.salesOrderId;
                // this.selectedItem.searchString = 'first';
                this.toolfunction();
            },
            last () {
                this.searchItem.action = "Last";
                this.searchItem.Id = this.editedItem.salesOrderId;
                //this.selectedItem.searchString = 'last';

                this.toolfunction();
            },
            previous () {
                this.searchItem.action = "Previous";
                this.searchItem.Id = this.editedItem.salesOrderId;
                //this.selectedItem.searchString = 'previous';
                this.toolfunction();
            },

            next () {
                this.searchItem.action = "Next";
                this.searchItem.Id = this.editedItem.salesOrderId;
                // this.selectedItem.searchString = 'next';
                this.toolfunction();
            },
            addFormDialog () {
                this.add();
            },
            searchClick () {
                this.gridloader = true;
                getSalesOrderBySearch(this.searchSales)
                    .then(response => {
                        this.gridloader = false;
                        this.gridItems = response.data;
                    })
                    .catch(error => {
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                this.searchmenu = false;
            },
            selCustomer () {
                this.locationName = "";
                if (this.editedItem.customerId > 0) {
                    let id = this.editedItem.customerId;
                    getSobyCustomersShippingAddress(id)
                        .then(response => {

                            this.shipCodeItems = response.data;
                        })
                        .catch(error => {
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            selectShipto () {
                this.editedItem.shipingCodeType = "";
                let selectship = this.shipCodeItems.filter(s => s.shipingCodeAddressId == this.editedItem.shipToCodeId);
                if (selectship.length > 0) {
                    this.locationName = selectship[0].locationName;
                    this.editedItem.shipingCodeType = selectship[0]['shipingCodeType'];
                }
            },
            close () {
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                    this.locationName = "";
                    window.getApp.$emit("CLOSE_SALES_ORDER_DIALOG");
                    this.iswithBlanket = false;
                    this.iswithoutBlanket = false;
                    if (this.$refs.refsalesWithoutblanket != undefined) {
                        this.$refs.refsalesWithoutblanket.gridItems = [];
                    }
                    if (this.$refs.refsalesWithblanket != undefined) {
                        this.$refs.refsalesWithblanket.gridItems = [];
                    }
                }, 300);
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },

            editItem (item) {
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                if (this.$refs.refsalesWithoutblanket != undefined) {
                    this.$refs.refsalesWithoutblanket.enableAddButton = false;
                    this.$refs.refsalesWithoutblanket.salesOrderId = item.salesOrderId;
                    this.$refs.refsalesWithoutblanket.loadDropdownList();
                }
                if (item.requestShipmentDate != null) {
                    this.editedItem.requestShipmentDate = moment(item.requestShipmentDate).format(
                        "YYYY-MM-DD"
                    );
                }
                if (item.dateOfOrder != null) {
                    this.editedItem.dateOfOrder = moment(item.dateOfOrder).format(
                        "YYYY-MM-DD"
                    );
                }
                if (item.vanDeliveryDate != null) {
                    this.editedItem.vanDeliveryDate = moment(item.vanDeliveryDate).format(
                        "YYYY-MM-DD"
                    );
                }
                this.selCustomer();
                let id = item.salesOrderId;
                this.getSalesProducts(id);

                setTimeout(() => {
                    this.dialog = true;
                    this.selectShipto();
                    this.editedItem.shipToCodeId = item.shipToCodeId;
                }, 500);
            },
            getSalesProducts (id) {

                getSalesOrderProducts(id)
                    .then(response => {
                        if (response.data != null && response.data.length > 0) {
                            this.iswithBlanket = true;
                            this.iswithoutBlanket = false;
                            if (this.$refs.refsalesWithblanket != undefined) {
                                this.$refs.refsalesWithblanket.salesOrderId = id;
                                this.$refs.refsalesWithblanket.gridItems = response.data;
                                this.$refs.refsalesWithblanket.enableAddButton = false;
                            }

                        }
                        else {
                            this.iswithoutBlanket = true;
                            this.iswithBlanket = false;
                        }

                    })
                    .catch(error => {

                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            searchClose () {
                this.searchmenu = false;
            },

            save () {
                if (this.$refs.form.validate()) {
                    if (this.editedItem.salesOrderId > 0) {
                        this.saveloader = true;
                        this.loader = true;
                        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

                        updateSalesOrder(this.editedItem)
                            .then(response2 => {
                                this.loader = false;
                                this.saveloader = false;
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                                this.editedItem.sessionID = "";
                                this.uploadedFiles = [];

                                //this.add();
                            })
                            .catch(error => {
                                this.loader = false;
                                this.saveloader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    } else {
                        this.editedItem.addedByUserID = this.$store.state.auth.userId;
                        this.editedItem.profileId = this.applicationFormData.profileID;
                        this.loader = true;
                        this.saveloader = true;
                        createSalesOrder(this.editedItem)
                            .then(response2 => {
                                if (response2.data != undefined) {
                                    this.gridItems.push(response2.data);
                                    this.loader = false;
                                    this.saveloader = false;
                                    console.log("response data" + JSON.stringify(response2.data));
                                    let index = this.gridItems
                                        .map(item => item.salesOrderId)
                                        .indexOf(response2.data.salesOrderId);
                                    this.editedIndex = index;
                                    this.editedItem.salesOrderId = response2.data.salesOrderId;
                                    this.editedItem.profileName = response2.data.profileName;
                                    this.editedItem.documentNo = response2.data.documentNo;
                                    if (this.$refs.refsalesWithoutblanket != undefined) {
                                        this.$refs.refsalesWithoutblanket.salesOrderId =
                                            response2.data.salesOrderId;
                                        this.$refs.refsalesWithoutblanket.companyID = response2.data.companyID;
                                        this.$refs.refsalesWithoutblanket.enableAddButton = false;
                                        let id = response2.data.salesOrderId;
                                        window.getApp.$emit("SO_SALES_ORDER", this.editedItem.salesOrderId);
                                        this.getSalesProducts(id);

                                    }
                                    this.editedItem.profileReferenceNo =
                                        response2.data.profileReferenceNo;
                                    this.uploadbtn = false;
                                    //this.editedItem = response2.data;
                                    this.editedItem.salesOrderId =
                                        response2.data.salesOrderId;
                                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                                    setTimeout(() => {
                                        this.getNavItem(response2.data.companyID);
                                    }, 300);
                                }
                            })
                            .catch(error => {
                                this.loader = false;
                                this.saveloader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                } else {
                    window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
                    this.loader = false;
                    this.saveloader = false;
                }
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.salesOrderId > -1) {
                    this.loader = true;
                    let index = this.gridItems.indexOf(this.editedItem);
                    deleteSalesOrder(this.editedItem)
                        .then(response => {
                            this.loader = false;
                            if (response != undefined) {
                                this.gridItems.splice(index, 1);
                                this.add();
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                            }
                            else {
                                window.getApp.$emit("APP_API_ERROR", "This Sales Order Cannot Delete Reference To Others");
                            }
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            }
        }
    };
</script>

 <style scoped>
    .layoutbg {
      border-style: solid;
      border-radius: 8px !important;
      border-color: rgb(216, 222, 247);
      border-width: 1px;
      padding: 8px;
    }

    .borderlayout {
      border-radius: 3px !important;
      border-color: gray;
      border-width: 1px;
      padding: 6px;
    }
    .titlecard {
      border-color: transparent;
      border-bottom-width: 0px;
      color: transparent;
      padding: 8px;
      padding-top: 2px;
    }
</style>