<template>
    <div>
        <v-layout row>
            <v-flex xs12 sm4>
                <v-tabs v-model="selectedTab" color="primary" dark slider-color="yellow">

                    <v-tab ripple key="1721">Sales Order To Process</v-tab>
                    <v-tab ripple key="1722">Sales Order Complete Process</v-tab>
                    <v-tab ripple key="1723">Not Related</v-tab>
                    <v-tabs-items>
                        <v-tab-item key="1721">
                            <v-card>
                                <vue-perfect-scrollbar class="drawer-menu--scroll" :settings="scrollSettings">
                                    <v-list two-line>
                                        <template v-for="(item, index) in salesOrderToProcess">
                                            <v-list-tile :key="index" avatar ripple @click="mailData(item,index)">

                                                <v-list-tile-content>
                                                    <v-list-tile-title>
                                                        <v-icon left color="primary" v-if="item.isAttachment">attachment</v-icon>{{ item.subject }}</v-list-tile-title>
                                                    <v-list-tile-sub-title class="text--primary">{{ (item.bodyText==null)?item.bodyHtml:item.bodyText }}</v-list-tile-sub-title>
                                                </v-list-tile-content>
                                                <v-list-tile-action>
                                                    <v-list-tile-action-text>{{ item.date|formatDate }}</v-list-tile-action-text>
                                                    <v-icon v-if="item.isAcknowledgement==true" color="green">star</v-icon>
                                                    <v-icon v-else color="grey lighten-1">star</v-icon>

                                                    <v-menu>
                                                        <template v-slot:activator="{ on }">
                                                            <v-btn icon v-on="on">
                                                                <v-icon>view_module</v-icon>
                                                            </v-btn>
                                                        </template>

                                                        <v-list>
                                                            <v-list-tile v-for="(items, i) in salesOrdercompleteProcessItems" :key="i" @click="moveToData(items,item,1)">
                                                                <v-list-tile-title>{{ items.title }}</v-list-tile-title>
                                                            </v-list-tile>
                                                        </v-list>
                                                    </v-menu>
                                                </v-list-tile-action>
                                            </v-list-tile>
                                            <v-divider v-if="index + 1 < salesOrderToProcess.length" :key="`divider-${index}`"></v-divider>
                                        </template>
                                    </v-list>
                                </vue-perfect-scrollbar>
                            </v-card>
                        </v-tab-item>
                        <v-tab-item key="1722">
                            <vue-perfect-scrollbar class="drawer-menu--scroll" :settings="scrollSettings">
                                <v-list two-line>
                                    <template v-for="(item, index) in salesOrderComplete">
                                        <v-list-tile :key="index" avatar ripple @click="mailData(item,index)">
                                            <v-list-tile-content>
                                                <v-list-tile-title>
                                                    <v-icon left color="primary" v-if="item.isAttachment">attachment</v-icon>{{ item.subject }}</v-list-tile-title>
                                                <v-list-tile-sub-title class="text--primary">{{ (item.bodyText==null)?item.bodyHtml:item.bodyText }}</v-list-tile-sub-title>
                                            </v-list-tile-content>
                                            <v-list-tile-action>
                                                <v-list-tile-action-text>{{ item.date|formatDate }}</v-list-tile-action-text>
                                                <v-icon v-if="item.isAcknowledgement==true" color="green">star</v-icon>
                                                <v-icon v-else color="grey lighten-1">star</v-icon>
                                                <v-menu>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn icon v-on="on">
                                                            <v-icon>view_module</v-icon>
                                                        </v-btn>
                                                    </template>

                                                    <v-list>
                                                        <v-list-tile v-for="(items, i) in salesOrderToProcessItems" :key="i" @click="moveToData(items,item,2)">
                                                            <v-list-tile-title>{{ items.title }}</v-list-tile-title>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-menu>
                                            </v-list-tile-action>
                                        </v-list-tile>
                                        <v-divider v-if="index + 1 < salesOrderComplete.length" :key="`divider-${index}`"></v-divider>
                                    </template>
                                </v-list>
                            </vue-perfect-scrollbar>
                        </v-tab-item>
                        <v-tab-item key="1723">
                            <vue-perfect-scrollbar class="drawer-menu--scroll" :settings="scrollSettings">
                                <v-list two-line>
                                    <template v-for="(item, index) in notRelated">
                                        <v-list-tile :key="index" avatar ripple @click="mailData(item,index)">
                                            <v-list-tile-content>
                                                <v-list-tile-title>
                                                    <v-icon left color="primary" v-if="item.isAttachment">attachment</v-icon>{{ item.subject }}</v-list-tile-title>
                                                <v-list-tile-sub-title class="text--primary">{{ (item.bodyText==null)?item.bodyHtml:item.bodyText }}</v-list-tile-sub-title>
                                            </v-list-tile-content>
                                            <v-list-tile-action>
                                                <v-list-tile-action-text>{{ item.date|formatDate }}</v-list-tile-action-text>
                                                <v-icon v-if="item.isAcknowledgement==true" color="green">star</v-icon>
                                                <v-icon v-else color="grey lighten-1">star</v-icon>

                                                <v-menu>
                                                    <template v-slot:activator="{ on }">
                                                        <v-btn icon v-on="on">
                                                            <v-icon>view_module</v-icon>
                                                        </v-btn>
                                                    </template>

                                                    <v-list>
                                                        <v-list-tile v-for="(items, i) in notRelatedItems" :key="i" @click="moveToData(items,item,3)">
                                                            <v-list-tile-title>{{ items.title }}</v-list-tile-title>
                                                        </v-list-tile>
                                                    </v-list>
                                                </v-menu>
                                            </v-list-tile-action>
                                        </v-list-tile>
                                        <v-divider v-if="index + 1 < notRelated.length" :key="`divider-${index}`"></v-divider>
                                    </template>
                                </v-list>
                            </vue-perfect-scrollbar>
                        </v-tab-item>
                    </v-tabs-items>
                </v-tabs>
            </v-flex>
            <v-flex xs12 sm8 style="padding:20px;" v-if="showdetailFlag">
                <div class="company--scroll">
                    <v-layout row wrap>
                        <v-flex xs12 sm12>
                            <v-layout row wrap>
                                <v-flex xs12 sm10>
                                    <div>
                                        <span class="headline">{{emailContent.subject}}</span>
                                    </div><br>
                                    <div>From: {{(emailContent.fromName=="")?emailContent.from:emailContent.fromName}}</div><br>
                                    <div>To: {{(emailContent.toName=="")?emailContent.to:emailContent.toName}}</div><br>
                                    <div>CC: {{(emailContent.cc=="")?emailContent.cc:emailContent.ccName}}</div><br>
                                </v-flex>
                                <v-flex xs12 sm2>
                                    <v-menu open-on-hover offset-y>
                                        <template v-slot:activator="{ on }">
                                            <v-btn color="primary" dark v-on="on">
                                                <v-icon color="white">mdi-arrow-down</v-icon>
                                            </v-btn>
                                        </template>

                                        <v-list>
                                            <v-list-tile v-for="(item, index) in items" :key="index" @click="mainContent(index,emailContent)">
                                                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                            </v-list-tile>
                                        </v-list>
                                    </v-menu>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12 sm12>
                            <v-layout row wrap>
                                <v-flex xs12 sm8>

                                </v-flex>
                                <v-flex xs12 sm4>
                                    <div>{{emailContent.date|formatDateTime}}</div>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex xs12 sm12 style="padding:10px;">

                            <div v-html="emailContent.bodyHtml"></div>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap v-if="emailContent.isAttachment">
                        <v-flex xs12 sm12>
                            <span class="headline">Attachments</span>
                        </v-flex>
                        <v-flex xs12 sm6 v-for="(attachment,j) in emailContent.attachments" :key="j">
                            <v-icon color="primary" large @click="downloadAttachment(attachment)">{{attachment.contentType=="application/pdf"?"mdi-file-pdf":"mdi-file-image"}}</v-icon><br>
                            <span small style="cursor: pointer;" @click="downloadAttachment(attachment)">{{attachment.fileName}}</span>
                        </v-flex>
                    </v-layout>
                </div>

            </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
            <v-card>

                <v-toolbar card dense color="primary">
                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="close">
                            <v-icon color="white">reply</v-icon>
                        </v-btn>
                        <span>Go Back</span>
                    </v-tooltip>
                </v-toolbar>
                <v-card-title>
                    <span class="headline">{{ emailContent.subject }}</span>
                </v-card-title>
                <div class="company--scroll">
                    <v-card-text>
                        <v-form ref="form" lazy-validation>
                            <v-layout wrap>
                                <v-flex xs12 sm12>
                                    <vue-mce :config="tinyConfig" v-if="isRTERender" ref="preRequisition" id="preRequisition" v-model="emailContent.bodyHtml" />
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-card-text>
                </div>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary darken-1" outline @click.native="sendMail">Send</v-btn>
                    <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>

                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="sodialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Add So Number</v-card-title>
                <div class="task-sub--scroll">
                    <v-card-text>
                        <v-flex xs12 sm12>
                            <v-text-field v-model="sonumber" label="SO Number" prepend-icon="select_all"></v-text-field>
                        </v-flex>
                        <v-flex xs12 sm12>
                            <v-radio-group row v-model="emailContent.sameAsSalesOrderCompleteProcessFlag">
                                <v-radio value="No" label="Nothing as Same"></v-radio>
                                <v-radio value="Yes" label="Same As Sales Order Complete Process"></v-radio>
                            </v-radio-group>
                        </v-flex>
                        <v-flex xs12 sm12>
                            <v-card-actions>
                                <v-spacer></v-spacer>

                                <v-btn color="primary darken-1" outline @click="updateSoNumber(0)">
                                    Add So Number
                                </v-btn>

                                <v-btn color="primary darken-1" outline @click="sodialog = false">
                                    Cancel
                                </v-btn>
                            </v-card-actions>
                        </v-flex>
                        <v-flex xs12 sm12>
                            <v-data-table :headers="headers" :loading="gridloader" :items="gridItems" class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <tr>
                                        <td class="text-xs-left">{{ props.item.value }}</td>
                                        <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
                                    </tr>
                                </template>
                                <template slot="no-data">
                                    <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
                                </template>
                            </v-data-table>
                        </v-flex>
                    </v-card-text>
                </div>

            </v-card>
        </v-dialog>
        <v-dialog v-model="notRelatedDialog" max-width="290">
            <v-card>
                <v-card-title class="headline">Move To Not Related</v-card-title>

                <v-card-text>
                    <v-flex xs12 sm12>
                        <v-textarea v-model="emailContent.notRelatedDescription" label="Description" prepend-icon="select_all"></v-textarea>
                    </v-flex>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="primary darken-1" outline @click="saveOrUpdatenotRelated">
                        Move
                    </v-btn>

                    <v-btn ccolor="primary darken-1" outline @click="notRelatedDialog = false;loader=false;">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="createDialog" max-width="500">
            <v-card>
                <v-card-title class="headline">Create Documents</v-card-title>
                <v-form ref="form" v-model="valid">
                    <div class="task-sub--scrolls">
                        <v-card-text>
                            <v-flex xs12 sm12>
                                <v-autocomplete label="File Profile Types" prepend-icon="description" v-model="emailContent.fileProfileTypeId" :items="fileProfileTypeItems" item-text="name" item-value="fileProfileTypeId"></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-text-field v-model="emailContent.htmlFileName" :rules="[v => !!v || 'This is required']" label="File Name" prepend-icon="select_all" @keyup="onChangeHtmlFileName"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-autocomplete label="Email Category" prepend-icon="description" v-model="emailContent.emailCategoryId" :items="emailCategoryItems" item-text="value" item-value="applicationMasterDetailId" clearable></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 sm12>
                                <v-textarea v-model="emailContent.description" label="Description" prepend-icon="select_all"></v-textarea>
                            </v-flex>
                        </v-card-text>
                    </div>
                </v-form>
                <v-card-actions>
                    <v-spacer></v-spacer>

                    <v-btn color="primary darken-1" outline @click="saveCreateDocument" :loading="loader">
                        Create
                    </v-btn>

                    <v-btn color="primary darken-1" :loading="loader" outline @click="createDialog = false;loader=false;">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="salesOrderDialog" fullscreen>
            <sales-order ref="refSalesOrder"></sales-order>
        </v-dialog>
        <app-section-loader :status="loader">
        </app-section-loader>
    </div>
</template>
<script>
    import {
        getFileProfileTypeItems,
    } from "@/api/fileProfileType";
    import Util from '@/util';
    import { getReceiveEmails, getEmailTypeList, createReceiveEmail, updateReceiveEmail } from '@/api/email';
    import { getCodeMasterByType } from '@/api/applicationUser';
    import SalesOrder from "@/pages/Email/EmailSalesOrder";
    export default {
        components: {
            SalesOrder
        },
        data: () => ({
            valid: false,
            createDialog: false,
            salesOrderDialog: false,
            gridloader: false,
            sodialog: false,
            salesOrdercompleteProcessItems: [
                { title: 'Move To Sales Order Complete Process', id: 1722 },
                { title: 'Move To Not Related', id: 1723 }
            ],
            salesOrderToProcessItems: [
                { title: 'Move To Sales Order To Process', id: 1721 },
                { title: 'Move To Not Related', id: 1723 }
            ],
            notRelatedItems: [
                { title: 'Move To Sales Order Complete Process', id: 1721 },
                { title: 'Move To Sales Order To Process', id: 1722 },
            ],
            items: [
                { title: 'Create SO' },
                { title: 'Create Documents' },
                { title: 'Acknowledgement' },
                { title: 'Enter SO Number' },
            ],
            headers: [
                { text: "So Number", value: "sonumber", align: "left" },
            ],
            gridItems: [],
            showdetailFlag: false,
            salesOrderToProcess: [],
            salesOrderComplete: [],
            notRelated: [],
            selectedTab: 0,
            loader: false,
            bodyHtml: "",
            scrollSettings: {
                maxScrollbarLength: 160
            },
            dialog: false,
            emailContent: {
                subject: "",
                from: "",
                to: "",
                bodyText: "",
                bodyHtml: "",
                isAttachment: false,
                date: null,
                fromName: "",
                toName: "",
                cc: "",
                receiveEmailId: null,
                emailSalesStatusId: null,
                isAcknowledgement: null,
                sonumber: null,
                attachments: [],
                addedByUserId: null,
                modifiedByUserId: null,
                notRelatedDescription: "",
                sameAsSalesOrderCompleteProcessFlag: "No",
                sameAsSalesOrderCompleteProcess: false,
                salesOrderId: null,
                htmlFileName: "",
                description: "",
                emailCategoryId: null,
                sessionId: null,
                documentId: null,
                type: "",
                fileProfileTypeId: null,

            },
            emailCategoryItems: [],
            fileProfileTypeItems: [],
            emailContents: {
                subject: "RE: Request for ext GPOR 37318 - DIMENHYDRINATE 50MG TAB",
                from: "",
                to: "",
                bodyText: "",
                bodyHtml: "",
                isAttachment: false,
                date: null,
                fromName: "",
                toName: "",
                cc: "",
                receiveEmailId: 38,
                emailSalesStatusId: 1721,
                isAcknowledgement: null,
                sonumber: null,
                attachments: [],
                addedByUserId: null,
                modifiedByUserId: null,
                notRelatedDescription: "",
                sameAsSalesOrderCompleteProcessFlag: "No",
                sameAsSalesOrderCompleteProcess: false,
                salesOrderId: -1,
            },
            statusOptions: [],
            isRTERender: false,
            tinyConfig: Util.tinyconfig(320),
            index: null,
            notRelatedDialog: false,
            type: "",
            title: "",
            sonumber: "",
        }),
        created () {
            this.initialize();
            window.getApp.$on("CLOSE_SALES_ORDER_DIALOG", () => {
                this.salesOrderDialog = false;
            });
            window.getApp.$on("SO_SALES_ORDER", (salesOrderId) => {
                this.emailContent.salesOrderId = salesOrderId;
                this.updateSoNumber(1);
            });
        },
        beforeDestroy () {
            window.getApp.$off("CLOSE_SALES_ORDER_DIALOG");
            window.getApp.$off("SO_SALES_ORDER");
        },
        methods: {
            initialize () {
                var userId = this.$store.state.auth.userId;
                getFileProfileTypeItems(userId)
                    .then((response) => {
                        //this.loader = false;
                        this.fileProfileTypeItems = response.data;
                    })
                    .catch((error) => {
                        //this.loaders = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                // this.salesOrderToProcess[0] = this.emailContents;
                //this.salesOrderComplete[0] = this.emailContents;
                this.loader = true;
                getEmailTypeList()
                    .then(response => {
                        this.salesOrderToProcess = response.data.salesOrderToProcess;
                        this.salesOrderComplete = response.data.salesOrderComplete;
                        this.notRelated = response.data.notRelated;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },
            moveToData (items, item, type) {
                this.loader = true;
                item.emailSalesStatusId = items.id;
                this.title = items.title;
                item.modifiedByUserId = this.$store.state.auth.userId;
                item.addedByUserId = this.$store.state.auth.userId;
                this.type = type;
                if (item.emailSalesStatusId == 1723) {
                    this.notRelatedDialog = true;
                }
                else {
                    this.insertOrUpdate(item);
                }
            },
            saveOrUpdatenotRelated () {

                this.insertOrUpdate(this.emailContent);
            },
            saveCreateDocument () {
                if (this.$refs.form.validate()) {
                    if (this.emailContent.documentId == null) {
                        this.loader = true;
                        this.emailContent.addedByUserId = this.$store.state.auth.userId;
                        createReceiveEmail(this.emailContent)
                            .then(response => {
                                this.loader = false;
                                this.notRelatedDialog = false;
                                this.emailContent.sessionId = response.data.sessionId;
                                this.emailContent.receiveEmailId = response.data.receiveEmailId;
                                this.emailContent.documentId = response.data.documentId;
                                this.moveDataItems(this.emailContent);
                                window.getApp.$emit("APP_API_SUCCESS", "Document Created Successfully");
                                this.loader = false;
                                this.createDialog = false;
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                }
            },
            insertOrUpdate (item) {
                if (item.receiveEmailId == null || item.receiveEmailId == -1 || item.receiveEmailId == 0) {
                    createReceiveEmail(item)
                        .then(response => {
                            this.loader = false;
                            this.notRelatedDialog = false;
                            item.sessionId = response.data.sessionId;
                            item.receiveEmailId = response.data.receiveEmailId;
                            item.documentId = response.data.documentId;
                            this.moveDataItems(item);
                            this.emailContent.sessionId = response.data.sessionId;
                            this.emailContent.receiveEmailId = response.data.receiveEmailId;
                            this.emailContent.documentId = response.data.documentId;
                            window.getApp.$emit("APP_API_SUCCESS", this.title);
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
                else {
                    updateReceiveEmail(item)
                        .then(response => {
                            this.loader = false;
                            this.notRelatedDialog = false;
                            item.sessionId = response.data.sessionId;
                            item.receiveEmailId = response.data.receiveEmailId;
                            item.documentId = response.data.documentId;
                            this.moveDataItems(item);
                            this.emailContent.sessionId = response.data.sessionId;
                            this.emailContent.documentId = response.data.documentId;
                            window.getApp.$emit("APP_API_SUCCESS", this.title);
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            moveDataItems (item) {
                let type = this.type;
                if (type == 1) {
                    let index = this.salesOrderToProcess.indexOf(item);
                    this.salesOrderToProcess.splice(index, 1);
                    if (item.emailSalesStatusId == 1722) {
                        this.salesOrderComplete.push(item);
                    }
                    if (item.emailSalesStatusId == 1723) {
                        this.notRelated.push(item);
                    }
                }
                if (type == 2) {
                    let index = this.salesOrderComplete.indexOf(item);
                    this.salesOrderComplete.splice(index, 1);
                    if (item.emailSalesStatusId == 1721) {
                        this.salesOrderToProcess.push(item);
                    }
                    if (item.emailSalesStatusId == 1723) {
                        this.notRelated.push(item);
                    }
                }
                if (type == 3) {
                    let index = this.notRelated.indexOf(item);
                    this.notRelated.splice(index, 1);
                    if (item.emailSalesStatusId == 1721) {
                        this.salesOrderToProcess.push(item);
                    }
                    if (item.emailSalesStatusId == 1722) {
                        this.salesOrderComplete.push(item);
                    }
                }
            },
            mailData (item, index) {
                this.showdetailFlag = true;
                this.emailContent = item;
                this.index = index;
            },
            b64toBlob (b64Data, contentType = '', sliceSize = 512) {
                const byteCharacters = atob(b64Data);
                const byteArrays = [];

                for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                    const slice = byteCharacters.slice(offset, offset + sliceSize);

                    const byteNumbers = new Array(slice.length);
                    for (let i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i);
                    }

                    const byteArray = new Uint8Array(byteNumbers);
                    byteArrays.push(byteArray);
                }

                const blob = new Blob(byteArrays, { type: contentType });
                return blob;
            },
            downloadAttachment (item) {
                const blob = this.b64toBlob(item.fileData, item.contentType);
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = item.fileName;
                link.click();
            },
            onReply (item) {
                this.dialog = true;
                setTimeout(() => {
                    this.isRTERender = true;
                }, 400);
            },
            close () {
                this.dialog = false;
            },
            onCreateSO () {
                this.salesOrderDialog = true;
                this.$refs.refSalesOrder.editedItem.salesOrderId = this.emailContent.salesOrderId;
                this.$refs.refSalesOrder.initialize();
                //let routeData = this.$router.resolve({ name: 'sales/SalesOrder' });
                //window.open(routeData.href, '_blank')
            },
            sendMail () {
                this.emailContent.isAcknowledgement = true;
                this.updateSoNumber("Mail Send Successfully");
            },
            mainContent (index, item) {
                if (index == 0) {
                    this.onCreateSO();
                }
                else if (index == 1) {
                    this.onCreateDocument(item);
                }
                else if (index == 2) {
                    this.onReply(item);
                }
                else if (index == 2) {
                    //if (item.receiveEmailId > 0) {
                    this.emailContent = item;
                    this.sodialog = true;
                    this.sonumber = this.emailContent.sonumber;
                    this.soNumberList();
                    //}
                }
            },
            onChangeHtmlFileName () {
                this.emailContent.htmlFileName = this.emailContent.htmlFileName.replace(/[^a-zA-Z0-9_]/g, '');
            },
            onCreateDocument (item) {
                if (item.documentId == null) {
                    this.emailContent.type = "Document";
                    this.createDialog = true;
                }
                else {
                    window.getApp.$emit("APP_API_ERROR", "Document Already Created");
                }
            },
            soNumberList () {
                this.gridItems = [];
                var arr = [];
                let items = this.emailContent.sonumber != null ? ((this.emailContent.sonumber).split(',')) : [];
                if (items.length > 0) {
                    items.forEach(function (value, i) {
                        arr.push({
                            value: value,
                            key: i
                        });
                    });
                }
                this.gridItems = arr;
                this.sonumber = null;
            },
            soNumberArrayList () {
                var content = "";
                if (this.gridItems.length > 0) {
                    var list = "";
                    this.gridItems.forEach(function (value, i) {
                        if (value.value != "") {
                            content += value.value + ",";
                        }
                    });
                    if (this.sonumber != null) {
                        this.emailContent.sonumber = content + this.sonumber;
                    }
                    else {
                        this.emailContent.sonumber = content.replace(/,\s*$/, "");
                    }
                }
                else {
                    this.gridItems = [];
                    this.emailContent.sonumber = null;
                    if (this.sonumber != null) {
                        this.emailContent.sonumber = this.sonumber;
                    }
                }
                this.soNumberList();
            },
            onDeleteItem (item) {
                let test = this.gridItems.indexOf(item);
                this.gridItems.splice(test, 1);
                this.updateSoNumber(0);
            },
            updateSoNumber (mailMessage) {
                this.soNumberArrayList();
                if (this.emailContent.receiveEmailId > 0) {
                    this.emailContent.modifiedByUserId = this.$store.state.auth.userId;
                    updateReceiveEmail(this.emailContent)
                        .then(response => {
                            this.loader = false;
                            this.emailContent.receiveEmailId = response.data.receiveEmailId;
                            this.sameAsSalesOrderCompleteProcess();
                            this.dialog = false;
                            if (mailMessage != 1) {
                                window.getApp.$emit("APP_API_SUCCESS", mailMessage == 0 ? 'SO Number Updated Successfully' : mailMessage);
                            }
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
                else {
                    this.emailContent.addedByUserId = this.$store.state.auth.userId;
                    createReceiveEmail(this.emailContent)
                        .then(response => {
                            this.loader = false;
                            this.emailContent.receiveEmailId = response.data.receiveEmailId;
                            this.sameAsSalesOrderCompleteProcess();
                            this.dialog = false;
                            if (mailMessage != 1) {
                                window.getApp.$emit("APP_API_SUCCESS", mailMessage == 0 ? 'SO Number Updated Successfully' : mailMessage);
                            }
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }

            },
            sameAsSalesOrderCompleteProcess () {
                if (this.emailContent.sameAsSalesOrderCompleteProcessFlag == "Yes") {
                    this.emailContent.sameAsSalesOrderCompleteProcess = true;
                    let receiveEmailIndex = this.salesOrderComplete.indexOf(this.emailContent);
                    if (receiveEmailIndex == -1) {
                        this.salesOrderComplete.push(this.emailContent);
                    }
                }
                if (this.emailContent.sameAsSalesOrderCompleteProcessFlag == "No") {
                    this.emailContent.sameAsSalesOrderCompleteProcess = false;
                    let receiveEmailIndex = this.salesOrderComplete.indexOf(this.emailContent);
                    if (receiveEmailIndex > -1) {
                        this.salesOrderComplete.splice(receiveEmailIndex, 1);
                        this.sodialog = false;
                    }
                }
            }
        },
    }
</script>
<style lang="stylus">
    .drawer-menu--scroll {
        height: calc(100vh - 175px);
        overflow: auto;
    }

    .company--scroll {
        overflow: auto;
        height: calc(100vh - 170px);
    }

    .task-sub--scroll {
        overflow: auto;
        height: calc(100vh - 120px);
    }

    .task-sub--scrolls {
        overflow: auto;
        height: calc(100vh - 155px - 60px);
    }
</style>

