<template>
  <div>
    <v-toolbar flat color="white">
      <v-menu
        v-model="stockMonthmenu"
        :close-on-content-click="false"
        full-width
        min-width="290"
      >
        <v-text-field
          slot="activator"
          :value="stockMonthDateFormatted"
          label="Opening Balance Month"
          prepend-icon="today"
          readonly
        ></v-text-field>
        <v-date-picker
          v-model="searchParam.stockMonth"
          @change="stockMonthmenu = false"
        ></v-date-picker>
      </v-menu>
      <v-menu
        v-model="headerMonthmenu"
        :close-on-content-click="false"
        full-width
        min-width="290"
      >
        <v-text-field
          slot="activator"
          :value="headerMonthDateFormatted"
          label="Header Month"
          prepend-icon="today"
          readonly
        ></v-text-field>
        <v-date-picker
          v-model="searchParam.headerMonth"
          @change="headerMonthmenu = false"
        ></v-date-picker>
      </v-menu>
      <v-radio-group row v-model="searchParam.isSteroid">
        <v-radio label="Steroid" :value="true"></v-radio>
        <v-radio label="Non Steroid" :value="false"></v-radio>
      </v-radio-group>
      <v-autocomplete
        :items="versionList"
        v-model="searchParam.versionId"
        label="Version"
        prepend-icon="poll"
      ></v-autocomplete>
      <v-autocomplete
        label="Method Code"
        v-model="searchParam.methodCodeId"
        item-value="methodCodeID"
        item-text="methodName"
        :items="methodCodeList"
        prepend-icon="all_inclusive"
      ></v-autocomplete>

      <v-autocomplete
        :items="salesGroupList"
        v-model="searchParam.salesCategoryId"
        label="Sales Category"
        prepend-icon="category"
      ></v-autocomplete>

      <v-select
        label="Company"
        v-model="searchParam.companyId"
        prepend-icon="apartment"
        name="companyselect"
        item-text="plantCode"
        item-value="plantID"
        :items="companies"
      ></v-select>
      <v-btn icon @click="filterdialog = true">
        <v-icon :color="filterColor">filter_list</v-icon>
      </v-btn>

      <v-btn icon :loading="loader" @click="prodSearch">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn icon @click="clearSearchFilter">
        <v-icon>cancel</v-icon>
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn :loading="loader" icon @click="refresh">
        <v-icon icon>refresh</v-icon>
      </v-btn>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <div>
      <v-card class="elevation-20">
        <v-card-content>
          <ejs-grid
            ref="gridreport"
            :dataSource="data"
            :allowPaging="true"
            :allowResizing="true"
            :allowExcelExport="true"
            :allowFiltering="true"
            :toolbar="toolbar"
            :toolbarClick="toolbarClick"
            :filterSettings="filterSettings"
            :allowGrouping="true"
            :groupSettings="groupSettings"
            :editSettings="editSettings"
            :dataBound="dataBound"
            height="calc(100vh - 230px - 143px)"
            :actionBegin="actionBegin"
            :actionComplete="actionComplete"
            @cellSelected="rowSelected"
            :selectionSettings="selectionOptions"
            :headerCellInfo="headerCellInfo"
            :queryCellInfo="customiseCell"
          >
            <e-columns>
              <e-column
                field="methodCode"
                headerText="Method Code"
                clipMode="EllipsisWithTooltip"
                width="300"
                textAlign="Left"
                minWidth="10"
                :visible="false"
              ></e-column>
              <e-column
                field="itemNo"
                headerText="Generic Code"
                clipMode="EllipsisWithTooltip"
                width="300"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <!-- <e-column
                field="addhocCust"
                headerText="Adhoc Customer"
                width="120"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>-->
              <!-- <e-column
                clipMode='EllipsisWithTooltip'
                field='description'
                headerText='Description'
                width='300'
                textAlign="Left"
                minWidth='10'
                :allowEditing='false'
              ></e-column>
              <e-column
                field='uom'
                headerText='BUOM'
                width='120'
                textAlign="Left"
                minWidth='10'
                :allowEditing='false'
              ></e-column>-->
              <e-column
                field="packSize"
                headerText="Pack Size"
                width="120"
                textAlign="Left"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <!-- <e-column
                headerText='Pack'
                :columns='packColumns'
                textAlign="Center"
                format="N2"
              ></e-column>-->
              <e-column
                :headerText="acheader"
                :columns="distColumns"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                field="symlQty"
                headerText="AC in Units"
                width="140"
                format="N2"
                textAlign="Center"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <e-column
                field="threeMonthACQty"
                headerText="AC Unit X 3"
                width="140"
                format="N2"
                textAlign="Center"
                minWidth="10"
                :allowEditing="false"
              ></e-column>
              <!-- <e-column
            field='packSize1'
            headerText=''
            format="N2"
            width='50'
            textAlign="Center"
            minWidth='10'
              ></e-column>-->
              <!-- <e-column
                field='packuom'
                headerText='Pack UOM'
                width='120'
                textAlign="Left"
                minWidth='10'
                :allowEditing='false'
              ></e-column>-->
              <e-column
                field="prodRecipe"
                :allowEditing="false"
                headerText="Register Batch Size"
                width="190"
              ></e-column>

              <!-- <e-column :edit='dpParams'
            headerText='450L Current Batch Size'
            :columns='batchColumns'
            textAlign="Center"
            format="N2"
              ></e-column>-->
              <!-- <e-column
            field='packSize2'
            headerText=''
            width='50'
            format="N2"
            textAlign="Center"
            minWidth='10'
              ></e-column>-->
              <e-column
                headerText="Current Batch Size"
                :columns="batchColumns1"
                format="N2"
                textAlign="Center"
              ></e-column>
              <e-column
                headerText
                :columns="roundupColumns"
                textAlign="Center"
                format="N2"
                editType="numericedit"
              ></e-column>
              <e-column
                :headerText="stbheader"
                :columns="stkbalColumns"
                textAlign="Center"
                format="N2"
              ></e-column>
              <!-- <e-column
                headerText='Next Production (Number of Tickets)'
                :columns='nextProdColumns'
                textAlign="Center"
                format="N2"
              ></e-column>-->

              <e-column
                :headerText="month1"
                :columns="projectedMonth1"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month2"
                :columns="projectedMonth2"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month3"
                :columns="projectedMonth3"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month4"
                :columns="projectedMonth4"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month5"
                :columns="projectedMonth5"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month6"
                :columns="projectedMonth6"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month7"
                :columns="projectedMonth7"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month8"
                :columns="projectedMonth8"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month9"
                :columns="projectedMonth9"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month10"
                :columns="projectedMonth10"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month11"
                :columns="projectedMonth11"
                textAlign="Center"
                format="N2"
              ></e-column>
              <e-column
                :headerText="month12"
                :columns="projectedMonth12"
                textAlign="Center"
                format="N2"
              ></e-column>

              <e-column
                field="remarks"
                headerText="Remarks"
                width="300"
                textAlign="Center"
                minWidth="10"
              ></e-column>
            </e-columns>
            <e-aggregates>
              <!-- <e-aggregate>
                <e-columns>
                  <e-column
                    type="Custom"
                    field="itemNo"
                    :groupFooterTemplate='customTemplate1'
                  >
                  </e-column>
                  <e-column
                    type="Custom"
                    format="N2"
                    field="batchSize90"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="custombatchFn"
                  >
                  </e-column>

                  <e-column
                    type="Custom"
                    field="stockHoldingPackSize"
                    format="N2"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="customstockholdingFn"
                  >
                  </e-column>
                </e-columns>
              </e-aggregate>-->
              <e-aggregate>
                <e-columns>
                  <e-column
                    type="Custom"
                    field="itemNo"
                    :groupFooterTemplate="customTemplate2"
                  ></e-column>
                  <!-- <e-column
                    type="Custom"
                    format="N2"
                    field="symlQty"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="customAggregateFn"
                  >
                  </e-column>-->

                  <!-- <e-column
                    type="Sum"
                    format="N2"
                    field="apexStockBalance"
                    :groupFooterTemplate='sumctnTemplate'
                  >
                  </e-column>
                  <e-column
                    type="Sum"
                    format="N2"
                    field="antahStockBalance"
                    :groupFooterTemplate='sumctnTemplate'
                  >
                  </e-column>
                  <e-column
                    type="Sum"
                    format="N2"
                    field="sgTenderStockBalance"
                    :groupFooterTemplate='sumctnTemplate'
                  >
                  </e-column>
                  <e-column
                    type="Sum"
                    format="N2"
                    field="msbStockBalance"
                    :groupFooterTemplate='sumctnTemplate'
                  >
                  </e-column>
                  <e-column
                    type="Sum"
                    format="N2"
                    field="psbStockBalance"
                    :groupFooterTemplate='sumctnTemplate'
                  >
                  </e-column>
                  <e-column
                    type="Sum"
                    format="N2"
                    field="myStockBalance"
                    :groupFooterTemplate='sumctnTemplate'
                  >
                  </e-column>-->

                  <!-- <e-column
                    type="Custom"
                    format="N2"
                    field="stockHoldingBalance"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="customticketFn"
                  >
                  </e-column>-->
                  <!-- <e-column
                    type="Custom"
                    format="N2"
                    field="month1"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="custommonth1Fn"
                  >
                  </e-column>

                  <e-column
                    type="Custom"
                    format="N2"
                    field="month2"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="custommonth2Fn"
                  >
                  </e-column>
                  <e-column
                    type="Custom"
                    format="N2"
                    field="month3"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="custommonth3Fn"
                  >
                  </e-column>
                  <e-column
                    type="Custom"
                    format="N2"
                    field="month4"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="custommonth4Fn"
                  >
                  </e-column>
                  <e-column
                    type="Custom"
                    format="N2"
                    field="month5"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="custommonth5Fn"
                  >
                  </e-column>
                  <e-column
                    type="Custom"
                    format="N2"
                    field="month6"
                    :groupFooterTemplate='footerTemp'
                    :customAggregate="custommonth6Fn"
                  >
                  </e-column>-->
                </e-columns>
              </e-aggregate>
              <e-aggregate>
                <e-columns>
                  <e-column
                    type="Custom"
                    field="itemNo"
                    :groupFooterTemplate="customTemplate"
                  ></e-column>

                  <e-column
                    type="Sum"
                    field="symlQty"
                    format="N2"
                    :groupFooterTemplate="sumTemplate"
                  ></e-column>
                  <e-column
                    type="Sum"
                    format="N2"
                    field="threeMonthACQty"
                    :groupFooterTemplate="sumtotalTemplate"
                  ></e-column>
                  <e-column
                    type="Custom"
                    format="N2"
                    field="roundup1"
                    :groupFooterTemplate="footerTemp"
                    :customAggregate="customroundup1Fn"
                  ></e-column>
                  <e-column
                    type="Custom"
                    field="roundup2"
                    format="N2"
                    :groupFooterTemplate="footerTemp"
                    :customAggregate="customroundup2Fn"
                  ></e-column>
                </e-columns>
              </e-aggregate>
            </e-aggregates>
          </ejs-grid>
        </v-card-content>
      </v-card>
      <v-navigation-drawer
        class="setting-drawer"
        temporary
        right
        v-model="rightDrawer"
        hide-overlay
        fixed
        width="350px"
      >
        <v-card>
          <v-toolbar color="primary" dark>
            <v-toolbar-title>Recipes</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" flat @click="rightDrawer = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Recipe List</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>{{ itemDesc }}</v-card-title>
          <v-card-text>
            <v-list>
              <v-subheader>
                <div>Pack Size</div>
              </v-subheader>
              <v-list-tile
                v-for="recipe in itemRecipeList"
                :key="recipe"
                avatar
                @click="getrecipeCal(recipe)"
              >
                <v-list-tile-content>
                  <v-list-tile-title>
                    <div>{{ recipe }}</div>
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-card>
      </v-navigation-drawer>
      <v-dialog
        v-model="itemdialog"
        transition="dialog-bottom-transition"
        width="650px"
      >
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title color="white">{{ itemDesc }}</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="itemdialog = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-text>
            <v-data-table
              :headers="headers"
              :items="itemList"
              :search="search"
              class="elevation-1"
              default-sort="itemNo:desc"
            >
              <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.itemNo }}</td>
                <td class="text-xs-left">{{ props.item.description }}</td>
                <td class="text-xs-left">{{ props.item.description2 }}</td>
                <td class="text-xs-left">{{ props.item.itemCategory }}</td>
                <td class="text-xs-left">{{ props.item.internalRefNo }}</td>
                <!-- <td class="text-xs-left">{{ props.item.stockBalance }}</td> -->
              </template>
              <template slot="no-data">
                <v-btn color="primary" outline>No items.</v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-dialog
        v-model="filterdialog"
        transition="dialog-bottom-transition"
        width="450px"
      >
        <v-card>
          <v-toolbar dark color="primary">
            <v-toolbar-title color="white">Custom Filters</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="filterdialog = false">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-text>
            Show rows where:
            <v-layout wrap>
              <v-flex xs6 sm6>
                <v-autocomplete
                  label="Ticket"
                  v-model="searchParam.ticketformula"
                  :items="ticketFormulaList"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs4 sm4>
                <v-text-field
                  type="number"
                  label="Value"
                  v-model="searchParam.ticketvalue"
                  prepend-icon="assistant"
                ></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              outline
              :loading="loader"
              @click="prodSearchFilter"
              >OK</v-btn
            >
            <v-btn
              color="primary darken-1"
              outline
              @click.native="clearSearchFilter"
              >Clear Filler</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- </v-layout>
      </v-container>-->
    </div>
  </div>
</template>

<script>
import { getSimulationAddhocV2, updateACReportData, getPlants } from "@/api/nav";
import { getNavMethodCodes } from "@/api/itemMaster";
import Vue from "vue";
import GlobalMessage from "@/constant";
import moment from "moment";
import { DropDownListPlugin } from "@syncfusion/ej2-vue-dropdowns";
import { DropDownList } from "@syncfusion/ej2-dropdowns";
import { Tooltip } from "@syncfusion/ej2-popups";
import {
  GridPlugin,
  Page,
  Resize,
  Edit,
  ExcelExport,
  Toolbar,
  Group,
  Filter,
  FilterType,
  Aggregate,
} from "@syncfusion/ej2-vue-grids";
import { allResolved } from "q";
let packSizes = [
  1080,
  6,
  1000,
  400,
  1,
  12000,
  1200,
  600,
  1000,
  60,
  2500,
  6000,
  120,
  500,
  450,
  500,
  5,
  100,
  360,
  3,
  750,
  15,
];
Vue.use(GridPlugin);
Vue.use(DropDownListPlugin);
let selectedRecord = {};
var elem, dropdownObj, tooltip;
export default {
  data: () => ({
    companies: [],
    loader: false,
    filterColor: "black",
    filterdialog: false,
    rightDrawer: false,
    itemdialog: false,
    itemRecipeList: [],
    itemList: [],
    itemDesc: "",
    month1: "",
    month2: "",
    month3: "",
    month4: "",
    month5: "",
    month6: "",
    month7: "",
    month8: "",
    month9: "",
    month10: "",
    month11: "",
    month12: "",
    acheader: "AC as at end Aug 19",
    stbheader: "Stock balance as at end Aug 2019",
    stockMonthmenu: false,
    headerMonthmenu: false,
    headers: [
      { text: "Item No", value: "itemNo", align: "left" },
      { text: "Description", value: "description", align: "left" },
      { text: "Description 2", value: "description2", align: "left" },
      { text: "Category", value: "itemCategory", align: "left" },
      { text: "Internal Ref. No.", value: "internalRefNo", align: "left" },
      // { text: 'Stock Balance', value: 'stockBalance', align: 'left' },
    ],
    searchParam: {
      search: "",
      company: "NAV_JB",
      stockMonth: new Date().toISOString().substr(0, 10),
      headerMonth: new Date().toISOString().substr(0, 10),
      fromPostingDate: new Date().toISOString().substr(0, 10),
      toPostingDate: new Date().toISOString().substr(0, 10),
      customerId: "",
      userId: -1,
      methodCodeId: null,
      salesCategoryId: null,
      isSteroid: null,
      replenishment: "",
      ticketformula: "",
      ticketvalue: null,
      companyId: 1,
      versionId: 1,
    },
    methodCodeList: [],
    replenishmentList: [
      { text: "Purchase", value: "Purchase" },
      { text: "Prod. Order", value: "Prod. Order" },
    ],

    versionList: [
      { text: "1", value: "1" },
      { text: "2", value: "2" },
      { text: "3", value: "3" },
      { text: "4", value: "4" },
      { text: "5", value: "5" },
      { text: "6", value: "6" },
      { text: "7", value: "7" },
      { text: "8", value: "8" },
      { text: "9", value: "9" },
      { text: "10", value: "10" },
    ],
    ticketFormulaList: [
      { text: "Equal", value: "1" },
      { text: "Greater Than", value: "2" },
      { text: "Greater Than Or Equal", value: "3" },
      { text: "Less Than", value: "4" },
      { text: "Less Than Or Equal", value: "5" },
      { text: "Not Equal", value: "6" },
    ],
    salesGroupList: [
      { text: "CAP", value: 1 },
      { text: "CREAM", value: 2 },
      { text: "DD", value: 3 },
      { text: "SYRUP", value: 4 },
      { text: "TABLET", value: 5 },
      { text: "VET", value: 6 },
      { text: "POWDER", value: 7 },
      { text: "INJ", value: 8 },
    ],
    dpParams: {
      create: function() {
        elem = document.createElement("input");
        return elem;
      },
      read: () => {
        return dropdownObj.value;
      },
      destroy: () => {
        dropdownObj.destroy();
      },
      write: (args) => {
        dropdownObj = new DropDownList({
          dataSource: args.rowData.recipeLists,
        });
        dropdownObj.appendTo(elem);
      },
    },
    customTemplate1: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total AC in Pack UOM:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    customTemplate2: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total AC in BUOM:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    customTemplate: function() {
      return {
        template: Vue.component("customTemplate", {
          template: ` <span> Total BUOM = number of tickets:</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },

    sumTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumTemplate1: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumacTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span> {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },

    sumctnTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span>  {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    sumtotalTemplate: function() {
      return {
        template: Vue.component("sumTemplate", {
          template: ` <span> {{data.Sum}}</span>`,
          data: function() {
            return { data: {} };
          },
        }),
      };
    },
    footerTemp: function() {
      return {
        template: Vue.component("footerTemplate", {
          template: `<span>{{data.Custom}}</span>`,
          data() {
            return { data: {} };
          },
        }),
      };
    },
    data: [],
    numericParams: { params: { change: this.changeFn } },
    toolbar: ["ExcelExport", "Print"],
    filterSettings: { type: "Excel" },
    selectionOptions: {
      cellSelectionMode: "Box",
      type: "Multiple",
      mode: "Cell",
    },
    editSettings: { allowEditing: true, mode: "Normal" },
    groupSettings: { showDropArea: false, columns: ["methodCode"] },
    packColumns: [
      {
        field: "packSize",
        headerText: "Size",
        format: "N2",
        width: 120,
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "packuom",
        headerText: "UOM",
        width: 110,
        format: "N2",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    distColumns: [
      {
        field: "apexQty",
        headerText: "Apex",
        format: "N2",
        width: 120,
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "antahQty",
        headerText: "Antah",
        width: 120,
        format: "N2",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "sgtQty",
      //   headerText: "SG Tender",
      //   width: 120,
      //   format: "N2",
      //   textAlign: "Center",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "missQty",
        headerText: "MSS",
        width: 120,
        format: "N2",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "pxQty",
        headerText: "PX",
        width: 120,
        format: "N2",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "acSum",
        headerText: "AC Total",
        width: 140,
        format: "N2",
        textAlign: "Center",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    batchColumns: [
      {
        field: "batchSize450",
        headerText: "",
        width: 220,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    batchColumns1: [
      {
        field: "batchSize90",
        headerText: "",
        width: 170,
        minWidth: 10,
        allowEditing: false,
      },
    ],
    roundupColumns: [
      {
        field: "roundup1",
        headerText: "Count",
        width: 115,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "roundup2",
        headerText: "Round Up",
        width: 115,
        format: "N2",
        minWidth: 10,
      },
    ],
    stkbalColumns: [
      {
        field: "apexStockBalance",
        headerText: "Apex",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "antahStockBalance",
        headerText: "Antah",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "msbStockBalance",
        headerText: "MSS",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "psbStockBalance",
        headerText: "PX",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "sgTenderStockBalance",
        headerText: "SWSIN",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "myStockBalance",
        headerText: "SWMY",
        width: 140,
        minWidth: 10,
        format: "N2",
        allowEditing: false,
      },
      {
        field: "otherStoreQty",
        headerText: "Other Store",
        width: 140,
        minWidth: 10,
        format: "N2",
        allowEditing: false,
      },
      {
        field: "deliverynotReceived",
        headerText: "In Transit",
        width: 160,
        clipMode: "EllipsisWithTooltip",
        minWidth: 10,
        format: "N2",
        allowEditing: false,
      },
      {
        field: "interCompanyTransitQty",
        headerText: "In T/intercompany",
        width: 160,
        clipMode: "EllipsisWithTooltip",
        minWidth: 10,
        format: "N2",
        allowEditing: false,
      },
      {
        field: "wipQty",
        headerText: "WIP Stock",
        width: 160,
        clipMode: "EllipsisWithTooltip",
        minWidth: 10,
        format: "N2",
        allowEditing: false,
      },
      // {
      //   field: "stockHoldingPackSize",
      //   headerText: "Total holding stock balance",
      //   width: 150,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "stockBalance",
        headerText: "Total Stock Balance",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "stockHoldingBalance",
        headerText: "No. of mth",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "rework",
        headerText: "Rework",
        width: 150,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    projectedMonth1: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc1",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month1",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth1",
      //   headerText: "Proj. Inv(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },

      {
        field: "projectedHoldingStock1",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket1",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock1",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      // {
      //   field: "outputTicket1",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      // {
      //   field: "ticketHoldingStock1",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected1",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyProductionProjected1",
      //   headerText: "Proj. HS (Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth2: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc2",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month2",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyMonth2",
      //   headerText: "Proj. Inv (Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },

      {
        field: "projectedHoldingStock2",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket2",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock2",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket2",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock2",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected2",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected2",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth3: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc3",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month3",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth3",
      //   headerText: "Proj. Inv(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },

      {
        field: "projectedHoldingStock3",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket3",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock3",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket3",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock3",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected3",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected3",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth4: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc4",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month4",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth4",
      //   headerText: "Proj. Inv(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },

      {
        field: "projectedHoldingStock4",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket4",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock4",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket4",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock4",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected4",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected4(Qty)",
      //   headerText: "Proj. HS",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth5: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc5",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month5",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth5",
      //   headerText: "Proj. Inv",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "projectedHoldingStock5",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket5",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock5",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket5",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock5",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected5",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected5",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],

    projectedMonth6: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc6",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month6",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth6",
      //   headerText: "Proj. Inv(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "projectedHoldingStock6",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket6",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock6",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket6",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock6",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected6",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyProductionProjected6",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth7: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc7",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month7",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth7",
      //   headerText: "Proj. Inv",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },

      {
        field: "projectedHoldingStock7",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket7",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock7",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket7",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock7",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected7",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected7",
      //   headerText: "Proj. HS (Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth8: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc8",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month8",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth8",
      //   headerText: "Proj. Inv (Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "projectedHoldingStock8",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket8",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock8",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket8",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock8",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected8",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected8",
      //   headerText: "Proj. HS (Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth9: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc9",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month9",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth9",
      //   headerText: "Proj. Inv (Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "projectedHoldingStock9",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket9",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock9",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket9",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock9",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected9",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected9",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth10: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc10",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month10",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth10",
      //   headerText: "Proj. Inv(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "projectedHoldingStock10",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket10",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock10",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket10",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock10",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected10",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyProductionProjected10",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth11: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc11",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month11",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth11",
      //   headerText: "Proj. Inv(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },

      {
        field: "projectedHoldingStock11",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket11",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock11",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket11",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock11",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected11",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected11",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    projectedMonth12: [
      {
        field: "addhocCust",
        headerText: "",
        width: 150,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "blanketAddhoc12",
        headerText: "Ad Hoc",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month12",
        headerText: "Proj. Inv",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "qtyMonth12",
      //   headerText: "Proj. Inv(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
      {
        field: "projectedHoldingStock12",
        headerText: "Prod. Proj.",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "ticket12",
        headerText: "Production Ticket",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      // {
      //   field: "outputProjectedHoldingStock12",
      //   headerText: "Output",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "outputTicket12",
      //   headerText: "Output Info",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      // {
      //   field: "ticketHoldingStock12",
      //   headerText: "New Ticket",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false
      // },
      {
        field: "productionProjected12",
        headerText: "Proj. HS",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },

      // {
      //   field: "qtyProductionProjected12",
      //   headerText: "Proj. HS(Qty)",
      //   width: 120,
      //   format: "N2",
      //   minWidth: 10,
      //   allowEditing: false,
      // },
    ],
    nextProdColumns: [
      {
        field: "month1",
        headerText: "Jan",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month2",
        headerText: "Feb",
        format: "N2",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month3",
        headerText: "Mar",
        format: "N2",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month4",
        headerText: "Apr",
        format: "N2",
        width: 120,
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month5",
        headerText: "May",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month6",
        headerText: "Jun",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month7",
        headerText: "Jul",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month8",
        headerText: "Aug",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month9",
        headerText: "Sep",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month10",
        headerText: "Oct",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month11",
        headerText: "Nov",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
      {
        field: "month12",
        headerText: "Dec",
        width: 120,
        format: "N2",
        minWidth: 10,
        allowEditing: false,
      },
    ],
    dateRange: {
      fromDate: new Date().toISOString().substr(0, 10),
      toDate: new Date().toISOString().substr(0, 10),
      itemNo: null,
    },
    packSizeList: [],
    // packSizes: [1080, 6, 1000, 400, 1, 12000, 1200, 600, 1000, 60, 2500, 6000, 120, 500, 450, 500, 5, 100, 360, 3, 750, 15],

    editbzparams: {
      params: {
        allowFiltering: true,
        dataSource: packSizes,
        // fields: {text:"countryName",value:"countryName"},
      },
    },
    fields: { text: "batchSize", value: "batchSize" },
  }),

  provide: {
    grid: [Page, Resize, ExcelExport, Edit, Toolbar, Group, Filter, Aggregate],
  },
  computed: {
    stockMonthDateFormatted() {
      return this.searchParam.stockMonth
        ? moment(this.searchParam.stockMonth).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    headerMonthDateFormatted() {
      return this.searchParam.headerMonth
        ? moment(this.searchParam.headerMonth).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {
    this.onLoad();
    this.initialize();
  },
  methods: {
    customiseCell: function(args) {
      if (args.data[args.column.field] == 0) {
        //args.cell.classList.add('below-0');
        args.cell.style.color = "white";
      }
    },
    actionBegin: function(args) {
      if (args.requestType === "beginEdit") {
        selectedRecord = {};
        selectedRecord = args.rowData;
        this.packSizeList = this.packSizes;
      }
      console.log(args.requestType, args);
      if (args.requestType == "refresh") {
      }
    },
    actionComplete: function(args) {
      if (args.requestType === "save") {
        //need to check e.requestType == “batchsave” for Batch editing
        // selectedRecord['roundup2'] = args.data.roundup2;
        // let gridObj = this.$refs.gridreport.ej2Instances;
        // gridObj.aggregateModule.refresh(selectedRecord);
        //console.log(args.data);

        this.searchParam.itemNo = args.data.itemNo;
        this.searchParam.roundup2 = args.data.roundup2;
        this.searchParam.remarks = args.data.remarks;
        this.searchParam.isUpdate = true;
        this.onLoad();

        // updateACReportData(args.data).then(response => {
        //   this.onLoad();
        //   this.loader = false;
        // })
        //   .catch(error => {
        //     this.loader = false;
        //     window.getApp.$emit('APP_API_ERROR', error);
        //   });;
        //console.log(args.data);
      }
      // let gridObj = this.$refs.gridreport.ej2Instances;
      // gridObj.aggregateModule.refresh(selectedRecord);
    },

    changeFn: function(args) {
      alert(args.value);
      selectedRecord["roundup2"] = args.value;
      let gridObj = this.$refs.gridreport.ej2Instances;
      gridObj.aggregateModule.refresh(selectedRecord);
    },
    editTemplate: function() {
      return {
        template: Vue.component("dropdownlist", {
          template: `<ejs-dropdownlist id="pSize" v-model='data.prodRecipe'  :dataSource='data.recipeLists' placeholder="Pack Size" popupHeight='300px' floatLabelType='Always'></ejs-dropdownlist>`,
          data() {
            return { data: {} };
          },
          computed: {
            getPackSizes: () => {
              return [
                1080,
                6,
                1000,
                400,
                1,
                12000,
                1200,
                600,
                1000,
                60,
                2500,
                6000,
                120,
                500,
                450,
                500,
                5,
                100,
                360,
                3,
                750,
                15,
              ];
            },
          },
        }),
      };
    },
    dataBound: function(args) {
      //this.$refs.gridreport.ej2Instances.groupModule.collapseAll();
    },
    customAggregateFn: function(data) {
      if (data.items != undefined) {
        var apexQty = data.items.reduce((acc, item) => acc + item.apexQty, 0);
        var antahQty = data.items.reduce((acc, item) => acc + item.antahQty, 0);
        var sgtQty = data.items.reduce((acc, item) => acc + item.sgtQty, 0);
        var pxQty = data.items.reduce((acc, item) => acc + item.pxQty, 0);
        var missQty = data.items.reduce((acc, item) => acc + item.missQty, 0);

        var result = apexQty + antahQty + sgtQty + pxQty + missQty;
        return result.toFixed(2);
      }
      return 0;
    },
    custombatchFn: function(data) {
      if (data.items != undefined && data.items.length > 0) {
        var batch = data.items[0].packSize2 / data.items[0].packSize;
        return batch.toFixed(2);
      } else {
        return 0;
      }
    },
    customroundup1Fn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce((acc, item) => acc + item.symlQty, 0) * 3;
        var valData = sum / data.items[0].packSize2;
        return valData.toFixed(2); //numeral(valData);
      }
      return 0;
    },
    customroundup2Fn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce((acc, item) => acc + item.symlQty, 0) * 3;
        var valData = sum / data.items[0].packSize2;
        return Math.ceil(valData).toFixed(2); //numeral(valData);
      }
      return 0;
    },
    customstockholdingFn: function(data) {
      if (data.items != undefined) {
        var sum = data.items.reduce(
          (acc, item) => acc + item.stockHoldingPackSize,
          0
        );
        var valData = sum / data.items[0].packSize;
        return valData.toFixed(2); //numeral(valData);
      }
      return 0;
    },
    customticketFn: function(data) {
      if (data.items == undefined) {
        return 0;
      }

      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      // var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      // var packctn = 0;
      // if (data.items != undefined && data.items.length > 0) {
      //   packctn = totalsum / data.items[0].packSize;      }
      // var stockBalance = sum / packctn;
      var apexQty = data.items.reduce((acc, item) => acc + item.apexQty, 0);
      var antahQty = data.items.reduce((acc, item) => acc + item.antahQty, 0);
      var sgtQty = data.items.reduce((acc, item) => acc + item.sgtQty, 0);
      var pxQty = data.items.reduce((acc, item) => acc + item.pxQty, 0);
      var missQty = data.items.reduce((acc, item) => acc + item.missQty, 0);

      var distsum = apexQty + antahQty + sgtQty + pxQty + missQty;
      var stockBalance = sum / distsum;
      return stockBalance.toFixed(2); //numeral(valData).format('0,0');
    },
    custommonth1Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = 0;
      if (data.items != undefined && data.items.length > 0) {
        packctn = totalsum / data.items[0].packSize;
      }
      var month = sum / packctn - 1;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth2Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 2;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth3Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 3;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth4Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 4;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth5Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);

      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 5;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    custommonth6Fn: function(data) {
      if (data.items == undefined) {
        return 0;
      }
      var sum = data.items.reduce((acc, item) => acc + item.stockBalance, 0);
      var totalsum = data.items.reduce((acc, item) => acc + item.symlQty, 0);
      var packctn = totalsum / data.items[0].packSize;
      var month = sum / packctn - 6;
      if (month < 0) month = null;
      return month != null ? month.toFixed(2) : null;
    },
    cellSelected(args) {
      // this.rightDrawer = true;
      //console.log(args.data.recipeLists);
    },
    headerCellInfo(args) {
      if (args.cell.column.field === "symlQty") {
        // const toolcontent = args.cell.column.headerText;
        const toolcontent = "PackSize * Total AC Qty";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "threeMonthACQty") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "3 * AC in Units";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "roundup1") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "(PackSize * 3 * AC Total)/Recipe Pack Size";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "stockHoldingBalance") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "Total Stock Balance/AC Total";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
      if (args.cell.column.field === "stockHoldingPackSize") {
        // const toolcontent = args.cell.column.headerText;threeMonthACQty
        const toolcontent = "Total Stock Balance * Pack Size";
        const tooltip = new Tooltip({
          content: toolcontent,
        });
        tooltip.appendTo(args.node);
      }
    },
    rowSelected(args) {
      if (args.cellIndex.cellIndex == 11) {
        // console.log(args);
        //this.rightDrawer = true;
        this.itemRecipeList = args.data.recipeLists;
        this.selectedRecord = args.data;
        this.itemDesc = args.data.description;
      }
      if (args.cellIndex.cellIndex == 1) {
        console.log(args.data);
        this.itemList = args.data.genericCodeReport;
        this.itemdialog = true;
        this.itemDesc = args.data.description;
      }
      //console.log(args.data.recipeLists);
    },
    toolbarClick(args) {
      let excelExportProperties = {
        theme: {
          header: { fontName: "Segoe UI", fontColor: "#666666" },
          record: { fontName: "Segoe UI", fontColor: "#666666" },
          caption: { fontName: "Segoe UI", fontColor: "#666666" },
        },
      };

      if (args.item.text === "Excel Export") {
        // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
        this.$refs.gridreport.excelExport(excelExportProperties);
      }

      // if (args.item.id === 'Grid_print') { // 'Grid_pdfexport' -> Grid component id + _ + toolbar item name
      //   this.$refs.gridreport.print();
      // }
    },
    initialize() {
      getNavMethodCodes()
        .then((response) => {
          this.methodCodeList = response.data;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants()
        .then((response) => {
          this.companies = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onLoad() {
      this.loader = true;

      var months = [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "Jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec",
      ];
      var selMonth = moment(this.searchParam.stockMonth).format("MMM");
      var thisMonth = months.findIndex((x) => x === selMonth);
      var makeDate = new Date(this.searchParam.stockMonth);
      makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      var stockMontDate = moment(makeDate).format("DD-MMM-YYYY");
      this.stbheader = "Stock balance as at " + stockMontDate;
      console.log("stock bal date", makeDate);
      var acDate = new Date(makeDate.setMonth(makeDate.getMonth() - 1));
      var lastDay = new Date(acDate.getFullYear(), acDate.getMonth() + 1, 0);

      var monthHeader = moment(makeDate).format("MMM YYYY");
      this.acheader = "AC as at " + moment(lastDay).format("DD-MMM-YYYY");
      // makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      //makeDate = new Date(makeDate.setDate(makeDate.getDate() - 1));
      console.log("stock bal date", makeDate);

      let countmonth = 1;
      this.nextProdColumns.forEach((h) => {
        if (thisMonth > 11) {
          thisMonth = 0;
        }
        var month = months[thisMonth];
        thisMonth = thisMonth + 1;
        h.headerText = month;
        if (countmonth == 1) this.month1 = month;
        if (countmonth == 2) this.month2 = month;
        if (countmonth == 3) this.month3 = month;
        if (countmonth == 4) this.month4 = month;
        if (countmonth == 5) this.month5 = month;
        if (countmonth == 6) this.month6 = month;
        if (countmonth == 7) this.month7 = month;
        if (countmonth == 8) this.month8 = month;
        if (countmonth == 9) this.month9 = month;
        if (countmonth == 10) this.month10 = month;
        if (countmonth == 11) this.month11 = month;
        if (countmonth == 12) this.month12 = month;

        countmonth = countmonth + 1;

        console.log(countmonth, month);
      });

      getSimulationAddhocV2(this.searchParam)
        .then((response) => {
          this.data = response.data;
          this.loader = false;
          this.filterdialog = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    refresh() {
      this.clearSearchFilter();
    },
    prodSearch() {
      this.onLoad();
    },
    prodSearchFilter() {
      this.filterColor = "red";
      console.log(this.searchParam);
      this.onLoad();
    },
    clearSearchFilter() {
      this.filterdialog = false;
      this.filterColor = "black";
      this.searchParam.search = "";
      this.searchParam.company = "NAV_JB";
      this.searchParam.stockMonth = new Date().toISOString().substr(0, 10);
      this.searchParam.fromPostingDate = new Date().toISOString().substr(0, 10);
      this.searchParam.toPostingDate = new Date().toISOString().substr(0, 10);
      this.searchParam.customerId = "";
      this.searchParam.userId = -1;
      this.searchParam.methodCodeId = null;
      this.searchParam.salesCategoryId = null;
      this.searchParam.replenishment = "";
      this.searchParam.isSteroid = null;
      this.searchParam.ticketformula = "";
      this.searchParam.ticketvalue = null;
      this.searchParam.companyId = 1;
      this.searchParam.versionId = 1;

      this.onLoad();
    },
    getrecipeCal(args) {
      // console.log(this.selectedRecord);
      // console.log(args);
      this.rightDrawer = false;
      this.searchParam.changeMethodCodeId = this.selectedRecord.methodCodeId;
      this.searchParam.receipe = args;
      this.onLoad();
    },
    cellEdit(args) {
      console.log(args);

      args.cancel = true;
    },
  },
};
</script>

<style>
@import "../../../../node_modules/@syncfusion/ej2-vue-grids/styles/material.css";
.below-0 {
  background-color: red;
  color: red;
}
</style>
