<template>
    <div>
        <v-toolbar flat color="white">
            <v-spacer></v-spacer>
            <v-tooltip bottom>
                <v-menu slot="activator" :close-on-content-click='false' :nudge-right="40" lazy v-model="menuSearch" transition="scale-transition" offset-y max-width="500px">
                    <v-btn slot="activator" icon>
                        <v-icon>filter_list</v-icon>
                    </v-btn>
                    <v-card>
                        <div class="task-sub--scroll">
                            <v-container fluid>
                                <v-layout row wrap>
                                    <v-flex lg12 sm12>
                                        <div class="mt-3 title">Search and Filter</div>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                        <v-autocomplete label="Company Master" prepend-icon="list" v-model="editedItem.databaseId" :items="databaseItems" item-text="description" item-value="plantID" clearable chips color="blue"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                        <v-autocomplete label="Company Type" prepend-icon="invert_colors" v-model="editedItem.companyTypeId" :items="companyTypeItems" item-text="value" item-value="applicationMasterDetailId" clearable chips color="blue"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm12>
                                        <v-autocomplete label="Company Name" prepend-icon="invert_colors" v-model="editedItem.companyId" :items="companyItems" item-text="companyListingName" item-value="companyListingID" clearable hips color="blue"></v-autocomplete>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </div>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" outline @click.native="selectSearch">Search</v-btn>
                            <v-btn outline color="primary" @click="menuSearch = false">Cancel</v-btn>
                        </v-card-actions>

                    </v-card>

                </v-menu>
                <span>Filter</span>
            </v-tooltip>
            <download-excel class="btn btn-default" :title="headerItems" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="Navision.xls">
                <v-btn icon @click="getExcel">
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-btn icon="" @click="selectSearch()">
                <v-icon icon>
                    refresh
                </v-icon>
            </v-btn>
        </v-toolbar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :search="search" default-sort="navisionCompanyId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.companyName }}</td>
                <td class="text-xs-left">{{ props.item.databaseName }}</td>
                <td class="text-xs-left">{{ props.item.companyTypeName }}</td>
                <td class="text-xs-left">{{ props.item.navCustomerCode }}</td>
                <td class="text-xs-left">{{ props.item.navCustomerName }}</td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="selectSearch">Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import { getPlants } from "@/api/plant";
    import { getCompanyListings } from '@/api/companyListing';
    import { getNavisionCompanyReport } from '@/api/sobyCustomers';
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import GlobalMessage from '@/constant'
    import moment from 'moment'
    export default {
        computed: {
        },
        created () {
            this.loadDropdownList();
            this.selectSearch();
        },
        data: () => ({
            menuSearch: false,
            gridItems: [],
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10
            },
            search: '',
            loader: false,
            headerItems: [],
            headers: [
                { text: "Company", value: "companyName", width: "400px", align: "left" },
                { text: "Database", value: "databaseName", width: "400px", align: "left" },
                { text: "Company Type", value: "companyTypeName", width: "400px", align: "left" },
                { text: "Navision No", value: "navCustomerCode", width: "400px", align: "left" },
                { text: "Navision Name", value: "navCustomerName", width: "400px", align: "left" },
            ],
            json_fields: {
                "Company": "companyName",
                "Database": "databaseName",
                "Company Type": "companyTypeName",
                "Navision No": "navCustomerCode",
                "Navision Name": "navCustomerName",
            },
            databaseItems: [],
            companyTypeItems: [],
            companyItems: [],
            editedItem: { databaseId: -1, companyTypeId: -1, companyId: -1 }
        }),
        methods: {
            loadDropdownList () {
                this.loader = true;
                getPlants("")
                    .then(response => {
                        this.databaseItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getApplicationMasterDetailByType(190)
                    .then(response => {
                        this.companyTypeItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                getCompanyListings()
                    .then(response => {
                        this.companyItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            getExcel () {
                this.headerItems = [
                    'Date: ' + moment(Date.now()).format(GlobalMessage.DATEFORMAT),
                    'Report by: ' + this.$store.state.auth.userName,
                ];
            },
            selectSearch () {
                this.loader = true;
                getNavisionCompanyReport(this.editedItem)
                    .then(response => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit('APP_API_ERROR', error);
                    });
            },
        },
    }
</script>
<style lang="stylus" scoped>
    .task-sub--scroll {
        overflow: auto;
        height: calc(100vh - 260px - 60px);
    }
</style>