<template>
  <div>
    <v-card>
      <v-toolbar dense color="primary">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" @click.native="closeMethod">
              <v-icon color="white">mdi-reply</v-icon>
            </v-btn>
          </template>
          <span>Back</span>
        </v-tooltip>

        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" @click.native="closeMethod">
              <v-icon color="white">mdi-close</v-icon>
            </v-btn>
          </template>
          <span>Close</span>
        </v-tooltip>
      </v-toolbar>

      <v-card-text>
        <v-form ref="notifyform" v-model="valid">
          <v-layout wrap>
            <v-flex xs4 sm4>
              <v-text-field
                :value="startDate | formatDateView"
                label="Start Date"
                prepend-icon="mdi-note"
                readonly
              ></v-text-field>
            </v-flex>
            <v-flex xs4 sm4>
              <v-text-field
                v-model="editedItem.topicName"
                label="Topic Name"
                prepend-icon="mdi-note"
                required
                :rules="requiredRules"
              ></v-text-field>
            </v-flex>

            <v-flex xs4 sm4>
              <v-autocomplete
                chips
                prepend-icon="mdi-assistant"
                label="To"
                :items="userItems"
                v-model="toId"
                item-text="name"
                item-value="sessionId"
                multiple
                :search-input.sync="searchuser"
                @change="onUserChange"
                required
                :rules="userRules"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip
                    :selected="data.selected"
                    close
                    class="chip--select-multi"
                    @input="removeUser(data.item)"
                  >
                    {{ data.item.name }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </v-flex>
            <v-flex xs4 sm4>
              <v-autocomplete
                chips
                prepend-icon="mdi-assistant"
                label="CC"
                :items="userItems"
                v-model="ccId"
                item-text="name"
                item-value="sessionId"
                multiple
                :search-input.sync="searchCCuser"
                @change="onUserCChange"
              >
                <template slot="selection" slot-scope="data">
                  <v-chip
                    :selected="data.selected"
                    close
                    class="chip--select-multi"
                    @input="removeCCUser(data.item)"
                  >
                    {{ data.item.name }}
                  </v-chip>
                </template>
              </v-autocomplete>
            </v-flex>
          </v-layout>
        </v-form>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary darken-1" @click="save" :loading="loading"
            >Save</v-btn
          >

          <v-btn color="primary darken-1" @click="closeMethod">Close</v-btn>
        </v-card-actions>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { uploadTopicFiles } from "@/api/topic";
import moment from "moment";
import GlobalMessage from "@/constant";
import {
  getApplicationUsers,
  updateProductActivityCaseTopicLine,
} from "@/api/userGroup";
export default {
  props: {
    closeMethod: {
      type: Function,
    },
  },
  data: () => ({
    searchuser: "",
    searchCCuser: "",
    loader: false,
    userItems: [],
    userCCItems: [],
    valid: false,
    editedItem: {
      topicName: "",
      typeId: null,
      categoryId: null,
      startDate: new Date(),
      endDate: null,
      dueDate: null,
      from: null,
      to: null,
      cc: null,
      status: "New",
      isNotification: true,
      description: "",
      participant: "",
      addedByUserId: null,
      manufacturingProcessChildId: null,
      prodActivityCategoryChildId: null,
    },
    loading: false,
    ccId: [],
    toId: [],
    startDate: new Date(),
    defaultItem: {
      topicName: "",
      typeId: null,
      categoryId: null,
      startDate: new Date(),
      endDate: null,
      dueDate: null,
      from: null,
      to: null,
      cc: null,
      status: "New",
      isNotification: true,
      description: "",
      participant: "",
      addedByUserId: null,
    },
    prodOrdersNo: [],
    formData: new FormData(),
    manufacturingProcessChild: "",
    prodActivityCategoryChild: "",
    manufacturingProcessChildItems: [],
    prodActivityCategoryChildItems: [],
    nameOfTemplate: "",
    manufacturingProcessChilds: "",
    prodActivityCategoryChilds: "",
  }),
  created() {
    this.initialize();
  },
  computed: {
    requiredRules() {
      return [(v) => !!v || "This is required field"];
    },
    userRules() {
      return [
        () => !!this.toId.length > 0 || "Atleast one User must be selected.",
        (v) => !!v || "This is required field",
      ];
    },
  },
  methods: {
    resetForm() {
      this.startDate = new Date();
      this.loading = false;
      this.toId = [];
      this.ccId = [];
      this.formData = new FormData();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.prodActivityCategoryChildItems = [];
    },
    initialize() {
      getApplicationUsers("")
        .then((response) => {
          if (response.data != undefined) {
            let uom = response.data.filter(
              (o) =>
                o.statusCodeID == 1 &&
                o.sessionId != null &&
                o.userID != this.$store.state.auth.userId
            );
            this.userItems = uom;
            this.userCCItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    save() {
      this.formData = new FormData();
      if (this.$refs.notifyform.validate()) {
        this.loading = true;
        this.editedItem.from = this.$store.state.auth.sessionId;
        this.editedItem.addedByUserId = this.$store.state.auth.sessionId;
        if (this.toId.length > 0) {
          this.editedItem.to = this.toId.join(",");
          this.editedItem.participant += this.editedItem.to + ",";
        }
        if (this.ccId.length > 0) {
          this.editedItem.cc = this.ccId.join(",");
          this.editedItem.participant += this.editedItem.cc + ",";
        }
        this.editedItem.participant = this.editedItem.participant.replace(
          /,(\s+)?$/,
          ""
        );
        this.editedItem.startDate = this.$options.filters.formatDateView(
          this.startDate
        );
        this.formData.append("topicName", this.editedItem.topicName);
        this.formData.append("ticketNo", this.nameOfTemplate);
        this.formData.append("typeId", this.manufacturingProcessChilds); //Manufacturing Process
        this.formData.append("categoryId", this.prodActivityCategoryChilds); //Category
        this.formData.append(
          "startDate",
          moment(this.editedItem.startDate).format("DD/MM/YYYY")
        );
        this.formData.append(
          "endDate",
          moment(this.editedItem.endDate).format("DD/MM/YYYY")
        );

        this.formData.append(
          "dueDate",
          moment(this.editedItem.DueDate).format("DD/MM/YYYY")
        );
        this.formData.append("from", this.editedItem.from);
        this.formData.append("to", this.editedItem.to);
        this.formData.append("cc", this.editedItem.cc);
        this.formData.append("status", this.editedItem.status);
        this.formData.append("isNotification", this.editedItem.isNotification);
        this.formData.append("description", this.editedItem.description);
        this.formData.append("participant", this.editedItem.participant);
        this.formData.append("addedByUserId", this.editedItem.addedByUserId);
        this.formData.append("userGroupIDs", ["0"]);
        this.formData.append("type", "C");
        this.saveTopic();
      }
    },
    saveTopic() {
      uploadTopicFiles(this.formData)
        .then((response) => {
          this.loading = false;
          if (response.data.responseCode == 1) {
            this.createInsertTopicList(response.data.errorMessages[0]);
          } else {
            window.getApp.$emit(
              "APP_API_ERROR",
              response.data.errorMessages[0]
            );
          }
        })
        .catch((error) => {
          this.loading = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    createInsertTopicList(topicId) {
      if (topicId != "") {
        var insertItem = {};
        insertItem.topicId = topicId;
        insertItem.productActivityCaseLineId = this.productActivityCaseLineId;
        insertItem.addedByUser = this.$store.state.userName;
        insertItem.addedByUserId = this.$store.state.auth.userId;
        insertItem.modifiedByUserId = this.$store.state.auth.userId;
        insertItem.statusCodeID = 1;
        insertItem.statusCodeId = 1;
        insertItem.addedDate = new Date();
        updateProductActivityCaseTopicLine(insertItem)
          .then(() => {
            this.loading = false;
            this.closeMethod();
            window.getApp.$emit(
              "APP_API_SUCCESS",
              "Topic Created Successfully"
            );
            window.getApp.$emit("RECEIVED_TOPIC");
            this.openTopicUrl(topicId);
          })
          .catch((error) => {
            this.loading = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        this.loading = false;
        window.getApp.$emit("APP_API_ERROR", "Topic Not Created");
      }
    },
    openTopicUrl(topicId) {
      // https://portal.sunwardpharma.com:2284/#/history?id=&sessionId=
      var link =
        GlobalMessage.TOPICCHAT_URL +
        "#/history?id=" +
        topicId +
        "&sessionId=" +
        this.$store.state.auth.sessionId +
        "&&type=Case";
      window.open(link, "_blank");
    },
    onUserChange() {
      this.searchuser = "";
      for (var id in this.ccId) {
        let user = this.toId.filter((a) => a == this.ccId[id]);
        if (user[0] != null) {
          const itemindex = this.ccId.indexOf(user[0]);
          if (itemindex >= 0) this.ccId.splice(itemindex, 1);
        }
      }
    },
    onUserCChange() {
      this.searchCCuser = "";
      for (var id in this.toId) {
        let user = this.ccId.filter((a) => a == this.toId[id]);
        if (user[0] != null) {
          const itemindex = this.toId.indexOf(user[0]);
          if (itemindex >= 0) this.toId.splice(itemindex, 1);
        }
      }
    },
    removeUser(item) {
      const index = this.toId.indexOf(item.sessionId);
      if (index >= 0) this.toId.splice(index, 1);
    },
    removeCCUser(item) {
      const index = this.ccId.indexOf(item.sessionId);
      if (index >= 0) this.ccId.splice(index, 1);
    },
  },
};
</script>