<template>
  <div id="page-forms">
    <v-container fluid>
      <v-form
        v-model="valid"
        ref="form"
        lazy-validation
      >
        <v-layout
          row
          wrap
        >
          <p>General Informations</p>
        </v-layout>
        <v-layout
          row
          wrap
        >
          <v-flex
            lg6
            sm4
          >
            <v-autocomplete             
              hint="Atleast 3 Characters required"              
              :loading="loader"              
              flat
              placeholder="Select only suggested Machine"
              :items="machineCodes"
              v-model="form.cardTypeId"
              label="Machine"
              auto
              chips
              prepend-icon="track_changes"
              required
              item-text="name"
              item-value="id"
            ></v-autocomplete>

          </v-flex>
          <v-flex
            lg6
            sm4
          >
            <v-text-field
              label="No of Cuts"
              prepend-icon="ac_unit"
              name="user"
              v-model="form.noOfCuts"
            >
            </v-text-field>
          </v-flex>

          <v-flex
            lg4
            sm4
          >
            <v-text-field
              label="Attached Layout Plan"
              prepend-icon="attach_file"
              name="name"
              v-model="title"
            >
            </v-text-field>

          </v-flex>
        </v-layout>

        <v-layout
          row
          wrap
        >
          <v-flex
            lg6
            sm6
          >
            <p>Scrap Informations - (Allowable Quantity)</p>
          </v-flex>

        </v-layout>
        <v-layout
          row
          wrap
        >
          <v-flex
            lg4
            sm4
          >
            <v-text-field
              label="Test Run(KG)"
              prepend-icon="attach_money"
              name="user"
              v-model="form.noOfCuts"
            >
            </v-text-field>
          </v-flex>
          <v-flex
            lg4
            sm4
          >
            <v-text-field
              label="Trimming(KG)"
              prepend-icon="strikethrough_s"
              name="user"
              v-model="form.noOfCuts"
            >
            </v-text-field>
          </v-flex>
          <v-flex
            lg4
            sm4
          >
            <v-text-field
              label="De-blister(KG)"
              prepend-icon="attach_money"
              name="user"
              v-model="form.noOfCuts"
            >
            </v-text-field>
          </v-flex>
        </v-layout>
      </v-form>
    </v-container>
  </div>
</template>
 <script>

export default {
  components: {

  },
  $_veeValidate: {
    validator: 'new'
  },
  data: () => ({
    saveCard: true,
    items: [
      { title: 'Clear Items' },
      { title: 'Post Component' },
      { title: 'Delete' }
    ],
    machineCodes: [
      {
        id: 1,
        name: 'Machine 01'
      },
      {
        id: 2,
        name: 'Machine 02'
      }
    ],
    valid: true,
    form: {
      userName: 'SW Task',
      cardTypeId: 1,
      startDate: '2018-04-09',
      endDate: '2018-04-09',
      login: 'yes-1',
      date: '2018-04-09',
      noOfCuts: 1,
    }
  }),
  mounted () {
    this.$validator.localize('en', this.dictionary);
  },

  methods: {
    submit () {
      this.$validator.validateAll();
    },
    clear () {
      this.form = {};
      this.$validator.reset();
    }
  }
};
</script>