<template>
    <div>
        <v-layout wrap style="background: gainsboro !important; padding: 10px">
            <span class="headline">Sales Person Listing Line</span>
        </v-layout>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="SalesTargetLine" type="csv" name="SalesTargetLine.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-dialog v-model="dialog" fullscreen  :disabled="enableAddButton">
                <v-btn slot="activator" icon @click="add"  :disabled="enableAddButton">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveAndClose" :loading="saveloader">
                                <v-icon color="white">library_add</v-icon>
                            </v-btn>
                            <span>Save and Close</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="add">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <span>Create New Sales Person Listing Line</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="save" :loading="saveloader">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="deleterow">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Delete</span>
                        </v-tooltip>

                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Close</span>
                        </v-tooltip>
                    </v-toolbar>

                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div class="task-sub--scroll">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="requestforPersonline" lazy-validation>
                                <v-layout row wrap>
                                    <v-flex sm9>
                                        <v-layout row wrap class="layoutbg">
                                           <!--  <v-flex xs12 sm6>
                                                <v-autocomplete :loading="loader" label="Lead By" prepend-icon="notes" v-model="editedItem.salesPersonId" :items="leadByItems" item-text="name" item-value="employeeID" chips @change="onChangeSalePerson"></v-autocomplete>
                                            </v-flex> -->
                                            <v-flex xs12 sm6>
                                                <v-text-field v-model="editedItem.salesPersonName" prepend-icon="select_all" label="Sales Person Name"></v-text-field>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-autocomplete :loading="loader" chips flat label="Sales Cover Code" prepend-icon="assistant" :items="salesCoverCodeItems" v-model="editedItem.salesCoverCodeIds" color="blue" item-text="value" item-value="applicationMasterDetailId" multiple :search-input.sync="searchCompanyType" @change="selectcompanyType">
                                                    <template slot="selection" slot-scope="data">
                                                        <v-chip :selected="data.selected" close class="chip--select-multi" @input="removeCompanyType(data.item)">{{ data.item.value }}</v-chip>
                                                    </template>
                                                    <template slot="item" slot-scope="data">
                                                        <template v-if="typeof data.item !== 'object'">
                                                            <v-list-tile-content v-text="data.item"></v-list-tile-content>
                                                        </template>
                                                        <template v-else>
                                                            <v-list-tile-content>
                                                                <v-list-tile-title v-html="data.item.value"></v-list-tile-title>
                                                            </v-list-tile-content>
                                                        </template>
                                                    </template>
                                                </v-autocomplete>
                                            </v-flex>
                                            <v-flex xs12 sm6>
                                                <v-text-field v-model="editedItem.target" prepend-icon="select_all" label="Target"></v-text-field>
                                            </v-flex>
                                            <v-flex xs4 sm6>
                                                <v-menu v-model="effectiveDateMenu" :close-on-content-click="false" menu-props="closeOnContentClick" full-width min-width="290">
                                                    <v-text-field slot="activator" :value="effectiveFromDateFormatted" label="Effective Date" prepend-icon="today"></v-text-field>
                                                    <v-date-picker v-model="editedItem.effectiveFrom" @change="effectiveDateMenu = false"></v-date-picker>
                                                </v-menu>
                                            </v-flex>
                                        </v-layout>
                                    </v-flex>

                                </v-layout>
                            </v-form>
                        </v-card-text>

                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" outline @click.native="save" :loading="saveloader" :disabled="editedItem.issueStatusId == 3102">save</v-btn>
                        <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
                    </v-card-actions>
                    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
                </v-card>
            </v-dialog>
            <v-tooltip bottom>
                <v-btn icon slot="activator" @click="initialize()">
                    <v-icon icon>refresh</v-icon>
                </v-btn>
                <span>Refresh</span>
            </v-tooltip>
        </v-toolbar>

        <app-section-loader :status="subloader"></app-section-loader>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :search="search" :loading="gridloader" class="elevation-1" default-sort="salesTargetByStaffLineId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <td class="text-xs-left">{{ props.item.salesPersonName }}</td>
                <td class="text-xs-left">{{ props.item.target }}</td>
                <td class="text-xs-left">{{ props.item.effectiveFrom | formatDate}}</td>
                <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
                <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
                <td class="text-xs-left">{{ props.item.modifiedDate | formatDate }}</td>

                <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="onDeleteItem(props.item)" :disabled="props.item.issueStatusId == 3102">delete</v-icon>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
    </div>
</template>
<script>
    import GlobalMessage from "@/constant";
    import moment from "moment";
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
    import {
        getSalesTargetByStaffLine,
        createSalesTargetByStaffLine,
        updateSalesTargetByStaffLine,
        deleteSalesTargetByStaffLine,
    } from "@/api/salesTargetByStaffLine";
    export default {
        components: {},
        data: () => ({
            searchCompanyType: "",
            loader: false,
            effectiveDateMenu: false,
            dialog: false,
            subloader: false,
            saveloader: false,
            editedIndex: -1,
            navisionItems: [],
            gridloader: false,
            issuegridloader: false,
            issued: false,
            expireDatemenu: false,
            leadByItems: [],
            search: "",
            companyId: null,
            gridItems: [],
            enableAddButton: true,
            salesTargetByStaffId: -1,
            editedItem: {
                salesTargetByStaffLineId: -1,
                salesTargetByStaffId: null,
                salesPersonId: null,
                salesPersonName: "",
                target: "",
                effectiveFrom: null,
                statusCodeID: 1,
                addedByUserID: null,
                addedDate: new Date(),
                modifiedByUserID: null,
                modifiedDate: new Date(),
                salesCoverCodeIds: [],
            },
            defaultItem: {
                salesTargetByStaffLineId: -1,
                salesTargetByStaffId: null,
                salesPersonId: null,
                salesPersonName: "",
                target: "",
                effectiveFrom: null,
                statusCodeID: 1,
                addedByUserID: null,
                addedDate: new Date(),
                modifiedByUserID: null,
                modifiedDate: new Date(),
                salesCoverCodeIds: [],
            },
            salesCoverCodeItems: [],
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            searchItem: { action: "", Id: null, searchString: "searchString" },
            headers: [
                { text: "sales Person", value: "salesPersonName", align: "left" },
                { text: "Target", value: "target", align: "left" },
                { text: "Effective From", value: "effectiveFrom", align: "left" },
                { text: "Added By", value: "addedByUser", align: "left" },
                { text: "Added Date", value: "addedDate", align: "left" },
                { text: "Modified By", value: "modifiedByUser", align: "left" },
                { text: "Modify Date", value: "modifiedDate", align: "left" },
                {
                    text: "Actions",
                    value: "name",
                    sortable: false,
                    align: "left",
                    width: "1%",
                },
            ],
            json_fields: {
                salesPersonName: "salesPersonName",
                "Target": "target",
                "Effective From": "effectiveFrom",
                "Added By": "addedByUser",
                "Added Date": "addedDate",
                "Modified By": "modifiedByUser",
                "Modified Date": "modifiedDate",
            },
        }),
        computed: {
            formTitle () {
                return this.editedIndex === -1
                    ? "Add Sales Person Listing Line"
                    : "Edit Sales Person Listing Line";
            },
            effectiveFromDateFormatted () {
                return this.editedItem.effectiveFrom
                    ? moment(this.editedItem.effectiveFrom).format(GlobalMessage.DATEFORMAT)
                    : "";
            },
        },
        created () {
            this.initialize();
        },
        watch: {
            dialog (val) {
                val || this.close();
            },
        },
        methods: {
            initialize () {
                this.gridloader = true;
                getSalesTargetByStaffLine(this.salesTargetByStaffId)
                    .then((response) => {
                        this.gridItems = response.data;

                        this.subloader = false;
                        this.gridloader = false;
                    })
                    .catch((error) => {
                        this.gridloader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            selectcompanyType () {
                this.searchCompanyType = "";
            },
            removeCompanyType (item) {
                const index = this.editedItem.salesCoverCodeIds.indexOf(
                    item.applicationMasterDetailId
                );
                if (index >= 0) this.editedItem.salesCoverCodeIds.splice(index, 1);
            },
            loadDropdownList () {
                getApplicationMasterDetailByType(308)
                    .then((response) => {
                        this.salesCoverCodeItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            onChangeSalePerson(value)
            {
                let salesPersonName="";
                let data=this.leadByItems.filter(o=>o.employeeID==value);
                if(data.length>0)
                {
                    salesPersonName=data[0]['name'];
                }
                this.editedItem.salesPersonName=salesPersonName;
            },
            editItem (item) {
                this.loadDropdownList();
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                if (item.effectiveFrom != null) {                   
                     this.editedItem.effectiveFrom = moment(this.editedItem.effectiveFrom).format("YYYY-MM-DD");
                }
                if(this.editedItem.salesPersonId!=null)
                {
                    this.onChangeSalePerson(this.editedItem.salesPersonId);
                }
                setTimeout(() => {
                    this.dialog = true;
                }, 1500);
            },
            close () {
                this.dialog = false;
                this.initialize();
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },
            saveAndClose () {
                this.save();
                this.dialog = false;
            },
            add () {
                this.editedIndex = -1;
                this.editedItem.valid = false;
                this.editedItem.salesTargetByStaffLineId = -1;
                this.loadDropdownList();
                this.editedItem = Object.assign({}, this.defaultItem);
            },
            save () {
                this.editedItem.salesTargetByStaffId=this.salesTargetByStaffId;
                if (this.editedIndex > -1) {
                    this.saveloader = true;
                    Object.assign(this.gridItems[this.editedIndex], this.editedItem);
                    this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                    updateSalesTargetByStaffLine(this.editedItem)
                        .then((response2) => {
                            this.saveloader = false;
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                        })
                        .catch((error) => {
                            this.saveloader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                } else {
                    this.editedItem.addedByUserID = this.$store.state.auth.userId;
                   this.saveloader = true;
                    createSalesTargetByStaffLine(this.editedItem)
                        .then((response2) => {
                            this.gridItems.push(response2.data);
                            this.saveloader = false;
                            let index = this.gridItems
                                .map((item) => item.salesTargetByStaffLineId)
                                .indexOf(response2.data.salesTargetByStaffLineId);
                            this.editedIndex = index;
                            this.editedItem.salesTargetByStaffLineId =
                                response2.data.salesTargetByStaffLineId;
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);

                        })
                        .catch((error) => {
                            this.saveloader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            deleterow () {
                this.$refs.deleteConfirmationDialog.openDialog();
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                if (this.editedItem.salesTargetByStaffLineId > -1) {
                    this.subloader = true;
                    let index = this.gridItems.indexOf(this.editedItem);
                    deleteSalesTargetByStaffLine(this.editedItem)
                        .then(() => {
                            this.subloader = false;
                            this.gridItems.splice(index, 1);
                            this.add();
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                        })
                        .catch((error) => {
                            this.subloader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
        },
    };
</script>

<style lang="stylus" scoped>
    .task-sub--scroll {
        overflow: auto;
        height: calc(100vh - 110px - 60px);
    }
</style>
