<template>
    <div>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
            <v-spacer></v-spacer>

            <v-btn icon @click="initialize()">
                <v-icon icon>refresh</v-icon>
            </v-btn>

            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="SalesTarget.xls">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
                <v-btn slot="activator" icon @click="add">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>
                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveAndClose">
                                <v-icon color="white">library_add</v-icon>
                            </v-btn>
                            <span>Save and Close</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" :loading="saveloader" @click.native="save">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="add">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <span>Create New Product Grouping</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="deleterow">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Delete</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="first">
                                <v-icon color="white">first_page</v-icon>
                            </v-btn>
                            <span>First</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="previous">
                                <v-icon color="white">keyboard_arrow_left</v-icon>
                            </v-btn>
                            <span>Previous</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="next">
                                <v-icon color="white">keyboard_arrow_right</v-icon>
                            </v-btn>
                            <span>Next</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="last">
                                <v-icon color="white">last_page</v-icon>
                            </v-btn>
                            <span>Last</span>
                        </v-tooltip>

                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="undoTempVersion">
                                <v-icon color="white">undo</v-icon>
                            </v-btn>
                            <span>Undo applied version to current data</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" :disabled="enableVersionButton" @click.native="versionListShow">
                                <v-icon color="white">history</v-icon>
                            </v-btn>
                            <span>View version list</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>Close</span>
                        </v-tooltip>
                    </v-toolbar>

                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div style="overflow:auto;height:calc(90vh - 110px)">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                                <v-layout row wrap class="layoutbg">
                                    <v-flex xs12 sm4>
                                        <v-autocomplete label="Company" prepend-icon="notes" v-model="editedItem.companyId" :items="companyItems" item-text="value" item-value="applicationMasterDetailId" chips @change="companyChnage"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-autocomplete :loading="loader" label="Sales Group" prepend-icon="notes" v-model="editedItem.salesGroupId" :items="salesGroupItems" item-text="value" item-value="applicationMasterDetailId" chips></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-autocomplete :loading="loader" label="Lead By" prepend-icon="notes" v-model="editedItem.leadById" :items="leadByItems" item-text="name" item-value="employeeID" chips></v-autocomplete>
                                    </v-flex>

                                </v-layout>
                            </v-form>
                        </v-card-text>
                        <v-card-text>
                            <v-card class="borderlayout">
                                <v-flex xs12 sm12>
                                    <sales-target-line ref="refSalesTargetLine"></sales-target-line>
                                </v-flex>
                            </v-card>
                        </v-card-text>
                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary darken-1" :loading="saveloader" outline @click.native="save">Save</v-btn>
                        <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="salesTargetByStaffId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <tr v-on:dblclick="editItem(props.item)">
                    <td class="text-xs-left">{{ props.item.companyName }}</td>
                    <td class="text-xs-left">{{ props.item.salesGroup }}</td>
                    <td class="text-xs-left">{{ props.item.leadBy }}</td>

                    <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                    <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
                    <td class="text-xs-left">{{ props.item.modifiedByUser }}</td>
                    <td class="justify-center layout px-0">
                        <v-menu bottom right>
                            <v-btn slot="activator" icon>
                                <v-icon>more_vert</v-icon>
                            </v-btn>
                            <v-list>
                                <v-list-tile v-for="(item, i) in items" :key="i" @click="menuClick(i, props.item)" ripple="ripple" :target="item.target" rel="noopener">
                                    <v-list-tile-action>
                                        <v-icon>{{ item.icon }}</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-title>{{ item.title }} </v-list-tile-title>
                                </v-list-tile>
                            </v-list>
                        </v-menu>
                    </td>
                    <!--  <td class="justify-center layout px-0">
                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                        <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
                    </td> -->
                </tr>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
        <v-dialog v-model="referencedialog" persistent max-width="600px">
            <v-card>
                <v-toolbar card dense color="primary">
                    <v-spacer></v-spacer>

                    <v-tooltip bottom>
                        <v-btn icon slot="activator" @click.native="referenceclose">
                            <v-icon color="white">close</v-icon>
                        </v-btn>
                        <span>Close</span>
                    </v-tooltip>
                </v-toolbar>
                <v-flex xs12 sm12>
                    <v-textarea v-model="referenceInfo" label="Reference" prepend-icon="description" required :rules="referenceRuels"></v-textarea>
                </v-flex>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn outline color="primary" slot="activator" :loading="loader" @click.native="referencesave">SAVE</v-btn>
                    <v-btn outline color="primary" slot="activator" :loading="loader" @click.native="referencecancel">clear</v-btn>
                    <v-btn outline color="primary" slot="activator" @click.native="referenceclose">Close</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="versionListdialog" persistent max-width="900px">
            <versions ref="refVersions" title="Revise Work Wiki Versions" screenID="APP1011" :closeMethod="versionListclose" controller="SalesTargetByStaff" action="GetSalesTargetByStaffVersion" :versionMethod="versioneditItem"></versions>
        </v-dialog>
        <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
        <delete-confirmation-dialog ref="refversionApplyDialog" heading="Are You Sure You Want To Apply This Version?" message="Are You Sure You Want To Apply This Version?" @onConfirm="OnApplyConfirm"></delete-confirmation-dialog>
        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
    </div>
</template>
<script>
    import Util from "@/util";
    import { getApplicationMasterDetailByType } from "@/api/applicationMaster.js";
    import { getCompanyListings } from "@/api/companyListing";
    import versions from "@/components/Versions/versions";
    import {
        getSalesTargetByStaffs,
        getSalesTargetData,
        createSalesTargetByStaff,
        updateSalesTargetByStaff,
        deleteSalesTargetByStaff,
        getEmployeesSalesByDropdown,
        createVersion,
        applyVersion, tempVersion,
        undoVersion,
        deleteVersion,
    } from "@/api/SalesTarget";
    import SalesTargetLine from "@/pages/productionplanning/SalesTarget/SalesTargetLine.vue";
    import GlobalMessage from "@/constant";
    import moment from "moment";
    import { getPlants } from "@/api/nav";

    export default {
        components: {
            SalesTargetLine,
            versions
        },
        data: () => ({
            items: [
                {
                    icon: "history",
                    href: "#",
                    title: "Create Version",
                    click: (e) => { },
                },
                {
                    icon: "edit",
                    href: "#",
                    title: "Edit",
                    click: (e) => { },
                },
                {
                    icon: "delete",
                    href: "#",
                    title: "Delete",
                    click: (e) => { },
                },
            ],
            screenID: "SALTAR001",
            tempVersionId: -1,
            referenceInfo: "",
            versiondialog: false,
            referencedialog: false,
            versionUpdatedialog: false,
            versionListdialog: false,
            enableVersionButton: true,
            sessionId: null,
            referenceRuels: [(v) => !!v || "Reference is required"],
            saveloader: false,
            startDateMenu: false,
            endDateMenu: false,
            dialog: false,
            loader: false,
            search: "",
            leadByItems: [],
            salesGroupItems: [],
            statusOptions: [
                { text: "Active", value: 1 },
                { text: "Non Active", value: 2 },
            ],

            snackbar: false,
            snackbarMessage: "",
            timeout: 2000,
            y: "top",
            headers: [
                { text: "Company", value: "companyName", align: "left" },
                { text: "Sales Group", value: "salesGroup", align: "left" },
                { text: "Leady By", value: "leadBy", align: "left" },
                { text: "Added By", value: "addedByUser", align: "left" },
                { text: "Added Date", value: "addedDate", align: "left" },
                { text: "Modified By", value: "modifiedByUser", align: "left" },

                { text: "Actions", value: "name", sortable: false, align: "left" },
            ],

            json_fields: {
                Company: "companyName",
                "Sales Group": "salesGroup",
                "Lead By": "leadBy",
                "Added By": "addedByUser",
                "Modified By": "modifiedByUser",
            },
            gridItems: [],
            editedIndex: -1,
            companyItems: [],
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10,
            },
            editedItem: {
                valid: false,
                salesTargetByStaffId: -1,
                companyId: null,
                salesGroupId: null,
                leadById: null,
                addedByUserID: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                statusCode: "Active",
                modifiedByUserID: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
            },
            defaultItem: {
                valid: false,
                salesTargetByStaffId: -1,
                companyId: null,
                salesGroupId: null,
                leadById: null,
                addedByUserID: null,
                addedDate: new Date().toISOString().substr(0, 10),
                statusCodeID: 1,
                statusCode: "Active",
                modifiedByUserID: null,
                modifiedDate: new Date().toISOString().substr(0, 10),
            },
            searchItem: { action: "", Id: null, searchString: "searchString" },
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1
                    ? "Add Sales Target by Staff"
                    : "Edit Sales Target by Staff";
            },
        },

        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                this.loader = true;
                getSalesTargetByStaffs()
                    .then((response) => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch((error) => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
            },

            loadDropDown () {


                getApplicationMasterDetailByType(173)
                    .then((response) => {
                        this.companyItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });

                getApplicationMasterDetailByType(307)
                    .then((response) => {
                        this.salesGroupItems = response.data;
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            companyChnage (value) {
                this.leadByItems = [];
                let data = this.companyItems.filter(o => o.applicationMasterDetailId == value);
                if (data.length > 0) {
                    let id = 0;
                    if (data[0]['value'] == "Sunward Mal") {
                        id = 1;
                    }
                    if (data[0]['value'] == "Sunward SIN") {
                        id = 2;
                    }
                    getEmployeesSalesByDropdown(id)
                        .then((response) => {
                            this.leadByItems = response.data;
                            this.$refs.refSalesTargetLine.leadByItems = this.leadByItems;
                        })
                        .catch((error) => {
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            menuClick (key, item) {
                if (key == 0) {
                    this.referencedialog = true;
                    this.editedItem = item;
                    this.editedItem.referenceInfo = "";
                    this.referenceInfo = "";
                } else if (key == 1) {
                    this.editedItem = Object.assign({}, item);
                    this.editItem(item);
                    this.createtempVersion();
                } else if (key == 2) {
                    this.onDeleteItem(item);
                }
            },
            editItem (item) {

                this.loadDropDown();
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.sessionId = item.sessionId;
                this.enableVersionButton = false;
                setTimeout(() => {
                    this.companyChnage(this.editedItem.companyId);
                    this.dialog = true;
                    this.loadLines(false);
                    this.createtempVersion();
                }, 600);

            },
            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.selectedItem = item;
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                this.loader = true;
                let index = this.gridItems.indexOf(this.selectedItem);
                deleteSalesTargetByStaff(this.selectedItem)
                    .then(reference => {
                        this.loader = false;
                        if (reference != undefined) {
                            this.selectedItem = null;
                            this.gridItems.splice(index, 1);
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                        }
                    })
                    .catch((error) => {
                        this.loader = false;
                        //window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            loadLines (status) {
                this.$refs.refSalesTargetLine.enableAddButton = status
                this.$refs.refSalesTargetLine.salesTargetByStaffId = this.editedItem.salesTargetByStaffId;
                this.$refs.refSalesTargetLine.companyId = this.editedItem.companyId;
                this.companyChnage(this.editedItem.companyId);
                this.$refs.refSalesTargetLine.initialize();
            },
            saveAndClose () {
                this.save();
                setTimeout(() => {
                    this.close();
                }, 600);
            },
            toolfunction () {
                getSalesTargetData(this.searchItem)
                    .then((response) => {
                        if (response.data != undefined) {
                            if (response.data.salesTargetByStaffId != null) {
                                this.editedItem = response.data;
                                let index = this.gridItems
                                    .map((item) => item.salesTargetByStaffId)
                                    .indexOf(response.data.salesTargetByStaffId);
                                this.editedIndex = index;
                                this.sessionId = response.data.sessionId;
                                this.enableVersionButton = false;
                                this.companyChnage(this.editedItem.leadById);
                                setTimeout(() => {
                                    this.loadLines(false);
                                }, 600);
                            } else {
                                window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
                            }
                        }
                    })
                    .catch((error) => {
                        // this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            first () {
                this.searchItem.action = "First";
                this.searchItem.Id = this.editedItem.salesTargetByStaffId;
                // this.selectedItem.searchString = 'first';
                this.toolfunction();
            },
            last () {
                this.searchItem.action = "Last";
                this.searchItem.Id = this.editedItem.salesTargetByStaffId;
                //this.selectedItem.searchString = 'last';

                this.toolfunction();
            },
            previous () {
                this.searchItem.action = "Previous";
                this.searchItem.Id = this.editedItem.salesTargetByStaffId;
                //this.selectedItem.searchString = 'previous';
                this.toolfunction();
            },
            next () {
                this.searchItem.action = "Next";
                this.searchItem.Id = this.editedItem.salesTargetByStaffId;
                // this.selectedItem.searchString = 'next';
                this.toolfunction();
            },
            add () {
                this.loadDropDown();
                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
                this.loadLines(true);
                this.enableVersionButton = true;
            },
            close () {
                this.dialog = false;
                this.initialize();
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 600);
                this.deleteTempVersion();
            },
            save () {
                if (this.editedIndex > -1) {
                    this.saveloader = true;
                    Object.assign(this.gridItems[this.editedIndex], this.editedItem);
                    this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
                    updateSalesTargetByStaff(this.editedItem)
                        .then((response2) => {
                            this.loader = false;
                            this.saveloader = false;
                            this.enableVersionButton = false;
                            this.saveVersionData = false;
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                            this.loadLines(false);
                        })
                        .catch((error) => {
                            this.loader = false;
                            this.saveloader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                } else {
                    this.editedItem.addedByUserID = this.$store.state.auth.userId;
                    this.saveloader = true;
                    createSalesTargetByStaff(this.editedItem)
                        .then((response2) => {
                            this.gridItems.push(response2.data);
                            this.loader = false;
                            this.saveloader = false;
                            let index = this.gridItems
                                .map((item) => item.salesTargetByStaffId)
                                .indexOf(response2.data.salesTargetByStaffId);
                            this.editedIndex = index;
                            this.editedItem.salesTargetByStaffId =
                                response2.data.salesTargetByStaffId;
                            this.enableVersionButton = false;
                            this.saveVersionData = false;
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                            this.loadLines(false);

                        })
                        .catch((error) => {
                            this.loader = false;
                            this.saveloader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                    this.loader = false;
                }
            },
            versionListShow () {
                this.versionListdialog = true;

                this.$refs.refVersions.sessionID = this.editedItem.sessionId;
                this.$refs.refVersions.versionData = [];
                setTimeout(() => {

                    this.$refs.refVersions.getversions();
                }, 500);
            },
            versionListclose () {
                this.versionListdialog = false;
            },
            /*  save () {
                 if ((this.$refs.validateform != undefined && this.$refs.validateform.validate()) || (this.$refs.form != undefined && this.$refs.form.validate())) {
                     this.saveAndUpdate();
                 }
             }, */
            versioneditItem (item) {
                this.$refs.refversionApplyDialog.openDialog();
                this.selectedItem = item;
            },
            OnApplyConfirm () {
                this.loader = true;
                this.$refs.refVersions.versionloaders = true;
                applyVersion(this.selectedItem.versionData)
                    .then((response) => {
                        if (response != undefined) {
                            this.loader = false;
                            this.$refs.refVersions.versionloaders = false;
                            this.editedItem = Object.assign({}, response.data);
                            this.versionListdialog = false;
                            this.selectedItem = null;
                            this.$refs.refversionApplyDialog.close();
                            this.loadLines(false);
                        }
                    })
                    .catch((error) => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            createtempVersion () {
                this.editedItem.screenID = this.screenID;
                tempVersion(this.editedItem)
                    .then((response) => {
                        if (response != undefined) {
                            this.tempVersionId = response.data;
                        }
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            deleteTempVersion () {
                deleteVersion(this.tempVersionId)
                    .then((response) => {
                        if (response != undefined) {
                        }
                    })
                    .catch((error) => {
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            undoTempVersion () {
                this.loader = true;
                undoVersion(this.tempVersionId)
                    .then((response) => {
                        if (response != undefined) {
                            this.editedItem = Object.assign({}, response.data);
                            this.loader = false;
                            this.loadLines(false);
                        }
                    })
                    .catch((error) => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            referencesave () {
                this.referencedialog = false;
                this.loader = true;
                this.editedItem.referenceInfo = this.referenceInfo;
                if (this.$refs.form.validate()) {
                    this.editedItem.screenID = this.screenID;
                    createVersion(this.editedItem)
                        .then((response) => {
                            if (response != undefined) {
                                this.editItem(this.editedItem);
                                this.loader = false;
                                this.referenceInfo = "";
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.VERSION);
                            }
                        })
                        .catch((error) => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            referenceclose () {
                this.referencedialog = false;
                this.referenceInfo = "";
            },
            referencecancel () {
                this.referenceInfo = "";
            },
            versionsave () {
                if (this.$refs.form.validate()) {
                    this.saveVersionData = false;
                    this.save();
                }
            },
        },
    };
</script>
<style scoped>
    .layoutbg {
      border-style: solid;
      border-radius: 8px !important;
      border-color: rgb(216, 222, 247);
      border-width: 1px;
      padding: 8px;
    }
    .borderlayout {
      border-radius: 9px !important;
      border-color: gray;
      border-width: 2px;
      padding: 6px;
    }
</style>