<template>
  <div>
    <v-row style="padding: 10px">
      <v-col class="d-flex" cols="12" sm="12">
        <v-row>
          <v-col class="d-flex" cols="12" sm="6">
            <v-autocomplete
              label="Production Type"
              prepend-icon="notes"
              v-model="productionTypeId"
              :items="productionTypeItems"
              item-text="codeValue"
              item-value="codeID"
              @change="onChangeProductionTypeByType"
              chips
            >
            </v-autocomplete>
          </v-col>
          <v-col class="d-flex" cols="12" sm="6">
            <v-autocomplete
              :loading="loader"
              flat
              :items="manufacturingProcessItems"
              v-model="manufacturingProcessChildId"
              :label="
                productionTypeId == 3372
                  ? 'Routine'
                  : 'Manufacturing Process'
              "
              chips
              prepend-icon="mdi-note"
              item-text="value"
              item-value="applicationMasterChildId"
              @change="onchangeManufacturingProcess"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-spacer></v-spacer>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on" @click.native="openDialog">
              <v-icon>mdi-download</v-icon>
            </v-btn>
          </template>
          <span>Download Pdf</span>
        </v-tooltip>
        <v-btn
          icon=""
          @click="loadPagingDocData()"
          v-shortkey="['enter']"
          @shortkey="loadPagingDocData()"
        >
          <v-icon icon> refresh </v-icon>
        </v-btn>
      </v-col>
    </v-row>
    <div id="this_one" style="display: none">
      <vue-qr :text="qrCodeData" :correctLevel="3" :size="200"></vue-qr>
    </div>
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Search"
      single-line
      hide-details
    ></v-text-field>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      sort-by="productActivityCaseId"
      :sort-desc="[true]"
      :options.sync="options"
      :server-items-length="totalRows"
      :loading="gridloader"
      :footer-props="docrowsPerPageItems"
      :items-per-page="docrowsPerPage"
      class="elevation-1"
      :search="search"
    >
      <template v-slot:[`item.productionType`]="{ item }">
        <vue-qr
          :text="generateQrCode(item)"
          :correctLevel="3"
          :size="200"
        ></vue-qr>
      </template>
      <template v-slot:[`item.implementationDate`]="{ item }">
        <span>{{ item.implementationDate | formatDate }}</span>
      </template>
      <template v-slot:[`item.addedDate`]="{ item }">
        <span>{{ item.addedDate | formatDateTime }}</span>
      </template>
      <template v-slot:[`item.reference`]="{ item }">
        <v-tooltip bottom color="grey">
          <template v-slot:activator="{ on, attrs }">
            <span v-bind="attrs" v-on="on"><a>More</a></span>
          </template>
          <span><div v-html="item.reference"></div></span>
        </v-tooltip>
      </template>
      <template v-slot:[`item.upload`]="{ item }">
        <v-tooltip bottom color="grey">
          <template v-slot:activator="{ on, attrs }">
            <span v-bind="attrs" v-on="on"><a>More</a></span>
          </template>
          <span><div v-html="item.upload"></div></span>
        </v-tooltip>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-menu
          bottom
          left
          
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark icon v-bind="attrs" v-on="on">
              <v-icon>more_vert</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(itemdata, i) in items"
              :key="i"
              @click="menuClick(item, itemdata)"
            >
              <v-list-item-action
                ><v-icon>{{ itemdata.icon }}</v-icon></v-list-item-action
              >
              <v-list-item-title>{{ itemdata.title }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>
      </template>
    </v-data-table>

    <vue-html2pdf
      :show-layout="false"
      :float-layout="true"
      :enable-download="true"
      :preview-modal="false"
      :paginate-elements-by-height="100"
      filename="Product Activity Master"
      :pdf-quality="2"
      :manual-pagination="true"
      pdf-format="a4"
      pdf-orientation="landscape"
      pdf-content-width="20%"
      :html-to-pdf-options="htmlToPdfOptions"
      ref="html2Pdf"
    >
      <section slot="pdf-content">
        <table style="width: 820pt">
          <thead>
            <tr>
              <th width="10%">Qr Code</th>
              <th width="5%">
                {{ productionTypeId == 3372 ? "Routine Category" : "Category" }}
              </th>
              <th width="5%">
                {{ productionTypeId == 3372 ? "Routine Action" : "Action" }}
              </th>
              <th width="26%">Reference</th>
              <th width="26%">Instruction</th>
              <th width="26%">Checker Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(itemdata, i) in gridAllItems" :key="i">
              <td>
                <vue-qr
                  :text="generateQrCode(itemdata)"
                  :correctLevel="3"
                  :size="150"
                ></vue-qr>
              </td>
              <td>{{ itemdata.categoryAction }}</td>
              <td>{{ itemdata.action }}</td>
              <td style="padding: 12px">
                <span v-html="itemdata.reference"></span>
              </td>
              <td style="padding: 12px">
                <span v-html="itemdata.upload"></span>
              </td>
              <td style="padding: 12px">
                <span v-html="itemdata.checkerNotes"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </vue-html2pdf>
    <v-dialog v-model="dialog" persistent max-width="290">
      <v-card>
        <v-card-title class="text-h5"> PDF Language </v-card-title>
        <v-card-text
          ><v-row>
            <v-col class="d-flex" cols="12" sm="4">
              <v-radio-group v-model="isLanguage" row>
                <v-radio label="English" value="English"></v-radio>
                <v-radio label="Malay" value="Malay"></v-radio>
                <v-radio label="Chinese" value="Chinese"></v-radio>
              </v-radio-group>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">
            Close
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            @click="loadPagingDocDataAll"
            :loading="loader"
          >
            Download Pdf
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import VueHtml2pdf from "vue-html2pdf";

import search from "@/search";
import { getData } from "@/api/paggedapi";
import {
  getApplicationMasterChild,
  getCodeMasterByType,
} from "@/api/applicationsUsers";
import VueQr from "vue-qr";
//import jsPDF from "jspdf";
import "jspdf-autotable";
import myApi from "@/util/api";
export default {
  components: {
    VueQr,
    VueHtml2pdf,
  },
  data: () => ({
    isLanguage: "English",
    gridAllItems: [],
    manufacturingProcessName: "",
    qrCodeData: "",
    loader: false,
    dialog: false,
    options: {},
    search: "",
    totalRows: 0,
    gridItems: [],
    gridloader: false,
    docrowsPerPageItems: {
      "items-per-page-options": [5, 10, 20, 30, 40, 50],
    },
    docrowsPerPage: 10,
    manufacturingProcessItems: [],
    sessionId: null,
    selectedItem: null,
    filterFields: [
      "ProductActivityCase.CategoryAction.Value",
      "ProductActivityCase.action.value",
      "StatusCode.CodeValue",
      "ProductActivityCase.ManufacturingProcessChild.Value",
      "ProductActivityCase.AddedByUser.UserName",
    ],
    manufacturingProcessChildId: -1,
    productionTypeId: 3371,
    productionTypeItems: [],
    items: [
      {
        icon: "mdi-qrcode",
        href: "#",
        title: "Qr Code",
        click: () => {},
      },
    ],
    htmlToPdfOptions: {
      margin: 0,
      filename: `Production Activity Masters.pdf`,
      image: {
        type: "png",
        quality: 2,
      },
      enableLinks: false,
      html2canvas: {
        scale: 1,
        useCORS: true,
      },
      pagebreak: { avoid: "tr" },
      jsPDF: {
        unit: "in",
        format: "a4",
        orientation: "landscape",
        compressPDF: true,
      },
    },
  }),
  watch: {
    options: {
      handler() {
        this.loadPagingDocData();
      },
      deep: true,
    },
  },
  computed: {
    headers() {
      return [
        /* {
          text: "Production Type",
          value: "productionType",
          align: "left",
        }, */
        {
          text:
            this.productionTypeId == 3372
              ? "Routine"
              : "Manufacturing Process",
          value: "manufacturingProcess",
          align: "left",
        },
        {
          text: this.productionTypeId == 3372 ? "Routine Category" : "Category",
          value: "categoryAction",
          align: "left",
        },
        {
          text: this.productionTypeId == 3372 ? "Routine Action" : "Action",
          value: "action",
          align: "left",
        },
        { text: "Company", value: "companyName", align: "left" },
        {
          text: "Implementation Date",
          value: "implementationDate",
          align: "left",
        },
        { text: "Version", value: "statusCode", align: "left" },
        { text: "Reference", value: "reference", align: "left" },
        { text: "Instruction", value: "upload", align: "left" },
        { text: "Modified By", value: "addedByUser", align: "left" },
        { text: "Actions", value: "actions", sortable: false, align: "left" },
      ];
    },
  },
  created() {
    this.loadDropdownList();
  },
  methods: {
    generate() {
      setTimeout(() => {
        this.$refs.html2Pdf.generatePdf();
        this.loader = false;
        this.gridloader = false;
        window.getApp.$emit(
          "APP_API_SUCCESS",
          "PDF Generated Successfully...."
        );
        this.dialog = false;
      }, 3000);
    },
    /*  generate() {
      var doc = new jsPDF({ putOnlyUsedFonts: true, orientation: "landscape" });

      doc.autoTable({
        html: "#mytable",
        rowPageBreak: "auto",
        bodyStyles: {
          minCellHeight: 30,
        },
        columnStyles: {
          0: {
            columnWidth: 30,
          },
          1: {
            columnWidth: 25,
          },
          2: {
            columnWidth: 25,
          },
          3: {
            columnWidth: 100,
          },
          4: {
            columnWidth: 100,
          },
        },
        didDrawCell: function (data) {
          if (data.column.index === 0 && data.cell.section === "body") {
            var td = data.cell.raw;
            var img = td.getElementsByTagName("img")[0];
            var dim = data.cell.height - data.cell.padding("vertical");
            doc.addImage(img.src, data.cell.x, data.cell.y, dim, dim);
          }
        },
      });

      doc.save("ProductionActivityMaster.pdf");
    }, */
    generateQrCode(item) {
      console.log('Qr data 2'+JSON.stringify(item))
      var qrCodeData =
        item.manufacturingProcessChildId +
        "~" +
        item.manufacturingProcess +
        "~" +
        item.categoryActionId +
        "~" +
        item.categoryAction +
        "~" +
        item.actionId +
        "~" +
        item.action +
        "~" +
        item.productActivityCaseId;
      return qrCodeData;
    },
    menuClick(item, key) {
      if (key.title == "Qr Code") {
        this.qrCodeData = this.generateQrCode(item);
        setTimeout(() => {
          this.downloadQrCode();
        }, 500);
      }
    },
    downloadQrCode() {
      var someimage = document.getElementById("this_one");
      var myimg = someimage.getElementsByTagName("img")[0];
      let link = document.createElement("a");
      link.href = myimg.src;
      link.download = "QrCode.png";
      link.click();
      link.remove();
    },
    onchangeManufacturingProcess() {
      if (this.manufacturingProcessChildId > 0) {
        var name = this.manufacturingProcessItems.filter(
          (o) => o.applicationMasterChildId == this.manufacturingProcessChildId
        );
        if (name.length > 0) {
          this.manufacturingProcessName = name[0].value;
        }
      }
      this.loadPagingDocData();
    },
    onChangeProductionType() {
      this.manufacturingProcessChildId = null;
      this.manufacturingProcessItems = [];
      if (this.productionTypeId == 3371) {
        getApplicationMasterChild(105)
          .then((response) => {
            this.manufacturingProcessItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      if (this.productionTypeId == 3372) {
        getApplicationMasterChild(108)
          .then((response) => {
            this.manufacturingProcessItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    onChangeProductionTypeByType() {
      this.onChangeProductionType();
      this.loadPagingDocData();
    },
    loadDropdownList() {
      getCodeMasterByType("ProductionType")
        .then((response) => {
          this.productionTypeItems = response.data;
        })
        .catch((error) => {
          //this.subloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.onChangeProductionType();
    },
    loadPagingDocData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.options.page;
      var sortBy =
        this.options.sortBy != undefined && this.options.sortBy.length > 0
          ? this.options.sortBy[0]
          : "productActivityCaseId";
      if (sortBy == "manufacturingProcess") {
        search.sortCol = "ProductActivityCase.ManufacturingProcessChild.value";
      } else if (sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
      } else if (sortBy == "addedByUser") {
        search.sortCol = "ProductActivityCase.AddedByUser.UserName";
      } else if (sortBy == "modifiedByUser") {
        search.sortCol = "ProductActivityCase.ModifiedByUser.UserName";
      } else if (sortBy == "action") {
        search.sortCol = "ProductActivityCase.Action.value";
      } else if (sortBy == "categoryAction") {
        search.sortCol = "ProductActivityCase.CategoryAction.Value";
      } else if (sortBy == "productionType") {
        search.sortCol = "ProductActivityCase.productionType.codeValue";
      } else if (sortBy == "upload") {
        search.sortCol = "ProductActivityCase.upload";
      } else if (sortBy == "instruction") {
        search.sortCol = "ProductActivityCase.instruction";
      } else if (sortBy == "companyName") {
        search.sortCol = "company.plantCode";
      } else if (sortBy == "reference") {
        search.sortCol = "ProductActivityCase.reference";
      }
      else {
        search.sortCol = sortBy;
      }
      search.pageSize = this.options.itemsPerPage;
      search.sortBy =
        this.options.sortBy != undefined && this.options.sortDesc.length > 0
          ? this.options.sortDesc[0] == true
            ? "desc"
            : "asc"
          : "asc";
      search.masterTypeID = this.productionTypeId;
      search.classificationTypeId = this.manufacturingProcessChildId;
      search.searchString = this.search;
      search.methodName = "GetProductActivityCaseByCompany";
      this.gridloader = true;
      this.loader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            if (response.data.pagination != null) {
              if (response.data.pagination.totalPages != null) {
                this.totalRows = response.data.pagination.totalPages;
              }
            }
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.loader = false;
          this.gridloader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    openDialog() {
      this.isLanguage = "English";
      this.dialog = true;
    },
    async loadPagingDocDataAll() {
      window.getApp.$emit("APP_API_SUCCESS", "Please Wait Generating Pdf....");
      this.gridloader = true;
      this.loader = true;
      var manufacturingProcessChildId =
        this.manufacturingProcessChildId > 0
          ? this.manufacturingProcessChildId
          : -1;
      const response = await myApi.getAll(
        "ProductActivityCase/GetProductActivityCaseAll?id=" +
          manufacturingProcessChildId +
          "&&masterId=" +
          this.productionTypeId +
          "&&type=" +
          this.isLanguage
      );

      this.gridAllItems = response.data;
      this.generate();
    },
  },
};
</script>
<style scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 15px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>