<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="ItemBatchEntry.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="initialize()" >
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen>    

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="itemform" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      hint="Atleast 3 Characters required"
                      :loading="loader"
                      chips
                      flat
                      placeholder="Select only suggested Company"
                      :items="companyItems"
                      v-model="editedItem.companyId"
                      prepend-icon="location_city"
                      label="Company"
                      color="blue"
                      item-text="description"
                      item-value="plantID"
                      @change="selectCompany"
                      readonly
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      :loading="gridloader"
                      chips
                      flat
                      label="Item"
                      prepend-icon="invert_colors"
                      :items="navItems"
                      v-model="editedItem.itemId"
                      readonly
                      color="blue"
                      item-text="itemNoDetail"
                      item-value="itemId"
                    ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.batchNo"
                      label="Batch No"                     
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 >
                  
                      <v-text-field
                        slot="activator"
                        :value="manufactureDateFormatted"
                        label="Manufacturing Date"
                        prepend-icon="event"
                        clearable
                        readonly                      
                      ></v-text-field>
                     
                  </v-flex>
                  <v-flex xs12 sm4 >
                   
                      <v-text-field
                        slot="activator"
                        :value="expireDateFormatted"
                        label="Expiry Date"
                        prepend-icon="event"
                        clearable
                        readonly
                        @click:clear="clearableExpiryDate"
                      ></v-text-field>
                     
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.quantityOnHand"
                      label="Quantity On Hand"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.issueQuantity"
                      label="Issue Quantity"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                   <v-flex xs12 sm4>
                    <v-text-field
                      v-model="editedItem.balanceQuantity"
                      label="Balance Quantity"
                      prepend-icon="select_all"
                      readonly
                    ></v-text-field>
                  </v-flex>
                
                  <v-flex xs12 sm4>
                    <v-autocomplete
                      label="Status"
                      prepend-icon="notes"
                      v-model="editedItem.statusCodeID"
                      :items="statusOptions"
                      readonly
                    ></v-autocomplete>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
          <v-card-actions>
            <v-spacer></v-spacer>
           
            <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
       :headers="headers"
      :items="gridItems"
      :pagination.sync="pagination"     
      :rows-per-page-items="rowsPerPageItems"
      :loading="gridloader"    
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="viewItem(props.item)">
          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.itemNo }}</td>
          <td class="text-xs-left">{{ props.item.batchNo }}</td>
          <td class="text-xs-left">{{ props.item.manufacturingDate |formatDate }}</td>
          <td class="text-xs-left">{{ props.item.expiryDate |formatDate }}</td>
          <td class="text-xs-left">{{ props.item.quantityOnHand }}</td>

          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate |formatDate }}</td>
          <td class="justify-center layout px-0">
            <!-- <v-icon small class="mr-2" @click="fileAttachments(props.item)">attach_file</v-icon> -->
            <v-icon small class="mr-2" @click="viewItem(props.item)">visibility</v-icon>
           
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
          @click="initialize"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{
      snackbarMessage
      }}
    </v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import {

  getItemBatchInfoById,
  getItemBatchInfoData,
  createItemBatchInfo,

  deleteItemBatchInfo,
  getNavItemsByCountryDataBase,
  getItemByBatchNo
} from "@/api/itemBatchEntry";
import moment from "moment";
import GlobalMessage from "@/constant";
import search from "@/search";
import { getPlants } from "@/api/plant";
import attachment from "@/components/Attachment/attachments";

export default {
  components: {
    attachment
  },
  data: () => ({
    attachdialog: false,
    totalRows: 0,
    manufactureMenu: false,
    expireDateMenu: false,
    gridloader: false,
    validityFrom: "",
    validityTo: "",
    dialog: false,
    loader: false,
    gridloader: false,
    disableDate: false,
    search: "",
    companyItems: [],
    navItems: [],
    sessionId: null,
    versionSessionId: null,
    screenID: "IN2301",
    saveVersionData: false,
    enableVersionButton: true,
    statusOptions: [
      { text: "Active", value: 1 },
      { text: "Close", value: 2 }
    ],
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    dialog: false,
    loader: false,
     filterFields: [
      "Company.Description",
      "Item.No",
      "BatchNo",    
      "AddedByUser.UserName",     
      "ModifiedByUser.UserName",
    ],
    headers: [
      {
        text: "Company Name",
        value: "companyName",
        align: "left"
      },
      {
        text: "Item",
        value: "itemNo",
        align: "left"
      },
      {
        text: "Batch No",
        value: "batchNo",
        align: "left"
      },
      {
        text: "Manufacturing Date",
        value: "manufacturingDate",
        align: "left"
      },
      {
        text: "Expiry Date",
        value: "expiryDate",
        align: "left"
      },
      {
        text: "Quantity On Hand",
        value: "quantityOnHand",
        align: "left"
      },

      {
        text: "Added By",
        value: "addedByUser",
        align: "left"
      },
      {
        text: "Added Date",
        value: "addedDate",
        align: "left"
      },

      { text: "Action", value: "Action", align: "left" }
    ],
    contractNoItems: [],
    json_fields: {
      "Company Name": "companyName",
      Item: "itemNo",
      "Batch No": "batchNo",
      "Manufacturing Date": "manufacturingDate",
      "Expiry Date": "expiryDate",
      "Quantity on Hand": "quantityOnHand",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate"
    },
    gridItems: [],
    purposeOfCostings: [],
    editedIndex: -1,
    itemId: null,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    isSyncWithNavision: "true",
    referencedialog: false,
    referenceInfo: "",
    referenceRuels: [v => !!v || "Reference is required"],
    editedItem: {
      valid: false,
      itemBatchId: -1,
      itemId: null,
      companyId: null,
      batchNo: "",
      expiryDate: new Date().toISOString().substr(0, 10),
      manufacturingDate: new Date().toISOString().substr(0, 10),
      quantityOnHand: 0,
      issueQuantity: 0,
      balanceQuantity: 0,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      itemBatchId: -1,
      itemId: null,
      companyId: null,
      batchNo: "",
      expiryDate: new Date().toISOString().substr(0, 10),
      manufacturingDate: new Date().toISOString().substr(0, 10),
      quantityOnHand: 0,
      issueQuantity: 0,
      balanceQuantity: 0,
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },

    searchItem: { action: "", id: null, searchString: "searchString" }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Item Batch Info"
        : "Item Batch Info";
    },

    manufactureDateFormatted() {
      return this.editedItem.manufacturingDate
        ? moment(this.editedItem.manufacturingDate).format(
            GlobalMessage.DATEFORMAT
          )
        : "";
    },
    expireDateFormatted() {
      return this.editedItem.expiryDate
        ? moment(this.editedItem.expiryDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    batchRules() {
      return [v => !!v || "This is required field"];
    },
    itemRules() {
      return [
        () =>
          !!this.editedItem.itemId > 0 || "Atleast one Item  must be selected.",
        v => !!v || "This is required field"
      ];
    },
   
  },

  created() {
    this.initialize();
  },
   mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
  },
  methods: {
    initialize() {
      this.loader = true;
      if(this.itemId>0)
      {
          let id = this.itemId;
      getItemBatchInfoById(id)
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
      this.loader = true;
      getPlants("")
        .then(response => {
          this.loader = false;
          this.companyItems = response.data;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadItems(){
     
    },
    enterBatchNo() {
      this.searchItem.id = 1;
      this.searchItem.searchString = this.editedItem.batchNo;
      getItemByBatchNo(this.searchItem)
        .then(response => {
          if (
            response.data != null &&
            response.data != undefined &&
            response != undefined &&
            response.data != ""
          ) {
            if (response.data.manufacturingDate != null) {
              this.editedItem.manufacturingDate = moment(
                response.data.manufacturingDate
              ).format("YYYY-MM-DD");
              this.disableDate = true;
            }
            if (response.data.expiryDate != null) {
              this.editedItem.expiryDate = moment(
                response.data.expiryDate
              ).format("YYYY-MM-DD");
              this.disableDate = true;
            }

            this.loader = false;
          } else {
            this.disableDate = false;
            this.editedItem.manufacturingDate = new Date()
              .toISOString()
              .substr(0, 10);
            this.editedItem.expiryDate = new Date().toISOString().substr(0, 10);
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    loadDropDown() {
      this.selectCompany();
       if(this.itemId>0)
      {
          let id = this.itemId;
      getItemBatchInfoById(id)
        .then(response => {
          this.gridItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      }
       if (this.editedItem.companyId > 0) {
        let id = this.editedItem.companyId;
        this.gridloader = true;
        getNavItemsByCountryDataBase(id)
          .then(response => {
            this.gridloader = false;
            this.navItems = response.data;
          })
          .catch(error => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    selectCompany() {
      if (this.editedItem.companyId > 0) {
        let id = this.editedItem.companyId;
        this.gridloader = true;
        getNavItemsByCountryDataBase(id)
          .then(response => {
            this.gridloader = false;
            this.navItems = response.data;
          })
          .catch(error => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    clearableManufactureDate() {
      this.editedItem.manufacturingDate = null;
    },
    clearableExpiryDate() {
      this.editedItem.expiryDate = null;
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    changeIssue() {
      this.editedItem.balanceQuantity =
        this.editedItem.quantityOnHand - this.editedItem.issueQuantity;
    },
    viewItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);

      console.log("Edit Item", JSON.stringify(this.editedItem));
      this.editedItem.manufacturingDate = moment(item.manufacturingDate).format(
        "YYYY-MM-DD"
      );
      this.editedItem.expiryDate = moment(item.expiryDate).format("YYYY-MM-DD");
      this.dialog = true;
      this.loadDropDown();
    },

    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      this.loader = true;
      let index = this.gridItems.indexOf(this.editedItem);
      deleteItemBatchInfo(this.editedItem)
        .then(response => {
          this.loader = false;
          if (response != undefined) {
            this.add();

            this.selectedItem = null;
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    saveAndClose() {
      this.save();
      this.close();
    },
   
    toolfunction() {
      getItemBatchInfoData(this.searchItem)
        .then(response => {
          if (response.data.itemBatchId != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.itemBatchId)
              .indexOf(response.data.itemBatchId);
            this.editedIndex = index;
           
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.id = this.editedItem.itemBatchId;
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.id = this.editedItem.itemBatchId;
      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.id = this.editedItem.itemBatchId;
      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.id = this.editedItem.itemBatchId;
      this.toolfunction();
    },

    add() {
      this.enableVersionButton = true;
      this.loadDropDown();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
    },

    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;

      deleteItemCost(this.editedItem)
        .then(response => {
          if(response!=undefined)
          {
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);         
          }
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },

    save() {
      if (this.$refs.itemform.validate()) {
        this.loader = true;
        let index = this.editedIndex;

        this.editedItem.addedByUserID = this.$store.state.auth.userId;
        createItemBatchInfo(this.editedItem)
          .then(response => {
            this.loader = false;
            if (response != undefined) {
              this.gridItems.push(response.data);

              this.editedItem = response.data;

              let index = this.gridItems
                .map(item => item.itemBatchId)
                .indexOf(response.data.itemBatchId);
              this.editedIndex = index;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            }
          })
          .catch(error => {
            this.loader = false;
            //window.getApp.$emit("APP_API_ERROR", error);
          });
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
      }
    }
  }
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 110px - 60px);
 }
</style>   