<template>
    <div>
        <v-layout wrap style="background: gainsboro !important; padding: 10px">
            <span class="headline">Movement Of Stock Out Line</span>
        </v-layout>
        <v-toolbar flat color="white">
            <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
            <v-spacer></v-spacer>
            <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="SampleRequestFordoctor.xls" :disabled="enableAddButton">
                <v-btn icon>
                    <v-icon>cloud_download</v-icon>
                </v-btn>
            </download-excel>
            <v-btn icon @click="initialize()">
                <v-icon>refresh</v-icon>
            </v-btn>
            <v-dialog v-model="dialog" fullscreen :disabled="enableAddButton">
                <v-btn slot="activator" icon @click.native="add" :disabled="enableAddButton">
                    <v-icon>add_circle_outline</v-icon>
                </v-btn>

                <v-card>
                    <v-toolbar card dense color="primary">
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close" :loading="loader">
                                <v-icon color="white">reply</v-icon>
                            </v-btn>
                            <span>Go Back</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="saveAndClose" :loading="loader" :disabled="isConfirm==true">
                                <v-icon color="white">library_add</v-icon>
                            </v-btn>
                            <span>Save and Close</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="save" :loading="loader" :disabled="isConfirm==true">
                                <v-icon color="white">save</v-icon>
                            </v-btn>
                            <span>Save</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="add" :loading="loader" :disabled="isConfirm==true">
                                <v-icon color="white">add</v-icon>
                            </v-btn>
                            <span>Create Movement Of Stock Out Line</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="deleterow" :loading="loader" :disabled="isConfirm==true">
                                <v-icon color="white">delete</v-icon>
                            </v-btn>
                            <span>Delete</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="first" :loading="loader">
                                <v-icon color="white">first_page</v-icon>
                            </v-btn>
                            <span>First</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="previous" :loading="loader">
                                <v-icon color="white">keyboard_arrow_left</v-icon>
                            </v-btn>
                            <span>Previous</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="next" :loading="loader">
                                <v-icon color="white">keyboard_arrow_right</v-icon>
                            </v-btn>
                            <span>Next</span>
                        </v-tooltip>
                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="last" :loading="loader">
                                <v-icon color="white">last_page</v-icon>
                            </v-btn>
                            <span>Last</span>
                        </v-tooltip>

                        <v-spacer></v-spacer>

                        <v-tooltip bottom>
                            <v-btn icon slot="activator" @click.native="close" :loading="loader">
                                <v-icon color="white">close</v-icon>
                            </v-btn>
                            <span>close</span>
                        </v-tooltip>
                    </v-toolbar>

                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>
                    <div class="task-sub--scroll">
                        <v-card-text>
                            <v-form v-model="editedItem.valid" ref="sampleform" lazy-validation>
                                <v-layout wrap>
                                    <v-flex xs12 sm4>
                                        <v-autocomplete :loading="gridloader" chips flat label="Item" prepend-icon="invert_colors" :items="navItems" v-model="editedItem.itemId" required color="blue" item-text="itemNoDetail" item-value="itemId" @change="selectNavItem" :rules="itemRules" :disabled="editedItem.sampleRequestForDoctorID>0"></v-autocomplete>
                                    </v-flex>
                                    
                                    <v-flex xs12 sm4>
                                        <v-text-field v-model="description" label="Description" prepend-icon="select_all" readonly></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-text-field v-model="uom" label="UOM" prepend-icon="select_all" readonly></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-autocomplete :loading="gridloader" chips flat label="Batch No" prepend-icon="invert_colors" :items="existingBatchNos" v-model="editedItem.batchNo" required color="blue" item-text="batchNo" item-value="batchNo" @change="onClickexisting" :rules="batchRules"></v-autocomplete>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-menu ref="Manufacture Date" v-model="manufactureMenu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                            <v-text-field slot="activator" :value="manufactureDateFormatted" label="Manufacturing Date" prepend-icon="event" clearable readonly :disabled="disableDate"></v-text-field>
                                            <v-date-picker v-model="editedItem.mfgDate" @change="manufactureMenu = false"></v-date-picker>
                                        </v-menu>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-menu ref="expiredDate" v-model="expireDateMenu" :close-on-content-click="false" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
                                            <v-text-field slot="activator" :value="expireDateFormatted" label="Expiry Date" prepend-icon="event" clearable readonly :disabled="disableDate"></v-text-field>
                                            <v-date-picker v-model="editedItem.expDate" @change="expireDateMenu = false"></v-date-picker>
                                        </v-menu>
                                    </v-flex>

                                    <v-flex xs12 sm4>
                                        <v-text-field v-model="editedItem.inStockQty" label="In Stock Qty" prepend-icon="select_all" @keyup="chnageInStockQty" readonly></v-text-field>
                                    </v-flex>
                                    <v-flex xs12 sm4>
                                        <v-currency-field prepend-icon="select_all" :auto-decimal-mode="false" :decimal-length="5" :value-as-integer="false" :allow-negative="false" flat masked="false" v-model="editedItem.outStockQty" label="Out Stock Qty" :rules="outStockQtyRules" ></v-currency-field>
                                    </v-flex>
                                   
                                </v-layout>
                            </v-form>
                        </v-card-text>
                    </div>
                    <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem"></delete-confirmation-dialog>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn outline color="primary" slot="activator" @click.native="save" :disabled="isConfirm==true" :loading="loader">save</v-btn>
                        <v-btn outline color="primary" slot="activator" @click.native="close" :loading="loader">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-toolbar>
        <app-section-loader :status="loader"></app-section-loader>
        <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="sampleRequestForDoctorID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
            <template slot="items" slot-scope="props">
                <tr v-on:dblclick="editItem(props.item)">
                    <!--  <td class="text-xs-left">{{ props.item.companyName }}</td> -->
                    <td class="text-xs-left">{{ props.item.itemNo }}</td>
                    <td class="text-xs-left">{{ props.item.batchNo }}</td>
                    <td class="text-xs-left">{{ props.item.mfgDate |formatDate }}</td>
                    <td class="text-xs-left">{{ props.item.expDate |formatDate }}</td>
                    <td class="text-xs-left">{{ props.item.outStockQty }}</td>
                    <td class="text-xs-left">{{ props.item.totalQuantity }}</td>
                    <td class="text-xs-left">{{ props.item.confirmStockStatus }}</td>
                    <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                    <td class="text-xs-left">{{ props.item.addedDate |formatDate }}</td>
                    <td class="justify-center layout px-0">
                        <!-- <v-icon small class="mr-2" @click="fileAttachments(props.item)">attach_file</v-icon> -->
                        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                        <v-icon small @click="onDeleteItem(props.item)" :disabled="isConfirm==true">delete</v-icon>
                    </td>
                </tr>
            </template>
            <template slot="no-data">
                <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
            </template>
        </v-data-table>
        <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
            {{ snackbarMessage }}
        </v-snackbar>
        <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
    </div>
</template>
<script>
    import {
        getSampleRequestForDoctorLine,
        getSampleRequestForDoctorData,
        createSampleRequestForDoctor,
        updateSampleRequestForDoctor,
        deleteSampleRequestForDoctor,
    } from "@/api/sampleRequest";
    import {
        getItemBatchInfoByOutStockQty,
    } from "@/api/itemBatchEntry";
    import { getNavItemForSampleRequestDoctors } from "@/api/sampleRequestFormLine";
    import moment from "moment";
    import search from "@/search";
    import GlobalMessage from "@/constant";
    import attachment from "@/components/Attachment/attachments";

    export default {
        components: {
            attachment
        },
        data: () => ({
            isConfirm: false,
            sampleRequestForDoctorHeaderId: -1,
            inventoryTypeId: -1,
            enableAddButton: true,
            attachdialog: false,
            totalRows: 0,
            gridloader: false,
            manufactureMenu: false,
            expireDateMenu: false,
            validityFrom: "",
            validityTo: "",
            existingBatchNos: [],
            batchNo: "",
            menuprodSearch: "",
            searchFilter: "",
            manufactureby: "",
            description: "",
            disableDate: false,
            uom: "",
            supplyTo: "",
            dialog: false,
            loader: false,
            gridloader: false,
            search: "",
            companyItems: [],
            navItems: [],
            sessionId: null,
            versionSessionId: null,
            screenID: "IN2301",
            saveVersionData: false,
            enableVersionButton: true,
            statusOptions: [
                { text: "Active", value: 1 },
                { text: "Close", value: 2 }
            ],
            snackbar: false,
            snackbarMessage: "",
            timeout: 2000,
            y: "top",
            dialog: false,
            loader: false,
            batchHeaders: [
                {
                    text: "Company Name",
                    value: "companyName",
                    align: "left"
                },
                {
                    text: "Item",
                    value: "itemNo",
                    align: "left"
                },
                {
                    text: "Batch No",
                    value: "batchNo",
                    align: "left"
                },
                {
                    text: "Quantity On Hand",
                    value: "quantityOnHand",
                    align: "left"
                }
            ],

            filterFields: [
                "Company.Description",
                "Item.No",
                "BatchNo",
                "AddedByUser.UserName",
                "ModifiedByUser.UserName",
            ],
            headers: [
                /*  {
                     text: "Company Name",
                     value: "companyName",
                     align: "left"
                 }, */
                {
                    text: "Item",
                    value: "itemNo",
                    align: "left"
                },
                {
                    text: "Batch No",
                    value: "batchNo",
                    align: "left"
                },
                {
                    text: "Manufacturing Date",
                    value: "mfgDate",
                    align: "left"
                },
                {
                    text: "Expiry Date",
                    value: "expDate",
                    align: "left"
                },
                {
                    text: "Out Stock Qty",
                    value: "outStockQty",
                    align: "left"
                },
                {
                    text: "Delivered Qty",
                    value: "totalQuantity",
                    align: "left"
                },
                {
                    text: "Stock Status",
                    value: "confirmStockStatus",
                    align: "left"
                },
                {
                    text: "Modified By",
                    value: "addedByUser",
                    align: "left"
                },
                {
                    text: "Modified Date",
                    value: "addedDate",
                    align: "left"
                },

                { text: "Action", value: "Action", align: "left" }
            ],
            contractNoItems: [],
            json_fields: {
                //   "Company Name": "companyName",
                Item: "itemNo",
                "Batch No": "batchNo",
                "Manufacturing Date": "mfgDate",
                "Expiry Date": "expDate",
                "Out Stock Qty": "outStockQty",
                "Delivered Qty": "totalQuantity",
                "Added By": "addedByUser",
                "Added Date": "addedDate",
                "Modified By": "modifiedDate",
                "Modified Date": "modifiedDate"
            },
            gridItems: [],
            purposeOfCostings: [],
            editedIndex: -1,
            selectedItem: null,
            rowsPerPageItems: [10, 20, 30, 40, 50, 100],
            pagination: {
                rowsPerPage: 10
            },
            searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
            searchpagination: {
                rowsPerPage: 10
            },

            editedItem: {
                valid: false,
                sampleRequestForDoctorID: -1,
                sampleRequestForDoctorHeaderId: -1,
                itemId: null,
                companyId: null,
                batchNo: "",
                expDate: new Date().toISOString().substr(0, 10),
                mfgDate: new Date().toISOString().substr(0, 10),
                inStockQty: 0,
                outStockQty: 0,
                balanceStockQty: 0,
                addedByUserID: null,
                addedDate: new Date(),
                statusCodeID: 1,
                statusCode: "Active",
                modifiedByUserID: null,
                modifiedDate: new Date(),
                totalQuantity: "",
            },
            defaultItem: {
                valid: false,
                sampleRequestForDoctorID: -1,
                sampleRequestForDoctorHeaderId: -1,
                itemId: null,
                companyId: null,
                batchNo: "",
                expDate: new Date().toISOString().substr(0, 10),
                mfgDate: new Date().toISOString().substr(0, 10),
                inStockQty: 0,
                outStockQty: 0,
                balanceStockQty: 0,
                addedByUserID: null,
                addedDate: new Date(),
                statusCodeID: 1,
                statusCode: "Active",
                modifiedByUserID: null,
                modifiedDate: new Date(),
                totalQuantity: "",
            },

            searchItem: { action: "", id: null, searchString: "searchString", masterTypeID: -1 }
        }),

        computed: {
            formTitle () {
                return this.editedIndex === -1
                    ? "Add Movement Of Stock Out Line"
                    : "Edit Movement Of Stock Out Line";
            },

            manufactureDateFormatted () {
                return this.editedItem.mfgDate
                    ? moment(this.editedItem.mfgDate).format(
                        GlobalMessage.DATEFORMAT
                    )
                    : "";
            },
            expireDateFormatted () {
                return this.editedItem.expDate
                    ? moment(this.editedItem.expDate).format(GlobalMessage.DATEFORMAT)
                    : "";
            },
            batchRules () {
                return [
                    v => !!v || "This is required field"];
            },
            itemRules () {
                if (this.editedItem.sampleRequestForDoctorID < 0) {
                    return [
                        v => !!v || "Item is required"];
                }
            },
            outStockQtyRules () {
                let outStockQty = parseFloat(this.editedItem.outStockQty);
                if (isNaN(outStockQty) || outStockQty <= 0) {
                    return [
                        v => !!v || "Out Qty is required"];
                }
                else {
                    let inStockQty = parseFloat(this.editedItem.inStockQty);
                    let outStockQty = parseFloat(this.editedItem.outStockQty);
                    if (!isNaN(inStockQty) && !isNaN(outStockQty)) {
                        if (outStockQty > inStockQty) {
                            return [
                                "Out Stcok Qty not greater than InStock Qty"];
                        }
                    }
                }
            },
            itemRules () {
                return [
                    () =>
                        !!this.editedItem.itemId > 0 ||
                        "Atleast one Item  must be selected.",
                    v => !!v || "This is required field"
                ];
            },
        },
        mounted () {
            this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
            search.pageSize = this.$store.state.auth.pageSize;
        },
        created () {
            this.initialize();
        },

        methods: {
            initialize () {
                this.loader = true;
                getSampleRequestForDoctorLine(this.sampleRequestForDoctorHeaderId)
                    .then(response => {
                        this.gridItems = response.data;
                        this.loader = false;
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
                if (this.inventoryTypeId != null) {
                    getNavItemForSampleRequestDoctors(this.inventoryTypeId)
                        .then(response => {

                            this.navItems = response.data;
                        })
                        .catch(error => {
                            this.gridloader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            selectNavItem (value, type, batchNo, outStockQty) {
                if (value == undefined) {
                    this.existingBatchNos = [];
                    this.editedItem.batchNo = "";

                    this.editedItem.mfgDate = moment(new Date()).format("YYYY-MM-DD");
                    this.editedItem.expDate = moment(new Date()).format("YYYY-MM-DD");
                    this.editedItem.inStockQty = "";
                }
                if (value > 0) {
                    this.editedItem.inStockQty = "";
                    this.editedItem.outStockQty = "";
                    let selItem = this.navItems.filter(
                        s => s.itemId == value
                    );
                    if (selItem.length > 0) {
                        this.manufactureby = selItem[0].itemCategoryCode;
                        this.description = selItem[0].description;
                        this.uom = selItem[0].baseUnitofMeasure;
                        this.supplyTo = selItem[0].internalRef;
                    }
                    let id = value;
                    this.existingBatchNos = [];
                    this.loader = true;
                    getItemBatchInfoByOutStockQty(id)
                        .then(response => {
                            this.loader = false;
                            this.existingBatchNos = response.data;
                            if (type == 'edit') {
                                this.onClickexisting(batchNo, type, outStockQty);
                            }
                        })
                        .catch(error => {
                            this.loader = false;
                            window.getApp.$emit("APP_API_ERROR", error);
                        });
                }
            },
            clearableManufactureDate () {
                this.editedItem.mfgDate = null;
            },
            clearableexpDate () {
                this.editedItem.expDate = null;
            },
            onClickexisting (value, type, outStockQty) {
                if (value == undefined) {
                    this.editedItem.mfgDate = moment(new Date()).format("YYYY-MM-DD");
                    this.editedItem.expDate = moment(new Date()).format("YYYY-MM-DD");
                    this.editedItem.inStockQty = "";
                }
                else {
                    this.menuprodSearch = false;
                    let list = this.existingBatchNos.filter(o => o.batchNo == value);
                    if (list.length > 0) {
                        let item = list[0];
                        this.batchNo = item.batchNo;
                        //if (type != 'edit') {
                        if (item.manufacturingDate != null) {
                            this.editedItem.mfgDate = moment(item.manufacturingDate).format(
                                "YYYY-MM-DD"
                            );
                        }
                        if (item.expiryDate != null) {
                            this.editedItem.expDate = moment(item.expiryDate).format("YYYY-MM-DD");
                        }
                        this.disableDate = true;


                        this.editedItem.inStockQty = item.quantityOnHand;
                        if (type == 'edit') {
                            this.editedItem.outStockQty = outStockQty;
                        }
                        //}
                    }
                }
            },
            close () {
                this.dialog = false;
                this.manufactureby = "";
                this.description = "";
                this.uom = "";
                this.supplyTo = "";
                this.batchNo = "";
                this.initialize();
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem);
                    this.editedIndex = -1;
                }, 300);
            },
            chnageInStockQty () {
                this.editedItem.inStockQty = this.editedItem.inStockQty.replace(/[^0-9.]/g, "")
                    .replace(/(\..*)\./g, "$1");
            },
            changeIssue () {
                this.editedItem.outStockQty = this.editedItem.outStockQty.replace(/[^0-9.]/g, "")
                    .replace(/(\..*)\./g, "$1");
                /* let inStockQty = parseFloat(this.editedItem.inStockQty);
                let outStockQty = parseFloat(this.editedItem.outStockQty);
                if (!isNaN(inStockQty) && !isNaN(outStockQty)) {
                    if (outStockQty > inStockQty) {
                        window.getApp.$emit("APP_API_ERROR", "Out Stcok Qty not greater than Quantity OnHand");
                    }
                } */
                /*  this.editedItem.balanceStockQty =
                     this.editedItem.inStockQty - this.editedItem.outStockQty; */
            },
            editItem (item) {
                this.editedIndex = this.gridItems.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.editedItem.mfgDate = moment(item.mfgDate).format(
                    "YYYY-MM-DD"
                );
                this.editedItem.expDate = moment(item.expDate).format("YYYY-MM-DD");
                setTimeout(() => {
                    this.dialog = true;
                }, 500);
                this.selectNavItem(item.itemId, 'edit', item.batchNo, item.outStockQty);
            },

            onDeleteItem (item) {
                this.$refs.deleteConfirmationDialog.openDialog();
                this.editedItem = item;
            },
            deleteItem () {
                this.$refs.deleteConfirmationDialog.close();
                this.loader = true;
                let index = this.gridItems.indexOf(this.editedItem);
                deleteSampleRequestForDoctor(this.editedItem)
                    .then(response => {
                        this.loader = false;
                        if (response != undefined) {
                            this.add();

                            this.selectedItem = null;
                            this.gridItems.splice(index, 1);
                            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                            this.initialize();
                        }
                    })
                    .catch(error => {
                        this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            saveAndClose () {
                this.save();
                this.close();
            },
            toolfunction () {
                this.searchItem.masterTypeID = this.sampleRequestForDoctorHeaderId;
                getSampleRequestForDoctorData(this.searchItem)
                    .then(response => {
                        if (response.data.sampleRequestForDoctorID != null) {
                            this.editedItem = response.data;
                            let index = this.gridItems
                                .map(item => item.sampleRequestForDoctorID)
                                .indexOf(response.data.sampleRequestForDoctorID);
                            this.editedIndex = index;
                            this.selectNavItem(this.editedItem.itemId, 'edit', this.editedItem.batchNo, this.editedItem.outStockQty);
                        } else {
                            window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
                        }
                    })
                    .catch(error => {
                        // this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            first () {
                this.searchItem.action = "First";
                this.searchItem.id = this.editedItem.sampleRequestForDoctorID;
                this.toolfunction();
            },
            last () {
                this.searchItem.action = "Last";
                this.searchItem.id = this.editedItem.sampleRequestForDoctorID;
                this.toolfunction();
            },
            previous () {
                this.searchItem.action = "Previous";
                this.searchItem.id = this.editedItem.sampleRequestForDoctorID;
                this.toolfunction();
            },
            next () {
                this.searchItem.action = "Next";
                this.searchItem.id = this.editedItem.sampleRequestForDoctorID;
                this.toolfunction();
            },

            add () {

                this.editedItem = Object.assign({}, this.defaultItem);
                this.editedIndex = -1;
                this.manufactureby = "";
                this.description = "";
                this.uom = "";
                this.supplyTo = "";
                this.batchNo = "";
                this.editedItem.batchNo = "";
                this.editedItem.itemId = null;
                this.editedItem.companyId = null;
                this.editedItem.inStockQty = "";
                this.editedItem.outStockQty = "";
                this.editedItem.balanceStockQty = "";
                this.existingBatchNos = [];
            },

            deleterow () {
                this.$refs.formdeleteConfirmationDialog.openDialog();
            },
            formDeleteItem () {
                this.$refs.formdeleteConfirmationDialog.close();
                // this.loader = true;
                let index = this.editedIndex;

                deleteSampleRequestForDoctor(this.editedItem)
                    .then(() => {
                        this.add();
                        this.gridItems.splice(index, 1);
                        window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
                    })
                    .catch(error => {
                        //this.loader = false;
                        window.getApp.$emit("APP_API_ERROR", error);
                    });
            },
            saveBatchInfo () {
                this.editedItem.sampleRequestForDoctorHeaderId = this.sampleRequestForDoctorHeaderId;
                if (this.$refs.sampleform.validate()) {
                    this.loader = true;
                    let index = this.editedIndex;
                    this.editedItem.batchNo = this.batchNo;
                    if (this.editedItem.sampleRequestForDoctorID > 0) {
                        Object.assign(this.gridItems[this.editedIndex], this.editedItem);
                        this.editedItem.modifiedByUserID = this.$store.state.auth.userId;

                        updateSampleRequestForDoctor(this.editedItem)
                            .then(response => {
                                Object.assign(this.gridItems[index], response.data);
                                this.loader = false;
                                this.editedItem.batchNo = response.data.batchNo;
                                //this.editedItem.totalQuantity = response.data.totalQuantity;
                                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                                this.selectNavItem(this.editedItem.itemId, 'edit', this.editedItem.batchNo, response.data.outStockQty);
                                this.editedItem.outStockQty = response.data.outStockQty;
                            })
                            .catch(error => {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                    else {

                        this.editedItem.addedByUserID = this.$store.state.auth.userId;
                        createSampleRequestForDoctor(this.editedItem)
                            .then(response => {
                                this.loader = false;
                                if (response != undefined && response.data != null) {
                                    this.gridItems.push(response.data);
                                    this.editedItem = response.data;
                                    this.editedItem.batchNo = response.data.batchNo;
                                    //this.editedItem.totalQuantity = response.data.totalQuantity;
                                    this.editedItem.sampleRequestForDoctorID = response.data.sampleRequestForDoctorID;
                                    let index = this.gridItems
                                        .map(item => item.sampleRequestForDoctorID)
                                        .indexOf(response.data.sampleRequestForDoctorID);
                                    this.editedIndex = index;
                                    this.selectNavItem(this.editedItem.itemId, 'edit', this.editedItem.batchNo, response.data.outStockQty);
                                    window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                                }
                            })
                            .catch(error => {
                                this.loader = false;
                                //window.getApp.$emit("APP_API_ERROR", error);
                            });
                    }
                }
                else {

                    window.getApp.$emit('APP_API_VAL', GlobalMessage.VALIDATE);
                }
            },
            save () {
                this.saveBatchInfo();
                /* this.loader = true;
                let list = this.existingBatchNos.filter(o => o.batchNo == this.editedItem.batchNo);
                if (list.length > 0) {
                    let id = list[0]['itemBatchId'];
                    getItemBatchInfoByBatchInfoId(id)
                        .then(response => {

                            if (response.data.length > 0) {
                                let inStockQty = parseFloat(response.data[0].quantityOnHand);
                                this.editedItem.inStockQty = response.data[0].quantityOnHand;
                                let outStockQty = parseFloat(this.editedItem.outStockQty);
                                if (!isNaN(inStockQty) && !isNaN(outStockQty)) {
                                    if (outStockQty > inStockQty) {
                                        this.loader = false;
                                        window.getApp.$emit("APP_API_ERROR", "Out Stcok Qty not greater than Quantity OnHand");
                                    }
                                    else {
                                        this.saveBatchInfo();
                                    }
                                }
                                else {
                                    this.loader = false;
                                    //window.getApp.$emit("APP_API_ERROR", "This Batch Out Of Stock");
                                }
                            }
                            else {
                                this.loader = false;
                                window.getApp.$emit("APP_API_ERROR", "This Batch Out Of Stock");
                            }
                        })
                        .catch(error => {
                        });
                } */
            }
        }
    };
</script>
 <style lang="stylus" scoped>
     .task-sub--scroll {
         overflow: auto;
         height: calc(100vh - 110px - 60px);
     }
</style>   