<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="My Worksheet" type="csv" name="SampleRequestFordoctor.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-btn icon @click="loadPagingData()" v-hotkey="loadPagingKey">
        <v-icon>refresh</v-icon>
      </v-btn>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add" :loading="loader">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close" :loading="loader">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose" :loading="loader" :disabled="editedItem.isConfirm==true">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save" :loading="loader" :disabled="editedItem.isConfirm==true">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add" :loading="loader">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create Movement Of Stock Out </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow" :loading="loader" :disabled="editedItem.isConfirm==true">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first" :loading="loader">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous" :loading="loader">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next" :loading="loader">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last" :loading="loader">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom  v-show="editedItem.sampleRequestForDoctorHeaderId > 0" >
              <v-btn icon slot="activator" @click.native="onConfirmation" :disabled="editedItem.isConfirm==true">
                <v-icon color="white">done</v-icon>
              </v-btn>
              <span>Confirmation</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>close</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="sampleform" lazy-validation>
                <v-layout wrap>
                  <v-flex xs12 sm4>
                    <v-autocomplete hint="Atleast 3 Characters required" :loading="loader" chips flat placeholder="Select Type of Stock Out" :items="typeOfStockItems" v-model="editedItem.typeOfStockId" prepend-icon="location_city" label="Type of Stock Out" color="blue" item-text="value" item-value="applicationMasterDetailId" @change="selecttypeOfStockItems" :rules="typOfStockRules"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.sampleChitNo" label="Sample Chit No" prepend-icon="select_all" readonly></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.dateBy" label="Date By" prepend-icon="select_all" readonly></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.requestByName" label="Request Name" prepend-icon="select_all" readonly></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4>
                     <v-autocomplete
                      label="Inventory Type"
                      placeholder="Select Inventory Type"
                      prepend-icon="apartment"
                      v-model="editedItem.inventoryTypeId"
                      :items="inventoryTypeItems"
                      :loading="loader" 
                      :rules="inventoryTypeRules"
                      item-text="dropDownName"
                      item-value="inventoryTypeId"
                      chips
                    >
                      <template slot="selection" slot-scope="data">
                        <v-chip :selected="data.selected"
                          >{{ data.item.name }}
                        </v-chip>
                      </template>
                    </v-autocomplete>
                    </v-flex>
                  <v-flex xs12 sm3>
                    <v-autocomplete :loading="loader" chips flat placeholder="Select Customer" :items="classComCustomerItems" v-model="editedItem.classComCustomerId" prepend-icon="location_city" label="Customer" color="blue" item-text="companyName" item-value="companyListingID" :rules="customerRules"></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm1>
                    <!--   <v-tooltip bottom> -->
                    <v-btn @click="clickCompanyAdd" icon>
                      <v-icon>add_circle_outline</v-icon>
                    </v-btn>
                    <!--  <span>Add New Customer</span>
                    </v-tooltip> -->
                  </v-flex>
                 <!--  <v-flex xs12 sm4>
                    <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions"></v-autocomplete>
                  </v-flex> -->
                  <v-flex xs12 sm4>
                    <v-text-field v-model="editedItem.purpose" label="Purpose" prepend-icon="select_all"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm4 v-show="editedItem.signature != null">
                    <img style="height: 100px; width: 200px" :src="editedItem.signature" />
                  </v-flex>
                  <v-flex xs12 sm12>
                    <sample-requestfor-doctors-line ref="refSampleRequestforDoctorsLine"></sample-requestfor-doctors-line>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <delete-confirmation-dialog ref="formdeleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="formDeleteItem"></delete-confirmation-dialog>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save" :disabled="editedItem.isConfirm==true" :loading="loader">save</v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close" :loading="loader">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="confirmationDialog" persistent max-width="600px">
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="confirmationDialog = false" :loading="loader">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="confirmationDialog = false" :loading="loader">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <v-card-title>
            <span class="headline">Confirmation</span>
          </v-card-title>
          <div style="overflow: auto; height: calc(100vh - 180px - 60px)">
            <v-card-text>
              <v-flex xs12 sm12>
                <v-textarea class="mx-2" label="Remarks" v-model="remarks" prepend-icon="comment"></v-textarea>
              </v-flex>
              <v-flex xs10 sm10>
                <div>
                  <VueSignaturePad id="signature" width="100%" height="300px" ref="signaturePad" :options="sigopt" :customStyle="sigStyle" />
                </div>
              </v-flex>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="undoSignature" :loading="loader">Undo</v-btn>
            <v-btn color="primary darken-1" outline @click.native="saveConfirmSignature" :loading="loader" :disabled="editedItem.isConfirm==true">Confirm</v-btn>
            <v-btn color="primary darken-1" outline @click.native="clearSignature" :loading="loader">Clear</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :pagination.sync="pagination" :total-items="totalRows" :rows-per-page-items="rowsPerPageItems" :loading="gridloader" @update:pagination="onUpdatePagination" class="elevation-1">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.typeOfStockName }}</td>
          <td class="text-xs-left">{{ props.item.sampleChitNo }}</td>
          <td class="text-xs-left">{{ props.item.dateBy | formatDate }}</td>
          <td class="text-xs-left">{{ props.item.requestByName }}</td>
          <td class="text-xs-left">{{ props.item.inventoryTypeName }}</td>
          <td class="text-xs-left">{{ props.item.classComCustomerName }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>
          <td class="justify-center layout px-0">
            <!-- <v-icon small class="mr-2" @click="fileAttachments(props.item)">attach_file</v-icon> -->
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)" :disabled="props.item.isConfirm==true">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="loadPagingData">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <v-dialog v-model="companydialog" max-width="400px">
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="companydialog = false" :loading="loader">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="companydialog = false" :loading="loader">
              <v-icon color="white">close</v-icon>
            </v-btn>
            <span>close</span>
          </v-tooltip>
        </v-toolbar>
        <classification-company-add ref="refClassificationCompanyAdd"></classification-company-add>
      </v-card>
    </v-dialog>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import {

    getSampleRequestForDoctorHeaderData,
    createSampleRequestForDoctorHeader,
    updateSampleRequestForDoctorHeader,
    deleteSampleRequestForDoctorHeader,
  } from "@/api/SampleRequestForDoctorHeader";
  import { getCompanyListingCompanyType } from "@/api/companyListing";
  import moment from "moment";
  import { getData } from "@/api/paggedapi";
  import search from "@/search";
  import GlobalMessage from "@/constant";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getInventoryTypeForMovedStock } from "@/api/inventoryType";
  import SampleRequestforDoctorsLine from "@/pages/inventory/sampleRequestforDoctorsLine";
  import ClassificationCompanyAdd from "@/pages/inventory/ClassificationCompanyAdd";
  export default {
    components: {
      SampleRequestforDoctorsLine,
      ClassificationCompanyAdd,
    },
    data: () => ({
      companydialog: false,
      totalRows: 0,
      gridloader: false,
      dialog: false,
      loader: false,
      gridloader: false,
      search: "",
      typeOfStockItems: [],
      inventoryTypeItems: [],
      classComCustomerItems: [],
      screenId: "SAMDOC001",
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "Close", value: 2 },
      ],
      snackbar: false,
      snackbarMessage: "",
      timeout: 2000,
      y: "top",
      dialog: false,
      loader: false,
      filterFields: [
        "TypeOfStock.Value",
        "SampleChitNo",
        "InventoryType.Name",
        "AddedByUser.UserName",
        "RequestBy.UserName",
        "ClassComCustomer.CompanyName",
        "ModifiedByUser.UserName",
      ],
      headers: [
        { text: "Type Of Stock", value: "typeOfStockName", align: "left" },
        { text: "Sample Chit No", value: "sampleChitNo", align: "left" },
        { text: "Date By", value: "dateBy", align: "left" },
        { text: "Request By", value: "requestByName", align: "left" },
        { text: "Inventory Type", value: "inventoryTypeName", align: "left" },
        { text: "Customer", value: "classComCustomerName", align: "left" },
        { text: "Modified By", value: "addedByUser", align: "left" },
        { text: "Modified Date", value: "addedDate", align: "left" },
        { text: "Action", value: "Action", align: "left", sortable: false },
      ],
      json_fields: {
        "Type Of Stock": "typeOfStockName",
        "Sample Chit No": "sampleChitNo",
        "Date By": "dateBy",
        "Request By": "requestByName",
        "Inventory Type": "inventoryTypeName",
        Customer: "classComCustomerName",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate",
      },
      gridItems: [],
      sigopt: {
        minWidth: 2.0,
      },
      sigStyle: {
        border: "1px black solid",
      },
      editedIndex: -1,
      selectedItem: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
       
      },
      remarks: "",
      signature: [],
      confirmationDialog: false,
      editedItem: {
        valid: false,
        sampleRequestForDoctorHeaderId: -1,
        ProfileId: null,
        typeOfStockId: null,
        sampleChitNo: "",
        dateBy: "",
        requestById: null,
        inventoryTypeId: null,
        classComCustomerId: null,
        purpose: "",
        addedByUserID: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserID: null,
        modifiedDate: new Date(),
        screenId: "",
        requestByName: "",
        remarks: "",
        signature: null,
        isConfirm: false,
      },
      defaultItem: {
        valid: false,
        sampleRequestForDoctorHeaderId: -1,
        ProfileId: null,
        typeOfStockId: null,
        sampleChitNo: "",
        dateBy: "",
        requestById: null,
        inventoryTypeId: null,
        classComCustomerId: null,
        purpose: "",
        addedByUserID: null,
        addedDate: new Date(),
        statusCodeID: 1,
        statusCode: "Active",
        modifiedByUserID: null,
        modifiedDate: new Date(),
        screenId: "",
        requestByName: "",
        remarks: "",
        signature: null,
        isConfirm: false,
      },
      searchItem: { action: "", id: null, searchString: "searchString" },
    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Movement Of Stock Out"
          : "Edit Movement Of Stock Out";
      },
      inventoryTypeRules () {
        return [(v) => !!v || "Inventory Type is required field"];
      },
      typOfStockRules () {
        return [(v) => !!v || "Type Of Stock is required field"];
      },
      customerRules () {
        return [(v) => !!v || "Customer is required field"];
      },
      loadPagingKey () {
        return {
          // bind to hotkey
          enter: this.loadPagingData,
        };
      },
    },
    mounted () {
      this.pagination.sortBy="";
      this.pagination.sortBy="AddedDate";
      this.pagination.descending= true;
      this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      search.pageSize = this.$store.state.auth.pageSize;
    },
    created () {
      this.initialize();
      window.getApp.$on("CLOSE_CUSTOMER_DIALOG", () => {
        this.companydialog = false;
      });
      window.getApp.$on(
        "LOAD_CUSTOMER_DIALOG",
        (classComCustomerItems, classComCustomerId) => {
          console.log(classComCustomerItems);
          this.classComCustomerItems = classComCustomerItems;
          this.editedItem.classComCustomerId = classComCustomerId;
        }
      );
    },
    beforeDestroy () {
      window.getApp.$off("CLOSE_CUSTOMER_DIALOG");
      window.getApp.$off("LOAD_CUSTOMER_DIALOG");
    },
    methods: {
      initialize () { },
      loadDropDown () {
        this.loader = true;
        getApplicationMasterDetailByType(296)
          .then((response) => {
            this.typeOfStockItems = response.data;
            this.loader = false;
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        this.loadCustomer();
        getInventoryTypeForMovedStock("")
        .then((response) => {
          this.inventoryTypeItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      },
      loadCustomer () {
        getCompanyListingCompanyType("customer")
          .then((response) => {
            this.classComCustomerItems = response.data;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      clickCompanyAdd () {
        this.companydialog = true;
        //setTimeout(() => {
        this.$refs.refClassificationCompanyAdd.initialize();
         
        //}, 300);
      },
      selecttypeOfStockItems (value) { },
      close () {
        this.dialog = false;
        this.loadPagingData();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      editItem (item) {
        this.loadDropDown();
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        setTimeout(() => {
          this.dialog = true;
        }, 500);
        this.remarks = item.remarks;
        this.signature = item.signature;
        this.clearSignature();
        this.loadLines(item.isConfirm==true?true:false);
      },
      loadLines (status) {
        this.$refs.refSampleRequestforDoctorsLine.sampleRequestForDoctorHeaderId = this.editedItem.sampleRequestForDoctorHeaderId;
        this.$refs.refSampleRequestforDoctorsLine.inventoryTypeId = this.editedItem.inventoryTypeId;
        this.$refs.refSampleRequestforDoctorsLine.enableAddButton = status;
        this.$refs.refSampleRequestforDoctorsLine.isConfirm=this.editedItem.isConfirm;
        this.$refs.refSampleRequestforDoctorsLine.initialize();
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteSampleRequestForDoctorHeader(this.editedItem)
          .then((response) => {
            this.loader = false;
            if (response != undefined) {
              this.add();

              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
              this.loadPagingData();
            }
          })
          .catch((error) => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {
        getSampleRequestForDoctorHeaderData(this.searchItem)
          .then((response) => {
            if (response.data.sampleRequestForDoctorHeaderId != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map((item) => item.sampleRequestForDoctorHeaderId)
                .indexOf(response.data.sampleRequestForDoctorHeaderId);
              this.editedIndex = index;
              this.selecttypeOfStockItems(this.editedItem.typeOfStockId);
             this.loadLines(this.editedItem.isConfirm==true?true:false);
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No Records to view");
            }
          })
          .catch((error) => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.id = this.editedItem.sampleRequestForDoctorHeaderId;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.id = this.editedItem.sampleRequestForDoctorHeaderId;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.id = this.editedItem.sampleRequestForDoctorHeaderId;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.id = this.editedItem.sampleRequestForDoctorHeaderId;
        this.toolfunction();
      },

      add () {
        this.loadDropDown();
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedItem.requestByName = this.$store.state.auth.userName;
        this.editedItem.requestById = this.$store.state.auth.userId;
        this.editedItem.dateBy = moment(new Date()).format(
          GlobalMessage.DATETIMEFORMAT
        );
        this.editedIndex = -1;
        this.remarks = "";
        this.signature = null;
        this.clearSignature();
        this.loadLines(true);
      },

      deleterow () {
        this.$refs.formdeleteConfirmationDialog.openDialog();
      },
      formDeleteItem () {
        this.$refs.formdeleteConfirmationDialog.close();
        // this.loader = true;
        let index = this.editedIndex;

        deleteSampleRequestForDoctorHeader(this.editedItem)
          .then(() => {
            this.add();
            this.gridItems.splice(index, 1);
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch((error) => {
            //this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      getDataFromApi (pageSize) {
        this.pagination.rowsPerPage = pageSize;
        search.pageSize = pageSize;
        this.loadPagingData();
      },
      loadPagingData () {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = this.pagination.page;
        search.sortCol = "AddedDate";
        console.log("Pagination", this.pagination);
        search.sortBy = this.pagination.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetSampleRequestForDoctorHeader";
        search.pageCount = 1;
        this.pagination.page = 1;
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      onUpdatePagination (args) {
        search.filterFields = this.filterFields;
        search.descending = true;
        search.pageCount = args.page;
        search.pageSize = args.rowsPerPage;
        if (args.sortBy == "typeOfStockName") {
          search.sortCol = "TypeOfStock.Value";
        } else if (args.sortBy == "sampleChitNo") {
          search.sortCol = "SampleChitNo";
        } else if (args.sortBy == "dateBy") {
          search.sortCol = "DateBy";
        } else if (args.sortBy == "requestByName") {
          search.sortCol = "RequestBy.UserName";
        } else if (args.sortBy == "inventoryTypeName") {
          search.sortCol = "InventoryType.Name";
        } else if (args.sortBy == "classComCustomerName") {
          search.sortCol = "ClassComCustomer.CompanyName";
        } else if (args.sortBy == "addedByUser") {
          search.sortCol = "AddedByUser.UserName";
        } else if (args.sortBy == "addedDate") {
          search.sortCol = "AddedDate";
        }   if(args.sortBy!="AddedDate")
      {
        search.sortCol = "SampleRequestForDoctorHeaderId";
       
      }
        search.sortBy = args.descending == true ? "desc" : "asc";
        search.searchString = this.search;
        search.methodName = "GetSampleRequestForDoctorHeader";
        console.log("Pagination", args);
        this.gridloader = true;
        getData(search)
          .then((response) => {
            if (response.data.code == 200) {
              this.gridItems = response.data.result;
              this.totalRows = response.data.pagination.totalPages;
            } else {
              window.getApp.$emit("APP_API_ERROR", response.data.message);
            }
            this.gridloader = false;
          })
          .catch((error) => {
            this.gridloader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },
      saveSignature () {
        const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
        this.signature = data.split(",")[1];
      },
      clearSignature () {
        this.$refs.signaturePad.clearSignature();
      },
      saveConfirmSignature () {
        const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
        this.signature = data;
        this.editedItem.remarks = this.remarks;
        if (data != undefined) {
          this.editedItem.signature = this.signature;
        }
        this.editedItem.isConfirm = true;
        this.save();
      },
      undoSignature () {
        this.$refs.signaturePad.undoSignature();
      },
      onConfirmation () {
        this.confirmationDialog = true;
        this.$nextTick(() => {
          this.$refs.signaturePad.resizeCanvas();
        });
      },
      save () {
        if (this.$refs.sampleform.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          this.editedItem.screenId = this.screenId;
          if (this.editedItem.sampleRequestForDoctorHeaderId > 0) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserID = this.$store.state.auth.userId;

            updateSampleRequestForDoctorHeader(this.editedItem)
              .then((response) => {
                Object.assign(this.gridItems[index], response.data);
                this.loader = false;
                this.editedItem.sampleChitNo = response.data.sampleChitNo;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
                this.loadLines(false);
              })
              .catch((error) => {
                this.loader = false;
                window.getApp.$emit("APP_API_ERROR", error);
              });
          } else {
            this.editedItem.addedByUserID = this.$store.state.auth.userId;
            createSampleRequestForDoctorHeader(this.editedItem)
              .then((response) => {
                this.loader = false;
                if (response != undefined && response.data != null) {
                  this.gridItems.push(response.data);
                  this.editedItem = response.data;
                  this.editedItem.sampleChitNo = response.data.sampleChitNo;
                  this.editedItem.sampleRequestForDoctorHeaderId =
                    response.data.sampleRequestForDoctorHeaderId;
                  let index = this.gridItems
                    .map((item) => item.sampleRequestForDoctorHeaderId)
                    .indexOf(response.data.sampleRequestForDoctorHeaderId);
                  this.editedIndex = index;
                  this.loadLines(false);
                  window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                }
              })
              .catch((error) => {
                this.loader = false;
                //window.getApp.$emit("APP_API_ERROR", error);
              });
          }
        } else {
          window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
        }
      },
    },
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }

   #signature {
     border: double 3px transparent;
     border-radius: 5px;
     background-image: linear-gradient(white, white), radial-gradient(circle at top left, #4bc5e8, #9f6274);
     background-origin: border-box;
     background-clip: content-box, border-box;
   }
</style>   