<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>

      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :close-on-content-click="false"
          :nudge-right="40"
          lazy
          v-model="allmenuSearch"
          transition="scale-transition"
          offset-y
          max-width="500px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>
          <v-card>
            <v-container fluid>
              <v-layout row wrap>
                <v-flex lg12 sm12>
                  <div class="mt-3 title">Search and Filter</div>
                </v-flex>
                <v-flex xs12 sm12>
                  <div class="mt-3 title">Batch No</div>
                  <v-autocomplete
                    :loading="loader"
                    chips
                    flat
                    label="Batch No"
                    prepend-icon="assistant"
                    :items="batchNoItems"
                    v-model="searchItem.batchNos"
                    color="blue"
                    item-text="batchNo"
                    item-value="batchNo"
                    multiple
                    :search-input.sync="searchBatchNo"
                    @change="selectLocationType"
                  >
                    <template slot="selection" slot-scope="data">
                      <v-chip
                        :selected="data.selected"
                        close
                        class="chip--select-multi"
                        @input="removbatchNoItems(data.item)"
                        >{{ data.item.batchNo }}</v-chip
                      >
                    </template>
                    <template slot="item" slot-scope="data">
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-tile-content
                          v-text="data.item"
                        ></v-list-tile-content>
                      </template>
                      <template v-else>
                        <v-list-tile-content>
                          <v-list-tile-title
                            v-html="data.item.batchNo"
                          ></v-list-tile-title>
                        </v-list-tile-content>
                      </template>
                    </template>
                  </v-autocomplete>
                </v-flex>
                <v-flex xs12 sm12>
                  <v-menu
                    ref="tillDateDue"
                    v-model="tillDateDue"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    min-width="290px"
                  >
                    <v-text-field
                      slot="activator"
                      :value="tillDateFormated"
                      label="Till Date"
                      prepend-icon="event"
                      clearable
                      @click:clear="clearabletillDate"
                      readonly
                    ></v-text-field>
                    <v-date-picker
                      v-model="searchItem.tillDate"
                      @change="tillDateDue = false"
                    >
                    </v-date-picker>
                  </v-menu>
                </v-flex>
              </v-layout>
            </v-container>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" outline @click.native="selectSearch"
                >Search</v-btn
              >
              <v-btn outline color="primary" @click="allmenuSearch = false"
                >Cancel</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter</span>
      </v-tooltip>
      <v-btn icon="" @click="selectSearch()">
        <v-icon icon> refresh </v-icon>
      </v-btn>
      <v-btn outline color="primary" @click="generateQrCode()">
        Generate QR Code
      </v-btn>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="ProductBatchReport.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
    </v-toolbar>
    <v-data-table
      :loading="loading"
      v-model="selected"
      :headers="headers"
      :items="gridItems"
      :search="search"
      select-all
      item-key="productionBatchInformationLineID"
      class="elevation-1"
      default-sort="productDescription:asc"
      :rows-per-page-items="rowsPerPageItems"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr :active="props.selected" @click="props.selected = !props.selected">
          <td>
            <v-checkbox
              :input-value="props.selected"
              primary
              hide-details
            ></v-checkbox>
          </td>
          <td class="text-xs-left">{{ props.item.productDescription }}</td>
          <td class="text-xs-left">{{ props.item.batchNo }}</td>
          <td class="text-xs-left">
            {{ props.item.manufacturingDate | monthYear }}
          </td>
          <td class="text-xs-left">{{ props.item.expiryDate | monthYear }}</td>
          <td class="text-xs-left">
            {{ props.item.disposalDate | monthYear }}
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="selectSearch"
          >Record not exist.Refresh again in while time.</v-btn
        >
      </template>
    </v-data-table>
    <v-dialog
      v-model="dialog"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar card dense color="primary">
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="close">
              <v-icon color="white">reply</v-icon>
            </v-btn>
            <span>Go Back</span>
          </v-tooltip>
          <v-tooltip bottom>
            <v-btn icon slot="activator" @click.native="printPage">
              <v-icon color="white">print</v-icon>
            </v-btn>
            <span>Print</span>
          </v-tooltip>
          <v-spacer></v-spacer>
          <v-tooltip bottom>
            <v-btn icon slot="activator">
              <v-icon color="white" @click.native="close">close</v-icon>
            </v-btn>
            <span>Close</span>
          </v-tooltip>
        </v-toolbar>
        <div class="task-sub--scroll">
          <v-card-text>
            <v-container fluid grid-list-md>
              <v-layout row wrap>
                <v-flex
                  v-for="items in selected"
                  :key="items.productionBatchInformationLineID"
                  xs12
                  sm5
                >
                  <v-card max-height="600">
                    <v-card-text class="text--primary">
                      <v-flex xs12 sm12 style="text-align: center">
                        <vue-qr
                          :text="items.batchNo"
                          :correctLevel="3"
                          :size="200"
                        ></vue-qr>
                        <!--                                         <qrcode :value="items.batchNo" renderAs="svg" :options="{ width: 150 }"></qrcode>
 -->
                      </v-flex>

                      <table cellspacing="15">
                        <tr>
                          <td>Product Desc</td>
                          <td>{{ items.productDescription }}</td>
                        </tr>
                        <tr>
                          <td>Batch No</td>
                          <td>{{ items.batchNo }}</td>
                        </tr>
                        <tr>
                          <td>Mfg Date</td>
                          <td>{{ items.manufacturingDate | monthYear }}</td>
                        </tr>
                        <tr>
                          <td>Exp Date</td>
                          <td>{{ items.expiryDate | monthYear }}</td>
                        </tr>
                        <tr>
                          <td>Disposal Date</td>
                          <td>{{ items.disposalDate | monthYear }}</td>
                        </tr>
                      </table>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <div id="printMe" style="display: none">
                  <v-flex
                    v-for="items in selected"
                    :key="items.productionBatchInformationLineID"
                    xs12
                    sm5
                    style="
                      height: 76.2mm;
                      width: 88.89mm;
                      page-break-after: always;
                    "
                  >
                    <v-flex xs12 sm12>
                      <vue-qr
                        :text="items.batchNo"
                        :correctLevel="3"
                        :size="200"
                      ></vue-qr>
                      <!--                                         <qrcode :value="items.batchNo" renderAs="svg" :options="{ width: 150 }"></qrcode>
 -->
                    </v-flex>
                    <v-flex xs12 sm12>
                      <table cellspacing="15">
                        <tr>
                          <td>Product Desc</td>
                          <td>{{ items.productDescription }}</td>
                        </tr>
                        <tr>
                          <td>Batch No</td>
                          <td>{{ items.batchNo }}</td>
                        </tr>
                        <tr>
                          <td>Mfg Date</td>
                          <td>{{ items.manufacturingDate | monthYear }}</td>
                        </tr>
                        <tr>
                          <td>Exp Date</td>
                          <td>{{ items.expiryDate | monthYear }}</td>
                        </tr>
                        <tr>
                          <td>Disposal Date</td>
                          <td>{{ items.disposalDate | monthYear }}</td>
                        </tr>
                      </table>
                    </v-flex>
                  </v-flex>
                </div>
              </v-layout>
            </v-container>
          </v-card-text>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import {
  getProductionBatchNos,
  getProductionBatchQRCodeReport,
} from "@/api/productionbatchInformation";
import GlobalMessage from "@/constant";
import moment from "moment";
import VueQr from "vue-qr";
export default {
  components: {
    VueQr,
  },
  computed: {
    tillDateFormated() {
      return this.searchItem.tillDate
        ? moment(this.searchItem.tillDate).format(GlobalMessage.DATEFORMAT)
        : "";
    },
  },
  created() {
    this.loadDropDownList();
    this.selectSearch();
  },
  data: () => ({
    loading: false,
    tillDateDue: false,
    searchItem: {
      tillDate: null,
      batchNos: [],
    },
    dialog: false,
    search: "",
    searchBatchNo: "",
    batchNoItems: [],
    loader: false,
    allmenuSearch: false,
    allsearch: "",
    gridItems: [],
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    selected: [],
    headers: [
      { text: "Product Desc", value: "productDescription", align: "left" },
      { text: "Batch No", value: "batchNo", align: "left" },
      { text: "Mfg Date", value: "manufacturingDate", align: "left" },
      { text: "Exp Date", value: "expiryDate", align: "left" },
      { text: "Disposal Date", value: "disposalDate", align: "left" },
    ],
    json_fields: {
      "Product Desc": "productDescription",
      "Batch No": "batchNo",
      "Product Code": "productCode",
      "Mfg Date": "manufacturingDate",
      "Exp Date": "expiryDate",
      "Disposal Date": "disposalDate",
    },
  }),
  methods: {
    toggleAll() {
      if (this.selected.length) this.selected = [];
      else this.selected = this.gridItems.slice();
    },
    loadDropDownList() {
      this.loader = true;
      getProductionBatchNos()
        .then((response) => {
          this.batchNoItems = response.data;
          this.loader = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    removbatchNoItems(item) {
      const index = this.searchItem.batchNos.indexOf(item.batchNo);
      if (index >= 0) this.searchItem.batchNos.splice(index, 1);
    },
    clearabletillDate() {
      this.searchItem.tillDate = null;
    },
    selectLocationType() {
      this.searchBatchNo = "";
    },
    close() {
      this.dialog = false;
    },
    generateQrCode() {
      if (this.selected.length > 0) {
        this.dialog = true;
      } else {
        window.getApp.$emit("APP_API_ERROR", "Select Product Check Box");
      }
    },
    selectSearch() {
      this.loading = true;
      getProductionBatchQRCodeReport(this.searchItem)
        .then((response) => {
          this.gridItems = response.data;
          this.loader = false;
          this.allmenuSearch = false;
          this.loading = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    printPage() {
      setTimeout(() => {
        this.$htmlToPaper("printMe");
      }, 400);
    },
  },
};
</script>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 30px - 60px);
 }
</style>
<style>
@media print {
  @page {
    margin: 0;
  }
  p {
    page-break-after: always;
  }
}
</style>

