<template>
  <v-container fluid>
    <v-card>
      <app-section-loader :loading="loader"></app-section-loader>
      <v-row align="center" justify="center">
        <v-card-title>{{ editedItem.formName }}</v-card-title>
      </v-row>
      <v-row>
        <v-flex sm xs="2"></v-flex>
        <v-flex sm xs="10">
          <v-form>
            <!-- FORM-BASE-COMPONENT -->
            <v-form-base :model="model" :schema="schemas" :col="6" />
          </v-form>
        </v-flex>
      </v-row>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          v-if="masterformDetailId == -1"
          @click="save"
          :loading="loader"
          >Save</v-btn
        >
        <v-btn
          color="primary"
          v-if="masterformDetailId > 0"
          @click="save"
          :loading="loader"
          >Re-Submit</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-container>
</template>
<script>
import GlobalMessage from "@/constant";
import moment from "moment";
import {
  getMasterFormBySessionId,
  createMasterFormLine,
  getMasterFormLineItem,
  updateMasterFormLine,
} from "@/api/masterForm";
import Vue from "vue";
import VFormBase from "vuetify-form-base";
import AppSectionLoader from "../AppSectionLoader/AppSectionLoader.vue";
Vue.use(VFormBase);
export default {
  components: {
    VFormBase,
    AppSectionLoader,
  },
  data: () => ({
    editedItem: {
      valid: false,
      masterFormId: -1,
      formName: "",
      formSchema: [],
      formModel: {},
      formItems: [],
      sessionId: "",
      statusCodeId: 1,
      addedByUserId: null,
      addedDate: new Date(),
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
    defaultItem: {
      valid: false,
      masterFormId: -1,
      formName: "",
      formSchema: [],
      formModel: {},
      formItems: [],
      sessionId: "",
      statusCodeId: 1,
      addedByUserId: null,
      addedDate: new Date(),
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
    editLineItem: {
      valid: false,
      masterFormId: -1,
      masterFormData: "",
      userId: null,
      sessionId: "",
      statusCodeId: 1,
      addedByUserId: null,
      addedDate: new Date(),
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
    defaultLineItem: {
      valid: false,
      masterFormId: -1,
      masterFormData: "",
      userId: null,
      sessionId: "",
      sessionId: "",
      statusCodeId: 1,
      addedByUserId: null,
      addedDate: new Date(),
      modifiedByUserId: null,
      modifiedDate: new Date(),
    },
    loader: false,
    schemas: [],
    model: {},
    formId: null,
    masterformDetailId: -1,
  }),
  created() {
    console.log("Query String", this.$route.query);
    if (this.$route.query.formId != undefined) {
      console.log("Query String", this.$route.query);

      if (this.$store.state.auth.userId <= 0) {
        this.$router.push({
          name: "login",
          query: { formId: this.$route.query.formId },
        });
      } else {
        this.formId = this.$route.query.formId;
        this.initialize();
      }
    }
  },
  computed: {
    formTitle() {
      return "Survey Form";
    },
  },
  methods: {
    initialize() {
      this.loader = true;
      getMasterFormBySessionId(this.formId)
        .then((response) => {
          this.editedItem = response.data;
          this.schemas = JSON.parse(this.editedItem.formSchema);
          this.loader = true;
          getMasterFormLineItem(
            this.editedItem.sessionId,
            this.$store.state.auth.userId
          )
            .then((response1) => {
              if (response1.data != "") {
                console.log("Data", response1.data);
                this.masterformDetailId = response1.data.masterFormDetailId;
                this.editLineItem = response1.data;
                this.model = JSON.parse(response1.data.masterFormData);
                this.loader = false;
              }
            })
            .catch((error) => {
              window.getApp.$emit("APP_API_ERROR", error);
              this.loader = false;
            });
          this.loader = false;
        })
        .catch((error) => {
          window.getApp.$emit("APP_API_ERROR", error);
          this.loader = false;
        });
    },
    save() {
      console.log("Model", this.model);
      if (this.masterformDetailId == -1) {
        this.editLineItem.masterFormId = this.editedItem.masterFormId;
        this.editLineItem.masterFormData = JSON.stringify(this.model);
        this.editLineItem.userId = this.$store.state.auth.userId;
        this.editLineItem.sessionId = this.formId;
        this.editLineItem.statusCodeId = 1;
        this.editLineItem.addedByUserId = this.$store.state.auth.userId;
        this.loader = true;
        createMasterFormLine(this.editLineItem)
          .then((response) => {
            this.editLineItem = response.data;
            this.model = JSON.parse(this.editLineItem.masterFormData);
            this.loader = false;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
            this.loader = false;
          });
      } else {
        this.loader = true;
        this.editLineItem.masterFormData = JSON.stringify(this.model);
        updateMasterFormLine(this.editLineItem)
          .then((response) => {
            this.editLineItem = response.data;
            this.model = JSON.parse(this.editLineItem.masterFormData);
            this.loader = false;
          })
          .catch((error) => {
            window.getApp.$emit("APP_API_ERROR", error);
            this.loader = false;
          });
      }
    },
  },
};
</script>
