<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-menu
          slot="activator"
          :nudge-right="40"
          :close-on-content-click="false"
          lazy
          v-model="searchmenu"
          transition="scale-transition"
          offset-y
          full-width
          min-width="140px"
        >
          <v-btn slot="activator" icon>
            <v-icon>filter_list</v-icon>
          </v-btn>

          <v-card>
            <v-layout row wrap>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Search and Filter</v-toolbar-title>
              </v-toolbar>

              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  label="Contract Customer Name"
                  prepend-icon="notes"
                  clearable
                  v-model="searchSales.customerID"
                  :items="customerItems"
                  item-text="companyListingName"
                  item-value="companyListingID"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  clearable
                  label="Distribution Customer Name"
                  prepend-icon="notes"
                  v-model="searchSales.distributionCustomerID"
                  :items="distributionCustomerItems"
                  item-text="distributionSalesCustomerName"
                  item-value="companyListingID"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  clearable
                  label="Purchase Order Issue To"
                  prepend-icon="notes"
                  v-model="searchSales.companyID"
                  :items="companyItems"
                  item-text="description"
                  item-value="plantID"
                  @change="selectSearchPlant(value)"
                ></v-autocomplete>
              </v-flex>
              <v-flex xs12 sm4>
                <v-autocomplete
                  label="Order No / Contract No"
                  prepend-icon="description"
                  v-model="searchSales.salesOrderEntryId"
                  :items="orderNoItems"
                  item-text="orderNo"
                  chips
                  flat
                  clearable
                  item-value="salesOrderEntryID"
                ></v-autocomplete>
              </v-flex>

              <v-flex xs12 sm4>
                <v-autocomplete
                  :loading="loader"
                  chips
                  flat
                  clearable
                  label="Product No"
                  prepend-icon="notes"
                  v-model="searchSales.itemCustomerID"
                  :items="soCustomerItems"
                  item-text="no"
                  item-value="socustomersItemCrossReferenceId"
                ></v-autocomplete>
              </v-flex>

              <v-flex xs12 sm4>
                <v-autocomplete
                  label="PO Number"
                  chips
                  flat
                  clearable
                  prepend-icon="description"
                  v-model="searchSales.ponumberId"
                  :items="poNumberItems"
                  item-text="poNumber"
                  item-value="contractDistributionSalesEntryLineID"
                ></v-autocomplete>
              </v-flex>
            </v-layout>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn outline color="primary" @click="searchClick">Search</v-btn>
              <v-btn outline color="primary" @click="searchmenuClear">Clear</v-btn>
              <v-btn outline color="primary" @click="searchmenuClose">Close</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
        <span>Filter combination of search queries.</span>
      </v-tooltip>

      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="BlanketOrder.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <!-- hide-overlay transition="dialog-bottom-transition" -->
      <v-dialog v-model="dialog" fullscreen>
        <v-btn class="pull-right" slot="activator" icon @click="addFormDialog">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" :loading="saveloader" @click.native="saveClick">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Sales Adhoc</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="deleterow"
              >
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="first"
              >
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="previous"
              >
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="next"
              >
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn
                icon
                slot="activator"
                :disabled="editedItem.salesOrderEntryID < 0"
                @click.native="last"
              >
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <!-- :disabled="uploadbtn" -->
            <v-tooltip bottom :disabled="editedItem.sessionID == null">
              <v-btn
                :disabled="editedItem.sessionID == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card>
            <v-card color="primary light lighten-5">
              &nbsp;&nbsp;&nbsp; &nbsp;
              <span class="headline">{{ formTitle }}</span>
            </v-card>
          </v-card>
          <div style="overflow: auto; height: calc(90vh - 70px)">
            <div class="titlecard">
              <v-card-text class="borderlayout">
                <v-card class="borderlayout" color="primary lighten-5">
                  <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                    <v-card class="borderlayout">
                      <v-layout row wrap>
                        <v-flex xs12 sm12>
                          <v-layout row wrap class="layoutbg">
                            <v-flex xs12 sm4>
                              <v-text-field
                                v-model="editedItem.profileReferenceNo"
                                label="Document No"
                                prepend-icon="select_all"
                                readonly
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                              <v-text-field
                                v-model="profileName"
                                label="Profile Name"
                                prepend-icon="select_all"
                                readonly
                              ></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm4>
                              <v-menu
                                v-model="dateOfOrderMenu"
                                :close-on-content-click="false"
                                full-width
                                min-width="290"
                              >
                                <v-text-field
                                  slot="activator"
                                  :value="dateOfOrderFormated"
                                  label="Date of Order"
                                  prepend-icon="today"
                                  readonly
                                ></v-text-field>
                                <v-date-picker
                                  v-model="editedItem.dateOfOrder"
                                  @change="dateOfOrderMenu = false"
                                ></v-date-picker>
                              </v-menu>
                            </v-flex>
                            <v-flex xs12 sm4>
                              <v-autocomplete
                                :loading="loader"
                                chips
                                flat
                                prepend-icon="notes"
                                label="Purchase Order Issue To"
                                v-model="editedItem.companyID"
                                :items="companyItems"
                                item-text="description"
                                item-value="plantID"
                              ></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 sm4>
                              <v-autocomplete
                                :loading="loader"
                                chips
                                flat
                                label="Order By"
                                prepend-icon="notes"
                                v-model="editedItem.orderByID"
                                :items="customerorTenderAgencyItems"
                                item-text="codeValue"
                                item-value="codeID"
                                @change="selectOrderBy"
                              ></v-autocomplete>
                            </v-flex>
                            <v-flex xs12 sm4>
                              <v-autocomplete
                                :loading="loader"
                                chips
                                flat
                                label="Customer Name"
                                prepend-icon="notes"
                                v-model="editedItem.customerID"
                                :items="customerItems"
                                item-text="blanketName"
                                item-value="companyListingID"
                                @change="selectCustomer"
                              >
                                <template slot="selection" slot-scope="data">
                                  <v-chip :selected="data.selected">
                                    {{
                                    data.item.companyListingName
                                    }}
                                  </v-chip>
                                </template>
                              </v-autocomplete>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <v-flex xs12 sm12>
                          <v-layout row wrap>
                            <v-flex xs12 sm8>
                              <v-layout row wrap class="layoutbg">
                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-model="editedItem.ponumber"
                                    prepend-icon="notes"
                                    label="PO Number"
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                  <v-menu
                                    v-model="startDateMenu"
                                    :close-on-content-click="false"
                                    full-width
                                    min-width="290"
                                  >
                                    <v-text-field
                                      slot="activator"
                                      :value="validFromFormated"
                                      label="Order Period From"
                                      prepend-icon="today"
                                      readonly
                                    ></v-text-field>
                                    <v-date-picker
                                      v-model="editedItem.orderPeriodFrom"
                                      @change="startDateMenu = false"
                                      type="month"
                                    ></v-date-picker>
                                  </v-menu>
                                </v-flex>
                                <v-flex xs12 sm6>
                                  <v-menu
                                    v-model="endDateMenu"
                                    :close-on-content-click="false"
                                    full-width
                                    min-width="290"
                                  >
                                    <v-text-field
                                      slot="activator"
                                      :value="validEndFormated"
                                      label="Order Period To"
                                      prepend-icon="today"
                                      readonly
                                    ></v-text-field>
                                    <v-date-picker
                                      v-model="editedItem.orderPeriodTo"
                                      @change="endDateMenu = false"
                                      :min="editedItem.orderPeriodFrom"
                                      type="month"
                                    ></v-date-picker>
                                  </v-menu>
                                </v-flex>
                                <v-flex xs12 sm6>
                                  <span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;Is Multiple
                                    Quotation No?
                                  </span>
                                  <v-radio-group
                                    v-model="isMultipleQuatationNo"
                                    :rules="[(v) => !!v || 'This is required']"
                                    required
                                    prepend-icon="notes"
                                    row
                                    @change="selectMultipleQuatationNo"
                                  >
                                    <v-radio color="primary" label="Yes" value="true"></v-radio>
                                    <v-radio color="primary" label="No" value="false"></v-radio>
                                  </v-radio-group>
                                </v-flex>

                                <v-flex xs12 sm6>
                                  <v-text-field
                                    v-if="isMultipleQuatationNo == 'false'"
                                    v-model="editedItem.quotationNo"
                                    label="Quotation No"
                                    prepend-icon="select_all"
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                  <v-autocomplete
                                    label="Contract Status"
                                    prepend-icon="notes"
                                    v-model="editedItem.statusCodeID"
                                    :items="statusOptions"
                                    item-text="codeValue"
                                    item-value="codeID"
                                    chips
                                  ></v-autocomplete>
                                </v-flex>
                              </v-layout>
                            </v-flex>

                            <v-flex xs12 sm4>
                              <v-layout row wrap class="layoutbg">
                                <v-flex xs12 sm12>
                                  <v-text-field
                                    v-model="buyingThrough"
                                    label="Draw Stock From Company"
                                    prepend-icon="select_all"
                                    readonly
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12>
                                  <span
                                    v-if="editedItem.orderByID == 1402"
                                  >Tag Along With Tender Agency?</span>
                                </v-flex>

                                <v-flex xs12 sm12>
                                  <v-radio-group
                                    v-model="isTagAlongWithTenderAgency"
                                    v-if="editedItem.orderByID == 1402"
                                    :rules="[(v) => !!v || 'This is required']"
                                    required
                                    row
                                    @change="selectTagAlongAgency"
                                  >
                                    <v-radio color="primary" label="Yes" value="true"></v-radio>
                                    <v-radio color="primary" label="No" value="false"></v-radio>
                                  </v-radio-group>
                                </v-flex>
                                <v-flex xs12 sm12 v-if="isTagAlongWithTenderAgency == 'true'">
                                  <v-autocomplete
                                    :loading="loader"
                                    chips
                                    flat
                                    v-model="editedItem.blanketOrderNoId"
                                    prepend-icon="notes"
                                    label="Tag Along Contract No"
                                    :items="orderNoItems"
                                    item-text="orderNo"
                                    item-value="salesOrderEntryID"
                                    @change="selectOrderNo"
                                  ></v-autocomplete>
                                </v-flex>
                                <v-flex
                                  xs12
                                  sm12
                                  v-if="isTagAlongWithTenderAgency == 'true' && isMultipleProducts == true"
                                >
                                  <v-autocomplete
                                    :loading="loader"
                                    chips
                                    flat
                                    v-model="editedItem.productItemId"
                                    prepend-icon="notes"
                                    label="Item Description"
                                    :items="salesEntryProducts"
                                    item-text="description"
                                    item-value="purchaseItemSalesEntryLineID"
                                  ></v-autocomplete>
                                </v-flex>
                                <v-flex
                                  xs12
                                  sm12
                                  v-if="isTagAlongWithTenderAgency == 'true' && isMultipleProducts == false"
                                >
                                  <v-text-field
                                    v-model="editedItem.itemDescription"
                                    readonly
                                    prepend-icon="notes"
                                    label="Description"
                                  ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12>
                                  <v-text-field
                                    v-if="
                                      editedItem.orderByID == 1402 &&
                                      isTagAlongWithTenderAgency == 'true'
                                    "
                                    v-model="editedItem.itemUom"
                                    readonly
                                    prepend-icon="notes"
                                    label="Item Uom"
                                  ></v-text-field>
                                </v-flex>
                              </v-layout>
                            </v-flex>
                          </v-layout>
                        </v-flex>
                        <!-- <v-flex lg1 xs1 md1 d-flex > 
                    <v-divider vertical></v-divider>
                        </v-flex>-->
                        <v-flex xs12 sm12>
                          <br />
                        </v-flex>
                      </v-layout>
                    </v-card>
                  </v-form>
                </v-card>
              </v-card-text>
            </div>
            <v-card-text>
              <v-card color="primary lighten-5" class="borderlayout">
                <v-flex xs12 sm12>
                  <span class="headline">Purchase Item information</span>
                  <purchase-info-line ref="refpurchaseinfoLine"></purchase-info-line>
                </v-flex>
              </v-card>
            </v-card-text>
          </div>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="primary darken-1"
              :loading="saveloader"
              outline
              @click.native="saveClick"
            >Save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="changepricingdialog"
        fullscreen
        hide-overlay
        transition="dialog-bottom-transition"
      >
        <v-card flat>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="changepricingdialogsaveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="changepricingdialogsave">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="changepricingdialogadd">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>
                Create BlanketOrder - Transferchangepricing Quntity New
                Contract
              </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="changepricingdialogdeleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>

            <v-tooltip bottom>
              <v-btn
                :disabled="changepricinguploadbtn"
                slot="activator"
                flat
                icon
                color="primary"
                @click="changepricingdialogfileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="closechangepricingqty">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>

          <div style="overflow: auto; height: calc(100vh - 100px)">
            <v-card-text>
              <change-pricing ref="refchangepricing"></change-pricing>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="changepricingdialogsave"
            >save</v-btn>
            <v-btn
              outline
              color="primary"
              slot="activator"
              @click.native="closechangepricingqty"
            >Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="attachdialog" persistent max-width="900px">
        <attachment
          title="Blanket Order Entry Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          deleteAction="DeleteDocument"
          downloadAction="DownLoadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>

      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="loadPagingData()" v-hotkey="loadPagingKey">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>

    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table
      :headers="headers"
      :items="gridItems"
      :total-items="totalRows"
      class="elevation-1"
      :loading="gridloader"     
      :rows-per-page-items="rowsPerPageItems"
      @update:pagination="onUpdatePagination"
      :pagination.sync="pagination"
    >
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.profileReferenceNo }}</td>
          <td class="text-xs-left">{{ props.item.dateOfOrder | formatDate }}</td>

          <td class="text-xs-left">{{ props.item.companyName }}</td>
          <td class="text-xs-left">{{ props.item.customerName }}</td>
          <td class="text-xs-left">{{ props.item.orderByName }}</td>

          <!-- <td class="text-xs-left">{{ props.item.statusCode }}</td> -->
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate }}</td>

          <td class="justify-center layout px-0">
            <v-menu bottom right>
              <v-btn slot="activator" icon>
                <v-icon>more_vert</v-icon>
              </v-btn>
              <v-list>
                <v-list-tile
                  v-for="(item, i) in items"
                  :key="i"
                  @click="menuClick(i, props.item)"
                  ripple="ripple"
                  :target="item.target"
                  :disabled="menudisabled(item, props.item)"
                  rel="noopener"
                >
                  <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                  </v-list-tile-action>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
            <!-- <v-icon small class="mr-2" @click="fileAttachments(props.item)">attach_file</v-icon>
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>-->
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn
          color="primary"
          outline
           @click="loadPagingData"
        >Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog1"
      heading="Are You Sure You Want To Close?"
      message="Are You Sure You Want To Close? Files Not Updloaded"
      @onConfirm="fileconformationMessage"
    ></delete-confirmation-dialog>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import attachment from "@/components/Attachment/attachments";
import { getApplicationFormByScreenID } from "@/api/ApplicationForm";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getSalesOrderProfile } from "@/api/salesOrderEntry";
import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import { getDocumentProfileItems } from "@/api/documentProfile";
import { getPlants } from "@/api/plant";
import {
  getCompanyListings,
  getCompanyListingForBlanketEntry
} from "@/api/companyListing";
import { getCompanyListingsForDistributionInformation } from "@/api/contractDistributionInfo";

import {
  getSalesOrderEntryItems,
  getSalesOrderEntryData,
  createSalesOrderEntry,
  updateSalesOrderEntry,
  deleteSalesOrderEntry,
  getTagAlongOrderCustomer,
  uploadSalesOrderEntryDocuments,
  downLoadSalesOrderEntryDocument,
  getSalesOrderEntryDocument,
  deleteDocuments,
  getSalesOrderEntryItemById,
  getSalesOrderEntryUpdateSearch,
  getTenderAgencySalesOrders,
  getSalesOrderEntryItemsByType,
  getContractDistributionItemsAll,
  getCompanyListingsAll,
  getSalesOrderEntryItemsForDropDown
} from "@/api/salesOrderEntry";
//import UploadButton from "vuetify-upload-button";
import moment from "moment";
import { getProductBySalesId } from "@/api/BlanketOrder";
import SalesEntryDocument from "@/pages/SalesOrders/BlanketOrderEntry/BlanketOrderEntryDocument";
import {
  getSocustomersItemCrossReferenceAll,
  getNavItemsForSalesEntry
} from "@/api/purchaseItemSalesEntryLine";
import GlobalMessage from "@/constant";
import { getData } from "@/api/paggedapi";
import search from "@/search";
import ChangePricing from "@/pages/SalesOrders/BlanketOrderEntry/ChangePriceDuringTenderPeriod";
import PurchaseInfoLine from "@/pages/SalesOrders/BlanketOrderEntry/purchaseItemInformation";
export default {
  components: {
    //   "upload-btn": UploadButton,
    SalesEntryDocument,
    PurchaseInfoLine,
    attachment,
    ChangePricing
  },
  data: () => ({
    screenID: "SAL5026",
     totalRows: 0,
    salesOrderEntryID: -1,
    changepricinguploadbtn: true,
    changepricingdialog: false,
    startDateMenu: false,
    endDateMenu: false,
    dateOfOrderMenu: false,
    saveloader: false,
    orderNoItems: [],
    poNumberItems: [],
    salesEntryProducts: [],
    isWithOrderPeriod: "false",
    radioRules: [v => !!v || "This is required"],
    searchmenu: false,
    menuprodSearch: false,
    sortBy: "salesOrderEntryID",
    descending: true,
    isTagAlongWithTenderAgency: "false",
    searchFilter: "",
    enableisExtension: false,
    itemUom: "",
    itemDescription: "",
    isMultipleProducts: false,
    buyingThrough: "",
    tenderProfileId: null,
    customerProfileId: null,
    blanketOrderProfileId: null,
    blanketOrderProfileName: "",
    tenderProfileName: "",
    isMultipleQuatationNo: false,
    isAllowExtension: "",
    isExtensionInfoMultiple: "",
    isEachDistribution: "",
    customerProfileName: "",
    customerTenderItems: [],
    tagAlongCustomerList: [],
    tenderAgencySalesOrders: [],
    soCustomerItems: [],
    screenId: "SAL5026",
    applicationFormData: null,
    profileId: null,
    profileName: "",
    tenderAgencyField: false,
    schdAgreementNoEnable: false,
    tenderAgencyNoEnable: false,

    enableIsMultipleQuatation: true,
    enableAllowExtensionRadio: true,
    enableIsEachDistribution: false,
    enableisExtensionInfoMultiple: true,
    enableOrderPeriod: false,
    productloader: false,
    loader: false,
    gridloader: false,
    disableTypeOfOrder: false,
    profileItems: [],
    distributionCustomerItems: [],
    uploadbtn: true,
    sessionId: null,
    attachuploadedFiles: [],
    attachuploadedfileNames: [],
    showdownload: false,
    attachshowdownload: false,
    uploadedFileNames: [],
    files: new FormData(),
    attachfiles: new FormData(),
    attachdialog: false,
    quotationHistoryId: -1,
    dialog: false,
    search: "",
    loader: false,
    editedIndex: -1,
    searchTag: "",
    companyItems: [],
    customerorTenderAgencyItems: [],
    customerNameItems: [],
    customerItems: [],
    tenderAgencyItems: [],
    typeofOrderItems: [],
    productNoItems: [],
    navItemItems: [],
    quationUnits: [],
    extantionMonthsItems: [],

    gridItems: [],
    statusOptions: [],

    searchSales: {
      companyID: null,
      orderByID: 1651,
      customerID: null,
      tenderAgencyID: null,
      typeOfOrderID: null,
      itemCustomerID: null,
      tenderProductNoID: null,
      distributionCustomerID: null,
      typeOfSalesOrderId: 1651
    },
    editedItem: {
      salesOrderEntryID: -1,
      profileID: null,
      companyID: null,
      orderByID: 1402,
      typeOfSalesOrderId: 1651,
      customerID: null,
      tenderAgencyID: null,
      typeOfOrderID: null,
      tagAlongCustomerID: null,
      tagAlongTenderID: null,
      tagAlongTenderNoID: null,
      tagAlongCustomerList: [],
      tagAlongCustomerName: "",
      tagAlongOrderNo: "",
      orderNo: "",
      ponumber: "",
      quotationNo: "",
      itemUom: "",
      itemDescription: "",
      blanketItemId: null,
      isWithOrderPeriod: false,
      dateOfOrder: null,
      orderPeriodFrom: new Date().toISOString().substr(0, 7),
      orderPeriodTo: new Date().toISOString().substr(0, 7),
      isMultipleQuatationNo: false,
      isExtensionInfoMultiple: false,
      isAllowExtension: false,
      isEachDistribution: false,
      extensionMonth: 6,
      extensionQuantity: 25,
      sessionID: null,
      orderEntryType: "",
      profileReferenceNo: "",
      statusCodeID: 1,
      addedByUserID: null,
      blanketOrderNoId: null,
      productItemId: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
    defaultItem: {
      salesOrderEntryID: -1,
      profileID: null,
      companyID: null,
      orderByID: 1402,
      typeOfSalesOrderId: 1651,
      customerID: null,
      typeOfOrderID: null,
      tagAlongCustomerID: null,
      tagAlongTenderID: null,
      tagAlongTenderNoID: null,
      tagAlongCustomerName: "",
      tagAlongOrderNo: "",
      orderNo: "",
      ponumber: "",
      quotationNo: "",
      itemUom: "",
      itemDescription: "",
      blanketItemId: null,
      isWithOrderPeriod: false,
      dateOfOrder: null,
      orderPeriodFrom: new Date().toISOString().substr(0, 7),
      orderPeriodTo: new Date().toISOString().substr(0, 7),
      isMultipleQuatationNo: false,
      isExtensionInfoMultiple: false,
      isAllowExtension: false,
      isEachDistribution: false,
      blanketOrderNoId: null,
      extensionMonth: 6,
      extensionQuantity: 25,
      sessionID: null,
      productItemId: null,
      orderEntryType: "",
      profileReferenceNo: "",
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10)
    },
     filterFields: [
      "ProfileReferenceNo",
      "Company.PlantCode",
      "OrderBy.CodeValue",
      "Customer.CompanyName",
        "StatusCode.CodeValue",
      "AddedByUser.UserName",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Document No", value: "profileReferenceNo", align: "left" },
      { text: "DateOfOrder", value: "dateOfOrder", align: "left" },
      {
        text: "Purchase Order Company",
        value: "companyName",
        align: "left"
      },
      { text: "Customer", value: "customerName", align: "left" },
      { text: "Order By", value: "orderByName", align: "left" },
      //{ text: "Status", value: "statusCode", align: "left" },
      { text: "Added By", value: "addedByUser", align: "left" },
      { text: "Added Date", value: "addedDate", align: "left" },
      {
        text: "Actions",
        value: "",
        sortable: false,
        align: "left",
        width: "1%"
      }
    ],
    customerheaders: [
      {
        text: "Customer Name",
        value: "customerName",
        sortable: false,
        align: "left"
      },
      {
        text: "Is Customer",
        value: "isCustomer",
        sortable: false,
        align: "left"
      },
      {
        text: "Is TenderAgency",
        value: "IsTenderAgency",
        sortable: false,
        align: "left"
      }
    ],
    items: [
      {
        icon: "attach_file",
        href: "#",
        title: "Attachement",
        click: e => {}
      },
      {
        icon: "edit",
        href: "#",
        title: "Edit",
        click: e => {}
      },
      {
        icon: "delete",
        href: "#",
        title: "Delete",
        click: e => {}
      },
      {
        icon: "track_changes",
        href: "#",
        title: "Change Pricing During Tender",
        click: e => {}
      }
    ],
    json_fields: {
      Profile: "profileName",
      "Purchase Order Company": "companyName",
      OrderBy: "orderByName",
      CustomerName: "customerName",
      Status: "statusCode",
      "Added By": "addedByUser",
      "Added Date": "addedDate",
      "Modified By": "modifiedDate",
      "Modified Date": "modifiedDate"
    },
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      // sortBy: "salesOrderEntryID",
      rowsPerPage: 10
    },
    searchrowsPerPageItems: [10, 20, 30, 40, 50, 100],
    searchpagination: {
      rowsPerPage: 10
    },
    searchItem: {
      action: "",
      Id: null,
      searchString: "searchString",
      masterTypeID: 1651
    }
  }),
  created() {
    this.initialize();
    window.getApp.$on("CHANGEPRICINGUPLOAD", item => {
      if (item != null) {
        this.changepricinguploadbtn = false;
      } else {
        this.changepricinguploadbtn = true;
      }
    });
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Blanket Order Entry"
        : "Edit Blanket Order Entry";
    },

    validFromFormated() {
      return this.editedItem.orderPeriodFrom
        ? moment(this.editedItem.orderPeriodFrom).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    validEndFormated() {
      return this.editedItem.orderPeriodTo
        ? moment(this.editedItem.orderPeriodTo).format(
            GlobalMessage.MONTHYEARFORMAT
          )
        : "";
    },
    dateOfOrderFormated() {
      return this.editedItem.dateOfOrder
        ? moment(this.editedItem.dateOfOrder).format(GlobalMessage.DATEFORMAT)
        : "";
    },
    nameRules() {
      return [v => !!v || "This is required field"];
    },
     loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },
    mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;   
  },
  methods: {
    initialize() {
      this.gridloader = true;
      // getSalesOrderEntryItems("")
      //   .then((response) => {
      //     this.gridloader = false;
      //     this.gridItems = response.data.filter(
      //       (s) => s.typeOfSalesOrderId == 1651
      //     );
      //   })
      //   .catch((error) => {
      //     this.gridloader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      // let id = 1651;
      // getSalesOrderEntryItemsByType(id)
      //   .then(response => {
      //     this.gridloader = false;
      //     this.gridItems = response.data;
      //   })
      //   .catch(error => {
      //     this.gridloader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      this.loader = true;
      getDocumentProfileItems("")
        .then(response => {
          this.profileItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getSalesOrderEntryItemsForDropDown("")
        .then(response5 => {
          this.orderNoItems = response5.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getPlants("")
        .then(response => {
          this.companyItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getTagAlongOrderCustomer("")
        .then(response => {
          this.tagAlongCustomerList = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getContractDistributionItemsAll("")
        .then(response => {
          console.log("poNumber Items" + JSON.stringify(response.data));
          this.poNumberItems = response.data.filter(s => s.poNumber != "");
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getCompanyListingForBlanketEntry("")
        .then(response => {
          console.log("customer items" + JSON.stringify(response.data));
          this.customerItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getApplicationMasterDetailByType(239)
        .then(response => {
          this.tenderAgencyItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getTenderAgencySalesOrders("")
        .then(response => {
          this.tenderAgencySalesOrders = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getCodeMasterByType("Order By")
        .then(response => {
          this.customerorTenderAgencyItems = response.data.filter(
            s => s.codeID != 1403 && s.codeID != 1651 && s.codeID != 1652
          );
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;
      getApplicationMasterDetailByType(234)
        .then(response => {
          this.quationUnits = response.data;
          this.loader = false;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.loader = true;

      getCodeMasterByType("Sales Order Status")
        .then(response => {
          this.statusOptions = response.data.filter(
            s => s.codeID == 1420 || s.codeID == 1421 || s.codeID == 1422
          );
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getTenderAgencySalesOrders("").then(response => {
        this.tenderAgencySalesOrders = response.data;
      });
      getCompanyListingsForDistributionInformation("")
        .then(response => {
          this.distributionCustomerItems = response.data;
        })
        .catch(error => {
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getSocustomersItemCrossReferenceAll("")
        .then(response => {
          this.soCustomerItems = response.data.filter(
            r => r.customerReferenceNo != null
          );
          this.Productloader = false;
        })
        .catch(error => {
          this.Productloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationFormByScreenID(this.screenId)
        .then(response => {
          this.applicationFormData = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getSalesOrderProfile("")
        .then(response => {
          if (response.data != undefined) {
            let blanketOrder = response.data.filter(s => s.orderByID == 1651);
            if (blanketOrder.length > 0) {
              this.editedItem.profileID = blanketOrder[0].profileID;
              this.profileId = blanketOrder[0].profileID;
              this.profileName = blanketOrder[0].profileName;
              this.blanketOrderProfileId = blanketOrder[0].profileID;
              this.blanketOrderProfileName = blanketOrder[0].profileName;
            }

            this.editedItem.profileID = this.blanketOrderProfileId;
            this.profileName = this.blanketOrderProfileName;
            this.loader = false;
            //this.total = response.data.length;
          } else {
            this.editedItem.profileID = this.applicationFormData.profileID;
            //this.editedItem.profileReferenceNo = this.applicationFormData.profileName;
            this.profileId = this.applicationFormData.profileID;
            this.profileName = this.applicationFormData.profileName;
          }
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    changepricingdialogsaveAndClose() {
      this.$refs.refchangepricing.saveAndClose();
    },
    changepricingdialogsave() {
      this.$refs.refchangepricing.save();
    },

    changepricingdialogadd() {
      this.$refs.refchangepricing.add();
      this.changepricinguploadbtn = true;
    },
    changepricingdialogdeleterow() {
      this.$refs.refchangepricing.deleterow();
    },
    changepricingdialogfileAttachment() {
      this.$refs.refchangepricing.fileAttachment();
    },
    closechangepricingqty() {
      this.changepricingdialog = false;
      this.$refs.refchangepricing.existingContractNo = "";
      this.$refs.refchangepricing.editedItem.statusCodeID = null;
      this.changepricinguploadbtn = true;
    },
    selectOrderBy(value) {
      if (this.$refs.refpurchaseinfoLine != undefined) {
        if (this.editedItem.salesOrderEntryID > 0) {
          this.$refs.refpurchaseinfoLine.enableAddButton = false;
        }
        this.$refs.refpurchaseinfoLine.companyID = this.editedItem.companyID;
        this.$refs.refpurchaseinfoLine.salesOrderEntryID = this.editedItem.salesOrderEntryID;
        this.$refs.refpurchaseinfoLine.isAllowExtension = this.editedItem.isAllowExtension;
        this.$refs.refpurchaseinfoLine.extensionMonth = this.editedItem.extensionMonth;
        this.$refs.refpurchaseinfoLine.extensionQuantity = this.editedItem.extensionQuantity;
        this.$refs.refpurchaseinfoLine.orderById = this.editedItem.orderByID;
        this.$refs.refpurchaseinfoLine.loadDropdownList();
      }
    },
    selectCustomer() {
      this.buyingThrough = "";
      let selectcustomer = this.customerItems.filter(
        s =>
          s.companyListingID == this.editedItem.customerID &&
          s.buyingThroughId != null
      );

      if (selectcustomer.length > 0) {
        this.buyingThrough = selectcustomer[0].buyingThrough;
      }
    },
    selectPlant(value) {
      this.productloader = true;
      if (this.$refs.refpurchaseinfoLine != undefined) {
        this.$refs.refpurchaseinfoLine.companyID = value;
        if (this.editedItem.typeOfOrderID == 1403) {
          let id = this.editedItem.companyID;
          getNavItemsForSalesEntry(id)
            .then(response => {
              this.$refs.refpurchaseinfoLine.productNoItems = response.data;
            })
            .catch(error => {
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    selectTenderAgencyOrders(value) {
      if (this.editedItem.tagAlongTenderNoID > 0) {
        let salesOrders = this.tenderAgencySalesOrders.filter(
          n => n.salesOrderEntryID == this.editedItem.tagAlongTenderNoID
        );
        if (salesOrders.length > 0) {
          console.log("sales orders" + JSON.stringify(salesOrders));
          this.editedItem.itemDescription = salesOrders[0].itemDescription;
          this.editedItem.itemUom = salesOrders[0].itemUom;
          this.editedItem.blanketItemId = salesOrders[0].blanketItemId;
        }
      }
    },
    selectMultipleQuatationNo() {
      if (this.isMultipleQuatationNo == "true") {
        this.editedItem.isMultipleQuatationNo = true;
        this.enableisExtensionInfoMultiple = true;
        this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = this.editedItem.isMultipleQuatationNo;
        console.log("Multiple", JSON.stringify(this.editedItem));

        if (
          this.editedItem.salesOrderEntryID > 0 &&
          this.$refs.refpurchaseinfoLine != undefined
        ) {
          this.$refs.refpurchaseinfoLine.enableAddButton = false;
        }
      } else if (this.isMultipleQuatationNo == "false") {
        this.editedItem.isMultipleQuatationNo = false;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.enableisExtensionInfoMultiple = false;
          this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = this.editedItem.isMultipleQuatationNo;
        }
      }
    },
    onClickCustomer(item) {
      this.menuprodSearch = false;
      this.editedItem.tagAlongCustomerID = item.customerID;
      this.editedItem.tagAlongCustomerName = item.customerName;
    },
    selectAllowExtension() {
      if (this.isAllowExtension == "true") {
        this.editedItem.isAllowExtension = true;
      }
      if (this.isAllowExtension == "false") {
        this.editedItem.isAllowExtension = false;
      }
      if (this.editedItem.isAllowExtension == true) {
        this.enableisExtension = true;
      } else {
        this.enableisExtension = false;
      }
    },
    selectTagAlongAgency() {
      if (this.isTagAlongWithTenderAgency == "true") {
        this.editedItem.isTagAlongWithTenderAgency = true;
        this.editedItem.itemDescription = "";
      }
      if (this.isTagAlongWithTenderAgency == "false") {
        this.editedItem.isTagAlongWithTenderAgency = false;
        this.editedItem.blanketOrderNoId = null;
        this.isMultipleProducts = false;
      }
    },
    selectisExtensionInfoMultiple() {
      if (this.isExtensionInfoMultiple == "true") {
        this.editedItem.isExtensionInfoMultiple = true;
      }
      if (this.isExtensionInfoMultiple == "false") {
        this.editedItem.isExtensionInfoMultiple = false;
      }
    },
    selectisEachDistribution() {
      if (this.isEachDistribution == "true") {
        this.editedItem.isEachDistribution = true;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.isEachDistribution = true;
        }
      }
      if (this.isEachDistribution == "false") {
        this.editedItem.isEachDistribution = false;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.isEachDistribution = false;
        }
      }
    },
       getDataFromApi(pageSize) {
      this.pagination.rowsPerPage = pageSize;
      search.pageSize = pageSize;
      this.loadPagingData();
    },
    loadPagingData() {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = this.pagination.page;
      search.sortCol = "SalesOrderEntryId";
      console.log("Pagination", this.pagination);
      search.sortBy = this.pagination.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetSalesOrderEntryItemsByType";
      search.Id = 1651;
       search.pageCount = 1;
      this.pagination.page = 1;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    onUpdatePagination(args) {
      search.filterFields = this.filterFields;
      search.descending = true;
      search.pageCount = args.page;
      search.pageSize = args.rowsPerPage;    
      if (args.sortBy == "profileReferenceNo") {
        search.sortCol = "ProfileReferenceNo";
      } else if (args.sortBy == "companyName") {
        search.sortCol = "Company.PlantCode";
      } else if (args.sortBy == "orderByName") {
        search.sortCol = "OrderBy.CodeValue";
      } else if (args.sortBy == "customerName") {
        search.sortCol = "Customer.CompanyName";
      } else if (args.sortBy == "statusCode") {
        search.sortCol = "StatusCode.CodeValue";
        }else if (args.sortBy == "addedByUser") {
        search.sortCol = "AddedByUser.UserName";
      } else if (args.sortBy == "modifiedByUser") {
        search.sortCol = "ModifiedByUser.UserName";
      } else {
        search.sortCol = args.sortBy;
      }
      search.sortBy = args.descending == true ? "desc" : "asc";
      search.searchString = this.search;
      search.methodName = "GetSalesOrderEntryItemsByType";
      console.log("Pagination", args);
      search.Id = 1651;
      this.gridloader = true;
      getData(search)
        .then((response) => {
          if (response.data.code == 200) {
            this.gridItems = response.data.result;
            this.totalRows = response.data.pagination.totalPages;
          } else {
            window.getApp.$emit("APP_API_ERROR", response.data.message);
          }
          this.gridloader = false;
        })
        .catch((error) => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    //
    closeattach() {
      let gridvalues = this.$refs.refattach.attachments.filter(
        f => f.uploaded == false
      );
      if (gridvalues.length > 0) {
        //window.getApp.$emit("APP_API_ERROR", error);
        this.$refs.deleteConfirmationDialog1.openDialog();
      } else {
        this.attachdialog = false;
      }
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
      // this.$refs.refattach.attachments
    },

    fileconformationMessage() {
      this.$refs.deleteConfirmationDialog1.close();
      this.attachdialog = false;
    },

    fileAttachment() {
      this.$refs.refattach.attachments = [];
      this.$refs.refattach.sessionID = this.sessionId;
      this.$refs.refattach.getFileProfileTypeItems();
      this.$refs.refattach.getfiles();
      this.attachdialog = true;
    },
    fileAttachments(item) {
      console.log("check item", item.sessionID);
      this.sessionId = item.sessionID;

      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.documentID = item.documentID;
        this.$refs.refattach.getfiles();
      }, 500);
    },
    //
    menuClick(key, item) {
      console.log("items" + JSON.stringify(item));
      if (key == 0) {
        this.fileAttachments(item);
      } else if (key == 1) {
        this.editItem(item);
      } else if (key == 2) {
        this.onDeleteItem(item);
      } else if (key == 3) {
        this.changepricingdialog = !this.changepricingdialog;
        this.$refs.refchangepricing.$refs.refProductLines.enableAddButton = true;
        this.$refs.refchangepricing.editedItem.statusCodeID = null;
        this.$refs.refchangepricing.existingContractNo = "";
        this.$refs.refchangepricing.editedItem.contractId =
          item.salesOrderEntryID;
        this.$refs.refchangepricing.salesOrderEntryId = item.salesOrderEntryID;
        this.$refs.refchangepricing.editedItem.contractNo = item.orderNo;
        this.$refs.refchangepricing.editedItem.customerId = item.customerId;
        this.$refs.refchangepricing.editedItem.customerName = item.customerName;
        this.$refs.refchangepricing.editedItem.effectiveMonth =
          item.orderPeriodFrom;
        this.$refs.refchangepricing.effectiveFrom = item.orderPeriodFrom;
        this.$refs.refchangepricing.effectiveTo = item.orderPeriodTo;
        this.$refs.refchangepricing.loadDropDown();
        this.changepricinguploadbtn = true;
        this.$refs.refchangepricing.$refs.refProductLines.gridItems = [];
      } else if (key == 4) {
      } else if (key == 5) {
      }
    },
    menudisabled(menu, item) {
      if (menu.title == "Attachement") {
        if (item.sessionID == null) {
          return true;
        }
      }
    },
    add() {
      this.uploadbtn = true;
      this.uploadedFiles = [];
      this.uploadedFileNames = [];
      this.uploadedAttachment = new FormData();
      this.attachfiles = new FormData();
      this.sessionId = "";
      this.editedItem.productItemId = null;

      //  this.loadDropdownList();
      this.editedIndex = -1;
      this.editedItem.valid = false;
      this.editedItem = Object.assign({}, this.defaultItem);

      this.editedItem.statusCodeID = 1;
      this.editedItem.addedByUserID = null;
      this.editedItem.addedDate = null;
      this.editedItem.modifiedByUserID = null;
      this.editedItem.modifiedDate = null;
      this.$refs.refpurchaseinfoLine.enableAddButton = true;
      this.$refs.refpurchaseinfoLine.gridItems = [];
      this.isMultipleQuatationNo = "false";
      this.isAllowExtension = "";
      this.isExtensionInfoMultiple = "";
      this.isEachDistribution = "";
      this.enableisExtension = false;
      this.enableIsMultipleQuatation = true;
      this.enableAllowExtensionRadio = true;
      this.enableIsEachDistribution = false;
      this.enableisExtensionInfoMultiple = true;
      this.editedItem.dateOfOrder = null;
      this.enableOrderPeriod = false;
      this.disableTypeOfOrder = false;
      this.editedItem.ponumber = "";
    },

    saveAndClose() {
      this.saveClick();
      this.close();
    },
    toolfunction() {
      getSalesOrderEntryData(this.searchItem)
        .then(response => {
          if (response.data != undefined && response.data != null) {
            if (response.data.salesOrderEntryID != null) {
              this.editedItem = response.data;

              this.$refs.refpurchaseinfoLine.companyID = this.editedItem.companyID;
              this.$refs.refpurchaseinfoLine.salesOrderEntryID = this.editedItem.salesOrderEntryID;
              // this.$refs.refpurchaseinfoLine.isAllowExtension = this.editedItem.isAllowExtension;
              // this.$refs.refpurchaseinfoLine.extensionMonth = this.editedItem.extensionMonth;
              // this.$refs.refpurchaseinfoLine.extensionQuantity = this.editedItem.extensionQuantity;
              this.$refs.refpurchaseinfoLine.loadDropdownList();
              if (response.data.isMultipleQuatationNo == true) {
                this.isMultipleQuatationNo = "true";
              } else if (response.data.isMultipleQuatationNo == false) {
                this.isMultipleQuatationNo = "false";
                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.isMultipleQuatationNo =
                    response.data.isMultipleQuatationNo;
                }
              }
              if (response.data.isAllowExtension == true) {
                this.isAllowExtension = "true";
                this.enableisExtension = true;
              } else if (response.data.isAllowExtension == false) {
                this.isAllowExtension = "false";
                this.enableisExtension = false;
              }
              if (response.data.isEachDistribution == true) {
                this.isEachDistribution = "true";
                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.isEachDistribution = true;
                }
              } else if (response.data.isEachDistribution == false) {
                this.isEachDistribution = "false";
                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.isEachDistribution = false;
                }
              }
              if (response.data.isExtensionInfoMultiple == true) {
                this.isExtensionInfoMultiple = "true";
              } else if (response.data.isExtensionInfoMultiple == false) {
                this.isExtensionInfoMultiple = "false";
              }
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No more record to view");
            }
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      // this.selectedItem.searchString = 'first';
      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      //this.selectedItem.searchString = 'last';

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      //this.selectedItem.searchString = 'previous';
      this.toolfunction();
    },

    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.salesOrderEntryID;
      // this.selectedItem.searchString = 'next';
      this.toolfunction();
    },
    addFormDialog() {
      this.add();
    },
    searchmenuClear() {
      this.searchSales.companyID = null;
      this.searchSales.typeOfSalesOrdeId = 1403;
      this.searchSales.customerID = null;
      this.searchSales.tenderAgencyID = null;
      this.searchSales.typeOfOrderID = null;
      this.searchSales.itemCustomerID = null;
      this.salesOrderEntryID = null;
      this.searchSales.distributionCustomerID = null;
    },
    searchmenuClose() {
      this.searchmenu = false;

      this.searchSales.companyID = null;
      this.searchSales.orderByID = 1403;
      this.searchSales.customerID = null;
      this.searchSales.tenderAgencyID = null;
      this.searchSales.typeOfOrderID = null;
      this.searchSales.itemCustomerID = null;
      this.searchSales.distributionCustomerID = null;
    },
    searchClick() {
      this.gridloader = true;
      getSalesOrderEntryUpdateSearch(this.searchSales)
        .then(response => {
          this.gridloader = false;
          this.gridItems = response.data;
        })
        .catch(error => {
          this.gridloader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      this.searchmenu = false;
    },
    close() {
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.isMultipleQuatationNo = "false";
        this.isAllowExtension = "";
        this.isExtensionInfoMultiple = "";
        this.isEachDistribution = "";
        this.enableisExtension = false;
        this.enableIsMultipleQuatation = true;
        this.enableAllowExtensionRadio = true;
        this.enableIsEachDistribution = false;
        this.enableisExtensionInfoMultiple = true;
        this.enableOrderPeriod = false;
        this.disableTypeOfOrder = false;
        this.dialog = false;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.gridItems = [];
        }
      }, 300);
      this.loadPagingData();
    },
    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    getNavItem(id) {
      if (id > 0) {
        getNavItemsForSalesEntry(id)
          .then(response => {
            if (this.$refs.refpurchaseinfoLine != undefined) {
              this.$refs.refpurchaseinfoLine.productNoItems = response.data;
            }
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },

    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      let id = item.salesOrderEntryID;
      this.sessionId = item.sessionID;

      this.salesOrderEntryID = item.salesOrderEntryID;

      if (id != null && id > 0) {
        getSalesOrderEntryItemById(id)
          .then(response => {
            if (response.data != null) {
              this.editedItem = response.data;
              this.editedItem.orderPeriodFrom = moment(
                response.data.orderPeriodFrom
              ).format("YYYY-MM-DD");
              this.editedItem.orderPeriodTo = moment(
                response.data.orderPeriodTo
              ).format("YYYY-MM-DD");
              if (response.data.dateOfOrder != null) {
                this.editedItem.dateOfOrder = moment(
                  response.data.dateOfOrder
                ).format("YYYY-MM-DD");
              }
              if (response.data.isWithOrderPeriod == true) {
                this.isWithOrderPeriod = "true";
              }
              if (response.data.isWithOrderPeriod == false) {
                this.isWithOrderPeriod = "false";
              }

              if (this.$refs.refpurchaseinfoLine != undefined) {
                this.$refs.refpurchaseinfoLine.enableAddButton = false;
                this.$refs.refpurchaseinfoLine.salesOrderEntryID =
                  response.data.salesOrderEntryID;
                this.$refs.refpurchaseinfoLine.companyID =
                  response.data.companyID;
                this.$refs.refpurchaseinfoLine.isEachDistribution =
                  response.data.isEachDistribution;
                this.$refs.refpurchaseinfoLine.typeOfOrderID =
                  response.data.typeOfOrderID;
                this.$refs.refpurchaseinfoLine.orderByID =
                  response.data.orderByID;
                this.$refs.refpurchaseinfoLine.customerID =
                  response.data.customerID;
                if (response.data.isMultipleQuatationNo == true) {
                  this.isMultipleQuatationNo = "true";
                } else if (response.data.isMultipleQuatationNo == false) {
                  this.isMultipleQuatationNo = "false";
                  if (this.$refs.refpurchaseinfoLine != undefined) {
                    this.$refs.refpurchaseinfoLine.isMultipleQuatationNo =
                      response.data.isMultipleQuatationNo;
                  }
                }
              }
            }
            this.getNavItem(response.data.companyID);
            this.selectCustomer();
          })
          .catch(error => {
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      // this.editedItem = Object.assign({}, item);
      // console.log("item result" + JSON.stringify(item));
      this.uploadbtn = false;

      // if (this.$refs.refpurchaseinfoLine != undefined) {
      //   this.$refs.refpurchaseinfoLine.enableAddButton = false;
      //   this.$refs.refpurchaseinfoLine.companyID = item.companyID;
      //   this.$refs.refpurchaseinfoLine.salesOrderEntryID = item.salesOrderEntryID;
      //   this.$refs.refpurchaseinfoLine.isAllowExtension = item.isAllowExtension;
      //   this.$refs.refpurchaseinfoLine.extensionMonth = item.extensionMonth;
      //   this.$refs.refpurchaseinfoLine.extensionQuantity = item.extensionQuantity;
      //   this.$refs.refpurchaseinfoLine.orderNo = item.orderNo;
      //   this.$refs.refpurchaseinfoLine.orderById = item.orderByID;
      //   this.$refs.refpurchaseinfoLine.loadDropdownList();

      // }

      setTimeout(() => {
        this.dialog = true;
        if (this.$refs.refpurchaseinfoLine != undefined) {
          this.$refs.refpurchaseinfoLine.typeOfOrderID = this.editedItem.typeOfOrderID;
          this.$refs.refpurchaseinfoLine.loadDropdownList();
        }
      }, 400);
    },
    deleterow() {
      this.$refs.deleteConfirmationDialog.openDialog();
    },
    searchClose() {
      this.searchmenu = false;
    },
    saveClick() {
      if (this.isTagAlongWithTenderAgency == "true") {
        if (this.editedItem.blanketOrderNoId == null) {
          window.getApp.$emit(
            "APP_API_VAL",
            "Please Selece The Tag Along Contact No"
          );
        } else if (this.editedItem.blanketOrderNoId > 0) {
          this.save();
        }
      } else if (this.isTagAlongWithTenderAgency == "false") {
        this.save();
      }
    },

    save() {
      if (this.$refs.form.validate()) {
        if (this.isWithOrderPeriod == "true") {
          this.editedItem.isWithOrderPeriod = true;
        }
        if (this.isWithOrderPeriod == "false") {
          this.editedItem.isWithOrderPeriod = false;
        }

        if (this.editedIndex > -1) {
          this.saveloader = true;
          this.loader = true;
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);

          updateSalesOrderEntry(this.editedItem)
            .then(response2 => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              this.editedItem.sessionID = "";
              this.uploadedFiles = [];
              if (this.$refs.refpurchaseinfoLine != undefined) {
                this.$refs.refpurchaseinfoLine.orderById =
                  response2.data.orderByID;
                this.$refs.refpurchaseinfoLine.orderNo = response2.data.orderNo;
                this.$refs.refpurchaseinfoLine.typeOfOrderID =
                  response2.data.typeOfOrderID;
                this.$refs.refpurchaseinfoLine.customerID =
                  response2.data.customerID;
                this.editedItem.sessionID = response2.data.sessionID;
                this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = true;

                this.$refs.refpurchaseinfoLine.isMultipleQuatationNo = this.editedItem.isMultipleQuatationNo;
                this.$refs.refpurchaseinfoLine.loadDropdownList();
              }
              //this.add();
            })
            .catch(error => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.profileID = this.applicationFormData.profileID;
          this.loader = true;
          this.saveloader = true;
          console.log("insert editedItem" + JSON.stringify(this.editedItem));
          createSalesOrderEntry(this.editedItem)
            .then(response2 => {
              if (response2.data != undefined) {
                this.gridItems.push(response2.data);
                this.loader = false;
                this.saveloader = false;
                console.log(
                  "response create data" + JSON.stringify(response2.data)
                );
                let index = this.gridItems
                  .map(item => item.salesOrderEntryID)
                  .indexOf(response2.data.salesOrderEntryID);
                this.editedIndex = index;
                this.editedItem.sessionID = response2.data.sessionID;
                this.sessionId = response2.data.sessionID;
                this.salesOrderEntryID = response2.data.sessionID;

                if (this.$refs.refpurchaseinfoLine != undefined) {
                  this.$refs.refpurchaseinfoLine.salesOrderEntryID =
                    response2.data.salesOrderEntryID;
                  this.$refs.refpurchaseinfoLine.companyID =
                    response2.data.companyID;
                  this.$refs.refpurchaseinfoLine.enableAddButton = false;
                  this.$refs.refpurchaseinfoLine.orderById =
                    response2.data.orderByID;
                  this.$refs.refpurchaseinfoLine.orderNo =
                    response2.data.orderNo;
                  this.$refs.refpurchaseinfoLine.customerID =
                    response2.data.customerID;
                  this.$refs.refpurchaseinfoLine.typeOfOrderID =
                    response2.data.typeOfOrderID;
                  this.$refs.refpurchaseinfoLine.isMultipleQuatationNo =
                    response2.data.isMultipleQuatationNo;
                  this.$refs.refpurchaseinfoLine.loadDropdownList();
                }
                this.uploadbtn = false;
                //this.editedItem = response2.data;
                this.editedItem.salesOrderEntryID =
                  response2.data.salesOrderEntryID;
                this.editedItem.profileReferenceNo =
                  response2.data.profileReferenceNo;
                window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
                setTimeout(() => {
                  this.getNavItem(response2.data.companyID);
                }, 300);
              }
            })
            .catch(error => {
              this.loader = false;
              this.saveloader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      } else {
        window.getApp.$emit("APP_API_VAL", GlobalMessage.VALIDATE);
        this.loader = false;
        this.saveloader = false;
      }
    },
    selectOrderNo() {
      console.log("order No items" + JSON.stringify(this.orderNoItems));

      let select = this.orderNoItems.filter(
        s => s.salesOrderEntryID == this.editedItem.blanketOrderNoId
      );
      console.log("select" + JSON.stringify(select));
      if (select.length > 0) {
        if (select[0].salesEntryProducts != null) {
          this.salesEntryProducts = select[0].salesEntryProducts;
          if (this.salesEntryProducts.length > 0) {
            if (this.salesEntryProducts.length == 1) {
              this.editedItem.itemDescription = this.salesEntryProducts[0].description;
              this.editedItem.productItemId = this.salesEntryProducts[0].purchaseItemSalesEntryLineID;
              this.isMultipleProducts = false;
            } else {
              this.isMultipleProducts = true;
            }
          }
        }
      }
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.salesOrderEntryID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteSalesOrderEntry(this.editedItem)
          .then(response => {
            this.loader = false;
            if(response!=undefined)
            {
            this.gridItems.splice(index, 1);
            this.add();
            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
            }
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  }
};
</script>

 <style scoped>
.task-sub--scroll {
  overflow: auto;
  height: calc(100vh - 90px);
}

.textBackground {
  border-radius: 10px;
  padding: 5px;
}
.layoutbg {
  border-style: solid;
  border-radius: 8px !important;
  border-color: rgb(216, 222, 247);
  border-width: 1px;
  padding: 8px;
}

.entryfield {
  background: white !important;
  border-radius: 16px !important;
  padding: 6px;
}
.entrytext {
  border-radius: 16px !important;
  padding: 6px;
}
.layoutborder {
  border-color: indigo;
  border-width: thick;
  border-radius: 1px !important;
  border-right-width: 9px;
  padding: 2px;
}
.borderlayout {
  border-radius: 9px !important;
  border-color: gray;
  border-width: 2px;
  padding: 6px;
}
.titlecard {
  border-color: transparent;
  border-bottom-width: 0px;
  color: transparent;
  padding: 8px;
  padding-top: 2px;
}
.dataField {
  padding: 8px;
  color: lavender;
  background-color: lightblue;
  border-width: 6px;
}
</style>