<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field
        v-model="search"
        prepend-icon="search"
        label="Search"
        clearable
        single-line
        hide-details
      ></v-text-field>
      <v-spacer></v-spacer>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="My Worksheet"
        type="csv"
        name="IPIR Mobile.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-tooltip bottom>
        <v-btn icon="" slot="activator" @click="initialize">
          <v-icon icon> refresh </v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>

      <v-dialog v-model="dialog" fullscreen>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom :disabled="editedItem.docSessionId == null">
              <v-btn
                :disabled="editedItem.docSessionId == null"
                slot="activator"
                flat
                icon
                color="primary"
                @click="fileAttachment"
              >
                <v-icon color="white">attach_file</v-icon>
              </v-btn>
              <span>Attach Files</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
          </v-toolbar>
          <vue-perfect-scrollbar class="prodentryform--scrollbar">
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <vue-perfect-scrollbar class="chat-room--scrollbartree">
                  <v-container grid-list-md>
                    <v-layout row wrap>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.location"
                          label="Location"
                          prepend-icon="location_on"
                          readonly
                        >
                        </v-text-field>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.prodOrderNo"
                          label="Product"
                          prepend-icon="notes"
                          readonly
                        >
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.issueTitle"
                          label="Issue Title"
                          prepend-icon="assignment"
                          readonly
                        >
                        </v-text-field>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          :loading="loader"
                          cache-items
                          flat
                          placeholder="Select only suggested Assign To"
                          v-model="editedItem.assignTos"
                          :items="userGroupItems"
                           label="Assign To"
                          chips
                          auto
                          multiple
                          prepend-icon="person_add"
                          item-text="name"
                          item-value="userGroupID"
                          readonly
                        >
                        </v-autocomplete>
                      </v-flex>
                      <v-flex xs12 sm4>
                        <v-autocomplete
                          hint="Atleast 3 Characters required"
                          :loading="loader"
                          cache-items
                          flat
                          placeholder="Select only suggested CC"
                          :items="userGroupItems"
                          v-model="editedItem.ccTos"
                          label="CC"
                          auto
                          chips
                          multiple
                          prepend-icon="person_add"
                          item-text="name"
                          item-value="userGroupID"
                          readonly
                        >
                        </v-autocomplete>
                      </v-flex>

                      <v-flex xs12 sm4>
                        <v-text-field
                          v-model="editedItem.statusCode"
                          label="Status"
                          prepend-icon="location_on"
                          readonly
                        >
                        </v-text-field>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </vue-perfect-scrollbar>
              </v-form>
            </v-card-text>
          </vue-perfect-scrollbar>
        </v-card>
      </v-dialog>
      <v-dialog v-model="attachdialog" max-width="900px">
        <attachment
          title="Issue Report IPIR Document"
          :screenID="screenID"
          :sessionID="sessionId"
          controller="Documents"
          action="GetDocumentsBySessionID"
          uploadAction="UploadDocument"
          ref="refattach"
          :closeMethod="closeattach"
        ></attachment>
      </v-dialog>
    </v-toolbar>
    <div class="layout row media-layout">
      <div class="media-content flex transparent">
        <app-section-loader :status="loader"></app-section-loader>
        <v-container fluid>
          <v-layout row wrap>
            <v-flex lg12 sm12 xs12>
              <v-data-table
                :headers="headers"
                :items="gridItems"
                class="elevation-1"
                :rows-per-page-items="rowsPerPageItems"
                :loading="loader"
                :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <tr v-on:dblclick="editItem(props.item)">
                    <td class="text-xs-left">
                      {{ props.item.location }}
                    </td>
                    <td class="text-xs-left">
                      {{ props.item.prodOrderNo }}
                    </td>
                    <td class="text-xs-left">
                      {{ props.item.issueTitle }}
                    </td>

                    <td class="text-xs-left">{{ props.item.statusCode }}</td>

                    <td class="text-xs-left">{{ props.item.addedByUser }}</td>
                    <td class="text-xs-left">
                      {{ props.item.modifiedByUser }}
                    </td>
                    <td class="justify-center layout px-0">
                      <v-icon small class="mr-2" @click="editItem(props.item)">
                        visibility
                      </v-icon>
                      <v-icon
                        small
                        :disabled="props.item.docSessionId == null"
                        @click="fileAttachments(props.item)"
                        >attach_file</v-icon
                      >
                    </td>
                  </tr>
                </template>
                <template slot="no-data">
                  <v-btn color="primary" outline @click="initialize">
                    Record not exist.Refresh again in while time.</v-btn
                  >
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">
      {{ snackbarMessage }}
    </v-snackbar>
  </div>
</template>
<script>
import { getIssueReportIPIRItems } from "@/api/IPIRMobile";
import { getData } from "@/api/paggedapi";
import { getApplicationUsers } from "@/api/taskMaster";
import search from "@/search";
import attachment from "@/components/Attachment/attachments";
import {getUserGroups } from "@/api/userGroup";
import GlobalMessage from "@/constant";
import moment from "moment";
export default {
  components: {
    attachment,
  },
  data: () => ({
    screenID: "APP",
    menuSearch: false,
    proStartDatemenu: false,
    proendDatemenu: false,
    attachdialog: false,
    sessionId: null,
    dialog: false,
    loader: false,
    search: "",
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    totalRows: 0,
    y: "top",
    show: true,
    filterFields: [
      "StatusCode.CodeValue",
      "AssignmentToNavigation.UserName",
      "AssignmentStatus.CodeValue",
      "IssueDescription",
      "IntendedAction.CodeValue",
      "AddedByUser.UserName",
      "ModifiedByUser.UserName",
    ],
    headers: [
      { text: "Location", value: "location", align: "left" },
      { text: "Production", value: "prodOrderNo", align: "left" },
      { text: "Issue Title", value: "issueTitle", align: "left" },
      { text: "Status", value: "StatusCode", align: "left" },
      { text: "Added By User", value: "addedByUser", align: "left" },
      { text: "Modified By User", value: "modifiedByUser", align: "left" },
      { text: "Actions", value: "name", sortable: false, align: "left" },
    ],
    json_fields: {
      "Company Name": "locationName",
      "Ipir No": "ipirno",
      "Reported Date": "reportedDate",
      Description: "description",
      Department: "departmentName",
      "Location Name": "locationName",
      "Production OrderNo": "productionOrderNo",
      Machine: "machine",
      "Sublot No": "sublotNo",
      "Drum No": "drumNo",
      "Batch No": "batchNo",
      BUOM: "buom",
      "Item Name": "itemName",
      "Item No": "itemNo",
      "Added By": "addedByUser",
    },
    gridItems: [],
    userGroupItems: [],
    editedIndex: -1,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10,
    },
    editedItem: {
      valid: false,
      ipirId: -1,
      location: "",
      prodOrderNo: "",
      description: "",
      batchSize: "",
      uOM: "",
      batchNo: "",
      issueTitle: "",
      profileId: null,
      profileNo: "",
      companyId: null,
      assignTos: [],
      ccTos: [],
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      docSessionId: null,
    },
    defaultItem: {
      valid: false,
      ipirId: -1,
      location: "",
      prodOrderNo: "",
      description: "",
      batchSize: "",
      uOM: "",
      batchNo: "",
      issueTitle: "",
      profileId: null,
      profileNo: "",
      companyId: null,
      assignTos: [],
      ccTos: [],
      statusCodeID: 1,
      addedByUserID: null,
      addedDate: new Date().toISOString().substr(0, 10),
      modifiedByUserID: null,
      modifiedDate: new Date().toISOString().substr(0, 10),
      docSessionId: null,
    },
    prodSearch: {
      itemName: "",
      productionOrderNo: "",
      description: "",
      location: "",
      startDate: new Date().toISOString().substr(0, 10),
      endDate: new Date().toISOString().substr(0, 10),
      batchNo: "",
    },
  }),
  watch: {
    pagination: {
      handler() {
        //this.getDataFromApi(this.pagination.rowsPerPage);
      },
      deep: true,
    },
  },
  mounted() {
    this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
    search.pageSize = this.$store.state.auth.pageSize;
    //this.getDataFromApi(this.$store.state.auth.pageSize);
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Issue Report IPIR"
        : "Issue Report IPIR";
    },
    minDate() {
      const today = new Date();
      return this.formatDate(today);
    },

    computeHeight() {
      return {
        height: this.height || "",
      };
    },
    loadPagingKey() {
      return {
        // bind to hotkey
        enter: this.loadPagingData,
      };
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      this.loader = true;
      getIssueReportIPIRItems("")
        .then((response) => {
          if (response.data != undefined) {
            this.gridItems = response.data;
          }
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      getUserGroups("")
        .then((response) => {
          if (response.data != undefined) {
            this.userGroupItems = response.data;
            let uom = this.userGroupItems.filter((o) => o.statusCodeID == 1);
            this.userGroupItems = uom;
            this.loader = false;
          }
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    formatDate(date) {
      let month = `${date.getMonth() + 1}`;
      let day = `${date.getDate()}`;
      const year = date.getFullYear();

      if (month.length < 2) month = `0${month}`;
      if (day.length < 2) day = `0${day}`;

      return [year, month, day].join("-");
    },
    formateDate(string) {
      return string ? moment(string).format(GlobalMessage.DATEFORMAT) : "";
    },
    loadDropdown() {},
    editItem(item) {
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.sessionId = item.docSessionId;

      console.log("Edit item"+JSON.stringify(this.editedItem));
      this.dialog = true;
    },
    fileAttachment() {
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.sessionId = this.sessionId;
        this.$refs.refattach.getfiles();
        this.$refs.refattach.isReadOnly = true;
      }, 500);
    },

    fileAttachments(item) {
      this.sessionId = item.docSessionId;
      this.attachdialog = true;
      setTimeout(() => {
        this.$refs.refattach.attachments = [];
        this.$refs.refattach.getfiles();
        this.$refs.refattach.isReadOnly = true;
      }, 500);
    },

    closeattach() {
      this.attachdialog = false;
      this.$refs.refattach.expiryDate = null;
      this.$refs.refattach.fileProfileTypeId = 0;
    },
    selectStartDate() {
      this.prodSearch.endDate = new Date().toISOString().substr(0, 10);
      this.proStartDatemenu = false;
    },
    close() {
      this.dialog = false;
      //this.getDataFromApi(this.$store.state.auth.pageSize);
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },
    prodSearchFilter() {
      getiPIRMobileFilter(this.prodSearch)
        .then((response) => {
          this.gridItems = response.data;
          console.log(this.gridItems);
          this.loader = false;
          this.menuSearch = false;
        })
        .catch((error) => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
  },
};
</script>
<style>
.prodentryform--scrollbar {
  height: calc(100vh - 40px - 60px);
}
</style>

