<template>
  <div>
    <v-tabs color="transparent" v-model="selectedTab" icons-and-text>
      <v-tabs-slider color="primary"></v-tabs-slider>
      <v-tab key="tab1" >
        production Entry
        <v-icon>group_work</v-icon>
      </v-tab>
      <v-tab key="tab2">
         Information Link
        <v-icon>security</v-icon>
      </v-tab>
      <v-tabs-items>
        <v-tab-item key="tab1" >
         <production-entry-tab ref="refProductionOutputTab"></production-entry-tab>
        </v-tab-item>
        <v-tab-item key="tab2">
          <v-layout row>
            <v-flex xs12 sm12>
              <portal-links ref="refPortalLinks"></portal-links>
            </v-flex>
          </v-layout>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>
<script>
import Vue from "vue";
Vue.component("production-entry-tab", () =>
  import("@/pages/mobile/productionentry/productionentrytab")
);
Vue.component("PortalLinks", () =>
  import("@/components/portalLinks/portalLinks")
);
export default {
  components: {},
  data: () => ({
    selectedTab: 0,
  }),
  created () {
      this.initialize();
    },
    methods: {
      initialize () {
        setTimeout(() => {
          this.$refs.refPortalLinks.moduleId = 3190;
          this.$refs.refPortalLinks.initialize();
        }, 300);
      },
    }
}
</script>
