<template>
  <div id="app">
    <div id="container">
      <ejs-grid
        ref="gridreport"
        :dataSource="data"
        height="calc(100vh - 150px)"
        :queryCellInfo="headerCellInfo"
      >
        <e-columns>
          <e-column
            field="methodCode"
            headerText="Method Code"
            clipMode="EllipsisWithTooltip"
            width="150"
            textAlign="Left"
            minWidth="10"
            :allowEditing="false"
          ></e-column>
          <e-column
            v-if="headerTextItems.length > 0"
            :headerText="headerTextItems[0]"
            :columns="distColumns"
            textAlign="Center"
          ></e-column>
          <e-column
            v-if="headerTextItems.length > 1"
            :headerText="headerTextItems[1]"
            :columns="distColumns"
            textAlign="Center"
          >
          </e-column>
          <!--<e-column v-if="headerTextItems.length>2"
            :headerText="headerTextItems[2]"
            :columns="distColumns"
            textAlign="Center"
          ></e-column>
           <e-column v-if="headerTextItems.length>3"
            :headerText="headerTextItems[3]"
            :columns="distColumns"
            textAlign="Center"
          ></e-column> -->
        </e-columns>
        <template v-slot:cTemplate="{ data }">
          <div>
            <table id="customers">
              <template
                v-for="(item, indexs) in data.dayItem"
                v-bind:key="indexs"
              >
                <tr>
                  <td @click="onClick">{{ item.value }}</td>
                  <td>{{ item.qty }}</td>
                </tr>
              </template>
            </table>
          </div>
        </template>
        <template v-slot:cTemplate1="{ data }">
          <div>
            <table id="customers">
              <template
                v-for="(item, index) in data.nightItem"
                v-bind:key="index"
              >
                <tr>
                  <td @click="onClick">{{ item.value }}</td>
                  <td>{{ item.qty }}</td>
                </tr>
              </template>
            </table>
          </div>
        </template>
      </ejs-grid>
    </div>
  </div>
</template>
<script>
import {
  GridComponent,
  ColumnsDirective,
  ColumnDirective,
} from "@syncfusion/ej2-vue-grids";
//Component registration
export default {
  name: "App",
  components: {
    "ejs-grid": GridComponent,
    "e-columns": ColumnsDirective,
    "e-column": ColumnDirective,
  },
  data() {
    return {
      headerTextItems: ["01-01-2022", "02-01-2022"],
      data: [
        {
          methodCode: "Allersin F Tablet BMP1",
          dayItem: [
            {
              value: "Day 1",
              qty: 1,
              date: "01-01-2022",
            },
            {
              value: "Day 2",
              qty: 12,
              date: "02-01-2022",
            },
          ],
          nightItem: [
            {
              value: "Night 1",
              qty: 3,
              date: "01-01-2022",
            },
            {
              value: "Night 2",
              qty: 4,
              date: "02-01-2022",
            },
          ],
        },
           {
          methodCode: "Allersin F Tablet BMP1",
          dayItem: [
            {
              value: "Day 3",
              qty: 1,
            },
            {
              value: "Day 4",
              qty: 2,
            },
          ],
          nightItem: [
            {
              value: "Night 1",
              qty: 23,
            },
            {
              value: "Night 2",
              qty: 234,
            },
          ],
        },  
      ],
      distColumns: [
        {
          field: "day",
          headerText: "Day",
          width: 200,
          textAlign: "Left",
          minWidth: 10,
          allowEditing: false,
          template: "cTemplate",
        },
        {
          field: "night",
          headerText: "Night",
          width: 200,
          textAlign: "Center",
          minWidth: 10,
          allowEditing: false,
          template: "cTemplate1",
        },
      ],
    };
  },
  created() {},
  methods: {
    headerCellInfo: function (args) {
        console.log(args.column.index);
       // console.log(args.data[args.column.field]);
       // console.log(args);
        args.cell.innerHTML = "rt";
     
      //console.log(JSON.parse(JSON.stringify(args)));
    },
    BtnClick: function () {
      this.$refs.dialogObj.show();
    },
    dialogClose: function () {
      this.OpenBtn = true;
    },
  },
};
</script>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers td:first-child {
  cursor: pointer;
}
</style>
