
<template>
  <div id="app">
    <div id="container">
      <ejs-schedule
        id="Schedule"
        height="calc(100vh - 150px)"
        :selectedDate="selectedDate"
        :currentView="currentView"
        :workDays="workDays"
        :eventSettings="eventSettings"
        :group="group"
      >
        <e-views>
          <e-view option="TimelineDay"></e-view>
          <e-view option="TimelineWeek"></e-view>
          <e-view option="TimelineWorkWeek"></e-view>
          <e-view option="TimelineMonth"></e-view>
          <e-view option="Agenda"></e-view>
        </e-views>
        <e-resources>
          <e-resource
            field="ProjectId"
            title="Choose Project"
            name="Method Code"
            :dataSource="methodCodeResourceDataSource"
            textField="text"
            idField="id"
            colorField="color"
          >
          </e-resource>
          <e-resource
            field="TaskId"
            title="Items"
            name="Items"
            :dataSource="navItemsDataSource"
            :allowMultiple="allowMultiple"
            textField="text"
            idField="id"
            groupIDField="groupId"
            colorField="color"
          >
          </e-resource>
        </e-resources>
      </ejs-schedule>
    </div>
  </div>
</template>
<script>
var resourceData= [
        {
          Id: 1,
          Subject: "Workflow Analysis",
          StartTime: new Date(2018, 3, 1, 9, 30),
          EndTime: new Date(2018, 3, 1, 12, 0),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 2,
          Subject: "Requirement planning",
          StartTime: new Date(2018, 3, 1, 12, 30),
          EndTime: new Date(2018, 3, 1, 14, 45),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 3,
          Subject: "Quality Analysis",
          StartTime: new Date(2018, 3, 2, 10, 0),
          EndTime: new Date(2018, 3, 2, 12, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 4,
          Subject: "Resource planning",
          StartTime: new Date(2018, 3, 2, 13, 0),
          EndTime: new Date(2018, 3, 2, 15, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 5,
          Subject: "Timeline estimation",
          StartTime: new Date(2018, 3, 3, 9, 0),
          EndTime: new Date(2018, 3, 3, 11, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 6,
          Subject: "Developers Meeting",
          StartTime: new Date(2018, 3, 3, 14, 0),
          EndTime: new Date(2018, 3, 3, 16, 45),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 7,
          Subject: "Project Review",
          StartTime: new Date(2018, 3, 4, 11, 15),
          EndTime: new Date(2018, 3, 4, 13, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 8,
          Subject: "Manual testing",
          StartTime: new Date(2018, 3, 4, 9, 15),
          EndTime: new Date(2018, 3, 4, 11, 45),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 9,
          Subject: "Project Preview",
          StartTime: new Date(2018, 3, 5, 9, 30),
          EndTime: new Date(2018, 3, 5, 12, 45),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 10,
          Subject: "Cross-browser testing",
          StartTime: new Date(2018, 3, 5, 13, 45),
          EndTime: new Date(2018, 3, 5, 16, 30),
          IsAllDay: false,
          OwnerId: 2,
        },
        {
          Id: 11,
          Subject: "Bug Automation",
          StartTime: new Date(2018, 3, 6, 10, 0),
          EndTime: new Date(2018, 3, 6, 12, 15),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 12,
          Subject: "Functionality testing",
          StartTime: new Date(2018, 3, 6, 9, 0),
          EndTime: new Date(2018, 3, 6, 11, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 13,
          Subject: "Resolution-based testing",
          StartTime: new Date(2018, 3, 7, 13, 0),
          EndTime: new Date(2018, 3, 7, 15, 15),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 14,
          Subject: "Test report Validation",
          StartTime: new Date(2018, 3, 7, 9),
          EndTime: new Date(2018, 3, 7, 11),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 15,
          Subject: "Test case correction",
          StartTime: new Date(2018, 3, 8, 9, 45),
          EndTime: new Date(2018, 3, 8, 11, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 16,
          Subject: "Run test cases",
          StartTime: new Date(2018, 3, 8, 10, 30),
          EndTime: new Date(2018, 3, 8, 13, 0),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 17,
          Subject: "Quality Analysis",
          StartTime: new Date(2018, 3, 9, 12),
          EndTime: new Date(2018, 3, 9, 15, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 18,
          Subject: "Debugging",
          StartTime: new Date(2018, 3, 9, 9, 0),
          EndTime: new Date(2018, 3, 9, 11, 15),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 19,
          Subject: "Exception handling",
          StartTime: new Date(2018, 3, 10, 10, 10),
          EndTime: new Date(2018, 3, 10, 13, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 20,
          Subject: "Decoding",
          StartTime: new Date(2018, 3, 10, 10, 30),
          EndTime: new Date(2018, 3, 10, 12, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 21,
          Subject: "workflow Analysis",
          StartTime: new Date(2018, 3, 11, 9, 30),
          EndTime: new Date(2018, 3, 11, 11, 30),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 22,
          Subject: "Requirement planning",
          StartTime: new Date(2018, 3, 11, 12, 30),
          EndTime: new Date(2018, 3, 11, 14, 45),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 23,
          Subject: "Quality Analysis",
          StartTime: new Date(2018, 3, 12, 10),
          EndTime: new Date(2018, 3, 12, 12, 30),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 24,
          Subject: "Resource planning",
          StartTime: new Date(2018, 3, 12, 13),
          EndTime: new Date(2018, 3, 12, 14, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 25,
          Subject: "Timeline estimation",
          StartTime: new Date(2018, 3, 13, 9),
          EndTime: new Date(2018, 3, 13, 11),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 26,
          Subject: "Developers Meeting",
          StartTime: new Date(2018, 3, 13, 14),
          EndTime: new Date(2018, 3, 13, 15, 45),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 27,
          Subject: "Project Review",
          StartTime: new Date(2018, 3, 14, 11),
          EndTime: new Date(2018, 3, 14, 13),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 28,
          Subject: "Manual testing",
          StartTime: new Date(2018, 3, 14, 9),
          EndTime: new Date(2018, 3, 14, 11, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 29,
          Subject: "Project Preview",
          StartTime: new Date(2018, 3, 15, 9, 30),
          EndTime: new Date(2018, 3, 15, 11),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 30,
          Subject: "Cross-browser testing",
          StartTime: new Date(2018, 3, 15, 14),
          EndTime: new Date(2018, 3, 15, 16, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 31,
          Subject: "Bug Automation",
          StartTime: new Date(2018, 3, 16, 10),
          EndTime: new Date(2018, 3, 16, 11),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 32,
          Subject: "Functionality testing",
          StartTime: new Date(2018, 3, 16, 9),
          EndTime: new Date(2018, 3, 16, 11, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 33,
          Subject: "Resolution-based testing",
          StartTime: new Date(2018, 3, 17, 14),
          EndTime: new Date(2018, 3, 17, 15),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 34,
          Subject: "Test report Validation",
          StartTime: new Date(2018, 3, 17, 9),
          EndTime: new Date(2018, 3, 17, 11),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 35,
          Subject: "Test case correction",
          StartTime: new Date(2018, 3, 18, 10),
          EndTime: new Date(2018, 3, 18, 11, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 36,
          Subject: "Run test cases",
          StartTime: new Date(2018, 3, 18, 10),
          EndTime: new Date(2018, 3, 18, 10, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 37,
          Subject: "Bug fixing",
          StartTime: new Date(2018, 3, 9, 10),
          EndTime: new Date(2018, 3, 9, 10, 30),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 38,
          Subject: "Debugging",
          StartTime: new Date(2018, 3, 19, 9),
          EndTime: new Date(2018, 3, 19, 10, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 39,
          Subject: "Exception handling",
          StartTime: new Date(2018, 3, 20, 10),
          EndTime: new Date(2018, 3, 20, 11),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 40,
          Subject: "Decoding",
          StartTime: new Date(2018, 3, 20, 10, 30),
          EndTime: new Date(2018, 3, 20, 12, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 41,
          Subject: "workflow Analysis",
          StartTime: new Date(2018, 3, 21, 9, 30),
          EndTime: new Date(2018, 3, 21, 11, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 42,
          Subject: "Requirement planning",
          StartTime: new Date(2018, 3, 21, 12, 30),
          EndTime: new Date(2018, 3, 21, 13, 45),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 43,
          Subject: "Quality Analysis",
          StartTime: new Date(2018, 3, 22, 10),
          EndTime: new Date(2018, 3, 22, 11, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 44,
          Subject: "Resource planning",
          StartTime: new Date(2018, 3, 22, 13),
          EndTime: new Date(2018, 3, 22, 14, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 45,
          Subject: "Timeline estimation",
          StartTime: new Date(2018, 3, 23, 9),
          EndTime: new Date(2018, 3, 23, 10),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 46,
          Subject: "Developers Meeting",
          StartTime: new Date(2018, 3, 23, 14),
          EndTime: new Date(2018, 3, 23, 15, 45),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 47,
          Subject: "Project Review",
          StartTime: new Date(2018, 3, 24, 11),
          EndTime: new Date(2018, 3, 24, 12),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 48,
          Subject: "Manual testing",
          StartTime: new Date(2018, 3, 24, 9),
          EndTime: new Date(2018, 3, 24, 11, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 49,
          Subject: "Project Preview",
          StartTime: new Date(2018, 3, 25, 9, 30),
          EndTime: new Date(2018, 3, 25, 11),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 50,
          Subject: "Cross-browser testing",
          StartTime: new Date(2018, 3, 25, 14),
          EndTime: new Date(2018, 3, 25, 15, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 51,
          Subject: "Bug Automation",
          StartTime: new Date(2018, 3, 26, 10),
          EndTime: new Date(2018, 3, 26, 11),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 52,
          Subject: "Functionality testing",
          StartTime: new Date(2018, 3, 26, 9),
          EndTime: new Date(2018, 3, 26, 11, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 53,
          Subject: "Resolution-based testing",
          StartTime: new Date(2018, 3, 27, 14),
          EndTime: new Date(2018, 3, 27, 15),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 54,
          Subject: "Test report Validation",
          StartTime: new Date(2018, 3, 27, 9),
          EndTime: new Date(2018, 3, 27, 11),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 55,
          Subject: "Test case correction",
          StartTime: new Date(2018, 3, 28, 10),
          EndTime: new Date(2018, 3, 28, 11, 30),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 56,
          Subject: "Run test cases",
          StartTime: new Date(2018, 3, 28, 10),
          EndTime: new Date(2018, 3, 28, 10, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 57,
          Subject: "Bug fixing",
          StartTime: new Date(2018, 3, 29, 12),
          EndTime: new Date(2018, 3, 29, 12, 30),
          IsAllDay: false,
          OwnerId: 3,
          RoomId: 1,
        },
        {
          Id: 58,
          Subject: "Debugging",
          StartTime: new Date(2018, 3, 29, 9),
          EndTime: new Date(2018, 3, 29, 10, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
        {
          Id: 59,
          Subject: "Exception handling",
          StartTime: new Date(2018, 3, 30, 10),
          EndTime: new Date(2018, 3, 30, 11),
          IsAllDay: false,
          OwnerId: 1,
          RoomId: 1,
        },
        {
          Id: 60,
          Subject: "Decoding",
          StartTime: new Date(2018, 3, 30, 10, 30),
          EndTime: new Date(2018, 3, 30, 12, 30),
          IsAllDay: false,
          OwnerId: 2,
          RoomId: 2,
        },
      ];

      var timelineResourceData= [
        {
          Id: 61,
          Subject: "Decoding",
          StartTime: new Date(2018, 3, 4, 9, 30),
          EndTime: new Date(2018, 3, 4, 10, 30),
          IsAllDay: false,
          ProjectId: 2,
          TaskId: 2,
        },
        {
          Id: 62,
          Subject: "Bug Automation",
          StartTime: new Date(2018, 3, 4, 16, 0),
          EndTime: new Date(2018, 3, 4, 20, 0),
          IsAllDay: false,
          ProjectId: 2,
          TaskId: 1,
        },
        {
          Id: 63,
          Subject: "Functionality testing",
          StartTime: new Date(2018, 3, 4, 9),
          EndTime: new Date(2018, 3, 4, 10, 30),
          IsAllDay: false,
          ProjectId: 1,
          TaskId: 1,
        },
        {
          Id: 64,
          Subject: "Resolution-based testing",
          StartTime: new Date(2018, 3, 4, 12),
          EndTime: new Date(2018, 3, 4, 15, 0),
          IsAllDay: false,
          ProjectId: 2,
          TaskId: 4,
        },
        {
          Id: 65,
          Subject: "Test report Validation",
          StartTime: new Date(2018, 3, 4, 15),
          EndTime: new Date(2018, 3, 4, 18),
          IsAllDay: false,
          ProjectId: 1,
          TaskId: 1,
        },
        {
          Id: 66,
          Subject: "Test case correction",
          StartTime: new Date(2018, 3, 4, 14),
          EndTime: new Date(2018, 3, 4, 16),
          IsAllDay: false,
          ProjectId: 3,
          TaskId: 6,
        },
        {
          Id: 67,
          Subject: "Bug fixing",
          StartTime: new Date(2018, 3, 4, 14, 30),
          EndTime: new Date(2018, 3, 4, 18, 30),
          IsAllDay: false,
          ProjectId: 3,
          TaskId: 5,
        },
        {
          Id: 68,
          Subject: "Run test cases",
          StartTime: new Date(2018, 3, 4, 17, 30),
          EndTime: new Date(2018, 3, 4, 19, 30),
          IsAllDay: false,
          ProjectId: 2,
          TaskId: 4,
        },
        {
          Id: 70,
          Subject: "Bug Automation",
          StartTime: new Date(2018, 3, 4, 16, 0),
          EndTime: new Date(2018, 3, 4, 20, 0),
          IsAllDay: false,
          ProjectId: 2,
          TaskId: 3,
        },
      ];
import {
  ScheduleComponent,
  ViewsDirective,
  ViewDirective,
  ResourcesDirective,
  ResourceDirective,
  Agenda,
  TimelineViews,
  TimelineMonth,
  Resize,
  DragAndDrop,
} from "@syncfusion/ej2-vue-schedule";

export default {
  components: {
    "ejs-schedule": ScheduleComponent,
    "e-views": ViewsDirective,
    "e-view": ViewDirective,
    "e-resources": ResourcesDirective,
    "e-resource": ResourceDirective,
  },
  data() {
    return {
      eventSettings: {
        dataSource: this.generateData(),
      },
      currentView: "TimelineWeek",
      workDays: [0, 1, 2, 3, 4, 5],
      selectedDate: new Date(2018, 3, 4),
      allowMultiple: true,
      group: {
        resources: ["Method Code", "Items"],
      },
      methodCodeResourceDataSource: [
        { text: "PROJECT 1", id: 1, color: "#cb6bb2" },
        { text: "PROJECT 2", id: 2, color: "#56ca85" },
        { text: "PROJECT 3", id: 3, color: "#df5286" },
      ],
      navItemsDataSource: [
        { text: "Nancy", id: 1, groupId: 1, color: "#df5286" },
        { text: "Steven", id: 2, groupId: 1, color: "#7fa900" },
        { text: "Robert", id: 3, groupId: 2, color: "#ea7a57" },
        { text: "Smith", id: 4, groupId: 2, color: "#5978ee" },
        { text: "Micheal", id: 5, groupId: 3, color: "#df5286" },
        { text: "Root", id: 6, groupId: 3, color: "#00bdae" },
      ],
      
    };
  },
  provide: {
    schedule: [Agenda, TimelineViews, TimelineMonth, Resize, DragAndDrop],
  },

  methods: {
    generateData: function () {
      var collections = [];
      var dataCollections = [resourceData,timelineResourceData];
      for (var i = 0; i < dataCollections.length; i++) {
        collections = collections.concat(dataCollections[i]);
      }
      return collections;
    },
  },
};
</script>
<style>
.schedule-vue-sample
  .e-schedule:not(.e-device)
  .e-agenda-view
  .e-content-wrap
  table
  td:first-child {
  width: 90px;
}

.schedule-vue-sample .e-schedule .e-agenda-view .e-resource-column {
  width: 100px;
}
</style>
<style scoped>


@import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../node_modules/@syncfusion/ej2-vue-schedule/styles/material.css";
</style>