<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="Non Contact Packaging Item" type="csv" name="NonContactPackagingItem.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
        <v-btn class="pull-right" slot="activator" icon @click="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Non Contact Packaging Item</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">
                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator">
                <v-icon color="white" @click.native="close">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>
          
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>
            <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Finished Product Name" prepend-icon="list" v-model="editedItem.fpCommonFieldID" :items="commonFieldItems" item-text="dropDownName" item-value="FPCommonFieldID" clearable chips></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.noSeries" label="No Series" prepend-icon="description" readonly></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm4>
                      <v-text-field v-model="editedItem.packagingwithversionNaming" label="Packaging with version Naming" prepend-icon="description" readonly></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>

            <packaging-tab-form ref="refpackagingtab"></packaging-tab-form>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">save</v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom>
        <v-btn icon slot="activator" @click="initialize()">
          <v-icon icon>refresh</v-icon>
        </v-btn>
        <span>Refresh</span>
      </v-tooltip>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="fpProductID:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr v-on:dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.finishedProductName }}</td>
          <td class="text-xs-left">{{ props.item.noSeries }}</td>
          <td class="text-xs-left">{{ props.item.packagingwithversionNaming }}</td>

          <td class="text-xs-left">{{ props.item.statusCode }}</td>
          <td class="text-xs-left">{{ props.item.addedByUser }}</td>
          <td class="text-xs-left">{{ props.item.addedDate | formatDate}}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
            <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize">Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>
    <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="deleteItem"></delete-confirmation-dialog>
  </div>
</template>
<script>
  import GlobalMessage from "@/constant";
  import moment from "moment";
  import PackagingTabForm from '@/pages/productionplanning/salesorder/PackagingItem/PackagingTabForm.vue'
  import { getPlants } from "@/api/nav";

  import { getCodeMasterByType } from "@/api/applicationUser";
  import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
  import { getFPCommonFields } from "@/api/fpCommonField";
  export default {
    components: {
      PackagingTabForm
    },
    data: () => ({
      dialog: false,
      search: "",
      loader: false,
      commonFieldItems: [],
      packingrequirementItems: [],
      editedIndex: -1,
      activeforSales: 'true',
      customerProductName: "",
      searchProductbatch: "",
      manufacturingSite: "",
      packagingType: '',
      productowner: "",
      registerCountry: "",

      productRegistrationHolder: "",
      smallestProductionPack: '',
      salesPacksize: '',
      isthisactivesalesPack: "true",
      packingUnitsItems: [],
      gridItems: [],
      generalinfoLineItems: [],
      productInfoItems: [],
      statusOptions: [
        { text: "Active", value: 1 },
        { text: "InActive", value: 2 }
      ],
      editedItem: {
        valid: false,
        fpProductID: -1,
        fpCommonFieldID: null,
        noSeries: '',
        packagingwithversionNaming: '',
        statusCodeID: 1,
        addedByUserID: "",
        addedDate: new Date(),
        modifiedByUserID: "",
        modifiedDate: new Date()
      },
      defaultItem: {
        valid: false,
        fpProductID: -1,
        fpCommonFieldID: null,
        noSeries: '',
        packagingwithversionNaming: '',
        statusCodeID: 1,
        addedByUserID: "",
        addedDate: new Date(),
        modifiedByUserID: "",
        modifiedDate: new Date()
      },
      headers: [
        { text: "Product Name", value: "finishedProductName", align: "left" },
        { text: "No Series", value: "noSeries", align: "left" },
        { text: "Packaging with Version Naming", value: "packagingwithversionNaming", align: "left" },
        { text: "Status", value: "statusCode", align: "left" },
        { text: "Added By", value: "addedByUser", align: "left" },
        { text: "Added Date", value: "addedDate", align: "left" },
        {
          text: "Actions",
          value: "name",
          sortable: false,
          align: "left",
          width: "1%"
        }
      ],
      json_fields: {
        "Product Name": "finishedProductName",
        "No Series": "noSeries",
        "Packaging with Version Naming": "packagingwithversionNaming",
        "Added By": "addedByUser",
        "Added Date": "addedDate",
        "Modified By": "modifiedDate",
        "Modified Date": "modifiedDate"
      },
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10
      },
      searchItem: { action: "", Id: null, searchString: "searchString" }
    }),
    created () {
      this.initialize();
    },
    watch: {
      dialog (val) {
        val || this.close();
      }
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1
          ? "Add Non Contact Packaging Item"
          : "Edit Non Contact Packaging Item";
      }
    },
    methods: {
      initialize () {
        this.loader = true;

        getFPCommonFields("")
          .then(response => {
            this.commonFieldItems = response.data;

            this.loader = false;
            //this.total = response.data.length;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
        getApplicationMasterDetailByType(178)
          .then(response => {
            this.packingrequirementItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      },

      save () {

      },
      add () {

        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;

      },
      saveAndClose () {
        this.save();
        this.close();
      },
      addFormDialog () {
        this.add();
      },


      editItem (item) {
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);

        setTimeout(() => {

          this.editedItem.valid = false;
          this.dialog = true;
        }, 500);
      },

      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      deleteItem () {
        this.$refs.deleteConfirmationDialog.close();

      },
      first () {
        this.searchItem.action = "First";
        this.searchItem.Id = this.editedItem.fpProductID;
        this.toolfunction();
      },
      next () {
        this.searchItem.action = "Next";
        this.searchItem.Id = this.editedItem.fpProductID;
        this.toolfunction();
      },
      previous () {
        this.searchItem.action = "Previous";
        this.searchItem.Id = this.editedItem.fpProductID;
        this.toolfunction();
      },
      last () {
        this.searchItem.action = "Last";
        this.searchItem.Id = this.editedItem.fpProductID;
        this.toolfunction();
      },
      toolfunction () {
        getFPProduct(this.searchItem)
          .then(response => {
            if (response.data.fpProductID != null) {
              this.editedItem = response.data;
              let index = this.gridItems
                .map(item => item.fpProductID)
                .indexOf(response.data.fpProductID);
              this.editedIndex = index;
            } else {
              window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
            }
          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>
