<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <v-btn icon @click="initialize">
        <v-icon>refresh</v-icon>
      </v-btn>
      <download-excel
        class="btn btn-default"
        :data="gridItems"
        :fields="json_fields"
        worksheet="SalesPackingInfoLine"
        type="csv"
        name="SalesPackingInfoLine.xls"
      >
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>
      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>

        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->

            <v-spacer></v-spacer>

            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Close</span>
            </v-tooltip>
            <!-- <v-spacer></v-spacer> <v-btn color="primary" outline>Post</v-btn> -->
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div style="overflow:auto;height:calc(90vh - 110px)">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-layout row wrap>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.salesFactor"
                      label="Sales Factor"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.profileNo"
                      label="FP NO"
                      prepend-icon="description"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="profileName"
                      label="Profile Name"
                      prepend-icon="description"
                      readonly
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6 v-if="enableFPName">
                    <v-text-field
                      v-model="editedItem.fpName"
                      label="FP Name"
                      prepend-icon="description"
                      readonly
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6>
                    <v-autocomplete
                      label="Navision No"
                      prepend-icon="notes"
                      v-model="editedItem.itemID"
                      :items="itemNoItems"
                      chips
                      item-text="internalRef"
                      item-value="itemId"
                      @change="itemSelect"
                    ></v-autocomplete>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.navisionDescription"
                      label="Navision Description"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field
                      v-model="editedItem.qtyPackPerCarton"
                      label="Quantity Pack Per Carton"
                      prepend-icon="description"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn outline color="primary" slot="activator" @click.native="save">SAVE</v-btn>
            <v-btn outline color="primary" slot="activator" @click.native="close">Close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog
            ref="formdeleteConfirmationDialog"
            heading="Are You Sure You Want To Delete?"
            message="Are You Sure You Want To Delete This Item Permanently?"
            @onConfirm="formDeleteItem"
          ></delete-confirmation-dialog>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <div class="layout row media-layout">
      <app-section-loader></app-section-loader>
      <div class="media-content flex transparent">
        <v-container fluid>
          <v-layout row wrap>
            <v-flex lg12 sm12 xs12>
              <v-data-table
                :headers="headers"
                :items="gridItems"
                :search="search"
                class="elevation-1"
                :rows-per-page-items="rowsPerPageItems"
                :pagination.sync="pagination"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">{{ props.item.profileNo }}</td>
                  <td class="text-xs-left">{{ props.item.fpName }}</td>
                  <td class="text-xs-left">{{ props.item.itemName }}</td>
                  <td class="text-xs-left">{{ props.item.itemDescription }}</td>
                  <td class="text-xs-left">{{ props.item.qtyPackPerCarton }}</td>

                  <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="onDeleteItem(props.item)">delete</v-icon>
                  </td>
                </template>
                <template slot="no-data">
                  <v-btn
                    color="primary"
                    outline
                    @click="initialize"
                  >Record not exist.Refresh again in while time.</v-btn>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </div>
    </div>
    <v-snackbar :top="y === 'top'" :timeout="timeout" v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <delete-confirmation-dialog
      ref="deleteConfirmationDialog"
      heading="Are You Sure You Want To Delete?"
      message="Are You Sure You Want To Delete This Item Permanently?"
      @onConfirm="deleteItem"
    ></delete-confirmation-dialog>
  </div>
</template>
<script>
import GlobalMessage from "@/constant";
// import {
//   getSalesItemPackingInfoLines,
//   getSalesItemPackingInfoLine,
//   createSalesItemPackingInfoLine,
//   updateSalesItemPackingInfoLine,
//   deleteSalesItemPackingInfoLine,
// } from "@/api/salesPackingInfoLine";

import { getDescriptionCategory } from "@/api/navItemlinks";

import { getApplicationMasterDetailByType } from "@/api/applicationMaster";
import {
  getTempSalesPackInformationFactor,
  deleteTempSalesPackInformation,
  createTempSalesPackInformationFactor,
  updateTempSalesPackInformationFactor,
  deleteTempSalesPackInformationFactor
} from "@/api/tempSalesPackInformation";
import { getCodeMasterByType } from "@/api/applicationUser";
import { getApplicationFormByScreenID } from "@/api/ApplicationForm";
export default {
  // components: { auditLog },
  data: () => ({
    search: "",
    dialog: false,
    enableAddButton: true,
    packageRequirementItems: [],
    salesFactorItems: [],
    screenId: "RND7013",
    applicationFormData: null,
    profileId: null,
    profileName: "",
    itemNoItems: [],
    loader: false,
    snackbar: false,
    snackbarMessage: "",
    timeout: 2000,
    y: "top",
    headers: [
      { text: "FP No", value: "profileNo", align: "left" },
      {
        text: "FP Name",
        value: "fpName",
        align: "left"
      },
      { text: "Navision No", value: "itemName", align: "left" },
      { text: "Navision Description", value: "itemDescription", align: "left" },
      {
        text: "Quantity Pack Per Carton",
        value: "qtyPackPerCarton",
        align: "left"
      },

      { text: "Actions", value: "name", align: "left" }
    ],
    json_fields: {
      "FP No": "profileNo",
      "Sales Factor": "salesFactor",
      "Navision Name": "itemName",
      "FP Name": "fpName",
      "Quantity Pack Per Carton": "qtyPackPerCarton"
    },
    gridItems: [],
    itemList: [],
    editedIndex: -1,
    selectedItem: null,
    rowsPerPageItems: [10, 20, 30, 40, 50, 100],
    pagination: {
      rowsPerPage: 10
    },
    tempSalesPackInformationID: null,
    productName: "",
    enableFPName: false,
    prhspecificProductName: "",
    searchRequirement: "",
    registrationFactor: "",
    smallestPackQty: "",
    smallestQtyUnit: "",
    smallestPerPack: "",
    registrationFactor: "",
    registrationPerPack: "",
    editedItem: {
      valid: false,
      tempSalesPackInformationFactorID: -1,
      tempSalesPackInformationID: null,
      salesFactor: 1,
      profileNo: "",
      salesPerPack: null,
      fpName: "",
      itemID: null,
      navisionDescription: "",
      qtyPackPerCarton: null,
      prhspecificProductName: "",
      smallestPackQty: "",
      smallestQtyUnit: "",
      smallestPerPack: "",
      registrationFactor: "",
      registrationPerPack: "",
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    defaultItem: {
      valid: false,
      tempSalesPackInformationFactorID: -1,
      tempSalesPackInformationID: null,
      salesFactor: 1,
      salesPerPack: null,
      profileNo: "",
      salesPerPack: null,
      fpName: "",
      itemID: -1,
      navisionDescription: "",
      prhspecificProductName: "",
      smallestPackQty: "",
      smallestQtyUnit: "",
      smallestPerPack: "",
      registrationFactor: "",
      registrationPerPack: "",
      qtyPackPerCarton: null,
      packageRequirementIds: [],
      addedByUserID: null,
      addedDate: new Date(),
      statusCodeID: 1,
      statusCode: "Active",
      modifiedByUserID: null,
      modifiedDate: new Date()
    },
    packageRequirementDefaultList: [
      "label",
      "leaflet",
      "unit box",
      "shipper carton"
    ]
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1
        ? "Add Temp Sales Item Packing Information Line Entry"
        : "Edit Temp Sales Item Packing Information Line Entry";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    }
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      if (this.tempSalesPackInformationID > 0) {
        this.loader = true;
        getTempSalesPackInformationFactor(this.tempSalesPackInformationID)
          .then(response => {
            this.gridItems = response.data;
            console.log("grid items" + JSON.stringify(this.gridItems));
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
      this.loader = true;
      getDescriptionCategory()
        .then(response => {
          this.itemNoItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
      getApplicationFormByScreenID(this.screenId)
        .then(response => {
          this.applicationFormData = response.data;
          this.editedItem.profileID = this.applicationFormData.profileID;
          this.editedItem.profileNo = this.applicationFormData.profileNo;
          this.profileId = this.applicationFormData.profileID;
          this.profileName = this.applicationFormData.profileName;
          this.loader = false;
          //this.total = response.data.length;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    getItems() {
      if (
        this.tempSalesPackInformationID != null &&
        this.tempSalesPackInformationID > 0
      ) {
        this.loader = true;
        getTempSalesPackInformationFactor(this.tempSalesPackInformationID)
          .then(response => {
            this.gridItems = response.data;
            console.log("grid items" + JSON.stringify(this.gridItems));
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    loadDropDownList() {
      this.loader = true;
      getDescriptionCategory()
        .then(response => {
          this.itemNoItems = response.data;
          this.loader = false;
        })
        .catch(error => {
          this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });

      // this.loader = true;
      // getApplicationMasterDetailByType(141)
      //   .then(response => {
      //     this.salesFactorItems = response.data;
      //     this.loader = false;
      //   })
      //   .catch(error => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
      // getApplicationMasterDetailByType(207)
      //   .then(response => {
      //     this.packageRequirementItems = response.data;
      //     if (packageRequirementIds == undefined) {
      //       this.loadDefault();
      //     }
      //     this.loader = false;
      //   })
      //   .catch(error => {
      //     this.loader = false;
      //     window.getApp.$emit("APP_API_ERROR", error);
      //   });
    },

    onSearchRequirement() {
      this.searchRequirement = "";
    },
    itemSelect() {
      if (this.editedItem.itemID > 0) {
        let item = this.itemNoItems.filter(
          f => f.itemId == this.editedItem.itemID
        );
        if (item != undefined) {
          // this.editedItem.uom = item[0].packUom;
          this.editedItem.navisionDescription = item[0].description;
        }
      }
    },

    // navisionSelect(value){

    // },

    add() {
      this.loadDropDownList();
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
    },

    save() {
      this.editedItem.prhspecificProductName = this.prhspecificProductName;
      this.editedItem.smallestPackQty = this.smallestPackQty;
      this.editedItem.smallestQtyUnit = this.smallestQtyUnit;
      this.editedItem.smallestPerPack = this.smallestPerPack;
      this.editedItem.registrationFactor = this.registrationFactor;
      this.editedItem.registrationPerPack = this.registrationPerPack;
      if (this.$refs.form.validate()) {
        this.editedItem.tempSalesPackInformationID = this.tempSalesPackInformationID;
        this.loader = true;
        let index = this.editedIndex;
        if (this.editedIndex > -1) {
          Object.assign(this.gridItems[this.editedIndex], this.editedItem);
          this.editedItem.modifiedByUserID = this.$store.state.auth.userId;
          this.editedItem.statusCodeID = 1;
          updateTempSalesPackInformationFactor(this.editedItem)
            .then(response => {
              Object.assign(this.gridItems[index], response.data);
              this.loader = false;

              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.UPDATE);
              if (
                this.registrationFactor == 1 ||
                this.editedItem.salesFactor == 1
              ) {
                this.enableFPName = false;
              } else {
                this.enableFPName = true;
              }
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        } else {
          this.editedItem.addedByUserID = this.$store.state.auth.userId;
          this.editedItem.statusCodeID = 1;
          this.editedItem.profileID = this.applicationFormData.profileID;
          createTempSalesPackInformationFactor(this.editedItem)
            .then(response => {
              this.gridItems.push(response.data);
              this.loader = false;
              this.editedItem.tempSalesPackInformationFactorID =
                response.data.tempSalesPackInformationFactorID;
              this.editedItem.profileNo = response.data.profileNo;
              let index = this.gridItems
                .map(item => item.tempSalesPackInformationFactorID)
                .indexOf(response.data.tempSalesPackInformationFactorID);
              this.editedIndex = index;
              if (
                this.registrationFactor == 1 ||
                this.editedItem.salesFactor == 1
              ) {
                this.enableFPName = false;
              } else {
                this.enableFPName = true;
              }
              window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.SAVE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit("APP_API_ERROR", error);
            });
        }
      }
    },
    editItem(item) {
      //this.loadDropDownList(item.packageRequirementIds);
      this.loadDropDownList();
      console.log("line items" + JSON.stringify(item));
      this.editedIndex = this.gridItems.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.editedItem.valid = false;

      this.dialog = true;
      this.itemSelect();
      if (this.registrationFactor == 1 || this.editedItem.salesFactor == 1) {
        this.enableFPName = false;
      } else {
        this.enableFPName = true;
      }
    },
    close() {
      this.dialog = false;
      this.initialize();
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    onDeleteItem(item) {
      this.$refs.deleteConfirmationDialog.openDialog();
      this.editedItem = item;
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    deleteItem() {
      this.$refs.deleteConfirmationDialog.close();
      if (this.editedItem.tempSalesPackInformationFactorID > -1) {
        this.loader = true;
        let index = this.gridItems.indexOf(this.editedItem);
        deleteTempSalesPackInformationFactor(this.editedItem)
          .then(() => {
            this.loader = false;
            this.gridItems.splice(index, 1);

            window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });
      }
    },
    first() {
      this.searchItem.action = "First";
      this.searchItem.Id = this.editedItem.tempSalesPackInformationFactorID;

      this.toolfunction();
    },
    next() {
      this.searchItem.action = "Next";
      this.searchItem.Id = this.editedItem.tempSalesPackInformationFactorID;

      this.toolfunction();
    },
    previous() {
      this.searchItem.action = "Previous";
      this.searchItem.Id = this.editedItem.tempSalesPackInformationFactorID;

      this.toolfunction();
    },
    last() {
      this.searchItem.action = "Last";
      this.searchItem.Id = this.editedItem.tempSalesPackInformationFactorID;

      this.toolfunction();
    },
    toolfunction() {
      getSalesItemPackingInfoLine(this.searchItem)
        .then(response => {
          if (response.data.tempSalesPackInformationFactorID != null) {
            this.editedItem = response.data;
            let index = this.gridItems
              .map(item => item.tempSalesPackInformationFactorID)
              .indexOf(response.data.tempSalesPackInformationFactorID);
            this.editedIndex = index;
          } else {
            window.getApp.$emit("APP_API_SUCCESS", "No More Record to View");
          }
        })
        .catch(error => {
          // this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    },
    deleterow() {
      this.$refs.formdeleteConfirmationDialog.openDialog();
    },
    formDeleteItem() {
      this.$refs.formdeleteConfirmationDialog.close();
      // this.loader = true;
      let index = this.editedIndex;
      console.log(this.editedItem);
      deleteTempSalesPackInformationFactor(this.editedItem)
        .then(() => {
          //this.loader = false;
          //this.editedItem = null;
          this.add();
          this.gridItems.splice(index, 1);
          window.getApp.$emit("APP_API_SUCCESS", GlobalMessage.DELETE);
        })
        .catch(error => {
          //this.loader = false;
          window.getApp.$emit("APP_API_ERROR", error);
        });
    }
  }
};
</script>
<style scoped>
.backgroundlayout {
  background: gainsboro !important;
}
</style>
 <style lang="stylus" scoped>
 .task-sub--scroll {
   overflow: auto;
   height: calc(100vh - 210px - 60px);
 }
</style>
