<template>
  <div>
    <v-toolbar flat color="white">
      <v-text-field v-model="search" prepend-icon="search" label="Search" clearable single-line hide-details></v-text-field>
      <v-spacer></v-spacer>
      <download-excel class="btn btn-default" :data="gridItems" :fields="json_fields" worksheet="Labels" type="csv" name="labels.xls">
        <v-btn icon>
          <v-icon>cloud_download</v-icon>
        </v-btn>
      </download-excel>

      <v-btn icon="" @click="initialize()">
        <v-icon icon>
          refresh
        </v-icon>
      </v-btn>

      <v-dialog v-model="dialog" fullscreen>
        <v-btn slot="activator" icon @click.native="add">
          <v-icon>add_circle_outline</v-icon>
        </v-btn>
        <v-card>
          <v-toolbar card dense color="primary">
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">reply</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
            <!-- <v-toolbar-title><h4>Details</h4></v-toolbar-title> -->
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="saveAndClose">
                <v-icon color="white">library_add</v-icon>
              </v-btn>
              <span>Save and Close</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="save">
                <v-icon color="white">save</v-icon>
              </v-btn>
              <span>Save </span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="add">
                <v-icon color="white">add</v-icon>
              </v-btn>
              <span>Create New Unit Box</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="deleterow">
                <v-icon color="white">delete</v-icon>
              </v-btn>
              <span>Delete</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="first">
                <v-icon color="white">first_page</v-icon>
              </v-btn>
              <span>First</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="previous">

                <v-icon color="white">keyboard_arrow_left</v-icon>
              </v-btn>
              <span>Previous</span>

            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="next">
                <v-icon color="white">keyboard_arrow_right</v-icon>
              </v-btn>
              <span>Next</span>
            </v-tooltip>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="last">
                <v-icon color="white">last_page</v-icon>
              </v-btn>
              <span>Last</span>
            </v-tooltip>

            <v-spacer></v-spacer>
            <v-tooltip bottom>
              <v-btn icon slot="activator" @click.native="close">
                <v-icon color="white">close</v-icon>
              </v-btn>
              <span>Go Back</span>
            </v-tooltip>
          </v-toolbar>

          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <div class="task-sub--scroll">
            <v-card-text>
              <v-form v-model="editedItem.valid" ref="form" lazy-validation>
                <v-container grid-list-md>
                  <v-layout row wrap>
                    <v-flex xs12 sm4>
                      <v-autocomplete label="Manufacturing Site" prepend-icon="list" v-model="editedItem.manufacturingSiteID" :items="manufacturingItems" item-text="value" item-value="applicationMasterDetailId" clearable chips></v-autocomplete>
                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-autocomplete :loading="loader" chips cache-items flat placeholder="Select Register country" prepend-icon="assistant" :items='registrationCountryItems' v-model="editedItem.registerCountryId" label="Register country" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>

                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-autocomplete :loading="loader" chips cache-items flat placeholder="Select Product Category" prepend-icon="assistant" :items='registrationClassificationItems' v-model="editedItem.productCategoryID" label="Product Category" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>

                    </v-flex>

                    <v-flex xs12 sm6>
                      <v-autocomplete label="Customer Product Name" prepend-icon="list" v-model="editedItem.fpProductGeneralInfoID" :items="productInfoItems" item-text="fpProductName" item-value="finishProductGeneralInfoID" clearable chips></v-autocomplete>
                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-autocomplete :loading="loader" chips flat placeholder="Select Product Owner" prepend-icon="assistant" :items='productOwnerItems' v-model="editedItem.productOwnerID" label="Product Owner" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>

                    </v-flex>
                    <v-flex xs12 sm12>
                      <v-autocomplete :loading="loader" chips flat placeholder="Product Registration Holder" prepend-icon="assistant" :items='productRegItems' v-model="editedItem.registrationHolderId" label="Product Registration Holder" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>

                    </v-flex>

                    <v-flex xs12 sm12>
                      <v-autocomplete :loading="loader" chips flat placeholder="Product Registration Holder" prepend-icon="assistant" :items='registeredPackSizeItems' v-model="editedItem.registeredPackSizeID" label="Registered Pack Size" color="blue" item-text="value" item-value="applicationMasterDetailId">
                      </v-autocomplete>

                    </v-flex>

                    <v-flex xs12 sm2>
                      <v-checkbox v-model="editedItem.isMasterDocuement" label="Master document" primary hide-details>
                      </v-checkbox>
                    </v-flex>

                    <v-flex xs12 sm4>
                      <v-autocomplete label="Status" prepend-icon="notes" v-model="editedItem.statusCodeID" :items="statusOptions">
                      </v-autocomplete>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-form>
            </v-card-text>
          </div>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary darken-1" outline @click.native="save">
              Save
            </v-btn>
            <v-btn color="primary darken-1" outline @click.native="close">close</v-btn>
          </v-card-actions>
          <delete-confirmation-dialog ref="deleteConfirmationDialog" heading="Are You Sure You Want To Delete?" message="Are You Sure You Want To Delete This Item Permanently?" @onConfirm="DeleteItem">
          </delete-confirmation-dialog>

        </v-card>
      </v-dialog>
    </v-toolbar>
    <app-section-loader :status="loader"></app-section-loader>
    <v-data-table :headers="headers" :items="gridItems" :search="search" class="elevation-1" default-sort="registrationVariationId:desc" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination">
      <template slot="items" slot-scope="props">
        <tr @dblclick="editItem(props.item)">
          <td class="text-xs-left">{{ props.item.manufacturingSite }}</td>
          <td class="text-xs-left">{{ props.item.registerCountry }}</td>
          <td class="text-xs-left">{{ props.item.productCategory }}</td>
          <td class="text-xs-left">{{ props.item.productName }}</td>

          <td class="text-xs-left">{{ props.item.productOwner }}</td>
          <td class="text-xs-left">{{ props.item.registrationHolder }}</td>
          <td class="text-xs-left">{{ props.item.registeredPackSize }}</td>
          <td class="text-xs-left">{{ props.item.isMasterDocuement }}</td>

          <td class="justify-center layout px-0">
            <v-icon small class="mr-2" @click="editItem(props.item)">
              edit
            </v-icon>
            <v-icon small @click="onDeleteItem(props.item)">
              delete
            </v-icon>
          </td>
        </tr>
      </template>
      <template slot="no-data">
        <v-btn color="primary" outline @click="initialize"> Record not exist.Refresh again in while time.</v-btn>
      </template>
    </v-data-table>

  </div>
</template>
<script>
  import { getApplicationMasterDetailByType } from '@/api/applicationMaster';
  import {
    getFinishProductGeneralInfos,
  } from "@/api/productGeneralinfo";
  import { getCodeMasterByType } from '@/api/applicationUser';
  import moment from 'moment'
  import GlobalMessage from '@/constant'
  export default {
    components: {
    },
    data: () => ({
      dialog: false,
      loader: false,
      productInfoItems: [],
      manufacturingItems: [],
      productOwnerItems: [],
      productRegItems: [],
      registeredPackSizeItems: [],
      search: '',
      registerationStatusItem: [],
      statusOptions: [
        { text: 'Active', value: 1 },
        { text: 'InActive', value: 2 }
      ],
      timeout: 2000,
      y: 'top',
      headers: [

        { text: 'Manufacturing Site', value: 'manufacturingSite', align: 'left' },
        { text: 'Register Country', value: 'registerCountry', align: 'left' },
        { text: 'Product Category', value: 'productCategory', align: 'left' },
        { text: 'Product Name', value: 'productName', align: 'left' },
        { text: 'Product Owner', value: 'productOwner', align: 'left' },
        { text: 'Registration Holder', value: 'registrationHolder', align: 'left' },
        { text: 'Registered Pack Size', value: 'registeredPackSize', align: 'left' },
        { text: 'Master Docuement', value: 'isMasterDocuement', align: 'left' },

        { text: 'Actions', value: 'name', sortable: false, align: 'left' }
      ],

      json_fields: {
        'Manufacturing Site': 'manufacturingSite',
        'Register Country': 'registerCountry',
        'Product Category': 'productCategory',
        'Product Name': 'productName',
        'Product Owner': 'productOwner',
        'Registration Holder': 'registrationHolder',
        'Registered Pack Size': 'registeredPackSize',
        'Status': 'statusCode',
        'Added By': 'addedByUser',
        'Modified By': 'modifiedByUser',
        'Modified Date': 'modifiedDate',
      },
      gridItems: [],
      editedIndex: -1,
      selectedItem: null,
      searchVariationTypeTag: null,
      rowsPerPageItems: [10, 20, 30, 40, 50, 100],
      pagination: {
        rowsPerPage: 10,
      },
      registrationCountryItems: [],
      registrationClassificationItems: [],
      registrationVariationCodeItems: [],
      registrationVariationTypeItems: [],
      registrationVariationcategoryItems: [],
      editedItem: {
        valid: false,

        manufacturingSiteID: null,
        registerCountryId: null,
        fpProductGeneralInfoID: null,
        productCategoryID: null,
        productOwnerID: null,
        registrationHolderId: null,
        registeredPackSizeID: null,
        variationTitle: '',
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
      },
      defaultItem: {
        valid: false,
        registrationVariationId: -1,
        registrationCountryId: null,
        registrationClassificationId: null,
        registrationVariationCodeId: null,
        registrationVariationTypeId: null,
        registrationCategory: '',
        variationTitle: '',
        addedByUserId: null,
        addedDate: new Date().toISOString().substr(0, 10),
        statusCodeID: 1,
        statusCode: 'Active',
        modifiedByUserId: null,
        modifiedDate: new Date().toISOString().substr(0, 10),
      },
      searchItem: { action: '', Id: null, searchString: 'searchString', },

    }),

    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Add Unit Box' : 'Edit Unit Box';
      },

    },



    created () {
      this.initialize();
    },

    methods: {
      initialize () {
        this.loader = true;
        //   getRegistrationVariation('')
        //     .then(response => {
        //       this.gridItems = response.data;
        //       this.loader = false;
        //     })
        //     .catch(error => {
        //       this.loader = false;
        //       window.getApp.$emit('APP_API_ERROR', error);
        //     });
        getFinishProductGeneralInfos("")
          .then(response => {
            this.productInfoItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

        this.pagination.rowsPerPage = this.$store.state.auth.pageSize;
      },

      removeVariationType (item) {
        const index = this.editedItem.registrationVariationTypeId.indexOf(item.applicationMasterDetailId)
        if (index >= 0) this.editedItem.registrationVariationTypeId.splice(index, 1)
      },
      changeVariationCode () {
        this.editedItem.variationTitle = "";
        if (this.editedItem.registrationVariationCodeId) {
          let list = this.registrationVariationCodeItems.filter(o => o.applicationMasterDetailId == this.editedItem.registrationVariationCodeId);
          if (list.length > 0) {
            this.editedItem.variationTitle = list[0].description;
          }
        }
      },
      loadDropdownList () {
        getApplicationMasterDetailByType(115)
          .then(response => {
            this.manufacturingItems = response.data;
            this.loader = false;
          })
          .catch(error => {
            this.loader = false;
            window.getApp.$emit("APP_API_ERROR", error);
          });

        getApplicationMasterDetailByType(109)
          .then(response => {
            this.registrationCountryItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(151)
          .then(response => {
            this.registrationClassificationItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(145)
          .then(response => {
            this.registrationVariationCodeItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(146)
          .then(response => {
            this.registrationVariationTypeItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(150)
          .then(response => {
            this.registrationVariationcategoryItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
        getApplicationMasterDetailByType(113)
          .then(response => {
            this.registeredPackSizeItems = response.data;
          })
          .catch(error => {
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      deleterow () {
        this.$refs.deleteConfirmationDialog.openDialog();
      },
      editItem (item) {
        this.loadDropdownList();
        this.editedIndex = this.gridItems.indexOf(item);
        this.editedItem = Object.assign({}, item);
        this.dialog = true;
      },
      onDeleteItem (item) {
        this.$refs.deleteConfirmationDialog.openDialog();
        this.editedItem = item;
      },
      DeleteItem () {
        this.$refs.deleteConfirmationDialog.close();
        if (this.editedItem.registrationVariationId > -1) {
          this.loader = true;
          let index = this.gridItems.indexOf(this.editedItem);

          deleteRegistrationVariation(this.editedItem)
            .then(() => {
              this.loader = false;
              this.selectedItem = null;
              this.gridItems.splice(index, 1);
              this.add();
              window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.DELETE);
            })
            .catch(error => {
              this.loader = false;
              window.getApp.$emit('APP_API_ERROR', error);
            });
        }
      },

      saveAndClose () {
        this.save();
        this.close();
      },
      toolfunction () {

        getData(this.searchItem)
          .then(response => {

            if (response.data.registrationVariationId != null) {
              this.editedItem = response.data;
              let index = this.gridItems.map(item => item.registrationVariationId).indexOf(response.data.registrationVariationId)
              this.editedIndex = index;
            }
            else {
              window.getApp.$emit('APP_API_SUCCESS', 'No more record to view');
            }

          })
          .catch(error => {
            // this.loader = false;
            window.getApp.$emit('APP_API_ERROR', error);
          });
      },
      first () {
        this.searchItem.action = 'First';
        this.searchItem.Id = this.editedItem.registrationVariationId;
        // this.selectedItem.searchString = 'first';
        this.toolfunction();
      },
      last () {
        this.searchItem.action = 'Last';
        this.searchItem.Id = this.editedItem.registrationVariationId;
        //this.selectedItem.searchString = 'last';

        this.toolfunction();
      },
      previous () {
        this.searchItem.action = 'Previous';
        this.searchItem.Id = this.editedItem.registrationVariationId;
        //this.selectedItem.searchString = 'previous';
        this.toolfunction();
      },
      next () {
        this.searchItem.action = 'Next';
        this.searchItem.Id = this.editedItem.registrationVariationId;
        // this.selectedItem.searchString = 'next';
        this.toolfunction();
      },
      add () {
        this.loadDropdownList();
        this.editedItem.valid = false;
        this.editedItem.registrationVariationId = -1,
          this.editedItem.registrationCountryId = null;
        this.editedItem.registrationClassificationId = null;
        this.editedItem.registrationVariationCodeId = null;
        this.editedItem.registrationVariationTypeId = null;
        this.editedItem.registrationCategory = '';
        this.editedItem.registerationCodeId = null;
        this.editedItem.addedByUserId = this.$store.state.auth.userId;
        this.editedItem.addedDate = new Date().toISOString().substr(0, 10);
        this.editedItem.statusCodeID = 1;
        this.editedItem.statusCode = 'Active';
        this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
        this.editedItem.modifiedDate = new Date().toISOString().substr(0, 10);
        this.editedIndex = -1;
        this.editedItem.variationTitle = '';
      },
      close () {
        this.dialog = false;
        this.initialize();
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300);
      },
      save () {
        if (this.$refs.form.validate()) {
          this.loader = true;
          let index = this.editedIndex;
          if (this.editedIndex > -1) {
            Object.assign(this.gridItems[this.editedIndex], this.editedItem);
            this.editedItem.modifiedByUserId = this.$store.state.auth.userId;
            this.editedItem.modifiedDate = new Date();
            this.editedItem.addedByUserId = this.$store.state.auth.userId;
            this.editedItem.addedDate = new Date();
            updateRegistrationVariation(this.editedItem)
              .then(response => {
                Object.assign(this.gridItems[index], response.data);
                this.editedItem = response.data;
                this.loader = false;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.UPDATE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          } else {

            this.editedItem.addedByUserId = this.$store.state.auth.userId;

            createRegistrationVariation(this.editedItem)
              .then(response => {
                this.gridItems.push(response.data);
                this.loader = false;
                this.editedItem.registrationVariationId = response.data.registrationVariationId;
                let index = this.gridItems.map(item => item.registrationVariationId).indexOf(response.data.registrationVariationId)
                this.editedIndex = index;
                window.getApp.$emit('APP_API_SUCCESS', GlobalMessage.SAVE);
              })
              .catch(error => {
                this.loader = false;
                window.getApp.$emit('APP_API_ERROR', error);
              });
          }
        }
      },
    }
  };
</script>
 <style lang="stylus" scoped>
   .task-sub--scroll {
     overflow: auto;
     height: calc(100vh - 110px - 60px);
   }
</style>
